<template>
  <div class="attendance-container">
    <div class="heading">
      <h1 class="title">{{ $t('Attendance.attendance-monitoring') }}</h1>
    </div>
    <div class="body-container">
      <div class="attendance-header">
        <div class="header-month-year">{{ $t(getCurrentMonth(this.selectedMonth)) + " " + this.selectedYear }}</div>
        <div class="filter-container">
          <div class="inline-container">
            <strong>{{ $t('Common.month') }} </strong>
            <el-select class="select-month" v-model="selectmonth" :placeholder="$t('Clients.select')" @change="updateSelectMonth">
              <el-option
                v-for="monthItem in this.months"
                :key="monthItem.id"
                :label="$t(monthItem.month)"
                :value="monthItem.id">
              </el-option>
            </el-select>
          </div>
          <div class="inline-container tab-space"></div>
          <div class="inline-container">
            <strong>{{ $t('Common.year') }} </strong>
            <el-select class="select-year" v-model="selectyear" :placeholder="$t('Clients.select')" @change="updateSelectYear">
              <el-option
                v-for="yearItem in yearList"
                :key="yearItem.year"
                :label="yearItem.year"
                :value="yearItem.year">
              </el-option>
            </el-select>
          </div>
          <div class="inline-container">
            <el-button class="filter-button" size="small" type="primary" @click="onSubmitFilter(true)">{{ $t('Common.filter') }}</el-button>
          </div>
        </div>
      </div>

      <div class="detail-container">
        <div class="col">
          <div class="search-container">
            <span>{{$t('Profile.name')}}:</span>
            <form class="search" >
              <el-input 
                :placeholder="''" 
                v-model="search" 
                clearable
                @input="handleChange" ></el-input>
            </form>
          </div>
        </div>
        <div class="col col-right">
          <div class="legend-container">
            <div class="label">{{ $t('Attendance.legend') }}:</div>
            <div class="legend default">{{ $t('Attendance.default') }}</div>
            <div class="legend late">{{ $t('Attendance.late') }}</div>
            <div class="legend super-late">{{ $t('Attendance.super-late') }}</div>
            <div class="legend early-out">{{ $t('Attendance.early-out') }}</div>
            <div class="legend absent">{{ $t('Attendance.absent') }}</div>
            <div class="legend weekend">{{ $t('Attendance.weekend') }}</div>
          </div>
        </div>
      </div>

      <div class="table-container">
        <div style="display: flex;">
          <div class="fixed-col">
            <div class="name-col table-header table-col">
              {{ $t('Navigation.employees') }}
            </div>
            <div class="name-col table-col" 
              :key="index" 
              v-for="(item, index) in attendance"
              :class="getDepartmentClass(item.department)">
                <div>
                  <strong>{{ item.last_name + ', ' }}</strong>{{ item.first_name }}
                </div>
            </div>
          </div>
          <div class="day-col-container" id="col_container">
            <div class="day-col-body">
              <div class="day-col table-header table-col" 
                :key="item" 
                v-for="item in totalDays"
                :id="'day_'+item"
                :class="(ifCurrentDate(item)) ? 'current-date' : ''">
                  {{ item }}
              </div>
            </div>
            <div class="day-col-body"
              :key="index" 
              v-for="(item, index) in attendance">
                <div id="day_container" class="day-col table-col col-flex" :key="day" v-for="day in totalDays" :class="(ifCurrentDate(day)) ? 'current-date' : ''">
                    
                  <!-- Display time-in if it isn't null -->
                  <span class="legend" v-if="getStatus(day, item, GET_TIMEIN) !== null"
                    :class="getStatusClass(getStatus(day, item, GET_INSTATUS))">
                      {{ getStatus(day, item, GET_TIMEIN) }}
                  </span>

                  <!-- Display time-out if it isn't null -->
                  <span class="legend" v-if="getStatus(day, item, GET_TIMEOUT) !== null"
                    :class="getStatusClass(getStatus(day, item, GET_OUTSTATUS))">
                      {{ getStatus(day, item, GET_TIMEOUT) }}
                  </span>

                  <!-- Display if date is weekend -->
                  <span class="legend" v-if="getStatus(day, item, GET_STATUS) !== null"
                    :class="getStatusClass(getStatus(day, item, GET_STATUS))">
                      {{ getStatus(day, item, GET_STATUS) }}
                  </span>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'

const GET_STATUS = 0
const GET_TIMEIN = 1
const GET_TIMEOUT = 2
const GET_INSTATUS = 3
const GET_OUTSTATUS = 4

export default {
  name: 'attendance',

  computed: mapGetters({
    months: 'months'
  }),

  data () {
    return {
      currentDate: new Date(),
      attendanceList: [],
      attendance: [],
      selectedMonth: '',
      selectedYear: '',
      selectmonth: '',
      selectyear: '',
      totalDays: 0,
      yearList: [],
      search: '',
      GET_STATUS,
      GET_TIMEIN,
      GET_TIMEOUT,
      GET_INSTATUS,
      GET_OUTSTATUS
    }
  },

  methods: {
    getCurrentMonth (currentMonth) {
      return this.months[currentMonth].month
    },

    updateSelectMonth (selected) {
      this.selectmonth = selected
    },

    updateSelectYear (selected) {
      this.selectyear = selected
    },

    getTotalDaysInAMonth (month, year) {
      return new Date(year, month, 0).getDate()
    },

    onSubmitFilter (action) {
      var slctdmonth = moment(this.selectmonth+1, "M").format("MM")
      this.totalDays = moment(this.selectyear + "-" + slctdmonth, "YYYY-M").daysInMonth()
      this.selectedMonth = this.selectmonth
      this.selectedYear = this.selectyear

      this.getAttendance(slctdmonth, this.selectedYear)

      if(action) {
        setTimeout(() => {
          var table = document.getElementById("col_container")
          table.scrollLeft = 0
        }, 500)
      }
    },

    getAttendance (month, year) {
      this.$store.dispatch('getAllAttendance', {
        month: 'month=' + month,
        year: 'year=' + year
      })
      .then(res => {
        this.attendance = res.data
        this.attendanceList = res.data
        this.search = ''
      })
    },
    
    getDepartmentClass (department) {
      if(department.toLowerCase() === 'admin') {
        return 'admin-bg'
      } else if(department.toLowerCase() === 'legal') {
        return 'legal-bg'
      } else if(department.toLowerCase() === 'processing') {
        return 'processing-bg'
      } else {
        return 'it-bg'
      }
    },

    setYearlist () {
      var year = moment(new Date()).format('YYYY')
      this.yearList = [];
      
      for(var x=2015; x<=year; x++) {
        this.yearList = [...this.yearList, { year: x }]
      }
    },

    getStatus (date, data, action) {
      var timein = null;
      var timeout = null;
      var instatus = null;
      var outstatus = null;
      var status = null

      var month = moment(this.selectedMonth+1, "M").format("MM")
      var year = this.selectedYear
      date = moment(date, "D").format("DD")
      var counter = 0;
      
      data.attendance.filter((item, index) => {
        if(item.day.toString() === date.toString() && item.month.toString() === month.toString() && item.year.toString() === year.toString()) {
          if(item.time_in !== "" && item.time_in !== null && typeof item.time_in !== 'undefined') {
            timein = item.time_in
          } else {
            timein = null
          }

          if(item.time_out !== "" && item.time_out !== null && typeof item.time_out !== 'undefined') {
            timeout = item.time_out
          } else {
            timeout = null
          }

          if(item.timein_status === 'WEEKENDS' || item.timein_status === 'HOLIDAY' || item.timein_status === 'ABSENT') {
            status = item.timein_status
          }

          if(item.timein_status !== 'HOLIDAY' && timein === null && timeout === null) {
            status = 'ABSENT'
          }

          instatus = item.timein_status
          outstatus = item.timeout_status
          counter++;
        }
      })

      var isWeekend = this.ifDateIsWeekend(date, data)

      if(counter < 1) {
        if(isWeekend) {
          status =  'WEEKENDS'
        }
      }

      return this.displayStatusResult(timein, timeout, instatus, outstatus, status, action)
    },

    displayStatusResult (timein, timeout, instatus, outstatus, status, action) {
      switch(action) {
        case GET_STATUS:
          // if(status !== 'WEEKENDS' && status !== 'ABSENT') {
          if(status === 'LATE' || status === 'SLATE' || status === null) {
            status = null
          } else if(status === 'HOLIDAY' && (timein !== null || timeout !== null)) {
            status = null
          }
          return status
          break;

        case GET_TIMEIN:
          return timein
          break;

        case GET_TIMEOUT:
          return timeout
          break;
        
        case GET_INSTATUS:
          if(instatus === 'HOLIDAY') {
            return null
          }
          return instatus
          break;

        case GET_OUTSTATUS:
          if(instatus === 'HOLIDAY') {
            return null
          }
          return outstatus
          break;

        default:
          break;
      }
    },

    getStatusClass (data) {
      switch(data) {
        case 'HOLIDAY':
          return 'weekend'
          break;

        case 'WEEKENDS':
          return 'weekend'
          break;
            
        case 'ABSENT':
          return 'absent'
          break;
            
        case 'LATE':
          return 'late'
          break;
            
        case 'SLATE':
          return 'super-late'
          break;
            
        case 'EARLYOUT':
          return 'early-out'
          break;
        
        default:
          return 'default'
          break;
      }
    },

    ifDateIsWeekend (date, data) {
      var month = moment(this.selectedMonth+1, "M").format("MM")
      var year = this.selectedYear
      date = moment(date, "D").format("DD")

      var day = moment(year+'-'+month+'-'+date, "YYYY-MM-DD").format("dddd").toLowerCase()
      
      if(day === 'saturday' || day === 'sunday') {
        return true
      }
      return false;
    },

    checkupdate () {
      this.$store.dispatch('testKernel', {data: 'test'})
      .then(res => {
        console.log('test kernel', res)
      })
    },

    handleChange () {
      if(this.search !== '') {
        var result = []

        this.attendanceList.filter(item => {
          if(item.full_name.toLowerCase().indexOf(this.search) > -1) {
            result.push(item)
          }
        })

        this.attendance = result
      } else {
        this.attendance = this.attendanceList;
      }
    },

    ifCurrentDate (day) {
      var dateToday = moment(new Date()).format('D')
      dateToday = Number(dateToday)
      day = Number(day)

      if(dateToday === day) {
        return true
      }

      return false
    }
  },
  created () {
    this.setYearlist()
    this.updateSelectMonth(this.months[new Date().getMonth()].id)
    this.updateSelectYear(new Date().getFullYear().toString())
    this.onSubmitFilter(false)

    // Scroll to date today
    setTimeout(() => {
      var dateToday = moment(new Date()).format('D')
      var table = document.getElementById("col_container")
      var offsetLeft = ((dateToday-1) * 191)
      table.scrollLeft = offsetLeft
    }, 500)
    
  }
}
</script>

<style lang="scss" scoped>
.body-container {
  background-color: #fff;
  padding: 10px 0px;
  margin-bottom: 25px;
}

.attendance-header {
  margin: 20px auto 0 auto;
  text-align: center;
  padding: 0px 20px;

  .header-month-year {
    margin: 0 auto 0 0;
    font-size: 1.575rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
  }

  .filter-container {
    display: inline-block;

    .select-month {
      width: 125px;
    }

    .select-year {
      width: 85px;
    }

    .filter-button {
      margin-left: 10px;
    }

  }

}

.search-container {
    display: flex;
    align-items: center;

    span {
        margin-right: 5px;
    }
}

.detail-container {
  width: auto;
  margin: 15px auto;
  display: flex;
  align-items: center;
  padding: 0px 20px;

  .col {
    width: 50%;
  }

  .col-right {
    display: flex;
    justify-content: flex-end;
  }

  .legend-container {
    display: inline-block;
    margin-left: 10px;
  }
}

th {
  min-width: 200px;
}

.table-container {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  .table-header {
    background-color: #F5F5F6 !important;
    font-weight: 700 !important;
    color: #555 !important;
    justify-content: center;
  }

  .table-col {
    display: flex;
    padding: 0px 10px;
    font-size: 13px;
    height: 35px;
    align-items: center;
  }

  .col-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fixed-col {
    position: absolute;
    min-width: 220px;

    .table-header {
      justify-content: flex-start;
    }
  }

  .name-col {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-weight: 400;
  }

  .day-col-container {
    overflow: auto;
    width: 100%;
    padding-left: 220px;
    padding-bottom: 20px;
  }

  .day-col-body {
    display: flex;
    width: auto;

    &:nth-child(n) {
      .day-col {
        border-bottom: 1px solid #ddd;
      }
    }

    &:nth-child(even) {
      .day-col {
        background-color: #f9f9f9;
      }
    }
  }

  .day-col {
    min-width: 170px;
    text-align: center;

    &:nth-child(n) {
      border-right: 1px solid #ddd;
    }

    &:last-child {
      border: none;
    }
  }

  .admin-bg {
    background-color: rgb(1, 78, 63);
  }

  .legal-bg {
    background-color: rgb(5, 127, 104);
  }

  .processing-bg {
    background-color: rgb(26, 179, 148);
  }

  .it-bg {
    background-color: rgb(110, 181, 167);
  }

  .current-date {
    background-color: #1ab394 !important;
    color: #fff !important;
  }
}

.inline-container {
  display: inline-block;
}

.tab-space {
  width: 10px;
}

div.label,span.label {
  display: inline-block;
  font-size: .95em;
  font-weight: 400;
  color: #555;
}

div.legend,span.legend {
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
  padding: 4px 7px;
  border-radius: 3px;
  background-color: gray;
  color: #000;
  margin-left: 3px;
  margin-top: 5px;
}

div.default,span.default {
  background-color: #000;
  color: #fff;
}

div.late,span.late {
  background-color: #ece401;
}

div.super-late,span.super-late {
  background-color: #f3a010;
}

div.early-out,span.early-out {
  background-color: #ece401;
}

div.absent,span.absent {
  background-color: #c30000;
  color: #fff;
}

div.weekend,span.weekend {
  background-color: #999;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .attendance-container {
    .filter-container {
      display: block;

      .select-month {
        width: 100%;
        margin-top: 5px;
      }

      .select-year {
        width: 100%;
        margin-top: 5px;    
      }

      .filter-button {
        margin-left: 10px;
      }

    }
  }

  .inline-container {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .detail-container {
    display: block;

    .col {
      width: 100%;
    }

    .col-right {
      display: block;
      justify-content: flex-end;
    }

    .search-container {
      display: block;

      form.search {
        margin-top: 5px;
      }
    }

    .legend-container {
      display: inline-block;
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}
</style>