<template>
    
    <div class="form-container">

        <el-form ref="document-form" :model="form" :rules="rules">
            <div class="inner-container">
                <el-row class="bottom-spacing">
                    <el-col :span="24">
                        <div class="label">{{ $t('Service.document_title') }}</div>
                        <div>
                            <el-form-item prop="title">
                                <el-input :placeholder="$t('Service.enter_doc_english')" v-model="form.title"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>

                <el-row class="bottom-spacing">
                    <el-col :span="24">
                        <div class="label">{{ $t('Service.document_title_chinese') }}</div>
                        <div>
                            <el-form-item prop="title_cn">
                                <el-input :placeholder="$t('Service.enter_doc_chinese')" v-model="form.title_cn"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>

                <el-row class="bottom-spacing">
                    <el-col :span="24">
                        <div class="label">Shorthand Name</div>
                        <div>
                            <el-form-item prop="shorthand_name">
                                <el-input placeholder="Enter shorthand name" v-model="form.shorthand_name"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>

                <el-row class="bottom-spacing">
                    <el-col :span="24">
                        <div class="label">{{ $t('Common.doc-type') }}</div>
                        <div>
                            <el-form-item prop="is_unique">
                                <el-radio-group v-model="form.is_unique">
                                    <el-radio :label="1">{{ $t('Service.unique') }}</el-radio>
                                    <el-radio label="0">{{ $t('Service.common') }}</el-radio>
                                </el-radio-group>
                                <el-popover
                                    placement="top-start"
                                    :title="$t('Service.unique_common_docs')"
                                    width="280"
                                    trigger="hover"
                                    :content="$t('Service.unique_common_docs_mess')">
                                    <i slot="reference" class="el-icon-question info-icon"></i>
                                </el-popover>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>

                <!-- <el-row class="bottom-spacing">
                    <el-col :span="24">
                        <div class="label">{{ $t('Service-Documents.company_doc') }}</div>
                        <div>
                            <el-form-item prop="is_company_document">
                                <el-radio-group v-model="form.is_company_document">
                                    <el-radio label="1">{{ $t('Common.yes') }}</el-radio>
                                    <el-radio label="0">{{ $t('Common.no') }}</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row> -->
            </div>

            <div class="inner-container">
                <el-row :gutter="30">
                    <el-col :span="24">
                        <router-link :to="{ name: 'list-of-documents'}">
                            <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
                        </router-link>
                        <el-button type="primary" @click="onSubmit('document-form')">
                            {{ $t('Common.save') }}
                        </el-button>
                    </el-col>
                </el-row>
            </div>
        </el-form>

    </div>

</template>

<script>
    
    export default {
        name: 'add-new-document',

        data () {
            return {
                form: {
                    title: null,
                    title_cn: null,
                    shorthand_name: null,
                    is_unique: '0',
                    // is_company_document: '0'
                },

                rules: {
                    title: [
                        { 
                            required: true, 
                            message: this.replaceName(this.$t('Service.is_required'), this.$t('Service.document')) 
                        }
                    ],
                    is_unique: [
                        { 
                            required: true, 
                            message: this.replaceName(this.$t('Service.is_required'), this.$t('Common.type')) 
                        }
                    ]
                }
            }
        },

        methods: {
            replaceName(message, data) {
                return message.replace(':name', data);
            },

            onSubmit(docForm) {
                this.$refs[docForm].validate((response) => {
                    if(response) {
                        this.$store.dispatch('addDocument', this.form)
                            .then(res => {
                                if( res.status == 'Success' ) {
                                    this.$message({
                                        showClose: true,
                                        message: this.replaceName(
                                            this.$t('Service.was_successfully_added'), 
                                            this.form.title
                                        ),
                                        type: 'success',
                                        center: true
                                    });

                                    this.$router.push({ name: 'list-of-documents' });
                                } else {
                                    const errors = res.errors;

                                    for (const key in errors) {
                                        if (errors.hasOwnProperty(key)) {
                                            const message = errors[key][0];

                                            setTimeout(() => {
                                                this.$message({
                                                    type: 'error',
                                                    message: message
                                                });
                                            }, 1);
                                        }
                                    }
                                }
                            });
                    }
                });
            }
        }
    }

</script>

<style lang="scss" scoped>

    .form-container {
        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

        .bottom-spacing {
            margin-bottom: 15px;
        }
    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .alert-container {
        position: absolute;
        width: 300px;
        top: 10%;
        right: 15px;
    }

    .info-icon {
    	margin: 0px 15px 0px 15px;
  	}

    .left-button {
    	margin-right: 5px;
  	}

</style>