<template>

    <div>

        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <h1 class="form-title">{{ $t('Service.service_details') }}</h1>
            </div>
            <div class="text item">
                <el-form ref="service-form" :model="form" :rules="rules">

                    <div class="inner-container">
                        <el-row :gutter="30" class="bottom-spacing">
                            <el-col :span="6">
                                <div class="label">{{ $t('Service.service_type') }}</div>
                                <div>
                                    <el-form-item prop="type">
                                        <el-select v-model="form.type" :placeholder="$t('Service.select_service_type')">
                                            <el-option
                                                v-for="type in serviceTypes"
                                                :key="type.type"
                                                :label="type.type"
                                                :value="type.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <div v-if="form.type == 'child'">
                                <el-col :span="20">
                                    <div class="label">{{ $t('Service.service_parent') }}</div>
                                    <div>
                                        <el-form-item prop="parent_id">
                                            <el-select v-model="form.parent_id" :placeholder="$t('Service.select_parent_service')" class="custom-select">
                                                <el-option
                                                    v-for="parent in parents"
                                                    :key="parent.id"
                                                    :label="parent.detail"
                                                    :value="parent.id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </div>
                                </el-col>
                            </div>
                        </el-row>

                        <el-row :gutter="30" class="bottom-spacing">
                            <el-col :span="12">
                                <div class="label">{{ $t('Common.service_name') }}</div>
                                <div>
                                   <el-form-item prop="service_name">
                                        <el-input :placeholder="$t('Service.enter_service_name_eng')" v-model="form.service_name"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div class="label">{{ $t('Service.service_name_chi') }}</div>
                                <div>
                                    <el-form-item prop="service_name_chinese">
                                        <el-input :placeholder="$t('Service.enter_service_name_chi')" v-model="form.service_name_chinese"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

                        <el-row :gutter="30" class="bottom-spacing">
                            <el-col :span="12">
                                <div class="label">{{ $t('Financing.description') }}</div>
                                <div>
                                   <el-form-item prop="description">
                                        <el-input :placeholder="$t('Service.enter_desc_eng')" v-model="form.description"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div class="label">{{ $t('Service.desc_chi') }}</div>
                                <div>
                                    <el-form-item prop="description_chinese">
                                        <el-input :placeholder="$t('Service.enter_desc_chi')" v-model="form.description_chinese"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

                        <br>
                        <h1 class="form-title" v-if="form.type == 'child'">Generate Form</h1>

                        <div class="border-line" v-if="form.type == 'child'"></div>
                        <br>

                        <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child'">
                            <el-col :span="12">
                                <div class="label">{{ $t('Service.mode') }}</div>
                                <div>
                                    <el-form-item prop="mode">
                                        <el-select v-model="form.mode" :placeholder="$t('Service.select_service_mode')" class="custom-select">
                                            <el-option
                                                v-for="mode in modes"
                                                :label="mode.label"
                                                :value="mode.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

                        <el-row :gutter="30" v-if="form.type == 'child'">
                            <el-col :span="24">
                                <div class="label">{{ $t('Service.required_months') }}</div>
                                <div>
                                    <el-form-item>
                                        <el-radio-group v-model="requiredMonthsType" @change="handleRequiredMonthsTypeChange">
                                            <el-radio label="Not Applicable">{{ $t('Service.not_applicable') }}</el-radio>
                                            <el-radio label="Fixed">{{ $t('Service.fixed') }}</el-radio>
                                            <el-radio label="Ranged">{{ $t('Service.ranged') }}</el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

                        <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child' && requiredMonthsType == 'Fixed'">
                            <el-col :span="12">
                                <div class="label text-muted">{{ $t('Service.no_of_months') }}</div>
                                <div>
                                    <el-form-item prop="months_required">
                                        <el-input type="number" v-model="form.months_required"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

                        <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child' && requiredMonthsType == 'Ranged'">
                            <el-col :span="12">
                                <div class="label text-muted">{{ $t('Service.min_no_of_months') }}</div>
                                <div>
                                    <el-form-item prop="minimum_months">
                                        <el-input type="number" v-model="form.minimum_months"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div class="label text-muted">{{ $t('Service.max_no_of_months') }}</div>
                                <div>
                                    <el-form-item prop="maximum_months">
                                        <el-input type="number" v-model="form.maximum_months"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

                        <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child'">
                            <el-col :span="24">
                                <el-checkbox v-model="hasFormBuilder">{{ $t('Service.has_form_builder') }}</el-checkbox>
                            </el-col>
                        </el-row>

                        <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child' && hasFormBuilder">
                            <el-col :span="24">
                                <el-form-item prop="form_id">
                                    <el-select v-model="form.form_id" :placeholder="$t('Service.select_form')">
                                        <el-option
                                            v-for="form in forms"
                                            :key="form.id"
                                            :label="form.name"
                                            :value="form.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </div>

                    <div class="inner-container" v-if="form.type == 'child'">
                        <h1 class="form-title">{{ $t('Service.pricing') }}</h1>

                        <div class="border-line"></div>

                        <div class="inner-container">
                            <el-row>
                                <el-col>
                                    <el-form-item>
                                        <el-select v-model="selectedServiceProfile" style="float:right;">
                                            <el-option
                                                v-for="serviceProfile in serviceProfiles"
                                                :key="serviceProfile.id"
                                                :label="serviceProfile.name"
                                                :value="serviceProfile.id">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <ServicePricingFormV2 
                                ref="servicePricingFormV2" 
                                v-for="serviceProfile in serviceProfilesDetails"
                                :key="serviceProfile.id"
                                :serviceProfile="serviceProfile"
                                :selectedServiceProfile="selectedServiceProfile" />
                        </div>
                       
                    </div>

                    <div class="inner-container">
                        <el-row :gutter="30">
                            <el-col :span="24">
                                <router-link :to="{ name: 'list-of-services'}">
                                    <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
                                </router-link>
                                <el-button type="primary" @click="onSubmit('service-form')">{{ $t('Common.save') }}</el-button>
                            </el-col>
                        </el-row>
                    </div>

                </el-form>
            </div>
        </el-card>

        <el-dialog :title="dialog.title" :visible.sync="dialog.visible" width="50%">
            <BreakdownV2 :breakdownField="breakdownField" />
        </el-dialog>

    </div>

</template>

<script>
import ServicePricingFormV2 from './service-pricing-form-v2';
import BreakdownV2 from './breakdown-v2';

export default {
    name: 'service-form',

    components: {
		ServicePricingFormV2,
        BreakdownV2
    },

    props: ['parents', 'serviceProfilesDetails', 'forms'],
  
    data () {
        var parentIdIsRequired = (rule, value, callback) => {
            if( this.form.type == 'child' && value == null ) {
                callback(new Error( this.replaceName(this.$t('Service.is_required'), this.$t('Service.service_parent')) ))
            } else {
                callback()
            }
        }

        var modeRequiredValidation = (rule, value, callback) => {
            if( this.form.type == 'child' && value == null ) {
                callback(new Error(this.replaceName(this.$t('Service.is_required'), this.$t('Service.mode')) ))
            } else {
                callback()
            }
        }

        var monthsRequiredValidation = (rule, value, callback) => {
            if( this.form.type == 'child' && this.requiredMonthsType == 'Fixed' && value < 0 ) {
                callback(new Error( this.$t('Service.month_req_mess1') ));
            } else if( this.form.type == 'child' && this.requiredMonthsType == 'Fixed' && isNaN(parseInt(value)) ) {
                callback(new Error( this.$t('Service.month_req_mess2') ));
            } else {
                callback();
            }
        }

        var minimumMonthsMaximumMonthsValidation = (rule, value, callback) => {
            let field = rule.field;
            field = field.split('_').join(' ');
            field = field.replace("months", "month/s");

            if( this.form.type == 'child' && this.requiredMonthsType == 'Ranged' && value < 0 ) {
                callback(new Error( this.replaceName(this.$t('Service.field_req_mess1'), field) ));
            } else if( this.form.type == 'child' && this.requiredMonthsType == 'Ranged' && isNaN(parseInt(value)) ) {
                callback(new Error( this.replaceName(this.$t('Service.field_req_mess2'), field) ));
            } else if( this.form.type == 'child'
                && this.requiredMonthsType == 'Ranged' 
                && field == 'minimum month/s' 
                && this.form.minimum_months >= this.form.maximum_months ) {
                callback(new Error( this.$t('Service.min_no_err_mess') ));
            } else if( this.form.type == 'child' 
                && this.requiredMonthsType == 'Ranged' 
                && field == 'maximum month/s' 
                && this.form.maximum_months <= this.form.minimum_months ) {
                callback(new Error( this.$t('Service.max_no_err_mess') ));
            } else {
                callback();
            }
        }

        var formIdValidation = (rule, value, callback) => {
            if( this.form.type == 'child' && this.hasFormBuilder && value == null ) {
                callback(new Error( this.replaceName(this.$t('Service.is_required'), this.$t('Service.form_builder')) ));
            } else {
                callback();
            }
        }

        return {
            requiredMonthsType: 'Not Applicable',
            hasFormBuilder: false,

            form: {
                type: null,
                parent_id: null,
                service_name: null,
                service_name_chinese: null,
                description: null,
                description_chinese: null,
                mode: null,
                months_required: 0,
                minimum_months: 0,
                maximum_months: 0,
                form_id: null,
                breakdowns: []
            },

            modes: [
                { label: this.$t('Common.regular'), value: 'Regular' },
                { label: this.$t('Service.rush'), value: 'Rush' }
            ],

            serviceTypes: [
    	        {
    	          type: 'Parent',
    	          value: 'parent'
    	        },
    	        {
    	          type: 'Child',
    	          value: 'child'
    	        }
    	    ],

            selectedServiceProfile: 0,

            rules: {
                type: [
                    { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Service.service_type')) }
                ],
                service_name: [
                    { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Common.service_name')) }
                ],
                parent_id: [
                    { validator: parentIdIsRequired, trigger: 'blur' }
                ],
                mode: [
                    { validator: modeRequiredValidation, trigger: 'change' }
                ],
                months_required: [
                    { validator: monthsRequiredValidation, trigger: 'blur' }
                ],
                minimum_months: [
                    { validator: minimumMonthsMaximumMonthsValidation, trigger: 'blur' }
                ],
                maximum_months: [
                    { validator: minimumMonthsMaximumMonthsValidation, trigger: 'blur' }
                ],
                form_id: [
                    { validator: formIdValidation, trigger: 'change' }
                ]
            },

            dialog: {
                visible: false,
                title: null
            },

            breakdownField: {
                serviceProfileId: null,
                branchId: null,
                breakdown: [],
                field: null,
                totalField: null
            }
        }
    },

    methods: {
        handleRequiredMonthsTypeChange(value) {
            this.$refs['service-form'].clearValidate(['months_required', 'minimum_months', 'maximum_months']);
        },

        showBreakdownDialog(title, breakdownField) {
            this.dialog =  {
                visible: true,
                title: title.charAt(0).toUpperCase() + title.slice(1) + ' Breakdown'
            };

            let { serviceProfileId, branchId, breakdown, field, totalField } = breakdownField;

            this.breakdownField = {
                serviceProfileId,
                branchId,
                breakdown,
                field,
                totalField
            };
        },

        onSubmit (serviceForm) {
            this.$refs[serviceForm].validate((response) => {
                if (response) {
                    this.form.breakdowns = [];

                    if( this.form.type == 'child' ) {
                        this.$refs.servicePricingFormV2.forEach((s, index) => {
                            this.form.breakdowns.push(s.form);
                        });

                        if( this.requiredMonthsType == 'Not Applicable' ) {
                            this.form.months_required = 0;
                            this.form.minimum_months = 0;
                            this.form.maximum_months = 0;
                        } else if( this.requiredMonthsType == 'Fixed' ) {
                            this.form.minimum_months = 0;
                            this.form.maximum_months = 0;
                        } else if( this.requiredMonthsType == 'Ranged' ) {
                            this.form.months_required = 0;
                        }

                        if( !this.hasFormBuilder ) {
                            this.form.form_id = null;
                        }
                    }

                    this.$store.dispatch('addService', this.form)
                        .then(res => {
                            let responseStatus = res.status.toLowerCase();
                            
                            if( responseStatus == 'success' ) {
                                this.$message({
                                    showClose: true,
                                    message: this.replaceName(this.$t('Service.is_required'), this.$t('Service.service')),
                                    type: 'success',
                                    center: true
                                });

                                this.$router.push('/services');
                            }

                        })
                        .catch(res => console.log(res));
                }
            });
        },

        replaceName (message, data) {
          return message.replace(':name', data)
        }
    },

    computed: {
        serviceProfiles: function () {
            let serviceProfiles = [];

            serviceProfiles = this.serviceProfilesDetails.map(s => {
                return {
                    id: s.id,
                    name: s.name,
                    type: s.type
                };
            });

            return serviceProfiles;
        }
    }
}
</script>

<style lang="scss" scoped>
    .box-card {
        margin-bottom: 40px;

        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .inner-container {
            padding-top: 10px;

            .label {
                margin-bottom: 5px;
            }

            .bottom-spacing {
                margin-bottom: 15px;
            }

            .border-line {
                width: 100%;
                height: 1px;
                background-color: #e7eaec;
            }

            .el-form-item {
                margin-bottom: 10px;
            }

            .left-button {
                margin-right: 5px;
            }

            .custom-select {
                width: 100%;
            }

            .text-muted {
                color: #909399;
            }
        }
    }
</style>
