<template>

	<div>

		<el-row :gutter="20">
  			<el-col :span="12" class="column-header">{{ $t('Financing.description') }}</el-col>
  			<el-col :span="12" class="column-header">{{ $t('Common.amount') }}</el-col>
		</el-row>

		<el-divider></el-divider>

		<el-form ref="form" :model="form">
			<el-row :gutter="10" v-for="(detail, index) in form.details">
				<el-col :span="12">
					<el-form-item
					    :key="detail.key"
					    :prop="'details.' + index + '.description'"
					    :rules="[
					    	{
					      		required: true, message: $t('Service.desc_cannot_be_null'), trigger: 'blur'
					    	},
					    	{
					    		validator: validateDescription, 
					    		trigger: 'blur' 
					    	}
					    ]"
					>
						<el-input v-model="detail.description" :placeholder="$t('Financing.description')"></el-input>
	  				</el-form-item>
	  			</el-col>
	  			<el-col :span="9">
					<el-form-item
					    :key="detail.key"
					    :prop="'details.' + index + '.amount'"
					    :rules="[
					    	{
					      		required: true, message: $t('Service.amount_cannot_be_null'), trigger: 'blur'
					    	},
					    	{ 
					    		validator: validateAmount, 
					    		trigger: 'blur' 
					    	}
					    ]"
					>
						<el-input type="number" v-model="detail.amount" placeholder="0.00"></el-input>
	  				</el-form-item>
	  			</el-col>
	  			<el-col :span="3" class="center">
	  				<el-button type="danger" icon="el-icon-delete" circle @click="removeDetail(detail)"></el-button>
	  			</el-col>
			</el-row>
			<el-row :gutter="10">
				<el-col :span="24">
					<el-button type="info" round size="mini" class="pull-right" @click="addDetail">
						<i class="el-icon-plus"></i> {{ $t('Service.add_row') }}
					</el-button>
				</el-col>
			</el-row>
			<el-row :gutter="10" class="m-t-20">
				<el-col :span="24">
					<el-button type="primary" class="pull-right" @click="save('form')">{{ $t('Common.save') }}</el-button>
				</el-col>
			</el-row>
		</el-form>

	</div>

</template>

<script>
	
	export default {

		name: 'breakdown',

		props: ['type', 'serviceid', 'branchid', 'serviceprofileid', 'filteredbreakdowns'],

		data() {
			return {
				form: {
					type: null,
					service_id: null,
					branch_id: null,
					service_profile_id: null,
					details: []
				}
			}
		},

		methods: {
			addDetail() {
				this.form.details.push({
          			key: Date.now(),
          			description: '',
          			amount: ''
        		});
			},

			removeDetail(detail) {
        		var index = this.form.details.indexOf(detail);

        		if (index !== -1) {
          			this.form.details.splice(index, 1);
        		}
      		},

      		validateDescription(rule, value, callback) {
      			let duplicate = this.form.details.filter(d => d.description == value);

      			if( duplicate.length > 1) {
      				callback(new Error(this.$t('Service.desc_already_taken')));
      			} else {
					callback();
				}
      		},

      		validateAmount(rule, value, callback) {
				// if(value < 1) {
				// 	callback(new Error(this.$t('Service.amount_1_mess')));
				// } else {
					callback();
				// }
			},

			save(form) {
				this.$refs[form].validate((valid) => {
			        if(valid) {
			            this.$store.dispatch('saveBreakdowns', this.form)
          					.then(response => {
          						if(response.status === 'Success') {
          							this.$parent.$parent.asyncData();

									this.$parent.$parent.breakdownDialogVisible = false;

          							this.$message({
	                					type: 'success',
	                					message: this.$t('Service.saved_successfully')
	              					})
          						} else if(response.status === 'Failed') {
          							const errors = response.errors

          							for(const key in errors) {
          								if(errors.hasOwnProperty(key)) {
									        const message = errors[key][0];

									        this.$message({
							                    type: 'error',
							                    message: message
						                  	})
									    }
									}
          						}
          					});
			        }
        		});
			}
		},

		watch: {
	  		filteredbreakdowns: {
	  			deep: true,
	    		immediate: true, 
	    		handler (newValue, oldValue) {
	    			let breakdowns = newValue;

	    			this.form.details = breakdowns.map(b => {
	    				return {
	    					key: Date.now(),
	    					description: b.description,
	    					amount: b.amount
	    				};
	    			});
	    		}
	    	},
	    	type: {
	    		immediate: true, 
	    		handler (newValue, oldValue) {
	    			this.form.type = newValue;
	    		}
	    	},
	    	serviceid: {
	    		immediate: true, 
	    		handler (newValue, oldValue) {
	    			this.form.service_id = newValue;
	    		}
	    	},
	    	branchid: {
	    		immediate: true, 
	    		handler (newValue, oldValue) {
	    			this.form.branch_id = newValue;
	    		}
	    	},
	    	serviceprofileid: {
	    		immediate: true, 
	    		handler (newValue, oldValue) {
	    			this.form.service_profile_id = newValue;
	    		}
	    	},
	    }

	}

</script>

<style lang="scss" scoped>
	.column-header {
		font-weight: bold;
	}
	.pull-right {
		float: right;
	}
	.m-t-20 {
		margin-top: 20px;
	}
</style>