<template>
	
	<div>

		<el-row :gutter="20">
  			<el-col :span="12" class="column-header">{{ $t('Financing.description') }}</el-col>
  			<el-col :span="12" class="column-header">{{ $t('Common.amount') }}</el-col>
		</el-row>

		<el-divider></el-divider>

		<el-form ref="form" :model="form">
			<el-row :gutter="10" v-for="(detail, index) in form.details">
				<el-col :span="12">
					<el-form-item
					    :key="detail.key"
					    :prop="'details.' + index + '.description'"
					    :rules="[
					    	{
					      		required: true, message: $t('Service.desc_cannot_be_null'), trigger: 'blur'
					    	},
					    	{
					    		validator: validateDescription, 
					    		trigger: 'blur' 
					    	}
					    ]"
					>
						<el-input v-model="detail.description" :placeholder="$t('Financing.description')"></el-input>
	  				</el-form-item>
	  			</el-col>
	  			<el-col :span="9">
					<el-form-item
					    :key="detail.key"
					    :prop="'details.' + index + '.amount'"
					    :rules="[
					    	{
					      		required: true, message: $t('Service.amount_cannot_be_null'), trigger: 'blur'
					    	},
					    	{ 
					    		validator: validateAmount, 
					    		trigger: 'blur' 
					    	}
					    ]"
					>
						<el-input type="number" v-model="detail.amount" placeholder="0.00"></el-input>
	  				</el-form-item>
	  			</el-col>
	  			<el-col :span="3" class="center">
	  				<el-button type="danger" icon="el-icon-delete" circle @click="removeDetail(detail)"></el-button>
	  			</el-col>
			</el-row>
			<el-row :gutter="10">
				<el-col :span="24">
					<el-button type="info" round size="mini" class="pull-right" @click="addDetail">
						<i class="el-icon-plus"></i> {{ $t('Service.add_row') }}
					</el-button>
				</el-col>
			</el-row>
			<el-row :gutter="10" class="m-t-20">
				<el-col :span="24">
					<el-button type="primary" class="pull-right" @click="save('form')">{{ $t('Common.continue') }}</el-button>
				</el-col>
			</el-row>
		</el-form>

	</div>

</template>

<script>
	
	export default {

		name: 'breakdown-v2',

		props: ['breakdownField'],

		data() {
			return {
				form: {
					details: []
				}
			}
		},

		methods: {
			addDetail() {
				this.form.details.push({
          			key: Date.now(),
          			description: '',
          			amount: ''
        		});
			},

			removeDetail(detail) {
        		var index = this.form.details.indexOf(detail);

        		if (index !== -1) {
          			this.form.details.splice(index, 1);
        		}
      		},

      		validateDescription(rule, value, callback) {
      			let duplicate = this.form.details.filter(d => d.description == value);

      			if( duplicate.length > 1) {
      				callback(new Error(this.$t('Service.desc_already_taken')));
      			} else {
					callback();
				}
      		},

      		validateAmount(rule, value, callback) {
				if(value < 1) {
					callback(new Error(this.$t('Service.amount_1_mess')));
				} else {
					callback();
				}
			},

			save(form) {
				this.$refs[form].validate((valid) => {
			        if(valid) {
			            let servicePricingForm = this.$parent.$parent.$refs.servicePricingFormV2;

			            servicePricingForm.map(s => {
			                let { service_profile_id, branches } = s.form;

			                if( service_profile_id == this.breakdownField.serviceProfileId ) {
			                	branches.map((branch, index) => {
			                		if( branch.id == this.breakdownField.branchId ) {
			                			s.form.branches[index][this.breakdownField.field] = this.form.details;

			                			let breakdownTotalField = 0;

			                			this.form.details.map(d => breakdownTotalField += parseFloat(d.amount));

			                			s.form.branches[index][this.breakdownField.totalField] = breakdownTotalField;
			                		}
			                	});
			                }
			            });

			            this.$parent.$parent.dialog.visible = false;
			        }
        		});
			}
		},

		watch: {
		  	breakdownField: {
		  		deep: true,
		    	handler(value) {
		    		let details = [];

		    		value.breakdown.map(b => {
		    			details.push({
		    				key: Date.now(),
		          			description: b.description,
		          			amount: b.amount
		    			});
		    		});

		    		this.form.details = details;
		    	}
		    }
		}

	}

</script>

<style lang="scss" scoped>
	.column-header {
		font-weight: bold;
	}
	.pull-right {
		float: right;
	}
	.m-t-20 {
		margin-top: 20px;
	}
</style>