<template>

	<div>

		<el-card class="box-card">
	        <div slot="header" class="clearfix">
	            <h1 class="form-title">{{ $t('Service.service_details') }}</h1>
	        </div>
        	<div class="text item">

				<el-form ref="service-form" :model="form" :rules="rules">

		            <div class="inner-container">

		                <el-row :gutter="30" class="bottom-spacing">
		                    <el-col :span="4">
		                        <div class="label">{{ $t('Service.service_type') }}</div>
		                        <div>
			                        <el-form-item prop="type">
			                            <el-select v-model="form.type" :placeholder="$t('Service.select_service_type')" disabled>
			                                <el-option
			                                    v-for="type in serviceTypes"
			                                    :key="type.type"
			                                    :label="type.type"
			                                    :value="type.value">
			                                </el-option>
			                            </el-select>
			                        </el-form-item>
		                        </div>
		                    </el-col>

		                    <el-col :span="20" v-if="form.type == 'child'">
		                    	<div class="label">{{ $t('Service.service_parent') }}</div>
			                    <div>
				                    <el-form-item prop="parent_id">
				                        <el-select v-model="form.parent_id" :placeholder="$t('Service.select_parent_service')" class="custom-select">
				                            <el-option
				                                v-for="parent in parents"
				                                    :key="parent.id"
				                                    :label="parent.detail"
				                                    :value="parent.id">
				                            </el-option>
				                        </el-select>
				                    </el-form-item>
			                    </div>
			                </el-col>
		                </el-row>

		                <el-row :gutter="30" class="bottom-spacing">
		                    <el-col :span="12">
		                        <div class="label">{{ $t('Common.service_name') }}</div>
		                        <div>
				                   <el-form-item prop="service_name">
				                        <el-input :placeholder="$t('Service.enter_service_name_eng')" v-model="form.service_name"></el-input>
				                    </el-form-item>
		                        </div>
		                    </el-col>
		                    <el-col :span="12">
		                        <div class="label">{{ $t('Service.service_name_chi') }}</div>
		                        <div>
		                            <el-form-item prop="service_name_chinese">
				                        <el-input :placeholder="$t('Service.enter_service_name_chi')" v-model="form.service_name_chinese"></el-input>
				                    </el-form-item>
		                        </div>
		                    </el-col>
		                </el-row>

		                <el-row :gutter="30" class="bottom-spacing">
		                    <el-col :span="12">
		                        <div class="label">{{ $t('Financing.description') }}</div>
		                        <div>
				                   <el-form-item prop="description">
				                        <el-input :placeholder="$t('Service.enter_desc_eng')" v-model="form.description"></el-input>
				                    </el-form-item>
		                        </div>
		                    </el-col>
		                    <el-col :span="12">
		                        <div class="label">{{ $t('Service.desc_chi') }}</div>
		                        <div>
		                            <el-form-item prop="description_chinese">
				                        <el-input :placeholder="$t('Service.enter_desc_chi')" v-model="form.description_chinese"></el-input>
				                    </el-form-item>
		                        </div>
		                    </el-col>
		                </el-row>

		                <br>
                        <h1 class="form-title" v-if="form.type == 'child'">Generate Form</h1>

                        <div class="border-line" v-if="form.type == 'child'"></div>
                        <br>

		                <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child'">
                            <el-col :span="12">
                                <div class="label">{{ $t('Service.mode') }}</div>
                                <div>
                                    <el-form-item prop="mode">
                                        <el-select v-model="form.mode" :placeholder="$t('Service.select_service_mode')" class="custom-select">
                                            <el-option
                                                v-for="mode in modes"
                                                :label="mode.label"
                                                :value="mode.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

		                <el-row :gutter="30" v-if="form.type == 'child'">
	                        <el-col :span="24">
	                            <div class="label">{{ $t('Service.required_months') }}</div>
	                            <div>
	                                <el-form-item>
	                                    <el-radio-group v-model="requiredMonthsType" @change="handleRequiredMonthsTypeChange">
	                                    	<el-radio label="Not Applicable">{{ $t('Service.not_applicable') }}</el-radio>
	                                        <el-radio label="Fixed">{{ $t('Service.fixed') }}</el-radio>
	                                        <el-radio label="Ranged">{{ $t('Service.ranged') }}</el-radio>
	                                    </el-radio-group>
	                                </el-form-item>
	                            </div>
	                        </el-col>
	                    </el-row>

	                    <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child' && requiredMonthsType == 'Fixed'">
	                        <el-col :span="12">
	                            <div class="label text-muted">{{ $t('Service.no_of_months') }}</div>
	                            <div>
	                                <el-form-item prop="months_required">
	                                    <el-input type="number" v-model="form.months_required"></el-input>
	                                </el-form-item>
	                            </div>
	                        </el-col>
	                    </el-row>

	                    <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child' && requiredMonthsType == 'Ranged'">
	                        <el-col :span="12">
	                            <div class="label text-muted">{{ $t('Service.min_no_of_months') }}</div>
	                            <div>
	                                <el-form-item prop="minimum_months">
	                                    <el-input type="number" v-model="form.minimum_months"></el-input>
	                                </el-form-item>
	                            </div>
	                        </el-col>
	                        <el-col :span="12">
	                            <div class="label text-muted">{{ $t('Service.max_no_of_months') }}</div>
	                            <div>
	                                <el-form-item prop="maximum_months">
	                                    <el-input type="number" v-model="form.maximum_months"></el-input>
	                                </el-form-item>
	                            </div>
	                        </el-col>
	                    </el-row>

	                    <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child'">
	                        <el-col :span="24">
	                            <el-checkbox v-model="hasFormBuilder">{{ $t('Service.has_form_builder') }}</el-checkbox>
	                        </el-col>
	                    </el-row>

	                    <el-row :gutter="30" class="bottom-spacing" v-if="form.type == 'child' && hasFormBuilder">
	                        <el-col :span="24">
	                            <el-form-item prop="form_id">
	                                <el-select v-model="form.form_id" :placeholder="$t('Service.select_form')">
	                                    <el-option
	                                        v-for="form in forms"
	                                        :key="form.id"
	                                        :label="form.name"
	                                        :value="form.id">
	                                    </el-option>
	                                </el-select>
	                            </el-form-item>
	                        </el-col>
	                    </el-row>

		            </div>

		            <div class="inner-container" v-if="form.type == 'child'">
						<h1 class="form-title">{{ $t('Service.pricing') }}</h1>

		            	<div class="border-line"></div>

		          		<div class="inner-container">

		          			<el-row class="bottom-spacing">
			                    <el-col>
			                        <el-form-item>
				                        <el-select v-model="form.service_profile" @change="handleCosts" style="float:right;">
				                            <el-option
				                                v-for="serviceProfile in serviceProfiles"
				                                :key="serviceProfile.id"
				                                :label="serviceProfile.name"
				                                :value="serviceProfile.id">
				                            </el-option>
				                        </el-select>
				                    </el-form-item>
			                    </el-col>
			                </el-row>

		          			<ServicePricingForm
			          			v-for="(branch, i) in branches"
			                    v-if="branch.name != 'Both'"
			          			:key = "branch.id"
			          			:branch = "branch"
			          			:costs = "costs"
			          			:serviceProfileType="serviceProfileType"
			                    ref="costs"
			          			/>
		          		</div>
					</div>

		            <div class="inner-container">
		            	<el-row :gutter="30">
		                    <el-col :span="24">
								<router-link :to="{ name: 'list-of-services'}">
							        <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
							    </router-link>
		                        <el-button type="primary" @click="onSubmit('service-form')">{{ $t('Common.save') }}</el-button>
		                    </el-col>
		                </el-row>
		            </div>

		        </el-form>

		    </div>
		</el-card>

        <el-dialog :title="breakdownDialogTitle" :visible.sync="breakdownDialogVisible" width="50%">
			<Breakdown ref="breakdown" :type="breakdownType" :serviceid="$route.params.id" :branchid="breakdownBranchId" :serviceprofileid="form.service_profile" :filteredbreakdowns="filteredbreakdowns" />
		</el-dialog>

    </div>

</template>

<script>
	
	import ServicePricingForm from './service-pricing-form'
	import Breakdown from './breakdown';

	export default {

		props: ['parents', 'branches', 'forms'],

  		data () {
		    var parentIdIsRequired = (rule, value, callback) => {
		        if( this.form.type == 'child' && value == null ) {
		            callback(new Error( this.replaceName(this.$t('Service.is_required'), this.$t('Service.service_parent')) ))
		        } else {
		            callback()
		        }
		    }

		    var modeRequiredValidation = (rule, value, callback) => {
	            if( this.form.type == 'child' && value == null ) {
	                callback(new Error( this.replaceName(this.$t('Service.is_required'), this.$t('Service.mode')) ))
	            } else {
	                callback()
	            }
	        }

		    var monthsRequiredValidation = (rule, value, callback) => {
		        if( this.requiredMonthsType == 'Fixed' && value < 0 ) {
		            callback(new Error(this.$t('Service.month_req_mess1')));
		        } else if( this.requiredMonthsType == 'Fixed' && isNaN(parseInt(value)) ) {
		            callback(new Error(this.$t('Service.month_req_mess2')));
		        } else {
		            callback();
		        }
		    }

		    var minimumMonthsMaximumMonthsValidation = (rule, value, callback) => {
		        let field = rule.field;
		        field = field.split('_').join(' ');
		        field = field.replace("months", "month/s");

		        if( this.requiredMonthsType == 'Ranged' && value < 0 ) {
		            callback(new Error( this.replaceName(this.$t('Service.field_req_mess1'), field) ));
		        } else if( this.requiredMonthsType == 'Ranged' && isNaN(parseInt(value)) ) {
		            callback(new Error( this.replaceName(this.$t('Service.field_req_mess2'), field) ));
		        } else if( this.requiredMonthsType == 'Ranged' 
		            && field == 'minimum month/s' 
		            && this.form.minimum_months >= this.form.maximum_months ) {
		            callback(new Error(this.$t('Service.min_no_err_mess')));
		        } else if( this.requiredMonthsType == 'Ranged' 
		            && field == 'maximum month/s' 
		            && this.form.maximum_months <= this.form.minimum_months ) {
		            callback(new Error(this.$t('Service.max_no_err_mess')));
		        } else {
		            callback();
		        }
		    }

		    var formIdValidation = (rule, value, callback) => {
		        if( this.hasFormBuilder && value == null ) {
		            callback(new Error( this.replaceName(this.$t('Service.is_required'), this.$t('Service.form_builder')) ));
		        } else {
		            callback();
		        }
		    }

    		return {
    			service: null,
    			serviceBranchCosts: [],
    			serviceProfileCosts: [],
    			
    			costs: [],

    			requiredMonthsType: 'Fixed',
        		hasFormBuilder: false,

		      	form: {
		      		id: null,
			        type: null,
			        parent_id: null,
			        service_name: null,
			        service_name_chinese: null,
			        description: null,
			        description_chinese: null,
			        mode: null,
			        months_required: 0,
			        minimum_months: 0,
			        maximum_months: 0,
			        form_id: null,
			        service_profile: null,
			        costs: []
		      	},

		      	modes: [
	                { label: this.$t('Common.regular'), value: 'Regular' },
	                { label: this.$t('Service.rush'), value: 'Rush' }
	            ],

		      	serviceProfiles: [],

			    serviceTypes: [
				  	{
				        type: 'Parent',
				        value: 'parent'
				    },
				    {
				        type: 'Child',
				        value: 'child'
				    }
				],

		        rules: {
		            type: [
		                { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Service.service_type')) }
		            ],
		            service_name: [
		                { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Common.service_name')) }
		            ],
		            parent_id: [
		                { validator: parentIdIsRequired, trigger: 'blur' }
		            ],
		            mode: [
	                    { validator: modeRequiredValidation, trigger: 'change' }
	                ],
		            months_required: [
		                { validator: monthsRequiredValidation, trigger: 'blur' }
		            ],
		            minimum_months: [
		                { validator: minimumMonthsMaximumMonthsValidation, trigger: 'blur' }
		            ],
		            maximum_months: [
		                { validator: minimumMonthsMaximumMonthsValidation, trigger: 'blur' }
		            ],
		            form_id: [
		                { validator: formIdValidation, trigger: 'change' }
		            ]
		        },

		        breakdowns: [],

    			breakdownDialogVisible: false,
				breakdownDialogTitle: null,

				breakdownType: null,

				breakdownBranchId: null,

				filteredbreakdowns: []
    		}
  		},

  		methods: {
  			handleRequiredMonthsTypeChange(value) {
		        this.$refs['service-form'].clearValidate(['months_required', 'minimum_months', 'maximum_months']);
		    },

  			getServiceProfiles() {
  				this.$store.dispatch('getAllServiceProfiles')
			        .then(response => {
			          	let marketPrice = {
				          	id: '0',
							name: 'Market Price',
							slug: 'market-price',
							type: 'default',
							is_active: 1
			          	};

			          	this.serviceProfiles = [marketPrice, ...response.data.service_profiles];
			        });
  			},

  			handleCosts() {
		    	var branches = this.branches.filter(branch => branch.name !== 'Both');
		    	
		    	var serviceProfile = parseInt(this.form.service_profile);

		    	var serviceBranchCosts = this.serviceBranchCosts;
		    	var serviceProfileCosts = this.serviceProfileCosts;
		    	var breakdowns = this.breakdowns;

		    	var costs = [];

		    	branches.map(branch => {
		    		var cost = 0;
		    		var charge = 0;
		    		var tip = 0;
		    		var com_agent = 0;
		    		var com_client = 0;

		    		if( serviceProfile == 0 ) {
		    			if( branch.id == 1 ) {
		    				cost = this.service.cost;
		    				charge = this.service.charge;
		    				tip = this.service.tip;
		    				com_agent = this.service.com_agent;
		    				com_client = this.service.com_client;
		    			} else {
		    				serviceBranchCosts.map(serviceBranchCost => {
		    					if( serviceBranchCost.branch_id == branch.id ) {
		    						cost = serviceBranchCost.cost;
				    				charge = serviceBranchCost.charge;
				    				tip = serviceBranchCost.tip;
				    				com_agent = serviceBranchCost.com_agent;
				    				com_client = serviceBranchCost.com_client;
		    					}
		    				});
		    			}

		    			var form = {
		    				cost,
		    				charge,
		    				tip,
		    				com_agent,
		    				com_client,
		    				branch_id: branch.id
		    			};
		    		} else {
		    			serviceProfileCosts.map(serviceProfileCost => {
		    				if( serviceProfileCost.profile_id == serviceProfile && serviceProfileCost.branch_id == branch.id ) {
		    					cost = serviceProfileCost.cost;
			    				charge = serviceProfileCost.charge;
			    				tip = serviceProfileCost.tip;
			    				com_agent = serviceProfileCost.com_agent;
			    				com_client = serviceProfileCost.com_client;
		    				}
		    			});

		    			var form = {
				    		cost,
						   	charge,
						   	tip,
						   	com_agent,
						    com_client,
				   		    branch_id: branch.id
				    	};
		    		}

		    		form['breakdowns'] = breakdowns.filter(b => b.branch_id == branch.id && b.service_profile_id == serviceProfile);

		    		costs.push(form);
		    	});

		    	this.costs = costs;
  			},

			async asyncData () {
		      	this.$store.dispatch('getService', this.$route.params.id)
                    .then(res => {
                    	if( res.status == 'Success' ) {
                    		let { 
                    			id, 
                    			parent_id, 
                    			detail, 
                    			detail_cn, 
                    			description, 
                    			description_cn,
                    			mode,
                    			months_required,
						        min_months,
						        max_months,
						        form_id,
                    			service_branch_costs,
                    			service_profile_costs,
                    			breakdowns
                    		} = res.data.service;

                    		this.form.id = id;

                    		if( parent_id == 0 ) {
                    			this.form.parent_id = null;
                    			this.form.type = 'parent';
                    		} else {
                    			this.form.parent_id = parent_id;
                    			this.form.type = 'child';
                    		}

                    		this.form.service_name = detail;
			       	 		this.form.service_name_chinese = detail_cn;
			        		this.form.description = description;
			        		this.form.description_chinese = description_cn;

			        		this.form.mode = mode;
			        		this.form.months_required = months_required;
					        this.form.minimum_months = min_months;
					        this.form.maximum_months = max_months;
					        this.form.form_id = form_id;
					        
							if( months_required == 0 && min_months == 0 && max_months == 0 ) {
								this.requiredMonthsType = 'Not Applicable';
							} else if( months_required == 0 && (min_months > 0 || max_months > 0) ) {
								this.requiredMonthsType = 'Ranged';
							}

							if( form_id ) {
								this.hasFormBuilder = true;
							}

							if(this.form.service_profile == null){
			        			this.form.service_profile = '0';
							}

			        		this.service = res.data.service;
			    			this.serviceBranchCosts = service_branch_costs;
			    			this.serviceProfileCosts = service_profile_costs;
			    			this.breakdowns = breakdowns;					

			    			setTimeout(() => this.handleCosts(), 500);
                    	}
                    })
                    .catch(res => console.log(res));
		    },

		    onSubmit (serviceForm) {
		        this.$refs[serviceForm].validate((response) => {
		            if (response) {
		            	this.form.costs = [];
		                if( this.form.type == 'child' ) {
		                    this.$refs.costs.forEach((cost, index) => {
		                        this.form.costs.push(this.$refs.costs[index].form);
		                    });

		                    if( this.requiredMonthsType == 'Not Applicable' ) {
	                            this.form.months_required = 0;
	                            this.form.minimum_months = 0;
	                            this.form.maximum_months = 0;
	                        } else if( this.requiredMonthsType == 'Fixed' ) {
		                        this.form.minimum_months = 0;
		                        this.form.maximum_months = 0;
		                    } else if( this.requiredMonthsType == 'Ranged' ) {
		                        this.form.months_required = 0;
		                    }

		                    if( !this.hasFormBuilder ) {
		                        this.form.form_id = null;
		                    }
		                }

		                this.$store.dispatch('updateService', this.form)
		                    .then(res => {
		                        let responseStatus = res.status.toLowerCase();
		                        
		                        if( responseStatus == 'success' ) {
		                            this.$message({
		                                showClose: true,
		                                message: this.replaceName(this.$t('Service.was_successfully_updated'), this.$t('Service.service')),
		                                type: 'success',
		                                center: true
		                            });

		                            this.$router.push('/services');
		                        }

		                    })
		                    .catch(res => console.log(res));
		            }
		        });
		    },

		    showBreakdownDialog(title, branchId) {
			    this.breakdownDialogVisible = true;

			    this.breakdownDialogTitle = title.charAt(0).toUpperCase() + title.slice(1) + ' Breakdown';

			    this.breakdownType = title;

			    this.breakdownBranchId = branchId;

			    this.filteredbreakdowns = this.breakdowns.filter(b => b.type == this.breakdownType && b.branch_id == this.breakdownBranchId && b.service_profile_id == this.form.service_profile);
      },
      
      replaceName (message, data) {
        return message.replace(':name', data)
      }
		},

		created() {
			this.getServiceProfiles();
		},

		computed: {
        	serviceProfileType: function () {
        		let serviceProfileType = 'default';

        		this.serviceProfiles.map(sp => {
        			if( sp.id == this.form.service_profile ) {
        				serviceProfileType = sp.type;
        			}
        		});

        		return serviceProfileType;
        	}
        },

  		mounted() {
		 	this.asyncData();
		},

		components: {
		   ServicePricingForm,
		   Breakdown
  		}

	}

</script>

<style lang="scss" scoped>
	.box-card {
        margin-bottom: 40px;

        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .inner-container {
            padding-top: 10px;

            .label {
                margin-bottom: 5px;
            }

            .bottom-spacing {
                margin-bottom: 15px;
            }

            .border-line {
                width: 100%;
                height: 1px;
                background-color: #e7eaec;
            }

            .el-form-item {
                margin-bottom: 10px;
            }

            .left-button {
                margin-right: 5px;
            }

            .custom-select {
                width: 100%;
            }

            .text-muted {
                color: #909399;
            }
        }
    }
</style>