<template>
  <div>
    <el-row class="form-container">
      <el-form ref="doc_form" :model="form" :rules="rules" v-on:submit.prevent>
        <el-form-item prop="name" :label="$t('Profile.name')">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
      </el-form>
    </el-row>
    <el-row>
      <el-col :span="24">
        <div class="align-right">
          <el-button class="add-button" type="primary" @click="onSubmit('doc_form')">{{ $t('Common.save') }}</el-button>
          <el-button class="add-button-plain" @click="cancelModal">{{ $t('Common.cancel') }}</el-button>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'edit-client-doc-form',
  data () {
    return {
      form: {
        id: '',
        name: '',
      },
      rules: {
        name: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Service-Documents.document-name')), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancelModal () {
      this.$parent.$emit('close')
    },
    
    onSubmit (docForm) {
      this.$refs[docForm].validate((response) => {
        if(response) {
          if(this.form.id !== '' && this.form.id !== null) {
            this.updateClientDocuments()
          } else {
            this.addClientDocuments()
          }
        }
      })
    },

    addClientDocuments () {
      this.$store.dispatch('addClientDocuments', {
          name: this.form.name
      })
      .then(res => {
        if(res.status.toLowerCase() === 'success') {
          this.$message({
            showClose: true,
            message: this.form.name + ' ' + this.$t('Clients.client_added'),
            type: 'success',
            center: true
          })

          setTimeout(() => {
            this.cancelModal()
            this.$eventBus.$emit('refreshDataTable')
          }, 500)
        }
      })
    },

    updateClientDocuments () {
      this.$store.dispatch('updateClientDocuments', {
        id: this.form.id,
        name: this.form.name
      })
      .then(res => {
        if(res.status.toLowerCase() === 'success') {
          this.$message({
            showClose: true,
            message: this.form.name + ' ' + this.$t('Clients.client_updated'),
            type: 'success',
            center: true
          })

          setTimeout(() => {
            this.cancelModal()
            this.$eventBus.$emit('refreshDataTable')
            // this.$router.go()
          }, 500)
        }
      })
    },

    replaceName (message, data) {
      return message.replace(':name', data)
    }
  },
  created () {
    this.form.id = this.$parent.$parent.content.data.id
    this.form.name = this.$parent.$parent.content.data.name
  }
}
</script>

<style lang="scss" scoped>
  .add-button-plain {
    padding: 9px 15px;
  }

  .add-button {
    background-color: #1AB394;
    border-color: #1AB394;
    padding: 9px 15px;
    color: #fff;
  }

  .add-button:hover {
    background: #18A689;
    border-color: #18A689;
  }

  .form-container {
    margin-bottom: 15px;
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
</style>