<template>

	<el-card class="box-card">
  		<div class="text item">

			<el-row :gutter="20">

			  	<el-col :span="6" :offset="18">
			  		<el-select v-model="branchId" :placeholder="$t('Clients.select')" class="pull-right">
					    <el-option
					      	v-for="branch in branches"
					      	:key="branch.id"
					      	:label="branch.name"
					      	:value="branch.id">
					    </el-option>
					</el-select>
			  	</el-col>

			</el-row>

			<div class="spacer-20"></div>

			<el-row :gutter="20">

			  	<el-col :span="24">
			  		<el-table :data="defaultRates" stripe border style="width: 100%">
			  			<el-table-column :label="$t('Service.default_rates').toUpperCase()" header-align="center">
			    			<el-table-column label="" width="200">
			    				<template slot-scope="scope">
			    					<span class="profile">{{ scope.row.name }}</span>
			    				</template>
			    			</el-table-column>

			    			<el-table-column :label="$t('Common.cost')">
				    			<template slot-scope="scope">
				    				<el-popover
									placement="top"
									:title="$t('Service.breakdown')"
									width="200"
									trigger="hover"
									:visible-arrow="true">

				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'cost')">
				    						
				    						<span class="information" :id="'spancost'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.cost }}
				    							<i class="el-icon-info">
				    							</i>
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="def.cost[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'cost',scope.row.id, scope.row.type)" :id="'inputcost'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>				    					

				    					<table class="breakdown-table">
	  										<tr v-for="breakdown in scope.row.cost_breakdown">
	  											<td class="breakdown-description">
	  												{{ breakdown.description }}
	  											</td>
	  											<td class="breakdown-amount">
	  												{{ breakdown.amount }}
	  											</td>
	  										</tr>
	  										<tr v-if="scope.row.cost_breakdown.length == 0">
	  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
	  										</tr>
	  									</table>

				    				</el-popover>
				    			</template>
			    			</el-table-column>

			    			<el-table-column prop="charge" :label="$t('Clients.charge')">
			    				<template slot-scope="scope">
			    					<el-popover
									placement="top"
									:title="$t('Service.breakdown')"
									width="200"
									trigger="hover"
									:visible-arrow="true">

				    					<!-- <span slot="reference">
				    						{{ scope.row.charge }}
				    						<span class="information"><i class="el-icon-info"></i></span>
				    					</span> -->
				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'charge')">
				    						
				    						<span class="information" :id="'spancharge'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.charge }}
				    							<i class="el-icon-info">
				    							</i>
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="def.charge[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'charge',scope.row.id, scope.row.type)" :id="'inputcharge'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>	

				    					<table class="breakdown-table">
	  										<tr v-for="breakdown in scope.row.charge_breakdown">
	  											<td class="breakdown-description">
	  												{{ breakdown.description }}
	  											</td>
	  											<td class="breakdown-amount">
	  												{{ breakdown.amount }}
	  											</td>
	  										</tr>
	  										<tr v-if="scope.row.charge_breakdown.length == 0">
	  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
	  										</tr>
	  									</table>

				    				</el-popover>
			    				</template>
			    			</el-table-column>

			    			<el-table-column prop="tip" :label="$t('Common.tip')">
			    				<template slot-scope="scope">
			    					<el-popover
									placement="top"
									:title="$t('Service.breakdown')"
									width="200"
									trigger="hover"
									:visible-arrow="true">

				    					<!-- <span slot="reference">
				    						{{ scope.row.tip }}
				    						<span class="information"><i class="el-icon-info"></i></span>
				    					</span> -->

				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'tip')">
				    						
				    						<span class="information" :id="'spantip'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.tip }}
				    							<i class="el-icon-info">
				    							</i>
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="def.tip[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'tip',scope.row.id, scope.row.type)" :id="'inputtip'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>	

				    					<table class="breakdown-table">
	  										<tr v-for="breakdown in scope.row.tip_breakdown">
	  											<td class="breakdown-description">
	  												{{ breakdown.description }}
	  											</td>
	  											<td class="breakdown-amount">
	  												{{ breakdown.amount }}
	  											</td>
	  										</tr>
	  										<tr v-if="scope.row.tip_breakdown.length == 0">
	  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
	  										</tr>
	  									</table>

				    				</el-popover>
			    				</template>
			    			</el-table-column>

			    			<el-table-column prop="comAgent" label="Agent Commission"></el-table-column>

			    			<el-table-column prop="comClient" label="Client Commission"></el-table-column>

			    			<el-table-column prop="total" label="Total"></el-table-column>
			    		</el-table-column>
		  			</el-table>
			  	</el-col>

			</el-row>

			<div class="spacer-20"></div>

			<el-row :gutter="20">

			  	<el-col :span="24">
			  		<el-table :data="customizedRates" stripe border style="width: 100%">
			  			<el-table-column :label="$t('Service.customized_rates').toUpperCase()" header-align="center">
			    			<el-table-column label="" width="200">
			    				<template slot-scope="scope">
			    					<span class="profile">{{ scope.row.name }}</span>
			    					<el-switch v-model="cstm.active[serviceId+''+scope.row.id]" :active-value="1" :inactive-value="0" style="float: right;" @change="toggleSwitch(serviceId, branchId, scope.row.id)">
									</el-switch>
			    				</template>
			    			</el-table-column>

			    			<el-table-column :label="$t('Common.cost')">
				    			<template slot-scope="scope">
				    				<el-popover
									placement="top"
									:title="$t('Service.breakdown')"
									width="200"
									trigger="hover"
									:visible-arrow="true">

				    					<!-- <span slot="reference">
				    						{{ scope.row.cost }}
				    						<span class="information"><i class="el-icon-info"></i></span>
				    					</span> -->
				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'cost')">
				    						
				    						<span class="information" :id="'spancost'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.cost }}
				    							<i class="el-icon-info">
				    							</i>
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="cstm.cost[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'cost',scope.row.id, scope.row.type)" :id="'inputcost'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>	

				    					<table class="breakdown-table">
	  										<tr v-for="breakdown in scope.row.cost_breakdown">
	  											<td class="breakdown-description">
	  												{{ breakdown.description }}
	  											</td>
	  											<td class="breakdown-amount">
	  												{{ breakdown.amount }}
	  											</td>
	  										</tr>
	  										<tr v-if="scope.row.cost_breakdown.length == 0">
	  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
	  										</tr>
	  									</table>

				    				</el-popover>
				    			</template>
			    			</el-table-column>

			    			<el-table-column prop="charge" :label="$t('Common.charge')" >
			    				<template slot-scope="scope">
			    					<el-popover
									placement="top"
									:title="$t('Service.breakdown')"
									width="200"
									trigger="hover"
									:visible-arrow="true">

				    					<!-- <span slot="reference">
				    						{{ scope.row.charge }}
				    						<span class="information"><i class="el-icon-info"></i></span>
				    					</span> -->
				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'charge')">
				    						
				    						<span class="information" :id="'spancharge'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.charge }}
				    							<i class="el-icon-info">
				    							</i>
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="cstm.charge[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'charge',scope.row.id, scope.row.type)" :id="'inputcharge'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>	

				    					<table class="breakdown-table">
	  										<tr v-for="breakdown in scope.row.charge_breakdown">
	  											<td class="breakdown-description">
	  												{{ breakdown.description }}
	  											</td>
	  											<td class="breakdown-amount">
	  												{{ breakdown.amount }}
	  											</td>
	  										</tr>
	  										<tr v-if="scope.row.charge_breakdown.length == 0">
	  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
	  										</tr>
	  									</table>

				    				</el-popover>
			    				</template>
			    			</el-table-column>

			    			<el-table-column prop="tip" :label="$t('Common.tip')">
			    				<template slot-scope="scope">
			    					<el-popover
									placement="right"
									:title="$t('Service.breakdown')"
									width="200"
									trigger="hover"
									:visible-arrow="true">

				    					<!-- <span slot="reference">
				    						{{ scope.row.tip }}
				    						<span class="information"><i class="el-icon-info"></i></span>
				    					</span> -->
				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'tip')">
				    						
				    						<span class="information" :id="'spantip'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.tip }}
				    							<i class="el-icon-info">
				    							</i>
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="cstm.tip[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'tip',scope.row.id, scope.row.type)" :id="'inputtip'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>	

				    					<table class="breakdown-table">
	  										<tr v-for="breakdown in scope.row.tip_breakdown">
	  											<td class="breakdown-description">
	  												{{ breakdown.description }}
	  											</td>
	  											<td class="breakdown-amount">
	  												{{ breakdown.amount }}
	  											</td>
	  										</tr>
	  										<tr v-if="scope.row.tip_breakdown.length == 0">
	  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
	  										</tr>
	  									</table>

				    				</el-popover>
			    				</template>
			    			</el-table-column>

			    			<el-table-column prop="comAgent" label="Agent Commission">
			    				<template slot-scope="scope">
				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'com_agent')">
				    						
				    						<span class="information" :id="'spancom_agent'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.comAgent }}
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="cstm.com_agent[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'com_agent',scope.row.id, scope.row.type)" :id="'inputcom_agent'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>	

			    				</template>			    				
			    			</el-table-column>

			    			<el-table-column prop="comClient" label="Client Commission">
			    				<template slot-scope="scope">
				    					<span slot="reference"  v-on:dblclick="showEditPrice(scope.row.id, 'com_client')">
				    						
				    						<span class="information" :id="'spancom_client'+serviceId+'_'+branchId+'_'+scope.row.id">
				    							{{ scope.row.comClient }}
				    						</span>
				    						<el-input-number :controls="false" :min="0" v-model="cstm.com_client[serviceId+''+scope.row.id]" @change="handleChange(scope.$index, 'com_client',scope.row.id, scope.row.type)" :id="'inputcom_client'+serviceId+'_'+branchId+'_'+scope.row.id" size="mini" style="display:none;" class="input-hidden"></el-input-number>
				    					</span>	

			    				</template>	
			    			</el-table-column>

			    			<el-table-column prop="total" label="Total"></el-table-column>

			    		</el-table-column>
		  			</el-table>
			  	</el-col>

			</el-row>

		</div>
	</el-card>

</template>

<script>

export default {

  	name: 'expanded-details',

  	props: ['serviceId', 'profiles'],

  	data () {
    	return {
      		branchId: 1,
      		defRates : true,

      		def: {
		        cost: [],
		        charge: [],
		        tip: [],
		        com_client: [],
		        com_agent: [],
		    },

		    cstm: {
		        cost: [],
		        charge: [],
		        tip: [],
		        com_client: [],
		        com_agent: [],
		        active: [],
		    },

		    form: {
				type: null,
				service_id: null,
				branch_id: null,
				service_profile_id: null,
				amount: null
			},
    	}
  	},

  	created() {

  	},

  	methods : {
  		toggleSwitch(serviceId, branchId, profileId){
  			var newValue = this.cstm.active[serviceId+""+profileId];
  			var formData = {};
  			formData.serviceId = serviceId;
  			formData.profileId = profileId;
  			formData.branchId = branchId;
  			formData.newValue = newValue;
  				this.$store.dispatch('profileSwitch', formData)
					.then(response => {
						if(response.status === 'Success') {
							this.$eventBus.$emit('updateExpanded', this.serviceId)
							this.$message({
        					type: 'success',
        					message: 'Updated Successfully'
      						})
						} else if(response.status === 'Failed') {
							const errors = response.errors

							for(const key in errors) {
								if(errors.hasOwnProperty(key)) {
						        const message = errors[key][0];

						        this.$message({
				                    type: 'error',
				                    message: message
			                  	})
						    }
						}
						}
					});
  		},
  		showEditPrice(index, type){
  			// console.log(rows);
  			var ref = 'input'+type+this.serviceId+'_'+this.branchId+'_'+index;
  			var x = document.getElementById(ref);
  			if (x.style.display === "none") {
			    x.style.display = "block";
			  } else {
			    x.style.display = "none";
			  }

			var spanref = 'span'+type+this.serviceId+'_'+this.branchId+'_'+index;
  			var y = document.getElementById(spanref);
			if (y.style.display === "none") {
			    y.style.display = "block";
			  } else {
			    y.style.display = "none";
			  }

  		},

  		handleChange(index, type, scope_id, profile_type){
  			this.form.type = type;
  			this.form.service_id = this.serviceId;
  			this.form.branch_id = this.branchId;
  			this.form.service_profile_id = scope_id;
  			this.form.amount = this.getValue(type, scope_id, profile_type);
  			this.save('form',scope_id, type);
  		},

  		getValue(type, scope_id, profile_type){
  			if(profile_type == 'default'){
  				var arr = this.def;
  			}
  			if(profile_type == 'customized'){
  				var arr = this.cstm;
  			}

  			if(type == 'cost'){
				return arr.cost[this.serviceId+''+scope_id];
  			}
  			if(type == 'charge'){
				return arr.charge[this.serviceId+''+scope_id];
  			}
  			if(type == 'tip'){
				return arr.tip[this.serviceId+''+scope_id];
  			}
  			if(type == 'com_client'){
				return arr.com_client[this.serviceId+''+scope_id];
  			}
  			if(type == 'com_agent'){
				return arr.com_agent[this.serviceId+''+scope_id];
  			}
  		},

  		save(form, index, type) {
			// this.$refs[form].validate((valid) => {
		 //        if(valid) {
		            this.$store.dispatch('updatePrice', this.form)
      					.then(response => {
      						if(response.status === 'Success') {
      							this.showEditPrice(index, type);
      							this.$eventBus.$emit('updateExpanded', this.serviceId)

								// this.$parent.$parent.breakdownDialogVisible = false;

      							this.$message({
                					type: 'success',
                					message: this.$t('Service.saved_successfully')
              					})
      						} else if(response.status === 'Failed') {
      							const errors = response.errors

      							for(const key in errors) {
      								if(errors.hasOwnProperty(key)) {
								        const message = errors[key][0];

								        this.$message({
						                    type: 'error',
						                    message: message
					                  	})
								    }
								}
      						}
      					});
		        // }
    		// });
		}
  	},

  	mounted () {
     // console.log('References : ', this.$refs)
    },

  	computed: {
	    branches: function () {
			const branches = [];

			const length = this.profiles.length;

			if (length > 0) {
			    const profile = this.profiles[0];

			    const { defaultRates } = profile;

			    defaultRates.map(d => {
			    	branches.push(d.branch);
			    });
			}

			return branches;
		},

		defaultRates: function () {
			let _defaultRates = [];

			const length = this.profiles.length;

			if (length > 0) {
			    const serviceId = this.serviceId;

	        	const profile = this.profiles.filter(p => p.serviceId == serviceId);

	        	if (profile.length == 1) {
	          		const { defaultRates } = profile[0];

	          		defaultRates.map(d => {
	            		if (d.branch.id == this.branchId) {
	            			console.log(d.serviceProfiles);
	              			_defaultRates = d.serviceProfiles;
	            		}
	          		});
	    		}
			}
		
				_defaultRates.map(d => {
					// console.log(d.id);
					var indx = this.serviceId+''+d.id;
	          		this.def.cost[indx] = d.cost;
	          		this.def.charge[indx] = d.charge;
	          		this.def.tip[indx] = d.tip;
	      		});

			return _defaultRates;
		},

		customizedRates: function () {
			let _customizedRates = [];

			const length = this.profiles.length;

			if (length > 0) {
			    const serviceId = this.serviceId;

	        	const profile = this.profiles.filter(p => p.serviceId == serviceId);

	        	if (profile.length == 1) {
	          		const { customizedRates } = profile[0];

	          		customizedRates.map(c => {
	            		if (c.branch.id == this.branchId) {
	             	 		_customizedRates = c.serviceProfiles;
	            		}
	          		});
	        	}
			}

			_customizedRates.map(d => {
					// console.log(d.id);
					var indx = this.serviceId+''+d.id;
	          		this.cstm.active[indx] = d.active;
	          		this.cstm.cost[indx] = d.cost;
	          		this.cstm.charge[indx] = d.charge;
	          		this.cstm.tip[indx] = d.tip;
	          		this.cstm.com_client[indx] = d.comClient;
	          		this.cstm.com_agent[indx] = d.comAgent;
	      		});

			return _customizedRates;
		}
  	}

}

</script>

<style lang="scss" scoped>
	.pull-right {
		float: right;
	}

	.spacer-20 {
		height: 20px;
		clear: both;
	}

	.profile {
		font-weight: bold;
		color: #337ab7;
	}

	.el-card {
		border: solid 1px #8cc5ff;
	}

	.information {
		color: #409EFF;
	}

	.breakdown-table {
    	border-collapse:collapse;
    	width: 100%;
    }

    .breakdown-table td {
    	border-top: 2px solid #e7eaec;
    	padding: 10px;
    }

  	.breakdown-description {
  		text-align: left;
  		width:60%;
  	}

  	.breakdown-amount {
  		color: #409eff;
  		text-align: right;
  		width: 40%;
  	}

  	.breakdown-no-data {
  		text-align: center;
  	}
</style>
