<template>
	<div>

	    <div class="inner-container">
	    	<h1 class="form-title">{{branch.name}}</h1>
			<el-row :gutter="1" class="bottom-spacing">
	            <el-col :span="3">
	            	<el-row :gutter="3" class="bottom-spacing">
	            		<!-- <el-col :span="2">
	            		</el-col> -->
	            		<el-col :span="22">
	            			<div class="label">
	            				<p>{{ $t('Common.cost') }}
		            				<el-button type="primary" icon="el-icon-plus" circle size="mini" class="settings-btn" @click="$parent.$parent.$parent.showBreakdownDialog('cost', branch.id)" style="float: right"></el-button>
	            				</p>
	            			</div>

	            			<div>
	            				<el-popover
								    placement="right"
								    :title="$t('Service.breakdown')"
								    width="200"
								    trigger="hover"
								    :visible-arrow="true">
		            				<el-form-item prop="cost" slot="reference">
				                        <el-input type="number" placeholder="0.00" v-model="form.cost" readonly></el-input>
				                    </el-form-item>

  									<table class="breakdown-table">
  										<tr v-for="breakdown in costBreakdowns">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="costBreakdowns.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table>
				                </el-popover>
	            			</div>
	            		</el-col>
<!-- 	            		<el-col :span="5">
	            			
	            		</el-col> -->
	            	</el-row>
	            </el-col>
	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>
	            <el-col :span="3">
	            	<el-row :gutter="3" class="bottom-spacing">
	            		<!-- <el-col :span="6">
	            		</el-col> -->
	            		<el-col :span="22">
	            			<div class="label">
	            				<p>{{ $t('Common.charge') }}
	            					<el-button type="primary" icon="el-icon-plus" circle size="mini" class="settings-btn" @click="$parent.$parent.$parent.showBreakdownDialog('charge', branch.id)"></el-button>
	            				</p>
	            			</div>
	            			<div>
	            				<el-popover
								    placement="right"
								    :title="$t('Service.breakdown')"
								    width="200"
								    trigger="hover">
		            				<el-form-item prop="charge" slot="reference">
				                        <el-input type="number" placeholder="0.00" v-model="form.charge" readonly></el-input>
				                    </el-form-item>
				                    <table class="breakdown-table">
  										<tr v-for="breakdown in chargeBreakdowns">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="chargeBreakdowns.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table>
				                </el-popover>
	            			</div>
	            		</el-col>
	            		<!-- <el-col :span="5">
	            			
	            		</el-col> -->
	            	</el-row>
	            </el-col>
	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>
	            <el-col :span="3">
	            	<el-row :gutter="3" class="bottom-spacing">
	            		<!-- <el-col :span="6">
	            		</el-col> -->
	            		<el-col :span="22">
	            			<div class="label">
	            				<p>{{ $t('Common.tip') }}
	            					<el-button type="primary" icon="el-icon-plus" circle size="mini" class="settings-btn" @click="$parent.$parent.$parent.showBreakdownDialog('tip', branch.id)"></el-button>
	            				</p>
	            			</div>
	            			<div>
	            				<el-popover
								    placement="right"
								    :title="$t('Service.breakdown')"
								    width="200"
								    trigger="hover">
		            				<el-form-item prop="tip" slot="reference">
				                        <el-input type="number" placeholder="0.00" v-model="form.tip" readonly></el-input>
				                    </el-form-item>
				                    <table class="breakdown-table">
  										<tr v-for="breakdown in tipBreakdowns">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="tipBreakdowns.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table>
				                </el-popover>
	            			</div>
	            		</el-col>
	            		<!-- <el-col :span="5">
	            			
	            		</el-col> -->
	            	</el-row>
	            </el-col>
	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>
	            <el-col :span="3">
	            	<el-row :gutter="3" class="bottom-spacing">
	            		<!-- <el-col :span="10">
	            		</el-col> -->
	            		<el-col :span="22">
	            			<div class="label">
	            				<span>Agent's<br> Commission </span>
	            			</div>
	            			<div>
	            				<el-form-item prop="com_agent">
			                        <el-input type="number" placeholder="0.00" v-model="form.com_agent" :disabled="serviceProfileType == 'default'"></el-input>
			                    </el-form-item>
	            			</div>
	            		</el-col>
	            	</el-row>
	            </el-col>
	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>
	            <el-col :span="3">
	            	<el-row :gutter="3" class="bottom-spacing">
	            		<!-- <el-col :span="10">
	            		</el-col> -->
	            		<el-col :span="22">
	            			<div class="label">
	            				<span>Client's <br> Commission</span>
	            			</div>
	            			<div>
	            				<el-form-item prop="com_client">
			                        <el-input type="number" placeholder="0.00" v-model="form.com_client" :disabled="serviceProfileType == 'default'"></el-input>
			                    </el-form-item>
	            			</div>
	            		</el-col>
	            	</el-row>
	            </el-col>

	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>
	            <el-col :span="3">
	            	<el-row :gutter="3" class="bottom-spacing">
	            		<!-- <el-col :span="10">
	            		</el-col> -->
	            		<el-col :span="22">
	            			<div class="label">
	            				<p>Total Price</p>
	            			</div>
	            			<div>
	            				<el-form-item prop="com_client">
			                        <el-input type="number" placeholder="0.00" v-model="form.total" :disabled="serviceProfileType == 'default'"></el-input>
			                    </el-form-item>
	            			</div>
	            		</el-col>
	            	</el-row>
	            </el-col>
	        </el-row>
	        <div class="border-line"></div>
		</div>
	</div>
</template>
<script>
export default {
  	name: 'service-form',

  	props: ['branch', 'costs', 'serviceProfileType'],

  	data () {
    	return {
      		form: {
		        cost: 0,
		        charge: 0,
		        tip: 0,
		        com_agent: 0,
		        com_client: 0,
		        branch_id: this.branch.id,
		        total: 0,
	      	},

	      	breakdowns: []
    	}
  	},

  	watch: {
  		costs: {
  			deep: true,
    		immediate: true, 
    		handler (newValue, oldValue) {
    			let serviceProfileCosts = newValue;

    			if (newValue && newValue !== oldValue && serviceProfileCosts != undefined) {
	      			let branchId = this.branch.id;

	      			serviceProfileCosts.map(serviceProfileCost => {
	      				if( serviceProfileCost.branch_id == branchId ) {
	      					this.form = {
	      						cost: serviceProfileCost.cost,
							    charge: serviceProfileCost.charge,
							    tip: serviceProfileCost.tip,
							    com_agent: serviceProfileCost.com_agent,
							    com_client: serviceProfileCost.com_client,
							    branch_id: branchId,
	      					};
	      					this.form.total = parseFloat(this.form.cost) + parseFloat(this.form.charge) + parseFloat(this.form.tip) + parseFloat(this.form.com_agent) + parseFloat(this.form.com_client);

	      					this.breakdowns = serviceProfileCost.breakdowns;
	      				}
	      			});
    			}
    		}
  		}
	},

	computed: {
    	costBreakdowns: function () {
      		return this.breakdowns.filter(b => b.type == 'cost');
    	},
    	chargeBreakdowns: function () {
      		return this.breakdowns.filter(b => b.type == 'charge');
    	},
    	tipBreakdowns: function () {
      		return this.breakdowns.filter(b => b.type == 'tip');
    	},
  	}
}
</script>

<style lang="scss" scoped>
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }

    .form-title {
        font-size: 1.275rem;
        line-height: 0;
        color: #337ab7;
    }

    .inner-container {
        padding-top: 20px;

        .label {
            margin-bottom: 9px;
        }
    }

    .bottom-spacing {
        margin-bottom: 15px;
    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .settings-btn {
    	background-color: #409eff;
    	border-color: #409eff;
    	margin-top: -5px;
    	float: right;
    }

    .divider {
    	margin-top: 10px;
    	text-align:center;
    }

    .breakdown-table {
    	border-collapse:collapse;
    	width: 100%;
    }

    .breakdown-table td {
    	border-top: 2px solid #e7eaec;
    	padding: 10px; 
    }

  	.breakdown-description {
  		text-align: left;
  		width:60%; 
  	}

  	.breakdown-amount {
  		color: #409eff;
  		text-align: right;
  		width: 40%; 
  	}

  	.breakdown-no-data {
  		text-align: center;
  	}

</style>
