<template>
	
	<el-card class="box-card">
  		<div class="text item">

			<el-row :gutter="20">
			  	<el-col :span="6" :offset="18">
			  		<el-select v-model="profileId" :placeholder="$t('Clients.select')" class="pull-right">
					    <el-option
					      	v-for="profile in profiles"
					      	:key="profile.id"
					      	:label="profile.name"
					      	:value="profile.id">
					    </el-option>
					</el-select>
			  	</el-col>

			  	<div class="spacer-20"></div>

			  	<el-col :span="24">
			  		<el-table :data="branches" stripe style="width: 100%">
		    			<el-table-column :label="$t('Branch.branch')">
		    				<template slot-scope="scope">
		    					<span class="branches">{{ scope.row.name }}</span>
		    				</template>
		    			</el-table-column>

		    			<el-table-column :label="$t('Common.cost')" width="150">
			    			<template slot-scope="scope">
			    				<el-popover
								placement="right"
								:title="$t('Service.breakdown')"
								width="200"
								trigger="hover"
								:visible-arrow="true">

			    					<span slot="reference">
			    						{{ scope.row.cost }}
			    						<span class="information"><i class="el-icon-info"></i></span>
			    					</span>

			    					<table class="breakdown-table">
  										<tr v-for="breakdown in scope.row.cost_breakdown">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="scope.row.cost_breakdown.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table> 

			    				</el-popover>
			    			</template>
		    			</el-table-column>

		    			<el-table-column prop="charge" :label="$t('Common.charge')" width="150">
		    				<template slot-scope="scope">
		    					<el-popover
								placement="right"
								:title="$t('Service.breakdown')"
								width="200"
								trigger="hover"
								:visible-arrow="true">

			    					<span slot="reference">
			    						{{ scope.row.charge }}
			    						<span class="information"><i class="el-icon-info"></i></span>
			    					</span>

			    					<table class="breakdown-table">
  										<tr v-for="breakdown in scope.row.charge_breakdown">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="scope.row.charge_breakdown.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table> 

			    				</el-popover>
		    				</template>
		    			</el-table-column>

		    			<el-table-column prop="tip" :label="$t('Common.tip')" width="150">
		    				<template slot-scope="scope">
		    					<el-popover
								placement="right"
								:title="$t('Service.breakdown')"
								width="200"
								trigger="hover"
								:visible-arrow="true">

			    					<span slot="reference">
			    						{{ scope.row.tip }}
			    						<span class="information"><i class="el-icon-info"></i></span>
			    					</span>

			    					<table class="breakdown-table">
  										<tr v-for="breakdown in scope.row.tip_breakdown">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="scope.row.tip_breakdown.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table> 

			    				</el-popover>
		    				</template>
		    			</el-table-column>

		    			<el-table-column prop="com_agent" :label="$t('Service.agents_commission')"></el-table-column>

		    			<el-table-column prop="com_client" :label="$t('Service.clients_commission')"></el-table-column>
		  			</el-table>
			  	</el-col>
			</el-row>

		</div>
	</el-card>

</template>

<script>
	
	export default {

		name: 'service-profiles-details',

		props: ['serviceId', 'allServiceProfilesDetails'],

		data() {
			return {
				profileId: 0
			}
		},

		computed: {
			serviceProfilesDetails: function () {
				let serviceProfilesDetails = [];

				if( this.allServiceProfilesDetails.length > 0 ) {
					let serviceId = this.serviceId;

					let data = this.allServiceProfilesDetails.filter(aspd => aspd.serviceId == serviceId);

					if( data.length == 1 ) {
						serviceProfilesDetails = data[0].serviceProfilesDetails;
					}
				}

				return serviceProfilesDetails;
		    },

		    profiles: function() {
		    	let profiles = [];

		    	this.serviceProfilesDetails.map(s => {
		    		profiles.push({
		    			id: s.id,
		    			name: s.name
		    		});
		    	});

		    	return profiles;
		    },

		    branches: function() {
		    	let branches = [];

		    	let profileId = this.profileId;

		    	let data = this.serviceProfilesDetails.filter(s => s.id == profileId);

		    	if( data.length == 1 ) {
		    		branches = data[0].branches;
		    	}

		    	return branches;
		    }
		}

	}

</script>

<style lang="scss" scoped>
	.pull-right {
		float: right;
	}

	.spacer-20 {
		height: 20px;
		clear: both;
	}

	.branches {
		font-weight: bold;
		color: #337ab7;
	}

	.el-card {
		border: solid 1px #8cc5ff;
	}

	.information {
		color: #409EFF;
	}

	.breakdown-table {
    	border-collapse:collapse;
    	width: 100%;
    }

    .breakdown-table td {
    	border-top: 2px solid #e7eaec;
    	padding: 10px; 
    }

  	.breakdown-description {
  		text-align: left;
  		width:60%; 
  	}

  	.breakdown-amount {
  		color: #409eff;
  		text-align: right;
  		width: 40%; 
  	}

  	.breakdown-no-data {
  		text-align: center;
  	}
</style>