<template>
	
	<div v-if="selectedServiceProfile == serviceProfile.id">

		<div v-for="branch in form.branches" class="inner-container">
		    <h1 class="form-title">{{ branch.name }}</h1>
			
			<el-row :gutter="5" class="bottom-spacing">

				<!-- Cost -->
				<el-col :span="4">
	            	<el-row :gutter="5" class="bottom-spacing">
	            		<el-col :span="6">
	            			<div class="label"><p>{{ $t('Common.cost') }}</p></div>
	            		</el-col>
	            		<el-col :span="13">
	            			<div>
	            				<el-popover
								    placement="right"
								    :title="$t('Service.breakdown')"
								    width="200"
								    trigger="hover"
								    :visible-arrow="true">
		            				<el-form-item slot="reference">
				                        <el-input type="number" placeholder="0.00" v-model="branch.totalCosts" readonly></el-input>
				                    </el-form-item>

  									<table class="breakdown-table">
  										<tr v-for="breakdown in branch.costs">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="branch.costs.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table>
				                </el-popover>
	            			</div>
	            		</el-col>
	            		<el-col :span="5">
	            			<el-button type="primary" icon="el-icon-plus" circle size="mini" class="settings-btn" @click="$parent.$parent.$parent.showBreakdownDialog(
	            				'cost', 
	            				{
	            					serviceProfileId: serviceProfile.id,
	            					branchId: branch.id,
	            					breakdown: branch.costs,
	            					field: 'costs',
	            					totalField: 'totalCosts'
	            				}
	            			)"></el-button>
	            		</el-col>
	            	</el-row>
	            </el-col>
	            <!-- End Cost -->

	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>

	            <!-- Charge -->
	            <el-col :span="4">
	            	<el-row :gutter="5" class="bottom-spacing">
	            		<el-col :span="6">
	            			<div class="label"><p>{{ $t('Clients.charge') }}</p></div>
	            		</el-col>
	            		<el-col :span="13">
	            			<div>
	            				<el-popover
								    placement="right"
								    :title="$t('Service.breakdown')"
								    width="200"
								    trigger="hover">
		            				<el-form-item slot="reference">
				                        <el-input type="number" placeholder="0.00" v-model="branch.totalCharges" readonly></el-input>
				                    </el-form-item>
				                    <table class="breakdown-table">
  										<tr v-for="breakdown in branch.charges">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="branch.charges.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table>
				                </el-popover>
	            			</div>
	            		</el-col>
	            		<el-col :span="5">
	            			<el-button type="primary" icon="el-icon-plus" circle size="mini" class="settings-btn" @click="$parent.$parent.$parent.showBreakdownDialog(
	            				'charge', 
	            				{
	            					serviceProfileId: serviceProfile.id,
	            					branchId: branch.id,
	            					breakdown: branch.charges,
	            					field: 'charges',
	            					totalField: 'totalCharges'
	            				}
	            			)"></el-button>
	            		</el-col>
	            	</el-row>
	            </el-col>
	            <!-- End Charge -->

	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>

	            <!-- Tip -->
	            <el-col :span="4">
	            	<el-row :gutter="5" class="bottom-spacing">
	            		<el-col :span="6">
	            			<div class="label"><p>{{ $t('Common.tip') }}</p></div>
	            		</el-col>
	            		<el-col :span="13">
	            			<div>
	            				<el-popover
								    placement="right"
								    :title="$t('Service.breakdown')"
								    width="200"
								    trigger="hover">
		            				<el-form-item slot="reference">
				                        <el-input type="number" placeholder="0.00" v-model="branch.totalTips" readonly></el-input>
				                    </el-form-item>
				                    <table class="breakdown-table">
  										<tr v-for="breakdown in branch.tips">
  											<td class="breakdown-description">
  												{{ breakdown.description }}
  											</td>
  											<td class="breakdown-amount">
  												{{ breakdown.amount }}
  											</td>
  										</tr>
  										<tr v-if="branch.tips.length == 0">
  											<td class="breakdown-no-data">{{ $t('Common.no_data_found') }}</td>
  										</tr>
  									</table>
				                </el-popover>
	            			</div>
	            		</el-col>
	            		<el-col :span="5">
	            			<el-button type="primary" icon="el-icon-plus" circle size="mini" class="settings-btn" @click="$parent.$parent.$parent.showBreakdownDialog(
	            				'tip', 
	            				{
	            					serviceProfileId: serviceProfile.id,
	            					branchId: branch.id,
	            					breakdown: branch.tips,
	            					field: 'tips',
	            					totalField: 'totalTips'
	            				}
	            			)"></el-button>
	            		</el-col>
	            	</el-row>
	            </el-col>
	            <!-- End Tip -->

	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>

	            <!-- Agent's Commission -->
	            <el-col :span="4">
	            	<el-row :gutter="5" class="bottom-spacing">
	            		<el-col :span="10">
	            			<div class="label"><span>{{ $t('Service.agents_commission') }}</span></div>
	            		</el-col>
	            		<el-col :span="14">
	            			<div>
	            				<el-form-item>
			                        <el-input type="number" placeholder="0.00" v-model="branch.com_agent" :disabled="serviceProfile.type == 'default'"></el-input>
			                    </el-form-item>
	            			</div>
	            		</el-col>
	            	</el-row>
	            </el-col>
	            <!-- End Agent's Commission -->

	            <el-col :span="1" class="divider">
	            	<el-divider direction="vertical"></el-divider>
	            </el-col>

	            <!-- Client's Commission -->
	            <el-col :span="4">
	            	<el-row :gutter="5" class="bottom-spacing">
	            		<el-col :span="10">
	            			<div class="label"><span>{{ $t('Service.clients_commission') }}</span></div>
	            		</el-col>
	            		<el-col :span="14">
	            			<div>
	            				<el-form-item>
			                        <el-input type="number" placeholder="0.00" v-model="branch.com_client" :disabled="serviceProfile.type == 'default'"></el-input>
			                    </el-form-item>
	            			</div>
	            		</el-col>
	            	</el-row>
	            </el-col>
	            <!-- End Client's Commission -->

			</el-row>
		</div>

	</div>

</template>

<script>
	
	export default {

		name: 'service-pricing-form-v2',

		props: ['serviceProfile', 'selectedServiceProfile'],

		data() {
			return {
				form: {
					service_profile_id: null,
					branches: []
				}
			}
		},

		watch: {
		  	serviceProfile: {
		    	immediate: true,
		    	handler(value) {
		      		let serviceProfile = value;

		      		this.form.service_profile_id = serviceProfile.id;

		      		this.form.branches = serviceProfile.branches.map(branch => {
		      			return {
		      				id: branch.id,
		      				name: branch.name,
		      				costs: branch.cost_breakdown,
		      				totalCosts: branch.cost,
		      				charges: branch.charge_breakdown,
		      				totalCharges: branch.charge,
		      				tips: branch.tip_breakdown,
		      				totalTips: branch.tip,
		      				com_agent: branch.com_agent,
		      				com_client: branch.com_client
		      			}
		      		});
		    	}
		  }
		}

	}

</script>

<style lang="scss" scoped>
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }

    .form-title {
        font-size: 1.275rem;
        line-height: 0;
        color: #337ab7;
    }

    .inner-container {
        padding-top: 20px;

        .label {
            margin-bottom: 5px;
        }
    }

    .bottom-spacing {
        margin-bottom: 15px;
    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .settings-btn {
    	background-color: #409eff;
    	border-color: #409eff;
    	margin-top: 7px;
    }

    .divider {
    	margin-top: 10px;
    	text-align:center;
    }

    .breakdown-table {
    	border-collapse:collapse;
    	width: 100%;
    }

    .breakdown-table td {
    	border-top: 2px solid #e7eaec;
    	padding: 10px; 
    }

  	.breakdown-description {
  		text-align: left;
  		width:60%; 
  	}

  	.breakdown-amount {
  		color: #409eff;
  		text-align: right;
  		width: 40%; 
  	}

  	.breakdown-no-data {
  		text-align: center;
  	}

</style>