<template>

    <div>

        <div class="heading">
            <h1 class="title">
                {{ $t('Service.add_new_procedure') }}
                <span id="service-name">{{ serviceName }}</span>
            </h1>
        </div>

        <el-card class="box-card" shadow="never">
            <div class="text item">

                <el-form ref="procedure-form" :model="form" :rules="rules">

                    <el-row :gutter="10">
                        <el-col :span="2">
                            <div class="label">{{ $t('Reports.step') }}</div>
                            <div>
                                <el-form-item>
                                    <el-input :placeholder="$t('Reports.step')" v-model="step" disabled></el-input>
                                </el-form-item>
                            </div>
                        </el-col>

                        <el-col :span="10">
                            <div class="label">{{ $t('Common.action') }}</div>
                            <div>
                                <el-form-item prop="action_id">
                                    <el-select :placeholder="$t('Clients.select')" width="100%" v-model="form.action_id" @change="getCategories" filterable>
                                        <el-option
                                            v-for="action in actions"
                                            :label="action.name"
                                            :value="action.id">
                                            <!-- v-if="action.id != 3 && action.id != 7 && action.id != 10 && action.id != 11 && action.id != 7 && action.id != 10 && action.id != 11 && action.id != 12 && action.id != 13 && action.id != 14"-->
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </el-col>

                        <el-col :span="2">
                            <div class="label">{{ $t('Service.preposition') }}</div>
                            <div>
                                <el-form-item prop="preposition">
                                    <el-select :placeholder="$t('Clients.select')" width="100%" v-model="form.preposition">
                                        <el-option
                                            v-for="prep in prepositions"
                                            :label="prep.label"
                                            :value="prep.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </el-col>

                        <el-col :span="10">
                            <div class="label">{{ $t('Service.category') }}</div>
                            <div>
                                <el-form-item prop="category_id">
                                    <el-select :placeholder="$t('Clients.select')" width="100%" v-model="form.category_id" filterable>
                                        <el-option
                                            v-for="category in categories"
                                            :label="category.name"
                                            :value="category.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>

                    <el-row :gutter="10">
                        <el-col :span="3">
                            <el-form-item prop="is_required">
                                <el-checkbox v-model="form.is_required">
                                    {{ $t('Group.is_required') }}
                                </el-checkbox>
                             </el-form-item>
                        </el-col>

                        <el-col :span="4">
                            <el-form-item prop="hasPreRequisiteStep">
                                <el-checkbox v-model="hasPreRequisiteStep" @change="toggleHasPreRequisiteStep">
                                    {{ $t('Service.has_pre_requisite_step') }}
                                </el-checkbox>
                            </el-form-item>
                        </el-col>

                        <el-col :span="3">
                            <el-form-item prop="hasDocuments">
                                <el-checkbox v-model="hasDocuments" @change="toggleHasDocuments">
                                    {{ $t('Service.has_docs') }}
                                </el-checkbox>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row v-if="hasPreRequisiteStep" :gutter="10">
                        <el-col :span="12">
                            <div class="label">{{ $t('Service.pre_requisite_step') }}</div>
                            <div>
                                <el-form-item prop="required_service_procedure">
                                    <el-select v-model="form.required_service_procedure" :placeholder="$t('Clients.select')">
                                        <el-option-group :label="$t('Reports.req_procedures')">
                                            <el-option
                                                v-for="procedure in serviceProcedures"
                                                :key="procedure.id"
                                                :label="$t('Reports.step') + procedure.step + ': ' + procedure.name"
                                                :value="procedure.id">
                                            </el-option>
                                        </el-option-group>

                                        <el-option-group :label="$t('Reports.opt_procedures')">
                                            <el-option
                                                v-for="procedure in optionalServiceProcedures"
                                                :key="procedure.id"
                                                :label="procedure.name"
                                                :value="procedure.id">
                                            </el-option>
                                        </el-option-group>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>

                    <el-row v-if="hasDocuments" :gutter="10">
                        <el-col :span="12">
                            <div class="label">Documents Mode</div>
                            <div>
                                <el-form-item prop="documents_mode">
                                    <el-select v-model="form.documents_mode" placeholder="Select">
                                        <el-option
                                            v-for="mode in modes"
                                            :key="mode.value"
                                            :label="mode.label"
                                            :value="mode.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>

                    <el-row v-if="hasDocuments" :gutter="10">
                        <el-col :span="12">
                            <div class="label">Documents to Display</div>
                            <div>
                                <el-form-item prop="documents_to_display">
                                    <el-select v-model="form.documents_to_display" placeholder="Select">
                                        <el-option
                                            v-for="option in documentsToDisplayOptions"
                                            :key="option.value"
                                            :label="option.label"
                                            :value="option.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>

                    <el-row v-if="hasDocuments" :gutter="10">
                        <el-col :span="12">
                            <div>
                                <el-form-item prop="is_suggested_count">
                                    <el-checkbox v-model="form.is_suggested_count">
                                        Use Suggested Count
                                    </el-checkbox>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>

                    <el-row :gutter="10">
                        <el-col :span="12">
                            <div class="label">{{ $t('Service.status_upon_completion') }}</div>
                            <div>
                                <el-form-item prop="status_upon_completion">
                                    <el-select v-model="form.status_upon_completion" :placeholder="$t('Clients.select')">
                                        <el-option
                                            v-for="status in statuses"
                                            :label="status.label"
                                            :value="status.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>

                    <el-row :gutter="30">
                        <el-col :span="24">
                            <router-link :to="{ name: 'service-procedures', params: { service_id: form.service_id }}">
                                <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
                            </router-link>
                            <el-button type="primary" @click="onSubmit('procedure-form')">
                                {{ $t('Common.save') }}
                            </el-button>
                        </el-col>
                    </el-row>

                </el-form>

            </div>
        </el-card>

    </div>

</template>

<script>

    export default {

        name: 'add-service-procedure',

        data() {
            return {
                form: {
                    service_id: this.$route.params.service_id,
                    name: null,
                    preposition: null,
                    action_id: null,
                    category_id: null,
                    is_required: false,
                    required_service_procedure: null,
                    status_upon_completion: null,
                    documents_mode: null,
                    documents_to_display: null,
                    is_suggested_count: false
                },

                rules: {
                    action_id: [
                        { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Common.action')) }
                    ],
                    category_id: [
                        { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Service.category')) }
                    ],
                    required_service_procedure: [
                        { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Service.pre_requisite')) }
                    ],
                    documents_mode: [{ required: true, message: 'Documents mode is required.'}],
                    documents_to_display: [{ required: true, message: 'Documents to display is required.'}]
                },

                prepositions: [
                    { label: 'N/A', value: null },
                    { label: 'at', value: 'at' },
                    { label: 'by', value: 'by' },
                    { label: 'from', value: 'from' },
                    { label: 'in', value: 'in' },
                    { label: 'of', value: 'of' },
                    { label: 'the', value: 'the' },
                    { label: 'to', value: 'to' },
                    { label: 'via', value: 'via' },
                    { label: 'with', value: 'with' }
                ],

                statuses: [
                    { label: this.$t('Service.no_changes'), value: null },
                    { label: this.$t('Service.on_process'), value: 'on process' },
                    { label: this.$t('CPanel.completed'), value: 'complete' },
                    { label: this.$t('Service.released'), value: 'released' },
                    { label: 'Cancelled', value: 'cancelled' },
                    { label: 'Pending/On process', value: 'pending/on process' }
                ],

                modes: [
                    { label: 'Add on hand', value: 'add' },
                    { label: 'Remove on hand', value: 'remove' }
                ],

                documentsToDisplayOptions: [
                    { label: 'Suggested documents', value: 'suggested' },
                    { label: 'On-Hand documents', value: 'on hand' }
                ],

                serviceName: null,

                serviceProcedures: [],

                optionalServiceProcedures: [],

                actions: [],
                categories: [],

                hasDocuments: false,
                hasPreRequisiteStep: false
            }
        },

        methods: {
            getServiceProcedures() {
                let serviceId = this.form.service_id;

                this.$store.dispatch('getServiceProcedures', serviceId)
                    .then(response => {
                        if( response.status == 'Success' ) {
                            let { serviceName, serviceProcedures, optionalServiceProcedures } = response.data;

                            this.serviceName = serviceName;

                            this.serviceProcedures = serviceProcedures;

                            this.optionalServiceProcedures = optionalServiceProcedures;
                        }
                    });
            },

            getActions() {
                this.$store.dispatch('getActions')
                    .then(response => this.actions = response.data.actions);
            },

            getCategories() {
                this.form.category_id = null;

                this.actions.map(action => {
                    if( action.id == this.form.action_id ) this.categories =  action.categories;
                })
            },

            toggleHasPreRequisiteStep(flag) {
                if( !flag ) {
                    this.form.required_service_procedure = null;
                }
            },

            toggleHasDocuments(flag) {
                if( !flag ) {
                    this.form.documents_mode = null;
                    this.form.documents_to_display = null;
                    this.form.is_suggested_count = false;
                }
            },

            _isUniqueName() {
                let count1 = this.serviceProcedures.filter(s => s.name == this.form.name);
                let count2 = this.optionalServiceProcedures.filter(s => s.name == this.form.name);

                return {
                    'status': (count1 == 0 && count2 == 0) ? 'Success' : 'Failed',
                    'message': (count1 == 0 && count2 == 0) ? null : this.$t('Service.procedure_already_taken')
                };
            },

            hasErrors() {
                let validations = [this._isUniqueName];

                let errors = validations.filter(v => {
                    if( v().status == 'Failed' ) {
                        setTimeout(() => {
                            this.$message({
                                type: 'error',
                                message: v().message
                            });
                        }, 1);

                        return v;
                    }
                });

                return errors.length > 0;
            },

            getProcedureName() {
                let action = this.actions.filter(a => a.id == this.form.action_id);

                let preposition = this.form.preposition;

                let category = this.categories.filter(c => c.id == this.form.category_id);

                let procedureName = action[0].name + ' ';
                if( preposition ) {
                    procedureName += preposition + ' ';
                }
                procedureName += category[0].name;

                return procedureName;
            },

            onSubmit(form) {
                this.$refs[form].validate((response) => {
                    if( response ) {
                        this.form.name = this.getProcedureName();

                        if( ! this.hasErrors() ) {
                            this.$store.dispatch('addServiceProcedure', this.form)
                                .then(response => {
                                    if (response.status === 'Success') {
                                        this.$message({
                                            showClose: true,
                                            message: this.$t('Service.service_procedure') + this.$t('Common.successfully_added'),
                                            type: 'success',
                                            center: true
                                        });

                                        this.$router.push({
                                            name: 'service-procedures',
                                            params: {
                                                service_id: this.form.service_id
                                            }
                                        });
                                    } else {
                                        const errors = response.errors;

                                        for (const key in errors) {
                                            if (errors.hasOwnProperty(key)) {
                                                const message = errors[key][0];

                                                this.$message({
                                                    type: 'error',
                                                    message: message
                                                });
                                            }
                                        }
                                    }
                                });
                        }
                    }
                });
            },

            replaceName (message, data) {
                return message.replace(':name', data)
            }
        },

        computed: {
            step() {
                if( this.form.is_required == 1 ) {
                    return this.serviceProcedures.length + 1;
                }

                return 'N/A';
            }
        },

        created () {
            this.getServiceProcedures();

            this.getActions();
        }

    }

</script>

<style lang="scss" scoped>
    .box-card {
        margin-bottom: 40px;
    }

    .el-select {
        width: 100%;
    }

    .left-button {
        margin-right: 5px;
    }

    span#service-name {
        display: block;
        font-size: 15px;
        font-style: italic;
        margin-top: 10px;
    }

    .pull-right {
        float: right;
    }

    .inline-header {
        display: inline;
        color: #409EFF;
    }
</style>
