<template>

	<div>

		<div class="heading">
		  	<h1 class="title">
		  		{{ $t('Service.service_procedure') }}
		  		<span id="service-name">{{ serviceName }}</span>
		  	</h1>

		   	<router-link :to="{ name: 'list-of-services'}">
	        	<el-button size="small" class="m-10">{{ $t('Common.back') }}</el-button>
	      	</router-link>

		   	<router-link :to="{ name: 'add-service-procedure', params: { service_id: serviceId }}">
		    	<el-button type="primary" size="small" icon="el-icon-plus">
		    		{{ $t('Service.add_new_procedure') }}
		    	</el-button>
		  	</router-link>
		</div>

		<div class="m-b-40">

		    <el-alert
		    	v-if="serviceProcedures.length > 1"
		    	class="m-b-10"
					title="Sort Steps"
					type="success"
					:description="$t('Service.drag_and_drop')"
					show-icon>
			</el-alert>

			<el-table-draggable @drop="handleDrop">
				<el-table ref="table" width="100%" :data="serviceProcedures" v-loading="loading" row-class-name="movable">
					<el-table-column :label="$t('Service.req_procedures')" label-class-name="tbl-header">
						<el-table-column :label="$t('Reports.step')" width="100" align="center">
						   	<template slot-scope="scope">
						      	{{ scope.row.step }}
						    </template>
						</el-table-column>

						<el-table-column :label="$t('Service.procedure')">
							<template slot-scope="scope">
							    {{ scope.row.name }}
							</template>
						</el-table-column>

					    <el-table-column :label="$t('Common.actions')" width="200" align="center">
						    <template slot-scope="scope">
						      	<div class="top">
						            <el-tooltip class="item" effect="dark" :content="$t('Service.edit_procedure')" placement="top-start">
						              	<router-link :to="{ name: 'edit-service-procedure', params: { service_id: serviceId, procedure_id: scope.row.id }}">
						                	<el-button type="success" size="mini" icon="el-icon-edit" class="m-10"></el-button>
						                </router-link>
						            </el-tooltip>

						            <el-tooltip class="item" effect="dark" :content="$t('Service.delete_procedure')" placement="top-end">
						               	<el-button @click="handleDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
						            </el-tooltip>
						        </div>
						    </template>
						</el-table-column>
					</el-table-column>
				</el-table>
			</el-table-draggable>

			<el-button v-if="sorted" @click="saveChanges" type="primary" size="small" icon="el-icon-check" class="pull-right m-t-10 m-b-10">
		    	{{ $t('Service.save_changes') }}
			</el-button>

			<div class="m-t-20"></div>

			<el-table ref="table" width="100%" :data="optionalServiceProcedures" v-loading="loading">
				<el-table-column :label="$t('Service.opt_procedures')" label-class-name="tbl-header">
					<el-table-column :label="$t('Service.procedure')">
						<template slot-scope="scope">
							{{ scope.row.name }}
						</template>
					</el-table-column>

					<el-table-column :label="$t('Common.actions')" width="200" align="center">
						<template slot-scope="scope">
						    <div class="top">
						        <el-tooltip class="item" effect="dark" :content="$t('Service.edit_procedure')" placement="top-start">
						            <router-link :to="{ name: 'edit-service-procedure', params: { service_id: serviceId, procedure_id: scope.row.id }}">
						                <el-button type="success" size="mini" icon="el-icon-edit" class="m-10"></el-button>
						            </router-link>
						        </el-tooltip>

						        <el-tooltip class="item" effect="dark" :content="$t('Service.delete_procedure')" placement="top-end">
						            <el-button @click="handleDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
						        </el-tooltip>
						    </div>
						</template>
					</el-table-column>
				</el-table-column>
			</el-table>

    	</div>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';

	export default {
		name: 'service-procedures',

		components: {
    		ElTableDraggable,
  		},
		
		data () {
			return {
				loading: false,

				serviceId: this.$route.params.service_id,

				serviceName: null,

				serviceProcedures: [],

				optionalServiceProcedures: [],

				sorted: false
			}
		},

		methods:{
			getServiceProcedures() {
				this.loading = true;

				this.$store.dispatch('getServiceProcedures', this.serviceId)
			        .then(response => {
			        	if( response.status == 'Success' ) {
			        		this.loading = false;

			        		let { serviceName, serviceProcedures, optionalServiceProcedures } = response.data;

			        		this.serviceName = serviceName;

			        		this.serviceProcedures = serviceProcedures;

			        		this.optionalServiceProcedures = optionalServiceProcedures;
			        	}
			        });
			},

			handleDelete(row) {
				this.$confirm(this.$t('Branch.delete_branch_message'), this.$t('Branch.warning'), {
		        	confirmButtonText: this.$t('Common.ok'),
		        	cancelButtonText: this.$t('Common.cancel'),
		        	type: 'warning'
		      	}).then(() => {
		      		this.loading = true;

		        	this.$store.dispatch('deleteServiceProcedure', row.id)
			          	.then(response => {
			            	if( response.status == 'Success' ) {
			            		this.getServiceProcedures();

				              	this.$message({
				                	type: 'success',
				                	message: this.$t('Branch.successfully_deleted')
				                });
			              	}
			          });
		      	}).catch(() => {
		        	this.$message({
		          		type: 'info',
		          		message: this.$t('Branch.delete_canceled')
		        	})
		      	});
			},

			handleDrop(e) {
				let newItems = e.list;

				this.sorted = false;

				newItems.map((item, index) => {
					if( item.step != (index+1) ) {
						this.sorted = true;
					}
				});
			},

			saveChanges() {
				let data = { service_procedures: this.serviceProcedures };

				this.$store.dispatch('sortServiceProcedures', data)
                    .then(response => {
                    	this.sorted = false;
                    	
                        if (response.status === 'Success') {
                        	this.getServiceProcedures();

                            this.$message({
                                showClose: true,
                                message: this.$t('Service.service_procedure') + this.$t('Common.successfully_added'),
                                type: 'success',
                                center: true
                            });
                        } else {
                            const errors = response.errors;

                            for (const key in errors) {
                                 if (errors.hasOwnProperty(key)) {
                                    const message = errors[key][0];

                                    this.$message({
                                        type: 'error',
                                        message: message
                                    });
                                }
                            }
                        }
                    });
			}
		},

		created() {
			this.getServiceProcedures();
		}
	}
</script>

<style lang="scss">
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

  	.movable {
  		cursor: move;
  	}

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #24313c;
  		font-size: 16px;
  	}

  	.m-b-40 {
  		margin-bottom: 40px;
  	}
</style>