<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
      <div>
        <el-form-item
          label="Preset Name"
          prop="preset_name"
          :rules="[
            { required: true, message: 'Preset name is required.' }
          ]"
        >
          <el-input type="text" v-model.proj_name="form.preset_name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Preset Type"
            prop="type"
            :rules="[
              { required: true, message: 'Preset type is required.' }
            ]"
          >
            <!-- <el-select v-model="form.type" filterable placeholder="Select Type">
                <el-option label="masonry" value="masonry"></el-option>
                <el-option label="walling" value="walling"></el-option>
                <el-option label="electrical" value="electrical"></el-option>
                <el-option label="painting" value="painting"></el-option>
            </el-select> -->
            <el-select v-model="form.type" clearable filterable placeholder="Select Type">
                <el-option
                    v-for="s in types"
                    :key="s.value"
                    :label="s.value"
                    :value="s.value">
                  </el-option>
            </el-select>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
      <div>
        <el-form-item
          label="Preset Chinese Name"
          prop="preset_name_ch"
        >
          <el-input type="text" v-model.proj_name="form.preset_name_ch" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Preset Unit"
            prop="type"
            :rules="[
              { required: true, message: 'Preset unit is required.' }
            ]"
          >
            <el-select v-model="form.unit" filterable placeholder="Select Unit">
                <el-option label="sqm" value="sqm"></el-option>
                <el-option label="cbm" value="cbm"></el-option>
                <el-option label="lm" value="lm"></el-option>
                <el-option label="set" value="set"></el-option>
            </el-select>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End Second Row -->


    <!-- Fifth Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
          <el-form-item prop="desc" label="Description">
                <el-input
                  type="textarea"
                  :rows="3"
                  v-model="form.desc"
                  resize="none">
                </el-input>
              </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Fifth Row -->

    <!-- Fifth Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
          <el-form-item prop="desc_ch" label="Chinese Description">
                <el-input
                  type="textarea"
                  :rows="3"
                  v-model="form.desc_ch"
                  resize="none">
                </el-input>
              </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Fifth Row -->

  <el-form-item>

    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-group',
  data () {
    return {
      form: {
        preset_name: '',
        preset_name_ch: '',
        desc: '',
        desc_ch: '',
        type: '',
        unit: '',
      },
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,

      types: [
        { value: 'AUX' }, 
        { value: 'AAA - Customize Item' }, 
        { value: 'ACU' },
        { value: 'ACU Accessory' }, 
        { value: 'ACU Insulation' },  
        { value: 'Appliances' }, 
        { value: 'Baseboard' }, 
        { value: 'Bio Lock' }, 
        { value: 'Board' }, 
        { value: 'Carpentry' }, 
        { value: 'CCTV' }, 
        { value: 'Ceiling' }, 
        { value: 'China - Alum Sliding Doors' }, 
        { value: 'China - Modular' }, 
        { value: 'China - Others' }, 
        { value: 'China - Vanity' }, 
        { value: 'China - Wooden Doors' }, 
        { value: 'Civil' }, 
        { value: 'Cleaning' }, 
        { value: 'Consumables' }, 
        { value: 'Curtain' }, 
        { value: 'Decor' }, 
        { value: 'Demolition' }, 
        { value: 'Doors + Accessories' }, 
        { value: 'Drywall' }, 
        { value: 'Electrical' }, 
        { value: 'Electrical Wires' }, 
        { value: 'Equipment & Power Tools' }, 
        { value: 'Furnitures' }, 
        { value: 'Garden' }, 
        { value: 'Hand Tools' }, 
        { value: 'Hangers' }, 
        { value: 'Hardware / Depot' }, 
        { value: 'Installation' }, 
        { value: 'Laminated Flooring' }, 
        { value: 'Lighting Fixtures' }, 
        { value: 'Masonry' }, 
        { value: 'Painting' }, 
        { value: 'Panelboard' }, 
        { value: 'Plumbing' }, 
        { value: 'Plumbing Fixtures' }, 
        { value: 'PPR' }, 
        { value: 'Sanitary' }, 
        { value: 'Site Document' }, 
        { value: 'Sound System' }, 
        { value: 'Stainless' }, 
        { value: 'Stainless Cladding' }, 
        { value: 'Subcon - Acu' },
        { value: 'Subcon - Exhaust + Fresh Air' },
        { value: 'Subcon - Fdas ' },
        { value: 'Subcon - Fire Suppression' },
        { value: 'Subcon - Gas' },
        { value: 'Subcon - Glass' },
        { value: 'Subcon - Kitchen Equipment' },
        { value: 'Subcon - Roll Up' },
        { value: 'Subcon - Sigange' },
        { value: 'Subcon - Srpinkler' },
        { value: 'Switch + Outlet' },
        { value: 'Tiling' },
        { value: 'Tools' },
        { value: 'Uncategorized' },
        { value: 'Upholstery' },
        { value: 'Vanity' },
        { value: 'Walling' },
        { value: 'Wall Paper' },
        { value: 'Water Proofing' },
        { value: 'Welding' },
        { value: 'Wooden Flooring' },
      ],
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {

    //this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

  },

  mounted() {},

  methods: {
    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

      // you can add rules for validations
      return this.$store.dispatch('addeditPreset', { method: 'add', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('syncPresetData');
        }else{

          console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
