<template>
  <div class="form-container">
    <el-form ref="edit_group_service_form"  :rules="rules" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
      <el-row :gutter="20" class="form-container">
        <!-- <el-col :span="3">
          <div class="label">Status</div>
        </el-col> -->
        <el-col :span="24">
          <div class="label">{{ $t('Common.status') }}</div>
          <el-row :gutter="20">
            <el-col :span="6" :xl="6" :lg="6" :md="8" :sm="12" :xs="24">
              <el-form-item prop="active" style="margin-top: -10px;">
                <el-radio v-model="form.active" label="0">{{ $t('Common.disabled') }}</el-radio>
                <el-radio v-model="form.active" label="1">{{ $t('Common.enabled') }}</el-radio>
              </el-form-item>
            </el-col>

            <el-col :span="6" :xl="6" :lg="6" :md="8" :sm="12" :xs="24">
              <el-form-item prop="status">
                <el-select v-model="form.status" :placeholder="$t('Clients.select')">
                  <el-option
                    v-for="s in status"
                    :label="s"
                    :value="s">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>

      <el-row :gutter="20" class="form-container">
        <el-col :span="6" :xs="12">
          <div class="label">{{ $t('Clients.charge') }}</div>
          <el-form-item prop="charge" style="width: 100%;">
            <el-input-number style="width: 100%;" v-model="form.charge"  :disabled="true" :controls="controls"></el-input-number>
          </el-form-item>
        </el-col>

        <el-col :span="6" :xs="12">
          <div class="label">{{ $t('Clients.extra_cost') }}</div>
          <el-form-item prop="tip">
            <el-input-number v-model="form.tip" class="smallInput" :disabled="!this.payloadData.hasSameTip" :controls="controls" ></el-input-number>
          </el-form-item>
        </el-col>

        <el-col :span="6" :xs="12">
          <div class="label">{{ $t('Clients.cost') }}</div>
          <el-form-item prop="cost">
            <el-input-number v-model="form.cost" class="smallInput" :disabled="!this.payloadData.hasSameCost" :controls="controls"></el-input-number>
          </el-form-item>
        </el-col>

        <el-col :span="6" :xs="12">
          <div class="label">{{ $t('Common.discount') }}</div>
          <el-form-item prop="discount">
            <el-input-number v-model="form.discount" class="smallInput" :controls="controls"  :disabled="!this.payloadData.hasSameDiscount"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="20" class="form-container" v-if="form.discount > 0">
        <el-col :span="24">
          <div class="label">{{ $t('Common.reason') }}</div>
          <el-form-item prop="reason">
            <el-input v-model="form.reason"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="20" class="form-container" >
        <el-col :span="24">
          <div class="label">{{ $t('Clients.note') }}</div>
          <el-form-item prop="note" >
            <el-input v-model="form.note" :placeholder="$t('Clients.only_emp_can_see')"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <div class="align-right">
        <el-button class="add-button" type="primary"  size="mini" @click="eventBack">{{ $t('Common.back') }}</el-button>
        <el-button class="add-button" type="primary" @click="onEditServices('edit_group_service_form')">{{ $t('Common.save') }}</el-button>
      </div>

    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'edit-client-service',
  props: {

  },
  components: {

  },

  computed: mapGetters({
    groups: 'groups'
  }),

  data () {

    var isDiscountNotEmpty = (rule, value, callback) => {
      if(this.form.discount !== null && this.form.discount !== "" && this.form.discount > 0 && this.form.reason == "") {
        callback(new Error(this.$t('Clients.err_discount')))
      } else {
        callback()
      }
    }

    return {
      status : ['complete','on process','pending'],
      controls : false,
      disableField: true,
      servicesData: [],
      payloadData: Object,

      // parent_id : 0,
      form: {
        group_id: '',
        cs_id: '',
        note: '',
        tip: '',
        charge: '',
        cost: '',
        discount: '',
        remarks: '',
        status: '',
        active: '1',
        extend: '',
        tracking: '',
        parent_id: '',
        services: []
      },

      rules: {
        reason: [
          { validator: isDiscountNotEmpty, trigger: 'blur'},
        ]
      },

      errors: []

    }
  },
  created () {
    let vm = this;
    let payload = this.groups.client_selected_services;
    let group = this.groups.group;
    this.payloadData = this.groups.client_selected_services;
    let data = payload.data;
    this.services = payload.serviceIds;
    this.form.group_id = group.group_id;
    this.form.tip = (payload.hasSameTip) ? data[0].tip : '';
    this.form.charge = (payload.hasSameCharge) ? data[0].charge: '';
    this.form.cost = (payload.hasSameCost) ? data[0].cost : '';
    this.form.remarks = data[0].remarks;
    this.form.status = (payload.hasSameStatus) ? data[0].status : '';
    this.form.discount = (payload.hasSameDiscount) ? data[0].discount : '';
    this.form.note = data[0].note;
  },

  mounted() {

  },

  methods: {
    onEditServices (clientForm) {
      this.errors = [];
      this.$refs[clientForm].validate((response) => {

        if(response) {
          this.$store.dispatch('editGroupServices', {
            tip: (this.payloadData.hasSameTip) ? this.form.tip : null,
            charge: (this.payloadData.hasSameCharge) ? this.form.charge : null,
            cost: (this.payloadData.hasSameCost) ? this.form.cost : null,
            remarks: this.form.note,
            reason: this.form.reason,
            discount: this.form.discount,
            status: this.form.status,
            active: this.form.active,
            services: this.services,
            group_id: this.$route.params.id
          })
          .then(res => {

            if(res.code === 200) {
              this.$message({
                showClose: true,
                message: "Service "+this.$t('Common.successfully_updated'),
                type: 'success',
                center: true
              })
              setTimeout(() => {
                this.$parent.$emit('close')
                this.$eventBus.$emit('refreshTable');
                this.$eventBus.$emit('syncGroupData');
              }, 1000)

            } else {
              this.$message({
                showClose: true,
                message: this.$t('Common.error_saving_data'),
                type: 'error',
                center: true
              })
            }
          })
        }
      })
    },

    async eventBack(){
      this.$eventBus.$emit('changeStep',1);
    }
  }

}
</script>

<style lang="scss">
  .add-button-container {
    margin-bottom: 40px;
  }

  .input-width {
    width: 100%;
  }

  .add-button {
    background-color: #409eff;
    border-color: #409eff;
    padding: 9px 15px;
  }

  .add-button:hover {
    background: #66b1ff;
    border-color: #66b1ff;
  }

  .hide {
    opacity: 0;
  }

  .form-container {
    margin-bottom: 0px;
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }

  .smallInput{
    // width: 160px;
    width: 100%;
  }

  .el-input-number .el-input input{
    text-align: left;
  }

  .smallInput .el-input__inner{
    // width: 180px;
    width: 100%;
  }

  #longError .el-form-item__error{
    // width: 180px;
    word-break: break-word;
    margin-bottom: 5px;
  }

  .el-form--inline .el-form-item {
    width: 100%;

    .el-input-number {
      width: 100%;
    }
  }

  .el-form--inline .el-form-item__content {
    width: 100%;
  }
</style>
