<template>
  <div>
  	<div ref="payments-list">
	    <div class="heading">
	      <h1 class="title">Payments</h1>
	    </div>
	    <div class="container-margin">
        <el-tabs type="border-card" @tab-click="changeTab">

          <el-tab-pane label="PO/BILL/SPC">
              <po-bill ref="poBillPayment"></po-bill>
          </el-tab-pane>
<!-- 
          <el-tab-pane label="SPC">
          </el-tab-pane> -->

          <el-tab-pane label="PAYROLL">
              <payroll ref="payrollPayment"></payroll>
          </el-tab-pane>

        </el-tabs>
      </div>
	</div>
  </div>
</template>

<script>
  import DataTable from '@/components/datatable'
  import PoBill from './components/po-bill'
  import Payroll from './components/payroll'
  // import NewPayment from './components/new-payment'
export default {
  name: 'Payments',
  components: {
      DataTable,
      PoBill,
      Payroll
    },
    data() {
      return {

      }
    },
    created() {
      

    },
    mounted () {
      this.$eventBus.$on('materialRequest', () => {
          this.$refs.materialsRequest.refreshData();
          //this.$store.dispatch('loadClientData');
      });
    },
    methods: {
        changeTab (tab, event) {
	      switch (parseInt(tab.index)) {
	        case 0:
	           this.$refs.poBillPayment.refreshData()
	        break;

	        case 1:
			       // this.$refs.payrollPayment.refreshData()
	        break;

	      }
    	},

    },
}
</script>
