<template>

	<el-row :gutter="20">
		<el-col :span="20" :offset="2">

			<el-card class="box-card m-t-20">
		  		<div slot="header" class="clearfix">
		    		<el-tag class="client-tag" effect="plain">[{{ clientId }}] {{ clientName }}</el-tag>
		    		<el-tag type="info" style="float:right;">{{ $t('Navigation.tracking') }} # {{ tracking }}</el-tag>
		  		</div>
		  		<div class="text item">

						<!-- <div v-if="!ifDifferentServices()"> -->
		  			<template v-if="requiredStepIsNotYetComplete && !ifDifferentServices()">
			  			<el-divider>
			  				<i class="el-icon-star-on"></i>
			  					{{ $t('Reports.req_step_not_complete') }}
			  				<i class="el-icon-star-on"></i>
			  			</el-divider>
			  		</template>
						<!-- </div> -->

		  			<template v-else>
			  			<el-form ref="form" :model="form" :inline-message="true" :inline="true">

			  				<el-row v-if="actionName == 'Released' && categoryName == 'Client'">
			  					<el-col :span="24">
			  						<el-form-item label="Recipient" prop="recipient">
								    	<el-input v-model="form.recipient" placeholder="Enter recipient name" style="width: 400px;"></el-input>
								  	</el-form-item>
			  					</el-col>
			  				</el-row>

			  				<el-row v-if="actionName == 'Released' && categoryName == 'Immigration'">
			  					<el-col :span="24">
			  						<el-form-item label="Expiration Date" prop="exp_date">
							    		<el-select v-model="form.visa_type" placeholder="Visa Type" class="input-with-select" style="width: 125px;">
									      <el-option label="9A" value="9A"></el-option>
									      <el-option label="9G" value="9G"></el-option>
									      <el-option label="TRV" value="TRV"></el-option>
									      <el-option label="CWV" value="CWV"></el-option>
									    </el-select>
								    	<el-date-picker v-model="form.expiration_date" placeholder="Enter expiration date" style="width: 200px;" value-format="yyyy-MM-dd">
								    	</el-date-picker>
								  	</el-form-item>
			  					</el-col>
			  				</el-row>

		                <template v-if=" actionName === 'Filed' && loading === false">
		                  <el-divider v-if="form.documents.length === 0">
		                    <i class="el-icon-star-on"></i>
		                      No on-hand documents
		                    <i class="el-icon-star-on"></i>
		                  </el-divider>
		                </template>

			  				<div v-for="(document, index) in form.documents">
				  				<el-row>
				  					<el-col :span="1" class="center">
					  					<el-button type="danger" size="mini" icon="el-icon-delete" circle @click="handleDeleteDocument(document)"></el-button>
					  				</el-col>

					  				<el-col :span="10">
					  					<div style="margin-top: 4px;">
						  					<span>{{ document.title }}</span>

					  						<span class="text-muted"> (On Hand: {{ document.onHandCount }})</span>
				  						</div>
					  				</el-col>

				  					<el-col :span="13">
				  						<el-form-item
				  							style="margin-top: -10px;"
											:prop="'documents.' + index + '.count'"
											:rules="[
											    {
											      	required: true,
											      	message: 'Field is required.',
											      	trigger: 'blur'
											    },
											    {
											    	validator: validateCount,
											    	trigger: 'blur'
											    }
											]"
										>
											<el-button type="danger" size="small" @click="decrementCount(document)">
					  							<i class="el-icon-minus"></i>
					  						</el-button>

				  							<el-input size="small" :min="0" v-model="document.count"style="width:100px;"></el-input>

				  							<el-button type="primary" size="small" @click="incrementCount(document)">
					  							<i class="el-icon-plus"></i>
					  						</el-button>
				  						</el-form-item>
				  					</el-col>
				  				</el-row>
			  				</div>

			  			</el-form>

			  			<el-row v-if="documentsToDisplay == 'suggested' && additionalDocumentsSelection" :gutter="10" class="m-t-10">
	           				<el-col :span="24">
					  			<el-select v-model="additionalDocumentsSelected" filterable remote :remote-method="setFilter" @visible-change="resetFilter" multiple placeholder="Select">
			                        <!-- <el-option
			                            v-for="document in filteredDocuments"
			                            :key="document.id"
			                            :label="document.title"
			                            :value="document.id"
			                            v-if="document.title.toLowerCase().indexOf(filterValue) != -1 || (document.shorthand_name && document.shorthand_name.toLowerCase().indexOf(filterValue) != -1)">
			                        </el-option> -->
                              <el-option-group
                                v-for="group in groupDocuments"
                                :key="group.label"
                                :label="group.label">
                                      <el-option
                                        v-for="item in group.documents"
                                        :key="item.id"
                                        :label="item.title"
                                        :value="item.id"
                                        v-if="item.title.toLowerCase().indexOf(filterValue) != -1 || (item.shorthand_name && item.shorthand_name.toLowerCase().indexOf(filterValue) != -1)">
                                      </el-option>
                              </el-option-group>
			                    </el-select>
			                </el-col>
			            </el-row>

			            <el-row v-if="documentsToDisplay == 'suggested' && additionalDocumentsSelection" :gutter="10" class="m-t-10">
	           				<el-col :span="24">
	           					<el-button type="primary" size="mini" @click="handleDocumentsSelection">
			                		<i class="el-icon-check"></i> Save
			                	</el-button>
	           				</el-col>
	           			</el-row>

			            <el-row v-if="documentsToDisplay == 'suggested' && !additionalDocumentsSelection" :gutter="10" class="m-t-10">
			            	<el-col :span="24">
			                	<el-button type="primary" size="mini" @click="additionalDocumentsSelection = true">
			                		<i class="el-icon-plus"></i> Add document/s
			                	</el-button>
			                </el-col>
			            </el-row>
		            </template>

		  		</div>
			</el-card>

		</el-col>
	</el-row>

</template>

<script>

	export default {

		name: 'client-services',

		props: ['client_service', 'documents', 'onHandDocuments', 'service_procedure', 'service_procedures', 'clientServiceList'],

		data() {
			return {
				form: {
					id: this.client_service.id,
					recipient: '',
          			documents: null,
          			expiration_date : null,
          			visa_type : null
				},

				additionalDocumentsSelection: false,
				additionalDocumentsSelected: [],

        filterValue: '',


        groupDocuments: [],
        loading: true
			}
		},

		methods: {
			initData() {
				this.form.recipient = '';
				this.form.visa_type = null;
				this.form.expiration_date = null;
      			this.form.documents = [];
      			this.additionalDocumentsSelection = false;
				    this.additionalDocumentsSelected = [];

		        this.service_procedures.map(sp => {
		           	if( sp.id == this.service_procedure ) {
		           		if( sp.documents_to_display == 'suggested' ) {

		           			sp.suggested_documents.map((sd, index) => {
		           				let key = Date.now() + index;
		           				let id = sd.document.id;
		           				let title = sd.document.title;
		           				if( sp.is_suggested_count == 1 ) {
		           					var count = sd.suggested_count;
		           				} else {
		           					var count = null;
											}

		           				let onHandDocument = this.onHandDocumentsList.filter(o => o.document.id == id);
											let onHandCount = onHandDocument.length > 0 ? onHandDocument[0].count : 0;

											 let data = { key, id, title, count, onHandCount };



			            		this.form.documents.push(data);
			            	});

		           		} else if( sp.documents_to_display == 'on hand' ) {

		           			this.onHandDocumentsList.map((o, index) => {
		           				let key = Date.now() + index;
		           				let id = o.document.id;
		           				let title = o.document.title;
		           				var count = null;
		           				if( this.actionName == 'Filed' ) {
		           					sp.suggested_documents.map(sd => {
		           						if( sd.document.id == id ) {
		           							count = sd.suggested_count;
		           						}
		           					});
		           				}
				           		let onHandCount = o.count;

											 let data = { key, id, title, count, onHandCount };


				           		this.form.documents.push(data);
		           			});

									 }


		            }
            });
		   // console.log(this.form.documents);
            
          this.loading = false;
        },

      		setFilter(filterValue) {
      			this.filterValue = filterValue.trim().toLowerCase();
    		},

    		resetFilter() {
    			this.filterValue = '';
    		},

      		handleDeleteDocument(document) {
        		var index = this.form.documents.indexOf(document);

        		if (index !== -1) {
          			this.form.documents.splice(index, 1);
        		}
      		},

      		incrementCount(document) {
      			var index = this.form.documents.indexOf(document);

        		if (index !== -1) {
        			this.form.documents[index].count++;
        		}
      		},

      		decrementCount(document) {
      			var index = this.form.documents.indexOf(document);

        		if (index !== -1) {
        			this.form.documents[index].count--;
        		}
      		},

			handleDocumentsSelection() {
				this.additionalDocumentsSelected.map((a, index) => {
					let id = a;

					let title = this.documents.filter(d => d.id == id)[0].title;

		           	let count = null;

					let onHandDocument = this.onHandDocumentsList.filter(o => o.document.id == id);
					let onHandCount = onHandDocument.length == 1 ? onHandDocument[0].count : 0;

					this.form.documents.push({
		            	key: Date.now() + index,
		            	id,
		            	title,
		            	count,
		            	onHandCount
		            });
				});

				this.additionalDocumentsSelection = false;
				this.additionalDocumentsSelected = [];
			},

			validateCount(rule, value, callback) {
				let actionName = this.actionName;
				let categoryName = this.categoryName;

				if( (value < 0 && actionName != 'Prepared' && categoryName != 'Documents')
					||
					(value < 1 && actionName == 'Prepared' && categoryName == 'Documents')
				) {
	      			callback(new Error('Field is invalid.'));
	      		} else if( String(value).trim().length == 0 || isNaN(value) ) {
	      			callback(new Error('Field must be a number.'));
	      		} else {
					if( this.documentsMode == 'remove' ) {
						let isValid = true;

						let field = rule.fullField;
						let index = parseInt(field.split('.')[1]);

						let document = this.form.documents.filter((d, i) => i == index);

						if( document.length == 1 ) {
							let { id, count } = document[0];

							if( count > 0 ) {
								let onHandDocument = this.onHandDocumentsList.filter(o => o.document.id == id);

								if( onHandDocument.length == 0 || (onHandDocument.length == 1 && count > onHandDocument[0].count) ) {
									isValid = false;
								}
							}
						}

						if( !isValid ) {
							callback(new Error('Field is invalid.'));
						} else {
							callback();
						}
					} else {
						callback();
					}
				}
      },

      getDocuments($client_id) {
				this.$store.dispatch('reportsGetDocumentsById', { id: $client_id })
        			.then(res => {

                let { latestDocuments, otherDocuments } = res.data;

								if(latestDocuments.length > 0){
									var latestDocs = [];
									latestDocuments.map((item, index) => {
											latestDocs.push({title:item.title, id: item.id});
									});
									this.groupDocuments.push({label:'Top Selected Documents', documents: latestDocs});
								}

								if(otherDocuments.length > 0){
									var otherDocs = [];
									otherDocuments.map((item, index) => {
											otherDocs.push({title:item.title, id: item.id});
									});
									this.groupDocuments.push({label:'Other Documents', documents: otherDocs});
								}
					});

			},

			ifDifferentServices() {
					var counter = 0;
					var serviceDetail = this.clientServiceList[0].detail;
					this.clientServiceList.map((item, index) => {
						if(item.detail !== serviceDetail) {
							counter++;
						}
					})

					if(counter > 0) {
						return true
					}

					return false
				}
		},

		computed: {
			testOnly: function() {

			},

			clientId: function() {
				return this.client_service.client.id;
			},

    		clientName: function () {
      			return this.client_service.client.first_name + ' ' + this.client_service.client.last_name;
    		},

    		groupId: function() {
    			return this.client_service.group_id;
    		},

    		serviceId: function() {
    			return this.client_service.service_id;
    		},

    		tracking: function() {
    			return this.client_service.tracking;
    		},

    		status: function() {
    			return this.client_service.status;
    		},

    		selectedServiceProcedure: function() {
    			let selectedServiceProcedure = null;

    			this.service_procedures.map(sp => {
		           	if( sp.id == this.service_procedure ) {
		            	selectedServiceProcedure = sp;
		            }
		        });

    			return selectedServiceProcedure;
    		},

    		actionName: function() {
				let actionName = null;

		        if( this.selectedServiceProcedure ) {
		        	actionName = this.selectedServiceProcedure.action.name;
		        }

				return actionName;
			},

			categoryName: function() {
				let categoryName = null;

		        if( this.selectedServiceProcedure ) {
		        	categoryName = this.selectedServiceProcedure.category.name;
		        }

				return categoryName;
			},

			isRequired: function() {
				let isRequired = false;

		        if( this.selectedServiceProcedure && this.selectedServiceProcedure.is_required == 1 ) {
		        	isRequired = true;
		        }

				return isRequired;
			},

			requiredServiceProcedure: function() {
				let requiredServiceProcedure = null;

				if( this.selectedServiceProcedure ) {
					let requiredServiceProcedureId = this.selectedServiceProcedure.required_service_procedure;

					if( requiredServiceProcedureId ) {
						this.service_procedures.map(sp => {
    						if( sp.id == requiredServiceProcedureId ) {
    							requiredServiceProcedure = sp;
    						}
    					});
					}
				}

				return requiredServiceProcedure;
			},

			hasDocuments: function() {
				let hasDocuments = false;

		        if( this.selectedServiceProcedure && this.selectedServiceProcedure.documents_mode ) {
		        	hasDocuments = true;
		        }

				return hasDocuments;
			},

			documentsMode: function() {
				let documentsMode = null;

		        if( this.selectedServiceProcedure ) {
		        	documentsMode = this.selectedServiceProcedure.documents_mode;
		        }

				return documentsMode;
			},

			documentsToDisplay: function() {
				let documentsToDisplay = null;

		        if( this.selectedServiceProcedure ) {
		        	documentsToDisplay = this.selectedServiceProcedure.documents_to_display;
		        }

				return documentsToDisplay;
			},

			suggestedDocumentsList: function() {
    			let suggestedDocumentsList = [];

		        if( this.selectedServiceProcedure ) {
		        	suggestedDocumentsList = this.selectedServiceProcedure.suggested_documents;
		        }

		        return suggestedDocumentsList;
    		},

			onHandDocumentsList: function() {
    			let onHandDocumentsList = [];

    			let onHandDocuments = this.onHandDocuments.filter(o => o.id == this.clientId);

    			if( onHandDocuments.length == 1 ) {
    				let { client_services } = onHandDocuments[0];

    				client_services.map(cs => {
    					let { client } = cs;

							var cohd = client.on_hand_documents.reverse();

    					cohd.map(o => {
								var ohdCounter = 0;
								onHandDocumentsList.map((item, index) =>{
									if( parseInt(item['id']) === parseInt(o['id'])) {
										ohdCounter++;
									}
								})

								if(ohdCounter === 0) {
									onHandDocumentsList.push(o)
								}

							});
    				});
    			}

    			return onHandDocumentsList;
    		},

			filteredDocuments: function() {
				let filteredDocuments = [];

				filteredDocuments = this.documents.filter(d => {
					let formDocuments = this.form.documents.filter(fd => d.id == fd.id);
					let title = d.title.toLowerCase();
					let shortHandName = d.shorthand_name ? d.shorthand_name.toLowerCase() : null;
					let filterValue = this.filterValue;

					return formDocuments.length == 0 &&
						(
							title.indexOf(filterValue) != -1
							||
							(shortHandName && shortHandName.indexOf(filterValue) != -1)
						);
				});

				return filteredDocuments;
			},

    		requiredStepIsNotYetComplete: function() {
    			let requiredStepIsNotYetComplete = false;

    			let selectedServiceProcedure = this.selectedServiceProcedure;

    			if( selectedServiceProcedure ) {
    				let { required_service_procedure } = selectedServiceProcedure;

    				if( this.actionName == 'Filed' ) {
    					if( this.status == 'pending' ) {
    						requiredStepIsNotYetComplete = true;
    					}
    				} else if( required_service_procedure ) {
    					let requiredServiceProcedure = this.requiredServiceProcedure;

    					if( requiredServiceProcedure ) {
    						let { id, documents_mode, action } = requiredServiceProcedure;

    						if( documents_mode ) {
    							let reports = this.client_service.client_reports.filter(cr => cr.service_procedure_id == id);

    							if( action.name == 'Filed' ) {
    								if( reports.length == 0 ) {
    									requiredStepIsNotYetComplete = true;
    								}
    							} else {
    								let withPendingDocument = false;

	    							this.client_service.client_reports.map(r => {
	    								r.client_report_documents.map(crd => {
	    									if( crd.count == 0 ) {
	    										withPendingDocument = true;
	    									}
	    								});
	    							});

	    							if( reports.length == 0 || withPendingDocument ) {
	    								requiredStepIsNotYetComplete = true;
	    							}
    							}
    						} else {
    							let reports = this.client_service.client_reports.filter(cr => cr.service_procedure_id == id);

    							if( reports.length == 0 ) {
    								requiredStepIsNotYetComplete = true;
    							}
    						}
    					}
    				}
    			}

    			return requiredStepIsNotYetComplete;
				}
		},

		watch: {
		    service_procedure: {
		    	immediate: true,
		        handler: function(newServiceProcedure, oldServiceProcedure) {
		            if( newServiceProcedure != oldServiceProcedure ) {
                  this.loading=true;
		            	setTimeout(() => {
		            		this.initData();
		            	}, 500);
		            }
		        }
		    }
      },

      mounted() {
				this.getDocuments(this.client_service.client_id);
      }
	}

</script>

<style lang="scss" scoped>
	.client-tag {
		background-color: #fff;
    	border-color: #b3d8ff;
    	color: #409eff;
    	font-weight: bold;
    	text-transform: uppercase;
	}

	.el-select {
        width: 100%;
    }

	.m-t-10 {
		margin-top: 10px;
	}

	.m-t-20 {
		margin-top: 20px;
	}

	.text-muted {
		color: #6c757d;
	}

/*	  .el-select .el-input {
    width: 110px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }*/
</style>
