<template>
    <div class="container">

      <data-table ref="table" :columns="columns" :get-data="getSelectedData" row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick">
           <b slot="id" slot-scope="{row}">
                {{row.id}}
            </b>

            <b slot="name" slot-scope="{row}">
              <span>
                  {{row.full_name | capitalize}}
              </span>
           </b>
        </data-table>
    </div>
</template>

<script>

import DataTable from '../../../components/datatable'

export default {
    name: 'client-name-list',
    components: {
      DataTable
    },
    data () {
        return {
            selectedClients: [],
            columns: [
              {
                  prop: 'id',
                  label: this.$t('Common.id'),
                  width: '300',
                  sortable: true
              },
              {
                  prop: 'name',
                  label: this.$t('Profile.name'),
                  sortable: true
              }
              ]
        }
    },
    methods: {

          getSelectedData({ page, query, sortParams, size }) {
            return {
              data: this.selectedClients,
              total: this.selectedClients.length,
              size: this.selectedClients.length
            };
          },


        eventClose (){
          this.$parent.$emit('close')
        }
    },
    created () {
        this.selectedClients = this.$parent.$parent.content.selectedClients;
    }
}
</script>

<style lang="scss" scoped>
    .container{

        div {
            display: block;
            text-align: center;
        }

        i {
            color: #3fc3ee;
            font-size: 5.2em
        }

        .label {
            color: #595959;
            font-size: 2.5em;
            font-weight: 700;
            margin-top: 25px;
        }

        .button-container {
            margin-top: 25px;
        }

    }
</style>
