<template>
	<div class="divider" >

		<el-form ref="form" :model="form" :inline-message="true" :inline="true">
			<template v-for="(document, index) in form.users[0].documents">
				<el-row>

					<el-col :span="13">
					  	<div style="margin-top: 5px;">
								<el-button type="danger" size="mini" icon="el-icon-delete" circle @click="handleDeleteDocument(document)"></el-button>
						  	<span>{{ document.title }}</span>

					  		<span class="text-muted"> (On Hand: {{ document.onHandCount }})</span>
				  		</div>
					</el-col>

				  	<el-col :span="10">
				  		<el-form-item
				  			style="margin-top: -10px;"
							:prop="'users[0].documents.' + index + '.count'"
							:rules="[
								{
									required: true,
									message: 'Field is required.',
									trigger: 'blur'
								},
								{
									validator: validateCount,
									trigger: 'blur'
								}
							]"
						>
							<el-button type="danger" size="mini" @click="decrementCount(document, index)">
					  			<i class="el-icon-minus"></i>
					  		</el-button>

				  			<el-input size="small" :min="0" v-model="document.count"style="width:100px;"></el-input>

				  			<el-button type="primary" size="mini" @click="incrementCount(document, index)">
					  			<i class="el-icon-plus"></i>
					  		</el-button>
				  		</el-form-item>
				  	</el-col>
				</el-row>
			</template>


		<el-row v-if="documentsSelection" :gutter="10" class="m-t-10">
	        <el-col :span="24">
				<el-select v-model="documentsSelected" filterable remote :remote-method="setFilter" @visible-change="resetFilter" multiple placeholder="Select" style="width:100%;">

						<el-option-group
							 v-for="group in groupDocuments"
							 :key="group.label"
							 :label="group.label">
										<el-option
											v-for="item in group.documents"
											:key="item.id"
											:label="item.title"
											:value="item.id"
											v-if="item.title.toLowerCase().indexOf(filterValue) != -1 || (item.shorthand_name && item.shorthand_name.toLowerCase().indexOf(filterValue) != -1)">
										</el-option>
						</el-option-group>

			    </el-select>
			</el-col>
		</el-row>

    <div class="button">
		<el-row v-if="documentsSelection" :gutter="10" class="m-t-10">
	        <el-col :span="24">
	        	<el-button type="primary" size="mini" @click="handleDocumentsSelection('save')">
			    	<i class="el-icon-check"></i> Save
			    </el-button>
	        </el-col>
	    </el-row>

		<el-row v-if="!documentsSelection" :gutter="10" class="m-t-10">
			<el-col :span="24">
				<el-button type="primary" size="mini" @click="documentsSelection = true">
			    	<i class="el-icon-plus"></i> Add document/s
			    </el-button>
			</el-col>
		</el-row>
  </div>



		<el-form-item label="Receive from:">
			<el-input v-model="form.users[0].receive_from" placeholder="Enter name" style="width: 400px;"></el-input>
		</el-form-item>

		</el-form>

	</div>


</template>

<script>

	export default {

		name: 'receive-documents',
    props: ['client', 'quickdocs'],
		data() {
			return {
				form: {
					users: [
						{
							id: this.client.id,
							documents: [],
							receive_from: ''
						}
					]
				},
				groupDocuments:[],
				onHandDocuments: [],
				documentsSelection: false,
				documentsSelected: [],
				filterValue: ''
			}
		},

		methods: {

			initData() {
				this.resetData();

				this.getDocuments();

				this.getOnHandDocuments();
			},

			resetData() {
				this.form.users[0].documents = [];
				this.onHandDocuments = [];
      	this.documentsSelection = false;
				this.documentsSelected = [];
				this.filterValue = '';
			},



			getDocuments() {
				this.$store.dispatch('reportsGetDocumentsById', { id: this.client.id })
        			.then(res => {

                let { latestDocuments, otherDocuments } = res.data;
								if(latestDocuments.length > 0){
									var latestDocs = [];
									latestDocuments.map((item, index) => {
											latestDocs.push({title:item.title, id: item.id});
									});
									this.groupDocuments.push({label:'Top Selected Documents', documents: latestDocs});
								}

								if(otherDocuments.length > 0){
									var otherDocs = [];
									otherDocuments.map((item, index) => {
											otherDocs.push({title:item.title, id: item.id});
									});
									this.groupDocuments.push({label:'Other Documents', documents: otherDocs});
								}
					});

			},


			getOnHandDocuments() {
				this.$store.dispatch('reportsGetOnHandDocuments', { id: this.client.id })
        			.then(res => {
          				this.onHandDocuments = res.data.onHandDocuments;
					});
			},

			  setFilter(filterValue) {
      			this.filterValue = filterValue.trim().toLowerCase();
    		},

    		resetFilter() {
    			this.filterValue = '';
    		},


				addSelectedDocuments(documentsSelected){


					documentsSelected.map((a, index) => {
						let id = a.id;
						let count = a.count;
						var title = "";

						this.groupDocuments.map((d, i) => {
									d.documents.map((doc, j) => {
										if(doc.id == id)
												title = doc.title;
									});
						});

						let onHandDocument = this.onHandDocuments.filter(o => o.document.id == id);
						let onHandCount = onHandDocument.length == 1 ? onHandDocument[0].count : 0;


						var documentExist = this.form.users[0].documents.findIndex(v => v.id === id);

						if(documentExist === -1){
							this.form.users[0].documents.push({
											key: Date.now() + index,
											id,
											title,
											count,
											onHandCount
										});
						}else{
								this.form.users[0].documents[documentExist].count = count;
						}

					});

				},


				changeCount(doc){
						this.$parent.changeCount(doc);
				},


    		handleDocumentsSelection(mode) {

				this.documentsSelected.map((a, index) => {
					let id = a;
					let count = null;
					var title = "";

				  this.groupDocuments.map((d, i) => {
								d.documents.map((doc, j) => {
									if(doc.id == id)
											title = doc.title;
								});
					});

					let onHandDocument = this.onHandDocuments.filter(o => o.document.id == id);
					let onHandCount = onHandDocument.length == 1 ? onHandDocument[0].count : 0;


					var documentExist = this.form.users[0].documents.findIndex(v => v.id === id);

					if(documentExist === -1){
						this.form.users[0].documents.push({
										key: Date.now() + index,
										id,
										title,
										count,
										onHandCount
									});
					}

				});

				//if(mode == 'save'){
					//this.$parent.handleDocumentsSelection(this.documentsSelected);
				//}else{
					this.documentsSelection = false;
					this.documentsSelected = [];
				//}



			},


			handleDeleteDocument(document) {
        		var index = this.form.users[0].documents.indexOf(document);

        		if (index !== -1) {
          			this.form.users[0].documents.splice(index, 1);
        		}
      		},

      		validateCount(rule, value, callback) {
			    	if( value < 0 ) {
	      			callback(new Error('Field is invalid.'));
	      		} else if( String(value).trim().length == 0 || isNaN(value) ) {
	      			callback(new Error('Field must be a number.'));
	      		} else {
	      			callback();
	      		}
	      	},

	      	incrementCount(document, i) {
      			var index = this.form.users[0].documents.indexOf(document);

						if (index !== -1) {
        			this.form.users[0].documents[index].count++;
        		}

						//this.$parent.autoAddCounter(document, i, this.client);
      		},

					distributeCount(document, mode){
						var index = this.form.users[0].documents.indexOf(document);
						// if (index !== -1) {
						// 	if(mode == 'add'){
						// 		this.form.users[0].documents[index].count++;
						// 	}else{
						// 		this.form.users[0].documents[index].count--;
						// 	}
						// }


					},



      		decrementCount(document, i) {
      			var index = this.form.users[0].documents.indexOf(document);

        		if (index !== -1) {
        			this.form.users[0].documents[index].count--;
        		}

							//this.$parent.autoRemoveCounter(document, i, this.client);
      		},

      		validateForm() {
      			let isValid = false;

      			let documents = this.form.users[0].documents;

      			documents.map(document => {
      				if( document.count >= 1 ) {
      					isValid = true;
      				}
      			});

      			return isValid;
      		},

          addQuickDocs(){
            this.documentsSelected = this.quickdocs;
            this.handleDocumentsSelection('quickDocs');
          }

		},

		computed: {},

    created() {
        this.resetData();

        this.getDocuments();

        this.getOnHandDocuments();
    },


	}

</script>

<style scoped>

	.spacer-10 {
		height: 10px;
		clear: both;
	}

	.text-muted {
		color: #6c757d;
	}

	.pull-right {
		float: right;
	}

  .divider{
        width: 100%;
				height: 100%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5%;

  }

  .button{
     margin: 2%;
  }

</style>
