<template>
<div>

	<el-card class="box-card">
		<div slot="header" class="clearfix">
		   	<span class="service-name">{{ service.detail }}</span>
		</div>

		<div class="text item">
			<el-form ref="form" :model="form" :inline="true" :rules="rules" :hide-required-asterisk="true">
				<el-form-item :label="$t('Common.action')+':'" prop="service_procedure">
		  			<el-select popper-class="report-services-container" v-model="form.service_procedure" @change="handleActionChange"
						:placeholder="$t('Reports.select_an_action')" style="width: 400px">

						<el-option-group
						    v-if="requiredServiceProcedures.length > 0"
						    :label="$t('Reports.req_procedures')+':'">
							<el-option
								v-for="s in requiredServiceProcedures"
								:key="s.id"
								:value="s.id"
								:label="$t('Reports.step') + s.step + ': ' + s.name">

									<span>{{ $t('Reports.step') + s.step + ': ' + s.name }}</span>
									<span style="float: right;" v-if="isChecked(s.id)">
										<i class="el-icon-check" style="color: #67C23A;"></i>
									</span>

							</el-option>

						</el-option-group>

						<el-option-group
						    v-if="optionalServiceProcedures.length > 0"
						    :label="$t('Reports.opt_procedures')+':'">
							<el-option
								v-for="s in optionalServiceProcedures"
								:key="s.id"
								:value="s.id"
								:label="s.name">

								<span>{{ s.name }}</span>
								<span style="float: right;" v-if="isChecked(s.id)">
									<i class="el-icon-check" style="color: #67C23A;"></i>
								</span>

							</el-option>
						</el-option-group>
					</el-select>
		  		</el-form-item>

		  		<div class="spacer-10"></div>

		  		<el-form-item v-if="isFiledInImmigration" label="Branch:" prop="immigration_branch">
		  			<el-select v-model="form.extras.immigration_branch" placeholder="Select">
						<el-option
							v-for="option in immigrationBranches"
							:key="option.value"
							:label="option.label"
							:value="option.value">
						</el-option>
					</el-select>
		  		</el-form-item>

		  		<el-form-item v-if="isCancelledService" :label="$t('Common.reason')+':'" prop="reason">
			    	<el-input v-model="form.extras.reason" :placeholder="$t('Reports.enter_reason')"></el-input>
			  	</el-form-item>

			  	<el-form-item v-if="isUpdatedCost" :label="$t('Common.cost')+':'" prop="cost">
			    	<el-input type="number" v-model="form.extras.cost" :placeholder="$t('Reports.enter_cost')"></el-input>
			  	</el-form-item>

			  	<el-form-item v-if="isNoteToService" :label="$t('Clients.note')+':'" prop="note">
			    	<el-input v-model="form.extras.note" :placeholder="'Enter note'" style="width:400px;"></el-input>
			  	</el-form-item>

			  	<template v-if="isConversionOfStatus">
			  		<el-form-item label="Status:" prop="conversion_of_status">
				  		<el-select v-model="form.extras.conversion_of_status" placeholder="Select" @change="handleConversionOfStatusReason">
						    <el-option
							    v-for="option in conversionOfStatusOptions"
							    :key="option.value"
							    :label="option.label"
							    :value="option.value">
						    </el-option>
						</el-select>
					</el-form-item>

					<div class="spacer-10"></div>

					<el-radio v-model="isDefaultConversionOfStatusReason" :label="1" @change="handleConversionOfStatusReason">Use Default Reason</el-radio>
  					<el-radio v-model="isDefaultConversionOfStatusReason" :label="0" @change="handleConversionOfStatusReason">Use Custom Reason</el-radio>

  					<div class="spacer-10"></div>

  					<el-form-item :label="$t('Common.reason')+':'" prop="conversion_of_status_reason">
			  			<el-input v-model="form.extras.conversion_of_status_reason" :placeholder="$t('Reports.enter_reason')" style="width: 400px;"></el-input>
			  		</el-form-item>
			  	</template>

			  	<template v-if="isDiscountedService">
			  		<el-form-item label="Amount:" prop="discount_amount">
				    	<el-input type="number" v-model="form.extras.discount_amount" placeholder="Enter amount"></el-input>
				  	</el-form-item>

				  	<div class="spacer-10"></div>

				  	<el-form-item label="Reason:">
					  	<el-radio v-model="discount_reason" label="instructed by management" @change="handleDiscountReason">
					  		Instructed by management
					  	</el-radio>
					  	<el-radio v-model="discount_reason" label="upon agreement to client" @change="handleDiscountReason">
					  		Upon agreement to client
					  	</el-radio>
					  	<el-radio v-model="discount_reason" label="use custom reason" @change="handleDiscountReason">
					  		Use custom reason
					  	</el-radio>
				  	</el-form-item>

				  	<el-form-item v-if="discount_reason == 'use custom reason'" prop="discount_reason">
				  		<el-input v-model="form.extras.discount_reason" :placeholder="$t('Reports.enter_reason')"></el-input>
				  	</el-form-item>
			  	</template>
			</el-form>

			<component v-if="extensions" :is="extensions" ref="extensions" :action_id="actionId" :category_id="categoryId"></component>

		    <!-- <ClientServices
		        ref="clientservices"
		        v-for="client_service in service.client_services"
		        :key="client_service.id"
		        :client_service="client_service"
		        :service_procedures="service.service_procedures"
		        :service_procedure="form.service_procedure"
		        :documents="documents"
		        :onHandDocuments="onHandDocuments" /> -->

				<ClientServices
		        ref="clientservices"
		        :client_service="client_service"
		        :service_procedures="service.service_procedures"
		        :service_procedure="form.service_procedure"
		        :documents="documents"
		        :onHandDocuments="onHandDocuments"
						:clientServiceList="clientServiceList" />
		</div>



	</el-card>

</div>
</template>

<script>

 	import ClientServices from './client-services';
 	import { extensions_63, extensions_70 } from './extensions';

 	export default {
 		name: 'report-services',

  		props: ['service', 'documents', 'onHandDocuments', 'client_service', 'clientServiceList'],

  		components: {
  			ClientServices,
  			extensions_63,
  			extensions_70
  		},

  		data () {
  			var validateReason = (rule, value, callback) => {
  				let reason = this.form.extras.reason;

		        if( !reason || (reason && reason.trim() === '') ) {
		          	callback(new Error(this.$t('Reports.pls_indicate_reason')));
		        } else {
		          	callback();
		        }
      		};

      		var validateCost = (rule, value, callback) => {
  				let cost = this.form.extras.cost;

		        if( !cost ) {
		          	callback(new Error(this.$t('Reports.pls_enter_cost')));
		        } else {
		          	callback();
		        }
      		};

      		var validateConversionOfStatus = (rule, value, callback) => {
  				let conversionOfStatus = this.form.extras.conversion_of_status;

		        if( !conversionOfStatus ) {
		          	callback(new Error('Please select status'));
		        } else {
		          	callback();
		        }
      		};

      		var validateConversionOfStatusReason = (rule, value, callback) => {
  				let conversionOfStatusReason = this.form.extras.conversion_of_status_reason;

		        if( !conversionOfStatusReason || conversionOfStatusReason.trim().length == 0 ) {
		          	callback(new Error(this.$t('Reports.pls_indicate_reason')));
		        } else {
		          	callback();
		        }
      		};

      		var validateDiscountAmount = (rule, value, callback) => {
      			let discountAmount = this.form.extras.discount_amount;

		        if( !discountAmount ) {
		          	callback(new Error('Please enter discount amount'));
		        } else {
		          	callback();
		        }
      		};

      		var validateDiscountReason = (rule, value, callback) => {
      			let discountReason = this.form.extras.discount_reason;

		        if( !discountReason ) {
		          	callback(new Error('Please enter discount reason'));
		        } else {
		          	callback();
		        }
					};

					var validateNoteToService = (rule, value, callback) => {
      			let note = this.form.extras.note;

		        if( !note ) {
		          	callback(new Error('Please enter note'));
		        } else {
		          	callback();
		        }
      		};

					return {
						form: {
							service_procedure: null,
							extras: {
								reason: null,
								cost: null,
								conversion_of_status: null,
								conversion_of_status_reason: null,
								immigration_branch: null,
								discount_amount: null,
								discount_reason: null,
								note: null
							}
						},

						service_procedure_ids: [],

						rules: {
									service_procedure: [
											{ required: true, message: this.$t('Reports.pls_select_action'), trigger: 'change' }
									],
									reason: [
										{ validator: validateReason, trigger: 'blur' }
									],
									cost: [
										{ validator: validateCost, trigger: 'blur' }
									],
									conversion_of_status: [
										{ validator: validateConversionOfStatus, trigger: 'blur' }
									],
									conversion_of_status_reason: [
										{ validator: validateConversionOfStatusReason, trigger: 'blur' }
									],
									discount_amount: [
										{ validator: validateDiscountAmount, trigger: 'blur' }
									],
									discount_reason: [
										{ validator: validateDiscountReason, trigger: 'blur' }
									],
									note: [
										{ validator: validateNoteToService, trigger: 'blur' }
									]
							},

							conversionOfStatusOptions: [
								// { value: 1, label: 'Pending to On Process' },
								// { value: 2, label: 'On Process to Pending' }
							],

							isDefaultConversionOfStatusReason: 1,

						defaultConversionOfStatusReason: {
							1: 'Client instructed to continue application',
							2: 'Client instructed to hold application'
						},

						immigrationBranches: [
							{ value: 'Aura', label: 'Aura' },
							{ value: 'Main Office', label: 'Main Office' },
							{ value: 'Makati', label: 'Makati' },
							{ value: 'Taytay', label: 'Taytay' }
						],

						discount_reason: null
					}
			},

			created() {
				this.getClientReports();

				console.log('services:::', this.clientServiceList)

				if(this.status() === 'on process') {
					this.conversionOfStatusOptions = [ { value: 2, label: 'On Process to Pending' } ]
				} else {
					this.conversionOfStatusOptions = [ { value: 1, label: 'Pending to On Process' } ]
				}
			},

  		methods: {
  			handleActionChange() {
  				this.form.extras.reason = null;
  				this.form.extras.cost = null;
  				this.form.extras.conversion_of_status = null;
				this.form.extras.conversion_of_status_reason = null;
				if( this.isFiledInImmigration ) {
					this.form.extras.immigration_branch = 'Main Office';
				} else {
					this.form.extras.immigration_branch = null;
				}
				this.form.extras.discount_amount = null;
				if( this.isDiscountedService ) {
					this.form.extras.discount_reason = 'instructed by management';
					this.discount_reason = 'instructed by management';
				} else {
					this.form.extras.discount_reason = null;
					this.discount_reason = null;
				}

				this.isDefaultConversionOfStatusReason = 1;

					this.$refs['form'].clearValidate(['reason', 'cost', 'conversion_of_status', 'conversion_of_status_reason', 'discount_amount', 'discount_reason']);

				},

				getClientReports() {
					this.$services.reports.getClientReports(this.client_service.id)
					.then(res => {
						this.service_procedure_ids = res.data.data
						console.log('client reports', res.data.data)
					})
				},

  			handleConversionOfStatusReason() {
  				if( this.isDefaultConversionOfStatusReason ) {
  					let conversionOfStatus = this.form.extras.conversion_of_status;

  					this.form.extras.conversion_of_status_reason = this.defaultConversionOfStatusReason[conversionOfStatus];
  				} else {
  					this.form.extras.conversion_of_status_reason = null;
  				}
  			},

  			handleDiscountReason() {
  				let discountReason = this.discount_reason;

  				if( discountReason == 'instructed by management' ) {
  					this.form.extras.discount_reason = 'instructed by management';
  				} else if( discountReason == 'upon agreement to client' ) {
  					this.form.extras.discount_reason = 'upon agreement to client';
  				} else {
  					this.form.extras.discount_reason = null;
  				}
				},

				handleClose(done) {
					this.$confirm('Are you sure to close this dialog?')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				},

				// Check if service procedure is already completed or not
				isChecked(fsp) {

					var counter = 0;

					this.service_procedure_ids.map((item, index) => {

						if(fsp === item.service_procedure_id) {
							counter++;
						}
					})

					if(counter > 0) {
						return true;
					}

					return false;
				},

				getActionName(fsp) {
					let actionName = null;

							if( this.selectedServiceProcedure(fsp) ) {
								actionName = this.selectedServiceProcedure(fsp).action.name;
							}

					return actionName;
				},

				status() {
    			return this.client_service.status;
				},

				requiredServiceProcedure(fsp) {
					let requiredServiceProcedure = null;
					var selectedServiceProcedure = this.selectedServiceProcedure(fsp);

					if( selectedServiceProcedure ) {
						let requiredServiceProcedureId = selectedServiceProcedure.required_service_procedure;

						if( requiredServiceProcedureId ) {
							this.service.service_procedures.map(sp => {
									if( sp.id == requiredServiceProcedureId ) {
										requiredServiceProcedure = sp;
									}
								});
						}
					}

					return requiredServiceProcedure;
				},

				selectedServiceProcedure(fsp) {
					let selectedServiceProcedure = null;

    			this.service.service_procedures.map(sp => {
		           	if( sp.id == fsp ) {
		            	selectedServiceProcedure = sp;
		            }
						});

    			return selectedServiceProcedure;
    		},

				requiredStepIsNotYetComplete(client_service, fsp) {
    			let requiredStepIsNotYetComplete = false;

    			let selectedServiceProcedure = this.selectedServiceProcedure(fsp);

    			if( selectedServiceProcedure ) {
    				let { required_service_procedure } = selectedServiceProcedure;

    				if( this.getActionName(fsp) == 'Filed' ) {
    					if( this.status() == 'pending' ) {
    						requiredStepIsNotYetComplete = true;
    					}
    				} else if( required_service_procedure ) {
    					let requiredServiceProcedure = this.requiredServiceProcedure(fsp);

    					if( requiredServiceProcedure ) {
    						let { id, documents_mode, action } = requiredServiceProcedure;

    						if( documents_mode ) {

									let reports = client_service.client_reports.filter(cr => cr.service_procedure_id == id);

									if( action.name == 'Filed' ) {
										if( reports.length == 0 ) {
											requiredStepIsNotYetComplete = true;
										}
									} else {
										let withPendingDocument = false;

										client_service.client_reports.map(r => {
											r.client_report_documents.map(crd => {
												if( crd.count == 0 ) {
													withPendingDocument = true;
												}
											});
										});

										if( reports.length == 0 || withPendingDocument ) {
											requiredStepIsNotYetComplete = true;
										}
									}

    						} else {

									let reports = client_service.client_reports.filter(cr => cr.service_procedure_id == id);

									if( reports.length == 0 ) {
										requiredStepIsNotYetComplete = true;
									}

    						}
    					}
    				}
    			}

    			return requiredStepIsNotYetComplete;
    		}
  		},

  		computed: {

    		requiredServiceProcedures: function () {
      			return this.service.service_procedures.filter(s => s.step != null);
    		},

    		optionalServiceProcedures: function () {
          var data = [];
          if((this.service.client_services[0].status === 'complete' || this.service.client_services[0].status === 'released') && this.service.paid_service){
            data = this.service.service_procedures.filter(s => s.step == null && s.name != "Updated Cost" && s.name != "Conversion of Status");
          }
          else if(this.service.client_services[0].status === 'complete' || this.service.client_services[0].status === 'released'){
            data = this.service.service_procedures.filter(s => s.step == null && s.name != "Conversion of Status");
          } else if(this.service.paid_service){
            data = this.service.service_procedures.filter(s => s.step == null && s.name != "Discounted Service");
          } else {
            data = this.service.service_procedures.filter(s => s.step == null);
          }
          return data;
    		},

    		extensions: function() {
    			let extensions = null;

    			let parentId = this.service.parent_id;

    			// 63 = 9A Visa Extension
					// 70 = 9G Working Visa Conversion
    			if( parentId == 63 || parentId == 70 ) { extensions = 'extensions_' + parentId; }

    			return extensions;
    		},

    		actionId: function() {
    			let actionId = null;

    			this.service.service_procedures.map(sp => {
    				if( sp.id == this.form.service_procedure ) {
    					actionId = sp.action_id;
    				}
    			});

    			return actionId;
    		},

    		actionName: function() {
    			let actionName = null;

    			this.service.service_procedures.map(sp => {
    				if( sp.id == this.form.service_procedure ) {
    					actionName = sp.action.name;
    				}
    			});

    			return actionName;
    		},

    		categoryId: function() {
    			let categoryId = null;

    			this.service.service_procedures.map(sp => {
    				if( sp.id == this.form.service_procedure ) {
    					categoryId = sp.category_id;
    				}
    			});

    			return categoryId;
    		},

    		categoryName: function() {
    			let categoryName = null

    			this.service.service_procedures.map(sp => {
    				if( sp.id == this.form.service_procedure ) {
							if(sp.category !== null && sp.category !== undefined) {
								categoryName = sp.category.name;
							}
    				}
    			});

    			return categoryName;
    		},

    		isCancelledService: function() {
    			return this.actionName == 'Cancelled' && this.categoryName == 'Service';
    		},

    		isUpdatedCost: function() {
    			return this.actionName == 'Updated' && this.categoryName == 'Cost';
    		},

    		isConversionOfStatus: function() {
    			return this.actionName == 'Conversion' && this.categoryName == 'Status';
    		},

    		isFiledInImmigration: function() {
    			return this.actionName == 'Filed' && this.categoryName == 'Immigration';
    		},

    		isDiscountedService: function() {
    			return this.actionName == 'Discounted' && this.categoryName == 'Service';
				},

    		isNoteToService: function() {
    			return this.actionName == 'Note' && this.categoryName == 'Service';
				},


  		}
	}

</script>

<style lang="scss" scoped>
	.box-card {
		margin-bottom: 15px;
	}

	.service-name {
		color: #337ab7;
		font-weight: bold;
	}

	.el-select {
		width: 100%;
	}

	.el-checkbox {
		color: #24313c;
		font-weight: 400;
	}

	.spacer-10 {
		height: 10px;
		clear:both;
	}

  	.el-select-group__wrap:not(:last-of-type) {
    	padding-bottom: 0px !important;
  	}

  	.el-select-group__wrap:not(:last-of-type)::after {
    	bottom: 0px !important;
  	}

	.el-select-group__wrap {
		background-color: #fff;
	}
</style>
