<template>

	<el-table ref="table" width="100%" row-key="id" @selection-change="handleSelectionChange" :data="services" @row-click="rowClicked">

		<el-table-column type="selection" width="55"></el-table-column>

		<el-table-column :label="$t('Common.date')" width="150" prop="date" sortable>
		  	<template slot-scope="scope">{{ scope.row.date }}</template>
		</el-table-column>

		<el-table-column :label="$t('Common.package')" width="120" prop="tracking" sortable>
		 	<template slot-scope="scope">{{ scope.row.tracking }}</template>
		</el-table-column>

		<el-table-column :label="$t('Common.detail')" prop="detail" sortable>
		  	<template slot-scope="scope">{{ scope.row.detail }}</template>
		</el-table-column>

		<el-table-column :label="$t('Common.cost')" width="100" prop="cost" sortable>
		  	<template slot-scope="scope">{{ scope.row.cost }}</template>
		</el-table-column>

		<el-table-column :label="$t('Common.charge')" width="100" prop="charge" sortable>
		  	<template slot-scope="scope">{{ scope.row.charge }}</template>
		</el-table-column>

		<el-table-column :label="$t('Common.tip')" width="100" prop="tip" sortable>
		  	<template slot-scope="scope">{{ scope.row.tip }}</template>
		</el-table-column>

		<el-table-column :label="$t('Common.discount')" width="105" prop="discount" sortable>
		   <template slot-scope="scope">{{ scope.row.discount }}</template>
		</el-table-column>

	</el-table>

</template>

<script>

	export default {
		name: 'services',

		props: ['services'],

		methods: {
			rowClicked(row) {
        		this.$refs.table.toggleRowSelection(row);
      		},

		  	handleSelectionChange(val) {
				let clientServicesToBeAdded = val;

				let clientServicesToBeRemoved = this.services.filter(s => clientServicesToBeAdded.indexOf(s) == -1);

				this.$parent.$parent.$parent.handleSelectionChange(
					clientServicesToBeAdded, 
					clientServicesToBeRemoved
				);
			}    
		},

		mounted() {
			let selectedClientServices = this.$parent.$parent.$parent.selectedClientServices;

			this.$refs.table.data.map(d => {
				if( selectedClientServices.indexOf(d) != -1 ) {
					this.$refs.table.toggleRowSelection(d);
				}
			});
		}
	}

</script>
