<template>
	
	<div class="step-container">
    	<el-steps :active="active" finish-status="success" align-center class="custom-steps">
		  	<el-step :title="$t('Reports.step_1')" :description="$t('Reports.step_1_desc')"></el-step>
		  	<el-step :title="$t('Reports.step_2')" :description="$t('Reports.step_2_desc')"></el-step>
		  	<el-step :title="$t('Reports.step_3')" :description="$t('Reports.step_3_desc')"></el-step>
		</el-steps>
	</div>

</template>

<script>
	
	export default {
		name: 'steps',

		props: ['active']
	}

</script>

<style lang="scss">
	.step-container {
		width: 100%;
	    height: auto;
	    background-color: #FFFFFF;
	    padding-bottom: 15px;
	    margin-bottom: 15px;
	}

	.custom-steps {
		padding-top: 15px;
	}

	.el-step__head.is-success .el-step__line {
		background-color: #67c23b;
	}

	.el-step__description.is-process,
	.el-step__title.is-process,
	.is-process .el-step__icon-inner {
		color: #E6A23C;
		font-weight: bold
	}

	.el-step__head.is-process {
		.el-step__icon.is-text {
			border-color: #E6A23C;
		}
	}
</style>