<template>

	<el-card class="box-card" shadow="never">
  		<div class="text item">

    		<!-- <template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template> -->
  			<!-- {{materials}} -->
  			<template>
  				<template>
  					<el-row :gutter="20">
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">

					  	<!-- <el-table ref="table" width="100%" :data="data" row-class-name="movable">
					  		<el-table-column label="Materials List" label-class-name="tbl-header">
							   	<template slot-scope="scope">
							      	<b style="color: #67C23A">{{ scope.row.material_name }}</b> <br> -->
							      	<!-- {{details}} -->
							      	<el-table ref="table" width="100%" :data="details"  row-class-name="movable">

											<el-table-column label="Ref#" width="150" align="left">
											   	<template slot-scope="scope">
											      	{{ scope.row.ref }}
											    </template>
											</el-table-column>

											<el-table-column label="Desc" width="400" align="left">
											   	<template slot-scope="scope">
											      	{{ scope.row.description }}
											    </template>
											</el-table-column>

											<el-table-column label="Amount" width="100">
												<template slot-scope="scope">
												    {{ scope.row.amount | currency }}
												</template>
											</el-table-column>

											<el-table-column label="Date" width="100">
												<template slot-scope="scope">
												    <span>{{ scope.row.created_at | commonDate }}
												    </span>
												</template>
											</el-table-column>

									</el-table>
							    <!-- </template>
					  		</el-table-column>
					  		
						</el-table> -->
					  		
					  	</div>

					  </el-col>
					</el-row>

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'order-details',

		data () {
	    	return {

	      		isFetching: true,

	      		details: [],
	      		total: 0,
	      	

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

  		},



		created () {
			let { data } = this.$parent.$parent.content;
      		//console.log('test');
      		//console.log(data.data.data.details);
      		this.details = data.data.data.details;
      		this.total = data.data.data.total;

  		}


	}

</script>

<style >

.el-alert__title{
	font-size: 14px !important;
}


</style>
