<template>
  <div>
    <div class="heading">
      <h1 class="title">{{ $t('Navigation.service-profile') }}</h1>

      <el-button type="primary" size="small" icon="el-icon-plus" class="left-button" @click="showAddEditServiceProfile('Add', null)">
        {{ $t('Service.add_new_service_profile') }}
      </el-button>

      <router-link :to="{ name: 'list-of-services'}">
        <el-button type="primary" size="small" icon="el-icon-star-off">{{ $t('Service.back_to_services') }}</el-button>
      </router-link>
    </div>

    <IndexServiceProfile ref="indexServiceProfileRef" :serviceprofiles="serviceProfiles" />

    <el-dialog :title="title" :visible.sync="dialogVisible" width="40%">

      <AddEditServiceProfile ref="addEditServiceProfileRef" />

    </el-dialog>

  </div>
</template>

<script>

import IndexServiceProfile from './components/index-service-profile'
import AddEditServiceProfile from './components/add-edit-service-profile'

export default {

  name: 'service-profiles',

  data () {
    return {
      serviceProfiles: [],

      dialogVisible: false,

      title: null
    }
  },

  methods: {
    getAllServiceProfiles () {
      this.$store.dispatch('getAllServiceProfiles')
        .then(response => {
          this.serviceProfiles = response.data.service_profiles;
        })
    },

    showAddEditServiceProfile (action, data) {
      this.dialogVisible = true;

      this.title = action + this.$t('Service.service_profile');

      this.$nextTick(() => {
        this.$refs.addEditServiceProfileRef.action = action;

        this.$refs.addEditServiceProfileRef.$refs.form.resetFields();

        if (action == 'Edit') {
          this.$refs.addEditServiceProfileRef.form = data;
        }
      })
    }
  },

  components: {
    IndexServiceProfile,
    AddEditServiceProfile
  },

  created () {
    this.getAllServiceProfiles();
  }

}

</script>

<style lang="scss">
  .left-button{
    margin-right: 5px;
  }
</style>
