<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';
.order-info {}

.el-form-item {
    padding: 5px;
}

</style>

<template>

<div>
    <div class="heading">
        <h1 class="title">
        Edit Orders
      </h1>
    </div>
    <div class="body-container">
        <div class="form-container container-padding">

            <div class="order-info">

                <h1 class="form-title">Order Details</h1>

                <div class="add-item">
                    <el-button type="primary" size="small" icon="el-icon-plus" @click.prevent="goToAddOrder">
                      Add Item
                    </el-button>
                </div>

                <div>
                    <data-table :get-data="getData" ref="table" :columns="columns">
                    <b class="text-size" slot="product_name" slot-scope="{row}">
                      {{row.product.product_name + ' (' + row.product.product_name_chinese + ')'}}
                    </b>
                    <b class="text-size" slot="product_qty" slot-scope="{row}">
                        {{row.qty}}
                    </b>
                    <span class="text-size" slot="price" slot-scope="{row}">
                      {{row.product.unit_price}}
                    </span>
                    <span class="text-size" slot="remarks" slot-scope="{row}">
                      {{row.remarks}}
                    </span>
                    <span class="text-size" slot="total_price" slot-scope="{row}">
                      {{row.product.unit_price * row.qty}}
                    </span>

                    <span class="text-size" slot="actions" slot-scope="{row}">

                    <el-tooltip :enterable="enterable" class="item" effect="dark" content="Edit Product" placement="top-start" >
                      <el-button  type="success" size="mini" icon="el-icon-edit-outline" @click="handleEditOrder(row.order_id)"></el-button>
                    </el-tooltip>

                      <el-tooltip class="item" effect="dark" content="Delete Product" placement="top-end">
                        <el-button @click.stop="handleDelete(row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
                      </el-tooltip>
                    </span>
                    </data-table>

                    <div class="total-price">
                        <label>Total Price: {{this.total_price}}</label>
                    </div>
                </div>
                <br/>
                <br/>

                <div class="border-line"></div>

                <!-- Buyer info-->
                <h1 class="form-title">Buyer's Information</h1>
                <div class="border-line"></div>

                <div class="inner-container">

                    <el-form :model="form" ref="form" id="buyer_info">

                        <el-form-item label="Buyer's Name" prop="buyer_name">
                            <el-input type="text" v-model.buyer_name="form.buyer_name" autocomplete="off"></el-input>
                        </el-form-item>


                        <el-form-item label="Address" prop="address">
                            <el-input type="text" v-model.address="form.address" autocomplete="off"></el-input>
                        </el-form-item>


                        <el-form-item label="Contact Number" prop="contact_number">
                            <el-input type="text" v-model.contact_number="form.contact_number" autocomplete="off"></el-input>
                        </el-form-item>


                        <el-form-item label="WeChat ID" prop="wechat_id">
                            <el-input type="text" v-model.delivered_by="form.wechat_id" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>
                            <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>
                        </el-form-item>

                    </el-form>

                </div>

            </div>

        </div>
    </div>
</div>

</template>

<script>

import {
    mapGetters
}
from 'vuex'

import DataTable from '../../components/datatable'
import OrderForm from './components/order-form'


export default {
    name: 'edit-orders',
    components: {
        DataTable
    },
    data() {
        return {
            data: [],
            total_price: 0,
            columns: [

                {
                    prop: 'product_name',
                    minWidth: '60',
                    label: 'Product Name',
                },

                {
                    prop: 'product_qty',
                    minWidth: '30',
                    label: 'Product Qty',
                },

                {
                    prop: 'price',
                    label: 'Price',
                    minWidth: '30'
                },

                {
                    prop: 'remarks',
                    label: 'Remarks',
                    minWidth: '50',
                },

                {
                    prop: 'total_price',
                    label: 'Total Price',
                    minWidth: '50',
                    sortable: true
                },

                {
                    prop: 'actions',
                    label: 'Actions',
                    minWidth: '30',
                    sortable: true
                }
            ],
            form: {
                buyer_name: '',
                address: '',
                contact_number: '',
                delivered_by: ''
            },
        }
    },

    computed: mapGetters({
        orders: 'orders'
    }),

    mounted() {
        this.$eventBus.$on('refreshTable', () => {
            this.$refs.table.getTableData();
        });
    },


    methods: {

        handleDelete(id){
            console.log(id);
        },

        handleEditOrder(id){
            console.log(id);
        },


        goToAddOrder() {
                this.$store.dispatch('callModal', {
                        child_component: OrderForm,
                        title: "Add Product",
                        modalWidth: '55%'
                    }) // call global modal state
                this.$parent.$refs.modal.show() // show modal
        },

        submitForm(form) {

            var data = {};
            data.name = this.form.buyer_name;
            data.delivered_by = this.form.delivered_by;
            data.address = this.form.address;
            data.contact = this.form.contact_number;


            var products = [];

            this.orders.data.map((item,index) => {
             var product = {};
                product.product_id = item.product.product_id;
                product.total_price = (item.product.unit_price * item.qty);
                product.unit_price = item.product.unit_price;
                product.qty =  item.qty;
                product.remarks =  item.remarks;
                products.push(product);
            })

            data.products = products;

            this.$store.dispatch('saveOrders', data
            ).then(res => {

                this.$message({
                    type: 'success',
                    message: this.$t('Common.successfully_added')
                });

                this.$refs[form].resetFields();

                this.$store.dispatch('storeTempOrders',
                {list: [], data: null}
                ).then(res => {
                      this.$refs[form].resetFields();
                      this.$refs.table.getTableData();
                })

            })

            },

            getData({
                page, query, sortParams, size
            }) {
                let vm = this;
                if (sortParams.length == 0) {
                    sortParams = 'id-desc'
                }

                var total = 0;

                this.orders.data.map((item,index) => {
                    total += (item.unit_price * item.qty)
                })

                this.total_price = total;

                return {
                  data: this.orders.data,
                  total: this.orders.data.length,
                  size: 20
                }
            },
    },

    created() {

        console.log(this.$route.params.id);

        this.$store.dispatch('viewOrder', {order_id: this.$route.params.id}).then(res => {
            console.log(res);
            let data = res.data;
            this.form.buyer_name = data.name;
            this.form.address = data.address;
            this.form.contact_number = data.contact;
            this.form.wechat_id = data.wechat_id;

            var products = [];

            data.details.map((item,index) => {
             var product = {};
                product.product_id = item.product_id;
                product.total_price = (item.unit_price * item.qty);
                product.unit_price = item.unit_price;
                product.qty =  item.qty;
                product.remarks =  item.remarks;
                products.push(product);
            })

            data.products = products;

            this.$store.dispatch('storeTempOrders',
            {list: data.products, data: ""}
            ).then(res => {

                console.log(this.orders.data);
                this.$refs.table.getTableData();
            })


        })
    }
}

</script>

<style scoped>
  .total-price{
    text-align: right;
    font-weight: bold;
    margin-top:10px;
  }
  .add-item{
     text-align: right;
     width:'100%';
  }
</style>
