<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';
.order-info {}

.el-form-item {
    padding: 5px;
}

</style>

<template>

<div>
    <div class="heading">
        <h1 class="title">
        Update Orders
      </h1>
    </div>

    <div class="body-container" style="overflow: scroll;">
        <div class="form-container container-padding">
            <el-form :model="form" ref="order_form" id="buyer_info">
            <div class="order-info">

                <h1 class="form-title">Order Details</h1>
                <h1>Total Amount: {{this.form.total_amount | currency}}</h1>

                <div>

                <el-row class="row-content">

                <el-col :span="12">
                <el-row class="row-header">
                  <!-- <el-col :span="5" class="col-header" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                          Image
                        </el-col> -->
                        <el-col :span="24" class="col-header"s>
                          Product Details
                        </el-col>
               </el-row>

              <div v-for="(v1, index) in this.firstCol">
                <div class="cat-header">

                <el-row>
                  <el-col :span="10">
                          <div>{{v1.name}}</div>
                  </el-col>
                  <el-col :span="4">
                          Total:
                  </el-col>
                  <el-col :span="10">
                  <div style="text-align:right;">
                      <el-input placeholder="0"  size="mini" v-model="form.category_total[v1.category_id]" readonly></el-input>
                  </div>
                  </el-col>
                </el-row>

              </div>
              <el-row v-for="product in v1.products" class="row">
                <!-- <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                  <el-image class="p-img" :src="storageURL+ 'products/' + product.product_img" :preview-src-list="[storageURL+ 'products/' + product.product_img]" >
                    <div slot="error" class="image-slot" >
                      <i class="el-icon-picture-outline p-img-error"></i>
                    </div>
                  </el-image>
                </el-col> -->
                <el-col :span="24" >
                  <el-row>
                  <el-col :span="12" style="font-size: 15px" >
                    <b>{{product.product_name }}</b><br> <span style="font-size: 13px;">{{ "(" + product.product_name_chinese +")"}}</span>
                    <br><br><b>Unit Price : {{ (form.price[product.product_id] != null ? form.price[product.product_id] : product.product_price)}}<br></b>
                  </el-col>

                  <el-col :span="12"  >
                    <el-row>
                      <el-col :span="9">
                        <el-input-number border="0px" placeholder="0" class="mini-input" :controls="false"  size="mini" v-model="form.qty[product.product_id]" @change="handleChangeAmount(product)" :min="0" style="width: 100%"></el-input-number>
                      </el-col>
                      <el-col :span="15">
                        <el-input style="c-total-price" placeholder="0"  size="mini" v-model="form.total[product.product_id]" readonly></el-input>
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col :span="24">
                        <el-input  class="" type="textarea" placeholder="remarks" v-model="form.remarks[product.product_id]" style="margin-top: 10px;"></el-input>
                      </el-col>
                    </el-row>
                  </el-col>
                </el-row>
                </el-col>
             </el-row>
              </div>
           </el-col>

                <el-col :span="12">


                      <el-row class="row-header">
                        <!-- <el-col :span="5" class="col-header" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                          Image
                        </el-col> -->
                        <el-col :span="24" class="col-header">
                          Product Details
                        </el-col>
                     </el-row>

                     <div v-for="(v1, index) in this.secondCol">

                     <div class="cat-header">
                     <el-row>
                       <el-col :span="10">
                               <div>{{v1.name}}</div>
                       </el-col>
                       <el-col :span="4">
                               Total:
                       </el-col>
                       <el-col :span="10">
                       <div style="text-align:right;">
                           <el-input placeholder="0"  size="mini" v-model="form.category_total[v1.category_id]" readonly></el-input>
                       </div>
                       </el-col>
                     </el-row>
                     </div>

              <el-row v-for="product in v1.products" class="row">
                <!-- <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                  <el-image class="p-img" :src="storageURL+ 'products/' + product.product_img" :preview-src-list="[storageURL+ 'products/' + product.product_img]" >
                    <div slot="error" class="image-slot" >
                      <i class="el-icon-picture-outline p-img-error"></i>
                    </div>
                  </el-image>
                </el-col> -->
                <el-col :span="24">
                  <el-row>
                  <el-col :span="12" style="font-size: 15px" >
                    <b>{{product.product_name }}</b><br> <span style="font-size: 13px;">{{ "(" + product.product_name_chinese +")"}}</span>
                    <br><br><b>Unit Price : {{ (form.price[product.product_id] != null ? form.price[product.product_id] : product.product_price)}}<br></b>
                  </el-col>

                  <el-col :span="12" >
                    <el-row>
                      <el-col :span="9">
                        <el-input-number border="0px" placeholder="0" class="mini-input" :controls="false"  size="mini" v-model="form.qty[product.product_id]" @change="handleChangeAmount(product)" :min="0" style="width: 100%"></el-input-number>
                      </el-col>
                      <el-col :span="15">
                        <el-input style="c-total-price" placeholder="0"  size="mini" v-model="form.total[product.product_id]" readonly></el-input>
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col :span="24">
                        <el-input  class="" type="textarea" placeholder="remarks" v-model="form.remarks[product.product_id]" style="margin-top: 10px;"></el-input>
                      </el-col>
                    </el-row>
                  </el-col>
                </el-row>
                </el-col>
             </el-row>
                     </div>
                    </el-col>
                </el-row>

                    <div class="total-price">
                        <label>Total Amount: {{this.form.total_amount | currency}}</label>
                    </div>
                </div>
                <br/>
                <br/>

                <div class="border-line"></div>

                <!-- Buyer info-->
                <h1 class="form-title">Buyer's Information</h1>
                <div class="border-line"></div>

                <div class="inner-container">

                        <el-row :gutter="20">
                          <el-col :span="12">
                            <el-form-item label="Date of Delivery">
                              <el-date-picker
                                style="width: 100%;"
                                v-model="form.date_of_delivery"
                                type="date"
                                format="dd/MM/yyyy"
                                placeholder="dd/mm/yyyy"
                                value-format="yyyy-MM-dd"
                                :picker-options="{
                                    disabledDate(time) {
                                      let today =  Number(new Date((new Date()).toDateString()));
                                      return time.getTime() < today;
                                    }
                                }">
                              </el-date-picker>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                              <el-form-item label="Contact Number" prop="contact_number">
                                  <el-input type="text"  v-model.contact_number="form.contact_number" autocomplete="off" maxlength="11" show-word-limit @keyup.native="InputNumber()"></el-input>
                              </el-form-item>
                          </el-col>
                        </el-row>

                        <el-row :gutter="20">
                          <el-col :span="12">
                            <el-form-item label="Buyer's First Name" prop="buyer_name">
                                <el-input type="text" v-model.buyer_name="form.buyer_name" autocomplete="off"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Buyer's Last Name" prop="buyer_lastname">
                                <el-input type="text" v-model.buyer_name="form.buyer_lastname" autocomplete="off"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-row :gutter="20">
                          <el-col :span="8">
                            <el-form-item label="WeChat ID" prop="wechat_id">
                                <el-input type="text" v-model.wechat_id="form.wechat_id" autocomplete="off"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="Telegram" prop="telegram">
                              <el-input type="text" v-model.telegram="form.telegram" autocomplete="off"></el-input>
                          </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="Chinese Money Paid" prop="rmb">
                              <el-input type="number" min="0" v-model.telegram="form.rmb" autocomplete="off"></el-input>
                          </el-form-item>
                          </el-col>
                        </el-row>

                        <el-form-item label="Address" prop="address">
                            <el-input type="text" v-model.address="form.address" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="Remarks" prop="buyer_remarks">
                            <el-input type="text" v-model.buyer_remarks="form.buyer_remarks"></el-input>
                        </el-form-item>


                        <el-form-item>
                            <el-button type="primary" @click="submitForm('order_form')">{{ $t('Common.submit') }}</el-button>
                            <el-button @click="resetForm('order_form')">{{ $t('Common.reset') }}</el-button>
                        </el-form-item>

                </div>

            </div>
          </el-form>
        </div>
    </div>
</div>

</template>

<script>

import {
    mapGetters
}
from 'vuex'

import DataTable from '../../components/datatable'
import OrderForm from './components/order-form'


export default {
    name: 'order-details',
    components: {
        DataTable
    },
    data() {
        return {
            data: [],
            total_price: 0,
            total_amount: 0,
            firstCol: [],
            secondCol:[],
            categories: [],
            form: {
                buyer_name: '',
                buyer_lastname: '',
                address: '',
                contact_number: '',
                wechat_id: '',
                telegram: '',
                price: [],
                qty: [],
                total: [],
                category_total: [],
                remarks: [],
                buyer_remarks: '',
                date_of_delivery: '',
                client_id: '',
                rmb: '',

            },
            storageURL: process.env.VUE_APP_STORAGE,
        }
    },

    computed: mapGetters({
        orders: 'orders'
    }),

    mounted() {
        this.$eventBus.$on('refreshTable', () => {
            this.$refs.table.getTableData();
        });

      this.$nextTick(function () {
          console.log("already loaded");
          console.log(this.product_purchased);
      })

    },


    methods: {
            InputNumber () {
              this.form.contact_number = this.limitInputNumber(this.form.contact_number)
            },

                 // Verify that only numbers can be entered
            limitInputNumber (val) {
              if (val) {
                return String(val).replace(/\D/g, '')
              }
              return val
            },

            handleDelete(id){
                console.log(id);
            },

            handleEditOrder(id){
                console.log(id);
            },

            goToAddOrder() {
                this.$store.dispatch('callModal', {
                        child_component: OrderForm,
                        title: "Add Product",
                        modalWidth: '55%'
                    }) // call global modal state
                this.$parent.$refs.modal.show() // show modal
            },

            submitForm(form) {

            var data = {};
            data.client_id = this.form.client_id;
            data.name = this.form.buyer_name;
            data.last_name = this.form.buyer_lastname;
            data.wechat_id = this.form.wechat_id;
            data.telegram = this.form.telegram;
            data.address = this.form.address;
            data.contact = this.form.contact_number;
            data.remarks = this.form.buyer_remarks;
            data.date_of_delivery = this.form.date_of_delivery;
            data.rmb = this.form.rmb;

            var products = [];

            this.firstCol.map((item,index) => {
               var categoryTotal = 0;
                 item.products.map((item2,index2) => {
                      if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                         var product = {};
                         var prc = (this.form.price[item2.product_id] != null ? this.form.price[item2.product_id] : item2.product_price);
                         console.log(prc);
                            product.product_id = item2.product_id;
                            product.total_price = (prc * this.form.qty[item2.product_id]);
                            product.unit_price = prc;
                            product.qty =  this.form.qty[item2.product_id];
                            product.remarks =  (typeof this.form.remarks[item2.product_id] !=='undefined') ? this.form.remarks[item2.product_id] : '';
                            products.push(product);
                      }
                 })
            });


            this.secondCol.map((item,index) => {

               var categoryTotal = 0;
                 item.products.map((item2,index2) => {
                      if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                      var product = {};
                      var prc = (this.form.price[item2.product_id] != null ? this.form.price[item2.product_id] : item2.product_price);
                         product.product_id = item2.product_id;
                         product.total_price = (prc * this.form.qty[item2.product_id]);
                         product.unit_price = prc;
                         product.qty =  this.form.qty[item2.product_id];
                         product.remarks =  (typeof this.form.remarks[item2.product_id] !=='undefined') ? this.form.remarks[item2.product_id] : '';
                         products.push(product);
                      }
                 })
            });


            data.products = products;

            console.log(this.form.date_of_delivery);

            if(this.form.buyer_name !== "" && this.form.address !== "" && (this.form.wechat_id !== "" || this.form.telegram !== "") && this.form.contact !== "" && this.form.date_of_delivery !== null){
                if(products.length > 0 ){

                    this.$store.dispatch('updateOrders', {order_id: this.$route.params.id, payload:data}
                    ).then(res => {

                      console.log(res);

                      if(res.code === 200){
                          this.$message({
                              type: 'success',
                              message: this.$t('Common.successfully_updated')
                          });
                          this.$refs[form].resetFields();
                          this.$router.push({name: 'orders'});
                          // window.open('#/orders'); 
                      }else{
                        this.$message({
                            type: 'error',
                            message: res.errors
                        });
                      }


                    });
                }else{
                      this.$message({
                          showClose: true,
                          message: "No Product Selected!",
                          type: 'error',
                          center: true
                      })
                }
             }else{
                  this.$message({
                      showClose: true,
                      message: "Please Complete Required fields!",
                      type: 'error',
                      center: true
                  })
             }

            },

            getData({
                page, query, sortParams, size
            }) {
                let vm = this;
                if (sortParams.length == 0) {
                    sortParams = 'id-desc'
                }

                var total = 0;

                this.orders.data.map((item,index) => {
                    total += (item.product.product_price * item.qty)
                })

                this.total_price = total;

                return {
                  data: this.orders.data,
                  total: this.orders.data.length,
                  size: 20
                }
            },

            async getCategories (){
                setTimeout(() => {
                    this.$store.dispatch('getProductCategories').then(response => {
                     this.categories = response.data;

                     //static declaration of category
                     var first = [{category_id:1},{category_id:3}];
                     var second = [{category_id:2},{category_id:4},{category_id:5},{category_id:7},{category_id:6}];

                     response.data.map((item,index) => {

                        var v1 = first.findIndex(v => v.category_id === item.category_id);
                        var v2 = second.findIndex(v => v.category_id === item.category_id);

                        if(v1 !== -1){
                         this.getProducts(this.firstCol,item);
                        }

                        if(v2 !== -1){
                          this.getProducts(this.secondCol,item);
                        }
                     });
                   })
                }, 200);
            },

            async getProducts (list, data){
                    this.$store.dispatch('getProductByCatId', data.category_id).then(response => {
                     data.products = response.data.data;
                     list.push(data);

                     var total = 0;
                     var catTotal = 0;
                     this.product_purchased.map((item,index) => {
                          this.$set(this.form.qty, item.product_id, item.qty);
                          this.$set(this.form.price, item.product_id, item.unit_price);
                          this.$set(this.form.total, item.product_id, item.total_price);
                          this.$set(this.form.remarks, item.product_id, item.remarks);
                          total += Number(item.total_price,2);

                          if(item.category_id === data.category_id){
                            catTotal += Number(item.total_price,2);
                          }
                     });

                     this.$set(this.form.category_total, data.category_id, catTotal);
                     this.form.total_amount = total;
                   })
            },

            async handleChangeAmount (product) {
               var prc = (this.form.price[product.product_id] != null ? this.form.price[product.product_id] : product.product_price);
               // this.$set(this.form.total, product.product_id, (product.product_price * this.form.qty[product.product_id]))
               this.$set(this.form.total, product.product_id, (prc * this.form.qty[product.product_id]))


               this.firstCol.map((item,index) => {
                  if(product.category_id === item.category_id){
                  var categoryTotal = 0;
                    item.products.map((item2,index2) => {
                        var prc = (this.form.price[item2.product_id] != null ? this.form.price[item2.product_id] : item2.product_price);
                         if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                            // categoryTotal += (this.form.qty[item2.product_id] * item2.product_price);
                            categoryTotal += (this.form.qty[item2.product_id] * prc);

                         }
                    })
                    this.$set(this.form.category_total, product.category_id, categoryTotal);
                  }
               });


               this.secondCol.map((item,index) => {
                  if(product.category_id === item.category_id){
                  var categoryTotal = 0;
                    item.products.map((item2,index2) => {
                      var prc = (this.form.price[item2.product_id] != null ? this.form.price[item2.product_id] : item2.product_price);
                         if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                            // categoryTotal += (this.form.qty[item2.product_id] * item2.product_price);
                            categoryTotal += (this.form.qty[item2.product_id] * prc);

                         }
                    })
                    this.$set(this.form.category_total, product.category_id, categoryTotal);
                  }
               })


                var totalAmount = 0;
                this.form.category_total.map((item,index) => {
                  if(item !== 0 && typeof item !== 'undefined' && item !== ''){
                    totalAmount += item;
                  }
                })

                this.form.total_amount = totalAmount;


            },

    },

    created(){

                this.$store.dispatch('viewOrder', {order_id: this.$route.params.id}).then(res => {

                    let data = res.data;
                    this.form.client_id = data.user_id;
                    this.form.buyer_name = data.name;
                    this.form.buyer_lastname = data.last_name;
                    this.form.address = data.address;
                    this.form.contact_number = data.contact;
                    this.form.wechat_id = data.wechat_id;
                    this.form.telegram = data.telegram;
                    this.form.buyer_remarks = data.remarks;
                    this.form.rmb = data.rmb_received;
                    this.form.date_of_delivery = data.date_of_delivery;
                    this.product_purchased = data.details;
                    console.log(data.details);
                    this.getCategories();
                });
    },


}

</script>

<style lang="scss" scoped>


  .total-price{
    text-align: right;
    font-weight: bold;
    margin-top:10px;
  }
  .add-item{
     text-align: right;
     width:'100%';
  }
  .col{
   text-align: left;
  }

  .row{
   border-bottom:1px solid #ccc;
   padding:2px;
  }

  .cat-header{
   padding:10px 10px 10px 10px;
   font-weight: bold;
   background: #DCDCDC;
   border:1px solid #ccc;
  }

  .row-header{
   border:1px solid #ccc;
   padding:5px;
  }

  .col-header{
   text-align: left;
   font-weight: bold;
  }

   .p-img{
/*    width: 110px;
    height: 100px;*/
    width: 98%;
    max-height: 100px;
  }

  .p-img-error{
    font-size: 50px; color: #d4d8dc; margin-left: 10px;
  }

  @media screen and (max-width: 1024px) {
    .p-img {
      /*width: 80px;*/
    }
  }

  @media screen and (max-width: 767px) {
    .p-img {
      max-height: 170px;
    }
  }

</style>
