<template>
  <div>
  <div class="heading">
    <div class="search-container">
      <el-button @click="$refs.table.getTableData()" type="primary" icon="el-icon-refresh" size="small"></el-button>

      <form class="search" >
        <el-input placeholder="Search Order" prefix-icon="el-icon-search" v-model="search" clearable  @change="handleSearch"  style="padding-left: 30px;">
        </el-input>
      </form>
    </div>
    <div class="button-container">
      <div> 
        <!-- {{orderSelected}} -->
        <el-button type="primary" size="small" icon="el-icon-view" @click.prevent="goToProductsList">
          Products
        </el-button>
        <el-button type="primary" size="small" icon="el-icon-plus" @click.prevent="goToAddOrder">
          Add Order
        </el-button>
        <el-button type="primary" size="small" icon="el-icon-view" @click.prevent="toggleCheckbox">
          {{ (enableCheckbox) ?  'Cancel' : 'View summary' }}
      </el-button>
      <el-button type="primary" size="small" icon="el-icon-view" @click="viewSummary()" v-if="orderSelected.length > 0">
          View
      </el-button>
        </el-button>
      </div>
    </div>
  </div>

    <data-table
      :get-data="getData"
      ref="table"
      :columns="columns">
        <div class="text-size" slot="id" slot-scope="{row}">
          <el-checkbox :disabled="(row.is_delivered > 0) ? true : false" v-model="form.selected[row.order_id]" @change="checkOrder(row.order_id)" v-if="enableCheckbox"></el-checkbox>

          <b style="margin-left: 10px; cursor: pointer;" @click="viewOrderLog(row.order_id)">{{ row.order_id }}</b>
        </div>
        <b class="text-size" slot="name" slot-scope="{row}" :class="[ (row.prio == 1 ? 'prio' : 'notprio')]"
        >
            {{row.name | capitalize}} {{ (row.last_name != 'N/A' ? row.last_name : '') }}
        </b>
        <span class="text-size" slot="number" slot-scope="{row}">
          {{row.contact}}
        </span>
        <span class="text-size" slot="wechat" slot-scope="{row}">
            {{row.wechat_id}}
        </span>
        <b class="text-size" slot="status" slot-scope="{row}">
            {{ (row.is_delivered ? 'DELIVERED' : 'FOR DELIVERY') }}<br> {{ (row.delivered_by? '('+row.delivered_by+')' : ''  )}}
        </b>
        <span class="text-size" slot="date_of_delivery" slot-scope="{row}">
          {{row.date_of_delivery}}
        </span>
        <span class="text-size" slot="remarks" slot-scope="{row}">
          {{row.remarks}}
        </span>
        <span class="text-size" slot="address" slot-scope="{row}">
          {{row.address}}
        </span>
        <span class="text-size" slot="money" slot-scope="{row}">
          <b v-if="row.rmb_received == '' || row.rmb_received == null" :class="[ (row.is_received == 0 ? 'notrcvd' : '')]">{{row.money_received}}</b>
          <b v-else :class="[ (row.is_received == 0 ? 'notrcvd' : '')]">{{row.rmb_received}}<small>rmb</small></b>
        </span>
        <span class="text-size" slot="total" slot-scope="{row}">
          {{row.total_price}}
        </span>

        <div slot="action" slot-scope="{row}">
          <el-tooltip :enterable="enterable" class="item" effect="dark" content="Edit Order" placement="top-start" v-if="editAccess()">
            <el-button  type="success" size="mini" icon="el-icon-edit-outline" @click="handleEditOrder(row.order_id)"></el-button>
          </el-tooltip>

          <el-tooltip :enterable="enterable" class="item" effect="dark" content="View Order" placement="top-start">
            <el-button  icon="el-icon-document-checked" size="mini" @click="viewOrder(row.order_id)"></el-button>
          </el-tooltip>
          <br>
          <el-tooltip class="item" effect="dark" content="Delete Order" placement="top-end" v-if="deleteAccess()">
            <el-button @click.stop="handleDelete(row.order_id)" type="danger" size="mini" icon="el-icon-delete" style="margin-top: 5px"></el-button>
          </el-tooltip>

          <el-tooltip class="item" effect="dark" content="Mark Product as Complete" placement="top-end" v-if="editAccess()">
            <el-button @click="markCompleteDialog(row)" type="success" size="mini" icon="el-icon-check" style="margin-top: 5px"></el-button>
          }
          }
          </el-tooltip>
        </div>
    </data-table>

              <el-dialog
            title="Mark as Complete"
            :visible.sync="dialogVisible"
            width="30%">

            <span><b style="margin-right: 60px">Order Status :</b>
              <el-radio v-model="order_status" label="no">For Delivery</el-radio>
              <el-radio v-model="order_status" label="yes">Delivered</el-radio>
            </span><br><br>

            <span><b style="margin-right: 84px">Currency :</b>
              <el-radio v-model="currency" label="peso">Peso</el-radio>
              <el-radio v-model="currency" label="rmb">Rmb</el-radio>
            </span><br><br>

            <span  v-if="currency != '' && currency == 'rmb'">
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Rmb Received :</b></div></el-col>
                <el-col :span="16"><div><el-input type="text" v-model="rmb_received" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span>

            <span  v-if="currency != '' && currency == 'peso'">
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Peso Received :</b></div></el-col>
                <el-col :span="16"><div><el-input type="number" min="0" v-model="money_received" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span><br>


            <span>
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Delivered By :</b></div></el-col>
                <el-col :span="16">
                  <div>
                    <el-select v-model="delivered_by"  style="width: 275px;">
                      <el-option
                        v-for="s in riders"
                        :label="s.value"
                        :value="s.value">
                      </el-option>
                      <el-option label="Grab" value="Grab" v-if="rmb_received != '' && rmb_received != null"></el-option>
                    </el-select>
                  </div>
              </el-col>
              </el-row>
            </span><br>

            <span v-if="delivered_by == 'Grab'">
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Grab Fee :</b></div></el-col>
                <el-col :span="16"><div><el-input type="number" min="0" v-model="grab_fee" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span><br>

<!--             <span  v-if="rmb_received == '' || rmb_received == null">
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Delivery Budget :</b></div></el-col>
                <el-col :span="16"><div><el-input type="number" v-model="delivery_budget" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span><br> -->

            <span slot="footer" class="dialog-footer">
              <el-button @click="handleCancel()">Cancel</el-button>
              <el-button type="primary" @click="handleComplete()">Confirm</el-button>
            </span>
          </el-dialog>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import DataTable from '../../components/datatable-double-pagination'
import Receipt from './components/receipt'

export default {
  name: 'orders',

  components: {
  	DataTable
  },
  data () {
    return {
      order_status : '',
      order_id : '',
      money_received : '',
      rmb_received : '',
      currency : '',
      delivered_by : '',
      // delivery_budget : '',
      grab_fee : '',

      riders: [{
          value: 'Jeo',
        }, {
          value: 'Vergel',
        }, {
          value: 'Yenyen',
        }, {
          value: 'RC',
        }, {
          value: 'Wilson',
        }, {
          value: 'John',
        }, {
          value: 'Oscar',
        }, {
          value: 'Picked up',
        }
        // , {
        //   value: 'Grab',
        // }
        ],

      orderSelected: [],
      form:{
        selected: [],
      },

      authUser : '',

      enableCheckbox : false,
      dialogVisible : false,
      enterable : false,
      users: [],
      selections: [],
      total: 0,
      size: 20,
      page: 1,
      search: '',
      sort: '',
      order: '',
      loading: false,
      columns: [ // set table column names here, use expand to expand child content
        // {
        //   type: "expand"
        // },
        {
          prop: 'id',
          label: "Order ID",
          minWidth: '45',
          // sortable: true
        },
        {
          prop: 'name',
          label: 'Name',
          minWidth: '60',
          // sortable: true
        },
        {
          prop: 'number',
          label: 'Number',
          minWidth: '60',
          // sortable: true
        },
        {
          prop: 'wechat',
          label: 'Wechat',
          minWidth: '60',
          // sortable: true
        },
        {
          prop: 'status',
          label: 'Status',
          minWidth: '70',
          // sortable: true
        },
        {
          prop: 'date_of_delivery',
          label: 'Delivery Date',
          minWidth: '80',
          // sortable: true
        },
        {
          prop: 'remarks',
          label: 'Remarks',
          minWidth: '60',
          // sortable: true
        },
        {
          prop: 'address',
          label: 'Address',
          minWidth: '90',
          // sortable: true
        },
        {
          prop: 'money',
          label: 'Money Rcvd',
          minWidth: '70',
          // sortable: true
        },
        {
          prop: 'total',
          label: 'Total Price',
          minWidth: '60',
          // sortable: true
        },
        {
          prop: 'action',
          fixed: 'right',
          label: this.$t('Common.actions'),
          width: '120'
        }
      ]
    }
  },

  created () {
    this.enableCheckbox = false;
  },

  computed: mapGetters({
    session: 'session'
  }),

  methods: {
    editAccess(){
      var id = this.session.user.id;
      var ids = [1,9, 1193, 12978, 14870, 14871];
      var check = ids.includes(id);
      return check;
    },
    deleteAccess(){
      var id = this.session.user.id;
      var ids = [1, 1193];
      var check = ids.includes(id);
      return check;
    },

    getData ({ page, query, sortParams, size }) {
      if(sortParams.length == 0){
        sortParams = 'id-desc'
      }

       return this.$store.dispatch('getAllOrders', {
        page: 'page=' + page,
        sort: 'sort=' + sortParams,
        perPage: size
      }).then(res => {
        const { data } = res
        // console.log(res);
        return {
          data: res.data.data,
          total: res.data.total,
          size: size
        }
      })
    },

    goToAddOrder () {
        this.$router.push('orders/create')
      },

    goToProductsList () {
        this.$router.push('product/list')
      },

    handleSearch(){
      this.$refs.table.getTableData();
    },

    toggleCheckbox () {
      if(this.enableCheckbox){
        this.enableCheckbox = false;
      }
      else{
        this.enableCheckbox = true;
      }
    },

    // viewOrder (order_id) {
    //   this.$store.dispatch('callModal', { child_component: Receipt, title: "Receipt [ ORDER ID "+order_id+" ]", modalWidth: '1120px',  content : { "order_id" : order_id } }) // call global modal state
    //   this.$parent.$refs.modal.show() // show modal
    // },

    viewOrder(order_id){
        // alert(this.orderSelected);
      setTimeout(() => {

        const orderId = order_id;
        const redirect = 'redirect'

        const routeData = this.$router.resolve(
          {
            name: 'view-order',
            params: { orderId,redirect }
          }
        )

        window.open(routeData.href, '_blank')
      })
        //this.$router.push('orders/summary/' + this.orderSelected)
    },

    viewOrderLog(order_id){
        // alert(this.orderSelected);
      setTimeout(() => {

        const orderId = order_id;
        const redirect = 'redirect'

        const routeData = this.$router.resolve(
          {
            name: 'view-order-log',
            params: { orderId,redirect }
          }
        )

        window.open(routeData.href, '_blank')
      })
        //this.$router.push('orders/summary/' + this.orderSelected)
    },

    handleDelete (order_id) {

    this.$confirm("Are you sure you want to delete the data?", "", {
        confirmButtonText: this.$t('Common.ok').toUpperCase(),
        cancelButtonText: this.$t('Common.cancel'),
        type: 'warning'
    })
    .then(() => {

        this.$message({
          type: 'success',
          message: "Successfully Deleted"
        });

        this.$store.dispatch('deleteOrder', order_id).then(res => {
              this.$refs.table.getTableData();
        });

    }).catch(() => {
        this.$message({
          type: 'error',
          message: "Canceled Delete!"
        });
    });



    },

    handleEditOrder(order_id){
        this.$router.push('orders/update/' + order_id)
    },

    viewSummary(){
        // alert(this.orderSelected);
      setTimeout(() => {

        // const orderIds = JSON.stringify(this.orderSelected);
        const orderIds = JSON.stringify(this.orderSelected);
        const redirect = 'redirect'

        const routeData = this.$router.resolve(
          {
            name: 'order-summary',
            params: { orderIds,redirect }
          }
        )

        window.open(routeData.href, '_blank')
      })
        //this.$router.push('orders/summary/' + this.orderSelected)
    },

    markCompleteDialog(order){
      console.log(order);
      this.order_id = order.order_id;
      var stats = (order.is_delivered == 0 ? 'no' : 'yes');
      this.order_status = stats;
      // var rcvd = (order.is_received == 0 ? 'no' : 'yes');
      // this.is_received = rcvd;
      this.currency = (order.money_received > 0 ? 'peso' : (order.rmb_received > 0 ? 'rmb' : ''));
      this.money_received = order.money_received;
      this.rmb_received = order.rmb_received;
      this.delivered_by = order.delivered_by;
      //alert(is_delivered);
      this.dialogVisible = true;
    },

    handleComplete () {

      var data = {};
      data.order_id = this.order_id;
      data.is_delivered = this.order_status;
      data.money_received = this.money_received;
      data.rmb_received = this.rmb_received;
      data.currency = this.currency;
      // data.is_received = this.is_received;
      data.delivered_by = this.delivered_by;
      // data.delivery_budget = this.delivery_budget;
      data.grab_fee = this.grab_fee;

      this.$store.dispatch('markComplete', data).then(res => {
          if(res.status == 'Success'){          
            this.dialogVisible = false;
            this.$message({
              type: 'success',
              message: 'Order successfully marked as complete!'
            });
            this.$refs.table.getTableData();
            this.handleCancel();
          }
          else{
            this.$message({
              type: 'error',
              message: 'Please complete the form!'
            });
          }
      })

      
    },

    handleCancel(){
      this.order_id = '' ;
      this.order_status = '';
      this.money_received = '';
      this.rmb_received = '';
      this.is_received = '';
      this.delivered_by = '';
      this.delivery_budget = '';
      this.dialogVisible = false;
    },

    checkOrder(order){
        var orderIndex = this.orderSelected.findIndex(v => v === order);
        if(orderIndex === -1){
           this.orderSelected.push(order);
        }else{
           this.orderSelected.splice(orderIndex, 1);
        }
    },
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__wrapper {
  .el-dialog{
    height: 300px !important;
  }
}

.notrcvd{
  color: #ce1212 !important;
}

.prio{
  color: #337ab7 !important;
}
.notprio{
  color: #941ab3 !important;
}
.search-container {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 0px !important;
}

.button-container {
  display: flex;

  div:last-child {
    margin-left: 10px;
  }
}

.text-size {
  font-size: 13px;
}

@media screen and (max-width: 991px) {
  .button-container {
    display: inline-block;

    div:last-child {
      margin-left: 0px;
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper > .main > .content > .inner > .heading {
    display: block;

    .search {
      margin-right: 0px;

      input {
        &:focus {
          width: 95% !important;
        }
      }
    }
  }

  .button-container {
    display: block;
    margin-top: 10px;
    justify-content: flex-end;

    div:nth-child(n) {
      display: inline-block;
      margin-top: 5px;
    }

    div:first-child {
      margin-right: 10px;
    }

    div:last-child {
      margin-left: 0px;
    }
  }
}
</style>

<style lang="scss">
  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 1rem;
    text-align: right;
  }

  .el-tag {
    margin: 0 .0625rem;
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      width: 2rem;
      height: 2rem;
      margin: 1rem 1rem 1rem 0;
      border: .0625rem solid #c0c0c0;
      border-radius: 50%;
      background: #cfd2d7;
    }

    .names {
      display: flex;
      flex: 1;
      flex-direction: column;
      font-size: .8125rem;
      line-height: 1.4;
    }
    .search input {
      width: 100% !important;
    }
  }

  .high-risk {
    color: RED;
  }
</style>
