<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';
.order-info {}

.el-form-item {
    padding: 5px;
}

</style>

<template>

<div>
    <div class="heading">
        <h1 class="title">
        New Orders
      </h1>
    </div>

    <div class="body-container" style="overflow: scroll;">
        <div class="form-container container-padding add-order">
            <el-form :model="form" ref="order_form" id="buyer_info">
            <div class="order-info">

                <el-row >
                   <el-col :span="18">
                      <h1 class="form-title">Order Details</h1>
                   </el-col>
                   <el-col :span="5">
                     <h1>Total Amount: {{this.form.total_amount | currency}}</h1>
                   </el-col>
               </el-row>

                <div>

                <el-row class="row-content">

                <el-col :span="12" >
                <el-row class="row-header">
                  <!-- <el-col :span="5" class="col-header" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                    Image
                  </el-col> -->
                  <el-col :span="24" class="col-header">
                    Product Details
                  </el-col>
                  <!-- <el-col :span="4" class="col-header">
                    Qty
                  </el-col>
                  <el-col :span="6" class="col-header">
                    Total Price
                  </el-col> -->

                  <!-- <el-col :span="5" class="col-header">
                    Remarks
                  </el-col> -->
               </el-row>

              <div v-for="(v1, index) in this.firstCol">
                <div class="cat-header">
                <el-row>
                  <el-col :span="14">
                          <div class="cat-name">{{v1.name}}</div>
                  </el-col>
                  <el-col :span="3">
                          Total:
                  </el-col>
                  <el-col :span="7">
                  <div style="text-align:right;">
                      <el-input placeholder="0"  size="mini" v-model="form.category_total[v1.category_id]" readonly></el-input>
                  </div>
                  </el-col>
                </el-row>

              </div>
              <el-row v-for="product in v1.products" class="row">
                <!-- <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                  <el-image class="p-img" :src="storageURL+ 'products/' + product.product_img" :preview-src-list="[storageURL+ 'products/' + product.product_img]" >
                    <div slot="error" class="image-slot" >
                      <i class="el-icon-picture-outline p-img-error"></i>
                    </div>
                  </el-image>
                </el-col> -->
                <el-col :span="24">
                  <el-row>
                  <el-col :span="12" style="font-size: 15px">
                    <b>{{product.product_name }}</b><br> <span style="font-size: 13px;">{{ "(" + product.product_name_chinese +")"}}</span>
                    <br><br><b>Unit Price : {{product.product_price}}<br></b>
                  </el-col>

                  <el-col :span="12" >
                    <el-row>
                      <el-col :span="9">
                        <el-input-number border="0px" placeholder="0" class="mini-input" :controls="false"  size="mini" v-model="form.qty[product.product_id]" @change="handleChangeAmount(product)" :min="0" style="width: 100%"></el-input-number>
                      </el-col>
                      <el-col :span="15">
                        <el-input style="c-total-price" placeholder="0"  size="mini" v-model="form.total[product.product_id]" readonly></el-input>
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col :span="24">
                        <el-input  class="" type="textarea" placeholder="remarks" v-model="form.remarks[product.product_id]" style="margin-top: 10px;"></el-input>
                      </el-col>
                    </el-row>
                  </el-col>
                </el-row>
                </el-col>
             </el-row>
              </div>
           </el-col>

                <el-col :span="12">

                      <el-row class="row-header">
                        <!-- <el-col :span="5" class="col-header" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                          Image
                        </el-col> -->
                        <el-col :span="24" class="col-header" >
                          Product Details
                        </el-col>
                     </el-row>

                     <div v-for="(v1, index) in this.secondCol">

                     <div class="cat-header">
                     <el-row>
                       <el-col :span="14">
                               <div class="cat-name">{{v1.name}}</div>
                       </el-col>
                       <el-col :span="3">
                               Total:
                       </el-col>
                       <el-col :span="7">
                       <div style="text-align:right;">
                           <el-input placeholder="0"  size="mini" v-model="form.category_total[v1.category_id]" readonly></el-input>
                       </div>
                       </el-col>
                     </el-row>
                     </div>


              <el-row v-for="product in v1.products" class="row">
                <!-- <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                  <el-image class="p-img" :src="storageURL+ 'products/' + product.product_img" :preview-src-list="[storageURL+ 'products/' + product.product_img]" >
                    <div slot="error" class="image-slot" >
                      <i class="el-icon-picture-outline p-img-error"></i>
                    </div>
                  </el-image>
                </el-col> -->
                <el-col :span="24">
                  <el-row>
                  <el-col :span="12" style="font-size: 15px" >
                    <b>{{product.product_name }}</b><br> <span style="font-size: 13px;">{{ "(" + product.product_name_chinese +")"}}</span>
                    <br><br><b>Unit Price : {{product.product_price}}<br></b>
                  </el-col>

                  <el-col :span="12"  >
                    <el-row>
                      <el-col :span="9">
                        <el-input-number border="0px" placeholder="0" class="mini-input" :controls="false"  size="mini" v-model="form.qty[product.product_id]" @change="handleChangeAmount(product)" :min="0" style="width: 100%"></el-input-number>
                      </el-col>
                      <el-col :span="15">
                        <el-input style="c-total-price" placeholder="0"  size="mini" v-model="form.total[product.product_id]" readonly></el-input>
                      </el-col>
                    </el-row>
                    <el-row>
                      <el-col :span="24">
                        <el-input  class="" type="textarea" placeholder="remarks" v-model="form.remarks[product.product_id]" style="margin-top: 10px;"></el-input>
                      </el-col>
                    </el-row>
                  </el-col>
                </el-row>
                </el-col>
             </el-row>
                     </div>
                    </el-col>
                </el-row>

                    <div class="total-price">
                        <label>Total Amount: {{this.form.total_amount | currency}}</label>
                    </div>
                </div>
                <br/>
                <br/>

                <div class="border-line"></div>

                <!-- Buyer info-->
                <h1 class="form-title">Buyer's Information</h1>
                <div class="border-line"></div>

                <div class="inner-container">

                  <b>{{ clientSelected ? 'Existing CLient' : 'New Client' }}</b>


                        <el-form-item label="Search Client" prop="client_search">
                                    <el-select
                                      v-model="value"
                                      filterable
                                      remote
                                      :placeholder="$t('Common.search-client-placeholder')"
                                      :remote-method="searchClient"
                                      :loading="loading"
                                      :loading-text="$t('Common.searching-client') + '...'"
                                      style="width: 100%;" :no-data-text="$t('Common.no-client-found')"
                                      @change="loadClient(value)" >
                                      <template slot="prefix"><i class="el-icon-search" style="padding-top: 13px; padding-left: 5px;;"></i></template>
                                      <el-option
                                        v-for="item in clientResults"
                                        :key="item.id"
                                        :label="item.full_name"
                                        :value="item.id">
                                      </el-option>
                                    </el-select>
                        </el-form-item>

                        <el-row :gutter="20">
                          <el-col :span="12">
                            <el-form-item label="Date of Delivery">
                              <el-date-picker
                                style="width: 100%;"
                                v-model="form.date_of_delivery"
                                type="date"
                                format="dd/MM/yyyy"
                                placeholder="dd/mm/yyyy"
                                value-format="yyyy-MM-dd"
                                :picker-options="{
                                  disabledDate(time) {
                                    let today =  Number(new Date((new Date()).toDateString()));
                                    return time.getTime() < today;
                                  }
                                }">
                              </el-date-picker>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                              <el-form-item label="Contact Number" prop="contact_number">
                                  <el-input type="text"  v-model.contact_number="form.contact_number" autocomplete="off" maxlength="11" show-word-limit @keyup.native="InputNumber()"></el-input>
                              </el-form-item>
                          </el-col>
                        </el-row>


                        <el-row :gutter="20">
                          <el-col :span="12">
                            <el-form-item label="Buyer's First Name" prop="buyer_name">
                                <el-input type="text" v-model.buyer_name="form.buyer_name" autocomplete="off"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Buyer's Last Name" prop="buyer_name">
                                <el-input type="text" v-model.buyer_name="form.buyer_lastname" autocomplete="off"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-row :gutter="20">
                          <el-col :span="8">
                            <el-form-item label="WeChat ID" prop="wechat_id">
                                <el-input type="text" v-model.wechat_id="form.wechat_id" autocomplete="off"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="Telegram" prop="telegram">
                              <el-input type="text" v-model.telegram="form.telegram" autocomplete="off"></el-input>
                          </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="Chinese Money Paid" prop="rmb">
                              <el-input type="number" min="0" v-model.telegram="form.rmb" autocomplete="off"></el-input>
                          </el-form-item>
                          </el-col>
                        </el-row>

                        <el-form-item label="Address" prop="address">
                            <el-input type="text" v-model.address="form.address" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="Remarks" prop="buyer_remarks">
                            <el-input type="text" v-model.buyer_remarks="form.buyer_remarks"></el-input>
                        </el-form-item>


                        <el-form-item>
                            <el-button type="primary" @click="submitForm('order_form')">{{ $t('Common.submit') }}</el-button>
                            <el-button @click="resetForm('order_form')">{{ $t('Common.reset') }}</el-button>
                        </el-form-item>

                </div>

            </div>
          </el-form>
        </div>
    </div>
</div>

</template>

<script>

import {
    mapGetters
}
from 'vuex'

import DataTable from '../../components/datatable'
import OrderForm from './components/order-form'


export default {
    name: 'order-details',
    components: {
        DataTable
    },
    data() {
        return {
            data: [],
            total_price: 0,

            clientResults: [],
            clientSelected: '',

            value: [],
            loading: false,

            firstCol: [],
            secondCol:[],
            categories: [],
            form: {
                client_id: '',
                buyer_name: '',
                buyer_lastname: '',
                address: '',
                contact_number: '',
                wechat_id: '',
                telegram: '',
                rmb: '',
                qty: [],
                total: [],
                category_total: [],
                remarks: [],
                buyer_remarks: '',
                date_of_delivery: '',
                money_received: '',
                total_amount: 0
            },

            storageURL: process.env.VUE_APP_STORAGE,
        }
    },

    computed: mapGetters({
        orders: 'orders'
    }),

    mounted() {
        this.$eventBus.$on('refreshTable', () => {
            this.$refs.table.getTableData();
        });
    },


    methods: {
            InputNumber () {
              this.form.contact_number = this.limitInputNumber(this.form.contact_number)
            },

                 // Verify that only numbers can be entered
            limitInputNumber (val) {
              if (val) {
                return String(val).replace(/\D/g, '')
              }
              return val
            },

            handleDelete(id){
                console.log(id);
            },

            handleEditOrder(id){
                console.log(id);
            },

            goToAddOrder() {
                this.$store.dispatch('callModal', {
                        child_component: OrderForm,
                        title: "Add Product",
                        modalWidth: '55%'
                    }) // call global modal state
                this.$parent.$refs.modal.show() // show modal
            },

            submitForm(form) {

            var data = {};
            data.name = this.form.buyer_name;
            data.last_name = this.form.buyer_lastname;
            data.wechat_id = this.form.wechat_id;
            data.rmb = this.form.rmb;
            data.telegram = this.form.telegram;
            data.address = this.form.address;
            data.contact = this.form.contact_number;
            data.remarks = this.form.buyer_remarks;
            data.date_of_delivery = this.form.date_of_delivery;
            data.client_id = this.form.client_id;

            var products = [];



            this.firstCol.map((item,index) => {
               var categoryTotal = 0;
                 item.products.map((item2,index2) => {
                      if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                         var product = {};
                            product.product_id = item2.product_id;
                            product.total_price = (item2.product_price * this.form.qty[item2.product_id]);
                            product.unit_price = item2.product_price;
                            product.qty =  this.form.qty[item2.product_id];
                            product.remarks =  (typeof this.form.remarks[item2.product_id] !=='undefined') ? this.form.remarks[item2.product_id] : '';
                            products.push(product);
                      }
                 })
            });


            this.secondCol.map((item,index) => {

               var categoryTotal = 0;
                 item.products.map((item2,index2) => {
                      if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                      var product = {};
                         product.product_id = item2.product_id;
                         product.total_price = (item2.product_price * this.form.qty[item2.product_id]);
                         product.unit_price = item2.product_price;
                         product.qty =  this.form.qty[item2.product_id];
                         product.remarks =  (typeof this.form.remarks[item2.product_id] !=='undefined') ? this.form.remarks[item2.product_id] : '';
                         products.push(product);
                      }
                 })
            });


            data.products = products;


            if(this.form.buyer_name !== "" && this.form.buyer_lastname !== "" && this.form.address !== "" && (this.form.wechat_id !== "" || this.form.telegram !== "") && this.form.contact !== "" && this.form.date_of_delivery !== null){
                if(products.length > 0 ){
                    this.$store.dispatch('saveOrders', data
                    ).then(res => {

                      if(res.code === 200){
                          this.$message({
                              type: 'success',
                              message: this.$t('Common.successfully_saved')
                          });
                          this.$refs[form].resetFields();
                      }else{
                        this.$message({
                            type: 'error',
                            message: res.errors
                        });
                      }

                    });
                }else{
                  this.$message({
                      showClose: true,
                      message: "No Product Selected!",
                      type: 'error',
                      center: true
                  })
                }
            }else{
              this.$message({
                  showClose: true,
                  message: "Please Complete Required fields!",
                  type: 'error',
                  center: true
              })
            }

            },

            getData({
                page, query, sortParams, size
            }) {
                let vm = this;
                if (sortParams.length == 0) {
                    sortParams = 'id-desc'
                }

                var total = 0;

                this.orders.data.map((item,index) => {
                    total += (item.product.product_price * item.qty)
                })

                this.total_price = total;

                return {
                  data: this.orders.data,
                  total: this.orders.data.length,
                  size: 20
                }


            },

            async getCategories (){
                setTimeout(() => {
                    this.$store.dispatch('getProductCategories').then(response => {
                     this.categories = response.data;

                     //static declaration of category
                     var first = [{category_id:1},{category_id:3}];
                     var second = [{category_id:2},{category_id:4},{category_id:5},{category_id:7},{category_id:6}];

                     console.log(response.data);

                     response.data.map((item,index) => {

                        var v1 = first.findIndex(v => v.category_id === item.category_id);
                        var v2 = second.findIndex(v => v.category_id === item.category_id);

                        console.log(item);

                        if(v1 !== -1){
                         this.getProducts(this.firstCol,item);
                        }

                        if(v2 !== -1){
                          this.getProducts(this.secondCol,item);
                        }

                     });

                     //console.log(this.firstCol);



                   })
                }, 200);
            },

            async getProducts (list, data){
              console.log(data.category_id);
                    this.$store.dispatch('getProductByCatId', data.category_id).then(response => {
                     data.products = response.data.data;
                     list.push(data);
                   })

            },

            searchClient(queryString) {
              this.clientResults = [];
              // if (queryString !== '') {
              if (queryString !== '' && queryString.length >= 11) {
                  this.loading = true;
                  setTimeout(() => {
                    return this.$services.client.clientSearch({
                      keyword : queryString,
                      branch_id : this.user_branch
                    })
                    .then(response => {
                    this.loading = false;
                    this.clientResults = response.data.data;
                  })
                  }, 200);
                } else {
                  this.clientResults = [];
                }

            },

            loadClient(client_id){
              this.clientSelected = client_id;
              return this.$services.client.getClientProfile({
                id: client_id
                // sort: sortParams
              })
                .then(response => {
                  const clientData = response.data.data.client
                  console.log(clientData);
                  this.form.buyer_name = clientData.first_name;
                  this.form.buyer_lastname = clientData.last_name;
                  this.form.address = clientData.address;
                  this.form.wechat_id = clientData.wechat_id;
                  this.form.telegram = clientData.telegram;
                  this.form.contact_number = clientData.contact.number;
                  this.form.client_id = client_id;
              })
            },

            async handleChangeAmount (product) {

               this.$set(this.form.total, product.product_id, (product.product_price * this.form.qty[product.product_id]))


               this.firstCol.map((item,index) => {
                  if(product.category_id === item.category_id){
                  var categoryTotal = 0;
                    item.products.map((item2,index2) => {
                         if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                            categoryTotal += (this.form.qty[item2.product_id] * item2.product_price);

                         }
                    })
                    this.$set(this.form.category_total, product.category_id, categoryTotal);
                  }
               });


               this.secondCol.map((item,index) => {
                  if(product.category_id === item.category_id){
                  var categoryTotal = 0;
                    item.products.map((item2,index2) => {
                         if(this.form.qty[item2.product_id] !== 0 && typeof this.form.qty[item2.product_id] !== 'undefined' && this.form.qty[item2.product_id] !== ""){
                            categoryTotal += (this.form.qty[item2.product_id] * item2.product_price);

                         }
                    })
                    this.$set(this.form.category_total, product.category_id, categoryTotal);
                  }
               })


                var totalAmount = 0;
                this.form.category_total.map((item,index) => {
                  if(item !== 0 && typeof item !== 'undefined' && item !== ''){
                    totalAmount += item;
                  }
                })

                this.form.total_amount = totalAmount;


            },

    },

    created(){
        this.getCategories();
    },
}

</script>

<style lang="scss"  scoped>

  .el-col{
    font-size: 13px;
 align-items: left;
  }

  .total-price{
    text-align: right;
    font-weight: bold;
    margin-top:10px;
  }
  .add-item{
     text-align: right;
     width:'100%';
  }
  .col{
   text-align: left;
  }

  .row{
   border-bottom:1px solid #ccc;
   padding:2px 8px;
  }

  .cat-header{
   padding:10px 10px 10px 10px;
   font-weight: bold;
   background: #E8E8E8;
   border:1px solid #ccc;
   text-align: justify;
  }

  .row-header{
   border:1px solid #ccc;
   padding:5px;
  }

  .col-header{
   text-align: left;
   font-weight: bold;
  }

  .remarks{
    padding:2px;
  }

  .c-total-price{
   border:0px;
  }

  .cat-name{
    color: #4bbe56 !important;
  }


  .p-img{
/*    width: 110px;
    height: 100px;*/
    width: 98%;
    max-height: 100px;
  }

  .p-img-error{
    font-size: 50px; color: #d4d8dc; margin-left: 10px;
  }

  @media screen and (max-width: 1024px) {
    .p-img {
      /*width: 80px;*/
    }
  }

  @media screen and (max-width: 767px) {
    .p-img {
      max-height: 170px;
    }
  }


</style>
