<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';
.order-info {}

.el-form-item {
    padding: 5px;
}

.el-input__inner {
    height: 40px !important;

}

.el-input--mini{
    height: 40px !important;
    margin-top: 4px;
    margin-left: 4px;
    line-height: 28px;
    width: 95px;
}

</style>

<template>

<div>
    

    <div class="body-container" style=" margin-bottom:  0px; overflow: auto;">
        <div class="form-container container-padding">
            <el-form :model="form" ref="order_form" id="buyer_info">
            <div class="order-info">

                <div>

                <el-row class="row-content">

                <el-col :span="24" >
<!--                 <el-row class="row-header">
                  <el-col :span="5" class="col-header" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                    Image
                  </el-col>
                  <el-col :span="19" class="col-header" :xl="19" :lg="19" :md="17" :sm="17" :xs="17">
                    Product Details
                  </el-col>
               </el-row> -->

              <div v-for="(v1, index) in this.firstCol">
                <div class="cat-header">
                <el-row>
                  <el-col :span="24">
                          <div class="cat-name">{{v1.name}}</div>
                  </el-col>
                </el-row>
                </div>

             <el-row  class="row" :gutter="20" >
                <el-col :span="8" :gutter="1" v-for="product in v1.products" style="border : 1px #000 solid; padding: 0px;">
                  <el-row >
                  <el-col :span="16" style="color: #000; padding: 6px; font-size: 13px;">
                        <span><b>{{ form.name[product.product_id] }} </b></span>
                        <span class="pname">({{ form.name_chinese[product.product_id] }})</span>
                      
                    </el-col>
                    <el-col :span="5"  style=" padding:6px;font-size: 13px;">
                        <span><b> {{ form.orig_price[product.product_id] }} </b> <small>/{{ form.unit[product.product_id] }}</small></span>
                    </el-col>
                    <el-col :span="3" style="border: 1px #000 solid;padding: 6px;color: #FFF;">
                        .
                    </el-col>
            </el-row>
                </el-col>
                <!-- <el-col :span="12">
                  <el-row >
                    <el-col :span="24" style="color: #000; padding:  5px;">
                      <div  style="min-height:  80px; max-height: 80px;">
                        <span><b>{{ form.name[product.product_id] }} ({{ form.name_chinese[product.product_id] }})</b></span>
                      </div>
                      <br>
                      <span><b>Price : {{ form.price[product.product_id] }} </b></span>
                    </el-col>
                  </el-row>

                </el-col> -->

             </el-row>
              </div>
           </el-col>
<!-- 
                <el-col :span="12">

              <el-row class="row-header">
                  <el-col :span="5" class="col-header" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                    Image
                  </el-col>
                  <el-col :span="19" class="col-header" :xl="18" :lg="19" :md="17" :sm="17" :xs="17">
                    Product Details
                  </el-col>
               </el-row>

              <div v-for="(v1, index) in this.secondCol">
                <div class="cat-header">
                <el-row>
                  <el-col :span="24">
                          <div class="cat-name">{{v1.name}}</div>
                  </el-col>
                </el-row>

              </div>

              <el-row v-for="product in v1.products" class="row">
                <el-col :span="5" :xl="5" :lg="5" :md="24" :sm="24" :xs="24">
                  <div class="block demo-image__preview" style="height: 102px;">
                  <el-image class="p-img" :src="storageURL+ 'products/' + product.product_img"  :preview-src-list="[storageURL+ 'products/' + product.product_img]">
                    <div slot="placeholder" class="image-slot">
                    </div>
                  </el-image>
                </div>
                </el-col>
                <el-col :span="19" :xl="19" :lg="19" :md="24" :sm="24" :xs="24">
                  <el-row >
                    <el-col :span="24" style="color: #000; padding:  5px;">
                      <div  style="height:  80px">
                          <span><b>{{ form.name[product.product_id] }} ({{ form.name_chinese[product.product_id] }})</b></span>
                      </div>
                      <br>
                      <span><b>Price : {{ form.price[product.product_id] }} </b></span>
                    </el-col>
                  </el-row>

                </el-col>

             </el-row>
              </div>
                    </el-col> -->
                </el-row>

                </div>
                <br/>
                <br/>

                <div class="border-line"></div>

            </div>
          </el-form>
        </div>
    </div>
          <el-dialog
            title="Add New Product"
            :visible.sync="dialogVisible"
            width="35%">

<!--             <span>
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Picture :</b></div></el-col>
                <el-col :span="16">
                  <div>
                    <div class="align-center vertically-center">
                      <el-upload
                        class="choose-file-btn"
                        ref="upload"
                        action=""
                        list-type="text"
                        :on-change="handleChange"
                        :auto-upload="false"
                        multiple>
                          <el-button size="small" type="primary" icon="el-icon-plus">Choose File</el-button>
                      </el-upload>
                      <div v-for="(item, index) in form2.fileData">
                        <div class="documents-container align-center">
                        <el-image
                        class="documents"
                        :src="(typeof imgBase64[index] !== 'undefined') ? imgBase64[index].imgBase64 : ''"
                        fit="cover"></el-image>
                        <el-button size="mini" type="danger" class="remove-btn" @click="removeDocument(item, index)">
                          Remove
                        </el-button>
                      </div>
                      </div>
                    </div>
                  </div>
              </el-col>
              </el-row>
            </span><br> -->

            <span>
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Category :</b></div></el-col>
                <el-col :span="16">
                  <div>
                    <el-select v-model="category_id"  style="width: 275px;">
                      <el-option
                        v-for="s in categories"
                        :label="s.name"
                        :value="s.category_id">
                      </el-option>
                    </el-select>
                  </div>
              </el-col>
              </el-row>
            </span><br>

            <span>
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Product Name:</b></div></el-col>
                <el-col :span="16"><div><el-input type="text" v-model="name" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span><br>
            <span>
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Product Name Chinese:</b></div></el-col>
                <el-col :span="16"><div><el-input type="text" v-model="name_chinese" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span><br>

            <span>
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Product Price:</b></div></el-col>
                <el-col :span="16"><div><el-input type="number" min="0" v-model="price" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span><br>

            <span slot="footer" class="dialog-footer">
              <el-button @click="handleCancel()">Cancel</el-button>
              <el-button type="primary" @click="saveProduct()">Confirm</el-button>
            </span>
          </el-dialog>
</div>

</template>

<script>

import {
    mapGetters
}
from 'vuex'

import DataTable from '../../components/datatable'
import OrderForm from './components/order-form'


export default {
    name: 'product-list',
    components: {
        DataTable
    },
    data() {
        return {
            data: [],

            pid : '',

            category_id :'',
            name:'',
            name_chinese  :'',
            price :'',

            value: [],
            loading: false,
            dialogVisible : false,

            firstCol: [],
            secondCol:[],
            categories: [],
            form: {
                name: [],
                name_chinese: [],
                price: [],
                orig_price: [],
                unit: [],
            },

            form2: {
              fileData: []
            },
            imgBase64: [],

            dialogImageUrl: '',
            dialogVisible2: false,
            storageURL: process.env.VUE_APP_STORAGE,
            apiURL: process.env.VUE_APP_API_BASE,

            value : '',

            headerInfo: {
              'Access-Control-Allow-Methods': 'GET, POST, OPTIONS, PUT, DELETE',
              'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept, X-File-Name, X-File-Size, X-File-Type'
            },
        }
    },

    computed: mapGetters({
        orders: 'orders'
    }),

    mounted() {
        this.$eventBus.$on('refreshTable', () => {
            this.$refs.table.getTableData();
        });
    },


    methods: {
          passId(id){
              this.pid = id;
          },

          handleChange(file, fileList) {
            console.log(fileList);
            console.log(this.data);
            var self = this;
            this.form2.fileData = [];
            this.imgBase64 = [];

            var fileData = {
              file_path: file.name,
              imgBase64: null
            }

            this.getBase64(file.raw).then(res => {
              console.log(res);
              self.imgBase64 = [...self.imgBase64, {
                name: file.name,
                imgBase64: res
              }]
            this.form2.fileData = [...this.form2.fileData, fileData];
            this.submitUpload();
            });

          },
          getBase64(file) {
            return new Promise(function(resolve, reject) {
              let reader = new FileReader();
              let imgResult = "";
              reader.readAsDataURL(file);
              reader.onload = function() {
                imgResult = reader.result;
              };
              reader.onerror = function(error) {
                reject(error);
              };
              reader.onloadend = function() {
                resolve(imgResult);
              };
            });
          },

          submitUpload() {
            var id = this.pid;
            if(this.imgBase64.length > 0) {
            this.form2.fileData.filter((item, index) => {
              var file_path = id;

              var file_type = item.file_path.split('.')

              item.file_path = file_path + '.' + file_type[file_type.length-1]
              console.log(this.imgBase64[0]);
              item.imgBase64 = this.imgBase64[0].imgBase64
            })

            this.$store.dispatch('uploadProduct', {
              id: id,
              data: this.form2.fileData
            }).then(res=> {
              if(res.success) {
                this.$message({
                  showClose: true,
                  message: 'Successfully Upload',
                  type: 'success',
                  center: true
                })

                setTimeout(() => {
                  this.getCategories()
                }, 1000)
              } else {
                this.$message({
                  showClose: true,
                  message: 'Upload Failed!',
                  type: 'error',
                  center: true
                })
              }
            })
          }
          },

          handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible2 = true;
          },

    // handleChange (file, fileList) {
    //   var self = this

    //   var fileData = {
    //     file_path: file.name,
    //     imgBase64: null
    //   }

    //   var reader = new FileReader();
    //   reader.readAsDataURL(file.raw);
    //   reader.onload = function(e) {
    //     self.imgBase64 = [...self.imgBase64, {
    //       name: file.name,
    //       imgBase64: this.result
    //     }]
    //   }

    //   this.form2.fileData = [...this.form2.fileData, fileData];
    //   this.submitUpload();
    // },

          removeDocument (item, index) {
            this.imgBase64 = this.imgBase64.filter(data => data.name !== item.file_path)
            this.form2.fileData = this.form2.fileData.filter(data => data.file_path !== item.file_path)
          },

            updateProduct(product_id){
                var data = {};
                data.product_id = product_id;
                data.price = this.form.price[product_id];
                data.name = this.form.name[product_id];
                data.name_chinese = this.form.name_chinese[product_id];

                this.$store.dispatch('updateProduct', data).then(res => {
                    if(res.status == 'Success'){          
                      this.dialogVisible = false;
                      this.$message({
                        type: 'success',
                        message: 'Product successfully updated!'
                      });
                      this.$refs.table.getTableData();
                      // this.handleCancel();
                    }
                    else{
                      this.$message({
                        type: 'error',
                        message: 'Error updating!'
                      });
                    }
                })
            },

            saveProduct(product_id){
                var data = {};
                data.category_id = this.category_id ;
                data.price = this.price;
                data.name = this.name;
                data.name_chinese = this.name_chinese;

                this.$store.dispatch('addProduct', data).then(res => {
                    if(res.status == 'Success'){          
                      this.dialogVisible = false;
                      this.$message({
                        type: 'success',
                        message: 'Product successfully added!'
                      });
                      this.getCategories();
                      this.handleCancel();
                    }
                    else{
                      this.$message({
                        type: 'error',
                        message: 'Error adding!'
                      });
                    }
                })
            },


            addProductDialog(order){
              this.dialogVisible = true;
            },
            handleCancel(){
              this.dialogVisible = false;
              this.category_id  = '';
              this.name  = '';
              this.name_chinese   = '';
              this.price  = '';
            },

            getData({
                page, query, sortParams, size
            }) {
                let vm = this;
                if (sortParams.length == 0) {
                    sortParams = 'id-desc'
                }

                var total = 0;

                this.orders.data.map((item,index) => {
                    total += (item.product.product_price * item.qty)
                })

                this.total_price = total;

                return {
                  data: this.orders.data,
                  total: this.orders.data.length,
                  size: 20
                }


            },

            async getCategories (){
              this.firstCol = [];
              this.secondCol  = [];
                setTimeout(() => {
                    this.$store.dispatch('getProductCategories').then(response => {
                     this.categories = response.data;

                     //static declaration of category
                     var first = [{category_id:1},{category_id:2},{category_id:3},{category_id:4},{category_id:5},{category_id:7}];
                     var second = [{category_id:2},{category_id:4},{category_id:5},{category_id:7}];

                     console.log(response.data);

                     response.data.map((item,index) => {

                        var v1 = first.findIndex(v => v.category_id === item.category_id);
                        var v2 = second.findIndex(v => v.category_id === item.category_id);

                        console.log(index);

                        if(v1 !== -1){
                         this.getProducts (this.firstCol,item);
                        }

                        if(v2 !== -1){
                          this.getProducts (this.secondCol,item);
                        }

                     });

                     //console.log(this.firstCol);

                   })
                }, 200);
            },

            async getProducts (list, data){
                    this.$store.dispatch('getProductByCatId', data.category_id).then(response => {
                     data.products = response.data;
                     list.push(data);
                     data.products.map((item,index) => {
                        this.form.price[item.product_id] = item.product_price;
                        this.form.orig_price[item.product_id] = item.orig_price;
                        this.form.unit[item.product_id] = item.unit;
                        this.form.name[item.product_id] = item.product_name;
                        this.form.name_chinese[item.product_id] = item.product_name_chinese;
                     })
                   })

            },

    },

    created(){
        this.getCategories();
    },
}

</script>

<style >
  .sidebar{
    display: none !important;
}

.header{
    display: none !important;
}
  .plus-upload{
      width: 100%;
    height: 100%;
    padding: auto;
    padding-top: -41px;
    /* margin-top: -27px; */
    position: absolute;
    padding-top: 35px;
    top: 0px;
    left: 0;
  }

  .plus-upload2{
    font-size: 30px;
    color: #8c939d;
    width: 100%;
    height: 100px;
    padding: auto;
    position: absolute;
    padding-top: 35px;
    top: 0px;
    left: 0;
    margin-left: 10px;
    max-width: 100px;
  }

  .el-upload--picture-card{
    width: 110px;
    height: 100px;
    cursor: pointer;
    line-height: 110px;
  }

    .el-upload-list--picture-card {
      display: block !important;
    }

    .documents-container {
      position: relative;
      border: 1px solid #ddd;
      padding: 15px 15px 0px;
      /*margin-bottom: 15px;*/

      .documents {
        width: 120px;
        height: 120px;
        margin-bottom: 15px;
        border: 1px #ddd solid;
        border-radius: 4px;
        padding: 5px;
      }
    }

      .remove-btn {
        position: absolute;
        bottom: 20px;
        right: 100px;
        padding: 4px 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
      }

    .el-upload-list {
      display: none;
    }

  .el-col{
    font-size: 15px;
 align-items: center;
  }

  .total-price{
    text-align: right;
    font-weight: bold;
    margin-top:10px;
  }
  .add-item{
     text-align: right;
     width:'100%';
  }
  .col{
   text-align: center;
  }

  .row{
   border-bottom:1px solid #ccc;
   padding:2px 8px;
  }

  .cat-header{
   padding:10px 10px 10px 10px;
   font-weight: bold;
   background: #E8E8E8;
   border:1px solid #ccc;
   text-align: justify;
  }

  .row-header{
   border:1px solid #ccc;
   padding:5px;
  }

  .col-header{
   text-align: center;
   font-weight: bold;
  }

  .remarks{
    padding:2px;
    margin:2px;
  }

  .c-total-price{
   border:0px;
  }

  .cat-name{
    color: #4bbe56 !important;
  }


  .p-img{
/*    width: 110px;
    height: 100px;*/
    width: 140px;
    /*max-height: 150px;*/
    /*margin-bottom: 10px;*/
  }

  .p-img-error{
    font-size: 50px; color: #d4d8dc; margin-left: 10px;
  }

  @media screen and (max-width: 1024px) {
    .p-img {
      /*width: 80px;*/
    }
  }

  @media screen and (max-width: 767px) {
    .pname {
      /*max-height: 170px;*/
      font-size: 12px;
    }
    .plus-upload2{
      max-width:  50px;
    }
  }

</style>
