<template>
  <div class="product-list-container">
    <div class="heading">
      <h1 class="title" style=" width:100%">
        Product List
      </h1>
    </div>

    <div class="body-container" style="overflow: scroll;">
      <div class="form-container container-padding">
        <el-row :gutter="20">
          <el-col :span="6" :xl="6" :lg="8" :md="24" :sm="24" :xs="24">
            <div class="category-container">
              <div class="label">
                <el-row type="flex" align="middle">
                  <el-col :span="16">
                    <span>Categories</span>
                  </el-col>
                  <el-col :span="8">
                    <el-button
                      @click="addCategory()"
                      type="primary"
                      size="mini"
                      icon="el-icon-plus"
                      round
                      style="float: right;">
                    </el-button>
                  </el-col>
                </el-row>
              </div>
              <div class="category-tree">
                <el-tree 
                  :data="categories" 
                  :props="defaultProps"
                  :expand-on-click-node="false">
                  <!-- @node-click="handleNodeClick" -->

                  <div style="width: 100%;"  @mousedown.left="handleNodeClick(data)" @contextmenu.prevent="handleRightClick($event, 'categoryDropdown_'+data.id)" slot-scope="{ node, data }">
                    <!-- <span>{{ data.name }}</span> -->
                      <span>
                        {{ data.name }}
                      </span>
                      
                    <el-dropdown trigger="click" placement="bottom-start" @command="handleDropdownCommand">
                      <span class="el-dropdown-link" :ref="'categoryDropdown_'+data.id"></span>
                      <el-dropdown-menu slot="dropdown" id="dropdownCategory">
                        <el-dropdown-item icon="el-icon-edit" :command="{action: 'edit', data: data}">Edit</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-plus" :command="{action: 'add_child', data: data}">Add Child Category</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-rank" :command="{action: 'move', data: data}">Move to</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-delete" :command="{action: 'delete', data: data}">Delete</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </div>

                </el-tree>
              </div>
            </div>
          </el-col>

          <el-col :span="18" :xl="18" :lg="16" :md="24" :sm="24" :xs="24">
            <el-button
              v-if="selectedCategory !== null"
              @click="addProductDialog()"
              type="success"
              size="mini"
              icon="el-icon-plus"
              style="margin-top: 5px; margin-bottom: 10px; float: right;">
                Add Product
            </el-button>
            
            <div v-if="selectedCategory !== null">
               <data-table
                ref="table"
                :get-data="getData"
                :columns="columns"
                :expand-table="expandTable">

                <span slot="products" slot-scope="{row}">
                  <template>
                  <el-row>
                    <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                      <div class="block demo-image__preview">
                        <el-image
                          class="p-img"
                          :src="storageURL+ 'products/' + row.product_img"
                        >
                          <div slot="error" class="image-slot">
                            <el-upload
                              action
                              :data="{pid : row.product_id}"
                              :auto-upload="false"
                              list-type="picture-card"
                              :on-preview="handlePictureCardPreview"
                              :on-change="handleChange"
                              :ref="'upload'+row.product_id"
                            >
                              <i
                                class="el-icon-plus plus-upload"
                                @click="passId(row.product_id)"
                              ></i>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible2">
                              <img width="100%" :src="dialogImageUrl" alt />
                            </el-dialog>
                          </div>
                        </el-image>
                        <el-upload
                          style="width: 100%; position: absolute; top: 0;"
                          v-if="row.product_img"
                          action
                          :data="{pid : row.product_id}"
                          :auto-upload="false"
                          list-type="text"
                          :on-preview="handlePictureCardPreview"
                          :on-change="handleChange"
                          :ref="'upload'+row.product_id">
                            <i class="el-icon-edit plus-upload2" @click="passId(row.product_id)"></i>
                        </el-upload>
                      </div>
                    </el-col>
                    <el-col :span="19" :xl="19" :lg="19" :md="17" :sm="17" :xs="17">
                      <el-row>
                        <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                          <!-- <el-input
                            class="remarks"
                            placeholder="name"
                            v-model="form.name[product.product_id]"
                            @change="updateProduct(product.product_id)"
                          ></el-input> -->
                          <el-input
                            class="remarks"
                            placeholder="name"
                            v-model="row.product_name"
                            @change="updateProduct(row)"
                          ></el-input>
                        </el-col>
                        <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                          <el-input-number
                            :controls="false"
                            class="remarks"
                            placeholder="0"
                            type="number"
                            v-model="row.product_price"
                            @change="updateProduct(row)"
                            :min="0"
                            style="width:  100%"
                          ></el-input-number>
                        </el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                          <el-input
                            class="remarks"
                            placeholder="name_chinese"
                            v-model="row.product_name_chinese"
                            @change="updateProduct(row)"
                          ></el-input>
                        </el-col>
                        <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                          <el-select
                            class="remarks"
                            v-model="row.unit"
                            style="width: 100%; text-align: center !important;"
                            @change="updateProduct(row)"
                          >
                            <el-option v-for="s in units" :label="'/'+s.value" :value="s.value"></el-option>
                          </el-select>
                        </el-col>
                      </el-row>

                      <el-row>
                        <el-col :span="6">
                          <span style="margin-left: 4px; line-height: 40px">
                            <b>Description :</b>
                          </span>
                        </el-col>
                        <el-col :span="18">
                          <el-input
                            class="remarks"
                            type="textarea"
                            :rows="2"
                            v-model="row.product_description"
                            resize="none"
                            @change="updateProduct(row)"
                            style="width:  100%"
                          ></el-input>
                        </el-col>
                      </el-row>

                      <el-row>
                        <el-col :span="6" :xl="6" :lg="6" :md="6" :sm="6" :xs="6">
                          <span style="margin-left: 4px; line-height: 40px">
                            <b>Original Price :</b>
                          </span>
                        </el-col>
                        <el-col :span="7" :xl="7" :lg="7" :md="7" :sm="7" :xs="7">
                          <el-input-number
                            :controls="false"
                            class="remarks"
                            placeholder="0"
                            type="number"
                            v-model="row.orig_price"
                            @change="updateProduct(row)"
                            :min="0"
                            style="width:  100%"
                          ></el-input-number>
                        </el-col>
                        <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5" :offset="1">
                          <span style="margin-left: 4px; line-height: 40px">
                            <b>Multiplier :</b>
                          </span>
                        </el-col>
                        <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5">
                          <el-input-number
                            :controls="false"
                            class="remarks"
                            placeholder="0"
                            type="number"
                            v-model="row.multiplier"
                            @change="updateProduct(row)"
                            :min="0"
                            style="width:  100%"
                          ></el-input-number>
                        </el-col>
                      </el-row>
                    </el-col>
                  </el-row>
                  </template>
                </span>

                <span slot="name" slot-scope="{row}">
                  <p>{{row.product_name}}</p>
                </span>

                <span slot="name_chinese" slot-scope="{row}">
                  <p>{{row.product_name_chinese}}</p>
                </span>

                <span slot="orig_price" slot-scope="{row}">
                  <p>Php {{row.product_price + '/' + row.unit}}</p>
                </span>

                <span slot="actions" slot-scope="{row}">
                  <el-button
                    type="primary"
                    size="small"
                    @click="moveCategoryDialog(row, 'product')">
                    Move to
                  </el-button>

                  <el-button
                    type="danger"
                    size="small"
                    @click="deleteProduct(row)">
                    Delete
                  </el-button>
                </span>

               </data-table>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>

    <!-- Add New Product -->
    <el-dialog title="Add New Product" :visible.sync="dialogVisible" width="35%">
      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Category :</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <!-- <el-select v-model="category_id" style="width: 275px;">
                <el-option v-for="s in categories" :label="s.name" :value="s.category_id"></el-option>
              </el-select> -->
              <div 
                class="categParentContainer">
                <span>
                  {{ (this.selectedCategory !== null) ? this.selectedCategory.name : "" }}
                </span>
              </div>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Product Name:</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <el-input type="text" v-model="name" autocomplete="off" style="margin-left: 2px;"></el-input>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Product Name Chinese:</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <el-input
                type="text"
                v-model="name_chinese"
                autocomplete="off"
                style="margin-left: 2px;"
              ></el-input>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Product Description:</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <el-input
                type="textarea"
                :rows="2"
                v-model="product_description"
                resize="none"
                autocomplete="off"
                style="margin-left: 2px;"
              ></el-input>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Product Price:</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <el-input
                type="number"
                min="0"
                v-model="price"
                autocomplete="off"
                style="margin-left: 2px;"
              ></el-input>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCancel()">Cancel</el-button>
        <el-button type="primary" @click="saveProduct()">Confirm</el-button>
      </span>
    </el-dialog>
    <!-- End -->

    <!-- Move category to -->
    <el-dialog :title="getMoveCategTitle()" :visible.sync="moveDialogVisible" width="400px" class="moveToCategoryDialog">
      <div style="border-top: 1px solid #DDD;">
          <el-tree 
            :data="moveCategoryList" 
            :props="defaultProps"
            :expand-on-click-node="false"
            :default-expanded-keys="[0]"
            node-key="id"
            ref="moveCategoryTree"
            @node-click="handleSelectedMoveCateg">

            <div style="width: 100%;" slot-scope="{ node, data }">
              <span>
                {{ data.name }}
              </span>
            </div>
          </el-tree>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCancel()">Cancel</el-button>
        <el-button type="primary" @click="moveCategory()">Move</el-button>
      </span>
    </el-dialog>
    <!-- End -->

  </div>
</template>

<script>
import DataTable from "../../components/datatable-double-pagination";

export default {
  name: "product-list-new",
  components: {
    DataTable
  },
  data() {
    return {
      categories: [],
      selectedCategory: null,
      selectedCategoryProducts: [],
      defaultProps: {
        children: 'sub_categories',
        label: 'name'
      },
      columns: [ // set table column names here, use expand to expand child content
	        {
            prop: 'products',
            minWidth: '80',
	          type: "expand"
          },

	       	{
	          prop: 'name',
	          label: 'Name',
	          sortable: false,
	          minWidth: '200'
	        },

	       	{
	          prop: 'name_chinese',
	          label: 'Name in Chinese',
	          sortable: false,
	          minWidth: '200'
	        },


	        {
	          prop: 'orig_price',
	          label: 'Price',
	          sortable: false,
	          minWidth: '150'
	        },

	        {
            prop: 'actions',
            label: 'Actions',
	          minWidth: '200'
	        }
      ],

      units: [
        {
          value: "kg"
        },
        {
          value: "pc"
        },
        {
          value: "tali"
        },
        {
          value: "box"
        },
        {
          value: "pack"
        }
      ],

      pid: "",

      form2: {
        fileData: []
      },
      imgBase64: [],

      category_id: "",
      name: "",
      name_chinese: "",
      product_description: "",
      price: "",

      dialogVisible: false,
      moveDialogVisible: false,

      moveType: "",

      moveCategoryList: [],
      selectedCategData: [],
      selectedMoveCategID: null,

      selectedProductData: [],

      dialogImageUrl: "",
      dialogVisible2: false,

      storageURL: process.env.VUE_APP_STORAGE,
    }
  },

  methods: {
    getData ({ page, query, sortParams, size }) {
      return this.$store.dispatch('getProductByCatId', this.selectedCategory.id).then(response => {
        console.log('get data', response.data.data)
        return {
          data: response.data.data,
          total: response.data.total,
          size: size
        }
      })
    },

    addProductDialog(order) {
      this.dialogVisible = true;
    },

    moveCategoryDialog(data, type) {
      this.moveDialogVisible = true;

      if(type==='category') {
        this.selectedCategData = data;
      } else {
        this.selectedProductData = data;
      }

      if(this.$refs.moveCategoryTree.getCurrentNode() !== null) {
        this.$refs.moveCategoryTree.setCheckedNodes([])
        this.$refs.moveCategoryTree.setCurrentNode([]);
      }

      this.moveType = type;
    },

    handleRightClick: function(e, ref) {
      e.preventDefault();
      this.$refs[ref].click()
    },

    handleNodeClick(data) {
      this.selectedCategory = data
      this.category_id = data.id
      this.getProducts(data.id)
      this.getData({page: 20})
      this.$refs.table.getTableData();
    },

    handleSelectParentCateg() {
      this.selectedMoveCategID = 0
      this.$refs.moveCategoryTree.setCheckedNodes([]);
    },

    handleSelectedMoveCateg(data) {
      this.selectedMoveCategID = data.id
    },

    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible2 = true;
      console.log(this.pid)
    },

    passId(id) {
      this.pid = id;
    },

    handleChange(file, fileList) {
      // console.log(fileList);
      // console.log(this.data);
      var self = this;
      this.form2.fileData = [];
      this.imgBase64 = [];

      var fileData = {
        file_path: file.name,
        imgBase64: null
      };

      this.getBase64(file.raw).then(res => {
        // console.log(res);
        self.imgBase64 = [
          ...self.imgBase64,
          {
            name: file.name,
            imgBase64: res
          }
        ];
        this.form2.fileData = [...this.form2.fileData, fileData];
        this.submitUpload();
      });
    },

    getBase64(file) {
      return new Promise(function(resolve, reject) {
        let reader = new FileReader();
        let imgResult = "";
        reader.readAsDataURL(file);
        reader.onload = function() {
          imgResult = reader.result;
        };
        reader.onerror = function(error) {
          reject(error);
        };
        reader.onloadend = function() {
          resolve(imgResult);
        };
      });
    },

    submitUpload() {
      var id = this.pid;
      
      if (this.imgBase64.length > 0) {
        this.form2.fileData.filter((item, index) => {
          var file_path = id;

          var file_type = item.file_path.split(".");

          item.file_path = file_path + "." + file_type[file_type.length - 1];
          console.log(this.imgBase64[0]);
          item.imgBase64 = this.imgBase64[0].imgBase64;
        });

        console.log(this.form2.fileData);
        console.log(id)

        this.$store.dispatch("uploadProduct", {
            id: id,
            data: this.form2.fileData
          })
          .then(res => {
            if (res.success) {
              this.$message({
                showClose: true,
                message: "Successfully Upload",
                type: "success",
                center: true
              });

              setTimeout(() => {
                this.$refs.table.getTableData();
              }, 1000);
            } else {
              this.$message({
                showClose: true,
                message: "Upload Failed!",
                type: "error",
                center: true
              });
            }
          });
      }
    },

    addCategory() {
      this.$router.push({ path: "/product/category/add" });
    },

    handleDropdownCommand(command) {
      switch(command.action) {
        case 'edit':
          this.editCategory(command.data)
          break;
        case 'add_child':
          this.addChildCategory(command.data)
          break;
        case 'move':
          this.moveCategoryDialog(command.data, 'category')
          break;
        case 'delete':
          this.deleteCategory(command.data)
          break;
        default:
          break;
      }
      console.log('category command', command.data)
    },

    editCategory(data) {
      this.$router.push({
        name: "product-edit-category",
        params: {
          categData: data,
          id: data.id
        }
      });
    },

    addChildCategory(data) {
      var categData = {};
      
      categData.category_type = "1"
      categData.parent_id = data.id
      categData.category_parent = data

      this.$router.push({
        name: "product-add-category",
        params: {
          parentData: categData
        }
      });
    },

    moveCategory() {
      if(this.selectedMoveCategID !== null) {

        if(this.moveType === 'category') {

          var data = {
            id: this.selectedCategData.id,
            parent_id: this.selectedMoveCategID
          }

          this.$store.dispatch("moveProductCategory", data).then(response => {
            if (response.status == "Success") {
              this.$message({
                type: 'success',
                message: 'Category successfully moved'
              });

              setTimeout(() => {
                this.$router.go();
              }, 1000);
            } else {
              this.$message({
                type: 'error',
                message: 'Failed to move category'
              });
            }
          })

        } else {

          var data = {
            product_id: this.selectedProductData.product_id,
            category_id: this.selectedMoveCategID
          }

          this.$store.dispatch("moveProduct", data).then(response => {
            if (response.status == "Success") {
              this.$message({
                type: 'success',
                message: 'Product successfully moved'
              });

              setTimeout(() => {
                this.$router.go();
              }, 1000);
            } else {
              this.$message({
                type: 'error',
                message: 'Failed to move product'
              });
            }
          })

        }

      } else {
        this.$message({
          type: 'error',
          message: 'Please select a category'
        });
      }
    },

    deleteCategory(data) {
      this.$confirm('Are you sure you want to delete this category?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {

        this.$store.dispatch("getProductByCatId", data.id).then(response => {
          console.log('result', response.data.total)
          if(response.data.total > 0) {

            this.$alert("You can't delete this category because it has products.", 'Error', { confirmButtonText: 'OK', type: 'error' });

          } else {

            this.$store.dispatch("removeProductCategory", data).then(res => {
              if (res.status == "Success") {
                this.$message({
                  type: 'success',
                  message: 'Category successfully deleted'
                });
                this.$router.go();
              } else {
                this.$message({
                  type: 'error',
                  message: 'Failed to delete category'
                });
              }

            });

          }
        })
        
      })
    },

    handleCancel() {

      this.dialogVisible = false;
      this.moveDialogVisible = false;

      this.category_id = "";
      this.name = "";
      this.name_chinese = "";
      this.product_description = "";
      this.price = "";

      this.moveType = "";

      this.selectedMoveCategID = null;
      this.selectedCategData = [];

      this.selectedProductData = [];

    },

    getMoveCategTitle() {
      var title = "";

      if(this.moveType === 'category') {
        console.log('Move Category', this.selectedCategData)
        title = "Move " + this.selectedCategData.name + " to"
      } else {
        console.log('Move Product', this.selectedProductData)
        title = "Move " + this.selectedProductData.product_name + " to"
      }

      return title;
    },

    updateProduct(product_id) {
      var data = {};

      console.log('selected products', product_id)
      data.product_id = product_id.product_id;
      data.price = product_id.product_price;
      data.name = product_id.product_name;
      data.name_chinese = product_id.product_name_chinese;
      data.product_description = product_id.product_description;
      data.unit = product_id.unit;
      data.orig_price = product_id.orig_price;
      data.multiplier = product_id.multiplier;
      // console.log( data);
      product_id.product_price = product_id.multiplier * product_id.orig_price;
      product_id.product_price = parseFloat((product_id.product_price).toFixed(2))

      this.$store.dispatch("updateProduct", data).then(res => {
        if (res.status == "Success") {
          this.dialogVisible = false;
          this.$message({
            type: "success",
            message: "Product successfully updated!"
          });
          // this.$refs.table.getTableData();
          // this.handleCancel();
        } else {
          this.$message({
            type: "error",
            message: "Error updating!"
          });
        }
      });
    },

    saveProduct(product_id) {
      var data = {};
      data.category_id = this.category_id;
      data.price = this.price;
      data.name = this.name;
      data.name_chinese = this.name_chinese;
      data.product_description = this.product_description;

      this.$store.dispatch("addProduct", data).then(res => {
        if (res.status == "Success") {
          this.dialogVisible = false;
          this.$message({
            type: "success",
            message: "Product successfully added!"
          });
          
          this.handleCancel();
          this.$refs.table.getTableData();
        } else {
          this.$message({
            type: "error",
            message: "Error adding!"
          });
        }
      });
    },

    deleteProduct(data) {
      this.$confirm('Are you sure you want to delete this product?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {

        this.$store.dispatch("checkProductsInOrderDetails", data.product_id).then(response => {
          console.log('result', response.data)
          if(response.data > 0) {

            this.$alert("You can't delete this product because it has orders.", 'Error', { confirmButtonText: 'OK', type: 'error' });

          } else {

            this.$store.dispatch("removeProduct", data).then(res => {
              if (res.status == "Success") {
                this.$message({
                  type: 'success',
                  message: 'Product successfully deleted'
                });
                // this.$router.go();
                this.$refs.table.getTableData();
              } else {
                this.$message({
                  type: 'error',
                  message: 'Failed to delete product'
                });
              }

            });

          }
        })
        
      })
    },

    expandTable (row, expandedRows) {
      return row;
    },  

    async getCategories() {
      setTimeout(() => {
        this.$store.dispatch("getAllProductCategories").then(response => {
          this.categories = response.data;
          this.moveCategoryList = [{
            id: 0,
            name: "Categories",
            sub_categories: response.data
          }]

          console.log('categories', response.data)
        });
      }, 200);
    },

    async getProducts(id) {
      this.$store.dispatch("getProductByCatId", id).then(response => {
        this.selectedCategoryProducts = response.data.data
      })
    },

  },

  created() {
    this.getCategories();
  }

}
</script>


<style lang="scss">
  .product-list-container {
    .el-table__expand-column {
      padding: 0px;
    }

    .el-tree-node__content:hover.el-tree-node__content:hover {
      background-color: #40586F;
      color: #fff;
    }

    .el-tree {
      .el-tree-node.is-current > .el-tree-node__content:first-child {
          background-color: #40586F;
          color: #fff;
      }
    }
    
    // .moveToCategoryDialog {
    .el-tree-node__content {
      border-bottom: 1px solid #DCDFE6;
      border-left: 1px solid #DCDFE6;
      border-right: 1px solid #DCDFE6;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    // }

    .category-header {
      width: 100%;
      display: flex; 
      height: 26px; 
      align-items: center; 
      cursor: pointer;

      &:hover {
        background-color: #40586F;
        color: #fff;
      }
    }

    .el-select .el-input__inner {
      text-align: center !important;
    }
    .plus-upload {
      width: 100%;
      height: 100%;
      padding: auto;
      padding-top: -41px;
      /* margin-top: -27px; */
      position: absolute;
      padding-top: 35px;
      top: 0px;
      left: 0;
    }

    .plus-upload2 {
      font-size: 30px;
      color: #8c939d;
      width: 100%;
      height: 100px;
      padding: auto;
      position: absolute;
      padding-top: 35px;
      top: 0px;
      left: 0;
      // margin-left: 10px;
      // max-width: 100px;
    }

    .demo-image__preview {
      position: relative;
    }

    .el-upload--picture-card {
      width: 110px;
      height: 100px;
      cursor: pointer;
      line-height: 110px;
      display: block;
      margin: 0 auto;
    }

    .el-upload-list--picture-card {
      display: block !important;
    }

    .p-img {
      /*    width: 110px;
        height: 100px;*/
      width: 98%;
      // max-height: 100px;
    }

    .p-img-error {
      font-size: 50px;
      color: #d4d8dc;
      margin-left: 10px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409eff;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
    }

    .avatar {
      width: 100px;
      height: 100px;
      display: block;
    }

    .remarks {
      padding: 2px;
      margin: 2px;
    }
  }
</style>

<style lang="scss" scoped>
@import "../../assets/styles/_view_components.scss";

.category-container {
  // border: 1px solid #ddd;

  .label {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-weight: bold;
    color: #24313c;
  }

  .category-tree {
    // padding: 10px 0px;
    margin-bottom: 25px;
  }
}

.categ-parent-container {
  background-color: #FFF;
  border-color: #E4E7ED;
  // color: #C0C4CC;
  color: #606266;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  cursor: pointer;    
  line-height: 40px;
  outline: none;
  font-size: inherit;
  padding: 0 15px;
  width: '100%';
  height: 40px;
}
</style>