<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';
.order-info {}

.el-form-item {
    padding: 5px;
}

.el-input__inner {
    height: 40px !important;

}

.el-input--mini{
    height: 40px !important;
    margin-top: 4px;
    margin-left: 4px;
    line-height: 28px;
    width: 95px;
}

</style>

<template>

<div class="add-product">
    <div class="heading">
      <h1 class="title" style=" width:100%">
        {{ (this.$route.params.categData !== null && typeof this.$route.params.categData !== 'undefined') ? 'Edit Category' : 'Add New Category' }}
      </h1>
    </div>

    <el-card class="box-card">

      <div slot="header" class="clearfix">
        <h1 class="form-title">Product Category Details</h1>
      </div>

      <div class="inner-container">
        <el-form ref="category_form" :model="category_form" :rules="rules">

        <span>
          <el-row :gutter="30">
            <el-col :span="12">
              <el-form-item prop="category_img">
                <div class="avatar-uploader-container"
                  :style="(this.isSubmit === true && this.category_form.category_img === '') ? 'border-color: #F56C6C;' : 'border-color: #d9d9d9;'">
                  <el-upload
                    class="avatar-uploader"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    :show-file-list="false"
                    :auto-upload="false"
                    :on-success="categoryImgPreview"
                    :on-change="categoryImgChange">
                    <img v-if="category_form.category_img" :src="category_form.category_img" class="avatar">
                    
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
        </span>

        <br>

        <span>
          <el-row :gutter="30">

            <el-col :span="6">
              <div style="margin-top: 6px; margin-bottom: 10px;">Category Type</div>
              <div>
                <el-form-item prop="category_type">
                  <el-select v-model="category_form.category_type" placeholder="Select Category Type" style="width: 100%;">
                    <el-option
                      label="Parent"
                      value="0">
                    </el-option>

                    <el-option
                      label="Child"
                      value="1">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </el-col>

            <el-col :span="6" v-if="this.category_form.category_type === '1'">
              <div style="margin-top: 6px; margin-bottom: 10px;">Category Parent</div>
              <div>
                <el-form-item prop="category_parent_id">
                  <div 
                    class="categParentContainer" 
                    :style="(this.isSubmit === true && this.category_form.category_type === '1' && this.category_form.category_parent === null) ? 'border-color: #F56C6C;' : 'border-color: #E4E7ED;'"
                    v-on:click="selectCategoryParent()">
                    <span
                      :style="(this.category_form.category_parent !== null) ? 'color: #606266;' : 'color: #C0C4CC;'">
                      {{ (this.category_form.category_parent !== null) ? this.category_form.category_parent.name : 'Select Category Parent' }}
                    </span>
                  </div>
                  <div 
                    v-if="this.isSubmit === true && this.category_form.category_type === '1' && this.category_form.category_parent === null"
                    class="el-form-item__error">
                    Category parent is required
                  </div>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
        </span>

        <br>

        <span>
          <el-row :gutter="30">
            <el-col :span="12">
              <div style="margin-top: 6px; margin-bottom: 10px;">Category Name</div>
              <div>
                <el-form-item prop="name">
                  <el-input type="text" v-model="category_form.name" autocomplete="off" placeholder="Enter Category Name" style="margin-left: 2px;"></el-input>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div style="margin-top: 6px; margin-bottom: 10px;">Category Name (Chinese)</div>
              <div>
                <el-input type="text" v-model="category_form.name_chinese" autocomplete="off" placeholder="Enter Category Name in Chinese" style="margin-left: 2px;"></el-input>
              </div>
            </el-col>
          </el-row>
        </span>
        
        <br>

        <span>
          <el-row :gutter="30">
            <el-col :span="24">
              <div style="margin-top: 6px; margin-bottom: 10px;">Description</div>
              <div>
                <el-input
                  type="textarea"
                  :rows="2"
                  resize="none"
                  placeholder="Enter Category Description"
                  v-model="category_form.description">
                </el-input>
              </div>
            </el-col>
          </el-row>
        </span>
        
        <br><br>

        <span  class="dialog-footer">
          <el-button type="danger" @click="handleBack()">Back</el-button>
          <el-button type="primary" @click="saveCategory('category_form')">Save</el-button>
        </span>

        </el-form>
      </div>

      <el-dialog
        title="Select Category Parent"
        :visible.sync="dialogVisible"
        width="35%">

        <!-- <div
          v-for="cat in categoryList">
          {{cat.name}}
        </div> -->
        <div style="marginBottom: 10px;"><b>Categories</b></div>

        <el-tree
          :data="categoryList"
          :props="defaultProps" 
          :expand-on-click-node="false"
          class="categoryTree"
          @node-click="handleNodeClick"></el-tree>
        
        <span slot="footer" class="dialog-footer">
          <el-button @click="handleCancel()">Cancel</el-button>
          <el-button type="primary" @click="handleSelectedCategory()">Confirm</el-button>
        </span>

      </el-dialog>
    </el-card>
</div>

</template>

<script>

import {
    mapGetters
}
from 'vuex'

import DataTable from '../../components/datatable'
import OrderForm from './components/order-form'


export default {
    name: 'product-add-category',
    props: ['categData'],
    components: {
        
    },
    data() {
        return {
            dialogVisible: false,
            storageURL: process.env.VUE_APP_STORAGE,

            categoryList: [],
            selectedCategory: null,
            category_form: {
              id: null,
              category_id: null,
              category_type: null,
              category_parent_id: "",
              category_parent: null,
              name: "",
              name_chinese: "",
              description: "",
              category_img: "",
              imgBase64: "",
              imgName: ""

            },

            defaultProps: {
              children: 'sub_categories',
              label: 'name'
            },

            rules: {
              category_img: [
                { required: true, message: 'Category image is required' },
              ],

              category_type: [
                { required: true, message: 'Category type is required' },
              ],

              category_parent_id: [
                { validator: categoryParentValidation },
              ],

              name: [
                { required: true, message: 'Category name is required' },
              ],

              name_chinese: [
                { required: true, message: 'Category name (Chinese) is required' },
              ],
            },

            isSubmit: false
        }

        var categoryParentValidation = (rule, value, callback) => {
          if(this.category_form.category_type === '1' && this.category_form.category_parent_id === "") {
            callback(new Error('Category parent is required'))
          } else {
            callback()
          }
        }
    },

    computed: mapGetters({

    }),

    mounted() {
      if(this.$route.params.categData !== null && typeof this.$route.params.categData !== 'undefined') {
        var data = this.$route.params.categData;

        this.category_form.id = data.id;
        this.category_form.category_id = data.category_id;
        this.category_form.category_type = (data.parent_id.toString() === '0') ? '0' : '1';
        this.category_form.category_parent_id = (data.parent_id.toString() === '0') ? '0' : data.parent_id.toString();
        // this.category_form.category_parent = (data.parent_id.toString() === '0') ? '' : ;
        
        if(data.parent_id.toString() !== '0') {
          this.checkParentCategory(data.parent_id)
        }

        this.category_form.name = data.name;
        this.category_form.name_chinese = data.name_chinese;
        this.category_form.description = data.description;
        this.category_form.category_img = this.storageURL + 'products/' + data.category_img;
        this.category_form.imgBase64 = "";
        this.category_form.imgName = "";

      } else if(this.$route.params.parentData !== null && typeof this.$route.params.parentData !== 'undefined') {

        var data = this.$route.params.parentData
        this.category_form.category_type = data.category_type
        this.category_form.category_parent_id = data.parent_id.toString()
        this.category_form.category_parent = data.category_parent

      }

    },


    methods: {

          handleBack(){
            this.$router.go(-1)
          },

          handleCancel() {
            this.dialogVisible = false
            this.selectedCategory = null
          },

          selectCategoryParent(){
            this.dialogVisible = true
          },

          handleNodeClick(data) {
            this.selectedCategory = data
          },

          handleSelectedCategory() {
            this.category_form.category_parent_id = this.selectedCategory.id.toString();
            this.category_form.category_parent = this.selectedCategory;
            this.selectedCategory = null
            this.dialogVisible = false;
          },

          categoryImgPreview(res, file) {
            this.category_form.category_img = URL.createObjectURL(file.raw);
            this.category_form.imgName = file.name;
          },

          categoryImgChange(file, fileList){
            var self = this;
            this.category_form.category_img = URL.createObjectURL(file.raw);
            this.category_form.imgName = file.name;

            var reader = new FileReader();
            reader.readAsDataURL(file.raw);
            reader.onload = function(e) {
              // self.category_form.imgName = file.name;
              self.category_form.imgBase64 = this.result;
            }
          },


          checkParentCategory(id) {
            var self = this;
            var data = {};

            this.$store.dispatch('getProductCategoryDetails', id).then(res => {
              if(res.status == 'Success'){
                data = res.data[0]
                self.category_form.category_parent = res.data[0]
              }
            })

            return data;
          },


          saveCategory(category_form){

            this.isSubmit = true


            this.$refs[category_form].validate((response) => {
              if (response) {
                var data = {};

                data.id = this.category_form.id;
                data.category_id = this.category_form.category_id;
                data.category_type = this.category_form.category_type;
                data.category_parent_id = (this.category_form.category_type !== '0') ? this.category_form.category_parent_id : '';
                data.name = this.category_form.name;
                data.name_chinese = this.category_form.name_chinese;
                data.description = this.category_form.description;
                data.category_img = this.category_form.category_img;
                data.imgBase64 = this.category_form.imgBase64;
                data.imgName = this.category_form.imgName;

                console.log('data', data)

                if(this.$route.params.categData !== null && typeof this.$route.params.categData !== 'undefined') {
                  this.$store.dispatch('updateProductCategory', data).then(res => {
                    if(res.status == 'Success'){    
                      this.$message({
                        type: 'success',
                        message: 'Category successfully updated!'
                      });

                      this.$router.back();
                    }
                  })
                } else {

                  this.$store.dispatch('addProductCategory', data).then(res => {
                    if(res.status == 'Success'){    
                      this.$message({
                        type: 'success',
                        message: 'Category successfully added!'
                      });

                      this.$router.back();
                    }
                  })

                }
              }
            });
              
          },

          async getParentCategories() {
            setTimeout(() => {
                this.$store.dispatch('getAllProductCategories').then(response => {
                var categories = [];

                  response.data.map((item,index) => {
                    categories.push(item)
                  });

                  this.categoryList = categories
                  

                })
              }, 200);
          }
            

    },

    created(){
        this.getParentCategories();
    },
}

</script>

<style lang="scss">
  .add-product {

    .el-dialog__header {
      border-bottom: 1px solid #DCDFE6;
    }

    .avatar-uploader-container {
      border-width: 1px;
      border-style: dashed;
      // border-color: #d9d9d9;
      display: inline-block;
      line-height: 0px;
    }

    .avatar-uploader .el-upload {
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 150px;
      height: 150px;
      line-height: 150px;
      text-align: center;
    }

    .avatar {
      width: 150px;
      height: 150px;
      display: block;
    }

    .el-tree-node__content {
      border-bottom: 1px solid #DCDFE6;
      border-left: 1px solid #DCDFE6;
      border-right: 1px solid #DCDFE6;
      padding-top: 10px;
      padding-bottom: 10px;
    }

  }
</style>

<style lang="scss" scoped>

  .form-title {
    font-size: 1.275rem;
    font-weight: 400;
    line-height: 0;
}

  .inner-container {
    padding-top: 10px;
  }

  .categParentContainer {
    background-color: #FFF;
    border-color: #E4E7ED;
    // color: #C0C4CC;
    color: #606266;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    cursor: pointer;    
    line-height: 40px;
    outline: none;
    font-size: inherit;
    padding: 0 15px;
    width: '100%';
    height: 40px;
  }

  .categParentContainer:hover{
    border-color: #C0C4CC;  
  }

  .categoryTree {
    border-top: 1px solid #DCDFE6;
  }

</style>
