<style lang="scss" scoped>
@import "../../assets/styles/_view_components.scss";
.order-info {
}

.el-form-item {
  padding: 5px;
}

.el-input__inner {
  height: 40px !important;
}

.el-input--mini {
  height: 40px !important;
  margin-top: 4px;
  margin-left: 4px;
  line-height: 28px;
  width: 95px;
}
</style>

<template>
  <div class="product-list">
    <div class="heading">
      <h1 class="title" style=" width:100%">
        Product List
        <el-button
          @click="addProductDialog()"
          type="success"
          size="mini"
          icon="el-icon-plus"
          style="margin-top: 5px; float:   right;"
        >Add Product</el-button>
        <el-button
          @click="addCategoryDialog()"
          type="success"
          size="mini"
          icon="el-icon-plus"
          style="margin-top: 5px; margin-right: 10px; float:   right;"
        >Add Category</el-button>
        <el-button
          type="primary"
          size="small"
          icon="el-icon-view"
          @click.prevent="goToPrintView"
        >Product List PrintView</el-button>
      </h1>
    </div>

    <div class="body-container" style="overflow: scroll;">
      <div class="form-container container-padding">

        <el-form :model="form" ref="order_form" id="buyer_info">
          <div class="order-info">
            <div>
              <el-row class="row-content">
                <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
                  <el-row class="row-header">
                    <el-col
                      :span="5"
                      class="col-header"
                      :xl="5"
                      :lg="5"
                      :md="7"
                      :sm="7"
                      :xs="7"
                    >Image</el-col>
                    <el-col
                      :span="19"
                      class="col-header"
                      :xl="19"
                      :lg="19"
                      :md="17"
                      :sm="17"
                      :xs="17"
                    >Product Details</el-col>
                    <!-- 
                  <el-col :span="4" class="col-header">
                    Unit Price
                    </el-col>-->
                  </el-row>

                  <el-tree 
                    :data="firstCol" 
                    :props="defaultProps"
                    :expand-on-click-node="false"
                    @node-click="handleNodeClick">

                    <div style="width: 100%;" slot-scope="{ node, data }">

                      <div class="cat-header">
                        <el-row>
                          <el-col :span="24">
                            <div class="cat-name">
                              {{data.name}}
                              <i class="el-icon-delete category-buttons" @click="deleteCategory(data)"></i>
                              <i class="el-icon-edit category-buttons" style="color: #40586F;" @click="editCategory(data)"></i>
                            </div>
                          </el-col>
                        </el-row>
                      </div>

                      <el-row v-for="product in data.products" class="row products">
                        <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                          <div class="block demo-image__preview" style="height: 102px;">
                            <el-image
                              class="p-img"
                              :src="storageURL+ 'products/' + product.product_img"
                            >
                              <div slot="error" class="image-slot">
                                <el-upload
                                  action
                                  :data="{pid : product.product_id}"
                                  :auto-upload="false"
                                  list-type="picture-card"
                                  :on-preview="handlePictureCardPreview"
                                  :on-change="handleChange"
                                  :ref="'upload'+product.product_id"
                                >
                                  <i
                                    class="el-icon-plus plus-upload"
                                    @click="passId(product.product_id)"
                                  ></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible2">
                                  <img width="100%" :src="dialogImageUrl" alt />
                                </el-dialog>
                              </div>
                            </el-image>
                            <el-upload
                              style="width:  100%;"
                              v-if="product.product_img"
                              action
                              :data="{pid : product.product_id}"
                              :auto-upload="false"
                              list-type="text"
                              :on-preview="handlePictureCardPreview"
                              :on-change="handleChange"
                              :ref="'upload'+product.product_id"
                            >
                              <i
                                class="el-icon-edit plus-upload2"
                                @click="passId(product.product_id)"
                              ></i>
                            </el-upload>
                          </div>
                        </el-col>
                        <el-col :span="19" :xl="19" :lg="19" :md="17" :sm="17" :xs="17">
                          <el-row>
                            <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                              <!-- <el-input
                                class="remarks"
                                placeholder="name"
                                v-model="form.name[product.product_id]"
                                @change="updateProduct(product.product_id)"
                              ></el-input> -->
                              <el-input
                                class="remarks"
                                placeholder="name"
                                v-model="form.name[product.product_id]"
                                @change="updateProduct(product.product_id)"
                              ></el-input>
                            </el-col>
                            <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                              <el-input-number
                                :controls="false"
                                class="remarks"
                                placeholder="0"
                                type="number"
                                v-model="form.price[product.product_id]"
                                @change="updateProduct(product.product_id)"
                                :min="0"
                                style="width:  100%"
                              ></el-input-number>
                            </el-col>
                          </el-row>
                          <el-row>
                            <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                              <el-input
                                class="remarks"
                                placeholder="name_chinese"
                                v-model="form.name_chinese[product.product_id]"
                                @change="updateProduct(product.product_id)"
                              ></el-input>
                            </el-col>
                            <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                              <el-select
                                class="remarks"
                                v-model="form.unit[product.product_id]"
                                style="width: 100%; text-align: center !important;"
                                @change="updateProduct(product.product_id)"
                              >
                                <el-option v-for="s in units" :label="'/'+s.value" :value="s.value"></el-option>
                              </el-select>
                            </el-col>
                          </el-row>

                          <el-row>
                            <el-col :span="6" :xl="6" :lg="6" :md="6" :sm="6" :xs="6">
                              <span style="margin-left: 4px; line-height: 40px">
                                <b>Original Price :</b>
                              </span>
                            </el-col>
                            <el-col :span="7" :xl="7" :lg="7" :md="7" :sm="7" :xs="7">
                              <el-input-number
                                :controls="false"
                                class="remarks"
                                placeholder="0"
                                type="number"
                                v-model="form.orig_price[product.product_id]"
                                @change="updateProduct(product.product_id)"
                                :min="0"
                                style="width:  100%"
                              ></el-input-number>
                            </el-col>
                            <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5" :offset="1">
                              <span style="margin-left: 4px; line-height: 40px">
                                <b>Multiplier :</b>
                              </span>
                            </el-col>
                            <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5">
                              <el-input-number
                                :controls="false"
                                class="remarks"
                                placeholder="0"
                                type="number"
                                v-model="form.multiplier[product.product_id]"
                                @change="updateProduct(product.product_id)"
                                :min="0"
                                style="width:  100%"
                              ></el-input-number>
                            </el-col>
                          </el-row>
                        </el-col>
                      </el-row>

                    </div>

                  </el-tree>

                  <!-- <div v-for="(v1, index) in this.firstCol">

                    <div class="cat-header">
                      <el-row>
                        <el-col :span="24">
                          <div class="cat-name">
                            {{v1.name}}
                            <i class="el-icon-delete category-buttons" @click="deleteCategory(v1)"></i>
                            <i class="el-icon-edit category-buttons" style="color: #40586F;" @click="editCategory(v1)"></i>
                          </div>
                        </el-col>
                      </el-row>
                    </div>

                    <el-row v-for="product in v1.products" class="row">
                      <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                        <div class="block demo-image__preview" style="height: 102px;">
                          <el-image
                            class="p-img"
                            :src="storageURL+ 'products/' + product.product_img"
                          >
                            <div slot="error" class="image-slot">
                              <el-upload
                                action
                                :data="{pid : product.product_id}"
                                :auto-upload="false"
                                list-type="picture-card"
                                :on-preview="handlePictureCardPreview"
                                :on-change="handleChange"
                                :ref="'upload'+product.product_id"
                              >
                                <i
                                  class="el-icon-plus plus-upload"
                                  @click="passId(product.product_id)"
                                ></i>
                              </el-upload>
                              <el-dialog :visible.sync="dialogVisible2">
                                <img width="100%" :src="dialogImageUrl" alt />
                              </el-dialog>
                            </div>
                          </el-image>
                          <el-upload
                            style="width:  100%;"
                            v-if="product.product_img"
                            action
                            :data="{pid : product.product_id}"
                            :auto-upload="false"
                            list-type="text"
                            :on-preview="handlePictureCardPreview"
                            :on-change="handleChange"
                            :ref="'upload'+product.product_id"
                          >
                            <i
                              class="el-icon-edit plus-upload2"
                              @click="passId(product.product_id)"
                            ></i>
                          </el-upload>
                        </div>
                      </el-col>
                      <el-col :span="19" :xl="19" :lg="19" :md="17" :sm="17" :xs="17">
                        <el-row>
                          <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                            <el-input
                              class="remarks"
                              placeholder="name"
                              v-model="form.name[product.product_id]"
                              @change="updateProduct(product.product_id)"
                            ></el-input>
                          </el-col>
                          <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                            <el-input-number
                              :controls="false"
                              class="remarks"
                              placeholder="0"
                              type="number"
                              v-model="form.price[product.product_id]"
                              @change="updateProduct(product.product_id)"
                              :min="0"
                              style="width:  100%"
                            ></el-input-number>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                            <el-input
                              class="remarks"
                              placeholder="name_chinese"
                              v-model="form.name_chinese[product.product_id]"
                              @change="updateProduct(product.product_id)"
                            ></el-input>
                          </el-col>
                          <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                            <el-select
                              class="remarks"
                              v-model="form.unit[product.product_id]"
                              style="width: 100%; text-align: center !important;"
                              @change="updateProduct(product.product_id)"
                            >
                              <el-option v-for="s in units" :label="'/'+s.value" :value="s.value"></el-option>
                            </el-select>
                          </el-col>
                        </el-row>

                        <el-row>
                          <el-col :span="6" :xl="6" :lg="6" :md="6" :sm="6" :xs="6">
                            <span style="margin-left: 4px; line-height: 40px">
                              <b>Original Price :</b>
                            </span>
                          </el-col>
                          <el-col :span="7" :xl="7" :lg="7" :md="7" :sm="7" :xs="7">
                            <el-input-number
                              :controls="false"
                              class="remarks"
                              placeholder="0"
                              type="number"
                              v-model="form.orig_price[product.product_id]"
                              @change="updateProduct(product.product_id)"
                              :min="0"
                              style="width:  100%"
                            ></el-input-number>
                          </el-col>
                          <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5" :offset="1">
                            <span style="margin-left: 4px; line-height: 40px">
                              <b>Multiplier :</b>
                            </span>
                          </el-col>
                          <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5">
                            <el-input-number
                              :controls="false"
                              class="remarks"
                              placeholder="0"
                              type="number"
                              v-model="form.multiplier[product.product_id]"
                              @change="updateProduct(product.product_id)"
                              :min="0"
                              style="width:  100%"
                            ></el-input-number>
                          </el-col>
                        </el-row>
                      </el-col>
                    </el-row>
                  </div> -->
                </el-col>

                <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
                  <el-row class="row-header">
                    <el-col
                      :span="5"
                      class="col-header"
                      :xl="5"
                      :lg="5"
                      :md="7"
                      :sm="7"
                      :xs="7"
                    >Image</el-col>
                    <el-col
                      :span="19"
                      class="col-header"
                      :xl="18"
                      :lg="19"
                      :md="17"
                      :sm="17"
                      :xs="17"
                    >Product Details</el-col>
                  </el-row>

                  <el-tree 
                    :data="secondCol" 
                    :props="defaultProps"
                    :expand-on-click-node="false"
                    @node-click="handleNodeClick">

                    <div style="width: 100%;" slot-scope="{ node, data }">

                      <div class="cat-header">
                        <el-row>
                          <el-col :span="24">
                            <div class="cat-name">{{data.name}}
                              
                              <i class="el-icon-delete category-buttons" @click="deleteCategory(data)"></i>
                              <i class="el-icon-edit category-buttons" style="color: #40586F;" @click="editCategory(data)"></i>
                            </div>
                          </el-col>
                        </el-row>
                      </div>

                      <el-row v-for="product in data.products" class="row">
                        <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                          <div class="block demo-image__preview" style="height: 102px;">
                            <el-image
                              class="p-img"
                              :src="storageURL+ 'products/' + product.product_img"
                            >
                              <div slot="error" class="image-slot">
                                <el-upload
                                  action
                                  :data="{pid : product.product_id}"
                                  :auto-upload="false"
                                  list-type="picture-card"
                                  :on-preview="handlePictureCardPreview"
                                  :on-change="handleChange"
                                  :ref="'upload'+product.product_id"
                                >
                                  <i
                                    class="el-icon-plus plus-upload"
                                    @click="passId(product.product_id)"
                                  ></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible2">
                                  <img width="100%" :src="dialogImageUrl" alt />
                                </el-dialog>
                              </div>
                            </el-image>
                            <el-upload
                              v-if="product.product_img"
                              action
                              :data="{pid : product.product_id}"
                              :auto-upload="false"
                              list-type="text"
                              :on-preview="handlePictureCardPreview"
                              :on-change="handleChange"
                              :ref="'upload'+product.product_id"
                            >
                              <i
                                class="el-icon-edit plus-upload2"
                                @click="passId(product.product_id)"
                              ></i>
                            </el-upload>
                          </div>
                        </el-col>
                        <el-col :span="19" :xl="19" :lg="19" :md="17" :sm="17" :xs="17">
                          <el-row>
                            <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                              <el-input
                                class="remarks"
                                placeholder="name"
                                v-model="form.name[product.product_id]"
                                @change="updateProduct(product.product_id)"
                              ></el-input>
                            </el-col>
                            <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                              <el-input-number
                                :controls="false"
                                class="remarks"
                                placeholder="0"
                                type="number"
                                v-model="form.price[product.product_id]"
                                @change="updateProduct(product.product_id)"
                                :min="0"
                                style="width:  100%"
                              ></el-input-number>
                            </el-col>
                          </el-row>
                          <el-row>
                            <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                              <el-input
                                class="remarks"
                                placeholder="name_chinese"
                                v-model="form.name_chinese[product.product_id]"
                                @change="updateProduct(product.product_id)"
                              ></el-input>
                            </el-col>
                            <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                              <el-select
                                class="remarks"
                                v-model="form.unit[product.product_id]"
                                style="width: 100%; text-align: center !important;"
                                @change="updateProduct(product.product_id)"
                              >
                                <el-option v-for="s in units" :label="'/'+s.value" :value="s.value"></el-option>
                              </el-select>
                            </el-col>
                          </el-row>

                          <el-row>
                            <el-col :span="6" :xl="6" :lg="6" :md="6" :sm="6" :xs="6">
                              <span style="margin-left: 4px; line-height: 40px">
                                <b>Original Price :</b>
                              </span>
                            </el-col>
                            <el-col :span="7" :xl="7" :lg="7" :md="7" :sm="7" :xs="7">
                              <el-input-number
                                :controls="false"
                                class="remarks"
                                placeholder="0"
                                type="number"
                                v-model="form.orig_price[product.product_id]"
                                @change="updateProduct(product.product_id)"
                                :min="0"
                                style="width:  100%"
                              ></el-input-number>
                            </el-col>
                            <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5" :offset="1">
                              <span style="margin-left: 4px; line-height: 40px">
                                <b>Multiplier :</b>
                              </span>
                            </el-col>
                            <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5">
                              <el-input-number
                                :controls="false"
                                class="remarks"
                                placeholder="0"
                                type="number"
                                v-model="form.multiplier[product.product_id]"
                                @change="updateProduct(product.product_id)"
                                :min="0"
                                style="width:  100%"
                              ></el-input-number>
                            </el-col>
                          </el-row>
                        </el-col>
                      </el-row>

                    </div>
                  </el-tree>

                  <!-- <div v-for="(v1, index) in this.secondCol">
                    <div class="cat-header">
                      <el-row>
                        <el-col :span="24">
                          <div class="cat-name">{{v1.name}}
                            
                            <i class="el-icon-delete category-buttons" @click="deleteCategory(v1)"></i>
                            <i class="el-icon-edit category-buttons" style="color: #40586F;" @click="editCategory(v1)"></i>
                          </div>
                        </el-col>
                      </el-row>
                    </div>

                    <el-row v-for="product in v1.products" class="row">
                      <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
                        <div class="block demo-image__preview" style="height: 102px;">
                          <el-image
                            class="p-img"
                            :src="storageURL+ 'products/' + product.product_img"
                          >
                            <div slot="error" class="image-slot">
                              <el-upload
                                action
                                :data="{pid : product.product_id}"
                                :auto-upload="false"
                                list-type="picture-card"
                                :on-preview="handlePictureCardPreview"
                                :on-change="handleChange"
                                :ref="'upload'+product.product_id"
                              >
                                <i
                                  class="el-icon-plus plus-upload"
                                  @click="passId(product.product_id)"
                                ></i>
                              </el-upload>
                              <el-dialog :visible.sync="dialogVisible2">
                                <img width="100%" :src="dialogImageUrl" alt />
                              </el-dialog>
                            </div>
                          </el-image>
                          <el-upload
                            v-if="product.product_img"
                            action
                            :data="{pid : product.product_id}"
                            :auto-upload="false"
                            list-type="text"
                            :on-preview="handlePictureCardPreview"
                            :on-change="handleChange"
                            :ref="'upload'+product.product_id"
                          >
                            <i
                              class="el-icon-edit plus-upload2"
                              @click="passId(product.product_id)"
                            ></i>
                          </el-upload>
                        </div>
                      </el-col>
                      <el-col :span="19" :xl="19" :lg="19" :md="17" :sm="17" :xs="17">
                        <el-row>
                          <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                            <el-input
                              class="remarks"
                              placeholder="name"
                              v-model="form.name[product.product_id]"
                              @change="updateProduct(product.product_id)"
                            ></el-input>
                          </el-col>
                          <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                            <el-input-number
                              :controls="false"
                              class="remarks"
                              placeholder="0"
                              type="number"
                              v-model="form.price[product.product_id]"
                              @change="updateProduct(product.product_id)"
                              :min="0"
                              style="width:  100%"
                            ></el-input-number>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
                            <el-input
                              class="remarks"
                              placeholder="name_chinese"
                              v-model="form.name_chinese[product.product_id]"
                              @change="updateProduct(product.product_id)"
                            ></el-input>
                          </el-col>
                          <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
                            <el-select
                              class="remarks"
                              v-model="form.unit[product.product_id]"
                              style="width: 100%; text-align: center !important;"
                              @change="updateProduct(product.product_id)"
                            >
                              <el-option v-for="s in units" :label="'/'+s.value" :value="s.value"></el-option>
                            </el-select>
                          </el-col>
                        </el-row>

                        <el-row>
                          <el-col :span="6" :xl="6" :lg="6" :md="6" :sm="6" :xs="6">
                            <span style="margin-left: 4px; line-height: 40px">
                              <b>Original Price :</b>
                            </span>
                          </el-col>
                          <el-col :span="7" :xl="7" :lg="7" :md="7" :sm="7" :xs="7">
                            <el-input-number
                              :controls="false"
                              class="remarks"
                              placeholder="0"
                              type="number"
                              v-model="form.orig_price[product.product_id]"
                              @change="updateProduct(product.product_id)"
                              :min="0"
                              style="width:  100%"
                            ></el-input-number>
                          </el-col>
                          <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5" :offset="1">
                            <span style="margin-left: 4px; line-height: 40px">
                              <b>Multiplier :</b>
                            </span>
                          </el-col>
                          <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5">
                            <el-input-number
                              :controls="false"
                              class="remarks"
                              placeholder="0"
                              type="number"
                              v-model="form.multiplier[product.product_id]"
                              @change="updateProduct(product.product_id)"
                              :min="0"
                              style="width:  100%"
                            ></el-input-number>
                          </el-col>
                        </el-row>
                      </el-col>
                    </el-row>
                  </div> -->
                </el-col>
              </el-row>
            </div>
            <br />
            <br />

            <div class="border-line"></div>
          </div>
        </el-form>
      </div>
    </div>
    <el-dialog title="Add New Product" :visible.sync="dialogVisible" width="35%">
      <!--             <span>
              <el-row :gutter="20">
                <el-col :span="8"><div style="margin-top: 6px;"><b >Picture :</b></div></el-col>
                <el-col :span="16">
                  <div>
                    <div class="align-center vertically-center">
                      <el-upload
                        class="choose-file-btn"
                        ref="upload"
                        action=""
                        list-type="text"
                        :on-change="handleChange"
                        :auto-upload="false"
                        multiple>
                          <el-button size="small" type="primary" icon="el-icon-plus">Choose File</el-button>
                      </el-upload>
                      <div v-for="(item, index) in form2.fileData">
                        <div class="documents-container align-center">
                        <el-image
                        class="documents"
                        :src="(typeof imgBase64[index] !== 'undefined') ? imgBase64[index].imgBase64 : ''"
                        fit="cover"></el-image>
                        <el-button size="mini" type="danger" class="remove-btn" @click="removeDocument(item, index)">
                          Remove
                        </el-button>
                      </div>
                      </div>
                    </div>
                  </div>
              </el-col>
              </el-row>
      </span><br>-->

      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Category :</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div v-on:click="selectCategoryParent()" style="border: 1px solid #E4E7ED;width: 325px; height: 38px;font-size: 15px;line-height: 30px;padding-left: 12px;" >
              <!-- <el-select v-model="category_id" style="width: 275px;">
                <el-option v-for="s in categories" :label="s.name" :value="s.category_id"></el-option>
              </el-select> -->
              <span>
                  {{category_name}}
              </span>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Product Name:</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <el-input type="text" v-model="name" autocomplete="off" style="margin-left: 2px;"></el-input>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />
      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Product Name Chinese:</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <el-input
                type="text"
                v-model="name_chinese"
                autocomplete="off"
                style="margin-left: 2px;"
              ></el-input>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span>
        <el-row :gutter="20">
          <el-col :span="8">
            <div style="margin-top: 6px;">
              <b>Product Price:</b>
            </div>
          </el-col>
          <el-col :span="16">
            <div>
              <el-input
                type="number"
                min="0"
                v-model="price"
                autocomplete="off"
                style="margin-left: 2px;"
              ></el-input>
            </div>
          </el-col>
        </el-row>
      </span>
      <br />

      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCancel()">Cancel</el-button>
        <el-button type="primary" @click="saveProduct()">Confirm</el-button>
      </span>
    </el-dialog>

      <el-dialog
        title="Select Category"
        :visible.sync="treedialogVisible"
        width="35%">

        <!-- <div
          v-for="cat in categoryList">
          {{cat.name}}
        </div> -->
        <div style="marginBottom: 10px;"><b>Categories</b></div>
        <div id="selCat">
        <el-tree
          :data="categoryList"
          :props="defaultProps2" 
          :expand-on-click-node="false"
          class="categoryTree" :highlight-current="true"
          @node-click="handleNodeClickCategory"></el-tree>
        </div>
        
        <span slot="footer" class="dialog-footer">
          <el-button @click="handleCancelSelectCategory()">Cancel</el-button>
          <el-button type="primary" @click="handleSelectedCategory()">Confirm</el-button>
        </span>

      </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import DataTable from "../../components/datatable";
import OrderForm from "./components/order-form";
import CategoryProductView from "./components/category-products-view"

export default {
  name: "product-list",
  components: {
    DataTable, CategoryProductView
  },
  data() {
    return {
      data: [],

      defaultProps: {
        children: 'sub_categories',
        label: 'name'
      },

      pid: "",

      category_name: "",
      category_id: "",
      name: "",
      name_chinese: "",
      price: "",

      value: [],
      loading: false,
      dialogVisible: false,
      categDialogVisible: false,
      treedialogVisible: false,

      firstCol: [],
      secondCol: [],
      categories: [],
      form: {
        name: [],
        name_chinese: [],
        price: [],
        orig_price: [],
        unit: [],
        multiplier: []
      },

      selectedCategory: null,
      categoryList: [],
      subcategoryList: [],

      defaultProps2: {
        children: 'sub_categories',
        label: 'name'
      },

      category_form: {
        category_type: null,
        category_parent_id: null,
        name: "",
        name_chinese: "",
        description: "",
        category_img: "",
        imgBase64: "",
        imgName: ""
      },

      form2: {
        fileData: []
      },
      imgBase64: [],

      units: [
        {
          value: "kg"
        },
        {
          value: "pc"
        },
        {
          value: "tali"
        },
        {
          value: "box"
        },
        {
          value: "pack"
        }
      ],

      dialogImageUrl: "",
      dialogVisible2: false,
      storageURL: process.env.VUE_APP_STORAGE,
      apiURL: process.env.VUE_APP_API_BASE,

      value: "",

      headerInfo: {
        "Access-Control-Allow-Methods": "GET, POST, OPTIONS, PUT, DELETE",
        "Access-Control-Allow-Headers":
          "Origin, X-Requested-With, Content-Type, Accept, X-File-Name, X-File-Size, X-File-Type"
      }
    };
  },

  computed: mapGetters({
    orders: "orders"
  }),

  mounted() {
    this.$eventBus.$on("refreshTable", () => {
      this.$refs.table.getTableData();
    });
  },

  methods: {
    append() {
      return(
        <el-col span="24" style="width: 100%; background-color: red;">
          test
        </el-col>
      )
    },

    goToPrintView() {
      this.$router.push("/product/printview");
    },
    passId(id) {
      this.pid = id;
    },

    handleChange(file, fileList) {
      // console.log(fileList);
      // console.log(this.data);
      var self = this;
      this.form2.fileData = [];
      this.imgBase64 = [];

      var fileData = {
        file_path: file.name,
        imgBase64: null
      };

      this.getBase64(file.raw).then(res => {
        // console.log(res);
        self.imgBase64 = [
          ...self.imgBase64,
          {
            name: file.name,
            imgBase64: res
          }
        ];
        this.form2.fileData = [...this.form2.fileData, fileData];
        this.submitUpload();
      });
    },
    getBase64(file) {
      return new Promise(function(resolve, reject) {
        let reader = new FileReader();
        let imgResult = "";
        reader.readAsDataURL(file);
        reader.onload = function() {
          imgResult = reader.result;
        };
        reader.onerror = function(error) {
          reject(error);
        };
        reader.onloadend = function() {
          resolve(imgResult);
        };
      });
    },

    async getParentCategories() {
      setTimeout(() => {
          this.$store.dispatch('getAllProductCategories').then(response => {
          var categories = [];

            response.data.map((item,index) => {
              categories.push(item)
            });

            this.categoryList = categories
            

          })
        }, 200);
    },

    handleNodeClickCategory(data) {
      // console.log(data.category_id  );
      this.selectedCategory = data 
    },

    selectCategoryParent(){
      this.treedialogVisible = true
    },

    handleCancelSelectCategory() {
      this.treedialogVisible = false
      this.selectedCategory = null
    },

    handleSelectedCategory() {
      this.category_id = this.selectedCategory.category_id;
      this.category_name = this.selectedCategory.name;
      this.selectedCategory = null
      this.treedialogVisible = false;
    },

    submitUpload() {
      var id = this.pid;
      if (this.imgBase64.length > 0) {
        this.form2.fileData.filter((item, index) => {
          var file_path = id;

          var file_type = item.file_path.split(".");

          item.file_path = file_path + "." + file_type[file_type.length - 1];
          // console.log(this.imgBase64[0]);
          item.imgBase64 = this.imgBase64[0].imgBase64;
        });

        this.$store
          .dispatch("uploadProduct", {
            id: id,
            data: this.form2.fileData
          })
          .then(res => {
            if (res.success) {
              this.$message({
                showClose: true,
                message: "Successfully Upload",
                type: "success",
                center: true
              });

              setTimeout(() => {
                this.getCategories();
              }, 1000);
            } else {
              this.$message({
                showClose: true,
                message: "Upload Failed!",
                type: "error",
                center: true
              });
            }
          });
      }
    },

    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible2 = true;
    },

    categoryImgPreview(res, file) {
      this.category_form.category_img = URL.createObjectURL(file.raw);
      this.category_form.imgName = file.name;
    },

    categoryImgChange(file, fileList) {
      var self = this;

      var reader = new FileReader();
      reader.readAsDataURL(file.raw);
      reader.onload = function(e) {
        // self.category_form.imgName = file.name;
        self.category_form.imgBase64 = this.result;
      };
    },

    editCategory(data) {
      this.$router.push({
        name: "product-edit-category",
        params: {
          categData: data,
          id: data.id
        }
      });
    },

    deleteCategory(data) {
      this.$confirm('Are you sure you want to delete this category?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {

        if(data.products.length > 0) {

          this.$alert("You can't delete this category because it has products.", 'Error', { confirmButtonText: 'OK', type: 'error' });

        } else {

          this.$store.dispatch("removeProductCategory", data).then(res => {
            if (res.status == "Success") {
              this.$message({
                type: 'success',
                message: 'Category successfully deleted'
              });
              this.$router.go();
            } else {
              this.$message({
                type: 'error',
                message: 'Failed to delete category'
              });
            }

          });

        }
        
      })
    },

    // handleChange (file, fileList) {
    //   var self = this

    //   var fileData = {
    //     file_path: file.name,
    //     imgBase64: null
    //   }

    //   var reader = new FileReader();
    //   reader.readAsDataURL(file.raw);
    //   reader.onload = function(e) {
    //     self.imgBase64 = [...self.imgBase64, {
    //       name: file.name,
    //       imgBase64: this.result
    //     }]
    //   }

    //   this.form2.fileData = [...this.form2.fileData, fileData];
    //   this.submitUpload();
    // },
    handleNodeClick(data) {
      console.log(data);
    },

    removeDocument(item, index) {
      this.imgBase64 = this.imgBase64.filter(
        data => data.name !== item.file_path
      );
      this.form2.fileData = this.form2.fileData.filter(
        data => data.file_path !== item.file_path
      );
    },

    updateProduct(product_id) {
      var data = {};
      data.product_id = product_id;
      data.price = this.form.price[product_id];
      data.name = this.form.name[product_id];
      data.name_chinese = this.form.name_chinese[product_id];
      data.unit = this.form.unit[product_id];
      data.orig_price = this.form.orig_price[product_id];
      data.multiplier = this.form.multiplier[product_id];
      // console.log( data);
      this.form.price[product_id] =
        this.form.multiplier[product_id] * this.form.orig_price[product_id];
      this.form.price[product_id] = parseFloat((this.form.price[product_id]).toFixed(2))
      this.$store.dispatch("updateProduct", data).then(res => {
        if (res.status == "Success") {
          this.dialogVisible = false;
          this.$message({
            type: "success",
            message: "Product successfully updated!"
          });
          // this.$refs.table.getTableData();
          // this.handleCancel();
        } else {
          this.$message({
            type: "error",
            message: "Error updating!"
          });
        }
      });
    },

    // updateProduct(product) {
    //   var data = {};
    //   data.product_id = product.product_id;
    //   data.price = product.product_price;
    //   data.name = product.product_name;
    //   data.name_chinese = product.name_chinese;
    //   data.unit = product.unit;
    //   data.orig_price = product.orig_price;
    //   data.multiplier = product.multiplier;

    //   product.product_price = product.multiplier * product.orig_price;



    //   // this.$store.dispatch("updateProduct", data).then(res => {
    //   //   if (res.status == "Success") {
    //   //     this.dialogVisible = false;
    //   //     this.$message({
    //   //       type: "success",
    //   //       message: "Product successfully updated!"
    //   //     });
    //   //     // this.$refs.table.getTableData();
    //   //     // this.handleCancel();
    //   //   } else {
    //   //     this.$message({
    //   //       type: "error",
    //   //       message: "Error updating!"
    //   //     });
    //   //   }
    //   // });
    // },

    saveProduct(product_id) {
      var data = {};
      data.category_id = this.category_id;
      data.price = this.price;
      data.name = this.name;
      data.name_chinese = this.name_chinese;

      this.$store.dispatch("addProduct", data).then(res => {
        if (res.status == "Success") {
          this.dialogVisible = false;
          this.$message({
            type: "success",
            message: "Product successfully added!"
          });
          this.getCategories();
          this.handleCancel();
        } else {
          this.$message({
            type: "error",
            message: "Error adding!"
          });
        }
      });
    },

    addProductDialog(order) {
      this.dialogVisible = true;
    },

    addCategoryDialog(order) {
      this.$router.push({ path: "/product/category/add" });
    },

    saveCategory() {
      var data = {};

      data.category_type = this.category_form.category_type;
      data.category_parent_id = this.category_form.category_parent_id;
      data.name = this.category_form.name;
      data.name_chinese = this.category_form.name_chinese;
      data.description = this.category_form.description;
      data.category_img = this.category_form.category_img;
      data.imgBase64 = this.category_form.imgBase64;
      data.imgName = this.category_form.imgName;

      this.$store.dispatch("addProductCategory", data).then(res => {
        if (res.status == "Success") {
          this.$message({
            type: "success",
            message: "Category successfully added!"
          });
          this.getCategories();
          this.handleCancel();
        } else {
        }
      });
    },

    handleCancel() {
      this.dialogVisible = false;
      this.categDialogVisible = false;
      this.category_id = "";
      this.name = "";
      this.name_chinese = "";
      this.price = "";

      this.category_form.category_type = "";
      this.category_form.category_parent_id = "";
      this.category_form.name = "";
      this.category_form.name_chinese = "";
      this.category_form.description = "";
      this.category_form.category_img = "";
    },

    getData({ page, query, sortParams, size }) {
      let vm = this;
      if (sortParams.length == 0) {
        sortParams = "id-desc";
      }

      var total = 0;

      this.orders.data.map((item, index) => {
        total += item.product.product_price * item.qty;
      });

      this.total_price = total;

      return {
        data: this.orders.data,
        total: this.orders.data.length,
        size: 20
      };
    },

    // async getCategories() {
    //   this.firstCol = [];
    //   this.secondCol = [];
    //   setTimeout(() => {
    //     this.$store.dispatch("getProductCategoriesByID", "0").then(response => {
    //       this.categories = response.data;
    //       console.log("categories", response.data);

    //       //static declaration of category
    //       //  var first = [{category_id:1},{category_id:3}];
    //       //  var second = [{category_id:2},{category_id:4},{category_id:5},{category_id:7},{category_id:6}];

    //       var first = [];
    //       var second = [];

    //       response.data.map((item, index) => {
    //         if (response.data.length / 2 > index) {
    //           first.push({
    //             category_id: item.category_id
    //           });
    //         } else {
    //           second.push({
    //             category_id: item.category_id
    //           });
    //         }
    //       });

    //       // console.log(response.data);

    //       response.data.map((item, index) => {
    //         var v1 = first.findIndex(v => v.category_id === item.category_id);
    //         var v2 = second.findIndex(v => v.category_id === item.category_id);

            

    //         if (v1 !== -1) {
    //           this.getProducts(this.firstCol, item);
    //         }

    //         if (v2 !== -1) {
    //           this.getProducts(this.secondCol, item);
    //         }
            
    //       });

    //       //console.log(this.firstCol);
    //     });
    //   }, 200);
    // },

    async getCategories() {
      this.firstCol = [];
      this.secondCol = [];
      setTimeout(() => {
        var self = this

        this.$store.dispatch("getCategoriesAndProductByID", "0").then(response => {
          this.categories = response.data;
          //static declaration of category
          //  var first = [{category_id:1},{category_id:3}];
          //  var second = [{category_id:2},{category_id:4},{category_id:5},{category_id:7},{category_id:6}];

          var first = [];
          var second = [];
          var total_products = 0;

          response.data.map((item, index) => {
            total_products += item.products.length;
            item.products.map((item2, index2) => {
              this.form.price[item2.product_id] = item2.product_price;
              this.form.name[item2.product_id] = item2.product_name;
              this.form.name_chinese[item2.product_id] = item2.product_name_chinese;
              this.form.orig_price[item2.product_id] = item2.orig_price;
              this.form.unit[item2.product_id] = item2.unit;
              this.form.multiplier[item2.product_id] = item2.multiplier;
            });
          });

          var half = total_products/ 2;
          var f = 0 ;
          response.data.map((item, index) => {
            if (half > (f + item.products.length)) {
              f += item.products.length;
              first.push(item);
            } else {
              second.push(item);
            }
          });

          self.firstCol = first
          self.secondCol = second

          console.log('categories', this.firstCol)

        });
      }, 200);
    },

    async getProducts(list, data) {
      this.$store
        // .dispatch("getProductByCatId", data.category_id)
        .dispatch("getProductByCatId", data.id)
        .then(response => {
          data.products = response.data;
          list.push(data);
          data.products.map((item, index) => {
            this.form.price[item.product_id] = item.product_price;
            this.form.name[item.product_id] = item.product_name;
            this.form.name_chinese[item.product_id] = item.product_name_chinese;
            this.form.orig_price[item.product_id] = item.orig_price;
            this.form.unit[item.product_id] = item.unit;
            this.form.multiplier[item.product_id] = item.multiplier;
          });
        });
    }
  },

  created() {
    this.getCategories();
    this.getParentCategories();
  }
};
</script>

<style lang="scss">
  #selCat{
       .categoryTree {
    border-top: 1px solid #DCDFE6;
  }

      .el-tree-node__content {
      border-bottom: 1px solid #DCDFE6;
      border-left: 1px solid #DCDFE6;
      border-right: 1px solid #DCDFE6;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .el-tree-node__label {
        padding-left: 18px;
      }
  }

.product-list {
  .el-tree-node__expand-icon {
    position: absolute;
    top: 8px;
    z-index: 9999;
  }

  .el-tree-node__content {
    height: auto;
    position: relative;
  }

  .el-tree-node__content:hover {
    background-color: transparent;
  }

  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }

  .products:hover {
    cursor: default;
  }
}

.el-select .el-input__inner {
  text-align: center !important;
}
.plus-upload {
  width: 100%;
  height: 100%;
  padding: auto;
  padding-top: -41px;
  /* margin-top: -27px; */
  position: absolute;
  padding-top: 35px;
  top: 0px;
  left: 0;
}

.plus-upload2 {
  font-size: 30px;
  color: #8c939d;
  width: 100%;
  height: 100px;
  padding: auto;
  position: absolute;
  padding-top: 35px;
  top: 0px;
  left: 0;
  margin-left: 10px;
  max-width: 100px;
}

.el-upload--picture-card {
  width: 110px;
  height: 100px;
  cursor: pointer;
  line-height: 110px;
}

.el-upload-list--picture-card {
  display: block !important;
}

.documents-container {
  position: relative;
  border: 1px solid #ddd;
  padding: 15px 15px 0px;
  /*margin-bottom: 15px;*/

  .documents {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 5px;
  }
}

.remove-btn {
  position: absolute;
  bottom: 20px;
  right: 100px;
  padding: 4px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.el-upload-list {
  display: none;
}

.el-col {
  font-size: 13px;
  align-items: center;
}

.total-price {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}
.add-item {
  text-align: right;
  width: "100%";
}
.col {
  text-align: center;
}

.row {
  border-bottom: 1px solid #ccc;
  padding: 2px 8px;
}

.cat-header {
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  background: #e8e8e8;
  border: 1px solid #ccc;
  text-align: justify;
}

.row-header {
  border: 1px solid #ccc;
  padding: 5px;
}

.col-header {
  text-align: center;
  font-weight: bold;
}

.remarks {
  padding: 2px;
  margin: 2px;
}

.c-total-price {
  border: 0px;
}

.cat-name {
  color: #4bbe56 !important;
  margin-left: 15px;
}

.category-buttons {
  float: right;
  color: #f56c6c;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    cursor: pointer;
  }
}

.p-img {
  /*    width: 110px;
    height: 100px;*/
  width: 98%;
  max-height: 100px;
}

.p-img-error {
  font-size: 50px;
  color: #d4d8dc;
  margin-left: 10px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .p-img {
    /*width: 80px;*/
  }
}

@media screen and (max-width: 767px) {
  .p-img {
    max-height: 170px;
  }
  .plus-upload2 {
    max-width: 50px;
  }
}
</style>
