<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';

.el-form-item {
    padding: 5px;
}



</style>

<template>

<div>
    <div class="heading">
        <h1 class="title" style="width: 100%">
        Orders Summary [Total Price : <b>{{total}}</b>] [Total : 
        <b v-if="total_kg > 0" >{{parseFloat(total_kg).toFixed(1)}}kg</b>
        <b v-if="total_pc > 0" style="margin-left: 10px;">{{parseFloat(total_pc).toFixed(1)}}pc</b>
        <b v-if="total_tali > 0" style="margin-left: 10px;">{{parseFloat(total_tali).toFixed(1)}}tali</b>

        ]
        <el-button type="primary" size="small" icon="el-icon-plus" @click="dialogVisible = true" style="float: right;">
          Budget
        </el-button><br><br>          
        <span style="font-size: 14px;" v-if="tprice[1] > 0"><b>Vegetables :</b> [Php{{ tprice[1] }}]
          <b v-if="tkg[1]>0">{{parseFloat(tkg[1]).toFixed(1)}}kg </b> 
          <b v-if="tpc[1]>0"> {{parseFloat(tpc[1]).toFixed(1)}}pc </b>
          <b v-if="tali[1]>0"> {{parseFloat(tali[1]).toFixed(1)}}tali </b><br>
        </span>

        <span style="font-size: 14px;" v-if="tprice[2] > 0 || tprice[3] > 0"><b>Meat : </b> [Php{{ (tprice[2]> 0 || tprice[3]>0 ? (parseFloat(tprice[2]) + parseFloat(tprice[3])).toFixed(1) : 0) }}]
          <b v-if="tkg[2]>0 || tkg[3] > 0">{{ (tkg[2]> 0 || tkg[3]>0 ? (parseFloat(tkg[2]) + parseFloat(tkg[3])).toFixed(1) : 0) }}kg </b> <br>
        </span>

        <span style="font-size: 14px;" v-if="tprice[4] > 0"><b>Fish : </b> [Php{{ tprice[4] }}]
          <b v-if="tkg[4]>0">{{parseFloat(tkg[4]).toFixed(1)}}kg </b> 
          <b v-if="tpc[4]>0"> {{parseFloat(tpc[4]).toFixed(1)}}pc </b><br>
        </span>

        <span style="font-size: 14px;" v-if="tprice[5] > 0"><b>Fruits : </b>[Php{{ tprice[5] }}] 
          <b v-if="tkg[5]>0">{{parseFloat(tkg[5]).toFixed(1)}}kg </b> 
          <b v-if="tpc[5]>0"> {{parseFloat(tpc[5]).toFixed(1)}}pc </b><br>
        </span>

        <span style="font-size: 14px;" v-if="price_total2 > 0"><b>Total of masks : Php{{price_total2}}</b><br></span>
        <span style="font-size: 14px;"><b>Total delivery charge : Php{{ delivery_charge }}</b></span><br>
        
        
      </h1>
    </div>
    <div class="body-container" style="overflow: auto !important;">
    <div v-for="d in data">
      <div style="border-bottom: 15px solid #F0F1F3;">
    <div class="container-padding" >
      <h3 style="text-transform: uppercase; color: #337ab7;">{{d.category}} {{d.orders}} 
        <b style="color: #000;" v-if="d.category_id >= 1 && d.category_id <=5">Total Price: Php{{d.total_price}}</b>
      </h3>
      <el-row :gutter="20">
        <el-col :span="8" v-for="p in d.products" style="min-height: 150px">
          <div >
            <h4 style="margin-top: 0px;">{{p.product_name}} 
              <span style="font-weight: 300;" v-if="d.category_id >= 1 && d.category_id <=5"> Total {{p.unit}}: <b>{{ parseFloat(p.total_kg).toFixed(1)}}</b></span>
              <span style="font-weight: 300;" v-if="d.category_id == 7">x <b>{{ parseFloat(p.total_kg).toFixed(1)}} order/s</b></span>
              

            </h4>
            <ol>
              <li v-for="o in p.order_details">Order #{{o.order_id}} - <b style="margin-left: 20px;">{{o.qty}}</b> <i style="margin-left: 30px;">{{o.remarks}}</i></li>
            </ol>
          </div>
        </el-col>
      </el-row>
    </div>
    </div>
    </div>

    <el-dialog
            title="Add Purchasing Budget"
            :visible.sync="dialogVisible"
            width="30%">

            <span>
              <el-row :gutter="20">
                <el-col :span="9"><div style="margin-top: 6px;"><b >Purchasing Budget :</b></div></el-col>
                <el-col :span="15"><div><el-input type="number" min="0" v-model="purchasing_budget" autocomplete="off" style="margin-left: 2px;"></el-input></div></el-col>
              </el-row>
            </span><br>
            <span>
              <el-row :gutter="20">
                <el-col :span="9"><div style="margin-top: 6px;"><b >Rider :</b></div></el-col>
                <el-col :span="15">
                  <div>
                    <el-select v-model="rider"  style="width: 260px;">
                      <el-option
                        v-for="s in riders"
                        :label="s.value"
                        :value="s.value">
                      </el-option>
                    </el-select>
                  </div>
              </el-col>
              </el-row>
            </span>
            <span slot="footer" class="dialog-footer">
              <el-button @click="handleCancel()">Cancel</el-button>
              <el-button type="primary" @click="handleComplete()">Confirm</el-button>
            </span>
          </el-dialog>
    </div>

</div>

</template>

<script>


export default {
    name: 'order-summary',
    props: ['orderIds'],
    components: {
    },
    data() {
        return {
            data: [],
            total: '',
            total_kg: '',
            total_pc: '',
            total_tali: '',
            tprice: [],
            tkg: [],
            tpc: [],
            tali: [],
            kg_total1: '',
            kg_total2: '',
            price_total2: '',
            delivery_charge: '',

            purchasing_budget : '',
            rider : '',
            dialogVisible : false,

            riders: [{
                value: 'Jeo',
              }, {
                value: 'Vergel',
              }, {
                value: 'Yenyen',
              }, {
                value: 'RC',
              }, {
                value: 'Wilson',
              }, {
                value: 'John',
              }, {
                value: 'Oscar',
              }
              // , {
              //   value: 'Picked up',
              // }
              ],
            }
    },

    mounted() {

    },


    methods: {

             getSummary (){
                    let order_ids = this.orderIds;
                    var data = {};
                    var res = order_ids.replace(/[[\]]/g,'');
                    var res = order_ids.split(",");
                    var res = order_ids.replace(/[[\]]/g,'');
                    var res = res.split(',').map(function(item) {
                        return parseInt(item, 10);
                    });
                    data.order_ids = res;
                    this.$store.dispatch('orderSummary', data).then(response => {
                        this.data = response.data;
                        this.total = response.total;
                        this.total_kg = response.total_kg;
                        this.total_pc = response.total_pc;
                        this.total_tali = response.total_tali;
                        this.tprice = response.tprice;
                        this.tkg = response.tkg;
                        this.tpc = response.tpc;
                        this.tali = response.tali;
                        // this.kg_total1 = response.kg_total1;
                        this.kg_total2 = response.kg_total2;
                        this.price_total2 = response.price_total2;
                        this.delivery_charge = response.delivery_charge;
                   })
            },

            handleComplete () {
                var data = {};
                data.purchasing_budget = this.purchasing_budget;
                data.rider = this.rider;
                data.order_ids = this.orderIds;

                this.$store.dispatch('addPurchasingBudget', data).then(res => {
                    if(res.status == 'Success'){          
                      this.dialogVisible = false;
                      this.$message({
                        type: 'success',
                        message: 'Order successfully marked as complete!'
                      });
                      this.handleCancel();
                    }
                    else{
                      this.$message({
                        type: 'error',
                        message: 'Please complete the form!'
                      });
                    }
                })

                
              },

              handleCancel(){
                this.rider = '';
                this.purchasing_budget = '';
                this.dialogVisible = false;
              },



    },

    created(){

        this.getSummary();
    },


}

</script>

<style lang="scss">
.sidebar{
    display: none !important;
}

.header{
    display: none !important;
}

  .total-price{
    text-align: right;
    font-weight: bold;
    margin-top:10px;
  }
  .add-item{
     text-align: right;
     width:'100%';
  }
  .col{
   text-align: center;
  }

  .row{
   border-bottom:1px solid #ccc;
   padding:2px;
  }

  .cat-header{
   padding:10px 10px 10px 10px;
   font-weight: bold;
   background: #DCDCDC;
   border:1px solid #ccc;
  }

  .row-header{
   border:1px solid #ccc;
   padding:5px;
  }

  .col-header{
   text-align: center;
   font-weight: bold;
  }
</style>
