<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';

.el-form-item {
    padding: 5px;
}


.el-table{
  color: #5b5b5b !important;
  font-weight: bold;
}

</style>

<template>
  <div>
  <div class="heading">
        <h1 class="title">
        <b>Order # {{orderId}}</b>
      </h1>
    </div>
    <div class="body-container" style="overflow: auto !important;">
<div class="container-padding" >
    <div class="form-container invoicecontainer">
      <el-row :gutter="30" class="p-line-set">
          <el-col :span="8">
            <div class="line-set">
                <span class="label-a">Name : </span>
                <span class="content-txt" > {{ form.name }} {{ form.last_name }}</span>
              </div>
          </el-col>
          <el-col :span="4">
            <div class="line-set">
                <span class="label-a">Wechat ID : </span>
                <span class="content-txt2"> {{ form.wechat_id }} </span>
              </div>
          </el-col>
          <el-col :span="4">
            <div class="line-set">
                <span class="label-a">Telegram : </span>
                <span class="content-txt2"> {{ form.telegram }} </span>
              </div>
          </el-col>
          <el-col :span="8">
            <div class="line-set">
                <span class="label-a"> {{ (form.status > 0 ? 'DELIVERED' : 'FOR DELIVERY' ) }} </span>
              </div>
          </el-col>
      </el-row>
      <el-row :gutter="30" class="p-line-set">
          <el-col :span="8">
            <div class="line-set">
                <span class="label-a">Phone : </span>
                <span class="content-txt" > {{ form.contact }}</span>
              </div>
          </el-col>
          <el-col :span="8">
            <div class="line-set">
                <span class="label-a">Date : </span>
                <span class="content-txt" > {{ form.created_at }}</span>
              </div>
          </el-col>
          <el-col :span="8">
            <div class="line-set">
                <span class="label-a">Delivery Date : </span>
                <span class="content-txt" > {{ form.date_of_delivery }}</span>
              </div>
          </el-col>
      </el-row>
      <el-row :gutter="30" class="p-line-set">
          <el-col :span="24">
            <div class="line-set">
                <span class="label-a">Address : </span>
                <span class="content-txt" > {{ form.address }}</span>
              </div>
          </el-col>
      </el-row>
      <el-row :gutter="30" class="p-line-set">
          <el-col :span="24">
            <div class="line-set">
                <span class="label-a">Remarks : </span>
                <span class="content-txt"> {{ form.remarks }}</span>
              </div>
          </el-col>
      </el-row>
      <br><br>

      <el-table
      :data="form.details"
      style="width: 100%">
      <el-table-column
        prop="combined_name"
        label="Name"
        width="500">
      </el-table-column>
      <el-table-column
        prop="qty"
        label="QTY"
        width="60">
      </el-table-column>
      <el-table-column
        prop="unit_price"
        label="Price">
      </el-table-column>
      <el-table-column
        prop="total_price"
        label="Total">
      </el-table-column>
      <el-table-column
        prop="remarks"
        label="Remarks">
      </el-table-column>

    </el-table>
    <br>

    <span style="float: right; margin-right: 200px; color: #5b5b5b; font-weight: bold;" class="content-txt"><b>Total : </b> {{form.total_price}}</span>
    <br><br>

    <span style="color: #5b5b5b; font-weight: 500;"><b>Note : </b> The order weight might be different from actual purchase, example, we cant estimate the whole patchay's weight or whole chickens actual weight. only estimate.  <br> (请注意，实际付款金额可能和预估金额有差距，因为例如白菜，整鸡，猪脚等价格取决于实际购买是的称重，我们只是预估。最终付款金额取决于最终货物重量)</span>

          
    </div>
    </div>
    </div>
    </div>
</template>

<script>


export default {
    name: 'order-summary',
    props: ['orderId'],
    components: {
    },
    data() {
        return {
            form: [],
        }
    },

    mounted() {

    },


    methods: {

             getSummary (){
                   const order_id = this.orderId;
                  return this.$store.dispatch('viewOrder', { order_id: order_id}).then(res => {
                     this.form = res.data;
                    
                  });
            },



    },

    created(){

        this.getSummary();
    },


}

</script>

<style lang="scss">
  .el-table thead{
  color: #5b5b5b !important;
  font-weight: bold;
}
.sidebar{
    display: none !important;
}

.header{
    display: none !important;
}

  .el-pagination {
    display: none !important;
  }
  
  .receipt-title{
    text-align: center;
    font-size:24px;
  }

  .content-txt {
      color: #000000;
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 15px;
  }  

  .content-txt2 {
      color: #000000;
      margin-left: 10px;
      /*text-transform: uppercase;*/
      font-size: 15px;
  }

  .label-a{
    font-size: 15px;
    margin:0px;
    color:#000000;
      font-weight: bold;

    
  }

  .p-line-set{
    margin-bottom: 3px;
  }

  .line-set{
    display: inline-flex;
  }

  .line-a{
    width: 781px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-b{
    width: 152px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-c{
    width: 568px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-d{
    width: 770px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }

  .col{
   text-align: center;
  }

  .row{
   border-bottom:1px solid #ccc;
   padding:2px;
  }

  .cat-header{
   padding:10px 10px 10px 10px;
   font-weight: bold;
   background: #DCDCDC;
   border:1px solid #ccc;
  }

  .row-header{
   border:1px solid #ccc;
   padding:5px;
  }

  .col-header{
   text-align: center;
   font-weight: bold;
  }
</style>
