<style lang="scss" scoped>

@import '../../assets/styles/_view_components.scss';

.el-form-item {
    padding: 5px;
}


.el-table{
  color: #5b5b5b !important;
  font-weight: bold;
}

</style>

<template>
  <div>
  <div class="heading">
        <h1 class="title">
        <b>Order # {{orderId}} Logs</b>
      </h1>
    </div>
    <div class="body-container" style="overflow: auto !important;">
<div class="container-padding" >
    <div class="form-container invoicecontainer">
      <el-row>
        <el-col :span="6" :gutter="2" v-for="l in log">
          <b>{{ l.log_date | commonDate }}</b><br>
          <span  v-html="l.log"></span>
        </el-col>
      </el-row>

          
    </div>
    </div>
    </div>
    </div>
</template>

<script>


export default {
    name: 'order-summary',
    props: ['orderId'],
    components: {
    },
    data() {
        return {
            log: [],
        }
    },

    mounted() {

    },


    methods: {

             getSummary (){
                   const order_id = this.orderId;
                  return this.$store.dispatch('viewOrderLog', { order_id: order_id}).then(res => {
                     this.log = res.data;
                    
                  });
            },



    },

    created(){

        this.getSummary();
    },


}

</script>

<style lang="scss">
  .el-table thead{
  color: #5b5b5b !important;
  font-weight: bold;
}
.sidebar{
    display: none !important;
}

.header{
    display: none !important;
}

  .el-pagination {
    display: none !important;
  }
  
  .receipt-title{
    text-align: center;
    font-size:24px;
  }

  .content-txt {
      color: #000000;
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 15px;
  }  

  .content-txt2 {
      color: #000000;
      margin-left: 10px;
      /*text-transform: uppercase;*/
      font-size: 15px;
  }

  .label-a{
    font-size: 15px;
    margin:0px;
    color:#000000;
      font-weight: bold;

    
  }

  .p-line-set{
    margin-bottom: 3px;
  }

  .line-set{
    display: inline-flex;
  }

  .line-a{
    width: 781px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-b{
    width: 152px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-c{
    width: 568px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-d{
    width: 770px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }

  .col{
   text-align: center;
  }

  .row{
   border-bottom:1px solid #ccc;
   padding:2px;
  }

  .cat-header{
   padding:10px 10px 10px 10px;
   font-weight: bold;
   background: #DCDCDC;
   border:1px solid #ccc;
  }

  .row-header{
   border:1px solid #ccc;
   padding:5px;
  }

  .col-header{
   text-align: center;
   font-weight: bold;
  }
</style>
