<template>
  <div>
    <el-form :model="addForm" :rules="addRules" ref="addForm" class="demo-ruleForm">
      <div class="add-form" v-for="(form, index) in addForm.forms">
        <!--
        <el-row :gutter="15" v-if="index===0" style="margin: 0; padding: 0;">
          <el-col :span="24" style="display: flex; justify-content: flex-end;">
            <el-button type="primary" size="small" @click="handleAutoFill">Auto fill</el-button>
          </el-col>
        </el-row>
        -->
        <el-row :gutter="15">
          <el-col :span="12">
            <div><strong>Model </strong></div>
            <div>
              <el-form-item >
                <el-input v-model="form[`model`]" autocomplete="off"
                          style="margin-bottom: 0;" />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div><strong>Qty</strong></div>
            <div>
              <el-form-item :prop="`forms[${index}][qty]`">
                <el-input type="number" v-model="form[`qty`]" autocomplete="off" />
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="15">
          <el-col :span="8">
            <div><strong>Location</strong></div>
            <div>
              <el-form-item :prop="`forms[${index}][location]`">
                <el-select v-model="form[`location`]" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;" @change="getLocationDetail(form[`location`], index)">
                  <el-option
                    v-for="item in storage_locations"
                    :key="item.id"
                    :label="item.location"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="16">
            <div><strong>Location Detail</strong></div>
            <div>
              <el-form-item :prop="`forms[${index}][location_detail]`">
                <el-select v-model="form[`location_detail`]" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;">
                  <el-option
                    v-for="item in form[`location_details`]"
                    :key="item.id"
                    :label="item.location_detail"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </el-col>
        </el-row>

        <el-row :gutter="15">
          <el-col :span="24">
            <div><strong>Remarks</strong></div>
            <div>
              <el-form-item>
                <el-input v-model="form[`remarks`]" autocomplete="off" />
              </el-form-item>
            </div>
          </el-col>
        </el-row>

        <el-row :gutter="15">
          <el-col :span="4">
            <div><strong>Source</strong></div>
            <div>
              <el-form-item :prop="`forms[${index}][type]`">
                <el-select v-model="form[`type`]" placeholder="Select" style="width: 100%;" @change="handleChangeSource(index)">
                  <el-option label="Received" value='Received' />
                  <el-option label="Purchased" value='Purchased' />
                </el-select>
              </el-form-item>
            </div>
          </el-col>

          <el-col :span="8" v-if="form[`type`] !== ''">
            <div><strong>Name</strong></div>
            <div>
              <el-form-item>
                <el-select v-model="form[`received_from`]" filterable allow-create clearable placeholder="Select or Input Name" style="width: 100%;">
                  <el-option
                    v-for="(item, index) in users"
                    :key="index"
                    :label="item.name"
                    :value="item.name">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12" v-if="form[`type`] !== ''">
            <div><strong>From</strong></div>
            <div>
              <el-form-item>
                <el-input v-model="form[`received_from_address`]" autocomplete="off" />
              </el-form-item>
            </div>
          </el-col>
        </el-row>

        <el-row :gutter="15">
          <el-col :span="7" v-if="form[`type`] !== ''">
            <div v-if="form[`type`]==='Purchased'">
              <div><strong>Purchase Price</strong></div>
              <div>
                <el-form-item :prop="`forms[${index}][purchase_price]`">
                  <el-input type="number" v-model="form[`purchase_price`]" autocomplete="off" />
                </el-form-item>
              </div>
            </div>
          </el-col>

          <el-col :span="5" v-if="form[`type`]==='Purchased'">
            <strong>OR</strong>
            <div>
              <el-form-item :prop="`forms[${index}][hasOR]`">
                <el-radio v-model="form[`hasOR`]" label="1">Yes</el-radio>
                <el-radio v-model="form[`hasOR`]" label="0">No</el-radio>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="2">
            <div>&nbsp;</div>
            <div>
              <el-form-item>
                <el-button v-if="index!==0" icon="el-icon-minus" size="mini" circle type="danger" style="margin-top: 23px" @click="deleteRow(index)" />
              </el-form-item>
            </div>
          </el-col>
        </el-row>

      </div>
    </el-form>
    <div style="display: flex; justify-content: flex-end"> <!--
      <el-button type="primary" size="small" @click="handleAutoFill">Auto fill</el-button>
      <el-button icon="el-icon-plus" size="small" circle type="primary" @click="addRow" /> -->
      <el-button type="primary" size="small" :loading="loading" @click="save('addForm')">Save</el-button>
      <el-button size="small" @click="cancel('addForm')">Cancel</el-button>
    </div>
  </div>
</template>

<script>
    export default {
      name: "add-more-property",
      data() {
        return {
          storage_locations: [],
          users: [],
          loading: false,
          addForm: {
            forms: [
              {
                model: '',
                qty: '',
                hasOR: '',
                type: '',
                received_from: '',
                received_from_address: '',
                purchase_price: '',
                remarks: '',
                location: '',
                location_detail: '',
                location_details: [],
              }
            ]
          },
          addRules: {
            forms: []
          },
        }
      },
      methods: {
        save(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              let payLoad = {
                inventory_id: this.parent.inventory_id,
                item_name: this.parent.name,
                forms: JSON.stringify(this.addForm.forms)
              };
              this.loading = true;
              this.$store.dispatch("addMoreItem", payLoad)
                .then(response => {
                  let d = response
                  if (d.code === 200) {
                    this.$message({
                      message: 'Items has been added successfully.',
                      type: 'success'
                    });
                    setTimeout(() => {
                      //this.getAssigned()
                      //this.getInvLocation()
                      //this.getLocation()
                      this.$emit('getNewlyAdded');
                      this.$eventBus.$emit('reloadProperty');
                      this.$eventBus.$emit('getActionLogs', {id: this.parent.inventory_id});
                      this.$refs[formName].resetFields();
                      this.loading = false;
                      this.$parent.$emit('close');
                    }, 300)
                  }

                  if (d.code === 422) {
                    let {errors} = response;
                    this.loading = false;
                  }
                })

            }
            else
            {
              return false
            }
          })
        },
        cancel(formName) {
          this.$refs[formName].resetFields()
          this.addForm.forms = []
          let forms = {
            model: '',
            qty: '',
            hasOR: '',
            type: '',
            received_from: '',
            received_from_address: '',
            purchase_price: '',
            remarks: '',
            location: '',
            location_detail: '',
            location_details: [],
          };
          this.addForm.forms.push(forms)
          this.$parent.$emit('close')
        },
        handleAutoFill() {
          let len = this.addForm.forms.length
          for (let x = 0; x < len; x++) {
            this.addForm.forms[x][`model`] = this.addForm.forms[0].model,
            //this.addForm.forms[x][`qty`] = this.addForm.forms[0].qty,
            this.addForm.forms[x][`hasOR`] = this.addForm.forms[0].hasOR,
            this.addForm.forms[x][`type`] = this.addForm.forms[0].type,
            this.addForm.forms[x][`received_from`] = this.addForm.forms[0].received_from,
            this.addForm.forms[x][`received_from_address`] = this.addForm.forms[0].received_from_address,
            this.addForm.forms[x][`purchase_price`] = this.addForm.forms[0].purchase_price,
            this.addForm.forms[x][`remarks`] = this.addForm.forms[0].remarks,
            this.addForm.forms[x][`location`] = this.addForm.forms[0].location,
            this.addForm.forms[x][`location_detail`] = this.addForm.forms[0].location_detail,
            this.addForm.forms[x][`location_details`] = this.addForm.forms[0].location_details
          }
          if(len>1){
            setTimeout(() => {
              this.$message({
                message: 'All forms has been filled out.',
                type: 'success'
              })
            }, 300);
          }
        },
        getLocationDetail(id, index){

            this.addForm.forms[index][`location_details`] = [];
            this.addForm.forms[index][`location_detail`] = undefined;
            this.$store.dispatch('getLocationDetail', {loc_id: id})
              .then(response => {
                this.addForm.forms[index][`location_details`] = response.data;
              })
        },
        addRow() {
          ////let x = this.addForm.forms.length
          let forms
          forms = {
            [`model`]: '',
            [`qty`]: '',
            [`hasOR`]: '',
            [`type`]: '',
            [`received_from`]: '',
            [`received_from_address`]: '',
            [`purchase_price`]: '',
            [`remarks`]: '',
            [`location`]: '',
            [`location_detail`]: '',
            [`location_details`]: []
          }
          this.addForm.forms.push(forms)

          //let j = this.addRules.forms.length
          let rules = {
            [`qty`]: [
              { required: true, message: 'Qty is required.', trigger: 'change' }
            ],
            [`hasOR`]: [
              { required: true, message: 'OR is required.', trigger: 'change' }
            ],
            [`type`]: [
              { required: true, message: 'Type is required.', trigger: 'change' }
            ],
            [`purchase_price`]: [
              { validator: this.validatePurchasePrice, trigger: 'change' }
            ],
            [`location`]: [
              { required: true, message: 'Location is required.', trigger: 'blur' }
            ],
            [`location_detail`]: [
              { required: true, message: 'Location Detail is required.', trigger: 'blur' }
            ]
          }
          this.addRules.forms.push(rules)
        },
        validatePurchasePrice(rule, value, callback) {
          let x = rule.field.split("forms[", 2);
          let y = x[1].split("][", 1)
          if (value === '' && this.addForm.forms[y[0]][`type`] === 'Purchased') {
            callback(new Error('Purchase price is required.'));
          } else if (value < 1 && this.addForm.forms[y[0]][`type`] === 'Purchased') {
            callback(new Error('Please input a valid price.'));
          } else {
            callback();
          }
        },
        deleteRow(index) {
          const forms = this.addForm.forms;
          forms.splice(index, 1);
        },
        handleChangeSource(index){
          this.addForm.forms[index][`hasOR`] = ""
          this.addForm.forms[index][`received_from`] = undefined
          this.addForm.forms[index][`received_from_address`] = ""
          this.addForm.forms[index][`purchase_price`] = ""
        },
        getLocation(type){
          this.$store.dispatch('getLocation', {type}).then(response => {
            this.storage_locations = response.data;
          })
        },
        getUsersList(){
          this.$store.dispatch('getUsersList').then(response => {
            this.users = response.data;
          })
        },
      },
      created() {
        let rules = {
          [`qty`]: [
            { required: true, message: 'Qty is required.', trigger: 'change' }
          ],
          [`hasOR`]: [
            { required: true, message: 'OR is required.', trigger: 'change' }
          ],
          [`type`]: [
            { required: true, message: 'Type is required.', trigger: 'change' }
          ],
          [`purchase_price`]: [
            { validator: this.validatePurchasePrice, trigger: 'change' }
          ],
          [`location`]: [
            { required: true, message: 'Location is required.', trigger: 'blur' }
          ],
          [`location_detail`]: [
            { required: true, message: 'Location Detail is required.', trigger: 'blur' }
          ]
        };
        this.addRules.forms.push(rules);
        this.parent = this.$parent.$parent.content.data;
        this.getLocation(2);
        this.getUsersList()
      }
    }
</script>
