<template>
  <div>
    <el-form :model="forms" :rules="rules" ref="form" class="demo-ruleForm">
      <el-row :gutter="15">
        <el-col :span="12" v-if="!(parent.title==='Edit Item'&&parent.row.assigned_to===null)">
          <div><strong>Assign To</strong></div>
          <div>
            <el-form-item prop="assign_to">
              <el-select v-model="forms.assign_to" filterable allow-create clearable placeholder="Select or Input Name">
                <el-option
                  v-for="(item, index) in forms.users"
                  :key="index"
                  :label="item.name"
                  :value="item.name">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12" v-if="parent.hasSerial!==1">
          <div><strong>Qty </strong></div>
          <div>
            <el-form-item prop="qty">
              <el-input type="number" v-model="forms.qty" autocomplete="off" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div><strong>Location</strong></div>
          <div>
            <el-form-item prop="location">
              <el-select v-model="forms.location" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;" @change="getLocationDetail(forms.location)">
                <el-option
                  v-for="item in forms.storage_locations"
                  :key="item.id"
                  :label="item.location"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div><strong>Location</strong></div>
          <div>
            <el-form-item prop="location_detail">
              <el-select v-model="forms.location_detail" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;">
                <el-option
                  v-for="item in forms.location_details"
                  :key="item.id"
                  :label="item.location_detail"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12" v-if="parent.title==='Edit Item'">
          <div><strong>Model</strong></div>
          <div>
            <el-form-item>
              <el-input v-model="forms.model" autocomplete="off" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12" v-if="parent.title==='Edit Item'&&parent.hasSerial===1">
          <div><strong>Serial</strong></div>
          <div>
            <el-form-item>
              <el-input v-model="forms.serial" autocomplete="off" />
            </el-form-item>
          </div>
        </el-col>
      </el-row>
    </el-form>
    <div style="display: flex; justify-content: flex-end">
      <el-button type="primary" size="small" :loading="loading" @click="save('form')">Save</el-button>
      <el-button size="small" @click="cancel('form')">Cancel</el-button>
    </div>
  </div>
</template>

<script>
    export default {
      name: "assign-item",
      data() {
        let validateQty = (rule, value, callback) => {
          if(this.forms.qty < 1){
            callback(new Error('Please input a valid number'))
          }else
          if(this.parent.title === 'Assign Item' && this.forms.qty > this.parent.row.qty) {
            callback(new Error('Out of stock'))
          }else
          if(this.parent.title !== 'Assign Item' && (this.forms.qty - this.parent.row.qty) > this.parent.row.remaining) {
            callback(new Error('Out of stock'))
          } else {
            callback()
          }
        };

        return {
          loading: false,
          forms: {
            assign_to: '',
            location: '',
            location_detail: '',
            qty: '',
            model: '',
            serial: '',
            storage_locations: [],
            location_details: [],
            users: []
          },
          rules: {
            assign_to: [
              { required: true, message: 'This field is required.', trigger: 'blur' }
            ],
            location: [
              { required: true, message: 'This field is required.', trigger: 'change' }
            ],
            location_detail: [
              { required: true, message: 'This field is required.', trigger: 'change' }
            ],
            qty: [
              { required: true, message: 'This field is required.' },
              { validator: validateQty, trigger: 'blur' }
            ]
          },
        }
      },
      methods: {
        save(formName){
          this.$refs[formName].validate((valid) => {
            if (valid) {
              this.loading = true
              let payLoad = {
                inventory_id: this.parent.inventory_id,
                id: this.parent.id,
                item_name: this.parent.name,
                hasSerial: this.parent.hasSerial,
                qty:this.parent.hasSerial===0?this.forms.qty:"1",
                title: this.parent.title,
                isAssigned: this.parent.row.assigned_to
              }
              payLoad = {...payLoad, ...this.forms}
              this.$store.dispatch("assignInventory", payLoad)
                .then(response => {
                  let d = response

                  if (d.code === 200) {
                    this.$message({
                      message: 'Saved.',
                      type: 'success'
                    });

                    setTimeout(() => {
                      this.loading = false;
                      this.$eventBus.$emit('getActionLogs', {id: this.parent.inventory_id})
                      this.$eventBus.$emit('reloadProperty');
                      this.$parent.$emit('close');
                    }, 500)
                  }

                  if (d.code === 422) {
                    this.loading = false;
                  }
                })
            }
          })
        },
        cancel(formName){
          this.$refs[formName].resetFields()
          this.$parent.$emit('close')
        },
        getUsersList(){
          this.$store.dispatch('getUsersList').then(response => {
            this.forms.users = response.data;
          })
        },
        getLocation(){
          this.$store.dispatch('getLocation', {type: 1}).then(response => {
            this.forms.storage_locations = response.data;
          })
        },
        getLocationDetail(id) {
          this.$store.dispatch('getLocationDetail', {loc_id: id})
            .then(response => {
              this.forms.location_details = response.data;
            })
        }
      },
      created() {
        this.parent = this.$parent.$parent.content.data;
        this.getLocation()
        this.getUsersList()
        console.log(this.parent)
        let f = this.forms
        let p = this.parent.row
        if(this.parent.title === 'Edit Item'){
          this.getLocationDetail(p.loc_site_id)
          f.assign_to = p.assigned_to
          f.location = p.loc_site_id
          f.location_detail = p.loc_detail_id
          f.qty = p.qty
          f.serial = p.serial
          f.remaining = p.remaining
        }
        f.model = p.model
      }
    }
</script>

<style scoped>

</style>
