<template>
  <div class="details">
    <el-row :gutter="5" class="row">
      <el-col :span="8" class="col">
        <div><strong>Order Ref#:</strong></div>
      </el-col>
      <el-col :span="8" class="col">
        <div><strong>Who:</strong> {{data.who}}</div>
      </el-col>
      <el-col :span="8" class="col">
        <div><strong>Operator:</strong> {{data.operator}}</div>
      </el-col>
    </el-row>
    <el-row :gutter="5" class="row">
      <el-col :span="12" class="col">
        <div><strong>Location:</strong> {{data.type=='Purchased'?`${data.location!=''?data.location+' ('+data.location_detail+')':''}`:data.sup_location}}</div>
      </el-col>
      <el-col :span="12" class="col">
        <div><strong>Source:</strong> {{data.type=='Consumed'||data.type=='Converted'||data.type=='Wasted'?`${data.location!=''?data.location+' ('+data.location_detail+')':''}`:data.sup_location}}</div>
      </el-col>
    </el-row>
    <el-row :gutter="5" class="row">
      <el-col :span="24" class="col">
        <div><strong>Reason:</strong> {{data.reason?data.reason:''}}</div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
    export default {
      data(){
        return {
          data: ''
        }
      },
      created () {
        this.data = this.$parent.$parent.content.data
      }
    }
</script>

<style lang="scss">
  .details{
    .row{
      border-bottom: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      &:first-child{
        border-top: 1px solid;
      }
      .col {
        &:not(:last-child){
          border-right: 1px solid;
        }
        padding: 8px;
        div {
          margin: 0 5px;
        }
      }
    }
  }
</style>
