<template>
  <div>
    <el-form :model="updateForm" :rules="updateRules" ref="updateForm" class="demo-ruleForm">
      <el-row :gutter="15">
        <el-col :span="24">
          <div><strong>Description</strong></div>
          <div>
            <el-form-item prop="description">
              <el-input type="textarea" v-model="updateForm.description" />
            </el-form-item>
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="24">
          <div><strong>Specification</strong></div>
          <div>
            <el-form-item prop="specification">
              <el-input v-model="updateForm.specification" autocomplete="off" />
            </el-form-item>
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="12">
          <div><strong>Unit</strong></div>
          <div>
            <el-form-item prop="unit_id">
              <el-select v-model="updateForm.unit_id" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;">
                <el-option
                  v-for="item in unitLists"
                  :key="item.unit_id"
                  :label="item.name"
                  :value="item.unit_id">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div style="margin-top: 24px; display: flex; justify-content: flex-end">
            <el-button type="primary" :loading="loading" @click="save('updateForm')" style="width: 5.5rem;">Save</el-button>
            <el-button @click="cancel('updateForm')" style="width: 5.5rem;">Cancel</el-button>
          </div>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
    export default {
      name: "edit-property",
      data() {
        return {
          loading: false,
          unitLists: [],
          updateForm: {
            description: "",
            specification: "",
            unit_id: "",
            type: ""
          },
          updateRules: {
            description: [
              { required: true, message: 'Description is required.', trigger: 'blur' }
            ],
            unit_id: [
              { required: true, message: 'Unit is required.', trigger: 'change' }
            ],
            type: [
              { required: true, message: 'Type is required.', trigger: 'change' }
            ]
          },
        }
      },
      methods: {
        getUnitList(){
          this.$store.dispatch('getPurchaseUnit').then(response => {
            this.unitLists = response.data;
          })
        },
        save(formName){
          this.$refs[formName].validate((valid) => {
            if (valid) {
              let payload = {
                inventory_id: this.parent.inventory_id,
                description: this.updateForm.description,
                specification: this.updateForm.specification,
                type: this.updateForm.type,
                unit_id: this.updateForm.unit_id,
                parent_unit_id: this.parent.units[0].id
              };
              this.loading = true;
              this.$store.dispatch("editInventory", payload)
                .then(d => {
                  if (d.code === 200) {
                    this.$eventBus.$emit("updateProfile");
                    this.$message({
                      message: 'Your changes has been saved successfully.',
                      type: 'success'
                    })
                    setTimeout(() => {
                      this.loading = false;
                      this.$refs[formName].resetFields();
                      this.$parent.$emit('close');
                    }, 500)
                  }
                  if (d.code === 422){
                    let {errors} = d
                    this.loading = false;
                  }
                });
            }else{
              return false;
            }
          });
        },
        cancel(formName){
          this.$refs[formName].resetFields();
          this.$parent.$emit('close');
        }
      },
      created() {
        this.parent = this.$parent.$parent.content.data;
        this.getUnitList();
        this.updateForm.description = this.parent.description
        this.updateForm.specification = this.parent.specification
        this.updateForm.unit_id = this.parent.units[0].unit_id
        this.updateForm.type = this.parent.type
      }
    }
</script>
