<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="14" :md="14" :lg="14" :xl="14">
      <div>
        <el-form-item
          label="Bank Name"
          prop="name"
          :rules="[
            { required: true, message: 'Name is required.' }
          ]"
        >
          <el-input type="text" v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
      <div>
          <el-form-item
            label="Description"
            prop="type"
            :rules="[
              { required: true, message: 'Type is required.' }
            ]"
          >
            <el-input type="text" v-model="form.type" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
      <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
          <el-form-item label="Detail Type"
            prop="detail_type"
            :rules="[
              { required: true, message: 'Detail type is required.' }
            ]">
            <el-input type="text" v-model="form.detail_type" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>
    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item
          label="Currency"
          prop="Currency"
        >
          <el-input type="text" v-model="form.currency" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>

    </el-row>
    <!-- End Second Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
      <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
          <el-form-item label="Starting Balance"
            prop="starting_balance"
            :rules="[
              { required: true, message: 'Starting Balance is required.' }
            ]">
            <el-input type="text" v-model="form.starting_balance" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

    </el-row>


  <el-form-item>

    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-group',
  data () {
    return {
      form: {
        name: '',
        type: '',
        detail_type: 'Cash',
        currency: '',
        starting_balance: 0,
      },
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,
      genders: [ 
        {
          value: this.$t('Clients.male')
        },
        {
          value: this.$t('Clients.female')
        }
      ],
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {

    //this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

  },

  mounted() {},

  methods: {
    numbersOnly ($event) {
          return this.$store.dispatch('numbersOnly', $event)
    },
    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

      // you can add rules for validations
      return this.$store.dispatch('addeditBank', { method: 'add', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('syncSupplierData');
        }else{

          // console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
