<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item
          label="Transfer Funds From"
          prop="transfer_from"
          :rules="[
            { required: true, message: 'Transfer Funds From is required.' }
          ]"
        >
          <el-select size="mini" v-model="form.transfer_from" filterable placeholder="Select Account" @change="handleGetBalance()">
            <el-option
              v-for="s in banks"
              :key="s.id"
              :label="s.name+' ('+s.currency+')'"
              :value="s.id">
            </el-option>
          </el-select>
          <!-- {{form.transfer_from}} -->
          <small><i v-if="form.transfer_from != ''">Balance: {{bank_balance1}}</i></small>
        </el-form-item>
      </div>
    </el-col>

    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
          <el-form-item
            label="Transfer Funds To"
            prop="transfer_to"
            :rules="[
              { required: true, message: 'Transfer Funds To is required.' }
            ]"
          >
            <el-select size="mini" v-model="form.transfer_to" filterable placeholder="Select Account" @change="handleGetBalance2()">
            <el-option
              v-for="s in banks"
              v-if="s.id != form.transfer_from"
              :key="s.id"
              :label="s.name+' ('+s.currency+')'"
              :value="s.id">
            </el-option>
          </el-select>
          <!-- {{form.transfer_to}} -->
          <small><i v-if="form.transfer_to != ''">Balance: {{bank_balance2}}</i></small><br>
          <small style="color: green;"><i v-if="form.transfer_to != '' && currency1 != 'PHP'">Sum : {{form.amount}}x{{form.rate}} = {{form.amount*form.rate}}</i></small>
          <small style="color: green;"><i v-if="form.transfer_to != '' && currency1 == 'PHP'">Sum : {{form.amount}}/{{form.rate}} = {{form.amount/form.rate}}</i></small>
          </el-form-item>
        </div>
      </el-col>

    </el-row>

    <el-row :gutter="30">
      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
        <el-form-item
            label="Amount"
            prop="amount"
            :rules="[
              { required: true, message: 'Amount is required.' }
            ]"
          >
            <el-input min="0" type="number" v-model="form.amount" autocomplete="off"></el-input>
          </el-form-item>
      </el-col>

      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
        <el-form-item
            label="Rate"
            prop="rate"
          >
            <el-input type="number" v-model="form.rate" autocomplete="off" :disabled="currency1 == currency2"></el-input>
          </el-form-item>
      </el-col>

      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
        <el-form-item
            label="Notes"
            prop="notes"
          >
            <el-input type="text" v-model="form.notes" autocomplete="off"></el-input>
          </el-form-item>
      </el-col>
    </el-row>

    <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-form-item>
              <el-upload 
                class="upload-demo"
                drag :multiple="true"
                      ref="upload"
                      action=""
                      :file-list="fileList"
                      :on-change="handleChange"
                      :on-remove="handleRemove"
                      :auto-upload="false">
                <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/excel files</div> -->
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop file here or <em>click to upload</em><br>
                  <small>jpg/png files</small></div>
              </el-upload>

          </el-form-item>
        </el-col>
    </el-row>

  <el-form-item>

  <div style="float: right">
    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>
  </div>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-group',
  data () {
    return {
      form: {
        transfer_from: '',
        transfer_to: '',
        amount: '',
        amount_transferred: '',
        rate: '',
        notes: '',
        uplPhotos : [],
        type : 'bank_transfer'
      },

      bank_balance1 : 0,
      bank_balance2 : 0,

      currency1 : '',
      currency2 : '',

      imgBase64: [],
      fileList: [],
      storageURL: process.env.VUE_APP_STORAGE,

      data: {},
      options: [],
      banks: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,
      genders: [ 
        {
          value: this.$t('Clients.male')
        },
        {
          value: this.$t('Clients.female')
        }
      ],

      uplform: {
        comment: '',
        rcvby: '',
        fileData: []
      },
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {
    this.getBanks();
    //this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

  },

  mounted() {},

  methods: {
    submitForm (formName) {

      if(this.currency1 != this.currency2 && (this.form.rate == '' || this.form.rate == null)){
          this.$message({
                      showClose: true,
                      message: 'Please input rate!',
                      type: 'error',
                      center: true
                    })
      }
      else if((this.uplform.fileData).length < 1) {
          this.$message({
                      showClose: true,
                      message: 'Please upload receipt!',
                      type: 'error',
                      center: true
                    })
      }
      else{

        this.$refs[formName].validate((response) => {

          if (response) {

                if((this.uplform.fileData).length > 0) {
                    this.uplform.fileData.filter((item, index) => {
                      var file_path = this.$refs.upload.uploadFiles[index].name;

                      var file_type = item.file_path.split('.');

                      item.file_path = file_path 

                      item.imgBase64 = this.imgBase64[index].imgBase64
                    })
                  }
                  this.form.uplPhotos = this.uplform.fileData;

                  this.form.amount_transferred = this.form.amount;
                  if(this.currency1 != this.currency2){
                    if(this.currency1 == 'PHP'){
                      this.form.amount_transferred = this.form.amount / this.form.rate;
                    }
                    else{
                      this.form.amount_transferred = this.form.amount * this.form.rate;
                    }
                  }
          // you can add rules for validations
          return this.$store.dispatch('bankTransfer', { method: 'add', payload: this.form }).then(res => {
            if (res.code == 200) {

              this.$parent.$emit('close')
              this.$refs[formName].resetFields()

              this.$message({
                type: 'success',
                message: 'Successfully Transferred!'
              });

              this.$eventBus.$emit('syncProjectData');
            }else{

              //console.log(res.errors.group_name);

              this.$message({
                type: 'error',
                message: res.errors.group_name[0]
              });

            }
          }).catch(err => {

          })

         }
       })
      }

    },

    getBanks(){
        this.$store.dispatch('getAllBanks', { payload: this.form } ).then(response => {
              this.banks = response.data.data;
              
            })
    },

    handleGetBalance(){
      if(this.form.transfer_from == this.form.transfer_to){
          this.form.transfer_to = '';
      }
        var id = this.form.transfer_from;
        var selected = (this.banks).filter(function(x) { return x.id == id });
        this.bank_balance1 = selected[0].balance;
        this.currency1 = selected[0].currency;
    },

    handleGetBalance2(){
        var id = this.form.transfer_to;
        var selected = (this.banks).filter(function(x) { return x.id == id });
        this.bank_balance2 = selected[0].balance;
        this.currency2 = selected[0].currency;
    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },

    handleChange (file, fileList) {
      console.log(file);
      var self = this

      var fileData = {
        // id: self.task_id,
        file_path: file.name,
        comment: '',
        imgBase64: null
      }

      var fl = [{
        name: file.name,
        url: file.name
      }]          

      var reader = new FileReader();
      reader.readAsDataURL(file.raw);
      reader.onload = function(e) {
        self.imgBase64 = [...self.imgBase64, {
          name: file.name,
          imgBase64: this.result
        }]
      }
      // console.log(reader);

      this.uplform.fileData = [...this.uplform.fileData, fileData];
      // this.fileList = fl;

    },

    handleRemove (file, fileList) {
      //(this.uplform.fileData).splice(index, 1);
      var fl = [];
      (this.uplform.fileData).forEach(function(x, index) {

          if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
            var fileData = {
            // id: self.task_id,
            file_path: file.name,
            comment: '',
            imgBase64: null
          }
            fl = [...fl, fileData];
          }

        });
        this.uplform.fileData = fl;
      console.log((this.uplform.fileData));
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
  .upload-demo .el-upload-dragger {
    width: 558px !important;
    margin-bottom: -6px;
  }
</style>
