<template>

	<div>

		<div class="m-b-40" >

			<!-- <el-form ref="preset_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
				<el-row :gutter="20" class="form-container">
	              <el-col :span="9"><b>View : </b> 
						<el-radio-group v-model="viewMode" size="mini" @change="handleUpdateTable()">
			              <el-radio-button label="All"></el-radio-button>
			              <el-radio-button label="PO"></el-radio-button>
			              <el-radio-button label="POC"></el-radio-button>
			              <el-radio-button label="SPC"></el-radio-button>
			              <el-radio-button label="BILLS"></el-radio-button>
			            </el-radio-group>
	              </el-col>
	              <el-col :span="9"><b>Status : </b> 
						<el-radio-group v-model="statusMode" size="mini" @change="handleUpdateTable()">
			              <el-radio-button label="On Process"></el-radio-button>
			              <el-radio-button label="Completed"></el-radio-button>
			            </el-radio-group>
	              </el-col>
	              <el-col :span="6">
	              		<el-button @click="newPO" type="primary" size="small" icon="el-icon-plus" class="pull-right m-t-10 m-b-10">
				    	New Payment
					</el-button>
	              </el-col>
	          	</el-row>

	        </el-form> -->
	        <div style="font-size: 18px;">
	        	<b>{{bank['name']}}</b>
	        	<b style="float: right;">Balance : {{ bank['balance'] | currency }}</b>
	        </div>
		    <el-alert
		    	class="m-b-10"
					title="Transaction History"
					type="info"
					show-icon :closable="false">
			</el-alert>

			<!-- <el-table-draggable @drop="handleDrop"> -->
			<data-table :get-data="getData"
              ref="potable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              style="font-size : 16px !important">

              <!-- <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div> -->

              <!-- <b slot="po" slot-scope="{row}">
                  {{ row.id }}
              </b> -->

              <b slot="ref" slot-scope="{row}">
                  {{ row.ref }}
              </b>

              <b slot="date" slot-scope="{row}">
                  {{ row.created_at | commonDate }}
              </b>

              <b slot="project" slot-scope="{row}">
                  {{ row.project }}
              </b>

              <b slot="payor" slot-scope="{row}">
                  {{ row.payor }}
              </b>

              <b slot="payee" slot-scope="{row}">
                  {{ row.payee }}
              </b>

              <b slot="type" slot-scope="{row}">
                  {{ row.type }}
              </b>

              <b slot="payment" slot-scope="{row}">
              	  <span style="color: red;">{{ row.payment | currency }}</span>
              </b>

              <b slot="deposit" slot-scope="{row}">
                  <span style="color: green;">{{ row.deposit | currency }}</span>
              </b>

              <b slot="balance" slot-scope="{row}">
                  {{ row.balance | currency }}
              </b>

              <b slot="action" slot-scope="{row}"> 
                  <el-button plain size="small" v-if="row.payment_id > 0" @click="editPO(row.payment_id, row.purchase_order_id, row.with_order, row.single)">view payment</el-button>
                  <el-button plain size="small" v-if="row.transfer_id > 0" @click="viewTransfer(row.details)">view payment</el-button>
              </b>

        </data-table>


			<div class="m-t-20"></div>
			<br>
			<br>

    	</div>

    	<el-dialog
		  title="Transfer Details"
		  :visible.sync="dialogVisible"
		  width="30%" >
		  <div>
		  	<span style="font-size: 15px;">From : <b>{{transferDetails['bfrom'] }}</b></span>
		  	<span style="font-size: 15px; float: right;">To : <b>{{transferDetails['bto'] }}</b></span>
		  </div><br>
		  <div>
		  	<span style="font-size: 15px;">Amount : <b>{{transferDetails['amt'] }}</b></span>
		  	<span style="font-size: 15px;float: right;">Rate : <b> {{transferDetails['rate'] }}</b></span>
		  </div><br>
		  <span style="font-size: 15px;">Date : <b>{{transferDetails['date'] | commonDate}}</b></span>
		  <br><br>
		  <div> Notes : 
		  		<b>{{transferDetails['notes']}}</b>
		  </div>
		  <br>
		  <div> Receipt : <br>
		  		<template v-for="f in transferDetails['files']">
					<el-button v-if="checkFileExtension(f.file_path) != 'jpg' && checkFileExtension(f.file_path) != 'png'" type="text"  style="cursor:pointer;" @click="viewFile(f.file_path)" class="el-upload-list__item-name"><i class="el-icon-document"></i>{{ (f.file_path).substring(15) }}
			      	</el-button>
			      	<el-image v-else
					    style="width: 100px; height: 100px; padding-right: 5px;"
					    :src="storageURL+f.file_path" 
					    :preview-src-list="[storageURL+f.file_path]"
					    :z-index="99999">
					  </el-image>

			      </template>
		  </div>
		</el-dialog>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';
	import newPayment from './../../payments/components/new-payment';
	import newPaymentMultiple from './../../payments/components/new-payment3';
	import transDetails from './transfer-details';
	import DataTable from '../../../components/datatable'

	export default {
		name: 'bank-history',

		components: {
    		ElTableDraggable, DataTable, newPayment, newPaymentMultiple
  		},
		
		data () {
			return {
				bank_id : 0,
				viewMode : 'All',
				statusMode : 'On Process',
				loading: false,
				search: '',
			    page: 1,
			    perPage: 10,
				history : [],
				bank : [],
				categories : [],

				transferDetails : [],
				dialogVisible: false,

				storageURL: process.env.VUE_APP_STORAGE,

				form: {
			        preset_id : 0,
			        materials : [], 
			    },

			    columns: [
			        // {
			        //   //prop: 'cb',
			        //   minWidth: '30',
			        //   prop: 'selection',
			        //       type: 'selection',
			        //       width: '55',
			        //       reserveSelection: true
			        // },

			        // {
			        //   prop: 'po',
			        //   label: 'ID#',
			        //   minWidth: '30'
			        // },

			        {
			          prop: 'ref',
			          label: 'Ref#',
			          width: '100'
			        },

			        {
			          prop: 'date',
			          label: 'Date',
			          width: '100'
			        },

			        {
			          prop: 'project',
			          label: 'Project',
			          width: '200'
			        },

			        {
			          prop: 'payor',
			          label: 'Payor',
			          width: '100'
			        },

			        {
			          prop: 'payee',
			          label: 'Payee',
			          width: '100'
			        },

			        {
			          prop: 'type',
			          label: 'Type',
			          width: '100'
			        },

			        {
			          prop: 'rate',
			          label: 'FX Rate',
			          width: '100'
			        },

			        // {
			        //   prop: 'category',
			        //   label: 'Category',
			        //   minWidth: '120'
			        // },

			        {
			          prop: 'payment',
			          label: 'Payment',
			          width: '130'
			        },

			        {
			          prop: 'deposit',
			          label: 'Deposit',
			          width: '130'
			        },

			        {
			          prop: 'balance',
			          label: 'Balance',
			          width: '130'
			        },

			        // {
			        //   prop: 'action',
			        //   label: 'Action',
			        //   width: '100'
			        // },
			        {
			          prop: 'action',
			          type: 'fixed',
			          label: 'Action',
			          width: '150'
			        },
			      ]

			}
		},

		 mounted () {
	      this.$eventBus.$on('loadPO', () => {
	          this.$refs.potable.getTableData();
	        });
	    },

		methods:{
			checkFileExtension(path){
		    	var extension = path.substring(path.lastIndexOf('.')+1, path.length) || path;
		    	return extension;
		    },
			// viewTransfer(rowdet){
			// 	this.transferDetails = rowdet;
			// 	this.dialogVisible = true;
			// }, 

			viewTransfer(rowdet){

		        this.$store.dispatch('callModal', {
		          child_component: transDetails,
		          title: 'Transfer Details',
		          modalWidth: '50%',
		          content: {
		            data : rowdet,
		            bank_id : this.bank_id
		          }
		        })

			},

			newPO(){

		        this.$store.dispatch('callModal', {
		          child_component: newPayment,
		          title: 'New Payment',
		          modalWidth: '80%',
		          content: {
		            id : 0,
		            purchase_order_id : 0,
		            with_order : 0
		          }
		        })

			},

			editPO(id,po_id, with_order, single){
				if(single != null || id <=1239){		
			        this.$store.dispatch('callModal', {
			          child_component: newPayment,
			          title: 'Edit Payment',
			          modalWidth: '80%',
			          content: {
			            id : id,
			            purchase_order_id : po_id,
			            with_order : with_order,
			          }
			        })
				}
				else{
					this.$store.dispatch('callModal', {
			          child_component: newPaymentMultiple,
			          title: 'Edit Payment',
			          modalWidth: '80%',
			          content: {
			            id : id,
			            purchase_order_id : po_id,
			            with_order : with_order,
			          }
			        })
				}

			},

			refreshData(){
		      this.$refs.potable.getTableData();
		    },

		    handleUpdateTable(){
		      this.$refs.potable.getTableData();
		    },

		    getData ({ page, query, sortParams, size}) {
		        let vm = this;

		        if(sortParams.length == 0){
		          sortParams = 'id-desc'
		        }

		        return this.$store.dispatch('getBankHistory',{
		            page: 'page=' + page,
		            sort: 'sort=' + sortParams,
		            search: 'search=' + this.search,
		            viewMode: 'viewMode=' + this.viewMode,
		            statusMode: 'statusMode=' + this.statusMode,
		            bankId: 'bankId=' + this.bank_id,
		            perPage: size,
		        })
		        .then(res => {
		          const { data } = res

		          var finance2 = {};
          		  var arr = [];
          		  var bal = data.bank['balance'];
          		  var ctr = 0;
          		  var dep = 0;
          		  var pay = 0;

		          (data.data).forEach((value, key) => {
		          	if(ctr > 0){
			          	bal -= (dep != null && dep != '' ? parseFloat(dep) : 0);
			          	bal += (pay != null && pay != '' ? parseFloat(pay) : 0);
		          	}

		          	finance2 = {
		              id: value.id,
		              deposit: value.deposit,
		              payment: value.payment,
		              balance: bal ,
		              bank_id: value.bank_id ,
		              created_at : value.created_at ,
		              detail : value.detail ,
		              detail_cn : value.detail_cn ,
		              payor : value.payor ,
		              payee : value.payee ,
		              payment_id : value.payment_id ,
		              project : value.project ,
		              purchase_order_id	: value.purchase_order_id ,
		              rate	: value.rate ,
		              ref	: value.ref ,
		              type	: value.type ,
		              transfer_id	: value.transfer_id ,
		              user_id	: value.user_id ,
		              with_order : value.with_order ,
		              details : value.details ,
		            };
            		arr.push(finance2);
            		dep = value.deposit;
            		pay = value.payment;
            		ctr++;

		          });
					this.history = arr;
		          //this.history = data.data;
		          this.bank = data.bank;

		          return {
		            data: this.history,
		            total: data.total,
		            size: size
		          }
		        })
		    },

		    handleActionChange(val){
		    	alert(val);

		    },

		    handleSelectChange(val) {
		      this.orderSelected = val;
		    },

		    handleRowClick(row) {
		      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
		    },

		    getCategories(){
		        this.$store.dispatch('getAllPaymentCategories', { payload: this.form } ).then(response => {
		            this.categories = response.data.data;
		          })
		    },

		    changeCategory(value,order_id){
		       return this.$store.dispatch('changePaymentCategory', { id: order_id, type: 'payment', cat : value }).then(res => {
		        if (res.code == 200) {
		          this.$message({
		            type: 'success',
		            message: this.$t('Common.successfully_updated')
		          });

		          this.getCategories();
		        }else{

		          console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'ERROR'
		          });

		        }
		      }).catch(err => {

		      })
		    },
		},

		created() {
			const vm = this;
			vm.bank_id = vm.$route.params.id;
			//vm.getCategories();
		}
	}
</script>

<style lang="scss">
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

  	.el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
    }

/*  	.movable {
  		cursor: move;
  	}*/

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #000;
  		font-size: 14px !important;
  	}

  	.m-b-40 {
  		margin-bottom: 40px;
  	}
</style>