<template>

	<el-card class="box-card" shadow="never">

  		<div class="text item">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>
  					<el-row :gutter="20">
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">

					  		<div slot="header" class="clearfix">
					    		<el-row :gutter="20">

								  <el-col :span="24">
								  	<div class="grid-content bg-purple">
								  		<div>
										  	<span style="font-size: 15px;">From : <b>{{data['bfrom'] }}</b></span>
										  	<span style="font-size: 15px; float: right;">To : <b>{{data['bto'] }}</b></span>
										  </div><br>
										  <div>
										  	<span style="font-size: 15px;">Amount : </span>
										  	<el-input type="number" min="0" v-model="data.amt" autocomplete="off" style="width: 180px;"></el-input>
										  	<!-- <span style="font-size: 15px;">Amount : <b>{{data['amt'] }}</b></span> -->
										  	<div style="float: right;" >
											  	<span style="font-size: 15px;">Rate : </span>
											  	<el-input type="number" min="0" v-model="data.rate" autocomplete="off" style="width: 180px;"></el-input>
											  </div>
											<!-- <div v-else>
										  		<span style="font-size: 15px;float: right;">Rate : <b> {{data['rate'] }}</b></span>
										  	</div> -->
										  </div><br>
										  <span style="font-size: 15px;">Date : <b>{{data['date'] | commonDate}}</b></span>
										  <br><br>
										  <div> Notes : 
										  		<b>{{data['notes']}}</b>
										  </div>
										  <br>
										  <div> Receipt : <br>
										  		<template v-for="f in data['files']">
													<el-button v-if="checkFileExtension(f.file_path) != 'jpg' && checkFileExtension(f.file_path) != 'png'" type="text"  style="cursor:pointer;" @click="viewFile(f.file_path)" class="el-upload-list__item-name"><i class="el-icon-document"></i>{{ (f.file_path).substring(15) }}
											      	</el-button>
											      	<el-image v-else
													    style="width: 100px; height: 100px; padding-right: 5px;"
													    :src="storageURL+f.file_path" 
													    :preview-src-list="[storageURL+f.file_path]"
													    :z-index="99999">
													  </el-image>

											      </template>
										  </div>
								  	</div>
								  </el-col>
								  <el-col :span="12">
										<b>Total Weight : {{ totalkg }} kg</b>
								  </el-col>
								  <el-col :span="12">
										<el-button type="primary" @click="updateBankTransfer(data)" style="float: right;">Update</el-button>
								  </el-col>
								</el-row>
					  		</div>
					  		
					  	</div>

					  </el-col>
					</el-row>

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'transfer-details',

		data () {
	    	return {

	      		isFetching: true,

	      		data : []

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	  		updateBankTransfer(data){

		       return this.$store.dispatch('updateBankTransfer', { payload : data }).then(res => {
		        if (res.code == 200) {
		          this.$message({
		            type: 'success',
		            message: this.$t('Common.successfully_updated')
		          });
		          this.$eventBus.$emit('loadPO')
		          this.$parent.$emit('close')

		        }else{

		          console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'ERROR'
		          });

		        }
		      }).catch(err => {

		      })

	  		},

	  		checkFileExtension(path){
		    	var extension = path.substring(path.lastIndexOf('.')+1, path.length) || path;
		    	return extension;
		    },

	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetail2',{
	          		order_id: this.order_id
	        	})
	        	.then(res => {
	        		this.project = [];
	        		this.order = [];
	        		this.task = [];

                let { code, project, order, task, materials, addmaterials } = res;
	            	if( code == 200 ) {
	            		// console.log(data);
                    	this.project = project;
                    	this.order = order;
                    	this.task = task;
                    	this.materials = materials;
                    	this.addmaterials = addmaterials;
	            	}

	            	this.isFetching = false;
	        	});
	      	},


  		},



		created () {
			let { data, bank_id } = this.$parent.$parent.content;
      		// console.log(data);
      		this.data = data;
      		this.data.bank_id = bank_id;
      		this.isFetching = false;
  		}


	}

</script>

<style >

.el-alert__title{
	font-size: 14px !important;
}

.button1 {background-color: #d50000;} /* po */
.button2 {background-color: #FFDB58;} /* mob */
.button3 {background-color: #f66c1b;} /* site order */
.button4 {background-color: #FFAE42;} /* to prep */
.button5 {background-color: #23bc2e;} /* to ship */
.button6 {background-color: #006edf;} /* to received */
.button7 {background-color: #23bc2e;} /* partial delivered */
.button8 {background-color: #23bc2e;} /* delivered/completed */


</style>
