<template >
  <div ref="manage_group" class="manage-group-container">

     <div class="heading">
          <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"></el-button>
         <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch" >
           <el-input :placeholder="$t('Group.enter_groupID_name')" prefix-icon="el-icon-search" v-model="search" clearable  style="padding-left: 30px;">
           </el-input>
         </form>
         <el-select v-model="branch" size="small" style="margin: 0 20px 0 20px; width: 100px;" @change="$refs.table.getTableData()">
           <el-option label="Manila" :value="1"/>
           <el-option label="Cebu" :value="2"/>
         </el-select>
          <el-button type="primary" @click="handleAddEdit('add',1)" size="small" icon="el-icon-plus">{{ $t('Group.add-new-group') }}</el-button>
     </div>


      <data-table :get-data="getData" ref="table" :columns="columns">

            <b slot="id" slot-scope="{row}">
             {{row.id}}
            </b>


           <b class="text-size" slot="name" slot-scope="{row}">
            <el-tooltip effect="dark" placement="top-start" v-if="row.remarks.length !== 0">
              <div slot="content" v-for="rem in row.remarks">{{`${rem.remark} - Operator : ${rem.first_name}, ${rem.created_at}`}}</div>
              <span v-bind:class="[row.risk!=='Regular'?'high-risk':'remarks']" style="">
                {{row.name | capitalize}}
              </span>
            </el-tooltip>
             <span v-bind:class="[row.risk!=='Regular'?'high-risk':'normal']" v-if="row.remarks.length === 0">
                {{row.name | capitalize}}
              </span>
           </b>

            <span class="text-size" slot="leader" slot-scope="{row}">
             {{row.leader}}
            </span>

            <span class="text-size" slot="balance" slot-scope="{row}">
             {{row.balance | currency}}
            </span>

            <span class="text-size" slot="collectables" slot-scope="{row}">
             {{row.collectables | currency}}
            </span>

            <span class="text-size" slot="latest_package" slot-scope="{row}">
             {{row.latest_package}}
            </span>

            <span class="text-size" slot="latest_service" slot-scope="{row}">
             {{row.latest_service}}
            </span>

            <span class="text-size" slot="wallet" slot-scope="{row}">
             {{row.wallet | currency}}
            </span>

           <div class="text-size" slot="Actions" slot-scope="{row}">
               <div class="top">
                 <el-tooltip class="item" effect="dark" :content="$t('Common.add-remarks')" placement="top-start">
                   <el-button  type="warning" size="mini" icon="el-icon-document-add" @click="addRemarkModal(row.id)"></el-button>
                 </el-tooltip>

                 <el-tooltip class="item" effect="dark" :content="$t('Common.change-status')" placement="top-start">
                   <el-button  type="success" size="mini" icon="el-icon-edit-outline" @click="changeStatusModal(row.id, row.risk)"></el-button>
                 </el-tooltip>

                 <el-tooltip class="item" effect="dark" :content="$t('Group.dl_excel')" placement="top">
                   <el-button  @click="exportExcel(row.id, row)" type="warning" size="mini" icon="el-icon-document"></el-button>
                 </el-tooltip>

                 <el-tooltip class="item" effect="dark" content="Distribute Payment" placement="top">
                   <el-button  @click="distribute(row.id, row)" type="warning" size="mini" icon="el-icon-s-promotion"></el-button>
                 </el-tooltip>

                 <el-tooltip class="item" effect="dark" :content="$t('Group.view_group')" placement="top-end">
                   <router-link :to="{ name: 'groups-profile', params: { id: row.id } }" target="_blank">
                     <el-button  size="mini" icon="el-icon-arrow-right"></el-button>
                   </router-link>
                 </el-tooltip>
               </div>
           </div>
      </data-table>
      <span><b>Total Collectables : {{ collectables }}</b></span><br>
      <span><b>Total Balance : {{ balance }}</b></span><br><br>

</div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import AddEditGroup from './components/add-edit-group'
import DataTable from '../../components/datatable'
import ChangeStatus from './components/change-status'
import AddRemark from './components/add-remark'
import ExportExcel from './components/export-excel'

export default {
  name: 'groups',
  components: {
    'add-edit-group': AddEditGroup,
    DataTable,
    ChangeStatus,
    ExportExcel
  },
  data () {
    return {
      balance : 0,
      collectables : 0,
      group_list: [],
      loading: false,
      model: {},
      search: '',
      total: 0,
      size: 20,
      page: 1,
      branch:1,
      columns: [
        {
          prop: 'id',
          label: this.$t('Common.id'),
          minWidth: '60',
          sortable: true
        },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '130',
          sortable: true
        },

        {
          prop: 'leader',
          label: this.$t('Group.leader'),
          minWidth: '130',
          sortable: true
        },

        {
          prop: 'balance',
          label: this.$t('Clients.balance'),
          minWidth: '90',
          sortable: true
        },

        {
          prop: 'collectables',
          label: this.$t('Clients.collectable'),
          minWidth: '110',
          sortable: true
        },

        {
          prop: 'latest_package',
          label: this.$t('Clients.latest-package'),
          minWidth: '140',
          sortable: true
        },

        {
          prop: 'latest_service',
          label: this.$t('Clients.latest-service'),
          minWidth: '140',
          sortable: true
        },

        {
          prop: 'wallet',
          label: this.$t('Transaction.wallet'),
          minWidth: '140',
          // sortable: true
        },

        {
          prop: 'Actions',
          label: this.$t('Common.actions'),
          width: '270'
        }
      ]
    }
  },

  mounted () {
    this.$eventBus.$on('syncGroupData', () => {
        this.$refs.table.getTableData();
        this.$store.dispatch('loadClientData');
    });
  },

  created () {
      this.loadClientData()
  },

  computed: mapGetters({
    groups: 'groups',
    clients: 'clients'
  }),

  methods: {

    async loadClientData () {
          return this.$store.dispatch('loadClientData').then(res => {})
    },

    distribute(id, data){
        this.$services.groups.distributePayment({
              id: id,
              type: 'group'
            }).then(res => {
                if(res.data.code == 200){
                  this.$message({
                    type: 'success',
                    message: "Payment successfully distributed!"
                  });

                  this.$refs.table.getTableData();
                  this.$store.dispatch('loadClientData');

                }else{
                  this.$message({
                    type: 'error',
                    message: "Error Distributing payment!"
                  });
                }
        });
    },

    getData ({ page, query, sortParams, size }) {

      if(sortParams.length == 0){
        sortParams = 'id-desc'
      }
      this.page = page
      return this.$store.dispatch('loadGroupData', {
        options: '?page=' + page + '&sort=' + sortParams + '&search=' + this.search + '&branch=' + this.branch + '&perPage=' + size
      }).then(res => {
        const { data } = res
        this.balance = res.balance
        this.collectables = res.collectables

        console.log(res);

        return {
          data: res.data,
          total: res.total,
          size: size
        }
      })
    },

    handleAddEdit (method, val) {

      this.model.method = 'add'
      this.model.data = null

      this.$store.dispatch('changeGroupData', this.model)
      // required to call the modal
      this.$store.dispatch('callModal', { child_component: AddEditGroup, title: 'Group.add-new-group' }) // call global modal state
    },

    handleSearch(){
      this.$refs.table.getTableData();
    },

    handleDocs (data) {},

    addRemarkModal (id) {
      this.$store.dispatch('callModal', {
        child_component: AddRemark,
        title: this.$t('Common.add-remarks'),
        modalWidth: '50%',
        content: {
          id: id,
        }
      })
    },

    changeStatusModal (id, risk) {

      this.$store.dispatch('callModal', {
        child_component: ChangeStatus,
        modalWidth: '50%',
        content: {
          id: id,
          risk: risk
        }
      })
    },

    exportExcel (id, row) {

      this.$store.dispatch('callModal', {
        child_component: ExportExcel,
        modalWidth: '1000px',
        content: {
          id: id,
          data: row
        }
      })
    },

  }
}
</script>

<style lang="scss">
  .manage-group-container {
    .text-size {
      font-size: 13px;
    }
  }

  .el-header {
    text-align: right;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }

  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }

  .el-tag {
    margin: 0 .0625rem;
  }

  .high-risk {
    color: RED;
  }

  .normal {
    font-weight: normal;
  }

  .remarks {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
