<template>
  <div ref="group_profile">

    		<div class="container-padding" style="padding:5px 5px 5px 10px;" >

               <el-row :gutter="10">
                  <el-col :span="16" :xl="16" :lg="16" :md="24" :sm="24" :xs="24" style="margin-bottom: 10px;">
                    <el-row  :gutter="10" class="bottom-spacing group-stats">

                          <el-col :span="6">
                            <span class="profile-StatLabelSmall profile-block" style="font-size: 16px; font-weight: bold; "><b>{{ $t('Transaction.wallet-balance') }}:</b></span>
                            <span class="profile-StatLabelSmall profile-block" style="font-size: 16px; font-weight: bold; ">{{ (data.total_ewallet ? data.total_ewallet : 0) | currency}}</span>

                            <el-divider></el-divider>

                            <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-withdrawal') }}:</b></span> <span class="profile-StatLabelSmall profile-block">{{this.data.total_refund | currency}}</span>

                          </el-col>
                          
                          <el-col :span="6">
                            <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-balance') }}:</b></span>
                            <span class="profile-StatLabelSmall profile-block">{{this.data.total_balance | currency}}</span>

                            <el-divider></el-divider>

                            <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-collectables') }}:</b></span>
                            <span class="profile-StatLabelSmall profile-block">{{ (this.data.total_collectables < 0 ? this.data.total_collectables : 0) | currency}}</span>
                          </el-col>

                          <el-col :span="6">
                            <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-complete-cost') }}:</b></span> <span class="profile-StatLabelSmall profile-block">{{this.data.total_complete_service_cost | currency}}</span>
                            <el-divider></el-divider>
                            <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-cost') }}:</b></span> <span class="profile-StatLabelSmall profile-block">{{this.data.total_cost | currency}}</span>
                          </el-col>

                          <el-col :span="6">
                            <!-- <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-payment') }}:</b></span> <span class="profile-StatLabelSmall profile-block">{{this.data.total_payment | currency}}</span> -->

                            <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-deposit') }}:</b></span> <span class="profile-StatLabelSmall profile-block">{{ (parseFloat(this.data.total_deposit) + parseFloat(this.data.total_payment)) | currency}}</span>
                            <el-divider></el-divider>
                            <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Transaction.total-promo') }}:</b></span> <span class="profile-StatLabelSmall profile-block">{{this.data.total_discount | currency}}</span>
                          </el-col>

                          <!-- <el-col :span="6">


                                <el-divider></el-divider>


                            </el-col> -->

                      </el-row>

                  </el-col>

                  <el-col :span="8" :xl="8" :lg="8" :md="24" :sm="24" :xs="24">
                      <el-form ref="client_form" :model="form">

                          <el-row  :gutter="6" class="bottom-spacing">
                              <el-col :span="12">
                                  <span class="profile-StatLabelSmall profile-block">{{$t('Clients.client-commi')}}:</span>
                                  <div>

                                        <el-select
                                            v-model="form.client_com"
                                            clearable
                                            filterable
                                            remote
                                            size="large"
                                            :placeholder="(this.form.isClientComRemoved) ? this.form.temp_client_com.full_name : 'Search Name / Client ID'"
                                            :remote-method="getComClient"
                                            @change="changeComClient"
                                            @clear="clearComClient"
                                            :loading="loading"
                                            :disabled="checkIfServiceProfileIsNotActive()">
                                            <el-option
                                              v-for="item in clientComList"
                                              :key="item.id"
                                              :label="item.full_name"
                                              :value="item.id">
                                            </el-option>
                                        </el-select>

                                  </div>
                              </el-col>
                              <el-col :span="12">
                                  <span class="profile-StatLabelSmall profile-block">{{ $t('Group.agent-commi') }}:</span>
                                  <div>
                                          <el-select
                                              v-model="form.agent_com"
                                              clearable
                                              filterable
                                              remote
                                              reserve-keyword
                                              size="large"
                                              :remote-method="getComAgent"
                                              @change="changeComAgent"
                                              @clear="clearComAgent"
                                              :placeholder="(this.form.isAgentComRemoved) ? this.form.temp_agent_com.full_name : 'Search Name / Client ID'"
                                              :loading="loading"
                                              :disabled="checkIfServiceProfileIsNotActive()">
                                              <el-option
                                                v-for="item in agentComList"
                                                :key="item.id"
                                                :label="item.full_name"
                                                :value="item.id">
                                              </el-option>
                                          </el-select>
                                  </div>
                              </el-col>

                            </el-row>


                            <el-row  :gutter="6" class="bottom-spacing">
                              <el-col :span="12">
                                  <span class="profile-StatLabelSmall profile-block">{{$t('Branch.branch')}}:</span>
                                  <div>
                                      <el-form-item >
                                        <el-select  @change="changeBranch" v-model="branch" :placeholder="$t('Clients.select')" size="large"
                                        :disabled="checkIfServiceProfileIsNotActive()">
                                            <el-option
                                              v-for="item in branches"
                                              :key="item.id"
                                              :label="item.name"
                                              :value="item.id">
                                            </el-option>
                                          </el-select>
                                      </el-form-item>
                                  </div>
                              </el-col>

                              <el-col :span="12">
                                  <span class="profile-StatLabelSmall profile-block">{{ $t('Service.service-charge') }}:</span>
                                  <div>
                                      <el-form-item prop="last_name">
                                        <el-select v-model="service_profile" :placeholder="$t('Clients.select')" size="large" @change="changeServiceProfile"
                                        :disabled="checkIfServiceProfileIsNotActive()">
                                            <el-option
                                              v-for="item in serviceProfileList"
                                              :key="item.id"
                                              :label="item.name"
                                              :value="item.id">
                                            </el-option>
                                          </el-select>
                                      </el-form-item>
                                  </div>
                              </el-col>
                            </el-row>

                      </el-form>
                  </el-col>
                </el-row>
            </div>


            <div class="container-margin container-padding">
              <el-row :gutter="23">
                <el-col :span="8">
                  <div class="grid-content">
                    <div class="profile-Name">

                      <el-tooltip effect="dark" placement="top-start" v-if="data.remarks != 0">
                        <div slot="content" v-for="rem in data.remarks">{{`${rem.remark} - Operator : ${rem.first_name}, ${rem.created_at}`}}</div>
                        <span v-bind:class="[data.risk!=='Regular'?'high-risk':'remarks']" style="">
                          {{data.name | capitalize}}
                        </span>
                      </el-tooltip>
                      <span v-bind:class="[data.risk!=='Regular'?'high-risk':'normal']" v-else>
                        {{data.name | capitalize}}
                      </span>

                      <el-tooltip class="item" effect="dark" :content="$t('Profile.edit-group')" placement="top-start">
                        <a href="javascript:void(0)" @click="handleEdit()" style="margin-left: 12px; color: #1D8CE0 !important;">
                          <i class="el-icon-edit"></i>
                        </a>
                      </el-tooltip>

                      <el-tooltip class="item" effect="dark" :content="$t('Common.change-status')" placement="top-start">
                        <a href="javascript:void(0)" @click="changeStatusModal()" style="margin-left: 12px; color: #1D8CE0 !important;">
                          <i class="el-icon-s-flag"></i>
                        </a>
                      </el-tooltip>

                      <el-tooltip class="item" effect="dark" :content="$t('Common.add-remarks')" placement="top-start">
                        <a href="javascript:void(0)" @click="addRemarksModal()" style="margin-left: 12px; color: #1D8CE0 !important;">
                          <i class="el-icon-document-add"></i>
                        </a>
                      </el-tooltip>
                    </div>
                    <router-link :to="{ name: 'clients-profile', params: { id: this.data.leader_id } }" target="_blank">
                    <span>
                      <a style="margin-right: 20px;">{{ $t('Group.leader') }}:
                        <span>
                         <b>{{ (this.data.leader) ? this.data.leader.first_name : '' }} {{ (this.data.leader) ? this.data.leader.last_name : '' }}</b>
                       </span>
                      </a>
                      <a>(<span>{{ (this.data.tracking) ? this.data.tracking : '' }}</span>)</a>
                    </span>
                  </router-link>
                  </div>

<!--                   <div style="margin-top: 2px;">
                    <el-tooltip class="item" effect="dark" :content="$t('Common.change-status')" placement="top-start" >
                      <el-button  type="success" size="mini" icon="el-icon-edit-outline" @click="changeStatusModal()"></el-button>
                    </el-tooltip>
                  </div> -->

                </el-col>

                <el-col :span="8">
                  <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Profile.address') }}:</b> {{this.data.address}}</span>
                </el-col>

                <el-col :span="8">
                  <span class="profile-StatLabelSmall profile-block"><b>{{ $t('Profile.contact') }}:</b> {{this.contact}}</span>
                </el-col>
              </el-row>
            </div>

            <div class="container-margin">
              <el-tabs type="border-card" @tab-click="changeTab">

                <el-tab-pane :label="$t('Group.batch')">
                  <batch-list ref="groupByBatch" v-bind:gdata="data" v-if="data.total_ewallet !=null" v-bind:service_profile="data.service_profile"></batch-list>
                </el-tab-pane>

                <el-tab-pane :label="$t('Group.members')">
                  <member-list ref="groupMembers" v-bind:gdata="data" v-if="data.total_ewallet !=null" v-bind:service_profile="data.service_profile"></member-list>
                </el-tab-pane>

                <el-tab-pane :label="$t('Service.services')">
                 <service-list ref="groupByService" v-bind:gdata="data" v-if="data.total_ewallet !=null" v-bind:service_profile="data.service_profile"></service-list>
                </el-tab-pane>

                <!-- <el-tab-pane :label="$t('Transaction.funds')">
                  <fund-list ref="fundList"></fund-list>
                </el-tab-pane> -->

                <el-tab-pane :label="$t('Logs.action-logs')">
                  <action-logs ref="groupActionLogs"></action-logs>
                </el-tab-pane>

                <el-tab-pane label="Document Log">
                  <document-logs ref="docLogs" v-bind:service_profile="data.service_profile"></document-logs>
                </el-tab-pane>

                <el-tab-pane label="Documents On Hand">
                  <documents-on-hand ref="docOnHand"></documents-on-hand>
                </el-tab-pane>

<!--                <el-tab-pane :label="$t('Logs.transaction-logs')">-->
<!--                  <transaction-logs ref="groupTransactionLogs"></transaction-logs>-->
<!--                </el-tab-pane>-->

                <!-- <el-tab-pane :label="$t('Logs.commission-logs')">
                  <commission-logs ref="groupCommissionLogs"></commission-logs>
                </el-tab-pane> -->

                <el-tab-pane :label="$t('Transaction.transaction-history')">
                  <transaction-history ref="groupTransactionHistory" v-bind:data="data" v-bind:service_profile="data.service_profile"></transaction-history>
                </el-tab-pane>

              <!--  <el-tab-pane :label="$t('Common.payment')">
                  <payment-list ref="paymentList"></payment-list>
                </el-tab-pane> -->

                <el-tab-pane label="Group Remarks History">
                  <group-history ref="groupHistory"></group-history>
                </el-tab-pane>

                <!-- <el-tab-pane label="Document Log">
                  <DocumentLogs ref="docLogs"></DocumentLogs>
                </el-tab-pane> -->
              </el-tabs>
            </div>
          </div>

</template>

<script>
import { mapGetters} from 'vuex'

//Components
import FundList from './components/fund-list.vue'
import ActionLogs from './components/action-logs.vue'
import TransactionLogs from './components/transaction-logs.vue'
import TransactionHistory from './components/transaction-history.vue'
import CommissionLogs from './components/commission-logs.vue'
import BatchList from './components/batch-list'
import MemberList from './components/member-list'
import ServiceList from './components/service-list'
import EditGroupAddress from './components/edit-group-address'
import ChangeBranch from './components/change-branch'
import ChangeServiceProfile from './components/change-service-profile'
import PaymentList from './components/payment-list'
import GroupHistory from './components/group-history'
import AddRemark from './components/add-remark'
import DocumentLogs from './components/document-logs'
import DocumentsOnHand from './components/documents-on-hand'

import ChangeStatus from './components/change-status'

export default {

  name: 'group_profile',
  components: { EditGroupAddress, BatchList, MemberList, ServiceList, FundList, PaymentList, ActionLogs, TransactionLogs, TransactionHistory, CommissionLogs, ChangeBranch, ChangeServiceProfile, GroupHistory, DocumentLogs, AddRemark, DocumentsOnHand },

  data () {
    return {
      data: {},
      model: {},
      branch: "",
      service_profile: "",
      branches: [],
      clientList: [],
      clientComList: [],
      agentComList: [],
      serviceProfileList:[],
      options:[],
      value: [],
      group_id: 0,
      contact: '',
      loading: false,
      isEditService: false,
      leader_id: 0,
      form: {
        client_com: "",
        temp_client_com: "",
        isClientComRemoved: false,
        agent_com: "",
        temp_agent_com: "",
        isAgentComRemoved: false
      }
    }
  },

  computed: mapGetters({
    groups: 'groups',
    clients: 'clients'
  }),

  mounted() {
      this.asyncData();



      this.$eventBus.$on('syncGroupData', () => {
        this.asyncData();
      });

      this.$eventBus.$on('getGroupData', () => {
          this.model.data = this.data;
          this.$store.dispatch('changeGroupData', this.model)
      });

      this.$eventBus.$on('editService', (isEdit) => {
          this.isEditService = isEdit;
      });

      this.$eventBus.$on('redirectTo', (data) => {

        const redirect = 'redirect'
        const {clientIds, action} = data;

        let routeData = this.$router.resolve(
          {
            name: 'centralized-report-documents',
            params: { clientIds, action, redirect, group_id: this.$route.params.id }
          }
        );
        window.open(routeData.href, '_blank');

      });

  },

  created () {
      this.loadBranches();
      this.loadServiceProfile();
  },

  methods: {

    changeTab (tab, event) {
      switch (parseInt(tab.index)) {
        case 0:
             this.data.total_ewallet = null;
             this.asyncData();
             if(this.$refs.groupByBatch !== undefined){
                this.$refs.groupByBatch.getGroupByBatch()
             }
        break;

        case 1:
              this.data.total_ewallet = null;
              this.asyncData();
              if(this.$refs.groupMembers !== undefined){
                this.$refs.groupMembers.getMembers()
              }
        break;

        case 2:
              this.data.total_ewallet = null;
              this.asyncData();
              if(this.$refs.groupByService !== undefined){
                this.$refs.groupByService.getGroupByService()
              }
        break;

        // case 3:
        //       this.$refs.fundList.getGroupFunds()
        // break;

        case 3:
              this.$refs.groupActionLogs.getActionLogs()
        break;

        case 4:
              this.$refs.docLogs.getDocumentLogs()
        break;

        case 5:
              this.$refs.docOnHand.getDocumentsOnHand()
        break;

        case 6:
             this.$refs.groupTransactionHistory.getTransactionHistory()
          //  this.$refs.paymentList.getUnpaidService()
        break;

        case 7:
              this.$refs.groupHistory.getGroupHistories()
        break;
      }
    },

    async searchMember(keyword){
          return this.$store.dispatch('searchMembers', {keyword: keyword, branch_id: this.branch}).then(res => {
             return res.data.data;
          })
    },

    async getComClient(query) {
        this.searchMember(query).then(res => {
              this.clientComList = res;
        });
    },

    async getComAgent(query) {
        this.searchMember(query).then(res => {
              this.agentComList = res;
              //console.log(res);
        });
    },


    async changeCommision(memberId, comType, method){

        var confirmMessage = "";

        if(method === "add"){
          confirmMessage = this.$t('Group.add_commission_confirm');
        }else{
          confirmMessage = this.$t('Group.remove_commission_confirm');
        }

        return  this.$confirm(confirmMessage, this.$t('Branch.warning'), {
          confirmButtonText: this.$t('Common.ok'),
          cancelButtonText: this.$t('Common.cancel'),
          type: 'warning'
         }).then(() => {

          return this.$services.groups.editGroupCommission({
                id: this.$route.params.id,
                com_id: memberId,
                com_type: comType
                }).then(response => {
                  return true;
               })

        }).catch(() => {
             return false;
        });

   },



    async changeComClient(memberId) {

      if(memberId !== ''){

        this.changeCommision(memberId, 'client', 'add').then(res => {

            if(res){
              this.form.isClientComRemoved = false;

              this.$message({
                type: 'success',
                message: this.$t('Group.add_completed')
              });

             } else{

              this.form.isClientComRemoved = true;
              //  this.form.client_com = "";
                this.form.client_com = this.form.temp_client_com.full_name;
              //  this.form.temp_client_com = "";

              this.$message({
                type: 'info',
                message: this.$t('Group.add_cancelled')
              });
            }
        })
      }
    },

    async changeBranch(branchId){

        if(branchId !== ''){

          var index = this.branches.findIndex(b => b.id === branchId);

            this.$store.dispatch('callModal', {
              child_component: ChangeBranch,
              modalWidth: '35%',
              content: {
                  id: branchId,
                  name: this.branches[index].name,
                  group_id: this.$route.params.id
              }
            }) // call global modal state
        }

    },


    async changeServiceProfile (serviceProfileId){

      if(serviceProfileId !== ''){

        var index = this.serviceProfileList.findIndex(s => s.id === serviceProfileId);

          this.$store.dispatch('callModal', {
            child_component: ChangeServiceProfile,
            modalWidth: '35%',
            content: {
                id: serviceProfileId,
                name: this.serviceProfileList[index].name,
                group_id: this.$route.params.id
            }
          }) // call global modal state
      }


    },


    async changeComAgent(memberId) {

      if(memberId !== ''){

        this.changeCommision(memberId, 'agent', 'add').then(res => {

            if(res){
              this.form.isAgentComRemoved = false;

              this.$message({
                type: 'success',
                message: this.$t('Group.add_completed')
              });

             } else{
              this.form.isAgentComRemoved = true;
              this.form.agent_com = "";
              this.form.temp_agent_com = "";

              this.$message({
                type: 'info',
                message: this.$t('Group.add_cancelled')
              });
            }
        })
      }
    },


    async clearComAgent() {

        this.form.isAgentComRemoved = true;

        this.changeCommision('', 'agent', 'remove').then(res => {
            if(res){
              this.form.isAgentComRemoved = false;
              this.$message({
                type: 'success',
                message: this.$t('Group.delete_completed')
              });
            }else{
              this.form.agent_com = this.form.temp_agent_com;
              this.$message({
                type: 'info',
                message: this.$t('Branch.delete_canceled')
              });
            }
        })
    },


    async clearComClient() {

        this.form.isClientComRemoved = true;

        this.changeCommision('', 'client', 'remove').then(res => {
            if(res){
              this.form.isClientComRemoved = false;
              this.$message({
                type: 'success',
                message: this.$t('Group.delete_completed')
              });
            }else{
              this.form.client_com = this.form.temp_client_com;
              this.$message({
                type: 'info',
                message: this.$t('Branch.delete_canceled')
              });
            }
        })
    },



    async asyncData () {

      return this.$store.dispatch('getGroupProfile', { id: this.$route.params.id}).then(res => {
          var response = res.data.group;

          if(response.branches.length > 0){
            this.branch = response.branches[0].id;

            if(response.service_profile !== null && response.service_profile !== undefined) {
              if(parseInt(response.service_profile.is_active) === 0) {
                this.service_profile = response.service_profile.name;
              } else {
                this.service_profile = (response.service_profile_id !== null) ? response.service_profile_id : 0;
              }
            } else {
              this.service_profile = (response.service_profile_id !== null) ? response.service_profile_id : 0;
            }

            if(response.client_com_id !== null && response.client_com_id !==''){
              this.searchMember(response.client_com_id).then(res => {
                    this.clientComList = res;
                    this.form.client_com = res[0];
                    this.form.temp_client_com = res[0];
              });
            }

            if(response.agent_com_id !== null && response.agent_com_id !==''){
              this.searchMember(response.agent_com_id).then(res => {
                    this.agentComList = res;
                    this.form.agent_com = res[0];
                    this.form.temp_agent_com = res[0];
              });
            }
          }
          this.data = response;
          this.leader_id = response.leader_id
          this.group_id = this.data.id;

          this.contact = ((this.data.contact !== null) ? ((typeof this.data.contact.number !== 'undefined') ? this.data.contact.number : '') : '')



          return response;
      });
   },

   async loadBranches(){
     return this.$services.brances.getBranches()
       .then(res => {
         if (res.data.code === 200) {
           this.branches = res.data.data.branches
         }
       })
       .catch(err => {})
   },

    async loadServiceProfile() {
      this.serviceProfileList = [];
      this.$store.dispatch('getAllServiceProfiles').then(res => {

         if (res.code === 200) {
             this.serviceProfileList.push({
               "id": 0,
               "name": "Market Price"
             })
             res.data.service_profiles.map((item,index) => {
                       this.serviceProfileList.push({
                         "id": item.id,
                         "name": item.name
                       })
             })
         }
      }).catch(err => {})
    },

    addRemarksModal () {
      this.$store.dispatch('callModal', {
        child_component: AddRemark,
        title: this.$t('Common.add-remarks'),
        modalWidth: '35%',
        content: {
          id: this.group_id,
        }
      }) // call global modal state
    },

    changeStatusModal () {

      this.$store.dispatch('callModal', {
        child_component: ChangeStatus,
        modalWidth: '35%',
        content: {
          id: this.group_id,
          risk: this.data.risk
        }
      }) // call global modal state
    },


   handleEdit () {
     this.model.data = this.data;
     this.$store.dispatch('changeGroupData', this.model)
     this.$store.dispatch('callModal', { child_component: EditGroupAddress, title: 'Profile.edit-group'}) // call global modal state
   },

   checkIfServiceProfileIsNotActive () {
      if(this.data.service_profile !== null && typeof this.data.service_profile !== 'undefined') {
        if(parseInt(this.data.service_profile.is_active )=== 0) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
   }

  }
}
</script>


<style lang="scss" scoped>
    .body-container {
      width: 100%;
      height: auto;
      background-color: #FFFFFF;
      padding-bottom: 10px;
      margin-bottom: 32%;
    }

    .high-risk {
      color: RED;
    }

    .normal {
      font-weight: normal;
    }

    .remarks {
      text-decoration: underline;
      font-weight: bold;
    }

    .container-padding {
      padding: 15px 1.2rem 15px 1.2rem;
      background-color: #fff;
    }

    .container-margin {
      margin-top: 1.2rem;
    }

    .border-line {
      width: 100%;
      height: 1px;
      background-color: #e7eaec;
    }

    .el-col {
    border-radius: 4px;
    }
    .bg-purple-dark {
      background: #99a9bf;
    }
    .bg-purple {
      background: #d3dce6;
    }

    .bg-purple-light {
      background: #e5e9f2;
    }

    .grid-content {
      border-radius: 4px;
      min-height: 36px;
    }

    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }

    .el-divider{
        margin:0.4rem
    }

    .group-stats {
      display: flex;
      align-items: flex-end;

      &:first-child {
        padding: 5px 5px 0px;
      }

      &:last-child {
        padding: 0px 5px;
      }
    }

    #divider {
      opacity: 0;
    }

</style>
