<template>
  <div class="dashboard-container">
    <div class="table-container">
      <el-row type="flex">
        <el-col :span="23" class="table-col-1 header-bg col-padding">
          <div class="title">
            {{ $t('Navigation.today-task') }}
          </div>
        </el-col>
        <el-col :span="1" class="table-col-2 header-bg col-padding">
          <div>
            <el-tooltip
              class="item"
              effect="dark"
              :content="$t('Common.view-all')"
              placement="top">
              <a href="javascript:void(0)" @click="viewAll" class="btn-go-to">
                <i class="el-icon-s-unfold"></i>
              </a>
            </el-tooltip>
          </div>
        </el-col>
      </el-row>
      <div>
        <el-row type="flex" v-for="(data, index) in todaysTaskData" v-bind:class="{'oi-row-bg': index % 2 !== 0}" v-if="index < 3">
          <el-col :span="23" class="table-col-1">
            <div>
              <el-tooltip
                v-if="data.remarks !== '' && data.remarks !== null"
                effect="light"
                placement="right">
                <div class="tooltip-width" slot="content">{{ removeHTMLtags(data.remarks) }}</div>
                <a href="javascript:void(0)">
                  {{ (index + 1) + '.) ' + data.first_name + ' '+ data.last_name + ' : ' + data.detail }}
                </a>
              </el-tooltip>
              <span
                v-if="data.remarks === '' || data.remarks === null">
                {{ (index + 1) + '.) ' + data.first_name + ' ' + data.last_name + ' : ' + data.detail }}
              </span>
            </div>
          </el-col>
          <el-col :span="1" class="table-col-2">
            <div>
              <el-tooltip
                class="item"
                effect="dark"
                :content="$t('Common.go-to-profile')"
                placement="top">
                <a href="javascript:void(0)" @click="goToClient(data.client_id)" class="btn-go-to">
                  <i class="el-icon-right"></i>
                </a>
              </el-tooltip>
            </div>
          </el-col>
        </el-row>
        <!--
        <el-row type="flex" v-bind:key="sortedI" v-for="(sortedDat, sortedI) in sortedData">
          <el-col :span="8" class="table-col-1" v-bind:key="index" v-for="(data, index) in sortedDat">
            <div>
              <a href="javascript:void(0)" @click="goToClient(data.client_service.client_id)">
                {{ (sortedI * 3) + (index + 1) + '.) ' }}
                {{
                  data.client_service.client.first_name + ' ' +
                  data.client_service.client.last_name +
                  ' [' + data.client_service.client_id + ']: '
                }}
              </a>
              // data.client_service.detail + ' with an estimated cost of ' + data.estimated_cost +
                ' ' + data.status + ' in ' + data.where_to_file + ' by ' + data.in_charge_first_name + ' ' + data.in_charge_last_name //
              {{
                replaceData($t('Common.dashboard_reminders_details', data.client_service.detail, data.estimated_cost, data.status, data.where_to_file, data.in_charge_first_name, data.in_charge_last_name))
              }}
            </div>
          </el-col>
        </el-row> -->
        <el-row type="flex" v-if="todaysTaskData.length === 0">
          <el-col :span="24" class="table-col-1">
            <div class="no-data">{{ $t('Common.no_data_found') }}</div>
          </el-col>
        </el-row>
      </div>
    </div><!--
    <div class="total-budget-container">
      {{ $t('Common.total-budget-today') + ': ' + Number(totalEstimatedCost).toLocaleString() }}
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'dashboard-task',
  props: ['todaysTaskData', 'removeHTMLtags'],
  data() {
      return {
          sortedData: [],
          totalEstimatedCost: 0
      }
  },
  methods: {
    sortData () {
      var taskData = this.todaysTaskData
      var counter = 0;
      var newData = [];
      var keyArray = [];

      taskData.filter((data, index) => {
        counter++;

        if(counter < 3) {
          keyArray = [...keyArray, data]

          if(index === (taskData.length - 1)) {
            counter = 0;
            newData = [...newData, keyArray]
            keyArray = []
          }
        }
        else {
          keyArray = [...keyArray, data]
          counter = 0;
          newData = [...newData, keyArray]
          keyArray = []
          // counter = 0;
        }
      })

      this.sortedData = newData;
    },

    computeTotalEstCost () {
      var cost = 0;
      this.todaysTaskData.filter((item,index) => {
        cost = cost + item.estimated_cost
      })

      this.totalEstimatedCost = cost;
    },

    goToClient (clientID) {
      let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
      window.open(routeData.href, '_blank');
    },

    replaceData (message, detail, cost, status, file, fname, lname) {
      message = message.replace(':detail:', detail)
      message = message.replace(':cost:', cost)
      message = message.replace(':status:', status)
      message = message.replace(':file:', file)
      message = message.replace(':fname:', fname)
      message = message.replace(':lname:', lname)

      return message
    },

    viewAll(){
      let routeData = this.$router.resolve({path: '/today-task'});
      window.open(routeData.href, '_blank');
    }
  },
  created() {
    //this.sortData();
    //this.computeTotalEstCost();
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';
</style>
