<template>
  <div class="dashboard-container">
    <div class="table-container">
      <el-row type="flex" class="header-bg">
        <el-col :span="24" class="table-col-1 col-padding">
          <div class="title">
            Team Tasks
          </div>
        </el-col>
        
      </el-row>

      <div class="container-margin">
        <el-tabs type="border-card" @tab-click="changeTab" v-model="activeTab">
          <el-tab-pane   name="mentioned">
              <span slot="label">Mentioned <b v-if="mentioned > 0" style="color:red;">({{ mentioned }})</b></span>
              <mentioned-tasks ref="mentioned" team="MENTIONED"></mentioned-tasks>
          </el-tab-pane>

          <el-tab-pane   name="teamSite">
              <span slot="label">Site <b v-if="teamSite > 0" style="color:red;">({{ teamSite }})</b></span>
              <team-tasks ref="teamSite" team="SITE"></team-tasks>
          </el-tab-pane>

          <el-tab-pane name="teamDesign">
             <span slot="label">Design <b v-if="teamDesign > 0" style="color:red;">({{ teamDesign }})</b></span>
             <team-tasks ref="teamDesign" team="DESIGN"></team-tasks>
          </el-tab-pane>

          <el-tab-pane name="teamOffice">
             <span slot="label">Office <b v-if="teamOffice > 0" style="color:red;">({{ teamOffice }})</b></span>
             <team-tasks ref="teamOffice" team="OFFICE ARCH"></team-tasks>
          </el-tab-pane>

          <el-tab-pane label="Warehouse" name="teamWarehouse">
             <span slot="label">Warehouse <b v-if="teamWarehouse > 0" style="color:red;">({{ teamWarehouse }})</b></span>
             <team-tasks ref="teamWarehouse" team="WAREHOUSE"></team-tasks>
          </el-tab-pane>

          <el-tab-pane name="teamClient">
            <span slot="label">Client <b v-if="teamClient > 0" style="color:red;">({{ teamClient }})</b></span>
             <team-tasks ref="teamClient" team="CLIENT"></team-tasks>
          </el-tab-pane>

          <el-tab-pane name="teamAdmin">
            <span slot="label">Admin <b v-if="teamAdmin > 0" style="color:red;">({{ teamAdmin }})</b></span>
             <team-tasks ref="teamAdmin" team="ADMIN"></team-tasks>
          </el-tab-pane>

          <el-tab-pane name="teamSubcon">
            <span slot="label">Subcon <b v-if="teamSubcon > 0" style="color:red;">({{ teamSubcon }})</b></span>
             <team-tasks ref="teamSubcon" team="SUBCON"></team-tasks>
          </el-tab-pane>

          <el-tab-pane name="teamPurchasing">
            <span slot="label">Purchasing <b v-if="teamPurchasing > 0" style="color:red;">({{ teamPurchasing }})</b></span>
             <team-tasks ref="teamPurchasing" team="PURCHASING"></team-tasks>
          </el-tab-pane>

        </el-tabs>
      </div>
      
    </div>
  </div>
</template>

<script>
import TeamTasks from './team-tasks'
import MentionedTasks from './mentioned-tasks'
export default {
  name: 'dashboard-pending',
  components: {
      TeamTasks, MentionedTasks
  },
  props: ['pendingData', 'formatDate', 'removeHTMLtags'],
  data() {
      return {
        activeTab : 'mentioned',
        teamSite : 0,
        teamDesign : 0,
        teamOffice : 0,
        teamSubcon : 0,
        teamWarehouse : 0,
        teamAdmin : 0,
        teamClient : 0,
        teamPurchasing : 0,
        mentioned : 0,
      }
  },
    mounted () {
      this.$eventBus.$on('mentionedCount', (data) => {
           //alert(data);
           this.mentioned = data;
        });

      this.$eventBus.$on('getPerTeamCount', () => {
        //this.$refs.tasktable.getTableData();
        // alert('getPerTeamCount');
        this.$refs.mentioned.refreshData();
        this.$refs.teamSite.refreshData();
        this.$refs.teamDesign.refreshData();
        this.$refs.teamOffice.refreshData();
        this.$refs.teamWarehouse.refreshData();
        this.$refs.teamClient.refreshData();
        this.$refs.teamAdmin.refreshData();
        this.$refs.teamSubcon.refreshData();
        this.$refs.teamPurchasing.refreshData();
      });

      },
  created() {
    this.getPerTeamCount();
  },
  methods: {
    changeTab (tab, event) {
        switch (parseInt(tab.index)) {
          case 0:
             this.$refs.mentioned.refreshData()

          break;

          case 1:
             this.$refs.teamSite.refreshData()

          break;

          case 2:
            this.$refs.teamDesign.refreshData();

          break;

          case 3:
            this.$refs.teamOffice.refreshData();

          break;

          case 4:
              this.$refs.teamWarehouse.refreshData()
          break;

          case 5:
                this.$refs.teamClient.refreshData()
          break;
                
          case 6:
                this.$refs.teamAdmin.refreshData()
          break;

          case 7:
                this.$refs.teamSubcon.refreshData()
          break;

          case 8:
                this.$refs.teamPurchasing.refreshData()
          break;

      }
    },

    async getPerTeamCount () {
        this.serviceProfileList = []
        this.$store.dispatch('getPerTeamCount').then(res => {
          // console.log(res);
          //if (res.code === 200) {
            this.teamSite = res.data.teamSite;
            this.teamOffice = res.data.teamOffice;
            this.teamDesign = res.data.teamDesign;
            this.teamWarehouse = res.data.teamWarehouse;
            this.teamAdmin = res.data.teamAdmin;
            this.teamClient = res.data.teamClient;
            this.teamSubcon = res.data.teamSubcon;
            this.teamPurchasing = res.data.teamPurchasing;
            //this.mentioned = res.data.mentioned;
          //}
        }).catch(err => {})
      },
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }
</style>
