<template>
  <div class="dashboard-container">
    <div class="table-container">
      <el-row type="flex" class="header-bg">
        <el-col :span="22" class="table-col-1 col-padding">
          <div class="title">
            Summary
          <!-- </div>
          <div class="heading"> -->
              <span style="padding-right: 20px">Year:</span>
              <el-date-picker
                v-model="year"
                type="year"
                size="mini"
                placeholder="Pick a year"
                @change="getYearSummary()"
              >
              </el-date-picker>
            </div>
        </el-col>
        <el-col :span="2" class="table-col-2">
          <div>
            <el-tooltip
              class="item"
              effect="dark"
              :content="$t('Common.view-all')"
              placement="top">
                <a href="javascript:void(0)" @click="viewAll" class="btn-go-to" style="font-size: 11px;">
                  view all
                </a>
            </el-tooltip>
          </div>
        </el-col>
      </el-row>
        <el-row type="flex">
          <el-table v-loading="loading" :data="data">
            <el-table-column fixed prop="name" label="" width="150" />
            <el-table-column class="table-col-1" v-for="(v, k) in months"
                  :key="k"
                  prop="name"
                  :label="v.month"
                  width="120"> 

                <template slot-scope="scope">
                  <div class="column">
                    <span>{{ scope.row[`result${k + 1}`] }}</span>
                  </div>
                </template>
              </el-table-column>


          </el-table>
        </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dashboard-pending',
  props: ['pendingData', 'formatDate', 'removeHTMLtags'],
  data() {
    return {
      year: moment().format("YYYY"),
      months: [],
      data: [],
      loading : false,
    };
  },
  created() {
    this.getYearSummary();
  },
  methods: {
    getMonthSummary() {
      this.loading = true;
      const fd = new FormData();
      fd.append("year", moment(this.year).format("YYYY"));
      this.$store
        .dispatch("getMonthSummary", fd)
        .then((response) => {
          this.data = response.data;
        })
        .catch((error) => {
          if (error.response.status === 500) {

          }
        });
      this.loading = false;
    },
    getYearSummary() {
      this.loading = true;
      this.getMonthSummary();
      this.months = [];
      let year = moment(this.year).format("YYYY");
      let month = "";
      let endMonthDay = "";
      for (let i = 0; i <= 11; i++) {
        let dateCondition = [];
        month = moment(moment([year, i]).toDate()).format("MMMM");
        this.months.push({ month });
      }
      this.loading = false;
    },

    viewAll () {
      let routeData = this.$router.resolve({path: '/cost-summary'});
      window.open(routeData.href, '_blank');
    },
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }
</style>
