<template>
  <div class="dashboard-container">
    <div class="table-container">
      <el-row type="flex">
        <el-col :span="23" class="table-col-1 header-bg col-padding">
          <div class="title">
            {{ $t('Navigation.on-process-serv') }}
          </div>
        </el-col>
        <el-col :span="1" class="table-col-2 header-bg">
          <div>
            <el-tooltip
              class="item"
              effect="dark"
              :content="$t('Common.view-all')"
              placement="top">
              <a href="javascript:void(0)" @click="viewAll" class="btn-go-to">
                <i class="el-icon-s-unfold"></i>
              </a>
            </el-tooltip>
          </div>
        </el-col>
      </el-row>
      <div v-bind:key="index" v-for="(data, index) in onProcessData">
        <el-row type="flex" v-bind:class="{'oi-row-bg': index % 2 !== 0}" v-if="index < 3">
          <el-col :span="23" class="table-col-1">
            <div>
              <el-tooltip
                v-if="data.remarks !== '' && data.remarks !== null"
                effect="light"
                placement="right">
                  <div class="tooltip-width" slot="content">{{ removeHTMLtags(data.remarks) }}</div>
                  <a href="javascript:void(0)">
                    {{ (index + 1) + '.) ' + formatDate(data.created_at) + ' : ' + data.detail + $t('Clients.is') +
                    getDateInterval(formatDate(data.created_at)) + $t('Clients.days_being_process') }}
                  </a>
              </el-tooltip>
              <span
                v-if="data.remarks === '' || data.remarks === null">
                {{ (index + 1) + '.) ' + formatDate(data.created_at) + ' : ' + data.detail + $t('Clients.is') +
                    getDateInterval(formatDate(data.created_at)) + $t('Clients.days_being_process') }}
              </span>
            </div>
          </el-col>
          <el-col :span="1" class="table-col-2">
            <div>
              <el-tooltip
                class="item"
                effect="dark"
                :content="$t('Common.go-to-profile')"
                placement="top">
                  <a href="javascript:void(0)" @click="goToClient(data.client_id)" class="btn-go-to">
                    <i class="el-icon-right"></i>
                  </a>
              </el-tooltip>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dashboard-on-process',
  props: ['onProcessData', 'formatDate', 'removeHTMLtags'],
  methods: {
    viewAll () {
      let routeData = this.$router.resolve({path: '/on-process-services'});
      window.open(routeData.href, '_blank');
    },

    goToClient (clientID) {
      let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
      window.open(routeData.href, '_blank');
    },

    getDateInterval (date) {
      date = moment(date).format('YYYY-MM-DD')
      var today = moment(new Date()).format('YYYY-MM-DD')
      return moment(today).diff(date, 'days');
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }
</style>
