<template>
  <div>
    <div class="heading">
      <h1 class="title">Tasks</h1>
      <div class="search-container">

        <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="mini"></el-button>

        <el-select v-model="search" clearable filterable placeholder="Select User" style="width: 270px;" size="mini" @change="refreshData()">
              <el-option
                v-for="s in users"
                :key="s.id"
                :label="s.first_name+' '+s.last_name"
                :value="s.id">
              </el-option>
            </el-select>

      </div>
    </div>

    <data-table
      :get-data="getData"
      ref="table"
      :columns="columns">
      <span slot="created_at" slot-scope="{row}">
        {{ row.created_at | commonDate }} 
      </span>

      <!-- <span slot="project_name" slot-scope="{row}">
        {{ `${row.project_name}` }}
      </span> -->
      <div slot="project" slot-scope="{row}">
        <el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
           <el-button type="text" @click="showTaskDetails(row.project_id, row.id)" style="font-size: 12px;"><b>{{row.project_name}}</b>
           </el-button>
         </el-tooltip>
      </div>

      <span slot="label" slot-scope="{row}">
        {{row.label}}
      </span>

      <div slot="status" slot-scope="{row}" v-html="statusColor(row.status, row.id, row.project_id)">
      </div>

      <span slot="progress_status" slot-scope="{row}">
        {{ row.progress_status }}
      </span>

      <div slot="action" slot-scope="{row}" class="action-container">
        <el-tooltip  class="item" effect="dark" content="View Project" placement="top-start">
          <router-link :to="{ name: 'projects-profile', params: { id: row.project_id, nickname: row.project_nick_name, redirect: 'redirect' } }" > 
            <el-button  icon="el-icon-arrow-right" size="mini"></el-button></router-link>
        </el-tooltip>

        <el-tooltip  class="item" effect="dark" content="Mark as read" placement="top-start" v-if="team == 'MENTIONED'">
          <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure?"
                    @onConfirm="markAsRead(row.id)"
                    v-if="user_id == search || search == ''"
                  >
                    <el-button icon="el-icon-check" type="success" plain size="mini" slot="reference" style="cursor:pointer;"></el-button>
                  </el-popconfirm>
        </el-tooltip>
      </div>
    </data-table>
  </div>
</template>

<script>
import DataTable from '../../../components/datatable'
import taskDetails from './../../projects/components/task-details';
export default {
  name: 'team-tasks',
  components: {
      DataTable, taskDetails
  },
  props: ['team'],
  data() {
      return {
          users: [],
          files: [],
          pendingData: [],
          search: '',
          user_id: '',
          page: 1,
          columns: [
              {
                  prop: 'created_at',
                  label: 'Created',
                  minWidth: '50',
                  sortable: true
              },
              {
                  prop: 'project',
                  label: 'Project',
                  sortable: true
              },
              {
                  prop: 'label',
                  label: 'Task',
                  minWidth: '160',
                  sortable: true
              },
              {
                prop: 'status',
                label: 'Status',
                minWidth: '60',
                sortable: true
              },
              {
                prop: 'progress_status',
                label: 'Progress',
                minWidth: '70',
                sortable: true
              },
              {
                prop: 'action',
                label: 'Action',
                minWidth: '70',
              },
          ]
      }
  },
  methods: {
    showTaskDetails(project_id, task_id){
        var files = [];

        this.$store.dispatch('getProjectProfile2', { id: project_id}).then(response => {
          // console.log('project profile', response)
          this.files = response.files;
        })

        this.files.map((d,i) => {
            if(d.id === task_id){
                files = d.files;
            }
          });

        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: taskDetails,
          // title: 'Task Details',
          modalWidth: '40%',
          content: {
            project_id: project_id,
            task_id: task_id,
            files : files
          }
        })
    },

    refreshData(){
        this.$refs.table.getTableData();
    },

    getData ({ page, query, sortParams, size }) {
      if(sortParams.length == 0){
        sortParams = 'created_at-asc'
      }

      if(sortParams[0] === 'date-asc') {
        sortParams = 'created_at-asc'
      } else if(sortParams[0] === 'date-desc') {
        sortParams = 'created_at-desc'
      }

      this.page = page
      return this.$store.dispatch('getPerTeamTasks', {
        page: 'page=' + page ,
        sort: 'sort=' + sortParams,
        search: 'search=' + this.search,
        team: 'team=' + this.team,
        perPage: size
      }).then(res => {
        const { data } = res
        // console.log(data);
        this.users = data.users;
        this.user_id = data.user_id;
        // console.log((data.tasks).length);
        // if((data.tasks).length > 0){
          this.$eventBus.$emit('mentionedCount', data.taskcount );
          //this.$tabEvent.emit('setToken', ret.data.token);
          //this.$tabEvent.$emit('mentionedCount', ((data.tasks.data).length));
        // }
        // else{
        //   this.$eventBus.$emit('mentionedCount', 0 );
        // }
        return {
          data: data.tasks.data,
          total: data.total,
          size: size
        }
      })
    },

    markAsRead(id){
         const fd = new FormData();
         fd.append("id", id);
         this.$store.dispatch("markAsRead", fd).then(response => {
          this.$parent.$emit('close');
          
          this.$message({
            type: 'success',
            message: 'Marked as read!'
          });
          this.refreshData();
          // this.$eventBus.$emit('openTaskDetails',this.task_id);
        });
      },

    statusColor(status, task_id, project_id) {
      if(status == '' || status == null){
          status = 'purchase order';
      }
      if(status == 'purchase order'){
        status = '<button class="ganttbutton button1" id="mobbutton" taskid="'+task_id+'" projectid="'+project_id+'">'+status+'</button>';
      }
      else if(status == 'mob'){
        status = '<button class="ganttbutton button2" id="mobbutton" taskid="'+task_id+'" projectid="'+project_id+'">'+status+'</button>';
      }
      else if(status == 'site order'){
        status = '<button class="ganttbutton button3" id="pobutton" tid="'+task_id+'" tstat="'+1+'">'+status+'</button>';
      }
      else if(status == 'to prep'){
        status = '<button class="ganttbutton button4" id="pobutton"  tid="'+task_id+'" tstat="'+2+'">'+status+'</button>';
      }
      else if(status == 'to ship'){
        status = '<button class="ganttbutton button5" id="pobutton"  tid="'+task_id+'" tstat="'+3+'">'+status+'</button>';
      }
      else if(status == 'to received'){
        status = '<button class="ganttbutton button6" id="pobutton"  tid="'+task_id+'" tstat="'+4+'">'+status+'</button>';
      }
      else if(status == 'partial delivered'){
        status = '<button class="ganttbutton button7" id="pobutton">'+status+'</button>';
      }
      else if(status == 'completed'){
        status = '<button class="ganttbutton button8" id="pobutton"  tid="'+task_id+'" tstat="'+5+'">'+status+'</button>';
      }
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return status;
    },

    formatDate: function (value) {
      return moment(String(value)).format('MM/DD/YYYY')
    },

    removeHTMLtags: function (str) {
      return str.replace(/<\/?[^>]+(>|$)/g, "")
    },

    getGroupName (data) {
      if(data.groups.length > 0) {
        return data.groups[0].name
      }
    },

    goToClient (row) {
      let routeData = this.$router.resolve({
        name: (row.group_id !== null) ? 'groups-profile' : 'clients-profile',
        params: {
          group_id: row.group_id,
          clientServiceId: row.id,
          client_id: row.client.id,
          id: (row.group_id !== null) ? row.group_id : row.client_id
        }
      });
      //let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
      window.open(routeData.href, '_blank');
    },

    handleSearch () {
      this.$refs.table.getTableData();
    }
  }
}
</script>

<style lang="scss">
  .iconbutton {
  border: none;
  color: white;
  /*padding: 4px 10px;*/
  text-align: center;
  text-decoration: none;
  display: contents;
  font-size: 11px;
  margin: 0px;
  margin-right: 6px;
  cursor: pointer;
  font-weight: 600;
}
.ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
.button1 {background-color: #d50000;} /* po */
.button2 {background-color: #d5c400;} /* mob */
.button3 {background-color: #f66c1b;} /* site order */
.button4 {background-color: #23bc2e;} /* to prep */
.button5 {background-color: #23bc2e;} /* to ship */
.button6 {background-color: #23bc2e;} /* to received */
.button7 {background-color: #10bab2;} /* partial delivered */
.button8 {background-color: #006edf;} /* delivered/completed */
  .action-container {
    text-align: center;

    .item {
      font-size: 15px;
      font-weight: bolder;
    }
  }

  .tooltip-width {
    max-width: 200px;
  }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;
    }

    .search-container {
      margin-left: 0px;
      margin-top: 15px;
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>
