  <template>
      <div class="form-container">
        <el-tag type="warning" effect="dark">{{ $t('Clients.9a_form_warning') }}</el-tag>
          <el-form :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
               <div class="inner-container">
                    <el-row :gutter="30" class="bottom-spacing">
                          <el-col :span="5">
                            <div class="label">{{ $t('Common.month') }}</div>
                            <el-form-item :prop="$t('Common.month')">
                                <el-input :placeholder="$t('Common.month')" v-model="form.months" disabled @change="changeMonth" v-if="form.mon != 0"></el-input>
                              <el-input-number v-model="form.months" :min="min_months" :max="max_months" v-if="form.mon == 0" controls-position="right" @change="changeMonth"></el-input-number>
                            </el-form-item>
                          </el-col>
                          <el-col :span="10">
                            <div class="label">{{ $t('Clients.authorized_representative') }}</div>
                            <el-form-item prop="authorized_representative">
                                <el-select v-model="form.authorized_representative" :placeholder="$t('Clients.select')" :disabled ="disable_auth" class="custom-select">
                                  <el-option
                                    :key="index"
                                    v-for="(auth, index) in authorized_representatives"
                                    :label="auth.name"
                                    :value="auth.name">
                                  </el-option>
                                </el-select>
                              </el-form-item>
                          </el-col>
                          <el-col :span="9">
                          <div class="label">{{ $t('Common.issued-date') }}</div>
                            <el-form-item prop="issue_date">
                                <el-date-picker
                                  v-model="form.issue_date"
                                  type="date"
                                  :placeholder="$t('Common.pick_a_day')"
                                  format ="dd MMM yyyy"
                                  value-format="yyyy-MM-dd"
                                  :change = "setIssueDate()"
                                  >
                                </el-date-picker>
                            </el-form-item>

                        </el-col>
                      </el-row>
                  </div>
              </el-form>
               
              <h1 class="form-title">{{ $t('Clients.form_preview') }}</h1>
              <div class="border-line"></div>
              <div id="a_pdf" >
                <birFrm :form="form"></birFrm>
              </div>

              <!-- Buttons -->
              <div class="inner-container">
                <el-row :gutter="30">
                  <el-col :span="24">
                    <el-button type="primary" @click="onSubmit()">{{ $t('Common.export') }}</el-button>
                  </el-col>
                  </el-row>
              </div>
              <!-- End of Buttons -->
      </div>
  </template>
  <script>
  import html2canvas from 'html2canvas';
  import jsPDF from 'jspdf';
  import birFrm from './bir-form-tourist-visa-pdf';

  export default {
    name: '9a-form-pdf',
    components: {html2canvas, jsPDF, birFrm},
    data () {
      return {
        disable_auth: false,
        disable_month: false,
        min_months:0,
        max_months:0,
        form:{
          months:0,//displayed required months on input form
          mon:0,
          dis_months:'',//displayed required months on 9Aform
          accreditation_number:'',
          authorized_representative:'',
          first_name:'',
          middle_name:'',
          last_name:'',
          nationality:'',
          birth_country:'',
          bd1:'', //birthday
          bd2:'', //birth month
          bd3:'', //birth year
          birthday:'',//complete bday
          gender:'',
          civil_status:'',
          contact_number:'',
          height:'',
          weight:'',
          address:[],
          passport:'',
          pv1:'', //passport_validity day
          pv2:'', //passport_validity month
          pv3:'', //passport_validity year
          passport_validity:'',
          lad1:'', // latest_arrival_date day
          lad1:'', // latest_arrival_date month
          lad1:'', // latest_arrival_date year
          latest_arrival_date:'',
          tve1:'', // latest_tourist_visa_ext day
          tve2:'', // latest_tourist_visa_ext month
          tve3:'', // latest_tourist_visa_ext year
          tourist_visa_expiration:'',
          mode:'',
          issue_date:'',
          dis_issue_date:'',
          service_name:''
        },
        authorized_representatives:[
            {
              name: "BORBON, MORIELLE G."
            },
            {
              name: "RANADA, RICHARD B."
            }
        ]
      }
    },
    created () {
      this.setUpBirForm();
    }, 
    mounted() {},
    methods: {
      getServiceDetail(id){
          this.$store.dispatch('getService', id)
          .then(res => {
            let data = res.data.service;
            var mon = data.months_required; //form
            var min = data.min_months;
            var max = data.max_months;
            var mons = 0; //display
            if(mon < 10){
                if( mon <= 0){
                    mons = 0;
                    this.min_months = min;
                    this.max_months = max;
                }else if(mon > 0){
                    mons = '0' + mon;
                }
            }else{
              mons = mon;
            }

            this.form.dis_months = mons;
            this.form.months = mon;
            this.form.mon = mon;
          })
          .catch(res => console.log(res))
      },

      numbersOnly ($event) {
        return this.$store.dispatch('numbersOnly', $event)
      },

      setUpBirForm(){
        let client = this.$parent.$parent.$parent.$refs.modal.content.client;
        let service = this.$parent.$parent.$parent.$refs.modal.content.service;
        var service_name = service.detail;
        const monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN",
          "JUL", "AUG", "SEPT", "OCT", "NOV", "DEC"
        ];

        this.form.nationality = (client.nationalities.length != 0) ? client.nationalities[0].name.toUpperCase() : null;
        this.form.birth_country = (client.birth_country != null) ? client.birth_country.name.toUpperCase() : null;
        this.form.contact_number = (client.contact != null) ? client.contact.number : null;
        this.form.first_name = (client.first_name != null) ? client.first_name.toUpperCase() : null;
        this.form.middle_name = (client.middle_name != null) ? client.middle_name.toUpperCase() : null;
        this.form.last_name = (client.last_name != null) ? client.last_name.toUpperCase() : null;
        this.form.address = (client.address != null) ? client.address : null;
        this.form.passport = (client.passport != null) ? client.passport.toUpperCase() : null;
        this.form.gender = (client.gender != null) ? client.gender : null;
        this.form.civil_status = (client.civil_status != null) ? client.civil_status : null;
        this.form.height = (client.height != null) ? client.height : null;
        this.form.weight = (client.weight != null) ? client.weight : null;
        this.form.service_name = (service_name != null) ? service_name : null; 
        this.form.birthday = (client.birth_date != null) ? client.birth_date : null;
        this.form.passport_validity = (client.passport_exp_date != null) ? client.passport_exp_date : null;
        this.form.latest_arrival_date = (client.arrival_date != null) ? client.arrival_date : null;
        this.form.tourist_visa_expiration = (client.extended_expiration_date != null) ? client.extended_expiration_date : null;

        if(client.branch.name == "Manila"){
          var rush = service_name.toUpperCase().includes("RUSH");
          if (rush){
            this.form.mode = "Express";
            this.form.accreditation_number = "";
            this.form.authorized_representative = "";
            this.disable_auth = true;
          }else{
            this.form.mode = "Regular";
            this.form.accreditation_number = "CA-2019-058A";
            this.disable_auth = false;
          }
        }else if (client.branch.name == "Cebu"){
          this.form.accreditation_number = "";
          this.form.authorized_representative = "";
          this.disable_auth = true;
        }
        

        //get date today
        var today = new Date();
       
        var issue_date = new Date();
        var dd = today.getDate();
        var day = today.getDay();

        //check if weekeends
        if (day == 5){
          issue_date.setDate( dd + 3 )
        }else if (day == 6){
          issue_date.setDate( dd + 2 )
        }else {
          issue_date.setDate( dd + 1 )
        }

        var mm = monthNames[issue_date.getMonth()+1];
        var m = issue_date.getMonth()+1;
        var yyyy = issue_date.getFullYear();
        var d = issue_date.getDate();

        if(d<10)
        {
            d ='0'+ d;
        }

        this.form.issue_date = yyyy+'-'+m+'-'+d;
        this.form.dis_issue_date = d +' '+ mm +' '+ yyyy;
        //new birthday format
        if(client.birth_date != null){
          var bday = new Date(client.birth_date);
          var bd1 = bday.getDate();

          if(bd1<10)
          {
              bd1 ='0'+ bd1;
          }

          this.form.bd1 = bd1;
          this.form.bd2 = monthNames[bday.getMonth()];
          this.form.bd3 = bday.getFullYear();
        }else{
          this.form.bd1 = '';
          this.form.bd2 = '';
          this.form.bd3 = '';
        }



        //new passport validity format
        if(client.passport_exp_date != null){
          var pass_val = new Date (client.passport_exp_date);
          var pv1 = pass_val.getDate();

          if(pv1<10)
          {
              pv1 ='0'+ pv1;
          }

          this.form.pv1 = pv1;
          this.form.pv2 = monthNames[pass_val.getMonth()];
          this.form.pv3 = pass_val.getFullYear();
        }else{
          this.form.pv1 = '';
          this.form.pv2 = '';
          this.form.pv3 = '';
        }

        

        //new latest arrival date format
        if(client.arrival_date != null){
          var lad = new Date(client.arrival_date);
          var lad1 = lad.getDate();

          if(lad1<10)
          {
              lad1 ='0'+ lad1;
          }
          this.form.lad1 = lad1;
          this.form.lad2 = monthNames[lad.getMonth()];
          this.form.lad3 = lad.getFullYear();
        }else{
          this.form.lad1 = '';
          this.form.lad2 = '';
          this.form.lad3 = '';
        }


        //tourist visa expiration
        if(client.extended_expiration_date != null){
          var tve = new Date(client.extended_expiration_date);
          var tve1 = tve.getDate();

          if(tve1<10)
          {
              tve1 ='0'+ tve1;
          }

          this.form.tve1 = tve1;
          this.form.tve2 = monthNames[tve.getMonth()];
          this.form.tve3 = tve.getFullYear();
        }else{
          this.form.tve1 = '';
          this.form.tve2 = '';
          this.form.tve3 = '';
        }

        //address
        var add = client.address;
        var add_len = add.length;
        var addArr = add.split(" ");
        var maxLength = 60;
        var currentLength = 0;
        var index = 0;
        var output = [];

        addArr.forEach(function(item) {
          var wordLength = item.length + 1;
            if ((currentLength + wordLength) <= maxLength) {
                currentLength += wordLength;

                if( output[index] ) {
                  output[index] += item + ' ';
                } else {
                  output[index] = item + ' ';
                }
            } else {
                index += 1;
                currentLength = wordLength;
                output[index] = item + ' ';
            }
        })

        this.form.address = output;
        this.getServiceDetail(service.service_id);
      },
      changeMonth(){
          var mon = this.form.months;
          var mons = 0;
          if(mon<10)
          {
            mons ='0'+ mon;
          }else if(mon <= 0){
            mons = 0;

          }else{
            mons = mon;
          }
          this.form.dis_months = mons;
      },
      setIssueDate(){
        const monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN",
          "JUL", "AUG", "SEPT", "OCT", "NOV", "DEC"
        ];

        if(this.form.issue_date != null){
          var issue_date = new Date(this.form.issue_date);
          var dd = issue_date.getDate();
       
          var mm = monthNames[issue_date.getMonth()];
          var m = issue_date.getMonth();
          var yyyy = issue_date.getFullYear();
          var d = issue_date.getDate();

          if(d<10)
          {
              d ='0'+ d;
          }

          this.form.dis_issue_date = dd +' '+ mm +' '+ yyyy; 
        }else{
          this.form.dis_issue_date = '';
        }

      },
      onSubmit(){
        //validation
        let firstname = this.form.first_name;
        let lastname = this.form.last_name;
        let months = this.form.months;
        let mon = this.form.mon;
        let cs = this.form.civil_status;
        let cb = this.form.birth_country;
        let nat = this.form.nationality;
        let bday = this.form.birthday;
        let gender = this.form.gender;
        let passport = this.form.passport;
        let passval = this.form.passport_validity;
        let height = this.form.height;
        let weight = this.form.weight;
        let arrival = this.form.latest_arrival_date;
        let tve = this.form.tourist_visa_expiration;
        let mode = this.form.mode;
        let auth_rep = this.form.authorized_representative;
        let address = this.form.address;
        let contact = this.form.contact_number;
        let issue_dt = this.form.issue_date;
        var errCnt = 0;

        if(firstname == null || firstname == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.fname_is_required'));
          }, 1)
        }

        if(lastname == null || lastname == ''){
          errCnt++ ;
          setTimeout(() => {
              this.$message.error(this.$t('CPanel.lname_is_required'));
          }, 1)
          
        }

        if(mon == 0 ){
          if(months == null || months == ''){
            errCnt++ ;
            setTimeout(() => {
              this.$message.error(this.$t('Clients.month_is_required'));
            }, 1)
          }
        }

        if(mode == 'Regular'){
          if(auth_rep == null || auth_rep == ''){
            errCnt++ ;
            setTimeout(() => {
              this.$message.error(this.$t('Clients.auth_rep_required'));
            }, 1)
          }
        }

        if(gender == null || gender == ''){
          errCnt++ ;
          setTimeout(() => {    
            this.$message.error(this.$t('CPanel.gender_is_required'));
          }, 1)
        }

        if(cs == null || cs == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.civil_status_is_required'));
          }, 1)
        }

        if(cb == null || cb == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.birth_country_required'));
          }, 1)
        }


        if(nat == null || nat == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.nationality_is_required'));
          }, 1)
        }

        if(passport == null || passport == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.passport_is_required'));
          }, 1)
        }else{
          if(passval == null || passval == ''){
            errCnt++ ;
            setTimeout(() => {
              this.$message.error(this.$t('CPanel.passport_validity_required'));
            }, 1)
          }
        }

        if(height == null || height == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.height_is_required'));
          }, 1)
        }else if(height == 0){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.height_is_invalid'));
          }, 1)
        }

        if(weight == null || weight == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.weight_is_required'));
          }, 1)
        }else if(weight == 0){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.weight_is_invalid'));
          }, 1)
        }

        if(arrival == null || arrival == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.latest_arrival_required'));
          }, 1)
        }

        // if(tve == null || tve == ''){
        //   errCnt++ ;
        //   setTimeout(() => {
        //     this.$message.error(this.$t('CPanel.tourist_exp_date'));
        //   }, 1)
        // }

        if(address == null || address == ''){
          errCnt++ ;
          setTimeout(() => {
            this.$message.error(this.$t('CPanel.address_is_required'));
          }, 1)
        }
        

 
          // if(contact == null || contact == ''){
          //   errCnt++ ;
          //   setTimeout(() => {
          //     this.$message.error(this.$t('CPanel.contact_is_required'));
          //   }, 1)
          // }
        


        if(issue_dt == null){
          errCnt++ ;
          setTimeout(() => {
              this.$message.error(this.$t('CPanel.select_insurance_date'));
          }, 1)
          
        }

        if(errCnt==0){
          let elem = document.getElementById('a_pdf');
          let clone = elem;
          let client = this.$parent.$parent.$parent.$refs.modal.content.client;
          var service = this.form.service_name;
          var client_id = client.id;
          var today = new Date();
          var m = today.getMonth()+1;
          var y = today.getFullYear();
          var d = today.getDate();
          clone.style.display = 'block';

          html2canvas(clone).then(function(canvas) {
              var img = canvas.toDataURL("image/png");
              var doc = new jsPDF('p','mm','legal');
              doc.addImage(img, 'JPEG', 1, 1, 210, 150);
              doc.save(client_id+'_'+service+'_'+m+'-'+d+'-'+y+".pdf");
          });
        }
      },
    }
  }
  </script>

  <style lang="scss" scoped>
      #a_pdf{
        color:#000000;
        margin:10px;
      }
      .el-date-editor.el-input, .el-date-editor.el-input__inner {
        width: 100%;
      }
      .border-line {
          width: 100%;
          height: 1px;
          background-color: #e7eaec;
      }
      .form-container {

          .form-title {
              font-size: 1.275rem;
              font-weight: 400;
              line-height: 0;
          }

          .inner-container {
              padding-top: 20px;

              .label {
                  margin-bottom: 5px;
              }
          }

          .bottom-spacing {
              margin-bottom: 15px;
          }

      }

      .el-form-item {
          margin-bottom: 10px;
          width:100%;
      }

      .el-form-item__content{
        width:100%;
      }

      .alert-container {
          position: absolute;
          width: 300px;
          top: 10%;
          right: 15px;
      }

      .left-button{
        margin-right: 5px;
      }
      .el-form-item{
        .el-form--inline .el-form-item__content {
         width: 100%;
        }

      }


      .el-tag{
        width: 100%;
      }

  </style>
