<template>
  <div>
    <h1 class="form-title">{{ $t('Clients.account_information') }}</h1>
    <div class="border-line"></div>
    <div class="inner-container">
      <!-- First Row -->
      <el-row :gutter="30" class="bottom-spacing">
        <el-col :span="12">
          <el-form-item prop="branches" :label="$t('Clients.branch')">
            <el-select
              v-model="form.branches[0]"
              :placeholder="$t('Clients.select')"
              style="width: 100%;"
              filterable
              clearable>
                <el-option
                  v-for="branch in branches"
                  :key="branch.id"
                  :label="branch.name"
                  :value="branch.id">
                </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item :label="$t('Clients.group')">
            <el-select
              v-model="form.groups[0]"
              :placeholder="$t('Clients.select')"
              style="width: 100%;"
              filterable
              clearable>
                <el-option
                  v-for="group in groups"
                  :key="group.id"
                  :label="group.name"
                  :value="group.id">
                </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- End of First Row -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'ac-account-info',
  props: ['form', 'rules', 'branches', 'groups']
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';
</style>
