<template>
  <div class="ac-contact-info">
    <h1 class="form-title">{{ $t('Clients.contact_information') }}</h1>
    <div class="border-line"></div>
    <div class="inner-container">
      <!-- First Row -->
      <el-row :gutter="30">
        <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
          <el-row>
            <el-col :span="24">
              <el-form-item prop="email" :label="$t('Clients.email')">
                <el-input
                  :placeholder="$t('Clients.enter_your_email_address')"
                  v-model="form.email">
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item prop="address" :label="$t('Clients.address')">
                <el-input
                  type="textarea"
                  :rows="3"
                  :placeholder="$t('Clients.enter_your_address')"
                  v-model="form.address"
                  resize="none">
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
        <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
          <!-- <el-form-item :label="$t('Clients.contact_number')"> -->
            <!-- <div v-bind:key="index" v-for="(item, index) in form.contact_numbers">
              <el-form-item v-if="index === 1" :label="$t('Clients.alternative_contact_number')"></el-form-item>
              <el-row>
                <el-col :span="24">
                  <el-form-item
                    :prop="'contact_numbers.' + index + '.number'"
                    class="form-error-spacing"
                    :style="(index > 0) ? 'margin-bottom: 13px;' : null">
                      <el-input
                        maxlength="20"
                        :placeholder="$t('Clients.enter_your_contact_number')"
                        v-model="form.contact_numbers[index].number"
                        @keypress.native="$emit('numbersOnly', $event)"
                        style="width: calc(100% - 38px);"
                        class="input-with-select">

                        <template slot="prepend" v-if="index === 0">+63</template>

                        <el-select v-model="selectedType" slot="prepend" placeholder="Select" v-if="index > 0">
                          <el-option
                            v-for="type in contactType"
                            :label="type"
                            :value="type">
                          </el-option>
                        </el-select>

                      </el-input>
                      <div id="checkbox-label" v-if="index > 0">
                        <input
                          type="checkbox"
                          :id="'isMobile' + index"
                          v-model="form.contact_numbers[index].is_mobile"
                          @change="$emit('validateContact', index)">
                        <label :for="'isMobile' + index">&nbsp; {{ $t('Common.is-mobile') }}</label>
                      </div>
                  </el-form-item>
                </el-col>

                <el-tooltip
                  class="item"
                  effect="dark"
                  :content="$t('Clients.add_contact')"
                  placement="top-end"
                  v-if="index === 0">
                    <el-button
                      icon="el-icon-plus"
                      @click="$emit('addContactNumber')"
                      size="mini" round
                      class="align-center-right primary-button"
                      style="top: 50%;"
                      type="primary">
                    </el-button>
                </el-tooltip>
              </el-row>
            </div> -->
            <!-- Alternate Contact -->
            <div v-bind:key="index" v-for="(item, index) in form.contact_alternate">
              <el-form-item v-if="index === 0" :label="$t('Clients.contact_information')"></el-form-item>
              <el-form-item v-if="index === 1" :label="$t('Clients.alternate_contact_information')"></el-form-item>
              <el-row type="flex" align="middle" justify="center">
                <el-col :span="24" style="display: flex; align-items: center;">
                  <el-form-item
                    :prop="'contact_alternate.' + index + '.detail'"
                    class="form-error-spacing"
                    style="flex: 1;">
                      <el-input
                        :maxlength="(form.contact_alternate[index].type === '+63') ? '10' : (form.contact_alternate[index].type === '+86') ? '11' : '99'"
                        :placeholder="'Enter Details'"
                        v-model="form.contact_alternate[index].detail"
                        class="input-with-select">
                        <!-- style="width: calc(100% - 38px);" -->

                        <el-select v-model="form.contact_alternate[index].type" slot="prepend" placeholder="Select">
                          <el-option
                            :label="'+63'"
                            :value="'+63'">
                          </el-option>

                          <el-option
                            v-for="(type, typeIndex) in contactType"
                            :key="typeIndex"
                            :label="type"
                            :value="type">
                          </el-option>
                        </el-select>

                      </el-input>
                  </el-form-item>

                  <el-button
                    v-if="index > 0"
                    style="display: flex; margin-left: 10px;"
                    icon="el-icon-delete"
                    type="danger"
                    @click="$emit('removeContactNumber', index)"
                    size="mini" circle>
                  </el-button>

                  <el-tooltip
                    class="item"
                    effect="dark"
                    :content="$t('Clients.add_contact')"
                    placement="top-end"
                    v-if="index === 0">
                      <el-button
                        icon="el-icon-plus"
                        @click="$emit('addContactNumber')"
                        size="mini" round
                        style="display: flex; margin-left: 10px;"
                        type="primary">
                      </el-button>
                  </el-tooltip>
                </el-col>

              </el-row>

              <br v-if="index > 0" />
            </div>
          <!-- </el-form-item> -->
        </el-col>
      </el-row>
      <!-- End of First Row -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'ac-personal-info',
  props: ['form', 'rules', 'nationalities', 'countries', 'genders', 'civilStatusList', 'visaType'],
  data() {
    return {
      selectedType: '',
      contactType: [],
    }
  },
  created() {
    this.getContactType();
  },
  methods: {
    getContactType() {
      this.$store.dispatch('getContactType')
      .then(res => {

        var contactType = [];

        res.map((item, index) => {
          contactType.push(item)
        })

        this.contactType = contactType;
      })
    },

    displayContact (contact) {
      return contact.replace('+63', '')
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';

  .form-error-spacing {
    padding-bottom: 2px;
  }

  .hide-container {
    opacity: 0;
  }
</style>

<style lang="scss">
  .ac-contact-info {
    .el-select .el-input {
      width: 120px;
    }
  }
</style>
