<template>
  <div class="personal-info">
    <h1 class="form-title">{{ $t('Clients.personal_information') }}</h1>
    <div class="border-line"></div>
    <div class="inner-container">
      <!-- First Row -->
      <el-row :gutter="20" class="bottom-spacing">
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-form-item prop="first_name"
            :label="$t('Clients.first_name')">
            <el-input :placeholder="$t('Clients.enter_your_first_name')" v-model="form.first_name" class="form-input"></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-form-item 
            :label="$t('Clients.middle_name')"
            prop="middle_name"
            :rules="[
              { min: 2, message: $t('Clients.mname_min_req'), trigger: 'blur' }
            ]">
            <el-input :placeholder="$t('Clients.enter_your_middle_name')" v-model="form.middle_name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-form-item 
            prop="last_name" 
            :label="$t('Clients.last_name')"
          >
            <el-input :placeholder="$t('Clients.enter_your_last_name')" v-model="form.last_name"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- End of First Row -->
      <!-- Second Row -->
      <el-row :gutter="20" class="bottom-spacing">
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-form-item prop="birth_date" :label="$t('Clients.date_of_birth')">
            <el-date-picker
              style="width: 100%;"
              v-model="form.birth_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd"
              :picker-options="{
                  disabledDate(time) {
                    return time.getTime() > Date.now();
                  }
              }">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-form-item prop="nationalities" :label="$t('Clients.nationality')">
            <el-select
              v-model="form.nationalities[0]"
              :placeholder="$t('Clients.select')"
              style="width: 100%;"
              filterable
              clearable>
                <el-option
                  v-for="nationality in nationalities"
                  :key="nationality.id"
                  :label="nationality.name"
                  :value="nationality.id">
                </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-form-item prop="birth_country" :label="$t('Clients.birth_country')">
            <el-select
              v-model="form.birth_country"
              :placeholder="$t('Clients.select')"
              style="width: 100%;"
              filterable
              clearable>
                <el-option
                  v-for="country in countries"
                  :key="country.id"
                  :label="country.name"
                  :value="country.id">
                </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- End of Second Row -->
      <!-- Third Row -->
      <el-row :gutter="20" class="third-row bottom-spacing">
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-row :gutter="20" class="third-row">
            <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="12">
              <el-form-item prop="gender" :label="$t('Clients.gender')">
                <el-select v-model="form.gender" :placeholder="$t('Clients.select')" class="select-box-width" clearable="">
                  <el-option
                    v-for="gender in genders"
                    :key="$t(gender.gender)"
                    :label="$t(gender.gender)"
                    :value="$t(gender.gender)">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="12">
              <el-form-item prop="civil_status" :label="$t('Clients.civil_status')">
                <el-select v-model="form.civil_status" :placeholder="$t('Clients.select')" class="select-box-width" clearable>
                  <el-option
                    v-for="status in civilStatusList"
                    :key="$t(status.status)"
                    :label="$t(status.status)"
                    :value="$t(status.status)">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-row :gutter="20" class="third-row">
            <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="12">
              <el-form-item prop="passport" :label="$t('Clients.passport_no')">
                <el-input :placeholder="$t('Clients.enter_your_passport')" v-model="form.passport"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="12">
              <el-form-item prop="passport_expiration_date" :label="$t('Clients.passport_valid_until')">
                <el-date-picker
                  class="select-box-width"
                  v-model="form.passport_expiration_date"
                  type="date"
                  format="dd/MM/yyyy"
                  placeholder="dd/mm/yyyy"
                  value-format="yyyy-MM-dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
        <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
          <el-row :gutter="20" class="third-row">
            <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="12">
              <el-form-item :label="$t('Clients.height')">
                <el-input :placeholder="$t('Clients.enter_your_height')" v-model="form.height"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" :xl="12" :lg="12" :md="12" :sm="24" :xs="12">
              <el-form-item :label="$t('Clients.weight')">
                <el-input :placeholder="$t('Clients.enter_your_weight')" v-model="form.weight"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <!-- End of Third Row -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'ac-personal-info',
  props: ['form', 'rules', 'nationalities', 'countries', 'genders', 'civilStatusList', 'visaType']
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';

  .personal-info {

    .inner-container {
      // margin-top: 15px;
    }
  }
</style>

<style lang="scss">
  .personal-info {

    .third-row {
      display: flex;
      align-items: flex-end;
    }
  }

  @media only screen and (max-width: 991px) {
    .personal-info {

      .third-row {
        display: block;
      }

      .el-col-sm-24, .el-col-sm-12 {
        margin-bottom: 8px !important;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .personal-info {

      .el-col-xs-24 {
        margin-bottom: 8px;
      }

      .inner-container .el-row {
        margin-bottom: 0px !important;
      }

      .third-row {

        &:last-child {
          
          .el-form-item__label {
            // margin-top: 0px !important;
          }

          .el-col-xs-24 {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
</style>