<template>
  <div class="visa-info-container">
    <h1 class="form-title">{{ $t('Clients.visa_information') }}</h1>
    <div class="border-line"></div>
    <div class="inner-container">
      <el-row :gutter="30" align="bottom">
        <el-col :xl="3" :lg="3" :md="6" :sm="12" :xs="12">
          <el-form-item :label="$t('Clients.visa_type')">
            <el-select
              v-model="form.visa_type"
              :placeholder="$t('Clients.select')"
              style="width: 100%;"
              filterable
              clearable
              @change="$emit('updateVisaType', $event)">
                <el-option
                  v-for="type in visaType"
                  :key="type.type"
                  :label="type.type"
                  :value="type.type">
                </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <!-- Show if selected visa type is 9A -->
        <el-col :xl="7" :lg="7" :md="6" :sm="12" :xs="12" v-if="form.visa_type === '9A'">
          <el-form-item prop="arrival_date" :label="$t('Clients.arrival')">
            <el-date-picker
              class="select-box-width"
              v-model="form.arrival_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd"
              :picker-options="{
                  disabledDate(time) {
                    return time.getTime() > Date.now();
                  }
              }"
              @change="$emit('onChangeArrivalDate', $event)">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :xl="7" :lg="7" :md="6" :sm="12" :xs="12" v-if="form.visa_type === '9A'">
          <el-form-item prop="first_expiration_date" :label="$t('Clients.first_exp_date')">
            <el-date-picker
              class="select-box-width"
              v-model="form.first_expiration_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :xl="7" :lg="7" :md="6" :sm="12" :xs="12" v-if="form.visa_type === '9A'">
          <el-form-item prop="extended_expiration_date" :label="$t('Clients.ext_exp_date')">
            <el-date-picker
              class="select-box-width"
              v-model="form.extended_expiration_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <!-- End -->
        <!-- ============================================================================== -->
        <!-- Show if selected visa type is CWV -->
        <el-col :xl="7" :lg="7" :md="6" :sm="12" :xs="12" v-if="form.visa_type === 'CWV'">
          <el-form-item prop="expiration_date" :label="$t('Clients.first_exp_date')">
            <el-date-picker
              class="select-box-width"
              v-model="form.expiration_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <!-- End -->
        <!-- ============================================================================== -->
        <!-- Show if selected visa type is 9G/TRV -->
        <el-col :xl="7" :lg="7" :md="6" :sm="12" :xs="12" v-if="form.visa_type === '9G' || form.visa_type === 'TRV'">
          <el-form-item prop="expiration_date" :label="'Visa ' + $t('Clients.exp_date')">
            <el-date-picker
              class="select-box-width"
              v-model="form.expiration_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :xl="7" :lg="7" :md="6" :sm="12" :xs="12" v-if="form.visa_type === '9G' || form.visa_type === 'TRV'">
          <el-form-item prop="icard_issue_date" :label="$t('Clients.icard_date_issued')">
            <el-date-picker
              class="select-box-width"
              v-model="form.icard_issue_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :xl="7" :lg="7" :md="6" :sm="12" :xs="12" v-if="form.visa_type === '9G' || form.visa_type === 'TRV'">
          <el-form-item prop="icard_expiration_date" :label="'I-card ' + $t('Clients.exp_date')">
            <el-date-picker
              class="select-box-width"
              v-model="form.icard_expiration_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <!-- End -->
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ac-visa-info',
  props: ['form', 'rules', 'nationalities', 'countries', 'genders', 'civilStatusList', 'visaType'],
}
</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';
</style>

<style lang="scss">
  .visa-info-container {
    
    .inner-container {

      .el-row {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .visa-info-container {
    
      .inner-container {

        .el-row {
          display: block;
        }
      }

       .el-col-sm-24, .el-col-sm-12 {
        margin-bottom: 8px !important;
      }
    }
  }
</style>
