<template>
    <div class="form-container">
        <el-form ref="add_client_service_form" :rules="rules" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">

            <el-row :gutter="20" class="form-container">
              <el-col :span="24">
                <div class="label">{{ $t('Service.services') }}</div>
                <div>
                  <el-form-item prop="services">
                  <el-select v-model="form.services" filterable multiple :placeholder="$t('Clients.select_service')" style="width: 550px;" @change="getServiceCost()">
                      <el-option
                        v-for="s in services"
                        :key="s.id"
                        :label="s.detail"
                        :value="s.id" v-if="s.parent_id > 0">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>

            <el-row :gutter="20" class="form-container">
              <el-col :span="24">
                <div class="label">{{ $t('Clients.note') }}</div>
                <div>
                  <el-form-item prop="note">
                    <el-input v-model="form.note" :placeholder="$t('Clients.only_emp_can_see')" style="width: 550px;"></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>

            <el-row :gutter="20" class="form-container" v-if="(form.services).length < 2">
                <el-col :span="8">
                    <div class="label">{{ $t('Common.total_price') }}</div>
                    <div>
                        <el-form-item prop="charge">
                            <el-input v-model="total_price" class="smallInput" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="16" v-if="form.services.indexOf(454) !== -1 && (form.services).length === 1">
                    <div class="label">Please indicate how many month for up to date service</div>
                    <div>
                        <el-form-item prop="month">
                            <el-input type="number" min="0" v-model="form.month" style="width: 360px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <!-- <el-col :span="8">
                    <div class="label">{{ $t('Clients.charge') }}</div>
                    <div>
                        <el-form-item prop="charge">
                            <el-input v-model="form.charge" class="smallInput" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8">
                    <div class="label">{{ $t('Clients.extra_cost') }}</div>
                    <div>
                        <el-form-item prop="tip">
                            <el-input v-model="form.tip" class="smallInput" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8">
                    <div class="label">{{ $t('Common.cost') }}</div>
                    <div>
                        <el-form-item prop="cost">
                            <el-input v-model="form.cost" class="smallInput" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col> -->
            </el-row>
            <el-row :gutter="20">
              <el-col :span="20" v-if="form.services.indexOf(454) !== -1 && (form.services).length > 1">
                <div class="label">Please indicate how many month for up to date service</div>
                <div>
                  <el-form-item prop="month">
                    <el-input type="number" min="0" v-model="form.month" style="width: 550px;"></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>

            <div class="align-right">
                <el-button class="add-button" type="primary" :loading="loading" @click="onAddService('add_client_service_form')">{{ $t('Common.save') }}</el-button>
            </div>

        </el-form>
    </div>
</template>

<script>

export default {
  name: 'add-client-service',
  props: {

  },
  components: {

  },
  data () {
    return {
      loading: false,
      services: [],
      total_price: '',
      form: {
        services: [],
        note: '',
        tip: '',
        charge: '',
        month: '',
        cost: '',
        client_id: '',
        tracking: '',
        branch_id: 1
      },

      rules: {
        services: [
          { required: true, message: this.$t('Clients.select_service_to_add') }
        ],
        month: [
          { validator: this.monthValidation, trigger: 'blur' }
        ]
      }

    }
  },
  created () {
    const vm = this
    this.form.client_id = vm.$parent.$route.params.id
    // if((this.services).length == 1){
    this.$services.service_manager.getAllServices()
      .then(response => {
        this.services = response.data.data.services
      })
    // console.log(this.services);
    // }
    this.$eventBus.$emit('getBranch')
  },
  mounted () {
    this.$eventBus.$on('passBranch', (data) => {
      this.form.branch_id = data
    })
  },

  methods: {
    getServiceCost () {
      if ((this.form.services).length == 1) {
        var service_id = this.form.services[0]
        this.$store.dispatch('getServiceRate', {
          type: 'client',
          id: this.form.client_id,
          service_id: service_id,
        }).then(res => {
          if (res.status == 'Success') {
            const { tip, cost, charge, com_client, com_agent } = res.data
            this.form.tip = tip
            this.form.cost = cost
            this.form.charge = charge
            this.total_price = parseFloat(cost) + parseFloat(charge) + parseFloat(tip) + parseFloat(com_agent) + parseFloat(com_client);
          }
        })
      }
    },

    onAddService (clientForm) {
      this.errors = []
      this.form.tracking = this.$parent.$parent.$parent.$refs.modal.content.tracking
      this.$refs[clientForm].validate((response) => {
        if (response) {
          this.loading = true;
          this.$store.dispatch('addClientService', this.form)
            .then(res => {
              var responseStatus = res.status.toLowerCase()
              if (responseStatus === 'failed') {
                this.errors = res.errors
                this.$refs[clientForm].validate((response2) => { })

                this.loading = false
              } else {
                this.$message({
                  showClose: true,
                  message: this.$t('Common.successfully_added'),
                  type: 'success',
                  center: true
                })

                setTimeout(() => {
                  this.$parent.$emit('close')
                  this.$eventBus.$emit('updateClientProfile')
                  this.$eventBus.$emit('updateServiceList', this.form.tracking)

                  const clientIds = JSON.stringify([parseInt(this.form.client_id)])
                  const clientServiceIds = JSON.stringify(res.service_ids)
                  const redirect = 'redirect'
                  let groupId = 0;

                  const routeData = this.$router.resolve(
                    {
                      name: 'write-report-client-services',
                      params: { clientIds, clientServiceIds, groupId, redirect }
                    }
                  )

                  window.open(routeData.href, '_blank')

                  this.loading = false
                }, 1000)
              }
            })
        }
      })
    },

    monthValidation(rule, value, callback){
      if(value <= 0){
        callback(new Error('0 to negative number is invalid'))
      } else if(value.indexOf('.') !== -1) {
        callback(new Error('decimal number is invalid'))
      } else if(this.form.services.indexOf(454) !== -1 && value.length !== 0) {
        callback()
      } else {
        callback(new Error('month is required'))
      }
    }

  }
}
</script>

<style lang="scss">
    .add-button-container {
        margin-bottom: 40px;
    }

    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }

    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }

    .hide {
        opacity: 0;
    }

    .form-container {
        margin-bottom: 0px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }
    .smallInput{
      width: 170px;
    }

    // remove arrow indicator for type="number"
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
</style>
