<template>
  <div>
    <el-form ref="client_form" :model="form" :rules="rules">
      <el-row :gutter="20" class="form-container">
        <el-col :span="12">
          <div class="label">{{ $t('Clients.contact_number') }}</div>
          <div>
            <el-form-item prop="contact_number">
              <el-input v-model="form.contact_number" maxlength="15" @keypress.native="numbersOnly">
                <template slot="prepend">+63</template>
              </el-input>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="label">{{ $t('Clients.branch') }}</div>
          <div>
            <el-form-item prop="branch">
              <el-select v-model="form.branch" :placeholder="$t('Clients.select')" style="width: 100%;" filterable>
                <el-option
                  v-for="branch in branches"
                  :key="branch.id"
                  :label="branch.name"
                  :value="branch.id">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <!-- <el-col :span="24" class="add-btn-container align-right">
          <el-button class="add-button" @click="showHideDetails()">
            {{ (!isDetailsVisible) ? $t('Clients.show_details') : $t('Clients.hide_details') }}
          </el-button>
        </el-col> -->
      </el-row>

      <el-row :gutter="20" class="form-container" v-if="isDetailsVisible">
        <el-col :span="12">
          <div class="label">{{ $t('Clients.first_name') }}</div>
          <div>
            <el-form-item prop="first_name">
              <el-input v-model="form.first_name"></el-input>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="label">{{ $t('Clients.last_name') }}</div>
          <div>
            <el-input v-model="form.last_name"></el-input>
          </div>
        </el-col>
      </el-row>

      <el-row :gutter="20" class="form-container" v-if="isDetailsVisible">
        <el-col :span="8">
          <div class="label">{{ $t('Clients.date_of_birth') }}</div>
          <div>
            <el-date-picker
              style="width: 100%;"
              v-model="form.birthdate"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="label">{{ $t('Clients.gender') }}</div>
          <div>
            <el-select v-model="form.gender" :placeholder="$t('Clients.select')" class="select-box-width">
              <el-option
                v-for="gender in genders"
                :key="$t(gender.gender)"
                :label="$t(gender.gender)"
                :value="$t(gender.gender)">
              </el-option>
            </el-select>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="label">{{ $t('Clients.passport_no') }}</div>
          <div>
            <el-form-item prop="passport">
              <el-input v-model="form.passport"></el-input>
            </el-form-item>
          </div>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-col :span="12">
            <div class="align-left">
              <el-button class="add-btn" @click="showHideDetails()">
                {{ (!isDetailsVisible) ? $t('Clients.show_details') : $t('Clients.hide_details') }}
              </el-button>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="align-right-btn">
              <el-button @click="close">{{ $t('Common.close') }}</el-button>
              <el-button class="add-btn" type="primary" @click="onSubmitContact('client_form')">
                {{ $t('Common.continue') }}
              </el-button>
            </div>
          </el-col>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'add-temp-client',
  data () {
    var isContactNumberAvailable = (rule, value, callback) => {
      if (this.errors.contact_number !== null && this.errors.contact_number !== undefined) {
        // callback(new Error(this.$t('Clients.number_already_taken')))
        callback(new Error(this.errors.contact_number[0]))
      } else {
        if(value.length < 10 || value.length > 13) {
          callback(new Error(this.$t('Common.contact-min11-max13')))
        } else {
          callback()
        }
      }
    }

    var isPassportAvailable = (rule, value, callback) => {
      if(this.form.passport !== null && this.form.passport !== "") {
        if (this.errors.passport !== null && this.errors.passport !== undefined) {
          callback(new Error(this.$t('Clients.passport_already_taken')))
        } else {
          callback()
        }
      } else {
        callback()
      }
    }

    var nameValidation = (rule, value, callback) => {
      if(value === '') {
        callback()
      } else if(value.length < 2) {
        callback(new Error(this.$t('Clients.fname_error')))
      } else {
        callback()
      }
    }

    return {
      currentActiveForm: 0,
      isDetailsVisible: false,
      form: {
        contact_number: '',
        branch: '',
        first_name: '',
        last_name: '',
        passport: '',
        birthdate: '',
        gender: ''
      },
      contact_status_action: [
        {
          status: 'existing',
          action: 1
        }
      ],
      country_code: [
        {
          id: 0,
          code: '+63'
        },
        {
          id: 1,
          code: '+86'
        }
      ],
      genders: [
        {
          gender: 'Clients.male'
        },
        {
          gender: 'Clients.female'
        }
      ],
      branches: [],
      rules: {
        contact_number: [
          { required: true, message: this.$t('CPanel.contact_is_required') },
          { validator: isContactNumberAvailable, trigger: 'blur'}
        ],
        branch: [
          { required: true, message: this.$t('CPanel.branch_is_required') }
        ],
        first_name: [
          { validator: nameValidation, trigger: 'blur'}
        ],
        passport: [
          { validator: isPassportAvailable, trigger: 'blur'}
        ]
      },
      errors: []
    }
  },
  created () {
    // GET all list of branches
    this.$store.dispatch('getAllBranches')
    .then(res => {
      this.branches = res
    })
    .catch(res => console.log(res))
  },

  methods: {
    addContactNumber () {
      var newNum = {
        country_code: '',
        number: '',
        branch: []
      }

      var newStatusAction = {
        status: 'existing',
        action: 1
      }

      this.form.contact_numbers = [...this.form.contact_numbers, newNum]
      this.contact_status_action = [...this.contact_status_action, newStatusAction]
      this.rules.contact_numbers = [...this.rules.contact_numbers, this.rules.contact_numbers[0]]
    },

    showHideDetails () {
      this.isDetailsVisible = !this.isDetailsVisible;
    },

    removeContactNumber (slctdIndex) {
      // Remove selected index in form.contact_numbers
      var newArr = []
      this.form.contact_numbers.filter((contacts, index) => {
        if (index !== slctdIndex) {
          newArr.push(contacts)
        }
      })
      this.form.contact_numbers = newArr

      // Remove selected index in contact_status_action
      var newStatusAction = []
      this.contact_status_action.filter((contacts, index) => {
        if (index !== slctdIndex) {
          newStatusAction.push(contacts)
        }
      })
      this.contact_status_action = newStatusAction
    },

    validateContactForm () {
      var counter = 0

      this.form.contact_numbers.filter((contacts, index) => {
        if (contacts.country_code === '') {
          counter++
        }

        if (contacts.number === '') {
          counter++
        }

        if (contacts.branch === '') {
          counter++
        }
      })

      return counter
    },

    onSubmitContact (clientForm) {
      this.errors = [];
      this.$refs[clientForm].validate((response) => {
        if(response) {
          this.$store.dispatch('addTemporaryClient', this.form)
          .then(res => {
            var responseStatus = res.status.toLowerCase()
            if(responseStatus === 'failed') {
              this.errors = res.errors
              this.$refs[clientForm].validate((response2) => { })
            } else {
              this.$message({
                showClose: true,
                message: this.form.contact_number + ' ' + this.$t('Clients.client_added'),
                type: 'success',
                center: true
              })

              setTimeout(() => {
                if(this.$router.currentRoute.name !== 'clients') {
                  this.$parent.$emit('close')
                  this.$router.replace({name: 'clients'})
                } else {
                  this.$parent.$emit('close')
                  this.$eventBus.$emit('changeStatusResult', true)
                }
              }, 500)
            }
          })
        }
      })
    },

    backToPreviousForm () {
      this.currentActiveForm = 0
    },

    numbersOnly ($event) {
      return this.$store.dispatch('numbersOnly', $event)
    },

    close () {
      this.$parent.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
  .add-btn-container {
    margin-top: -5px;
  }

  .add-btn {
    background-color: #1AB394;
    border-color: #1AB394;
    padding: 9px 15px;
    color: #fff;
  }

  .add-button:hover {
    background: #18A689;
    border-color: #18A689;
  }

  .hide {
    opacity: 0;
  }

  .form-container {
    // margin-bottom: 15px;
  }

  .align-right-btn {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }

  .select-box-width {
    width: 100%;
  }

  .label {
    margin-bottom: 3px;
  }

  .btn-container {
    display: flex;
  }
</style>
