<template>
  <div class="add-client-container">
    <div class="form-container">
      <el-form ref="client_form" :model="form" :rules="rules">
        <!-- Personal Information -->
        <PersonalInfoForm
          v-bind:form="form"
          v-bind:rules="rules"
          v-bind:nationalities="nationalities"
          v-bind:countries="countries"
          v-bind:genders="genders"
          v-bind:civilStatusList="civilStatusList"
          v-bind:visaType="visaType" />
        <!-- End of Personal Information -->
        <br />
        <!-- Visa Information -->
        <VisaInfoForm
          v-bind:form="form"
          v-bind:rules="rules"
          v-bind:nationalities="nationalities"
          v-bind:countries="countries"
          v-bind:genders="genders"
          v-bind:civilStatusList="civilStatusList"
          v-bind:visaType="visaType"
          v-on:updateVisaType="updateVisaType"
          v-on:onChangeArrivalDate="onChangeArrivalDate" />
        <!-- End of Visa Information -->
        <br />
        <!-- Contact Information -->
        <ContactInfoForm
          v-bind:form="form"
          v-bind:rules="rules"
          v-bind:nationalities="nationalities"
          v-bind:countries="countries"
          v-bind:genders="genders"
          v-bind:civilStatusList="civilStatusList"
          v-bind:visaType="visaType"
          v-on:removeContactNumber="removeContactNumber"
          v-on:addContactNumber="addContactNumber"
          v-on:numbersOnly="numbersOnly"
          v-on:validateContact="validateContact" />
        <!-- End of Contact Information -->
        <br />
        <!-- Account Information -->
        <AccountInfoForm
          v-bind:form="form"
          v-bind:rules="rules"
          v-bind:branches="branches"
          v-bind:groups="groups" />
        <!-- End of Account Information -->
        <br />
        <div class="inner-container">
          <el-row :gutter="30">
            <el-col :span="24">
              <el-button type="danger" @click="goBackToClients">{{ $t('Common.back') }}</el-button>
              <el-button
                type="primary"
                @click="onSubmit('client_form')"
                v-if="this.$route.params.id === undefined || this.$route.params.id === null">
                {{ $t('Common.save') }}
              </el-button>
              <el-button
                type="primary"
                @click="onSubmit('client_form')"
                v-if="this.$route.params.id !== undefined && this.$route.params.id !== null">
                {{ $t('Common.update') }}
              </el-button>
            </el-col>
          </el-row>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import PersonalInfoForm from './ac-personal-info'
import VisaInfoForm from './ac-visa-info'
import ContactInfoForm from './ac-contact-info'
import AccountInfoForm from './ac-account-info'

export default {
  name: 'add-client-form',
  components: {
    PersonalInfoForm, VisaInfoForm, ContactInfoForm, AccountInfoForm
  },
  props: ['countries', 'nationalities', 'branches', 'groups', 'data'],
  data () {
    var emailValidator = (rule, value, callback) => {
      if (value !== '' && value !== null) {
        if (this.validateEmail(value)) {
          if (this.errors.email !== null && this.errors.email !== undefined) {
            callback(new Error(this.errors.email[0]))
          } else {
            callback()
          }
        } else {
          callback(new Error(this.$t('Clients.invalid_email')))
        }
      } else {
        callback()
      }
    }

    var passportExpirationIsRequired = (rule, value, callback) => {
      if (this.form.passport !== null && this.form.passport !== '') {
        if (value !== '' && value !== null) {
          callback()
        } else {
          callback(new Error(this.$t('CPanel.passport_validity_required')))
        }
      } else {
        callback()
      }
    }

    var contactNumberValidation = (rule, value, callback) => {
      var contact_numbers = this.form.contact_alternate

        if(value === "") {
          if(this.form.groups.length > 0) {
            callback()
          } else {
            callback(new Error(this.$t('CPanel.contact_is_required')))
          }
        } else {
          // Check if there are any duplicate contact numbers entered
          var counter = 0
          contact_numbers.filter((contacts, index) => {
            if (contacts.detail === value) {
              counter++
            }
          })

          var contactIndex = 0
          if (counter > 1) {
            callback(new Error(this.$t('Clients.duplicate_number')))
          } else {
            contact_numbers.filter((contacts, index) => {
              if (contacts.detail === value) {
                contactIndex = index
              }
            })

            // Check the minimum characters of contact numbers
            if(contact_numbers[contactIndex].type === '+63' || contact_numbers[contactIndex].type === '+86') {
              if(!value.match(/^[0-9]+$/)){
                callback(new Error('Please input numbers only.'))
              }
            }
            if(contact_numbers[contactIndex].type === '+63') {
              if(value.length < 10 || value.length > 10) {
                callback(new Error('Contact number should be 10 digits.'))
              }
            }
            if(contact_numbers[contactIndex].type === '+86') {
              if(value.length < 11 || value.length > 11) {
                callback(new Error('Contact number should be 11 digits.'))
              }
            }

            var typeCounter = 0;
            contact_numbers.filter((contacts, index) => {
              if(contacts.type === '') {
                typeCounter++;
              }
            })

            // if(typeCounter > 0) {
            //   callback(new Error('Select contact type.'))
            // }

            if(contact_numbers[contactIndex].type === '') {
              callback(new Error('Select contact type.'))
            }

            // Check if the entered contact number is already taken by other user
            // if (this.errors['contact_numbers.' + contactIndex + '.detail'] !== null && this.errors['contact_numbers.' + contactIndex + '.detail'] !== undefined) {
            if (this.errors['contact_alternate.' + contactIndex + '.detail'] !== null && this.errors['contact_alternate.' + contactIndex + '.detail'] !== undefined) {
              callback(new Error(this.$t('Clients.number_already_taken')))
            } else {
              callback()
            }
          }
        }

    }

    var errorResponse = (rule, value, callback) => {
      if (this.errors.length > 0) {
        if (this.errors[0].email !== null && this.errors[0].email !== undefined) {
          callback(new Error(this.errors.email[0]))
        } else {
          callback()
        }
      }
    }

    var visaTypeFieldsValidation = (rule, value, callback) => {
      if (this.form.visa_type !== '') {
        if (this.form.visa_type === '9A') {
          this.isVisaTypeFieldIsEmpty(rule, value, callback)
        } else if (this.form.visa_type === '9G' || this.form.visa_type === 'TRV') {
          this.isVisaTypeFieldIsEmpty(rule, value, callback)
        } else if (this.form.visa_type === 'CWV') {
          this.isVisaTypeFieldIsEmpty(rule, value, callback)
        } else {
          callback()
        }
      } else {
        callback()
      }
    }

    var birthDateValidation = (rule, value, callback) => {
      var today = moment(new Date()).format('YYYY-MM-DD')
      if(!moment(value).isBefore(today)) {
        callback(new Error(this.$t('Clients.bday_invalid2')))
        this.form.birth_date = ''
      } else {
        callback()
      }
    }

    var nameValidation = (rule, value, callback) => {
      if(value.length < 2) {
        callback(new Error(this.$t('Clients.fname_error')))
      } else {
        callback()
      }
    }

    return {
      formData: [],
      form: {
        first_name: '',
        middle_name: '',
        last_name: '',
        birth_date: '',
        gender: '',
        civil_status: '',
        height: '',
        weight: '',
        nationalities: [],
        birth_country: '',
        address: '',
        contact_numbers: [
          // {
          //   number: '',
          //   is_primary: 1,
          //   is_mobile: true
          // }
        ],
        contact_alternate: [
          {
            detail: '',
            type: ''
          }
        ],
        branches: [],
        email: '',
        passport: '',
        passport_expiration_date: '',
        groups: [],
        visa_type: '',
        arrival_date: '',
        first_expiration_date: '',
        extended_expiration_date: '',
        expiration_date: '',
        icard_issue_date: '',
        icard_expiration_date: ''
      },
      genders: [
        {
          gender: 'Clients.male'
        },
        {
          gender: 'Clients.female'
        }
      ],
      civilStatusList: [
        {
          status: 'Clients.single'
        },
        {
          status: 'Clients.married'
        },
        {
          status: 'Clients.widowed'
        },
        {
          status: 'Clients.divorced'
        },
        {
          status: 'Clients.separated'
        }
      ],
      visaType: [
        {
          type: '9A'
        },
        {
          type: '9G'
        },
        {
          type: 'TRV'
        },
        {
          type: 'CWV'
        }
      ],
      rules: {
        first_name: [
          { required: true, message: this.$t('CPanel.fname_is_required') },
          { validator: nameValidation, trigger: 'blur' }
        ],

        last_name: [
          { required: true, message: this.$t('CPanel.lname_is_required') },
          { min: 2, message: this.$t('Clients.lname_error'), trigger: 'blur' }
        ],

        birth_date: [
          { required: true, message: this.$t('CPanel.bday_is_required') },
          { validator: birthDateValidation, trigger: 'blur' }
        ],

        gender: [
          { required: true, message: this.$t('CPanel.gender_is_required') }
        ],

        civil_status: [
          { required: true, message: this.$t('CPanel.civil_status_is_required') }
        ],

        nationalities: [
          { required: true, message: this.$t('CPanel.nationality_is_required') }
        ],

        birth_country: [
          { required: true, message: this.$t('CPanel.birth_country_required') }
        ],

        address: [
          { required: true, message: this.$t('CPanel.address_is_required') }
        ],

        branches: [
          { required: true, message: this.$t('CPanel.branch_is_required') }
        ],

        contact_numbers: [
          {
            number: [
              { validator: contactNumberValidation, trigger: 'blur' }
            ]
          }
        ],

        contact_alternate: [
          {
            detail: [
              { validator: contactNumberValidation, trigger: 'blur' }
            ]
          }
        ],

        email: [
          { validator: emailValidator, trigger: 'blur' }
        ],

        passport: [
          { required: true, message: this.$t('CPanel.passport_is_required') }
        ],

        passport_expiration_date: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Clients.passport_exp')) }
          // { validator: passportExpirationIsRequired, trigger: 'blur' }
        ],

        arrival_date: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Clients.arrival')) },
          { validator: visaTypeFieldsValidation, trigger: 'blur' }
        ],

        first_expiration_date: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Clients.first_exp_date')) },
          { validator: visaTypeFieldsValidation, trigger: 'blur' }
        ],

        extended_expiration_date: [
          { validator: visaTypeFieldsValidation, trigger: 'blur' }
        ],

        expiration_date: [
          { required: true, message: 'Visa ' + this.replaceName(this.$t('Service.is_required'), this.$t('Clients.exp_date')) },
          { validator: visaTypeFieldsValidation, trigger: 'blur' }
        ],

        icard_issue_date: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Clients.icard_date_issued')) },
          { validator: visaTypeFieldsValidation, trigger: 'blur' }
        ],

        icard_expiration_date: [
          { required: true, message: 'I-card ' + this.replaceName(this.$t('Service.is_required'), this.$t('Clients.exp_date')) },
          { validator: visaTypeFieldsValidation, trigger: 'blur' }
        ]
      },
      errors: [

      ]
    }
  },
  methods: {
    contactNumberValidation(rule, value, callback){
      var contact_numbers = this.form.contact_alternate

      if(value === "") {
        if(this.form.groups.length > 0) {
          callback()
        } else {
          callback(new Error(this.$t('CPanel.contact_is_required')))
        }
      } else {
        // Check if there are any duplicate contact numbers entered
        var counter = 0
        contact_numbers.filter((contacts, index) => {
          if (contacts.detail === value) {
            counter++
          }
        })

        var contactIndex = 0
        if (counter > 1) {
          callback(new Error(this.$t('Clients.duplicate_number')))
        } else {
          contact_numbers.filter((contacts, index) => {
            if (contacts.detail === value) {
              contactIndex = index
            }
          })

          // Check the minimum characters of contact numbers
          if(contact_numbers[contactIndex].type === '+63' || contact_numbers[contactIndex].type === '+86') {
            if(!value.match(/^[0-9]+$/)){
              callback(new Error('Please input numbers only.'))
            }
          }
          if(contact_numbers[contactIndex].type === '+63') {
            if(value.length < 10 || value.length > 10) {
              callback(new Error('Contact number should be 10 digits.'))
            }
          }
          if(contact_numbers[contactIndex].type === '+86') {
            if(value.length < 11 || value.length > 11) {
              callback(new Error('Contact number should be 11 digits.'))
            }
          }

          var typeCounter = 0;
          contact_numbers.filter((contacts, index) => {
            if(contacts.type === '') {
              typeCounter++;
            }
          })

          // if(typeCounter > 0) {
          //   callback(new Error('Select contact type.'))
          // }

          if(contact_numbers[contactIndex].type === '') {
            callback(new Error('Select contact type.'))
          }

          // Check if the entered contact number is already taken by other user
          // if (this.errors['contact_numbers.' + contactIndex + '.detail'] !== null && this.errors['contact_numbers.' + contactIndex + '.detail'] !== undefined) {
          if (this.errors['contact_alternate.' + contactIndex + '.detail'] !== null && this.errors['contact_alternate.' + contactIndex + '.detail'] !== undefined) {
            callback(new Error(this.$t('Clients.number_already_taken')))
          } else {
            callback()
          }
        }
      }

    },
    onSubmit (clientForm) {
      const form = this.form
      var counter = 0
      this.errors = []

      form.first_name = this.capitalizeFirstLetter(form.first_name)
      form.last_name = this.capitalizeFirstLetter(form.last_name)

      // Convert boolean value to 1 or 0
      this.form.contact_numbers.filter((contacts, index) => {
        if (contacts.is_mobile) {
          this.form.contact_numbers[index].is_mobile = 1
        } else {
          this.form.contact_numbers[index].is_mobile = 0
        }
      })
      // End

      this.$refs[clientForm].validate((response) => {
        if (response) {
          // Convert contact_numbers.is_mobile to integer
          // form.contact_numbers.filter((item, index) => {
          //   if(!item.is_mobile) {
          //     item.is_mobile = 0
          //   } else {
          //     item.is_mobile = 1
          //   }
          // })
          // ============================================

          console.log('Form', this.form)

          if (typeof this.$route.params.id !== 'undefined') {
            this.updateClient(form, clientForm)
          } else {
            this.addNewClient(form, clientForm)
          }
        }
      })
    },

    addNewClient (form, clientForm) {
      var self = this

      this.$store.dispatch('addClient', form)
        .then(res => {
          var responseStatus = res.status.toLowerCase()
          // If adding of client status is failed
          if (responseStatus === 'failed') {
            this.errors = res.errors

            setTimeout(() => {
              self.$refs[clientForm].validate((response2) => { })
            }, 500)
          } else { // If adding of client status is success
            this.$message({
              showClose: true,
              message: form.first_name + ' ' + form.last_name + ' ' + this.$t('Clients.client_added'),
              type: 'success',
              center: true
            })

            this.$router.push('/clients')
          }
        })
        .catch(res => console.log(res))
    },

    updateClient (form, clientForm) {
      this.$store.dispatch('updateClient', {
        id: this.$route.params.id,
        model: form
      })
        .then(res => {

          console.log('edit result', res)

          var responseStatus = res.status.toLowerCase()
          // If adding of client status is failed
          if (responseStatus === 'failed') {
            this.errors = res.errors
            this.$refs[clientForm].validate((response2) => { })
          } else { // If adding of client status is success
            this.$message({
              showClose: true,
              message: form.first_name + ' ' + form.last_name + ' ' + this.$t('Clients.client_updated'),
              type: 'success',
              center: true
            })

            setTimeout(() => {
              // this.$router.go('/clients/profile/' + this.$route.params.id)
              let routeData = this.$router.resolve({name: 'clients-profile', params: {id: this.$route.params.id}});
              window.open(routeData.href, '_blank');
              window.close()
            }, 1000)

          }
        })
        .catch(res => console.log(res))
    },

    capitalizeFirstLetter (name) {
      return name.charAt(0).toUpperCase() + name.slice(1)
    },

    addContactNumber () {
      var newNum = {
        detail: '',
        type: ''
      }

      this.form.contact_alternate = [...this.form.contact_alternate, newNum]
      this.rules.contact_alternate = [...this.rules.contact_alternate, this.rules.contact_alternate[0]]
    },

    removeContactNumber (slctdIndex) {
      // Remove selected index in form.contact_numbers
      var newArr = []
      this.form.contact_alternate.filter((contacts, index) => {
        if (index !== slctdIndex) {
          newArr.push(contacts)
        }
      })
      this.form.contact_alternate = newArr

      // Remove selected index in rules.contact_numbers
      var newNumRule = []
      this.rules.contact_alternate.filter((contacts, index) => {
        if (index !== slctdIndex) {
          newNumRule.push(contacts)
        }
      })
      this.rules.contact_alternate = newNumRule
    },

    isNotEmpty (data) {
      if (data !== null && data !== undefined && data !== '') {
        return true
      }

      return false
    },

    isVisaTypeFieldIsEmpty (rule, value, callback) {
      if (value === '') {
        switch (rule.field) {
          case 'arrival_date':
            callback(new Error(this.replaceName(this.$t('Service.is_required'), this.$t('Clients.arrival'))))

            break
          case 'first_expiration_date':
            callback(new Error(this.replaceName(this.$t('Service.is_required'), this.$t('Clients.first_exp_date'))))

            break
          case 'expiration_date':
            callback(new Error(this.replaceName(this.$t('Service.is_required'), this.$t('Clients.exp_date'))))

            break
          case 'icard_issue_date':
            callback(new Error(this.replaceName(this.$t('Service.is_required'), this.$t('Clients.icard_date_issued'))))

            break
          case 'icard_expiration_date':
            callback(new Error('ICard'+this.replaceName(this.$t('Service.is_required'), this.$t('Clients.exp_date'))))

            break
          default:
            callback()
            break
        }
      } else {

        if(rule.field === 'arrival_date') {
          var slctdDate = moment(String(value)).format('YYYY-MM-DD')
          var dateToday = moment(new Date()).format('YYYY-MM-DD')

          if(dateToday >= slctdDate) {
            callback()
          } else {
            this.form.arrival_date = ''
            callback(new Error(this.$t('Common.err-arrival-date')))
          }
        }

        callback()
      }
    },

    validateEmail (email) {
      return (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
    },

    numbersOnly ($event) {
      return this.$store.dispatch('numbersOnly', $event)
    },

    goBackToClients () {
      this.$router.go(-1)
    },

    getNationalityID (natData) {
      var nationalities = []
      natData.filter((nat, index) => {
        nationalities = [...nationalities, nat.id]
      })

      return nationalities
    },

    getBranchID (brData) {
      var branches = []
      branches.push(brData.id)

      return branches
    },

    getGroupID (grpData) {
      var groups = []
      grpData.filter((group, index) => {
        groups = [...groups, group.group_id]
      })

      return groups
    },

    getContactNumbers (contacts) {
      if(contacts.length < 1) {
        return [
          {
            number: '',
            is_primary: 1,
            is_mobile: 1
          }
        ]
      } else {
        // return contacts
        return [
          {
            number: contacts[0].number.replace('+63', ''),
            is_primary: contacts[0].is_primary,
            is_mobile: contacts[0].is_mobile
          }
        ]
      }
    },

    getContactAlternate (contacts, cn) {
      var data = [];
      if(cn.length > 0) {
        cn.map((item, index) => {
          item.number = item.number.replace('+63','')
          data.push({
            detail: item.number,
            type: '+63'
          })
        })
      }

      if(contacts.length > 0) {
        contacts.map((item, index) => {
          data.push(item)
        })
      }

      let i=0
      data.map(res => {
        if(i!=0){
          let rules = {
            detail: [
              { validator: this.contactNumberValidation, trigger: 'blur' }
            ]
          }
          this.rules.contact_alternate.push(rules)
        }
        i++
      })

      if(data.length < 1) {
        return [
          {
            detail: '',
            type: ''
          }
        ]
      } else {
        return data
      }
    },

    updateTextFields () {
      this.form.first_name = this.formData.first_name
      this.form.middle_name = this.formData.middle_name
      this.form.last_name = this.formData.last_name
      this.form.birth_date = this.formData.birth_date
      this.form.gender = this.formData.gender
      this.form.civil_status = this.formData.civil_status
      this.form.height = this.formData.height
      this.form.weight = this.formData.weight
      this.form.nationalities = this.getNationalityID(this.formData.nationalities)
      this.form.birth_country = this.formData.birth_country_id
      this.form.address = this.formData.address
      this.form.contact_numbers = this.getContactNumbers(this.formData.contact_numbers)
      this.form.contact_alternate = this.getContactAlternate(this.formData.contact_alternate, this.formData.contact_numbers)
      this.form.branches = this.getBranchID(this.formData.branch),
      this.form.email = this.formData.email
      this.form.passport = this.formData.passport
      this.form.passport_expiration_date = this.formData.passport_exp_date
      this.form.groups = this.getGroupID(this.formData.groups),
      this.form.visa_type = this.formData.visa_type
      this.form.arrival_date = this.formData.arrival_date
      this.form.first_expiration_date = this.formData.first_expiration_date
      this.form.extended_expiration_date = this.formData.extended_expiration_date
      this.form.expiration_date = this.formData.expiration_date
      this.form.icard_issue_date = this.formData.icard_issue_date
      this.form.icard_expiration_date = this.formData.icard_expiration_date
    },

    updateVisaType (events) {
      this.$refs.client_form.clearValidate('arrival_date')
      this.$refs.client_form.clearValidate('first_expiration_date')
      this.$refs.client_form.clearValidate('extended_expiration_date')
      this.$refs.client_form.clearValidate('expiration_date')
      this.$refs.client_form.clearValidate('icard_issue_date')
      this.$refs.client_form.clearValidate('icard_expiration_date')

      this.form.arrival_date = ''
      this.form.first_expiration_date = ''
      this.form.extended_expiration_date = ''
      this.form.expiration_date = ''
      this.form.icard_issue_date = ''
      this.form.icard_expiration_date = ''
    },

    onChangeArrivalDate (events) {
      var firstExp = moment(String(events)).add(59, 'd').format('YYYY-MM-DD')
      this.form.first_expiration_date = firstExp
    },

    validateContact (index) {
      this.$refs['client_form'].validateField('contact_numbers.' + index + '.number')
    },

    replaceName (message, data) {
      return message.replace(':name', data)
    }
  },
  created () {
    // If data is not empty => update fields
    setTimeout(() => {
      if(this.data !== undefined && this.data !== null) {
        if (this.data.id !== undefined && this.data.id !== null) {
          this.formData = this.data
          this.updateTextFields()
        }
      }
    }, 1500)
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../assets/styles/_view_components.scss';
</style>

<style lang="scss">
  .add-client-container {
    .el-form-item__label {
      line-height: 12px;
      margin-top: 15px;
      font-size: 12px;
    }

    .el-form-item__content {
      .el-date-editor.el-input,
      .el-date-editor.el-input__inner,
      .form-input,
      .el-input,
      .el-textarea {
        margin-top: 5px !important;
      }
    }

    .form-label {
      .el-form-item__content {
        margin-bottom: -10px;
      }
    }
  }
</style>
