<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules">
      <el-row :gutter="20" class="form-container">
        <el-col :span="24">
          <el-form-item prop="remarks">
            <el-input
              type="textarea"
              :rows="3"
              placeholder="Remarks"
              v-model="form.remarks">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <br />
      <el-row>
        <el-col :span="24">
          <el-col :span="24">
            <div class="align-right-btn">
              <el-button @click="close" size="medium">{{ $t('Common.close') }}</el-button>
              <el-button size="medium" type="primary" @click="onSubmitRemarks('form')">
                {{ $t('Common.submit') }}
              </el-button>
            </div>
          </el-col>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
    export default {
        name: "add-remarks",
        data () {
          return {
            isProfile: false,
            form: {
              id: '',
              remarks: ''
            },
            rules: {
              remarks: [
                { required: true, message: this.$t('Clients.remarks_is_required') }
              ],
            }
          }
        },
        methods: {
          close () {
            this.$parent.$emit('close')
          },
          onSubmitRemarks(form) {
            this.$refs[form].validate((response) => {
              if(response) {
                this.$store.dispatch('addClientsRemark', this.form)
                  .then(res => {
                    if(res.status === 'failed') {
                      this.$refs[form].validate(() => {})
                    } else {
                      this.$message({
                        showClose: true,
                        message: this.$t('Clients.remarks-add-success'),
                        type: 'success',
                        center: true
                      })
                      setTimeout(() => {
                        this.$eventBus.$emit('updateClientProfile')
                        this.$eventBus.$emit('changeStatusResult')
                        this.close()
                      }, 500)
                    }
                  })
              }
            })
          }
        },
      created () {
        this.form.id = this.$parent.$parent.content.id
      }
    }
</script>

<style lang="scss" scoped>
  .align-right-btn {
    display: flex;
    justify-content: flex-end;
  }

  .add-btn {
    background-color: #1AB394;
    border-color: #1AB394;
    padding: 9px 15px;
    color: #fff;

    &:hover {
      background-color: #1ed1ad;
      border-color: #1ed1ad;
    }
  }
</style>
