<template>
    <div>
        <el-form ref="client_funds_form" :model="form" :rules="rules" :inline="true" label-width="100px" style="width: 100%;">
                  <el-form-item :label="$t('Common.type')+':'" label-position="center" >
                      <el-select v-model="form.type" :placeholder="$t('Clients.select')"  filterable>
                          <!-- <el-option
                              v-for="type in types"
                              :label="type"
                              :value="type">
                          </el-option> -->
                          <el-option label="Add Funds to Wallet" value="Deposit"></el-option>
                          <!-- <el-option label="Payment" value="Payment"></el-option> -->
                          <el-option label="Withdraw" value="Refund"></el-option>
                          <!-- <el-option label="Promo" value="Promo" v-if="discountAccess()"></el-option> -->
                          <el-option label="Balance Transfer" value="Balance Transfer"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item :label="$t('Common.storage')+':'"  label-position="center" v-if="form.type == 'Deposit' || form.type == 'Refund'">
                      <el-select v-model="form.storage" :placeholder="$t('Clients.select')" style="width: 100%;" filterable @change="storageOnChange()">
                          <el-option label="Cash" value="Cash"></el-option>
                          <el-option label="Bank" value="Bank"></el-option>
                          <el-option label="Alipay" value="Alipay" v-if="form.type =='Deposit'"></el-option>
                          <el-option label="Promo" value="Promo" v-if="form.type =='Deposit'"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item :label="$t('Common.bank')+':'" label-position="center" v-if="form.storage != 'Cash' && form.storage != 'Promo'">
                      <el-select v-model="form.bank" :placeholder="$t('Clients.select')" style="width: 100%;" filterable>
                          <el-option label="AUB" value="aub"></el-option>
                          <el-option label="Metro Bank" value="metrobank" v-if="form.storage !='Alipay'"></el-option>
                          <el-option label="Security Bank" value="securitybank" v-if="form.storage !='Alipay'"></el-option>
                          <el-option label="Eastwest" value="eastwest" v-if="form.storage !='Alipay'"></el-option>
                          <el-option label="China Bank" value="chinabank" v-if="form.storage !='Alipay'"></el-option>
                          <el-option label="PNB" value="pnb" v-if="form.storage !='Alipay'"></el-option>
                      </el-select>
                  </el-form-item>

                <div v-if="form.type == 'Balance Transfer'">
                  <el-form-item :label="$t('Common.transfer_to')+':'" label-position="center">
                      <el-select v-model="form.transfer_to" :placeholder="$t('Clients.select')" style="width: 100%;" filterable>
                          <el-option
                              v-for="t in transfer"
                              :label="t"
                              :value="t">
                          </el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item prop="selectedClient" :label="$t('Clients.clients')+':'"  label-position="center" v-if="form.transfer_to  == 'Client'">
                      <el-select v-model="value" filterable remote :placeholder="$t('Common.search-client-placeholder')"
                      :remote-method="searchClient" :loading="loading" :loading-text="$t('Common.searching-client') + '...'"
                      style="width: 220px" :no-data-text="$t('Common.no-client-found')"
                      @change="selectClient(value)" >
                      <template slot="prefix"><i class="el-icon-search" style="padding-top: 13px; padding-left: 5px;;"></i></template>
                      <el-option
                        v-for="item in clientResults"
                        :key="item.id"
                        :label="'['+item.id+'] '+item.full_name"
                        :value="item.id">
                      </el-option>
                    </el-select>
                  </el-form-item>

                  <el-form-item prop="selectedGroup" :label="$t('Clients.group')+':'"  label-position="center"  v-if="form.transfer_to  == 'Group'">
                      <el-select v-model="groupvalue" filterable remote :placeholder="$t('Common.search-group-placeholder')"
                      :remote-method="searchGroup" :loading="loading" :loading-text="$t('Common.searching-group')+'...'"
                      style="width: 220px" :no-data-text="$t('Common.no-group-found')"
                      @change="selectGroup(groupvalue)" >
                      <template slot="prefix"><i class="el-icon-search" style="padding-top: 13px; padding-left: 5px;;"></i></template>
                        <el-option
                          v-for="item in groupResults"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                  </el-form-item>
                </div>

                  <el-form-item  prop="amount" :label="$t('Common.amount')+':'"  label-position="center">
                      <el-input-number v-model="form.amount" :controls="controls" style="width: 220px;"></el-input-number>
                  </el-form-item>

                  <el-form-item prop="reason2" label="Remarks" v-if="form.type =='Deposit'">
                    <el-input v-model="form.reason2" style="width: 220px;"></el-input>
                  </el-form-item>

                  <el-form-item prop="reason" :label="$t('Common.reason')+':'" v-if="form.type !='Deposit' && form.type !='Payment'">
                    <el-input v-model="form.reason" :placeholder="$t('Common.for_internal_use')" style="width: 220px;"></el-input>
                  </el-form-item>

                  <el-form-item prop="alipay_reference" :label="$t('Common.reference')+':'" v-if="form.storage =='Alipay'">
                    <el-input v-model="form.alipay_reference" style="width: 220px;"></el-input>
                  </el-form-item>


                    <div class="align-right">
                        <el-button class="add-button" type="primary" @click="onSubmitFunds('client_funds_form')">{{ $t('Common.continue') }}</el-button>
                    </div>

        </el-form>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-client-funds',
  components: {

  },
  data () {
    var amountGreaterZero = (rule, value, callback) => {
        if(value<=0) {
          callback(new Error(this.$t('Common.input_more_than_zero')))
        } else if(value > this.ewallet && this.form.type === 'Refund'){
          callback(new Error(this.$t('Common.not_enough_balance')))
        } else {
            callback()
        }
    }

    var notEmpty = (rule, value, callback) => {
        if((this.form.selected_client== '' && this.form.transfer_to == 'Client') || (this.form.selected_group== '' && this.form.transfer_to == 'Group')){
              callback(new Error(this.$t('Common.select_where_to_transfer')))
        } else {
            callback()
        }
    }

    // var groupNotEmpty = (rule, value, callback) => {
    //     if(this.form.selected_client== ''){
    //           callback(new Error('Please select group.'))
    //     } else {
    //         callback()
    //     }
    // }

    return {
      types: ['Deposit','Payment','Refund','Promo','Balance Transfer'],

      storages: ['Cash','Bank','Alipay'],

      transfer: ['Client','Group'],

      controls : false,

      clientResults : [],

      groupResults : [],

      loading: false,
      value: [],
      groupvalue: [],
      user_branch : 1,

      ewallet : 0,

      form: {
          client_id: '',
          // tracking: '',
          storage: 'Cash',
          type: 'Deposit',
          bank: 'AUB',
          amount: '',
          reason: '',
          reason2: '',
          alipay_reference: '',
          transfer_to: 'Client',
          selected_client: '',
          selected_group: '',
          // branch_id: 1,
      },

      rules: {
          reason: [
              { required: true, message: this.$t('Common.fillup_reason') },
          ],

          alipay_reference: [
              { required: true, message: this.$t('Common.fillup_alipay_ref') },
          ],

          amount: [
              { required: true, message: this.$t('Common.fillup_amount') },
              { validator: amountGreaterZero, trigger: 'blur'},
          ],

          selectedClient: [
              // { required: true, message: 'Please select client!' },
              { validator: notEmpty, trigger: 'blur'},
          ],

          selectedGroup: [
              // { required: true, message: 'Please select group!' },
              { validator: notEmpty, trigger: 'blur'},
          ],

      },

      errors: []

    }
  },
  created () {
    this.form.client_id = this.$parent.$route.params.id;
    this.$eventBus.$emit('getBranch');
    let data = this.$parent.$parent.$parent.$refs.modal.content.data;
    this.ewallet = data.total_ewallet;
  },

  mounted () {
      this.$eventBus.$on('passBranch', (data) => {
          this.user_branch = data;
      })
  },

  computed: mapGetters({
    session: 'session'
  }),

  methods: {
      discountAccess(){
        var id = this.session.user.id;
        var ids = [1,1193,2352];
        var check = ids.includes(id);
        return check;
      },

      onSubmitFunds (fundForm) {
          this.errors = [];
          // this.form.tracking = this.$parent.$parent.$parent.$refs.modal.content.tracking;
          // this.form.branch_id = this.user_branch;

              this.$refs[fundForm].validate((response) => {
                  if(response) {
                    if((this.form.type == "Balance Transfer" && this.form.amount > this.ewallet)){
                      this.$message({
                              showClose: true,
                              message: 'Insufficient Ewallet Balance!',
                              type: 'warning',
                              center: true
                          })
                    }
                    else{
                       this.$store.dispatch('addClientFund', this.form)
                      .then(res => {
                          var responseStatus = res.status.toLowerCase()
                          if(responseStatus === 'failed') {
                              this.errors = res.errors
                              this.$refs[fundForm].validate((response2) => { })
                          } else {
                              this.$message({
                                  showClose: true,
                                  message: this.$t('Clients.client_added'),
                                  type: 'success',
                                  center: true
                              })

                              setTimeout(() => {
                                  this.$parent.$emit('close')
                                  this.$eventBus.$emit('updateTransactionHistory');
                                  this.$eventBus.$emit('updateClientProfile');
                                  // this.$eventBus.$emit('updateServiceList');
                              }, 1000)
                          }
                      })
                    }
                  }
              })

      },

      storageOnChange(){
        if(this.form.storage == 'Alipay'){
            this.form.bank = 'AUB';
        }
      },

      searchClient(queryString) {
        this.clientResults = [];
        if (queryString !== '') {
            this.loading = true;
            setTimeout(() => {
              return this.$services.client.clientSearch({
                keyword : queryString,
                branch_id : this.user_branch
              })
              .then(response => {
              this.loading = false;
              this.clientResults = response.data.data;
            })
            }, 200);
          } else {
            this.clientResults = [];
          }

      },

      searchGroup(queryString) {
        this.groupResults = [];
        if (queryString !== '') {
            this.loading = true;
            setTimeout(() => {
              return this.$store.dispatch('loadSearchResults', {
                keyword : queryString,
                branch_id : this.user_branch
              })
              .then(response => {
              this.loading = false;
              this.groupResults = response;
            })
            }, 200);
          } else {
            this.groupResults = [];
          }

      },
      selectClient(client_id){
        this.form.selected_client = client_id;
      },
      selectGroup(group_id){
        this.form.selected_group = group_id;
      },

  }
}
</script>

<style lang="scss">
    .add-button-container {
        margin-bottom: 40px;
    }

    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }

    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }

    .hide {
        opacity: 0;
    }

    .form-container {
        margin-bottom: 15px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }

    .el-input-number .el-input input{
      text-align: left;
    }

</style>
