<template>
    <div class="form-container">
      	<el-row :gutter="30">
            <el-col :span="12">
            	<el-row :gutter="30">
		            <el-col :span="4">
						<img src="/img/logo-immigrationv2.png" class="profile-avatarImg">
		            </el-col>
		            <el-col :span="20">
		            	<p class="form-title-a">BI FORM NO.IRD04.QF.001 Rev 02</p>
		            	<p class="form-title-a">CONSOLIDATED GENERAL APPLICATION FORM</p>
		            	<p class="form-title-a">FOR TOURIST VISA EXTENSION</p>
		            </el-col>
		        </el-row>
            </el-col>
            <el-col :span="12">
            	<p class="notes-a" style="position: absolute;top: -3px;right: 16px;">This document may be reproduced and is NOT for sale</p>
            	<p class="form-title-b" style="margin-top: 27px;">Method of Application:</p>
            	<div name="method_of_application" >
            		<el-row :gutter="30" class="bottom-spacing">
            			<el-col :span="5">
	            			<div class="box-set">
			            		<p class="content-txt" style="bottom: -14px;left: 5px;"></p><!-- VALUE: NO VALUE -->
			            		<div class="box-b"></div><p class="label-a">Personal</p>
			            	</div>
	            		</el-col>
	            		<el-col :span="12">
	            			<div class="box-set">
			            		<p class="content-txt" style="bottom: -12px;left: 4px;" v-if="form.authorized_representative != ''">x</p><!-- VALUE: TICKED IF HAS AUTHORIZED REPRESENTATIVE -->
			            		<div class="box-b"></div><p class="label-a">Authorized Representative</p>
			            	</div>
	            		</el-col>
            		</el-row>
            	</div>
            </el-col>
        </el-row>

        <!-- APPLICATION INFORMATION -->
        <el-row :gutter="30">
        	<!-- LEFT COLUMN -->
            <el-col :span="12">
            	<p class="form-title-b">I. APPLICATION INFORMATION</p>
            	<div name="number_of_months">
            		<p class="label-a">Number of Months Requested</p>
	            	<div class="box-set">
	            		<p class="content-txt" style="bottom: -16px;left: 7px;">{{form.dis_months}}</p><!-- VALUE: Number of Months Requested -->
	            		<div class="box"></div>
	            		<div class="box-a"></div>
	            	</div>
            	</div>

            	<div name="reason">
            		<p class="form-title-b">Reason:</p>
            		<el-row :gutter="30">
            			<el-col :span="8">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">Pleasure</p>
            				</div>
            			</el-col>
            			<el-col :span="16">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">With Valid Special Study Permit</p>
            				</div>
            			</el-col>
            		</el-row>
            		<el-row :gutter="30">
            			<el-col :span="8">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">Health</p>
            				</div>
            			</el-col>
            			<el-col :span="16">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">With Valid Special Work Permit</p>
            				</div>
            			</el-col>
            		</el-row>
            		<el-row :gutter="30">
            			<el-col :span="8">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">Business</p>
            				</div>
            			</el-col>
            			<el-col :span="16">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">With Valid Provisional Work Permit</p>
            				</div>
            			</el-col>
            		</el-row>
            		<el-row :gutter="30">
            			<el-col :span="8">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">Others,</p>
            				</div>           			</el-col>
            			<el-col :span="16">
            				<div class="box-set">
            					<div class="box-b"></div><p class="label-a">With Valid Limited Work Permit</p>
            				</div>
            			</el-col>
            		</el-row>
            		<el-row :gutter="30">
            			<el-col :span="24">
            				<div class="line-set">
            					<p class="label-a">Please specify:</p><div class="line-a"></div>
            				</div>
            			</el-col>
            		</el-row>
	            </div>
            </el-col>



            <!-- RIGHT COLUMN -->
            <el-col :span="12">
            	<el-row :gutter="30">
            		<el-col :span="12">
            			<p class="label-a">Accreditation Number</p>
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;">{{form.accreditation_number}}</p><!-- VALUE: Accreditation Number -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="12">
            			<p class="label-a">Name of Authorized Representative</p>
	            		<p class="notes-b">(Last Name, Given Name, MI)</p>
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;">{{form.authorized_representative}}</p><!-- VALUE: authorized_representative -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="12">
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;"></p><!-- VALUE: authorized_representative-->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="12">
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;"></p><!-- VALUE: authorized_representative -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            </el-col>
        </el-row>
        <!-- END OF APPLICATION INFORMATION -->

        <!-- PERSONAL INFORMATION -->
        <el-row :gutter="30">
            <el-col :span="24">
            	<p class="form-title-b">II. PERSONAL INFORMATION</p>
            	<el-row :gutter="30">
            		<el-col :span="24">
            			<p class="label-a">Last Name, Given Name, Middle Name, Other Name/ALIAS</p>
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;">{{form.last_name}}, {{form.first_name}}</p><!-- VALUE: Client Name > LN, FN MI. -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>

		            		<!-- 26--><div class="box-c"></div>
		            		<!-- 27--><div class="box-c"></div>
		            		<!-- 28--><div class="box-c"></div>
		            		<!-- 29--><div class="box-c"></div>
		            		<!-- 30--><div class="box-c"></div>

		            		<!-- 31--><div class="box-c"></div>
		            		<!-- 32--><div class="box-c"></div>
		            		<!-- 33--><div class="box-c"></div>
		            		<!-- 34--><div class="box-c"></div>
		            		<!-- 35--><div class="box-c"></div>

		            		<!-- 36--><div class="box-c"></div>
		            		<!-- 37--><div class="box-c"></div>
		            		<!-- 38--><div class="box-c"></div>
		            		<!-- 39--><div class="box-c"></div>
		            		<!-- 40--><div class="box-c"></div>

		            		<!-- 41--><div class="box-c"></div>
		            		<!-- 42--><div class="box-c"></div>
		            		<!-- 43--><div class="box-c"></div>
		            		<!-- 44--><div class="box-c"></div>
		            		<!-- 45--><div class="box-c"></div>

		            		<!-- 46--><div class="box-c"></div>
		            		<!-- 47--><div class="box-c"></div>
		            		<!-- 48--><div class="box-c"></div>
		            		<!-- 49--><div class="box-c"></div>
		            		<!-- 50--><div class="box-c"></div>

		           			<!-- 51--><div class="box-c"></div>
		            		<!-- 52--><div class="box-c"></div>
		            		<!-- 53--><div class="box-c"></div>
		            		<!-- 54--><div class="box-c"></div>

		            	</div>
            		</el-col>
            	</el-row>
            </el-col>
        </el-row>


	    <el-row :gutter="30">
			<!-- LEFT SIDE -->
			<el-col :span="12">
				<el-row :gutter="30">
            		<el-col :span="24">
            			<p class="label-a">Citizenship/Nationality:</p>
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;">{{form.nationality}}</p><!-- VALUE: Nationality -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="24">
            			<p class="label-a">Country of Birth:</p>
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;">{{form.birth_country}}</p><!-- VALUE: Birth country -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="15">
            			<p class="label-a">Date of Birth [DD-MMM-YYYY e.g. 01 JAN 1990]: </p>
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -14px;left: 7px;">{{form.bd1}}</p><!-- VALUE: Birthday -->
		            		<!-- D --><div class="box-d"></div>
		            		<!-- D --><div class="box-c"></div>
		            				  <div class="line-b"></div>
		            		<p class="content-txt" style="bottom: -14px;left: 71px;">{{form.bd2}}</p><!-- VALUE: Birthmonth -->
		            		<!-- M --><div class="box-d"></div>
		            		<!-- M --><div class="box-c"></div>
		            		<!-- M --><div class="box-c"></div>
		            				  <div class="line-b"></div>
		            		<p class="content-txt" style="bottom: -14px;left: 150px;">{{form.bd3}}</p><!-- VALUE: Birthyear -->
		            		<!-- Y --><div class="box-d"></div>
		            		<!-- Y --><div class="box-c"></div>
		            		<!-- Y --><div class="box-c"></div>
		            		<!-- Y --><div class="box-c"></div>
		            	</div>
            		</el-col>
            		<el-col :span="9">
            			<p class="label-a">Gender</p>
		        		<div class="box-set">
		        			<p class="content-txt" style="bottom: -14px;left: 5px;" v-if="form.gender == 'Male'">x</p>
		            		<!-- 1 --><div class="box-e"></div><p class="label-a">M</p>
		            		<p class="content-txt" style="bottom: -14px;left: 43px;" v-if="form.gender == 'Female'">x</p>
		            		<!-- 2 --><div class="box-e"></div><p class="label-a">F</p>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
        			<el-col :span="5">
        				<p class="label-a">Civil Status:</p>
        			</el-col>
        		</el-row>

        	    <el-row :gutter="30">
        			<el-col :span="5">
        				<p class="content-txt" style="bottom: -11px;left: 18px;" v-if="form.civil_status == 'Single'">x</p>
        				<div class="box-set">
        					<div class="box-b"></div><p class="label-a">Single</p>
        				</div>
        			</el-col>
        			<el-col :span="5">
        				<p class="content-txt" style="bottom: -11px;left: 120px;" v-if="form.civil_status == 'Separated'">x</p>
        				<div class="box-set">
        					<div class="box-b"></div><p class="label-a">Separated</p>
        				</div>
        			</el-col>
        			<el-col :span="6">
        				<p class="content-txt" style="bottom: -11px;left: 222px;" v-if="form.civil_status == 'Annulled'">x</p>
        				<div class="box-set">
        					<div class="box-b"></div><p class="label-a">Annulled</p>
        				</div>
        			</el-col>
        			<el-col :span="8">
        				<p class="content-txt" style="bottom: -15px;left: 382px;">{{form.height}}</p>
        				<div class="box-set">
        					<p class="label-a">Height</p>
        					<div class="box"></div>
	            			<div class="box-a"></div>
	            			<div class="box-a"></div>
	            			<p class="label-a">cm</p>
        				</div>
        			</el-col>
        		</el-row>

        	    <el-row :gutter="30">
        			<el-col :span="5">
        				<p class="content-txt" style="bottom: -11px;left: 18px;" v-if="form.civil_status == 'Married'">x</p>
        				<div class="box-set">
        					<div class="box-b"></div><p class="label-a">Married</p>
        				</div>
        			</el-col>
        			<el-col :span="5">
        				<p class="content-txt" style="bottom: -11px;left: 120px;" v-if="form.civil_status == 'Widowed'">x</p>
        				<div class="box-set">
        					<div class="box-b"></div><p class="label-a">Widowed</p>
        				</div>
        			</el-col>
        			<el-col :span="6">
        				<p class="content-txt" style="bottom: -11px;left: 222px;" v-if="form.civil_status == 'Divorced'">x</p>
        				<div class="box-set">
        					<div class="box-b"></div><p class="label-a">Divorced</p>
        				</div>
        			</el-col>
        			<el-col :span="8">
        				<p class="content-txt" style="bottom: -14px;left: 382px;">{{form.weight}}</p>
        				<div class="box-set">
        					<p class="label-a">Weight</p>
        					<div class="box"></div>
	            			<div class="box-a"></div>
	            			<div class="box-a"></div>
	            			<p class="label-a">kg</p>
        				</div>
        			</el-col>
        		</el-row>
			</el-col>

			<!-- RIGHT SIDE -->
			<el-col :span="12">
				<el-row :gutter="30">
            		<el-col :span="24">
            			<p class="label-a">Residential Address in the Philippines</p>
            			<el-row :gutter="30">
            				<el-col :span="12">
            					<p class="label-a">Number of Street</p>
            				</el-col>
            				<el-col :span="12">
            					<p class="label-a">Subdivision/Village</p>
            				</el-col>
            			</el-row>
		        		<div class="box-set">
		            		<p class="address-txt" style="bottom: -10px;left: 7px;">{{ (form.address) ? form.address[0] : null}}</p><!-- VALUE: Address 1-->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="24">
            			<p class="label-a">Barangay, Municipality, City</p>
		        		<div class="box-set">
		            		<p class="address-txt" style="bottom: -10px;left: 7px;">{{(form.address) ? form.address[1] : ''}}</p><!-- VALUE: Address 2 -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="24">
            			<p class="label-a">Province, Zip Code</p>
		        		<div class="box-set">
		            		<p class="address-txt" style="bottom: -10px;left: 7px;">{{(form.address) ? form.address[2] : ''}}</p><!-- VALUE: Address 3 -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>

            	<el-row :gutter="30">
            		<el-col :span="24">
            			<p class="label-a">Mobile Number</p>
		        		<div class="box-set">
		            		<p class="content-txt" style="bottom: -16px;left: 7px;">{{ form.contact_number }}</p><!-- VALUE: Contact Number -->
		            		<!-- 1 --><div class="box-d"></div>
		            		<!-- 2 --><div class="box-c"></div>
		            		<!-- 3 --><div class="box-c"></div>
		            		<!-- 4 --><div class="box-c"></div>
		            		<!-- 5 --><div class="box-c"></div>

		            		<!-- 6 --><div class="box-c"></div>
		            		<!-- 7 --><div class="box-c"></div>
		            		<!-- 8 --><div class="box-c"></div>
		            		<!-- 9 --><div class="box-c"></div>
		            		<!-- 10--><div class="box-c"></div>

		            		<!-- 11--><div class="box-c"></div>
		            		<!-- 12--><div class="box-c"></div>
		            		<!-- 13--><div class="box-c"></div>
		            		<!-- 14--><div class="box-c"></div>
		            		<!-- 15--><div class="box-c"></div>

		            		<!-- 16--><div class="box-c"></div>
		            		<!-- 17--><div class="box-c"></div>
		            		<!-- 18--><div class="box-c"></div>
		            		<!-- 19--><div class="box-c"></div>
		            		<!-- 20--><div class="box-c"></div>

		            		<!-- 21--><div class="box-c"></div>
		            		<!-- 22--><div class="box-c"></div>
		            		<!-- 23--><div class="box-c"></div>
		            		<!-- 24--><div class="box-c"></div>
		            		<!-- 25--><div class="box-c"></div>
		            	</div>
            		</el-col>
            	</el-row>
			</el-col>
		</el-row>
		<!-- END OF PERSONAL INFORMATION -->

		 <!-- PERSONAL INFORMATION -->
        <el-row :gutter="30">
            <el-col :span="24">
            	<p class="form-title-b">TRAVEL INFORMATION:</p>
	           	<el-row :gutter="30">
		            <el-col :span="12">
		            	<p class="label-a">TRAVEL DOCUMENT/PASSPORT NUMBER: VALID UNTIL <span class="notes-c">(DD-MMM-YYYY e.g. 01 JAN 1990)</span></p>
		            	<el-row :gutter="30">
		            		<el-col :span="12">
				            	<div class="box-set">
						           	<p class="content-txt" style="bottom: -16px;left: 7px;">{{form.passport}}</p><!-- VALUE: Passport Number -->
						           	<!-- 1 --><div class="box-d"></div>
				            		<!-- 2 --><div class="box-c"></div>
				            		<!-- 3 --><div class="box-c"></div>
				            		<!-- 4 --><div class="box-c"></div>
				            		<!-- 5 --><div class="box-c"></div>

				            		<!-- 6 --><div class="box-c"></div>
				            		<!-- 7 --><div class="box-c"></div>
				            		<!-- 8 --><div class="box-c"></div>
				            		<!-- 9 --><div class="box-c"></div>
				            		<!-- 10--><div class="box-c"></div>

				            		<!-- 11--><div class="box-c"></div>
						        </div>
		            		</el-col>
		            		<el-col :span="12">
				            	<div class="box-set">
						           	<div class="box-set">
					            		<p class="content-txt" style="bottom: -14px;left: 7px;">{{form.pv1}}</p><!-- VALUE: passport validity date -->
					            		<!-- D --><div class="box-d"></div>
					            		<!-- D --><div class="box-c"></div>
					            				  <div class="line-b"></div>
					            		<p class="content-txt" style="bottom: -14px;left: 71px;">{{form.pv2}}</p><!-- VALUE: passport validity month  -->
					            		<!-- M --><div class="box-d"></div>
					            		<!-- M --><div class="box-c"></div>
					            		<!-- M --><div class="box-c"></div>
					            				  <div class="line-b"></div>
					            		<p class="content-txt" style="bottom: -14px;left: 150px;">{{form.pv3}}</p><!-- VALUE: passport validity year  -->
					            		<!-- Y --><div class="box-d"></div>
					            		<!-- Y --><div class="box-c"></div>
					            		<!-- Y --><div class="box-c"></div>
					            		<!-- Y --><div class="box-c"></div>
						           	</div>
						        </div>
		            		</el-col>
		            	</el-row>

		            	<el-row :gutter="30">
		            		<el-col :span="24">
		            			<p class="label-a">Date of Latest Arrival (DD-MMM-YYYY e.g. 01 JAN 1990)</p>
				            	<div class="box-set">
						           	<div class="box-set">
					            		<p class="content-txt" style="bottom: -14px;left: 7px;">{{form.lad1}}</p><!-- VALUE: Number of Months Requested -->
					            		<!-- D --><div class="box-d"></div>
					            		<!-- D --><div class="box-c"></div>
					            				  <div class="line-b"></div>
					            		<p class="content-txt" style="bottom: -14px;left: 71px;">{{form.lad2}}</p><!-- VALUE: Number of Months Requested -->
					            		<!-- M --><div class="box-d"></div>
					            		<!-- M --><div class="box-c"></div>
					            		<!-- M --><div class="box-c"></div>
					            				  <div class="line-b"></div>
					            		<p class="content-txt" style="bottom: -14px;left: 150px;">{{form.lad3}}</p><!-- VALUE: Number of Months Requested -->
					            		<!-- Y --><div class="box-d"></div>
					            		<!-- Y --><div class="box-c"></div>
					            		<!-- Y --><div class="box-c"></div>
					            		<!-- Y --><div class="box-c"></div>
						           	</div>
						        </div>
		            		</el-col>
		            	</el-row>

		            	<el-row :gutter="30">
		            		<el-col :span="24">
		            			<p class="form-title-b">LATEST TOURIST VISA EXTENSION:</p>
		            			<p class="label-a">Valid Until (DD-MMM-YYYY e.g. 01 JAN 1990)</p>
				            	<div class="box-set">
						           	<div class="box-set">
					            		<p class="content-txt" style="bottom: -14px;left: 7px;">{{form.tve1}}</p><!-- VALUE: Number of Months Requested -->
					            		<!-- D --><div class="box-d"></div>
					            		<!-- D --><div class="box-c"></div>
					            				  <div class="line-b"></div>
					            		<p class="content-txt" style="bottom: -14px;left: 71px;">{{form.tve2}}</p><!-- VALUE: Number of Months Requested -->
					            		<!-- M --><div class="box-d"></div>
					            		<!-- M --><div class="box-c"></div>
					            		<!-- M --><div class="box-c"></div>
					            				  <div class="line-b"></div>
					            		<p class="content-txt" style="bottom: -14px;left: 150px;">{{form.tve3}}</p><!-- VALUE: Number of Months Requested -->
					            		<!-- Y --><div class="box-d"></div>
					            		<!-- Y --><div class="box-c"></div>
					            		<!-- Y --><div class="box-c"></div>
					            		<!-- Y --><div class="box-c"></div>
						           	</div>
						        </div>
		            		</el-col>
		            	</el-row>
		            </el-col>
		            <!-- RIGHT -->
		            <el-col :span="12">
		            	<p class="form-title-c">IV. U N D E R T A K I N G</p>
		            	<p class="notes-d">I/We certify that: (1) All the information in the application is truthful, complete and correct; (2) All documents are authentic and were legally contained from the corresponding government agencies or private entities; (3) I/We understand that my/our application may be summarily denied if: (a) Any statement is false; (b) Any document submitted is falsified; or (c) I/We fail to comply with all the BI requirements without prejudice to whatever action the BI may take; (4) I/We have not filed this or any similar application before any office of the Bureau; and I agree to the type of transaction chosen.</p>

		            </el-col>
		        </el-row>
            </el-col>
        </el-row>

         <!-- PERSONAL INFORMATION -->
        <el-row :gutter="30">
            <el-col :span="24">
            	<el-row :gutter="30">
            		<el-col :span="12">
            			<p class="form-title-b">III. MODE OF TRANSACTION</p>
		        	    <el-row :gutter="30" class="bottom-spacing">
		        			<el-col :span="8">
		            			<div class="box-set">
				            		<p class="content-txt" style="bottom: -14px;left: 5px;" v-if="form.mode == 'Express'">x</p><!-- VALUE: if service is express rush -->
				            		<div class="box-b"></div><p class="label-a">Express Lane</p>
				            	</div>
		            		</el-col>
		            		<el-col :span="16">
		            			<div class="box-set">
				            		<p class="content-txt" style="bottom: -14px;left: 5px;" v-if="form.mode == 'Regular'">x</p><!-- VALUE: if service is regular -->
				            		<div class="box-b"></div><p class="label-a">Regular Lane</p>
				            	</div>
		            		</el-col>
		        		</el-row>
            		</el-col>
            		<el-col :span="12">
            			<el-row :gutter="50" style="margin-top: 25px;">
            				<el-col :span="14">
            					<p class="content-txt" style="bottom:-6px;left:31px;width:50%;text-align:center;">{{form.first_name}} {{form.last_name}}</p><!-- VALUE: Number of Months Requested -->
            					<div class="line-c"></div>
            				</el-col>
            				<el-col :span="10">
            					<p class="content-txt" style="bottom:-6px;left: 354px;;width:18%;">{{form.dis_issue_date}}</p><!-- VALUE: ISSUE DATE -->
            					<div class="line-d"></div>
            				</el-col>
            			</el-row>
            			<el-row :gutter="50">
            				<el-col :span="14"><p class="label-b">Applicant's Signature over Printed Name</p></el-col>
            				<el-col :span="10"><p class="label-b">Date</p></el-col>
            			</el-row>
            			<el-row :gutter="50">
            				<el-col :span="24"><p class="label-c">IRD04.QF.001 Rev 02 effective 12 July 2019</p></el-col>
            			</el-row>
            		</el-col>
            	</el-row>
            </el-col>
        </el-row>
    </div>
</template>

<script>
  export default {
  	props:['form']
  }
</script>
<style scoped>
	.form-title-a {
		font-size: 16px;
		margin:0px;
	}

	.form-title-b {
		font-size: 12px;
		margin:0px;
		font-weight: bold;
	}

	.form-title-c {
		font-size: 12px;
		margin:0px;
		font-weight: bold;
		text-align: center;
	}

	.label-a{
		font-size: 11px;
		margin:0px;
		
	}

	.label-b{
		font-size: 12px;
		margin:0px;
		text-align: center;
	}

	.label-c{
		font-size: 12px;
		margin:10px;
		text-align: right;
		font-weight: bold;
	}

	.box-set{
		display: inline-flex;
		position: relative;
	}

	.box {
	  	width: 14px;
	  	height: 14px;
	  	border: 1px solid #000000;
	  	margin: 0;
	}

	.box-a {
	  	width: 14px;
	  	height: 14px;
	  	border: 1px solid #000000;
	  	border-left: none;
	  	margin: 0;
	}

	.box-b{
		width: 12px;
	  	height: 12px;
	  	border: 1px solid #000000;
	  	margin: 0;
		margin-right: 3px;
	}

	.box-c{
		width: 16px;
	  	height: 16px;
	  	border: 1px solid #000000;
	  	border-left: none;
	  	margin: 0;
	}

	.box-d{
		width: 16px;
	  	height: 16px;
	  	border: 1px solid #000000;
	  	margin: 0;
	}

	.box-e{
		width: 16px;
	  	height: 16px;
	  	border: 1px solid #000000;
	  	margin-right: 3px;
	  	margin-left: 3px;
	}

	.content-txt {
	  	position: absolute;
	  	font-weight: bold;
	  	color: #000000;
	}

	.address-txt{
		position: absolute;
	  	font-weight: bold;
	  	color: #000000;
	  	font-size:11px;
	}


	.notes-a{
		font-size: 12px;
	}

	.notes-b{
		font-size: 10px;
		margin: 0;
	}

	.notes-c{
		font-size: x-small;
		margin: 0;
	}

	.notes-d{
		font-size: 10px;
		margin: 1px 21px;
		text-align: justify;
	}

	.line-set{
		display: inline-flex;
	}

	/*Underline-please specify*/
	.line-a{
		width: 325px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}

	/*Dash-dates*/
	.line-b{
		width: 6px;
    	border-top: 1px solid #000000;
    	margin: 8px;
	}

	.line-c{
		width: 100%;
    	border-top: 1px solid #000000;
    	margin: 8px;
	}

	.line-d{
		width: 83%;
    	border-top: 1px solid #000000;
    	margin: 8px;
	}



</style>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              