<template>
  <div class="change-status-container">
    <div><i class="el-icon-success"></i></div>
    <div class="label">{{ $t('Common.successful') }}</div>
    <div class="message">{{ $t('Clients.change-status-mess') }} <span v-if="status === 'High-Risk'">{{ $t('Common.high-risk') }}</span><span v-if="status === 'Regular'">{{ $t('Common.regular') }}</span></div>
    <div class="button-container">
      <el-button class="status-button" type="primary" @click="closeModal">{{ $t('Common.ok') }}</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'change-status-message',
  data () {
    return {
      status: ''
    }
  },
  methods: {
    closeModal () {
      this.$parent.$emit('close')
      // this.$eventBus.$emit('changeStatusResult',true);
    }
  },
  created () {
    this.status = this.$parent.$parent.content.data
    this.$eventBus.$emit('changeStatusResult',true);
  }
}
</script>

<style lang="scss" scoped>
  .change-status-container {

    div {
      display: block;
      text-align: center;
    }

    i {
      color: #a5dc86;
      font-size: 5.2em
    }

    .label {
      color: #595959;
      font-size: 2.5em;
      font-weight: 700;
      margin-top: 25px;
    }

    .message {
      color: #595959;
      font-size: 1.3em;
      margin-top: 15px;
    }

    .button-container {
      margin-top: 25px;
    }

    .status-button {
      font-size: 1.3em;
    }
  }
</style>
