<template>
  <div class="change-status-container">
    <div><i class="el-icon-info"></i></div>
    <div class="label">{{ $t('Clients.change-client-status') }}</div>
    <div class="button-container">
      <el-button class="status-button" type="danger" v-if="risk === 'Regular'" @click="changeStatus">
        {{ $t('Transaction.to-high-risk') }}
      </el-button>
      <el-button class="status-button" type="primary" v-if="risk === 'High-Risk'" @click="changeStatus">
        {{ $t('Transaction.to-regular') }}
      </el-button>
    </div>
  </div>
</template>

<script>
import ChangeStatusMessage from './change-status-message'

export default {
  name: 'change-status',
  data () {
    return {
      id: '',
      risk: ''
    }
  },
  methods: {
    changeStatus () {
      var vm = this;
      this.$store.dispatch('updateRisk', {
        id: vm.id,
        data: {
          risk: (vm.risk === 'Regular') ? vm.$t('Common.high-risk') : vm.$t('Common.regular')
        }
      }).then(res => {
        if(res.status === 'Success') {

            vm.$parent.$emit('close')

            //vm.$router.go();
            this.$eventBus.$emit('changeStatusResult')

            // setTimeout(() => {
            //   vm.$store.dispatch('callModal', {
            //     child_component: ChangeStatusMessage,
            //     modalWidth: '35%',
            //     content : { "data" : (vm.risk === 'Regular') ? vm.$t('Common.high-risk') : vm.$t('Common.regular') }
            //   })
            // }, 800)

        }
      })
    }
  },
  created () {
    this.id = this.$parent.$parent.content.id
    this.risk = this.$parent.$parent.content.risk
  }
}
</script>

<style lang="scss" scoped>
  .change-status-container {

    div {
      display: block;
      text-align: center;
    }

    i {
      color: #3fc3ee;
      font-size: 5.2em
    }

    .label {
      color: #595959;
      font-size: 2.5em;
      font-weight: 700;
      margin-top: 25px;
    }

    .button-container {
      margin-top: 25px;
    }

    .status-button {
      font-size: 1.3em;
    }
  }
</style>
