<template>
    <div class="change-status-container">
        <div><i class="el-icon-info"></i></div>
        <div class="label">
            {{replaceName($t('Group.switch_service_charge'), name)}}
        </div>
        <div class="button-container">
            <el-button class="status-button" type="primary" @click="changeServiceProfile">{{ $t('Common.yes').toUpperCase() }}</el-button>
            <el-button class="status-button" type="danger" @click="eventClose">{{ $t('Common.cancel').toUpperCase() }}</el-button>
        </div>
    </div>
</template>

<script>


export default {
    name: 'change-service-profile',
    data () {
        return {
            id: '',
            name: '',
            client_id: ''
        }
    },
    methods: {
        changeServiceProfile () {
            this.$store.dispatch('switchClientServiceCost', {
                service_profile_id: this.id,
                client_id: this.client_id
            }).then(res => {
                if(res.status === 'Success') {
                    this.$parent.$emit('close');
                    this.$eventBus.$emit('updateClientProfile');

                    this.$message({
                      type: 'success',
                      message: this.$t('Group.switch_complete')
                    });
                }
            })
        },

        eventClose (){
          this.$parent.$emit('close')
        },

        replaceName (message, data) {
          return message.replace(':name', data)
        }

    },
    created () {
        this.id = this.$parent.$parent.content.id
        this.name = this.$parent.$parent.content.name
        this.client_id  = this.$parent.$parent.content.client_id
    }
}
</script>

<style lang="scss" scoped>
    .change-status-container {

        div {
            display: block;
            text-align: center;
        }

        i {
            color: #3fc3ee;
            font-size: 5.2em
        }

        .label {
            color: #595959;
            font-size: 2.5em;
            font-weight: 700;
            margin-top: 25px;
            word-break: break-word;
        }

        .button-container {
            margin-top: 25px;
        }

        .status-button {
            font-size: 1.3em;
            min-width: 200px;
        }
    }
</style>
