<template>

	<div class="block m-t-20">
	<!-- <div style="margin-bottom: 15px; text-align: right;" v-if="!isDocLogsEmpty">
		<el-button type="primary" size="mini" @click="deleteLatestLog()">Delete Latest Document Log</el-button>
	</div> -->

		<div v-loading="loading" class="loader" :class="{hide: !loading}"></div>

		<el-divider v-if="!loading && documentLogs.length == 0">
			<i class="el-icon-star-on"></i>
			{{ $t('Common.no_data_found') }}
			<i class="el-icon-star-on"></i>
		</el-divider>

		<el-timeline v-if="!loading && documentLogs.length > 0">
		  	<el-timeline-item
          :key="index"
          v-for="(documentLog,index) in documentLogs"
          :color="documentLog.display_date != null ? '#1d8ce0' : ''">

		  		<div class="timeline">
		  			{{ documentLog.display_date != null ? documentLog.display_date : '' }}
		  		</div>

				<el-card v-for="dLog in documentLog.data" >
					<div slot="header" class="clearfix">
						<span class="service-name">{{ dLog.info.label }}</span>
					</div>
					<div class="text item">
							<div v-for="log in dLog.document_logs.documents" >

								<el-row>
 								<el-col :span="16">
								(
								{{ log.count }}
								)

								{{ log.title }}
							</el-col>

							<el-col :span="8" v-if="(typeof dLog.document_logs.procedure[0] !== 'undefined') && (dLog.info.label.search('Received') === -1 && dLog.info.label.search('Documents Needed') === -1 && dLog.info.label.search('Generate') === -1)">
									(
										On Hand:
										{{ log.previous_on_hand }}
										<span v-if="dLog.document_logs.procedure[0].documents_mode == 'add'"> + </span>
										<span v-if="dLog.document_logs.procedure[0].documents_mode == 'remove'"> - </span>
										{{ log.count }}
										=
										<span v-if="dLog.document_logs.procedure[0].documents_mode == 'add'">
											{{ log.previous_on_hand + log.count }}
										</span>
										<span v-if="dLog.document_logs.procedure[0].documents_mode == 'remove'">
											{{ log.previous_on_hand - log.count }}
										</span>
									)
								</el-col>

								<el-col :span="8" v-if="dLog.info.log_type==='Document' && (dLog.info.label.search('Generate') !== -1 || dLog.info.label.search('Received') !== -1 || dLog.info.label.search('Documents Needed') !== -1 || dLog.info.label.search('Released documents') !== -1)">
									<span>
										(
										On Hand:

										{{ log.previous_on_hand }}
										<span> {{ (dLog.info.label.search('Released documents') !== -1) ? '-' : '+' }} </span>
										{{ log.count }}
										=
										{{ (dLog.info.label.search('Released documents') !== -1) ? log.previous_on_hand - log.count : log.count + log.previous_on_hand }}
										)
									</span>
								</el-col>


								</el-row>
						 </div><br/>
						<span>Processor: {{ dLog.document_logs.processor[0].name }}</span>
					</div>
				</el-card>

		  	</el-timeline-item>
		</el-timeline>
	</div>

</template>

<script>

	export default {

		name: 'document-logs',

		data() {
			return {
				loading: true,

				documentLogs: [],
				isDocLogsEmpty: true
			}
		},

		methods: {
			getDocumentLogs() {
				this.loading = true;
        this.$store.dispatch('getDocumentLogs', { client_id: this.$route.params.id })
        .then(res => {
          this.loading = false;
					var data = [];
					
					this.isDocLogsEmpty = (res.data.length > 0) ? false : true;

					res.data.map((item,index) => {
						  var serviceIndex = data.findIndex(v => v.display_date === item.display_date);
							if(serviceIndex === -1){
								data.push({
									display_date:item.display_date,
									data:[{
										document_logs: item.document_logs,
										info: item.info
									}]
								});
							}else{
								data[serviceIndex].data.push({
										document_logs: item.document_logs,
										info: item.info
								})
							}
					});
					this.documentLogs = data;
        });
			},

			formatDateTime(dateTime) {
				return moment(dateTime).format("MMMM DD, YYYY hh:mm A");
			},

			deleteLatestLog() {
				this.loading = true;
				this.$store.dispatch('deleteLatestDocumentLog', { client_id: this.$route.params.id })
				.then(res => {
					
					this.loading = false;
					if(res.status === 'Success') {
						this.getDocumentLogs();
					}

				})
			}
		}

	}

</script>

<style lang="scss" scoped>
	.m-t-20 {
		margin-top: 20px;
	}

	.service-name {
		font-weight: bold;
		margin-left: 5px;
		color: #1d8ce0;
	}

	.pull-right {
		float: right;
	}

	.m-4 {
		margin: 4px;
	}

	.timeline {
		color: #1d8ce0;
	    font-size: 13px;
	    font-weight: bold;
	    margin-bottom: 10px;
	}

	.loader {
		height: 100px;
	}

	.hide {
		display: none;
	}

	.bg-disabled { background-color: #909399 !important; border-color: transparent; }
	.bg-pending { background-color: #ffbc2d !important; border-color: transparent; }
	.bg-on-process { background-color: #4ec98b !important; border-color: transparent; }
	.bg-complete { background-color: #00c0ef !important; border-color: transparent; }
	.bg-released { background-color: #09c8c8 !important; border-color: transparent; }
	.bg-cancelled { background-color: #a8a8a8 !important; border-color: transparent; }
</style>
