<template>

	<div class="block m-t-20">
		<div class="pull-right">
			<el-button type="primary" size="mini" @click="showDialog('Receive Documents')">
            	Receive Documents
          	</el-button>
          	&nbsp;&nbsp;&nbsp;
          	<el-button type="primary" size="mini" @click="showDialog('Generate Photocopies')">
            	Generate Photocopies
          	</el-button>
          	&nbsp;&nbsp;&nbsp;
          	<el-button type="primary" size="mini" @click="showDialog('Release Documents')">
            	Release Documents
          	</el-button>
          	&nbsp;&nbsp;&nbsp;
          	<el-button type="primary" size="mini" @click="showDialog('Transfer File')">
            	Transfer File
          	</el-button>
		</div>

		<div class="spacer-20"></div>

		<div v-loading="loading" class="loader" :class="{hide: !loading}"></div>

		<el-divider v-if="!loading && documentsOnHand.length == 0">
			<i class="el-icon-star-on"></i>
				{{ $t('Common.no_data_found') }}
			<i class="el-icon-star-on"></i>
		</el-divider>

		<ul v-if="!loading && documentsOnHand.length > 0">
			<li v-for="d in documentsOnHand">
				({{ d.count }}) {{ d.document.title }}
			</li>
		</ul>

		<el-dialog :title="title" :visible.sync="dialogVisible" width="60%">

      		<ReceiveDocuments ref="receiveDocumentsRef" v-if="title == 'Receive Documents'" />

      		<GeneratePhotocopies ref="generatePhotocopiesRef" v-if="title == 'Generate Photocopies'" />

      		<ReleaseDocuments ref="releaseDocumentsRef" v-if="title == 'Release Documents'" />

      		<DocumentLogsV2 ref="documentLogsV2Ref" v-if="title == 'Document Logs'" />

      		<TransferFile ref="transferFile" v-if="title == 'Transfer File'" />

    	</el-dialog>
	</div>

</template>

<script>

	import ReceiveDocuments from './receive-documents';
	import GeneratePhotocopies from './generate-photocopies';
	import ReleaseDocuments from './release-documents';
	import DocumentLogsV2 from './document-logs-v2';
	import TransferFile from './transfer-file';

	export default {
		name: 'documents-on-hand',

		components: {
    		ReceiveDocuments,
    		GeneratePhotocopies,
    		ReleaseDocuments,
				DocumentLogsV2,
				TransferFile
  		},

		data() {
			return {
				loading: false,

				documentsOnHand: [],

				dialogVisible: false,

      			title: null
			}
		},

		methods: {
			showDialog(title) {
				this.dialogVisible = true;

				this.title = title;

				setTimeout(() => {
					if( title == 'Receive Documents' ) {
						this.$refs.receiveDocumentsRef.initData();
					} else if( title == 'Generate Photocopies' ) {
						this.$refs.generatePhotocopiesRef.initData();
					} else if( title == 'Release Documents' ) {
						this.$refs.releaseDocumentsRef.initData();
					} else if( title == 'Document Logs' ) {
						this.$refs.documentLogsV2Ref.initData();
					} else if( title == 'Transfer File' ) {
						this.$refs.transferFile.initData();
					}
				}, 100);
			},

			getDocumentsOnHand() {
				this.loading = true;

        		this.$store.dispatch('getDocumentsOnHand', { client_id: this.$route.params.id })
        			.then(res => {
          				this.loading = false;

          				this.documentsOnHand = res.data.onHandDocuments;
					});
			}
		}
	}

</script>

<style scoped>

	.m-t-20 {
		margin-top: 20px;
	}

	.loader {
		height: 100px;
	}

	.hide {
		display: none;
	}

	.pull-right {
		float: right;
	}

	.spacer-20 {
		height: 20px;
		clear:both;
	}

</style>
