<template>
	
	<el-card class="box-card" shadow="never">
  		<div class="text item">

  			<template v-if="loading">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template v-if="documentLogs.length === 0">
  					<el-divider>
  						<i class="el-icon-star-on"></i>
  						No document logs to display
  						<i class="el-icon-star-on"></i>
  					</el-divider>
  				</template>

  				<template v-else>

  					<ul>
  						<li v-for="documentLog in documentLogs" class="m-b-15">
  							{{ formatDateTime(documentLog.created_at) }}
  							-
  							<span class="text-muted">
  								{{ documentLog.processor.first_name + ' ' + documentLog.processor.last_name }}
  							</span>

  							<table class="documents-list m-t-10">
                    			<thead>
                      				<tr colspan="2">
                        				<th>
                                  <div v-if="documentLog.client_service" class="service-detail">
                                      [{{ documentLog.client_service.detail }}]
                                  </div>
                                  {{ documentLog.label }}
                                  <span v-if="documentLog.service_procedure && documentLog.service_procedure.documents_mode == 'add'">, documents added</span>
                                  <span v-else-if="documentLog.service_procedure && documentLog.service_procedure.documents_mode == 'remove'">, documents removed</span>
                                  :
                                </th>
                      				</tr>
                    			</thead>
                    			<tbody>
                      				<tr v-for="document in documentLog.documents">
                        				<td class="left-data">
                          					({{ document.pivot.count }})
                          					{{ document.title }}
                        				</td>
                        				<td class="right-data">
                          					<span class="text-muted">
                            					(On Hand: {{ document.pivot.previous_on_hand }}

                                        <template v-if="documentLog.service_procedure">
                                          <span v-if="documentLog.service_procedure.documents_mode == 'add'"> + </span>
                                          <span v-else-if="documentLog.service_procedure.documents_mode == 'remove'"> - </span>
                                        </template>

                                        <template v-else>
                                            <span v-if="documentLog.label == 'Received documents' || documentLog.label == 'Generate photocopies of documents'"> + </span>
                                            <span v-if="documentLog.label.includes('Released documents')"> - </span>
                                        </template>
                              					
                              					{{ document.pivot.count }}

                              					=

                                        <template v-if="documentLog.service_procedure">
                                          <span v-if="documentLog.service_procedure.documents_mode == 'add'">
                                            {{ document.pivot.previous_on_hand + document.pivot.count }}
                                          </span>
                                          <span v-else-if="documentLog.service_procedure.documents_mode == 'remove'">
                                            {{ document.pivot.previous_on_hand - document.pivot.count }}
                                          </span>
                                        </template>

                                        <template v-else>
                                          <span v-if="documentLog.label == 'Received documents' || documentLog.label == 'Generate photocopies of documents'">
                                              {{ document.pivot.previous_on_hand + document.pivot.count }}
                                          </span>

                                          <span v-if="documentLog.label.includes('Released documents')">
                                            {{ document.pivot.previous_on_hand - document.pivot.count }}
                                          </span>
                                        </template>
                            					)
                          					</span>
                        				</td>
                      				</tr>
                    			</tbody>
                  			</table>
  						</li>
  					</ul>

  				</template>
  			</template>

  		</div>
  	</el-card>

</template>

<script>
	
	export default {

		name: 'document-logs-v2',

		data() {
			return {
				documentLogs: [],

				loading: false
			}
		},

		methods: {
			initData() {
				this.loading = true;

				this.$store.dispatch('reportsDocumentLogs', { id: this.$route.params.id })
        			.then(res => {
        				this.loading = false;

          				this.documentLogs = res.data.documentLogs;
					});
			},

			formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");
	      		
	      		return `${date} [${time}]`; 
	      	}
		}

	}

</script>

<style scoped>

	.text-muted {
		color: #6c757d;
	}

	.m-b-15 {
		margin-bottom: 15px;
	}

  	.m-t-10 {
    	margin-top: 10px;
  	}

  	table.documents-list {
    	width: 100%; 
    	margin-left: 30px;
  	}

  	table.documents-list td.left-data {
   	 	height: 25px; 
    	width: 70%;
  	}

  	table.documents-list td.right-data {
   	 	height: 25px; 
    	width: 30%;
  	}

    .service-detail {
      color: #000000; 
      font-size: 14px; 
      font-weight: 600; 
      line-height: 30px;
    }

</style>