<template>
    <div class="form-container">
        <el-form ref="edit_client_service_form" :rules="rules" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">

            <el-row :gutter="20" class="form-container">
              <el-col :span="3">
                <div class="label">{{ $t('Common.status') }}</div>
              </el-col>
              <el-col :span="11">
                <div>
                  <el-form-item prop="active" style="margin-top: -10px;">
                      <el-radio v-model="form.active" label="0">{{ $t('Common.disabled') }}</el-radio>
                      <el-radio v-model="form.active" label="1">{{ $t('Common.enabled') }}</el-radio>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="10">
                <div>
                  <el-form-item prop="status" style="margin-top: -10px;margin-left: 12px;">
                  <el-select v-model="form.status" :placeholder="$t('Clients.select')" style="width: 215px;">
                    <el-option
                      v-for="s in status"
                      :label="s"
                      :value="s">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
              </el-col>
            </el-row>

            <el-row :gutter="20" class="form-container" v-if="form.status =='complete' && form.active == 1">
                <el-col :span="8" v-if="form.parent_id == 63 || form.parent_id == 114 || form.parent_id == 70 || form.parent_id == 238">
                    <div class="label" v-if="form.parent_id == 63 || form.parent_id == 114">{{ $t('Common.ext_exp') }}</div>
                    <div class="label" v-else>{{ $t('Clients.exp_date') }}</div>
                    <div id="longError">
                        <el-form-item prop="exp_date" class="smallInput">
                            <el-date-picker
                                class="select-box-width"
                                v-model="form.exp_date"
                                type="date"
                                format="dd/MM/yyyy"
                                placeholder="dd/mm/yyyy"
                                value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8" v-if="form.parent_id == 63 || form.parent_id == 114">
                    <div class="label">{{ $t('Clients.arrival') }}</div>
                    <div >
                        <el-form-item prop="arrival_date" class="smallInput">
                            <el-date-picker
                                class="select-box-width"
                                v-model="form.arrival_date"
                                type="date"
                                format="dd/MM/yyyy"
                                placeholder="dd/mm/yyyy"
                                value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8" v-if="form.parent_id == 63 || form.parent_id == 114">
                    <div class="label">{{ $t('Common.1st_exp') }}</div>
                    <div id="longError">
                        <el-form-item prop="first_exp_date" class="smallInput">
                            <el-date-picker
                                class="select-box-width"
                                v-model="form.first_exp_date"
                                type="date"
                                format="dd/MM/yyyy"
                                placeholder="dd/mm/yyyy"
                                value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8" v-if="form.parent_id == 70|| form.parent_id == 148">
                    <div class="label">{{ $t('Common.icard_issued') }}</div>
                    <div>
                        <el-form-item prop="icard_issue_date" class="smallInput">
                            <el-date-picker
                                class="select-box-width"
                                v-model="form.icard_issue_date"
                                type="date"
                                format="dd/MM/yyyy"
                                placeholder="dd/mm/yyyy"
                                value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8" v-if="form.parent_id == 70|| form.parent_id == 148">
                    <div class="label">{{ $t('Common.icard_exp') }}</div>
                    <div id="longError">
                        <el-form-item prop="icard_exp_date" class="smallInput">
                            <el-date-picker
                                class="select-box-width"
                                v-model="form.icard_exp_date"
                                type="date"
                                format="dd/MM/yyyy"
                                placeholder="dd/mm/yyyy"
                                value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>

            <el-row :gutter="20" class="form-container" style="margin-top: 5px;">
              <el-col :span="24">
                <div class="label">{{ $t('Clients.note') }}</div>
                <div>
                  <el-form-item prop="note" >
                    <el-input v-model="form.note" :placeholder="$t('Clients.only_emp_can_see')" style="width: 560px;"></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>

            <el-row :gutter="20" class="form-container">
                <el-col :span="8">
                    <div class="label">{{ $t('Clients.charge') }}</div>
                    <div>
                        <el-form-item prop="charge">
                            <el-input-number v-model="form.charge" class="smallInput" :disabled="true" :controls="controls"></el-input-number>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8">
                    <div class="label">{{ $t('Clients.extra_cost') }}</div>
                    <div>
                        <el-form-item prop="tip">
                            <el-input-number v-model="form.tip" class="smallInput" :controls="controls" :disabled="is_full_payment"></el-input-number>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="8">
                    <div class="label">{{ $t('Common.cost') }}</div>
                    <div>
                        <el-form-item prop="cost">
                            <el-input-number v-model="form.cost" class="smallInput" :controls="controls" :disabled="is_full_payment"></el-input-number>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>

            <el-row :gutter="20" class="form-container" >
                <el-col :span="8">
                    <div class="label">{{ $t('Common.discount') }}</div>
                    <div>
                        <el-form-item prop="discount">
                            <el-input-number v-model="form.discount" class="smallInput" :controls="controls" :disabled="is_full_payment"></el-input-number>
                        </el-form-item>
                    </div>
                </el-col>

                <el-col :span="16" v-if="form.discount > 0">
                    <div class="label">{{ $t('Common.reason') }}</div>
                    <div>
                        <el-form-item prop="reason">
                            <el-input v-model="form.reason" style="width: 370px !important;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
                  
            <div class="align-right">
                <el-button class="add-button" type="primary" @click="onEditService('edit_client_service_form')">
                  {{ $t('Common.save') }}
                </el-button>
            </div>

        </el-form>
    </div>
</template>

<script>

export default {
  name: 'edit-client-service',
  props: {
    
  },
  components: {

  },
  data () {
    var isDiscountNotEmpty = (rule, value, callback) => {
        if( (this.form.discount > 0 && value == "") || (this.form.discount > 0 && value == null) ) {
            callback(new Error(this.$t('Clients.err_discount')))
        } else {
            callback()
        }
    }

    var validArrivalDate = (rule, value, callback) => {
        var currentDate = moment().format('YYYY-MM-DD');
        if(moment(value,'YYYY-MM-DD').diff(currentDate)>0){
              callback(new Error(this.$t('Common.err-arrival-date')))
        } else {
            callback()
        }
    }

    var validFirstExpiry = (rule, value, callback) => {
        if(moment(value,'YYYY-MM-DD').diff(moment(this.form.arrival_date,'YYYY-MM-DD'))<=0){
              callback(new Error(this.$t('Clients.err_first_exp')))
        } else {
            callback()
        }
    }

    var validExpDate = (rule, value, callback) => {
        var currentDate = moment().format('YYYY-MM-DD');
        if((this.form.parent_id ==63 || this.form.parent_id == 114) && moment(value,'YYYY-MM-DD').diff(moment(this.form.first_exp_date,'YYYY-MM-DD'))<=0){
              callback(new Error(this.$t('Clients.err_exp_date')))
        } 
        else if((this.form.parent_id ==70 || this.form.parent_id == 148 || this.form.parent_id == 238) && moment(value,'YYYY-MM-DD').diff(moment(currentDate))<0){
              callback(new Error(this.$t('Clients.err2_exp_date')))
        } else {
            callback()
        }
    }

    var validIssueDate = (rule, value, callback) => {
        var currentDate = moment().format('YYYY-MM-DD');
        if(moment(value,'YYYY-MM-DD').diff(currentDate)>0){
              callback(new Error(this.$t('Clients.err_issue_date')))
        } else {
            callback()
        }
    }

    var validIcardExp = (rule, value, callback) => {
        if(moment(value,'YYYY-MM-DD').diff(moment(this.form.icard_issue_date,'YYYY-MM-DD'))<=0){
              callback(new Error(this.$t('Clients.err_icard_exp')))
        } else {
            callback()
        }
    }

    return {
      status : ['complete','on process','pending'],
      controls : false,
      // parent_id : 0,
      is_full_payment : 0,

      form: {
          cs_id: '',
          note: '',
          tip: '',
          charge: '',
          cost: '',
          discount: '',
          reason: '',
          status: '',
          active: '1',
          extend: '',
          tracking: '',
          exp_date: '',
          first_exp_date: '',
          arrival_date: '',
          icard_issue_date: '',
          icard_exp_date: '',
          parent_id: '',
      },

      rules: {
          reason: [
              { validator: isDiscountNotEmpty, trigger: 'blur'},
          ],

          arrival_date: [
              { required: true, message: this.$t('Clients.req_arrival') },
              { validator: validArrivalDate, trigger: 'blur'},
          ],

          first_exp_date: [
              { required: true, message: this.$t('Clients.req_1st_exp') },
              { validator: validFirstExpiry, trigger: 'blur'},
          ],

          exp_date: [
              { required: true, message: this.$t('Clients.req_exp_date') },
              { validator: validExpDate, trigger: 'blur'},
          ],

          icard_issue_date: [
              { required: true, message: this.$t('Clients.req_icard_issued') },
              { validator: validIssueDate, trigger: 'blur'},
          ],

          icard_exp_date: [
              { required: true, message: this.$t('Clients.req_icard_exp') },
              { validator: validIcardExp, trigger: 'blur'},
          ],
      },

      errors: []

    }
  },
  created () { 
    let vm = this;

    this.$eventBus.$emit('getVisaDetails');
    this.form.client_id = vm.$parent.$route.params.id;

    let data = this.$parent.$parent.$parent.$refs.modal.content.data;
    this.is_full_payment = data.is_full_payment;
    this.form.cs_id = data.id;
    this.form.status = data.status;
    this.form.charge = data.charge;
    this.form.cost = data.cost;
    this.form.tip = data.tip;
    this.form.tracking = data.tracking;
    this.form.active = '' + data.active;
    this.form.discount = '' + data.discount_amount;
    this.form.reason = data.discount_reason;
    this.form.arrival_date = data.arrival_date;
    this.form.first_exp_date = data.first_expiration_date;
    this.form.icard_issue_date = data.icard_issue_date;
    this.form.icard_exp_date = data.icard_expiration_date;
    if(data.parent_id == 63 || data.parent_id == 114){
      this.form.exp_date = data.extended_expiration_date;
    }
    else{
      this.form.exp_date = data.expiration_date;
    }
    this.form.parent_id = data.parent_id;
  },
  mounted() {

  },

  methods: {
    onEditService (clientForm) {
            this.errors = [];
            this.$refs[clientForm].validate((response) => {
                if(response) {
                    this.$store.dispatch('editClientService', this.form)
                    .then(res => {
                        var responseStatus = res.status.toLowerCase()
                        if(responseStatus === 'failed') {
                            this.errors = res.errors
                            this.$refs[clientForm].validate((response2) => { })
                        } else {
                            console.log("edit service response: " + JSON.stringify(res))
                            this.$message({
                                showClose: true,
                                message: this.$t('Group.service_successful_update'),
                                type: 'success',
                                center: true
                            })

                            setTimeout(() => {
                                this.$parent.$emit('close')
                                this.$eventBus.$emit('updateClientProfile');
                                this.$eventBus.$emit('updateServiceList',res.tracking);
                            }, 1000)
                        }
                    })
                }
            })
        },

  }
}
</script>

<style lang="scss">
    .add-button-container {
        margin-bottom: 40px;
    }

    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }

    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }

    .hide {
        opacity: 0;
    }

    .form-container {
        margin-bottom: 0px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }
    .smallInput{
      width: 160px;
    }
    .el-input-number .el-input input{
      text-align: left;
    }
    .smallInput .el-input__inner{
      width: 180px;
    }
    #longError .el-form-item__error{
      width: 180px;
      word-break: break-word;
      margin-bottom: 5px;
    }

</style>
