<template>
  <div class="group-box">
     <el-row >
        <el-col :span="8" style="margin-bottom: 6;" v-for="g in groups" :key="g.id">
          <div class="box" v-on:click="viewGroup(g.id)" style="border : 1px solid #bde8ef">
            <div class="box-title">
              <h3>{{ g.name }}</h3>
            </div>
            <div class="box-text">
              <span><b>{{ $t('Group.leader') }} : </b>{{ g.leader.first_name | capitalize }} {{ g.leader.last_name | capitalize}} 
                <small style="font-size: 10.5px; color: #168698" v-if="g.leader_id == $parent.$route.params.id">
                  {{ $t('Group.prof_is_lead') }}
                </small>
              </span><br>
              <span><b>{{ $t('Group.client_last_serv') }} : </b>
              <b v-if="g.client_last_active != null">{{ g.client_last_active.created_at | commonDate }}</b>
              <b v-else>N/A</b>
              </span><br>
              
              <span><b>{{ $t('Group.latest_gr_serv') }} : </b>
              <b v-if="g.group_latest_active != null">{{ g.group_latest_active.created_at | commonDate }}</b>
              <b v-else>N/A</b>
              </span><br>
              <!-- <span><b>Address : </b>{{ g.address }}</span> -->
            </div>
            <div class="box-btn">
                <a href="#">{{ $t('Group.view_group') }}</a>
            </div>
           </div>
        </el-col>
      </el-row>

  </div>
</template>

<script>

export default {
  name: 'group-list',
  data () {
    return {
      groups : [],
      loading: false,
    }
  },

  created () {
    //this.getClientGroups();
  },

  methods: {
    getClientGroups () { 
      let vm = this;
      return this.$services.client.getClientGroups({
        id: vm.$parent.$route.params.id
        // sort: sortParams
      })
        .then(response => {

          this.groups = response.data.data
        })
    },

    viewGroup(group_id){
      window.open('#/groups/profile/'+group_id, '_blank'); 
    },
  },

  computed: {
      
  }
}
</script>

<style lang="scss" scoped>

.group-box .box{
    width: 90%;
    background: #FFF;
    border-radius: 10px; 
    padding: 15px 10px;
    margin-top : 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.group-box .box:hover{
   box-shadow: 0 0 6px #4183D7;
   -webkit-box-shadow: 0 0 6px #4183D7;
  -moz-box-shadow: 0 0 6px #4183D7;
}

.group-box .box .box-text{
    margin: 8px 0px;
    font-size: 14px;
    line-height: 30px;
}

.group-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

.el-icon-takeaway-box{
     color:#4183D7;
}

</style>
