<template>
	<div>
		<div class="block old-trans-log-timeline" style="margin-top: 20px;">
		  	<el-timeline>
		  		<el-timeline-item v-for="log in oldtransaction_logs" :log="log" :timestamp="log.year != null ? log.month+' '+log.day+', '+log.year : ''"  placement="top" :color="log.year != null ? '#1d8ce0' : ''" style="padding-bottom: 1px;" :class="{'parent-timeline': (log.year != null)}">
		  			<el-row :gutter="10">

							<el-col :span="5"> 
				    			<el-card class="bal-details">
							        <p>{{ $t('Clients.current_balance') }}: 
								        <b>Php <span>{{(log.data.balance>0 ? '+' : '')}}{{log.data.balance | currency}}</span></b>
								    </p>
							        <p>{{ $t('Clients.prev_balance') }}: 
							        	<b>Php <span>{{(log.data.prevbalance>0 ? '+' : '')}}{{log.data.prevbalance | currency}}</span></b>
							        </p>
							        <p>{{ $t('Common.amount') }}: 
							        	<span :class="{
                                              'pos-amt': (log.data.amount > 0),
                                              'neg-amt': (log.data.amount < 0),
                                          }"><b>
                                          	<span name="amt-sign">
                                          		<!-- {{(log.data.amount>0 ? '+' : '')}}
                                          		{{(log.data.amount<0 ? '-' : '')}} -->
                                          	</span> 
							        	Php <span>{{log.data.amount | currency}}</span></b>
							        	</span>
							        </p>
							        <p>{{ $t('Common.type') }}: 
							        	<b><span>{{log.data.type }}</span></b>
							        </p>
							      </el-card>
							</el-col>

							<el-col :span="19">
				    			<el-card>
				    				<el-tag effect="dark" type="info" :class="{
                                              'bg-disabled': (log.data.active == 'none' && log.data.service_name == 'Service'),
                                              'bg-funds': (log.data.active == 'none' && log.data.service_name != 'Service'),
                                              'bg-yellow': (log.data.status == 'pending'),
                                              'bg-green': (log.data.status == 'on process'),
                                              'bg-aqua': (log.data.status == 'complete'),
                                              'bg-teal': (log.data.status == 'released'),
                                              'bg-gray': (log.data.status == 'cancelled'),
                                          }">
									    {{ (log.data.status == '' && log.data.service_name != 'Service' ? 'Funds' : (log.data.status == '' ? 'Disabled' : log.data.status) ) | capitalize }} 
									</el-tag>
							        <span class="service-name">{{ log.data.service_name }}</span><!-- Service Name -->
							        <br>
							        <div class="border-line"></div>
									<br>
							        <!-- LOG MESSAGE -->
							        <div v-if="log.data.old_detail != null">
							        	<el-collapse accordion>
										  <el-collapse-item name="1">
										    <template slot="title">
										      	<span class="log-msg">
									        		<span v-html="log.data.title"></span>
									        		<b> {{ log.data.processor }} | {{ log.data.date }}</b>
									        	</span>
										    </template>
										    <div><div class="log-msg">
										    		<div >
									        			<span v-html="log.data.old_detail"></span>
									        			<!-- <b> {{ log.data.processor }} | {{ log.data.date }}</b> -->
									        			<br>
									        		</div>
									        	</div></div>
										  </el-collapse-item>
										</el-collapse>
									</div>
									<div v-else>
										<span class="log-msg">
									        		<span v-html="log.data.title"></span>
									        		<b> {{ log.data.processor }} | {{ log.data.date }}</b>
									        	</span>
									</div>
							      </el-card>
							</el-col>
		  			</el-row>
		        </el-timeline-item>

			</el-timeline>
		</div>
	</div>
</template>

<script>

export default {
  name: 'old-transaction-logs-list',
  props: ['last'],
  components: {
    
  },
  data () {
    return {
      oldtransaction_logs: [],
    }
  },

  created () {
    this.getOldTransactionLogs();
  },

  mounted () {

  },

  methods: {
    getOldTransactionLogs () {
      let vm = this;
	  return this.$store.dispatch('getOldTransactionLogs', { client_id: this.$route.params.id, group_id : 0, lastBalance : this.last}).then(res => {
              this.oldtransaction_logs = res;
              // console.log(res);
          return res;
      });

    },

    bg(stat){
      switch(stat){
        case null:
          return ' bg-red';
          break;
        case 'on process':
          return ' bg-green';
          break;
        case 'pending':
          return ' bg-yellow';
          break;
        case 'complete':
          return ' bg-aqua';
          break;
        default:
          return 'bg-red';
      }
    },



  },

  computed: {

  }
}
</script>

<style lang="scss">
	.old-trans-log-timeline{

		.el-card {
		    border: 2px solid #e6e6e6 !important;
		}

		.complete-tag{
			background-color: #0ba8e4 !important;
    		border-color: #0ba8e4 !important;
		}

		.service-name{
			font-weight: bold;
		    margin-left: 5px;
		    color: #1d8ce0;
		}

		.el-card__body {
			font-size: 13px;
	    	min-height: 125px !important;
	    	padding: 10px !important;
		}

		.bal-details{
			.el-card__body {
		    	font-size: 11px;
			}

			.pos-amt{
				color:#0db502;
			}


			.neg-amt{
				color:#e42613;
			}
		}

		.border-line {
	        width: 100%;
	        height: 2px;
		    background-color: #e6e6e6;
		    margin-top: 3px;
	    }

	    .log-msg{
	    	margin-left: 35px;
	    	line-height: 20px;
	    	span{
	    		&:before {
	    			margin-left: 35px;
			        content: "• ";
			    }
	    	}
	    	b{
	    		color: #40586F;
	    		background-color: #eceef1;
			    border-color: #d9dee2;
			    border-width: 1px;
			    font-size: 12px;
	    	}
	    }

	    .el-timeline-item__timestamp {
		    color: #1d8ce0;
		    line-height: 1;
		    font-size: 13px;
		    font-weight: bold;
		    background: #f0f1f3;
		    padding: 6px;
		}
		.el-row {
			margin-bottom: 20px;
		}

		.bg-funds { background-color: #40586f !important; border-color: transparent;}
		.bg-yellow {background-color: #ffbc2d !important; border-color: transparent;}
		.bg-aqua {background-color: #00c0ef !important; border-color: transparent;}
		.bg-green {background-color: #4ec98b !important; border-color: transparent;}
		.bg-gray {background-color: #a8a8a8 !important; border-color: transparent;}
		.bg-teal {background-color: #09c8c8 !important; border-color: transparent;}
		.bg-disabled { background-color: #909399 !important; border-color: transparent;}
		.parent-timeline{
			margin-top: 10px;
		}
	}

</style>