<template>
    <div>
        <el-form ref="client_funds_form" :model="form" :rules="rules" :inline="true" label-width="100px" style="width: 100%;">
                  <el-form-item>
                      <small v-if="need_to_pay > 0"> Need to pay Php<b>{{ need_to_pay }}</b> for {{type}} to be fully paid. </small> <!-- {{ ewallet }} -->
                      <!-- <small v-else><b>FULLY PAID.</b></small> -->
                  </el-form-item>

                  <el-form-item  prop="amount" :label="$t('Common.amount')+':'"  label-position="center">
                      <el-input-number v-model="form.amount" :controls="controls" style="width: 220px;"></el-input-number>
                      
                  </el-form-item>

                  <el-form-item prop="reason" :label="$t('Common.reason')+':'">
                    <el-input v-model="form.reason" :placeholder="$t('Common.for_internal_use')" style="width: 220px;"></el-input>
                  </el-form-item>

                    <div class="align-right">
                        <el-button class="add-button" type="primary" @click="onSubmitFunds('client_funds_form')">{{ $t('Common.continue') }}</el-button>
                    </div>
                    <!-- {{form.cs_id}} -->

        </el-form>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-client-funds',
  components: {

  },
  data () {
    var amountGreaterZero = (rule, value, callback) => {
        if(value<=0){
              callback(new Error(this.$t('Common.input_more_than_zero')))
        } else {
            callback()
        }
    }

    return {

      controls : false,

      loading: false,
      value: [],
      groupvalue: [],
      user_branch : 1,

      payment_amount : 0,
      need_to_pay : 0,
      ewallet : 0,
      type : '',
      tracking : '',

      form: {
          client_id: '',
          cs_id: '',
          type: 'Payment',
          amount: '',
          reason: '',
          total_cost: 0,
          paytype: '',
      },

      rules: {
          reason: [
              { required: true, message: this.$t('Common.fillup_reason') },
          ],

          amount: [
              { required: true, message: this.$t('Common.fillup_amount') },
              { validator: amountGreaterZero, trigger: 'blur'},
          ],

      },

      errors: []

    }
  },
  created () {
    this.form.client_id = this.$parent.$route.params.id;
    this.$eventBus.$emit('getBranch');
    let data2 = this.$parent.$parent.$parent.$refs.modal.content.data2;
    this.type = this.$parent.$parent.$parent.$refs.modal.content.type;
    this.ewallet = data2.total_ewallet;
    if(this.type == 'Service'){
      let data = this.$parent.$parent.$parent.$refs.modal.content.data;
      this.form.cs_id = data.id;
      this.form.total_cost = (parseFloat(data.charge) + parseFloat(data.tip) + parseFloat(data.cost) + parseFloat(data.com_client) + parseFloat(data.com_agent)) - (data.discount_amount != null ? parseFloat(data.discount_amount) : 0) ;

      this.payment_amount = data.payment_amount;

      this.need_to_pay = this.form.total_cost - this.payment_amount;
      this.tracking = data.tracking;
    }
    if(this.type == 'Order'){
      let data = this.$parent.$parent.$parent.$refs.modal.content.orderdata;
      this.form.cs_id = data.order_id;
      // console.log(data);
      this.form.total_cost = data.total_price;

      this.payment_amount = data.money_received;

      this.need_to_pay = this.form.total_cost - this.payment_amount;
    }
  },

  mounted () {
      this.$eventBus.$on('passBranch', (data) => {
          this.user_branch = data;
      })
  },

  computed: mapGetters({
    session: 'session'
  }),

  methods: {
      discountAccess(){
        var id = this.session.user.id;
        var ids = [1,1193,2352];
        var check = ids.includes(id);
        return check;
      },

      onSubmitFunds (fundForm) {
          this.errors = [];
          // var tracking = this.$parent.$parent.$parent.$refs.modal.content.data.tracking;
          this.form.paytype = this.type;
          this.$refs[fundForm].validate((response) => {
              if(response) {
                if(this.form.amount > this.ewallet){
                    this.$message({
                              showClose: true,
                              message: 'Insufficient Ewallet Balance!',
                              type: 'warning',
                              center: true
                          })
                }
                else if(this.form.amount > this.need_to_pay){
                    this.$message({
                              showClose: true,
                              message: 'Amount entered is too high!',
                              type: 'warning',
                              center: true
                          })
                }
                else{
                    this.$store.dispatch('addClientFund', this.form)
                    .then(res => {
                        var responseStatus = res.status.toLowerCase()
                        if(responseStatus === 'failed') {
                            this.errors = res.errors
                            this.$refs[fundForm].validate((response2) => { })
                        } else {
                            this.$message({
                                showClose: true,
                                message: 'Payment successfully saved.',
                                type: 'success',
                                center: true
                            })

                            setTimeout(() => {
                                this.$parent.$emit('close')
                                this.$eventBus.$emit('updateClientProfile');
                                this.$eventBus.$emit('updateClientOrders');
                                if(this.tracking != ''){
                                  this.$eventBus.$emit('updateServiceList', this.tracking)
                                }
                            }, 1000)
                        }
                    })
                }
              }
          })
      },

  }
}
</script>

<style lang="scss">
    .add-button-container {
        margin-bottom: 40px;
    }

    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }

    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }

    .hide {
        opacity: 0;
    }

    .form-container {
        margin-bottom: 15px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }

    .el-input-number .el-input input{
      text-align: left;
    }

</style>
