<template>
  <div>
    <div v-if="!render" class="loading">
      <i class="el-icon-loading"/>
    </div>
    <div v-else class="scrollbar">
      <el-card>
        <div slot="header" class="el-card-title">
          {{qrData.name}}
        </div>
        <div class="el-card-body">
          <div class="el-card-body-child">
            <div class="el-card-body-child-qr_code">
              <qrcode-vue :value="qrData.qr_code" :size="qrSize" level="H" />
            </div>
          </div>
          <div class="el-card-body-child">
            <el-row>
              <el-col :span="16"><b>Service</b></el-col>
              <el-col :span="8" class="el-card-body-child-right"><b>Amount</b></el-col>
            </el-row>
            <el-row v-for="item in qrData.service">
              <el-col :span="16">{{item.service}}</el-col>
              <el-col :span="8" class="el-card-body-child-right">{{item.amount | currency}}</el-col>
            </el-row>
            <hr>
            <el-row>
              <el-col :span="16" style="text-align: right; padding-right: 10px;font-size: 13px;">2.5% Bank payment charge:</el-col>
              <el-col :span="8" style="font-size: 13px;" class="el-card-body-child-right">{{qrData.total_fee | currency}}</el-col>
            </el-row>
            <el-row>
              <el-col :span="16" style="text-align: right; padding-right: 10px; font-weight: bold;">Total Amount:</el-col>
              <el-col :span="8" class="el-card-body-child-right"><b>{{qrData.total_amount | currency}}</b></el-col>
            </el-row>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
  import QrcodeVue from 'qrcode.vue'

  export default {
    name: 'pay-service-qr-code',
    data(){
      return{
        render: false,
        window: {
          width: 0,
          height: 0
        },
        qrSize:0,
        qrData: {
          qr_code:'',
          service:[],
          name:'',
          total_fee:'',
          total_amount:'',
        },
      }
    },
    components:{
      QrcodeVue
    },
    created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
      this.getQRDatas()
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    methods: {
      getQRDatas(){
        const fd = new FormData()
        fd.append('id',this.$route.params.id)
        this.$store.dispatch("getQRData", fd).then(response => {
          let data = response.data
          if(data === undefined){
            this.$router.push({ name: 'not-found' });
          }else{
            this.qrData = data
            this.render = true
          }
        })
      },
      handleResize() {
        this.window.width = window.innerWidth
        this.window.height = window.innerHeight
        this.handleSizes()
      },
      handleSizes(){
        if(window.innerWidth >= 800){ //web
          this.qrSize = 400
        }else if(window.innerWidth >= 768){ //iPad
          this.qrSize = 725
        }else if(window.innerWidth >= 540){ //Surface Duo
          this.qrSize = 500
        }else if(window.innerWidth >= 414){ //iPhone 6/7/8 Plus
          this.qrSize = 375
        }else if(window.innerWidth >= 411){ //Pixel 2/XL
          this.qrSize = 370
        }else if(window.innerWidth >= 375){ //iPhone 6/7/8/X
          this.qrSize = 335
        }else if(window.innerWidth >= 360){ //Moto G4/Galaxy S5
          this.qrSize = 320
        }else if(window.innerWidth >= 320){ //iPhone 5/SE
          this.qrSize = 280
        }else if(window.innerWidth >= 280){ //Galaxy Fold
          this.qrSize = 240
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
  .loading{
    height: 100%;
    font-size: 100px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrollbar{
    height: 100%;
    overflow: auto;
    background-color: white;
  }

  .scrollbar::-webkit-scrollbar {
    width: 0;
  }

  .el-card {
    &-title{
      font-size: 25px;
    }

    &-body{
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 800px) {
        flex-direction: column;
      }

      &-child{
        flex: 1;

        &-qr_code{
          margin-bottom: 20px;
          text-align: center;
        }

        &-right{
          @media only screen and (min-width: 800px) {
            text-align: right;
            padding-right: 150px;
          }
          @media only screen and (max-width: 800px) {
            text-align: right;
          }
        }

        .el-row{
          margin-bottom: 20px;
        }
      }
    }
  }
</style>
