<template>
  <div>
    <div>
      Payment Mode :
      <el-radio-group v-model="payMode" size="small">
        <el-radio-button label="Ewallet"></el-radio-button>
        <el-radio-button label="Cash"></el-radio-button>
        <el-radio-button label="QR Code"></el-radio-button>
      </el-radio-group>&nbsp;

      <el-button class="add-button" type="primary" size="mini" @click="handlePayment">{{ $t('Common.save') }}</el-button>
    </div>
    <div>
      <el-row :gutter="5">
        <el-table :data="form.data" style="width: 100%">
          <el-table-column prop="tracking" :label="this.$t('Common.package')" width="80"/>
          <el-table-column prop="detail" :label="this.$t('Common.detail')" width="350" :formatter="formatter" />
          <el-table-column prop="status" :label="this.$t('Common.status')" :formatter="formatter" />
          <el-table-column prop="charge" :label="this.$t('Common.charge')" :formatter="formatter" />
          <el-table-column prop="discount_amount" :label="this.$t('Common.discount')" :formatter="formatter" />
          <el-table-column prop="payment_amount" :label="this.$t('Common.payment')" :formatter="formatter" />
          <el-table-column prop="sub" :label="this.$t('Common.sub')" :formatter="formatter" />
          <el-table-column :label="this.$t('Common.amount')" width="180">
            <template slot-scope="scope">
              <el-input type="number" placeholder="0.00" maxlength="400" size="mini" v-model="form.payment[scope.row.id]">
                <el-button slot="append" type="primary" plain size="mini" icon="el-icon-money" @click="eventFullPayment(scope.row)" />
              </el-input>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
    </div>
  </div>
</template>

<script>
    export default {
        data(){
          return {
            payMode: 'Ewallet',
            id: '',
            eWallet: 0,
            loading: false,
            form: {
              data: [],
              payment: [],
            },
            qrData: [],
          }
        },
        name: "pay-service-list",
        created() {
            this.id = this.$parent.$parent.content.id
            this.eWallet = this.$parent.$parent.content.eWallet
        },
        mounted() {
          this.getPayServiceList()
        },
        methods: {
            getPayServiceList(){
              this.$store.dispatch('getPayServices', this.id)
                .then(res => {
                  this.form.data = res.data
                })
            },
            formatter(row, column){
              if(column.property==="status"){
                return row.active == 1 ? row.status : (row.status != 'cancelled' ? 'disabled' : row.status)
              }else
              if(column.property==="detail"){
                //let res = row.detail | this.$root.$options.filters.capitalize //global filter not working
                let res = row.detail.toString()
                return res.charAt(0).toUpperCase() + res.slice(1)
              }else
              if(column.property==="charge"){
               let val = (row.active == 1 && row.status != 'cancelled' ) ? 0 - (parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.cost) + parseFloat(row.com_client) + parseFloat(row.com_agent)) : 0
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }else
              if(column.property==="discount_amount"){
                let val = row.discount_amount != null ? parseFloat(row.discount_amount) : 0
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }else
              if(column.property==="payment_amount"){
                let val = (row.payment_amount != null && (row.active == 1 && row.status != 'cancelled')) ? parseFloat(row.payment_amount) : 0
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }else
              if(column.property==="sub"){
                let val = (row.active == 1 && row.status != 'cancelled') ?
                  ((
                      (row.discount_amount != null ? parseFloat(row.discount_amount) : 0)
                      +
                      (row.payment_amount != null ? parseFloat(row.payment_amount) : 0)
                    )
                    -
                    (parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.cost) + parseFloat(row.com_client) + parseFloat(row.com_agent)))
                  : 0
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }
            },

            eventFullPayment(row) {
              let val = ((row.discount_amount != null ? parseFloat(row.discount_amount) : 0) + (row.payment_amount != null ? parseFloat(row.payment_amount) : 0))
                        -
                        (parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.cost) + parseFloat(row.com_client) + parseFloat(row.com_agent))
              val = Math.abs(val)
              this.$set(this.form.payment, row.id, val);
            },

            handlePayment(){
              let vm = this;
              let payment = [];
              let err = false;
              let totalPay = 0;
              let data = this.form.data;

              data.map((d,index) => {
                if(typeof this.form.payment[d.id] != 'undefined'  && this.form.payment[d.id] != ''){
                  let need_to_pay = ((parseFloat(d.cost) + parseFloat(d.charge) + parseFloat(d.tip) + parseFloat(d.com_client) + parseFloat(d.com_agent))) - (parseFloat((d.discount_amount == null ? 0 : d.discount_amount))  + parseFloat((d.payment_amount == null ? 0 : d.payment_amount)));
                  // console.log(need_to_pay);


                  if(parseFloat(this.form.payment[d.id]) > this.eWallet && this.payMode == 'Ewallet'){
                    err = true;
                  }
                  else{
                    payment.push(
                      {
                        id: d.id,
                        service: this.form.data[index]['detail'],
                        amount:this.form.payment[d.id],
                        client_id: d.client_id,
                        total_cost: need_to_pay
                      }
                    );
                    totalPay += parseFloat(this.form.payment[d.id]);
                  }

                }
              })

              if(payment.length > 0 && !err){

                this.$confirm('Are you sure you want to save the data? If you continue you cannot undo this action. Continue?', 'Warning', {
                  confirmButtonText: 'OK',
                  cancelButtonText: 'Cancel',
                  type: 'warning'
                }).then(() => {

                  this.$store.dispatch('addClientPayment',{
                    client_id: vm.$parent.$route.params.id,
                    mode: 'batch',
                    payments: payment,
                    paymode: this.payMode
                  })
                    .then(res => {

                      if (res.code === 200) {

                        this.$message({
                          showClose: true,
                          message: this.$t('Group.service_successful_update'),
                          type: 'success',
                          center: true
                        });

                        this.getPayServiceList()
                        this.form.payment = [];

                        setTimeout(() => {
                            this.qrData = res.data
                            this.payQrCode()
                            this.$parent.$emit('close')
                            this.$eventBus.$emit('updateTransactionHistory');
                            this.$eventBus.$emit('updateClientProfile');
                            // this.$eventBus.$emit('updateServiceList');
                        }, 1000)

                      } else {
                        this.$message({
                          showClose: true,
                          message: this.$t('Common.error_saving_data'),
                          type: 'error',
                          center: true
                        });
                      }
                    });

                }).catch(() => {
                  this.$message({
                    type: 'info',
                    message: 'Saving canceled'
                  });
                });

              }
              else if(err && this.payMode == 'Ewallet'){
                this.$message({
                  showClose: true,
                  message: 'Insufficient Ewallet Balance!',
                  type: 'warning',
                  center: true
                });
              }
              else{
                this.$message({
                  showClose: true,
                  message: this.$t('Common.fillup_amount'),
                  type: 'error',
                  center: true
                });
              }
            },

          payQrCode(){
            let id = this.qrData.id
            let routeData = this.$router.resolve(
              {
                name: 'pay-service-qr-code',
                params: {id}
              }
            );
            window.open(routeData.href, '_blank');
          },
        }
    }
</script>
