<template>
  <div>
    <el-tabs type="border-card" @tab-click="changeTab">
		  <el-tab-pane :label="$t('Service.services')">
		  		<service-list ref="clientService" :data="data"></service-list>
		  </el-tab-pane>
		  <el-tab-pane :label="$t('Logs.action-logs')">
		  		<Actions ref="clientActionLogs"></Actions>
		  </el-tab-pane>
      <el-tab-pane :label="'Service Logs'">
		  		<Transactions ref="clientTransactionLogs"></Transactions>
		  </el-tab-pane>
		  <el-tab-pane :label="$t('Logs.doc-logs')">
		  		<DocumentLogs ref="documentlogs"></DocumentLogs>
		  </el-tab-pane>
		  <el-tab-pane label="Documents On Hand">
		  		<DocumentsOnHand ref="documentsOnHand"></DocumentsOnHand>
		  </el-tab-pane>
		  <el-tab-pane :label="$t('Group.groups')">
				<group-list ref="clientGroups"></group-list>
		  </el-tab-pane>
		</el-tabs>
  </div>
</template>


<script>
import ServiceList from './service-list.vue'
import GroupList from './group-list.vue'
import Transactions from './transaction-logs.vue'
import DocumentLogs from './document-logs.vue'
import DocumentsOnHand from './documents-on-hand.vue'
import Commissions from './commission-logs.vue'
import Actions from './action-logs.vue'
import UploadList from './upload-list.vue'
import PaymentList from './payment-list.vue'
import ChangeServiceProfile from './change-service-profile'

export default {
  name: 'profile-tab-2',
  components: { ServiceList, GroupList, Transactions, DocumentLogs, DocumentsOnHand, Commissions, UploadList, Actions, PaymentList, ChangeServiceProfile },
  props: ['data'],
  methods: {
    changeTab (tab, event) {
      switch (tab.label) {
        	case 'Services' : {
        		this.$refs.clientService.getServicesByTracking(0)
        		break
        	}
        	case 'Action Logs' : {
        		this.$refs.clientActionLogs.getActionLogs()
        		break
        	}
        	case 'Service Logs' : {
        		this.$refs.clientTransactionLogs.getTransactionLogs()
        		break
        	}
        	case 'Document Logs' : {
        		this.$refs.documentlogs.getDocumentLogs()
        		break
        	}
        	case 'Documents On Hand' : {
        		this.$refs.documentsOnHand.getDocumentsOnHand()
        		break
        	}
        	case 'Uploads' : {
        		break
        	}
        	case 'Groups' : {
        		this.$refs.clientGroups.getClientGroups()
        		break
        	}
        	case 'Commission' : {
        		this.$refs.clientCommissionLogs.getCommissionLogs()
        		break
        	}

        case 'Payments' : {
          // this.$refs.clientPaymentList.getUnpaidService()
          break
        }

        	default : {
        		break
        	}
      }
    }
  }
}
</script>


<style lang="scss" scoped>

</style>