<template>
  <div>
  	<!-- {{ data.total_ewallet }} -->
    <div class="top">
      <el-button type="primary" plain size="small" icon="el-icon-plus" class="global_blue" @click.prevent="showAddClientFundsModal">{{ $t('Group.add-funds') }}
      </el-button> <!--
      <el-button type="primary" plain size="small" icon="el-icon-plus" class="global_blue" @click.prevent="showPayServiceModal">
        {{ $t('Group.pay-service') }}
      </el-button> -->

      <router-link
        :to="{ name: 'client-transaction-logs', params: { id: $route.params.id } }"
        target="_blank"> <!--style="margin-left:10px;">-->

        <el-button type="primary" plain size="small" icon="el-icon-plus"
                   class="global_blue">
          Show old transaction logs
        </el-button>

      </router-link>

      <router-link
        :to="{ name: 'clients-funds-summary', params: { id: $route.params.id } }"
        target="_blank"
        style="margin-left:10px;">

        <el-button type="primary" plain size="small" icon="el-icon-plus"
                   class="global_blue">
          View Funds Summary
        </el-button>
      </router-link>
      
    </div>

    <TransactionHistory ref="clientTransactionHistory"></TransactionHistory>

  </div>
</template>


<script>
import TransactionHistory from './transaction-history.vue'
import AddClientFunds from './add-client-funds'
import PayServiceList from './pay-service-list'
import QrcodeVue from 'qrcode.vue'

export default {
  name: 'profile-tab-4',
  components: {
    TransactionHistory, AddClientFunds, PayServiceList, QrcodeVue
  },
  props: ['data'],

  methods : {
    handleClose(done) {
      this.$confirm('Are you sure to close this dialog?')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    // Show modal for add funds
    showAddClientFundsModal () {
      var data = this.data;
      this.$store.dispatch('callModal', { child_component: AddClientFunds, title: this.$t('Group.add-funds'), modalWidth: '400px', content : { data } })
    },

    showPayServiceModal() {
      this.$store.dispatch('callModal', {
        child_component: PayServiceList,
        title: this.$t('Group.pay-service'),
        modalWidth: '70%', content : { id: this.$route.params.id, eWallet: this.data.total_ewallet }
      })
    },
  },
}
</script>


<style lang="scss" scoped>
  .top{
      .el-button + .el-button {
        margin-left: 0px !important;
      }

      .el-button {
        margin-right: 10px !important;
        margin-top: 5px;
        margin-bottom: 5px;
      }
  }
</style>
