<template>
  <div>
    <data-table 
      :get-data="getData"
      ref="table"
      :columns="columns">
        <b class="text-size" slot="id" slot-scope="{row}">
          {{row.order_id}}
        </b>

        <span class="text-size" slot="date" slot-scope="{row}">
          {{ convertDate(row.created_at, 'MMMM DD, YYYY') }}
        </span>

        <span class="text-size" slot="status" slot-scope="{row}">
          {{ (Number(row.is_delivered) === 0) ? 'For delivery' : 'Delivered' }}
        </span>

        <span class="text-size" slot="total_price" slot-scope="{row}">
          {{ row.total_price }}
        </span>

        <div slot="action" slot-scope="{row}">
          <el-tooltip :enterable="enterable" class="item" effect="dark" content="Pay Order" placement="top-start" v-if="parseFloat(row.money_received) != parseFloat(row.total_price)">
                <el-button round  type="text" icon="el-icon-bank-card" size="mini" class="global_blue" @click="showPayOrderModal(row)"></el-button>
          </el-tooltip>

          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="'View Order'" placement="top-start" >
            <el-button round type="text" size="mini" icon="el-icon-arrow-right" class="global_blue" @click="viewOrder(row.order_id)"></el-button>
          </el-tooltip>
        </div>
    </data-table>
  </div>
</template>


<script>
import DataTable from '../../../components/datatable'
import PayService from './pay-service'

export default {
  name: 'profile-tab-3',
  components: {
    DataTable, PayService
  },
  props: ['client_id','odata'],
  data() {
    return {
      data: [
        {
          order_id: 1,
          order_date: 'date',
          status: 'status',
          total_price: 'total price'
        }
      ],
      enterable : false,
      columns: [ // set table column names here, use expand to expand child content
        // {
        //   type: "expand"
        // },
        {
          prop: 'id',
          label: 'Order ID',
          minWidth: '55',
          sortable: true
        },
        {
          prop: 'date',
          label: 'Order Date',
          minWidth: '100',
          sortable: true
        },
        {
          prop: 'status',
          label: 'Status',
          minWidth: '80',
          sortable: true
        },
        {
          prop: 'total_price',
          label: 'Total Price',
          minWidth: '80',
          sortable: true
        },
        {
          prop: 'action',
          fixed: 'right',
          label: this.$t('Common.actions'),
          width: '150'
        }
      ]
    }
  },

  mounted() {
      this.$eventBus.$on('updateClientOrders', (data) => {
        this.$refs.table.getTableData()
      })
  },
  methods: {
    getData ({ page, query, sortParams, size }) {
      // if(sortParams.length == 0){
      //   sortParams = 'id-desc' 
      // }
      // return this.$services.orders.userOrderList({
      //   id: this.client_id,
      //   data: {
      //     page: 'page=' + page,
      //     perPage: size
      //   }
      // })
      return this.$store.dispatch('userOrderList', {
        id: this.client_id,
        data: {
          page: 'page=' + page,
          perPage: size
        }
      }).then(response => {
        const  data  = response
        console.log('order list', response)
        return {
          data: data.data,
          total: data.total,
          size: size
        }
      })
    },

    convertDate(date, format) {
      return moment(date).format(format);
    },

    viewOrder(order_id) {
      let routeData = this.$router.resolve({path: '/order/view/' + order_id});
      window.open(routeData.href, '_blank');
    },

    // Show modal for pay order
    showPayOrderModal(orderdata){
      var data2 = this.odata;
      var type = 'Order';
      this.$store.dispatch('callModal', { child_component: PayService, title: 'Pay Order', modalWidth: '400px' , content : { orderdata, data2, type } })
    },
  }
}
</script>


<style scoped>

</style>