<template>
  <div>
    <div class='profile-bg'>
      <el-row :gutter="20">
        <el-col :xl="9" :lg="9" :md="9" :sm="24" :xs="24">
          <div class="grid-content bottom-spacing">
            <h3>{{ $t('Clients.statistics') }}</h3>

            <el-col :span="14">
              <span class="profile-StatLabelSmall profile-block" style="font-size: 16px; font-weight: bold; ">{{  $t('Transaction.wallet-balance') }} : </span>
            </el-col>
            <el-col :span="10">
            <span class="profile-StatLabelSmall profile-block" style="font-size: 16px; font-weight: bold; "><b> {{ data.total_ewallet | currency }} </b></span>
            </el-col>

            <el-col :span="14">
              <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.total_service_cost') }} : </span>
            </el-col>
            <el-col :span="10">
            <span class="profile-StatLabelSmall profile-block"><b> {{ data.total_complete_service_cost }} </b></span>
            </el-col>

            <el-col :span="14">
              <span class="profile-StatLabelSmall profile-block">{{  $t('Transaction.total-service-cost') }} : </span>
            </el-col>
            <el-col :span="10">
            <span class="profile-StatLabelSmall profile-block"><b> {{ data.total_cost }} </b></span>
            </el-col>


            <el-col :span="14">
              <span class="profile-StatLabelSmall profile-block">{{  $t('Transaction.total-payment') }} : </span>
            </el-col>
            <el-col :span="10">
            <span class="profile-StatLabelSmall profile-block"><b> {{ parseFloat(data.total_payment) + parseFloat(data.total_deposit) }} </b></span>
            </el-col>

            <el-col :span="14">
              <span class="profile-StatLabelSmall profile-block">{{  $t('Transaction.total-withdrawal') }}: </span>
            </el-col>
            <el-col :span="10">
            <span class="profile-StatLabelSmall profile-block"><b> {{ data.total_refund }} </b></span>
            </el-col>

            <el-col :span="14">
              <span class="profile-StatLabelSmall profile-block">{{  $t('Transaction.total-promo') }} : </span>
            </el-col>
            <el-col :span="10">
            <span class="profile-StatLabelSmall profile-block"><b> {{ data.total_discount }} </b></span>
            </el-col>

          </div>
        </el-col>

        <el-col :xl="7" :lg="7" :md="7" :sm="24" :xs="24">
          <div class="grid-content bottom-spacing">
            <h3>{{ $t('Clients.basic_info') }}</h3>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.gender') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <span class="profile-StatLabelSmall profile-block">
                <b> {{ (data.gender != null  ? data.gender : '--') }} </b>
              </span>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.nationality') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ ( data.nationalities && (data.nationalities).length > 0 ? data.nationalities[0].name : '--') }} </b>
                </span>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.birth_country') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <span class="profile-StatLabelSmall profile-block"><b> {{ (data.birth_country ? data.birth_country.name : '--') }} </b></span>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.age') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.birth_date != null  ? data.birth_date : '') | age }} </b>
                </span>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Common.birthday') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.birth_date != null  ? data.birth_date : '--')  }} </b>
                </span>
              </el-col>
            </el-row>

<!--             <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">Wechat ID: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.wechat_id != null  ? data.wechat_id : '--')  }} </b>
                </span>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">Telegram: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.telegram != null  ? data.telegram : '--')  }} </b>
                </span>
              </el-col>
            </el-row> -->

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Profile.address') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <el-tooltip class="item" effect="dark" :content="$t('Clients.updated')+': '+ (data.update_address)" placement="top-start" style="cursor: help;">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.address != null  ? data.address : '--') }} </b>
                </span>
              </el-tooltip>
              </el-col>
            </el-row>

          </div>
        </el-col>

        <el-col :xl="8" :lg="8" :md="8" :sm="24" :xs="24">
          <div class="grid-content">
            <h3>{{ $t('Clients.personal_information') }}</h3>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Profile.contact') }} #: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <el-tooltip class="item" effect="dark" :content="$t('Clients.updated')+': '+ (data.update_contact)" placement="top-start" style="cursor: help;">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.contact != null ? data.contact.number : '--') }} </b>
                </span>
                </el-tooltip>
              </el-col>
            </el-row>

            <el-row v-if="(data.contact_alternate).length > 0" v-for="ca in data.contact_alternate">
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block" style="text-transform: capitalize;">{{ ca.type }} : </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <el-tooltip class="item" effect="dark" :content="$t('Clients.updated')+': '+ (data.update_contact)" placement="top-start" style="cursor: help;">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ ca.detail }} </b>
                </span>
                </el-tooltip>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.passport') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <el-tooltip class="item" effect="dark" :content="$t('Clients.updated')+': '+ (data.update_passport)" placement="left" style="cursor: help;">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.passport != null ? data.passport : '--') }} </b>
                </span>
              </el-tooltip>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.passport_exp') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <el-tooltip class="item" effect="dark" :content="$t('Clients.updated')+': '+ (data.update_visa)" placement="left" style="cursor: help;">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.passport_exp_date != null ? data.passport_exp_date : '--') }}</b>
                </span>
              </el-tooltip>
              </el-col>
            </el-row>

            <el-row>
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.visa_type') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <el-tooltip class="item" effect="dark" :content="$t('Clients.updated')+': '+ (data.update_visa)" placement="left" style="cursor: help;">
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.visa_type != null ? data.visa_type : '--') }} </b>
                </span>
              </el-tooltip>
              </el-col>
            </el-row>

          <el-row v-if="data.visa_type === '9A'">
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.arrival') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <!-- <el-tooltip class="item" effect="dark" :content="'Updated :'+ (data.update_visa)" placement="top-start" style="cursor: help;"> -->
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.arrival_date != null ? data.arrival_date : '--') }} </b>
                </span>
              <!-- </el-tooltip> -->
              </el-col>
          </el-row>

          <el-row v-if="data.visa_type === '9A'">
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.first_exp') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <!-- <el-tooltip class="item" effect="dark" :content="'Updated :'+ (data.update_visa)" placement="top-start" style="cursor: help;"> -->
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.first_expiration_date != null ? data.first_expiration_date : '--') }} </b>
                </span>
              <!-- </el-tooltip> -->
              </el-col>
            </el-row>

            <el-row v-if="data.visa_type === '9A'">
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.ext_expiration') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <!-- <el-tooltip class="item" effect="dark" :content="'Updated :'+ (data.update_visa)" placement="top-start" style="cursor: help;"> -->
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.extended_expiration_date != null ? data.extended_expiration_date : '--') }} </b>
                </span>
              <!-- </el-tooltip> -->
              </el-col>
            </el-row>

            <el-row v-if="data.visa_type === '9G' || data.visa_type === 'TRV' || data.visa_type === 'CWV'">
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.exp_date') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <!-- <el-tooltip class="item" effect="dark" :content="'Updated :'+ (data.update_visa)" placement="top-start" style="cursor: help;"> -->
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.expiration_date != null ? data.expiration_date : '--') }} </b>
                </span>
              <!-- </el-tooltip> -->
              </el-col>
          </el-row>

          <el-row v-if="data.visa_type === '9G' || data.visa_type === 'TRV'">
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.icard_issue_date') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <!-- <el-tooltip class="item" effect="dark" :content="'Updated :'+ (data.update_visa)" placement="top-start" style="cursor: help;"> -->
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.icard_issue_date != null ? data.icard_issue_date : '--') }} </b>
                </span>
              <!-- </el-tooltip> -->
              </el-col>
            </el-row>

            <el-row v-if="data.visa_type === '9G' || data.visa_type === 'TRV'">
              <el-col :xl="10" :lg="10" :md="10" :sm="14" :xs="14">
                <span class="profile-StatLabelSmall profile-block">{{ $t('Clients.icard_exp_date') }}: </span>
              </el-col>
              <el-col :xl="14" :lg="14" :md="14" :sm="10" :xs="10">
                <!-- <el-tooltip class="item" effect="dark" :content="'Updated :'+ (data.update_visa)" placement="top-start" style="cursor: help;"> -->
                <span class="profile-StatLabelSmall profile-block">
                  <b> {{ (data.icard_expiration_date != null ? data.icard_expiration_date : '--') }} </b>
                </span>
              <!-- </el-tooltip> -->
              </el-col>
            </el-row>
          </div>
        </el-col>
      </el-row>

      <br>
    </div>

    <div class="profile-user">
      <div class="profile-display">
        <div class="display-avatar">
          <div class="profile-avatarLink">
            <img src="/img/user-icon-f.png" class="profile-avatarImg" v-if="data.gender == 'Female'">
            <img src="/img/user-icon-m.png" class="profile-avatarImg" v-if="data.gender == 'Male'">
          </div>
        </div>

        <div class="grid-content">
          <div class="profile-Name">
            <div>
              <el-tooltip placement="top-start" v-if="data.remarks !=0">
                <div slot="content">
                  <table class="breakdown-table">
                    <tr v-for="remark in data.remarks">
                      <td>
                        {{ remark.remark }} - Operator: {{ remark.created_by }}, {{ remark.created_at }}
                      </td>
                    </tr>
                  </table>
                </div>
                <span v-bind:class="[data.risk!=='Regular'?'high-risk':'']" style="cursor: pointer; text-decoration: underline; font-weight: bold;">
                  {{ data.first_name | capitalize }} {{ data.last_name | capitalize  }}
                </span>
              </el-tooltip>

              <div v-bind:class="[data.risk!=='Regular'?'high-risk':'normal']" v-else>
                {{ data.first_name | capitalize }} {{ data.last_name | capitalize  }}
              </div>
            </div>

            <el-tooltip class="item" effect="dark" :content="$t('Clients.edit-client')" placement="top-start">
              <a href="javascript:void(0)" @click="goToEditClient(data.id)" style="margin-left: 12px; color: #1D8CE0 !important;">
                <i class="el-icon-edit"></i>
              </a>
            </el-tooltip>

            <el-tooltip class="item" effect="dark" :content="$t('Common.change-status')" placement="top-start">
              <a href="javascript:void(0)" @click="changeStatusModal(data.id, data.risk)" style="margin-left: 12px; color: #1D8CE0 !important;">
                <i class="el-icon-s-flag"></i>
              </a>
            </el-tooltip>

            <el-tooltip class="item" effect="dark" :content="$t('Common.add-remarks')" placement="top-start" >
              <a href="javascript:void(0)" @click="addRemarksModal(data.id)" style="margin-left: 12px; color: #1D8CE0 !important;">
                <i class="el-icon-document-add"></i>
              </a>
            </el-tooltip>
          </div>
          <span>
            <a style="margin-right: 20px;">ID: <span><b>{{ data.id }}</b></span></a>
            <a>@<span>{{ (data.branch ? data.branch.name : '') }}</span></a>
          </span>
        </div>
      </div>
      <div class="profile-stats">
        <ul class="profile-Arrange">
          <li class="profile-totals">
            <a>
              <span class="profile-StatLabel profile-block">{{ $t('Transaction.total-balance') }}</span>
              <span class="profile-StatValue">{{ data.total_balance | currency }}</span>
            </a>
          </li>
          <li class="profile-totals">
            <a>
              <span class="profile-StatLabel profile-block">{{ $t('Transaction.total-collectables') }}</span>
              <span class="profile-StatValue">{{ (data.total_collectables < 0 ? data.total_collectables : 0) | currency }}</span>
            </a>
          </li>
          <li class="profile-totals">
            <a>
              <span class="profile-StatLabel profile-block" style="padding-left:100px">Passport Monitor</span>
              <el-switch v-model="passport_monitor" v-if="passport_monitor_show === true" class="profile-StatValue" style="padding-left:100px" active-color="#13ce66" inactive-color="#ff4949" @change="switchPassportMonitor()"/>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="upload-docs-container">
      <UploadList ref="uploadList"
        :client_id="client_id"
        :documents="documents"
        :documentAlbum="documentAlbum">
      </UploadList>
    </div>
  </div>
</template>

<script>
import UploadList from './upload-list.vue'
import ChangeStatus from './change-status'
import AddRemarks from "./add-remarks";

export default {
  name: 'profile-tab-1',
  components: { UploadList, ChangeStatus },
  props: ['data', 'service_profile', 'serviceProfileList', 'client_id', 'documents', 'documentAlbum'],
  
  data(){
    return{
      passport_monitor_show: false,
      passport_monitor: false
    }
  },
  mounted() {
    this.$eventBus.$emit('updateClientProfile',true);
    this.getPassportMonitor();
  },

  methods: {
    async changeServiceProfile (serviceProfileId) {
      if (serviceProfileId !== '') {
        var index = this.serviceProfileList.findIndex(s => s.id === serviceProfileId)

        this.$store.dispatch('callModal', {
          child_component: ChangeServiceProfile,
          modalWidth: '35%',
          content: {
            id: serviceProfileId,
            name: this.serviceProfileList[index].name,
            client_id: this.$route.params.id
          }
        }) // call global modal state
      }
    },

    getPassportMonitor(){
      this.$services.client.getClientProfile({
          id: this.client_id
      }).then(response => {
        this.passport_monitor = response.data.data.client.passport_monitor
        if(this.passport_monitor === 1){
          this.passport_monitor = true
        }else{
          this.passport_monitor = false
        }
        this.passport_monitor_show = true
      }).catch(error =>{
        if(error.response.status === 500){
          this.getPassportMonitor()
        }
      })
    },

    switchPassportMonitor(){
      console.log(this.client_id)
      const fd = new FormData();
      fd.append("id", this.client_id);
      this.$store.dispatch('updatePassportMonitor', fd).then(response=>{
        console.log(response)
      })
    },

    goToEditClient (clientID) {
      this.$router.push({
        name: 'edit-client',
        params: { id: clientID, data: this.data }
      })
    },

    changeStatusModal (id, risk) {
      this.$store.dispatch('callModal', {
        child_component: ChangeStatus,
        modalWidth: '35%',
        content: {
          id: id,
          risk: risk
        }
      }) // call global modal state
    },

    addRemarksModal(id){
      this.$store.dispatch('callModal', {
        child_component: AddRemarks,
        title: this.$t('Clients.add-client-remarks'),
        modalWidth: '35%',
        content: {
          id: id
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-bg {
  padding: 10px 12px 25px;
  width: auto;
}

.profile-user {
    display: flex; 
    width: auto;
    margin-bottom: 10px;

    .profile-display {
      display: flex;
      align-items: flex-end;

      .display-avatar {
        margin-right: 10px;
      }

      .grid-content {
        margin-bottom: 2px;
        width: 270px;

        .profile-Name {
          display: flex;
        }
      }
    }

    .profile-stats {
      flex: 1;
      /*display: flex;*/
      align-items: flex-end;

      .profile-totals {
        display: inline-block;
        padding: 3px 0px;

        &:first-child {
          padding-right: 10%;
        }
      }
    }
  }

  .upload-docs-container {
    border-top: 1px solid #e1e8ed;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .high-risk {
    color: RED;
    font-weight: bold;
  }

  .normal {
    font-weight: normal;
  }
</style>
