<template>
	
	<div>
		
		<template v-if="onHandDocuments.length == 0">
			<el-divider>
				<i class="el-icon-star-on"></i>
					No documents on hand to display
				<i class="el-icon-star-on"></i>
			</el-divider>
		</template>

		<template v-else>
			<el-form ref="form" :model="form" :inline-message="true" :inline="true">
				<el-row v-if="form.users[0].documents.length > 0">
					<el-col :span="24">
					  	<el-form-item label="Recipient" prop="users[0].recipient">
							<el-input v-model="form.users[0].recipient" placeholder="Enter recipient name" style="width: 400px;"></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<template v-for="(document, index) in form.users[0].documents">
					<el-row>
						<el-col :span="1" class="center">
							<el-button type="danger" size="mini" icon="el-icon-delete" circle @click="handleDeleteDocument(document)"></el-button>
						</el-col>

						<el-col :span="13">
							<div style="margin-top: 5px;">
								<span>{{ document.title }}</span>

							  	<span class="text-muted"> (On Hand: {{ document.onHandCount }})</span>
						  	</div>
						</el-col>

						<el-col :span="10">
						  	<el-form-item
						  		style="margin-top: -10px;"
								:prop="'users[0].documents.' + index + '.count'"
								:rules="[
									{
										required: true, 
										message: 'Field is required.', 
										trigger: 'blur'
									},
									{
										validator: validateCount, 
										trigger: 'blur' 
									}
								]"
							>
								<el-button type="danger" size="mini" @click="decrementCount(document)">
							  		<i class="el-icon-minus"></i>
							  	</el-button>

						  		<el-input size="small" :min="0" v-model="document.count"style="width:100px;"></el-input>

						  		<el-button type="primary" size="mini" @click="incrementCount(document)">
							  		<i class="el-icon-plus"></i>
							  	</el-button>
						  	</el-form-item>
						</el-col>
					</el-row>
				</template>
			</el-form>

			<div class="spacer-10"></div>

			<el-row v-if="form.users[0].documents.length > 0" :gutter="10" class="m-t-10 pull-right">
				<el-button type="primary" size="medium" @click="handleSubmit">
					Submit
				</el-button>
			</el-row>

			<div class="spacer-10"></div>
		</template>

	</div>

</template>

<script>
	
	export default {

		name: 'release-documents',

		data() {
			return {
				form: {
					users: [
						{
							id: this.$route.params.id,
							documents: [],
							recipient: ''
						}
					]
				},

				onHandDocuments: []
			}
		},

		methods: {
			initData() {
				this.resetData();

				this.getOnHandDocuments();
			},

			resetData() {
				this.form.users[0].documents = [];

				this.form.users[0].recipient = '';

				this.onHandDocuments = [];
			},

			getOnHandDocuments() {
				this.$store.dispatch('reportsGetOnHandDocuments', { id: this.$route.params.id })
        			.then(res => {
          				let { onHandDocuments } = res.data;

          				this.onHandDocuments = onHandDocuments;

          				onHandDocuments.map((o, index) => {
          					let id = o.document.id;

          					let title = o.document.title;

          					let count = null;

          					let onHandCount = o.count;

          					this.form.users[0].documents.push({
				            	key: Date.now() + index,
				            	id,
				            	title,
				            	count,
				            	onHandCount 
				            });
          				});
					});
			},

			handleDeleteDocument(document) {
        		var index = this.form.users[0].documents.indexOf(document);

        		if (index !== -1) {
          			this.form.users[0].documents.splice(index, 1);
        		}
      		},

      		validateCount(rule, value, callback) {
				if( value < 0 ) {
	      			callback(new Error('Field is invalid.'));
	      		} else if( String(value).trim().length == 0 || isNaN(value) ) {
	      			callback(new Error('Field must be a number.'));
	      		} else {
	      			let isValid = true;

					let field = rule.fullField;
					let index = parseInt(field.split('.')[2]);

					let document = this.form.users[0].documents.filter((d, i) => i == index);
					if( document.length == 1 ) {
						let { id, count } = document[0];

						if( count > 0 ) {
							let onHandDocument = this.onHandDocuments.filter(o => o.document.id == id);

							if( onHandDocument.length == 0 || (onHandDocument.length == 1 && count > onHandDocument[0].count) ) {
								isValid = false;
							}
						}
					}

					if( !isValid ) {
						callback(new Error('Field is invalid.'));
					} else {
						callback();
					}
	      		}
	      	},

	      	incrementCount(document) {
      			var index = this.form.users[0].documents.indexOf(document);

        		if (index !== -1) {
        			this.form.users[0].documents[index].count++;
        		}
      		},

      		decrementCount(document) {
      			var index = this.form.users[0].documents.indexOf(document);

        		if (index !== -1) {
        			this.form.users[0].documents[index].count--;
        		}
      		},

      		validateForm() {
      			let isValid = false;

      			let documents = this.form.users[0].documents;

      			documents.map(document => {
      				if( document.count >= 1 ) {
      					isValid = true;
      				}
      			});

      			return isValid;
      		},

      		handleSubmit() {
      			this.$refs['form'].validate((response) => {
        			if(response) {
        				if( this.validateForm() ) {
        					this.$store.dispatch('reportsReleasedDocuments', this.form)
			        			.then(res => {
			          				if( res.status == 'Success' ) {
			          					this.$parent.$parent.getDocumentsOnHand();

	                					this.$parent.$parent.dialogVisible = false;

	                					this.$message({
	                  						type: 'success',
	                  						message: 'Successfully submitted.'
	                					});
			          				}
								});
        				} else {
        					this.$message({
			            		type: 'error',
			            		message: 'Please select at least 1 document.'
			          		});
        				}
        			}
        		});
      		}
		}

	}

</script>

<style scoped>
	
	.spacer-10 {
		height: 10px;
		clear: both;
	}

	.text-muted {
		color: #6c757d;
	}

	.pull-right {
		float: right;
	}

</style>