<template>
  <div><center>
    <el-row style="width: 100%; max-width: 1000px">
      <el-col :span="6" style="display: flex;">
        <el-tooltip class="item" effect="dark" :content="$t('Clients.create_new_package')" placement="top">
          <div class="add-package">
            <a id="addNewPackage" href="javascript:void(0)" @click="createNewPackage()"><i class="el-icon-plus"></i></a>
          </div>
        </el-tooltip>
      </el-col>
      <el-col :span="18" >
        <el-carousel :interval="4000" type="card" height="143px" :loop="false" :initial-index="initialIndex" :autoplay="false" trigger="click" indicator-position="none" @change="carouselChange" ref="carousel">
          <el-carousel-item v-for="item in tracks" :key="item.id" name="item.tracking">
            <div class="package-item">
              <a href="javascript:void(0)" class="item-clickable" @click="getServicesByTracking(item.tracking)">
                <div :class="'info-box-package' +bg(item.status)">
                  <div class="arrow-package">{{ (item.status != null  ? item.status : 'Empty') | capitalize}}</div>
                  <span class="info-box-icon newbox"><i class="el-icon-wallet"></i></span>
                  <div class="info-box-content"><br>
                    <span class="info-box-text"> </span>
                    <span class="info-box-number">{{ $t('Common.package') }} #{{ item.tracking }}</span>
                    <span class="progress-description">
                                    {{item.created_at | commonDate}}<br>
                                    <b>{{ $t('Clients.package_cost') }} : {{item.package_cost | currency}}</b><br>
                                    <b v-if="item.group_name != null">{{ $t('Common.group') }} : {{item.group_name | capitalize}}</b><br>
                                </span>
                  </div>
                </div>
              </a>
            </div>
          </el-carousel-item>
        </el-carousel>
      </el-col>
    </el-row>
  </center>
    <br>

    <div class="heading" v-if="tracking.length > 0">
      <el-button type="primary" plain size="small" icon="el-icon-plus" @click.prevent="showAddClientServiceModal" class="global_blue" v-if="!gtrack">{{ $t('Clients.add_service') }}
      </el-button>

      <!--         <el-button type="primary" plain size="small" icon="el-icon-plus" class="global_blue" @click.prevent="showAddClientFundsModal" v-if="!gtrack">{{ $t('Group.add-funds') }}
              </el-button> -->

      <el-button type="primary" plain size="small" icon="el-icon-plus" @click="payService()" class="global_blue">
        {{ isPayService ?  $t('Common.cancel') : $t('Common.pay_service')}}
      </el-button>

      <el-button type="primary" plain size="small" icon="el-icon-folder-opened" @click="getServicesByTracking(0)" class="global_blue">
        {{ $t('Clients.show_all_services') }}
      </el-button>

      <el-button type="primary" plain size="small" icon="el-icon-delete" @click="deletePackageVisible = true" class="global_blue">
        {{ $t('Clients.delete_package') }}
      </el-button>

      <el-dialog :title="$t('Clients.delete_package')+'?'" :visible.sync="deletePackageVisible" width="22%" center>
        <span>{{ $t('Clients.confirm_delete_package') }}</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="deletePackageVisible = false">{{ $t('Common.cancel') }}</el-button>
            <el-button type="primary" @click="deletePackage()">{{ $t('Common.confirm') }}</el-button>
          </span>
      </el-dialog>

      <span style="float: right"><b>{{ $t('Navigation.tracking') }} # : {{ tracking }}</b></span>
    </div>

    <br>

    <data-table :get-data="getData"
                ref="table"
                :columns="columns"
                 @current-change="handleCurrentChange"
                >
      <b slot="date" slot-scope="{row}">
        {{row.created_at | commonDate}}
      </b>

      <div slot="detail" slot-scope="{row}">
        <el-tooltip placement="top" v-if="row.remarks">
          <div slot="content" v-html="row.remarks"></div>
          <b style="color: #1D8CE0; cursor: default">{{row.detail | capitalize}} </b>
        </el-tooltip>
        <b v-else>{{row.detail | capitalize}} </b>
      </div>

      <span slot="status" slot-scope="{row}">
        <el-tooltip placement="top" v-if="row.cancel_reason">
                <div slot="content" v-html="row.cancel_reason"></div>
                <span style="color: #1D8CE0; cursor: default">
                  {{ (row.active == 1 ? row.status : (row.status != 'cancelled' ? 'disabled' : row.status ) ) }}
                </span>
            </el-tooltip>
            <span v-else>{{ (row.active == 1 ? row.status : (row.status != 'cancelled' ? 'disabled' : row.status ) ) }} </span>
       </span>

      <span slot="charge" slot-scope="{row}">
        {{ ( row.active == 1 && row.statius != 'cancelled' ) ? 0 - (parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.cost) + parseFloat(row.com_client) + parseFloat(row.com_agent)) : 0 | currency }}
       </span>

      <div slot="discount" slot-scope="{row}">
        <el-tooltip placement="top" v-if="row.discount_reason">
          <div slot="content" v-html="row.discount_reason"></div>
          <span style="color: #1D8CE0; cursor: default">
                  {{ ( row.discount_amount != null ? parseFloat(row.discount_amount) : 0) | currency}}
                </span>
        </el-tooltip>
        <span v-else>{{ ( row.discount_amount != null ? parseFloat(row.discount_amount) : 0) | currency}} </span>
      </div>

      <div slot="payment" slot-scope="{row}">
        <el-tooltip placement="top" v-if="row.payment_reason">
          <div slot="content" v-html="row.payment_reason"></div>
          <span style="color: #1D8CE0; cursor: default">
                  {{ ( (row.payment_amount != null && (row.active == 1 && row.status != 'cancelled')) ? parseFloat(row.payment_amount) : 0) | currency}}
                </span>
        </el-tooltip>
        <span v-else>{{ ( (row.payment_amount != null && (row.active == 1 && row.status != 'cancelled')) ? parseFloat(row.payment_amount) : 0) | currency}} </span>
      </div>

      <span slot="sub" slot-scope="{row}">
        {{
          (row.active == 1 && row.status != 'cancelled') ?
          ((
            (row.discount_amount != null ? parseFloat(row.discount_amount) : 0)
            +
            (row.payment_amount != null ? parseFloat(row.payment_amount) : 0)
          )
          -
          (parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.cost) + parseFloat(row.com_client) + parseFloat(row.com_agent)))
          : 0
          | currency
        }}
       </span>

      <!-- for strikethrough -->
      <!-- :class="{'strike': (row.active == '0')}" -->

      <span slot="tracking" slot-scope="{row}">
        {{row.tracking}}
       </span>

      <!--
      <span slot="group" slot-scope="{row}">
          {{row.group_name}}
         </span> -->

      <div slot="Actions" slot-scope="{row}">
        <div v-if="isPayService">
          <div style="text-align:center" v-if="row.is_full_payment === 1 || row.active === 0 || row.status === 'cancelled'">
            <el-tooltip class="item" effect="dark" :content="$t('Common.paid')" placement="top-start">
              <el-input type="number"  disabled  maxlength="200" size="mini" :value="row.payment_amount"></el-input>
            </el-tooltip>
          </div>
          <el-input placeholder="0.00" @input="filterInput($event, row.id)" maxlength="400" size="mini" v-model="form.payment[row.id]" @change="handleChangeAmount(row)" v-else>
            <el-button slot="append" type="primary" plain size="mini" icon="el-icon-money" @click="eventFullPayment(row)" />
          </el-input>
        </div>

        <div v-else> <!--
          <el-tooltip :enterable="enterable" class="item" effect="dark" content="Pay Service" placement="top-start" v-if="row.active == '1' && row.group_id == null && row.is_full_payment == 0">

            <el-button round  type="text" icon="el-icon-bank-card" size="mini" class="global_blue" @click="showPayClientServiceModal(row)"></el-button>

          </el-tooltip> -->

          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Service.edit-service')" placement="top-start" >
            <el-button round type="text" size="mini" icon="el-icon-edit-outline" class="global_blue" @click="showEditClientServiceModal(row)" v-if="row.status != 'cancelled'"></el-button>
          </el-tooltip>

          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Clients.view_service_reports')" placement="top-start">

            <el-button round  type="text" icon="el-icon-s-order" size="mini" class="global_blue" @click="eventViewReport(row)"></el-button>

          </el-tooltip>

          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Navigation.write-reports')" placement="top-start">

            <el-button round  type="text" icon="el-icon-folder-add" size="mini" class="global_blue" @click="eventWriteReport(row.id, row)"></el-button>

          </el-tooltip>

          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Clients.generate_9a_form')"  placement="top-start" v-if="(row.form_id == 1) && (row.active == '1')">
            <el-button round  type="text" icon="el-icon-document" size="mini" class="global_blue" @click="show9aForm(row)"></el-button>
          </el-tooltip>
        </div>
      </div>
    </data-table>

    <div class="alignRight" v-if="isPayService">
      Payment Mode :
      <el-radio-group v-model="payMode" size="small">
        <el-radio-button label="Ewallet"></el-radio-button>
        <el-radio-button label="Cash"></el-radio-button>
        <!-- <el-radio-button label="QR Code"></el-radio-button> -->
      </el-radio-group>&nbsp;

      <el-button class="add-button" type="primary" size="mini" @click="handlePayment">{{ $t('Common.save') }}</el-button>
    </div>

  </div>

</template>

<script>

  import DataTable from '../../../components/datatable'
  import AddClientFunds from './add-client-funds'
  import AddClientService from './add-client-service'
  import EditClientService from './edit-client-service'
  import ViewReport from '../../reports/view-report'
  import Generate9AForm from './9a-form-pdf'
  import PayService from './pay-service'

  export default {
    name: 'service-list',
    components: {
      DataTable, AddClientService, EditClientService, AddClientFunds, ViewReport, Generate9AForm, PayService
    },
    props:['data'],
    data () {
      return {
        deletePackageVisible: false,
        services : [],
        tracks : [],
        tracking : 0,
        gtrack : false,
        initialIndex : 1,
        currentIndex : 1,
        enterable : false,
        users: [],
        selections: [],
        total: 0,
        size: 20,
        page: 1,
        search: '',
        sort: '',
        order: '',
        loading: false,
        isPayService: false,
        payMode: 'Ewallet',
        form: {
          data: [],
          payment: []
        },
        qrData: [],
        currentRow:null
      }
    },
    computed: {
      columns() {
        return [
          {
            prop: 'date',
            label: this.$t('Common.date'),
            minWidth: '70',
            sortable: true
          },
          {
            prop: 'detail',
            label: this.$t('Common.detail'),
            minWidth: '200',
            sortable: true
          },
          {
            prop: 'status',
            label: this.$t('Common.status'),
            minWidth: '50',
            sortable: true
          },
          {
            prop: 'charge',
            label: this.$t('Common.charge'),
            minWidth: '60'
          },
          {
            prop: 'discount',
            label: this.$t('Common.discount'),
            minWidth: '60',
            sortable: true
          },
          {
            prop: 'payment',
            label: 'Payment',
            minWidth: '60',
            sortable: true
          },
          {
            prop: 'sub',
            label: 'Sub',
            minWidth: '50',
            sortable: true
          },
          {
            prop: 'tracking',
            label: this.$t('Navigation.tracking'),
            minWidth: '60',
            sortable: true
          },
          // {
          //   prop: 'group',
          //   label: this.$t('Common.group'),
          //   minWidth: '70',
          //   sortable: true
          // },
          {
            fixed: 'right',
            prop: 'Actions',
            label: this.getLabelName(),
            width: '160',
          }
        ]
      }
    },
    created () {
      this.getClientPackages();
    },

    mounted () {
      this.$eventBus.$on('updateServiceList', (tracking) => {
        this.tracks = [];
        this.getClientPackages();
        this.initialIndex = this.currentIndex;
        this.getServicesByTracking(tracking);
      })




    },

    methods: {

      handleCurrentChange(val) {
       this.currentRow = val;
     },

      getLabelName(){
        return this.isPayService === true ? this.$t('Common.amount') : this.$t('Common.actions');
      },

      getData ({ page, query, sortParams }) {
        let vm = this;
        return this.$services.client.getClientServices({
          id: vm.$parent.$route.params.id,
          tracking: vm.tracking
        })
          .then(response => {

            const { data } = response

            if(typeof this.$route.params.clientServiceId !=='undefined'){

              var index = data.data.findIndex(v => v.id === parseInt(this.$route.params.clientServiceId));

              if(index != -1){
                var tempArray = data.data[index];
                 data.data.splice(index, 1);
                 data.data.unshift(tempArray)
                 this.$refs.table.$refs.dataTable.setCurrentRow(data.data[0]);
                }
              }else{
                this.form.data = data.data;
              }

            return {
              data: data.data,
              total: data.total,
              size: 20
            }
          })
      },
      getClientPackages () {
        let vm = this;
        return this.$services.client.getClientPackages({
          id: vm.$parent.$route.params.id
          // sort: sortParams
        })
          .then(response => {

            this.tracks = response.data.data
          })
      },

      getServicesByTracking(tracking){
        this.tracking = tracking;
        this.gtrack = true;
        if(!isNaN(this.tracking)){
          this.gtrack = false;
        }
        this.isPayService = false;
        this.$refs.table.getTableData();
      },

      deletePackage(){
        this.$store.dispatch('deleteClientPackage', {tracking : this.tracking})
          .then(res => {
            console.log(res);

            var responseStatus = res.status.toLowerCase()
            if(responseStatus === 'failed') {
              this.$message({
                showClose: true,
                message: res.log,
                type: 'warning',
                center: true
              });
              this.deletePackageVisible = false;

            } else {
              console.log("delete package response: " + JSON.stringify(res))
              this.$message({
                showClose: true,
                message: this.$t('Branch.successfully_deleted'),
                type: 'success',
                center: true
              })

              setTimeout(() => {
                this.deletePackageVisible = false;
                this.tracks = [];
                this.getClientPackages();
                this.initialIndex = 0;
                this.currentIndex = 0;
                this.getServicesByTracking(0);
              }, 1000)
            }
          })
      },

      carouselChange(index){
        this.tracking = this.tracks[index].tracking;
        this.currentIndex = index;
        this.gtrack = true;
        if(!isNaN(this.tracking)){
          this.gtrack = false;
        }
        this.$refs.table.getTableData();
      },

      bg(stat){
        switch(stat){
          case null:
            return ' bg-red';
            break;
          case 'on process':
            return ' bg-green';
            break;
          case 'pending':
            return ' bg-yellow';
            break;
          case 'complete':
            return ' bg-aqua';
            break;
          case 'released':
            return ' bg-teal';
            break;
          case 'cancelled':
            return ' bg-gray';
            break;
          default:
            return 'bg-red';
        }
      },

      // Show modal for add funds
      showAddClientFundsModal () {
        this.$store.dispatch('callModal', { child_component: AddClientFunds, title: this.$t('Group.add-funds'), modalWidth: '400px', content : { "tracking" : this.tracking } })
      },

      // Show modal for add service
      showAddClientServiceModal () {
        if(this.data.contact != null || (this.data.contact_alternate).length > 0){
          this.$store.dispatch('callModal', { child_component: AddClientService, title: this.$t('Group.add-new-service'), modalWidth: '600px' , content : { "tracking" : this.tracking } })
        }
        else{
          this.$message({
            showClose: true,
            message: 'Please add client\'s contact number first before adding a service. ',
            type: 'warning',
            center: true
          })
        }
      },

      // Show modal for edit service
      showEditClientServiceModal(data){
        this.$store.dispatch('callModal', { child_component: EditClientService, title: this.$t('Service.edit-service'), modalWidth: '600px' , content : { data } })
      },

      // Show modal for pay service
      showPayClientServiceModal(data){
        var data2 = this.data;
        var type = 'Service';
        this.$store.dispatch('callModal', { child_component: PayService, title: 'Pay Service', modalWidth: '400px' , content : { data, data2, type } })
      },

      // Show modal for 9A PDF
      show9aForm(data){
        this.$store.dispatch('callModal', { child_component: Generate9AForm, title: this.$t('Clients.show_9a_form_mess') + data.detail, modalWidth: '1000px' ,  content : { "client" : this.data, "service" : data } })
      },

      createNewPackage(){
        this.$store.dispatch('addClientPackage', { client_id : this.$parent.$route.params.id})
          .then(res => {
            console.log("add service response: " + JSON.stringify(res))
            this.$message({
              showClose: true,
              message: this.$t('Clients.package_created_successfully'),
              type: 'success',
              center: true
            })

            setTimeout(() => {
              this.tracks = [];
              this.getClientPackages();
              this.initialIndex = 0;
              this.currentIndex = 0;
              this.getServicesByTracking(res.tracking);
            }, 1000)

          })
      },

      eventViewReport(service){

        this.$store.dispatch('callModal', {
          child_component: ViewReport,
          modalWidth: '60%',
          content: {
            client_services_id: service.id,
            name: service.detail
          }
        })
      },

      eventWriteReport(client_service_id, selectedClientService){

        let clientIds = JSON.stringify([parseInt(this.$parent.$route.params.id)]);
        let clientServiceIds = JSON.stringify([client_service_id]);
        let clientServiceIds2 = JSON.stringify([client_service_id]);
        let redirect = 'redirect';
        let groupId = 0;
        let selectedClientServices = [selectedClientService];

        let routeData = this.$router.resolve(
          {
            name: 'write-report-client-services',
            params: { clientIds, clientServiceIds, groupId, redirect, selectedClientServices }
          }
        );

        window.open(routeData.href, '_blank');

      },

      payService(){
        this.isPayService = (this.isPayService) ? false : true;
      },

      eventFullPayment(row) {
        let val = (parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.cost) + parseFloat(row.com_client) + parseFloat(row.com_agent)) - ((row.discount_amount != null ? parseFloat(row.discount_amount) : 0) + (row.payment_amount != null ? parseFloat(row.payment_amount) : 0))
        this.$set(this.form.payment, row.id, val);
      },

      filterInput(e, id){
        this.form.payment[id] = e.replace(/[^0-9]+/g, '');
      },

      handleChangeAmount (row) {
        if(this.form.payment[row.id] < 0){
          this.$message({
            message: this.$t("Common.input_more_than_zero"),
            type: 'error',
            center: true
          });
          this.$set(this.form.payment, row.id, 0)
        }else{
          let totalCost = (parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.cost) + parseFloat(row.com_client) + parseFloat(row.com_agent)) - ((row.discount_amount != null ? parseFloat(row.discount_amount) : 0) + (row.payment_amount != null ? parseFloat(row.payment_amount) : 0))
          if(this.form.payment[row.id] > totalCost){
            this.$set(this.form.payment, row.id, totalCost)
          }
        }
      },

      handlePayment(){
        let vm = this;
        let payment = [];
        let err = false;
        let totalPay = 0;
        let data = this.form.data;
        let eWallet = this.data.total_ewallet;

        data.map((d,index) => {
          if(typeof this.form.payment[d.id] != 'undefined'  && this.form.payment[d.id] != '' && this.form.payment[d.id] > 0){
            let need_to_pay = ((parseFloat(d.cost) + parseFloat(d.charge) + parseFloat(d.tip) + parseFloat(d.com_client) + parseFloat(d.com_agent))) - (parseFloat((d.discount_amount == null ? 0 : d.discount_amount))  + parseFloat((d.payment_amount == null ? 0 : d.payment_amount)));
            // console.log(need_to_pay);

            let sub = ((parseFloat(d.charge) + parseFloat(d.tip) + parseFloat(d.cost) + parseFloat(d.com_client) + parseFloat(d.com_agent))
              -
              ((d.discount_amount != null ? parseFloat(d.discount_amount) : 0) + (d.payment_amount != null ? parseFloat(d.payment_amount) : 0)));

            if(parseFloat(this.form.payment[d.id]) > eWallet && this.payMode == 'Ewallet'){
              err = true;
            }
            else{
              let amount = this.form.payment[d.id];
              if(parseFloat(amount) > sub){
                amount = sub
              }
              payment.push(
                {
                  id: d.id,
                  service: this.form.data[index]['detail'],
                  amount: amount,
                  client_id: d.client_id,
                  total_cost: need_to_pay
                }
              );
              totalPay += parseFloat(this.form.payment[d.id]);
              eWallet -= parseFloat(this.form.payment[d.id]);
            }
          }
        })

        if(payment.length > 0 && !err){

          this.$confirm('Are you sure you want to save the data? If you continue you cannot undo this action. Continue?', 'Warning', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }).then(() => {

            this.$store.dispatch('addClientPayment',{
              client_id: vm.$parent.$route.params.id,
              mode: 'batch',
              payments: payment,
              paymode: this.payMode
            })
              .then(res => {

                if (res.code === 200) {

                  this.$message({
                    showClose: true,
                    message: this.$t('Group.service_successful_update'),
                    type: 'success',
                    center: true
                  });

                  this.getServicesByTracking(data[0].tracking)
                  this.form.payment = [];

                  setTimeout(() => {
                    if(this.payMode === "QR Code"){
                      this.qrData = res.data
                      this.payQrCode()
                    }
                    this.$eventBus.$emit('updateTransactionHistory');
                    this.$eventBus.$emit('updateClientProfile');
                  }, 1000)

                } else {
                  this.$message({
                    showClose: true,
                    message: this.$t('Common.error_saving_data'),
                    type: 'error',
                    center: true
                  });
                }
              });

          }).catch(() => {
            this.$message({
              type: 'info',
              message: 'Saving canceled'
            });
          });

        }
        else if(err && this.payMode == 'Ewallet'){
          this.$message({
            showClose: true,
            message: 'Insufficient Ewallet Balance!',
            type: 'warning',
            center: true
          });
        }
        else{
          this.$message({
            showClose: true,
            message: this.$t('Common.fillup_amount'),
            type: 'error',
            center: true
          });
        }
      },

      payQrCode(){
        let id = this.qrData.id
        let routeData = this.$router.resolve(
          {
            name: 'pay-service-qr-code',
            params: {id}
          }
        );
        window.open(routeData.href, '_blank');
      },

    },

  }
</script>

<style lang="scss">
  .bg-red { background-color: #ff7171 !important;}
  .bg-yellow {background-color: #ffbc2d !important;}
  .bg-aqua {background-color: #00c0ef !important;}
  .bg-green {background-color: #4ec98b !important;}
  .bg-gray {background-color: #a8a8a8 !important;}
  .bg-teal {background-color: #09c8c8 !important;}
  .newbox {
    padding-top: 10px;
    background-color: transparent !important;
  }
  .newbox:after {
    background-image: url(/img/line.png);
    background-repeat: repeat-x;
    content: " ";
    padding: 1px;
    margin-left: 12px;
    background-position: center;
  }
  .info-box-package{
    height: 142px;
  }
  .info-box-icon {
    color: #FFF;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    max-width: 120px;
    width: 40%;
    text-align: center;
    font-size: 50px;
    line-height: 150px;
    background: rgba(0, 0, 0, 0.2);
  }

  .info-box-content {
    color: #FFF;
    padding: 5px 10px;
    margin-left: 90px;
    text-align: left;
  }
  .info-box-number {
    padding-top: 0px;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
  .progress-description {
    font-size: 12px !important;
  }

  .progress-description {
    margin: 0;
    b{
      line-height: 24px;
    }
  }
  .progress-description, .info-box-text {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .arrow-package {
    color: #FFF;
    position: absolute;
    background-image: url(/img/arrow-package.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px 15px 0px 5px;
    margin-top: 5px;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    min-width: 35%;
  }

  .el-button + .el-button {
    margin-left: 1px !important;
  }

  .strike{
    text-decoration: line-through;
  }
  .add-package {
    background-color: #d3dce6;
    margin-top: 14px;
    height: 115px;
    // max-width: 200px;
    width: 90%;
    opacity: 0.75;
    display: table;
    margin-right: 15px;
    // margin-left: -50px;

    #addNewPackage{
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      i{
        font-weight: bold;
        font-size: 50px;
      }
    }

  }

  .el-carousel__item .package-item {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .el-button--mini.is-round {
    padding: 5px 1px;
  }
  .el-button i {
    font-size: 16px;
  }
  .el-table th, .el-table td {
    padding: 3px 0;
    font-size: 12px;
    overflow: hidden;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }

  .el-tag {
    margin: 0 .0625rem;
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      width: 2rem;
      height: 2rem;
      margin: 1rem 1rem 1rem 0;
      border: .0625rem solid #c0c0c0;
      border-radius: 50%;
      background: #cfd2d7;
    }

    .names {
      display: flex;
      flex: 1;
      flex-direction: column;
      font-size: .8125rem;
      line-height: 1.4;
    }
  }

  el-tooltip{
    cursor: default;
  }

  .alignRight {
    text-align: right;
    align-items: right;
    right:5px;
    width:'100%';
  }
</style>
