<template>
  <div class="upload-form-container">
    <el-form ref="doc_form" :model="form" >
      <el-row :gutter="30" align="middle">
        <el-col :xl="8" :lg="8" :md="8" :sm="12" :xs="12"
          v-bind:key="index" 
          v-for="(item, index) in form.fileData">
            <div class="documents-container align-center">
              <el-image
                class="documents"
                :src="(typeof imgBase64[index] !== 'undefined') ? imgBase64[index].imgBase64 : ''"
                fit="cover"></el-image>
              <el-form-item :label="$t('Common.doc-type')"
                :prop="'fileData.' + index + '.client_document_type_id'"
                :rules="{ required: true, message: $t('Common.doc-type') + $t('Group.is_required') + '.' }">
                  <el-select v-model="item.client_document_type_id" :placeholder="$t('Clients.select')" class="form-field" filterable >
                    <el-option
                      v-for="item2 in docTypeList"
                      :key="item2.id"
                      :label="item2.name"
                      :value="item2.id">
                    </el-option>
                  </el-select>
              </el-form-item>

              <el-form-item :label="$t('Common.issued-at')"
                :prop="'fileData.' + index + '.issued_at'"
                :rules="[{ validator: dateValidator, trigger: 'blur' }, {required: true, message: $t('Common.issued-at') + $t('Group.is_required') + '.'}]">
                  <el-date-picker
                    class="form-field"
                    v-model="item.issued_at"
                    type="date"
                    format="dd/MM/yyyy"
                    value-format="yyyy-MM-dd"
                    placeholder="dd/mm/yyyy"
                    :picker-options="{
                        disabledDate(time) {
                          return time.getTime() > Date.now();
                        }
                    }">
                  </el-date-picker>
              </el-form-item>

              <el-form-item :label="$t('Common.exp-at')"
                :prop="'fileData.' + index + '.expired_at'"
                :rules="{ validator: dateValidator, trigger: 'blur' }">
                  <el-date-picker
                    class="form-field"
                    v-model="item.expired_at"
                    type="date"
                    format="dd/MM/yyyy"
                    value-format="yyyy-MM-dd"
                    placeholder="dd/mm/yyyy"
                    :picker-options="{
                        disabledDate(time) {
                          return time.getTime() < new Date(item.issued_at).getTime();
                        }
                    }">
                  </el-date-picker>
              </el-form-item>

              <el-button size="mini" type="danger" class="remove-btn" @click="removeDocument(item, index)">
                {{ $t('Common.remove') }}
              </el-button>
            </div>
        </el-col>   
        <el-col :xl="8" :lg="8" :md="8" :sm="12" :xs="12">
          <div class="align-center vertically-center" 
            :style="(form.fileData.length > 0) ? 'align-items: center; height: 476px;' : ''">
            <el-upload
              class="choose-file-btn"
              ref="upload"
              action=""
              list-type="text"
              :on-change="handleChange"
              :auto-upload="false"
              multiple>
                <el-button size="small" type="primary" icon="el-icon-plus">{{ $t('Common.choose-file') }}</el-button>
            </el-upload>
          </div>
        </el-col>
      </el-row>
      <el-row type="flex">
        <el-col :span="24">
          <div class="upload-btn-container">
            <el-button @click="close" size="small">{{ $t('Common.close') }}</el-button>
            <el-button type="primary" @click="onSubmit('doc_form')" size="small">{{ $t('Navigation.up-docs') }}</el-button>
          </div>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'upload-list-form-modal',
  data () {
    return {
      clientID: '',
      form: {
        fileData: []
      },
      imgBase64: [],
      docTypeList: []
    }
  },
  methods: {
    onSubmit (docForm) {
      if(this.imgBase64.length > 0) {
        this.$refs[docForm].validate((response) => {
          if(response) {
            this.form.fileData.filter((item, index) => {
              var file_path = item.client_id + '&&' + item.issued_at;

              if(item.expired_at !== '' && item.expired_at !== null) {
                file_path += '&&' + item.expired_at;
              }

              var file_type = item.file_path.split('.')

              item.file_path = file_path + '.' + file_type[file_type.length-1]

              item.imgBase64 = this.imgBase64[index].imgBase64
            })

            this.$store.dispatch('uploadDocumentsByClient', {
              client_id: this.clientID,
              data: this.form.fileData
            }).then(res=> {
              console.log('result', res)
              if(res.success) {
                this.$message({
                  showClose: true,
                  message: this.$t('Clients.docs-upload-success'),
                  type: 'success',
                  center: true
                })

                setTimeout(() => {
                  this.$eventBus.$emit('uploadListOfClientDocs',true);
                  this.close()
                }, 1000)
              } else {
                this.$message({
                  showClose: true,
                  message: this.$t('Clients.docs-upload-failed'),
                  type: 'error',
                  center: true
                })
              }
            })
          }
        })
      } else {
        this.$message({
          showClose: true,
          message: this.$t('Navigation.docs') + this.$t('Group.is_required') + '.',
          type: 'error',
          center: true
        })
      }            
    },
    handleChange (file, fileList) {
      var self = this

      var fileData = {
        client_id: this.clientID,
        client_document_type_id: '',
        file_path: file.name,
        issued_at: '',
        expired_at: '',
        imgBase64: null
      }

      var reader = new FileReader();
      reader.readAsDataURL(file.raw);
      reader.onload = function(e) {
        self.imgBase64 = [...self.imgBase64, {
          name: file.name,
          imgBase64: this.result
        }]
      }

      this.form.fileData = [...this.form.fileData, fileData]
    },

    removeDocument (item, index) {
      this.imgBase64 = this.imgBase64.filter(data => data.name !== item.file_path)
      this.form.fileData = this.form.fileData.filter(data => data.file_path !== item.file_path)
    },

    onChangeIssued ($event, index) {
      var slctdDate = moment(String($event)).format('YYYY-MM-DD')
      var dateToday = moment(new Date()).format('YYYY-MM-DD')

      if(slctdDate>dateToday) {
        this.form.fileData[index].issued_at = ''
        return false
      }

      return true
    },

    onChangeExpired ($event, index) {
      var dateIssued = null;
      var issuedAt = this.form.fileData[index].issued_at;
      var slctdDate = moment(String($event)).format('YYYY-MM-DD')

      if(issuedAt !== '') {
        dateIssued = moment(String(issuedAt)).format('YYYY-MM-DD')
      } else {
        dateIssued = moment(new Date()).format('YYYY-MM-DD')
      }
      
      if(slctdDate<=dateIssued) {
        this.form.fileData[index].expired_at = ''
        return false
      }

      return true
    },

    dateValidator (rule, value, callback) {
      var fieldName = rule.field.split('.')[2]

      switch(fieldName) {
        case 'issued_at':
          if(value === '') {
            callback(new Error(this.$t('Common.issued-date') + this.$t('Group.is_required')))
          } else {
            if(this.onChangeIssued(value, rule.field.split('.')[1])) {
              callback()
            } else {
              callback(new Error(this.$t('Common.invalid-date')))
            }
          }
          break

        case 'expired_at':
          if(value !== '') {
            if(this.onChangeExpired(value, rule.field.split('.')[1])) {
              callback()
            } else {
              callback(new Error(this.$t('Common.invalid-date')))
            }
          } else {
            callback()
          }
          break

        default:
          callback()
          break
      }
    },

    close () {
      this.$parent.$emit('close');
    }
  },
  created () {
    this.clientID = this.$parent.$parent.content.id

    this.$store.dispatch('getDocumentTypeList')
    .then(res => {
      this.docTypeList = res.data;
    })
  }
}
</script>

<style lang="scss" scoped>
  .upload-form-container {

    .align-center {
      text-align: center;
    }

    .vertically-center {
      display: flex;
      justify-content: center;
    }

    .documents-container {
      position: relative;
      border: 1px solid #ddd;
      padding: 15px 15px 25px;
      margin-bottom: 15px;

      .documents {
        width: 75%;
        height: 200px;
        margin-bottom: 15px;
        border: 1px #ddd solid;
        border-radius: 4px;
        padding: 5px;
      }

      .form-field {
        width: 100%;
      }

      .remove-btn {
        position: absolute;
        bottom: 10px;
        right: 15px;
        padding: 4px 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
      }
    }

    .choose-file-btn {
      // margin: 50px auto;
    }

    .upload-btn-container {
      margin-top: 20px;
      text-align: right;
    }
  }
</style>

<style lang="scss">
  .upload-form-container {
      
    .el-upload-list {
      display: none;
    }

    .documents-container {
      .el-form-item {
        .el-form-item__label {
          line-height: 20px;
        }
      }
    }

    .el-form-item__label {
      font-size: 12px;
    }

  }
</style>
