<template>
  <div class="upload-list-container">
    <div class="inner-container">
      <div class="add-button-container">
        <el-button type="primary" size="small" icon="el-icon-plus" @click="showModal">{{ $t('Navigation.add-documents') }}</el-button>
      </div>
      
      <el-row :gutter="20">
        <el-col :xl="6" :lg="6" :md="8" :sm="12" :xs="12"
          v-bind:key="indexCol" 
          v-for="(itemCol, indexCol) in documentAlbum">
            <div class="document-list-container">
              <div class="doc-name">
                <span>{{ itemCol.name }}</span>
                <!-- <div>
                  <el-button type="danger" size="mini" icon="el-icon-delete" class="delete-btn" @click="deleteDoc(itemCol)"></el-button>
                </div> -->
              </div>
              <div class="doc-details">
                <el-carousel trigger="click" :autoplay="false" :loop="false" height="270px" width="150px">
                  <el-carousel-item v-for="docs in displayDocuments(itemCol.client_document_type_id)" :key="docs.id">

                    <div class="doc-date"><strong>{{ $t('Common.issued-at') }}:</strong> {{ docs.issued_at }}</div>
                    <div class="doc-date"><strong>{{ $t('Common.exp-at') }}:</strong> {{ (docs.expired_at === '0000-00-00') ? 'N/A' : docs.expired_at }}</div>
                    <div class="img-container">
                      <div class="img-document">
                        
                            <!-- <div class="img-document" @click="viewImage(docs.file_path)"> -->
                              <div class="document-border">
                              <el-image
                                class="document"
                                :src="storageURL + docs.file_path"
                                :fit="'contain'"
                                @click="viewImage(docs.file_path)"></el-image>
                              </div>
                            <!-- </div> -->
                      </div>  
                    </div>
                
                  </el-carousel-item>
                </el-carousel>
              </div>
            </div>
        </el-col>
      </el-row>

      <div class="empty-docs-container" v-if="documents.length < 1">
        {{ $t('Profile.no-docs-to-show') }}
      </div>
    </div>
  </div>
</template>

<script>
import UploadModalForm from './upload-list-form-modal'
import { mapGetters } from 'vuex'

export default {
  name: 'upload-list',
  props: [
    'client_id', 'documents', 'documentAlbum'
  ],
  data() {
    return {
      docsData: [],
      storageURL: process.env.VUE_APP_STORAGE
    }
  },
  components: {
    UploadModalForm
  },
  methods: {
    showModal () {
        this.$store.dispatch('callModal', { 
            child_component: UploadModalForm, 
            title: this.$t('Navigation.add-documents'), 
            modalWidth: '60%', 
            content: { 
                id: this.client_id 
            } 
        }) // call global modal state
    },

    deleteDoc (data) {
        this.$confirm(this.$t('Profile.delete-doc-mess'), this.$t('Profile.delete-doc'), {
            confirmButtonText: this.$t('Common.proceed'),
            cancelButtonText: this.$t('Common.cancel'),
            type: 'warning'
        }).then(() => {
            this.$store.dispatch('deleteDocsByClient', {
                data: data
            }).then(res => {
                if(res.success) {
                    this.$message({
                        type: 'success',
                        message: this.$t('Profile.doc-delete-success')
                    });

                    this.$eventBus.$emit('uploadListOfClientDocs',true);
                } else {
                    this.$message({
                        type: 'error',
                        message: this.$t('Profile.doc-delete-failed')
                    });
                }
            })
        }).catch(() => {  })
    },

    viewImage (filePath) {
        this.$store.dispatch('callLightbox', {
            content: {
                data: this.documents,
                selected: filePath
            }
        })
    },

    displayDocuments (id) {
      var doc = [];
      this.documents.map((item, index) => {
        if(parseInt(id) === parseInt(item.client_document_type_id)) {
          doc.push(item)
        }
      })

      return doc;
    },
  }
}
</script>

<style lang="scss" scoped>
  .upload-list-container {

    .inner-container {
      padding: 10px 0px;

      .docs-row:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }

      .add-button-container {
        text-align: right;
        margin-bottom: 20px;
      }

      .empty-docs-container {
        text-align: center;
        font-size: 2.5em;
        color: #666;
        font-weight: 200;
        margin: 5px auto 15px;
      }

      .docs-col {
        margin-bottom: 20px;
      }

      .document-list-container {
        display: flex;
        flex-direction: column;
        border: 1px #ddd solid;
        padding: 0px 10px;
        height: 350px;
        border-radius: 5px;
        margin-bottom: 15px;

        .delete-btn {
          padding: 7px;

          i.el-icon-delete {
            font-size: 5px !important;
          }
        }

        .doc-name {
          display: flex;
          flex-direction: row;
          font-size: .90em;
          font-weight: bold;
          margin-top: 15px;
          margin-bottom: 3px;
          align-items: flex-start;

          span {
            width: 100%;
            padding-right: 7px;
          }
        }

        .doc-details {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: flex-end;
          margin-bottom: 8px;
        }

        .doc-date {
          font-size: .85em;
          margin-bottom: 2px;
        }

        .img-container {
          text-align: center;
          overflow: hidden;
          display: flex;
          justify-content: center;
        }

        .img-document {
          // border: 1px solid #e7eaec;
          
          // border-radius: 3px;
          width: 100%;
        }

        .document-border {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .document {
          display: block;
          width: auto;
          height: 210px;
          background-color: #fff;
          object-fit: cover;
          align-items: center;
          border: 1px solid #e7eaec;
          border-radius: 3px;
          padding: 5px;
          cursor: pointer;
          
          &:hover {
            cursor: pointer;
          }

          
        }
      }
    }
  }
</style>

<style lang="scss">
  .upload-list-container {

    .inner-container {

      .el-button i {
        font-size: 12px;
      }
    }

    .el-image__error, .el-image__placeholder, .el-image__inner {
      width: auto !important;
    }

    .el-carousel__item {
      align-items: center;
      background-color: #fff;
    }

    .el-carousel__indicators {
      display: none;
    }

  }
</style>