<template>
  <div class="received-documents">

    <div class="heading">
        <h1 class="title">Received Documents</h1>
    </div>

    <div class="content">
      <div v-if="data.status===0">
        <div class="label">You have already received these documents.</div>
        <br />
      </div>
      <div class="sender">
        Sender: {{ data.sender }}
      </div>

      <br />

      <div class="documents-container" v-if="data.status===1">
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" style="margin-bottom: 15px;">Check all</el-checkbox>
        <el-checkbox-group v-model="checkedDocs"  @change="handleCheckedDocsChange">
            <el-checkbox v-for="(docs, index) in data.documents" :label="docs.id" :key="docs.id">
              <div>{{ '(' + docs.count + ') ' + docs.title }}</div>
            </el-checkbox>
            <br />
        </el-checkbox-group>
      </div>

      <div class="documents-container" v-if="data.status===0">
        <div v-for="(docs, index) in data.documents">{{ '(' + docs.count + ') ' + docs.title }}</div>
      </div>

      <div v-if="data.status===0">
        <br/><br/>

        <div class="label">Selected received documents:</div>
        <br/>
        <div class="documents-container" v-if="data.status===0">
          <div v-for="(docs, index) in data.document_logs">{{ '(' + docs.count + ') ' + docs.title }}</div>
          <div v-if="data.document_logs.length === 0">No selected documents.</div>
        </div>
      </div>

      <el-button type="primary" size="small" @click="handleSubmit" class="btn-submit" v-if="data.status > 0">
        Submit
      </el-button>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'view-received-documents',

  data() {
    return {
      id: null,
      data: [],
      optionData: [],
      checkedDocs: [],
      checkAll: false,
      isIndeterminate: false
    }
  },

  computed: mapGetters({
    header: 'header',
    session: 'session'
  }),

  created() {
    // setTimeout(() => {
      this.id = this.$route.params.id;
      this.getReceivedFiles();
    // }, 1000)
    
  },

  methods: {
    handleCheckAllChange(val) {
        var cd = [];
        
        if(val) {
          this.data.documents.map((item, index) => {
            cd.push(item.id)
          })
        }
         
        this.checkedDocs = cd
        this.isIndeterminate = false;
    },

    handleCheckedDocsChange(value) {
      console.log(value)
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.data.documents.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.data.documents.length;
    },

    getReceivedFiles() {
      this.$store.dispatch('reportsGetReceivedFiles', this.session.user.id)	
      .then(res => {

        console.log('received files result', res)
         console.log('received files id ', this.id)

         var data = []
        
        if(res.data.length > 0) {

          res.data.map((item,index) => {
            
            if(parseInt(item.id) === parseInt(this.id)) {
              data = item

              
            }
          })
        }

        this.data = data
      })
    },

    handleSubmit() {
      var documents = [];
      
      this.checkedDocs.map((item, index) => {
        this.data.documents.map((item2, index2) => {
          if(item === item2.id) {
            documents.push(item2)
          }
        })
      })

      var data = {
        documents: documents,
        received: this.data.documents,
        sender: this.data.sender,
        receiver: this.session.user.id
      }

      console.log(data)

      		if( this.checkedDocs.length > 0 ) {
      			this.$store.dispatch('reportsStoreReceivedFiles', data)
        			.then(res => {
        				console.log(res);
                
          				if( res.status == 'Success' ) {

            					this.$parent.$parent.dialogVisible = false;

            					this.$message({
              						type: 'success',
              						message: 'Successfully submitted.'
      								});
                      
                      setTimeout(() => {
                        window.close();
                      }, 2000)
                      
      								// this.$router.go();
          				}
      		});
      		} else {
      			this.$message({
            		type: 'error',
            		message: 'Please select at least 1 document.'
          		});
          }
          
    }
  }
}
</script>

<style lang="scss" scoped>
  .content {
    padding: 15px;
    background-color: #fff;
  }

  .sender {
    font-size: 14px;
  }

  .documents {
    font-size: 14px;
  }

  .btn-submit {
    margin-top: 50px;
  }

  .label {
    font-weight: bold;
    color: #1d8ce0;
  }
</style>

<style lang="scss">
  // .received-documents {
    .el-checkbox {
      font-weight: 300 !important;
      color: #000;
    }

    .el-checkbox {
      display: block;
      margin-bottom: 10px;
    }
  // }
</style>