<template>
  <div>
    <div class="heading">
      <h1 class="title" v-if="this.$route.params.id === undefined && this.$route.params.id === null">
        {{ $t('Clients.create-new-client') }}
      </h1>

      <h1 class="title" v-if="this.$route.params.id !== undefined && this.$route.params.id !== null">
        {{ $t('Clients.edit-client') }}
      </h1>
    </div>
    <div class="body-container">
      <div class="form-container container-padding">
        <AddClientForm
          v-bind:countries="countries"
          v-bind:nationalities="nationalities"
          v-bind:branches="branches"
          v-bind:groups="groups"
          v-bind:data="data"/>
      </div>
    </div>
  </div>
</template>

<script>
import AddClientForm from './components/add-client-form'

export default {
  name: 'edit-client',
  components: {
    AddClientForm
  },
  data () {
    return {
      nationalities: [],
      countries: [],
      branches: [],
      groups: [],
      form: {
        contact_numbers: [
          {
            number: '',
            is_primary: 1,
            is_mobile: 1
          }
        ]
      },
      client_id: 0,
      data: []
    }
  },

  methods: {
    addContactNumber () {
      var newNum = {
        number: '',
        is_primary: 0,
        is_mobile: 0
      }

      this.form.contact_numbers = [...this.form.contact_numbers, newNum]
    }
  },

  created () {
    // GET list of countries
    this.$store.dispatch('getAllCountries')
      .then(res => {
        this.countries = res
      })
      .catch(res => console.log(res))

    // GET list of nationalities
    this.$store.dispatch('getAllNationalities')
      .then(res => {
        this.nationalities = res
      })
      .catch(res => console.log(res))

    // GET list of branches
    this.$store.dispatch('getAllBranches')
      .then(res => {
        this.branches = res
      })
      .catch(res => console.log(res))

    // GET list of groups
    this.$store.dispatch('getListOfGroup')
      .then(res => {
        this.groups = res.data.groups
      })
      .catch(res => console.log(res))

    if (this.$route.params.id !== undefined && this.$route.params.id !== null) {
      if (this.$route.params.data !== undefined) {
        this.data = this.$route.params.data
      } else {
        return this.$services.client.getClientProfile({
          id: this.$route.params.id
          // sort: sortParams
        })
          .then(response => {
            this.data = response.data.data.client
          })
      }
    }

    // console.log(this.data)
  }
}
</script>

<style lang="scss">
  .wrapper {
    flex-direction: initial !important;

    .main {
      width: 100%;

      .content {
        .inner {
          max-height: 100%;
          margin-bottom: 0px;
        }
      }
    }
  }
</style>

<style lang="scss" scoped>
  .body-container {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .container-padding {
    padding: 15px 1.2rem 15px 1.2rem;
  }

  .border-line {
    width: 100%;
    height: 1px;
    background-color: #e7eaec;
  }

  .form-container {

    .form-title {
      font-size: 1.275rem;
      font-weight: 400;
      line-height: 0;
    }

    .inner-container {
      padding-top: 20px;

      .label {
        margin-bottom: 5px;
      }
    }

    .bottom-spacing {
      margin-bottom: 15px;
    }

  }
</style>
