<template>
  <div class="client-container">
    <div class="heading">
      <div class="search-container">
        <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"></el-button>
        <transition name="fade">
          <ul class="action" v-show="selections.length">
            <li><a href="#" class="icon-before icon-checkmark" @click.prevent="handleToggleSelection(true)"></a></li>
            <li><a href="#" class="icon-before icon-blocked" @click.prevent="handleToggleSelection(false)"></a></li>
            <li><a href="#" class="icon-before icon-bin" @click.prevent="handleDeleteSelection"></a></li>
          </ul>
        </transition>
        <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch"> <!--v-on:submit.prevent> -->
          <el-input :placeholder="$t('Clients.search-mng-client')" prefix-icon="el-icon-search" v-model="search" clearable  style="padding-left: 30px;">
         <!--@change="handleSearch">-->
          </el-input>
        </form>
      </div>
      <div class="button-container">
        <el-select v-model="branch" size="small" style="margin: 0 20px 0 20px; width: 100px;" @change="$refs.table.getTableData()">
          <el-option label="Manila" :value="1"/>
          <el-option label="Cebu" :value="2"/>
        </el-select>
        <div>
          <el-button type="primary" size="small" icon="el-icon-plus" @click.prevent="goToAddUser">
            {{ $t('Clients.add-new-client') }}
          </el-button>
        </div>
        <div>
          <el-button type="primary" size="small" icon="el-icon-plus" @click.prevent="showAddTemporaryClientModal">
            {{ $t('Clients.add-temp-client') }}
          </el-button>
        </div>
      </div>
    </div>

    <data-table
      :get-data="getData"
      ref="table"
      :columns="columns">
        <b class="text-size" slot="id" slot-scope="{row}">
          {{row.id}}
        </b>
        <div slot="name" slot-scope="{row}">
          <el-tooltip placement="top-start" v-if="row.remarks !=0">
            <div slot="content">
              <table class="breakdown-table">
                <tr v-for="remark in row.remarks">
                  <td>
                    {{ remark.remark }} - Operator: {{ remark.created_by }}, {{ remark.created_at }}
                  </td>
                </tr>
              </table>
            </div>
            <span v-bind:class="[row.risk!=='Regular'?'high-risk':'']" style="cursor: pointer; text-decoration: underline; font-weight: bold;">
                {{row.first_name | capitalize}} {{row.last_name | capitalize}}
            </span>
          </el-tooltip>

          <span v-bind:class="[row.risk!=='Regular'?'high-risk':'']" v-else>
              {{row.first_name | capitalize}} {{row.last_name | capitalize}}
          </span>
        </div>
        <span class="text-size" slot="balance" slot-scope="{row}">
          {{row.balance | currency}}
        </span>
        <span class="text-size" slot="collectable" slot-scope="{row}">
          {{ (row.collectable < 0 ? row.collectable : 0 )  | currency}}
        </span>
        <span class="text-size" slot="latest_package" slot-scope="{row}">
          {{row.latest_package}}
        </span>
        <span class="text-size" slot="latest_service" slot-scope="{row}">
          {{row.latest_service}}
        </span>

        <span class="text-size" slot="wallet" slot-scope="{row}">
          {{row.wallet | currency }}
        </span>

        <div slot="action" slot-scope="{row}">
          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Common.add-remarks')" placement="top-start" >
            <el-button  type="warning" size="mini" icon="el-icon-document-add" @click="addRemarksModal(row.id)"></el-button>
          </el-tooltip>

          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Common.change-status')" placement="top-start" >
            <el-button  type="success" size="mini" icon="el-icon-edit-outline" @click="changeStatusModal(row.id, row.risk)"></el-button>
          </el-tooltip>

<!--          <el-tooltip class="item" effect="dark" content="Distribute Payment" placement="top">-->
<!--            <el-button  @click="distribute(row.id)" type="warning" size="mini" icon="el-icon-s-promotion"></el-button>-->
<!--          </el-tooltip>-->


          <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Common.client-profile')" placement="top-start">
            <router-link :to="{ name: 'clients-profile', params: { id: row.id } }" target="_blank"> <el-button  icon="el-icon-arrow-right" size="mini"></el-button></router-link>
          </el-tooltip>
        </div>
    </data-table>

     <span><b>Total Collectables : {{ collectables }}</b></span><br>
     <span><b>Total Balance : {{ balance }}</b></span><br><br>
  </div>
</template>

<script>

import DataTable from '../../components/datatable'
import AddTempClientForm from './components/add-temp-client'
import AddTempClient from './components/add-temp-client'
import ChangeStatus from './components/change-status'
import AddRemarks from './components/add-remarks'
import axios from 'axios'

export default {
  name: 'clients',
  components: {
    DataTable, AddTempClient, ChangeStatus, AddRemarks
  },
  data () {
    return {
      balance : 0,
      collectables : 0,
      enterable : false,
      users: [],
      selections: [],
      total: 0,
      size: 20,
      page: 1,
      branch:1,
      search: '',
      sort: '',
      order: '',
      loading: false,
      columns: [ // set table column names here, use expand to expand child content
        // {
        //   type: "expand"
        // },
        {
          prop: 'id',
          label: this.$t('Clients.client-id'),
          minWidth: '55',
          sortable: true
        },
        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '120',
          sortable: true
        },
        {
          prop: 'balance',
          label: this.$t('Clients.balance'),
          minWidth: '80',
          sortable: true
        },
        {
          prop: 'collectable',
          label: this.$t('Clients.collectable'),
          minWidth: '80',
          sortable: true
        },
        {
          prop: 'latest_package',
          label: this.$t('Clients.latest-package'),
          minWidth: '100',
          sortable: true
        },
        {
          prop: 'latest_service',
          label: this.$t('Clients.latest-service'),
          minWidth: '80',
          sortable: true
        },
        {
          prop: 'wallet',
          label: this.$t('Transaction.wallet'),
          minWidth: '80',
          // sortable: true
        },
        {
          prop: 'action',
          fixed: 'right',
          label: this.$t('Common.actions'),
          width: '240'
        }
      ]
    }
  },

  created () {
    // initial data
    // this.loadUsers()
    this.$eventBus.$on('changeStatusResult', (data) => {
      this.$refs.table.getTableData();
    })
  },

  methods: {
    getData ({ page, query, sortParams, size }) {
      if(sortParams.length == 0){
        sortParams = 'id-desc'
      }
      this.page = page
      return this.$services.client.getAllClientsPaginate({
        page: 'page=' + page,
        sort: 'sort=' + sortParams,
        search: 'search=' + this.search + '&branch=' + this.branch,
        perPage: size
      })
        .then(response => {
          const { data } = response
          this.collectables = data.collectables;
          this.balance = data.balance;

          console.log(data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    handleDeleteSelection () {
      this.$confirm('此操作将永久删除选中用户, 是否继续?')
        .then(() => this.selections.map(item => this.$services.user.delete(item.id)))
        .catch(e => console.error(e))
    },

    handleToggleSelection (enable) {
      const targetStatus = enable ? 'activated' : 'forbidden'
      this.selections.forEach(item => this.$services.user
        .patch(item.id, { status: targetStatus })
        .then(res => Object.assign(item, res.data)))
    },

    handleSelectionChange (value) {
      this.selections = value
    },

    goToAddUser () {
      this.$router.push('client/create')
    },

    handleSearch(){
      this.$refs.table.getTableData();
    },

    test() {

    },

    distribute(id){
        this.$services.groups.distributePayment({
              id: id,
              type: 'client'
            }).then(res => {
                if(res.data.code == 200){

                  this.$message({
                    type: 'success',
                    message: "Payment successfully distributed!"
                  });

                  this.$refs.table.getTableData();

                }else{
                  this.$message({
                    type: 'error',
                    message: "Error Distributing payment!"
                  });
                }
        });
    },

    // Show modal for add temporary client
    showAddTemporaryClientModal () {
      // required to call the modal
      this.$store.dispatch('callModal', { child_component: AddTempClient, title: this.$t('Clients.add-temp-client'), modalWidth: '55%' }) // call global modal state
      this.$parent.$refs.modal.show() // show modal
    },

    changeStatusModal (id, risk) {
      this.$store.dispatch('callModal', {
        child_component: ChangeStatus,
        modalWidth: '35%',
        content: {
          id: id,
          risk: risk
        }
      }) // call global modal state
    },

    addRemarksModal(id){
      this.$store.dispatch('callModal', {
        child_component: AddRemarks,
        title: this.$t('Clients.add-client-remarks'),
        modalWidth: '35%',
        content: {
          id: id
        }
      })
    }

  }
}
</script>

<style lang="scss" scoped>
.search-container {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 0px !important;
}

.button-container {
  display: flex;

  div:last-child {
    margin-left: 10px;
  }
}

.text-size {
  font-size: 13px;
}

@media screen and (max-width: 991px) {
  .button-container {
    display: inline-block;

    div:last-child {
      margin-left: 0px;
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper > .main > .content > .inner > .heading {
    display: block;

    .search {
      margin-right: 0px;

      input {
        &:focus {
          width: 95% !important;
        }
      }
    }
  }

  .button-container {
    display: block;
    margin-top: 10px;
    justify-content: flex-end;

    div:nth-child(n) {
      display: inline-block;
      margin-top: 5px;
    }

    div:first-child {
      margin-right: 10px;
    }

    div:last-child {
      margin-left: 0px;
    }
  }
}
</style>

<style lang="scss">
  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }

  .el-tag {
    margin: 0 .0625rem;
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      width: 2rem;
      height: 2rem;
      margin: 1rem 1rem 1rem 0;
      border: .0625rem solid #c0c0c0;
      border-radius: 50%;
      background: #cfd2d7;
    }

    .names {
      display: flex;
      flex: 1;
      flex-direction: column;
      font-size: .8125rem;
      line-height: 1.4;
    }
    .search input {
      width: 100% !important;
    }
  }

  .high-risk {
    color: RED;
    font-weight: bold;
  }

  .normal {
    font-weight: normal;
  }
</style>
