<template >

  <div class="inner-container">
    <!-- {{data}} -->

    <div>
      <el-tabs type="border-card" @tab-click="changeTab" v-model="clientTab">
        <el-tab-pane :label="'Profile'">
          <ProfileTab1
            v-bind:data="data"
            v-bind:service_profile="service_profile"
            v-bind:serviceProfileList="serviceProfileList"
            v-bind:client_id="client_id"
            v-bind:documents="documents"
            v-bind:documentAlbum="documentAlbum"
          />
        </el-tab-pane>

        <el-tab-pane :label="'Visa'">
          <div>
            <ProfileTab2
              v-bind:data="data"
            />
          </div>
        </el-tab-pane>

        <el-tab-pane :label="'Mart'">
          <div>
            <ProfileTab3
              v-bind:odata="data"
              v-bind:client_id="client_id"
            />
          </div>
        </el-tab-pane>

        <el-tab-pane label="Transaction History">
          <div>
            <ProfileTab4 ref="tab4"
                         v-bind:data="data"
            />
          </div>
        </el-tab-pane>

        <el-tab-pane label="Client Remarks History">
          <div>
            <ProfileTab5 ref="tab5"
                         v-bind:data="data"
            />
          </div>
        </el-tab-pane>
      </el-tabs>

    </div>



    <!-- <el-tabs type="border-card" @tab-click="changeTab">
      <el-tab-pane :label="$t('Service.services')">
          <service-list ref="clientService" :data="data"></service-list>
      </el-tab-pane>
      <el-tab-pane :label="$t('Logs.action-logs')">
          <Actions ref="clientActionLogs"></Actions>
      </el-tab-pane>
      <el-tab-pane :label="$t('Logs.transaction-logs')">
          <Transactions ref="clientTransactionLogs"></Transactions>
      </el-tab-pane> -->
    <!-- <el-tab-pane :label="$t('Logs.doc-logs')">
        <DocumentLogs ref="documentlogs"></DocumentLogs>
    </el-tab-pane> -->

    <!-- <el-tab-pane label="Documents On Hand">
        <DocumentsOnHand ref="documentsOnHand"></DocumentsOnHand>
    </el-tab-pane>
    <el-tab-pane :label="$t('Clients.uploads')">
        <UploadList ref="uploadList"
        :client_id="client_id"
        :documents="documents"></UploadList>
    </el-tab-pane>
    <el-tab-pane :label="$t('Group.groups')">
      <group-list ref="clientGroups"></group-list>
    </el-tab-pane>
    <el-tab-pane :label="$t('Clients.commi')">
        <Commissions ref="clientCommissionLogs"></Commissions>
    </el-tab-pane> -->

    <!--	<el-tab-pane label="Payments">
          <PaymentList ref="clientPaymentList"></PaymentList>
      </el-tab-pane> -->
    <!-- </el-tabs> -->
  </div>

</template>

<script>
  // components

  import ServiceList from './components/service-list.vue'
  import GroupList from './components/group-list.vue'
  import Transactions from './components/transaction-logs.vue'
  import TransactionHistory from './components/transaction-history.vue'
  import DocumentLogs from './components/document-logs.vue'
  import DocumentsOnHand from './components/documents-on-hand.vue'
  import Commissions from './components/commission-logs.vue'
  import Actions from './components/action-logs.vue'
  import UploadList from './components/upload-list.vue'
  import PaymentList from './components/payment-list.vue'
  import ChangeServiceProfile from './components/change-service-profile'

  import ProfileTab1 from './components/profile-tab-1'
  import ProfileTab2 from './components/profile-tab-2'
  import ProfileTab3 from './components/profile-tab-3'
  import ProfileTab4 from './components/profile-tab-4'
  import ProfileTab5 from './components/profile-tab-5'

  export default {
    name: 'clients-profile',
    components: { ServiceList, GroupList, Transactions, DocumentLogs, DocumentsOnHand, Commissions, UploadList, Actions, PaymentList, ChangeServiceProfile, ProfileTab1, ProfileTab2, ProfileTab3, ProfileTab4, TransactionHistory, ProfileTab5 },
    data () {
      return {
        clientTab: (typeof this.$route.params.clientServiceId !== 'undefined') ? '1' : '0',  //selected tab
        data: {},
        client_id: this.$route.params.id,
        service_profile: 0,
        documents: [],
        serviceProfileList: [],
        documentAlbum: []
      }
    },

    created () {
      this.loadServiceProfile()
      this.asyncData()
    },

    mounted () {
      this.asyncData()
      this.$eventBus.$on('updateClientProfile', (data) => {
        this.asyncData()
      })

      this.$eventBus.$on('getBranch', (data) => {
        this.$eventBus.$emit('passBranch', this.data.branch.id)
      })

      this.getListOfCliendDocs()
      this.$eventBus.$on('uploadListOfClientDocs', (data) => {
        this.getListOfCliendDocs()
        this.$router.go();
      })
      // console.log('env', process.env)
    },

    methods: {
      async asyncData () {
        this.client_id = this.$route.params.id
        return this.$services.client.getClientProfile({
          id: this.$route.params.id
          // sort: sortParams
        })
          .then(response => {
            console.log('client profile', response)
            this.data = response.data.data.client
            this.service_profile = (this.data.service_profile_id != null ? this.data.service_profile_id : 0)
          })
      },

      async loadServiceProfile () {
        this.serviceProfileList = []
        this.$store.dispatch('getAllServiceProfiles').then(res => {
          if (res.code === 200) {
            this.serviceProfileList.push({
              id: 0,
              name: 'Market Price'
            })
            res.data.service_profiles.map((item, index) => {
              if (item.type == 'default') {
                this.serviceProfileList.push({
                  id: item.id,
                  name: item.name
                })
              }
            })
          }
        }).catch(err => {})
      },

      async changeServiceProfile (serviceProfileId) {
        if (serviceProfileId !== '') {
          var index = this.serviceProfileList.findIndex(s => s.id === serviceProfileId)

          this.$store.dispatch('callModal', {
            child_component: ChangeServiceProfile,
            modalWidth: '35%',
            content: {
              id: serviceProfileId,
              name: this.serviceProfileList[index].name,
              client_id: this.$route.params.id
            }
          }) // call global modal state
        }
      },

      changeTab (tab, event) {

        console.log('here');

        switch (tab.label) {
          case 'Services' : {
            this.$refs.clientService.getServicesByTracking(0)
            break
          }
          case 'Action Logs' : {
            this.$refs.clientActionLogs.getActionLogs()
            break
          }
          case 'Service Logs' : {
            this.$refs.clientTransactionLogs.getTransactionLogs()
            break
          }
          case 'Document Logs' : {
            this.$refs.documentlogs.getDocumentLogs()
            break
          }
          case 'Documents On Hand' : {
            this.$refs.documentsOnHand.getDocumentsOnHand()
            break
          }
          case 'Uploads' : {
            break
          }
          case 'Groups' : {
            this.$refs.clientGroups.getClientGroups()
            break
          }
          case 'Commission' : {
            this.$refs.clientCommissionLogs.getCommissionLogs()
            break
          }
          case 'Transaction History' : {
            this.$refs.tab4.$refs.clientTransactionHistory.getTransactionHistory()
            break
          }

          case 'Payments' : {
            // this.$refs.clientPaymentList.getUnpaidService()
            break
          }

          default : {
            break
          }
        }
      },

      getListOfCliendDocs () {
        this.$store.dispatch('getDocsByClient', {
          id: this.client_id
        })
          .then(res => {

            res.data.map((item, index) => {
              this.sordDocsAlbum(res.data, item)
            })

            console.log('client docs album', this.documentAlbum)
            console.log('client docs', this.documents)

          })
      },

      sordDocsAlbum (documents, data) {
        var counter = 0;
        var position = null
        var doc = data;

        this.documentAlbum.map((item, index) => {
          if(item.client_document_type_id === doc.client_document_type_id) {
            counter++;
            position = index
          }
        })


        if(counter === 0) {
          this.documentAlbum.push(doc)
          doc.client_documents.map((item, index) => {
            this.documents.push({
              id: item.id,
              client_id: item.client_id,
              client_document_type_id: item.client_document_type_id,
              client_document_type: doc.name,
              file_path: item.file_path,
              issued_at: item.issued_at,
              expired_at: item.expired_at,
              status: item.status,
            })
          })

        }

        // console.log('doc album result', this.documentAlbum)
      },

      sortDocs (documents, data) {
        documents.map((item, index) => {

        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .edit-container {
    text-align: center;
    padding: 5px 0px 8px;

    a {
      background-color: #1D8CE0;
      color: #fff;
      padding: 4px 8px;
      border-radius: 3px;
    }
  }

  .profile-avatarLink {
    margin: -30px 5px 0 18px;
    padding: 0px;
  }

  .bottom-spacing {
    margin-bottom: 10px;
  }

  .row-indent {
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
  }

  .profile-user {
    display: flex;
    width: auto;
    margin-bottom: 10px;

    .profile-display {
      display: flex;
      align-items: flex-end;

      .display-avatar {
        margin-right: 10px;
      }

      .grid-content {
        margin-bottom: 2px;
        width: 270px;

        .profile-Name {
          display: flex;
        }
      }
    }

    .profile-stats {
      flex: 1;
      display: flex;
      align-items: flex-end;

      .profile-totals {
        display: inline-block;
        padding: 3px 0px;

        &:first-child {
          padding-right: 10%;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .profile-bg {
      padding: 10px 12px 35px;
    }

    .profile-avatarLink {
      float: none;
      margin-left: 0px;
    }

    .profile-user {
      // display: block;

      .profile-display {
        display: block;
        text-align: center;
        margin-right: 35px;

        .grid-content {
          width: auto;
          padding: 0px 20px;
        }
      }

      .profile-stats {
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .profile-user {

      .profile-display {
        margin-right: 25px;

        .grid-content {
          padding: 0px 15px;
        }
      }
    }
  }
</style>

<style>
  .profile-bg {
    padding: 10px 12px 25px;
    width: auto;
  }

  .el-row {
  /* margin-left: 10px; */
  &:last-child {
     margin-bottom: 0;
   }
  }
  .el-col {
    border-radius: 4px;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
    /* padding: 8px 12px; */
    /* padding: 8px 0px; */
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
</style>
