<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#40586f">
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= VUE_APP_NAME %></title>
</head>

<body>
  <noscript>
    <strong>We're sorry but appliction doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app">
    <style>
      body { background: #2b3b49; }
      #app { display: flex; justify-content: center; align-items: center; height: 100vh; }
      .loading { width: 5rem; height: 5rem; }
      .loading .blue { fill: #dff0fc; }
      .loading .gray { fill: #69cdff; }
      .loading .item { transform-origin: 50px 50px 0; animation: spin 2s infinite; will-change: transform; }
      @keyframes spin { 0% { transform: rotate(0); } 100% { transform: rotate(360deg); } }
    </style>
    <svg class="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <g class="item" style="animation-delay: 0.00s"><path class="blue" d="M69.4 28.7c-3-2.8-6.5-4.8-10.3-6-4.6-1.5-7.7-5.8-7.7-10.6V7.5c4.9.2 9.7 1.1 14.2 2.9 7.4 2.9 9.5 12.6 3.8 18.3z" /></g>
      <g class="item" style="animation-delay: 0.06s"><path class="gray" d="M33 11c-4.4 1.9-8.5 4.6-12.1 8l3.2 3.2c3.4 3.4 8.6 4.2 12.9 2.1 3.6-1.8 7.5-2.8 11.6-3 0-8.1-8.2-13.5-15.6-10.3z" /></g>
      <g class="item" style="animation-delay: 0.12s"><path class="blue" d="M10.4 34.4c-1.8 4.5-2.7 9.3-2.9 14.2H12c4.8 0 9.1-3.1 10.6-7.7 1.3-3.8 3.3-7.3 6.1-10.3-5.7-5.7-15.4-3.6-18.3 3.8z" /></g>
      <g class="item" style="animation-delay: 0.18s"><path class="gray" d="M11 67c1.9 4.4 4.6 8.5 8 12.1l3.2-3.2c3.4-3.4 4.2-8.6 2.1-12.9-1.8-3.6-2.8-7.5-3-11.6-8.1 0-13.5 8.2-10.3 15.6z" /></g>
      <g class="item" style="animation-delay: 0.24s"><path class="gray" d="M89 33c-1.9-4.4-4.6-8.5-8-12.1l-3.2 3.2c-3.4 3.4-4.2 8.6-2.1 12.9 1.8 3.6 2.8 7.5 3 11.6 8.1 0 13.5-8.2 10.3-15.6z" /></g>
      <g class="item" style="animation-delay: 0.30s"><path class="blue" d="M89.6 65.6c1.8-4.5 2.7-9.3 2.9-14.2H88c-4.8 0-9.1 3.1-10.6 7.7-1.3 3.8-3.3 7.3-6.1 10.3 5.7 5.7 15.4 3.6 18.3-3.8z" /></g>
      <g class="item" style="animation-delay: 0.36s"><path class="gray" d="M67 89c4.4-1.9 8.5-4.6 12.1-8l-3.2-3.2c-3.4-3.4-8.6-4.2-12.9-2.1-3.6 1.8-7.5 2.8-11.6 3 0 8.1 8.2 13.5 15.6 10.3z" /></g>
      <g class="item" style="animation-delay: 0.42s"><path class="blue" d="M34.4 89.6c4.5 1.8 9.3 2.7 14.2 2.9V88c0-4.8-3.1-9.1-7.7-10.6-3.8-1.3-7.3-3.3-10.3-6.1-5.7 5.7-3.6 15.4 3.8 18.3z" /></g>
    </svg>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>
