<template>

	<div>

		<div class="heading">
		  	<h1 class="title">
		  		Bundle Profile
		  		<span id="service-name">{{ bundle_name }}</span>
		  		<span id="service-name"><small>{{ bundle_name_cn }}</small></span>

		  	</h1>

		   	<router-link :to="{ name: 'presets'}">
	        	<el-button size="small" class="m-10">{{ $t('Common.back') }}</el-button>
	      	</router-link>
		</div>

		<div class="m-b-40">

			<el-form ref="preset_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
	            <el-row :gutter="20" class="form-container">
	              <el-col :span="24">
	                <div class="label">Select Preset :</div>
	                <div>
	                  <el-form-item prop="presets">
	                  <el-select v-model="xform.presets" filterable multiple placeholder="Select Preset" style="width: 550px;" @change="displayTable">
	                      <el-option
	                        v-for="s in presets"
	                        :key="s.id"
	                        :label="s.name"
	                        :value="s.id">
	                      </el-option>
	                    </el-select>
	                  </el-form-item>
	                </div>
	              </el-col>
	            </el-row>

	        </el-form>

		    <el-alert
		    	v-if="oldpresets != form.presets"
		    	class="m-b-10"
					title="Click Save Changes"
					type="info"
					show-icon>
			</el-alert>

			<!-- <el-table-draggable @drop="handleDrop"> -->
				<el-table ref="table" width="100%" :data="form.presets" v-loading="loading" row-class-name="movable">
					<el-table-column label="List of Preset" label-class-name="tbl-header">
						<el-table-column label="Preset Name" width="600" align="left">
						   	<template slot-scope="scope">
						      	{{ scope.row.name }}
						    </template>
						</el-table-column>

						<!-- <el-table-column label="Specs">
							<template slot-scope="scope">
							    {{ scope.row.specs }}
							</template>
						</el-table-column>

						<el-table-column label="Retail Price">
							<template slot-scope="scope">
							    {{ scope.row.retail_price }}
							</template>
						</el-table-column>

						<el-table-column label="Ratio">
							<template slot-scope="scope">

							    <el-input size="mini" type="number" min="0" v-model="form.materials[scope.$index].ratio" autocomplete="off" placeholder="Enter actual qty" style="width: 150px; "></el-input>
							</template>
						</el-table-column> -->
					</el-table-column>
				</el-table>
			<!-- </el-table-draggable> -->

			<el-button @click="saveChanges" type="primary" size="small" icon="el-icon-check" class="pull-left m-t-10 m-b-10">
		    	{{ $t('Service.save_changes') }}
			</el-button>

			<div class="m-t-20"></div>

    	</div>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';

	export default {
		name: 'bundle-profile',

		components: {
    		ElTableDraggable,
  		},
		
		data () {
			return {
				loading: false,

				serviceId: this.$route.params.service_id,

				serviceName: null,

				serviceProcedures: [],

				optionalServiceProcedures: [],

				sorted: false,
				bundle_name: '',
				bundle_name_cn: '',

				presets : [],
				oldpresets : [],
				selected : [],

				form: {
			        bundle_id : 0,
			        presets : [], 
			      },
			     xform: {
			     	bundle_id : 0,
			        presets: [],
			     },
			}
		},

		methods:{
			displayTable(){
		      this.$store.dispatch('loadPresetsSelected', { payload: this.xform }).then(response => {
		        this.form.presets = response.data.presets;
		      })
		    },

			saveChanges() {

				this.$store.dispatch('updateBundlePresets', { payload: this.form })
                    .then(response => {
                    	
                        if (response.status === 'Success') {

                            this.$message({
                                showClose: true,
                                message: this.$t('Common.successfully_updated'),
                                type: 'success',
                                center: true
                            });
                            location.reload();
                        } else {
                            const errors = response.errors;

                            for (const key in errors) {
                                 if (errors.hasOwnProperty(key)) {
                                    const message = errors[key][0];

                                    this.$message({
                                        type: 'error',
                                        message: message
                                    });
                                }
                            }
                        }
                    });
			}
		},

		created() {
			const vm = this
			this.form.bundle_id   = vm.$parent.$route.params.id
			this.xform.bundle_id   = vm.$parent.$route.params.id
		    this.$store.dispatch('loadAllPresets', { payload: this.form } ).then(response => {
		        this.presets = response.data.presets;
		        this.bundle_name = response.data.bundle.name;
		        this.bundle_name_cn = response.data.bundle.name_cn;
		        this.xform.presets = response.data.bundle.preset_ids;
		        this.oldpresets = response.data.bundle.presets;
		        this.form.presets = response.data.bundle.presets;
		      })
		}
	}
</script>

<style lang="scss">
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

/*  	.movable {
  		cursor: move;
  	}*/

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #24313c;
  		font-size: 16px;
  	}

  	.m-b-40 {
  		margin-bottom: 40px;
  	}
</style>