<template>
    <div>
      <div class="cat-header">
        <el-row>
          <el-col :span="24">
            <div class="cat-name">
              {{data.name}}
              <i class="el-icon-delete category-buttons" @click="$emit('deleteCategory', data)"></i>
              <i class="el-icon-edit category-buttons" style="color: #40586F;" @click="$emit('editCategory', data)"></i>
            </div>
          </el-col>
        </el-row>
      </div>

      <CategoryProductView 
        v-bind:data="data" 
        v-on:deleteCategory="$emit('deleteCategory', data)"
        v-on:editCategory="$emit('editCategory', data)"
      />
    </div>
    

    <!-- <el-row v-for="product in data.products" class="row">
      <el-col :span="5" :xl="5" :lg="5" :md="7" :sm="7" :xs="7">
        <div class="block demo-image__preview" style="height: 102px;">
          <el-image
            class="p-img"
            :src="storageURL+ 'products/' + product.product_img"
          >
            <div slot="error" class="image-slot">
              <el-upload
                action
                :data="{pid : product.product_id}"
                :auto-upload="false"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-change="handleChange"
                :ref="'upload'+product.product_id"
              >
                <i
                  class="el-icon-plus plus-upload"
                  @click="passId(product.product_id)"
                ></i>
              </el-upload>
              <el-dialog :visible.sync="dialogVisible2">
                <img width="100%" :src="dialogImageUrl" alt />
              </el-dialog>
            </div>
          </el-image>
          <el-upload
            style="width:  100%;"
            v-if="product.product_img"
            action
            :data="{pid : product.product_id}"
            :auto-upload="false"
            list-type="text"
            :on-preview="handlePictureCardPreview"
            :on-change="handleChange"
            :ref="'upload'+product.product_id"
          >
            <i
              class="el-icon-edit plus-upload2"
              @click="passId(product.product_id)"
            ></i>
          </el-upload>
        </div>
      </el-col>
      <el-col :span="19" :xl="19" :lg="19" :md="17" :sm="17" :xs="17">
        <el-row>
          <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
            <el-input
              class="remarks"
              placeholder="name"
              v-model="form.name[product.product_id]"
              @change="updateProduct(product.product_id)"
            ></el-input>
          </el-col>
          <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
            <el-input-number
              :controls="false"
              class="remarks"
              placeholder="0"
              type="number"
              v-model="form.price[product.product_id]"
              @change="updateProduct(product.product_id)"
              :min="0"
              style="width:  100%"
            ></el-input-number>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="18" :xl="18" :lg="18" :md="15" :sm="15" :xs="15">
            <el-input
              class="remarks"
              placeholder="name_chinese"
              v-model="form.name_chinese[product.product_id]"
              @change="updateProduct(product.product_id)"
            ></el-input>
          </el-col>
          <el-col :span="6" :xl="6" :lg="6" :md="9" :sm="9" :xs="9">
            <el-select
              class="remarks"
              v-model="form.unit[product.product_id]"
              style="width: 100%; text-align: center !important;"
              @change="updateProduct(product.product_id)"
            >
              <el-option v-for="s in units" :label="'/'+s.value" :value="s.value"></el-option>
            </el-select>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="6" :xl="6" :lg="6" :md="6" :sm="6" :xs="6">
            <span style="margin-left: 4px; line-height: 40px">
              <b>Original Price :</b>
            </span>
          </el-col>
          <el-col :span="7" :xl="7" :lg="7" :md="7" :sm="7" :xs="7">
            <el-input-number
              :controls="false"
              class="remarks"
              placeholder="0"
              type="number"
              v-model="form.orig_price[product.product_id]"
              @change="updateProduct(product.product_id)"
              :min="0"
              style="width:  100%"
            ></el-input-number>
          </el-col>
          <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5" :offset="1">
            <span style="margin-left: 4px; line-height: 40px">
              <b>Multiplier :</b>
            </span>
          </el-col>
          <el-col :span="5" :xl="5" :lg="5" :md="5" :sm="5" :xs="5">
            <el-input-number
              :controls="false"
              class="remarks"
              placeholder="0"
              type="number"
              v-model="form.multiplier[product.product_id]"
              @change="updateProduct(product.product_id)"
              :min="0"
              style="width:  100%"
            ></el-input-number>
          </el-col>
        </el-row>
      </el-col>
    </el-row> -->
</template>


<script>
import CategoryProductView from "./category-products-view"


export default {
  name: "category-products-view",
  components: {
    CategoryProductView
  },
  props: ['data'],
  mounted() {
    console.log('category category', this.data)
  }
}
</script>