<template>
    <div class="form-container invoicecontainer">
	    <el-row :gutter="30" class="p-line-set">
	        <el-col :span="8">
	        	<div class="line-set">
            		<span class="label-a">Name : </span>
            		<span class="content-txt" > {{ form.name }}</span>
            	</div>
	        </el-col>
	        <el-col :span="8">
	        	<div class="line-set">
            		<span class="label-a">Wechat ID : </span>
            		<span class="content-txt"> {{ form.wechat_id }} </span>
            	</div>
	        </el-col>
	        <el-col :span="8">
	        	<div class="line-set">
            		<span class="label-a"> {{ (form.status > 0 ? 'DELIVERED' : 'FOR DELIVERY' ) }} </span>
            	</div>
	        </el-col>
	    </el-row>
	    <el-row :gutter="30" class="p-line-set">
	        <el-col :span="8">
	        	<div class="line-set">
            		<span class="label-a">Phone : </span>
            		<span class="content-txt" > {{ form.phone }}</span>
            	</div>
	        </el-col>
	        <el-col :span="8">
	        	<div class="line-set">
            		<span class="label-a">Date : </span>
            		<span class="content-txt" > {{ form.date }}</span>
            	</div>
	        </el-col>
	        <el-col :span="8">
	        	<div class="line-set">
            		<span class="label-a">Delivery Date : </span>
            		<span class="content-txt" > {{ form.date_of_delivery }}</span>
            	</div>
	        </el-col>
	    </el-row>
	    <el-row :gutter="30" class="p-line-set">
	        <el-col :span="24">
	        	<div class="line-set">
            		<span class="label-a">Address : </span>
            		<span class="content-txt" > {{ form.address }}</span>
            	</div>
	        </el-col>
	    </el-row>
	    <el-row :gutter="30" class="p-line-set">
	        <el-col :span="24">
	        	<div class="line-set">
            		<span class="label-a">Remarks : </span>
            		<span > {{ form.remarks }}</span>
            	</div>
	        </el-col>
	    </el-row>
	    <br><br>

	    <el-table
      :data="form.orders"
      style="width: 100%">
      <el-table-column
        prop="combined_name"
        label="Name"
        width="400">
      </el-table-column>
      <el-table-column
        prop="qty"
        label="QTY"
        width="60">
      </el-table-column>
      <el-table-column
        prop="unit_price"
        label="Price">
      </el-table-column>
      <el-table-column
        prop="total_price"
        label="Total">
      </el-table-column>
      <el-table-column
        prop="remarks"
        label="Remarks">
      </el-table-column>

    </el-table>
    <br>

    <span style="float: right; margin-right: 200px"><b>Total : </b> {{form.total}}</span>
    <br><br>

    <span><b>Note : </b> The order weight might be different from actual purchase, example, we cant estimate the whole patchay's weight or whole chickens actual weight. only estimate.  <br> (请注意，实际付款金额可能和预估金额有差距，因为例如白菜，整鸡，猪脚等价格取决于实际购买是的称重，我们只是预估。最终付款金额取决于最终货物重量)</span>

	        
    </div>
</template>
<script>
  import DataTable from '../../../components/datatable'

  export default {
  	props:['form'],
  	components: {DataTable},
  	data () {
    	return {
    	
    	}
	},

	created () {
    	// this.getData();
    },

	methods: {
		getData () {
			console.log(this.form.orders);
	        return {
	          data: this.form.orders
	        }
	      }
	    }
	
  }
</script>
<style lang="scss" scoped>
	/*.invoicecontainer{*/
		.el-dialog{
		    margin-top: 1vh !important;
		    /*width: 1120px !important;*/
		    /*height: 100% !important;*/
		}
	/*}*/
	.el-pagination {
		display: none !important;
	}
	
	.receipt-title{
		text-align: center;
		font-size:24px;
	}

	.content-txt {
	  	color: #000000;
	  	margin-left: 10px;
	  	text-transform: uppercase;
	}

	.label-a{
		font-size: 13px;
		margin:0px;
		color:#000000;
	  	font-weight: bold;

		
	}

	.p-line-set{
		margin-bottom: 3px;
	}

	.line-set{
		display: inline-flex;
	}

	.line-a{
		width: 781px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}
	.line-b{
		width: 152px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}
	.line-c{
		width: 568px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}
	.line-d{
		width: 770px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}


</style>