<template>
<el-form ref="form" id="order_form" :model="form">

  <el-form-item
    label="Product Category"
    prop="category">
      <el-select
        v-model.category="form.category"
        reserve-keyword
        placeholder="Select Product Category"
        size="large"
        @change="selectCategories(form.category)">
        <el-option
          v-for="item in this.categories"
          :key="item.category_id"
          :label="item.name"
          :value="item.category_id">
        </el-option>
      </el-select>
  </el-form-item>


  <el-form-item
    label="Product Name"
    prop="product">

    <el-select
      v-model.product="form.product"
      reserve-keyword
      placeholder="Select Product Name"
      size="large"
      @change="selectProduct(form.product)">
      <el-option
        v-for="item in this.products"
        :key="item.product_id"
        :label="item.product_name + ' ' + '(' + item.product_name_chinese +')'"
        :value="item.product_id">
      </el-option>
    </el-select>

  </el-form-item>


  <el-form-item
    label="Qty/Per Kg"
    prop="qty">
    <el-input type="text" v-model.qty="form.qty" autocomplete="off"></el-input>
  </el-form-item>

  <el-form-item
      label="Remarks"
      prop="remarks">
      <el-input type="text" v-model.remarks="form.remarks" autocomplete="off"></el-input>
  </el-form-item>

  <el-form-item>
    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>
  </el-form-item>

</el-form>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'order',
  data () {
    return {
      categories:[],
      products: [],
      product: {},
      form: {
        category: '',
        product: '',
        qty: '',
        remarks: ''
      }
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    orders: 'orders'
  }),

  created(){
      this.getCategories();
  },

  mounted() {},

  methods: {

    submitForm (form) {

      var temp = (typeof this.orders.data !== 'undefined') ? this.orders.data : [];

      var data = {};
      data.category_id = this.form.category;
      data.product = this.product;
      data.qty = this.form.qty;
      data.remarks = this.form.remarks;

      this.$store.dispatch('storeTempOrders',
      {list: temp, data: data}
      ).then(res => {

          this.$parent.$emit('close')
          //this.$refs[form].resetFields()
          this.$eventBus.$emit('refreshTable');
      })

      this.$message({
        type: 'success',
        message: this.$t('Common.successfully_added')
      });

    },

    selectCategories (category_id){
        console.log(category_id);
        setTimeout(() => {
            this.$store.dispatch('getProductByCatId', category_id).then(response => {
            console.log(response.data);
             this.products = response.data;
           })
        }, 200);
    },

    async getCategories (){
        setTimeout(() => {
            this.$store.dispatch('getProductCategories').then(response => {
             this.categories = response.data;
           })
        }, 200);
    },

    selectProduct (product_id){
          let index = this.products.findIndex(v => v.product_id === product_id);
          this.product = this.products[index];
    }

  }
}
</script>

<style scoped>
  .el-select{
    width:100%;
  }
</style>
