<template>
    <div class="form-container">
	    <el-row :gutter="30" class="p-line-set">
	        <el-col :span="24">
	        	<div class="line-set">
            		<p class="label-a">Name:</p><div class="line-a"></div>
            		<p class="content-txt" style="bottom: -14px;left: 60px;">XYLENA MAE SOBREVEGA DEREZ</p><!-- VALUE: CLIENT NAME -->
            	</div>
	        </el-col>
	    </el-row>
	   	<el-row :gutter="30" class="p-line-set">
	        <el-col :span="24">
	        	<div class="line-set">
            		<p class="label-a">Address:</p><div class="line-d"></div>
            		<p class="content-txt" style="bottom: -14px;left: 70px;">0031 UNIT 12, FELO 1, RINCON ST., BGRY. RINCON, VALENZUELA CITY</p><!-- VALUE: CLIENT NAME -->
            	</div>
	        </el-col>
	    </el-row>
	   	<el-row :gutter="30" class="p-line-set">
	        <el-col :span="18">
	        	<div class="line-set">
            		<p class="label-a">Phone:</p><div class="line-c"></div>
            		<p class="content-txt" style="bottom: -14px;left: 60px;">0917-150-8514</p><!-- VALUE: CLIENT NAME -->
            	</div>
	        </el-col>
	       	<el-col :span="6">
	        	<div class="line-set">
            		<p class="label-a">Date:</p><div class="line-b"></div>
            		<p class="content-txt" style="bottom: -14px;left: 705px;">MARCH 26, 2020</p><!-- VALUE: CLIENT NAME -->
            	</div>
	        </el-col>
	    </el-row>
        <data-table 
	      :columns="columns">
	        <b class="text-size" slot="id" slot-scope="{row}">
	          <!--  ITEM -->
	        </b>
	        <b class="text-size" slot="name" slot-scope="{row}">
	             <!--  QTY -->
	        </b>
	    </data-table>
    </div>
</template>
<script>
  import DataTable from '../../../components/datatable'

  export default {
  	props:['form'],
  	components: {DataTable},
  	data () {
    	return {
    	columns: [ 
	        {
	          prop: 'item',
	          label: "Item",
	          minWidth: '40',
	          
	        },
	        {
	          prop: 'qty',
	          label: 'QTY',
	          minWidth: '60',
	          
	        },
	      ]
    	}
	}
  }
</script>
<style scoped>
	.receipt-title{
		text-align: center;
		font-size:24px;
	}

	.content-txt {
	  	position: absolute;
	  	font-weight: bold;
	  	color: #000000;
	}

	.label-a{
		font-size: 13px;
		margin:0px;
		color:#000000;
		
	}

	.p-line-set{
		margin-bottom: 3px;
	}

	.line-set{
		display: inline-flex;
	}

	.line-a{
		width: 781px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}
	.line-b{
		width: 152px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}
	.line-c{
		width: 568px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}
	.line-d{
		width: 770px;
	  	border-bottom: 1px solid #000000;
	  	margin: 0;
	}


</style>