<template>
   <div class="form-container">
<!--       <div class="button-container">
        <div>
          <el-button type="primary" size="small" icon="el-icon-tickets">
            Invoice View
          </el-button>
          <el-button type="primary" size="small" icon="el-icon-s-order">
            Order List View
          </el-button>
        </div>
      </div> -->
      <div id="invoice" > 
          <invoice :form="form"></invoice>
      </div>
<!--       <div id="orders" >
          <ordersList :form="form"></ordersList>
      </div> -->

      <!-- Buttons -->
      <!-- <div class="inner-container">
        <el-row :gutter="30">
          <el-col :span="24">
            <el-button type="primary" @click="onSubmit()">Print</el-button>
          </el-col>
          </el-row> 
      </div> -->
      <!-- End of Buttons -->
   </div>
</template>

<script>
import html2canvas from 'html2canvas';
import jsPDF from 'jspdf';
import invoice from './invoice';
import ordersList from './order-list-view';


export default {
  name: 'order',
  components: {html2canvas, jsPDF, invoice, ordersList},
  data () {
    return {
      order_id: '',
      // orders:[],
      mode:'',
      form: {
       name:'',
       address:'',
       phone:'',
       date:'',
       total:'',
       status:'',
       wechat_id:'',
       date_of_delivery:'',
       remarks:'',
       orders: []
      }

    }
  },

  props: {
  },

  created(){
    this.order_id = this.$parent.$parent.$parent.$refs.modal.content.order_id;
    const order_id = this.order_id;
    return this.$store.dispatch('viewOrder', { order_id: order_id}).then(res => {
      var data = res.data;
      console.log(data);
      this.form.name = data.name;
      this.form.address = data.address;
      this.form.phone = data.contact;
      this.form.date = data.created_at;
      this.form.total = data.total_price;
      this.form.orders = data.details;
      this.form.status = data.is_delivered;
      this.form.wechat_id = data.wechat_id;
      this.form.date_of_delivery = data.date_of_delivery;
      this.form.remarks = data.remarks;
    });
  },

  mounted() {},

  methods: {

    onSubmit(){
      let elem = document.getElementById('invoice');
      let clone = elem;
      clone.style.display = 'block';

      html2canvas(clone).then(function(canvas) {
          var img = canvas.toDataURL("image/png");
          var doc = new jsPDF('p','mm','letter');
          doc.addImage(img, 'JPEG', 1, 1, 210, 150);
          doc.save("sample.pdf");
      });
    }
  }
}
</script>

<style scoped>
  .el-select{
    width:100%;
  }
</style>
