<template>
	<div>
		<div class="block action-log-timeline" style="margin-top: 20px;">
		  	<el-timeline>
		  		<el-timeline-item v-for="log in action_logs" :log="log" :timestamp="log.year != null ? log.display_date : ''"  placement="top" :color="log.year != null ? '#1d8ce0' : ''" style="padding-bottom: 1px;" :class="{'parent-timeline': (log.year != null)}">
		  			<el-row :gutter="10">

							<el-col :span="24">
				    			<el-card>
							        <!-- LOG MESSAGE -->
										<span class="log-msg">
									        		<span v-html="log.data.head"></span>
									        		<b> {{ log.data.processor }} </b>
									        	</span>
							      </el-card>
							</el-col>
		  			</el-row>
		        </el-timeline-item>

			</el-timeline>
		</div>
	</div>
</template>

<script>

export default {
  name: 'action-logs-list',
  components: {
    
  },
  data () {
    return {
      action_logs: [],
    }
  },

  created () {
    // this.getTransactionLogs();
  },

  mounted () {

  },

  methods: {
    getActionLogs () {
      let vm = this;
	  return this.$store.dispatch('getActionLogs', { client_id: 0, group_id : this.$route.params.id}).then(res => {
              this.action_logs = res.data;
          return res.data;
      });

    },

    bg(stat){
      switch(stat){
        case null:
          return ' bg-red';
          break;
        case 'on process':
          return ' bg-green';
          break;
        case 'pending':
          return ' bg-yellow';
          break;
        case 'complete':
          return ' bg-aqua';
          break;
        default:
          return 'bg-red';
      }
    },



  },

  computed: {

  }
}
</script>

<style lang="scss" scoped>
	.action-log-timeline{

		.el-card {
		    border: 2px solid #e6e6e6 !important;
		}

		.complete-tag{
			background-color: #0ba8e4 !important;
    		border-color: #0ba8e4 !important;
		}

		.service-name{
			font-weight: bold;
		    margin-left: 5px;
		    color: #1d8ce0;
		}

		.el-card__body {
			font-size: 13px;
	    	min-height: 25px !important;
	    	padding: 10px !important;
		}

		.bal-details{
			.el-card__body {
		    	font-size: 11px;
			}

			.pos-amt{
				color:#0db502;
			}


			.neg-amt{
				color:#e42613;
			}
		}

		.border-line {
	        width: 100%;
	        height: 2px;
		    background-color: #e6e6e6;
		    margin-top: 3px;
	    }

	    .log-msg{
	    	line-height: 20px;
	    	font-size: 13px;
	    	span{
	    		&:before {
			        content: "• ";
			    }
	    	}
	    	b{
	    		color: #40586F;
	    		background-color: #eceef1;
			    border-color: #d9dee2;
			    border-width: 1px;
			    font-size: 12px;
	    	}
	    }

	    .el-timeline-item__timestamp {
		    color: #1d8ce0;
		    line-height: 1;
		    font-size: 13px;
		    font-weight: bold;
		    background: #f0f1f3;
		    padding: 6px;
		}
		.el-row {
			margin-bottom: 20px;
		}

		.bg-funds { background-color: #40586f !important; border-color: transparent;}
		.bg-yellow {background-color: #ffbc2d !important; border-color: transparent;}
		.bg-aqua {background-color: #00c0ef !important; border-color: transparent;}
		.bg-green {background-color: #4ec98b !important; border-color: transparent;}
		.bg-disabled { background-color: #909399 !important; border-color: transparent;}
		.parent-timeline{
			margin-top: 10px;
		}
	}

</style>