<template>
    <div class="members-container">

      <el-form :inline="true" label-width="100px" label-position="left" style="width: 100%;">

        <el-form-item>

          <el-row>
            <el-col :span="4">
              <label>
                  Actions:
              </label>
            </el-col>
            <el-col :span="20">
              <el-select v-model="action" filterable
                size="small" remote>
                  <el-option
                    v-for="item in actions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
              </el-select>
            </el-col>
          </el-row>

        </el-form-item>


      <form class="search" >


      <el-row>
        <el-col :span="18">
          <div style="text-align:left; margin-top:5px;"><el-checkbox  :indeterminate="isIndeterminate" v-model="checkAllMembers" @change="handleCheckAllMemberChange">Select All Members</el-checkbox></div>

        </el-col>
        <el-col :span="6">
          <div style="text-align:right">
            <el-input   size="small" placeholder="Search" prefix-icon="el-icon-search" v-model="search" clearable  @change="handleSearch"
              style=" width:100%">
            </el-input>
          </div>
        </el-col>
      </el-row>



      </form>

      <br/>

       <div class="check-box-container">
       <el-checkbox-group v-model="membersGroup" size="small" @change="handleCheckedMemberChange">
         <el-checkbox-button style="min-width:120px; margin:2px; " v-for="item in members" :label="item.name" :value="item.id"></el-checkbox-button>
       </el-checkbox-group>


       <div style="text-align:right; margin-top:20px;">

               <el-form-item>
                 <el-button type="primary" @click="handleSubmitSelectedClients()">{{ $t('Common.submit') }}</el-button>
               </el-form-item>
      </div>
               </div>

     </el-form>
    </div>
</template>

<script>

export default {
  name: 'action-list',
  data() {
    return {
      actions: [{
        value: '1',
        label: 'Receive Documents'
      }, {
        value: '2',
        label: 'Generate Photocopies'
      }, {
        value: '3',
        label: 'Release Documents to Client'
      }],
      action: '',
      returnPayload: [],
      isMemberFirstFetch: true,
      isPageSelected: false,
      memberPage: 1,
      membersGroup:[],
      members:[],
      checkAllMembers:false,
      isIndeterminate: false,
      membersOption: [],
      isMemberCheck: [],
      currentPageMembers: [],
      selectedMembers: [],
      percentage: 0,
      search: ''
    }
  },

  methods: {

    initData() {},


    // TODO
    handleSearch(){
      this.getGroupMembers();
    },

    handleCheckAllMemberChange(val){
      this.membersGroup = val ? this.membersOption : [];
      this.isIndeterminate = false;
    },
    handleCheckedMemberChange(value) {
         let checkedCount = value.length;
         this.checkAllMembers = checkedCount === this.members.length;
         this.isIndeterminate = checkedCount > 0 && checkedCount < this.members.length;
    },

    getGroupMembers(){

      let  sortParams = ''
      let { id } = this.$parent.$parent.content;

      return this.$store.dispatch('getGroupMembers',{
          id: id,
          page: 'page=1',
          sort:  sortParams,
          search: 'search=' + this.search,
          perPage: 20
      })
      .then(res => {
          this.members = res;

          console.log(res);

          this.membersOption = [];
          res.map((item,index) => {
                this.membersOption.push(item.name);
          })
      });
    },


    handleSubmitSelectedClients() {

              this.selectedMembers = [];

              this.membersGroup.map((item,index) => {
                  var i = this.members.findIndex(v => v.name == item);
                    if(i !== -1){
                        this.selectedMembers.push(
                          this.members[i].id
                        );
                    }
              });

              let clientIds = JSON.stringify(this.selectedMembers);
              let action = this.action;

              if(action !== ''){

                  this.$parent.$emit('close');

                  this.$eventBus.$emit('redirectTo',{
                    clientIds: clientIds,
                    action: action
                  });

                  // this.$router.push({
                  //   name: 'centralized-report-documents',
                  //   params: { clientIds, action  }
                  // });

                  // const redirect = 'redirect'
                  //
                  // let routeData = this.$router.resolve(
                  //   {
                  //     name: 'centralized-report-documents',
                  //     params: { clientIds, action, redirect }
                  //   }
                  // );
                  // window.open(routeData.href, '_blank');

              }else{
                this.$message({
                  type: 'error',
                  message: 'Please select action.'
                });
              }
        }
  },
  mounted () {
       this.getGroupMembers();
  }
}
</script>



<style lang="scss">
  .members-container {
    .el-checkbox {
      display: block;
    }
    .el-checkbox-group {
      .el-checkbox-button {
          border: 1px solid #eee;
          width: 150px;
          max-width: 160px;
          min-width: 100px;
          background: #FFF;
      }
    }

        .el-checkbox-button__inner {
      border:0px solid #FFF !important;
        background: #FFF;
        color:#000;
        text-align: center;
    }

    div {
      text-align: center;
    }

    i {
      color: #3fc3ee;
      /*font-size: 5.2em*/
    }

    .label {
      color: #595959;
      font-size: 2.5em;
      font-weight: 700;
      margin-top: 25px;
    }

    .button-container {
      margin-top: 25px;
    }

  }

   .el-checkbox-button__inner{
       border:0px solid #DCDFE6 !important;
   }


</style>
