<template>
    <div>
      <el-form :model="memberValidateForm" ref="memberValidateForm" id="group_name"  label-width="100px">
        <el-form-item
          :label="$t('Group.members')"
          prop="member">

          <el-select v-model.member="memberValidateForm.member" filterable :placeholder="$t('Group.members')"
            :remote-method="clientsMethod" multiple remote
          >
              <el-option
                v-for="item in members"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('memberValidateForm')">{{ $t('Common.submit') }}</el-button>
          <el-button @click="resetForm('memberValidateForm')">{{ $t('Common.reset') }}</el-button>
        </el-form-item>

      </el-form>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-member',
  data() {
    return {
      memberValidateForm: {
        member: []
      },
      data: {},
      members:[]
    }
  },

  computed: mapGetters({
    clients: 'clients',
    groups: 'groups'
  }),

  methods: {
    submitForm (formName) {
      if(this.memberValidateForm.member.length > 0){
        this.$store.dispatch('addGroupMembers', {clientIds: this.memberValidateForm.member, id: this.groups.group.id}).then(res => {
            this.$parent.$emit('close');

            if(res.data.code === 200){
              this.$message({
                type: 'success',
                message: this.$t('Clients.clients')+this.$t('Group.successfully_added')
              });
            }else{
              this.$message({
                type: 'error',
                message: res.data.msg
              });
            }
            this.$eventBus.$emit('refreshTable');
        })
      }else{
        this.$message({
          type: 'error',
          message: this.$t('Group.select_client')
        });
      }
  },

  resetForm (formName) {
    this.$refs[formName].resetFields()
  },

  clientsMethod(queryString){

      this.members = [];

      if (queryString !== '') {
          this.loading = true;
          setTimeout(() => {
              return this.$services.client.clientSearch({
                 keyword : queryString,
                 branch_id: this.groups.group.branches[0].id
              }).then(response => {
                  this.loading = false;
                  this.members = response.data.data.map(item => {
                         return { value: item.id, label: `${item.full_name}` };
                  });
              })
            }, 200);
      }else{
          this.members = [];
      }

    }

  }
}
</script>
