<template>
    <div class="form-container">
            <div v-if="(route === 1)"><group-service-step1></group-service-step1></div>
            <div v-if="(route === 2)"><group-service-step2></group-service-step2></div>
    </div>
</template>

<script>
import { mapGetters} from 'vuex'
import GroupServiceStep1 from '../components/add-service/group-service-step1.vue'
import GroupServiceStep2 from '../components/add-service/group-service-step2.vue'


export default {
  name: 'add-service-service',
  props: {},
  components: {GroupServiceStep1, GroupServiceStep2},
  data () {
    return {
      route: 1
    }
  },
  created () {

  },
  mounted() {
    this.$eventBus.$on('addGroupServiceStep', (route) => {
            this.addGroupServiceStep(route)
    })
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  methods: {
    addGroupServiceStep (route){
        this.route = route;
    }
  }
}
</script>

<style lang="scss"></style>
