<template>
  <div>
    <el-form :model="remarksForm" :rules="remarksRule" ref="remarksForm">
      <el-form-item prop="remark">
        <el-input type="textarea" v-model="remarksForm.remark" autocomplete="off" placeholder="Remarks"></el-input>
      </el-form-item>
    </el-form>
    <el-button type="primary" @click="addGroupRemarks('remarksForm')" :disabled="!remarksForm.display">Submit
    </el-button>
    <el-button @click="resetForm('remarksForm')">Reset</el-button>
  </div>
</template>

<script>
  import ChangeRemarksMessage
    from '../../groups/components/change-remark-message'

  export default {
    name: 'add-remark',
    data () {
      return {
        remarksForm: {
          display: true,
          id: '',
          remark: ''
        }
      }
    },
    computed: {
      remarksRule () {
        return {
          remark: [
            {
              required: true,
              message: 'Remarks is required'
            }
          ],
        }
      }
    },
    methods: {
      addGroupRemarks (formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.remarksForm.display = false
            const fd = new FormData()
            fd.append('group_id', this.remarksForm.id)
            fd.append('remark', this.remarksForm.remark)
            this.$store.dispatch('addGroupRemark', fd).then(response => {
              if (response.status === 'Success') {
                this.$parent.$emit('close')
                setTimeout(() => {
                  this.$store.dispatch('callModal', {
                    child_component: ChangeRemarksMessage,
                    modalWidth: '35%',
                    content: { 'data': 'Remarks has been added' }
                  }).then(response => {
                    this.remarksForm.display = true
                  })
                }, 800)
                this.$eventBus.$emit('syncGroupData')
              }
            }).catch(error => {
              if (error.response.status === 500) {
                this.addGroupRemarks(formName)
              }
            })
          } else {
            this.$message({
              type: 'error',
              message: 'Please fill up the required fields!'
            })
            return false
          }
        })
      },
      resetForm (formName) {
        process.nextTick(() => {
          this.$refs[formName].resetFields()
        })
      },
    },
    created () {
      this.remarksForm.id = this.$parent.$parent.content.id
    }
  }
</script>

<style lang="scss" scoped>
  .body-container {
    .header {
      font-size: large;
    }

    .body {

    }

    .footer {

    }
  }
</style>
