<template>
<el-form :model="form" ref="form" id="group_name">
  <el-form-item
    :label="$t('Group.group-name')"
    prop="group_name"
    :rules="[
      { required: true, message: $t('Group.group-name') + $t('Group.is_required') }
    ]"
  >
    <el-input type="text" v-model.group_name="form.group_name" autocomplete="off"></el-input>
  </el-form-item>

  <el-form-item
    :label="$t('Branch.branch-name')"
    prop="branch"
    :rules="[
      { required: true, message: $t('Branch.branch-name') + $t('Group.is_required') }
    ]"
  >

  <el-select
    v-model="form.branch"
    reserve-keyword
    :placeholder="$t('Branch.branch-name')"
    size="large"
    @change="selectBranch(form.branch)"
    :loading="loading">
    <el-option
      v-for="item in this.branches"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>

  </el-form-item>

  <el-form-item
    :label="$t('Group.leader')"
    prop="leader"
    :rules="[
      { required: true, message: $t('Group.leader') + $t('Group.is_required') }
    ]"
    >
    <el-select v-model="form.leader" filterable :placeholder="$t('Group.leader')"
        :remote-method="searchMember"
        remote
        :loading="loading"
        :loading-text="$t('Common.searching-client') + '...'"
    >
      <el-option
        v-for="item in this.clientResults"
        :key="item.id"
        :label="item.name"
        :value="item.id">
      </el-option>
    </el-select>

  </el-form-item>

  <el-form-item>

    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-group',
  data () {
    return {
      form: {
        group_name: '',
        branch_name: '',
        branch: '',
        leader: ''
      },
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
    clients: 'clients'
  }),

  created () {

    this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

    this.$services.brances.getBranches()
      .then(res => {
        if (res.data.code === 200) {
          this.branches = res.data.data.branches.map(item => {

             return { value: item.id, label: `${item.name}` };
          });
        }
      })
      .catch(err => {
     })


  },

  mounted() {},

  methods: {
    submitForm (formName) {

      var branchesTemp = [];
      branchesTemp[0] = this.form.branch; //expect array

      this.data.group_name = this.form.group_name;
      this.data.branches = branchesTemp;
      this.data.leader = this.form.leader;

      this.$refs[formName].validate((response) => {

      if (response) {

      // you can add rules for validations
      return this.$store.dispatch('addEditData', { method: this.groups.method, payload: this.data }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('syncGroupData');
        }else{

          console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    async selectBranch(val){
      if(this.branch_id !== 3){
        this.branch_id = val;
      }else{
        this.branch_id = ''; //for both
      }
      this.form.leader = '';
    }

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
