<template>
  <div>

    <el-row>
      <el-col :span="18">  <group-menu ref="group-menu"></group-menu></el-col>
      <el-col :span="6">
        <div  v-if="(step === 1)" class="alignRight" >
          <el-input :placeholder="$t('Group.search_service_date')" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%; margin-top: 5px; margin-bottom: 5px;"></el-input>
        </div>
      </el-col>
    </el-row>
    <!-- {{ewallet}} -->
    <el-form :model="form" :inline="true" label-width="80px">

      <div v-if="(step === 1)">

        <data-table :get-data="getData" ref="table1" :columns="columns" row-key="id" :expand-table="eventExpandChange">
          <div slot="dates" slot-scope="{row}" >
            <el-row class="row-header" >
              <el-col :span="2">
                 <el-checkbox v-if="isWriteReport" :indeterminate="isIndeterminate" v-model="checkAllServices[row.id]" @change="handleCheckAllServiceChange(row.id)">{{ $t('Common.package') }}</el-checkbox>
                 <label v-if="!isWriteReport">{{ $t('Common.package') }}</label>
              </el-col>
              <el-col :span="5">{{ $t('Common.detail') }}</el-col>
              <el-col :span="1">{{ $t('Common.status') }}</el-col>
              <el-col :span="2">{{ $t('Clients.charge') }}</el-col>
              <el-col :span="2">{{ $t('Common.discount') }}</el-col>
              <el-col :span="3">{{ $t('Common.payment') }}</el-col>
              <el-col :span="2">{{ $t('Common.sub') }}</el-col>
              <el-col :span="4" v-if="form.byBatchSelected[row.id]">{{ $t('Common.amount') }}</el-col>
              <el-col :span="3" v-if="isPayService">{{ $t('Common.amount') }}</el-col>
              <el-col :span="3" v-if="!isPayService">{{ $t('Common.action') }}</el-col>
            </el-row>
            <div v-for="(member, index) in row.members">
              <el-col>
                <div class="section-header">
                   <router-link :to="{ name: 'clients-profile', params: { id: member.client_id } }" target="_blank">
                     <b>[{{member.client_id}}] {{member.first_name}} {{member.last_name}}</b>
                   </router-link>
                </div>
                <div v-for="(service, indexService) in member.services" class="row-content" >
                   <div @click="checkService(service)" :style="(isWriteReport) ? 'cursor: pointer' : 'cursor: default'">

                    <el-row >

                    <el-col :span="1" v-if="isEditService || isWriteReport">
                       <el-checkbox  :disabled="(service.status === 'cancelled') ? true : false" v-model="form.selected[service.id]" @change="checkService(service)"></el-checkbox>
                    </el-col>

                  <el-col :span="(isEditService || isWriteReport) ? 2 : 2">
                   <b>{{service.tracking}}</b>
                  </el-col>

                  <el-col :span="5">
                    <el-tooltip v-if="service.remarks != ''" class="item" effect="dark" placement="top-start">
                      <div slot="content" v-html="service.remarks"></div>
                      <span>{{service.detail}}</span>
                    </el-tooltip>
                    <span v-else>{{service.detail}}</span>
                  </el-col>

                  <el-col :span="1"><span>{{ (service.active === 0 && service.status !== 'cancelled') ?  "disabled" : service.status}}

                  </span></el-col>

                  <el-col :span="2">
                    <div v-if="service.active != 0 && service.status != 'cancelled'">{{(parseFloat(service.cost) + parseFloat(service.charge) + parseFloat(service.tip) + parseFloat(service.com_client) + parseFloat(service.com_agent)) | currency }}</div>
                    <div v-else>0</div>
                  </el-col>

                  <el-col :span="2">
                    <div v-if="service.discount != 0 && service.discount_details !== null" >
                     <el-tooltip class="item" effect="dark" :content="('Php'+ service.discount_details.amount + ' - ' + service.discount_details.reason +' ('+ service.discount_details.created_at +')' )" placement="top-start">
                      <div>{{service.discount}}</div>
                     </el-tooltip>
                   </div>
                    <div v-else>
                        <div>{{service.discount}}</div>
                    </div>
                  </el-col>

                  <el-col :span="3">
                    <div v-if="(service.payment_details != '' && service.payment_amount > 0) && service.payment_details !== null" >

                        <el-tooltip placement="top">
                          <div slot="content" v-html="service.payment_details.reason"></div>
                          <span style="color: #1D8CE0; cursor: default">
                            {{ ( service.payment_amount != null && service.active == 1 && service.status != 'cancelled' ? parseFloat(service.payment_amount) : 0) | currency}}
                          </span>
                        </el-tooltip>

                    </div>
                    <div v-else>
                      <el-tooltip placement="top" v-if="service.payment_details != null">
                          <div slot="content" v-html="service.payment_details.reason"></div>
                          <span style="color: #1D8CE0; cursor: default">
                          {{ ( service.payment_amount != null && service.active == 1 && service.status != 'cancelled' ? parseFloat(service.payment_amount) : 0) | currency}}
                          </span>
                      </el-tooltip>
                      <span v-else>
                          {{ ( service.payment_amount != null && service.active == 1 && service.status != 'cancelled' ? parseFloat(service.payment_amount) : 0) | currency}}
                          </span>
                    </div>

                  </el-col>

                  <el-col :span="2">
                    <div v-if="service.active != 0 && service.status != 'cancelled'">{{(parseFloat(service.discount)  + parseFloat(service.payment_amount)) - ((parseFloat(service.cost) + parseFloat(service.charge) + parseFloat(service.tip) + parseFloat(service.com_client) + parseFloat(service.com_agent))) | currency }}</div>
                    <div v-else>0</div>
                  </el-col>


                  <el-col :span="4" v-if="isPayService">
                    <div style="text-align:center" v-if="service.is_full_payment !== 1 && service.active == 1 && service.status !='cancelled'">

                      <el-input placeholder="0.00" @input="filterInput($event, service.id)" maxlength="400" size="mini" v-model="form.payment[service.id]"  @change="handleChangeAmount(service)">
                        <el-button slot="append" type="primary" plain size="mini" icon="el-icon-money" @click="eventFullPayment(service)"/>
                      </el-input>

                    </div>
                    <div style="text-align:center" v-if="service.is_full_payment === 1 || service.active == 0 || service == 'cancelled'">
                      <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Common.paid')" placement="top-start">
                        <el-input type="number"  disabled  maxlength="400" size="mini" :value="service.payment_amount"></el-input>
                      </el-tooltip>
                    </div>
                  </el-col>

                  <el-col :span="3">

                    <el-row  :span="12">
                            <el-col v-if="!isPayService" :span="(form.byBatchSelected[row.id]) ? 12 : 12" >
                              <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Navigation.reports')" placement="top-start">
                                  <el-button type="primary" plain size="mini" icon="el-icon-tickets" @click="eventViewReport(service)"/>
                              </el-tooltip>
                            </el-col>

                           <el-col :span="(service.payment_amount > 0) ? 12 : 0" v-if="service.payment_amount > 0 && !isPayService">
                            <div >
                               <el-tooltip class="item" effect="dark" content="Retrieve Payment" placement="top-start">
                                  <el-button   type="primary" plain size="mini" icon="el-icon-edit-outline" @click="changePayment(service)"></el-button>
                               </el-tooltip>
                            </div>
                          </el-col>

                   </el-row>

                  </el-col>
                </el-row>
                </div>
                </div>
              </el-col>
            </div>


          </div>

          <b slot="service_date" slot-scope="{row}">
            {{row.service_date | commonDate}}
          </b>

          <b slot="status" slot-scope="{row}">
           {{row.status}}
          </b>

          <b slot="no_of_members" slot-scope="{row}">
           {{row.total_members}}
          </b>


          <b slot="total_service_cost" slot-scope="{row}">
            {{row.total_service_cost | currency}}
          </b>

          <b slot="total_sub" slot-scope="{row}">
            {{row.total_sub | currency}}
          </b>

        </data-table>

        <div class="alignRight" v-if="serviceSelected.length > 0">
          <el-button class="add-button" type="primary" size="mini" @click="nextStep">{{ $t('Common.next').toUpperCase() }}</el-button>
        </div>

        <div class="alignRight" v-if="isPayService">
          Payment Mode :
          <el-radio-group v-model="paymode" size="small">
            <el-radio-button label="Ewallet"></el-radio-button>
            <el-radio-button label="Cash"></el-radio-button>
            <!-- <el-radio-button label="QR Code"></el-radio-button> -->
          </el-radio-group>&nbsp;

          <el-button class="add-button" type="primary" size="mini" @click="handlePayment">{{ $t('Common.save') }}</el-button>
        </div>
      </div>

      <div style="margin-top:50px" v-else>
          <edit-form/>
      </div>

    </el-form>
  </div>
</template>


<script>
// components
import GroupMenu from './group-menu.vue'
import DataTable from '../../../components/datatable'
import EditForm from '../components/edit-service/edit-form'
import ViewReport from '../../reports/view-report'
import ActionList from './action-list'
import RetrivePayment from './retrive-payment'
import QrcodeVue from 'qrcode.vue'

export default {
  name: 'batch-list',
  props: ['gdata', 'service_profile'],
  computed: {
   getClass(id) {
     if(typeof this.$route.params.client_id !== 'undefined'){
       return (parseInt(this.$route.params.client_id) === id) ? 'selected' : 'unselected';
     }return '';
   }
  },
  data () {
    return {
      paymode: 'Ewallet',
      loading: false,
      isEditService: false,
      isWriteReport: false,
      isPayService: false,
      isIndeterminate: false,
      checkAllServices:[],
      serviceGroup: [],
      editPaymentAmount: [],
      editPaymentId: 0,
      step: 1,
      page:1,
      perPage: 10,
      size: 10,
      serviceSelected: [],
      expandedRows: [],
      ewallet: 0,
      form:{
        selected: [],
        payment: [],
        byBatchSelected: [],
        data: []
      },
      enterable: true,
      search: '',
      qrData: [],
      columns: [
        {
          prop: 'dates',
          minWidth: '120',
          type:'expand',
          lazy: true
        },
        {
          prop: 'service_date',
          label: this.$t('Common.date'),
          minWidth: '120'
        },

        {
          prop: 'status',
          label: this.$t('Common.status'),
          minWidth: '80'
        },

        {
          prop: 'no_of_members',
          label: this.$t('Group.total_members'),
          minWidth: '70'
        },

        {
          prop: 'total_service_cost',
          label: this.$t('Transaction.total-service-cost'),
          minWidth: '70'
        },

        {
          prop: 'total_sub',
          label: this.$t('Transaction.total-sub'),
          minWidth: '50'
        }
      ]
    }
  },

  mounted() {
    this.ewallet = this.gdata.total_ewallet;
    this.$eventBus.$on('editService', (isEdit) => {
      this.isEditService = isEdit;
    });

    this.$eventBus.$on('writeReport', (isWrite) => {
      this.isWriteReport = isWrite;
    });

    this.$eventBus.$on('payService', (isPay) => {
      this.isPayService = isPay;
    });


    this.$eventBus.$on('centralizedReport', () => {

      let vm = this;
      this.$store.dispatch('callModal', {
        child_component: ActionList,
        modalWidth: '60%',
        content: {
            id: vm.$parent.$route.params.id
        }
      }) // call global modal state

    });



    this.$eventBus.$on('changeStep', (step) => {
      this.step = step;
    });

    this.$eventBus.$on('refreshTable', (step) => {
      this.step = 1;
      this.serviceSelected = [];
      this.form.selected = [];
      this.isEditService = false;
      this.isWriteReport = false;
      if(this.$refs.table1 !== undefined){
        this.$refs.table1.getTableData();
      }
    });



  },

  created () {
    this.ewallet = this.gdata.total_ewallet;
  },

  methods: {
    handleClose(done) {
      this.$confirm('Are you sure to close this dialog?')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },

    handleCheckAllServiceChange(val){
      this.isIndeterminate = false;
      this.form.data.map((d,i) => {
        if(i === val){
          d.members.map((m,j) => {
                m.services.map((s,k) => {
                      this.form.selected[s.id] = this.checkAllServices[val];

                      var serviceIndex = this.serviceSelected.findIndex(v => v.id === s.id);

                      if(serviceIndex === -1){
                        this.serviceSelected.push(s);
                      }else{
                        this.serviceSelected.splice(serviceIndex, 1);
                      }
                })
          })
        }
      });


    },


    nextStep(){

       if(this.isEditService){
          this.$store.dispatch('storeClientServices',
            this.serviceSelected
          ).then(res => {
            this.step = 2
          })
       }

       if(this.isWriteReport){

          if(this.serviceSelected.length > 0){

            var clientTempServiceIds = [];
            var clientTempIds = [];

            this.serviceSelected.map((item,index) => {
                clientTempServiceIds.push(item.id);
                clientTempIds.push(item.client_id);
            })


            let clientIds = JSON.stringify(clientTempIds);
            let clientServiceIds = JSON.stringify(clientTempServiceIds);
            let groupId = this.$parent.$route.params.id;
            const redirect = 'redirect'

            let routeData = this.$router.resolve(
              {
                name: 'write-report-client-services',
                params: { clientIds, clientServiceIds, groupId, redirect }
              }
            );
           window.open(routeData.href, '_blank');

          }
       }

    },


    eventFullPayment(row){
        var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));
        this.$set(this.form.payment, row.id, need_to_pay);
    },

    filterInput(e, id){
      this.form.payment[id] = e.replace(/[^0-9]+/g, '');
    },

    changePayment(row){
        this.isEditPayment = true;
        let vm = this;
        this.$store.dispatch('callModal', {
              child_component: RetrivePayment,
              modalWidth: '60%',
              content: {
                data: row,
                group_id: vm.$parent.$route.params.id
              }
        }) // call global modal state
    },

    cancelPayment(row){
        this.isEditPayment = false;
        this.editPaymentId = 0;
    },

    checkService(service){
      if(this.isWriteReport){
        this.$set(this.form.selected, service.id, (this.form.selected[service.id]) ? false : true);
        var serviceIndex = this.serviceSelected.findIndex(v => v.id === service.id);
        if(serviceIndex === -1){
          this.serviceSelected.push(service);
        }else{
          this.serviceSelected.splice(serviceIndex, 1);
        }
      }
    },

    eventViewReport(service){
        this.$store.dispatch('callModal', {
          child_component: ViewReport,
          modalWidth: '60%',
          content: {
              client_services_id: service.id,
              name: service.detail
          }
        }) // call global modal state
    },

    // TODO
    handleSearch(){
      this.$refs.table1.getTableData();
    },


    getGroupByBatch(){
      this.$refs.table1.getTableData();
    },


    eventExpandChange(row, expandedRows){

      this.expandedRows = expandedRows;
      var serviceIndex = expandedRows.findIndex(v => v.id === row.id);

      if(serviceIndex === -1){
        this.$set(this.form.byBatchSelected, row.id, false)
      }else{
         this.$store.dispatch('getMemberByBatch',{
           group_id: row.group_id,
           sdate: row.sdate
         })
         .then(res => {
           console.log("res.data member", res.data);

           if(typeof this.$route.params.client_id !== 'undefined'){
             var index = res.data.findIndex(v => v.client_id === parseInt(this.$route.params.client_id));
             if(index != -1){
               var tempArray = res.data[index];
                res.data.splice(index, 1);
                res.data.unshift(tempArray)
              //  this.$refs.table.$refs.dataTable.setCurrentRow(data.data[0]);
               }
             }

           row.members = res.data;

         });
      }

    },


    handlePayment(){
      var vm = this;
      var payment = [];
      var err = false;
      var totalpay = 0;

      let data = this.form.data;

      data.map((d,i) => {

      if(d.members.length > 0){

         d.members.map((itemMember,i) => {

            itemMember.services.map((itemService,j) => {

              if(typeof this.form.payment[itemService.id] != 'undefined'  && this.form.payment[itemService.id] != '' && this.form.payment[itemService.id] > 0){
                var need_to_pay = ((parseFloat(itemService.cost) + parseFloat(itemService.charge) + parseFloat(itemService.tip) + parseFloat(itemService.com_client) + parseFloat(itemService.com_agent))) - (parseFloat(itemService.discount)  + parseFloat(itemService.payment_amount));
                // console.log(parseFloat(this.form.payment[itemService.id]));
                if(parseFloat(this.form.payment[itemService.id]) > this.ewallet && this.paymode == 'Ewallet'){
                    err = true;
                    totalpay += parseFloat(this.form.payment[itemService.id]);
                }
                else{
                    payment.push(
                      {
                        id: itemService.id,
                        service:itemService.detail,
                        amount:this.form.payment[itemService.id],
                        client_id: itemService.client_id,
                        total_cost: need_to_pay
                      }
                    );
                    totalpay += parseFloat(this.form.payment[itemService.id]);
                }

              }
            });
          });
      }

     });


      if(payment.length > 0 && !err && (totalpay <= this.ewallet || this.paymode != 'Ewallet')){

          this.$confirm('Are you sure you want to save the data? If you continue you cannot undo this action. Continue?', 'Warning', {
           confirmButtonText: 'OK',
           cancelButtonText: 'Cancel',
           type: 'warning'
          }).then(() => {

           this.$store.dispatch('addGroupPayment',{
             group_id: vm.$parent.$route.params.id,
             mode: 'batch',
             payments: payment,
             paymode: this.paymode
           })
           .then(res => {
               if (res.code === 200) {

                 this.$message({
                   showClose: true,
                   message: this.$t('Group.service_successful_update'),
                   type: 'success',
                   center: true
                 });

                 if(this.paymode === "QR Code"){
                   this.qrData = res.data;
                   this.payQrCode();
                 }

                 this.$refs.table1.getTableData();
                 this.$eventBus.$emit('syncGroupData');
                 this.ewallet -= totalpay;
                 this.form.payment = [];
                 this.form.selected = [];
                 this.form.byBatchSelected = [];
                 this.editPaymentId = 0;
                 this.expandedRows = [];

               } else {
                 this.$message({
                   showClose: true,
                   message: this.$t('Common.error_saving_data'),
                   type: 'error',
                   center: true
                 });
               }
           });

         }).catch(() => {
           this.$message({
             type: 'info',
             message: 'Saving canceled'
           });
         });

       }
       else if(err && this.paymode == 'Ewallet'){
          this.$message({
              showClose: true,
              dangerouslyUseHTMLString: true,
              message: 'Insufficient Ewallet Balance! <br><br> <b>Ewallet Balance :'+this.ewallet + '</b><br><br><b style="color: red">Total Payment : '+totalpay+'</b>',
              type: 'warning',
              center: true
          });
       }
       // else if(totalpay > this.ewallet){
       //    this.$message({
       //        showClose: true,
       //        dangerouslyUseHTMLString: true,
       //        message: 'Insufficient Ewallet Balance! <br><br> <b>Ewallet Balance :'+this.ewallet + '</b><br><br><b style="color: red">Total Payment : '+totalpay+'</b>',
       //        type: 'warning',
       //        center: true
       //    });
       // }
       else{
          this.$message({
            showClose: true,
            message: this.$t('Common.fillup_amount'),
            type: 'error',
            center: true
          });
        }


    },
    payQrCode(){
      let id = this.qrData.id
      let routeData = this.$router.resolve(
        {
          name: 'pay-service-qr-code',
          params: {id}
        }
      );
      window.open(routeData.href, '_blank');
    },
    handleChangeAmount (service) {
      if(this.form.payment[service.id] < 0){
        this.$message({
          message: this.$t("Common.input_more_than_zero"),
          type: 'error',
          center: true
        });
        this.$set(this.form.payment, service.id, 0)
      }else{
        var totalCost = ((parseFloat(service.cost) + parseFloat(service.charge) + parseFloat(service.tip) + parseFloat(service.com_client) + parseFloat(service.com_agent))) - (parseFloat(service.discount)  + parseFloat(service.payment_amount));
        if(this.form.payment[service.id] > totalCost){
          this.$set(this.form.payment, service.id, totalCost)
        }
      }
    },

    resetSelection(){
      this.form.data.map((d,i) => {
          this.checkAllServices[i] = false;
      });
    },


    byBatch(pagePayload, query, sortParams, size){

      if(sortParams.length == 0){
        sortParams = 'id-desc'
      }
      return this.$store.dispatch('getGroupByBatch',{
        group_id: this.$parent.$route.params.id,
        page: 'page=' + ((typeof pagePayload.page !=='undefined') ? pagePayload.page : pagePayload),
        sort: 'sort=' + sortParams,
        search: 'search=' + this.search,
        perPage: size
      })
      .then(res => {
        const { data } = res;

        this.form.data = data.data;

        if(typeof pagePayload.page !=='undefined' && pagePayload.page === this.page){
           this.$refs.table1.$refs.dataTable.toggleRowExpansion(this.form.data[pagePayload.index]);
        }else{
           let tableData = this.$refs.table1.tableData;
           tableData.map(t => {
 		  			this.$refs.table1.$refs.dataTable.toggleRowExpansion(
 		  				t,
              false
 		  			);
 		  		});
        }

        return {
          data: data.data,
          total: data.total,
          size: size
        }

      })
    },

    getData ({ page, query, sortParams, size}) {
      let vm = this;

      if(typeof this.$route.params.clientServiceId !== 'undefined' && typeof this.$route.params.client_id !== 'undefined' && this.page === page){

        return this.$store.dispatch('getCurrentBatchPage',{
          group_id: vm.$parent.$route.params.id,
          client_id: 'client_id=' + vm.$route.params.client_id,
          clientServiceId: 'client_service_id=' + vm.$route.params.clientServiceId
        })
        .then(res => {
            this.page = res.page;
            return this.byBatch(res, query, sortParams, size);
        })
      }else{
          return this.byBatch(page, query, sortParams, size);
      }

    },
  },
  components: { GroupMenu, DataTable, EditForm, ViewReport, QrcodeVue },
}
</script>

<style>
  .alignRight {
    text-align: right;
    align-items: right;
    right:5px;
    width:'100%';
  }

  .add-button{
    margin:'2%'
  }

  .el-row {
    padding:5px;
  }

  .el-row .no-border{
    border-bottom: 0px;
  }

  .section-header {
    background-color: #ccc;
    padding: 3px;
  }

  .row-header {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #EBEEF5;
    text-align: center;
    align-items: baseline;
  }

  .row-content {
    padding: 5px;
    border-bottom: 1px solid #EBEEF5;
    text-align: center;
    align-items: baseline;
  }

  .el-table th, .el-table td {
    padding: 3px 0;
    font-size: 12px;
    overflow: hidden;
  }

  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }

  .strike{
    text-decoration: line-through;
  }

  .selected{
    background-color: #EBEEF5;
  }

  .unselected:{
    background-color: #ffffff;
  }

  .padding{
    padding: 5px;
  }
</style>
