<template>
    <div class="center" ref="change-role">
      <el-button type="primary" plain size="small" icon="el-icon-plus" @click.prevent="handleChangeRole({role:'leader', message:'Group Leader'})" class="global_blue">
        {{ $t('Group.make_group_leader') }}
      </el-button>

      <el-button type="primary" plain size="small" icon="el-icon-plus" @click.prevent="handleChangeRole({role:'member', message:'Group Member'})" class="global_blue">
          {{ $t('Group.make_group_member') }}
      </el-button>
    </div>
</template>


<script>

export default {
  name: 'change-role',

  data () {
    return {
    }
  },

  mounted() {},

  created () {},

  methods: {
      handleChangeRole (payload) {
        // this.$confirm('Are you sure you want this member to become a '+ payload.message +' ?', 'Warning', {
        this.$confirm(this.replaceMessage(this.$t('Group.change_role_mess'), payload.message), this.$t('Branch.warning'), {
            confirmButtonText: this.$t('Common.ok').toUpperCase(),
            cancelButtonText: this.$t('Common.cancel'),
            type: 'warning'
        })
        .then(() => {
          this.$store.dispatch('assignGroupRole',{
            group_id: this.$parent.$route.params.id,
            client_id: this.$parent.$parent.content.client_id,
            role: payload.role
          })
          .then(res => {
            if(res.data.code === 200){

              this.$message({
                type: 'success',
                message: this.$t('Group.assign_role_complete')
              });

              this.$parent.$emit('close')

              this.$eventBus.$emit('syncGroupData');

              setTimeout(() => {
                this.$eventBus.$emit('refreshTable');
              }, 500)
              //this.$parent.$parent.$parent.$parent.$parent.$parent.$refs.table.getTableData();

            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('Group.assign_role_cancelled')
          });
        });
      },

      replaceMessage (message, data) {
        return message.replace(':message', data)
      }
  }
}
</script>
<style>
  .center{
    width:100%;
    text-align:center;
  }
</style>
