<template>
  <div class="change-status-container">
    <div><i class="el-icon-info"></i></div>
    <div class="label">{{ $t('Group.change-group-status') }}</div>
    <div class="button-container">
      <el-button class="status-button" type="danger" v-if="risk === 'Regular'" @click="changeStatus">
        {{ $t('Transaction.to-high-risk') }}
      </el-button>
      <el-button class="status-button" type="primary" v-if="risk === 'High-Risk'" @click="changeStatus">
        {{ $t('Transaction.to-regular') }}
      </el-button>
    </div>
  </div>
</template>

<script>
import ChangeStatusMessage from '../../clients/components/change-status-message'

export default {
  name: 'change-status',
  data () {
    return {
      id: '',
      risk: ''
    }
  },
  methods: {
    changeStatus () {
      this.$store.dispatch('updateGroupRisk', {
        id: this.id,
        data: {
          risk: (this.risk === 'Regular')?'High-Risk':'Regular'
        }
      }).then(res => {
        if(res.status === 'Success') {
          this.$parent.$emit('close')

          setTimeout(() => {
            this.$store.dispatch('callModal', {
              child_component: ChangeStatusMessage,
              modalWidth: '35%',
              content : { "data" : (this.risk === 'Regular')?'High-Risk':'Regular' }
            })
          }, 800)

          this.$eventBus.$emit('syncGroupData');

        }
      })
    }
  },
  created () {
    this.id = this.$parent.$parent.content.id
    this.risk = this.$parent.$parent.content.risk
  }
}
</script>

<style lang="scss" scoped>
  .change-status-container {

    div {
      display: block;
      text-align: center;
    }

    i {
      color: #3fc3ee;
      font-size: 5.2em
    }

    .label {
      color: #595959;
      font-size: 2.5em;
      font-weight: 700;
      margin-top: 25px;
    }

    .button-container {
      margin-top: 25px;
    }

    .status-button {
      font-size: 1.3em;
    }
  }
</style>
