<template>
    <div class="change-status-container">
        <div><i class="el-icon-info"></i></div>
        <div class="label">
            {{ replaceBranchName($t('Group.change_branch_mess'), name) }}
            <!-- Are you sure you want to transfer this group to {{name}} branch? -->
        </div>
        <div class="button-container">
            <el-button class="status-button" type="primary" @click="switchBranch">{{ $t('Common.yes').toUpperCase() }}</el-button>
            <el-button class="status-button" type="danger" @click="eventClose">{{ $t('Common.cancel').toUpperCase() }}</el-button>
        </div>
    </div>
</template>

<script>


export default {
    name: 'change-status',
    data () {
        return {
            id: '',
            name: '',
            group_id: ''
        }
    },
    methods: {
        switchBranch () {

            this.$store.dispatch('switchBranch', {
                branch_id: this.id,
                group_id: this.group_id
            }).then(res => {
                if(res.status === 'Success') {
                    this.$parent.$emit('close')

                    this.$message({
                      type: 'success',
                      message: this.$t('Group.switch_complete')
                    });
                }
            })
        },

        replaceBranchName (message, data) {
            return message.replace(':name', data)
        },

        eventClose (){
          this.$parent.$emit('close')
        }
    },
    created () {
        this.id = this.$parent.$parent.content.id
        this.name = this.$parent.$parent.content.name
        this.group_id  = this.$parent.$parent.content.group_id
    }
}
</script>

<style lang="scss" scoped>
    .change-status-container {

        div {
            display: block;
            text-align: center;
        }

        i {
            color: #3fc3ee;
            font-size: 5.2em
        }

        .label {
            color: #595959;
            font-size: 2.5em;
            font-weight: 700;
            margin-top: 25px;
        }

        .button-container {
            margin-top: 25px;
        }

        .status-button {
            font-size: 1.3em;
            min-width: 200px;
        }
    }
</style>
