<template>
	<div>
		<div class="block trans-log-timeline" style="margin-top: 20px;">
		  	<el-timeline>
		  		<el-timeline-item v-for="log in commission_logs" :log="log" :timestamp="log.year != null ? log.display_date : ''"  placement="top" :color="log.year != null ? '#1d8ce0' : ''" style="padding-bottom: 1px;" :class="{'parent-timeline': (log.year != null)}">
		  			<el-row :gutter="10">

							<el-col :span="5"> 
				    			<el-card class="bal-details">
							        <p>{{ $t('Clients.current_commi') }}: 
								        <b>Php <span>{{(log.data.balance>0 ? '+' : '')}}{{log.data.balance | currency}}</span></b>
								    </p>
							        <p>{{ $t('Clients.prev_commi') }}:
							        	<b>Php <span>{{(log.data.prevbalance>0 ? '+' : '')}}{{log.data.prevbalance | currency}}</span></b>
							        </p>
<!-- 							        <p>Amount: 
							        	<span :class="{
                                              'pos-amt': (log.data.amount > 0),
                                              'neg-amt': (log.data.amount < 0),
                                          }"><b>
                                          	<span name="amt-sign">
                                          		{{(log.data.amount>0 ? '+' : '')}}
                                          		{{(log.data.amount<0 ? '-' : '')}}
                                          	</span> 
							        	Php <span>{{log.data.amount | currency}}</span></b>
							        	</span>
							        </p> -->
							        <p>{{ $t('Common.type') }}: 
							        	<b><span>{{log.data.type | capitalize}}{{ $t('Common.commission') }}</span></b>
							        </p>
							      </el-card>
							</el-col>

							<el-col :span="19">
								<el-card>
									<br>
									<!-- LOG MESSAGE -->
									<div>
										<div class="log-msg">
											<span>
												<b>  {{log.data.title }}</b>
											</span>
											<b> {{ log.data.processor }} | {{ log.data.date }}</b>
										</div>
									</div>
								</el-card>
							</el-col>
		  			</el-row>
		        </el-timeline-item>

			</el-timeline>
		</div>
	</div>
</template>

<script>

export default {
  name: 'transaction-logs-list',
  components: {
    
  },
  data () {
    return {
      commission_logs: [],
    }
  },

  created () {
    // this.getTransactionLogs();
  },

  mounted () {

  },

  methods: {
    getCommissionLogs () {
      let vm = this;
	  return this.$store.dispatch('getCommissionLogs', { client_id: 0, group_id : this.$route.params.id}).then(res => {
              this.commission_logs = res.data;
          return res.data;
      });

    },

  },

  computed: {

  }
}
</script>

<style lang="scss">
	.trans-log-timeline{

		.el-card {
		    border: 2px solid #e6e6e6 !important;
		}

		.complete-tag{
			background-color: #0ba8e4 !important;
    		border-color: #0ba8e4 !important;
		}

		.service-name{
			font-weight: bold;
		    margin-left: 5px;
		    color: #1d8ce0;
		}

		.el-card__body {
			font-size: 13px;
	    	min-height: 125px !important;
	    	padding: 10px !important;
		}

		.bal-details{
			.el-card__body {
		    	font-size: 11px;
			}

			.pos-amt{
				color:#0db502;
			}


			.neg-amt{
				color:#e42613;
			}
		}

		.border-line {
	        width: 100%;
	        height: 2px;
		    background-color: #e6e6e6;
		    margin-top: 3px;
	    }

	    .log-msg{
	    	margin-left: 35px;
	    	line-height: 20px;
	    	span{
		    	margin-left: 0px;
	    		span{    			
		    		&:before {
		    			margin-left: 35px;
				        content: "• ";
				    }
	    		}
	    	}
	    	span .el-tag{
	    		height: 15px;
	    		line-height: 12px;
	    		&:before {
	    			margin-left: 0px;
			        content: "";
			    }
	    	}
	    	b{
	    		color: #40586F;
	    		background-color: #eceef1;
			    border-color: #d9dee2;
			    border-width: 1px;
			    font-size: 12px;
	    	}
	    }

	    .el-timeline-item__timestamp {
		    color: #1d8ce0;
		    line-height: 1;
		    font-size: 13px;
		    font-weight: bold;
		    background: #f0f1f3;
		    padding: 6px;
		}
		.el-row {
			margin-bottom: 20px;
		}

		.bg-funds { background-color: #40586f !important; border-color: transparent;}
		.bg-yellow {background-color: #ffbc2d !important; border-color: transparent;}
		.bg-aqua {background-color: #00c0ef !important; border-color: transparent;}
		.bg-green {background-color: #4ec98b !important; border-color: transparent;}
		.bg-disabled { background-color: #909399 !important; border-color: transparent;}
		.parent-timeline{
			margin-top: 10px;
		}
	}

</style>