<template>

	<div class="block m-t-20">

<!-- 		<div style="margin-bottom: 15px; text-align: right;" v-if="!loading && documentLogs.length > 0">
			<el-button type="primary" size="mini" @click="deleteLatestLog()"
      :disabled="checkIfServiceProfileIsNotActive()">
        Delete Latest Document Logs
      </el-button>
		</div> -->

		<el-divider v-if="!loading && documentLogs.length == 0">
			<i class="el-icon-star-on"></i>
			{{ $t('Common.no_data_found') }}
			<i class="el-icon-star-on"></i>
		</el-divider>

		<el-row v-for="(docuLog, docuIndex) in documentLogs" :key="docuIndex" type="flex" style="padding: 0px;">
			<el-col :span="12"
				v-for="(dl, docIndex) in docuLog"
				:key="docIndex">
				<el-collapse v-model="activeTab">
					<el-collapse-item
						:name="dl.display_date">

							<template slot="title" >
								<span style="color: #1d8ce0">
									{{ dl.display_date }}
								</span>
							</template>

							<div v-loading="loading" class="loader" :class="{hide: !loading}"></div>


							<!-- <el-card style="margin-bottom: 20px;" v-if="dl.onHandDocuments.length > 0">
								<div slot="header" class="clearfix">
									<span class="service-name">Documents On Hand</span>
								</div>
								<div>
									<ul>
										<li v-for="(ohd, ohdIndex) in dl.onHandDocuments" :key="ohdIndex">
											{{ '('+ohd.count+') ' + ohd.title }}
										</li>
									</ul>
								</div>
							</el-card> -->
							<br/>

							<div v-for="dLog in dl.logs" style="margin-bottom: 10px;">
								<el-card v-for="(dl, dlIndex) in dLog.data" :key="dlIndex">
									<div slot="header" class="clearfix" v-if="dlIndex===0">
										<span class="service-name">{{ dLog.label }}</span>
										<span style="float: right;"><b>Processor: </b>
										{{ dl.document_logs.processor[0].name }}</span>
									</div>
									<div class="text item">
										<div class="client_name">
											<strong>{{ dl.client.first_name + ' ' + dl.client.last_name }}</strong>
										</div>
										<!-- <br/> -->
										<div>
											<div v-for="log in dl.document_logs.documents" >

													<el-row>
													<el-col :span="16">
													(
													{{ log.count }}
													)

													{{ log.title }}
												</el-col>

												<el-col :span="8" v-if="(typeof dl.document_logs.procedure[0] !== 'undefined') && (dLog.label.search('Received') === -1 && dLog.label.search('Documents Needed') === -1 && dLog.label.search('Generate') === -1)">
														(
															On Hand:
															{{ log.previous_on_hand }}
															<span v-if="dl.document_logs.procedure[0].documents_mode == 'add'"> + </span>
															<span v-if="dl.document_logs.procedure[0].documents_mode == 'remove'"> - </span>
															{{ log.count }}
															=
															<span v-if="dl.document_logs.procedure[0].documents_mode == 'add'">
																{{ log.previous_on_hand + log.count }}
															</span>
															<span v-if="dl.document_logs.procedure[0].documents_mode == 'remove'">
																{{ log.previous_on_hand - log.count }}
															</span>
														)
													</el-col>

													<el-col :span="8" v-if=" (dLog.label.search('Generate') !== -1 || dLog.label.search('Received') !== -1 || dLog.label.search('Documents Needed') !== -1 || dLog.label.search('Released documents') !== -1)">
														<span>
															(
															On Hand:

															{{ log.previous_on_hand }}
															<span> {{ (dLog.label.search('Released documents') !== -1) ? '-' : '+' }} </span>
															{{ log.count }}
															=
															{{ (dLog.label.search('Released documents') !== -1) ? log.previous_on_hand - log.count : log.count + log.previous_on_hand }}
															)
														</span>
													</el-col>


													</el-row>
											</div><br/>
											<!-- <span>Processor: {{ dl.document_logs.processor[0].name }}</span> -->
										</div>
									</div>
								</el-card>
							</div>
					</el-collapse-item>
				</el-collapse>

			</el-col>
		</el-row>


	</div>

</template>

<script>

	export default {

    name: 'document-logs',

    props: ['service_profile'],

		data() {
			return {
				loading: true,

				documentLogs: [],

				activeTab: [],
				activeTab2: [],
			}
		},

		mounted() {
			this.getDocumentLogs();
		},

		methods: {
			getDocumentLogs() {

				this.loading = true;
        this.$store.dispatch('getGroupDocumentLogs', this.$route.params.id )
        .then(res => {
          this.loading = false;
					var groupData = [];
					var groupLogsData = [];
					var counter = 0;
					res.data = res.data.reverse();
					console.log(this.$route.params.id);
					console.log('label data', res.data)

					res.data.map((it1, in1) => {

						var prevIndex = null;
						var labelData = [];
						it1.logs.map((it2, in2) => {
							if(in2 > 0) {

								if(it2.label.toLowerCase() === it1.logs[in2-1].label.toLowerCase()) {
									if(prevIndex === null) {
										prevIndex = (labelData.length - 1)
									}

									labelData[prevIndex].data.push({
										client: it2.clients,
										document_logs: it2.document_logs
									})
								} else {
									prevIndex = null;

										labelData.push({
											label: it2.label,
											data: [{
												client: it2.clients,
												document_logs: it2.document_logs
											}]
										})
								}

							} else {
								labelData.push({
									label: it2.label,
									data: [{
										client: it2.clients,
										document_logs: it2.document_logs
									}]
								})
							}
						})



						if(counter < 2) {
							groupData.push({
								display_date: it1.display_date,
								logs: labelData
							})

							counter++;
						} else {
							groupLogsData.push(groupData)
							groupData = [];
							counter = 0;
							groupData.push({
								display_date: it1.display_date,
								logs: labelData
							})

							counter++;

							if(in1 === (res.data.length - 1)) {
								groupLogsData.push(groupData)
								groupData = [];
								counter = 0;
							}
						}

						if(in1 === (res.data.length - 1)) {
							groupLogsData.push(groupData)
							groupData = [];
							counter = 0;
						}

					})


					this.documentLogs = groupLogsData;



        });
			},

			formatDateTime(dateTime) {
				return moment(dateTime).format("MMMM DD, YYYY hh:mm A");
			},

			deleteLatestLog() {
				this.loading = true;
				this.$store.dispatch('deleteLatestDocumentLog', { group_id: this.$route.params.id })
				.then(res => {

					console.log('is_array', res)

					this.loading = false;
					if(res.status === 'Success') {
						this.getDocumentLogs();
					}

				})
      },

      checkIfServiceProfileIsNotActive () {
        if(this.service_profile !== null && this.service_profile !== undefined) {

          if(parseInt(this.service_profile.is_active)===0) {
            return true;
          } else {
            return false;
          }

        }

        return false;
      }

		}

	}

</script>

<style lang="scss" scoped>
	.m-t-20 {
		margin-top: 20px;
	}

	.service-name {
		font-weight: bold;
		// margin-left: 5px;
		color: #1d8ce0;
	}

	.pull-right {
		float: right;
	}

	.m-4 {
		margin: 4px;
	}

	.timeline {
		color: #1d8ce0;
	    font-size: 13px;
	    font-weight: bold;
	    margin-bottom: 10px;
	}

	.loader {
		height: 100px;
	}

	.hide {
		display: none;
	}

	.bg-disabled { background-color: #909399 !important; border-color: transparent; }
	.bg-pending { background-color: #ffbc2d !important; border-color: transparent; }
	.bg-on-process { background-color: #4ec98b !important; border-color: transparent; }
	.bg-complete { background-color: #00c0ef !important; border-color: transparent; }
	.bg-released { background-color: #09c8c8 !important; border-color: transparent; }
	.bg-cancelled { background-color: #a8a8a8 !important; border-color: transparent;
	}
</style>
