<template>
  <div class="block m-t-20">
    
    <div v-loading="loading" class="loader" :class="{hide: !loading}"></div>

    <el-row
      type="flex"
      v-for="(dd, ddIndex) in docData"  
      :key="ddIndex"
      style="padding: 0px;">
      <!-- style="padding-bottom: 0px; border-bottom: 1px solid #EBEEF5;"> -->
      <el-col :span="8"
        v-for="(doc, docIndex) in dd"  
        :key="docIndex">
          <el-collapse v-model="activeTab">
            <el-collapse-item 
              :name="doc.id"
              style="border-left: 1px solid #EBEEF5; border-right: 1px solid #EBEEF5; color: #1d8ce0;">

                <template slot="title" >
                  <span :style="(doc.onHandDocuments.length > 0) ? 'color: #1d8ce0;': null">
                    {{ doc.client.first_name + ' ' + doc.client.last_name }}
                  </span>
                </template>
                <div v-if="doc.onHandDocuments.length > 0">
                  <div>
                    <ul>
                      <li v-for="(ohd, ohdIndex) in doc.onHandDocuments" :key="ohdIndex">
                        {{ '('+ohd.count+') ' + ohd.title }}
                      </li>
                    </ul>
                  </div>
                </div>

                <div v-if="doc.onHandDocuments.length === 0">
                  <el-divider>
                    {{ $t('Common.no_data_found') }}
                  </el-divider>
                </div>

            </el-collapse-item>
          </el-collapse>
      </el-col>
    </el-row>
    
  </div>
</template>

<script>
export default {
  name: 'documents-on-hand',

  data() {
    return {
      loading: true,
      docData: [],
      activeTab: [],
    }
  },

  mounted() {
    this.getDocumentsOnHand();
  },

  methods: {
    getDocumentsOnHand() {
      
      this.loading = true;
      this.$store.dispatch('getGroupDocumentsOnhand', this.$route.params.id )
      .then(res => {

        this.loading = false;

        var data = [];
        var rowData = [];
        var noDocData = [];
        var counter = 0;

        res.data.map((item, index) => {
          if(counter < 4) {
            if(item.onHandDocuments.length > 0) {
              rowData.push(item);
              counter++;
            } else {
              noDocData.push(item)
            }
          }

          if(counter === 3 || index === (res.data.length -1)) {
            data.push(rowData)
            rowData = [];
            counter = 0;
          }
        })

        // add clients with no documents to array
        if(noDocData.length > 0) {
          noDocData.map((item, index) => {

            if( data[data.length - 1].length < 3 ) {
              data[data.length - 1].push(item)
            } else {
              console.log('isFull')
              if(counter < 4) {
                rowData.push(item);
                counter++;
              }

              if(counter === 3 || index === (noDocData.length -1)) {
                data.push(rowData)
                rowData = [];
                counter = 0;
              }
            }

          })
        }

        this.docData = data;

        console.log(this.docData)

      })

    },
  }
}
</script>

<style lang="scss" scoped>
	.m-t-20 {
		margin-top: 20px;
	}

	.service-name {
		font-weight: bold;
		margin-left: 5px;
		color: #1d8ce0;
	}

	.pull-right {
		float: right;
	}

	.m-4 {
		margin: 4px;
	}

	.timeline {
		color: #1d8ce0;
	    font-size: 13px;
	    font-weight: bold;
	    margin-bottom: 10px;
	}

	.loader {
		height: 100px;
	}

	.hide {
		display: none;
	}

	.bg-disabled { background-color: #909399 !important; border-color: transparent; }
	.bg-pending { background-color: #ffbc2d !important; border-color: transparent; }
	.bg-on-process { background-color: #4ec98b !important; border-color: transparent; }
	.bg-complete { background-color: #00c0ef !important; border-color: transparent; }
	.bg-released { background-color: #09c8c8 !important; border-color: transparent; }
	.bg-cancelled { background-color: #a8a8a8 !important; border-color: transparent; }

  
</style>

<style lang="scss">
  .el-collapse-item__header {
    font-weight: bold;
    padding-left: 10px;
  }

  .el-collapse-item__content {
    padding-bottom: 0px;
  }

  .el-collapse-item__header.is-active {
    border-bottom-color: #EBEEF5;
  }

  // .el-collapse-item__wrap {
  //   border-bottom-color: transparent;
  // }

  // .el-collapse {
  //   border-bottom-color: transparent;
  // }

  // .el-collapse-item__header {
  //   border-bottom-color: transparent;
  // }
</style>