<template>
<el-form :model="groupValidateForm" ref="groupValidateForm" id="group_name"  label-width="200px">
  <el-form-item
    :label="$t('Group.group-name')"
    prop="group_name"
    :rules="[
      { required: true, message: $t('Group.group_name_req')}
    ]"
  >
    <el-input type="text" v-model.group_name="groupValidateForm.group_name" autocomplete="off"></el-input>
  </el-form-item>

  <el-form-item
    :label="$t('Profile.number')"
    prop="number"
    :rules="[
      { required: true, message: $t('Group.num_req')}
    ]"
  >

    <el-input type="number" v-model.number="groupValidateForm.number" autocomplete="off" maxlength="15" @keypress.native="numbersOnly"></el-input>
  </el-form-item>

  <el-form-item
    :label="$t('Profile.address')"
    prop="address"
    :rules="[
      { required: true, message: this.$t('CPanel.address_is_required')}
    ]"
    >

    <el-input type="text" v-model.address="groupValidateForm.address" autocomplete="off"></el-input>
  </el-form-item>

  <el-form-item>

    <el-button type="primary" @click="submitForm('groupValidateForm')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('groupValidateForm')">{{ $t('Common.reset') }}</el-button>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'edit-group-address',
  data () {
    return {
      groupValidateForm: {
        group_name: '',
        number: '',
        address: ''
      },
      data: {},
      loading: false
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
    clients: 'clients'
  }),

  created () {;

    this.groupValidateForm.group_name = (this.groups.data !== null) ? this.groups.data.name : '';
    this.groupValidateForm.number = (this.groups.data !== null) ? this.groups.data.contact_numbers[0].number : '';
    this.groupValidateForm.address = (this.groups.data !== null) ? this.groups.data.address : '';

  },

  mounted() {},

  methods: {

    submitForm (formName) {

      this.data.group_name = this.groupValidateForm.group_name;
      this.data.contact_number = {
        "number" : this.groupValidateForm.number,
        "is_mobile": 1
      };
      this.data.address = this.groupValidateForm.address;
      this.data.id = this.groups.data.id;

      this.$refs[formName].validate((response) => {

      if (response) {
        return this.$store.dispatch('addEditData', { method: "edit", payload: this.data }).then(res => {
            if (res.code == 200) {
              this.$parent.$emit('close')
              this.$refs[formName].resetFields()

              this.$message({
                type: 'success',
                message: this.$t('Group.success_edit')
              });
              this.$eventBus.$emit('syncGroupData');
            }
        }).catch(err => {})
      }

    })

    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
