<template>
  <div class="export-excel-container">


    <div v-if="isChooseOptionToDownload && !isLoading">
      <div class="label">Export Group Report By</div><br/>
       <el-button class="status-button" type="success" @click="exportData('excel')">Excel</el-button>
       <el-button class="status-button" type="primary" @click="exportData('pdf')">Pdf</el-button>
       <el-button class="status-button" type="primary" @click="exportData('cancel')">Cancel</el-button>
    <!--   <el-divider>Other Actions</el-divider>
       <el-button class="status-button" type="primary" @click="exportData('preview')">Preview</el-button> -->

    </div>

    <div v-if="(!isChooseOptionToDownload && !isLoading) && exportMode == 'preview'">
        <ByService/>
    </div>


    <div v-if="(!isLoading && !isChooseOptionToDownload) && exportMode != 'preview'">
     <div class="label">Export Group Report</div>
     <div class="button-container" >

      <div style="margin-bottom:20px;">
          <el-radio-group v-model="mode_main" @change="eventChangeOption">
              <el-radio label="services">Services</el-radio>
              <el-radio label="transactions">Transactions</el-radio>
          </el-radio-group>
      </div>
      <div>
      <el-radio :disabled="mode_main == 'transactions'" v-model="mode" label="by-service">By Service</el-radio>
      <el-radio :disabled="mode_main == 'transactions'" v-model="mode" label="by-members">By Members</el-radio>
      <el-radio :disabled="mode_main == 'transactions'" v-model="mode" label="by-batch">By Batch</el-radio>
     </div>
      <br>
      <br>

      <el-button class="status-button" type="success" @click="downloadData('EN')">English</el-button>
      <el-button class="status-button" type="primary" @click="downloadData('CN')">Mandarin</el-button>


      <div v-if="mode_main !== 'transactions'">

      <el-divider>Filter Options</el-divider>

      <div v-if="mode == 'by-service'" class="date-container">

        <div class="block">
           <el-date-picker
              v-model="service.serviceDate"
              type="daterange"
              align="right"
              range-separator="To"
              start-placeholder="Start date"
              end-placeholder="End date"
              value-format="yyyy-MM-dd"
              text="hdhdhdhhd"
              :unlink-panels="true"
              @change="getRangeDate"
              :picker-options="pickerOptions">
            </el-date-picker>
        </div>
        <br/>
        <div v-if="service.isServiceSelectionNotHidden">
          <el-row>
           <el-col :span="12">
            <div style="text-align:left;"><el-checkbox  :indeterminate="service.isIndeterminate" v-model="service.checkAllServices" @change="handleCheckAllServiceChange">Select All Services</el-checkbox></div>
            <br/>
            <el-checkbox-group v-model="service.servicesGroup" style="text-align: left" @change="handleCheckedServiceChange">
              <el-checkbox v-for="item in service.services" :label="item.detail" :value="item.id">
              </el-checkbox>
            </el-checkbox-group>
          </el-col>

          <el-col :span="12">
            <div style="margin-left:60px">
            <div style="text-align:left;"><el-checkbox  :indeterminate="service.stat.isIndeterminate" v-model="service.checkAllStatus" @change="handleCheckAllStatusChange">Select All Status</el-checkbox></div>
            <br/>

              <el-checkbox-group v-model="service.status" style="text-align: left" @change="handleCheckedStatusChange">
                <el-checkbox v-for="item in status" :label="item.text" :value="item.text" v-if="item.text != 'Cancelled'">
                </el-checkbox>
              </el-checkbox-group>
            </div>
          </el-col>
         </el-row>
      </div>
      </div>


      <div v-if="mode == 'by-members'">
        <el-form :inline="true" label-width="80px" label-position="left" style="width: 100%;">

        <form class="search" >
        <div style="text-align:right">
          <el-input :placeholder="$t('Group.search_table_id')" prefix-icon="el-icon-search" v-model="search" clearable  @change="handleSearch"
            style=" width:100%">
          </el-input>
        </div>
        </form>

        <br/>

         <div style="text-align:left;"><el-checkbox  :indeterminate="member.isIndeterminate" v-model="member.checkAllMembers" @change="handleCheckAllMemberChange">Select All Members</el-checkbox></div>
         <br/>
         <div class="check-box-container">
         <el-checkbox-group v-model="member.membersGroup" size="small" @change="handleCheckedMemberChange">
           <el-checkbox-button style="min-width:120px; margin:2px; " v-for="item in member.members" :label="item.name" :value="item.id"></el-checkbox-button>
         </el-checkbox-group>
         </div>
       </el-form>
      </div>


      <div v-if="mode == 'by-batch'">

        <div style="text-align:left;"><el-checkbox  :indeterminate="batch.isIndeterminate" v-model="batch.checkAllDates" @change="handleCheckAllDatesChange">Select All Dates</el-checkbox></div>
        <br/>
        <div class="check-box-container">
        <el-checkbox-group v-model="batch.batchDates" size="small" @change="handleCheckedDateChange">
          <el-checkbox-button style="min-width:120px; margin:2px; " v-for="item in batch.dates" :label="item" :value="item"></el-checkbox-button>
        </el-checkbox-group>
        </div>

      </div>
      </div>
    </div>
    </div>

     <div v-if="isLoading" class="progress-container">
        <div>
          <el-progress type="circle" :percentage="percentage"></el-progress>
        </div>
        <label>Exporting By {{exportingText}}</label>
     </div>

  </div>
</template>

<script>
window.moment = require('moment');
const EN = 'EN';
const CN = 'CN';
const BY_SERVICE = 'by-service';
const BY_MEMBERS = 'by-members';
const BY_BATCH = 'by-batch';
const SERVICES = 'services';
const TRANSACTIONS = 'transactions';

export default {
  name: 'export-excel',
  data () {
    return { //'pending','on process','complete','released','cancelled'
      pickerOptions: {
          shortcuts: [{
            text: 'Last week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last 3 months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          },
          {
            text: 'Last 6 months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 180);
              picker.$emit('pick', [start, end]);
            }
          },
          {
          text: 'Last 9 months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 270);
              picker.$emit('pick', [start, end]);
            }
          }
        ]
      },
      id: '',
      mode: BY_SERVICE,
      mode_main: SERVICES,
      from_date : '',
      to_date : '',
      data: null,
      search: '',
      services : [],
      isLoading: false,
      percentage: 0,
      page: 1,
      isChooseOptionToDownload: false,
      exportMode: 'excel',
      status: [
        {
        text: "Pending"
        },{
        text: "On Process"
        },{
        text: "Complete"
        },{
        text: "Released"
        },{
        text: "Cancelled"
        }
      ],
      service:{
          serviceOptionTo: [],
          serviceDate: null,
          servicesGroup: [],
          servicesOption: [],
          statusOption: [],
          isServiceSelectionNotHidden: false,
          checkAllStatus: false,
          services:[],
          isIndeterminate: false,
          stat:{
            isIndeterminate: false
          },
          checkAllServices:false,
          status: [],
          rawData: null
      },
      batch:{
        batch_date:'',
        batchDates: [],
        checkAllDates: false,
        isIndeterminate: false,
        datesOption: [],
        dates: [],
        month: '',
        year: ''
      },
      member:{
        isMemberFirstFetch: true,
        isPageSelected: false,
        memberPage: 1,
        memberTotal: 0,
        membersGroup:[],
        members:[],
        checkAllMembers:false,
        isIndeterminate: false,
        membersOption: [],
        isMemberCheck: [],
        currentPageMembers: [],
        selectedMembers: []
      },
      total: 0,
      perPage:15,
      returnPayload: [],
      lang: EN,
      exportingText: '',
      columns: [
        {
          prop: 'id',
          type: 'selection'
        },

        {
          prop: 'client_id',
          label: this.$t('Clients.client-id'),
          minWidth: '120',
          sortable: true
        },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '120',
          sortable: true
        }
      ]
    }
  },
  methods: {

    eventChangeOption(data){
        console.log(data);
        console.log("mode_main:", this.mode_main);
    },

    getByMembers (page){
      return this.$store.dispatch('getGroupByMembers',{
          id: this.id,
          ids: 'ids='+ this.member.selectedMembers,
          page: 'page='+page,
          sort:  'name-desc',
          search: 'search=',
          from: 'from=export',
          perPage: this.perPage
      })
      .then(res => {
          if(res.current_page <= res.last_page){
             if(res.current_page !== res.last_page){
              this.percentage = parseFloat(((((this.perPage)/res.total)*res.current_page)*100).toFixed(2));
             }


              res.data.map((item,index) => {
                  this.returnPayload.push(item);
              });
              this.getByMembers(res.current_page+1);

          }else{
             this.download(this.returnPayload);
          }
      })
    },


handleCheckAllDatesChange (val){
    this.batch.batchDates = val ? this.batch.datesOption : [];
    this.batch.isIndeterminate = false;
},

handleCheckedDateChange(value){
    let checkedCount = value.length;
    this.batch.checkAllDates = checkedCount === this.batch.dates.length;
    this.batch.isIndeterminate = checkedCount > 0 && checkedCount < this.batch.dates.length;
},

handleCheckedStatusChange(value){
    let checkedCount = value.length;
    this.service.checkAllStatus = checkedCount === this.status.length;
    this.service.stat.isIndeterminate = checkedCount > 0 && checkedCount < this.status.length;
},

handleCheckAllStatusChange(val){
    this.service.status = val ? this.service.statusOption : [];
    this.service.stat.isIndeterminate = false;
},

handleCheckAllServiceChange(val){
  this.service.servicesGroup = val ? this.service.servicesOption : [];
  this.service.isIndeterminate = false;
},

handleCheckedServiceChange(value){
  let checkedCount = value.length;
  this.service.checkAllServices = checkedCount === this.service.services.length;
  this.service.isIndeterminate = checkedCount > 0 && checkedCount < this.service.services.length;
},

//SEARCH MEMBERS

  // TODO
  handleSearch(){
    this.getGroupMembers();
  },

  handleCheckAllMemberChange(val){
    this.member.membersGroup = val ? this.member.membersOption : [];
    this.member.isIndeterminate = false;
  },
  handleCheckedMemberChange(value) {
       let checkedCount = value.length;
       this.member.checkAllMembers = checkedCount === this.member.members.length;
       this.member.isIndeterminate = checkedCount > 0 && checkedCount < this.member.members.length;
  },


  getGroupMembers(){

    let  sortParams = 'name-asc'

    var id = this.id;

    return this.$store.dispatch('getGroupMembers',{
        id: id,
        page: 'page=1',
        sort:  sortParams,
        search: 'search=' + this.search,
        perPage: 20
    })
    .then(res => {
        this.member.members = res;
        res.map((item,index) => {
              this.member.membersOption.push(item.name);
        })
    });
  },

  //END MEMBERS


    getByService(page){

      var services = [];
      var status = [];
      var dates = String(this.service.serviceDate).split(",");

      if(this.service.servicesGroup.length > 0){
        for(var i=0; i<this.service.servicesGroup.length; i++){
            var index = this.service.services.findIndex(v => v.detail == this.service.servicesGroup[i]);
            if(index !== -1){
               services.push(this.service.services[index].id);
            }
        }
      }

      if(this.service.status.length > 0){
        for(var i=0; i<this.service.status.length; i++){
            status.push(this.service.status[i].toLowerCase());
        }
      }

      return this.$store.dispatch('getByService',{
          group_id: this.id,
          page: 'page='+page,
          sort: 'id-desc',
          status: 'status='+status,
          ids: 'ids='+ services,
          search: 'search=',
          from_date: 'from_date='+dates[0],
          to_date:  'to_date='+dates[1],
          perPage: this.perPage,
          lang: 'lang='+this.lang
      })
      .then(res => {
          var data = res.data;

          console.log(res.data);

          if(data.current_page <= data.last_page){
             if(data.current_page !== data.last_page){
              this.percentage = parseFloat(((((this.perPage)/data.total)*data.current_page)*100).toFixed(2));
             }
              data.data.map((item,index) => {
                  this.returnPayload.push(item);
              });
              this.getByService(data.current_page+1);

          }else{
            this.download(this.returnPayload);
          }
      })
    },

    getByBatch(page){

      return this.$store.dispatch('getByBatch',{
        group_id: this.id,
        year: 'year=' +this.batch.year,
        month: 'month=' +this.batch.month,
        //date: 'date=' + this.batch.batch_date,
        dates: 'dates=' + this.batch.batchDates,
        page: 'page=' + page,
        sort: 'sort=id-desc',
        search: 'search=',
        perPage: this.perPage,
        lang: 'lang='+this.lang
      })
      .then(res => {

        var data = res.data;

        if(data.current_page <= data.last_page){

           if(data.current_page !== data.last_page){
               this.percentage = parseFloat(((((this.perPage)/data.total)*data.current_page)*100).toFixed(2));
           }

           data.data.map((item,index) => {
                this.returnPayload.push(item);
           });
            this.getByBatch(data.current_page+1);

        }else{
           this.download(this.returnPayload);
        }

      })
    },



    exportData (mode){

      if(mode == 'cancel'){
          this.isChooseOptionToDownload = false;
      }
      else{

          this.exportMode = mode;
          this.isLoading = true;


          if(this.mode_main == TRANSACTIONS){
                this.getServiceHistory();
                this.exportingText = 'Transactions';
          }else{

            switch(this.mode){

              case BY_BATCH:
                  this.exportingText = 'Batch';
                  this.getByBatch(this.page);
              break;

              case BY_MEMBERS:
                    this.getByMembers(this.page);
                    this.exportingText = 'Members';
              break;

              case BY_SERVICE:
                  this.getByService(this.page);
                  this.exportingText = 'Services';
              break;
            }
          }

      }
    },

    getServiceHistory () {
      let vm = this
      return this.$store.dispatch('getServiceHistory', {
        client_id: 0,
        group_id: this.id
      }).then(res => {
        console.log("transaction history: ", res);
        this.download(res.data);
      });
    },


    downloadData (lang){

        this.lang = lang;
        this.returnPayload = [];

        var dateTime = moment(String(new Date())).format("MMM DD, YYYY , hh:mm A");

        var hasError = true;

        var date = [];
        var services = [];

        if(this.from_date !== ''){
            date = this.from_date.split("-");
        }

        if(this.mode_main === TRANSACTIONS){
          this.isChooseOptionToDownload = true;
        }else{

          var name = '';
          switch(this.mode){

            case BY_BATCH:
                name = 'ENBYBATCH';
                this.perPage = 5;

                if(this.batch.batchDates.length > 0){
                  this.isChooseOptionToDownload = true;
                }else{
                  this.$message.error('Oops, Please Select Dates/s!');
                  this.isLoading = false;
                }
            break;

            case BY_MEMBERS:
                name = 'ENBYMEMBERS';
                this.perPage = 10;

                this.member.selectedMembers = [];
                this.member.membersGroup.map((item,index) => {
                  var i = this.member.members.findIndex(v => v.name == item);
                  if(i !== -1){
                      this.member.selectedMembers.push(this.member.members[i].id);
                  }
                });

                if(this.member.selectedMembers.length > 0){
                  this.isChooseOptionToDownload = true;
                }else{
                  this.$message.error('Oops, Please Select Member/s!');
                  this.isLoading = false;
                }

            break;

            case BY_SERVICE:
                name = 'ENBYSERVICES';
                this.perPage = 5;

                if(this.service.servicesGroup.length > 0 && this.service.status.length > 0){
                  this.isChooseOptionToDownload = true;
                }else{
                     this.$message.error('Oops, Please Select Status and Service/s!');
                }
            break;
          }

        }


    },

    download(data){

      if(this.exportMode == 'preview'){

          this.$store.dispatch('previewReport', {
            id: this.id,
            data: data,
            type: (this.mode_main === TRANSACTIONS) ? TRANSACTIONS : this.mode,
            lang: this.lang
          }).then(res => {
             this.percentage = 100;
             this.isLoading = false;
             this.isChooseOptionToDownload = false;
             this.service.rawData = res;
          });
      }else{


      var dateTime = moment(String(new Date())).format("MMM DD, YYYY , hh:mm A");

      var hasError = true;

      var date = [];
      var services = [];

      if(this.from_date !== ''){
          date = this.from_date.split("-");
      }

      var name = '';

      if(this.mode_main === TRANSACTIONS){
        name = 'ENTRANSACTIONS';
      }else{


      switch(this.mode){

        case BY_BATCH:

            if(this.batch.batch_date !== ''){
                date = this.from_date.split("-");
            }

            name = 'ENBYBATCH';
        break;

        case BY_MEMBERS:
            name = 'ENBYMEMBERS';
        break;

        case BY_SERVICE:
            name = 'ENBYSERVICES';
        break;

      }
     }

      this.$store.dispatch('exportExcelGroupSummary', {
        id: this.id,
        type: (this.mode_main === TRANSACTIONS) ? TRANSACTIONS : this.mode,
        lang: this.lang,
        data: data,
        export_type: this.exportMode,
        dates: this.batch.batchDates,
        services: services,
        month: (this.from_date != '') ? date[1] : '',
        year:  (this.from_date != '') ? date[0] : ''
      }).then(res => {

        this.percentage = 100;

        setTimeout(() => {
          var fileURL = window.URL.createObjectURL(new Blob([res]));

          var fileLink = document.createElement('a');
          fileLink.href = fileURL;

          if(this.exportMode == 'excel'){
            fileLink.setAttribute('download', name + " - " +this.data.name + " - " + dateTime + '.xls');
          }else{
            fileLink.setAttribute('download', name + " - " +this.data.name + " - " + dateTime + '.pdf');
          }


          document.body.appendChild(fileLink);
          fileLink.click();

          this.isLoading = false;
          this.$parent.$emit('close')
          this.$eventBus.$emit('syncGroupData');
        }, 500)

      })

     }

    },

    getServiceDates () {
      this.$store.dispatch('getServiceDates', {
        id: this.id,
      }).then(res => {
      //  this.dateOptions = res;
        this.batch.dates = res;

        res.map((item,index) => {
              this.batch.datesOption.push(item);
        });
      })
    },

    getRangeDate(){

        var dates = String(this.service.serviceDate).split(",");

          this.$store.dispatch('getServiceAdded', {
            id: this.id,
            date: dates[0],
            from_date: "from_date="+dates[0],
            to_date: "to_date="+dates[1]
          }).then(res => {

            this.service.services = res;

            res.map((item,index) => {
                  this.service.servicesOption.push(item.detail);
            });

            this.service.isServiceSelectionNotHidden = true;

          })

    },


  },
  created () {
    this.id = this.$parent.$parent.content.id;
    this.data = this.$parent.$parent.content.data;


    this.status.map((item,index) => {
          this.service.statusOption.push(item.text);
    });

    this.getGroupMembers();
    this.getServiceDates();
  }
}
</script>

<style lang="scss">
  .export-excel-container {
    .el-checkbox {
      display: block;
    }
    .el-checkbox-group {
      .el-checkbox-button {
          border: 1px solid #eee;
          width: 150px;
          max-width: 160px;
          min-width: 100px;
      }
    }


    div {
      text-align: center;
    }

    i {
      color: #3fc3ee;
      /*font-size: 5.2em*/
    }

    .label {
      color: #595959;
      font-size: 2.5em;
      font-weight: 700;
      margin-top: 25px;
    }

    .button-container {
      margin-top: 25px;
    }

    .status-button {
      font-size: 1.3em;
    }
    .progress-container{
      width:100%;
      margin-top: 25px;
    }

    .progress-container > div{
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:130px;
    }

    .date-container{
      width:100%;
      text-align: center;
    }

    .date-container > div{
      width:700px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

/*    div > label > span{
      border:0px solid #DCDFE6 !important;
    }*/

  }

   .el-checkbox-button__inner{
       border:0px solid #DCDFE6 !important;
   }

   .el-picker-panel {

   }

   .el-dialog__wrapper{
    //position: relative !important;
    width:'100%';
    margin-left: auto !important;
    margin-right: auto !important;
   }
  // .el-checkbox-button_inner{
  //
  //       border:0px solid #DCDFE6 !important;
  // }
  // .check-box-container > label > input[type="checkbox"] > span{
  //   border:1px solid red !important;
  // }
</style>
