<template>
  <div>
    <data-table :get-data="getData"
          ref="table"
          :columns="columns"
          >

          <div slot="amount" slot-scope="{row}">
            {{ row.amount | currency }}
          </div>

           <b slot="detail" slot-scope="{row}">
            {{row.created_at | commonDate}}
            {{(row.service_name != null ? ' - '+row.service_name : '') | capitalize}}
            <span style="color: #1d8ce0;">
            <router-link :to="{ name: 'clients-profile', params: { id: row.client_id } }" target="_blank">
              {{(row.service_name != null ? ' - ['+row.client_id+'] '+row.first_name+' '+row.last_name : '') | capitalize}}
            </router-link>
            </span>
          </b>

          <b slot="type" slot-scope="{row}">
           {{row.type | capitalize}}
          </b>


    </data-table>
  </div>
</template>


<script>
// components
import DataTable from '../../../components/datatable'

export default {
  name: 'fund-list',
  data () {
    return {
      loading: false,
      total: 0,
      size: 20,
      page: 1,
      columns: [
        {
          prop: 'amount',
          label: this.$t('Common.amount'),
          minWidth: '120',
        },
        {
          prop: 'detail',
          label: this.$t('Common.detail'),
          minWidth: '400'
        },

        {
          prop: 'type',
          label: this.$t('Common.type'),
          minWidth: '120'
        },

      ]
    }
  },

  mounted() {},

  methods: {

    getGroupFunds(){
         this.$refs.table.getTableData();
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;
        return this.$store.dispatch('getGroupFunds',{
            group_id: vm.$parent.$route.params.id,
            page: 'page=' + page,
            perPage: size
        })
        .then(res => {
          const { data } = res
          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

  },
  components: {  DataTable }
}
</script>

</script>

<style>

   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }
</style>
