<template>
    <div class="heading" ref="group-menu">
      <el-button type="primary" plain size="small" icon="el-icon-plus" @click.prevent="openGroupModal('new_member')" class="global_blue"
      :disabled="checkIfServiceProfileIsNotActive()">
        {{ $t('Group.new-member') }}
      </el-button>

      <el-button type="primary" plain size="small" icon="el-icon-plus" @click.prevent="openGroupModal('new_service')" class="global_blue"
      :disabled="checkIfServiceProfileIsNotActive()">
        {{ $t('Group.add-new-service') }}
      </el-button>

<!--       <el-button type="primary" plain size="small" icon="el-icon-plus" @click="openGroupModal('add_funds')" class="global_blue">
         {{ $t('Group.add-funds') }}
      </el-button>

      <el-button type="primary" plain size="small" icon="el-icon-plus" @click="editServices()" class="global_blue" v-if="this.$parent.step !== 2">
         {{ (this.$parent.$parent.$parent.isEditService) ?  $t('Group.cancel_edit') : $t('Service.edit-service')}}
      </el-button> -->

      <el-button type="primary" plain size="small" icon="el-icon-plus" @click="payService()" class="global_blue" v-if="this.$parent.step !== 2"
      :disabled="checkIfServiceProfileIsNotActive()">
         {{ (this.$parent.$parent.$parent.isPayService) ?  $t('Common.cancel') : $t('Common.pay_service')}}
      </el-button>

      <el-button type="primary" plain size="small" icon="el-icon-plus" @click="writeReport()" class="global_blue" v-if="this.$parent.step !== 2"
      :disabled="checkIfServiceProfileIsNotActive()">
         {{ (this.$parent.$parent.$parent.isWriteReport) ?  $t('Group.cancel_write_report') : $t('Navigation.write-reports')}}
      </el-button>

      <el-button type="primary" plain size="small" icon="el-icon-plus" @click="centralizedReport()" class="global_blue"
      :disabled="checkIfServiceProfileIsNotActive()">
         {{ $t('Navigation.docs') }}
      </el-button>

    </div>
</template>


<script>
import AddMember from './add-member'
import AddService from './add-service'
import AddFunds from './add-funds'

export default {
  name: 'groups-profile',

  data () {
    return {
      data: {}
    }
  },

  mounted() { },

  created () {},

  methods: {

    editServices(){
      let isEdit = (this.$parent.$parent.$parent.isEditService) ? false : true;
      this.$eventBus.$emit('editService', isEdit);
      this.$eventBus.$emit('writeReport', false);
      this.$eventBus.$emit('payService', false);
    },

    writeReport(){
      let isWrite = (this.$parent.$parent.$parent.isWriteReport) ? false : true;
      this.$eventBus.$emit('writeReport', isWrite);
      this.$eventBus.$emit('editService', false);
      this.$eventBus.$emit('payService', false);
    },

    payService(){
        let isPayService = (this.$parent.$parent.$parent.isPayService) ? false : true;
        this.$eventBus.$emit('payService', isPayService);
        this.$eventBus.$emit('writeReport', false);
        this.$eventBus.$emit('editService', false);
    },

    centralizedReport(){
      this.$eventBus.$emit('centralizedReport');
    },

    openGroupModal (method) {

      // required to call the modal
      var component = AddMember;
      var title = '';
      var width = '';

      switch (method) {
        case 'new_member':
              component = AddMember
              title = 'Group.new-member'
              width = '500px'
              break;

          case 'new_service':
              component = AddService
              title = 'Group.add-new-service'
              width = '800px'
              break;

          case 'add_funds':
              component = AddFunds
              title = 'Group.add-funds'
              width = '400px'
              break;

          default:
              component = AddMember
              title = 'Group.new-member'
              width = '500px'
              break;
        }

        this.$store.dispatch('callModal', { child_component: component, title: title, modalWidth: width }) // call global modal state
    },

    checkIfServiceProfileIsNotActive () {
      if(this.$parent.$parent.$parent.service_profile !== null && this.$parent.$parent.$parent.service_profile !== undefined) {

        if(parseInt(this.$parent.$parent.$parent.service_profile.is_active)===0) {
          return true;
        } else {
          return false;
        }
          
      }

      return false;
    }

  }
}
</script>

<style lang="scss" scoped>
  .el-button + .el-button {
    margin-left: 0px !important;
  }

  .el-button {
    margin-right: 10px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
