<template>
  <div ref="memberList">

    <el-row>
        <el-col :span="18">  <group-menu ref="group-menu"></group-menu></el-col>
        <el-col :span="6">
           <div  v-if="(step === 1)" class="alignRight" >
            <el-input :placeholder="$t('Common.searching-client')" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%"></el-input>
          </div>
        </el-col>
    </el-row>


  <el-form  :model="form" :inline="true" label-width="80px">

    <div v-if="(step === 1)">

        <data-table :get-data="getData"
              ref="table"
              :columns="columns"
              :expand-table="eventExpandChange"
              >

            <b slot="packages" slot-scope="{row}">
                   <template>
                    <el-table
                      :data="row.packages"
                      stripe
                      lazy
                      style="width: 100%"
                      @selection-change="handleSelectionChange"
                      @select="handleSelection"
                      @select-all="handleSelectAll(row)"
                      >

                      <el-table-column
                       type="selection"
                       width="50" v-if="isWriteReport">
                     </el-table-column>

                    <!--  <el-table-column :span="1" v-if="isEditService || isWriteReport" min-width="50">
                          <template slot-scope="scope" ><el-checkbox :disabled="(scope.row.status === 'cancelled') ? true : false" v-model="form.selected[scope.row.id]" @change="checkService(scope.row)"></el-checkbox></template>
                      </el-table-column> -->

                      <el-table-column
                        prop="tracking"
                        :label="$t('Common.package')"
                        min-width="80" :span="(isEditService || isWriteReport) ? 2 : 3">

                              <template slot-scope="scope"><b>{{scope.row.tracking}}</b></template>
                      </el-table-column>

                      <el-table-column
                        :label="$t('Group.date_recorded')"
                        min-width="100" >
                            <template slot-scope="scope"><b>{{scope.row.created_at | commonDate}}</b></template>
                      </el-table-column>

                      <el-table-column
                       prop="detail"
                       :label="$t('Common.detail')"
                       min-width="230" >
                             <template slot-scope="scope">
                               <el-tooltip v-if="scope.row.remarks !== ''" class="item" effect="dark" placement="top-start">
                                <div slot="content" v-html="scope.row.remarks"></div>
                                  <b>{{scope.row.detail}}</b>
                               </el-tooltip>
                               <b v-else>{{scope.row.detail}}</b>
                             </template>
                     </el-table-column>

                     <el-table-column
                      prop="status"
                      :label="$t('Common.status')"
                      min-width="60">
                        <template slot-scope="scope"><b>
                        {{ (scope.row.active === 0 && scope.row.status !== 'cancelled') ?  "disabled" : scope.row.status}}
                        </b></template>
                    </el-table-column>

                    <el-table-column
                        prop="package_cost"
                        :label="$t('Clients.charge')"
                        min-width="80">
                            <template slot-scope="scope">
                              <b v-if="scope.row.active != 0 && scope.row.status !== 'cancelled'">{{scope.row.package_cost  | currency}}</b>
                              <b v-else>0</b>
                            </template>
                    </el-table-column>

                    <el-table-column
                        prop="discount"
                        :label="$t('Common.discount')"
                        min-width="70">

                          <template slot-scope="scope">

                         <div v-if="scope.row.discount != 0 && typeof scope.row.discount_details != 'undefined'" >
                           <el-tooltip  class="item" effect="dark" :content="('Php'+ scope.row.discount_details.amount + ' - ' + scope.row.discount_details.reason +' ('+ scope.row.discount_details.created_at +')' )" placement="top-start">
                              <b>{{scope.row.discount  | currency}}</b>
                           </el-tooltip>
                         </div>
                          <div v-else>
                              <b>{{scope.row.discount  | currency}}</b>
                          </div>

                          </template>

                    </el-table-column>

                    <el-table-column
                        prop="payment"
                        :label="(isPayService) ? $t('Common.amount') : $t('Common.payment')"
                        min-width="120">
                            <template slot-scope="scope">


                              <div v-if="isPayService">

                                <div style="text-align:center" v-if="scope.row.is_full_payment != 1 && scope.row.active == 1 && scope.row.status !='cancelled'">
                                  <el-input @input="filterInput($event, scope.row.id)"  placeholder="0.00" maxlength="200" size="mini" v-model="form.payment[scope.row.id]" @change="handleChangeAmount(scope.row)" >
                                    <el-button slot="append" type="primary" plain size="mini" icon="el-icon-money" @click="getFullPayment(scope.row)"/>
                                  </el-input>
                                </div>

                                <div style="text-align:center" v-if="scope.row.is_full_payment == 1 || scope.row.active == 0 || scope.row.status == 'cancelled'">
                                  <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Common.paid')" placement="top-start">
                                    <el-input type="number"  disabled  maxlength="200" size="mini" :value="scope.row.payment_amount"></el-input>
                                  </el-tooltip>
                                </div>
                              </div>



                               <div v-if="!isPayService">
                                 <div v-if="(parseFloat(scope.row.payment_amount) > 0)" >

                                   <div v-if="isEditPayment && (editPaymentId == scope.row.id)">
                                     <el-input type="number"  placeholder="0.00"  maxlength="300" size="mini" v-model="editPaymentAmount[scope.row.id]"></el-input>
                                   </div>

                                   <div v-else>
                                     <el-tooltip placement="top">
                                         <div v-if="(typeof scope.row.payment_details !== 'undefined' && scope.row.payment_details !== null)" slot="content" v-html="scope.row.payment_details.reason"></div>
                                         <span style="color: #1D8CE0; cursor: default">
                                           {{ ( scope.row.payment_amount != null && scope.row.active == 1 && scope.row.status != 'cancelled' ? parseFloat(scope.row.payment_amount) : 0) | currency}}
                                         </span>
                                     </el-tooltip>
                                   </div>

                                 </div>
                                 <div v-else>
                                     <el-tooltip placement="top" v-if="scope.row.payment_details != null">
                                         <div slot="content" v-html="scope.row.payment_details.reason"></div>
                                         <span style="color: #1D8CE0; cursor: default">
                                           {{ ( scope.row.payment_amount != null && scope.row.active == 1 && scope.row.status != 'cancelled' ? parseFloat(scope.row.payment_amount) : 0) | currency}}
                                         </span>
                                     </el-tooltip>
                                     <span v-else>
                                      {{ ( scope.row.payment_amount != null && scope.row.active == 1 && scope.row.status != 'cancelled' ? parseFloat(scope.row.payment_amount) : 0) | currency}}
                                      </span>
                                 </div>

                               </div>
                            </template>
                    </el-table-column>

                    <el-table-column
                        prop="sub"
                        label="Sub"
                        min-width="60">
                            <template slot-scope="scope">
                              <b v-if="scope.row.active != 0 && scope.row.status !== 'cancelled'">{{
                              ((parseFloat(scope.row.discount)  + parseFloat(scope.row.payment_amount)) - (parseFloat(scope.row.cost) + parseFloat(scope.row.charge) + parseFloat(scope.row.tip) + parseFloat(scope.row.com_client) + parseFloat(scope.row.com_agent))) | currency}}</b>
                              <b v-else>0</b>
                            </template>
                    </el-table-column>


                    <el-table-column
                        prop="action"
                        label="Action"
                        min-width="60">

                        <template slot-scope="scope">

                            <div v-if="editPaymentId != scope.row.id && (scope.row.payment_amount > 0)">

                               <el-tooltip class="item" effect="dark" content="Retrive Payment" placement="top-start">
                                  <el-button   type="primary" plain size="mini" icon="el-icon-edit-outline" @click="changePayment(scope.row)"></el-button>
                               </el-tooltip>

                            </div>


                          </template>
                    </el-table-column>

                    </el-table>
                  </template>

              </b>

             <b slot="name" slot-scope="{row}">
              <router-link :to="{ name: 'clients-profile', params: { id: row.user_id } }" target="_blank">
                    {{row.name | capitalize}}
              </router-link>
             </b>

             <b slot="id" slot-scope="{row}">
              {{row.user_id}}
             </b>

             <b slot="status" slot-scope="{row}">
              {{row.status}}
             </b>


             <b slot="total_service_cost" slot-scope="{row}">
              {{row.total_service_cost | currency}}
            </b>

            <b slot="total_sub" slot-scope="{row}">
              {{row.total_sub | currency}}
            </b>

             <span slot="is_vice_or_group_leader" slot-scope="{row}">
                <div v-if="row.user_id === leader_id">
                    <el-button disabled type="primary" class ="role-btn" plain size="mini" >
                      <i class="el-icon-star-on"></i>
                      <i class="el-icon-star-on"></i> {{ $t('Group.group_leader') }}
                    </el-button>
                </div>
                <div v-else>
                  <div v-if="row.is_vice_leader === 0">
                      <el-button class ="role-btn" type="primary" plain size="mini" icon="el-icon-star-off" @click="handleChangeRole('vice-leader', row.user_id)"
                      :disabled="checkIfServiceProfileIsNotActive()">
                        {{ $t('Group.make_vice_leader') }}
                      </el-button>
                  </div>
                  <div v-else>
                      <el-button class ="role-btn" type="primary" plain size="mini" icon="el-icon-star-on" @click="handleChangeRole('member', row.user_id)"
                      :disabled="checkIfServiceProfileIsNotActive()">
                        {{ $t('Group.vice_leader') }}
                      </el-button>
                  </div>
                </div>
             </span>


             <div slot="transfer" slot-scope="{row}">
                 <el-tooltip :enterable="enterable" class="item" effect="dark" content="Transfer Service" placement="top-start" >
                     <el-button type="primary" plain size="mini" icon="el-icon-top-left" @click="eventTransferService(row.user_id)"
                     :disabled="checkIfServiceProfileIsNotActive()">
                       {{ $t('Transaction.transfer') }}
                      </el-button>
                 </el-tooltip>
             </div>

             <div slot="delete" slot-scope="{row}">
                 <el-tooltip :enterable="enterable" class="item" effect="dark" content="Remove Member" placement="top-start">
                      <el-button type="primary" plain size="mini" icon="el-icon-delete" @click="eventDeleteGroupMember(row.user_id)"
                      :disabled="checkIfServiceProfileIsNotActive()">
                        {{ $t('Common.delete') }}
                      </el-button>
                 </el-tooltip>
             </div>

        </data-table>
        <div class="alignRight" v-if="serviceSelected.length > 0">
          <el-button class="add-button" type="primary" size="mini" @click="nextStep" :disabled="checkIfServiceProfileIsNotActive()">
             {{ $t('Common.next').toUpperCase() }}
          </el-button>
        </div>

        <div class="alignRight" v-if="isPayService">
          Payment Mode :
          <el-radio-group v-model="paymode" size="small">
            <el-radio-button label="Ewallet"></el-radio-button>
            <el-radio-button label="Cash"></el-radio-button>
            <!-- <el-radio-button label="QR Code"></el-radio-button> -->
          </el-radio-group>&nbsp;
          <el-button class="add-button" type="primary" size="mini" @click="handlePayment" :disabled="checkIfServiceProfileIsNotActive()">
            {{ $t('Common.save') }}
          </el-button>
        </div>
    </div>

    <div style="margin-top:50px" v-else>
        <edit-form/>
   </div>

   </el-form>
  </div>

</template>


<script>
// components
import DataTable from '../../../components/datatable'
import GroupMenu from './group-menu.vue'
import ChangeRole from './change-role'
import TransferService from './transfer-service'
import EditForm from '../components/edit-service/edit-form'
import ActionList from './action-list'
import RetrivePayment from './retrive-payment'

import { mapGetters } from 'vuex'

export default {
  name: 'member-list',
  props: ['gdata', 'service_profile'],
  data () {
    return {
      paymode: 'Ewallet',
      ewallet : 0,
      leader_id: 0,
      packages:[],
      page: 1,
      perPage: 10,
      size: 10,
      loading: false,
      enterable: true,
      step: 1,
      selectedClient: [],
      isEditService: false,
      isWriteReport: false,
      isEditPayment: false,
      editPaymentAmount: [],
      editPaymentId: 0,
      isPayService: false,
      serviceSelected: [],
      expandedRows: [],
      qrData: [],
      form:{
        selected: [],
        payment: [],
        byMemberSelected: [],
        data: []
      },
      search: '',
      columns: [
        { prop: 'packages',
          minWidth: '80',
          type:'expand' },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '80',
          sortable: true
        },

        {
          prop: 'id',
          label: this.$t('Group.client_num'),
          minWidth: '40'
        },

        {
          prop: 'status',
          label: this.$t('Common.status'),
          minWidth: '40'
        },

        {
          prop: 'total_service_cost',
          label: this.$t('Transaction.total-cost'),
          minWidth: '60',
          sortable: true
        },

        {
          prop: 'total_sub',
          label: this.$t('Transaction.total-sub'),
          minWidth: '60'
        },

        {
          prop: 'is_vice_or_group_leader',
          label: '',
          minWidth: '120'

        },

        {
          prop: 'transfer',
          label: this.$t('Common.actions'),
          width: '110'
        },

        {
          prop: 'delete',
          label: '',
          width: '100'
        }
      ]
    }
  },

  computed: mapGetters({
    groups: 'groups'
  }),

  mounted() {

    this.$eventBus.$on('editService', (isEdit) => {
        this.isEditService = isEdit;
    });

    this.$eventBus.$on('writeReport', (isWrite) => {
      this.isWriteReport = isWrite;
    });

    this.$eventBus.$on('payService', (isPay) => {
      this.isPayService = isPay;
    });

    this.$eventBus.$on('changeStep', (step) => {
        this.step = step;
    });

    this.$eventBus.$on('refreshTable', (step) => {
          this.step = 1;
          this.serviceSelected = [];
          this.form.selected = [];
          this.isEditService = false;
          this.isWriteReport = false;
          if(this.$refs.table !== undefined) {
            this.$refs.table.getTableData();
          }
    });

    this.$eventBus.$on('centralizedReport', () => {

      let vm = this;
      this.$store.dispatch('callModal', {
        child_component: ActionList,
        modalWidth: '60%',
        content: {
            id: vm.$parent.$route.params.id
        }
      }) // call global modal state
    });
  },

  created () {
     this.ewallet = this.gdata.total_ewallet;
  },


  methods: {

    handleSelectAll(row){
        if(this.selectedClient.length === 0){
             row.packages.map((p,i) => {
               var serviceIndex = this.serviceSelected.findIndex(v => v.client_id === p.client_id && v.id === p.id);
               this.serviceSelected.splice(serviceIndex, 1);
             })
        }else{

          this.selectedClient.map((service,i) => {
             var serviceIndex = this.serviceSelected.findIndex(v => v.id === service.id && v.client_id === service.client_id);

             if(serviceIndex === -1){
                this.serviceSelected.push(service);
             }
         });

        }
    },


    handleSelection(val, row) {

          var selectedIndex = val.findIndex(v => v.id === row.id && v.client_id === row.client_id);

          var serviceIndex = this.serviceSelected.findIndex(v => v.id === row.id && v.client_id === row.client_id);

           if(serviceIndex === -1 && selectedIndex !== -1){
              this.serviceSelected.push(row);
           }else{
              this.serviceSelected.splice(serviceIndex, 1);
           }

    },

  handleSelectionChange(val) {
       this.selectedClient = val;
  },

  checkService(service){

      var serviceIndex = this.serviceSelected.findIndex(v => v.id === service.id);
      if(serviceIndex === -1){
         this.serviceSelected.push(service);
      }else{
         this.serviceSelected.splice(serviceIndex, 1);
      }
  },

  getFullPayment(row){
      var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));
      this.$set(this.form.payment, row.id, need_to_pay);
  },

    filterInput(e, id){
      this.form.payment[id] = e.replace(/[^0-9]+/g, '');
    },

  eventFullPayment(row){

        var err = false;
        var vm = this;
        var payment = [];
        var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));

        if(need_to_pay > this.ewallet){
            err = true;
        }
        else{
            payment.push(
              {
                id: row.id,
                amount: need_to_pay,
                client_id: row.client_id,
                total_cost: need_to_pay
              }
            );
        }

        if(!err){

        this.$confirm('Are you sure you want to save the data? If you continue you cannot undo this action. Continue?', 'Warning', {
         confirmButtonText: 'OK',
         cancelButtonText: 'Cancel',
         type: 'warning'
        }).then(() => {

         this.$store.dispatch('addGroupPayment',{
           group_id: vm.$parent.$route.params.id,
           mode: 'member',
           payments: payment
         })
         .then(res => {

             if (res.code === 200) {

               this.$message({
                 showClose: true,
                 message: this.$t('Group.service_successful_update'),
                 type: 'success',
                 center: true
               });

               this.$refs.table.getTableData();
               this.$eventBus.$emit('syncGroupData');
               this.ewallet -= need_to_pay;
               this.form.payment = [];
               this.form.selected = [];
               this.form.byMemberSelected = [];

             } else {
               this.$message({
                 showClose: true,
                 message: this.$t('Common.error_saving_data'),
                 type: 'error',
                 center: true
               });
             }
         });

       }).catch(() => {
         this.$message({
           type: 'info',
           message: 'Saving canceled'
         });
       });

     }
     else if(err){
        this.$message({
            showClose: true,
            message: 'Insufficient Ewallet Balance!',
            type: 'warning',
            center: true
        });
     }

  },

  nextStep(){

     if(this.isEditService){
        this.$store.dispatch('storeClientServices',
          this.serviceSelected
        ).then(res => {
          this.step = 2
        })
     }


     if(this.isWriteReport){

        if(this.serviceSelected.length > 0){

          var clientTempServiceIds = [];
          var clientTempIds = [];

          this.serviceSelected.map((item,index) => {
              clientTempServiceIds.push(item.id);
              clientTempIds.push(item.client_id);
          })

          let clientIds = JSON.stringify(clientTempIds);
          let clientServiceIds = JSON.stringify(clientTempServiceIds);
          let groupId = this.$parent.$route.params.id;
          // let redirect = JSON.stringify({route:"groups-profile", params: this.$parent.$route.params.id});
          const redirect = 'redirect'

          let routeData = this.$router.resolve(
            {
              name: 'write-report-client-services',
              params: { clientIds, clientServiceIds, groupId, redirect}
            }
          );
          window.open(routeData.href, '_blank');
        }
     }

  },

  // TODO
  handleSearch(){
    this.$refs.table.getTableData();
  },

  eventTransferService(member_id){
    this.$store.dispatch('callModal', { child_component: TransferService, title: this.$t('Group.transfer_service'), content: {client_id:member_id} })
  },

  savePayment(row){

    let amount = parseFloat(this.editPaymentAmount[row.id]);
    var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));

    let vm = this;

    if(amount > parseFloat(row.payment_amount)){
      this.$message({
        showClose: true,
        message: "Please enter lower amount!",
        type: 'error',
        center: true
      });
    }else{

      this.$confirm('Are you sure you want to retrieve the payment with the amount of Php'+ amount +' ?', 'Warning', {
           confirmButtonText: 'OK',
           cancelButtonText: 'Cancel',
           type: 'warning'
          }).then(() => {

          this.$store.dispatch('editGroupServicePayment',{
            group_id: vm.$parent.$route.params.id,
            amount: amount,
            service_id: row.id,
            client_id: row.client_id,
            total_cost: need_to_pay
          })
          .then(res => {
              if(res.code === 200) {

                  this.$message({
                    showClose: true,
                    message: this.$t('Group.service_successful_update'),
                    type: 'success',
                    center: true
                  });

                  this.$refs.table.getTableData();
                  this.$eventBus.$emit('syncGroupData');
                  this.ewallet += this.editPaymentAmount[row.id];
                  this.form.payment = [];
                  this.form.selected = [];
                  this.form.byMemberSelected = [];
                  this.isEditPayment = false;
                  this.editPaymentId = 0;

              }else{
                this.$message({
                  showClose: true,
                  message: this.$t('Common.error_saving_data'),
                  type: 'error',
                  center: true
                });
              }
          }).catch(() => {
            this.$message({
              type: 'info',
              message: 'Saving canceled'
            });
          });
        })

      }

  },



  changePayment(row){
      this.isEditPayment = true;
      let vm = this;
      this.$store.dispatch('callModal', {
            child_component: RetrivePayment,
            modalWidth: '60%',
            content: {
              data: row,
              group_id: vm.$parent.$route.params.id
            }
      }) // call global modal state
  },


  cancelPayment(row){
      this.isEditPayment = false;
      this.editPaymentId = 0;
  },


  handlePayment(){
    var vm = this;
    var payment = [];
    var err = false;
    var totalpay = 0;

    let data = this.form.data;

    data.map((d,i) => {

      if(d.packages.length > 0){

        d.packages.map((itemPackage,i) => {
            if(typeof this.form.payment[itemPackage.id] != 'undefined' && this.form.payment[itemPackage.id] != '' && this.form.payment[itemPackage.id] > 0){
                var need_to_pay = ((parseFloat(itemPackage.cost) + parseFloat(itemPackage.charge) + parseFloat(itemPackage.tip) + parseFloat(itemPackage.com_client) + parseFloat(itemPackage.com_agent))) - (parseFloat(itemPackage.discount)  + parseFloat(itemPackage.payment_amount));

                if(parseFloat(this.form.payment[itemPackage.id]) > this.ewallet && this.paymode == 'Ewallet'){
                    err = true;
                    totalpay += parseFloat(this.form.payment[itemPackage.id]);
                }
                else{
                    payment.push(
                      {
                        id: itemPackage.id,
                        service: itemPackage.detail,
                        amount:this.form.payment[itemPackage.id],
                        client_id: itemPackage.client_id,
                        total_cost: need_to_pay
                      }
                    );
                    totalpay += parseFloat(this.form.payment[itemPackage.id]);
                }
            }
        });
      }

      });


        if(payment.length > 0 && !err && (totalpay <= this.ewallet || this.paymode != 'Ewallet')){

        this.$confirm('Are you sure you want to save the data? If you continue you cannot undo this action. Continue?', 'Warning', {
         confirmButtonText: 'OK',
         cancelButtonText: 'Cancel',
         type: 'warning'
        }).then(() => {

         this.$store.dispatch('addGroupPayment',{
           group_id: vm.$parent.$route.params.id,
           mode: 'members',
           payments: payment,
           paymode: this.paymode
         })
         .then(res => {

             if (res.code === 200) {

               this.$message({
                 showClose: true,
                 message: this.$t('Group.service_successful_update'),
                 type: 'success',
                 center: true
               });

                 if(this.paymode == "QR Code"){
                   this.qrData = res.data;
                   this.payQrCode();
                 }

                 this.$refs.table.getTableData();
                 this.$eventBus.$emit('syncGroupData');
                 this.ewallet -= totalpay;
                 this.form.payment = [];
                 this.form.selected = [];
                 this.form.byMemberSelected = [];
                 this.expandedRows = [];

             } else {
               this.$message({
                 showClose: true,
                 message: this.$t('Common.error_saving_data'),
                 type: 'error',
                 center: true
               });
             }
         });


       }).catch(() => {
         this.$message({
           type: 'info',
           message: 'Saving canceled'
         });
       });

     }
     else if(err && this.paymode == 'Ewallet'){
          this.$message({
              showClose: true,
              dangerouslyUseHTMLString: true,
              message: 'Insufficient Ewallet Balance! <br><br> <b>Ewallet Balance :'+this.ewallet + '</b><br><br><b style="color: red">Total Payment : '+totalpay+'</b>',
              type: 'warning',
              center: true
          });
       }
     // else if(totalpay > this.ewallet){
     //      this.$message({
     //          showClose: true,
     //          dangerouslyUseHTMLString: true,
     //          message: 'Insufficient Ewallet Balance! <br><br> <b>Ewallet Balance :'+this.ewallet + '</b><br><br><b style="color: red">Total Payment : '+totalpay+'</b>',
     //          type: 'warning',
     //          center: true
     //      });
     //   }
     else{
       this.$message({
         showClose: true,
         message: this.$t('Common.fillup_amount'),
         type: 'error',
         center: true
       });
     }


  },

  payQrCode(){
    let id = this.qrData.id
    let routeData = this.$router.resolve(
      {
        name: 'pay-service-qr-code',
        params: {id}
      }
    );
    window.open(routeData.href, '_blank');
  },

  handleChangeAmount (service) {
    if(this.form.payment[service.id] < 0){
      this.$message({
        message: this.$t("Common.input_more_than_zero"),
        type: 'error',
        center: true
      });
      this.$set(this.form.payment, service.id, 0)
    }else {
      var totalCost = ((parseFloat(service.cost) + parseFloat(service.charge) + parseFloat(service.tip) + parseFloat(service.com_client) + parseFloat(service.com_agent))) - (parseFloat(service.discount) + parseFloat(service.payment_amount));
      if (this.form.payment[service.id] > totalCost) {
        this.$set(this.form.payment, service.id, totalCost)
      }
    }
  },

  handleActionPay(data){

    var serviceIndex = this.expandedRows.findIndex(v => v.index === data.index);

    if(serviceIndex == -1){
      this.$set(this.form.byMemberSelected, data.index, true)
      this.$refs.table.toggleRowExpansion(data);
    }else{
      if(this.form.byMemberSelected[data.index]){
        this.$set(this.form.byMemberSelected, data.index, false)
      }else{
        this.$set(this.form.byMemberSelected, data.index, true)
      }
    }

  },

  eventExpandChange(row, expandedRows){

    this.expandedRows = expandedRows;
    var serviceIndex = expandedRows.findIndex(v => v.index === row.index);

    if(serviceIndex === -1){
      this.$set(this.form.byMemberSelected, row.index, false)
    }else{
       this.$store.dispatch('getServicesByMember',{
         group_id: row.group_id,
         client_id: row.user_id
       })
       .then(res => {
          row.packages = res.data;
       });
    }

    return row;

  },


  eventDeleteGroupMember(member_id){

    let vm = this;

    this.$confirm(this.$t('Group.delete_member_mess'), this.$t('Branch.warning'), {
       confirmButtonText: this.$t('Common.ok'),
       cancelButtonText: this.$t('Common.cancel'),
       type: 'warning'
     }).then(() => {

        return this.$store.dispatch('deleteGroupMember',{
            group_id: vm.$parent.$route.params.id,
            member_id: member_id
        })
        .then(res => {
          if(res.code === 200){
            this.$message({
              type: 'success',
              message: this.$t('Group.delete_member_complete')
            });
           vm.$refs.table.getTableData();
         }else{
           this.$message({
             type: 'error',
             message: res.message
           });
         }
        })

    }).catch(() => {
      this.$message({
        type: 'info',
        message: this.$t('Group.delete_member_cancelled')
      });
   });
  },

  getMembers(){
       this.leader_id = (typeof this.groups.group.leader_id === 'undefined') ? 0 : this.groups.group.leader_id;
       this.$refs.table.getTableData();
  },

  getData ({ page, query, sortParams, size}) {
      let vm = this;
      if(sortParams.length == 0){
        sortParams = 'name-desc'
      }

      return this.$store.dispatch('getGroupByMembers',{
          id: vm.$parent.$route.params.id,
          ids: [],
          page: 'page=' + page,
          sort:  sortParams,
          search: 'search=' + this.search,
          perPage: size,
          from: 'from=',
          leader_id: (typeof this.groups.group === 'undefined') ? 0 : this.groups.group.leader_id
      })
      .then(res => {
          this.leader_id = (typeof this.groups.group === 'undefined') ? 0 : this.groups.group.leader_id;

          console.log("byMember", res.data);

          this.form.data = res.data;

          return {
            data: res.data,
            total: res.total,
            size: size
          }
      })
  },

  assingRole(payload){
    this.$confirm(this.replaceMessage(this.$t('Group.change_role_mess'), payload.message), this.$t('Branch.warning'), {
        confirmButtonText: this.$t('Common.ok'),
       cancelButtonText: this.$t('Common.cancel'),
       type: 'warning'
     }).then(() => {
          this.$store.dispatch('assignGroupRole',{
              group_id: this.$parent.$route.params.id,
              client_id: payload.client_id,
              role: payload.role
          })
          .then(res => {
            if(res.data.code === 200){
              this.$message({
                type: 'success',
                message: this.$t('Group.assign_role_complete')
              });
             this.$refs.table.getTableData();
            }
          })
     }).catch(() => {
       this.$message({
         type: 'info',
         message: this.$t('Group.assign_role_cancelled')
       });
    });

  },

  replaceMessage(message, data) {
    return message.replace(':message', data)
  },

  handleChangeRole (role, clientId) {

      switch(role){
        case 'vice-leader':
            this.assingRole({client_id: clientId,
            role: role,
            message: this.$t('Group.vice_leader')});
        break;

        case 'member':
            this.$store.dispatch('callModal', { child_component: ChangeRole, title: this.$t('Group.change_member_type'), content: {client_id:clientId} })
        break;

      }
  },

  viewMember(member_id){
      window.open('#/groups/profile/'+member_id, '_blank');
  },

    checkIfServiceProfileIsNotActive () {
      if(this.service_profile !== null && this.service_profile !== undefined) {

        if(parseInt(this.service_profile.is_active)===0) {
          return true;
        } else {
          return false;
        }

      }

      return false;
    },

 },

  components: { DataTable, GroupMenu, TransferService, EditForm},
}
</script>


<style lang="scss">

.alignRight {
  text-align: right;
  align-items: right;
  right:5px;
  width:'100%';
}


.el-icon-takeaway-box{
     color:#4183D7;
}
.role-btn{
  width:170px;
}
.strike{
  text-decoration: line-through;
}

</style>
