<template>
  <div>
    <el-form :model="retrivePaymentForm" :rules="retriveRule" ref="retrivePaymentForm">

      <el-form-item >
        <label>Retrive Payment for <b>{{ detail }}</b></label>
      </el-form-item>

      <el-form-item prop="amount">
        <el-input type="number"  v-model="retrivePaymentForm.amount" autocomplete="off" placeholder="Amount"></el-input>
      </el-form-item>

      <el-form-item prop="reason">
        <el-input type="textarea" v-model="retrivePaymentForm.reason" autocomplete="off" placeholder="Reason"></el-input>
      </el-form-item>
    </el-form>
    <el-button type="primary" @click="savePayment('retrivePaymentForm')" :disabled="!retrivePaymentForm.display">Submit
    </el-button>
    <el-button @click="resetForm('retrivePaymentForm')">Reset</el-button>
  </div>
</template>

<script>

  export default {
    name: 'retrive-payment',
    data () {
      return {
        retrivePaymentForm: {
          display: true,
          id: '',
          amount: '',
          reason: ''
        },
        detail:'',
        group_id: 0
      }
    },
    computed: {
      retriveRule () {
        return {
          reason: [
            {
              required: true,
              message: 'Reason is required'
            }
          ],
          amount: [
            {
              required: true,
              message: 'Amount is required'
            }
          ]
        }
      }
    },
    methods: {


      savePayment(formName){

        let amount = parseFloat(this.retrivePaymentForm.amount);
        let reason = this.retrivePaymentForm.reason;
        let d = this.$parent.$parent.content;
        let row  = d.data;

        var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));



        let vm = this;

        this.$refs[formName].validate((valid) => {

        if (valid) {

        if(amount === '' && reason === ''){
          this.$message({
            showClose: true,
            message: "Please enter required fields",
            type: 'error',
            center: true
          });
        }

        else if(amount > parseFloat(row.payment_amount)){

          this.$message({
            showClose: true,
            message: "Please enter lower amount!",
            type: 'error',
            center: true
          });
        }

        else{

          this.$confirm('Are you sure you want to retrieve the payment with the amount of Php'+ amount +' ?', 'Warning', {
               confirmButtonText: 'OK',
               cancelButtonText: 'Cancel',
               type: 'warning'
              }).then(() => {

              this.$store.dispatch('editGroupServicePayment',{
                group_id: d.group_id,
                amount: amount,
                reason: reason,
                service_id: row.id,
                client_id: row.client_id,
                total_cost: need_to_pay
              })
              .then(res => {
                  if(res.code === 200) {

                      this.$message({
                        showClose: true,
                        message: this.$t('Group.service_successful_update'),
                        type: 'success',
                        center: true
                      });

                      this.$parent.$emit('close');
                      this.$eventBus.$emit('refreshTable');
                      this.$eventBus.$emit('syncGroupData');

                  }else{
                    this.$message({
                      showClose: true,
                      message: this.$t('Common.error_saving_data'),
                      type: 'error',
                      center: true
                    });
                  }
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: 'Saving canceled'
                });
              });
            })
          }
         }

          else {
            this.$message({
              type: 'error',
              message: 'Please fill up the required fields!'
            })
            return false
          }

        })
      },



      retrivePayment (formName) {

        console.log('here');

        this.$refs[formName].validate((valid) => {
          //if (valid) {
          //   this.remarksForm.display = false
          //   const fd = new FormData()
          //   fd.append('group_id', this.remarksForm.id)
          //   fd.append('remark', this.remarksForm.remark)
          //   this.$store.dispatch('addGroupRemark', fd).then(response => {
          //     if (response.status === 'Success') {
          //       this.$parent.$emit('close')
          //
          //       this.$eventBus.$emit('syncGroupData')
          //     }
          //   }).catch(error => {
          //     if (error.response.status === 500) {
          //       //this.addGroupRemarks(formName)
          //     }
          //   })
          // } else {
          //   this.$message({
          //     type: 'error',
          //     message: 'Please fill up the required fields!'
          //   })
          //   return false
          // }
        })


      },
      resetForm (formName) {
        process.nextTick(() => {
          this.$refs[formName].resetFields()
        })
      },
    },
    created () {
      //this.remarksForm.id = this.$parent.$parent.content.id
      let d = this.$parent.$parent.content;

      this.detail = d.data.detail;
      this.group_id = d.group_id;
      console.log("content",d);
      //this.id = this.$parent.$parent.content.id
      //this.name = this.$parent.$parent.content.name
      //this.group_id  = this.$parent.$parent.content.group_id
    }
  }
</script>

<style lang="scss" scoped>
  .body-container {
    .header {
      font-size: large;
    }

    .body {

    }

    .footer {

    }
  }
</style>
