<template>
  <div ref="serviceList">

    <el-row>
        <el-col :span="18">  <group-menu ref="group-menu"></group-menu></el-col>
        <el-col :span="6">
           <div  v-if="(step === 1)" class="alignRight" >
            <el-input :placeholder="$t('Service.search_service')" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%"></el-input>
          </div>
        </el-col>
    </el-row>


    <el-form   :model="form" :inline="true" label-width="80px">

    <div v-if="(step === 1)">

    <data-table :get-data="getData"
          ref="table"
          :columns="columns"
          :expand-table="eventExpandChange"
          >

        <div slot="bydates" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="5">Member</el-col>
                 <el-col :span="3">{{ $t('Common.status') }}</el-col>
                 <el-col :span="3">{{ $t('Clients.charge') }}</el-col>
                 <el-col :span="3">{{ $t('Common.discount') }}</el-col>
                 <el-col :span="3">{{ $t('Common.payment') }}</el-col>
                 <el-col :span="3">{{ $t('Common.sub') }}</el-col>
                 <el-col :span="3" v-if="isPayService">{{ $t('Common.amount') }}</el-col>
                 <el-col :span="3" v-if="!isPayService">{{ $t('Common.action') }}</el-col>

               </el-row>

               <div v-for="bydate in row.bydates">
                  <el-col>

                   <div class="section-header"><b>{{bydate.sdate  | commonDate}}</b></div>

                    <el-row v-for="member in bydate.members" class="row-content">
                      <el-col :span="1" v-if="isEditService || isWriteReport">
                        <el-checkbox :disabled="(member.service.status === 'cancelled') ? true : false" v-model="form.selected[member.service.id]" @change="checkService(member.service)"></el-checkbox>
                      </el-col>
                      <el-col :span="5">
                        <router-link :to="{ name: 'clients-profile', params: { id: member.client_id } }" target="_blank">
                          <b>{{member.first_name}} {{member.last_name}}</b>
                        </router-link>
                      </el-col>
                      <el-col :span="3"><span>{{ (member.service.active === 0 && member.service.status !== 'cancelled') ?  "disabled" : member.service.status}}</span></el-col>

                      <el-col :span="3">
                            <div v-if="member.service.active != 0 && member.service.status != 'cancelled'">{{((parseFloat(member.service.cost) + parseFloat(member.service.charge) + parseFloat(member.service.tip) + parseFloat(member.service.com_client) + parseFloat(member.service.com_agent))) | currency }}</div>
                            <div v-else>0</div>
                      </el-col>
                      <el-col :span="3">
                            <div v-if="member.service.discount != 0 && member.service.discount_details !== null" >
                             <el-tooltip class="item" effect="dark" :content="('Php'+ member.service.discount_details.amount + ' - ' + member.service.discount_details.reason +' ('+ member.service.discount_details.created_at +')' )" placement="top-start">
                              <div>{{member.service.discount}}</div>
                             </el-tooltip>
                           </div>
                            <div v-else>
                                <div>{{member.service.discount}}</div>
                            </div>
                      </el-col>

                      <el-col :span="3" v-if="!form.byServiceSelected[row.index]">

                        <div v-if="member.service.payment_details != '' && member.service.payment_details !== null" >

                          <div v-if="isEditPayment && (editPaymentId == member.service.id)">
                            <el-input type="number"  placeholder="0.00"  maxlength="200" size="mini" v-model="editPaymentAmount[member.service.id]" ></el-input>
                          </div>




                          <div v-else>
                            <el-tooltip placement="top">
                                <div slot="content" v-html="member.service.payment_details.reason"></div>
                                <span style="color: #1D8CE0; cursor: default">
                                  {{  (member.service.payment_amount != null && member.service.active == 1) ? parseFloat(member.service.payment_amount) : 0 | currency}}
                                </span>
                            </el-tooltip>
                          </div>

                        </div>

                        <div v-else>
                            <div>{{ ( member.payment_amount != null && member.active == 1 && member.status != 'cancelled' ? parseFloat(member.payment_amount) : 0) | currency}}</div>
                        </div>

                      </el-col>

                      <el-col :span="3" v-if="isPayService">



                        <div style="text-align:center" v-if="member.service.is_full_payment === 1 || member.service.active == 0 || member.service == 'cancelled'">
                          <el-tooltip class="item" effect="dark" :content="$t('Common.paid')" placement="top-start">
                            <el-input type="number"  disabled  maxlength="200" size="mini" :value="member.service.payment_amount"></el-input>
                          </el-tooltip>
                        </div>
                      </el-col>

                      <el-col :span="3" >
                        <div v-if="member.service.active != 0 && member.service.status !== 'cancelled'">{{(parseFloat(member.service.discount)  + parseFloat(member.service.payment_amount)) - ((parseFloat(member.service.cost) + parseFloat(member.service.charge) + parseFloat(member.service.tip) + parseFloat(member.service.com_client) + parseFloat(member.service.com_agent))) | currency }}</div>
                        <div v-else>0</div>
                      </el-col>


                      <el-col :span="3" v-if="isPayService">
                        <div style="text-align:center" v-if="member.service.is_full_payment !== 1 && member.service.active == 1 && member.service.status !='cancelled'">
                          <el-input  @input="filterInput($event, member.service.id)" placeholder="0.00" maxlength="200" size="mini" v-model="form.payment[member.service.id]" @change="handleChangeAmount(member.service)" >
                            <el-button slot="append" type="primary" plain size="mini" icon="el-icon-money" @click="getFullPayment(member.service)"/>
                          </el-input>
                        </div>
                      </el-col>



                      <el-col :span="3" v-if="!isPayService">
                           <div v-if="editPaymentId != member.service.id && (member.service.payment_amount > 0)">
                            <el-row>
                                <el-col :span="(member.service.payment_amount > 0) ? 12 : 0" v-if="member.service.payment_amount > 0">
                                 <div v-if="!form.byServiceSelected[row.index]">
                                    <el-tooltip class="item" effect="dark" content="Retrive Payment" placement="top-start">
                                       <el-button   type="primary" plain size="mini" icon="el-icon-edit-outline" @click="changePayment(member.service)"></el-button>
                                    </el-tooltip>
                                 </div>
                               </el-col>
                              </el-row>
                          </div>
                      </el-col>


                    </el-row>
                  </el-col>




               </div>


           </div>

           <div slot="detail" slot-scope="{row}" >
             <el-row>
               <el-col :span="3">
                  <div class="badge">{{row.service_count}}</div>
                  <!--<el-button type="danger" size="mini">{{row.service_count}}</el-button>-->
               </el-col>
               <el-col :span="21">
                 {{row.detail}}
               </el-col>
             </el-row>
          </div>

          <b slot="status" slot-scope="{row}">
           {{row.status}}
          </b>

          <b slot="service_date" slot-scope="{row}">
          {{row.latest_date  | commonDate}}
          </b>

           <b slot="total_service_cost" slot-scope="{row}">
            {{row.total_service_cost | currency}}
          </b>

          <b slot="total_sub" slot-scope="{row}">
            {{row.total_sub | currency}}
          </b>



    </data-table>

    <div class="alignRight" v-if="serviceSelected.length > 0">
       <el-button class="add-button" type="primary" size="mini" @click="nextStep">{{ $t('Common.next').toUpperCase() }}</el-button>
    </div>

    <div class="alignRight" v-if="isPayService">
      Payment Mode :
      <el-radio-group v-model="paymode" size="small">
        <el-radio-button label="Ewallet"></el-radio-button>
        <el-radio-button label="Cash"></el-radio-button>
        <!-- <el-radio-button label="QR Code"></el-radio-button> -->
      </el-radio-group>&nbsp;
      <el-button class="add-button" type="primary" size="mini" @click="handlePayment">{{ $t('Common.save') }}</el-button>
    </div>

  </div>

    <div style="margin-top:10px" v-else>
        <edit-form/>
   </div>


  </el-form>

  </div>
</template>


<script>
// components
import GroupMenu from './group-menu.vue'
import DataTable from '../../../components/datatable'
import EditForm from '../components/edit-service/edit-form'
import ActionList from './action-list'
import RetrivePayment from './retrive-payment'

export default {
  name: 'service-list',
  props: ['gdata', 'service_profile'],
  data () {
    return {
      paymode: 'Ewallet',
      ewallet : 0,
      loading: false,
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      isEditService: false,
      isWriteReport: false,
      isEditPayment: false,
      editPaymentAmount: [],
      editPaymentId: 0,
      isPayService: false,
      serviceSelected: [],
      expandedRows: [],
      qrData: [],
      form:{
        selected: [],
        payment: [],
        byServiceSelected: [],
        data: []
      },
      columns: [
        {
          prop: 'bydates',
          minWidth: '120',
          type:'expand'
        },
        {
          prop: 'detail',
          label: this.$t('Common.service_name'),
          minWidth: '120'
        },

        {
          prop: 'status',
          label: this.$t('Common.status'),
          minWidth: '60'
        },

        {
          prop: 'service_date',
          label: this.$t('Group.latest_date'),
          minWidth: '80'
        },

        {
          prop: 'total_service_cost',
          label: this.$t('Transaction.total-service-cost'),
          minWidth: '70',
          sortable: true
        },

        {
          prop: 'total_sub',
          label: this.$t('Transaction.total-sub'),
          minWidth: '70'
        }

      ]
    }
  },

  mounted() {

    this.$eventBus.$on('editService', (isEdit) => {
        this.isEditService = isEdit;
    });

    this.$eventBus.$on('writeReport', (isWrite) => {
      this.isWriteReport = isWrite;
    });

    this.$eventBus.$on('changeStep', (step) => {
        this.step = step;
    });

    this.$eventBus.$on('payService', (isPay) => {
      this.isPayService = isPay;
    });

    this.$eventBus.$on('refreshTable', (step) => {
          this.step = 1;
          this.serviceSelected = [];
          this.form.selected = [];
          this.isEditService = false;
          this.isWriteReport = false;
          if(this.$refs.table !== undefined) {
            this.$refs.table.getTableData();
          }
    });

    this.$eventBus.$on('centralizedReport', () => {

      let vm = this;
      this.$store.dispatch('callModal', {
        child_component: ActionList,
        modalWidth: '60%',
        content: {
            id: vm.$parent.$route.params.id
        }
      }) // call global modal state
    });


  },

  created () {
     this.ewallet = this.gdata.total_ewallet;
  },

  methods: {

    checkService(service){
        var serviceIndex = this.serviceSelected.findIndex(v => v.id === service.id);
        if(serviceIndex === -1){
           this.serviceSelected.push(service);
        }else{
           this.serviceSelected.splice(serviceIndex, 1);
        }
    },

    nextStep(){

       if(this.isEditService){
          this.$store.dispatch('storeClientServices',
            this.serviceSelected
          ).then(res => {
            this.step = 2
          })
       }

       if(this.isWriteReport){

          if(this.serviceSelected.length > 0){

            var clientTempServiceIds = [];
            var clientTempIds = [];

            this.serviceSelected.map((item,index) => {
                clientTempServiceIds.push(item.id);
                clientTempIds.push(item.client_id);
            })

            let clientIds = JSON.stringify(clientTempIds);
            let clientServiceIds = JSON.stringify(clientTempServiceIds);
            let groupId = this.$parent.$route.params.id;
            // let redirect = JSON.stringify({route:"groups-profile", params: this.$parent.$route.params.id});
            const redirect = 'redirect'

            let routeData = this.$router.resolve(
              {
                name: 'write-report-client-services',
                params: { clientIds, clientServiceIds, groupId, redirect}
              }
            );
            window.open(routeData.href, '_blank');
          }
       }
    },

    getGroupByService(){
         this.$refs.table.getTableData();
    },

    // TODO
    handleSearch(){
      this.$refs.table.getTableData();
    },

    handleActionPay(data){

      var serviceIndex = this.expandedRows.findIndex(v => v.index === data.index);

      if(serviceIndex == -1){
        this.$set(this.form.byServiceSelected, data.index, true)
        this.$refs.table.toggleRowExpansion(data);
      }else{
        if(this.form.byServiceSelected[data.index]){
          this.$set(this.form.byServiceSelected, data.index, false)
        }else{
          this.$set(this.form.byServiceSelected, data.index, true)
        }
      }
    },

    eventExpandChange(row, expandedRows){

      this.expandedRows = expandedRows;
      var serviceIndex = expandedRows.findIndex(v => v.index === row.index);

      if(serviceIndex === -1){
        this.$set(this.form.byServiceSelected, row.index, false)
      }else{
         this.$store.dispatch('getMemberByService',{
           group_id: row.group_id,
           service_id: row.service_id
         }).then(res => {
              row.bydates = res.data;
         });
      }

    },


    savePayment(row){

      let amount = parseFloat(this.editPaymentAmount[row.id]);
      var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));

      let vm = this;

      if(amount > parseFloat(row.payment_amount)){
        this.$message({
          showClose: true,
          message: "Please enter lower amount!",
          type: 'error',
          center: true
        });
      }else{

        this.$confirm('Are you sure you want to retrieve the payment with the amount of Php'+ amount +' ?', 'Warning', {
             confirmButtonText: 'OK',
             cancelButtonText: 'Cancel',
             type: 'warning'
            }).then(() => {

            this.$store.dispatch('editGroupServicePayment',{
              group_id: vm.$parent.$route.params.id,
              amount: amount,
              service_id: row.id,
              client_id: row.client_id,
              total_cost: need_to_pay
            })
            .then(res => {
                if(res.code === 200) {

                    this.$message({
                      showClose: true,
                      message: this.$t('Group.service_successful_update'),
                      type: 'success',
                      center: true
                    });

                    this.$refs.table.getTableData();
                    this.$eventBus.$emit('syncGroupData');
                    this.ewallet += this.editPaymentAmount[row.id];
                    this.form.payment = [];
                    this.form.selected = [];
                    this.form.byServiceSelected = [];
                    this.isEditPayment = false;
                    this.editPaymentId = 0;

                }else{
                  this.$message({
                    showClose: true,
                    message: this.$t('Common.error_saving_data'),
                    type: 'error',
                    center: true
                  });
                }
            }).catch(() => {
              this.$message({
                type: 'info',
                message: 'Saving canceled'
              });
            });
          })

        }

    },


    changePayment(row){
        this.isEditPayment = true;
        let vm = this;
        this.$store.dispatch('callModal', {
              child_component: RetrivePayment,
              modalWidth: '60%',
              content: {
                data: row,
                group_id: vm.$parent.$route.params.id
              }
        }) // call global modal state
    },


    cancelPayment(row){
        this.isEditPayment = false;
        this.editPaymentId = 0;
    },

    getFullPayment(row){
        var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));
        this.$set(this.form.payment, row.id, need_to_pay);
    },

    filterInput(e, id){
      this.form.payment[id] = e.replace(/[^0-9]+/g, '');
    },

    eventFullPayment(row){

          var err = false;
          var vm = this;
          var payment = [];
          var need_to_pay = ((parseFloat(row.cost) + parseFloat(row.charge) + parseFloat(row.tip) + parseFloat(row.com_client) + parseFloat(row.com_agent))) - (parseFloat(row.discount)  + parseFloat(row.payment_amount));

          if(need_to_pay > this.ewallet){
              err = true;
          }
          else{
              payment.push(
                {
                  id: row.id,
                  amount: need_to_pay,
                  client_id: row.client_id,
                  total_cost: need_to_pay
                }
              );
          }

          if(!err){

          this.$confirm('Are you sure you want to save the data? If you continue you cannot undo this action. Continue?', 'Warning', {
           confirmButtonText: 'OK',
           cancelButtonText: 'Cancel',
           type: 'warning'
          }).then(() => {

           this.$store.dispatch('addGroupPayment',{
             group_id: vm.$parent.$route.params.id,
             mode: 'service',
             payments: payment
           })
           .then(res => {

               if (res.code === 200) {

                 this.$message({
                   showClose: true,
                   message: this.$t('Group.service_successful_update'),
                   type: 'success',
                   center: true
                 });

                 this.$refs.table.getTableData();
                 this.$eventBus.$emit('syncGroupData');
                 this.ewallet -= need_to_pay;
                 this.form.payment = [];
                 this.form.selected = [];
                 this.form.byServiceSelected = [];

               } else {
                 this.$message({
                   showClose: true,
                   message: this.$t('Common.error_saving_data'),
                   type: 'error',
                   center: true
                 });
               }
           });

         }).catch(() => {
           this.$message({
             type: 'info',
             message: 'Saving canceled'
           });
         });

       }
       else if(err){
          this.$message({
              showClose: true,
              message: 'Insufficient Ewallet Balance!',
              type: 'warning',
              center: true
          });
       }

    },



    handleChangeAmount (service) {
      if(this.form.payment[service.id] < 0) {
        this.$message({
          message: this.$t("Common.input_more_than_zero"),
          type: 'error',
          center: true
        });
        this.$set(this.form.payment, service.id, 0)
        var totalCost = ((parseFloat(service.cost) + parseFloat(service.charge) + parseFloat(service.tip) + parseFloat(service.com_client) + parseFloat(service.com_agent))) - (parseFloat(service.discount) + parseFloat(service.payment_amount));
        if (this.form.payment[service.id] > totalCost) {
          this.$set(this.form.payment, service.id, totalCost)
        }
      }
    },

    handlePayment(){
      var vm = this;
      var payment = [];
      var err = false;
      var totalpay = 0;

      let data = this.form.data;

       data.map((d,i) => {

        if(d.bydates.length > 0){

          d.bydates.map((itemByDates,i) => {
            itemByDates.members.map((itemMember,j) => {
              if(typeof this.form.payment[itemMember.service.id] != 'undefined'  && this.form.payment[itemMember.service.id] != '' && this.form.payment[itemMember.service.id] > 0){
                  var need_to_pay = ((parseFloat(itemMember.service.cost) + parseFloat(itemMember.service.charge) + parseFloat(itemMember.service.tip) + parseFloat(itemMember.service.com_client) + parseFloat(itemMember.service.com_agent))) - (parseFloat(itemMember.service.discount)  + parseFloat(itemMember.service.payment_amount));
                  if(parseFloat(this.form.payment[itemMember.service.id]) > this.ewallet && this.paymode == 'Ewallet'){
                      err = true;
                      totalpay += parseFloat(this.form.payment[itemMember.service.id]);
                  }
                  else{
                    payment.push(
                      {
                        id: itemMember.service.id,
                        service:itemMember.service.detail,
                        amount:this.form.payment[itemMember.service.id],
                        client_id: itemMember.service.client_id,
                        total_cost: need_to_pay
                      }
                    );
                    totalpay += parseFloat(this.form.payment[itemMember.service.id]);
                  }
              }
            });
          });
        }
      });

      if(payment.length > 0 && !err && (totalpay <= this.ewallet || this.paymode != 'Ewallet')){

          this.$confirm('Are you sure you want to save the data? If you continue you cannot undo this action. Continue?', 'Warning', {
           confirmButtonText: 'OK',
           cancelButtonText: 'Cancel',
           type: 'warning'
          }).then(() => {

           this.$store.dispatch('addGroupPayment',{
             group_id: vm.$parent.$route.params.id,
             mode: 'service',
             payments: payment,
             paymode: this.paymode
           })
           .then(res => {

               if (res.code === 200) {

                 this.$message({
                   showClose: true,
                   message: this.$t('Group.service_successful_update'),
                   type: 'success',
                   center: true
                 });

                 if(this.paymode === "QR Code"){
                   this.qrData = res.data;
                   this.payQrCode();
                 }

                 this.$refs.table.getTableData();
                 this.$eventBus.$emit('syncGroupData');
                 this.ewallet -= totalpay;
                 this.form.payment = [];
                 this.form.selected = [];
                 this.form.byServiceSelected = [];
                 this.expandedRows = [];

               } else {
                 this.$message({
                   showClose: true,
                   message: this.$t('Common.error_saving_data'),
                   type: 'error',
                   center: true
                 });
               }
           });


         }).catch(() => {
           this.$message({
             type: 'info',
             message: 'Saving canceled'
           });
         });

       }
       else if(err && this.paymode == 'Ewallet'){
          this.$message({
              showClose: true,
              dangerouslyUseHTMLString: true,
              message: 'Insufficient Ewallet Balance! <br><br> <b>Ewallet Balance :'+this.ewallet + '</b><br><br><b style="color: red">Total Payment : '+totalpay+'</b>',
              type: 'warning',
              center: true
          });
       }
       // else if(totalpay > this.ewallet){
       //    this.$message({
       //        showClose: true,
       //        dangerouslyUseHTMLString: true,
       //        message: 'Insufficient Ewallet Balance! <br><br> <b>Ewallet Balance :'+this.ewallet + '</b><br><br><b style="color: red">Total Payment : '+totalpay+'</b>',
       //        type: 'warning',
       //        center: true
       //    });
       // }
       else{
         this.$message({
           showClose: true,
           message: this.$t('Common.fillup_amount'),
           type: 'error',
           center: true
         });
       }


    },

    payQrCode(){
      let id = this.qrData.id
      let routeData = this.$router.resolve(
        {
          name: 'pay-service-qr-code',
          params: {id}
        }
      );
      window.open(routeData.href, '_blank');
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getGroupByService',{
            group_id: vm.$parent.$route.params.id,
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          console.log("byservice", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

  },
  components: { GroupMenu, DataTable, EditForm }
}
</script>

</script>

<style>

   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }

   .strike{
     text-decoration: line-through;
   }

   .badge{
      background-color: #ff7171;
      color: #ffffff;
      width: 20px;
      height:22px;
      min-width: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
   }

</style>
