<template>
  <div>
    <el-button type="primary" plain size="small" icon="el-icon-plus"
               @click="openGroupModal('add_funds')" class="global_blue"
               :disabled="checkIfServiceProfileIsNotActive()">
      {{ $t('Group.add-funds') }}
    </el-button>

<!--    <router-link-->
<!--      :to="{ name: 'groups-funds', params: { id: $route.params.id } }"-->
<!--      target="_blank"-->
<!--      v-if="checkIfServiceProfileIsActive() === true"-->
<!--      style="margin-left:10px;">-->

<!--      <el-button type="primary" plain size="small" icon="el-icon-plus"-->
<!--                 class="global_blue">-->
<!--        View Funds History-->
<!--      </el-button>-->

<!--    </router-link>-->

    <router-link
      :to="{ name: 'groups-funds-summary', params: { id: $route.params.id } }"
      target="_blank"
      v-if="checkIfServiceProfileIsActive() === true"
      style="margin-left:10px;">

      <el-button type="primary" plain size="small" icon="el-icon-plus"
                 class="global_blue">
        View Funds Summary
      </el-button>

    </router-link>

    <!-- if service profile is not active -->
    <el-button type="primary" plain size="small" icon="el-icon-plus"
                 class="global_blue" disabled
                 v-if="checkIfServiceProfileIsNotActive() === true">
        View Funds History
    </el-button>

<!--    <router-link-->
<!--      :to="{ name: 'transaction-logs', params: { id: $route.params.id } }"-->
<!--      target="_blank"-->
<!--      v-if="checkIfServiceProfileIsActive() === true"-->
<!--      style="margin-left:10px;">-->

<!--      <el-button type="primary" plain size="small" icon="el-icon-plus"-->
<!--                 class="global_blue">-->
<!--        Show old transaction logs-->
<!--      </el-button>-->

<!--    </router-link>-->

    <!-- if service profile is not active -->
    <el-button type="primary" plain size="small" icon="el-icon-plus"
                class="global_blue"
                disabled
                v-if="checkIfServiceProfileIsNotActive() === true">
      Show old transaction logs
    </el-button>

    <div class="block trans-log-timeline" style="margin-top: 20px;">
      <el-timeline>
        <el-timeline-item v-for="log in transaction_logs" :log="log"
                          :timestamp="log.year != null ? log.display_date : ''"
                          placement="top"
                          :color="log.year != null ? '#1d8ce0' : ''"
                          style="padding-bottom: 1px;"
                          :class="{'parent-timeline': (log.year != null)}">
          <el-row :gutter="10">

            <el-col :span="5">
              <el-card class="bal-details">
                <p>{{ $t('Clients.current_balance') }}:
                  <b>Php <span>{{(log.data.balance>0 ? '+' : '')}}{{log.data.balance | currency}}</span></b>
                </p>
                <p>{{ $t('Clients.prev_balance') }}:
                  <b>Php <span>{{(log.data.prevbalance>0 ? '+' : '')}}{{log.data.prevbalance | currency}}</span></b>
                </p>
                <p>{{ $t('Common.amount') }}:
                  <span :class="{
                                              'pos-amt': (log.data.amount > 0),
                                              'neg-amt': (log.data.amount < 0),
                                          }"><b>

							        	Php {{(log.data.amount>0 ? '+' : '')}}<span>{{log.data.amount | currency}}</span></b>
							        	</span>
                </p>
                <p>{{ $t('Common.type') }}:
                  <b><span>{{log.data.type }}</span></b>
                </p>
              </el-card>
            </el-col>

            <el-col :span="19">
              <el-card>
                <el-tag effect="dark" type="info" class="bg-funds">
                  {{ (log.data.title != 'Deposit' && log.data.title != 'Refund' && log.data.title != 'Retrieve'
                  ? 'Payment' : log.data.title) | capitalize }}
                </el-tag>
                <span class="service-name"
                      v-if="log.data.title != 'Deposit' && log.data.title != 'Refund' && log.data.title != 'Retrieve'"
                      v-html="log.data.title">{{ log.data.title }}
                  <!-- <b style="float:right" v-if="log.data.active != 'none'">{{ $t('Financing.total') }} : Php{{log.data.total_cost}}</b> -->
							        </span><!-- Service Name -->
                <br>
                <div class="border-line"></div>
                <br>
                <!-- LOG MESSAGE -->
                <div v-if="log.data.body != ''">
                  <el-collapse accordion>
                    <el-collapse-item name="1">
                      <template slot="title">
										      	<span class="log-msg">
									        		<span v-html="log.data.head"></span>
									        		<b> {{ log.data.processor }} | {{ log.data.date }}</b>
									        	</span>
                      </template>
                      <div>
                        <div class="log-msg">
                          <div v-for="b in log.data.body">
                            <span v-html="b.detail"></span>
                            <b> {{ b.first_name }} | {{ b.created_at |
                              commonDateWithTime }}</b>
                            <br>
                          </div>
                        </div>
                      </div>
                    </el-collapse-item>
                  </el-collapse>
                </div>
                <div v-else>
										<span class="log-msg">
									        		<span v-html="log.data.head"></span>
									        		<b> {{ log.data.processor }} | {{ log.data.date | commonDateWithTime }}</b>
									        	</span>
                </div>

                <!-- <div>
                  <div class="log-msg">
                            <span v-for="head in log.data.head">
                              <el-tag v-if="head.id" effect="dark" type="info" :class="{
                                                      'bg-disabled': (head.status == 'Disabled'),
                                                      'bg-yellow': (head.status == 'pending'),
                                                      'bg-green': (head.status == 'on process'),
                                                      'bg-aqua': (head.status == 'complete'),
                                                      'bg-teal': (head.status == 'released'),
                                                      'bg-gray': (head.status == 'cancelled'),
                                                  }">
                              {{ (head.status != '' ? head.status : '') | capitalize }}
                          </el-tag>
                          <b v-if="head.id">
                            <router-link :to="{ name: 'clients-profile', params: { id: head.id } }" target="_blank">
                             {{ '[' + head.id + ']' }} {{ head.client }}
                            </router-link>
                             <br ></b>
                          <span v-if="head.id" v-for="d in head.details" style="margin-left: 10px;">{{d}}<br>
                          </span>
                          <b v-if="!head.id">{{head.details}}</b>
                          <br>
                          <br>
                            </span>
                          </div>
                </div> -->
              </el-card>
            </el-col>
          </el-row>
        </el-timeline-item>

      </el-timeline>
    </div>


  </div>
</template>

<script>
  import AddFunds from './add-funds'
  import OldTransactions from './old-transaction-logs.vue'

  export default {
    name: 'transaction-logs-list',
    components: {
      OldTransactions
    },
    data () {
      return {
        transaction_logs: [],
        showOld: false,
      }
    },
    props: ['data', 'service_profile'],

    created () {
      // this.getTransactionLogs();
    },

    mounted () {
      this.$eventBus.$on('updateTransHistory', () => {
        this.getTransactionHistory()
      })
    },

    methods: {
      showOldLogs () {
        this.showOld = true
      },

      hideOldLogs () {
        this.showOld = false
      },

      getTransactionHistory () {
        let vm = this
        return this.$store.dispatch('getTransactionHistory', {
          client_id: 0,
          group_id: this.$route.params.id
        }).then(res => {
          this.transaction_logs = res.data
          console.log("transaction logs: ", res.data);
          return res.data
        })

      },

      openGroupModal (method) {

        // required to call the modal
        var component = AddFunds
        var title = ''
        var width = ''

        switch (method) {
          case 'add_funds':
            component = AddFunds
            title = 'Group.add-funds'
            width = '400px'
            break

          default:
            break
        }

        this.$store.dispatch('callModal', {
          child_component: component,
          title: title,
          modalWidth: width,
          content: {
            balance: this.data.total_ewallet
          }
        }) // call global modal state
      },

      bg (stat) {
        switch (stat) {
          case null:
            return ' bg-red'
            break
          case 'on process':
            return ' bg-green'
            break
          case 'pending':
            return ' bg-yellow'
            break
          case 'complete':
            return ' bg-aqua'
            break
          case 'released':
            return ' bg-teal'
            break

          case 'cancelle':
            return ' bg-gray'
            break
          default:
            return 'bg-red'
        }
      },

      checkIfServiceProfileIsNotActive () {
        if(this.service_profile !== null && this.service_profile !== undefined) {

          if(parseInt(this.service_profile.is_active)===0) {
            return true;
          } else {
            return false;
          }

        }

        return false;
      },

      checkIfServiceProfileIsActive () {
        if(this.service_profile !== null && typeof this.service_profile !== 'undefined') {
            if(parseInt(this.service_profile.is_active)===1) {
              return true
            } else {
              return false
            }
        }

        return true;
      }

    },

    computed: {}
  }
</script>

<style lang="scss">
  .trans-log-timeline {

    .el-card {
      border: 2px solid #e6e6e6 !important;
    }

    .complete-tag {
      background-color: #0ba8e4 !important;
      border-color: #0ba8e4 !important;
    }

    .service-name {
      font-weight: bold;
      margin-left: 5px;
      color: #1d8ce0;
    }

    .el-card__body {
      font-size: 13px;
      min-height: 125px !important;
      padding: 10px !important;
    }

    .bal-details {
      .el-card__body {
        font-size: 11px;
      }

      .pos-amt {
        color: #0db502;
      }


      .neg-amt {
        color: #e42613;
      }
    }

    .border-line {
      width: 100%;
      height: 2px;
      background-color: #e6e6e6;
      margin-top: 3px;
    }

    .log-msg {
      margin-left: 35px;
      line-height: 20px;

      span {
        margin-left: 15px;

        span {
          &:before {
            margin-left: 35px;
            content: "• ";
          }
        }
      }

      span .el-tag {
        height: 15px;
        line-height: 12px;

        &:before {
          margin-left: 0px;
          content: "";
        }
      }

      b {
        color: #40586F;
        background-color: #eceef1;
        border-color: #d9dee2;
        border-width: 1px;
        font-size: 12px;
      }
    }

    .el-timeline-item__timestamp {
      color: #1d8ce0;
      line-height: 1;
      font-size: 13px;
      font-weight: bold;
      background: #f0f1f3;
      padding: 6px;
    }

    .el-row {
      margin-bottom: 20px;
    }

    .bg-funds {
      background-color: #40586f !important;
      border-color: transparent;
    }

    .bg-yellow {
      background-color: #ffbc2d !important;
      border-color: transparent;
    }

    .bg-aqua {
      background-color: #00c0ef !important;
      border-color: transparent;
    }

    .bg-green {
      background-color: #4ec98b !important;
      border-color: transparent;
    }

    .bg-disabled {
      background-color: #909399 !important;
      border-color: transparent;
    }

    .parent-timeline {
      margin-top: 10px;
    }
  }

</style>
