<template>
  <div>
    <div class="heading">
      <h1 class="title">
        <b>Transaction logs : GROUP # {{$route.params.id}}</b>
      </h1>
    </div>
    <el-card>
      <div class="block trans-log-timeline" style="margin-top: 20px;">
        <el-timeline>
          <el-timeline-item v-for="log in transaction_logs" :log="log"
                            :timestamp="log.year != null ? log.display_date : ''"
                            placement="top"
                            :color="log.year != null ? '#1d8ce0' : ''"
                            style="padding-bottom: 1px;"
                            :class="{'parent-timeline': (log.year != null)}">
            <el-row :gutter="10">

              <el-col :span="5">
                <el-card class="bal-details">
                  <p>{{ $t('Clients.current_balance') }}:
                    <b>Php <span>{{(log.data.balance>0 ? '+' : '')}}{{log.data.balance | currency}}</span></b>
                  </p>
                  <p>{{ $t('Clients.prev_balance') }}:
                    <b>Php <span>{{(log.data.prevbalance>0 ? '+' : '')}}{{log.data.prevbalance | currency}}</span></b>
                  </p>
                  <p>{{ $t('Common.amount') }}:
                    <span :class="{
                                              'pos-amt': (log.data.amount > 0),
                                              'neg-amt': (log.data.amount < 0),
                                          }"><b>

							        	Php <span>{{log.data.amount | currency}}</span></b>
							        	</span>
                  </p>
                  <p>{{ $t('Common.type') }}:
                    <b><span>{{log.data.type }}</span></b>
                  </p>
                </el-card>
              </el-col>

              <el-col :span="19">
                <el-card>

							        <span class="service-name">{{ log.data.title }}
							        	<b style="float:right" v-if="log.data.active != 'none'">{{ $t('Financing.total') }} : Php{{log.data.total_cost}}</b></span>
                  <!-- Service Name -->
                  <br>
                  <div class="border-line"></div>
                  <br>
                  <!-- LOG MESSAGE -->
                  <!-- <div v-if="log.data.body != ''">
                    <el-collapse accordion>
                  <el-collapse-item name="1">
                    <template slot="title">
                        <span class="log-msg">
                          <span v-html="log.data.head"></span>
                          <b> {{ log.data.processor }} | {{ log.data.date }}</b>
                        </span>
                    </template>
                    <div><div class="log-msg">
                        <div v-for="b in log.data.body">
                            <span v-html="b.detail"></span>
                            <b> {{ b.first_name }} | {{ b.log_date }}</b>
                            <br>
                          </div>
                        </div></div>
                  </el-collapse-item>
                </el-collapse>
              </div>
              <div v-else>
                <span class="log-msg">
                          <span v-html="log.data.head"></span>
                          <b> {{ log.data.processor }} | {{ log.data.date }}</b>
                        </span>
              </div> -->
                  <div>
                    <div class="log-msg">
									        		<span v-for="head in log.data.head">
										        		<el-tag v-if="head.id" effect="dark" type="info"
                                        :class="{
					                                              'bg-disabled': (head.status == 'Disabled'),
					                                              'bg-yellow': (head.status == 'pending'),
					                                              'bg-green': (head.status == 'on process'),
					                                              'bg-aqua': (head.status == 'complete'),
					                                              'bg-teal': (head.status == 'released'),
					                                              'bg-gray': (head.status == 'cancelled'),
					                                          }">
														    {{ (head.status != '' ? head.status : '') | capitalize }}
														</el-tag>
														<b v-if="head.id">
					                    <router-link
                                :to="{ name: 'clients-profile', params: { id: head.id } }"
                                target="_blank">
															{{ '[' + head.id + ']' }} {{ head.client }}
													  	</router-link>
														<br></b>
														<span v-if="head.id" v-for="d in head.details"
                                  style="margin-left: 10px;">{{d}}<br>
														</span>
														<b v-if="!head.id">{{head.details}}</b>
														<br>
														<br>
									        		</span>
                    </div>
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </el-timeline-item>

        </el-timeline>
      </div>

      <el-button @click="showOldLogs()" type="primary" icon="el-icon-eye"
                 size="small" v-if="!showOld">Show old logs
      </el-button>
      <el-button @click="hideOldLogs()" type="primary" icon="el-icon-eye"
                 size="small" v-if="showOld">Hide old logs
      </el-button>
      <OldTransactions ref="groupOldTransactionLogs" v-bind:last="lastBalance"
                       v-if="showOld"></OldTransactions>
    </el-card>

    <!--    <OldTransactions ref="groupOldTransactionLogs"></OldTransactions>-->
  </div>
</template>

<script>
  import OldTransactions from './old-transaction-logs.vue'

  export default {
    name: 'transaction-logs-list',
    components: {
      OldTransactions
    },
    data () {
      return {
        transaction_logs: [],
        lastBalance: 0,
        showOld: false,
      }
    },

    created () {
      this.getTransactionLogs()
    },

    mounted () {

    },

    methods: {
      showOldLogs () {
        this.showOld = true
      },

      hideOldLogs () {
        this.showOld = false
      },

      getTransactionLogs () {
        let vm = this
        return this.$store.dispatch('getGroupTransactionLogs', {
          client_id: 0,
          group_id: this.$route.params.id
        }).then(res => {
          this.transaction_logs = res.data
          this.lastBalance = res.lastBalance
          return res.data
        })

      },

      bg (stat) {
        switch (stat) {
          case null:
            return ' bg-red'
            break
          case 'on process':
            return ' bg-green'
            break
          case 'pending':
            return ' bg-yellow'
            break
          case 'complete':
            return ' bg-aqua'
            break
          case 'released':
            return ' bg-teal'
            break

          case 'cancelle':
            return ' bg-gray'
            break
          default:
            return 'bg-red'
        }
      },

    },

    computed: {}
  }
</script>

<style lang="scss">
  .trans-log-timeline {

    .el-card {
      border: 2px solid #e6e6e6 !important;
    }

    .complete-tag {
      background-color: #0ba8e4 !important;
      border-color: #0ba8e4 !important;
    }

    .service-name {
      font-weight: bold;
      margin-left: 5px;
      color: #1d8ce0;
    }

    .el-card__body {
      font-size: 13px;
      min-height: 125px !important;
      padding: 10px !important;
    }

    .bal-details {
      .el-card__body {
        font-size: 11px;
      }

      .pos-amt {
        color: #0db502;
      }


      .neg-amt {
        color: #e42613;
      }
    }

    .border-line {
      width: 100%;
      height: 2px;
      background-color: #e6e6e6;
      margin-top: 3px;
    }

    .log-msg {
      margin-left: 35px;
      line-height: 20px;

      span {
        margin-left: 15px;

        span {
          &:before {
            margin-left: 35px;
            content: "• ";
          }
        }
      }

      span .el-tag {
        height: 15px;
        line-height: 12px;

        &:before {
          margin-left: 0px;
          content: "";
        }
      }

      b {
        color: #40586F;
        background-color: #eceef1;
        border-color: #d9dee2;
        border-width: 1px;
        font-size: 12px;
      }
    }

    .el-timeline-item__timestamp {
      color: #1d8ce0;
      line-height: 1;
      font-size: 13px;
      font-weight: bold;
      background: #f0f1f3;
      padding: 6px;
    }

    .el-row {
      margin-bottom: 20px;
    }

    .bg-funds {
      background-color: #40586f !important;
      border-color: transparent;
    }

    .bg-yellow {
      background-color: #ffbc2d !important;
      border-color: transparent;
    }

    .bg-aqua {
      background-color: #00c0ef !important;
      border-color: transparent;
    }

    .bg-green {
      background-color: #4ec98b !important;
      border-color: transparent;
    }

    .bg-disabled {
      background-color: #909399 !important;
      border-color: transparent;
    }

    .parent-timeline {
      margin-top: 10px;
    }
  }

</style>
