<template>
  <div class="center" ref="transferService">
      <div v-if="isTabletHidden">
        <el-button type="primary" plain size="small" icon="el-icon-top-left" @click.prevent="eventTransferTo(1)" class="global_blue">
          {{ $t('Group.client_to_group') }}
        </el-button>

        <el-button type="primary" plain size="small" icon="el-icon-top-left" @click.prevent="eventTransferTo(2)" class="global_blue">
          {{ $t('Group.group_to_client') }}
        </el-button>

        <div><br/>
          <el-button type="primary" plain size="small" icon="el-icon-top-left" @click.prevent="eventTransferTo(3)" class="global_blue">
          {{ $t('Group.tansfer_member')}}
          </el-button>
        </div>
      </div>
      <div v-else>


        <div  v-if="transferMode === 3">
          <div class="text-box">
            <el-select
            v-model="form.group"
            filterable
            remote
            :placeholder="$t('Common.search-group-placeholder')"
            :remote-method="searchGroup"
            :loading="loading"
            :loading-text="$t('Common.searching-group') + '...'"
            style="width: 100%;" :no-data-text="$t('Common.no-group-found')"
            @change='handleChangeGroup'
           >
            <template slot="prefix"><i class="el-icon-search" style="padding-top: 13px; padding-left: 5px;;"></i></template>
              <el-option
                v-for="item in groupResults"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </div>

        <br/>
        </div>


        <div>
        <el-form :model="form" ref="transfer_service_form" label-width="100px">

              <el-table
                    ref="servicesTable"
                    :data="services"
                    style="width: 100%"
                    @selection-change="handleSelectionChange">
                    <el-table-column
                      type="selection"
                      width="55">
                    </el-table-column>
                    <el-table-column
                      :label="$t('Common.detail')"
                      property="detail"
                      width="200">
                    </el-table-column>
                    <el-table-column
                      property="status"
                      :label="$t('Common.status')"
                      width="100">
                    </el-table-column>
                    <el-table-column
                      property="tracking"
                      :label="$t('Navigation.tracking')"
                      width="120">
                    </el-table-column>
                    <el-table-column
                      property="name"
                      :label="$t('Common.package')"
                      width="150"
                      >
                      <template slot-scope="scope">
                        <el-select v-model="form.packages[scope.row.ctr]" :placeholder="$t('Clients.select')">
                          <el-option
                            v-for="item in scope.row.packages"
                            :key="item.id"
                            :label="((item.tracking != 0) ? (item.tracking + ' (' + item.description + ') ') : item.description )"
                            :value="item.tracking">
                          </el-option>
                       </el-select>
                      </template>
                    </el-table-column>
               </el-table>

            </el-form>

            <div class="align-right"  v-if="transferMode !== 3">
                <el-button class="add-button" type="primary"  size="mini" @click="eventBack">{{ $t('Common.back') }}</el-button>
                <el-button class="add-button" type="primary" @click="eventSubmit('transfer_service_form')">{{ $t('Common.save') }}</el-button>
            </div>


        </div>

        <div class="align-right" v-if="transferMode === 3">
            <el-button class="add-button" type="primary"  size="mini" @click="eventBack">{{ $t('Common.back') }}</el-button>
            <el-button class="add-button" type="primary" @click="eventTransferMember">{{ $t('Transaction.transfer') }}</el-button>
        </div>

      </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'transfer-service',
  data () {
    return {
      member_id : 0,
      loading: false,
      isTabletHidden: true,
      page: 1,
      perPage: 30,
      services:[],
      packages:[],
      groupResults: [],
      hasGroup: false,
      form:{
        services:[],
        packages:[],
        group:'',
        groupName: ''
      },
      transferMode: 1,
      columns: [
        { prop: 'packages',
          minWidth: '120',
          type:'expand' },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '120',
          sortable: true
        },

        {
          prop: 'id',
          label: this.$t('Group.client_num'),
          minWidth: '50'

        },

        {
          prop: 'total_service_cost',
          label: this.$t('Transaction.total-cost'),
          minWidth: '70',
          sortable: true
        },

        {
          prop: 'is_vice_or_group_leader',
          label: '',
          minWidth: '80'

        },

        {
          fixed: 'right',
          prop: 'transfer',
          label: this.$t('Common.actions'),
          width: '110'
        },

        {
          prop: 'delete',
          fixed: 'right',
          label: '',
          width: '100'
        }
      ]
    }
  },

  mounted() {

  },


  computed: mapGetters({
    session: 'session'
  }),


  created () {
    this.member_id = this.$parent.$parent.content.client_id;
  },

  methods: {

      eventTransferTo (mode) {

        this.transferMode = mode;
        this.isTabletHidden = false;

          let vm = this;

          this.services = [];
          this.packages = [];
          this.form.group = '';
          this.form.packages = [];

          if(mode !== 3){
             this.hasGroup = true;
          }else{
             this.hasGroup = false;
          }

          var option = "";
          switch(mode){

            case 1:
               option = "client-to-group";
            break;

            case 2:
               option = "group-to-client";
            break;

            default:
               option = "group-to-group";
            break;
          }

          this.$store.dispatch('getGroupMemberServices',{
                  group_id: vm.$parent.$route.params.id,
                  client_id: this.member_id,
                  current_group_id: 0,
                  option: option,
          }).then(res => {
                this.services = res;
          });

      },


      searchGroup(queryString) {
        this.groupResults = [];

        if (queryString !== '') {
            this.loading = true;
            setTimeout(() => {
              return this.$store.dispatch('loadSearchResults', {
                keyword : queryString,
                branch_id : this.session.user.branches[0].pivot.branch_id
              })
              .then(response => {
              this.loading = false;
              this.groupResults = response;
            })
            }, 200);
          } else {
            this.groupResults = [];
          }

      },

      handleChangeGroup(data) {

          this.services = [];
          this.groupResults.map((item,index) => {
            if(data === item.id){
              this.form.groupName = item.name
            }
          })

          //checkIfMemberExist
          this.$store.dispatch('checkIfMemberExist', {
            group_id: data,
            member_id: this.member_id
          }).then((res) => {

                  this.hasGroup = true;

                  this.$store.dispatch('getGroupMemberServices',{
                          group_id: this.$parent.$route.params.id,
                          client_id: this.member_id,
                          current_group_id: data,
                          option: 'group-to-group',
                  }).then(res => {
                        this.services = res;
                  });

              //  }else{
                //  this.hasGroup = false;
              //  }
          });
      },


      eventDeleteGroupMember(member_id){

        let vm = this;

        this.$confirm(this.$t('Group.delete_member_mess'), this.$t('Branch.warning'), {
           confirmButtonText: this.$t('Common.ok'),
           cancelButtonText: this.$t('Common.cancel'),
           type: 'warning'
         }).then(() => {

            return this.$store.dispatch('deleteGroupMember',{
                group_id: vm.$parent.$route.params.id,
                member_id: member_id
            })
            .then(res => {
              if(res.code === 200){

                this.$message({
                  type: 'success',
                  message: this.$t('Group.delete_member_complete')
                });

                this.$message({
                  type: 'success',
                  message: this.$t('Group.transfer_complete')
                });


                this.$parent.$emit('close')
                this.$eventBus.$emit('refreshTable');
                this.$eventBus.$emit('syncGroupData');

             }else{
               this.$message({
                 type: 'error',
                 message: res.message
               });
             }
            })

        }).catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('Group.delete_member_cancelled')
          });

          this.$message({
            type: 'success',
            message: this.$t('Group.transfer_complete')
          });


          this.$parent.$emit('close')
          this.$eventBus.$emit('refreshTable');


       });
      },


      eventTransferMember(){

        let vm = this;

        if(typeof this.form.group !== 'undefined' && this.form.group !== ''){

          var tempService = [];
          var tempPackage = [];

          tempPackage = this.form.packages.filter(pack => pack !== null);
          tempService = this.form.services;

          var selectedAll = 0;
          var msg = this.$t('Group.transfer_service_mess');


          if(this.services.length === tempService.length){
            selectedAll = 1;
            msg = this.$t('Group.transfer_service_mess');
          }


          if(tempService.length > 0){


          if(tempService.length === tempPackage.length){

          this.$confirm(msg, this.$t('Branch.warning'), {
             confirmButtonText: this.$t('Common.ok'),
             cancelButtonText: this.$t('Common.cancel'),
             type: 'warning'
           }).then(() => {


              return this.$store.dispatch('transferMember', {
                option : 'client-to-group',
                services : tempService,
                packages: tempPackage,
                current_group_id: vm.$parent.$route.params.id,
                member_id: this.member_id,
                group_id: this.form.group,
                group_name: this.form.groupName,
                selected_all: selectedAll
              })
              .then(res => {
                this.loading = false;
                this.groupResults = res;

                if(selectedAll){
                  this.eventDeleteGroupMember(this.member_id);
                }else{

                      if(res.code === 200){
                         this.$message({
                           type: 'success',
                           message: this.$t('Group.transfer_complete')
                         });

                         this.$parent.$emit('close')
                         this.$eventBus.$emit('refreshTable');
                         this.$eventBus.$emit('syncGroupData');

                       }else{
                         this.$message({
                           type: 'error',
                           message: res.msg
                         });
                       }
                     }

              })

           });

         }else{
           this.$message({
             type: 'error',
             message: "Please select package!"
           });
         }
       }else{
         this.$message({
           type: 'error',
           message: this.$t('Group.no_service_slctd')
         });
       }

        }else{
          this.$message({
            showClose: true,
            message: this.$t('Group.please_select_group'),
            type: 'error',
            center: true
          })
        }
      },


      eventBack (){
        this.isTabletHidden = true;
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.servicesTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.servicesTable.clearSelection();
        }
      },


      handleSelectionChange(val) {
        var temp = [];
        val.map((item,index) => {
              temp.push(item.id);
        })
        this.form.services = temp;

      },


      eventSubmit(){

        let vm = this;

        const _packages = this.form.packages.filter(pack => pack !== null);

        if(this.form.services.length > 0){


          if(this.form.services.length === _packages.length){

          this.$confirm(this.$t('Group.transfer_service_mess'), this.$t('Branch.warning'), {
             confirmButtonText: this.$t('Common.ok'),
             cancelButtonText: this.$t('Common.cancel'),
             type: 'warning'
           }).then(() => {

             this.$store.dispatch('transferService',{
                     option: (this.transferMode !== 1) ? 'group-to-client': 'client-to-group',
                     group_id: vm.$parent.$route.params.id,
                     packages: _packages,
                     services: this.form.services,
                     member_id: this.member_id
             }).then(res => {

              if(res.code === 200){

                 this.$message({
                   type: 'success',
                   message: this.$t('Group.transfer_complete')
                 });

                 this.$parent.$emit('close')
                 this.$eventBus.$emit('refreshTable');
                 this.$eventBus.$emit('syncGroupData');
               }
             });

           }).catch(() => {
             this.$message({
               type: 'info',
               message: this.$t('Group.transfer_cancelled')
             });
          });
        }else{
          this.$message({
            type: 'error',
            message: "Please select package!"
          });
        }

      }else{
        this.$message({
          type: 'error',
          message: this.$t('Group.no_service_slctd')
        });
      }

    }

  },
  components: { },
}
</script>


<style lang="scss">
  .center{
    width:100%;
    text-align:center;
  }
</style>
