<template>
  <div>
    <div class="heading">
      <h1 class="title">
        <b>{{groupName}} - Funds Summary</b>
      </h1>
      <div>
        <el-button type="primary" @click="exportFunds" size="small" icon="el-icon-plus">{{ $t('Common.export') }}</el-button>
      </div>
    </div>
    <div class="body-container" style="overflow: auto !important;">
      <div class="container-padding">
        <div class="form-container">
          <el-table ref="table" :data="fundList" width="100%" v-loading="loading">
            <el-table-column label="Type" width="180">
              <span slot-scope="scope" :style="scope.row.type === 'Refund' ? 'color: red;' : ''">
                {{ scope.row.is_promo?'Promo':scope.row.type | capitalize}}
              </span>
            </el-table-column>
            <el-table-column label="Amount" width="180">
              <span slot-scope="scope" :style="scope.row.type === 'Refund' ? 'color: red;' : ''">
                {{ scope.row.amount | currency }}
              </span>
            </el-table-column>
            <el-table-column label="Date">
              <span slot-scope="scope" :style="scope.row.type === 'Refund' ? 'color: red;' : ''">
                {{ scope.row.created_at }}
              </span>
            </el-table-column>
            <el-table-column label="Reason">
              <span slot-scope="scope" :style="scope.row.type === 'Refund' ? 'color: red;' : ''">
                {{ scope.row.reason }}
              </span>
            </el-table-column>
          </el-table>
          <el-table :data="totalResult" width="100%">
            <el-table-column label="------------" width="180">
              <span slot-scope="scope" :style="scope.$index === 2 ? 'color: red;' : ''">
                {{ scope.row.label | capitalize }}
              </span>
            </el-table-column>
            <el-table-column>
              <span slot-scope="scope" :style="scope.$index === 2 ? 'color: red;' : ''">
                {{ scope.row.amount | currency }}
              </span>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="dialog">
      <el-dialog :visible.sync="dialogVisible" :show-close="false" :close-on-click-modal="false" :close-on-press-escape="false" width="110px">
        <div style="padding: 5px;">
          <div style="display: flex; justify-content: center; align-items: center">
            <i class="el-icon-loading" style="font-size: 70px"/>
          </div>
          <label style="display: flex; justify-content: center">Exporting...</label>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'funds-lists-summary',
    data () {
      return {
        loading: false,
        groupName: '',
        fundList:[],
        totalResult:[],
        dialogVisible: false
      }
    },
    methods: {
      getFundLists(){
        const fd = new FormData();
        fd.append('id',this.$route.params.id)
        fd.append('type',this.$route.fullPath.split('/')[1])
        this.$store.dispatch('getFundList', fd).then(res => {
          console.log('xxx',res);
          this.fundList = res.data.list
          this.groupName = res.data.name
          this.totalResult = [{
            label: 'Total Payment:',
            amount: res.data.total_payment,
          }, {
            label: 'Remaining E-Wallet:',
            amount: res.data.remainingEwallet,
          }, {
            label: 'Total Payment Done:',
            amount: res.data.total_payment - res.data.remainingEwallet,
          }]
        }).catch(error => {
          if(error.response.status === 500){
            this.getFundLists()
          }
        })
      },

      exportFunds(){
        this.dialogVisible = true
        this.$store.dispatch('exportFundsSummary', {id: this.$route.params.id, type: this.$route.fullPath.split('/')[1]})
          .then(res => {
            setTimeout(() => {
              let fileURL = window.URL.createObjectURL(new Blob([res]));

              let fileLink = document.createElement('a');
              fileLink.href = fileURL;

              fileLink.setAttribute('download', `${this.groupName} - Funds Summary.pdf`);

              document.body.appendChild(fileLink);
              fileLink.click();
              this.dialogVisible = false
            }, 500)

          })
      }
    },
    created () {
      this.getFundLists()
    },
  }

</script>

<style lang="scss" scoped>
  @import '../../../assets/styles/_view_components.scss';
  .el-form-item {
    padding: 5px;
  }
  .el-table {
    color: #5b5b5b !important;
    font-weight: bold;
  }
  .el-row {
    margin-top: 10px;
    font-weight: bold;
  }
</style>

<style lang="scss">
  .dialog {
    .el-dialog__wrapper {
      /* top: -80px; */
      .el-dialog__header {
        margin: 0;
        padding: 0;
      }

      .el-dialog__body {
        top: 0;
        margin: 0;
        padding: 0;

        .el-image {
          display: block;
          overflow: unset;
        }
      }

    }
  }

  .el-table thead {
    color: #5b5b5b !important;
    font-weight: bold;
  }

  .sidebar {
    display: none !important;
  }

  .header {
    display: none !important;
  }

  .el-pagination {
    display: none !important;
  }

  .receipt-title {
    text-align: center;
    font-size: 24px;
  }

  .content-txt {
    color: #000000;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15px;
  }

  .content-txt2 {
    color: #000000;
    margin-left: 10px;
    /*text-transform: uppercase;*/
    font-size: 15px;
  }

  .label-a {
    font-size: 15px;
    margin: 0px;
    color: #000000;
    font-weight: bold;


  }

  .p-line-set {
    margin-bottom: 3px;
  }

  .line-set {
    display: inline-flex;
  }

  .line-a {
    width: 781px;
    border-bottom: 1px solid #000000;
    margin: 0;
  }

  .line-b {
    width: 152px;
    border-bottom: 1px solid #000000;
    margin: 0;
  }

  .line-c {
    width: 568px;
    border-bottom: 1px solid #000000;
    margin: 0;
  }

  .line-d {
    width: 770px;
    border-bottom: 1px solid #000000;
    margin: 0;
  }

  .col {
    text-align: center;
  }

  .row {
    border-bottom: 1px solid #ccc;
    padding: 2px;
  }

  .cat-header {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    background: #DCDCDC;
    border: 1px solid #ccc;
  }

  .row-header {
    border: 1px solid #ccc;
    padding: 5px;
  }

  .col-header {
    text-align: center;
    font-weight: bold;
  }
</style>
