<style lang="scss" scoped>

@import '../../../assets/styles/_view_components.scss';

.el-form-item {
    padding: 5px;
}


.el-table{
  color: #5b5b5b !important;
  font-weight: bold;
}

</style>

<template>
  <div>
  <div class="heading">
        <h1 class="title">
        <b>List of Funds : GROUP # {{id}}</b>
      </h1>
    </div>
    <div class="body-container" style="overflow: auto !important;">
<div class="container-padding" >
    <div class="form-container invoicecontainer">
        <data-table :get-data="getData"
          ref="table"
          :columns="columns"
          >

          <div slot="amount" slot-scope="{row}">
            {{ row.amount | currency }}
          </div>

           <b slot="detail" slot-scope="{row}">
            {{row.created_at | commonDate}}
            {{(row.service_name != null ? ' - '+row.service_name : '') | capitalize}}
            <span style="color: #1d8ce0;">
            <router-link :to="{ name: 'clients-profile', params: { id: row.client_id } }" target="_blank">
              {{(row.service_name != null ? ' - ['+row.client_id+'] '+row.first_name+' '+row.last_name : '') | capitalize}}
            </router-link>
            </span>
          </b>

          <b slot="type" slot-scope="{row}">
           {{row.type | capitalize}}
          </b>
        </data-table>
          
    </div>
    </div>
    </div>
    </div>
</template>

<script>

import DataTable from '../../../components/datatable'
export default {
    name: 'funds-lists',
    props: ['id'],
    components: {
        DataTable
    },
    data () {
      return {
        loading: false,
        total: 0,
        size: 20,
        page: 1,
        columns: [
          {
            prop: 'amount',
            label: this.$t('Common.amount'),
            minWidth: '120',
          },
          {
            prop: 'detail',
            label: this.$t('Common.detail'),
            minWidth: '400'
          },

          {
            prop: 'type',
            label: this.$t('Common.type'),
            minWidth: '120'
          },

        ]
      }
    },

    mounted() {

    },


    methods: {
      getData ({ page, query, sortParams, size}) {
          let vm = this;
          return this.$store.dispatch('getGroupFunds',{
              group_id: vm.$parent.$route.params.id,
              page: 'page=' + page,
              perPage: size
          })
          .then(res => {
            const { data } = res
            return {
              data: data,
              total: data.total,
              size: size
            }
          })
      },
    },

    created(){

        // this.getSummary();
    },


}

</script>

<style lang="scss">
  .el-table thead{
  color: #5b5b5b !important;
  font-weight: bold;
}
.sidebar{
    display: none !important;
}

.header{
    display: none !important;
}

  .el-pagination {
    display: none !important;
  }
  
  .receipt-title{
    text-align: center;
    font-size:24px;
  }

  .content-txt {
      color: #000000;
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 15px;
  }  

  .content-txt2 {
      color: #000000;
      margin-left: 10px;
      /*text-transform: uppercase;*/
      font-size: 15px;
  }

  .label-a{
    font-size: 15px;
    margin:0px;
    color:#000000;
      font-weight: bold;

    
  }

  .p-line-set{
    margin-bottom: 3px;
  }

  .line-set{
    display: inline-flex;
  }

  .line-a{
    width: 781px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-b{
    width: 152px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-c{
    width: 568px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }
  .line-d{
    width: 770px;
      border-bottom: 1px solid #000000;
      margin: 0;
  }

  .col{
   text-align: center;
  }

  .row{
   border-bottom:1px solid #ccc;
   padding:2px;
  }

  .cat-header{
   padding:10px 10px 10px 10px;
   font-weight: bold;
   background: #DCDCDC;
   border:1px solid #ccc;
  }

  .row-header{
   border:1px solid #ccc;
   padding:5px;
  }

  .col-header{
   text-align: center;
   font-weight: bold;
  }
</style>
