<template>
  <div>
    <div class="heading">
      <h1 class="title">Totals Summary</h1>&nbsp;
<!--       <span style="padding-right: 20px">Month:</span>
      <el-date-picker
                v-model="month"
                type="month"
                size="mini"
                placeholder="Pick a month"
                @change="getYearSummary()"
              >
      </el-date-picker> -->
      <span style="padding-left: 20px">Year & Month:</span>
      <el-date-picker
                v-model="year"
                type="month"
                size="mini"
                placeholder="Pick a year"
                @change="getYearSummary()"
              >
      </el-date-picker>
      <div class="search-container">
        <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"></el-button>
        <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch" >
          <el-input :placeholder="$t('Service.enter-date-detail-group')"
            prefix-icon="el-icon-search"
            v-model="search"
            clearable
            style="padding-left: 30px;"></el-input>
        </form>
      </div>
    </div>

    <span><b>Total Charge : {{summary.charge}}</b></span><br>
    <span><b>Total Cost Spent : {{summary.cost_spent}}</b></span><br><br>

    <data-table
      :get-data="getData"
      ref="table"
      :columns="columns">
      <span slot="date" slot-scope="{row}">
        {{ formatDate(row.created_at) }}
      </span>
      <span slot="client" slot-scope="{row}">
        {{ `${row.client.first_name} ${row.client.last_name}` }}
      </span>
      <span slot="detail" slot-scope="{row}">
        <el-tooltip
          v-if="row.remarks !== '' && row.remarks !== null"
          effect="light"
          placement="right">
            <div class="tooltip-width" slot="content">{{ removeHTMLtags(row.remarks) }}</div>
            <a href="javascipt:void(0)">
              {{ row.detail }}
            </a>
        </el-tooltip>
        <span
          v-if="row.remarks === '' || row.remarks === null">
          {{ row.detail }}
        </span>
      </span>
      <span slot="cost" slot-scope="{row}">
        {{ parseFloat(row.cost) + parseFloat(row.tip) }}
      </span>
      <span slot="charge" slot-scope="{row}">
        {{ row.charge }}
      </span>
      <span slot="type" slot-scope="{row}">
        <!-- <span>{{ getGroupName(row.client) }}</span> -->
        <span>{{ row.group_name !== null ? row.group_name : 'individual' }}</span>
      </span>

      <div slot="action" slot-scope="{row}" class="action-container">
        <el-tooltip
          class="item"
          effect="dark"
          :content="$t('Common.go-to-profile')"
          placement="top">
            <a href="javascript:void(0)" @click="goToClient(row.client_id)" class="btn-go-to">
              <i class="el-icon-right"></i>
            </a>
        </el-tooltip>
      </div>
    </data-table>
  </div>
</template>

<script>
import DataTable from '../../components/datatable'

export default {
  name: 'totals-summary',
  components: {
      DataTable
  },
  data() {
      return {
          year: moment().format("YYYY"),
          // month: moment().format("MMM"),
          summary: [],
          data: [],
          loading : false,
          pendingData: [],
          search: '',
          page: 1,
          columns: [
              {
                  prop: 'date',
                  label: this.$t('Common.date'),
                  minWidth: '50',
                  sortable: true
              },
              {
                  prop: 'client',
                  label: this.$t('Profile.name'),
                  sortable: true
              },
              {
                  prop: 'detail',
                  label: this.$t('Common.detail'),
                  minWidth: '150',
                  sortable: true
              },
              {
                  prop: 'cost',
                  label: 'Cost Spent',
                  minWidth: '70',
                  sortable: true
              },
              {
                  prop: 'charge',
                  label: this.$t('Common.charge'),
                  minWidth: '70',
                  sortable: true
              },
              {
                  prop: 'type',
                  label: this.$t('Common.type'),
                  minWidth: '70',
                  sortable: true
              },
              {
                  prop: 'action',
                  fixed: 'right',
                  label: this.$t('Common.actions'),
                  width: '80'
              }
          ]
      }
  },
  created() {
    this.getMonthSummary();
  },
  methods: {
    getData ({ page, query, sortParams, size }) {
      let year = moment(this.year).format("YYYY");
      let month = moment(this.year).format("MM");
      this.loading = true;
      if(sortParams.length == 0){
        sortParams = 'created_at-asc'
      }

      if(sortParams[0] === 'date-asc') {
        sortParams = 'created_at-asc'
      } else if(sortParams[0] === 'date-desc') {
        sortParams = 'created_at-desc'
      }

      this.page = page
      return this.$store.dispatch('getMonthlySummary', {
        month: 'month=' + month ,
        year: 'year=' + year ,
        page: 'page=' + page ,
        sort: 'sort=' + sortParams,
        search: 'search=' + this.search,
        perPage: size
      }).then(res => {
        const { data } = res
        return {
          data: data.data,
          total: data.total,
          size: size
        }
      })
      this.loading = false;
    },

    getMonthSummary() {
      this.loading = true;
      const fd = new FormData();
      fd.append("year", moment(this.year).format("YYYY"));
      fd.append("month", moment(this.year).format("MM"));
      this.$store
        .dispatch("getMonthSummary", fd)
        .then((response) => {
          this.summary = response.data;
        })
        .catch((error) => {
          if (error.response.status === 500) {

          }
        });
      this.loading = false;
    },


    getYearSummary() {
      this.loading = true;
      this.getMonthSummary();
      this.$refs.table.getTableData();
      this.loading = false;
    },

    formatDate: function (value) {
      return moment(String(value)).format('MM/DD/YYYY')
    },

    removeHTMLtags: function (str) {
      return str.replace(/<\/?[^>]+(>|$)/g, "")
    },

    getGroupName (data) {
      if(data.groups.length > 0) {
        return data.groups[0].name
      }
    },

    goToClient (clientID) {
      let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
      window.open(routeData.href, '_blank');
    },

    handleSearch () {
      this.$refs.table.getTableData();
    }
  }
}
</script>

<style lang="scss" scoped>
  .action-container {
    text-align: center;

    .item {
      font-size: 15px;
      font-weight: bolder;
    }
  }

  .tooltip-width {
    max-width: 200px;
  }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;
    }

    .search-container {
      margin-left: 0px;
      margin-top: 15px;
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>
