<template>
  <div>
    <div class="heading">
      <h1 class="title">{{ $t('Navigation.event-calendar') }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'event-calendar'
}
</script>
