<template>
  <div>
    <div class="dashboard-header">
      <el-row :gutter="20" type="flex">
        <el-col :span="6">
          <div class="item-container">
            <div class="item">
              <div class="content">
                <div class="tc-1 tc-text">{{ formatToInteger(statisticsData.total_clients) }}</div>
              </div>
              <div class="label bg-1">
                <a href="javascript:void(0)">{{ $t('Service.total-projects') }}</a>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="6">
          <div class="item-container">
            <div class="item">
              <div class="content">
                <div class="tc-2 tc-text">{{ formatToInteger(statisticsData.total_services) }}</div>
              </div>
              <div class="label bg-2">
                <a href="javascript:void(0)">{{ $t('Service.total-materials-request') }}</a>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="6">
          <div class="item-container">
            <div class="item">
              <div class="content">
                <div class="tc-2 tc-text">{{ formatToInteger(statisticsData.total_services) }}</div>
              </div>
              <div class="label bg-2">
                <a href="javascript:void(0)">{{ $t('Service.total-projects') }}</a>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="6">
          <div class="item-container">
            <div class="item">
              <div class="content">
                <div class="tc-2 tc-text">{{ formatToInteger(statisticsData.total_services) }}</div>
              </div>
              <div class="label bg-2">
                <a href="javascript:void(0)">Low Quantity</a>
              </div>
            </div>
          </div>
        </el-col>

      </el-row>
    </div>
    <div class="body-container">
      <div class="inner-container">
        <div class="table-container">
          <PendingServices
            v-bind:pendingData="pendingData"
            :removeHTMLtags="removeHTMLtags"
            :formatDate="formatDate"/>
        </div>
      </div>
    </div>
 </div>
</template>

<script>
import Summary from './components/dashboard-summary'
import PendingServices from './components/dashboard-pending'
import OnProcessServices from './components/dashboard-on-process'
import TodaysTask from './components/dashboard-task'
import Reminders from './components/dashboard-reminders'
import { mapGetters } from 'vuex'

export default {
  name: 'dashboard',
  components: {
      PendingServices, OnProcessServices, TodaysTask, Reminders, Summary
  },
  data() {
    return {
      pendingData: [],
      onProcessData: [],
      statisticsData: {},
      todaysTaskData: [],
      remindersTom: []
    }
  },
  computed: mapGetters({
    session: 'session'
  }),
  methods: {
    formatDate: function (value) {
      return moment(String(value)).format('MM/DD/YYYY')
    },

    removeHTMLtags: function (str) {
      return str.replace(/<\/?[^>]+(>|$)/g, "")
    },

    formatToInteger (value) {
      if(value === undefined){
        return 0
      }else{
        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      }
    },

    formatCurrency (value) {
      let val = (value/1).toFixed(2).replace(',', '.')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    },

    haveAccess(permission){
      var permissions = this.session.user.permissions;
      if(typeof name !== "undefined"){
        name = name.replace(/-/g, " ");
        if(permissions.includes(this.titleCase(permission)) ){
          return true;
        }
      }
    },

    titleCase (str) {
      if ((str===null) || (str===''))
           return false;
      else
       str = str.toString();

     return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }
  },
  created () {
    var today = moment(new Date()).format('YYYY-MM-DD')
    var tom = moment(today).add(1, 'days').format('YYYY-MM-DD')

    // Get Pending Services
    // this.$store.dispatch('getPendingServices', {
    //   page: 'pages=' + 1
    // })
    // .then(res => {
    //   if(res.status.toLowerCase() === 'success') {
    //     this.pendingData = res.data.data
    //   }
    // })
    // .catch(err => console.log(err))
    // ================================================
    // End of Get Pending Services

    // Get On Process Services
    // this.$store.dispatch('getOnProcessServices', {
    //   page: 'pages=' + 1
    // })
    // .then(res => {
    //   if(res.status.toLowerCase() === 'success') {
    //     this.onProcessData = res.data.data
    //   }
    // })
    // .catch(err => console.log(err))
    // ================================================
    // End of Get On Process Services

    // Get Today's Tasks
    // this.$store.dispatch('getTodayTasks', {
    //   //data: today
    //   perPage: 3,
    //   sort: 'sort=id-desc',
    // })
    // .then(res => {
    //   let {data} = res.data;
    //   this.todaysTaskData = data;
      // if(res.status.toLowerCase() === 'success') {
      //   res.data.filter((item, index) => {
      //     if(item.date.toString() ===  today) {
      //       this.todaysTaskData = [...this.todaysTaskData, item]
      //     }
      //   })
      // }
    //})
    // ================================================
    // End of Get On Process Services

    // Get Reminders for tomorrow
    // this.$store.dispatch('getTomorrowTasks', {
    //   //data: tom
    //   perPage: 3,
    //   sort: 'sort=id-desc',
    // })
    // .then(res => {
    //   let {data} = res.data;
    //   this.remindersTom = data;
    //   // if(res.status.toLowerCase() === 'success') {
    //   //   res.data.filter((item, index) => {
    //   //     if(item.date.toString() ===  tom) {
    //   //       this.remindersTom = [...this.remindersTom, item]
    //   //     }
    //   //   })
    //   // }
    // })
    // ================================================
    // End of Get On Process Services


    // moment(strDate).add(days, 'days').format('YYYY-MM-DD')

    // this.$store.dispatch('getDashboardStatistics')
    // .then(res => {
    //   this.statisticsData = res.data
    // })
    // .catch(err => console.log(err))
  }
}
</script>

<style lang="scss" scoped>
  .dashboard-header {
    width: 75%;
    margin: 0px auto 20px auto;

    .item-container {
      box-shadow: 5px 5px 10px #ddd;
      border-radius: 10px;
      overflow: hidden;

      .item {
        position: relative;
        background-color: #fff;
        text-align: center;
        height: 120px;

        .content {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 36px;
            font-weight: 700;
            white-space: nowrap;
            line-height: 0px;
          }

          .tc-text {
            font-size: 36px;
            font-weight: 700;
          }

          .tc-1 {
            color: #337ab7;
            margin-bottom: 20px;
          }

          .tc-2 {
            color: #fb5d48;
            margin-bottom: 20px;
          }

          .tc-3 {
            color: #4bbe56;
          }

          .tc-4 {
            color: #d64b79;
          }

          .detail-1 {
            font-size: 12px;
            font-weight: 600;
            color: #444;
          }

          .detail-2 {
            margin-bottom: 25px;
            font-size: 10px;
            font-weight: 100;
            color: #444;
          }
        }

        .label {
          position: absolute;
          display: block;
          width: 100%;
          bottom: 0;
          color: #fff;
          padding: 3px 0px;

          a {
            position: relative;
            display: block;
            color: #fff;
          }
        }
      }
    }

    .bg-1 {
      background-color: #337ab7;
    }

    .bg-2 {
      background-color: #fb5d48;
    }

    .bg-3 {
      background-color: #4bbe56;
    }

    .bg-4 {
      background-color: #d64b79;
    }
  }

  .body-container {
    width: 100%;
    height: auto;
    background-color: #fff;

    .inner-container {
      padding: 15px;
    }
  }

  .table-container {
    margin-bottom: 20px;
  }
</style>
