<template>
  <div>
    <div class="heading">
      <h1 class="title">{{ $t('Navigation.passport-expiration-reminder') }}</h1>
      <div class="search-container">
        <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"/>
        <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch" >
          <el-input :placeholder="$t('Service.please-enter-any-keyword')" prefix-icon="el-icon-search" v-model="search" clearable style="padding-left: 30px; width: 95%;"/>
        </form>
      </div>
    </div>

    <data-table :get-data="getData" ref="table" :columns="columns">
      <span slot="first_name" slot-scope="{row}">
        <a href="javascript:" @click="goToClient(row.id)">
          {{ `${row.first_name} ${row.last_name}` }}
        </a>
      </span>
      <span slot="id" slot-scope="{row}">{{row.id}}</span>
      <span slot="visa_type" slot-scope="{row}">
        <div style="display: flex;">
          <div><strong>Visa: </strong>{{ row.visa_type }}</div>
          <div v-if="row.visa_type === '9A' || row.visa_type === 'CWV'" style="padding-left: 20px;"><strong>Expiration Date: </strong>
            {{ row.expiration_date !== null && row.expiration_date !== '' ? row.expiration_date : row.first_expiration_date }}</div>
          <div v-if="row.visa_type === '9G' || row.visa_type === 'TRV'" style="padding-left: 20px;"><strong>Expiration Date: </strong>{{ row.expiration_date }}</div>
          <div v-if="row.visa_type === '9G' || row.visa_type === 'TRV'" style="padding-left: 20px;"><strong>ICard Expiration: </strong>{{ row.icard_expiration_date }}</div>
        </div>
      </span>
    </data-table>
  </div>
</template>

<script>
  import DataTable from '../../components/datatable'

  export default {
    name: 'passport-expiration-reminder',
    components: {
      DataTable
    },
    data () {
      return {
        search: '',
        page: 1,
        singleSelect: false,
        columns: [
          {
            prop: 'first_name',
            label: this.$t('Profile.name'),
            width: '300px',
            sortable: true
          },
          {
            prop: 'id',
            label: this.$t('Clients.client-id'),
            width: '300px',
            sortable: true
          },
          {
            prop: 'visa_type',
            label: this.$t('Clients.visa_type'),
            sortable: true
          }
        ],
      }
    },
    methods: {
      /* @getters */
      getData ({ page, query, sortParams, size }) {
        if(sortParams.length === 0){
          sortParams = 'id-asc'
        }
        this.page = page
        return this.$store.dispatch('getReminders', {
          page: 'page=' + page,
          sort: 'sort=' + sortParams,
          search: 'search=' + this.search,
          perPage: size
        }).then(res => {
          const { data } = res
          return {
            data: data.data,
            total: data.total,
            size: size
          }
        }).catch(error =>{
          if(error.response.status === 500){
            this.$refs.table.getTableData(this.page)
          }
        })
      },
      /* @validations */
      validationRemoveDuplicateArray(arr){
        return [...new Set(arr)]
      },
      /* @handlers */
      handleSearch () {
        this.$refs.table.getTableData()
      },
      /* @redirect */
      goToClient (clientID) {
        let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
        window.open(routeData.href, '_blank');
      },
      /* @tweaks */
      copyToClipboard(value){
        let tempInput = document.createElement("textarea");
        tempInput.value = value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
      },
    },
  }
</script>


<style lang="scss" scoped>
  .action-container {
    text-align: center;

    .item {
      font-size: 15px;
      font-weight: bolder;
    }
  }

  .tooltip-width {
    max-width: 200px;
  }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;
    }

    .search-container {
      margin-left: 0px;
      margin-top: 15px;
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>

<style lang="scss">
  @import "../../assets/styles/variables";

  .body-container {
    width: 100%;
    height: auto;
    background-color: #fff;

    .inner-container {
      padding: 15px;

      .status-msg {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 15px;
        border: 1px solid $pure-red;
        border-radius: 5px;
        color: $pure-red;
        font-size: 1.25rem;
        letter-spacing: 1px;
        background-image: linear-gradient(to right bottom, $white, #f4cecd);
      }
    }

    /*&:nth-child(2), &:nth-child(3), &:nth-child(4) {*/
    &:not(:first-child) {
      margin-bottom: 25px;
    }

  }
</style>
