<template>
  <div>
    <div class="heading">
      <h1 class="title">Team Tasks</h1>
      <div class="search-container">
        <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"></el-button>
        <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch" >
          <el-input :placeholder="$t('Service.enter-date-detail-group')"
            prefix-icon="el-icon-search"
            v-model="search"
            clearable
            style="padding-left: 30px;"></el-input>
        </form>
      </div>
    </div>

    <data-table
      :get-data="getData"
      ref="table"
      :columns="columns">
      <span slot="date" slot-scope="{row}">
        {{ formatDate(row.created_at) }}
      </span>
      <span slot="client" slot-scope="{row}">
        {{ `${row.client.first_name} ${row.client.last_name}` }}
      </span>
      <span slot="detail" slot-scope="{row}">
        <el-tooltip
          v-if="row.remarks !== '' && row.remarks !== null"
          effect="light"
          placement="right">
            <div class="tooltip-width" slot="content">{{ removeHTMLtags(row.remarks) }}</div>
            <a href="javascipt:void(0)">
              {{ row.detail }}
            </a>
        </el-tooltip>
        <span
          v-if="row.remarks === '' || row.remarks === null">
          {{ row.detail }}
        </span>
      </span>
      <span slot="cost" slot-scope="{row}">
        {{ row.cost }}
      </span>
      <span slot="charge" slot-scope="{row}">
        {{ row.charge }}
      </span>
      <span slot="type" slot-scope="{row}">
        <!-- <span>{{ getGroupName(row.client) }}</span> -->
        <span>{{ row.group_name !== null ? row.group_name : 'individual' }}</span>
      </span>

      <div slot="action" slot-scope="{row}" class="action-container">
        <el-tooltip
          class="item"
          effect="dark"
          :content="$t('Common.go-to-profile')"
          placement="top">
            <a href="javascript:void(0)" @click="goToClient(row)" class="btn-go-to">
              <i class="el-icon-right"></i>
            </a>
        </el-tooltip>
      </div>
    </data-table>
  </div>
</template>

<script>
import DataTable from '../../components/datatable'

export default {
  name: 'team-tasks',
  components: {
      DataTable
  },
  data() {
      return {
          pendingData: [],
          search: '',
          page: 1,
          columns: [
              {
                  prop: 'date',
                  label: this.$t('Common.date'),
                  minWidth: '50',
                  sortable: true
              },
              {
                  prop: 'client',
                  label: this.$t('Profile.name'),
                  sortable: true
              },
              {
                  prop: 'detail',
                  label: this.$t('Common.detail'),
                  minWidth: '150',
                  sortable: true
              },
              {
                  prop: 'cost',
                  label: this.$t('Common.cost'),
                  minWidth: '70',
                  sortable: true
              },
              {
                  prop: 'charge',
                  label: this.$t('Common.charge'),
                  minWidth: '70',
                  sortable: true
              },
              {
                  prop: 'type',
                  label: this.$t('Common.type'),
                  minWidth: '70',
                  sortable: true
              },
              {
                  prop: 'action',
                  fixed: 'right',
                  label: this.$t('Common.actions'),
                  width: '80'
              }
          ]
      }
  },
  methods: {
    getData ({ page, query, sortParams, size }) {
      if(sortParams.length == 0){
        sortParams = 'created_at-asc'
      }

      if(sortParams[0] === 'date-asc') {
        sortParams = 'created_at-asc'
      } else if(sortParams[0] === 'date-desc') {
        sortParams = 'created_at-desc'
      }

      this.page = page
      return this.$store.dispatch('getPerTeamTasks', {
        page: 'page=' + page ,
        sort: 'sort=' + sortParams,
        search: 'search=' + this.search,
        perPage: size
      }).then(res => {
        const { data } = res
        return {
          data: data.data,
          total: data.total,
          size: size
        }
      })
    },

    formatDate: function (value) {
      return moment(String(value)).format('MM/DD/YYYY')
    },

    removeHTMLtags: function (str) {
      return str.replace(/<\/?[^>]+(>|$)/g, "")
    },

    getGroupName (data) {
      if(data.groups.length > 0) {
        return data.groups[0].name
      }
    },

    goToClient (row) {
      let routeData = this.$router.resolve({
        name: (row.group_id !== null) ? 'groups-profile' : 'clients-profile',
        params: {
          group_id: row.group_id,
          clientServiceId: row.id,
          client_id: row.client.id,
          id: (row.group_id !== null) ? row.group_id : row.client_id
        }
      });
      //let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
      window.open(routeData.href, '_blank');
    },

    handleSearch () {
      this.$refs.table.getTableData();
    }
  }
}
</script>

<style lang="scss" scoped>
  .action-container {
    text-align: center;

    .item {
      font-size: 15px;
      font-weight: bolder;
    }
  }

  .tooltip-width {
    max-width: 200px;
  }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;
    }

    .search-container {
      margin-left: 0px;
      margin-top: 15px;
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>
