<template>
  <div>
    <div class="heading">
      <h1 class="title">{{ $t('Navigation.today-serv') }}</h1>
      <div class="search-container">
        <el-button @click="$refs.table.getTableData()" type="primary" icon="el-icon-refresh" size="small"></el-button>
        <form class="search" >
          <el-input :placeholder="$t('Service.enter-search-todays-services')"
            prefix-icon="el-icon-search"
            v-model="search"
            clearable
            style="padding-left: 30px;"
            @change="handleSearch"></el-input>
        </form>
      </div>
    </div>
    <div class="service-container">
      <el-row>
        <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
          <div class="filter-container padding-container">
            <span>{{ $t('Common.filter') }}: </span>
            <el-date-picker
              v-model="dateDisplayed"
              type="date"
              :clearable="false"
              format="MM/dd/yyyy"
              placeholder="mm/dd/yyyy"
              value-format="yyyy-MM-dd"
              @blur="onChangeFilter">
            </el-date-picker>
          </div>
        </el-col>
        <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
          <div class="day-button padding-container">
            <el-button
              type="primary"
              size="small"
              :plain="(currentDisplayed === 0) ? false : true"
              @click="selectCurrentDisplayDay(0)">
              {{ $t('Common.yesterday') }}
            </el-button>
            <el-button
              type="primary"
              size="small"
              :plain="(currentDisplayed === 1) ? false : true"
              @click="selectCurrentDisplayDay(1)">
              {{ $t('Common.today') }}
            </el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <data-table
      :get-data="getData"
      ref="table"
      :columns="columns"
      :key="dateDisplayed">
        <span slot="date" slot-scope="{row}">
          {{ formatDate(row.created_at) }}
        </span>
        <span slot="name" slot-scope="{row}">
          {{ row.client.last_name + ' ' + row.client.first_name }}
        </span>
        <span slot="id" slot-scope="{row}">
          {{ row.id }}
        </span>
        <span slot="tracking" slot-scope="{row}">
          {{ row.tracking }}
        </span>
        <span slot="detail" slot-scope="{row}">
          <el-tooltip
            v-if="row.remarks !== '' && row.remarks !== null"
            effect="light"
            placement="right">
            <div class="tooltip-width" slot="content">{{ removeHTMLtags(row.remarks) }}</div>
            <a href="javascipt:void(0)">
              {{ row.detail }}
            </a>
          </el-tooltip>
          <span
            v-if="row.remarks === '' || row.remarks === null">
            {{ row.detail }}
          </span>
        </span>
        <span slot="cost" slot-scope="{row}">
          {{ row.cost }}
        </span>
        <span slot="charge" slot-scope="{row}">
          {{ row.charge }}
        </span>
        <div slot="action" slot-scope="{row}" class="action-container">
          <el-tooltip
            class="item"
            effect="dark"
            :content="$t('Common.go-to-profile')"
            placement="top">
              <a href="javascript:void(0)" @click="goToClient(row)" class="btn-go-to">
                <i class="el-icon-right"></i>
              </a>
          </el-tooltip>
        </div>
    </data-table>
  </div>
</template>

<script>
import DataTable from '../../components/datatable'

export default {
  name: 'today-services',
  components: {
    DataTable
  },
  data() {
    return {
      pendingData: [],
      search: '',
      currentDisplayed: 1,
      dateDisplayed: this.convertDate(new Date()),
      columns: [
        {
          prop: 'date',
          label: this.$t('Profile.name'),
          minWidth: '70',
          sortable: true
        },
        {
          prop: 'name',
          label: this.$t('Common.date'),
          minWidth: '130',
          sortable: true
        },
        {
          prop: 'id',
          label: this.$t('Common.id'),
          minWidth: '55',
          sortable: true
        },
        {
          prop: 'tracking',
          label: this.$t('Common.package'),
          minWidth: '70',
          sortable: true
        },
        {
          prop: 'detail',
          label: this.$t('Common.detail'),
          minWidth: '170',
          sortable: true
        },
        {
          prop: 'cost',
          label: this.$t('Common.cost'),
          minWidth: '70',
          sortable: true
        },
        {
          prop: 'charge',
          label: this.$t('Common.charge'),
          minWidth: '70',
          sortable: true
        },
        {
          prop: 'action',
          fixed: 'right',
          label: this.$t('Common.actions'),
          width: '75'
        }
      ]
    }
  },
  methods: {
    getData ({ page, query, sortParams, size }) {
      if(sortParams.length == 0){
        sortParams = 'created_at-asc'
      }

      if(sortParams[0] === 'date-asc') {
        sortParams = 'created_at-asc'
      } else if(sortParams[0] === 'date-desc') {
        sortParams = 'created_at-desc'
      }

      return this.$store.dispatch('getTodayServices', {
        page: 'page=' + page ,
        sort: 'sort=' + sortParams,
        search: 'search=' + this.search,
        perPage: size,
        date: 'date=' + this.convertDate(this.dateDisplayed, null, null)
      }).then(res => {
        const { data } = res
        return {
          data: data.data,
          total: data.total,
          size: size
        }
      })
    },

    formatDate: function (value) {
      return moment(String(value)).format('MM/DD/YYYY')
    },

    removeHTMLtags: function (str) {
      return str.replace(/<\/?[^>]+(>|$)/g, "")
    },

    getGroupName (data) {
      if(data.groups.length > 0) {
        return data.groups[0].name
      }
    },

    goToClient (row) {
      let routeData = this.$router.resolve({
        name: (row.group_id !== null) ? 'groups-profile' : 'clients-profile',
        params: {
          group_id: row.group_id,
          clientServiceId: row.id,
          client_id: row.client.id,
          id: (row.group_id !== null) ? row.group_id : row.client_id
        }
      });
      //let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
      window.open(routeData.href, '_blank');
    },

    selectCurrentDisplayDay (data) {
      if(data !== this.currentDisplayed) {
        if(data === 0) {
          this.currentDisplayed = 0
          this.dateDisplayed = this.convertDate(new Date(), 1, 'subtract')
        } else if (data === 1) {
          this.currentDisplayed = 1
          this.dateDisplayed = this.convertDate(new Date())
        }
      }
    },

    convertDate (strDate, days, operator) {
      if(days === null || days === undefined) {
        return moment(strDate).format('YYYY-MM-DD')
      } else {
        if(operator === 'add') {
          return moment(strDate).add(days, 'days').format('YYYY-MM-DD')
        } else {
          return moment(strDate).subtract(days, 'days').format('YYYY-MM-DD')
        }
      }
    },

    onChangeFilter () {
      var dateToday = this.formatDate(new Date())
      var slctdDate = this.formatDate(this.dateDisplayed)
      var ystrdyDate = moment(new Date()).subtract(1, 'days').format('MM/DD/YYYY')

      if(dateToday === slctdDate) {
        this.currentDisplayed = 1
      } else if (ystrdyDate === slctdDate) {
        this.currentDisplayed = 0
      } else {
        this.currentDisplayed = 2
      }
    },

    handleSearch () {
      this.$refs.table.getTableData();
    }
  },
  created() {

  }
}
</script>

<style lang="scss" scoped>
  .service-container {
    background-color: #fff;

    .el-row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .padding-container {
      padding: 15px 10px 0px;
    }

    .filter-container {
      display: flex;
      align-items: center;

      span {
        margin-right: 5px;
      }
    }

    .day-button {
      align-items: center;
      text-align: right;
    }
  }

  .action-container {
    text-align: center;

    .item {
      font-size: 15px;
      font-weight: bolder;
    }
  }

  .tooltip-width {
    max-width: 200px;
  }

  .space-between {
    width: 20px;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;
    }

    .el-date-editor.el-input, .el-date-editor.el-input__inner {
      width: 100%;
    }

    .service-container {

      .el-row {
        display: block;
      }

      .day-button {
        text-align: center;
      }
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>
