<template>
  <div>
    <div class="heading">
      <h1 class="title">{{ $t("Navigation.today-task") }}</h1>
      <div class="search-container">
        <el-button
          @click="$refs.table.getTableData(page)"
          type="primary"
          icon="el-icon-refresh"
          size="small"
        />
        <form
          class="search"
          v-on:change.prevent="handleSearch"
          v-on:submit.prevent="handleSearch"
        >
          <el-input
            :placeholder="$t('Service.please-enter-any-keyword')"
            prefix-icon="el-icon-search"
            v-model="search"
            clearable
            style="padding-left: 30px; width: 95%"
          />
        </form>
        <!-- <el-checkbox
          v-model="form.viewAll"
          style="margin-right: 10px"
          @change="getColumn()"
        >
          View All
        </el-checkbox> -->
        <el-radio-group
          v-model="form.viewAll"
          style="margin-right: 10px"
          @change="$refs.table.getTableData(page)"
        >
          <el-radio :label="0">Assigned to me</el-radio>
          <el-radio :label="1">View All</el-radio>
        </el-radio-group>
        <el-button
          @click="handleQuickCopy(form.services)"
          type="primary"
          size="medium"
        >
          Quick Copy
        </el-button>
        <el-button @click="showPastTask()" type="primary" size="medium">
          File Next Day
        </el-button>
        <el-button
          @click="formSubmit('quickReport')"
          type="primary"
          size="medium"
          :disabled="form.serviceSelected.length === 0"
        >
          Quick Report
        </el-button>
      </div>
    </div>

    <data-table
      :get-data="getData"
      ref="table"
      :columns="columns"
      :select-change="this.handleSelectionAll.bind(this)"
      :select-row="handleSelect"
      row-key="id"
    >
      <span slot="first_name" slot-scope="{ row }">
        {{ `${row.first_name} ${row.last_name}` }}
      </span>
      <span slot="detail" slot-scope="{ row }">
        <el-tooltip
          v-if="row.remarks !== '' && row.remarks !== null"
          effect="light"
          placement="right"
        >
          <div class="tooltip-width" slot="content">
            {{ removeHTMLtags(row.remarks) }}
          </div>
          <a href="javascript:">{{ row.detail }}</a>
        </el-tooltip>
        <span v-if="row.remarks === '' || row.remarks === null">
          {{ row.detail }}
        </span>
      </span>
      <span slot="group" slot-scope="{ row }">
        <span>{{ row.group !== null ? row.group : "individual" }}</span>
      </span>
      <span slot="in_charge_name" slot-scope="{ row }">
        <span>{{row.in_charge_name}}</span>
      </span>
    </data-table>
  </div>
</template>

<script>
import DataTable from "../../components/datatable";
import PastTask from "./components/modal/past-task";

export default {
  name: "today-tasks",
  components: {
    DataTable,
  },
  data() {
    return {
      /* @data-table */
      search: "",
      page: 1,
      singleSelect: false,
      columns: [],
      /* @form */
      form: {
        services: [],
        serviceSelected: [],
        viewAll: 0,
      },
    };
  },
  methods: {
    /* @getters */
    getData({ page, query, sortParams, size }) {
      this.getColumn();
      if (sortParams.length === 0) {
        sortParams = "first_name-asc";
      }
      this.page = page;
      return this.$store
        .dispatch("getTodayTasks", {
          page: "page=" + page,
          sort: "sort=" + sortParams,
          viewAll: "viewAll=" + this.form.viewAll,
          search: "search=" + this.search,
          perPage: size,
        })
        .then((res) => {
          const { data } = res;
          this.form.services = res.data.data;
          return {
            data: data.data,
            total: data.total,
            size: size,
          };
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.$refs.table.getTableData(this.page);
          }
        });
    },
    getColumn() {
      this.columns = [
        {
          prop: "selection",
          type: "selection",
          align: "center",
          reserveSelection: true,
        },
        {
          prop: "first_name",
          label: this.$t("Profile.name"),
          sortable: true,
        },
        {
          prop: "detail",
          label: this.$t("Common.detail"),
          minWidth: "150",
          sortable: true,
        },
        {
          prop: "group",
          label: this.$t("Common.type"),
          minWidth: "70",
          sortable: true,
        },
      ];
      if (this.form.viewAll === 1) {
        this.columns.push({
          prop: "in_charge_name",
          label: "Who is in Charge",
          minWidth: "70",
          sortable: true,
        });
      }
    },
    /* @validations */
    validationRemoveDuplicateArray(arr) {
      return [...new Set(arr)];
    },
    /* @handlers */
    handleSearch() {
      this.$refs.table.getTableData();
    },
    handleSelect(selection, row) {
      this.singleSelect = true;
      this.handleSelectRow(row);
    },
    handleSelectionAll(rows) {
      if (!this.singleSelect) {
        if (rows.length > 0) {
          this.form.serviceSelected = [];
          rows.map((row) => {
            this.handleSelectRow(row);
          });
        } else {
          this.form.serviceSelected = [];
        }
      }
      this.singleSelect = false;
    },
    handleSelectRow(row) {
      let serviceIndex = this.form.serviceSelected.findIndex(
        (v) => v.id === row.id
      );
      if (serviceIndex === -1) {
        this.form.serviceSelected.push(row);
      } else {
        this.form.serviceSelected.splice(serviceIndex, 1);
      }
    },
    handleQuickCopy(array) {
      let copyText = "";
      let clientId = [];
      let setClientId = [];
      let text = [];
      let name = [];
      let service = [];
      array.map((item) => {
        setClientId.push(item.client_id);
        clientId = this.validationRemoveDuplicateArray(setClientId);
      });
      for (let i = 0; i < clientId.length; i++) {
        service = [];
        array.map((item, index) => {
          if (clientId[i] === item.client_id) {
            name[
              i
            ] = `${item.first_name} ${item.last_name} [${item.client_id}]\n`;
            service[index] = ` -${item.detail}\n`;
          }
        });
        text[i] = [name[i], service];
      }
      text.map((item) => {
        copyText += item[0];
        item[1].map((item1) => {
          copyText += item1;
        });
      });
      this.copyToClipboard(copyText);
    },
    /* @form */
    formSubmit(condition) {
      if (condition === "quickReport") {
        if (this.form.serviceSelected.length > 0) {
          let clientTempServiceIds = [];
          let clientTempIds = [];
          this.form.serviceSelected.map((item, index) => {
            clientTempServiceIds.push(item.id);
            clientTempIds.push(item.client_id);
          });
          let clientIds = JSON.stringify(clientTempIds);
          let clientServiceIds = JSON.stringify(clientTempServiceIds);
          let groupId = 0;
          const redirect = "redirect";
          this.goToReport(clientIds, clientServiceIds, groupId, redirect);
        }
      }
    },
    /* @modal */
    showPastTask(data) {
      this.$store.dispatch("callModal", {
        child_component: PastTask,
        title: "Past Task",
        modalWidth: "80%",
        content: {
          data,
        },
      });
    },
    /* @redirect */
    goToReport(clientIds, clientServiceIds, groupId, redirect) {
      let routeData = this.$router.resolve({
        name: "write-report-client-services",
        params: { clientIds, clientServiceIds, groupId, redirect },
      });
      window.open(routeData.href, "_blank");
    },
    /* @tweaks */
    removeHTMLtags: function (str) {
      return str.replace(/<\/?[^>]+(>|$)/g, "");
    },
    copyToClipboard(value) {
      let tempInput = document.createElement("textarea");
      tempInput.value = value;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
    },
  },
};
</script>


<style lang="scss" scoped>
.action-container {
  text-align: center;

  .item {
    font-size: 15px;
    font-weight: bolder;
  }
}

.tooltip-width {
  max-width: 200px;
}

.search-container {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .wrapper > .main > .content > .inner > .heading {
    display: block;
  }

  .search-container {
    margin-left: 0px;
    margin-top: 15px;
  }
}
</style>

<style lang="scss">
.el-tooltip__popper.is-light {
  color: #333;
}

.el-table th,
.el-table td {
  padding: 6px 0;
}
.el-pagination {
  margin: 1rem 0 2rem;
  text-align: right;
}
</style>

<style lang="scss">
@import "../../assets/styles/variables";

.body-container {
  width: 100%;
  height: auto;
  background-color: #fff;

  .inner-container {
    padding: 15px;

    .status-msg {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 15px;
      border: 1px solid $pure-red;
      border-radius: 5px;
      color: $pure-red;
      font-size: 1.25rem;
      letter-spacing: 1px;
      background-image: linear-gradient(to right bottom, $white, #f4cecd);
    }
  }

  /*&:nth-child(2), &:nth-child(3), &:nth-child(4) {*/
  &:not(:first-child) {
    margin-bottom: 25px;
  }
}
</style>
