<template>
  <div>
    <div class="heading">
      <h1 class="title">{{ $t('Navigation.tomorrow-task') }}</h1>
      <div class="search-container">
        <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"/>
        <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch">
          <el-input :placeholder="$t('Service.please-enter-any-keyword')" prefix-icon="el-icon-search" v-model="search" clearable style="padding-left: 30px; width: 95%;"/>
        </form>
        <el-button type="primary" size="medium" @click="formSubmit('validation')" :disabled="form.serviceSelected.length === 0">{{modalRequired.action}}</el-button>
      </div>
    </div>

    <data-table :get-data="getData" ref="table" :columns="columns" :select-change="this.handleSelectionAll.bind(this)" :select-row="handleSelect" row-key="id">
      <span slot="updated_at" slot-scope="{row}">{{ formatDate(row.updated_at) }}</span>
      <span slot="first_name" slot-scope="{row}">{{`${row.first_name} ${row.last_name}`}}</span>
      <span slot="detail" slot-scope="{row}">
        <el-tooltip v-if="row.remarks !== '' && row.remarks !== null" effect="light" placement="right">
          <div class="tooltip-width" slot="content">{{ removeHTMLtags(row.remarks) }}</div>
            <a href="javascript:">{{ row.detail}}</a>
        </el-tooltip>
        <span v-if="row.remarks === '' || row.remarks === null">{{ row.detail }}</span>
      </span>
      <span slot="group" slot-scope="{row}">
        <span>{{ row.group !== null ? row.group : 'individual' }}</span>
      </span>
    </data-table>
    <el-dialog width="30%" title="Confirmation" :visible.sync="modalConfirm" append-to-body>
      <span>{{ modalRequired.confirm }}</span>
      <div slot="footer" class="dialog-footer">
        <el-button @click="modalConfirm = false">Cancel</el-button>
        <el-button type="primary" @click="formSubmit('submit')" :disabled="!modalRequired.display">Submit</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import DataTable from '../../components/datatable'

  export default {
    name: 'tomorrow-tasks',
    components: {
      DataTable
    },
    data () {
      return {
        search: '',
        page: 1,
        size: 100,
        ctr: 0,
        singleSelect: false,
        columns: [
          {
            prop: 'selection',
            type: 'selection',
            align: 'center',
            reserveSelection: true
          },
          {
            prop: 'updated_at',
            label: this.$t('Common.last_update'),
            minWidth: '50',
            sortable: true
          },
          {
            prop: 'first_name',
            label: this.$t('Profile.name'),
            sortable: true
          },
          {
            prop: 'detail',
            label: this.$t('Common.detail'),
            minWidth: '150',
            sortable: true
          },
          {
            prop: 'group',
            label: this.$t('Common.type'),
            minWidth: '70',
            sortable: true
          }
        ],
        /* @modal */
        modalConfirm: false,
        modalRequired:{
          display: true,
          action: 'Create Task for Tomorrow',
          confirm: 'Are you sure you want to create?',
        },
        /* @form */
        form:{
          serviceSelected: [],
        }
      }
    },
    methods: {
      /* @getters */
      getData ({ page, query, sortParams, size}) {
        if(this.size != size && this.ctr == 1){
          this.size = size;
        }
        if(sortParams.length === 0){
          sortParams = 'updated_at-desc'
        }
        this.page = page
        return this.$store.dispatch('getTomorrowTasks', {
          page: 'page=' + page,
          sort: 'sort=' + sortParams,
          search: 'search=' + this.search,
          perPage: this.size
        }).then(res => {
          this.ctr = 1;
          const { data } = res
          return {
            data: data.data,
            total: data.total,
            size: this.size
          }
        }).catch(error =>{
          if(error.response.status === 500){
            this.$refs.table.getTableData(this.page)
          }
        })
      },
      /* @handlers */
      handleSearch () {
        this.$refs.table.getTableData()
      },
      handleSelect(selection, row){
        this.singleSelect = true;
        this.handleSelectRow(row);
      },
      handleSelectionAll(rows) {
        if(!this.singleSelect){
          if(rows.length > 0){
            this.form.serviceSelected = []
            rows.map((row) => {
              this.handleSelectRow(row);
            })
          }else{
            this.form.serviceSelected = []
          }
        }
        this.singleSelect = false;
      },
      handleSelectRow(row){
        let serviceIndex = this.form.serviceSelected.findIndex(v => v.id === row.id);
        if(serviceIndex === -1){
          this.form.serviceSelected.push(row)
        }else{
          this.form.serviceSelected.splice(serviceIndex, 1);
        }
      },
      /* @forms */
      formSubmit(condition){
        if(condition === "submit"){
          this.modalRequired.display = false
          const fd = new FormData();
          fd.append("tasks", JSON.stringify(this.form.serviceSelected));
          this.$store.dispatch('addTomorrowTasks', fd).then(response=>{
            this.$message({ message: 'Successfully Added.', type: 'success' })
            this.modalConfirm = false
            this.modalRequired.display = true
            this.$refs.table.getTableData(this.page)
            this.$refs.table.clearSelection();
          })
        }else{
          this.modalConfirm = true
        }
      },
      /* @redirect */
      goToClient (clientID) {
        let routeData = this.$router.resolve({path: '/clients/profile/' + clientID});
        window.open(routeData.href, '_blank');
      },
      /* @tweaks */
      formatDate: function (value) {
        return moment(String(value)).format('MM/DD/YYYY')
      },
      removeHTMLtags: function (str) {
        return str.replace(/<\/?[^>]+(>|$)/g, '')
      },
    },
  }
</script>

<style lang="scss" scoped>
  .action-container {
    text-align: center;

    .item {
      font-size: 15px;
      font-weight: bolder;
    }
  }

  .tooltip-width {
    max-width: 200px;
  }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;
    }

    .search-container {
      margin-left: 0px;
      margin-top: 15px;
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>

<style lang="scss">
  @import "../../assets/styles/variables";

  .body-container {
    width: 100%;
    height: auto;
    background-color: #fff;

    .inner-container {
      padding: 15px;

      .status-msg {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 15px;
        border: 1px solid $pure-red;
        border-radius: 5px;
        color: $pure-red;
        font-size: 1.25rem;
        letter-spacing: 1px;
        background-image: linear-gradient(to right bottom, $white, #f4cecd);
      }
    }

    /*&:nth-child(2), &:nth-child(3), &:nth-child(4) {*/
    &:not(:first-child) {
      margin-bottom: 25px;
    }

  }
</style>
