<template >
  <div ref="manage_presets" class="manage-group-container">

     <div class="heading">
          <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"></el-button>
         <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch" >
           <el-input placeholder="Enter supplier name" prefix-icon="el-icon-search" v-model="search" clearable  style="padding-left: 30px;">
           </el-input>
         </form>
          <el-button type="primary" size="small" icon="el-icon-plus" @click="handleAddEdit('add')">Add New Car</el-button>
     </div>


      <data-table :get-data="getData" ref="table" :columns="columns">

            <b slot="id" slot-scope="{row}">
             {{row.id}}
            </b>

            <b slot="name" slot-scope="{row}">
             {{row.name}} 
            </b>

            <b slot="weight_limit" slot-scope="{row}">
             {{row.weight_limit}}kg 
            </b>


           <div class="text-size" slot="Actions" slot-scope="{row}">
               <div class="top">
                 <el-button  icon="el-icon-arrow-right" size="mini" @click="handleAddEdit('edit', row)">Edit</el-button>
               </div>
           </div>
      </data-table>


</div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import AddSupplier from './components/add-supplier'
import DataTable from '../../components/datatable'
//import ChangeStatus from './components/change-status'
//import AddRemark from './components/add-remark'
//import ExportExcel from './components/export-excel'

export default {
  name: 'cars',
  components: {
    'add-edit-supplier': AddSupplier,
    DataTable
    // ChangeStatus,
    // ExportExcel
  },
  data () {
    return {
      balance : 0,
      collectables : 0,
      group_list: [],
      loading: false,
      model: {},
      search: '',
      total: 0,
      size: 20,
      page: 1,
      branch:1,
      columns: [
        {
          prop: 'id',
          label: this.$t('Common.id'),
          minWidth: '60',
          sortable: true
        },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '330',
          sortable: true
        },

        {
          prop: 'weight_limit',
          label: 'Weight Limit',
          minWidth: '330',
          sortable: true
        },

        {
          prop: 'Actions',
          label: this.$t('Common.actions'),
          width: '270'
        }
      ]
    }
  },

  mounted () {
    this.$eventBus.$on('syncSupplierData', () => {
        this.$refs.table.getTableData();
        //this.$store.dispatch('loadClientData');
    });
  },

  created () {
      
  },

  methods: {


    getData ({ page, query, sortParams, size }) {

      if(sortParams.length == 0){
        sortParams = 'id-desc'
      }
      this.page = page
      return this.$store.dispatch('loadCarData', {
        options: '?page=' + page + '&sort=' + sortParams + '&search=' + this.search + '&perPage=' + size
      }).then(res => {
        const { data } = res

        // console.log(res);

        return {
          data: res.data,
          total: res.total,
          size: size
        }
      })
    },

    handleAddEdit (method, val = null) {

      // this.model.method = 'add'
      // this.model.data = null

      this.$store.dispatch('changeSupplierData', this.model)
      // required to call the modal
      this.$store.dispatch('callModal', { child_component: AddSupplier, title: 'Add New Car', modalWidth: '30%',
      content: {
          method: method,
          data: val,
        }  }) // call global modal state
    },

    handleSearch(){
      this.$refs.table.getTableData();
    },

    handleDocs (data) {},

    addRemarkModal (id) {
      this.$store.dispatch('callModal', {
        child_component: AddRemark,
        title: this.$t('Common.add-remarks'),
        modalWidth: '50%',
        content: {
          id: id,
        }
      })
    },





  }
}
</script>

<style lang="scss">
  .manage-group-container {
    .text-size {
      font-size: 13px;
    }
  }

  .el-header {
    text-align: right;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }

  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }

  .el-tag {
    margin: 0 .0625rem;
  }

  .high-risk {
    color: RED;
  }

  .normal {
    font-weight: normal;
  }

  .remarks {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
