<template>
  <div>
    <data-table
      ref="table"
      :get-data="getData"
      :columns="columns">

        <span slot="sn" slot-scope="{row}">
           <p>{{row.id}}</p>
        </span>

      <span slot="name" slot-scope="{row}">
        	<!-- <router-link :to="{ name: 'edit-service', params: { id: row.id } }"> -->
        		<p class="p-custom-lbl">{{row.first_name}} {{row.last_name}}</p>
        	<!-- </router-link> -->
        </span>

      <span slot="email" slot-scope="{row}">
          <p>{{row.email}}</p>
        </span>

      <span slot="user_type" slot-scope="{row}">
          <span v-for="role in row.roles">
          	<el-tag type="info" size="mini">{{role.label}}</el-tag>
          </span>
        </span>

      <!--         <span slot="schedule_type" slot-scope="{row}">
                  <p></p>
              </span> -->
      <div slot="actions" slot-scope="{row}">
        <div class="top">
          <!--               <el-tooltip class="item" effect="dark" content="Edit Schedule" placement="top-start">
                            <el-button type="success" size="mini" icon="el-icon-alarm-clock"></el-button>
                        </el-tooltip> -->
          <el-tooltip class="item" effect="dark" :content="$t('Service.edit_profile')" placement="top">
            <el-button @click="handleEditUser(row)" type="warning" size="mini" icon="el-icon-edit"></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" :content="$t('Service.delete_profile')" placement="top-end">
            <el-button @click="handleDelete(row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
          </el-tooltip>
        </div>
      </div>
    </data-table>
  </div>
</template>

<script>
  import DataTable from '../../../components/datatable'

  export default {
    name: 'accounts',
    components: {
      DataTable
    },
    data () {
      return {
        loading: false,
        columns: [ // set table column names here, use expand to expand child content
          // {
          //   type: "expand"
          // },
          {
            prop: 'sn',
            label: 'SN',
            minWidth: '50'
          },

          {
            prop: 'name',
            label: this.$t('Profile.name'),
            sortable: true,
            minWidth: '250'
          },

          {
            prop: 'email',
            label: this.$t('Clients.email'),
            sortable: true,
            minWidth: '200'
          },

          {
            prop: 'user_type',
            label: this.$t('CPanel.user_type'),
            sortable: true,
            minWidth: '150'
          },

          // {
          //   prop: 'schedule_type',
          //   label: 'Schedule Type',
          //   sortable:true,
          //   minWidth: '100'
          // },

          // {
          //   prop: 'schedule_details',
          //   label: 'Schedule Details',
          //   minWidth: '100'
          // },

          {
            prop: 'actions',
            fixed: 'right',
            minWidth: '100'
          }
        ]
      }
    },
    methods: {
      getData ({ page, query, sortParams }) {
        return this.$store.dispatch('getAllCpanelUsers')
          .then(response => {
            return {
              loading: false,
              data: response
            }
          })
      },

      handleEditUser (row) {
        this.$router.push('/account/edit/' + row.id)
      },

      handleDelete (row) {
        this.$confirm(this.$t('CPanel.delete_user_confirm_mess') + ' ' + row.first_name + ' ' + row.last_name + "?", this.$t('CPanel.confirm_delete'), {
          confirmButtonText: this.$t('Common.ok'),
          cancelButtonText: this.$t('Common.cancel'),
          type: 'warning',
          center: true
        }).then(() => {
          this.$store.dispatch('deleteCpanelUser', row.id)
            .then(res => {
              this.$message({
                type: 'success',
                message: this.$t('CPanel.deleting_user') + ' ' + row.first_name + ' ' + row.last_name + ' ' + this.$t('CPanel.completed')
              })
            })
            .catch(res => console.log(res))
          this.getData()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('CPanel.deleting_user') + ' ' + row.first_name + ' ' + row.last_name + ' ' + this.$t('CPanel.cancelled')
          })
        })
      }

    }
  }
</script>

<style lang="scss" scoped>

  .p-custom-lbl{
    margin:0;
  }

</style>
