<template>
	<div class="cpanel-add-work-info">
		<h1 class="form-title">{{ $t('Clients.work_information') }}</h1>
        <div class="border-line"></div>
        <div class="inner-container">
            <el-row :gutter="30" class="bottom-spacing">
               <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
                    <!-- First Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="position" :label="$t('Clients.position')">
                                    <el-input :placeholder="$t('Clients.enter-position')" v-model="form.position"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of First Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="op_allowance" :label="$t('Clients.op-allowance')">
                                    <el-input :placeholder="$t('Clients.enter-op-allowance')" v-model="form.op_allowance"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="sss" :label="$t('Clients.sss')">
                                    <el-input :placeholder="$t('Clients.enter-sss')" v-model="form.sss"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="ca" :label="$t('Clients.cash-advance')">
                                    <el-input :placeholder="$t('Clients.enter-cash-advance')" v-model="form.ca"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

               </el-col>


               <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
                    <!-- First Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="basic_rate" :label="$t('Clients.basic-rate')">
                                    <el-input :placeholder="$t('Clients.enter-basic-rate')" v-model="form.basic_rate"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of First Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="meal_allowance" :label="$t('Clients.meal-allowance')">
                                    <el-input :placeholder="$t('Clients.enter-meal-allowance')" v-model="form.meal_allowance"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="pagibig" :label="$t('Clients.pagibig')">
                                    <el-input :placeholder="$t('Clients.enter-pagibig')" v-model="form.pagibig"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="hire_date" :label="$t('Clients.hire-date')">
                                  <el-date-picker
                                    type="date"
                                    placeholder="mm-dd-yyyy"
                                    v-model="form.hire_date"
                                    format="MM-dd-yyyy"
                                    value-format="yyyy-MM-dd">
                                  </el-date-picker>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

               </el-col>

               <el-col :xl="8" :lg="8" :md="8" :sm="8" :xs="24">
                    <!-- First Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="ot_rate" :label="$t('Clients.ot-rate')">
                                    <el-input :placeholder="$t('Clients.enter-ot-rate')" v-model="form.ot_rate"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of First Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="load_allowance" :label="$t('Clients.load-allowance')">
                                    <el-input :placeholder="$t('Clients.enter-load-allowance')" v-model="form.load_allowance"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="philhealth" :label="$t('Clients.philhealth')">
                                    <el-input :placeholder="$t('Clients.enter-philhealth')" v-model="form.philhealth"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="released_date" :label="$t('Clients.released-date  ')">
                                  <el-date-picker
                                    type="date"
                                    placeholder="mm-dd-yyyy"
                                    v-model="form.released_date "
                                    format="MM-dd-yyyy"
                                    value-format="yyyy-MM-dd">
                                  </el-date-picker>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of Second Row -->

               </el-col>

            </el-row>
        </div>
	</div>
</template>

<script>
export default {
  name: 'work-info',
  props: ['form', 'rules'],
  methods:{
    addContactNumber () {
      var newNum = {
        number: '',
        is_primary: 0,
        is_mobile: 0,
        err:''
      }

      var newNumRule = {
        number: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Clients.contact_number')) }
        ]
      }

          this.form.contact_numbers = [...this.form.contact_numbers, newNum]
          this.rules.contact_numbers = [...this.rules.contact_numbers, this.rules.contact_numbers[0]]
    },
    
    removeContactNumber (slctdIndex) {
      const form = this.form
          // Remove selected index in form.contact_numbers
          var newArr = []
          this.form.contact_numbers.filter((contacts, index) => {
            if (index !== slctdIndex) {
              newArr.push(contacts)
            }
          })
          this.form.contact_numbers = newArr

          // Remove selected index in rules.contact_numbers
          var newNumRule = []
          this.rules.contact_numbers.filter((contacts, index) => {
            if (index !== slctdIndex) {
              newNumRule.push(contacts)
            }
          })
          this.rules.contact_numbers = newNumRule
    },

    numbersOnly ($event) {
          return this.$store.dispatch('numbersOnly', $event)
    },
    
    isMobileValidation($event, index){
      var number = this.form.contact_numbers[index].number
      var is_mobile = this.form.contact_numbers[index].is_mobile
      var num_len = number.length
      var msg = ''
      this.form.contact_numbers[index].err = ''
          
      if(num_len == 0){
          msg = this.replaceName(this.$t('Service.is_required'), this.$t('Clients.contact_number'))
      }else{
          if(is_mobile == 1){
              if(num_len < 11){
                  msg = this.$t('Common.contact-min11-max13')
              }else if (num_len > 13){
                  msg = this.$t('Common.contact-exceed13')
              }
          }else{
              if(num_len < 8){
                  msg = this.$t('Common.contact-min8-max10')
              }else if (num_len > 10){
                  msg = this.$t('Common.contact-exceed10')
              }
          }
      }

      this.form.contact_numbers[index].err = msg
    },

    replaceName (message, data) {
      return message.replace(':name', data)
    }
  }

}
</script>

<style lang="scss" scoped>

    @import '../../../assets/styles/_view_components.scss';
	.el-date-editor.el-input, .el-date-editor.el-input__inner {
	    width: 100% !important;
	}
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }
    .form-container {
        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .bottom-spacing {
            margin-bottom: 15px;
        }

    }

    .alert-container {
        position: absolute;
        width: 300px;
        top: 10%;
        right: 15px;
    }

    .left-button{
    	margin-right: 5px;
  	}

  	.custom-select{
  		width: 100%;
  	}

    .alt-num-inputset{
        margin-top: 24px;
    }

    .error-msg{
        font-size: 12px;
        color: #f56c6c;
        line-height: 0px;
        margin-bottom: 10px;
        margin-top: 7px;
    }

</style>

<style lang="scss">
  .cpanel-add-work-info {
    .el-form-item__content {
      line-height: 0px;
    }

    #alternate-num {
      .el-form-item__label {
        margin-top: 0px;
      }
    }
  }
</style>