<template>
	<div>
		<h1 class="form-title">{{ $t('Clients.account_information') }}</h1>
    <div class="border-line"></div>
    <div class="inner-container">
      <!-- First Row -->
      <el-row :gutter="30" class="bottom-spacing" >
          <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <div>
              <el-form-item prop="password" :label="$t('Common.password')">
                <el-input type="password" :placeholder="$t('Common.enter-pass')" v-model="form.password" :disabled="form.is_default_password"></el-input>
              </el-form-item>
              <el-form-item prop="is_default_password">
                <el-checkbox v-model="form.is_default_password" @change.native='changeHandler($event)'>{{ $t('Common.use-default-pass') }}</el-checkbox>
              </el-form-item>
            </div>
          </el-col>
          <div>
            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
              <div>
                <el-form-item prop="password_confirmation" :label="$t('Common.confirm-pass')">
                  <el-input type="password" :placeholder="$t('Common.re-enter-pass')" v-model="form.password_confirmation" :disabled="form.is_default_password"></el-input>
              </el-form-item>
              </div>
            </el-col>
          </div>
<!--           <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <div>
              <el-form-item prop="branch" :label="$t('Clients.branch')">
                <el-select :placeholder="$t('Common.select-branch')" v-model="form.branch" class="custom-select">
                  <el-option
                    v-for="branch in branches"
                    :label="branch.name"
                    :value="branch.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </el-col> -->
      </el-row>
      <!-- End of First Row -->
    </div>
	</div>
</template>

<script>
export default {
  name: 'acct-info',
  props: ['form', 'branches'],
  methods: {
    changeHandler($event){
        //reset password fields
        this.form.password = ""
        this.form.password_confirmation = ""
    }
  }
}
</script>
<style lang="scss" scoped>
	.el-date-editor.el-input, .el-date-editor.el-input__inner {
	    width: 100% !important;
	}
  
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }
    .form-container {
        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .bottom-spacing {
            margin-bottom: 15px;
        }

    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .alert-container {
        position: absolute;
        width: 300px;
        top: 10%;
        right: 15px;
    }

    .left-button{
    	margin-right: 5px;
  	}

  	.custom-select{
  		width: 100%;
  	}
</style>
