<template>
	<div class="cpanel-add-contact-info">
		<h1 class="form-title">{{ $t('Clients.contact_information') }}</h1>
        <div class="border-line"></div>
        <div class="inner-container">
            <el-row :gutter="30" class="bottom-spacing">
               <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                    <!-- First Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <el-col :span="24">
                            <div>
                                <el-form-item prop="email" :label="$t('Clients.email')">
                                    <el-input :placeholder="$t('Common.enter-email')" v-model="form.email"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- End of First Row -->

                    <!-- Second Row -->
                    <el-row :gutter="30" class="bottom-spacing">
                        <div>
                            <el-col :span="24">
                                <div>
                                    <el-form-item prop="address" :label="$t('Profile.address')">
                                        <el-input
                                          type="textarea"
                                          :rows="4"
                                          :placeholder="$t('Clients.enter_your_address')"
                                          resize="none"
                                          v-model="form.address"
                                          style="width: 100%; display: block;">
                                        </el-input>
                                    </el-form-item>

                                </div>
                            </el-col>
                        </div>
                    </el-row>
                    <!-- End of Second Row -->

               </el-col>
                <el-col :xl="12" :lg="12" :md="12" :sm="12" :xs="24">
                        <div>
                            <el-form-item :label="$t('Clients.contact_number')">
                            <div v-bind:key="index" v-for="(item, index) in form.contact_numbers">
                                <el-form-item v-if="index === 1" :label="$t('Clients.alternative_contact_number')" id="alternate-num"></el-form-item>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item :prop="'contact_numbers.' + index + '.number'" class="form-error-spacing">
                                            <el-input
                                                maxlength="20"
                                                :placeholder="$t('Clients.enter_your_contact_number')"
                                                v-model="form.contact_numbers[index].number"
                                                @keypress.native="numbersOnly($event)"
                                                style="width: calc(100% - 38px);">
                                            </el-input>

                                            <el-tooltip
                                                class="item"
                                                effect="dark"
                                                :content="$t('Clients.add_contact')"
                                                placement="top-end"
                                                v-if="index === 0">
                                                <el-button
                                                    icon="el-icon-plus"
                                                    @click="addContactNumber"
                                                    size="mini" round
                                                    class="align-center-right primary-button"
                                                    style="top: 15%;"
                                                    type="primary">
                                                </el-button>
                                            </el-tooltip>

                                            <el-button
                                                v-if="index > 0"
                                                class="align-center-right"
                                                icon="el-icon-delete"
                                                type="danger"
                                                style="top: 15%;"
                                                @click="removeContactNumber(index)"
                                                size="mini" round>
                                            </el-button>
                                            
                                        </el-form-item>
                                        <el-form-item :prop="'contact_numbers.' + index + '.is_mobile'">
                                          <el-checkbox v-if="index > 0" v-model="form.contact_numbers[index].is_mobile" :id="'isMobile' + index" @change.native = "isMobileValidation($event, index)">{{ $t('Common.is-mobile') }}</el-checkbox>
                                        </el-form-item>
                                        <el-form-item :prop="'contact_numbers.' + index + '.err'">
                                          <p class="error-msg" ref="numerror">{{form.contact_numbers[index].err}}</p>
                                        </el-form-item>

                                        

                                    </el-col>
                                    
                                </el-row>
                            </div>
                            </el-form-item>
                        </div>
                </el-col>
            </el-row>
        </div>
	</div>
</template>

<script>
export default {
  name: 'contact-info',
  props: ['form', 'rules'],
  methods:{
    addContactNumber () {
      var newNum = {
        number: '',
        is_primary: 0,
        is_mobile: 0,
        err:''
      }

      var newNumRule = {
        number: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Clients.contact_number')) }
        ]
      }

          this.form.contact_numbers = [...this.form.contact_numbers, newNum]
          this.rules.contact_numbers = [...this.rules.contact_numbers, this.rules.contact_numbers[0]]
    },
    
    removeContactNumber (slctdIndex) {
      const form = this.form
          // Remove selected index in form.contact_numbers
          var newArr = []
          this.form.contact_numbers.filter((contacts, index) => {
            if (index !== slctdIndex) {
              newArr.push(contacts)
            }
          })
          this.form.contact_numbers = newArr

          // Remove selected index in rules.contact_numbers
          var newNumRule = []
          this.rules.contact_numbers.filter((contacts, index) => {
            if (index !== slctdIndex) {
              newNumRule.push(contacts)
            }
          })
          this.rules.contact_numbers = newNumRule
    },

    numbersOnly ($event) {
          return this.$store.dispatch('numbersOnly', $event)
    },
    
    isMobileValidation($event, index){
      var number = this.form.contact_numbers[index].number
      var is_mobile = this.form.contact_numbers[index].is_mobile
      var num_len = number.length
      var msg = ''
      this.form.contact_numbers[index].err = ''
          
      if(num_len == 0){
          msg = this.replaceName(this.$t('Service.is_required'), this.$t('Clients.contact_number'))
      }else{
          if(is_mobile == 1){
              if(num_len < 11){
                  msg = this.$t('Common.contact-min11-max13')
              }else if (num_len > 13){
                  msg = this.$t('Common.contact-exceed13')
              }
          }else{
              if(num_len < 8){
                  msg = this.$t('Common.contact-min8-max10')
              }else if (num_len > 10){
                  msg = this.$t('Common.contact-exceed10')
              }
          }
      }

      this.form.contact_numbers[index].err = msg
    },

    replaceName (message, data) {
      return message.replace(':name', data)
    }
  }

}
</script>

<style lang="scss" scoped>

    @import '../../../assets/styles/_view_components.scss';
	.el-date-editor.el-input, .el-date-editor.el-input__inner {
	    width: 100% !important;
	}
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }
    .form-container {
        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .bottom-spacing {
            margin-bottom: 15px;
        }

    }

    .alert-container {
        position: absolute;
        width: 300px;
        top: 10%;
        right: 15px;
    }

    .left-button{
    	margin-right: 5px;
  	}

  	.custom-select{
  		width: 100%;
  	}

    .alt-num-inputset{
        margin-top: 24px;
    }

    .error-msg{
        font-size: 12px;
        color: #f56c6c;
        line-height: 0px;
        margin-bottom: 10px;
        margin-top: 7px;
    }

</style>

<style lang="scss">
  .cpanel-add-contact-info {
    .el-form-item__content {
      line-height: 0px;
    }

    #alternate-num {
      .el-form-item__label {
        margin-top: 0px;
      }
    }
  }
</style>