<template>
	<div>
		<h1 class="form-title">{{ $t('Clients.schedule-information') }}</h1>
    <div class="border-line"></div>
    <div class="inner-container">
      <!-- First Row -->
        <el-row :gutter="30" class="bottom-spacing">
            <el-col :span="12">
                <div class="label">{{ $t('Clients.schedule-type') }}</div>
                <div>
        <el-form-item prop="schedule_type">
                      <el-input :placeholder="$t('Clients.select-roles')"></el-input>
                  </el-form-item>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="label">{{ $t('Clients.schedule-details') }}</div>
                <div>
                    <el-form-item prop="schedule_details">
                        <el-input :placeholder="$t('Clients.select-roles')"></el-input>
                    </el-form-item>
                </div>
            </el-col>
        </el-row>
        <!-- End of First Row -->
    </div>
	</div>
</template>

<script>
export default {
  name: 'schedule',
  props: [],
  data () {
    return {}
  },
  methods: {}
}
</script>
<style lang="scss" scoped>
	.el-date-editor.el-input, .el-date-editor.el-input__inner {
	    width: 100% !important;
	}
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }
    .form-container {
        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

        .bottom-spacing {
            margin-bottom: 15px;
        }

    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .alert-container {
        position: absolute;
        width: 300px;
        top: 10%;
        right: 15px;
    }

    .left-button{
    	margin-right: 5px;
  	}

  	.custom-select{
  		width: 100%;
  	}
</style>
