<template>
	<div class="cpanel-add-user-roles">
    <el-tag type="warning">{{ $t('Common.add-user-warning') }}</el-tag>
        <div class="inner-container">
        	<!-- First Row -->
            <el-row :gutter="30" class="bottom-spacing">
                <el-col :span="24">
                    <div>
						          <el-form-item prop="roles" :label="$t('Common.roles')">
                          <el-select class="custom-select" v-model="form.roles" multiple :placeholder="$t('Clients.select')">
                            <el-option
                              v-for="role in roles"
                              :key="role.id"
                              :label="role.label"
                              :value="role.id">
                            </el-option>
                          </el-select>
	                    </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <!-- End of First Row -->

            <!-- Second Row -->
            <!-- <el-row :gutter="30" class="bottom-spacing">
                <el-col :span="24">
                    <div>
                      <el-form-item prop="permissions" :label="$t('Common.permissions')">
                          <el-select class="custom-select" v-model="form.permissions" multiple :placeholder="$t('Clients.select')">
                            <el-option
                              v-for="p in permissions"
                              :key="p.id"
                              :label="p.label"
                              :value="p.id">
                            </el-option>
                          </el-select>
                      </el-form-item>
                    </div>
                </el-col>
            </el-row> -->
            <!-- End of Second Row -->

            <!-- Third Row -->
            <!-- <el-row :gutter="30" class="bottom-spacing">
                <el-col :span="24">
                    <div>
                      <el-form-item prop="department" :label="$t('Common.department')">
                          <el-select class="custom-select" v-model="form.department" :placeholder="$t('Clients.select')">
                            <el-option
                              v-for="dept in departments"
                              :key="dept.id"
                              :label="dept.name"
                              :value="dept.id">
                            </el-option>
                          </el-select>
                      </el-form-item>
                    </div>
                </el-col>
            </el-row> -->
            <!-- End of Third Row -->
        </div>

       

        
	</div>
</template>

<script>
export default {
  name: 'roles',
  props: ['roles', 'form', 'rules']
}
</script>

<style lang="scss" scoped>
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }

    .custom-select{
        width: 100%;
    }
</style>

<style lang="scss">
  .cpanel-add-user-roles {
    .el-tag {
      white-space: normal;
      height: auto;
    }
  }
</style>