<template>
	<div>
		<div class="label">{{ $t('Clients.contact_number') }}</div>
      <div v-bind:key="index" v-for="(item, index) in form.contact_numbers">
        <div v-if="index === 1" class="label alt-num-inputset">{{ $t('Clients.alternative_contact_number') }}</div>
        <el-row>
          <el-col :span="22">
            <el-form-item :prop="'contact_numbers.' + index + '.number'" class="form-error-spacing">
              <el-input
                maxlength="20"
                :placeholder="$t('Clients.enter_your_contact_number')"
                v-model="form.contact_numbers[index].number"
                @keypress.native="numbersOnly($event)">
              </el-input>
                
<!--                      <div id="checkbox-label" v-if="index > 0">
                    <input
                        type="checkbox"
                        :id="'isMobile' + index"
                        v-model="form.contact_numbers[index].is_mobile" 
                        >

                    <label :for="'isMobile' + index">&nbsp; is mobile</label>
                </div> -->
            </el-form-item>

            <el-form-item :prop="'contact_numbers.' + index + '.is_mobile'">
              <el-checkbox v-if="index > 0" v-model="form.contact_numbers[index].is_mobile" :id="'isMobile' + index">{{ $t('Common.is-mobile') }}</el-checkbox>
            </el-form-item>

            <el-form-item><p v-if="index > 0" class="error-msg" ref="numerror">{{}}</p></el-form-item>
          </el-col>

          <el-tooltip
            class="item"
            effect="dark"
            :content="$t('Clients.add_contact')"
            placement="top-end"
            v-if="index === 0">
            <el-button
              icon="el-icon-plus"
              @click="addContactNumber"
              size="mini" round
              class="align-center-right primary-button"
              type="primary">
            </el-button>
          </el-tooltip>

          <el-button
            v-if="index > 0"
            class="align-center-right"
            icon="el-icon-delete"
            type="danger"
            @click="removeContactNumber(index)"
            size="mini" round>
          </el-button>
        </el-row>
      </div>
	</div>
</template>
<script>
export default {
  name: '',
  props: ['form', 'rules'],
  	methods: {
  		addContactNumber () {
      var newNum = {
        number: '',
        is_primary: 0,
        is_mobile: 0
      }

      var newNumRule = {
        number: [
          { required: true, message: this.$t('CPanel.contact_is_required') }
        ]
      }

	      this.form.contact_numbers = [...this.form.contact_numbers, newNum]
	      this.rules.contact_numbers = [...this.rules.contact_numbers, this.rules.contact_numbers[0]]
	    },
  		removeContactNumber (slctdIndex) {
      const form = this.form
	      // Remove selected index in form.contact_numbers
	      var newArr = []
	      this.form.contact_numbers.filter((contacts, index) => {
	        if (index !== slctdIndex) {
	          newArr.push(contacts)
	        }
	      })
	      this.form.contact_numbers = newArr

	      // Remove selected index in rules.contact_numbers
	      var newNumRule = []
	      this.rules.contact_numbers.filter((contacts, index) => {
	        if (index !== slctdIndex) {
	          newNumRule.push(contacts)
	        }
	      })
	      this.rules.contact_numbers = newNumRule
	    },

	    numbersOnly ($event) {
	      return this.$store.dispatch('numbersOnly', $event)
	    },

      handleChange($event, index){
          this.form.contact_numbers.filter((contacts, index) => {
              var val_len = contacts.number.length
              if (contacts.is_mobile == 1) {
                    if (val_len < 11) {
                  callback(new Error(this.$t('Common.contact-min11-max13')))
                } else if (val_len > 13) {
                  callback(new Error(this.$t('Common.contact-exceed13')))
                }
              } else {
                if (val_len < 8) {
                  callback(new Error(this.$t('Common.contact-min8-max10')))
                } else if (val_len > 10) {
                  callback(new Error(this.$t('Common.contact-exceed10')))
                }
              }
            
          })

              
      },

      replaceName (message, data) {
        return message.replace(':name', data)
      }
  	}
}
</script>
<style lang="scss" scoped>
    @import '../../../assets/styles/_view_components.scss';

    .alt-num-inputset{
        margin-top: 24px;
    }

    .error-msg{
        font-size: small;
        color: #f56c6c;
    }
</style>
