<template>
	<div>
		<h1 class="form-title">{{ $t('Clients.account_information') }}</h1>
        <div class="border-line"></div>
        <div class="inner-container">
        	<!-- First Row -->
            <el-row :gutter="30" class="bottom-spacing">
                <el-col :span="6">
                    <div class="label">{{ $t('Clients.old-password') }}</div>
                    <div>
						<el-form-item prop="old_password">
	                        <el-input type="password" :placeholder="$t('Clients.enter-current-pass')" v-model="form.old_password"></el-input>
	                    </el-form-item>             
                    </div>
                </el-col>

                <el-col :span="6">
                    <div class="label">{{ $t('Clients.new-password') }}</div>
                    <div>
                        <el-form-item prop="password">
                            <el-input type="password" :placeholder="$t('Clients.enter-new-pass')" v-model="form.password"></el-input>
                        </el-form-item>
                    </div>
                    
                </el-col>

       
                <el-col :span="6">
            		<div class="label">{{ $t('Clients.confirm-pass') }}</div>
                    <div>
                    	<el-form-item prop="password_confirmation">
                        	<el-input type="password" :placeholder="$t('Clients.re-enter-current-pass')" v-model="form.password_confirmation"></el-input>
                    	</el-form-item>
                    </div>
                </el-col>
     
<!--                 <el-col :span="6">
                    <div class="label">{{ $t('Clients.branch') }}</div>
                    <div>
                        <el-form-item prop="branch">
                            <el-select :placeholder="$t('Common.select-branch')" v-model="form.branch" class="custom-select">
                                <el-option
                                        v-for="branch in branches"
                                        :label="branch.name"
                                        :value="branch.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </div>
                </el-col> -->
            </el-row>
            <!-- End of First Row -->
        </div>
	</div>
</template>

<script>
export default {
  name: 'edit-acct-info',
  props: ['form', 'branches'],
  methods: {}
}
</script>
<style lang="scss" scoped>
	.el-date-editor.el-input, .el-date-editor.el-input__inner {
	    width: 100% !important;
	}
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }
    .form-container {
        .form-title {
            font-size: 1.275rem;
            font-weight: 400;
            line-height: 0;
        }

        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

        .bottom-spacing {
            margin-bottom: 15px;
        }

    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .alert-container {
        position: absolute;
        width: 300px;
        top: 10%;
        right: 15px;
    }

    .left-button{
    	margin-right: 5px;
  	}

  	.custom-select{
  		width: 100%;
  	}
</style>
