<template>
	<div>
		<h1 class="form-title">{{ $t('Common.roles') }}</h1> 
        <div class="border-line"></div>
        <div class="inner-container">
        	<!-- First Row -->
            <el-row :gutter="30" class="bottom-spacing">
                <el-col :span="24">
                    <div class="label">{{ $t('Common.roles') }}</div>
                    <div>
						          <el-form-item prop="roles">
                          <el-select class="custom-select" v-model="form.roles" multiple :placeholder="$t('Clients.select')">
                            <el-option
                              v-for="role in roles"
                              :key="role.id"
                              :label="role.label"
                              :value="role.id">
                            </el-option>
                          </el-select>
	                    </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <!-- End of First Row -->

            <!-- Third Row -->
            <el-row :gutter="30" class="bottom-spacing">
                <el-col :span="24">
                    <div class="label">{{ $t('Common.department') }}</div>
                    <div>
                      <el-form-item prop="department">
                          <el-select class="custom-select" v-model="form.department" :placeholder="$t('Clients.select')">
                            <el-option
                              v-for="dept in departments"
                              :key="dept.id"
                              :label="dept.name"
                              :value="dept.id">
                            </el-option>
                          </el-select>
                      </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <!-- End of Third Row -->
        </div>
	</div>
</template>

<script>
export default {
  name: 'roles',
  props: ['roles', 'form', 'rules', 'departments']
}
</script>
<style lang="scss" scoped>
	.border-line {
        width: 100%;
        height: 1px;
        background-color: #e7eaec;
    }

    .custom-select{
        width: 100%;
    }

</style>
