<template>
  <div>
    <el-dialog title="Add Roles" :visible.sync="dialogVisible" width="30%">
      <el-form ref="form" :model="form" :rules="formRules">
        <el-form-item label="Name:" prop="name">
          <el-input placeholder="Enter Name" v-model="form.name"/>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button @click="resetForm('form')">Reset</el-button>
        <el-button type="primary" @click="formSubmit('form')">Confirm</el-button>
      </span>
    </el-dialog>

    <div style="display:flex; justify-content: space-between">
      <div/><a href="javascript:" @click="dialogVisible = true"><i class="el-icon-plus" />Add New Role</a>
    </div>
    <data-table :get-data="getData" ref="table" :columns="columns">
      <span slot="name" slot-scope="{row}">
        {{ row.id }}
      </span>
      <span slot="name" slot-scope="{row}">
        {{ row.name }}
      </span>
      <span slot="label" slot-scope="{row}">
        {{ row.label }}
      </span>
      <span slot="created_at" slot-scope="{row}">
        {{ row.created_at }}
      </span>
      <span slot="updated_at" slot-scope="{row}">
        {{ row.updated_at }}
      </span>
      <div slot="action" slot-scope="{row}" class="action-container">
        <div class="top">
          <el-tooltip class="item" effect="dark" content="Edit Access" placement="top">
            <el-button type="warning" icon="el-icon-edit" size="mini" @click="handleDrawer(row)"/>
          </el-tooltip>
        </div>
      </div>
    </data-table>


    <el-drawer
      title="Edit Role Access Permissions!"
      :before-close="handleClose"
      :visible.sync="drawer"
      direction="rtl"
      custom-class="demo-drawer"
      ref="accessDrawer"
      >
      <div class="demo-drawer__content" style="padding: 15px; ">
        <el-form :model="form" ref="roleForm">
          <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" style="margin-bottom: 15px;"> Check all</el-checkbox>
          <div v-for="p in permissions">
            <b>{{p.parent}}</b>
            
            <el-checkbox-group v-model="checkedPermissions" @change="handleCheckedChange" >
              <el-row :gutter="20" >
                  <el-col :span="12" v-for="a in p.access"> 
                    <el-checkbox  :label="a.id" :key="a.id">{{a.label}}</el-checkbox>
                  </el-col>

              </el-row>
            </el-checkbox-group>
            <div style="margin: 15px 0;"></div>
          </div>
        </el-form>

        <!-- {{checkedPermissions}} -->
        <div class="demo-drawer__footer">
          <el-button @click="cancelForm">Cancel</el-button>
          <!-- @click="$refs.drawer.closeDrawer()" -->
          <el-button type="primary" @click="roleFormSubmit('roleForm')" :loading="loading">{{ loading ? 'Submitting ...' : 'Submit' }}</el-button>
        </div>
      </div>
    </el-drawer>
  </div>

</template>

<script>
  import DataTable from '../../../components/datatable'

  export default {
    name: 'roles',
    components: {
      DataTable
    },
    data() {
      return {
        itemCond: '',
        itemProfile: [],
        pendingData: [],

        permissions: [],
        tempPerm: [],
        tempForm: {
          parent: [],
          checkAll: [],
        },
        checkAll: false,
        checkedPermissions: [],
        isIndeterminate: true,

        search: '',
        filter: '',
        page: 1,
        dialogVisible: false,
        drawer: false,
        loading: false,
        timer: null,
        form:{
          name:''
        },

        rolePerm:{
          role_id: null
        },
        columns: [
          {
            prop: 'id',
            label: 'ID',
            sortable: true
          },
          {
            prop: 'name',
            label: 'Name',
            sortable: true
          },
          {
            prop: 'label',
            label: 'Label',
            sortable: true
          },
          {
            prop: 'created_at',
            label: 'Created_At',
            sortable: true
          },
          {
            prop: 'updated_at',
            label: 'Updated_At',
            sortable: true
          },
          {
            prop: 'action',
            fixed: 'right',
            label: this.$t('Common.actions'),
            width: '100'
          }
        ]
      }
    },
    computed:{
      formRules() {
        return {
          name: [
            { required: true, message: 'Name is required' }
          ],
        }
      },
    },
    methods: {
      getData ({ page, query, sortParams, size }) {
        if(sortParams.length == 0){
          sortParams = 'created_at-asc'
        }

        if(sortParams[0] === 'date-asc') {
          sortParams = 'created_at-asc'
        } else if(sortParams[0] === 'date-desc') {
          sortParams = 'created_at-asc'
        }

        this.page = page
        return this.$store.dispatch('getRole', {
          page: 'page=' + page ,
          sort: 'sort=' + sortParams,
          search: 'search=' + this.search,
          perPage: size
        }).then(res => {
          const { data } = res
          return {
            data: data.data,
            total: data.total,
            size: size
          }
        }).catch(error =>{
          if(error.response.status === 500){
            this.$refs.table.getTableData(this.page)
          }
        })
      },

      handleDrawer(row){
        this.rolePerm.role_id = row.id;
        this.getPermissionsByRole(row.id);
        this.getPermissions();
        this.drawer = true;
      },

      handleCheckAllChange(val) {
        this.checkedPermissions = val ? this.tempPerm : [];
        this.isIndeterminate = false;
      },

      handleCheckedChange(value) {
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.permissions.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.permissions.length;
      },

      formSubmit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            const fd = new FormData();
            fd.append("name", this.form.name);
            this.$store.dispatch("addRole", fd).then(response => {
              console.log(response)
            })
          } else {
            this.$message({ type: 'error', message: 'Please fill up the required fields!' });
            return false;
          }
        })
      },
      resetForm(formName) {
        setTimeout(() => {
          this.$refs[formName].resetFields();
        },1)
      },

      handleClose(done) {
        if (this.loading) {
          return;
        }
        this.$confirm('Are you sure you want to close this?')
          .then(_ => {
            this.loading = false;
            // this.timer = setTimeout(() => {
              done();
            //   // animation takes time
            //   setTimeout(() => {
            //     this.loading = false;
            //   }, 400);
            // }, 2000);
          })
          .catch(_ => {});
      },

      cancelForm() {
        this.loading = false;
        this.drawer = false;
        clearTimeout(this.timer);
      },

      getPermissionsByRole (role_id) {
        this.$store
        .dispatch("getPermissionsByRole", role_id)
        .then(response => {
            this.checkedPermissions = response.data;
        });
      },

      getPermissions () {
        var perm = [];
        var perm2 = [];
        var ctr = 0;
        var tempForm = [];
        var tempForm2 = [];
        this.$store.dispatch('getPermissions')
          .then(response => {
            response.map(function (value){
              // if(value.type == "Financing Visa"){
                var temp = [];
                var child = [];
                temp.parent = value.parent;
                temp.id = ctr;
                temp.access = value.access;
                perm.push(temp);
               (value.access).map(function (v) {
                  perm2.push(v.id);
                  child.push(v.id);
                })
               tempForm[ctr++] = child;
               tempForm2[ctr++] = false;
               ctr++;
              // }
            }) 
            this.tempForm.parent = tempForm;
            this.tempForm.checkAll = tempForm2;
            this.tempPerm = perm2;    
            this.permissions = perm;   
          })
          
       },

       addOrRemove(array, value) {
          var index = array.indexOf(value);

          if (index === -1) {
              array.push(value);
          } else {
              array.splice(index, 1);
          }

          this.checkedPermissions = array;
      },

      roleFormSubmit(formName) {
        // this.$refs[formName].validate((valid) => {
          // console.log((this.checkedPermissions).length);
          if ((this.checkedPermissions).length > 0) {
            const fd = new FormData();
            fd.append("role_id", this.rolePerm.role_id);
            fd.append("permissions", this.checkedPermissions);
            this.$store.dispatch("updateRoleAccess", fd).then(response => {
              console.log(response)
              this.$message({ type: 'success', message: 'Successfully Updated!' });
              this.drawer = false;
            })
          } else {
            this.$message({ type: 'error', message: 'Please check at least one permission!' });
            return false;
          }
        // })
      },

    }
  }
</script>

<style lang="scss" scoped>

  .action-container {
    text-align: center;

    .item {
      font-size: 15px;
      font-weight: bolder;
    }
  }

  .tooltip-width {
    max-width: 200px;
  }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;
    }

    .search-container {
      margin-left: 0px;
      margin-top: 15px;
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>

<style lang="scss">
  @import "../../../assets/styles/variables";

  .body-container {
    width: 100%;
    height: auto;
    background-color: #fff;

    .inner-container {
      padding: 15px;

      .status-msg {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 15px;
        border: 1px solid $pure-red;
        border-radius: 5px;
        color: $pure-red;
        font-size: 1.25rem;
        letter-spacing: 1px;
        background-image: linear-gradient(to right bottom, $white, #f4cecd);
      }
    }

    /*&:nth-child(2), &:nth-child(3), &:nth-child(4) {*/
    &:not(:first-child) {
      margin-bottom: 25px;
    }

  }
</style>
