
<template>
  <div @contextmenu.prevent="handleClick($event)">
  <div id="app">

    <ul id="right-click-menu" tabindex="-1" ref="testright" v-if="viewMenu" @blur="closeMenu"  :style="someStyle">
        <li class="task-opt" @click="viewPO">View</li>
        <li class="task-opt" @click="viewPO">Purchase Order</li>
    </ul>
    <gantt-elastic :tasks="tasks" :options="options">
        <gantt-header slot="header" :options="options"></gantt-header>
        <!-- <gantt-footer slot="footer"></gantt-footer> -->
    </gantt-elastic>
    
  </div>
</div>
</template>

<script>

//Components
import { mapGetters } from 'vuex'
import GanttElastic from 'gantt-elastic';
import Header from 'gantt-elastic-header';
import poList from './components/po-list';


export default {
  name: 'Project-Gantt-Chart',
    components: {
	     ganttElastic: GanttElastic,
       ganttHeader: Header,
       poList
	  },
    //template:`<gantt-elastic :tasks="tasks" :options="options"></gantt-elastic>`,
  data () {
    return {
      dynamicStyle: {
            'task-list-header-label': {
              'font-weight': 'bold',
            },
          },
      project_id : 1,
      task_id : null,
      tasks : [],
      options : [],

      viewMenu: false,
      top: '0px',
      left: '0px',

      someStyle : {
        left : this.left,
        top  : this.top
      },
    }
  },

  created () {
    
      this.options = {
        title: {
          label: 'Project X ',
          html: true,
          style: {
            'font-size': '20px',
            'vertical-align': 'middle',
            'font-weight': 'bold',
            'line-height': '35px',
            'padding-left': '22px',
            'letter-spacing': '1px'
          }
        },
        taskList: {
          columns: [
            {
              id: 1,
              label: 'ID',
              value: 'id',
              width: 40
            }, {
              id: 2,
              label: 'Description',
              value: 'label',
              width: 200,
              expander: true,
              html: true,
            }, {
              id: 3,
              label: 'Assigned to',
              value: 'user',
              width: 130,
              html: true
            }, {
              id: 3,
              label: 'Status',
              value: 'status',
              width: 130,
              html : true
            }, {
              id: 4,
              label: 'Type',
              value: 'type',
              width: 68
            }, {
              id: 5,
              label: '%',
              value: 'progress',
              width: 35,
              styles: {
                label: {
                  'text-align': 'center',
                  'width': '100%'
                },
                value: {
                  'text-align': 'center',
                  'width': '100%'
                }
              }
            }
          ]
        },
        locale: {
          code: 'en',
          'Now': 'Now',
          'X-Scale': 'Zoom-X',
          'Y-Scale': 'Zoom-Y',
          'Task list width': 'Task list',
          'Before/After': 'Expand',
          'Display task list': 'Task list'
        }
    };
  },

  computed: mapGetters({
    session: 'session'
  }),

  mounted () {

     this.tasks =  [
          {
            id: 1,
            label: '<b class="task-click" id="1">All CR Door Installation</b>',
            user: '<b><a>Jep Pandan</a></b>',
            start: this.getDate(-24 * 5),
            duration: 5 * 24 * 60 * 60 * 500,
            progress: 85,
            type: 'project',
            status: '<span style="color:green;"> started </span>',
          }, {
            id: 2,
            label: 'With great power comes great responsibility',
            user: '<a href="https://www.google.com/search?q=Peter+Parker" target="_blank" style="color:#0077c0;">Peter Parker</a>',
            parentId: 1,
            start: this.getDate(-24 * 4),
            duration: 4 * 24 * 60 * 60 * 1000,
            progress: 50,
            type: 'project',
            status: '<span style="color:green;"> started </span>',
          }, {
            id: 3,
            label: 'Courage is being scared to death, but saddling up anyway.',
            user: '<a href="https://www.google.com/search?q=John+Wayne" target="_blank" style="color:#0077c0;">John Wayne</a>',
            parentId: 2,
            start: this.getDate(0),
            duration: 2 * 24 * 60 * 60 * 500,
            progress: 20,
            type: 'task',
            status: '<span style="color:red;"> not started </span>',
            style: {
            base: {
              fill: '#0287D0',
              stroke: '#0077C0'
            }
          }
          },
          {
          id: 5,
          label: 'One billion, gajillion, fafillion... shabadylu...mil...shabady......uh, Yen.',
          user:
            '<a href="https://www.google.com/search?q=Austin+Powers" target="_blank" style="color:#0077c0;">Austin Powers</a>',
          parentId: 2,
          start: this.getDate(0),
          duration: 2 * 24 * 60 * 60 * 3500,
          progress: 10,
          type: 'milestone',
          status: '<span style="color:red;"> not started </span>',
          style: {
            base: {
              fill: '#0287D0',
              stroke: '#0077C0'
            }
          },
          dependentOn: [3]
        },
          /* ... */
        ];

  },

  methods: {
    getDate(hours) {
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      const currentMonth = currentDate.getMonth() + 1;
      const currentDay = currentDate.getDate();
      const timeStamp = new Date(`${currentYear}-${currentMonth}-${currentDay} 00:00:00`).getTime();
      console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return new Date(timeStamp + hours * 60 * 60 * 1000);
    },

    viewPO(){
        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: poList,
          modalWidth: '40%',
          content: {
            project_id: this.project_id,
            task_id: this.task_id
          }
        })
    },

    handleClick: function(e) {

      if (e.target.matches('.task-click, .task-click *')) {
           var self = this;
           //alert(e.target.id);
           self.viewMenu = true;

            self.$nextTick(function() {
                this.$refs['testright'].focus();

                self.setMenu(e.y, e.x)
            }.bind(self));
      }
      e.preventDefault();
    },

    setMenu: function(top, left) {
          
            let largestHeight = window.innerHeight - this.$refs['testright'].offsetHeight - 25;
            let largestWidth = window.innerWidth - this.$refs['testright'].offsetWidth - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.top = top + 'px';
            this.left = left + 'px';

            this.someStyle = {
              left : this.left,
              top  : this.top
            }
        },

        closeMenu: function() {
            this.viewMenu = false;
        },


  }
}
</script>

<style lang="scss">
   
.task-opt{
  cursor: pointer;
}

#right-click-menu{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    z-index: 999999;
}

#right-click-menu li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu li:last-child {
    border-bottom: none;
}

#right-click-menu li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}


/*# sourceMappingURL=vue-sidebar-menu.css.map*
  /*.gantt-elastic__chart-row-project-polygon {
    font-color: red !important;
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

  .gantt-elastic__chart-row-bar-polygon {
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

    .gantt-elastic__chart-row-bar{
      background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }*/


  .sidebar, .el-pagination__sizes, .btn-prev, .btn-next, .el-pager {
    display: none !important;
  }


  
</style>
