<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item
          label="Contact Person"
          prop="contact_person"
          :rules="[
            { required: true, message: 'Contact person is required.' }
          ]"
        >
          <el-input type="text" v-model.proj_name="form.contact_person" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
          <el-form-item
            label="Email"
            prop="email"
            
          >
            <el-input type="text" v-model="form.email" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item
          label="Total"
          prop="total"
          :rules="[
              { required: true, message: 'Total is required.' }
            ]"
        >
          <el-input type="number" v-model="form.total" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>

    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
          <el-form-item
            label="Mobile"
            prop="mobile"
            :rules="[
              { required: true, message: 'Mobile is required.' }
            ]"
          >
            <el-input type="text" v-model="form.mobile" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
        <el-button size="mini" type="success" @click="AddNew()" round>+ Add new</el-button><br>
          
          <el-table :data="datas = payment" border style="width:100%;overflow-y: hidden; height: auto;">
              <el-table-column label="Payment Amount" width="200">
                <template slot-scope="scope">
                  <el-input type="number" v-model="payment[scope.$index].amount" autocomplete="off"></el-input>
                </template>
              </el-table-column>

              <el-table-column label="Notes" width="380">
                <template slot-scope="scope">
                  <el-input v-model="payment[scope.$index].notes" autocomplete="off"></el-input>
                </template>
              </el-table-column>

              <el-table-column label="Action" width="120">
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="handleDelete3(scope.$index)">delete</el-button>
                </template>
              </el-table-column>
            </el-table>
      </div>
    </el-col> 

    <!-- <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
        <el-form-item
          label="Remaining Balance"
          prop="rembal"
        >
          <el-input type="text" v-model="form.rembal" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col> -->

    
    </el-row>
    <!-- End Second Row -->

    <el-row :gutter="30">
      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
        <div>
          <el-form-item>
              <br>
              <el-upload 
                class="upload-demo"
                drag :multiple="true"
                      ref="upload"
                      action=""
                      :file-list="fileList"
                      :on-change="handleChange"
                      :on-remove="handleRemove"
                      :auto-upload="false">
                <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/excel files</div> -->
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop file here or <em>click to upload</em><br>
                  <small>jpg/png files</small></div>
              </el-upload>

          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item >
          <div style="float: right">
            <br>
            <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

            <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

          </div>
        </el-form-item>
      </div>
    </el-col>
  </el-row>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-quotation',
  data () {
    return {
      form: {
        id : '',
        contact_person : '',
        email : '',
        mobile : '',
        total : '',
        project_id : '',
        payment : [],
        uplPhotos : [],
      },

      payment : [],
      data: {},
      suppliers: [],
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,

      imgBase64: [],
      fileList: [],
      storageURL: process.env.VUE_APP_STORAGE,

      uplform: {
        comment: '',
        rcvby: '',
        fileData: []
      },
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {
    const vm = this;
    let { project_id } = vm.$parent.$parent.content;

    vm.form.project_id = project_id;
    //this.getSuppliers();
    //this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

  },

  mounted() {},

  methods: {
    getSuppliers(){
      this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
            this.suppliers = response.data
          })
    },

    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {
            if((this.uplform.fileData).length > 0) {
                this.uplform.fileData.filter((item, index) => {
                  var file_path = this.$refs.upload.uploadFiles[index].name;

                  var file_type = item.file_path.split('.');

                  item.file_path = file_path 

                  item.imgBase64 = this.imgBase64[index].imgBase64
                })
              }
              this.form.uplPhotos = this.uplform.fileData;
              this.form.payment = this.payment;

      // you can add rules for validations
      return this.$store.dispatch('addeditQuotation', { method: 'add', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          //this.$eventBus.$emit('materialList');
        }else{

          console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },

    handleChange (file, fileList) {
          console.log(file);
          var self = this

          var fileData = {
            // id: self.task_id,
            file_path: file.name,
            comment: '',
            imgBase64: null
          }

          var fl = [{
            name: file.name,
            url: file.name
          }]          

          var reader = new FileReader();
          reader.readAsDataURL(file.raw);
          reader.onload = function(e) {
            self.imgBase64 = [...self.imgBase64, {
              name: file.name,
              imgBase64: this.result
            }]
          }
          // console.log(reader);

          this.uplform.fileData = [...this.uplform.fileData, fileData];
          // this.fileList = fl;

        },

        handleRemove (file, fileList) {
          //(this.uplform.fileData).splice(index, 1);
          var fl = [];
          (this.uplform.fileData).forEach(function(x, index) {

              if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
                var fileData = {
                // id: self.task_id,
                file_path: file.name,
                comment: '',
                imgBase64: null
              }
                fl = [...fl, fileData];
              }

            });
            this.uplform.fileData = fl;
          console.log((this.uplform.fileData));
        },

    AddNew() {
        this.payment.push({
          "amount":0,
          "notes":""
          //"return":0,
        });
      },

    handleDelete3(index) {
        this.payment.splice(index, 1);
      },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
