<template>
    <div>
                <el-form ref="finance_form" :model="form" :rules="rules" label-position="left" :inline="true" label-width="140px" style="width: 100%;">

                  <el-form-item :label="$t('Financing.transaction_type')+':'"   prop="trans_type">
                      <el-select v-model="form.trans_type" placeholder="Select" style="width: 350px;" filterable @change="transTypeOnChange()">
                          <!-- <el-option label="Please Select" value=""></el-option> -->
                          <el-option :label="$t('Financing.process_budget_return')" value="process_budget_return"></el-option>
                          <el-option :label="$t('Financing.process_cost')" value="process_cost"></el-option>
                          <el-option :label="$t('Financing.process_add_budget')" value="process_add_budget"></el-option>
                          <!-- <el-option :label="$t('Financing.borrowed_cost')" value="borrow_process_cost" v-if=""></el-option> -->
                          <el-option :label="$t('Financing.admin_budget_return')" value="admin_budget_return"></el-option>
                          <el-option :label="$t('Financing.admin_cost')" value="admin_cost"></el-option>
                          <el-option :label="$t('Financing.admin_add_budget')" value="admin_add_budget"></el-option>
                          <!-- <el-option :label="$t('Financing.borrowed_admin_cost')" value="borrow_admin_cost"></el-option> -->
                          <el-option :label="$t('Financing.deposit_other_matter')" value="deposit_other_matter"></el-option>
                          <el-option :label="$t('Financing.cost_other_matter')" value="cost_other_matter"></el-option>
                          <el-option :label="$t('Financing.fund_transfer')" value="fund_transfer"></el-option>
                          <el-option :label="$t('Financing.withdraw_funds_from_juancash')" value="withdraw_funds_from_juancash"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item prop="borrowed" :label="$t('Financing.borrowed_list')+' :'" label-position="center" v-if="borrowFlag()">
                      <el-select v-model="form.borrowed_id" :placeholder="$t('Clients.select')"  filterable style="width: 350px;">
                          <el-option
                              v-for="b in borrowed"
                              :label="b.trans_desc"
                              :value="b.id">
                          </el-option>
                      </el-select>
                  </el-form-item>


                  <el-form-item :label="$t('Financing.cost_type')+' :'" v-if="costTypeFlag()">
                      <el-select v-model="form.cost_type" :placeholder="$t('Clients.select')" style="width: 350px;" filterable >
                          <el-option :label="$t('Financing.budget')" value="1"></el-option>
                          <el-option :label="$t('Common.payment')" value="2"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item :label="$t('Financing.storage_type')+' :'" label-position="center" v-if="storageFlag()">
                      <el-select v-model="form.storage" :placeholder="$t('Clients.select')" style="width: 350px;">
                          <el-option :label="$t('Financing.cash')" value="Cash"></el-option>
                          <el-option :label="$t('Common.bank')" value="Bank"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item :label="$t('Financing.storage_type')+' :'" label-position="center" v-if="form.trans_type == 'fund_transfer'">
                      <el-select v-model="form.storage" :placeholder="$t('Clients.select')" style="width: 350px;">
                          <el-option label="Bank to Cash" value="Cash"></el-option>
                          <el-option label="Cash to Bank" value="Bank"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item prop="bank_type" :label="$t('Financing.bank_type')+' :'" label-position="center" v-if="form.storage != 'Cash' || form.trans_type =='fund_transfer' || form.trans_type =='withdraw_funds_from_juancash'">
                      <el-select v-model="form.bank" :placeholder="$t('Clients.select')" style="width: 350px;" filterable>
                          <el-option label="AUB" value="aub"></el-option>
                          <el-option label="Metro Bank" value="metrobank"></el-option>
                          <el-option label="Security Bank" value="securitybank"></el-option>
                          <el-option label="Eastwest" value="eastwest"></el-option>
                          <el-option label="China Bank" value="chinabank"></el-option>
                          <el-option label="PNB" value="pnb"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item prop="req_user" :label="$t('Financing.requesting_user')+' :'" label-position="center" v-if="userFlag()">
                      <el-select v-model="form.user_id" :placeholder="$t('Clients.select')"  filterable style="width: 350px;">
                          <el-option
                              v-for="u in users"
                              :label="u.first_name+' '+u.last_name"
                              :value="u.id">
                          </el-option>
                      </el-select>
                  </el-form-item>

					<el-form-item  prop="amount" :label="$t('Common.amount')+' :'"  label-position="center" v-if="form.trans_type != ''">
						<el-input-number v-model="form.amount" :controls="controls" style="width: 350px;"></el-input-number>
					</el-form-item>

                	<el-form-item prop="desc" :label="$t('Financing.description')+' :'" v-if="descFlag()">
                    	<el-input type="textarea" v-model="form.desc"  style="width: 350px;"></el-input>
                 	</el-form-item>


<!--

                  <el-form-item prop="alipay_reference" label="Reference :" v-if="form.storage =='Alipay'">
                    <el-input v-model="form.alipay_reference" style="width: 220px;"></el-input>
                  </el-form-item> -->


                    <div class="align-right">
                        <el-button class="add-button" type="primary" @click="onSubmitFinance('finance_form')">{{ $t('Common.save') }}</el-button>
                    </div>

        </el-form>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-client-funds',
  components: {

  },
  data () {
    var amountGreaterZero = (rule, value, callback) => {
        if(value==0 && (this.form.trans_type != 'process_budget_return' && this.form.trans_type != 'admin_budget_return')){
              callback(new Error(this.$t('Common.input_more_than_zero')))
        }
        else if(value < 0){
          callback(new Error(this.$t('Common.input_more_than_zero')))
        }
        else if (value > this.juanCash_balance && this.form.trans_type =='withdraw_funds_from_juancash') {
          callback(new Error(this.$t('Financing.insufficient_juanCash_bal')))
        }
        else {
            callback()
        }
    }

    var notEmptyUser = (rule, value, callback) => {
        if((this.form.user_id == '')){
              callback(new Error(this.$t('Financing.select_request_user')))
        } else {
            callback()
        }
    }

    var notEmptyBorrowed = (rule, value, callback) => {
        if((this.form.borrowed_id == '')){
              callback(new Error(this.$t('Financing.select_borrowed_list')))
        } else {
            callback()
        }
    }

    let bankType = (rule, value, callback) => {
        if(this.form.trans_type =='withdraw_funds_from_juancash' && this.form.bank == ''){
          callback(new Error(this.$t('Financing.select_bank_type')))
        }else{
          callback()
        }
    }

    return {
      types: [
      	'Deposit',
      	// 'Payment',
      	'Refund',
      	'Discount',
      	'Balance Transfer'
      	],

      storages: ['Cash','Bank','Alipay'],

      transfer: ['Client','Group'],

      controls : false,

      clientResults : [],

      groupResults : [],

      loading: false,
      value: [],
      groupvalue: [],
      user_branch : 1,

      borrowed: [],
      users: [],

      finance : {
        trans_desc: '',
        cat_type: '',
        cat_storage: '',
        cash_client_depo_payment: '',
        cash_client_refund: '',
        cash_client_process_budget_return: '',
        cash_process_cost: '',
        borrowed_process_cost: '',
        cash_admin_budget_return: '',
        borrowed_admin_cost: '',
        cash_admin_cost: '',
        bank_client_depo_payment: '',
        bank_cost: '',
        cash_balance: '',
        bank_balance: '',
        postdated_checks: '',
        deposit_other: '',
        cost_other: '',
        cost_type: '',
        additional_budget: ''
      },

      form: {
      	  trans_type : '',
          amount: '',
          borrowed_id: '',
          cost_type: '1',
          storage: 'Cash',
          bank: '',
          user_id: '',
          amount: '',
          desc: '',
          branch_id: 1,
      },

      rules: {
          trans_type: [
              { required: true, message: this.$t('Financing.select_transact_type') },
          ],

          borrowed: [
              { validator: notEmptyBorrowed, trigger: 'blur'},
          ],

          desc: [
              { required: true, message: this.$t('Financing.fillup_desc') },
          ],

          amount: [
              { required: true, message: this.$t('Common.fillup_amount') },
              { validator: amountGreaterZero, trigger: 'blur'},
          ],

          req_user: [
              { validator: notEmptyUser, trigger: 'blur'},
          ],

          bank_type: [
              { validator: bankType, trigger: 'change' }
          ]
      },

      errors: [],

      juanCash_balance: 0

    }
  },
  created () {
    this.$eventBus.$emit('getBranch');
    this.juanCash_balance = this.$parent.$parent.content.juanCash_balance
  },

  mounted () {
      this.$eventBus.$on('passBranch', (data) => {
          this.user_branch = data;
      })
  },

  computed: mapGetters({
    session: 'session'
  }),

  methods: {
      onSubmitFinance (financeForm) {
          this.errors = [];
          this.form.tracking = null;
          this.form.branch_id = this.user_branch;
          this.$refs[financeForm].validate((response) => {
              if(response) {
              	 if(this.ifNewRecord()){
	              	 	this.finance = {
			              trans_desc: (this.form.trans_type == 'fund_transfer' ? 'Fund Transfer' : (this.form.trans_type == 'withdraw_funds_from_juancash' ? 'Withdraw Funds from Juancash' : this.form.desc)),
			              cat_type: ((this.form.trans_type == 'process_budget_return' || this.form.trans_type == 'process_cost' || this.form.trans_type == 'borrow_process_cost') ? 'Process' : ((this.form.trans_type == 'deposit_other_matter' || this.form.trans_type == 'cost_other_matter' || this.form.trans_type == 'fund_transfer' || this.form.trans_type == 'withdraw_funds_from_juancash') ? 'Other' : 'Admin')),
			              cat_storage: this.form.trans_type == 'withdraw_funds_from_juancash' ? 'Bank' : this.form.storage,
			              storage_type: this.form.bank,
			              cash_client_depo_payment: '',
			              cash_client_refund: '',
			              cash_client_process_budget_return: ((this.form.trans_type == 'process_budget_return') ? this.form.amount : ''),
			              cash_process_cost: ((this.form.trans_type == 'process_cost') ? this.form.amount : ''),
			              borrowed_process_cost: ((this.form.trans_type == 'borrow_process_cost') ? this.form.amount : ''),
			              cash_admin_budget_return: ((this.form.trans_type == 'admin_budget_return') ? this.form.amount : ''),
			              borrowed_admin_cost: ((this.form.trans_type == 'borrow_admin_cost') ? this.form.amount : ''),
			              cash_admin_cost: ((this.form.trans_type == 'admin_cost') ? this.form.amount : ''),
                    bank_client_depo_payment: this.form.trans_type == 'withdraw_funds_from_juancash' ? this.form.amount : '',
			              bank_cost: '',
			              cash_balance: '',
			              bank_balance: '',
			              postdated_checks: '',
			              deposit_other: ((this.form.trans_type == 'deposit_other_matter' || this.form.trans_type == 'fund_transfer') ? this.form.amount : ''),
			              cost_other: ((this.form.trans_type == 'cost_other_matter' || this.form.trans_type == 'fund_transfer') ? this.form.amount : ''),
			              cost_type: this.form.cost_type,
			              additional_budget: ((this.form.trans_type == 'process_add_budget' || this.form.trans_type == 'admin_add_budget') ? this.form.amount : ''),
			              user_sn: (this.form.user_id != '' ? this.form.user_id : (this.form.trans_type == 'withdraw_funds_from_juancash' ? this.session.user.id : '0')),
			              branch_id: this.form.branch_id,
                    juancash: this.form.trans_type == 'withdraw_funds_from_juancash' ? -this.form.amount : '',
			            };

			            return this.$store.dispatch('addFinance', { method: 'POST', payload: this.finance }).then(res => {
			            	 // console.log(res);
					        if (res.code == 200) {

					          this.$message({
					            type: 'success',
					            message: this.$t('Common.successfully_saved')
					          });
					          this.$parent.$emit('close')
					          this.$refs['finance_form'].resetFields()

					          this.$eventBus.$emit('refreshFinancing');

					        }else{
					          this.$message({
					            type: 'error',
					            message: this.$t('Common.error_adding_data')
					          });

					        }
                  }).catch(err => {

                  })
              	 }

              	 else{

              	 	return this.$store.dispatch('updateFinance', { method: 'PATCH', payload: this.form }).then(res => {
			            	//console.log(res);
					        if (res.code == 200) {

					          this.$message({
					            type: 'success',
					            message: 'Successfully Saved'
					          });

					          this.$parent.$emit('close')
					          this.$refs['finance_form'].resetFields()

					          this.$eventBus.$emit('refreshFinancing');

					        }else{
					          this.$message({
					            type: 'error',
					            message: res.message
					          });

					        }
					      }).catch(err => {

					      })
              	 }

              }
          })
      },

      resetFinanceForm(){
      	this.finance = {
            trans_desc: '',
            cat_type: '',
            cat_storage: '',
            cash_client_depo_payment: '',
            cash_client_refund: '',
            cash_client_process_budget_return: '',
            cash_process_cost: '',
            borrowed_process_cost: '',
            cash_admin_budget_return: '',
            borrowed_admin_cost: '',
            cash_admin_cost: '',
            bank_client_depo_payment: '',
            bank_cost: '',
            cash_balance: '',
            bank_balance: '',
            postdated_checks: '',
            deposit_other: '',
            cost_other: '',
            cost_type: '',
            additional_budget: ''
          };
      },

      transTypeOnChange() {
      		this.$refs['finance_form'].clearValidate();
      		if(this.borrowFlag()){
		      	this.$store.dispatch('getBorrowed', {
					trans_type: this.form.trans_type,
					branch_id: this.user_branch,
				})
				.then(res => {
					this.borrowed = res;
					//console.log(this.borrowed);
				})
      		}
      		else if(this.userFlag()){
				this.$store.dispatch('getReqUsers')
				.then(res => {
					this.users = res.data;
					//console.log(this.users);
				})
      		}
      },

      ifNewRecord(){
      	if(this.form.trans_type == 'borrow_process_cost' || this.form.trans_type == 'borrow_admin_cost' || this.form.trans_type == 'admin_cost' || this.form.trans_type == 'process_cost' || this.form.trans_type == 'deposit_other_matter' || this.form.trans_type == 'cost_other_matter' || this.form.trans_type == 'fund_transfer' || this.form.trans_type == 'withdraw_funds_from_juancash'){
      		return true;
      	}
      	return false;
      },

      borrowFlag(){
      	if(this.form.trans_type == 'process_budget_return' || this.form.trans_type == 'process_add_budget' || this.form.trans_type == 'admin_budget_return' || this.form.trans_type == 'admin_add_budget'){
      		return true;
      	}
      	return false;
      },

      costTypeFlag(){
      	if(this.form.trans_type == 'process_cost' || this.form.trans_type == 'admin_cost'){
      		return true;
      	}
      	return false;
      },

      userFlag(){
      	if(this.form.trans_type == 'process_cost'){
      		return true;
      	}
      	return false;
      },

      storageFlag(){
      	if(this.form.trans_type == 'process_cost' || this.form.trans_type == 'admin_cost' || this.form.trans_type == 'borrow_admin_cost' || this.form.trans_type == 'deposit_other_matter' || this.form.trans_type == 'cost_other_matter'){
      		return true;
      	}
      	return false;
      },

      // storageFlag(){
      // 	if(this.form.trans_type == 'process_cost' || this.form.trans_type == 'admin_cost' || this.form.trans_type == 'borrow_admin_cost' || this.form.trans_type == 'deposit_other_matter' || this.form.trans_type == 'cost_other_matter'){
      // 		return true;
      // 	}
      // 	this.form.storage = 'Cash';
      // 	return false;
      // },

      descFlag(){
      	if(this.form.trans_type == 'cost_other_matter' || this.form.trans_type == 'process_cost' || this.form.trans_type == 'admin_cost' || this.form.trans_type == 'borrow_admin_cost' || this.form.trans_type == 'deposit_other_matter'){
      		return true;
      	}
      	return false;
      }


  }
}
</script>

<style lang="scss">
	.el-form-item {
	    margin-bottom: 5px !important;
	}

	.el-dialog {
    	margin-top: 1vh !important;
	    width: 400px;
	}

	.el-dialog__wrapper {
		overflow: hidden !important;
	}

    .add-button-container {
        margin-bottom: 40px;
    }

    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }

    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }

    .hide {
        opacity: 0;
    }

    .form-container {
        margin-bottom: 15px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }

    .el-input-number .el-input input{
      text-align: left;
    }

</style>
