<template>
  <div>
    <div v-if="!isLoading">
      <div class="label">Export Financial By</div><br/>
      <el-button class="status-button" type="success" @click="exportData('xls')">Excel</el-button>
      <el-button class="status-button" type="danger" @click="exportData('pdf')">Pdf</el-button>
    </div>
    <div v-if="isLoading" class="progress-container">
      <div>
        <i class="el-icon-loading" style="font-size: 70px"/>
      </div>
      <label>Exporting... Please wait!</label>
    </div>
  </div>
</template>

<script>
    export default {
        name: "export-modal",
        data() {
          return {
            isLoading: false
          }
        },
        methods: {
          exportData(options){
            this.isLoading = true
            this.$store.dispatch('exportFinancial', {
              options,
              data: this.$parent.$parent.content.data,
              data2: this.$parent.$parent.content.data2,
              lang: this.$i18n.locale
            }).then(res => {
              this.$parent.$emit('close')
              setTimeout(() => {
                let dateTime = moment(String(new Date())).format("MMM DD, YYYY , hh:mm A");
                let fileURL = window.URL.createObjectURL(new Blob([res]));
                let fileLink = document.createElement('a');
                fileLink.href = fileURL;
                fileLink.setAttribute('download', `Financial Monitor - ${dateTime}.${options}`);
                document.body.appendChild(fileLink);
                fileLink.click();
                this.isLoading = false
              }, 500)
            })
          }
        }
    }
</script>

<style lang="scss" scoped>
  div {
    text-align: center;
  }
  .label {
    color: #595959;
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 25px;
  }
  .status-button {
    font-size: 1.3em;
  }
</style>
