<template>
    <div>
                <el-form ref="finance_form" :model="form" :rules="rules" label-position="left" :inline="true" label-width="140px" style="width: 100%;">

                  <el-form-item :label="$t('Financing.transaction_type')+':'"   prop="trans_type">
                      <el-select v-model="form.trans_type" placeholder="Select" style="width: 350px;" filterable @change="transTypeOnChange()">
                          <!-- <el-option label="Please Select" value=""></el-option> -->
                          <el-option label="Additional Purchasing Budget" value="add_purchasing_budget"></el-option>
                          <el-option label="Purchasing Budget Return" value="purchasing_budget_return"></el-option>
                          <el-option label="Delivery Budget Return" value="delivery_budget_return"></el-option>
                          <el-option label="Other Cost" value="other_cost"></el-option>
                          <el-option label="Other Received" value="other_received"></el-option>
                          <el-option label="RMB Received" value="rmb_received"></el-option>
                          <el-option label="RMB Used" value="rmb_used"></el-option>
                          <el-option label="Transfer" value="fund_transfer"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item prop="borrowed" label="List" label-position="center" v-if="form.trans_type == 'purchasing_budget_return' || form.trans_type =='delivery_budget_return' || form.trans_type =='add_purchasing_budget'">
                      <el-select v-model="form.finance_id" :placeholder="$t('Clients.select')"  filterable style="width: 350px;">
                          <el-option
                              v-for="b in borrowed"
                              :label="b.trans_desc"
                              :value="b.id">
                          </el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item label="Transfer type" label-position="center" v-if="form.trans_type == 'fund_transfer'">
                      <el-select v-model="form.transfer_type" placeholder="Select" style="width: 350px;" filterable>
                          <el-option label="Rmb to Peso" value="rmbtopeso"></el-option>
                          <el-option label="Peso to Rmb" value="pesotormb"></el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item prop="req_user" :label="$t('Financing.requesting_user')+' :'" label-position="center" v-if="userFlag()">
                      <el-select v-model="form.req_user" :placeholder="$t('Clients.select')"  filterable style="width: 350px;">
                          <el-option
                              v-for="s in riders"
                            :label="s.value"
                            :value="s.value">
                          </el-option>
                      </el-select>
                  </el-form-item>

                  <el-form-item label="Remarks :" v-if="userFlag()">
                      <el-input type="text" v-model="form.remarks"  style="width: 350px;"></el-input>
                  </el-form-item>

        					<el-form-item  prop="amount" :label="$t('Common.amount')+' :'"  label-position="center" v-if="form.trans_type != ''">
        						<el-input-number v-model="form.amount" :controls="controls" style="width: 350px;"></el-input-number>
        					</el-form-item>

                  <el-form-item  prop="amount2" label="Convert to :"  label-position="center" v-if="form.trans_type == 'fund_transfer' || form.transfer_type != ''">
                    <el-input-number v-model="form.amount2" :controls="controls" style="width: 350px;"></el-input-number>
                  </el-form-item>

                	<el-form-item prop="desc" :label="$t('Financing.description')+' :'" v-if="descFlag()">
                    	<el-input type="textarea" v-model="form.desc"  style="width: 350px;"></el-input>
                 	</el-form-item>


                    <div class="align-right">
                        <el-button class="add-button" type="primary" @click="onSubmitFinance('finance_form')">{{ $t('Common.save') }}</el-button>
                    </div>

        </el-form>
    </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {


  name: 'add-client-funds',
  components: {

  },
  data () {
    var amountGreaterZero = (rule, value, callback) => {
        if(value<=0){
              callback(new Error(this.$t('Common.input_more_than_zero')))
        } else {
            callback()
        }
    }

    var notEmptyUser = (rule, value, callback) => {
        if((this.form.req_user == '')){
              callback(new Error(this.$t('Financing.select_request_user')))
        } else {
            callback()
        }
    }

    var notEmptyBorrowed = (rule, value, callback) => {
        if((this.form.finance_id == '')){
              callback(new Error('Please select from the list.'))
        } else {
            callback()
        }
    }

    return {
      riders: [{
          value: 'Jeo',
        }, {
          value: 'Vergel',
        }, {
          value: 'Yenyen',
        }, {
          value: 'RC',
        }, {
          value: 'Wilson',
        }, {
          value: 'John',
        }, {
          value: 'Oscar',
        }
        // , {
        //   value: 'Picked up',
        // }
        ],

      storages: ['Cash','Bank','Alipay'],

      transfer: ['Client','Group'],

      controls : false,

      clientResults : [],

      groupResults : [],

      loading: false,
      value: [],
      groupvalue: [],
      user_branch : 1,

      borrowed: [],
      users: [],

      finance : {
        trans_desc: '',
        cat_type: '',
        purchasing_budget: '',
        purchasing_budget_return: '',
        delivery_budget: '',
        delivery_budget_return: '',
        other_cost: '',
        other_received: '',
        chmoney_paid: '',
        chmoney_used: '',
        cash_balance: '',
        ch_balance: '',
      },

      form: {
      	  trans_type : '',
          transfer_type : '',
          amount: '',
          amount2: '',
          finance_id: '',
          user_id: '',
          desc: '',
          req_user: '',
      },

      rules: {
          trans_type: [
              { required: true, message: this.$t('Financing.select_transact_type') },
          ],

          borrowed: [
              { validator: notEmptyBorrowed, trigger: 'blur'},
          ],

          desc: [
              { required: true, message: this.$t('Financing.fillup_desc') },
          ],

          amount: [
              { required: true, message: this.$t('Common.fillup_amount') },
              { validator: amountGreaterZero, trigger: 'blur'},
          ],

          amount2: [
              { required: true, message: this.$t('Common.fillup_amount') },
              { validator: amountGreaterZero, trigger: 'blur'},
          ],

          req_user: [
              { validator: notEmptyUser, trigger: 'blur'},
          ],

      },

      errors: []

    }
  },
  created () {
    this.$eventBus.$emit('getBranch');
  },

  mounted () {
      this.$eventBus.$on('passBranch', (data) => {
          this.user_branch = data;
      })
  },

  computed: mapGetters({
    session: 'session'
  }),

  methods: {
      editAccess(){
        var id = this.session.user.id;
        var ids = [1,9, 1193, 12978, 14870, 14871];
        var check = ids.includes(id);
        return check;
      },
      onSubmitFinance (financeForm) {
          this.errors = [];
          this.$refs[financeForm].validate((response) => {
              if(response) {
              	 if(this.ifNewRecord()){
                    if(this.form.trans_type == 'fund_transfer'){
                      if(this.form.transfer_type == 'rmbtopeso'){
                        this.form.desc = 'Transfer chinese money to peso rate';
                      }
                      if(this.form.transfer_type == 'pesotormb'){
                        this.form.desc = 'Transfer peso to chinese money rate';
                      }
                    }
	              	 	this.finance = {
			              trans_desc: this.form.desc,
			              cat_type: ((this.form.trans_type == 'delivery_budget_return' ) ? 'delivery' : ((this.form.trans_type == 'purchasing_budget_return' ) ? 'purchasing' : ((this.form.trans_type == 'other_cost' || this.form.trans_type == 'other_received' ) ? 'other' : (this.form.trans_type == 'rmb_used' || this.form.trans_type == 'rmb_received' ? 'other' : 'transfer')))),
                    purchasing_budget : '',
                    purchasing_budget_return : '',
			              delivery_budget: '',
                    delivery_budget_return: '',
                    other_cost: ((this.form.trans_type == 'other_cost') ? this.form.amount : ((this.form.trans_type == 'fund_transfer' && this.form.transfer_type =='pesotormb') ? this.form.amount : '')),
                    other_received: ((this.form.trans_type == 'other_received') ? this.form.amount : ((this.form.trans_type == 'fund_transfer' && this.form.transfer_type =='rmbtopeso') ? this.form.amount2 : '')),
                    chmoney_paid: ((this.form.trans_type == 'fund_transfer' && this.form.transfer_type == 'pesotormb') ? this.form.amount2 : (this.form.trans_type == 'rmb_received' ? this.form.amount : '')),
                    chmoney_used: ((this.form.trans_type == 'fund_transfer' && this.form.transfer_type == 'rmbtopeso') ? this.form.amount : (this.form.trans_type == 'rmb_used' ? this.form.amount : '')),
			              cash_balance: '',
			              bank_balance: '',
			            };

			            return this.$store.dispatch('addDeliveryFinance', { method: 'POST', payload: this.finance }).then(res => {
			            	//console.log(res);
					        if (res.code == 200) {

					          this.$message({
					            type: 'success',
					            message: this.$t('Common.successfully_saved')
					          });
					          this.$parent.$emit('close')
					          this.$refs['finance_form'].resetFields()

					          this.$eventBus.$emit('refreshFinancing');

					        }else{
					          this.$message({
					            type: 'error',
					            message: this.$t('Common.error_adding_data')
					          });

					        }
					      }).catch(err => {

					      })
              	 }

              	 else{

              	 	return this.$store.dispatch('updateDeliveryFinance', { method: 'PATCH', payload: this.form }).then(res => {
			            	//console.log(res);
					        if (res.code == 200) {

					          this.$message({
					            type: 'success',
					            message: 'Successfully Saved'
					          });

					          this.$parent.$emit('close')
					          this.$refs['finance_form'].resetFields()

					          this.$eventBus.$emit('refreshFinancing');

					        }else{
					          this.$message({
					            type: 'error',
					            message: res.message
					          });

					        }
					      }).catch(err => {

					      })
              	 }

              }
          })
      },

      resetFinanceForm(){
      	this.finance = {
            trans_desc: '',
            cat_type: '',
            purchasing_budget: '',
            purchasing_budget_return: '',
            delivery_budget: '',
            delivery_budget_return: '',
            other_cost: '',
            other_received: '',
            chmoney_paid: '',
            chmoney_used: '',
            cash_balance: '',
            ch_balance: '',
          };
      },

      transTypeOnChange() {
      		this.$refs['finance_form'].clearValidate();
      		if(this.borrowFlag()){
		      	this.$store.dispatch('getReturnList', {
    					trans_type: this.form.trans_type
    				})
    				.then(res => {
    					this.borrowed = res;
    					//console.log(this.borrowed);
    				})
      		}
      },

      ifNewRecord(){
      	if(this.form.trans_type == 'other_cost' || this.form.trans_type == 'other_received'|| this.form.trans_type == 'fund_transfer' || this.form.trans_type == 'rmb_used' || this.form.trans_type == 'rmb_received'){
      		return true;
      	}
      	return false;
      },

      borrowFlag(){
      	if(this.form.trans_type == 'delivery_budget_return' || this.form.trans_type == 'purchasing_budget_return' || this.form.trans_type == 'add_purchasing_budget'){
      		return true;
      	}
      	return false;
      },

      descFlag(){
      	if(this.form.trans_type == 'other_cost' || this.form.trans_type == 'other_received' || this.form.trans_type == 'rmb_used' || this.form.trans_type == 'rmb_received'){
      		return true;
      	}
      	return false;
      },

      userFlag(){
        if(this.form.trans_type == 'add_purchasing_budget'){
          return true;
        }
        return false;
      },


  }
}
</script>

<style lang="scss">

  .el-select-dropdown{
    max-width: 350px;
  }
	.el-form-item {
	    margin-bottom: 5px !important;
	}

	.el-dialog {
    	margin-top: 1vh !important;
	    width: 400px;
	}

	.el-dialog__wrapper {
		overflow: hidden !important;
	}

    .add-button-container {
        margin-bottom: 40px;
    }

    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }

    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }

    .hide {
        opacity: 0;
    }

    .form-container {
        margin-bottom: 15px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }

    .el-input-number .el-input input{
      text-align: left;
    }

</style>
