<template>

	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<strong>{{ taskName }}</strong>
  		</div>

  		<div class="text item">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template v-if="data.length === 0">
  					<el-divider>{{ $t('Reports.no_report_available') }}</el-divider>
  				</template>

  				<template v-else>
  					<ul>
  						<li v-for="d in data" class="m-b-15">
  							{{ formatDateTime(d.created_at) }}
  							-
  							<span class="text-muted">
  								{{ d.processor }}
  							</span>

  							<template v-if="d.log_type == 'Document'">

                  <table class="documents-list m-t-10">
                    <thead>
                      <tr colspan="2">
                        <th style="white-space: pre-wrap">{{ (d.label) ? d.label : d.detail }}</th>
                      </tr>
                    </thead>
                    <tbody v-if="d.documents.length > 0 && d.label!=='Received Documents from Client'">
                      <tr v-for="document in d.documents" v-if="document.pivot.count > 0">
                        <td class="left-data">
                          ({{ document.pivot.count }})
                          {{ document.title }}
                        </td>

                        <td class="right-data">
                          <span v-if="d.service_procedure != null && (d.service_procedure.action.name != 'Prepared' && d.service_procedure.category.name != 'Documents')" class="text-muted">
                            (
                              On Hand:
                              {{ document.pivot.previous_on_hand }}
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'add'"> + </span>
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'remove'"> - </span>
                              {{ document.pivot.count }}
                              =
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'add'">
                                {{ document.pivot.previous_on_hand + document.pivot.count }}
                              </span>
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'remove'">
                                {{ document.pivot.previous_on_hand - document.pivot.count }}
                              </span>
                            )
                          </span>

                          <span v-if="d.log_type==='Document' && (d.label==='Generate Photocopies of Documents' || d.label==='Received Documents from Client')">
                            (
                            On Hand:

                            {{ document.pivot.previous_on_hand }}
                            <span> + </span>
                            {{ document.pivot.count }}
                            =
                            {{ document.pivot.count + document.pivot.previous_on_hand }}
                            )
                          </span>
                        </td>
                      </tr>
                    </tbody>

                    <tbody v-if="d.documents.length > 0 && d.label==='Received Documents from Client'">
                      <tr v-for="document in d.documents" v-if="document.pivot.count > 0">
                        <td class="left-data">
                          ({{ document.pivot.count }})
                          {{ document.title }}
                        </td>

                        <td class="right-data">
                          <span v-if="d.service_procedure != null && (d.service_procedure.action.name != 'Prepared' && d.service_procedure.category.name != 'Documents')" class="text-muted">
                            (
                              On Hand:
                              {{ document.pivot.previous_on_hand }}
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'add'"> + </span>
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'remove'"> - </span>
                              {{ document.pivot.count }}
                              =
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'add'">
                                {{ document.pivot.previous_on_hand + document.pivot.count }}
                              </span>
                              <span v-if="d.service_procedure.documents_mode != null && d.service_procedure.documents_mode == 'remove'">
                                {{ document.pivot.previous_on_hand - document.pivot.count }}
                              </span>
                            )
                          </span>

                          <span v-if="d.log_type==='Document' && (d.label==='Generate Photocopies of Documents' || d.label==='Received Documents from Client')">
                            (
                            On Hand:

                            {{ document.pivot.previous_on_hand }}
                            <span> + </span>
                            {{ document.pivot.count }}
                            =
                            {{ document.pivot.count + document.pivot.previous_on_hand }}
                            )
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- <table class="documents-list m-t-10" v-if="d.documents.filter(document => document.pivot.count == 0).length > 0"> -->
                  <table class="documents-list m-t-10" v-if="d.documents.filter(document => document.pivot.pending_count != 0).length > 0 && d.label!=='Received Documents from Client'">
                    <thead>
                      <tr>
                        <th>
                          Pending document/s need to receive:
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr v-for="document in d.documents" v-if="document.pivot.count == 0"> -->
                      <tr v-for="document in d.documents" v-if="document.pivot.pending_count != 0">
                        <td>
                          <span v-if="document.pivot.pending_count != 0">
                            ({{ document.pivot.pending_count }})
                          </span>
                          {{ document.title }}
                        </td>
                        <td class="right-data">
                          <span v-if="d.log_type==='Document' && (d.label==='Generate Photocopies of Documents' || d.label==='Received Documents from Client')">
                            (
                            On Hand:

                            {{ document.pivot.previous_on_hand }}
                            <span> + </span>
                            {{ document.pivot.count }}
                            =
                            {{ document.pivot.count + document.pivot.previous_on_hand }}
                            )
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
  							</template>

  							<template v-else>
                  <table class="documents-list m-t-10">
                    <thead>
                      <tr v-if="d.label !== 'Updated Cost' && d.label !== 'Note to Service'">
                        <template v-if="d.detail">
                          <th v-html="d.detail.indexOf('<div') !== -1 ? `Paid service with an amount of Php${Math.abs(d.amount)}` : d.detail" class="detail"></th>
                        </template>
                        <template v-else>
                          <th v-html="d.label" class="label"></th>
                        </template>
                      </tr>
                      <tr v-if="d.label === 'Updated Cost' || d.label === 'Note to Service'">
                        <template>
                          <th v-html="d.detail" class="detail" :style="(d.label === 'Updated Cost') ? 'color: red;' : 'none'"></th>
                        </template>
                      </tr>
                    </thead>
                  </table>
  							</template>
  						</li>
  					</ul>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'po-list',

		data () {
	    	return {
	      		clientServicesId: 0,

	      		serviceName: '',

	      		isFetching: true,

	      		data: []
	    	}
	  	},

	  	methods: {
	      	getReports () {
	        	return this.$store.dispatch('getAllLogs',{
	          		client_service_id: this.clientServicesId
	        	})
	        	.then(res => {
	        		this.data = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    this.data = data;
                    console.log('data', data)
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	}
  		},

		created () {
			let { client_services_id, name } = this.$parent.$parent.content;

      		this.clientServicesId = client_services_id;
      		this.serviceName = name;

      		this.getReports();
  		}

	}

</script>

<style scoped>

	.text-muted {
		color: #6c757d;
	}

	.m-b-15 {
		margin-bottom: 15px;
	}

  .m-t-10 {
    margin-top: 10px;
  }

  table.documents-list {
    width: 100%;
    margin-left: 30px;
  }

  table.documents-list td.left-data {
    height: 25px;
    width: 70%;
  }

  table.documents-list td.right-data {
    height: 25px;
    width: 30%;
  }

</style>
