<template>
  <div>
    <!-- <pdf src="https://cors-anywhere.herokuapp.com/http://api.codedcph.com/storage/project_task/3/0001-converted.pdf"></pdf> -->
    <iframe :src='src' width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
    {{src}}
  </div>
</template>

<script>
  import pdf from 'vue-pdf'

  export default {
    name: 'file-preview',
    components: {
      pdf
    },
    data () {
      return {
          task_id: null,
          project_id: null,
          src: null,
          storageURL: process.env.VUE_APP_STORAGE
      }
    },
    computed: {

    },
    methods: {

    },
    created () {
      this.task_id = this.$parent.$parent.content.task_id;
      this.project_id = this.$parent.$parent.content.project_id;
      this.src = this.storageURL+''+this.$parent.$parent.content.src;
    }
  }
</script>

<style lang="scss" scoped>
  .body-container {
    .header {
      font-size: large;
    }

    .body {

    }

    .footer {

    }
  }
</style>
