<template>

	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<strong>Receive payment for Project : {{project.name}}</strong>
  		</div>

  		<div class="text item">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>

				<table>
					<tr v-for="(order, index) in form.data">
						<td style="padding-right: 50px;">
		  				  	{{ order.name }}
						</td>
						<td>
						  <div>
						  	<div  style="padding-top: 0px;">
						  		<b>QTY: {{ order.qty }} x Php{{ order.unit_price }} = <strong style="padding-left: 120px;">Php{{ order.qty * order.unit_price }}</strong></b>
						  	</div>
						  </div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<el-divider></el-divider>
							<div style="float: right; margin-bottom: 12px;">
								<b>Subtotal : Php{{ totalPrice() | currency}}</b><br>
							</div>
						</td>
					</tr>
				</table>

				<el-upload 
				  class="upload-demo"
				  drag
	              ref="upload"
	              action=""
	              list-type="picture"
	              :on-change="handleChange"
	              :auto-upload="false">
				  <i class="el-icon-upload"></i>
				  <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
				  <div class="el-upload__tip" slot="tip">jpg/png files</div>
				</el-upload>
				


				<el-button  type="primary" size="mini" icon="el-icon-plus" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="onSubmit()">Receive Payment</el-button>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'task-details',

		data () {
	    	return {

	      		isFetching: true,

	      		dt: [],
	      		project: [],

	      		form: {
			        fileData: []
			      },
			      imgBase64: [],


	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	      	getTask() {
	        	return this.$store.dispatch('getProjectTask',{
	          		task_id: this.task_id
	        	})
	        	.then(res => {
	        		this.data = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    this.data = data;
                    var progress = data.progress;
                    this.percentCircle = (progress/100) * 180;

                    this.dt = [data.start,data.end];

                    console.log('data', data)
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	totalPrice(){
	      		var total = 0;
	      		this.form.data.map((s,k) => {
                      total += (s.qty * s.unit_price);
                })
                return total;
	      	},

	      	receivePayment(){
		      // return this.$store.dispatch('toShip', { payload: this.form }).then(res => {
		      //   if (res.code == 200) {
		      //    this.form.data = res.data;
		      //     this.$message({
		      //       type: 'success',
		      //       message: this.$t('Common.successfully_updated')
		      //     });
		      //     this.$eventBus.$emit('loadToPrep')
		      //     this.$parent.$emit('close')

      		// 	  // this.isFetching = false;
		      //   }else{

		      //     // console.log('ERROR');

		      //     this.$message({
		      //       type: 'error',
		      //       message: 'Error'
		      //     });

		      //   }
		      // }).catch(err => {

		      // })
		    },

		    onSubmit() {
		      if(this.imgBase64.length > 0) {
		        // this.$refs[docForm].validate((response) => {
		        //   if(response) {
		            this.form.fileData.filter((item, index) => {
		              var file_path = item.order_id;

		              // if(item.expired_at !== '' && item.expired_at !== null) {
		              //   file_path += '&&' + item.expired_at;
		              // }

		              var file_type = item.file_path.split('.');

		              item.file_path = file_path + '.' + file_type[file_type.length-1]

		              item.imgBase64 = this.imgBase64[index].imgBase64
		            })

		            this.$store.dispatch('uploadPaymentDocuments', {
		              order_id: this.project.id,
		              data: this.form.fileData
		            }).then(res=> {
		              console.log('result', res)
		              if(res.success) {
		                this.$message({
		                  showClose: true,
		                  message: this.$t('Clients.docs-upload-success'),
		                  type: 'success',
		                  center: true
		                })

		                setTimeout(() => {
		                  this.$eventBus.$emit('loadAllOrders',true);
		                  this.$parent.$emit('close')
		                }, 1000)
		              } else {
		                this.$message({
		                  showClose: true,
		                  message: this.$t('Clients.docs-upload-failed'),
		                  type: 'error',
		                  center: true
		                })
		              }
		            })
		        //   }
		        // })
		      } else {
		        this.$message({
		          showClose: true,
		          message: this.$t('Navigation.docs') + this.$t('Group.is_required') + '.',
		          type: 'error',
		          center: true
		        })
		      }            
		    },
		    handleChange (file, fileList) {
		      var self = this

		      var fileData = {
		        order_id: this.project.id,
		        file_path: file.name,
		        remarks: '',
		        imgBase64: null
		      }

		      var reader = new FileReader();
		      reader.readAsDataURL(file.raw);
		      reader.onload = function(e) {
		        self.imgBase64 = [...self.imgBase64, {
		          name: file.name,
		          imgBase64: this.result
		        }]
		      }

		      this.form.fileData = [...this.form.fileData, fileData]
		    },

		    checkInventoryQty(){

		      return this.$store.dispatch('checkInventoryQty', { payload: this.form }).then(res => {
		        if (res.code == 200) {
		        	this.form.data = [];
		         this.form.data = res.data;
		          // this.$message({
		          //   type: 'success',
		          //   message: this.$t('Common.successfully_updated')
		          // });

      				this.isFetching = false;
		          // this.$eventBus.$emit('syncProjectData')
		        }else{

		          // console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'Error'
		          });

		        }
		      }).catch(err => {

		      })
		    },
  		},



		created () {
			let { data } = this.$parent.$parent.content;
      		console.log(data);
      		this.project = data;
      		this.form.data = data.orders;
      		this.checkInventoryQty();
  		}


	}

</script>

<style>

.ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
.notenough {background-color: #d50000;} /* po */
.enough {background-color: #23bc2e;} /* to received */

.upload-demo{
	width: 100% !important;
}

.el-upload, .el-upload-dragger{
	width: 100% !important;
}

</style>
