<template>

	<div>

		<div class="m-b-40">

			<el-table ref="matRequest" width="100%" :data="request.materials" v-loading="loading" row-class-name="movable">
					<el-table-column label="Materials Request" label-class-name="tbl-header">
						<el-table-column label="Material Name" width="400" align="left">
						   	<template slot-scope="scope">
						      	{{ scope.row.name }}
						    </template>
						</el-table-column>

						<el-table-column label="Unit Price">
							<template slot-scope="scope">
							    {{ scope.row.unit_price }}
							</template>
						</el-table-column>

						<el-table-column label="Qty">
							<template slot-scope="scope">
							    {{ scope.row.qty }}
							</template>
						</el-table-column>

						<el-table-column label="Total Price">
							<template slot-scope="scope">
							    {{ scope.row.qty * scope.row.unit_price }}
							</template>
						</el-table-column>

						<el-table-column label="Approve">
							<template slot-scope="scope">
							    <el-button  @click="approveBudget(scope.row.od_id)" type="success" size="small" icon="el-icon-check" >
							    	Approve Budget
								</el-button>
							</template>
						</el-table-column>
					</el-table-column>
				</el-table>

    	</div>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';

	export default {
		name: 'preset-profile',

		components: {
    		ElTableDraggable,
  		},
		
		data () {
			return {
				loading: false,

				serviceId: this.$route.params.service_id,

				serviceName: null,

				serviceProcedures: [],

				optionalServiceProcedures: [],

				sorted: false,
				preset_name: '',
				preset_name_cn: '',

				materials : [],
				oldmaterials : [],
				selected : [],

				form: {
			        preset_id : 0,
			        materials : [], 
			      },
			     xform: {
			     	preset_id : 0,
			        materials: [],
			     },

			     request:{
			     	materials: []
			     }
			}
		},

		methods:{
			refreshData(){
		        this.$store.dispatch('getAllMaterials', { payload: this.form } ).then(response => {
		        this.materials = response.data.materials;
		        this.preset_name = response.data.preset.name;
		        this.preset_name_cn = response.data.preset.name_cn;
		        this.xform.materials = response.data.preset.material_ids;
		        this.oldmaterials = response.data.preset.materials;
		        this.request.materials = response.data.reqOrders;
		      })
		    },

			displayTable(){
		      this.$store.dispatch('getSelectedMaterials', { payload: this.xform }).then(response => {
		        this.form.materials = response.data.materials;
		      })
		    },

		    requestLowQty(){
		      this.$store.dispatch('requestLowQty', { payload: this.xform }).then(response => {
		        this.form.materials = response.data;
		        this.xform.materials = response.ids;
		      })
		    },

		    approveBudget(od_id){
		      this.$store.dispatch('approveBudget', { id: od_id }).then(response => {
		      	this.$message({
                                showClose: true,
                                message: 'Budget Request Approved!',
                                type: 'success',
                                center: true
                            });
		      	this.$eventBus.$emit('materialRequest');
		      })
		    },

			saveChanges() {

				this.$store.dispatch('requestMaterials', { payload: this.form })
                    .then(response => {
                    	
                        if (response.status === 'Success') {

                            this.$message({
                                showClose: true,
                                message: this.$t('Common.successfully_updated'),
                                type: 'success',
                                center: true
                            });
                            this.xform.materials = [];
                            this.form.materials = [];

                            this.refreshData();
                        } else {
                            const errors = response.errors;

                            for (const key in errors) {
                                 if (errors.hasOwnProperty(key)) {
                                    const message = errors[key][0];

                                    this.$message({
                                        type: 'error',
                                        message: message
                                    });
                                }
                            }
                        }
                    });
			}
		},

		created() {
			const vm = this
			//this.form.preset_id   = vm.$parent.$route.params.id
			//this.xform.preset_id   = vm.$parent.$route.params.id
		    this.$store.dispatch('getAllMaterials', { payload: this.form } ).then(response => {
		        this.materials = response.data.materials;
		        this.preset_name = response.data.preset.name;
		        this.preset_name_cn = response.data.preset.name_cn;
		        this.xform.materials = response.data.preset.material_ids;
		        this.oldmaterials = response.data.preset.materials;
		        this.request.materials = response.data.reqOrders;
		      })
		}
	}
</script>

<style lang="scss">
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

/*  	.movable {
  		cursor: move;
  	}*/

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #24313c;
  		font-size: 16px;
  	}

  	.m-b-40 {
  		margin-bottom: 40px;
  	}
</style>