<template>

	<el-card class="box-card" shadow="never" style="overflow-x: hidden;">

  		<div class="text item" style="overflow-x: hidden;">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>
  					<el-form ref="po_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
  					<el-card class="box-card" shadow="never">
				  		<div slot="header" class="clearfix">

				            <el-row :gutter="20" class="form-container">
				              	<el-col :span="19">
				              		<h5>Type : 
					              		<el-radio-group v-model="form.paytype" @change="paytypeChange()" v-if="form.payment_id == 0">
									      <!-- <el-radio-button label="PO"></el-radio-button> -->
									      <!-- <el-radio-button label="POC"></el-radio-button> -->
									      <el-radio-button label="PAYMENT/BILLS"></el-radio-button>
									      <el-radio-button label="SPC"></el-radio-button>
									    </el-radio-group>
									    <b v-else>{{form.paytype}}</b>
									</h5>
				              	</el-col>
				              	<el-col :span="5">
				              		<h4><span style="font-size: 12px;">
							  			Total Price : 
									    <strong style="color: red; font-size: 17px;">PHP{{ totalprice() | currency}}</strong> 
										</span>
									</h4>
				              	</el-col>
				            </el-row>

				            <el-row :gutter="20" class="form-container">
				              	<el-col :span="12">
				              		<el-row>
								    	<el-col :span="24">
								    		<h5>Payment Account : <br>
								    			<el-select size="mini" v-model="form.bank_id" filterable placeholder="Select Account" style="width: 200px;" @change="handleGetBalance()">
							                      <el-option
							                        v-for="s in banks"
							                        :key="s.id"
							                        :label="s.name+' ('+s.currency+')'"
							                        :value="s.id">
							                      </el-option>
							                    </el-select><br>
							                    <!-- <b v-else style="margin-left: 12px;">SPC</b><br> -->
							                    <b v-show="form.bank_id != null"  style="margin-left: 12px;">Balance: {{ form.bank_balance | currency }}</b>

								    		</h5>
								    	</el-col>
								    	<el-col :span="12">
								    		<h5 v-if="form.bank_id > 0 && form.paytype =='SPC'">Purchaser : <br>
								    			<el-input v-model="form.purchaser" type="text" size="mini" style="width: 200px;"></el-input>
								    		</h5>
								    	</el-col>
								    	<el-col :span="12">
								    		<!-- <h5 v-if="form.paytype =='PAYMENT/BILLS' || form.paytype =='PO'"> -->
								    		<h5>{{ form.paytype == 'PAYMENT/BILLS' ? 'Biller' : 'Payee' }} : <br>
								    			<el-select clearable filterable size="mini" v-model="form.supplier_id" filterable placeholder="Select" style="width: 200px;">
							                      <el-option v-if="form.paytype !='PAYMENT/BILLS'" 
							                        v-for="s in suppliers"
							                        :key="s.id"
							                        :label="s.full_name"
							                        :value="s.id">
							                      </el-option>
							                      <el-option v-if="form.paytype =='PAYMENT/BILLS'"
							                        v-for="s in billers"
							                        :key="s.bid"
							                        :label="s.name"
							                        :value="s.bid">
							                      </el-option>
							                      <!-- <el-option v-if="purchaser != ''"
							                        :key="purchaser"
							                        :label="purchaser"
							                        :value="purchaser">
							                      </el-option> -->
							                    </el-select>
								    		</h5> 

								    	</el-col>
								    </el-row>

								    <el-row>
				              			<el-col :span="12">
								    		<h5>Payment Date : <br>
								    			<b style="margin-left: 12px;">{{ form.date }}</b>
								    			<!-- <strong style="color: #67C23A; border: 0;">
								    				<el-date-picker size="mini"
							                          v-model="form.date"
							                          type="date"
							                          format="MM/dd/yy- dddd"
							                          value-format="yyyy-MM-dd"
							                          placeholder="Select date"
							                          style="width: 220px;">
							                        </el-date-picker>
							                    </strong> -->
								    		</h5>
								    	</el-col>
								    	<el-col :span="12">
								    		<h5 v-if="form.paytype !='SPC'">Payment method : <br>
								    			<el-select size="mini" v-model="form.payout_type" filterable placeholder="Select" style="width: 200px;">
							                      <el-option
							                        v-for="s in payment_method"
							                        :label="s.value"
							                        :value="s.value">
							                      </el-option>
							                    </el-select>
								    		</h5>
								    		<h5 v-else>
								    			Payment method : <br>
								    			<b style="margin-left: 12px;">{{ form.payout_type }}</b>
								    		</h5>
								    		<h5 v-if="form.payout_type == 'Check' || form.payout_type == 'check'">Check # : <br>
								    			<el-input v-model="form.checknum" type="text" size="mini"></el-input>
								    		</h5>
								    	</el-col>
								    </el-row>

						    	</el-col>
						    	<el-col :span="7">
						    		<el-row>
						    			<el-col :span="6">
						    				<h5 style="margin-top: 103px;">Toll : 
								    			<el-input v-model="form.toll" min="0" type="number" size="mini"></el-input>
								    		</h5>
						    			</el-col>
						    			<el-col :span="6">
						    				<h5 style="margin-top: 103px;">Del.Fee : 
								    			<el-input v-model="form.delivery_fee" min="0" type="number" size="mini"></el-input>
								    		</h5>
						    			</el-col>
						    			<el-col :span="6">
						    				<h5 style="margin-top: 103px;">Parking : 
											    <el-input v-model="form.parking" min="0" type="number" size="mini"></el-input>
								    		</h5>
						    			</el-col>
						    			<el-col :span="6">
						    				<h5 style="margin-top: 103px;">Gas : 
								    			<el-input v-model="form.gas" min="0" type="number" size="mini"></el-input>
								    		</h5>
						    			</el-col>
						    		</el-row>
						    	</el-col>
						    	<el-col :span="5">
						    		<el-row>
						    			<el-col :span="24">

								    		<h5> 
								    			<div class="field" style="font-size: 12px;">Total Payout :
											    <!-- <span class="field-value" v-show="!showField('payout_total')" @click="focusField('payout_total')" style="color: #67C23A; font-size: 20px;">  PHP{{form.payout_total | currency}} </span> -->
											    <span class="field-value" style="color: #67C23A; font-size: 17px;">  PHP{{ (form.payout_total) | currency}} </span><br>

											    <el-button type="success" icon="el-icon-plus" size="mini" circle v-show="!showField('payout_add')" @click="focusField('payout_add')" style="margin-bottom: 16px;"></el-button>
											    <b  v-show="showField('payout_add')">Additional Payout</b>
											    <el-input v-model="form.payout_add" v-show="showField('payout_add')" id="payout-add" min="0" type="number" class="field-value form-control" @focus="focusField('payout_add')" @blur="blurField" size="mini"></el-input>
											  </div>
								    			<!-- <strong style="color: #67C23A">PHP0</strong>  -->
								    		</h5>
								    	</el-col>
								    	<el-col :span="24">
								    		<h5 style="margin-top: -4px;">Return : 
								    			<div class="field">
											    <span class="field-value" v-show="!showField2('payout_return')" @click="focusField('payout_return')" style="color: rgb(119 133 238); font-size: 16px;">PHP{{form.payout_return | currency}} </span>
											    <el-input v-model="form.payout_return" v-show="showField2('payout_return')" id="payout-return" min="0" type="number" class="field-value form-control" @focus="focusField('payout_return')" @blur="blurField" size="mini"></el-input>
											  </div>
								    			<!-- <strong style="color: #67C23A">PHP0</strong>  -->
								    		</h5>
								    	</el-col>
								    </el-row>

						    	</el-col>
						    </el-row>
				  		</div>

				  		<el-row :gutter="20" class="form-container">
				            <el-col :span="5" :offset="19">
								<h4><span style="font-size: 18px;">
									
						  			Balance : <br>
								    <strong style="color: blue">PHP{{ (( totalprice() + parseFloat(form.gas) + parseFloat(form.delivery_fee) + parseFloat(form.toll) + parseFloat(form.parking)) - parseFloat(form.payout_total)) | currency}}</strong> 
									</span>
								</h4>
							</el-col>
						</el-row>
				  		<!-- {{form.with_order == 0}}
				  		{{form.purchase_order_id == 0}} -->
				  		<div class="text item" v-if="form.with_order == 0 && form.purchase_order_id == 0">
				  			<el-row :gutter="20" class="form-container">
				              <el-col :span="24">
				              	<h4><b style="color: #67C23A;">Category Details</b></h4>

						    		<el-button size="mini" type="success" @click="AddListCategory()" round>+ Add new row</el-button>

									<el-table :data="datas = details" border style="width:100%;overflow-y: hidden; height: auto;">
										<el-table-column fixed="left" label="Customer" width="300">
											<template slot-scope="scope">
												<el-select v-model="details[scope.$index].project_id" filterable placeholder="Select Project" style="width: 270px;" size="mini">
													<el-option key="0" value="Warehouse"><i>Warehouse</i></el-option>
							                        <el-option
							                          v-for="s in projects"
							                          :key="s.id"
							                          :label="s.name"
							                          :value="s.id">
							                        </el-option>
							                      </el-select>
											</template>
										</el-table-column>
										<el-table-column label="Category" width="180">
											<template slot-scope="scope">
												<el-select
							                    v-model="details[scope.$index].category_id"
							                    filterable
							                    default-first-option
							                    placeholder="Select"
							                    size="small">
							                    <el-option
							                      v-for="item in categories"
							                      :key="item.id"
							                      :label="item.label"
							                      :value="item.id">
							                    </el-option>
							                  </el-select>
											
											</template>
										</el-table-column>
										<el-table-column label="Description" width="400">
											<template slot-scope="scope">
												<el-input v-model="details[scope.$index].description"  type="text"></el-input>
											</template>
										</el-table-column>
										<el-table-column label="Amount" width="120">
											<template slot-scope="scope">
												<el-input v-model="details[scope.$index].amount" type="number" min="0">
												</el-input>
											</template>
										</el-table-column>

										<el-table-column label="Action" width="220">
											<template slot-scope="scope">
												<el-button size="mini" type="danger" @click="handleDelete2(scope.$index)">delete</el-button>
											</template>
										</el-table-column>
									</el-table>

				              </el-col>
				          	</el-row>
				  		</div>

				  		<!-- <div class="text item">
				  			<el-row :gutter="20" class="form-container">
				  				<el-col :span="8">
						    		<h5>Payee : <br>
						    			<el-select multiple filterable allow-create size="mini" v-model="form.supplier_id" filterable placeholder="Select Payee" style="width: 220px;">
					                      <el-option
					                        v-for="s in suppliers"
					                        :key="s.id"
					                        :label="s.full_name"
					                        :value="s.id">
					                      </el-option>
					                      <el-option
					                        v-for="s in billers"
					                        :key="s.bid"
					                        :label="s.name"
					                        :value="s.bid">
					                      </el-option>
					                      <el-option v-if="purchaser != ''"
					                        :key="purchaser"
					                        :label="purchaser"
					                        :value="purchaser">
					                      </el-option>
					                    </el-select>
						    		</h5> 
						    	</el-col>
				  			</el-row>
				  		</div> -->


				  		<div class="text item" v-if="form.with_order > 0 || form.purchase_order_id > 0">
				  			<el-row :gutter="20" class="form-container">
				              <el-col :span="24">

				              	<el-divider></el-divider>
				              	<h4><b style="color: #67C23A;">Item Details</b></h4>

				              	<h5>Select Type : 
					                  <el-select v-model="type" filterable placeholder="Select Type" style="width: 150px;" size="mini">
				                        <el-option
				                          v-for="s in types"
				                          :key="s.value"
				                          :label="s.value"
				                          :value="s.value">
				                        </el-option>
				                      </el-select>
					    		</h5>

					    		<h5>Select Material/s : 
					                  <el-select v-model="add.materials" filterable multiple placeholder="Select Materials" style="width: 600px;" size="mini" @change="displayTable2()">
					                        <el-option v-if="s.type == type || (add.materials).includes(s.id)"
					                          v-for="s in materials"
					                          :key="s.id"
					                          :label="s.name"
					                          :value="s.id">
					                        </el-option>
					                      </el-select>
					                    </el-form-item>
					    		</h5>

					    		<el-table :data="datas = selectedmaterials" border  style="width:100%;">	
					    			<el-table-column label="" >
										<template slot-scope="scope2">
											<h3 style="margin-top: 40px">Material Name : {{ scope2.row.material_name }}</h3>

					    		<el-button v-if="form.payment_id == 0" size="mini" type="success" @click="AddListRow(scope2.$index)" round>+ Add new row</el-button>

								<el-table :data="datas = scope2.row.items" border style="width:100%;overflow-y: hidden; height: auto;">
									<el-table-column fixed="left" label="Project" width="300">
										<template slot-scope="scope">
											<el-select v-model="selectedmaterials[scope2.$index].items[scope.$index].project_id" filterable placeholder="Select Type" style="width: 270px;" size="mini" v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">
												<el-option key="0" value="Warehouse"><i>Warehouse</i></el-option>
						                        <el-option
						                          v-for="s in projects"
						                          :key="s.id"
						                          :label="s.name"
						                          :value="s.id">
						                        </el-option>
						                      </el-select>
										</template>
									</el-table-column>
									<el-table-column label="Category" width="180">
										<template slot-scope="scope">
											<span v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">
												{{ selectedmaterials[scope2.$index].items[scope.$index].type }}
											</span>
										</template>
									</el-table-column>
									<el-table-column label="QTY" width="120">
										<template slot-scope="scope">
											<el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].qty" type="number" v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">
											</el-input>
										</template>
									</el-table-column>
									<el-table-column label="Unit" width="80">
										<template slot-scope="scope">
											<!--   {{ scope.row.DZAmount }}-->
											<!-- <el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].unit"  type="text"></el-input> -->
											<span v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">
												{{selectedmaterials[scope2.$index].items[scope.$index].unit}}
											</span>
										</template>
									</el-table-column>

									<el-table-column label="Unit Price" width="120">
										<template slot-scope="scope">
											<!--   {{ scope.row.DZAmount }}-->
											<el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].unit_price"  type="number" v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden"></el-input>
										</template>
									</el-table-column>

									<el-table-column label="Subtotal" width="120">
										<template slot-scope="scope">
											   <b v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">{{ 
											   	(selectedmaterials[scope2.$index].items[scope.$index].qty) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].unit_price)
											    }}</b>
											<!-- <el-input v-model="scope.row.subtotal"  type="number"></el-input> -->
										</template>
									</el-table-column>

									<el-table-column label="Notes" width="150">
										<template slot-scope="scope">
											<!--   {{ scope.row.DZAmount }}-->
											<el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].paynotes"  type="text" v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden"></el-input>
										</template>
									</el-table-column>

									<el-table-column label="Total Kg" width="120">
										<template slot-scope="scope">
											<template v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">
												<b>{{ 
												   	((selectedmaterials[scope2.$index].items[scope.$index].qty) *
												   	(selectedmaterials[scope2.$index].items[scope.$index].weight)).toFixed(2)
												    }}</b>
												<!-- <b v-else>0</b> -->
											</template>
										</template>
									</el-table-column>

									<el-table-column label="Total Cbm" width="120">
										<template slot-scope="scope">
											<template v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">
												<b>
													{{ 
											   	(parseFloat(selectedmaterials[scope2.$index].items[scope.$index].width) *
											   	parseFloat(selectedmaterials[scope2.$index].items[scope.$index].height) * 
											   	parseFloat(selectedmaterials[scope2.$index].items[scope.$index].length)).toFixed(2)
											    }}</b>
												<!-- <b v-else>0</b> -->
											</template>
										</template>
									</el-table-column>

									<el-table-column label="Action" width="220">
										<template slot-scope="scope">
											<!-- {{ selectedmaterials[scope2.$index].items[scope.$index].hidden }} -->
											<template v-if="selectedmaterials[scope2.$index].items[scope.$index].hidden">
												<el-button size="mini" type="danger" @click="handleDelete(scope2.$index, scope.$index)" >delete</el-button>
											</template>
										</template>
									</el-table-column>
								<!-- </template> -->
								</el-table>
							</template>
						</el-table-column>
					</el-table>
						      </el-col>
						    </el-row>
						</div>  
						  
				  		<!-- <h4><span style="float: right;">
				  			Total Price : 
						    <strong style="color: #67C23A">PHP{{ totalprice() | currency}}</strong> 
							</span>
						</h4>-->
						<br><br> 
						<el-divider></el-divider>

						<div class="text item">
				  			<el-row :gutter="20" class="form-container">
				              <el-col :span="9">
				              	<h5>
				              		Upload Receipt : <br>
				              	  <el-upload 
									  class="upload-demo"
									  drag :multiple="true"
						              ref="upload"
						              action=""
						              :file-list="fileList"
						              :on-change="handleChange"
						              :on-remove="handleRemove"
						              :auto-upload="false">
									  <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/excel files</div> -->
									  <i class="el-icon-upload"></i>
									  <div class="el-upload__text">Drop file here or <em>click to upload</em><br>
									  	<small>pdf/doc/xls/jpg/png files</small></div>
									</el-upload>
			                    </h5>
				              </el-col>

				              <el-col :span="15">
				              	<h5>
				              		Description : <br>
				              	  <el-input
			                          type="textarea"
			                          :rows="8"
			                          v-model="form.description"
			                          resize="none" style="width: 100%">
			                        </el-input>
			                    </h5>
				              </el-col>
				            </el-row>
				            <el-row :gutter="20" class="form-container">
				              	<el-col :span="14">
				              		<template v-for="f in form.files">
									<el-button v-if="checkFileExtension(f.file_path) != 'jpg' && checkFileExtension(f.file_path) != 'png'" type="text"  style="cursor:pointer;" @click="viewFile(f.file_path)" class="el-upload-list__item-name"><i class="el-icon-document"></i>{{ (f.file_path).substring(15) }}
							      	</el-button>
							      	<el-image v-else
									    style="width: 100px; height: 100px; padding-right: 5px;"
									    :src="storageURL+f.file_path" 
									    :preview-src-list="[storageURL+f.file_path]"
									    :z-index="99999">
									  </el-image>

							      </template>
				              	</el-col>
				              	<el-col :span="5" v-if="form.payment_id > 0 && form.requested_by != null">
				              		<h5>Created by :
									    <b>{{form.requested_by}}</b>
									</h5>
				              	</el-col>
				              	<el-col :span="5" v-if="form.payment_id > 0 && form.approved_by != null">
				              		<h5>Approved by :
									    <b>{{form.approved_by}}</b>
									</h5>
				              	</el-col>
				              </el-row>

				        </div>
				        	<!-- {{ form.status }} -->
							<div style="margin-bottom: 50px;margin-top: 50px;">
				                <el-button class="add-button" type="primary" :loading="loading" @click="validateForm2('po_form','for approval')" v-if="form.purchase_order_id < 1 && form.status != 'completed' && form.status != 'approved'">Save</el-button>
				                <el-button class="add-button" type="primary" :loading="loading" @click="validateForm2('po_form','approved')" v-if="form.purchase_order_id < 1 && form.status == 'approved'">Save</el-button>
				                <el-button class="add-button" type="primary" :loading="loading" @click="validateForm('po_form','completed')" v-if="form.status != 'completed' && form.status == 'approved'">Mark as Complete</el-button>
				                <el-button class="add-button" type="primary" :loading="loading" @click="validateForm('po_form','completed')" v-if="form.status == 'completed'">Update</el-button>
				                <el-button class="add-button" type="primary" :loading="loading" @click="validateForm3('po_form','approved')" v-if="form.status == 'for approval'">Released Payment</el-button>
				                <!-- {{form.payment_id}} {{form.status}} -->
				            </div>

				  		<!-- </div> -->

				  	</el-card>
			        </el-form>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>
	import { mapGetters } from 'vuex'
	export default {

		name: 'new-payment',

		data () {
	    	return {
	    		loading: false,
	    		inputVisible: false,
        		purchaser: '',
        		inputValue: '',
	      		isFetching: true,
	      		projects: [],
	      		suppliers: [],
	      		billers: [],
	      		materials: [],
	      		categories: [],
	      		categories2: [],
	      		banks: [],
	      		details : [],
	      		selectedmaterials : [],

			    supplier: {
			    	id: null,
			    	contact_person: null,
			    	contact_number: null,
			    	bank: null,
			    	bank_account_name: null,
			    	bank_account_number: null,
			    	carrier: [],
			    	notes: null
			    },
			    
			    form: {
			    	payment_id: null,
	      			date: null,
			    	totalsrp: 0,
			    	payout_add: 0,
			    	payout_total: 0,
			    	payout_return: 0,
			    	parking: 0,
			    	gas: 0,
			    	toll: 0,
			    	delivery_fee: 0,
			    	purchaser: null,
			    	paytype: 'PO',
			    	payout_type: null,
			    	checknum: null,
	      			purchase_order_id: null,
	      			prepared_by: null,
	      			status: '',
	      			supplier_id: '',
	      			bank_id: null,
	      			bank_balance: 0,
	      			description: null,
	      			completed_at: null,
	      			with_order: null,
	      			approved_by: null,
	      			requested_by: null,
	      			details: [],
	      			selectedmaterials: [],
	      			uplform: [],
	      			files: []
	      		},

	      		types: [{
			          label: 'Electrical',
			          value: 'electrical'
			        }, {
			          label: 'Masonry',
			          value: 'masonry'
			        }, {
			          label: 'Painting',
			          value: 'painting'
			        }, {
			          label: 'Walling',
			          value: 'walling'
			        }
			      ],
		      	type : '',
		      	editField : '',
		      	add: {
			        materials: [],
			      },

			    payment_method: [{
		          value: 'Cash',
		          label: 'Cash'
		        }, {
		          value: 'Bank',
		          label: 'Bank'
		        },
		        {
		          value: 'Check',
		          label: 'Check'
		        },
		        {
		          value: 'Card',
		          label: 'Card'
		        }
		        ],

		        imgBase64: [],
		        fileList: [],
		        storageURL: process.env.VUE_APP_STORAGE,

		        uplform: {
			        fileData: []
			      },

	    	}
	  	},

		computed: mapGetters({
		    header: 'header',
		    session: 'session',
		}),

	  	methods: {
	  		checkFileExtension(path){
		    	var extension = path.substring(path.lastIndexOf('.')+1, path.length) || path;
		    	return extension;
		    },
	  		onFileUpload(id){
	  			if(this.imgBase64.length > 0) {
		        // this.$refs[docForm].validate((response) => {
		        //   if(response) {
		            this.uplform.fileData.filter((item, index) => {
		              var file_path = id;

		              // if(item.expired_at !== '' && item.expired_at !== null) {
		              //   file_path += '&&' + item.expired_at;
		              // }

		              var file_type = item.file_path.split('.');

		              item.file_path = file_path + '.' + file_type[file_type.length-1]

		              item.imgBase64 = this.imgBase64[index].imgBase64
		            })

		            this.$store.dispatch('uploadPaymentDocuments', {
		              order_id: id,
		              data: this.uplform.fileData
		            }).then(res=> {
		              // console.log('result', res)
		              if(res.success) {
		              } else {
		                // this.$message({
		                //   showClose: true,
		                //   message: this.$t('Clients.docs-upload-failed'),
		                //   type: 'error',
		                //   center: true
		                // })
		              }
		            })
		        //   }
		        // })
		      }
	  		},

	  		paytypeChange(){
	  			this.form.bank_id = null;
	  			this.form.payout_type = null;
	  			if(this.form.paytype == 'SPC'){
	  				this.form.bank_id = 1;
	  				this.form.payout_type = 'Cash';
	  				this.handleGetBalance();
	  			}
	  		},

	  		onAddPayment (Form, status) {
	  			//alert(this.form.payout_total);
	  			//alert(this.form.payout_add);
		      this.form.status = status;
		      this.form.details = this.details;
		      this.form.uplform = this.uplform;
		      this.form.payout_total = (this.form.payout_total > 0 ? parseFloat(this.form.payout_total) : 0) + (this.form.payout_add > 0 ? parseFloat(this.form.payout_add) : 0);
		      // alert(this.form.payout_total);
		      // this.form.supplier_id = this.supplier['id'];
		      this.form.selectedmaterials = this.selectedmaterials;
		        // if (this.validateForm()) {
		          this.loading = true;
		          this.$store.dispatch('addEditPayment',  { method: 'add', payload: this.form })
		            .then(res => {
		              // console.log(res);
		              //var responseStatus = res.status.toLowerCase()
		              if (res.status === 'Failed') {
		                this.errors = res.errors
		                //this.$refs[Form].validate((response2) => { })

		                this.loading = false
		              } else {
		              	// this.form.payment_id = res.payment_id;
		              	this.onFileUpload(res.payment_id);
		                this.$message({
		                  showClose: true,
		                  message: this.$t('Common.successfully_added'),
		                  type: 'success',
		                  center: true
		                })

		                this.$eventBus.$emit('loadPO');
		                this.$eventBus.$emit('loadPOC');
		                this.$parent.$emit('close');

		                // setTimeout(() => {
		                //   console.log(this.redirect);

		                //   if( this.redirect != undefined && this.redirect == 'redirect' ) {

		                //       if( window.opener ) {
		                //           window.opener.close();
		                //         }

		                //         let redirect = 'redirect';
		                //         let id = this.form.project_id;
		                //         let nickname = res.project_nickname;
		                //         this.$router.push({
		                //             name: 'projects-profile',
		                //             params: { id, nickname, redirect }
		                //           });
		                //       }

		                //   this.loading = false
		                // }, 1000)
		              }
		            })
		        // }
		    },

		    validateForm(Form, status){
		    	var ttl = parseFloat(this.form.totalsrp) + parseFloat(this.form.payout_return) + parseFloat(this.form.gas) + parseFloat(this.form.delivery_fee) + parseFloat(this.form.toll) + parseFloat(this.form.parking);
		    	var payout_total = parseFloat(this.form.payout_total) + parseFloat(this.form.payout_add);
		    	if(
		    		(this.form.date == '' || this.form.date == null) 
		    		|| 
		    		((this.form.supplier_id == '' || this.form.supplier_id == null)&& this.form.paytype == 'PO')
		    		||
		    		(this.form.bank_id == '' || this.form.bank_id == null)
		    		||
		    		(this.form.payout_type == '' || this.form.payout_type == null)

		    	)
		    	{
		    		this.$message({
		                  showClose: true,
		                  message: 'Please complete payment details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.payout_total <1){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input payout total amount!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.payout_return == null || this.form.payout_return == ''){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input payout return amount!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.gas == null || this.form.gas === ''){
		    		// console.log(this.form.gas);
		    		// console.log(this.form.gas == null);
		    		// console.log(this.form.gas == '');
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input gas amount!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.delivery_fee == null || this.form.delivery_fee === ''){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input delivery fee amount!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.toll == null || this.form.toll === ''){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input toll fee amount!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.parking == null || this.form.parking === ''){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input parking amount!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(parseFloat(payout_total).toFixed(2) != (ttl.toFixed(2))){
		    		console.log(parseFloat(payout_total).toFixed(2) != (ttl.toFixed(2)));
		    		console.log(payout_total);
		    		console.log(parseFloat(payout_total).toFixed(2));
		    		console.log((ttl.toFixed(2)));
		    		// console.log(ttl);
		    		// console.log(this.form.payout_total);
		    		// console.log((this.form.totalsrp + this.form.payout_return));
		    		this.$message({
		                  showClose: true,
		                  message: 'Payout total amount and Total Price not balanced!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if((this.uplform.fileData).length < 1 && (this.form.files).length < 1 ) {
		    		this.$message({
		                  showClose: true,
		                  message: 'Receipt is required when completing transaction!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	// else if(
		    	// 	(this.supplier.contact_person == null || this.supplier.contact_person == '')
		    	// 	||
		    	// 	(this.supplier.contact_number == null || this.supplier.contact_number == '')
		    	// 	||
		    	// 	(this.supplier.bank == null || this.supplier.bank == '')
		    	// 	||
		    	// 	(this.supplier.bank_account_name == null || this.supplier.bank_account_name == '')
		    	// 	||
		    	// 	(this.supplier.bank_account_number == null || this.supplier.bank_account_number == '')
		    	// 	||
		    	// 	(this.supplier.carrier.length < 1)

		    	// ){
		    	// 	this.$message({
		     //              showClose: true,
		     //              message: 'Please input supplier details!',
		     //              type: 'error',
		     //              center: true
		     //            })
		    	// }

		    	else if(this.selectedmaterials.length < 1 && this.details.length < 1){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please add categories or materials',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.checkItems() == false && this.checkDetails() == false){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please complete order details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else{
		    		this.form.completed_at = 1;
		    		this.onAddPayment(Form, status);
		    	}
		    },

		    validateForm2(Form, status){
		    	if(
		 			(this.form.supplier_id == '' || this.form.supplier_id == null) && this.form.paytype == 'PO'
		    	)
		    	{
		    		this.$message({
		                  showClose: true,
		                  message: 'Please select payee!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.details.length < 1 && this.selectedmaterials.length < 1){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please add categories',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.checkDetails() == false && this.checkItems() == false){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please complete order details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else{
		    		this.onAddPayment(Form, status);
		    	}
		    },

		    validateForm3(Form, status){
		    	// console.log(this.form.payout_total);
		    	// console.log(this.form.bank_id);
		    	// console.log(this.form.date);
		    	// console.log(this.form.payout_type);
		    	// console.log(this.form.purchaser);

		    	if(
		 			(
		 				(this.form.payout_total < 1 && this.form.payout_add < 1) || this.form.bank_id < 1 || this.form.date == '' || this.form.payout_type == '' || ((this.form.purchaser == '' || this.form.purchaser == null) && this.form.paytype == 'SPC')
		    		)
		 		)
		    	{
		    		this.$message({
		                  showClose: true,
		                  message: 'Please complete payment details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.purchaser == '' && form.paytype == 'SPC'){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input purchaser!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.checkItems() == false && this.checkDetails() == false){
		    		// console.log(this.checkItems());
		    		// console.log(this.checkDetails());
		    		this.$message({
		                  showClose: true,
		                  message: 'Please complete order details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else{
		    		this.onAddPayment(Form, status);
		    	}
		    },

		    checkItems(){
		    	var ret = true;
		    	for(var i = 0; i < this.selectedmaterials.length; i++){
		    		if(this.selectedmaterials[i].items.length == 0){
		    			ret = false;
		    		}
		    		else{	
					    for(var j = 0; j < this.selectedmaterials[i].items.length; j++){
					    	//console.log('jeff');
					    	//console.log(this.selectedmaterials[i].items[j].project_id);
					    	// console.log((this.selectedmaterials[i].items[j].project_id == null || this.selectedmaterials[i].items[j].project_id == ''));
					    	// console.log((this.selectedmaterials[i].items[j].qty == null || this.selectedmaterials[i].items[j].qty == 0 || this.selectedmaterials[i].items[j].qty == ''));
					    	// console.log(' ');
					    	if(
					    		(this.selectedmaterials[i].items[j].project_id == null || this.selectedmaterials[i].items[j].project_id == '')
					    		||
					    		(this.selectedmaterials[i].items[j].qty == null || this.selectedmaterials[i].items[j].qty == 0 || this.selectedmaterials[i].items[j].qty == '')
					    	){
					    		ret = false;
					    	}
					    	else{
					    		ret = true;
					    	}
					    }
		    		}
				}
				console.log(ret);
				return ret;
		    },

		    checkDetails(){
		    	var ret = true;
		    	if(this.details.length == 0){
		    			ret = false;
		    		}
		    	for(var i = 0; i < this.details.length; i++){	
				    	if(
				    		(this.details[i].project_id == null || this.details[i].project_id == '')
				    		||
				    		(this.details[i].category_id == null || this.details[i].category_id == '')
				    		||
				    		(this.details[i].description == null || this.details[i].description == '')
				    		||
				    		(this.details[i].amount == null || this.details[i].amount == 0 || this.details[i].amount == '')
				    	){
				    		ret = false;
				    	}   		
				}
				return ret;
		    },

	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetailMultiple',{
	          		payload: this.form
	        	})
	        	.then(res => {
	        		this.project = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    	this.project = data;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	getSuppliers(){
				this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
		        	this.suppliers = response.data
		        	this.projects = response.projects
		        	this.materials = response.materials
		      	})
	      	},

	      	getCategories(){
		        this.$store.dispatch('getAllPaymentCategories', { payload: this.form } ).then(response => {
		              this.categories = response.data.data;
		            })
		     },

		    getCategories2(){
		        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
		              this.categories2 = response.data.data;
		            })
		     },

		    getBanks(){
		        this.$store.dispatch('getAllBanks', { payload: this.form } ).then(response => {
		              this.banks = response.data.data;
		              
		            })
		    },

		    getBillers(){
		        this.$store.dispatch('getAllBillers', { payload: this.form } ).then(response => {
		              this.billers = response.data.data;
		            })
		    },

		    handleGetBalance(){
		    	var id = this.form.bank_id;
	      		var selected = (this.banks).filter(function(x) { return x.id == id });
	      		this.form.bank_balance = selected[0].balance;
		    },

		    handleChange (file, fileList) {
		      console.log(file);
		      var self = this

		      var fileData = {
		        // id: self.task_id,
		        file_path: file.name,
		        comment: '',
		        imgBase64: null
		      }

		      var fl = [{
		        name: file.name,
		        url: file.name
		      }]		      

		      var reader = new FileReader();
		      reader.readAsDataURL(file.raw);
		      reader.onload = function(e) {
		        self.imgBase64 = [...self.imgBase64, {
		          name: file.name,
		          imgBase64: this.result
		        }]
		      }
		      // console.log(reader);

		      this.uplform.fileData = [...this.uplform.fileData, fileData];
		      // this.fileList = fl;

		    },

		    handleRemove (file, fileList) {
		    	//(this.uplform.fileData).splice(index, 1);
		    	var fl = [];
		    	(this.uplform.fileData).forEach(function(x, index) {

		          if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
		          	var fileData = {
				        // id: self.task_id,
				        file_path: file.name,
				        comment: '',
				        imgBase64: null
				      }
		          	fl = [...fl, fileData];
		          }

		        });
		        this.uplform.fileData = fl;
		    	console.log((this.uplform.fileData));
		    },

	      	handleChangeSupplier(){
	      		var id = this.supplier.id;
	      		var selected = (this.suppliers).filter(function(x) { return x.id == id });
	      		//alert(selected[0].bank);
	      		this.supplier.bank = selected[0].bank;
	      		this.supplier.contact_person = selected[0].contact_person;
	      		this.supplier.contact_number = selected[0].contact_number;
	      		this.supplier.bank_account_name = selected[0].bank_account_name;
	      		this.supplier.bank_account_number = selected[0].bank_account_number;
	      		this.supplier.bank_account_number = selected[0].bank_account_number;
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	handleClose(tag) {
		        this.supplier.carrier.splice(this.supplier.carrier.indexOf(tag), 1);
		      },

		    showInput() {
		        this.inputVisible = true;
		        this.$nextTick(_ => {
		          this.$refs.saveTagInput.$refs.input.focus();
		        });
		      },

		    handleInputConfirm() {
		        let inputValue = this.inputValue;
		        if (inputValue) {
		          this.supplier.carrier.push(inputValue);
		        }
		        this.inputVisible = false;
		        this.inputValue = '';
		    },

		    AddListCategory() {
				this.details.push({
					"project_id":"",
					"category_id":"",
					"description":"",
					"amount":0,
				});
			},

		    AddListRow(index) {
		    	var id = this.selectedmaterials[index].material_id;
		    	var mat = (this.materials).filter(function(x) { return x.id == id });
				this.selectedmaterials[index].items.push({
					"project_id":"",
					"category_id":"",					
					"qty":0,					
					"unit":mat[0].unit,					
					"unit_price":mat[0].retail_price,					
					"subtotal":"",
					"notes":"",
					"totalkg":'',
					"totalcbm":'',
					"weight": mat[0].weight,
				});
			},

			handleDelete(index2, index) {
				// this.selectedmaterials[index2].items.splice(index, 1);
				this.selectedmaterials[index2].items[index].hidden = 0;
			},

			handleDelete2(index) {
				this.details.splice(index, 1);
			},

			getPaymentDetails () {
				this.$store.dispatch('getPaymentDetails', { id: this.form.payment_id } )
		          .then(response => {
		          	var res = response.data.po;
		          	// console.log(res);
		          	// this.form.date = res.date;
		          	this.form.paytype = res.paytype;
		          	if(res.biller_id > 0){
		          		this.form.supplier_id = res.paytype == 'PAYMENT/BILLS' ? 'b'+res.biller_id : res.supplier_id;
		          	}
		          	this.form.purchaser = res.purchaser;
		          	// var flag = 0;
		           //  if(res.biller_id > 0){
		           //      payee = res.biller_id;
		           //      flag = 1;
		           //  }
		           //  if(res.supplier_id > 0){
		           //      payee = res.supplier_id;
		           //      flag = 1;
		           //  }
		           //  if(flag == 0){
		           //  	this.purchaser = res.purchaser;
		           //  }
		          	// this.form.supplier_id = payee;
		          	this.form.purchaser = res.purchaser;
		          	this.form.payout_type = (this.form.paytype != 'SPC' ? res.payout_type : 'Cash');
		          	this.form.checknum = res.checknum;
		          	this.form.bank_id = res.bank_id;
		          	this.form.description = res.description;
		          	this.form.payout_return = res.payout_return;
		          	this.form.payout_total = res.payout;
		          	this.form.gas = (res.gas > 0 ? res.gas : 0);
		          	this.form.toll = (res.toll > 0 ? res.toll : 0);
		          	this.form.delivery_fee = (res.delivery_fee > 0 ? res.delivery_fee : 0);
		          	this.form.parking = (res.parking > 0 ? res.parking : 0);
		          	this.form.status = res.status;
		          	this.form.approved_by = res.approved_by;
		          	this.form.requested_by = res.requested_by;
		          	this.form.files = response.data.files;

					this.add.materials = response.data.addmat;
					this.selectedmaterials = response.data.mat;
					this.details = response.data.paydet;

					if(res.bank_id > 0){	
						var id = res.bank_id;					
						var selected = (this.banks).filter(function(x) { return x.id == id });
	      				this.form.bank_balance = selected[0].balance;
					}

					this.displayTable2();
		          })
		      },

			displayTable2(){
			   if(this.add.materials.length > this.selectedmaterials.length){		   	
				   var id = this.add.materials[this.add.materials.length - 1];
				   var mat = (this.materials).filter(function(x) { return x.id == id });
		      	   this.selectedmaterials.push({
						'material_id': id,
						'material_name': mat[0].name + '('+ mat[0].name_cn+')',
						'items': []
					});
			   }
			   else{
			   	console.log(this.add.materials);
				   	for(var i = 0; i < this.selectedmaterials.length; i++){
					 if( !(this.add.materials).includes( this.selectedmaterials[i].material_id )){
					  	this.selectedmaterials.splice(i, 1)
					 }
					}
			   	   // this.selectedmaterials[index2].items.splice(index, 1);
			   }
		    },

		    totalprice(){
		    	var totalsrp = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	totalsrp += (parseFloat(value2.qty) * parseFloat(value2.unit_price));
				    });
				});
				(this.details).forEach((value, index) => {
					totalsrp += parseFloat(value.amount);
				});
				this.form.totalsrp = totalsrp;
				return totalsrp;
		    },

		    totalkg(){
		    	var totalkg = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	if(value2.unit == 'kg'){
				    		totalkg += (value2.qty * value2.weight);
				    	}
				    });
				});
				return totalkg;
		    },

		    totalcbm(){
		    	var totalcbm = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	if(value2.unit == 'cbm'){
				    		totalcbm += (value2.qty * value2.weight);
				    	}
				    });
				});
				return totalcbm;
		    },

		    focusField(name){
		      this.editField = name;
		    },
		    blurField(){
		      this.editField = '';
		    },
		    showField(name){
		      return (this.form.payout_add > 0 || this.editField == name)
		    },

		    showField2(name){
		      return (this.form.payout_return == null || this.editField == name)
		    }
  		},



		created () {
			const vm = this;
			let { id, purchase_order_id, with_order } = vm.$parent.$parent.content;
			// console.log('test');
			// console.log(with_order);
			vm.form.payment_id = id;
			vm.form.purchase_order_id = purchase_order_id;
			vm.form.with_order = with_order;
			vm.form.prepared_by = this.session.user.first_name + " " + this.session.user.last_name;

			vm.form.date = moment().format("YYYY-MM-DD");
			vm.getBanks();
			if(id > 0){
				vm.getPaymentDetails();
			}
			vm.getSuppliers();
			vm.getBillers();
			vm.getCategories();
			vm.getCategories2();
			// vm.handleGetBalance();

		    this.$store.dispatch('getAllMaterials', { payload: this.form } ).then(response => {
		        this.materials = response.data.materials;
		        // this.xform.materials = response.data.preset.material_ids;
		        // this.oldmaterials = response.data.preset.materials;
		        // this.request.materials = response.data.appOrders;
		      })
      		this.isFetching = false;

      		if(this.form.bank_id > 0){
	          	this.handleGetBalance();
	          }
  		}


	}

</script>

<style>
.el-tag + .el-tag {
margin-left: 10px;
}
.button-new-tag {
margin-left: 10px;
height: 32px;
line-height: 30px;
padding-top: 0;
padding-bottom: 0;
}
.input-new-tag {
width: 90px;
margin-left: 10px;
vertical-align: bottom;
}
.el-alert__title{
	font-size: 14px !important;
}

.tbl-header{
	font-size: 14px !important;

}
.el-upload{
	width: 350px !important;
	margin-left: 0px;
}
.el-upload-list{
	margin-left: 0px;
}

.el-table thead{
	color: #000 !important;
}
.el-table__row{
	margin-bottom : 16px;
}

</style>
