<template>
  <div ref="materialList">

    <el-row>
        <el-col :span="6">
           <div  v-if="(step === 1)" class="alignRight" >
            <el-input placeholder="Search Project" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%"></el-input>
          </div>
        </el-col>
    </el-row>


    <el-form :model="form" :inline="true" label-width="80px">
      <div>
        <data-table :get-data="getData"
              ref="orderstable"
              :columns="columns"
              >

              <div slot="bydates" slot-scope="{row}">

               <el-row class="row-header">
                 <!-- <el-col :span="1">
                  <el-checkbox v-model="checkAllOrders[row.id]" @change="handleCheckAllOrderChange(row.id)"></el-checkbox> -->
                </el-col>
                 <el-col :span="9">Preset</el-col>
                 <el-col :span="6">Material</el-col>
                 <el-col :span="3">Qty</el-col>
                 <el-col :span="3">Unit Price</el-col>
                 <el-col :span="3">Subtotal</el-col>
                 <!-- <el-col :span="3">{{ $t('Common.action') }}</el-col> -->

               </el-row>

               <div >
                  <el-col>

                   <!-- <div class="section-header"><b></b></div> -->

                    <el-row v-for="order in row.orders" class="row-content">
                      <!-- <el-col :span="1">
                        <el-checkbox v-model="form.selected[order.id]" @change="checkOrder(order)"></el-checkbox>
                      </el-col> -->

                      <el-col :span="9">
                          {{order.preset_name | capitalize}}
                      </el-col>
                      <el-col :span="6">
                          {{order.material_name | capitalize}}
                      </el-col>

                      <el-col :span="3">
                          {{order.qty }}
                      </el-col>
                      <el-col :span="3">
                          {{order.unit_price | currency}}
                      </el-col>

                      <el-col :span="3" >
                          {{order.total_price | currency}}
                      </el-col>

                      <!-- <el-col :span="3">

                      </el-col> -->

                    </el-row>
                  </el-col>




               </div>


           </div>
              <b slot="req_date" slot-scope="{row}">
                {{row.updated_at | commonDate}}
              </b>

              <b slot="name" slot-scope="{row}">
               {{ row.name }}
              </b>

              <div slot="action" slot-scope="{row}">
              		<el-button  type="success" size="mini" icon="el-icon-check" @click="paymentReceive(row)">Payment Receive</el-button>
              </div>


        </data-table>
               <!-- <el-button v-if="orderSelected.length > 0"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="shipMaterials()">Ready to Ship</el-button> -->

      </div>



    </el-form>

  </div>
</template>


<script>
// components
import { mapGetters } from 'vuex'
import DataTable from '../../../components/datatable'
import markAsPaid from './mark-as-received';

export default {
  name: 'order-list',
  components: {
       DataTable, markAsPaid
    },
  // props: ['gdata', 'service_profile'],
  data () {
    return {
      loading: false,
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      isIndeterminate: false,
      form:{
        selected: [],
      },
      checkAllOrders:[],
      orderSelected: [],

      columns: [
        {
          prop: 'bydates',
          minWidth: '120',
          type:'expand'
        },

        {
          prop: 'req_date',
          label: 'Request Date',
          minWidth: '80'
        },

        {
          prop: 'name',
          label: 'Project Name',
          minWidth: '120'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '60'
        },


      ]
    }
  },

  computed: mapGetters({
    session: 'session'
  }),

    mounted () {
      this.$eventBus.$on('loadAllOrders', () => {
          this.$refs.orderstable.getTableData();
          this.orderSelected = [];
        });
    },

  created () {

  },

  methods: {
    refreshData(){
        this.$refs.orderstable.getTableData();
    },

    handleSearch(){
      this.$refs.orderstable.getTableData();
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getAlllOrders',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    checkOrder(order){
        var orderIndex = this.orderSelected.findIndex(v => v.id === order.id);
        if(orderIndex === -1){
           this.orderSelected.push(order);
        }else{
           this.orderSelected.splice(orderIndex, 1);
        }
    },

    handleCheckAllOrderChange(val){
      // alert(val);
      this.isIndeterminate = false;
      this.form.data.map((d,i) => {
        // console.log(d);
        if(d.id === val){
          // d.orders.map((m,j) => {
                d.orders.map((s,k) => {
                      this.form.selected[s.id] = this.checkAllOrders[val];

                      var orderIndex = this.orderSelected.findIndex(v => v.id === s.id);

                      if(orderIndex === -1){
                        this.orderSelected.push(s);
                      }else{
                        this.orderSelected.splice(orderIndex, 1);
                      }
                })
          // })
        }
      });


    },

    paymentReceive(row){
        this.$store.dispatch('callModal', {
          child_component: markAsPaid,
          modalWidth: '40%',
          content: {
            data : row
          }
        })
    },

  },
}
</script>


<style>

   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }

   .strike{
     text-decoration: line-through;
   }

   .badge{
      background-color: #ff7171;
      color: #ffffff;
      width: 20px;
      height:22px;
      min-width: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
   }

</style>
