<template>
	<div>
	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<strong>{{ data.ref }}</strong><br>
    		<i>{{ data.status }} </i><br>
  		</div>

  		<div class="text item" >
    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else >
  				<template>
  				<div >
  					<!-- {{is_parent}} -->

				<div class="body_comment">
				<div class="row">
					<div class="box_comment col-md-12">
					  <!-- <textarea class="commentar" placeholder="Add a comment..."></textarea> -->
						  <el-upload 
							  class="upload-demo"
							  drag multiple
				              ref="upload"
				              action=""
				              :file-list="fileList"
				              :on-change="handleChange"
				              :on-remove="handleRemove"
				              :auto-upload="false">
							  <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/excel files</div> -->
							  <i class="el-icon-upload"></i>
							  <div class="el-upload__text">Drop file here or <em>click to upload</em><br>
							  	<small>jpg/png/pdf/excel files</small></div>
							</el-upload>
					</div>
				</div>
				<div class="row">
					<div class="box_comment col-md-12">
						<Mentionable
						    :keys="['@']"
						    :items="users"
						    offset="4"
						  >
						  <el-input class="commentar" v-model="uplform.comment"
							  type="textarea" @paste.native.capture.prevent="handlePaste"
							  :autosize="{ minRows: 2, maxRows: 4}"
							  placeholder="Add a comment..."
							  >
						  </el-input>
						</Mentionable>


					  <div class="box_post">
						<div class="pull-right">
							<el-button size="mini" type="primary" @click="onSubmit">Post</el-button>
						  <!-- <button onclick="submit_comment()" type="button" value="1">Post</button> -->
						</div>
					  </div>
					</div>
				</div>
				<!-- {{ fileList }} -->
				<div style="max-height: 500px; overflow: auto;"  class="row infinite-list" 
				 >
					<ul id="list_comment">
						<!-- Start List Comment 1 -->
						<li v-for="i in comments" class="infinite-list-item box_result row">
							<div class="result_comment col-md-12">
								<h4>
									{{ i.user }}
									<el-popconfirm
					                    confirm-button-text='OK'
					                    cancel-button-text='Cancel'
					                    icon="el-icon-info"
					                    icon-color="red"
					                    title="Are you sure to delete this?"
					                    @onConfirm="deleteComment(i.id)"
					                  >
									<el-tooltip class="item" slot="reference" effect="dark" content="Delete Comment" placement="top-start">
										<el-button size="mini" type="danger" icon="el-icon-delete" plain circle style="float:right; font-size: 9px;"></el-button>
									</el-tooltip>
								</el-popconfirm>
								</h4>
								<p v-html="i.comment"></p>
								<template v-for="f in i.files">
									<el-button v-if="checkFileExtension(f.file_path) != 'jpg' && checkFileExtension(f.file_path) != 'png'" type="text"  style="cursor:pointer;" @click="viewFile(f.file_path)" class="el-upload-list__item-name"><i class="el-icon-document"></i>{{ (f.file_path).substring(15) }}
							      	</el-button>
							      	<el-image v-else
									    style="width: 100px; height: 100px; padding-right: 5px;"
									    :src="storageURL+f.file_path" 
									    :preview-src-list="[storageURL+f.file_path]"
									    :z-index="99999">
									  </el-image>

							      </template>
								<div class="tools_comment">
									<span aria-hidden="true"> · </span>
									<span>{{ i.created_at | timeSince }} </span>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>

			<!-- <div class="row" style="padding-top: 15px;">
				<div class="pull-right">
					<el-popconfirm
					  confirm-button-text='OK'
					  cancel-button-text='Cancel'
					  icon="el-icon-info"
					  icon-color="red"
					  title="Are you sure to delete this?"
					  @onConfirm="deleteTask"
					>
						<el-button  slot="reference" type="text" style="cursor:pointer;" ><i class="el-icon-delete "></i> Delete Task</el-button>
					</el-popconfirm>
				</div>
			</div> -->
			</div>

  				</template>
  			</template>

  		</div>
	</el-card>

	<vue-easy-lightbox
    escDisabled
    moveDisabled
    :visible="visible"
    :imgs="imgs"
    :index="indexxx"
    @hide="handleHide"
  ></vue-easy-lightbox>
</div>

</template>

<script>
	import filePreview from './file-preview';
	import { Mentionable } from 'vue-mention';
	import VueEasyLightbox from 'vue-easy-lightbox';
	export default {

		name: 'task-details',
		components: {
	       filePreview,
	       Mentionable,
	       VueEasyLightbox
		  },
		data () {
	    	return {
	    		imgs: '',
			      visible: false,
			      indexxx: 0,

	    		percentMenu: false,
	    		top: '0px',
      			left: '0px',
	    		someStyle : {
			        left : this.left,
			        top  : this.top
			      },
	    		count: 10,
	      		task_id: 0,
            	payment_id: 0,

	      		isFetching: true,

	      		data: [],

	      		dt: [],
	      		comments: [],
	      		teams: [
			        {
			          label : 'SITE'
			        },
			        {
			          label : 'DESIGN'
			        },
			        {
			          label : 'OFFICE ARCH'
			        },
			        {
			          label : 'WAREHOUSE'
			        },
			        {
			          label : 'CLIENT'
			        },
			        {
			          label : 'ADMIN'
			        },
			        {
			          label : 'SUBCON'
			        },
			        {
			          label : 'PURCHASING'
			        },
			      ],

	      		percentCircle: 0,

	      		form: {
			        label: '',
			        project_id: '',
			        parent_id: 0,
			        id: null,
			        start: null,
			        end: null,
			        task_desc: '',
			        assigned_to : null,
			        prio: '',
			        progress: 0,
			      },

		      uplform: {
		      	comment: '',
		        fileData: []
		      },
		      imgBase64: [],
		      fileList: [],
		      storageURL: process.env.VUE_APP_STORAGE,

		      text: '',
		      users: [],
		      files: [],

		      srcList: [],

		      is_parent: 0,
	    	}
	  	},

	  	computed: {
		    // cssProps() {
		    //   return {
		    //     '--percent-circle': this.percentCircle+"deg"
		    //   }
		    // }
		  },

	  	methods: {
		 //    handleClick: function(e) {
		 //      if (e.target.matches('.inside-circle, .inside-circle *')) {
		 //           var self = this;
		 //            self.$nextTick(function() {
		 //            	if(this.is_parent == 0){
		 //            		this.percentMenu = true;
		 //            	}
		 //            }.bind(self));
		 //      }
			// },

		    identifyMentionUsers() {
		      (this.comments).forEach((value, key) => {
		      	var com = [];
		      	if(value.comment != null){
			      	com = value.comment.match(/@\w+/g);
			      	//console.log(com);
			      	if(com != null ){	      		
				      	for (let i = 0; i < com.length; i++) {
				      		value.comment = value.comment.replaceAll(com[i], '<span style="color:#365899; cursor: pointer;">'+com[i]+' </span>')
				      	}
			      	}
		      	}
		      	//console.log(value.comment);
		      })
		    },
		    // deleteTask(){
		    // 	this.$store.dispatch('deleteTask', {
		    //           id: this.task_id
		    //         }).then(res=> {
		    //           console.log('result', res)
		    //           if(res.status == 'Success') {
		    //             this.$message({
		    //               showClose: true,
		    //               message: 'Task successfully Deleted!',
		    //               type: 'success',
		    //               center: true
		    //             })

		    //             setTimeout(() => {
		    //               this.$eventBus.$emit('syncProjectData');
		    //               this.$parent.$emit('close')
		    //             }, 1000)
		    //           } else {
		                
		    //           }
		    //         })
		    // },

		    deleteComment(comment_id){
				this.$store.dispatch('deletePaymentComment', {
		              id: comment_id
		            }).then(res=> {
		              //console.log('result', res)
		              if(res.status == 'Success') {
		                this.$message({
		                  showClose: true,
		                  message: 'Comment successfully Deleted!',
		                  type: 'success',
		                  center: true
		                })

		                setTimeout(() => {
		                  this.getPayment();
		                  //this.$parent.$emit('close')
		                }, 1000)
		              } else {
		                
		              }
		            })
		    },

		    checkFileExtension(path){
		    	var extension = path.substring(path.lastIndexOf('.')+1, path.length) || path;
		    	return extension;
		    },
		    viewFile(path){
		    	// this.$parent.$emit('close');
		    	var extension = path.substring(path.lastIndexOf('.')+1, path.length) || path;
		    	if(extension=='pdf' || extension=='xls'){
		    		window.open(this.storageURL+''+path,'_blank');
		    	}
		    	else if(extension=='xls'){	    		
			        this.$store.dispatch('callModal', {
			          child_component: filePreview,
			          // title: 'Task Details',
			          modalWidth: '50%',
			          content: {
			            project_id: this.project_id,
			            task_id: this.task_id,
			            src: path
			          }
			        })
		    	}


		    },
      		onSubmit() {
      			//console.log((this.uplform.fileData).length);
      			//console.log(this.uplform.comment);
		      if((this.uplform.fileData).length > 0 || (this.uplform.comment != null && this.uplform.comment != '')) {
		        // this.$refs[docForm].validate((response) => {
		        //   if(response) {
		        	var pasteData = this.uplform.comment;
		        	var str_array = [];
		        	pasteData = pasteData.replace( /\n/g, "<br>" );
		        	this.uplform.comment = this.urlify(pasteData);
			    	//var str_array = pasteData.split(";;");
			  //   	for(var i = 0; i < str_array.length; i++) {
			  //       	if(this.isURL(str_array[i])){
				 //    		str_array[i] = "<a href='"+str_array[i]+"' target='_blank' >"+str_array[i]+"</a>";
				 //    	}
					// }
					// let text = str_array.toString();
					
					// this.uplform.comment = text.replace(/,/g, ' ');

		            this.uplform.fileData.filter((item, index) => {
		              var file_path = this.$refs.upload.uploadFiles[index].name;

		              // if(item.expired_at !== '' && item.expired_at !== null) {
		              //   file_path += '&&' + item.expired_at;
		              // }

		              var file_type = item.file_path.split('.');

		              item.file_path = file_path 

		              item.imgBase64 = this.imgBase64[index].imgBase64
		            })

		            this.$store.dispatch('uploadPaymentsFileDocuments', {
		              id: this.payment_id,
		              comment: this.uplform.comment,
		              data: this.uplform.fileData,
		              type: 'payment_comments'
		            }).then(res=> {
		              console.log('result', res)
		              if(res.success) {
		                this.$message({
		                  showClose: true,
		                  message: this.$t('Clients.docs-upload-success'),
		                  type: 'success',
		                  center: true
		                })

		                this.$eventBus.$emit('syncProjectData');

		                setTimeout(() => {
		                  //this.$eventBus.$emit('loadAllOrders',true);
		                  this.imgBase64 = [];
		                  this.uplform.comment = '';
		                  this.uplform.fileData = [];
		                  this.$refs.upload.clearFiles();
		                  this.getPayment();
		                  // this.$parent.$emit('close')
		                }, 1000)
		              } else {
		                this.$message({
		                  showClose: true,
		                  message: this.$t('Clients.docs-upload-failed'),
		                  type: 'error',
		                  center: true
		                })
		              }
		            })
		        //   }
		        // })
		      // } else {
		      //   this.$message({
		      //     showClose: true,
		      //     message: this.$t('Navigation.docs') + this.$t('Group.is_required') + '.',
		      //     type: 'error',
		      //     center: true
		      //   })
		      }   
		      else {
		        this.$message({
		          showClose: true,
		          message: 'Please upload document/s or enter a comment.',
		          type: 'error',
		          center: true
		        }) 
		        }        
		    },

		    handlePaste (pasteEvent, callback) {
		    	//alert(pasteEvent);
	  			var items = pasteEvent.clipboardData.items;
		        var pasteData = pasteEvent.clipboardData.getData('text/plain');
		        //console.log(items.length);
		        //for (var i = 0; i < items.length; i++) {
				    //console.log("["+i+"]");
				    console.log( items[0]);
				    if (items[0].type.indexOf("image") == 0) {
				    	var blob = items[0].getAsFile();
				    }
				    if (items[0].type.indexOf("text/plain") == 0) {
				    	this.uplform.comment += pasteData;
				    }
				//}
				if(blob){
					this.handleChange2(blob)
				}
		    },

		    handleRemove (file, fileList) {
		    	//(this.uplform.fileData).splice(index, 1);
		    	var fl = [];
		    	(this.uplform.fileData).forEach(function(x, index) {
		    		console.log(x.file_path);
		    		console.log(file.url);
		    		console.log(file.url != 'image.png');
		    		console.log(x.file_path.toLowerCase().indexOf("image.png") === -1);

		          if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
		          	var fileData = {
				        id: self.task_id,
				        file_path: file.name,
				        comment: '',
				        imgBase64: null
				      }
		          	fl = [...fl, fileData];
		          }

		        });
		        this.uplform.fileData = fl;
		    	console.log((this.uplform.fileData));
		    },

		    handleChange (file, fileList) {
		    	// console.log(file);
		      var self = this

		      var fileData = {
		        id: self.task_id,
		        file_path: file.name,
		        comment: '',
		        imgBase64: null
		      }

		      var fl = [{
		        name: file.name,
		        url: file.name
		      }]		      

		      var reader = new FileReader();
		      reader.readAsDataURL(file.raw);
		      reader.onload = function(e) {
		        self.imgBase64 = [...self.imgBase64, {
		          name: file.name,
		          imgBase64: this.result
		        }]
		      }
		      // console.log(reader);

		      this.uplform.fileData = [...this.uplform.fileData, fileData];
		      // this.fileList = fl;

		    },

		    handleChange2 (file, fileList) {
		    	// console.log(file);
		      var self = this

		      var fileData = {
		        id: self.task_id,
		        file_path: file.lastModified+''+file.name,
		        comment: '',
		        imgBase64: null
		      }
		      var fl = [{
		        name: file.name,
		        url: file.name
		      }]
		      // console.log(fileData);
		      //file.name = file.lastModified+''+file.name;
		      var lengthIndex = (this.uplform.fileData).length;
		      this.$refs.upload.uploadFiles[lengthIndex] = file;

		      var reader = new FileReader();
		      reader.readAsDataURL(file);
		      reader.onload = function(e) {
		        self.imgBase64 = [...self.imgBase64, {
		          name: file.lastModified+''+file.name,
		          imgBase64: this.result
		        }]
		      }
		      // console.log(reader);

		      this.uplform.fileData = [...this.uplform.fileData, fileData]
		      this.fileList = fl;
		    },

	      	getPayment() {
	        	return this.$store.dispatch('getPaymentInfo',{
	          		payment_id: this.payment_id
	        	})
	        	.then(res => {
	        		this.data = [];

                let { code, data, comments, users } = res;
	            	if( code == 200 ) {
                    this.data = data;
                    //console.log(data);
                    this.comments = comments;
                    this.users = users;
                   
                    this.identifyMentionUsers();


                    //console.log('data', data)
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	isURL(str) {
			  const pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
			    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
			    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
			    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
			    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
			    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
			  return !!pattern.test(str);
			},

			urlify(text) {
			  var urlRegex = /(https?:\/\/[^\s]+)/g;
			  return text.replace(urlRegex, function(url) {
			    return '<a href="' + url + '" target="_blank">' + url + '</a>';
			  })
			  // or alternatively
			  // return text.replace(urlRegex, '<a href="$1">$1</a>')
			},

	      	saveSection(){

	      	  this.form.project_id = this.project_id;
	      	  this.form.id = this.task_id;
	      	  this.form.label = this.data.label;
	      	  this.form.start = this.dt[0];
	      	  this.form.end = this.dt[1];
	      	  this.form.assigned_to = this.data.assigned_to;
	      	  this.form.parent_id = this.data.parent_id;
	      	  this.form.task_desc = this.data.task_desc;
	      	  this.form.prio = this.data.prio;
	      	  this.form.progress = this.data.progress > 100 ? 100 : this.data.progress;
	      	  this.data.progress = this.form.progress;

		      return this.$store.dispatch('saveSection', { method: 'edit', payload: this.form }).then(res => {
		        if (res.code == 200) {

		          this.$message({
		            type: 'success',
		            message: this.$t('Common.successfully_updated')
		          });
		          this.percentMenu = false;
				  this.percentCircle = (this.data.progress/100) * 180;
		          this.$eventBus.$emit('syncProjectData')
		        }else{

		          console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'ERROR'
		          });

		        }
		      }).catch(err => {

		      })
		    },

		    showTaskImages(img) {

		      //console.log(selected[0].files);
		      var ctr = [];
		      //for(var i = 0; i < ii.length; i++){
		          //console.log(ii[i].file_path);
		          (ctr).push(img);
		          // ctr++;
		      //}
		      this.imgs = ctr;
		      //console.log(this.imgs);
		      //this.imgs = ['http://via.placeholder.com/350x150', 'http://via.placeholder.com/350x150']
		      // allow mixing

		      //this.index = 0  // index of imgList
		      this.show()
		    },
		    show() {
		      this.visible = true
		    },
		    handleHide() {
		      this.imgs = [];
		      this.visible = false
		    },
		    deleteTaskImage(id){
		       const fd = new FormData();
		       fd.append("id", id);
		       this.$store.dispatch("deleteTaskImage", fd).then(response => {
		        this.$parent.$emit('close');
		        
		        this.$message({
		          type: 'success',
		          message: 'Image successfully deleted!'
		        });
		        this.$eventBus.$emit('syncProjectData');
		        // this.$eventBus.$emit('openTaskDetails',this.task_id);
		      });
		    }
  		},

		created () {
			let { payment_id } = this.$parent.$parent.content;

      		//this.task_id = task_id;
            this.payment_id = payment_id;
            //this.files = files;

      		this.getPayment();
  		}


	}

</script>

<style>

.upload-demo .el-upload-dragger {
	width: 498px !important;
	margin-bottom: -6px;
}

.circle-wrap {
  /*margin: 50px auto;*/
  width: 70px;
  height: 70px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 70px, 70px, 35px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 35px, 70px, 0px);
  background-color: #0063b1;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(var(--percent-circle));
  color: var(--percent-circle);
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--percent-circle));
  }
}

.circle-wrap .inside-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 16px;
}

.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
#fbcomment{
  background:#fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  color: #4b4f56;
  padding:50px;
}
.header_comment{
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid #e9ebee;
    line-height: 25px;
    margin-bottom: 24px;
    padding: 10px 0;
}
.sort_title{
  color: #4b4f56;
}
.sort_by{
  background-color: #f5f6f7;
  color: #4b4f56;
  line-height: 22px;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #ccd0d5;
}
.count_comment{
  font-weight: 600;
}
.body_comment{
    padding: 0 8px;
    font-size: 14px;
    display: block;
    line-height: 25px;
    word-break: break-word;
}
.avatar_comment{
  display: block;
}
.avatar_comment img{
  height: 48px;
  width: 48px;
}
#list_comment{
	list-style-type:none;
	padding-left: 0px;
}
.box_comment{
	display: block;
    position: relative;
    line-height: 1.358;
    word-break: break-word;
    border: 1px solid #d3d6db;
    word-wrap: break-word;
    background: #fff;
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
	padding: 0;
}
.box_comment textarea{
	min-height: 40px;
	padding: 12px 8px;
	width: 100%;
	border: none;
	resize: none;
}
.box_comment textarea:focus{
  outline: none !important;
}
.box_comment .box_post{
	border-top: 1px solid #d3d6db;
    background: #f5f6f7;
    padding: 8px;
    display: block;
    overflow: hidden;
}
.box_comment label{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
.box_comment button{
  margin-left:8px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.box_comment button:hover{
  background-color: #29487d;
  border-color: #29487d;
}
.box_comment .cancel{
	margin-left:8px;
	background-color: #f5f6f7;
	color: #4b4f56;
	text-decoration: none;
	line-height: 22px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: center;
  border-color: #ccd0d5;
}
.box_comment .cancel:hover{
	background-color: #d0d0d0;
	border-color: #ccd0d5;
}
.box_comment img{
  height:16px;
  width:16px;
}
.box_result{
  margin-top: 24px;
}
.box_result .result_comment h4{
  font-weight: 600;
  white-space: nowrap;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
}
.box_result .result_comment{
  display:block;
  overflow:hidden;
  padding: 0;
}
.child_replay{
	border-left: 1px dotted #d3d6db;
	margin-top: 12px;
	list-style: none;
	padding:0 0 0 8px
}
.reply_comment{
	margin:12px 0;
}
.box_result .result_comment p{
  margin: 4px 0;
  text-align:justify;
}
.box_result .result_comment .tools_comment{
  font-size: 12px;
  line-height: 1.358;
}
.box_result .result_comment .tools_comment a{
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
.box_result .result_comment .tools_comment span{
  color: #90949c;
}
.body_comment .show_more{
  background: #3578e5;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
  width: 100%;
  font-weight:bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.mention-item {
  padding: 4px 10px;
  border-radius: 4px;
}

.vue-popover-theme{
	z-index: 999999;
	background-color: #FFF;
	color: #000;
}

.mention-selected {
  background-color: #4267b2;
}

.el-image-viewer__close{
	color: #FFF !important;
}

</style>
