<template>
  <div class="attendance-container">
    <div class="heading">
      <h1 class="title">{{ $t('Attendance.attendance-monitoring') }}</h1>
    </div>
    <div class="body-container">
      <div class="attendance-header">
        <div class="header-month-year">{{ $t(getCurrentMonth(this.selectedMonth)) + " " + this.selectedYear }}</div>
        <div class="filter-container">
          <div class="inline-container">
            <strong>{{ $t('Common.month') }} </strong>
            <el-select class="select-month" v-model="selectmonth" :placeholder="$t('Clients.select')" @change="updateSelectMonth">
              <el-option
                v-for="monthItem in this.months"
                :key="monthItem.id"
                :label="$t(monthItem.month)"
                :value="monthItem.id">
              </el-option>
            </el-select>
          </div>
          <div class="inline-container tab-space"></div>
          <div class="inline-container">
            <strong>{{ $t('Common.year') }} </strong>
            <el-select class="select-year" v-model="selectyear" :placeholder="$t('Clients.select')" @change="updateSelectYear">
              <el-option
                v-for="yearItem in yearList"
                :key="yearItem.year"
                :label="yearItem.year"
                :value="yearItem.year">
              </el-option>
            </el-select>
          </div>
          <div class="inline-container">
            <el-button class="filter-button" size="small" type="primary" @click="onSubmitFilter(true)">{{ $t('Common.filter') }}</el-button>
          </div>
        </div>
      </div>

      <div class="detail-container">
        <div class="col">
          <div class="search-container">
            <span>Project:</span>
            <form class="projectFitler" >
              <el-select v-model="location" filterable placeholder="Select Project" style="width: 270px;" size="mini" @change="handleUpdateWorkers">
                <el-option
                  v-for="s in projects"
                  :key="s.id"
                  :label="s.name"
                  :value="s.id">
                </el-option>
              </el-select>
            </form>
          </div>
        </div>
        <div class="col">
          <div class="search-container">
            <span>Search by Name:</span>
            <form class="search" >
              <el-input 
                :placeholder="''" 
                v-model="search" 
                clearable
                @input="handleChange" ></el-input>
            </form>
          </div>
        </div>
        <div class="col col-right">
          <div class="legend-container">
            <el-button class="filter-button" size="small" type="info" @click="workerDetails2(0)">Add Worker</el-button>
            	<el-button class="filter-button" size="small" type="info" @click="addWorkerAttendance()">Add Attendance</el-button>
              <el-button class="filter-button" size="small" type="success" @click="newPayroll()">Generate Payroll</el-button>
          </div>
        </div>
      </div>

      <div class="table-container">
        <div style="display: flex;">
          <div class="fixed-col">
            <div class="name-col table-header table-col">
              Workers
            </div>
            <div class="name-col table-col" 
              :key="index" 
              v-for="(item, index) in attendance"
              :class="getDepartmentClass(item.project)" v-if="item.attendance.length > 0">
                <div>
                  <el-button class="filter-button worker-name" size="small" type="text" @click="workerDetails(item.worker_id)">
                      <strong>{{ item.last_name + ', ' }}</strong>{{ item.first_name }}
                  </el-button>
                </div>
            </div>
          </div>
          <div class="fixed-col2">
            <div class="name-col table-header table-col">
              Position
            </div>
            <div class="name-col table-col" 
              :key="index" 
              v-for="(item, index) in attendance"
              :class="getDepartmentClass(item.project)" v-if="item.attendance.length > 0">
                <div>
                  <el-button class="filter-button worker-name" size="small" type="text" @click="workerDetails(item.worker_id)">
                      <i>{{ item.position }}</i>
                  </el-button>
                </div>
            </div>
          </div>
          <div class="day-col-container" id="col_container">
            <div class="day-col-body">
              <div class="day-col table-header table-col" 
                :key="item" 
                v-for="item in totalDays"
                :id="'day_'+item"
                :class="(ifCurrentDate(item)) ? 'current-date' : ''" >
                  {{ item }}
              </div>
            </div>
            <div class="day-col-body"
              :key="index" 
              v-for="(item, index) in attendance" v-if="item.attendance.length > 0">
                <div id="day_container" class="day-col table-col col-flex" :key="day" v-for="day in totalDays" :class="(ifCurrentDate(day)) ? 'current-date' : ''" @click="workerAttendance(item.worker_id,day)">

                  <!-- Display time-in if it isn't null -->

                  <span class="legend" :class="getStatusClass(getStatus(day, item, GET_INSTATUS))"  
                  @click="getWorkerAttendance(item.worker_id, day)">
                      {{ getStatus(day, item, GET_TIMEIN, item.worker_id) }}
                  </span>

                  <!-- Display time-out if it isn't null -->
                  <!-- <span class="legend" v-if="getStatus(day, item, GET_TIMEOUT) !== null"
                    :class="getStatusClass(getStatus(day, item, GET_OUTSTATUS))">
                      {{ getStatus(day, item, GET_TIMEOUT) }}
                  </span> -->

                  <!-- Display if date is weekend -->
                  <!-- <span class="legend" v-if="getStatus(day, item, GET_STATUS) !== null"
                    :class="getStatusClass(getStatus(day, item, GET_STATUS))">
                      {{ getStatus(day, item, GET_STATUS) }}
                  </span> -->

                </div>
            </div>
          </div>
        </div>
      </div>
    <i style="color:red; font-weight: bold; font-size: 11px;">
      Note: 
      <br>Please click on any worker's name if you want to update worker information.
      <br>Please click on any date to input worker attendance.
    </i>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
import newPayment from './new-payment4';
import workerDetails from './worker-details';
import timeinTimeout from './timein-timeout';
import timeinTimeout2 from './timein-timeout2';

const GET_STATUS = 0
const GET_TIMEIN = 1
const GET_TIMEOUT = 2
const GET_INSTATUS = 3
const GET_OUTSTATUS = 4

export default {
  name: 'attendance',
  components: {
       workerDetails, timeinTimeout, timeinTimeout2, newPayment
    },
  computed: mapGetters({
    months: 'months'
  }),

  data () {
    return {
      currentDate: new Date(),
      attendanceList: [],
      attendance: [],
      selectedMonth: '',
      selectedYear: '',
      selectmonth: '',
      selectyear: '',
      totalDays: 0,
      yearList: [],
      search: '',
      inv_id: 6,
      location: 6,
      projects: [],
      GET_STATUS,
      GET_TIMEIN,
      GET_TIMEOUT,
      GET_INSTATUS,
      GET_OUTSTATUS
    }
  },

  mounted () {
    this.$eventBus.$on('loadData', () => {
        this.onSubmitFilter();
      });
  },

  methods: {
    getCurrentMonth (currentMonth) {
      return this.months[currentMonth].month
    },

    updateSelectMonth (selected) {
      this.selectmonth = selected
    },

    updateSelectYear (selected) {
      this.selectyear = selected
    },

    getTotalDaysInAMonth (month, year) {
      return new Date(year, month, 0).getDate()
    },

    onGeneratePayroll(){
      var slctdmonth = moment(this.selectmonth+1, "M").format("MM")
      this.totalDays = moment(this.selectyear + "-" + slctdmonth, "YYYY-M").daysInMonth()
      this.selectedMonth = this.selectmonth
      this.selectedYear = this.selectyear

      this.inv_id = this.location;
      if(this.location == 'Warehouse'){
          this.inv_id = 0;
      }

      this.$store.dispatch('generatePayroll', {
        month: 'month=' + slctdmonth,
        year: 'year=' + this.selectedYear,
        project_id: 'project_id=' + this.inv_id
      })
      .then(res => {
        console.log(res);
      })
    },

    newPayroll(){

        var slctdmonth = moment(this.selectmonth+1, "M").format("MM")
        this.totalDays = moment(this.selectyear + "-" + slctdmonth, "YYYY-M").daysInMonth()
        this.selectedMonth = this.selectmonth
        this.selectedYear = this.selectyear

        this.inv_id = this.location;
        if(this.location == 'Warehouse'){
            this.inv_id = 0;
        }

            this.$store.dispatch('callModal', {
              child_component: newPayment,
              title: 'New Payroll',
              modalWidth: '80%',
              content: {
                id: 0,
                month : slctdmonth  ,
                year : this.selectedYear,
                project_id : this.inv_id
              }
            })

      },

    onSubmitFilter (action) {
      var slctdmonth = moment(this.selectmonth+1, "M").format("MM");
      this.totalDays = moment(this.selectyear + "-" + slctdmonth, "YYYY-M").daysInMonth();
      //alert(this.totalDays);
      this.selectedMonth = this.selectmonth;
      this.selectedYear = this.selectyear;

      this.getAttendance(slctdmonth, this.selectedYear)

      if(action) {
        setTimeout(() => {
          var table = document.getElementById("col_container")
          table.scrollLeft = 0
        }, 500)
      }
    },

    getAttendance (month, year) {
      this.inv_id = this.location;
      if(this.location == 'Warehouse'){
          this.inv_id = 0;
      }

      this.$store.dispatch('getAllAttendance', {
        month: 'month=' + month,
        year: 'year=' + year,
        project_id: 'project_id=' + this.inv_id
      })
      .then(res => {
        this.attendance = res.data
        this.attendanceList = res.data
        this.search = ''
      })
    },
    
    getDepartmentClass (department) {

        return 'it-bg'
      
    },

    setYearlist () {
      var year = moment(new Date()).format('YYYY')
      this.yearList = [];
      
      for(var x=2015; x<=year; x++) {
        this.yearList = [...this.yearList, { year: x }]
      }
    },

    getStatus (date, data, action, worker_id) {
      // alert(worker_id);
      var timein = null;
      var timeout = null;
      var instatus = null;
      var outstatus = null;
      var status = null

      var month = moment(this.selectedMonth+1, "M").format("MM")
      var year = this.selectedYear
      //date = moment(date, "D").format("DD")
      var d = date.toString();
      date = d.padStart(2, 0);
      var counter = 0;
      
      data.attendance.filter((item, index) => {
        // if(worker_id == 263){
        //   console.log(worker_id);
        //   console.log(worker_id);
        //   console.log(item.day.toString() === date.toString());
        //   console.log(item.month.toString() === month.toString());
        //   console.log(item.year.toString() === year.toString());
        //   console.log(worker_id == item.user_id);
        // }
        if(item.day.toString() === date.toString() && item.month.toString() === month.toString() && item.year.toString() === year.toString() && worker_id == item.user_id) {
          if(item.timein !== "" && item.timein !== null && typeof item.timein !== 'undefined') {
            // if(worker_id == 2){

            //   console.log(item.dura);
            //   console.log(item.dura/60);
            //   console.log((item.dura/60).toFixed(0));
            //   console.log((item.dura%60));
            // }
            timein = Math.floor(item.dura/60) + "hr " + (item.dura%60) + "min";
          } else {
            timein = null
          }

          if(item.timeout !== "" && item.timeout !== null && typeof item.timeout !== 'undefined') {
            timeout = item.timeout
          } else {
            timeout = null
          }

          if(item.timein_status === 'WEEKENDS' || item.timein_status === 'HOLIDAY' || item.timein_status === 'ABSENT') {
            status = item.timein_status
          }

          if(item.timein_status !== 'HOLIDAY' && timein === null && timeout === null) {
            status = 'ABSENT'
          }

          instatus = item.timein_status
          outstatus = item.timeout_status
          counter++;
        }
      })

      var isWeekend = this.ifDateIsWeekend(date, data)

      if(counter < 1) {
        if(isWeekend) {
          status =  null
        }
      }

      return this.displayStatusResult(timein, timeout, instatus, outstatus, status, action)
    },

    displayStatusResult (timein, timeout, instatus, outstatus, status, action) {
      switch(action) {
        case GET_STATUS:
          // if(status !== 'WEEKENDS' && status !== 'ABSENT') {
          if(status === 'LATE' || status === 'SLATE' || status === null) {
            status = null
          } else if(status === 'HOLIDAY' && (timein !== null || timeout !== null)) {
            status = null
          }
          return status
          break;

        case GET_TIMEIN:
          return timein
          break;

        case GET_TIMEOUT:
          return timeout
          break;
        
        case GET_INSTATUS:
          if(instatus === 'HOLIDAY') {
            return null
          }
          return instatus
          break;

        case GET_OUTSTATUS:
          if(instatus === 'HOLIDAY') {
            return null
          }
          return outstatus
          break;

        default:
          break;
      }
    },

    getStatusClass (data) {
      switch(data) {
        case 'HOLIDAY':
          return 'weekend'
          break;

        case 'WEEKENDS':
          return 'weekend'
          break;
            
        case 'ABSENT':
          return 'absent'
          break;
            
        case 'LATE':
          return 'late'
          break;
            
        case 'SLATE':
          return 'super-late'
          break;
            
        case 'EARLYOUT':
          return 'early-out'
          break;
        
        default:
          return 'default'
          break;
      }
    },

    ifDateIsWeekend (date, data) {
      var month = moment(this.selectedMonth+1, "M").format("MM")
      var year = this.selectedYear
      date = moment(date, "D").format("DD")

      var day = moment(year+'-'+month+'-'+date, "YYYY-MM-DD").format("dddd").toLowerCase()
      
      if(day === 'saturday' || day === 'sunday') {
        return true
      }
      return false;
    },

    checkupdate () {
      this.$store.dispatch('testKernel', {data: 'test'})
      .then(res => {
        console.log('test kernel', res)
      })
    },

    handleChange () {
      if(this.search !== '') {
        var result = []

        this.attendanceList.filter(item => {
          if(item.full_name.toLowerCase().indexOf(this.search) > -1) {
            result.push(item)
          }
        })

        this.attendance = result
      } else {
        this.attendance = this.attendanceList;
      }
    },

    ifCurrentDate (day) {
      var dateToday = moment(new Date()).format('D')
      dateToday = Number(dateToday)
      day = Number(day)

      if(dateToday === day) {
        return true
      }

      return false
    },

    handleUpdateWorkers(){
      // this.$refs.inventorytable.doLayout();
      this.inv_id = this.location;
      if(this.location == 'Warehouse'){
          this.inv_id = 0;
      }
      this.onSubmitFilter(false);
    },

    getSuppliers(){
            this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
            //this.suppliers = response.data
            this.projects = response.projects
            this.location = 6;
            this.inv_id = 6;
            //this.materials = response.materials
          })
        },

    workerDetails(id){
        this.$store.dispatch('callModal', {
          child_component: workerDetails,
          title: 'Worker Details',
          modalWidth: '50%',
          content: {
            id : id,
            projects : this.projects
          }
        })
    },

    workerDetails2(id){
        this.$store.dispatch('callModal', {
          child_component: workerDetails,
          title: 'Add New Worker',
          modalWidth: '50%',
          content: {
            id : id,
            projects : this.projects
          }
        })
    },

    addWorkerAttendance(){
      var month = moment(this.selectedMonth+1, "M").format("MM");
      var year = this.selectedYear;

        this.$store.dispatch('callModal', {
          child_component: timeinTimeout,
          title: 'Worker Attendance',
          modalWidth: '50%',
          content: {
            month : month,
            year : year,
            project_id : this.location
          }
        })
    },

    workerAttendance(id, date){
      //alert(date);
      var month = moment(this.selectedMonth+1, "M").format("MM");
      var year = this.selectedYear;
      //var day = moment(date, "D").format("DD");
      //console.log(date);
      //console.log(moment(date, "D").format("D"));
      //var day = date;
      var d = date.toString();
      var d = d.padStart(2, 0);
      //alert(d);
      var complete = year+'-'+month+'-'+d;
      //alert(complete);

        this.$store.dispatch('callModal', {
          child_component: timeinTimeout2,
          title: 'Worker Attendance',
          modalWidth: '30%',
          content: {
            id : id,
            date : complete,
            day : date,
            project_id : this.location
          }
        })
    },

    getWorkerAttendance(id, date){
      // alert();
        var month = moment(this.selectedMonth+1, "M").format("MM");
        var year = this.selectedYear;
        //var day = moment(date, "D").format("DD");
        //var date = year+'-'+month+'-'+day;
        var d = date.toString();
        var d = d.padStart(2, 0);
        //alert(d);
        var complete = year+'-'+month+'-'+d;

        this.$store.dispatch('callModal', {
          child_component: timeinTimeout2,
          title: 'Worker Attendance',
          modalWidth: '30%',
          content: {
            id : id,
            date : complete,
            day : date,
            project_id : this.location
          }
        })
    },
  },
  created () {
    this.getSuppliers();
    this.setYearlist()
    this.updateSelectMonth(this.months[new Date().getMonth()].id)
    this.updateSelectYear(new Date().getFullYear().toString())
    this.onSubmitFilter(false)

    // Scroll to date today
    setTimeout(() => {
      var dateToday = moment(new Date()).format('D')
      var table = document.getElementById("col_container")
      var offsetLeft = ((dateToday-1) * 191)
      table.scrollLeft = offsetLeft
    }, 500)
    
  }
}
</script>

<style lang="scss" scoped>
.body-container {
  background-color: #fff;
  padding: 10px 0px;
  margin-bottom: 25px;
}

.attendance-header {
  margin: 20px auto 0 auto;
  text-align: center;
  padding: 0px 20px;

  .header-month-year {
    margin: 0 auto 0 0;
    font-size: 1.575rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
  }

  .filter-container {
    display: inline-block;

    .select-month {
      width: 125px;
    }

    .select-year {
      width: 85px;
    }

    .filter-button {
      margin-left: 10px;
    }

  }

}

.search-container {
    display: flex;
    align-items: center;

    span {
        margin-right: 5px;
    }
}

.detail-container {
  width: auto;
  margin: 15px auto;
  display: flex;
  align-items: center;
  padding: 0px 20px;

  .col {
    width: 50%;
  }

  .col-right {
    display: flex;
    justify-content: flex-end;
  }

  .legend-container {
    display: inline-block;
    margin-left: 10px;
  }
}

th {
  min-width: 200px;
}

.table-container {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  .el-button--text {
    color: #000 !important;
  }

  .table-header {
    background-color: #F5F5F6 !important;
    font-weight: 700 !important;
    color: #555 !important;
    justify-content: center;
  }

  .table-col {
    display: flex;
    padding: 0px 10px;
    font-size: 13px;
    height: 35px;
    align-items: center;
  }

  .col-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fixed-col {
    position: absolute;
    min-width: 220px;

    .table-header {
      justify-content: flex-start;
    }
  }

  .fixed-col2 {
    position: absolute;
    min-width: 120px;
    margin-left:  220px;
  }

  .name-col {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-weight: 400;
  }

  .day-col-container {
    overflow: auto;
    width: 100%;
    padding-left: 320px;
    padding-bottom: 20px;
  }

  .day-col-body {
    display: flex;
    width: auto;

    &:nth-child(n) {
      .day-col {
        border-bottom: 1px solid #ddd;
        cursor: pointer;
      }
    }

    &:nth-child(even) {
      .day-col {
        background-color: #f9f9f9;
      }
    }
  }

  .day-col {
    min-width: 170px;
    text-align: center;

    &:nth-child(n) {
      border-right: 1px solid #ddd;
    }

    &:last-child {
      border: none;
    }
  }

  .admin-bg {
    background-color: rgb(1, 78, 63);
  }

  .legal-bg {
    background-color: rgb(5, 127, 104);
  }

  .processing-bg {
    background-color: rgb(26, 179, 148);
  }

  .it-bg {
    background-color: rgb(110, 181, 167);
  }

  .current-date {
    background-color: #1ab394 !important;
    color: #fff !important;
  }
}

.inline-container {
  display: inline-block;
}

.tab-space {
  width: 10px;
}

div.label,span.label {
  display: inline-block;
  font-size: .95em;
  font-weight: 400;
  color: #555;
}

div.legend,span.legend {
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
  padding: 4px 7px;
  border-radius: 3px;
  background-color: gray;
  color: #000;
  margin-left: 3px;
  margin-top: 5px;
}

div.default,span.default {
  background-color: #000;
  color: #fff;
}

div.late,span.late {
  background-color: #ece401;
}

div.super-late,span.super-late {
  background-color: #f3a010;
}

div.early-out,span.early-out {
  background-color: #ece401;
}

div.absent,span.absent {
  background-color: #c30000;
  color: #fff;
}

div.weekend,span.weekend {
  background-color: #999;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .attendance-container {
    .filter-container {
      display: block;

      .select-month {
        width: 100%;
        margin-top: 5px;
      }

      .select-year {
        width: 100%;
        margin-top: 5px;    
      }

      .filter-button {
        margin-left: 10px;
      }

    }
  }

  .inline-container {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .detail-container {
    display: block;

    .col {
      width: 100%;
    }

    .col-right {
      display: block;
      justify-content: flex-end;
    }

    .search-container {
      display: block;

      form.search {
        margin-top: 5px;
      }
    }

    .legend-container {
      display: inline-block;
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}
</style>