<template>

	<div>

		<div class="m-b-40">

			<el-form ref="preset_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
				<el-row :gutter="20" class="form-container">
	              <el-col :span="9"><b>View : </b> 
						<el-radio-group v-model="viewMode" size="mini" @change="handleUpdateTable()">
			              <el-radio-button label="All"></el-radio-button>
			              <el-radio-button label="PO"></el-radio-button>
			              <el-radio-button label="POC"></el-radio-button>
			              <el-radio-button label="SPC"></el-radio-button>
			              <el-radio-button label="BILLS"></el-radio-button>
			            </el-radio-group>
	              </el-col>
	              <el-col :span="9"><b>Status : </b> 
						<el-radio-group v-model="statusMode" size="mini" @change="handleUpdateTable()">
			              <el-radio-button label="On Process"></el-radio-button>
			              <el-radio-button label="Completed"></el-radio-button>
			            </el-radio-group>
	              </el-col>
	              <el-col :span="6">
	              		<el-button @click="newPO" type="primary" size="small" icon="el-icon-plus" class="pull-right m-t-10 m-b-10">
				    	New Payment
					</el-button>
	              </el-col>
	          	</el-row>
	          	<el-row>
			        <el-col :span="6">
			           <div >
			            	<el-input placeholder="Search" prefix-icon="el-icon-search" v-model="search" clearable  size="mini" @change="handleSearch" style="width:90%"></el-input>
			          	</div>
			        </el-col>
			    </el-row>

	        </el-form>

		    <el-alert
		    	class="m-b-10"
					title="List of Payments"
					type="info"
					show-icon :closable="false">
			</el-alert>

			<!-- <el-table-draggable @drop="handleDrop"> -->
				        <data-table :get-data="getData"
              ref="potable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <!-- <b slot="po" slot-scope="{row}">
                  {{ row.id }}
              </b> -->

              <b slot="ref" slot-scope="{row}">
                  <el-tooltip v-if="row.order_id > 0" class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="viewOrderDetails(row.order_id)" style="word-wrap: break-word; font-size: 11px;"><b>{{row.ref}}</b>
                   </el-button>
                 </el-tooltip>
                  <span v-else>{{ row.ref }}</span>
              </b>

              <b slot="date" slot-scope="{row}">
                  {{ row.date | commonDate }}
              </b>

              <b slot="project" slot-scope="{row}">
                  <span v-if="(row.paytype == 'SPC' || row.paytype == 'PAYMENT/BILLS') && row.with_order == 0">
	                  <el-tooltip class="item" effect="dark" content="Click to view payment comments" placement="top">
	                   <el-button type="text" @click="showComments(row.id)" style="font-size: 12px; color: blue;"><b>{{row.project}}</b>
	                   </el-button>
	                 </el-tooltip>

                  </span>
                  <el-tooltip v-else class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="showTaskDetails(row.project_id, row.task_id)" style="font-size: 12px; color: blue;"><b>{{row.project}}</b>
                   </el-button>
                 </el-tooltip>
              </b>

              <b slot="type" slot-scope="{row}">
                  {{ row.type }}
              </b>

              <b slot="status" slot-scope="{row}">
              	<el-tag type="danger" :closable="false" v-if="row.status2 =='Request'">Request</el-tag>
              	<el-tag type="primary" :closable="false" v-if="row.status2 =='Partial'">Partial</el-tag>
              	<el-tag type="warning" :closable="false" v-if="row.status2 =='Pending Receipt'">Pending Receipt</el-tag>
              	<el-tag type="success" :closable="false" v-if="row.status2 =='Completed'">{{ row.status2 }}</el-tag>
                  
              </b>

              <b slot="notes" slot-scope="{row}">
                  {{ row.ordernotes }}
              </b>

              <b slot="purchaser" slot-scope="{row}">
                  {{ row.purchaser }}
              </b>

              <b slot="payout" slot-scope="{row}">
              		{{ row.payout | currency}}
                  <!-- <el-select
                    v-model="row.payment_category_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Select or add new"
                    @change="changeCategory(row.payment_category_id,row.id)" size="mini">
                    <el-option
                      v-for="item in categories"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id">
                    </el-option>
                  </el-select> -->
              </b>

<!--               <b slot="desc" slot-scope="{row}">
                  {{ row.description }}
              </b> -->

              <b slot="total" slot-scope="{row}">
                  {{ (parseFloat(row.total) + parseFloat(row.parking > 0 ? row.parking : 0) + parseFloat(row.gas > 0 ? row.gas : 0) + parseFloat(row.delivery_fee > 0 ? row.delivery_fee : 0) + parseFloat(row.payout_return > 0 ? row.payout_return : 0) + parseFloat(row.toll > 0 ? row.toll : 0)) | currency }}
              </b>

              <b slot="balance" slot-scope="{row}">
              		{{row.balance | currency}}
                  <!-- {{ parseFloat(row.payout) - (parseFloat(row.total) + parseFloat(row.parking > 0 ? row.parking : 0) + parseFloat(row.gas > 0 ? row.gas : 0) + parseFloat(row.delivery_fee > 0 ? row.delivery_fee : 0) + parseFloat(row.payout_return > 0 ? row.payout_return : 0)) }} -->
              	
              	
              </b>

              <b slot="action" slot-scope="{row}"> 
              	<el-tooltip class="item" effect="dark" content="Edit Payment" placement="top">
                  <el-button type="warning" size="small" icon="el-icon-edit" @click="editPO(row.id, row.purchase_order_id, row.with_order, row.paytype)"></el-button>
              	</el-tooltip><br>

                   <el-tooltip  class="item" effect="dark" content="View Order Details" placement="top">
	                  <el-button v-if="row.order_id > 0" type="primary" size="small" icon="el-icon-view" @click="viewOrderDetails(row.order_id)"></el-button>
	              </el-tooltip><br v-if="row.order_id > 0">

                  <el-popconfirm
	                    confirm-button-text='OK'
	                    cancel-button-text='Cancel'
	                    icon="el-icon-info"
	                    icon-color="red"
	                    title="Are you sure to delete this?"
	                    @onConfirm="deletePayment(row.id)"
	                    v-if="(row.paytype == 'SPC' || row.paytype == 'PAYMENT/BILLS') && row.with_order == 0"
	                  >
					<el-button type="danger" size="small" slot="reference" icon="el-icon-delete"></el-button>
				</el-popconfirm>
                  <!-- <el-button type="success" size="small" @click="approve(row.id, row.purchase_order_id)">approve</el-button> -->
                  <!-- <el-select v-model="value" placeholder="Select" size="small" @change="handleActionChange(row.id)">
				    <el-option value="viewedit"><i>View/Edit</i></el-option>
				    <el-option value="approve"><i>Approve</i></el-option>
				  </el-select> -->
              </b>

        </data-table>


			<div class="m-t-20"></div>
			<br>
			<br>

    	</div>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';
	import newPaymentMultiple from './new-payment3';
	import newPayment from './new-payment3';
	import comments from './payment-comments';
	import DataTable from '../../../components/datatable'
	import taskDetails from './../../projects/components/task-details';
	import orderDetails from '../../inventories/components/order-details';

	export default {
		name: 'new-payment',

		components: {
    		ElTableDraggable, DataTable, newPayment, newPaymentMultiple, taskDetails, comments, orderDetails
  		},
		
		data () {
			return {
				viewMode : 'All',
				statusMode : 'On Process',
				loading: false,
				search: '',
			    page: 1,
			    perPage: 10,
				drafts : [],
				files : [],
				categories : [],

				form: {
			        preset_id : 0,
			        materials : [], 
			    },

			    columns: [
			        {
			          //prop: 'cb',
			          //minWidth: '30',
			          prop: 'selection',
			              type: 'selection',
			              width: '55',
			              reserveSelection: true
			        },

			        // {
			        //   prop: 'po',
			        //   label: 'ID#',
			        //   minWidth: '30'
			        // },

			        {
			          prop: 'ref',
			          label: 'Ref#',
			          width: '100',
			          sortable : true
			        },

			        {
			          prop: 'date',
			          label: 'Date',
			          width: '100',
			          sortable : true
			        },

			        {
			          prop: 'project',
			          label: 'Project/s',
			          width: '200',
			          sortable : true
			        },

			        {
			          prop: 'type',
			          label: 'Type',
			          width: '80'
			        },

			        {
			          prop: 'status',
			          label: 'Status',
			          width: '100',
			          sortable : true
			        },

			        {
			          prop: 'notes',
			          label: 'Order Notee',
			          width: '150',
			          sortable : true
			        },

			        {
			          prop: 'purchaser',
			          label: 'Purchaser',
			          width: '100',
			          sortable : true
			        },

			        {
			          prop: 'total',
			          label: 'Total Price',
			          width: '120',
			          sortable : true
			        },

			        {
			          prop: 'payout',
			          label: 'Payout',
			          width: '100',
			          sortable : true
			        },

			        {
			          prop: 'balance',
			          label: 'Balance',
			          width: '100',
			          sortable : true
			        },

			        {
			          prop: 'action',
			          label: 'Action',
			          width: '100'
			        },
			      ]

			}
		},

		 mounted () {
	      this.$eventBus.$on('loadPO', () => {
	          this.$refs.potable.getTableData();
	        });
	    },

		methods:{
			handleSearch(){
		      this.$refs.potable.getTableData();
		    },

		    showComments(payment_id){
		        // var files = [];

		        // this.$store.dispatch('getPaymentProfile', { id: payment_id}).then(response => {
		        //   // console.log('project profile', response)
		        //   this.files = response.files;
		        // })

		        // this.files.map((d,i) => {
		        //     if(d.id === payment_id){
		        //         files = d.files;
		        //     }
		        //   });

		        this.viewMenu = false;
		        this.$store.dispatch('callModal', {
		          child_component: comments,
		          // title: 'Task Details',
		          modalWidth: '40%',
		          content: {
		            payment_id: payment_id,
		            //files : files
		          }
		        })
		    },

			showTaskDetails(project_id, task_id){
		        var files = [];

		        this.$store.dispatch('getProjectProfile2', { id: project_id}).then(response => {
		          // console.log('project profile', response)
		          this.files = response.files;
		        })

		        this.files.map((d,i) => {
		            if(d.id === task_id){
		                files = d.files;
		            }
		          });

		        this.viewMenu = false;
		        this.$store.dispatch('callModal', {
		          child_component: taskDetails,
		          // title: 'Task Details',
		          modalWidth: '40%',
		          content: {
		            project_id: project_id,
		            task_id: task_id,
		            files : files
		          }
		        })
		    },
			newPO(){

		        this.$store.dispatch('callModal', {
		          child_component: newPayment,
		          title: 'New Payment',
		          modalWidth: '80%',
		          content: {
		            id : 0,
		            purchase_order_id : 0,
		            with_order : 0
		          }
		        })

			},

			editPO(id,po_id, with_order, paytype){
				//alert(bank_id);
				if(paytype == 'POC' || id <=1239){
			        this.$store.dispatch('callModal', {
			          child_component: newPayment,
			          title: 'Edit Payment',
			          modalWidth: '80%',
			          content: {
			            id : id,
			            purchase_order_id : po_id,
			            with_order : with_order,
			          }
			        })
				}
				else{
					this.$store.dispatch('callModal', {
			          child_component: newPaymentMultiple,
			          title: 'Edit Payment',
			          modalWidth: '80%',
			          content: {
			            id : id,
			            purchase_order_id : po_id,
			            with_order : with_order,
			          }
			        })
				}

			},

			viewOrderDetails(id){
		      // alert(id);
		        this.$store.dispatch('callModal', {
		          child_component: orderDetails,
		          title: 'Order Details',
		          modalWidth: '80%',
		          content: {
		            id : id,
		            step: 1
		          }
		        })
		    },

			deletePayment(id){
				this.$store.dispatch('deletePayment', {
		              id: id
		            }).then(res=> {
		              //console.log('result', res)
		              if(res.status == 'Success') {
		                this.$message({
		                  showClose: true,
		                  message: 'Payment Successfully Deleted!',
		                  type: 'success',
		                  center: true
		                })

		                setTimeout(() => {
		                  this.refreshData();
		                  //this.$parent.$emit('close')
		                }, 1000)
		              } else {
		                
		              }
		            })
		    },

			refreshData(){
		      this.$refs.potable.getTableData();
		    },

		    handleUpdateTable(){
		      this.$refs.potable.getTableData();
		    },

		    getData ({ page, query, sortParams, size}) {
		        let vm = this;

		        if(sortParams.length == 0){
		          sortParams = 'id-desc'
		        }

		        return this.$store.dispatch('getAllPayments',{
		            page: 'page=' + page,
		            sort: 'sort=' + sortParams,
		            search: 'search=' + this.search,
		            viewMode: 'viewMode=' + this.viewMode,
		            statusMode: 'statusMode=' + this.statusMode,
		            perPage: 'perPage=' + size,
		            // perPage: size,
		        })
		        .then(res => {
		          const { data } = res

		          this.drafts = data.data;
		          // console.log(data.data);
		          if(sortParams == 'project-asc' ){
		          	(data.data).sort((a, b) => (a.project > b.project) ? 1 : -1)
		          }
		          if(sortParams == 'project-desc' ){
		          	(data.data).sort((a, b) => (a.project < b.project) ? 1 : -1)
		          }
		          if(sortParams == 'balance-asc' ){
		          	(data.data).sort((a, b) => (a.project > b.project) ? 1 : -1)
		          }
		          if(sortParams == 'balance-desc' ){
		          	(data.data).sort((a, b) => (a.project < b.project) ? 1 : -1)
		          }
		          if(sortParams == 'status-asc' ){
		          	(data.data).sort((a, b) => (a.status2 > b.status2) ? 1 : -1)
		          }
		          if(sortParams == 'status-desc' ){
		          	(data.data).sort((a, b) => (a.status2 < b.status2) ? 1 : -1)
		          }

		          if(this.search != null && this.search != ''){
		          	var re = (this.search).toLowerCase();
						data.data =  (data.data).filter(function(d) {
							//console.log((d.project));
							//console.log((d.project).includes(re));
							// console.log((d.ref).indexOf(re));
							// console.log((d.ref).indexOf(re) == -1);
							//return ((d.project2).includes(re) );
							return ((d.ref2).includes(re) || (d.project2).includes(re) || (d.purchaser2).includes(re));
						  // if((d.ref).indexOf(re) > -1){
						  // 	return d;
						  // }
						});
		          }
		          

		          return {
		            data: data.data,
		            total: data.total,
		            size: size
		          }
		        })
		    },

		    handleActionChange(val){
		    	alert(val);

		    },

		    handleSelectChange(val) {
		      this.orderSelected = val;
		    },

		    handleRowClick(row) {
		      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
		    },

		    getCategories(){
		        this.$store.dispatch('getAllPaymentCategories', { payload: this.form } ).then(response => {
		            this.categories = response.data.data;
		          })
		    },

		    changeCategory(value,order_id){
		       return this.$store.dispatch('changePaymentCategory', { id: order_id, type: 'payment', cat : value }).then(res => {
		        if (res.code == 200) {
		          this.$message({
		            type: 'success',
		            message: this.$t('Common.successfully_updated')
		          });

		          this.getCategories();
		        }else{

		          console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'ERROR'
		          });

		        }
		      }).catch(err => {

		      })
		    },
		},

		created() {
			const vm = this;
			vm.getCategories();
		}
	}
</script>

<style lang="scss">
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

  	.el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
    }

/*  	.movable {
  		cursor: move;
  	}*/

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #000;
  		font-size: 14px !important;
  	}

  	.m-b-40 {
  		margin-bottom: 40px;
  	}
</style>