<template>
  <div class="add-cpanel-account">
    <div class="body-container">
      <div class="form-container container-padding">
        <el-form ref="worker-form" :model="form" >

          <el-button size="mini" type="success" @click="AddNew()" round>+ Add new</el-button><br>
          
          <el-table :data="datas = time" border style="width:100%;overflow-y: hidden; height: auto;">

                  <el-table-column fixed="left" label="Project" width="250">
                      <template slot-scope="scope">
                        <el-select v-model="time[scope.$index].project_id" filterable placeholder="Select Project" style="width: 270px;" size="mini">
                          <!-- <el-option key="0" value="Warehouse"><i>Warehouse</i></el-option> -->
                                      <el-option
                                        v-for="s in projects"
                                        :key="s.id"
                                        :label="s.name"
                                        :value="s.id">
                                      </el-option>
                                    </el-select>
                      </template>
                    </el-table-column>
                    <el-table-column label="Worker" width="200">
                      <template slot-scope="scope">
                        <el-select
                                  v-model="time[scope.$index].worker_id"
                                  filterable
                                  default-first-option
                                  placeholder="Select"
                                  size="small">
                                  <el-option
                                    v-for="item in workers"
                                    :key="item.id"
                                    :label="item.first_name+' '+item.last_name"
                                    :value="item.id">
                                  </el-option>
                                </el-select>
                      
                      </template>
                    </el-table-column>
              <el-table-column label="Timelog" width="360">
                <template slot-scope="scope">
                  <!-- <el-input v-model="time[scope.$index].timein" type="number" min="0">
                  </el-input> -->
                  <el-date-picker
                    v-model="time[scope.$index].timein"
                    type="datetimerange"
                    range-separator="To"
                    start-placeholder="Timein"
                    end-placeholder="Timeout"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    format="yyyy-MM-dd HH:mm">
                  </el-date-picker>
                </template>
              </el-table-column>

              <!-- <el-table-column label="Timeout" width="200">
                <template slot-scope="scope">
                  <el-date-picker
                    v-model="time[scope.$index].timeout"
                    type="datetime"
                    format="yyyy/MM/dd HH:mm:ss"
                    value-format="yyyy/MM/dd HH:mm:ss"
                    placeholder="Time-out">
                  </el-date-picker>
                </template>
              </el-table-column> -->

              <el-table-column label="Action" width="120">
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="handleDelete3(scope.$index)">delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          <!-- Buttons -->
          <div class="inner-container">
            <el-row :gutter="30">
              <el-col :span="24">
                  <!-- <router-link :to="{ name: 'cpanel-accounts'}">
                      <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
                  </router-link> -->
                  <el-button type="primary" @click="saveTime('worker-form')">{{ $t('Common.save') }}</el-button>
              </el-col>
              </el-row>
          </div>
          <!-- End of Buttons -->
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'time-in-time-out',  
  components: {

  },

  data () {

     return {
        user_id: '',
        project_id: '',
        month: '',
        year: '',
        time : [],
        projects: [],
        workers: [],
        date : '',

        form: {
            id : '',
            time: []
            },
    }
  },
  created () {
    const vm = this;
    let { month, year, project_id } = vm.$parent.$parent.content;
    //this.user_id = id;
    this.month = month;
    this.year = year;
    this.project_id = project_id;
    this.getProjects();
    this.getAllWorkers()
  },
  methods: {
    getProjects(){
        this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
              //this.suppliers = response.data
              this.projects = response.projects
              //this.materials = response.materials
            })
          },
    getAllWorkers(){
        this.$store.dispatch('getAllWorkers', {  } ).then(response => {
              //this.suppliers = response.data
              this.workers = response.workers
              //this.materials = response.materials
            })
          },
    AddNew() {
        this.time.push({
          "project_id":this.project_id,
          "worker_id":"",
          "timein":"",
          //"return":0,
        });
      },

    handleDelete3(index) {
        this.time.splice(index, 1);
      },

    saveTime (Form) {

          this.form.time = this.time;
          //this.form.id = this.user_id;

            // if (this.validateForm()) {
              this.loading = true;
              this.$store.dispatch('saveWorkerAttendanceMultiple',  { method: 'add', payload: this.form })
                .then(res => {
                  if (res.status === 'Failed') {
                    this.errors = res.errors

                    this.loading = false
                  } else {
                    this.$message({
                      showClose: true,
                      message: this.$t('Common.successfully_added'),
                      type: 'success',
                      center: true
                    })

                    this.$eventBus.$emit('loadData');
                  this.$parent.$emit('close');

                  }
                })
        },

    getWorker () {
      this.$store.dispatch('getWorker', this.user_id)
        .then(res => {
          var user = res.user

            this.form.id = user.id
            this.form.first_name = user.first_name
            this.form.middle_name = user.middle_name
            this.form.last_name = user.last_name
            // this.form.nick_name = user.nick_name
            // this.form.birthday = user.birth_date
            // this.form.gender = user.gender
            // this.form.civil_status = user.civil_status
            // this.form.height = user.height
            // this.form.weight = user.weight
            // this.form.email = user.email
            // this.form.current_email = user.email
            // this.form.address = user.address
            this.form.position = user.position
            this.form.basic_rate = user.basic_rate
            this.form.ot_rate = user.ot_rate
            this.form.op_allowance = user.op_allowance
            this.form.meal_allowance = user.meal_allowance
            this.form.load_allowance = user.load_allowance
            this.form.sss = user.sss
            this.form.pagibig = user.pagibig
            this.form.philhealth = user.philhealth
            this.form.cash_advance = user.cash_advance
            this.form.hire_date = user.hire_date
            this.form.released_date = user.released_date
            // this.form.branch = user.branches[0].id
            // this.form.department = user.department.department_id
        
        })
        .catch(res => console.log(res))
    },
    onSubmit (userForm) {
      const form = this.form
      var counter = 0
      this.errors = []

      this.$refs[userForm].validate((response) => {
        if (response) {
          if (counter === 0) {
            this.$store.dispatch('updateWorker', this.form)
              .then(response => {
                var responseStatus = response.status.toLowerCase()
                // If adding of new user is failed
                if (responseStatus === 'failed') {
                  const errors = response.errors
                  for (const key in errors) {
                    if (errors.hasOwnProperty(key)) {
                      const message = errors[key][0]
                      setTimeout(() => {
                        this.$message({
                          type: 'error',
                          message: message
                        })
                      }, 1)
                    }
                  }
                } else { // If adding of new user status is success
                  this.$message({
                    showClose: true,
                    message: 'Successfully Updated!',
                    type: 'success',
                    center: true
                  });

                  this.$eventBus.$emit('loadPOC');
                  this.$parent.$emit('close');
                }
              })
          }
        }
      })
    }

  }

}
</script>

<style lang="scss" scoped>
    .body-container {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        padding-bottom: 10px;
        margin-bottom: 32%;
        overflow: auto;
    }

    .container-padding {
        padding: 15px 1.2rem 15px 1.2rem;
    }

    .form-container {
        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

        .left-button{
          margin-right: 5px;
        }

    }

</style>
<style lang="scss">
  .add-cpanel-account {
    padding-bottom: 10px;

    .el-form-item__label {
      line-height: 20px;
      margin-top: 15px;
      font-size: 12px;
    }
    
    .el-form-item {
      margin-bottom: 0px;
    }

  }
</style>