<template>
  <div class="add-cpanel-account">
    <div class="body-container">
      <div class="form-container container-padding">
        <el-form ref="worker-form" :model="form" >

          <el-button size="mini" type="success" @click="AddNew()" round>+ Add new </el-button><br>
            <!-- {{date}}<br>
            {{day}} -->
          <el-table :data="datas = time" border style="width:100%;overflow-y: hidden; height: auto;">

              <el-table-column label="Timein" width="365">
                <template slot-scope="scope">
                  <!-- <el-input v-model="time[scope.$index].timein" type="number" min="0">
                  </el-input> -->
                  <el-time-picker
                    is-range
                    v-model="time[scope.$index].timein"
                    range-separator="To"
                    start-placeholder="Start time"
                    end-placeholder="End time"
                    value-format="HH:mm:ss"
                    format="HH:mm">
                  </el-time-picker>
                </template>
              </el-table-column>

              <!-- <el-table-column label="Timeout" width="200">
                <template slot-scope="scope">
                  <el-date-picker
                    v-model="time[scope.$index].timeout"
                    type="datetime"
                    format="yyyy/MM/dd HH:mm:ss"
                    value-format="yyyy/MM/dd HH:mm:ss"
                    placeholder="Time-out">
                  </el-date-picker>
                </template>
              </el-table-column> -->

              <el-table-column label="Action" width="120">
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="handleDelete3(scope.$index)">delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          <!-- Buttons -->
          <div class="inner-container">
            <el-row :gutter="30">
              <el-col :span="24">
                  <router-link :to="{ name: 'cpanel-accounts'}">
                      <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
                  </router-link>
                  <el-button type="primary" @click="saveTime('worker-form')">{{ $t('Common.save') }}</el-button>
              </el-col>
              </el-row>
          </div>
          <!-- End of Buttons -->
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'time-in-time-out',  
  components: {

  },

  data () {

     return {
        user_id: '',
        project_id: '',
        time : [],
        date : '',
        day : '',

        form: {
            id : '',
            date : '',
            project_id : '',
            time: []
            },
    }
  },
  created () {
    const vm = this;
    let { id, date, day, project_id } = vm.$parent.$parent.content;
    //alert(day);
    
    this.user_id = id;
    this.date = date;
    this.day = day;
    this.form.date = date;
    this.project_id = project_id;
    this.getDayAttendance();
  },
  methods: {
    AddNew() {
        this.time.push({
          "timein":"",
          // "timeout":"",
          //"return":0,
        });
      },

    handleDelete3(index) {
        this.time.splice(index, 1);
      },

    saveTime (Form) {

          this.form.time = this.time;
          this.form.id = this.user_id;
          // alert(this.date);
          //this.form.date = this.date;
          this.form.project_id = this.project_id;

            // if (this.validateForm()) {
              this.loading = true;
              this.$store.dispatch('saveWorkerAttendance',  { method: 'add', payload: this.form })
                .then(res => {
                  if (res.status === 'Failed') {
                    this.errors = res.errors

                    this.loading = false
                  } else {
                    this.$message({
                      showClose: true,
                      message: this.$t('Common.successfully_added'),
                      type: 'success',
                      center: true
                    })

                    this.$eventBus.$emit('loadData');
                  this.$parent.$emit('close');

                  }
                })
        },

    getDayAttendance () {
      this.form.id = this.user_id;
      this.form.date = this.date;
      this.form.project_id = this.project_id;
      this.$store.dispatch('getDayAttendance',  { payload: this.form })
                .then(res => {
                  //console.log(res);
                  this.time = res.data;
                  if (res.status === 'Failed') {
                    this.errors = res.errors

                    this.loading = false
                  } 
                })
    },
    onSubmit (userForm) {
      const form = this.form
      var counter = 0
      this.errors = []

      this.$refs[userForm].validate((response) => {
        if (response) {
          if (counter === 0) {
            this.$store.dispatch('updateWorker', this.form)
              .then(response => {
                var responseStatus = response.status.toLowerCase()
                // If adding of new user is failed
                if (responseStatus === 'failed') {
                  const errors = response.errors
                  for (const key in errors) {
                    if (errors.hasOwnProperty(key)) {
                      const message = errors[key][0]
                      setTimeout(() => {
                        this.$message({
                          type: 'error',
                          message: message
                        })
                      }, 1)
                    }
                  }
                } else { // If adding of new user status is success
                  this.$message({
                    showClose: true,
                    message: 'Successfully Updated!',
                    type: 'success',
                    center: true
                  });

                  this.$eventBus.$emit('loadPOC');
                  this.$parent.$emit('close');
                }
              })
          }
        }
      })
    }

  }

}
</script>

<style lang="scss" scoped>
    .body-container {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        padding-bottom: 10px;
        margin-bottom: 32%;
        overflow: auto;
    }

    .container-padding {
        padding: 15px 1.2rem 15px 1.2rem;
    }

    .form-container {
        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

        .left-button{
          margin-right: 5px;
        }

    }

</style>
<style lang="scss">
  .add-cpanel-account {
    padding-bottom: 10px;

    .el-form-item__label {
      line-height: 20px;
      margin-top: 15px;
      font-size: 12px;
    }
    
    .el-form-item {
      margin-bottom: 0px;
    }

  }
</style>