<template>
	<div class="cpanel-personal-info">
    <h1 class="form-title">{{ $t('Clients.personal_information') }}</h1>
    <div class="border-line"></div>
    <div class="inner-container">

      <!-- First Row -->
      <el-row :gutter="30">

        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
          <div>
            <el-form-item prop="first_name" :label="$t('Clients.first_name')">
              <el-input :placeholder="$t('Clients.enter_your_first_name')" v-model="form.first_name"></el-input>
            </el-form-item>
          </div>
        </el-col>

        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
          <div>
            <el-form-item prop="middle_name" :label="$t('Clients.middle_name')">
              <el-input :placeholder="$t('Clients.enter_your_middle_name')" v-model="form.middle_name"></el-input>
          </el-form-item>
          </div>
        </el-col>

        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
          <div>
            <el-form-item prop="last_name" :label="$t('Clients.last_name')">
              <el-input :placeholder="$t('Clients.enter_your_last_name')" v-model="form.last_name"></el-input>
          </el-form-item>
          </div>
        </el-col>

      </el-row>
      <!-- End of First Row -->

    </div>
	</div>
</template>

<script>
export default {
  name: 'personal-info',
  props: ['genders', 'civilStatuses', 'form']
}
</script>

<style lang="scss" scoped>
	.el-date-editor.el-input, .el-date-editor.el-input__inner {
	    width: 100% !important;
  }
  
	.border-line {
    width: 100%;
    height: 1px;
    background-color: #e7eaec;
  }

  .form-title {
    font-size: 1.275rem;
    font-weight: 400;
    line-height: 0;
  }
    // .form-container {

    //     .form-title {
    //         font-size: 1.275rem;
    //         font-weight: 400;
    //         // line-height: 0;
    //     }

    //     .inner-container {
    //         margin-top: 20px;

    //         .label {
    //             margin-bottom: 5px;
    //         }
    //     }

    //     .bottom-spacing {
    //         margin-bottom: 15px;
    //     }

    // }

    // .el-form-item {
    //     margin-bottom: 10px;
    // }

  .alert-container {
      position: absolute;
      width: 300px;
      top: 10%;
      right: 15px;
  }

  .left-button{
    margin-right: 5px;
  }

  .custom-select{
    width: 100%;
  }

    
</style>

<style lang="scss">
  .cpanel-personal-info {
    padding-bottom: 10px;

    .el-form-item__label {
      line-height: 20px;
      margin-top: 15px;
      font-size: 12px;
    }
    
    .el-form-item {
      margin-bottom: 0px;
    }

  }
</style>