<template>
  <div class="add-cpanel-account">
    <div class="body-container">
      <div class="form-container container-padding">
        <el-form ref="worker-form" :model="form" >
          <PersonalInfo
            v-bind:genders = "genders"
            v-bind:civilStatuses = "civilStatuses"
            v-bind:form = "form"
            ref="personalInfo"></PersonalInfo>
          <WorkInfo
            v-bind:form = "form"
            v-bind:rules = "rules"
            v-bind:projects = "projects"
            ref="workInfo"></WorkInfo>

          <!-- Buttons -->
          <div class="inner-container">
            <el-row :gutter="30">
              <el-col :span="24">
                  <router-link :to="{ name: 'cpanel-accounts'}">
                      <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
                  </router-link>
                  <el-button type="primary" @click="onSubmit('worker-form')">{{ $t('Common.save') }}</el-button>
              </el-col>
              </el-row>
          </div>
          <!-- End of Buttons -->
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import PersonalInfo from './worker-personal-info'
import WorkInfo from './worker-work-info'

export default {
  name: 'worker-details',  
  components: {
    PersonalInfo,
    WorkInfo
  },

  data () {
    var contactNumberValidation = (rule, value, callback) => {
      this.form.contact_numbers.filter((contacts, index) => {
          if (value == contacts.number) {
            contacts.err = " "
          }
      })
      // check if value is null
      if (value === '') {
        callback(new Error(' '))
        this.form.contact_numbers.filter((contacts, index) => {
          if (value == contacts.number) {
            contacts.err = this.$t('CPanel.contact_is_required')
          }
        })
      } else {
        // check min and max input
        var val_len = value.length

        this.form.contact_numbers.filter((contacts, index) => {
          if (value == contacts.number) {
            if (contacts.is_mobile == 1) {
              if (val_len < 11) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-min11-max13')
              } else if (val_len > 13) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-exceed13')
              }
            } else {
              if (val_len < 8) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-min8-max10')
              } else if (val_len > 10) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-exceed10')
              }
            }
          }
        })

        var counter = 0
        this.form.contact_numbers.filter((contacts, index) => {
          if (contacts.number === value) {
            counter++
          }
        })

        var contactIndex = 0
        if (counter > 1) {
          callback(new Error(this.$t('Clients.duplicate_number')))
        } else {
          this.form.contact_numbers.filter((contacts, index) => {
            if (contacts.number === value) {
              contactIndex = index
            }
          }) 

          // if (this.errors['contact_numbers.' + contactIndex + '.number'] !== null && this.errors['contact_numbers.' + contactIndex + '.number'] !== undefined) {
          //   callback(new Error(this.$t('Clients.number_already_taken')))
          // } else {
          //   callback()
          // }
        }
      }
    }

     return {
        user_id: '',
        form:{
          id: null,
          current_email:'',
          first_name:'',
          middle_name:'',
          last_name:'',
          nick_name:'',
          birthday:'',
          gender:'',
          civil_status:'',
          position: '',
          basic_rate: '',
          ot_rate: '',
          op_allowance: '',
          meal_allowance: '',
          load_allowance: '',
          sss: '',
          pagibig: '',
          philhealth: '',
          cash_advance: '',
          wca: '',
          hire_date: '',
          released_date: '',
          email:'',
          project_id:'',
          contact_numbers: [
            {
              number: '',
              is_primary: 1,
              is_mobile: 1,
              err:''
            }
          ],
          address:'',
          old_password:'',
          password:'',
          password_confirmation:'',
          roles:[],
          department:'',
          branch:''
      },
      genders: [
        {
          value: this.$t('Clients.male')
        },
        {
          value: this.$t('Clients.female')
        }
      ],
      civilStatuses: [
        {
          value: this.$t('Clients.single')
        },
        {
          value: this.$t('Clients.married')
        },
        {
          value: this.$t('Clients.widowed')
        },
        {
          value: this.$t('Clients.divorced')
        },
        {
          value: this.$t('Clients.separated')
        }
      ],
      roles: [],
      branches: [],
      departments: [],
      projects: [],
      rules: {
        first_name: [
          { required: true, message: this.$t('CPanel.fname_is_required') }
        ],
        last_name: [
          { required: true, message: this.$t('CPanel.lname_is_required') }
        ],
        birthday: [
          { required: true, message: this.$t('CPanel.bday_is_required') }
        ],
        gender: [
          { required: true, message: this.$t('CPanel.gender_is_required') }
        ],
        civil_status: [
          { required: true, message: this.$t('CPanel.civil_status_is_required') }
        ],
        address: [
          { required: true, message: this.$t('CPanel.address_is_required') }
        ],
        contact_numbers: [
          {
            number: [
              { validator: contactNumberValidation, trigger: 'blur' }
            ],
          }
        ],
        roles :[
          { required: true, message: this.$t('CPanel.role_is_required') }
        ],
        // department :[
        //   { required: true, message: this.$t('CPanel.dept_is_required') }
        // ]
      }
    }
  },
  created () {
    const vm = this;
    let { id, projects } = vm.$parent.$parent.content;
    this.user_id = id;
    this.projects = projects;
    if(this.user_id > 0){
      this.getWorker()
    }
  },
  methods: {
    getWorker () {
      this.$store.dispatch('getWorker', this.user_id)
        .then(res => {
          var user = res.user

            this.form.id = user.id
            this.form.first_name = user.first_name
            this.form.middle_name = user.middle_name
            this.form.last_name = user.last_name
            // this.form.nick_name = user.nick_name
            // this.form.birthday = user.birth_date
            // this.form.gender = user.gender
            // this.form.civil_status = user.civil_status
            // this.form.height = user.height
            // this.form.weight = user.weight
            // this.form.email = user.email
            // this.form.current_email = user.email
            // this.form.address = user.address
            this.form.position = user.position
            this.form.basic_rate = user.basic_rate
            this.form.ot_rate = user.ot_rate
            this.form.op_allowance = user.op_allowance
            this.form.meal_allowance = user.meal_allowance
            this.form.load_allowance = user.load_allowance
            this.form.sss = user.sss
            this.form.pagibig = user.pagibig
            this.form.philhealth = user.philhealth
            this.form.cash_advance = user.cash_advance
            this.form.wca = user.wca
            this.form.hire_date = user.hire_date
            this.form.released_date = user.released_date
            this.form.project_id = user.project_id
            // this.form.branch = user.branches[0].id
            // this.form.department = user.department.department_id
        
        })
        .catch(res => console.log(res))
    },
    onSubmit (userForm) {
      const form = this.form
      var counter = 0
      this.errors = []

      this.$refs[userForm].validate((response) => {
        if (response) {
          if (counter === 0) {
            if(this.user_id > 0){
              console.log(this.form);
              this.$store.dispatch('updateWorker', this.form)
                .then(response => {
                  var responseStatus = response.status.toLowerCase()
                  // If adding of new user is failed
                  if (responseStatus === 'failed') {
                    const errors = response.errors
                    for (const key in errors) {
                      if (errors.hasOwnProperty(key)) {
                        const message = errors[key][0]
                        setTimeout(() => {
                          this.$message({
                            type: 'error',
                            message: message
                          })
                        }, 1)
                      }
                    }
                  } else { // If adding of new user status is success
                    this.$message({
                      showClose: true,
                      message: 'Successfully Updated!',
                      type: 'success',
                      center: true
                    });
                    
                    this.$eventBus.$emit('loadData');
                    this.$parent.$emit('close');
                  }
                })
            }
            else{
              this.$store.dispatch('addNewWorker', this.form)
                .then(response => {
                  var responseStatus = response.status.toLowerCase()
                  // If adding of new user is failed
                  if (responseStatus === 'failed') {
                    const errors = response.errors
                    for (const key in errors) {
                      if (errors.hasOwnProperty(key)) {
                        const message = errors[key][0]
                        setTimeout(() => {
                          this.$message({
                            type: 'error',
                            message: message
                          })
                        }, 1)
                      }
                    }
                  } else { // If adding of new user status is success
                    this.$message({
                      showClose: true,
                      message: 'Successfully Updated!',
                      type: 'success',
                      center: true
                    });
                    
                    this.$eventBus.$emit('loadData');
                    this.$parent.$emit('close');
                  }
                })
            }
          }
        }
      })
    }

  }

}
</script>

<style lang="scss" scoped>
    .body-container {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        padding-bottom: 10px;
        margin-bottom: 32%;
        overflow: auto;
    }

    .container-padding {
        padding: 15px 1.2rem 15px 1.2rem;
    }

    .form-container {
        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

        .left-button{
          margin-right: 5px;
        }

    }

</style>
<style lang="scss">
  .add-cpanel-account {
    padding-bottom: 10px;

    .el-form-item__label {
      line-height: 20px;
      margin-top: 15px;
      font-size: 12px;
    }
    
    .el-form-item {
      margin-bottom: 0px;
    }

  }
</style>