<template>
  <div>
    <section class="main">
      <app-sidebar/>
      <main class="content" ref="main">

        <app-modal ref="modal"/>

        <app-header/>
        <app-heading :title="this.$route.text"/>

        <transition >
          <router-view class="inner"></router-view>
        </transition>

      </main>

      <app-lightbox ref="lightbox"/>
      
    </section>
  </div>
</template>

<script>

import Header from '../components/header'
import Sidebar from '../components/sidebar'
import Heading from '../components/heading'
import Modal from '../components/modal'
import Lightbox from '../components/lightbox'

// alert(this.modal.isVisible);
// (typeof modal.data !== 'undefined') ? modal.data.isVisible : false
export default {
  name: 'layout',
  title: 'CODEDC',
  components: {
    'app-header': Header,
    'app-sidebar': Sidebar,
    'app-heading': Heading,
    'app-modal': Modal,
    'app-lightbox': Lightbox
  }
}
</script>
