<template>
  <section class="login">
    <header class="login-header">
      <h1 class="brand"><router-link to="/" tabindex="-1">CODEDC</router-link></h1>
      <el-alert v-if="error" :title="error.title" type="warning" :description="error.message" show-icon/>
    </header>
    <el-form class="login-form" auto-complete="off" :model="model" :rules="rules" ref="login-form" label-position="top">
      <h2 class="heading">{{ $t('Common.sign_in') }}</h2>
      <el-form-item :label="$t('Common.login')" prop="email">
        <el-input type="text" v-model="model.email" :placeholder="$t('Common.please_enter_username')" @keyup.enter.native="submit('login-form')"/>
      </el-form-item>
      <el-form-item :label="$t('Common.password')" prop="password">
        <el-input type="password" v-model="model.password" :placeholder="$t('Common.please_enter_pass')" @keyup.enter.native="submit('login-form')"/>
      </el-form-item>
      <el-button type="primary" :loading="loading" @click="submit('login-form')">{{ loading ? $t('Reports.loading')+'...' : $t('Common.login') }}</el-button>
    </el-form>
    <footer class="login-footer">
      CODEDC © 2021
    </footer>
  </section>
</template>
<script>


export default {
  name: 'login',
  title: 'Login « CODEDC Construction Corp!',

  data () {
    // form model
    // TODO: remove default values

    const model = {
      email: '',
      password: '',
      source: 'web'
    }

    // form validate rules
    const rules = {
      email: [
        { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Common.username')) }
        // { min: 2, max: 16, message: 'Username must be between 2 and 16 characters' }
      ],
      password: [
        { required: true, message: this.replaceName(this.$t('Service.is_required'), this.$t('Common.password')) }
        // { min: 4, max: 16, message: 'Password must be between 4 and 16 characters' }
      ]
    }

    return { model: model, rules: rules, error: null, loading: false }
  },

  methods: {
    submit (ref) {
      // form validate
      this.$refs[ref].validate(valid => {
        if (!valid) return false

        // validated
        this.error = null
        this.loading = true

        // create token from remote
        this.$store.dispatch('createToken', this.model)
          .then(ret => {
            if(ret.status == 'Success'){
              console.log('test',ret.data.token);
              const data = {
                token: ret.data.token
              }
              // console.log(data);
              this.$tabEvent.emit('setToken', ret.data.token);
              this.$router.replace({ path: this.$route.query.redirect || '/' })
              this.loading = false
            }
            else{
              switch (ret.code) {
                case 401:
                  //this.error.message = this.$t('Common.incorrect_user_pass')
                  this.error = { title: this.$t('Common.please_try_again'), message: this.$t('Common.incorrect_user_pass') }
                  break
                case 500:
                  this.error = { title: this.$t('Common.please_try_again'), message: this.$t('Common.internal_server_error') }
                  break
              }
              this.loading = false
            }
          })
          .catch(err => {
            console.log('error login',err)
            this.error = { title: this.$t('Common.error_occured'), message: this.$t('Common.please_try_again') }
            switch (err.response && err.response.status) {
              case 401:
                this.error.message = this.$t('Common.incorrect_user_pass')
                break
              case 500:
                this.error.message = this.$t('Common.internal_server_error')
                break
            }
            this.loading = false
          })
      })
    },

    replaceName (message, data) {
      return message.replace(':name', data)
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/variables';

  .login {
    flex: 1;
    width: 95%;
    max-width: 22rem;
    margin: 0 auto;
    font-size: .875rem;

    &-header {
      margin-bottom: 1rem;

      .brand {
        margin: 4.5rem 0 3.5rem;
        text-align: center;
        letter-spacing: .125rem;

        a {
          margin: 0;
          color: $brand-color;
          font: 300 3rem sans-serif;

          &:hover {
            color: $brand-hover-color;
            text-shadow: 0 0 1rem $brand-hover-color;
          }
        }
      }
    }

    &-form {
      margin-bottom: 2.5rem;
      padding: 1.875rem 1.25rem;
      background: $login-form-background;
      color: $login-form-color;

      .heading {
        margin: 0 0 1rem;
        font-weight: 400;
        font-size: 1.5rem;
      }

      .el-button {
        margin-top: .5rem;
        width: 100%;
      }
    }

    &-footer {
      margin-bottom: 1rem;
      padding: .625rem;
      border: .0625rem solid $brand-color;
      font-size: .75rem;
      text-align: center;

      a {
        color: $brand-color;
      }
    }
  }
</style>
