<template>

  <div>
    <div class="heading">
      <h1 class="title">{{ $t('Branch.branches') }}</h1>

      <el-button type="primary" size="small" icon="el-icon-plus" class="left-button" @click="showAddEditBranch('Add', null)">
        {{ $t('Branch.add_branch') }}
      </el-button>
    </div>

    <IndexBranch ref="indexBranchRef" :branches="branches" />

    <el-dialog :title="title" :visible.sync="dialogVisible" width="40%">

      <AddEditBranch ref="addEditBranchRef" />

    </el-dialog>

  </div>

</template>

<script>

import IndexBranch from './components/index-branch'
import AddEditBranch from './components/add-edit-branch'

export default {
  name: 'branch-mngr',

  data () {
    return {
      branches: [],

      dialogVisible: false,

      title: null
    }
  },

  methods: {
    getAllBranches() {
      this.$store.dispatch('getBranches')
        .then(response => {
          this.branches = response.data.branches;
        });
    },

    showAddEditBranch (action, data) {
      this.dialogVisible = true;

      this.title = action + ' ' + this.$t('Branch.branch');

      this.$nextTick(() => {
        this.$refs.addEditBranchRef.action = action;

        this.$refs.addEditBranchRef.$refs.form.resetFields();

        if (action == 'Edit') {
          this.$refs.addEditBranchRef.form = data;
        }
      })
    }
  },

  components: {
    IndexBranch,
    AddEditBranch
  },

  created () {
    this.getAllBranches();
  },
}
</script>
