<template>
    <div class="form-container">
        <h2>Material Request</h2>
        <el-form ref="add_purchase_order_form" :rules="rules" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">

            <!-- {{form}} -->

            <el-divider></el-divider>

            <h2>Project: {{ project_name | capitalize }} <small>({{ project_nick | capitalize }})</small></h2>
            <h4>Task: {{ task_name | capitalize }}
              <small style="margin-left: 50px">Requestor : {{ form.requested_by}}</small>
              <small style="margin-left: 50px">Request Date : {{form.requested_at}}</small>
              <small style="margin-left: 50px">Delivery Address : {{project.address}}</small>
            </h4>
            <el-divider></el-divider><br><br>

            <el-row :gutter="20" class="form-container">
              <!-- <el-col :span="24">
                <div class="label">Select Bundle :</div>
                <div>
                  <el-form-item prop="bundles">
                  <el-select v-model="xform.bundle" filterable placeholder="Select Bundle" style="width: 550px;" @change="getBundlePresets">
                      <el-option
                        v-for="s in bundles"
                        :key="s.id"
                        :label="s.name"
                        :value="s.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col> -->
              <el-col :span="12">
                <!-- {{xform.materials}} -->
                <div class="label">Select Presets :</div>
                <div>
                  <el-form-item prop="presets">
                  <el-select v-model="xform.materials" filterable multiple placeholder="Select Presets" style="width: 550px;" @change="displayTable()">
                      <el-option
                        v-for="s in presets"
                        :key="s.id"
                        :label="s.name + ' ('+s.type + ')'"
                        :value="s.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>

              <el-col :span="3">
               <div class="label">Select Type :</div>
                  <div>
                    <el-form-item prop="presets">
                    <el-select v-model="type" filterable clearable placeholder="Select Type" style="width: 150px;">
                        <el-option
                          v-for="s in types"
                          :key="s.value"
                          :label="s.value"
                          :value="s.value">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
              </el-col>

              <el-col :span="9">
               <div class="label">Select Materials :</div>
                  <div>
                    <el-form-item prop="presets">
                    <el-select v-model="add.materials" filterable multiple placeholder="Select Materials" style="width: 400px;" @change="displayTable2(index, $event)">
                        <el-option v-if="s.type == type || (add.materials).includes(s.id) || type == ''"
                          v-for="s in materials"
                          :key="s.id"
                          :label="s.name"
                          :value="s.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
              </el-col>
            </el-row>
            <!-- {{selected}} -->
            <el-row :gutter="0" class="form-container" style="height: 100%; overflow-y: auto;">
            <el-col :span="16">
              <el-row v-for="(s, index) in selected" class="row" style="margin-bottom: 30px;">
                <el-col :span="24" >
                  <el-row :gutter="0">
                    <el-col :span="24" >
                      <label style="font-size: 20px; text-decoration: underline;
  color: blue"><b>{{ s.name }}</b></label>
                    </el-col>

                    <el-col :span="8" >
                      <el-form-item >
                        <el-input type="number" size="mini" min="0" v-model="form.qty[s.id]" autocomplete="off" placeholder="Enter sqm/cbm" style="width: 100px; margin-left: 20px;" @input="onQtyChange()"></el-input>
                      </el-form-item>
                    <!-- </el-col>

                    <el-col :span="6" > -->
                      <el-form-item prop="unit" >
                        <el-select v-model="form.unit[index]" disabled size="mini" placeholder="Enter unit" style="width: 110px; margin-left: 10px; color: #000 !important">
                          <el-option label="sqm" value="sqm"></el-option>
                          <el-option label="cbm" value="cbm"></el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>

                    <el-col :span="16" >
                      <el-form-item prop="note" >
                        <el-input v-model="form.note[index]" type="text" size="mini" placeholder="Enter note" style="width: 350px; margin-left: 10px;">
                        </el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                </el-col>

              <el-col :span="24">
                 <el-row class="row-header" style="font-weight: bold;">
                    <el-col :span="9" class="col-header">
                      Material Name
                    </el-col>
                    <!-- <el-col :span="4" class="col-header">
                      Estimated Qty
                    </el-col>
                    <el-col :span="4" class="col-header">
                      Actual Qty
                    </el-col>
                    <el-col :span="4" class="col-header">
                      Unit Price
                    </el-col>
                    <el-col :span="3" class="col-header">
                      Subtotal
                    </el-col> -->
                 </el-row>

                 <div v-for="(m, index2) in s.materials">

                   <div class="cat-header">
                       <el-row style="line-height: 25px; ">

                         <el-col :span="24"> <b>{{ m.matCtr }}. </b>
                              <el-tooltip class="item" effect="dark" content="View Material Photos" placement="top"> 
                                  <el-button type="text" icon="el-icon-picture" @click="showMaterialImages(m.files)">
                                </el-button>
                              </el-tooltip>
                              <el-form-item style="margin-bottom: 0px;">
                                <div><small style="color: #868484; margin-right: 5px; text-transform: uppercase;">{{ m.type }} </small> <b>{{ m.name }}</b>
                                  </div>
                              </el-form-item>
                         </el-col>

                         <el-col :span="6">
                          <el-form-item>
                                 Est. Qty: {{ (m.ratio * form.qty[s.id]).toFixed(2)}}
                               </el-form-item>
                         </el-col>

                         <el-col :span="6">
                            <el-form-item > Qty:
                                <el-input size="mini" type="number" min="0" v-model="form.materials[index][index2]['qty']" autocomplete="off" placeholder="Enter actual qty" style="width: 110px; "></el-input>
                            </el-form-item>
                         </el-col>

                         <el-col :span="6">
                            <el-form-item > Price:
                                <el-input size="mini" type="number" min="0" v-model="form.materials[index][index2]['final_price']" autocomplete="off" placeholder="Enter actual qty" style="width: 110px; "></el-input>
                              </el-form-item>
                         </el-col>

                         <el-col :span="6">
                          <el-form-item> <b>Subtotal:</b>
                                 {{ (form.materials[index][index2]['qty'] * form.materials[index][index2]['final_price']).toFixed(2)  }}
                               </el-form-item>
                         </el-col>
                       </el-row>
                       <el-row>
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Weight:
                            <el-input size="mini" type="text" v-model="form.materials[index][index2]['weight']" autocomplete="off" placeholder="Enter weight(kg)" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Length:
                            <el-input size="mini" type="text" v-model="form.materials[index][index2]['length']" autocomplete="off" placeholder="Enter length" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Width:
                            <el-input size="mini" type="text" v-model="form.materials[index][index2]['width']" autocomplete="off" placeholder="Enter width" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Height:
                            <el-input size="mini" type="text" v-model="form.materials[index][index2]['height']" autocomplete="off" placeholder="Enter height" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                       </el-row>
                       <div v-if="form.materials[index][index2]['reminder'] == ''" style="border-bottom: 2px solid #ccc; margin-bottom: 15px; "></div>
                       <el-row v-if="form.materials[index][index2]['reminder'] != '' && form.materials[index][index2]['reminder'] != null"  style="border-bottom: 2px solid red; margin-bottom: 50px; color: red;">
                            <i><b>* {{ form.materials[index][index2]['reminder'] }}</b></i>
                       </el-row>
                   </div>
                 </div>

              </el-col>

            </el-row>

            <el-divider></el-divider>

            <el-row class="row" style="margin-bottom: 30px;" v-if="form.addmaterials.length > 0">
              <el-col :span="24" >
                <label style="font-size: 20px;"><b>Additional Materials</b></label>
              </el-col>

              <el-col :span="24">
                 <el-row class="row-header" style="font-weight: bold;">
                    <el-col :span="10" class="col-header">
                      Material Name
                    </el-col>
                    <el-col :span="4" class="col-header">
                      Qty
                    </el-col>
                    <el-col :span="4" class="col-header">
                      Unit Price
                    </el-col>
                    <el-col :span="4" class="col-header">
                      Subtotal
                    </el-col>
                 </el-row>

                 <div v-for="(m, index) in form.addmaterials">

                   <div class="cat-header">
                       <el-row style="line-height: 25px;">

                         <el-col :span="10">
                          <el-tooltip class="item" effect="dark" content="View Material Photos" placement="top">
                                  <el-button type="text" icon="el-icon-picture" @click="showMaterialImages(m.files)">
                                </el-button>
                              </el-tooltip>
                          <el-form-item>
                                 <div><small style="color: #868484; margin-right: 5px; text-transform: uppercase;">{{ m.type }} </small>{{ m.name }}</div>
                               </el-form-item>
                         </el-col>

                         <el-col :span="4">
                            <el-form-item >
                                <el-input size="mini" type="number" min="0" v-model="form.addmaterials[index]['qty']" autocomplete="off" placeholder="Enter qty" style="width: 110px; "></el-input>
                            </el-form-item>
                         </el-col>

                         <el-col :span="4">
                            <el-form-item >
                                <el-input size="mini" type="number" min="0" v-model="form.addmaterials[index]['retail_price']" autocomplete="off"  style="width: 110px; "></el-input>
                              </el-form-item>
                         </el-col>

                         <el-col :span="4">
                          <el-form-item>
                                 {{ form.addmaterials[index]['qty'] * form.addmaterials[index]['retail_price']}}
                               </el-form-item>
                         </el-col>
                       </el-row>
                       <el-row >
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Weight:
                            <el-input size="mini" type="text" v-model="form.addmaterials[index]['weight']" autocomplete="off" placeholder="Enter weight(kg)" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Length:
                            <el-input size="mini" type="text" v-model="form.addmaterials[index]['length']" autocomplete="off" placeholder="Enter length" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Width:
                            <el-input size="mini" type="text" v-model="form.addmaterials[index]['width']" autocomplete="off" placeholder="Enter width" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                        <el-col :span="6">
                          <el-form-item style="margin-top: -25px; margin-bottom: 5px;">Height:
                            <el-input size="mini" type="text" v-model="form.addmaterials[index]['height']" autocomplete="off" placeholder="Enter height" style="width: 110px; "></el-input>
                          </el-form-item>
                        </el-col>
                       </el-row>
                       <el-row style="border-bottom: 1px solid #ccc">
                        <el-col :span="24">
                          <el-form-item style="margin-top: 0px; margin-bottom: 5px;">Note:
                            <el-input size="mini" type="text" v-model="form.addmaterials[index]['note']" autocomplete="off" placeholder="Enter note" style="width: 765px; "></el-input>
                          </el-form-item>
                        </el-col>
                       </el-row>
                   </div>
                 </div>

              </el-col>

            </el-row>

            <div v-show="form.name.length> 0 || form.addmaterials.length> 0" style="margin-bottom: 50px;">
                <el-button class="add-button" type="primary"  @click="onAddPurchaseOrder('add_purchase_order_form','site order')">Update</el-button>
            </div>
          </el-col>

          <el-col :span="8" style="border-left: 1px solid #ccc;">
              <div id="invoiceholder">
                <div id="invoice" class="effect2">
                  
                  <div id="invoice-top">
                    <b>Request Summary</b><br>

                    <el-form-item>
                      <div class="block" style="margin-top: 30px;">
                        <span class="demonstration">Needed Date: </span><br>
                        <el-date-picker
                          v-model="form.needed_date"
                          type="date"
                          format="MM/dd/yy- dddd"
                          value-format="yyyy-MM-dd"
                          placeholder="Select date"
                          :picker-options="pickerOptions"
                          style="width: 350px;">
                        </el-date-picker>
                      </div>
                    </el-form-item>

                    <el-form-item>
                      <div class="block">
                        <span class="demonstration">Specific Time: </span>
                        <el-time-picker
                          is-range
                          v-model="form.needed_time"
                          range-separator="To"
                          start-placeholder="Start time"
                          end-placeholder="End time"
                          value-format="hh:mm:ss">
                        </el-time-picker>
                      </div>
                    </el-form-item>
                  </div><!--End InvoiceTop-->
                  
                  <div id="invoice-bot">
                    
                    <div id="table">
                      <table class="table-main" >
                        <thead>    
                            <tr class="tabletitle">
                              <th>Material Name</th>
                              <th style="text-align: right">Subtotal</th>
                            </tr>
                        </thead>
                        <template v-for="(s, index) in selected">
                          <tr class="list-item" v-for="(m, index2) in s.materials">
                            <td data-label="Material Name" width="70%" class="tableitem">{{m.name}}</td>
                            <td data-label="Subtotal" width="30%" style="text-align: right" class="tableitem">{{ computeTotal( form.materials[index][index2]['qty'] , form.materials[index][index2]['final_price'] )}}</td>
                          </tr>
                        </template>

                          <tr class="list-item" v-for="(m, index) in form.addmaterials">
                            <td data-label="Material Name" width="70%" class="tableitem">{{m.name}}</td>
                            <td data-label="Subtotal" width="30%" style="text-align: right" class="tableitem">{{ computeTotal( form.addmaterials[index]['qty'] , form.addmaterials[index]['retail_price'] )}}</td>
                          </tr>

                      </table>
                      <table class="table-main" >
                          <tr class="list-item total-row">
                              <th colspan="2" class="tableitem" style="text-align: right; font-size: 16px">Total Price : Php{{ totalPrice() | currency}}</th>
                          </tr>
                      </table><br>

                      <table class="table-main" >
                          <tr class="list-item total-row">
                              <th colspan="2" class="tableitem" style="font-size: 12px; float: left;">Total Kg : {{ totalkg() }} </th>
                          </tr>
                          <tr class="list-item total-row">
                              <th colspan="2" class="tableitem" style="font-size: 12px; float: left;">Total Cbm : {{ totalcbm() }}</th>
                          </tr>
                      </table><br>

                      <el-form-item label="Remarks : " style="width: 300px !important">
                        <el-input
                          type="textarea"
                          :rows="3"
                          v-model="form.remarks"
                          resize="none" style="width: 390px">
                        </el-input>
                      </el-form-item>
                    </div><!--End Table-->
                    
                  </div><!--End InvoiceBot-->
                </div><!--End Invoice-->
              </div><!-- End Invoice Holder-->
          </el-col>

        </el-row>


            <!--<br>
             {{form}}
            <br><br>
            {{xform.materials}} -->

        </el-form>

        <vue-easy-lightbox
          escDisabled
          moveDisabled
          :visible="visible"
          :imgs="imgs"
          :index="index"
          @hide="handleHide"
        ></vue-easy-lightbox>

    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VueEasyLightbox from 'vue-easy-lightbox'
export default {
  name: 'edit-purchase-order',
  props: ['redirect'],
  components: {
      VueEasyLightbox
  },
  data () {

    var qtyValidation = (rule, value, callback) => {
      if(value.length != this.form.name.length || (value.includes(undefined)) || value.includes('')) {
        callback(new Error("Qty fields are all required"))
      } else {
        callback()
      }
    }

    var unitValidation = (rule, value, callback) => {
      if(value.length != this.form.name.length || (value.includes(undefined)) || value.includes('')) {
        callback(new Error("Unit fields are all required"))
      } else {
        callback()
      }
    }

    var actualValidation = (rule, value, callback) => {
      console.log(value);
      if(value == 0) {
        callback(new Error("Actual Qty fields cannot be zero"))
      } else {
        callback()
      }
    }

    var unitpriceValidation = (rule, value, callback) => {
      if(value.includes(0)) {
        callback(new Error("Unit Price fields cannot be zero"))
      } else {
        callback()
      }
    }
    return {
      imgs: '',  // Img Url , string or Array of string
      visible: false,
      index: 0,   // default: 0
      storageURL: process.env.VUE_APP_STORAGE,
      project_name : '',
      project_nick : '',
      project : '',
      task_name : '',
      req_name : '',
      req_date : '',
      loading: false,
      presets: [],
      bundles: [],
      materials: [],
      
      selected: [],

      xform: {
        qty: [],
        bundle: [],
        materials: [],
        tempmaterials: [],
        oldmaterials: [],
        order_id: null
      },

      add: {
        materials: [],
        tempmaterials: [],
        oldmaterials: [],
        order_id: null,
        preset_id: 0,
      },

      total_price: '',
      form: {
        requested_by : '',
        requested_at : '',
        project_id : 0,
        task_id : 0,
        // order_id : 0,
        status : '',
        name : [],
        qty : [],
        unit : [], 
        note : [], 
        materials : [], 
        addmaterials : [],  
        order_id : null,
        remarks : null,
        needed_date: null,
        needed_time: null
      },

      types: [
        { value: 'AUX' }, 
        { value: 'AAA - Customize Item' }, 
        { value: 'ACU' },
        { value: 'ACU Accessory' }, 
        { value: 'ACU Insulation' },  
        { value: 'Aluminum' },  
        { value: 'Appliances' }, 
        { value: 'Baseboard' }, 
        { value: 'Bio Lock' }, 
        { value: 'Board' }, 
        { value: 'Carpet Flooring' }, 
        { value: 'Carpentry' }, 
        { value: 'CCTV' }, 
        { value: 'Ceiling' }, 
        { value: 'China - Alum Sliding Doors' }, 
        { value: 'China Downspout' }, 
        { value: 'China Roofing' }, 
        { value: 'China - Modular' }, 
        { value: 'China - Others' }, 
        { value: 'China - Vanity' }, 
        { value: 'China - Wooden Doors' }, 
        { value: 'Civil' }, 
        { value: 'Cleaning' }, 
        { value: 'Consumables' }, 
        { value: 'Consumables - Carpentry' }, 
        { value: 'Consumables - Civil' }, 
        { value: 'Consumables - cutting & drilling' }, 
        { value: 'Consumables - Electrical' }, 
        { value: 'Consumables - Hangers' }, 
        { value: 'Consumables - Painting' }, 
        { value: 'Consumables - Plumbing' }, 
        { value: 'Consumables - Screws' }, 
        { value: 'Consumables - Sealant & Glue' }, 
        { value: 'Consumables - Tiling' }, 
        { value: 'Consumables - Wall Paper' }, 
        { value: 'Curtain' }, 
        { value: 'Decor' }, 
        { value: 'Demolition' }, 
        { value: 'Documents & Forms' }, 
        { value: 'Doors + Accessories' }, 
        { value: 'Drywall' }, 
        { value: 'Electrical' }, 
        { value: 'Electrical Wires' }, 
        { value: 'Equipment & Power Tools' }, 
        { value: 'Furnitures' }, 
        { value: 'Garden' }, 
        { value: 'Garden canopy' }, 
        { value: 'Hand Tools' }, 
        { value: 'Hangers' }, 
        { value: 'Hardware / Depot' }, 
        { value: 'Installation' }, 
        { value: 'Laminated Flooring' }, 
        { value: 'Lighting Fixtures' }, 
        { value: 'Manhole' }, 
        { value: 'Masonry' }, 
        { value: 'Painting' }, 
        { value: 'Panelboard' }, 
        { value: 'PH Roofing' }, 
        { value: 'Plumbing' }, 
        { value: 'Plumbing Fixtures' }, 
        { value: 'Plumbing - PVC' }, 
        { value: 'PPR' }, 
        { value: 'Roofing' }, 
        { value: 'Sanitary' }, 
        { value: 'Safety + PPE' }, 
        { value: 'Site Document' }, 
        { value: 'Sound System' }, 
        { value: 'SPC Flooring' }, 
        { value: 'Stainless' }, 
        { value: 'Stainless Cladding' }, 
        { value: 'Steel BI' }, 
        { value: 'Subcon - Acu' },
        { value: 'Subcon - Exhaust + Fresh Air' },
        { value: 'Subcon - Fdas ' },
        { value: 'Subcon - Fire Suppression' },
        { value: 'Subcon - Gas' },
        { value: 'Subcon - Glass' },
        { value: 'Subcon - Kitchen Equipment' },
        { value: 'Subcon - Roll Up' },
        { value: 'Subcon - Sigange' },
        { value: 'Subcon - Sprinkler' },
        { value: 'Swimming pool' },
        { value: 'Switch + Outlet' },
        { value: 'Tel & Data' },
        { value: 'Tiles' },
        { value: 'Tiling' },
        { value: 'Tools' },
        { value: 'Uncategorized' },
        { value: 'Upholstery' },
        { value: 'Vanity' },
        { value: 'Walling' },
        { value: 'Wall Paper' },
        { value: 'Water Proofing' },
        { value: 'Welding' },
        { value: 'WPC Flooring' },
        { value: 'Wooden Flooring' },
      ],
      type : '',

      pickerOptions: {
        disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
        }
      },


      rules: {
        qty: [
          { required: true, message: "Quantity is required" , trigger: 'blur'},
          { validator: qtyValidation }
        ],
        unit: [
          { required: true, message: "Unit is required", trigger: 'blur' },
          { validator: unitValidation }
        ],
        // actualqty: [
        //   { required: true, message: "Actual Qty is required", trigger: 'blur' },
        //   //{ validator: actualValidation }
        // ],
        // finalprice: [
        //   { required: true, message: "Unit Price is required", trigger: 'blur' },
        //   { validator: unitpriceValidation }
        // ]
      }

    }
  },
  created () {
    const vm = this
    this.form.project_id   = vm.$parent.$route.params.projectId
    this.form.task_id = vm.$parent.$route.params.taskId
    this.form.order_id = vm.$parent.$route.params.orderId
    this.form.requested_by = this.session.user.first_name + " " + this.session.user.last_name;
    this.form.requested_at = moment().format('YYYY-MM-DD HH:mm:ss');

    this.$store.dispatch('getAllPresets2', { payload: this.form } ).then(response => {
        this.presets = response.data.presets;
        this.bundles = response.data.bundles;
        this.materials = response.data.materials;
        this.form.addmaterials = response.data.addmaterials;
        this.add.materials = response.data.formaddmaterials;
        this.project_name = response.data.project.name;
        this.project_nick = response.data.project.nick_name;
        this.project = response.data.project;
        this.task_name = response.data.task.label;
        if((response.data.form.order_id) > 0){      
          var f = response.data.form;
          // console.log(f.note);
          this.form.name  = f.name;
          this.form.order_id  = f.order_id;
          this.xform.order_id  = f.order_id;
          this.add.order_id  = f.order_id;
          this.form.qty  = f.qty;
          this.form.unit  = f.unit;
          this.form.status  = f.status;
          this.form.note  = f.note;
          this.form.remarks  = f.remarks;
          this.form.needed_date  = f.needed_date;
          this.form.needed_time  = f.needed_time;
          this.form.materials  = f.materials;
          this.xform.materials = f.name;
          this.selected = f.presets;
          this.selected.map((item,index) => {
            this.$set(this.form.name, index, item.id);
            this.$set(this.form.materials, index, item.materials);
            // this.$set(this.xform.materials, index, item.materials);
            // item.materials.map((item2,index2) => {
            //   this.$set(this.materials.item, index2, item2);  
            // });
          });
        }
      })

  },
  mounted () {

  },

  // computed: {
  //    totalPrice: function () {
  //       var tp = 0;
  //       this.selected.map((item,index) => {
  //           item.materials.map((item2,index2) => {
  //              tp += (item2.final_price * item2.qty);  
  //           });
  //       });
  //       return tp;
  //    },
  // },

  computed: mapGetters({
    header: 'header',
    session: 'session',
    // totalPrice: function () {
    //     var tp = 0;
    //     this.selected.map((item,index) => {
    //         item.materials.map((item2,index2) => {
    //            tp += (item2.final_price * item2.qty);  
    //         });
    //     });
    //     return tp;
    //  },
  }),

  methods: {
    totalkg(){
      var totalkg = 0;
      this.selected.map((item,index) => {
            item.materials.map((item2,index2) => {
               totalkg += (item2.weight * item2.qty);  
            });
        });
      console.log('jeff');
      console.log(this.form.addmaterials);
      this.form.addmaterials.map((item,index) => {
               totalkg += (item.weight * item.qty);  
        });
      return totalkg;
    },

    totalcbm(){
      var totalcbm = 0;
      this.selected.map((item,index) => {
            item.materials.map((item2,index2) => {
               totalcbm += ((item2.length * item2.width * item2.height) * item2.qty);  
            });
        });
      this.form.addmaterials.map((item,index) => {
               totalcbm += ((item.length * item.width * item.height) * item.qty);  
        });
      return totalcbm;
    },

    onQtyChange(){
        this.selected.map((item,index) => {
            item.materials.map((item2,index2) => {
                this.form.materials[index][index2]['qty'] = Math.round((item2.ratio * this.form.qty[item.id]).toFixed(2));
            })
        });

    },

    computeTotal(a,b){
      return a * b;
    },

    totalPrice(){
      var tp = 0;
      this.selected.map((item,index) => {
            item.materials.map((item2,index2) => {
               tp += (item2.final_price * item2.qty);  
            });
        });
      this.form.addmaterials.map((item,index) => {
               tp += (item.retail_price * item.qty);  
        });
        return tp;
      },

    displayTable(){
      //console.log(this.xform.maerials);
      
      this.form.name = [];
      this.form.materials = [];
      // this.xform.qty = this.form.qty;
      //this.xform.unit = this.form.unit;
      this.xform.qty = this.form.qty;
      //this.form.qty = [];
      this.form.unit = [];
      this.$store.dispatch('getSelectedPresets', { payload: this.xform }).then(response => {
        this.selected = response.data.presets;
        this.form.unit = response.data.units;
        // if(this.form.order_id > 0){
        //   console.log(response.data.qty);
        //   this.form.qty = response.data.qty;
        // }
        this.selected.map((item,index) => {
            this.$set(this.form.name, index, item.id);
            this.$set(this.form.materials, index, item.materials);
            this.$set(this.form.unit, index, item.unit);
            // this.$set(this.form.qty, index, item.qty);
            // this.$set(this.form.unit, index, [item.unit]);
            // item.materials.map((item2,index2) => {
            //   this.$set(this.materials.item, index2, item2);  
            // });
        });
        this.xform.tempmaterials = this.xform.materials;
        this.xform.oldmaterials = this.selected;
      })
    },

    displayTable2(index,val){
      // console.log(index);
      // console.log(val);
      this.$store.dispatch('getSelectedMaterials', { payload: this.add }).then(response => {
            this.form.addmaterials = response.data.materials;
            this.add.tempmaterials = this.add.materials;
            this.add.oldmaterials = this.form.addmaterials;
          })
    },

    getBundlePresets(){
      this.form.name = [];
      this.form.materials = [];
      this.form.qty = [];
      this.form.unit = [];
      this.$store.dispatch('getBundlePresets', { payload: this.xform }).then(response => {
        this.selected = response.data.presets;
        this.form.unit = response.data.units;
        this.form.qty = response.data.qty;
        this.xform.materials = response.data.press;
        this.selected.map((item,index) => {
            this.$set(this.form.name, index, item.id);
            this.$set(this.form.materials, index, item.materials);
            this.$set(this.form.unit, index, item.unit);
            // this.$set(this.form.qty, index, item.qty);
            // this.$set(this.form.unit, index, [item.unit]);
            // item.materials.map((item2,index2) => {
            //   this.$set(this.materials.item, index2, item2);  
            // });
        });
      })
    },

    onAddPurchaseOrder (Form, status) {
      var proceedFlag = 0;
      var ctr = 0;
      var srpctr = 0;
      var checkqty = this.selected.length;
      this.selected.map((item,index) => {
          if(this.form.qty[item.id] < 1 || this.form.qty[item.id] === undefined){
              checkqty--;
          }
          ctr += item.materials.length;
          srpctr += item.materials.length;
          item.materials.map((item2,index2) => {
              if(this.form.materials[index][index2]['qty'] < 1){
                  ctr--;
              }
              if(this.form.materials[index][index2]['final_price'] < 1){
                  srpctr--;
              }
          })
      });

      this.form.addmaterials.map((item,index) => {
          ctr += item.qty;
          srpctr += item.qty;
          if(this.form.addmaterials[index]['qty'] < 1){
              ctr--;
          }
          if(this.form.addmaterials[index]['retail_price'] < 1){
                  srpctr--;
              }
      });
      // alert(ctr);
      // console.log('ctr' + ctr);
      // console.log('ctr' + proceedFlag);

      if(ctr < 1){
          this.$message({
            showClose: true,
            message: 'Please input materials quantity.',
            type: 'error',
            center: true
          })
      }
      else if(srpctr < 1){
          this.$message({
            showClose: true,
            message: 'Please input materials price.',
            type: 'error',
            center: true
          })
      }
      else if(checkqty != this.selected.length){
          this.$message({
            showClose: true,
            message: 'Please input preset quantity.',
            type: 'error',
            center: true
          })
      }
      else if(status == 'site order' && (this.form.remarks == '' || this.form.remarks == null)){
          this.$message({
            showClose: true,
            message: 'Please input remarks.',
            type: 'error',
            center: true
          })
      }
      else if(status == 'site order' && (this.form.needed_date == '' || this.form.needed_date == null)){
          this.$message({
            showClose: true,
            message: 'Please input needed date.',
            type: 'error',
            center: true
          })
      }
      else{
        this.form.status = status;
        this.errors = []
        // this.form.tracking = this.$parent.$parent.$parent.$refs.modal.content.tracking
        this.$refs[Form].validate((response) => {
          if (response) {
            this.loading = true;
            this.$store.dispatch('addPurchaseOrder2', this.form)
              .then(res => {
                //var responseStatus = res.status.toLowerCase()
                if (res.status === 'Failed') {
                  this.errors = res.errors
                  //this.$refs[Form].validate((response2) => { })

                  this.loading = false
                } else {
                  this.$message({
                    showClose: true,
                    message: this.$t('Common.successfully_added'),
                    type: 'success',
                    center: true
                  })

                  setTimeout(() => {
                    //console.log(this.redirect);

                    window.open('/#/inventory/list/0/1','_self');

                    this.loading = false
                  }, 1000)
                }
              })
          }
        })
      }
    },

      showMaterialImages(files) {
        //console.log(selected[0].files);
        var ctr = [];
        for(var i = 0; i < files.length; i++){
            //console.log(ii[i].file_path);
            (ctr).push(this.storageURL+files[i].file_path);
            // ctr++;
        }
        this.imgs = ctr;
        this.show()
      },
      show() {
        this.visible = true
      },
      handleHide() {
        this.imgs = [];
        this.visible = false
      },

  }
}
</script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style lang="scss" >
    .content{
      background-color: #FFF !important;
    }
</style>
<style lang="scss" scoped>

    .el-input__inner:disabled{
      color: #000 !important;
    }
    .add-button-container {
        margin-bottom: 40px;
    }

    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }

    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }

    .hide {
        opacity: 0;
    }

    .form-container {
        margin-bottom: 0px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }
    .smallInput{
      width: 170px;
    }

    #invoiceholder{
  width:100%;
  height: 100%;
  padding: 20px 0;
}
#invoice{
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: #FFF;
}

[id*='invoice-']{ /* Targets all id with 'col-' */
/*  border-bottom: 1px solid #EEE;*/
  padding: 20px;
}

#invoice-top{border-bottom: 2px solid #00a63f;}
#invoice-mid{min-height: 110px;}
#invoice-bot{ min-height: 240px;}

.logo{
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    overflow: hidden;
}
.info{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.logo img,
.clientlogo img {
    width: 100%;
}
.clientlogo{
    display: inline-block;
    vertical-align: middle;
  width: 50px;
}
.clientinfo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px
}
.title{
  float: right;
}
.title p{text-align: left;}
#message{margin-bottom: 30px; display: block;}
h2 {
    margin-bottom: 5px;
    color: #444;
}
.col-right td {
    color: #666;
    padding: 5px 8px;
    border: 0;
    font-size: 0.75em;
    border-bottom: 1px solid #eeeeee;
}
.col-right td label {
    margin-left: 5px;
    font-weight: 600;
    color: #444;
}
.cta-group a {
    display: inline-block;
    padding: 7px;
    border-radius: 4px;
    background: rgb(196, 57, 10);
    margin-right: 10px;
    min-width: 100px;
    text-align: center;
    color: #fff;
    font-size: 0.75em;
}
.cta-group .btn-primary {
    background: #00a63f;
}
.cta-group.mobile-btn-group {
    display: none;
}
table{
  width: 100%;
  border-collapse: collapse;
}
td{
    padding: 10px;
    border-bottom: 1px solid #cccaca;
    font-size: 0.70em;
    text-align: left;
}

.tabletitle th {
  border-bottom: 2px solid #ddd;
  text-align: left;
}
.tabletitle th:nth-child(2) {
    text-align: left;
}
th {
    font-size: 0.7em;
    text-align: left;
    padding: 5px 10px;
}
/*.item{width: 50%;}*/
.list-item td {
    font-size: 12px;
    text-align: left;
}
.list-item td:nth-child(2) {
    text-align: left;
}
.total-row th,
.total-row td {
    text-align: right;
    font-weight: 700;
    font-size: 14px;
    border: 0 none;
}
.table-main {
    
}
footer {
    border-top: 1px solid #eeeeee;;
    padding: 15px 20px;
}
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: .9em;
    }
    #invoice {
        width: 100%;
    }
    #message {
        margin-bottom: 20px;
    }
    [id*='invoice-'] {
        padding: 20px 10px;
    }
    .logo {
        width: 140px;
    }
    .title {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: 40px;
    }
    .title p {
        text-align: left;
    }
    .col-left,
    .col-right {
        width: 100%;
    }
    .table {
        margin-top: 20px;
    }
    #table {
        white-space: nowrap;
        overflow: auto;
    }
    td {
        white-space: normal;
    }
    .cta-group {
        text-align: center;
    }
    .cta-group.mobile-btn-group {
        display: block;
        margin-bottom: 20px;
    }
     /*==================== Table ====================*/
    .table-main {
        border: 0 none;
    }  
      .table-main thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      .table-main tr {
        border-bottom: 2px solid #eee;
        display: block;
        margin-bottom: 20px;
      }
      .table-main td {
        font-weight: 700;
        display: block;
        padding-left: 40%;
        max-width: none;
        position: relative;
        border: 1px solid #cccaca;
        text-align: left;
      }
      .table-main td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: normal;
        text-transform: uppercase;
      }
    .total-row th {
        display: none;
    }
    .total-row td {
        text-align: left;
    }
    footer {text-align: center;}
}

    

</style>
