
<template>
  <div @contextmenu.prevent="handleClick($event)" @dblclick.prevent="handleClick($event)">
  <div id="app">

    <ul id="right-click-menu" tabindex="-1" ref="testright" v-if="viewMenu" @blur="closeMenu"  :style="someStyle">
        <li class="task-opt" @click="taskDetails">Open Task Details</li>
        <li class="task-opt" @click="insertTaskBelow">Add Task</li>
        <li class="task-opt" @click="viewPO">Purchase Order</li>
        <li class="task-opt" @click="markPrio">Toggle Priority</li>
    </ul>

    <ul id="right-click-menu" tabindex="-1" ref="testright2" v-if="viewMenu2" @blur="closeMenu"  :style="someStyle">
        <li class="task-opt" @click="insertTaskBelow">Add Task</li>
    </ul>

    <div><h2>{{project_name}}

      <el-tooltip  class="item" effect="dark" content="Edit Project Details" placement="top-start">
        <a href="javascript:void(0)" @click="handleEdit()" style="margin-left: 12px; color: #1D8CE0 !important;"><i class="el-icon-edit"></i>
        </a>
      </el-tooltip>

      <el-tooltip class="item" effect="dark" content="View Quotation" placement="top" style="float: right;">
          <el-button  @click="viewQuotation()" type="warning" size="mini" icon="el-icon-document">Generate Quotation</el-button>
      </el-tooltip>

      <el-tooltip class="item" effect="dark" content="Filter Task" placement="top" style="float: right;">
          <el-slider
            v-model="filterTask"
            range @change="asyncData"
            :marks="marks" style="width: 300px; margin-right: 26px; margin-top: -8px;">
          </el-slider>
      </el-tooltip>

        </h2>
        <el-row>
          <el-col :span="8">
            <h4>
                Project Address: 
                <address style="width: 500px">
                   <a :href="proj_address_href " target="_blank">{{proj_address}}</a>
                </address>

                <!-- <b style="margin-left: 50px; float: right;">Remaining Days : <span style="color: #1D8CE0;">{{ remainingDays }} days</span></b>
                <b style="float: right;">On Going : <span style="color: #1D8CE0;">{{ onGoingDays }} days</span></b> -->
            </h4>
        </el-col>
        <el-col :span="4">
            <div class="card-wrap one">
              <div class="card-header">
                <h1>{{ remainingDays }} days</h1>
              </div>
              <div class="card-content">
                <p class="card-content-option" style="margin-top: 65px; font-size: 18px">Remaining Days</p>
              </div>
            </div>
          </el-col>
          <el-col :span="6">
            <div class="card-wrap three">
              <div class="card-header">
                <h1>{{ onGoingDays }} days</h1>
              </div>
              <div class="card-content">
                <p class="card-content-option" style="margin-top: 65px; font-size: 18px">On Going</p>
              </div>
            </div>
        </el-col>
      </el-row>
    </div>
    <gantt-elastic :tasks="tasks" :options="options">
        <gantt-header slot="header" :options="options"></gantt-header>
    </gantt-elastic>

    <el-input v-show ="add_secflag" size="mini" @keyup.enter.native="saveSection()" placeholder="Enter Section Label" v-model="form.label" style="width: 300px" @blur="hideInputSection()"></el-input>
    <el-button v-show ="!add_secflag"  type="primary" size="mini" icon="el-icon-plus" style="margin-left: 5px;font-size: 10px; margin-top: 5px;" @click="showInputSection()">Add Section</el-button>
    <el-button v-show ="!add_secflag" type="primary" size="mini" icon="el-icon-plus" style="margin-left: 5px;font-size: 10px; margin-top: 5px;" @click="insertTask">Add Task</el-button>
    <br><br>
    <br><br>
    <br><br>

  </div>

</div>
</template>

<script>

//Components
import { mapGetters } from 'vuex'
import GanttElastic from 'gantt-elastic';
import Header from 'gantt-elastic-header';
import taskDetails from './components/task-details';
import AddTask from './components/add-task';
import AddTask2 from './components/add-task2';
import EditProjects from './components/edit-projects';
import ExportExcel from './components/export-excel'

export default {
  name: 'Project-Gantt-Chart',
    components: {
	     ganttElastic: GanttElastic,
       ganttHeader: Header,
       taskDetails,
       AddTask,
       AddTask2,
       ExportExcel
	  },
    //template:`<gantt-elastic :tasks="tasks" :options="options"></gantt-elastic>`,
  data () {
    return {
      elisten : false,
      filterTask: [0, 100],
      marks: {
        0: '0',
        25: '25',
        50: {
          style: {
            color: '#1989FA'
          },
          label: this.$createElement('strong', '50%')
        },
        75: '75',
        100: {
          style: {
            color: '#1989FA'
          },
          label: this.$createElement('strong', '100%')
        },
      },
      text: '',
          items: [
            {
              value: 'cat',
              label: 'Mr Cat',
            },
            {
              value: 'dog',
              label: 'Mr Dog',
            },
          ],
      dynamicStyle: {
            'task-list-header-label': {
              'font-weight': 'bold',
            },
          },
      project_id : null,
      project_name : "",
      proj_address : "",
      proj_address_href : "",
      remainingDays : 0,
      onGoingDays : 0,
      task_id : null,
      tasks : [],
      sections : [],
      options : [],
      editdata : {},

      viewMenu: false,
      viewMenu2: false,
      top: '0px',
      left: '0px',

      someStyle : {
        left : this.left,
        top  : this.top
      },

      add_secflag : false,
      add_taskflag : false,

      form: {
        label: '',
        project_id: '',
        parent_id: 0,
        task_id: null
      },
    }
  },

  created () {
      this.project_id = this.$route.params.id;
      this.form.project_id = this.$route.params.id;
      //this.project_name = this.$route.params.nickname;
      this.asyncData();

      this.options = {
        title: {
          label: this.project_name,
          html: true,
          style: {
            'font-size': '20px',
            'vertical-align': 'middle',
            'font-weight': 'bold',
            'line-height': '35px',
            'padding-left': '22px',
            'letter-spacing': '1px'
          }
        },
        taskList: {
          columns: [
            {
              id: 1,
              label: 'ID',
              value: 'index',
              html: true,
              width: 60
            }, {
              id: 2,
              label: 'Description',
              value: 'label',
              width: 300,
              expander: true,
              html: true,
            }, {
              id: 3,
              label: 'Team',
              value: 'user',
              width: 130,
              html: true
            }, {
              id: 3,
              label: 'Status',
              value: 'status',
              width: 130,
              html : true
            }, {
              id: 4,
              label: 'Type',
              value: 'type',
              width: 68
            }, {
              id: 5,
              label: '%',
              value: 'progress',
              width: 35,
              styles: {
                label: {
                  'text-align': 'center',
                  'width': '100%'
                },
                value: {
                  'text-align': 'center',
                  'width': '100%'
                }
              }
            }
          ]
        },
        locale: {
          code: 'en',
          'Now': 'Now',
          'X-Scale': 'Zoom-X',
          'Y-Scale': 'Zoom-Y',
          'Task list width': 'Task list',
          'Before/After': 'Expand',
          'Display task list': 'Task list'
        }
    };


  },

  computed: mapGetters({
    session: 'session'
  }),

  mounted () {

    this.$eventBus.$on('syncProjectData', () => {
        this.asyncData();
      });

     // this.tasks =  [
     //      {
     //        id: 1,
     //        label: '<b class="task-click" id="1">All CR Door Installation</b>',
     //        user: new Date(`2021-07-07 00:00:00`).getTime(),
     //        start: new Date((new Date(`2021-07-07 00:00:00`).getTime())),
     //        duration: 6 * 24 * 60 * 60 * 1000,
     //        progress: 85,
     //        type: 'project',
     //        status: '<span style="color:green;"> started </span>',
     //      }, {
     //        id: 2,
     //        label: 'With great power comes great responsibility',
     //        user: '<a href="https://www.google.com/search?q=Peter+Parker" target="_blank" style="color:#0077c0;">Peter Parker</a>',
     //        parentId: 1,
     //        start: this.getDate(-24 * 4),
     //        duration: 4 * 24 * 60 * 60 * 1000,
     //        progress: 50,
     //        type: 'project',
     //        status: '<span style="color:green;"> started </span>',
     //      }, {
     //        id: 3,
     //        label: 'Courage is being scared to death, but saddling up anyway.',
     //        user: '<a href="https://www.google.com/search?q=John+Wayne" target="_blank" style="color:#0077c0;">John Wayne</a>',
     //        parentId: 2,
     //        start: this.getDate(0),
     //        duration: 2 * 24 * 60 * 60 * 500,
     //        progress: 20,
     //        type: 'task',
     //        status: '<span style="color:red;"> not started </span>',
     //        style: {
     //        base: {
     //          fill: '#0287D0',
     //          stroke: '#0077C0'
     //        }
     //      }
     //      },
     //      {
     //      id: 5,
     //      label: 'One billion, gajillion, fafillion... shabadylu...mil...shabady......uh, Yen.',
     //      user:
     //        '<a href="https://www.google.com/search?q=Austin+Powers" target="_blank" style="color:#0077c0;">Austin Powers</a>',
     //      parentId: 2,
     //      start: this.getDate(0),
     //      duration: 2 * 24 * 60 * 60 * 3500,
     //      progress: 10,
     //      type: 'milestone',
     //      status: '<span style="color:red;"> not started </span>',
     //      style: {
     //        base: {
     //          fill: '#0287D0',
     //          stroke: '#0077C0'
     //        }
     //      },
     //      dependentOn: [3]
     //    },
     //      /* ... */
     //    ];

  },

  methods: {
    getDate(hours) {
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      const currentMonth = currentDate.getMonth() + 1;
      const currentDay = currentDate.getDate();
      const timeStamp = new Date(`${currentYear}-${currentMonth}-${currentDay} 00:00:00`).getTime();
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return new Date(timeStamp + hours * 60 * 60 * 1000);
    },

    getDate2(d) {
      const timeStamp = new Date(d).getTime();
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return new Date(timeStamp + 0 * 60 * 60 * 1000);
    },

    statusColor(status, task_id, project_id) {
      if(status == 'purchase order'){
        status = '<button class="ganttbutton button1" id="mobbutton" taskid="'+task_id+'" projectid="'+project_id+'">'+status+'</button>';
      }
      else if(status == 'mob'){
        status = '<button class="ganttbutton button2" id="mobbutton" taskid="'+task_id+'" projectid="'+project_id+'">'+status+'</button>';
      }
      else if(status == 'site order'){
        status = '<button class="ganttbutton button3" id="pobutton" tid="'+task_id+'" tstat="'+1+'">'+status+'</button>';
      }
      else if(status == 'to prep'){
        status = '<button class="ganttbutton button4" id="pobutton"  tid="'+task_id+'" tstat="'+2+'">'+status+'</button>';
      }
      else if(status == 'to ship'){
        status = '<button class="ganttbutton button5" id="pobutton"  tid="'+task_id+'" tstat="'+3+'">'+status+'</button>';
      }
      else if(status == 'to received'){
        status = '<button class="ganttbutton button6" id="pobutton"  tid="'+task_id+'" tstat="'+4+'">'+status+'</button>';
      }
      else if(status == 'partial delivered'){
        status = '<button class="ganttbutton button7" id="pobutton">'+status+'</button>';
      }
      else if(status == 'completed'){
        status = '<button class="ganttbutton button8" id="pobutton"  tid="'+task_id+'" tstat="'+5+'">'+status+'</button>';
      }
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return status;
    },

    async asyncData () {
      this.tasks = [];
      this.sections = [];
      return this.$store.dispatch('getProjectProfile', { id: this.project_id}).then(response => {
          // console.log('project profile', response)
          this.editdata = response.data;
          this.options.title.label = "test";
          this.project_name = response.data.name + "(" + response.data.nick_name + ")";

          var now = moment(); //todays date
          var end = moment(response.data.est_finished_date); // another date
          var duration = moment.duration(end.diff(now));
          var remdays = duration.asDays();
          this.remainingDays = remdays.toFixed(0);

          if(response.data.mob_first_date != null){
            var mob = moment(response.data.mob_first_date); // mob first_date
            var duration = moment.duration(now.diff(mob));
            var ongoing = duration.asDays();
          }
          else{
            var ongoing = 0;
          }

          this.onGoingDays = ongoing.toFixed(0);
          this.proj_address = response.data.address;
          this.proj_address_href = "http://maps.google.com/maps?q=" + encodeURIComponent( response.data.address );

          var tasks = response.tasks;
          var newTasks = [];
          var t= {};
          this.index = 1;
          (tasks).forEach((value, key) => {
            if(value.progress >= this.filterTask[0] && value.progress <= this.filterTask[1]){
              // var pluskey = key+1;
              // var btns = '';
              // if(pluskey == this.index){
              //    btns = '<br><br>test';
              // }

              t = {
                id: value.id,
                index: this.index,
                label: '<b class="task-click2" id="'+value.id+'">'+value.label+'</b>',
                label2: value.label,
                user: value.user,
                start: (value.start != null ? this.getDate2(value.start) : ''),
                duration: (value.duration ? ((value.duration + 1) * 24 * 60 * 60 * 1000) : 0),
                progress: value.progress,
                type: value.type,
                status: value.status,
                style: value.style,
                //parentId: value.parentId,
                tasks: value.tasks
              };
              this.index = this.index + 1;
              this.tasks.push(t);
              this.sections.push(t);

              if(Array.isArray(value.tasks)){
                  this.flatten(value.tasks);
              }
            }
          });
          const vm = this;
          if(!vm.elisten){          
            document.querySelector("#app").addEventListener('click', function(e){
              vm.elisten = true;
              // console.log(vm);
              if(e.target.id == 'pobutton') {
                  //window.location = '/#/inventory/list';
                  var tid = e.target.attributes.tid.value;
                  var tstat = e.target.attributes.tstat.value;
                  window.open('/#/inventory/list/'+tid+'/'+tstat, '_blank');
              }
              else if(e.target.id == 'mobbutton') {
                  //window.location = '/#/inventory/list';
                  window.open('/#/projects/purchase-order/'+e.target.attributes.projectid.value+'/'+e.target.attributes.taskid.value+'/redirect', '_blank');
              }
              else if(e.target.id == 'mcomplete') {
                vm.markComplete(e.target.attributes.taskid.value);
                  //window.location = '/#/inventory/list';
                  //alert(e.target.attributes.taskid.value);
              }
              else if(e.target.id == 'mcomplete2') {
                vm.markIncomplete(e.target.attributes.taskid.value);
              }
            })
          }
        })

    },

    flatten(tasks) {
        var t= {};
        tasks.forEach((value, key) => {
          if(value.start == null){
            var days = -1;
          }
          else{            
            var now = moment(value.end); 
            var end = moment(value.start); 
            var duration = moment.duration(now.diff(end));
            var days = duration.asDays();
          }
            var assigned = '';
            if(value.assigned_to != '' && value.assigned_to != null){
              assigned = '<b>'+value.assigned_to+'</b>';
            }

            var flg = '';
            if(value.prio){
              flg = '<span class="el-icon-s-flag" style="color: red; font-size: 16px;" alt="Priority" title="Priority"></span>';
            }

            var chck = '';
            if(value.progress == 100){
              chck = '<span class="el-icon-success" id="mcomplete2" taskid="'+value.id+'" style="color: green; font-size: 16px;" alt="Completed" title="Completed"></span>';
              chck = '<button class="iconbutton" id="mcomplete2" taskid="'+value.id+'">'+chck+'</button>';
            }
            else{
              chck = '<b class="el-icon-circle-check" id="mcomplete" taskid="'+value.id+'" style="color: #CCC; font-size: 16px;" alt="Mark as Complete" title="Mark as Complete"></b>'
              chck = '<button class="iconbutton" id="mcomplete2" taskid="'+value.id+'">'+chck+'</button>';
            }
            if(value.progress >= this.filterTask[0] && value.progress <= this.filterTask[1]){
              t = {
                id: value.id,
                index: '<b class="task-click" id="'+value.id+'">'+flg+' '+this.index+'</b>',
                label: chck+'<b class="task-click" id="'+value.id+'">'+value.label+'</b>',
                user: assigned,
                start: (value.start != null ? this.getDate2(value.start) : ''),
                duration: (days + 1) * 24 * 60 * 60 * 1000,
                progress: value.progress,
                type: value.type,
                status: this.statusColor(value.status, value.id, this.project_id),
                style: value.style,
                parentId: value.parent_id,
                tasks: value.tasks
              };
              this.tasks.push(t);
              this.index = this.index+1;
              if(Array.isArray(value.tasks)){
                  this.flatten(value.tasks);
              }
            }
        });
    },

    showInputSection(){
        this.add_secflag = true;
        this.form.task_id = 0;
    },

    saveSection(){
      return this.$store.dispatch('saveSection', { method: 'add', payload: this.form }).then(res => {
        if (res.code == 200) {
          this.add_secflag = false;

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.asyncData();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    hideInputSection(){
        this.form.label = '';
        this.add_secflag = false;
        this.add_tasklag = false;
    },

    viewWarehouse(){
        let routeData = this.$router.resolve(
          {
            name: 'inventory-list'
          }
        );

        window.open(routeData.href, '_blank');
    },

    viewPO(){
        let redirect = 'redirect';
        let projectId = this.project_id;
        let taskId = this.task_id;

        let routeData = this.$router.resolve(
          {
            name: 'project-task-purchase-order',
            params: { projectId, taskId, redirect }
          }
        );

        window.open(routeData.href, '_blank');
    },

    markPrio(){
       let taskId = this.task_id;
       return this.$store.dispatch('toggleTaskPriority', { id: taskId }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          this.asyncData();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    markComplete(task_id){
      //console.log(task_id);
       let taskId = task_id;
       // alert(taskId);
       return this.$store.dispatch('markTaskComplete', { id: taskId }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });
          setTimeout(() => {
            this.asyncData();
          }, 1000)
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },


    markIncomplete(task_id){
      //console.log(task_id);
       let taskId = task_id;
       // alert(taskId);
       return this.$store.dispatch('markTaskIncomplete', { id: taskId }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });
          setTimeout(() => {
            this.asyncData();
          }, 1000)
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    viewQuotation(){
        let redirect = 'redirect';
        let projectId = this.project_id;

        let routeData = this.$router.resolve(
          {
            name: 'project-view-quotation',
            params: { projectId, redirect }
          }
        );

        window.open(routeData.href, '_blank');
    },

    insertTaskBelow(){
      this.closeMenu();
      this.$store.dispatch('callModal', {
        child_component: AddTask,
        title: 'Add Task',
        modalWidth: '35%',
        content: {
          task_id: this.task_id,
          project_id: this.project_id,
        }
      }) // call global modal state
    },

    insertTask(){
      this.closeMenu();
      this.$store.dispatch('callModal', {
        child_component: AddTask2,
        title: 'Add Task',
        modalWidth: '35%',
        content: {
          task_id: this.task_id,
          project_id: this.project_id,
          sections: this.sections,
        }
      }) // call global modal state
    },

    taskDetails(){
        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: taskDetails,
          // title: 'Task Details',
          modalWidth: '40%',
          content: {
            project_id: this.project_id,
            task_id: this.task_id
          }
        })
    },

    handleEdit () {
      this.$store.dispatch('callModal', { 
          child_component: EditProjects, 
          title: 'Edit Project',
          modalWidth: '70%',
          content: {
            data: this.editdata,
            project_id: this.project_id
          }
          }) // call global modal state
    },

    handleClick: function(e) {

      if (e.target.matches('.task-click, .task-click *')) {
           var self = this;
           this.task_id = e.target.id;
           this.form.task_id = e.target.id;
           self.viewMenu = true;

            self.$nextTick(function() {
                this.$refs['testright'].focus();

                self.setMenu(e.y, e.x)
            }.bind(self));
      }
      else if (e.target.matches('.task-click2, .task-click2 *')) {
           var self = this;
           this.task_id = e.target.id;
           this.form.task_id = e.target.id;
           self.viewMenu2 = true;
           console.log(this.task_id);
            self.$nextTick(function() {
                this.$refs['testright2'].focus();

                self.setMenu2(e.y, e.x)
            }.bind(self));
      }
      else if (e.target.matches('.mark-complete, .mark-complete *')) {
           var self = this;
           this.task_id = e.target.id;
           this.form.task_id = e.target.id;
           console.log(e.target.id);
           //self.markComplete();
           self.viewMenu2 = true;
           self.$nextTick(function() {
                this.$refs['testright2'].focus();

                self.setMenu2(e.y, e.x)
            }.bind(self));
           
      }
      e.preventDefault();
    },

    exportExcel () {

      this.$store.dispatch('callModal', {
        child_component: ExportExcel,
        modalWidth: '700px',
        content: {
          id: this.project_id
        }
      })
    },

    setMenu: function(top, left) {
          
            let largestHeight = window.innerHeight - this.$refs['testright'].offsetHeight - 25;
            let largestWidth = window.innerWidth - this.$refs['testright'].offsetWidth - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.top = top + 'px';
            this.left = left + 'px';

            this.someStyle = {
              left : this.left,
              top  : this.top
            }
        },

      setMenu2: function(top, left) {
          
            let largestHeight = window.innerHeight - this.$refs['testright2'].offsetHeight - 25;
            let largestWidth = window.innerWidth - this.$refs['testright2'].offsetWidth - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.top = top + 'px';
            this.left = left + 'px';

            this.someStyle = {
              left : this.left,
              top  : this.top
            }
        },

        closeMenu: function() {
            this.viewMenu = false;
            this.viewMenu2 = false;
            this.add_taskflag = false;
        },


  }
}
</script>

<style >
.iconbutton {
  border: none;
  color: white;
  /*padding: 4px 10px;*/
  text-align: center;
  text-decoration: none;
  display: contents;
  font-size: 11px;
  margin: 0px;
  margin-right: 6px;
  cursor: pointer;
  font-weight: 600;
}
.ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
.button1 {background-color: #d50000;} /* po */
.button2 {background-color: #d5c400;} /* mob */
.button3 {background-color: #f66c1b;} /* site order */
.button4 {background-color: #23bc2e;} /* to prep */
.button5 {background-color: #23bc2e;} /* to ship */
.button6 {background-color: #23bc2e;} /* to received */
.button7 {background-color: #10bab2;} /* partial delivered */
.button8 {background-color: #006edf;} /* delivered/completed */

.task-opt{
  cursor: pointer;
}

#right-click-menu{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
    z-index: 999999;
}

#right-click-menu li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu li:last-child {
    border-bottom: none;
}

#right-click-menu li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}

.task-click2 , .task-click{
  display: inline-block;
  padding-right: 100px;
  cursor: pointer;
}
.task-click{
  margin-left: 6px;
  }

.mark-complete{
  padding-right: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=vue-sidebar-menu.css.map*
  /*.gantt-elastic__chart-row-project-polygon {
    font-color: red !important;
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

  .gantt-elastic__chart-row-bar-polygon {
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

    .gantt-elastic__chart-row-bar{
      background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }*/


  .sidebar, .el-pagination__sizes, .btn-prev, .btn-next, .el-pager {
    display: none !important;
  }

  .gantt-elastic__chart-row-text-content .iconbutton{
      display: none !important;
  }

  :root {
  --color-text1: #3f4146;
  --color-text2: #ffffff;
  --color-btn: #565656;
  --card1-gradient-color1: #d952a2;
  --card1-gradient-color2: #aa1a90;
  --card2-gradient-color1: #fad62b;
  --card2-gradient-color2: #fcb30c;
  --card3-gradient-color1: #f89e00;
  --card3-gradient-color2: #f2540f;
}

  .card-wrap {
  width: 210px;
  height: 140px;
  border-radius: 10px;
  position: relative;
  margin-top: -40px;
}

.card-wrap.one {
  background: linear-gradient(
    to bottom,
    var(--card1-gradient-color1),
    var(--card1-gradient-color2)
  );
  transform: scale(0.9);
}
.card-wrap.one::after {
  background: var(--card1-gradient-color1);
}
.card-wrap.two {
  background: linear-gradient(
    to bottom,
    var(--card2-gradient-color1),
    var(--card2-gradient-color2)
  );
}
.card-wrap.two::after {
  background: var(--card2-gradient-color1);
}
.card-wrap.three {
  background: linear-gradient(
    to bottom,
    var(--card3-gradient-color1),
    var(--card3-gradient-color2)
  );
  transform: scale(0.9);
}
.card-wrap.three::after {
  background: var(--card3-gradient-color1);
}
.card-header {
  width: 160px;
  height: 105px;
  background: #ffffff;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
}

.card-header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
  color: var(--color-text1);
  margin-top: -10px;
}
.card-content {
  width: 160px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.card-content-option {
  color: var(--color-text2);
  font-size: 14px;
  margin-bottom: 10px;
}
.card-content-option.false {
  color: #000;
}
.card-content-option.false::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
.card-content-option.true::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}

</style>
