
<template>
  <!-- <div @contextmenu.prevent="handleClick($event)" @dblclick.prevent="handleClick($event)"> -->
  <div @contextmenu.prevent="handleClick($event)">
  <div id="app">

    <ul id="right-click-menu" tabindex="-1" ref="testright" v-if="viewMenu" @blur="closeMenu"  :style="someStyle">
        <li class="task-opt" @click="taskDetails">Open Task Details</li>
        <li class="task-opt" @click="viewOrders">View Orders</li>
        <li class="task-opt" @click="viewPO">Purchase Order</li>
        <li class="task-opt" @click="markPrio">Toggle Priority</li>
    </ul>

    <ul id="right-click-menu" tabindex="-1" ref="testright2" v-if="viewMenu2" @blur="closeMenu"  :style="someStyle">
        <li class="task-opt" @click="insertTaskBelow">Add Task</li>
    </ul>

    <div><h2>{{project_name}}

      <el-tooltip  class="item" effect="dark" content="Edit Project Details" placement="top-start">
        <a href="javascript:void(0)" @click="handleEdit()" style="margin-left: 12px; color: #1D8CE0 !important;"><i class="el-icon-edit"></i>
        </a>
      </el-tooltip>

      <el-tooltip class="item" effect="dark" content="View Quotation" placement="top" style="float: right;">
          <el-button  @click="viewQuotation()" type="warning" size="mini" icon="el-icon-document">Generate Quotation</el-button>
        </el-tooltip>

        <el-select v-model="filterColumns" class="select-input" multiple placeholder="Filter" popper-class="select-card" size="mini" style="width: 70px; float: right; margin-right: 10px;">
          <template #prefix><i class="el-icon-menu" />Filter</template>
          <el-option v-for="(bool, col) in filterCol" :key="col" :label="col" :value="col">
            <div style="display: inline-block;" @click="e => e.preventDefault()">
              <el-checkbox v-model="filterCol[col]"></el-checkbox>
            </div>
            {{ col }}
          </el-option>
        </el-select>

        <!-- <el-tooltip content="Hide Completed Tasks" placement="top" style="float: right; margin-top: 100px;margin-left: 100px;">
          <el-switch
            v-model="inc"
            active-color="#13ce66"
            inactive-color="#ff4949" >
          </el-switch>
        </el-tooltip> -->

        <!-- {{filterCol}} -->

      <!-- <el-tooltip class="item" effect="dark" content="Filter Task" placement="top" style="float: right;">
          <el-slider
            v-model="filterTask"
            range @change="asyncData"
            :marks="marks" style="width: 300px; margin-right: 26px; margin-top: -8px;">
          </el-slider>
      </el-tooltip> -->

        </h2>
        <el-row>
          <el-col :span="8">
            <h4>
                Project Address: 
                <address style="width: 500px">
                   <a :href="proj_address_link " target="_blank">{{proj_address}}</a>
                </address>

                <!-- <b style="margin-left: 50px; float: right;">Remaining Days : <span style="color: #1D8CE0;">{{ remainingDays }} days</span></b>
                <b style="float: right;">On Going : <span style="color: #1D8CE0;">{{ onGoingDays }} days</span></b> -->
            </h4>
        </el-col>
        <el-col :span="4">
            <div class="card-wrap one">
              <div class="card-header">
                <h1>{{ remainingDays }} days</h1>
              </div>
              <div class="card-content">
                <p class="card-content-option" style="margin-top: 65px; font-size: 18px">Remaining Days</p>
              </div>
            </div>
          </el-col>
          <el-col :span="6">
            <div class="card-wrap three">
              <div class="card-header">
                <h1>{{ onGoingDays }} days</h1>
              </div>
              <div class="card-content">
                <p class="card-content-option" style="margin-top: 65px; font-size: 18px">On Going</p>
              </div>
            </div>
        </el-col>
          <el-col :span="6">
              <el-button style="float: right; margin-top: 60px"  type="success" size="mini" icon="el-icon-document">Add Task</el-button>
          </el-col>
      </el-row>
    </div>

    <data-table :get-data="getData"
              ref="tasktable"
              :columns="columns" 
              >
        <div slot="prio" slot-scope="{row}">
            <!-- <span v-show="row.prio > 0" class="el-icon-s-flag" style="color: red; font-size: 16px;" alt="Priority" title="Priority"></span> -->
            <!-- <center> -->
              <el-button icon="el-icon-s-flag" circle v-if="row.prio == 0" @click="markPrio2(row.id)" size="small"></el-button>
               <el-button type="danger"  icon="el-icon-s-flag" circle v-if="row.prio == 1" @click="markPrio2(row.id)" size="small"></el-button>
            <!-- </center> -->
        </div>

        <div slot="created_at" slot-scope="{row}">
            {{ row.created_at | commonDate }} 
        </div>

        <div slot="index" slot-scope="{row}">
            {{ row.index }} 
        </div>

        <div slot="images" slot-scope="{row}">
            <el-tooltip class="item" effect="dark" content="View Photos" placement="top">
             <el-button type="text" icon="el-icon-picture" @click="showTaskImages(row.id)" v-if="checkUploadFiles(row.id) > 0" style="color: blue;">
             </el-button>
             <el-button type="text" icon="el-icon-picture" @click="showTaskImages(row.id)" v-else>
             </el-button>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Upload Photos" placement="top">
             <el-button type="text" icon="el-icon-upload" @click="uploadTaskImages(row.id)" v-if="checkUploadFiles(row.id) > 0" style="color: blue;">
             </el-button>
             <el-button type="text" icon="el-icon-upload" @click="uploadTaskImages(row.id)" v-else>
             </el-button>
            </el-tooltip>
        </div>

        <b slot="label" slot-scope="{row}">
           <el-tooltip class="item" effect="dark" content="Edit Task" placement="left" v-show="selectedInput != row.id">
             <el-button type="text" icon="el-icon-edit" @click="editTask(row)">
             </el-button>
           </el-tooltip> 

           <!-- <el-input type="text" v-model="row.label" autocomplete="off" @keyup.enter.native="updateRow(row)" @blur="updateRow(row)" v-show="selectedInput == row.id"></el-input> -->

           <el-tooltip class="item" effect="dark" content="Click to view task details or right click to open menu" placement="top" v-show="selectedInput != row.id">
             <el-button type="text" class="task-click" :id="row.id" @click="taskDetails2(project_id, row.id)">{{row.label}} 
             </el-button>
           </el-tooltip>
           <Mentionable
                :keys="['@']"
                :items="users"
                offset="4"
              >
                <el-input class="commentar" type="text" v-model="row.label" autocomplete="off" @keyup.enter.native="updateRow(row)" @blur="updateRow(row)" v-show="selectedInput == row.id"></el-input>

              </el-input>
            </Mentionable>
        </b>


        <div slot="assigned_to" slot-scope="{row}">
          <el-select
              v-model="row.assigned_to"
              filterable clearable 
              placeholder="Select team"
              @change="changeTeam(row.assigned_to,row.id,row.label,row.progress_status,row.site_started, row.site_completion, row.prio, row.task_desc)" size="small">
              <el-option
                v-for="s in teams"
                :label="s.label"
                :value="s.label">
              </el-option>
            </el-select>
        </div>

        <div slot="status" slot-scope="{row}" v-html="statusColor(row.status, row.id, project_id)">
            <!-- <template v-html="statusColor(row.status, row.id, project_id)"></template> -->
            <!-- <p v-html="statusColor(row.status, row.id, project_id)"></p>
            {{ statusColor(row.status, row.id, project_id) }} -->
        </div>

        <b slot="progress_status" slot-scope="{row}">
            <el-select
              v-model="row.progress_status"
              filterable
              allow-create
              placeholder="Select progress status"
              @change="changeTeam(row.assigned_to,row.id,row.label, row.progress_status,row.site_started, row.site_completion, row.prio, row.task_desc)" size="small">
              <el-option
                v-for="s in progress_status"
                :label="s.label"
                :value="s.label">
              </el-option>
            </el-select>
        </b>

         <b slot="site_started" slot-scope="{row}" style="text-align: center;">
          <center>
          <el-button icon="el-icon-check" circle v-if="row.site_started == 0" @click="changeTeam(row.assigned_to, row.id, row.label, row.progress_status, 1, row.site_completion , row.prio, row.task_desc)" size="small"></el-button>
          <el-button type="success" icon="el-icon-check" circle v-else style="cursor: default;" size="small"></el-button>
        </center>
        </b>

        <b slot="site_completion" slot-scope="{row}" style="text-align: center;">
          <center>
          <el-button icon="el-icon-check" circle v-if="row.site_completion == 0 || row.site_completion == null" @click="changeTeam(row.assigned_to, row.id, row.label, row.progress_status, row.site_started, 1, row.prio, row.task_desc)" size="small"></el-button>
           <el-button type="success"  icon="el-icon-check" circle v-if="row.site_completion == 1" @click="changeTeam(row.assigned_to, row.id, row.label, row.progress_status, row.site_started, 0, row.prio, row.task_desc)" size="small"></el-button>
          
        </center>
        </b>

        <div slot="last_mod" slot-scope="{row}">
            {{ row.last_mod }} 
        </div>

        <div slot="updated_at" slot-scope="{row}">
            {{ row.updated_at | commonDate }} 
        </div>


    </data-table>

    <!-- {{selectedInput}} -->

    <el-input v-show ="add_secflag" size="mini" @keyup.enter.native="saveSection()" placeholder="Enter Task Name" v-model="form.label" style="width: 300px" @blur="hideInputSection()"></el-input>
    <el-button v-show ="!add_secflag"  type="primary" size="mini" icon="el-icon-plus" style="margin-left: 5px;font-size: 10px; margin-top: 5px;" @click="showInputSection()">Add Task</el-button>
    <!-- <el-button v-show ="!add_secflag" type="primary" size="mini" icon="el-icon-plus" style="margin-left: 5px;font-size: 10px; margin-top: 5px;" @click="insertTask">Add Task</el-button> -->
    <br><br>
    <br><br>
    <br><br>

    <vue-easy-lightbox
          escDisabled
          moveDisabled
          :visible="visible"
          :imgs="imgs"
          :index="indexxx"
          @hide="handleHide"
        ></vue-easy-lightbox>

  </div>

</div>
</template>

<script>

//Components
import { mapGetters } from 'vuex'
import GanttElastic from 'gantt-elastic';
import Header from 'gantt-elastic-header';
import taskDetails from './components/task-details';
import viewOrder from './components/view-order';
import AddTask from './components/add-task';
import AddTask2 from './components/add-task2';
import EditProjects from './components/edit-projects';
import ExportExcel from './components/export-excel';
import UploadTaskImages from './components/upload-task-images';
import DataTable from '../../components/datatable';
import VueEasyLightbox from 'vue-easy-lightbox';
import { Mentionable } from 'vue-mention';

export default {
  name: 'Project Profile',
    components: {
	     ganttElastic: GanttElastic, DataTable, VueEasyLightbox,
       ganttHeader: Header,
       taskDetails, viewOrder,
       AddTask,
       AddTask2,
       ExportExcel,
       Mentionable
	  },
    //template:`<gantt-elastic :tasks="tasks" :options="options"></gantt-elastic>`,
  data () {
    return {
      inc : 1,
      taskLabel: [],
      selectedInput: '',
      imgs: '',
      visible: false,
      indexxx: 0,   // default: 0
      storageURL: process.env.VUE_APP_STORAGE,
      inv_id: 0,
      elisten : false,
      filterTask: [0, 100],
      loading: false,
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      marks: {
        0: '0',
        25: '25',
        50: {
          style: {
            color: '#1989FA'
          },
          label: this.$createElement('strong', '50%')
        },
        75: '75',
        100: {
          style: {
            color: '#1989FA'
          },
          label: this.$createElement('strong', '100%')
        },
      },
      text: '',
          items: [
            {
              value: 'cat',
              label: 'Mr Cat',
            },
            {
              value: 'dog',
              label: 'Mr Dog',
            },
          ],
      dynamicStyle: {
            'task-list-header-label': {
              'font-weight': 'bold',
            },
          },
      project_id : null,
      project_name : "",
      proj_address : "",
      proj_address_link : "",
      proj_address_href : "",
      remainingDays : 0,
      onGoingDays : 0,
      task_id : null,
      tasks : [],
      files : [],
      comfiles : [],
      sections : [],
      options : [],
      editdata : {},
      users: [],

      viewMenu: false,
      viewMenu2: false,
      top: '0px',
      left: '0px',

      someStyle : {
        left : this.left,
        top  : this.top
      },

      filterCol: {
        EMPTY: true,
        PREPARATION: true,
        ONGOING: true,
        COMPLETED: false,
        PENDING: true,
        HOLD: true,
        CANCELLED: false
      },
      filterColumns: [],

      add_secflag : false,
      add_taskflag : false,

      form: {
        id: '',
        label: '',
        project_id: '',
        parent_id: 0,
        task_id: null,
        assigned_to: '',
        progress_status: '',
        prio: '',
        index: '',
        task_desc : '',
      },

      teams: [
        {
          label : 'SITE'
        },
        {
          label : 'DESIGN'
        },
        {
          label : 'OFFICE ARCH'
        },
        {
          label : 'WAREHOUSE'
        },
        {
          label : 'CLIENT'
        },
        {
          label : 'ADMIN'
        },
        {
          label : 'SUBCON'
        },
        {
          label : 'PURCHASING'
        },
      ],

      progress_status: [
        {
          label : 'PREPARATION'
        },
        {
          label : 'ON-GOING'
        },
        {
          label : 'COMPLETED'
        },
         {
          label : 'PENDING'
        },
         {
          label : 'HOLD'
        },
         {
          label : 'CANCELLED'
        },
      ],

      columns: [
        // {
        //   prop: 'cb',
        //   minWidth: '30',
        // },
        {
          prop: 'prio',
          label: 'Prio',
          minWidth: '30',
          sortable: true
        },
        {
          prop: 'created_at',
          label: 'Created',
          minWidth: '50',
          sortable: true
        },
        {
          prop: 'index',
          label: '#',
          minWidth: '20',
          // sortable: true
        },
        {
          prop: 'images',
          label: 'Images',
          minWidth: '30',
          // sortable: true
        },
        {
          prop: 'label',
          label: 'Task',
          minWidth: '160',
          sortable: true
        },
        {
          prop: 'assigned_to',
          label: 'Team',
          minWidth: '60',
          sortable: true
        },
        {
          prop: 'status',
          label: 'Status',
          minWidth: '60',
          sortable: true
        },
        {
          prop: 'progress_status',
          label: 'Progress',
          minWidth: '70',
          sortable: true
        },
        {
          prop: 'site_started',
          label: 'SS',
          long_label: 'Site Started',
          minWidth: '35',
          sortable: true,
          showtooltip: true
        },
        {
          prop: 'site_completion',
          label: 'SC',
          long_label: 'Site Completion',
          minWidth: '35',
          sortable: true,
          showtooltip: true
        },

        {
          prop: 'last_mod',
          label: 'Last Mod',
          minWidth: '50',
          sortable: true
        },

        {
          prop: 'updated_at',
          label: 'Updated',
          minWidth: '50',
          sortable: true
        },

      ]
    }
  },

  created () {
      this.project_id = this.$route.params.id;
      this.form.project_id = this.$route.params.id;
      //this.project_name = this.$route.params.nickname;
      this.asyncData();

      for (const prop in this.filterCol) {
        if (this.filterCol[prop]) this.filterColumns.push(prop);
        // for (let i = 0; i < 5; i++) {
        //   if (!this.tableData[i]) this.tableData[i] = {};
        //   this.tableData[i][prop] = `${prop}${i + 1}`;
        // }
      }



      this.options = {
        title: {
          label: this.project_name,
          html: true,
          style: {
            'font-size': '20px',
            'vertical-align': 'middle',
            'font-weight': 'bold',
            'line-height': '35px',
            'padding-left': '22px',
            'letter-spacing': '1px'
          }
        },
        taskList: {
          columns: [
            {
              id: 1,
              label: 'ID',
              value: 'index',
              html: true,
              width: 60
            }, {
              id: 2,
              label: 'Description',
              value: 'label',
              width: 300,
              expander: true,
              html: true,
            }, {
              id: 3,
              label: 'Team',
              value: 'user',
              width: 130,
              html: true
            }, {
              id: 3,
              label: 'Status',
              value: 'status',
              width: 130,
              html : true
            }, {
              id: 4,
              label: 'Type',
              value: 'type',
              width: 68
            }, {
              id: 5,
              label: '%',
              value: 'progress',
              width: 35,
              styles: {
                label: {
                  'text-align': 'center',
                  'width': '100%'
                },
                value: {
                  'text-align': 'center',
                  'width': '100%'
                }
              }
            }
          ]
        },
        locale: {
          code: 'en',
          'Now': 'Now',
          'X-Scale': 'Zoom-X',
          'Y-Scale': 'Zoom-Y',
          'Task list width': 'Task list',
          'Before/After': 'Expand',
          'Display task list': 'Task list'
        }
    };


  },

  computed: mapGetters({
    session: 'session'
  }),

  mounted () {

    this.$eventBus.$on('syncProjectData', () => {
        this.$refs.tasktable.getTableData();
        this.asyncData();
      });

    this.$eventBus.$on('openTaskDetails', (id) => {
      alert(id);
      this.task_id = id;
        this.taskDetails();
      });

  },

  watch: {
    filterColumns(cols, prevCols) {
      // alert();
      if (cols.length > prevCols.length) {
        this.filterCol[cols[cols.length - 1]] = true;
        this.updateFilter();
        return;
      }
      if (!cols.length) {
        this.filterColumns = prevCols;
        this.updateFilter();
        return;
      }
      for (let i = 0; i < prevCols.length; i++) {
        if (prevCols[i] !== cols[i]) {
          this.filterCol[prevCols[i]] = false;
          this.updateFilter();
          break;
        }
      }

      
    }
  },

  methods: {
    // identifyMentionUsers() {
    //       (this.comments).forEach((value, key) => {
    //         var com = [];
    //         if(value.comment != null){
    //           com = value.comment.match(/@\w+/g);
    //           //console.log(com);
    //           if(com != null ){           
    //             for (let i = 0; i < com.length; i++) {
    //               value.comment = value.comment.replaceAll(com[i], '<span style="color:#365899; cursor: pointer;">'+com[i]+' </span>')
    //             }
    //           }
    //         }
    //         //console.log(value.comment);
    //       })
    //     },

    getKeyByValue(object, value) {
      return Object.keys(object).filter(key => object[key] === value);
    },

    updateFilter(){
        this.$refs.tasktable.getTableData();
        this.asyncData();
    },

    getData ({ page, query, sortParams, size}) {

        var filter = this.getKeyByValue(this.filterCol,true)
        console.log(filter)
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'prio-desc'
        }

        return this.$store.dispatch('getAllTasks',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            filter: 'filter=' + filter,
            project_id: 'project_id=' + this.project_id,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          
          this.index = 1;
          (this.form.data).forEach((value, key) => {
              this.form.data[key]['index'] = this.index;
              this.index = this.index + 1;  
          });
          //console.log(this.form.data);

          return {
            data: this.form.data,
            total: data.total,
            size: size
          }
        })
    },

    getDate(hours) {
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      const currentMonth = currentDate.getMonth() + 1;
      const currentDay = currentDate.getDate();
      const timeStamp = new Date(`${currentYear}-${currentMonth}-${currentDay} 00:00:00`).getTime();
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return new Date(timeStamp + hours * 60 * 60 * 1000);
    },

    getDate2(d) {
      const timeStamp = new Date(d).getTime();
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return new Date(timeStamp + 0 * 60 * 60 * 1000);
    },

    editTask(row){
      this.selectedInput = row.id;
      //this.taskLabel[row.id] = row.label;
    },

    updateRow(row){
      if(row.label != null & row.label != ''){
        this.form.id = row.id;
        this.form.label = row.label;
        this.form.task_id = row.id;
        this.form.assigned_to = row.assigned_to;
        this.form.progress_status = row.progress_status;
        this.form.site_started = row.site_started;
        this.form.site_completion = row.site_completion;
        this.form.prio = row.prio;
        return this.$store.dispatch('saveSection', { method: 'edit', payload: this.form }).then(res => {
              if (res.code == 200) {

                this.$message({
                  type: 'success',
                  message: this.$t('Common.successfully_updated')
                });
                this.selectedInput = '';

                this.$eventBus.$emit('syncProjectData')
                
                
              }else{

                console.log('ERROR');

                this.$message({
                  type: 'error',
                  message: 'ERROR'
                });

              }
            }).catch(err => {

            })
      }
      this.selectedInput = '';
    },

    uploadTaskImages(id){
      var files = [];
      this.files.map((d,i) => {
          if(d.id === id){
              files = d.files;
          }
        });

        this.$store.dispatch('callModal', { child_component: UploadTaskImages, title: 'Upload Task Images' ,modalWidth: '36%', 
          content: {
            task_id: id,
            files: files
          } }) 
    },

    statusColor(status, task_id, project_id) {
      if(status == '' || status == null){
          status = 'purchase order';
      }
      if(status == 'purchase order'){
        status = '<button class="ganttbutton button1" id="mobbutton" taskid="'+task_id+'" projectid="'+project_id+'">'+status+'</button>';
      }
      else if(status == 'mob'){
        status = '<button class="ganttbutton button2" id="mobbutton" taskid="'+task_id+'" projectid="'+project_id+'">'+status+'</button>';
      }
      else if(status == 'site order'){
        status = '<button class="ganttbutton button3" id="pobutton" tid="'+task_id+'" tstat="'+1+'">'+status+'</button>';
      }
      else if(status == 'to prep'){
        status = '<button class="ganttbutton button4" id="pobutton"  tid="'+task_id+'" tstat="'+2+'">'+status+'</button>';
      }
      else if(status == 'to ship'){
        status = '<button class="ganttbutton button5" id="pobutton"  tid="'+task_id+'" tstat="'+3+'">'+status+'</button>';
      }
      else if(status == 'to received'){
        status = '<button class="ganttbutton button6" id="pobutton"  tid="'+task_id+'" tstat="'+4+'">'+status+'</button>';
      }
      else if(status == 'partial delivered'){
        status = '<button class="ganttbutton button7" id="pobutton">'+status+'</button>';
      }
      else if(status == 'completed'){
        status = '<button class="ganttbutton button8" id="pobutton"  tid="'+task_id+'" tstat="'+5+'">'+status+'</button>';
      }
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return status;
    },

    async asyncData () {
      this.tasks = [];
      this.sections = [];
      this.files = [];
      this.comfiles = [];
      return this.$store.dispatch('getProjectProfile2', { id: this.project_id}).then(response => {
          // console.log('project profile', response)
          this.editdata = response.data;
          this.users = response.users;
          this.options.title.label = "test";
          this.project_name = response.data.name + "(" + response.data.nick_name + ")";
          document.title = this.project_name;

          var now = moment(); //todays date
          var end = moment(response.data.est_finished_date); // another date
          var duration = moment.duration(end.diff(now));
          var remdays = duration.asDays();
          this.remainingDays = remdays.toFixed(0);

          if(response.data.mob_first_date != null){
            var mob = moment(response.data.mob_first_date); // mob first_date
            var duration = moment.duration(now.diff(mob));
            var ongoing = duration.asDays();
          }
          else{
            var ongoing = 0;
          }

          this.onGoingDays = ongoing.toFixed(0);
          this.proj_address = response.data.address;
          this.proj_address_link = response.data.address_link;
          this.proj_address_href = "http://maps.google.com/maps?q=" + encodeURIComponent( response.data.address );

          var tasks = response.tasks;
          this.files = response.files;
          this.comfiles = response.commentfiles;
          var newTasks = [];
          var t= {};
          this.index = 1;
          (tasks).forEach((value, key) => {
            if(value.progress >= this.filterTask[0] && value.progress <= this.filterTask[1]){
              // var pluskey = key+1;
              // var btns = '';
              // if(pluskey == this.index){
              //    btns = '<br><br>test';
              // }

              t = {
                id: value.id,
                index: this.index,
                label: '<b class="task-click2" id="'+value.id+'">'+value.label+'</b>',
                label2: value.label,
                user: value.user,
                start: (value.start != null ? this.getDate2(value.start) : ''),
                duration: (value.duration ? ((value.duration + 1) * 24 * 60 * 60 * 1000) : 0),
                progress: value.progress,
                type: value.type,
                status: value.status,
                style: value.style,
                //parentId: value.parentId,
                tasks: value.tasks
              };
              this.index = this.index + 1;
              this.tasks.push(t);
              this.sections.push(t);

              if(Array.isArray(value.tasks)){
                  this.flatten(value.tasks);
              }
            }
          });
          const vm = this;
          if(!vm.elisten){          
            document.querySelector("#app").addEventListener('click', function(e){
              vm.elisten = true;
              // console.log(vm);
              if(e.target.id == 'pobutton') {
                  //window.location = '/#/inventory/list';
                  var tid = e.target.attributes.tid.value;
                  var tstat = e.target.attributes.tstat.value;
                  window.open('/#/inventory/list/'+tid+'/'+tstat, '_blank');
              }
              else if(e.target.id == 'mobbutton') {
                  //window.location = '/#/inventory/list';
                  window.open('/#/projects/purchase-order/'+e.target.attributes.projectid.value+'/'+e.target.attributes.taskid.value+'/redirect', '_blank');
              }
              else if(e.target.id == 'mcomplete') {
                vm.markComplete(e.target.attributes.taskid.value);
                  //window.location = '/#/inventory/list';
                  //alert(e.target.attributes.taskid.value);
              }
              else if(e.target.id == 'mcomplete2') {
                vm.markIncomplete(e.target.attributes.taskid.value);
              }
            })
          }
        })

    },

    flatten(tasks) {
        var t= {};
        tasks.forEach((value, key) => {
          if(value.start == null){
            var days = -1;
          }
          else{            
            var now = moment(value.end); 
            var end = moment(value.start); 
            var duration = moment.duration(now.diff(end));
            var days = duration.asDays();
          }
            var assigned = '';
            if(value.assigned_to != '' && value.assigned_to != null){
              assigned = '<b>'+value.assigned_to+'</b>';
            }

            var flg = '';
            if(value.prio){
              flg = '<span class="el-icon-s-flag" style="color: red; font-size: 16px;" alt="Priority" title="Priority"></span>';
            }

            var chck = '';
            if(value.progress == 100){
              chck = '<span class="el-icon-success" id="mcomplete2" taskid="'+value.id+'" style="color: green; font-size: 16px;" alt="Completed" title="Completed"></span>';
              chck = '<button class="iconbutton" id="mcomplete2" taskid="'+value.id+'">'+chck+'</button>';
            }
            else{
              chck = '<b class="el-icon-circle-check" id="mcomplete" taskid="'+value.id+'" style="color: #CCC; font-size: 16px;" alt="Mark as Complete" title="Mark as Complete"></b>'
              chck = '<button class="iconbutton" id="mcomplete2" taskid="'+value.id+'">'+chck+'</button>';
            }
            if(value.progress >= this.filterTask[0] && value.progress <= this.filterTask[1]){
              t = {
                id: value.id,
                index: '<b class="task-click" id="'+value.id+'">'+flg+' '+this.index+'</b>',
                label: chck+'<b class="task-click" id="'+value.id+'">'+value.label+'</b>',
                user: assigned,
                start: (value.start != null ? this.getDate2(value.start) : ''),
                duration: (days + 1) * 24 * 60 * 60 * 1000,
                progress: value.progress,
                type: value.type,
                status: this.statusColor(value.status, value.id, this.project_id),
                style: value.style,
                parentId: value.parent_id,
                tasks: value.tasks
              };
              this.tasks.push(t);
              this.index = this.index+1;
              if(Array.isArray(value.tasks)){
                  this.flatten(value.tasks);
              }
            }
        });
    },

    showInputSection(){
        this.add_secflag = true;
        this.form.task_id = 0;
    },

    changeTeam(value, task_id, label, progress_status, started, completion, prio, desc){
      this.form.id = task_id;
      this.form.label = label;
      this.form.task_id = task_id;
      this.form.assigned_to = value;
      this.form.progress_status = progress_status;
      this.form.site_started = started;
      this.form.site_completion = completion;
      this.form.prio = prio;
      this.form.task_desc = desc;
      return this.$store.dispatch('saveSection', { method: 'edit', payload: this.form }).then(res => {
            if (res.code == 200) {

              this.$message({
                type: 'success',
                message: this.$t('Common.successfully_updated')
              });

              this.$eventBus.$emit('syncProjectData')
            }else{

              console.log('ERROR');

              this.$message({
                type: 'error',
                message: 'ERROR'
              });

            }
          }).catch(err => {

          })
    },

    saveSection(){
      return this.$store.dispatch('saveSection', { method: 'add', payload: this.form }).then(res => {
        if (res.code == 200) {
          this.add_secflag = false;

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$refs.tasktable.getTableData();
          this.asyncData();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    hideInputSection(){
        this.form.label = '';
        this.add_secflag = false;
        this.add_tasklag = false;
    },

    viewWarehouse(){
        let routeData = this.$router.resolve(
          {
            name: 'inventory-list'
          }
        );

        window.open(routeData.href, '_blank');
    },

    viewPO(){
        let redirect = 'redirect';
        let projectId = this.project_id;
        let taskId = this.task_id;

        let routeData = this.$router.resolve(
          {
            name: 'project-task-purchase-order',
            params: { projectId, taskId, redirect }
          }
        );

        window.open(routeData.href, '_blank');
    },

    markPrio(){
       let taskId = this.task_id;
       return this.$store.dispatch('toggleTaskPriority', { id: taskId }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          this.$refs.tasktable.getTableData();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    markPrio2(taskId){
      // alert(taskId);
       return this.$store.dispatch('toggleTaskPriority', { id: taskId }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          this.$refs.tasktable.getTableData();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    markComplete(task_id){
      //console.log(task_id);
       let taskId = task_id;
       // alert(taskId);
       return this.$store.dispatch('markTaskComplete', { id: taskId }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });
          setTimeout(() => {
            this.asyncData();
          }, 1000)
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },


    markIncomplete(task_id){
      //console.log(task_id);
       let taskId = task_id;
       // alert(taskId);
       return this.$store.dispatch('markTaskIncomplete', { id: taskId }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });
          setTimeout(() => {
            this.asyncData();
          }, 1000)
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    viewQuotation(){
        let redirect = 'redirect';
        let projectId = this.project_id;

        let routeData = this.$router.resolve(
          {
            name: 'project-view-quotation',
            params: { projectId, redirect }
          }
        );

        window.open(routeData.href, '_blank');
    },

    insertTaskBelow(){
      this.closeMenu();
      this.$store.dispatch('callModal', {
        child_component: AddTask,
        title: 'Add Task',
        modalWidth: '35%',
        content: {
          task_id: this.task_id,
          project_id: this.project_id,
        }
      }) // call global modal state
    },

    insertTask(){
      this.closeMenu();
      this.$store.dispatch('callModal', {
        child_component: AddTask2,
        title: 'Add Task',
        modalWidth: '35%',
        content: {
          task_id: this.task_id,
          project_id: this.project_id,
          sections: this.sections,
        }
      }) // call global modal state
    },

    viewOrders(){
        var task_id = this.task_id;
        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: viewOrder,
          // title: 'Task Details',
          modalWidth: '60%',
          content: {
            project_id: this.project_id,
            task_id: this.task_id
          }
        })
    },

    taskDetails(){
        var task_id = this.task_id;
        var files = [];
        this.files.map((d,i) => {
            if(d.id === task_id){
                files = d.files;
            }
          });
        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: taskDetails,
          // title: 'Task Details',
          modalWidth: '40%',
          content: {
            project_id: this.project_id,
            task_id: this.task_id,
            files :files
          }
        })
    },

    taskDetails2(project_id, task_id){
        var files = [];
        this.files.map((d,i) => {
            if(d.id === task_id){
                files = d.files;
            }
          });
        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: taskDetails,
          // title: 'Task Details',
          modalWidth: '40%',
          content: {
            project_id: project_id,
            task_id: task_id,
            files : files
          }
        })
    },

    handleEdit () {
      this.$store.dispatch('callModal', { 
          child_component: EditProjects, 
          title: 'Edit Project',
          modalWidth: '70%',
          content: {
            data: this.editdata,
            project_id: this.project_id
          }
          }) // call global modal state
    },

    handleDblClick(project_id, task_id){
        var self = this;
           this.task_id = task_id;
           this.form.task_id = project_id;
           self.viewMenu = true;

            self.$nextTick(function() {
                this.$refs['testright'].focus();

                self.setMenu(self.y, self.x)
            }.bind(self));
    },

    handleClick: function(e, task_id) {

      if (e.target.matches('.task-click, .task-click *')) {
           //console.log(e.target.parentElement.id );
           var self = this;
           this.task_id = e.target.parentElement.id;
           this.form.task_id = e.target.parentElement.id;
           self.viewMenu = true;

            self.$nextTick(function() {
                this.$refs['testright'].focus();

                self.setMenu(e.y, e.x)
            }.bind(self));
      }
      else if (e.target.matches('.task-click2, .task-click2 *')) {
           var self = this;
           this.task_id = e.target.id;
           this.form.task_id = e.target.id;
           self.viewMenu2 = true;
           // console.log(this.task_id);
            self.$nextTick(function() {
                this.$refs['testright2'].focus();

                self.setMenu2(e.y, e.x)
            }.bind(self));
      }
      else if (e.target.matches('.mark-complete, .mark-complete *')) {
           var self = this;
           this.task_id = e.target.id;
           this.form.task_id = e.target.id;
           console.log(e.target.id);
           //self.markComplete();
           self.viewMenu2 = true;
           self.$nextTick(function() {
                this.$refs['testright2'].focus();

                self.setMenu2(e.y, e.x)
            }.bind(self));
           
      }
      e.preventDefault();
    },

    exportExcel () {

      this.$store.dispatch('callModal', {
        child_component: ExportExcel,
        modalWidth: '700px',
        content: {
          id: this.project_id
        }
      })
    },

    setMenu: function(top, left) {
          
            let largestHeight = window.innerHeight - this.$refs['testright'].offsetHeight - 25;
            let largestWidth = window.innerWidth - this.$refs['testright'].offsetWidth - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.top = top + 'px';
            this.left = left + 'px';

            this.someStyle = {
              left : this.left,
              top  : this.top
            }
        },

      setMenu2: function(top, left) {
          
            let largestHeight = window.innerHeight - this.$refs['testright2'].offsetHeight - 25;
            let largestWidth = window.innerWidth - this.$refs['testright2'].offsetWidth - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.top = top + 'px';
            this.left = left + 'px';

            this.someStyle = {
              left : this.left,
              top  : this.top
            }
        },

        closeMenu: function() {
            this.viewMenu = false;
            this.viewMenu2 = false;
            this.add_taskflag = false;
        },

        checkUploadFiles(id) {
          var fileCount = 0;
          if(this.files.length > 0){          
            var selected = (this.files).filter(function(x) { return x.id == id });
            var ii = [];
            ii = selected[0].files;
            if(ii.length > 0){
                fileCount += 1;
            }
          }
          // console.log(this.files);
          // console.log(this.comfiles);
          if(this.comfiles.length > 0){          
            var selected = (this.comfiles).filter(function(x) { return x.proj_task_id == id });
            var ii = [];
            // console.log(selected);
            if(selected.length > 0){            
              ii = selected[0].files;
              if(ii.length > 0){
                  fileCount += 1;
              }
            }
          }
          return fileCount;
        },

        showTaskImages(id) {
          
          var selected = (this.files).filter(function(x) { return x.id == id });
          var ii = [];
          ii = selected[0].files;
          //console.log(selected[0].files);
          var ctr = [];
          for(var i = 0; i < ii.length; i++){
              //console.log(ii[i].file_path);
              (ctr).push(this.storageURL+ii[i].file_path);
              // ctr++;
          }
          this.imgs = ctr;
          //console.log(this.imgs);
          //this.imgs = ['http://via.placeholder.com/350x150', 'http://via.placeholder.com/350x150']
          // allow mixing

          //this.index = 0  // index of imgList
          this.show()
        },
        show() {
          this.visible = true
        },
        handleHide() {
          this.imgs = [];
          this.visible = false
        },


  }
}
</script>

<style lang="scss">
  .select-card.el-select-dropdown.is-multiple
    .el-select-dropdown__item.selected::after {
    content: "";
  }
  .select-input {
    margin-bottom: 20px;

    .el-select__tags {
      display: none;
    }

    .el-input__inner {
      width: 70px;
      padding: 0;
    }

    .el-input__prefix {
      color: #606266;
      padding-left: 3px;
      padding-top: 5px;
    }
  }
</style>
<style >
  .el-table th, .el-table td{
    padding : 5px 0px !important;
  }
.iconbutton {
  border: none;
  color: white;
  /*padding: 4px 10px;*/
  text-align: center;
  text-decoration: none;
  display: contents;
  font-size: 11px;
  margin: 0px;
  margin-right: 6px;
  cursor: pointer;
  font-weight: 600;
}
.ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
.button1 {background-color: #d50000;} /* po */
.button2 {background-color: #FFDB58;} /* mob */
.button3 {background-color: #f66c1b;} /* site order */
.button4 {background-color: #FFAE42;} /* to prep */
.button5 {background-color: #23bc2e;} /* to ship */
.button6 {background-color: #006edf;} /* to received */
.button7 {background-color: #23bc2e;} /* partial delivered */
.button8 {background-color: #23bc2e;} /* delivered/completed */

.task-opt{
  cursor: pointer;
}

#right-click-menu{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
    z-index: 999999;
}

#right-click-menu li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu li:last-child {
    border-bottom: none;
}

#right-click-menu li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}

.task-click2 , .task-click{
  display: inline-block;
  padding-right: 0px;
  cursor: pointer;
}
.task-click{
  margin-left: 6px;
  }

.mark-complete{
  padding-right: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=vue-sidebar-menu.css.map*
  /*.gantt-elastic__chart-row-project-polygon {
    font-color: red !important;
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

  .gantt-elastic__chart-row-bar-polygon {
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

    .gantt-elastic__chart-row-bar{
      background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }*/


  .sidebar, .el-pagination__sizes, .btn-prev, .btn-next, .el-pager {
    display: none !important;
  }

  .gantt-elastic__chart-row-text-content .iconbutton{
      display: none !important;
  }

  :root {
  --color-text1: #3f4146;
  --color-text2: #ffffff;
  --color-btn: #565656;
  --card1-gradient-color1: #d952a2;
  --card1-gradient-color2: #aa1a90;
  --card2-gradient-color1: #fad62b;
  --card2-gradient-color2: #fcb30c;
  --card3-gradient-color1: #f89e00;
  --card3-gradient-color2: #f2540f;
}

  .card-wrap {
  width: 210px;
  height: 140px;
  border-radius: 10px;
  position: relative;
  margin-top: -40px;
}

.card-wrap.one {
  background: linear-gradient(
    to bottom,
    var(--card1-gradient-color1),
    var(--card1-gradient-color2)
  );
  transform: scale(0.9);
}
.card-wrap.one::after {
  background: var(--card1-gradient-color1);
}
.card-wrap.two {
  background: linear-gradient(
    to bottom,
    var(--card2-gradient-color1),
    var(--card2-gradient-color2)
  );
}
.card-wrap.two::after {
  background: var(--card2-gradient-color1);
}
.card-wrap.three {
  background: linear-gradient(
    to bottom,
    var(--card3-gradient-color1),
    var(--card3-gradient-color2)
  );
  transform: scale(0.9);
}
.card-wrap.three::after {
  background: var(--card3-gradient-color1);
}
.card-header {
  width: 160px;
  height: 105px;
  background: #ffffff;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
}

.card-header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
  color: var(--color-text1);
  margin-top: -10px;
}
.card-content {
  width: 160px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.card-content-option {
  color: var(--color-text2);
  font-size: 14px;
  margin-bottom: 10px;
}
.card-content-option.false {
  color: #000;
}
.card-content-option.false::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
.card-content-option.true::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}

.mention-item {
  padding: 4px 10px;
  border-radius: 4px;

}

.vue-popover-theme{
  z-index: 999999;
  background-color: #FFF;
  color: #000;
}

.mention-selected {
  background-color: #4267b2;
}
</style>
