<template>
  <div>
    <div style="float: right;">
      <el-button class="add-button" type="primary"  @click="generateReport()">Generate PDF</el-button>
      <el-button class="add-button" type="primary"  @click="generateExcel()">Generate Excel</el-button>
    </div>
     <div ref="document" id="document">
        <img src="https://i.imgur.com/HUGEtcW.png?1" width="20%"><br>
        <el-divider content-position="left">Annex A</el-divider>

        <div id = "leftbox">
            <el-input placeholder="" size="mini">
              <template slot="prepend"><b>Subject: {{ project_name }}</b></template>
            </el-input>
            <el-input placeholder="" size="mini">
              <template slot="prepend"><b>Total Area: {{sqm}}sqm</b></template>
            </el-input>
            <el-input placeholder="" size="mini">
              <template slot="prepend"><b>Location: {{ address }}</b></template>
            </el-input>
            <el-input placeholder="" size="mini">
              <template slot="prepend"><b>Attention: {{ attention }}</b></template>
            </el-input>
        </div>

        <div id = "rightbox">
            <el-input placeholder="" size="mini"s>
              <template slot="prepend"><b>Quotation Date: {{ getDateToday() }}</b></template>
            </el-input>
            <el-input placeholder=""  size="mini">
              <template slot="prepend"><b>Contractor Contact: Andrew Peng</b></template>
            </el-input>
            <el-input placeholder="" size="mini">
              <template slot="prepend"><b>Office #: 02-8732-4872</b></template>
            </el-input>
            <el-input placeholder="" size="mini">
              <template slot="prepend"><b>Contact #: 0917-810-3117 / 0919-002-6619</b></template>
            </el-input>
            <el-input placeholder="" size="mini">
              <template slot="prepend"><b>Email@ <span style="color: blue;">inquiry.code@gmail.com</span></b></template>
            </el-input>
        </div>

        <el-table
          stripe
          style="width: 100%;" :border="true" >
          <el-table-column
            label="品項序號  ITEM" 
            type="index"
            width="65" align="center" :render-header="renderHeader">
          </el-table-column>
          <el-table-column
            prop="scope_name"
            label="Name"
            width="485" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="数量 QTY"
            width="70" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="单位 UNIT"
            width="70" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="主材單價 Material Unit"
            width="100" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="輔材單價 Price"
            width="100" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="材料金額 Material Sum"
            width="100" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="人工單價 Labor Unit"
            width="100" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="人工金額 Labor Sum"
            width="100" :render-header="renderHeader" align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="金额 AMOUNT"
            width="195" :render-header="renderHeader">
          </el-table-column>
        </el-table>

        <el-table
          :data="tableData"
          :show-header="false"
          style="width: 100%;" :border="true" >
          <el-table-column
            prop="scope_name"
            label=""
            width="1385" align="center" style=" background-color: #B8CCE0;">
            <template scope="scope" >
                <b v-html="scope.row.scope_name"></b>
                <el-table class="noborder" :border="false" :data="scope.row.materials" :show-header="false">
                  <el-table-column type="index" width="80" align="center"></el-table-column>

                  <el-table-column prop="name" width="470" align="left">
                    <template scope="scope2" >
                        <span v-html="scope2.row.name + '<br>' + scope2.row.name_cn "></span>
                      </template>
                  </el-table-column>

                  <el-table-column prop="qty" width="70" align="center">
                  </el-table-column>

                  <el-table-column width="70" :render-header="renderHeader" align="center">
                    <template scope="scope2" >
                        <span>{{ scope2.row.unit }}</span>
                      </template>
                  </el-table-column>

                  <el-table-column prop="srp" width="100" :render-header="renderHeader" align="center">
                    <template scope="scope2" >
                        <span>{{ scope2.row.srp | currency }}</span>
                      </template>
                  </el-table-column>

                  <el-table-column width="100" :render-header="renderHeader" align="center">
                  </el-table-column>
                  <el-table-column prop="sum" width="100" :render-header="renderHeader" align="center">
                    <template scope="scope2" >
                        <span>{{ scope2.row.sum | currency }}</span>
                      </template>
                  </el-table-column>
                  <el-table-column width="100" :render-header="renderHeader" align="center">
                  </el-table-column>
                  <el-table-column width="100" :render-header="renderHeader" align="center">
                  </el-table-column>
                  <el-table-column prop="sum" width="194" :render-header="renderHeader">
                    <template scope="scope2" >
                        <span>{{ scope2.row.sum | currency }}</span>
                      </template>
                  </el-table-column>
                </el-table>
            </template>
          </el-table-column>
        </el-table>

        <div class="html2pdf__page-break"></div>

        <el-table
          :data="addData"
          :show-header="false"
          style="width: 100%;" :border="true" >
          <el-table-column
            prop="scope_name"
            label=""
            width="1385" align="center" style=" background-color: #B8CCE0;">
            <template scope="scope" >
                <b v-html="scope.row.scope_name + ' (' + scope.row.scope_name_cn + ')'"></b>
                <el-table class="noborder" :border="false" :data="scope.row.materials" :show-header="false">
                  <el-table-column type="index" width="80" align="center"></el-table-column>

                  <el-table-column prop="name" width="470" align="left">
                    <template scope="scope2" >
                        <span v-html="scope2.row.name + '<br>' + scope2.row.name_cn "></span>
                      </template>
                  </el-table-column>

                  <el-table-column prop="qty" width="70" align="center">
                  </el-table-column>

                  <el-table-column width="70" :render-header="renderHeader" align="center">
                    <template scope="scope2" >
                        <span>{{ scope2.row.unit }}</span>
                      </template>
                  </el-table-column>

                  <el-table-column prop="srp" width="100" :render-header="renderHeader" align="center">
                    <template scope="scope2" >
                        <span>{{ scope2.row.srp | currency }}</span>
                      </template>
                  </el-table-column>

                  <el-table-column width="100" :render-header="renderHeader" align="center">
                  </el-table-column>
                  <el-table-column prop="sum" width="100" :render-header="renderHeader" align="center">
                    <template scope="scope2" >
                        <span>{{ scope2.row.sum | currency }}</span>
                      </template>
                  </el-table-column>
                  <el-table-column width="100" :render-header="renderHeader" align="center">
                  </el-table-column>
                  <el-table-column width="100" :render-header="renderHeader" align="center">
                  </el-table-column>
                  <el-table-column prop="sum" width="194" :render-header="renderHeader">
                    <template scope="scope2" >
                        <span>{{ scope2.row.sum | currency }}</span>
                      </template>
                  </el-table-column>
                </el-table>
            </template>
          </el-table-column>
        </el-table>

        <el-table
          :data="sumData" :show-header="false"
          style="width: 100%;" :border="true" >
          <el-table-column  prop="desc" width="1190" header-align="right" align="right" class-name="prepared-by">
              <template scope="scope">
                <b v-html="scope.row.detail"></b>
              </template>
          </el-table-column>
          <el-table-column 
            width="194" header-align="left" class-name="prepared-by">
            <template scope="scope">
                <!-- <span v-html="'<span>'+subtotal+'</span>'"></span> -->
                <b> {{ subtotal | currency }} </b>
              </template>
          </el-table-column>

        </el-table>

        <br>

        <el-table
        :data="notesData"
        stripe
          style="width: 100%;" :border="true" :header-cell-style="{ background: '#B7DEE8' , border: '0'}">
          <el-table-column
            prop="step"
            label=""  width="85" align="center">
          </el-table-column>
          <el-table-column
            prop="detail"
            label="NOTES 備註" 
            width="1300" header-align="center">
              <template scope="scope" >
                <span v-html="scope.row.detail + '<br>' + scope.row.detail_cn"></span>
              </template>
          </el-table-column>

        </el-table>

        <br>
        <div class="html2pdf__page-break"></div>
        <el-table
          stripe
          style="width: 100%;" :border="true" :header-cell-style="{ background: '#B7DEE8' , border: '0'}">
          <el-table-column
            label=""  width="85" align="center">
          </el-table-column>
          <el-table-column
            label="SCHEDULE OF PAYMENT 付款時間表" 
            width="1300" header-align="center">
              <template scope="scope" >
                <span v-html="scope.row.detail + '<br>' + scope.row.detail_cn"></span>
              </template>
          </el-table-column>

        </el-table>

        <el-table
          :data="summaryData"
          stripe :summary-method="getSummaries" show-summary
          style="width: 100%;" :border="true" :header-cell-style="{ background: '#CCC' }">
          <el-table-column  prop="desc" label="Description 概述"  width="520" header-align="center" align="right">
          </el-table-column>
          <el-table-column label="Progressive Billing <br>階段性金額" 
            width="270" header-align="center" align="right">
              <template scope="scope" >
                <span v-if="scope.row.id == 1">{{subtotal/2}}</span>
              </template>
          </el-table-column>
          <el-table-column label="Request <br>請款金額" 
            width="200" header-align="center" align="right">
          </el-table-column>
          <el-table-column label="Remaining 餘額" 
            width="200" header-align="center" align="right">
          </el-table-column>
          <el-table-column label="Received 已收" 
            width="195" header-align="left" align="center">
          </el-table-column>

        </el-table>

        <el-table
          stripe
          style="width: 100%;" :border="true" >
          <el-table-column  prop="desc" label="乙方 | CODEDC Construction Corp"  width="620" header-align="center" align="right" class-name="company-name">
          </el-table-column>
          <el-table-column :label="'甲方'+attention" 
            width="765" header-align="center" class-name="client-name">
          </el-table-column>

        </el-table>

        <el-table
          :data="testData" :show-header="false"
          style="width: 100%;" :border="true" >
          <el-table-column  prop="desc" label="Prepared By: "  width="620" header-align="left" align="left" class-name="prepared-by">
              <template scope="scope">
                <div v-html="scope.row.img"></div>
              </template>
          </el-table-column>
          <el-table-column label="Confirmed By:" 
            width="765" header-align="left" class-name="prepared-by">
            <template scope="scope">
                <div v-if="scope.row.img2 != ''" v-html="scope.row.img2"></div>
                <div v-else-if="attention != null" v-html="scope.row.img2 +'<b>'+attention+'</b>'"></div>
              </template>
          </el-table-column>

        </el-table>
        
     </div>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'
// import VueHtml2pdf from 'vue-html2pdf'
import html2pdf from 'html2pdf.js'

export default {
  name: 'project-quotation',
  props: ['redirect'],
  components: {
      html2pdf
  },
  data () {

    return {
      project_name : '',
      address : '',
      sqm : '',
      attention: '',
      subtotal: 0,
      loading: false,

      form: {
        project_id : 0,
        subject : '',
      },

      testData: [
        {
          img: '<img src="https://i.imgur.com/xKJz0hr.jpg" width="40%">',
          img2: '<img src="https://i.imgur.com/Ck429Ch.jpg" width="35%">',
        },
        {
          img: '<span><b>Andrew Peng<br> CODEDC Construction Corp</b></span>',
          img2: '',
        },
      ],

      sumData: [
        {
          id: 1,
          detail: 'SUB TOTAL COST 項目工程費用',
          amount: '',
        },
        {
          id: 2,
          detail: 'TOTAL CONTRACT COST 項目工程合同',
          amount: '',
        },
      ],

      tableData: [],
      addData: [],

      notesData: [],

      summaryData: [
        {
          id : 1,
          desc: '50% Down Payment 訂金',
          bill: '',
          request: '',
          remaining: '',
          received: '',
        }
      ],

    }
  },
  created () {
    const vm = this
    this.form.project_id   = vm.$parent.$route.params.projectId
    // alert(this.form.project_id);
    this.getProjectDetails();

  },
  mounted () {

  },


  computed: mapGetters({
    header: 'header',
    session: 'session',
  }),

  methods: {
    async generateReport () {
        var element = document.getElementById('document');

        var opt = {
             html2canvas: {
              allowTaint:true,
              dpi: 192, 
              letterRendering: true, 
              useCORS: true
            }, 
             margin: 10, 
             filename: 'Project Quotation.pdf', 
             image: {type: 'png', quality: 0.99}, 
             jsPDF: {unit: 'pt', format: 'LEGAL', orientation: 'landscape'
        }};
          html2pdf().from(element).set(opt).save();
    },

    generateExcel(){

          this.$store.dispatch('exportProjectQuotation',{
                id: this.form.project_id,
            })
              .then(res => {
                const { data } = res

                setTimeout(() => {
                  var fileURL = window.URL.createObjectURL(new Blob([res]));

                  var fileLink = document.createElement('a');
                  fileLink.href = fileURL;

                    fileLink.setAttribute('download',  'Project Quotation.xls');

                  document.body.appendChild(fileLink);
                  fileLink.click();

                }, 500)

            });
        },

    getProjectDetails (){
        this.$store.dispatch('getProjectDetails', { payload: this.form } ).then(response => {
            var data = response.details;
            this.project_name = data.name + " (" + data.nick_name + ")";
            this.address = data.address;
            this.subtotal = response.subtotal;
            this.sqm = data.sqm;
            this.attention = data.contact_person;

            var notes = response.notes;
            this.notesData = notes;

            var scopes = response.scope;
            this.tableData = scopes;

            var add = response.additionals;
            this.addData = add;
        })
    },

    getSummaries(param) {
        const { columns, data } = param;
        const sums = [];
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = 'SUB-TOTAL 加總';
            return;
          }
          if (index === 1) {
            sums[index] = this.subtotal;
            return;
          }
          const values = data.map(item => Number(item[column.property]));
          if (!values.every(value => isNaN(value))) {
            sums[index] = '$ ' + values.reduce((prev, curr) => {
              const value = Number(curr);
              if (!isNaN(value)) {
                return prev + curr;
              } else {
                return prev;
              }
            }, 0);
          } else {
            sums[index] = 0;
          }
        });

        return sums;
      },

    getDateToday(){
      // return 'test';
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = mm + '/' + dd + '/' + yyyy;
        var date2 = new Date(today);
        var dayName = days[date2.getDay()];
        return today+", "+dayName;
    },

    renderHeader(h, { column, $index }) {
      console.log(column);
          switch($index){
            case 0 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '品項序號'),
                h('br'),
                h('span', 'ITEM'),
              ])
              break;
            }
            case 1 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '工作範圍'),
                h('br'),
                h('span', 'SCOPE OF WORKS'),
              ])
              break;
            }
            case 2 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '数量 '),
                h('br'),
                h('span', 'QTY'),
              ])
              break;
            }
            case 3 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '单位 '),
                h('br'),
                h('span', 'UNIT'),
              ])
              break;
            }
            case 4 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '主材單價 '),
                h('br'),
                h('span', 'Mater. Unit'),
              ])
              break;
            }
            case 5 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '輔材單價 '),
                h('br'),
                h('span', 'Mater. Unit'),
              ])
              break;
            }
            case 6 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '材料金額 '),
                h('br'),
                h('span', 'Mater. Sum'),
              ])
              break;
            }
            case 7 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '人工單價 '),
                h('br'),
                h('span', 'Labor Unit'),
              ])
              break;
            }
            case 8 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '人工金額 '),
                h('br'),
                h('span', 'Labor Sum'),
              ])
              break;
            }
            case 9 : {
              return h('div', {
                style: {
                  lineHeight: 1.7
                }
              }, [
                h('span', '金额 '),
                h('br'),
                h('span', 'AMOUNT'),
              ])
              break;
            }
          }

        }
  }
}
</script>
<style lang="scss">
  .sidebar, .el-pagination__sizes, .btn-prev, .btn-next, .el-pager, .header {
    display: none !important;
  }

  .content {
   background-color: #FFF !important;
  }

  #leftbox {
      float:left; 
      width:25%;
      margin-bottom: 20px;
  }

  #rightbox{
      float:right;
      width:25%;
      margin-bottom: 20px;
  }

  .el-input-group__prepend{
    background-color: transparent !important;
    color: #000 !important;
    border: 0px !important;
    vertical-align: bottom !important;
  }

  .el-input__inner{
    /*vertical-align: bottom !important;*/
    /*padding-bottom: 0px !important;*/
    border: 0px !important;
    /*border-bottom: 1px solid #DCDFE6 !important;*/
  }
  .el-table__empty-block {
      display: none!important;
  }

  .el-table--border th:first-child .cell, .el-table--border td:first-child .cell{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .company-name{
    background-color: #B7DEE8 !important;
    color: #000 !important;
    font-weight: bold;
  }

  .client-name{
    background-color: red !important;
    color: #000 !important;
    font-weight: bold;
  }

  .confirmed-by{
    vertical-align: top !important;
  }
  .prepared-by{
    vertical-align: top !important;
    padding-bottom: 0px !important;
    color: #000 !important;
  }
</style>
