<template>
  <div>
    <el-form :model="taskForm" :rules="taskRule" ref="taskForm">
      <el-form-item prop="presets">
        <el-select v-model="taskForm.parent_id" filterable placeholder="Select Section" style="width: 485px;">
            <el-option
              v-for="s in sections"
              :key="s.id"
              :label="s.label2"
              :value="s.id">
            </el-option>
          </el-select>
        </el-form-item>
      <el-form-item prop="remark">
        <el-input type="textarea" v-model="taskForm.label" autocomplete="off" placeholder="Task Label"></el-input>
      </el-form-item>
    </el-form>
    <el-button type="primary" @click="addNewTask('taskForm')" :disabled="!taskForm.display">Submit
    </el-button>
    <el-button @click="resetForm('taskForm')">Reset</el-button>
  </div>
</template>

<script>

  export default {
    name: 'add-task2',
    data () {
      return {
        sections: [],
        taskForm: {
          display: true,
          task_id: '',
          label: '',
          project_id: '',
          parent_id: null,
        }
      }
    },
    computed: {
      taskRule() {
        return {

        }
      }
    },
    methods: {
      addNewTask (formName) {
       if(this.taskForm.label == null || this.taskForm.parent_id == null){
          this.$message({
              type: 'error',
              message: 'All fields are required!'
            });
       }
       else{ 
         return this.$store.dispatch('saveSection', { method: 'add', payload: this.taskForm }).then(res => {
  	        if (res.code == 200) {
  	          this.$parent.$emit('close');
  	          this.$message({
  	            type: 'success',
  	            message: this.$t('Common.successfully_added')
  	          });
  	          this.$eventBus.$emit('syncProjectData')

  	          this.asyncData();
  	        }else{

  	          console.log('ERROR');

  	          this.$message({
  	            type: 'error',
  	            message: 'ERROR'
  	          });

  	        }
  	      }).catch(err => {
        	})
       }
      },
      resetForm (formName) {
        process.nextTick(() => {
          this.$refs[formName].resetFields()
        })
      },
    },
    created () {
      // this.taskForm.task_id = this.$parent.$parent.content.task_id;
      this.taskForm.project_id = this.$parent.$parent.content.project_id;
      this.sections = this.$parent.$parent.content.sections;
    }
  }
</script>

<style lang="scss" scoped>
  .body-container {
    .header {
      font-size: large;
    }

    .body {

    }

    .footer {

    }
  }
</style>
