<template>
  <div>
    <el-form :model="taskForm" :rules="taskRule" ref="taskForm">
      <el-form-item prop="remark">
        <el-input type="textarea" v-model="taskForm.label" autocomplete="off" placeholder="Task Label"></el-input>
      </el-form-item>
    </el-form>
    <el-button type="primary" @click="addNewTask('taskForm')" :disabled="!taskForm.display">Submit
    </el-button>
    <el-button @click="resetForm('taskForm')">Reset</el-button>
  </div>
</template>

<script>
  import ChangeRemarksMessage
    from '../../groups/components/change-remark-message'

  export default {
    name: 'add-task',
    data () {
      return {
        taskForm: {
          display: true,
          task_id: 0,
          label: '',
          project_id: '',
          parent_id: 0
        }
      }
    },
    computed: {
      taskRule() {
        return {

        }
      }
    },
    methods: {
      addNewTask (formName) {
       return this.$store.dispatch('saveSection', { method: 'add', payload: this.taskForm }).then(res => {
	        if (res.code == 200) {
	          this.$parent.$emit('close');
	          this.$message({
	            type: 'success',
	            message: this.$t('Common.successfully_added')
	          });
	          this.$eventBus.$emit('syncProjectData')

	          this.asyncData();
	        }else{

	          console.log('ERROR');

	          this.$message({
	            type: 'error',
	            message: 'ERROR'
	          });

	        }
	      }).catch(err => {
      	})
      },
      resetForm (formName) {
        process.nextTick(() => {
          this.$refs[formName].resetFields()
        })
      },
    },
    created () {
      this.taskForm.parent_id = this.$parent.$parent.content.task_id;
      this.taskForm.project_id = this.$parent.$parent.content.project_id;
    }
  }
</script>

<style lang="scss" scoped>
  .body-container {
    .header {
      font-size: large;
    }

    .body {

    }

    .footer {

    }
  }
</style>
