<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
        <el-form-item
          label="Project Name"
          prop="proj_name"
          :rules="[
            { required: true, message: 'Project name is required.' }
          ]"
        >
          <el-input type="text" v-model.proj_name="form.proj_name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Project Nickname"
            prop="proj_nick"
            :rules="[
              { required: true, message: 'Project nickname is required.' }
            ]"
          >
            <el-input type="text" v-model="form.proj_nick" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Estimated Finished Date"
            prop="estimated_date"
          >
            <el-date-picker
              style="width: 100%;"
              v-model="form.estimated_date"
              type="date"
              format="dd/MM/yyyy"
              placeholder="dd/mm/yyyy"
              value-format="yyyy-MM-dd"
              :picker-options="{
                  disabledDate(time) {
                    return time.getTime() < Date.now();
                  }
              }">
            </el-date-picker>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item
          label="Project Address"
          prop="proj_address"
          :rules="[
            { required: true, message: 'Project address is required.' }
          ]"
        >
          <el-input type="text" v-model="form.proj_address" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
        <div>
          <el-form-item
            label="Project Address Link"
            prop="proj_address_link"
            :rules="[
              { required: true, message: 'Project address link is required.' }
            ]"
          >
            <el-input type="text" v-model="form.proj_address_link" autocomplete="off"></el-input>
          </el-form-item>
        </div>
    </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Project SQM"
            prop="proj_sqm"
          >
            <el-input type="number" min="0" v-model="form.proj_sqm" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End Second Row -->

    <!-- Third Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
        <el-form-item
          label="Client Name"
          prop="client_name"
        >
          <el-input type="text" v-model.proj_name="form.client_name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Client Contact Number"
            prop="client_num"
          >
            <el-input v-model="form.client_num" maxlength="15" @keypress.native="numbersOnly">
                     <template slot="prepend">+63</template>
                   </el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Client Email"
            prop="client_email"
          >
            <el-input
                  v-model="form.client_email">
                </el-input>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Third Row -->


    <!-- Fourth Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
        <el-form-item
          label="Admin Name"
          prop="admin_name"
        >
          <el-input type="text" v-model.proj_name="form.admin_name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Admin Contact Number"
            prop="admin_num"
          >
            <el-input v-model="form.admin_num" maxlength="15" @keypress.native="numbersOnly">
                     <template slot="prepend">+63</template>
                   </el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Admin Email"
            prop="admin_email"
          >
            <el-input
                  v-model="form.admin_email">
                </el-input>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Fourth Row -->

    <!-- Fifth Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
          <el-form-item prop="remarks" label="Remarks">
                <el-input
                  type="textarea"
                  :rows="3"
                  v-model="form.remarks"
                  resize="none">
                </el-input>
              </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Fifth Row -->

  <!-- Fifth Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
          <el-form-item prop="incharge" label="Project in-charge">
            <el-select v-model="form.incharge" filterable multiple placeholder="Select person in charge">
                <el-option
                  v-for="s in users"
                  :key="s.id"
                  :label="s.nick_name"
                  :value="s.id">
                </el-option>
              </el-select>
            </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Fifth Row -->

  <el-form-item>

    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-group',
  data () {
    return {
      form: {
        proj_name: '',
        proj_nick: '',
        proj_sqm: '',
        proj_address: '',
        proj_address_link: '',
        estimated_date: '',
        client_name: '',
        client_num: '',
        client_email: '',
        admin_name: '',
        admin_num: '',
        admin_email: '',
        remarks: '',
        incharge: [],
      },
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      users: [],
      loading: false
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {

    this.loadAllUsers();

    //this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

  },

  mounted() {},

  methods: {
    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

      // you can add rules for validations
      return this.$store.dispatch('addeditProject', { method: 'add', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('syncProjectData');
        }else{

          console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },

    loadAllUsers(){

              this.$store.dispatch('allUsers', {
                 // keyword : query,
             }).then(response => {
               this.users = response.data;
             })

    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
