<template>
  <div class="export-excel-container">


    <div v-if="isChooseOptionToDownload && !isLoading">
      <div class="label">Export Group Report By</div><br/>
       <!-- <el-button class="status-button" type="success" @click="exportData('excel')">Excel</el-button> -->
       <el-button class="status-button" type="primary" @click="exportData('pdf')">Pdf</el-button>
       <el-button class="status-button" type="primary" @click="exportData('cancel')">Cancel</el-button>
    <!--   <el-divider>Other Actions</el-divider>
       <el-button class="status-button" type="primary" @click="exportData('preview')">Preview</el-button> -->

    </div>

    <div v-if="(!isChooseOptionToDownload && !isLoading) && exportMode == 'preview'">
        <ByService/>
    </div>


    <div v-if="(!isLoading && !isChooseOptionToDownload) && exportMode != 'preview'">
     <div class="label">Generate Project Quotation</div>
     <div class="button-container" >

      <el-button class="status-button" type="success" @click="downloadData('EN')">English</el-button>
      <el-button class="status-button" type="primary" @click="downloadData('CN')">Mandarin</el-button>

    </div>
    </div>

     <div v-if="isLoading" class="progress-container">
        <div>
          <el-progress type="circle" :percentage="percentage"></el-progress>
        </div>
        <label>Exporting By {{exportingText}}</label>
     </div>

  </div>
</template>

<script>
window.moment = require('moment');
const EN = 'EN';
const CN = 'CN';
const BY_SERVICE = 'by-service';
const BY_MEMBERS = 'by-members';
const BY_BATCH = 'by-batch';
const SERVICES = 'services';
const TRANSACTIONS = 'transactions';

export default {
  name: 'export-excel',
  data () {
    return { //'pending','on process','complete','released','cancelled'
      id: '',
      mode: BY_SERVICE,
      mode_main: SERVICES,
      from_date : '',
      to_date : '',
      data: null,
      search: '',
      services : [],
      isLoading: false,
      percentage: 0,
      page: 1,
      isChooseOptionToDownload: false,
      exportMode: 'excel',
      total: 0,
      perPage:15,
      returnPayload: [],
      lang: EN,
      exportingText: '',
      columns: [
        {
          prop: 'id',
          type: 'selection'
        },

        {
          prop: 'client_id',
          label: this.$t('Clients.client-id'),
          minWidth: '120',
          sortable: true
        },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '120',
          sortable: true
        }
      ]
    }
  },
  methods: {

    eventChangeOption(data){
        console.log(data);
        console.log("mode_main:", this.mode_main);
    },


  // TODO
  handleSearch(){
    this.getGroupMembers();
  },

  handleCheckAllMemberChange(val){
    this.member.membersGroup = val ? this.member.membersOption : [];
    this.member.isIndeterminate = false;
  },
  handleCheckedMemberChange(value) {
       let checkedCount = value.length;
       this.member.checkAllMembers = checkedCount === this.member.members.length;
       this.member.isIndeterminate = checkedCount > 0 && checkedCount < this.member.members.length;
  },

    exportData (mode){

      if(mode == 'cancel'){
          this.isChooseOptionToDownload = false;
      }
      else{

          this.exportMode = mode;
          this.isLoading = true;
          this.getProjectTransactions();
          this.exportingText = 'Project Quotation';
      }
    },

    getServiceHistory () {
      let vm = this
      return this.$store.dispatch('getProjectTransactions', {
        id: this.id
      }).then(res => {
        this.download(res.data);
      });
    },


    downloadData (lang){

        this.lang = lang;
        this.returnPayload = [];

        var dateTime = moment(String(new Date())).format("MMM DD, YYYY , hh:mm A");

        var hasError = true;

        var date = [];
        var services = [];

        if(this.from_date !== ''){
            date = this.from_date.split("-");
        }

        this.isChooseOptionToDownload = true;

    },

    download(data){

      if(this.exportMode == 'preview'){

          this.$store.dispatch('previewReport', {
            id: this.id,
            data: data,
            type: (this.mode_main === TRANSACTIONS) ? TRANSACTIONS : this.mode,
            lang: this.lang
          }).then(res => {
             this.percentage = 100;
             this.isLoading = false;
             this.isChooseOptionToDownload = false;
             this.service.rawData = res;
          });
      }else{


      var dateTime = moment(String(new Date())).format("MMM DD, YYYY , hh:mm A");

      var hasError = true;

      var date = [];
      var services = [];

      if(this.from_date !== ''){
          date = this.from_date.split("-");
      }

      var name = '';
      name = 'ENTRANSACTIONS';

      this.$store.dispatch('exportExcelGroupSummary', {
        id: this.id,
        type: (this.mode_main === TRANSACTIONS) ? TRANSACTIONS : this.mode,
        lang: this.lang,
        data: data,
        export_type: this.exportMode,
        dates: this.batch.batchDates,
        services: services,
        month: (this.from_date != '') ? date[1] : '',
        year:  (this.from_date != '') ? date[0] : ''
      }).then(res => {

        this.percentage = 100;

        setTimeout(() => {
          var fileURL = window.URL.createObjectURL(new Blob([res]));

          var fileLink = document.createElement('a');
          fileLink.href = fileURL;

          if(this.exportMode == 'excel'){
            fileLink.setAttribute('download', name + " - " +this.data.name + " - " + dateTime + '.xls');
          }else{
            fileLink.setAttribute('download', name + " - " +this.data.name + " - " + dateTime + '.pdf');
          }


          document.body.appendChild(fileLink);
          fileLink.click();

          this.isLoading = false;
          this.$parent.$emit('close')
          this.$eventBus.$emit('syncProjectData');
        }, 500)

      })

     }

    },


  },
  created () {
    this.id = this.$parent.$parent.content.id;
    //this.data = this.$parent.$parent.content.data;


    // this.status.map((item,index) => {
    //       this.service.statusOption.push(item.text);
    // });

    // this.getGroupMembers();
    // this.getServiceDates();
  }
}
</script>

<style lang="scss">
  .export-excel-container {
    .el-checkbox {
      display: block;
    }
    .el-checkbox-group {
      .el-checkbox-button {
          border: 1px solid #eee;
          width: 150px;
          max-width: 160px;
          min-width: 100px;
      }
    }


    div {
      text-align: center;
    }

    i {
      color: #3fc3ee;
      /*font-size: 5.2em*/
    }

    .label {
      color: #595959;
      font-size: 2.5em;
      font-weight: 700;
      margin-top: 25px;
    }

    .button-container {
      margin-top: 25px;
    }

    .status-button {
      font-size: 1.3em;
    }
    .progress-container{
      width:100%;
      margin-top: 25px;
    }

    .progress-container > div{
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:130px;
    }

    .date-container{
      width:100%;
      text-align: center;
    }

    .date-container > div{
      width:700px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

/*    div > label > span{
      border:0px solid #DCDFE6 !important;
    }*/

  }

   .el-checkbox-button__inner{
       border:0px solid #DCDFE6 !important;
   }

   .el-picker-panel {

   }

   .el-dialog__wrapper{
    //position: relative !important;
    width:'100%';
    margin-left: auto !important;
    margin-right: auto !important;
   }
  // .el-checkbox-button_inner{
  //
  //       border:0px solid #DCDFE6 !important;
  // }
  // .check-box-container > label > input[type="checkbox"] > span{
  //   border:1px solid red !important;
  // }
</style>
