<template>
<el-form :model="form" ref="form" id="group_name">

  <el-row :gutter="30">
      <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
        <div>
          <el-form-item>

              <el-upload 
                class="upload-demo"
                drag :multiple="true"
                      ref="upload"
                      action=""
                      :file-list="fileList"
                      :on-change="handleChange"
                      :on-remove="handleRemove"
                      :auto-upload="false">
                <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/excel files</div> -->
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop file here or <em>click to upload</em><br>
                  <small>jpg/png files</small></div>
              </el-upload>

          </el-form-item>

          <div  style="float: right">
            <el-form-item>

              <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

              <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

            </el-form-item>
          </div>
          <br>
          <br>
          <br>
          <br>

            <el-row :gutter="30">
              <template >
                  <el-col v-for="f in files" :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
                    <div class="img-con">
                      <el-image
                        style="width: 100px; height: 100px; padding-right: 5px;padding-top: 12px;"
                        :src="storageURL+f.file_path" 
                        :preview-src-list="[storageURL+f.file_path]"
                        :z-index="99999">
                      </el-image>
                      <div class="overlay"></div>
                      <div class="button">
                        <!-- <a href="#" style="margin-right: 10px;" @click="showTaskImages(row.id)"> <i class="el-icon-view"></i> </a> -->
                        <el-button icon="el-icon-view" circle size="mini" style="margin-right: 10px;" @click="showTaskImages(storageURL+f.file_path)"></el-button>

                        <el-button type="danger" icon="el-icon-delete" circle size="mini"  @click="deleteTaskImage(f.id)"></el-button>
                        <!-- <a href="#"> <i class="el-icon-delete"></i> </a> -->
                      </div>
                    </div>
                  </el-col>
              </template>
            </el-row>

        </div>
      </el-col>

      <!-- <el-dialog
        title="Tips"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">
        <span>This is a message</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
        </span>
      </el-dialog> -->
  </el-row>

  <vue-easy-lightbox
    escDisabled
    moveDisabled
    :visible="visible"
    :imgs="imgs"
    :index="indexxx"
    @hide="handleHide"
  ></vue-easy-lightbox>

</el-form>
</template>

<script>

import { mapGetters } from 'vuex'
import VueEasyLightbox from 'vue-easy-lightbox';

export default {
  name: 'add-edit-group',
  components: {
      VueEasyLightbox
  },
  data () {
    return {
      dialogVisible: false,
      form: {
        id: '',
        uplPhotos : [],
        type : 'task_images'
      },
      fd:{
        id: '',
      },
      files : [],
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,

      imgBase64: [],
      fileList: [],
      storageURL: process.env.VUE_APP_STORAGE,

      uplform: {
        comment: '',
        rcvby: '',
        fileData: []
      },

      imgs: '',
      visible: false,
      indexxx: 0,
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {

    this.files = this.$parent.$parent.content.files;
    this.form.id = this.$parent.$parent.content.task_id;
    // console.log(this.files);

  },

  mounted() {},

  methods: {
    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

            if((this.uplform.fileData).length > 0) {
                this.uplform.fileData.filter((item, index) => {
                  var file_path = this.$refs.upload.uploadFiles[index].name;

                  var file_type = item.file_path.split('.');

                  item.file_path = file_path 

                  item.imgBase64 = this.imgBase64[index].imgBase64
                })
              }
              this.form.uplPhotos = this.uplform.fileData;

      // you can add rules for validations
      return this.$store.dispatch('uploadTaskImages', { method: 'edit', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()
          this.uplform.comment = ''
          this.uplform.rcvby = ''
          this.uplform.fileData = []

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('syncProjectData');
        }else{

          //console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },

    handleChange (file, fileList) {
      console.log(file);
      var self = this

      var fileData = {
        // id: self.task_id,
        file_path: file.name,
        comment: '',
        imgBase64: null
      }

      var fl = [{
        name: file.name,
        url: file.name
      }]          

      var reader = new FileReader();
      reader.readAsDataURL(file.raw);
      reader.onload = function(e) {
        self.imgBase64 = [...self.imgBase64, {
          name: file.name,
          imgBase64: this.result
        }]
      }
      // console.log(reader);

      this.uplform.fileData = [...this.uplform.fileData, fileData];
      // this.fileList = fl;

    },

    handleRemove (file, fileList) {
      //(this.uplform.fileData).splice(index, 1);
      var fl = [];
      (this.uplform.fileData).forEach(function(x, index) {

          if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
            var fileData = {
            // id: self.task_id,
            file_path: file.name,
            comment: '',
            imgBase64: null
          }
            fl = [...fl, fileData];
          }

        });
        this.uplform.fileData = fl;
      console.log((this.uplform.fileData));
    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

    showTaskImages(img) {

      //console.log(selected[0].files);
      var ctr = [];
      //for(var i = 0; i < ii.length; i++){
          //console.log(ii[i].file_path);
          (ctr).push(img);
          // ctr++;
      //}
      this.imgs = ctr;
      //console.log(this.imgs);
      //this.imgs = ['http://via.placeholder.com/350x150', 'http://via.placeholder.com/350x150']
      // allow mixing

      //this.index = 0  // index of imgList
      this.show()
    },
    show() {
      this.visible = true
    },
    handleHide() {
      this.imgs = [];
      this.visible = false
    },

    deleteTaskImage(id){
       const fd = new FormData();
       fd.append("id", id);
       this.$store.dispatch("deleteTaskImage", fd).then(response => {
        this.$parent.$emit('close');
        this.$message({
          type: 'success',
          message: 'Image successfully deleted!'
        });
        this.$eventBus.$emit('syncProjectData');
      });
    }

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
  .img-con {
  position: relative;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.overlay {
  position: absolute;
  top: 12px;
  left: 2px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.img-con:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.img-con:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 100px;
  left:2px;
  top: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 50px;
  top: 50px;
  /*padding: 12px 48px;*/
  text-align: center;
  color: white;
  font-size: 18px;
  /*border: solid 2px white;*/
  z-index: 1;
}

.img-con:hover .button {
  opacity: 1;
}

</style>
