<template>
	<div>
	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<strong>{{ data.label }}</strong><br>
    		<i>{{ data.status }} </i><br>
    		<el-button type="text" style="cursor:default;">
    			<i class="el-icon-tickets"></i> List of Orders
    		</el-button><br>
  		</div>

  		<div class="text item" >

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else >
  				<template>

  					<el-table
					    :data="orders"
					    style="width: 100%">
					    <el-table-column type="expand">
					      <template slot-scope="props">
							  <el-table ref="table" width="100%" :data="props.row.pre" row-class-name="movable">
					  		<el-table-column label="Materials List" label-class-name="tbl-header">
							   	<template slot-scope="scope">
							      	<b style="color: #67C23A">{{ scope.row.name }}</b> <br>

							      	<el-table ref="table2" width="100%" :data="scope.row.materials"  row-class-name="movable">

											<el-table-column label="Material Name" width="380" align="left">
											   	<template slot-scope="scope">
											      		<span v-html="statusColor(scope.row.order_status)"></span> {{ scope.row.material_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Unit Price" width="100">
												<template slot-scope="scope">
												    {{ scope.row.unit_price }}
												</template>
											</el-table-column>

											<el-table-column label="Qty">
												<template slot-scope="scope" width="100">
													{{ scope.row.qty }}{{ scope.row.unit }}
												</template>
											</el-table-column>

											<el-table-column label="Notes" width="200">
												<template slot-scope="scope">
												    {{scope.row.remarks}}
												</template>
											</el-table-column>

									</el-table>

							    </template>
					  		</el-table-column>
					  		
						</el-table>
						<div v-if="props.row.add.length > 0">
						<b style="color: #67C23A; font-size: 12px;">Additional Materials</b> <br>
							      	<el-table ref="table" width="100%" :data="props.row.add"  row-class-name="movable">
							      			
											<el-table-column label="Material Name" width="380" align="left">
											   	<template slot-scope="scope">
											      	<span v-html="statusColor(scope.row.order_status)"></span> {{ scope.row.material_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Unit Price" width="100">
												<template slot-scope="scope">
												    {{ scope.row.unit_price }}
												</template>
											</el-table-column>

											<el-table-column label="Qty" width="100">
												<template slot-scope="scope">
													{{ scope.row.qty }}{{ scope.row.unit }}
												</template>
											</el-table-column>

											<el-table-column label="Notes" width="200">
												<template slot-scope="scope">
												    {{scope.row.remarks}}
												</template>
											</el-table-column>

									</el-table>
								</div>
					      </template>
					    </el-table-column>
					    <el-table-column
					      label="Order Date"
					      prop="date" >
					      <template slot-scope="props">
					      	<b style="color: blue">{{ props.row.created_at | commonDate }}</b>
					      </template>
					    </el-table-column>
					    <!-- <el-table-column
					      label="Status"
					      prop="status">
					    </el-table-column> -->
					  </el-table>
  				</template>
  			</template>

  		</div>
	</el-card>

</div>

</template>

<script>
	import filePreview from './file-preview';
	import { Mentionable } from 'vue-mention';
	import VueEasyLightbox from 'vue-easy-lightbox';
	export default {

		name: 'task-details',
		components: {
	       filePreview,
	       Mentionable,
	       VueEasyLightbox
		  },
		data () {
	    	return {
	    		imgs: '',
			      visible: false,
			      indexxx: 0,

	    		count: 10,
	      		task_id: 0,
            	project_id: 0,

	      		isFetching: true,

	      		data: [],
	      		orders: [],

	      		form: {
			        label: '',
			        project_id: '',
			        parent_id: 0,
			        id: null,
			        start: null,
			        end: null,
			        task_desc: '',
			        assigned_to : null,
			        progress_status : null,
			        prio: '',
			        progress: 0,
			      },

		      is_parent: 0,
	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	  		statusColor(status) {
		      if(status == 'purchase order'){
		        status = '<button class="ganttbutton button1">'+status+'</button>';
		      }
		      else if(status == 'mob'){
		        status = '<button class="ganttbutton button2">'+status+'</button>';
		      }
		      else if(status == 'site order' || status == 'POC' || status == 'SPC'){
		        status = '<button class="ganttbutton button3">'+status+'</button>';
		      }
		      else if(status == 'to prep'){
		        status = '<button class="ganttbutton button4">'+status+'</button>';
		      }
		      else if(status == 'to ship'){
		        status = '<button class="ganttbutton button5">'+status+'</button>';
		      }
		      else if(status == 'to received'){
		        status = '<button class="ganttbutton button6">'+status+'</button>';
		      }
		      else if(status == 'partial delivered'){
		        status = '<button class="ganttbutton button7">'+status+'</button>';
		      }
		      else if(status == 'completed'){
		        status = '<button class="ganttbutton button8">'+status+'</button>';
		      }
		      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
		      return status;
		    },

	      	getTask() {
	        	return this.$store.dispatch('getProjectTaskWithOrders',{
	          		task_id: this.task_id
	        	})
	        	.then(res => {
	        		this.data = [];
	        		this.orders = [];

                let { code, data, orders } = res;
	            	if( code == 200 ) {
                    	this.data = data;
                    	this.orders = orders;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

  		},

		created () {
			let { task_id, project_id } = this.$parent.$parent.content;

      		this.task_id = task_id;
            this.project_id = project_id;

      		this.getTask();
  		}


	}

</script>

<style>

.upload-demo .el-upload-dragger {
	width: 498px !important;
	margin-bottom: -6px;
}

.circle-wrap {
  /*margin: 50px auto;*/
  width: 70px;
  height: 70px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 70px, 70px, 35px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 35px, 70px, 0px);
  background-color: #0063b1;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(var(--percent-circle));
  color: var(--percent-circle);
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--percent-circle));
  }
}

.circle-wrap .inside-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 16px;
}

.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
#fbcomment{
  background:#fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  color: #4b4f56;
  padding:50px;
}
.header_comment{
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid #e9ebee;
    line-height: 25px;
    margin-bottom: 24px;
    padding: 10px 0;
}
.sort_title{
  color: #4b4f56;
}
.sort_by{
  background-color: #f5f6f7;
  color: #4b4f56;
  line-height: 22px;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #ccd0d5;
}
.count_comment{
  font-weight: 600;
}
.body_comment{
    padding: 0 8px;
    font-size: 14px;
    display: block;
    line-height: 25px;
    word-break: break-word;
}
.avatar_comment{
  display: block;
}
.avatar_comment img{
  height: 48px;
  width: 48px;
}
#list_comment{
	list-style-type:none;
	padding-left: 0px;
}
.box_comment{
	display: block;
    position: relative;
    line-height: 1.358;
    word-break: break-word;
    border: 1px solid #d3d6db;
    word-wrap: break-word;
    background: #fff;
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
	padding: 0;
}
.box_comment textarea{
	min-height: 40px;
	padding: 12px 8px;
	width: 100%;
	border: none;
	resize: none;
}
.box_comment textarea:focus{
  outline: none !important;
}
.box_comment .box_post{
	border-top: 1px solid #d3d6db;
    background: #f5f6f7;
    padding: 8px;
    display: block;
    overflow: hidden;
}
.box_comment label{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
.box_comment button{
  margin-left:8px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.box_comment button:hover{
  background-color: #29487d;
  border-color: #29487d;
}
.box_comment .cancel{
	margin-left:8px;
	background-color: #f5f6f7;
	color: #4b4f56;
	text-decoration: none;
	line-height: 22px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: center;
  border-color: #ccd0d5;
}
.box_comment .cancel:hover{
	background-color: #d0d0d0;
	border-color: #ccd0d5;
}
.box_comment img{
  height:16px;
  width:16px;
}
.box_result{
  margin-top: 24px;
}
.box_result .result_comment h4{
  font-weight: 600;
  white-space: nowrap;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
}
.box_result .result_comment{
  display:block;
  overflow:hidden;
  padding: 0;
}
.child_replay{
	border-left: 1px dotted #d3d6db;
	margin-top: 12px;
	list-style: none;
	padding:0 0 0 8px
}
.reply_comment{
	margin:12px 0;
}
.box_result .result_comment p{
  margin: 4px 0;
  text-align:justify;
}
.box_result .result_comment .tools_comment{
  font-size: 12px;
  line-height: 1.358;
}
.box_result .result_comment .tools_comment a{
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
.box_result .result_comment .tools_comment span{
  color: #90949c;
}
.body_comment .show_more{
  background: #3578e5;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
  width: 100%;
  font-weight:bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.mention-item {
  padding: 4px 10px;
  border-radius: 4px;
}

.vue-popover-theme{
	z-index: 999999;
	background-color: #FFF;
	color: #000;
}

.mention-selected {
  background-color: #4267b2;
}

.el-image-viewer__close{
	color: #FFF !important;
}

</style>
