<template>
  <div ref="byServicePreview" >
  <div id="byservice-preview">

   <el-row style="background-color: #63b8d5;">
        <el-col :span="12"><div class="cell cell-header" style="border-top:1px solid #ccc;"><b>{{ lang['_servic_name'] }}</b></div></el-col>
        <el-col :span="12"><div class="cell cell-header" style="border-top:1px solid #ccc;"><b>{{ lang['_total_service_cost'] }}</b></div></el-col>
   </el-row>

   <el-row  v-for="(value, name, index) in services">
       <el-col :span="12"><div class="cell"><b>{{ value['detail'] }}</b></div></el-col>
       <el-col :span="12"><div class="cell"><b>{{ value['total_service_cost'] }}</b></div></el-col>

       <div  v-for="(v1, n1, i1) in value['bydates']">
        <el-row>
          <el-col :span="4"><div class="cell"><b>{{ lang['_package'] }}</b></div></el-col>
          <el-col :span="4"><div class="cell"><b>{{ lang['_status'] }}</b></div></el-col>
          <el-col :span="4"><div class="cell"><b>{{ lang['_charge'] }}</b></div></el-col>
          <el-col :span="4"><div class="cell"><b>{{ lang['_discount'] }}</b></div></el-col>
          <el-col :span="4"><div class="cell"><b>{{ lang['_service_sub'] }}</b></div></el-col>
          <el-col :span="4"><div class="cell"><b>{{ lang['_group_total_bal'] }}</b></div></el-col>
        </el-row>


          <div class="cell cell-date">{{ v1['sdate'] }}</div>

          <div  v-for="(v2, n2, i2) in v1['members']">

            <div class="cell"><b>{{ v2['name'] }}</b></div>

            <div>
            <el-row>
              <el-col :span="4"><div class="cell">{{ v2['service']['tracking'] }}</div></el-col>
              <el-col :span="4"><div class="cell">{{ v2['service']['status'] }}</div></el-col>
              <el-col :span="4"><div class="cell">{{ v2['service']['charge'] }}</div></el-col>
              <el-col :span="4"><div class="cell">{{ v2['service']['discount'] }}</div></el-col>
              <el-col :span="4"><div class="cell">{{ v2['service']['discount'] }}</div></el-col>
              <el-col :span="4"><div class="cell">{{ v2['_group_total_bal'] }}</div></el-col>
            </el-row>
          </div>

         </div>

       </div>
   </el-row>
    <img src="http://cpanel.visa_api.test/images/banner.png" height="100px" width="100%" style="position:absolute;">
   <div class="table-responsive">
            <table class="table table-bordered" >
              <thead >
                <tr>
                  <th><b>Animal</b></th>
                  <th>Name</th>
                  <th>Power Lvl 0-100</th>
                  <th>Sound</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cate</td>
                  <td>Kidlat</td>
                  <td>97</td>
                  <td>Miiiiiiiiiyaaaaw!!!</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>Cure</td>
                  <td>80</td>
                  <td>Nggggggggggggrraw!!!</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>Pickle</td>
                  <td>79</td>
                  <td>Aaaaaaw!!! *high pitch*</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>V3</td>
                  <td>90</td>
                  <td>Raaaaw!!! *high pitch*</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>V4</td>
                  <td>40</td>
                  <td>Raaaaw!!! *high pitch x3*</td>
                </tr>
              </tbody>
            </table>
      </div>

  </div>

  <button @click="print"></button>
  </div>
</template>


<script>
// components

import html2canvas from 'html2canvas';
import jsPDF from 'jspdf';


export default {
  name: 'byservice-preview',
    components: {html2canvas, jsPDF},
  data () {
    return {
      loading: false,
      data: this.$parent.service.rawData,
      lang: this.$parent.service.rawData.lang,
      services: this.$parent.service.rawData.services
    }
  },

  mounted() {
    console.log("raw data",this.data.services);
  },

  methods: {
    print () {
     this.$htmlToPaper('byservice-preview');


     // let elem = document.getElementById('byservice-preview');
     // let clone = elem;
     //
     //
     // clone.style.display = 'block';
     //
     // html2canvas(clone).then(function(canvas) {
     //     var img = canvas.toDataURL("image/png");
     //     var doc = new jsPDF('p','mm','legal');
     //     doc.addImage(img, 'JPEG', 1, 1, 210, 450);
     //     doc.save("sample.pdf");
     // });

    }
  },

  components: {}
}
</script>

<style lang="scss" scoped>
  .cell{
    padding:4px;
    border-top:1px solid #ccc;
      font-size: 11px;
  }
  .cell-header{
    background: #63b8d5
  }

  .cell-date{
    background: #d5d0b5
  }

</style>
