<template>

	<div>

		<div class="heading">
		  	<h1 class="title">
		  		Preset Profile
		  		<span id="service-name">{{ form.preset_name }}</span>
		  		<span id="service-name"><small>{{ form.preset_name_cn }}</small></span>

		  	</h1>

		   	<router-link :to="{ name: 'presets'}">
	        	<el-button size="small" class="m-10">{{ $t('Common.back') }}</el-button>
	      	</router-link>
		</div>

		<div class="m-b-40">

			<el-form ref="preset_form" :model="form" :inline="true" label-width="120px" label-position="left" style="width: 100%;">
	            <el-row :gutter="20" class="form-container">
		            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
		                
		                <div>
		                	<el-form-item
					          label="Preset Name"
					          prop="preset_name"
					          :rules="[
					            { required: true, message: 'Preset name is required.' }
					          ]"
					        >
					          <el-input style="width: 500px;" type="text" v-model.proj_name="form.preset_name" autocomplete="off"></el-input>
					        </el-form-item>
		                </div>
		            </el-col>
		            <el-col  :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
		                
		                <div>
		                	<el-form-item
					          label="Preset Name CH"
					          prop="preset_name_cn"
					        >
					          <el-input style="width: 500px;" type="text" v-model.proj_name="form.preset_name_cn" autocomplete="off"></el-input>
					        </el-form-item>
		                </div>
		            </el-col>
		        </el-row>

	            <el-row :gutter="20" class="form-container">
	              <el-col :span="24">
	                <div class="label">Select Materials :</div>
	                <div>
	                  <el-form-item prop="presets">
	                  <el-select v-model="xform.materials" filterable multiple placeholder="Select Materials" style="width: 1280px;" @change="displayTable">
	                      <el-option
	                        v-for="s in materials"
	                        :key="s.id"
	                        :label="s.name"
	                        :value="s.id">
	                      </el-option>
	                    </el-select>
	                  </el-form-item>
	                </div>
	              </el-col>
	            </el-row>

	        </el-form>

<!-- 	        {{oldmaterials}}<br><br>-->
	        <!-- {{form.materials}} -->
	        <!--{{oldmaterials != form.materials}} -->

		    <el-alert
		    	v-if="oldmaterials != form.materials"
		    	class="m-b-10"
					title="Click Save Changes"
					type="info"
					show-icon>
			</el-alert>

			<!-- <el-table-draggable @drop="handleDrop"> -->
				<el-table ref="table" width="100%" :data="form.materials" v-loading="loading" row-class-name="movable">
					<el-table-column label="List of Materials" label-class-name="tbl-header">
						<el-table-column label="Material Name" width="400" align="left">
						   	<template slot-scope="scope">
						      	{{ scope.row.name }}
						    </template>
						</el-table-column>

						<el-table-column label="Specs">
							<template slot-scope="scope">
							    {{ scope.row.specs }}
							</template>
						</el-table-column>

						<el-table-column label="Retail Price">
							<template slot-scope="scope">
							    {{ scope.row.retail_price }}
							</template>
						</el-table-column>

						<el-table-column label="Ratio">
							<template slot-scope="scope">
							    <!-- {{ scope.row.ratio }} -->
							    <el-input size="mini" type="number" min="0" v-model="form.materials[scope.$index].ratio" autocomplete="off" placeholder="Enter actual qty" style="width: 150px; "></el-input>
							</template>
						</el-table-column>
					</el-table-column>
				</el-table>
			<!-- </el-table-draggable> -->

			<el-button @click="saveChanges" type="primary" size="small" icon="el-icon-check" class="pull-right m-t-10 m-b-10">
		    	{{ $t('Service.save_changes') }}
			</el-button>

			<div class="m-t-20"></div>

    	</div>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';

	export default {
		name: 'preset-profile',

		components: {
    		ElTableDraggable,
  		},
		
		data () {
			return {
				loading: false,

				serviceId: this.$route.params.service_id,

				serviceName: null,

				serviceProcedures: [],

				optionalServiceProcedures: [],

				sorted: false,
				preset_name: '',
				preset_name_cn: '',

				materials : [],
				oldmaterials : [],
				selected : [],

				form: {
			        preset_name : '',
			        preset_name_cn : '',
			        preset_id : 0,
			        materials : [], 
			      },
			     xform: {
			     	preset_id : 0,
			        materials: [],
			        oldmaterials: [],
			        tempmaterials: [],
			     },
			}
		},

		methods:{
			displayTable(){
		      this.$store.dispatch('getSelectedMaterials', { payload: this.xform }).then(response => {
		        this.form.materials = response.data.materials;
		      })
		    },

			saveChanges() {

				this.$store.dispatch('updatePresetMaterials', { payload: this.form })
                    .then(response => {
                    	
                        if (response.status === 'Success') {

                            this.$message({
                                showClose: true,
                                message: this.$t('Common.successfully_updated'),
                                type: 'success',
                                center: true
                            });
                            //location.reload();
                        } else {
                            const errors = response.errors;

                            for (const key in errors) {
                                 if (errors.hasOwnProperty(key)) {
                                    const message = errors[key][0];

                                    this.$message({
                                        type: 'error',
                                        message: message
                                    });
                                }
                            }
                        }
                    });
			}
		},

		created() {
			const vm = this
			this.form.preset_id   = vm.$parent.$route.params.id
			this.xform.preset_id   = vm.$parent.$route.params.id
		    this.$store.dispatch('getAllMaterials', { payload: this.form } ).then(response => {
		        this.materials = response.data.materials;
		        this.form.preset_name = response.data.preset.name;
		        this.form.preset_name_cn = response.data.preset.name_cn;
		        this.xform.materials = response.data.preset.material_ids;
		        this.oldmaterials = response.data.preset.materials;
		        this.form.materials = response.data.preset.materials;
		      })
		}
	}
</script>

<style lang="scss">
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

/*  	.movable {
  		cursor: move;
  	}*/

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #24313c;
  		font-size: 16px;
  	}

  	.m-b-40 {
  		margin-bottom: 120px;
  		overflow-y: scroll;
  		overflow-x: hidden;	
  	}
</style>