<template>
  <header class="header">
   <h1 class="brand">
      <el-button size="mini" @click.prevent="goHome"><el-image src="http://api.codedcph.com/images/logo.png" style="width: 150px; padding: 0px !important;"></el-image></el-button>
    </h1>
<!--       <div class="text-box">
        <el-select
        v-model="value"
        filterable
        remote
        :placeholder="$t('Common.search-project-placeholder')"
        :remote-method="searchClient"
        :loading="loading"
        :loading-text="$t('Common.searching-client') + '...'"
        style="width: 100%;" :no-data-text="$t('Common.no-client-found')"
        @change="goToClientProfile(value)" >
        <template slot="prefix"><i class="el-icon-search" style="padding-top: 13px; padding-left: 5px;;"></i></template>
        <el-option
          v-for="item in clientResults"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
      </div> -->

      <div class="text-box">
        <el-select
        v-model="groupvalue"
        filterable
        remote
        :placeholder="$t('Common.search-project-placeholder')"
        :remote-method="searchGroup"
        :loading="loading"
        :loading-text="$t('Common.searching-project') + '...'"
        style="width: 100%;" :no-data-text="$t('Common.no-project-found')"
        @change="goToProjectProfile(groupvalue)" >
        <template slot="prefix"><i class="el-icon-search" style="padding-top: 13px; padding-left: 5px;;"></i></template>
          <el-option
            v-for="item in groupResults"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </div>

  <div class="info-box">

    <el-row :gutter="20" type="flex" justify="end">
      <el-col :span="10">
        <el-dropdown>
          <el-button  icon="el-icon-user">{{ $t('Common.hi') }}{{ session.user.first_name + " " + session.user.last_name}}!</el-button>
            <el-dropdown-menu slot="dropdown">
               <el-dropdown-item icon="el-icon-s-custom"><router-link :to="{ name: 'profile' }">{{ $t('Navigation.profile') }}</router-link></el-dropdown-item>
               <el-dropdown-item icon="el-icon-edit"><router-link :to="{ name: 'profile' }">{{ $t('Service.edit_profile') }}</router-link></el-dropdown-item>
             </el-dropdown-menu>
        </el-dropdown>
      </el-col>

      <!-- Notifications -->
      <el-col :span="2">
        <el-badge :value="getNotificationCount()" class="item" type="primary" :hidden="!(getNotificationCount() > 0)">
          <el-dropdown trigger="click">
            <el-button icon="el-icon-bell"></el-button>
            <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item disabled style="color: #606266;"><b>Notifications</b></el-dropdown-item>
                  <el-dropdown-item disabled divided style="color: #606266;" v-if="receivedDocuments.length === 0">
                    No new notification
                  </el-dropdown-item>
                  <el-dropdown-item
                    v-for="rd in receivedDocuments"
                    :key="rd.id"
                    :label="rd.id"
                    :value="rd.id"
                    divided>
                    <!-- <router-link :to="{ name: 'view-received-documents', params: {id: rd.id, data: rd} }" target="_blank"> -->
                      <div @click.prevent="goToNotification(rd)">
                        <el-row type="flex" align="middle">
                        <el-col :span="2">
                          <span class="status-indicator" :style="(rd.status !== 0) ? 'background-color: gray;' : ''"></span>
                        </el-col>
                        <el-col :span="22">
                          <span>
                            {{ (receivedDocuments.length === 1) ? 'You have received a document from '+ rd.sender +'.' : 'You have received documents '+ rd.sender +'.' }}
                          </span>
                        </el-col>
                        </el-row>
                      </div>
                    <!-- </router-link> -->
                  </el-dropdown-item>
              </el-dropdown-menu>
          </el-dropdown>
        </el-badge>
      </el-col>

      <el-col :span="10">
        <el-dropdown>
            <el-button icon="el-icon-arrow-down el-icon--right">{{$t('Header.language')}}</el-button>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                        v-for="item in options"
                        :disabled="item.value==current.language"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                        @click.native="langChange(item.value)">
                    {{item.label}}
                </el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
      </el-col>
      <el-col :span="4">
        <el-button icon="el-icon-switch-button" @click.prevent="logout"></el-button>
      </el-col>
    </el-row>
  </div>
  </header>

</template>

<script>
import { mapGetters } from 'vuex'
import MenuList from './menu'

export default {
  name: 'app-header',

  components: { MenuList },

  data () {
    return {
      authUser : [],
      user_branch : '',
      clientSearch : '',
      clientResults : [],
      groupResults : [],
      loading: false,
      value: [],
      groupvalue: [],
      options: [
        {
          value: 'en',
          label: 'English'
        },
        {
          value: 'cn',
          label: 'Chinese'
        }],
      current: {
        language: 'en'
      },
      receivedDocuments: []
    }
  },

  computed: mapGetters({
    header: 'header',
    session: 'session'
  }),

  created () {

    this.$store.dispatch('getCurrentUser')
      .then(res => {
        this.authUser = res
        this.user_branch = res.branches[0].id
      })
      .catch(res => {
        if(res == 'Error: Request failed with status code 401'){
           this.$message({
            message: 'Login Session Expired, Please try to login again.',
            type: 'warning'
          });
          this.$router.replace({ path: '/login' })
        }
      }
    );

    if (!this.session.token) {
      this.$router.replace({ path: '/login' })
    }

  },

  methods: {
    logout () {
      this.$store.dispatch('deleteToken')
      this.$router.replace({ path: '/login' })
      this.$tabEvent.emit('deleteToken');
    },

    goHome () {
      let routeData = this.$router.resolve(
          {
            name: 'dashboard'
          }
        );

        window.open(routeData.href, '_self');
        location.reload();
    },
    langChange (v) {
      this.current.language = v
      return this.$i18n.locale = v
    },
    searchClient(queryString) {
      this.clientResults = [];
      if (queryString !== '') {
          this.loading = true;
          setTimeout(() => {
            return this.$services.client.clientSearch({
              keyword : queryString,
              branch_id : this.user_branch
            })
            .then(response => {
            this.loading = false;
            this.clientResults = response.data.data;
          })
          }, 200);
        } else {
          this.clientResults = [];
        }

    },
    goToClientProfile(client_id){
      window.open('#/clients/profile/'+client_id, '_blank');
    },

    searchGroup(queryString) {
      this.groupResults = [];
      if (queryString !== '') {
          this.loading = true;
          setTimeout(() => {
            return this.$store.dispatch('loadSearchResults', {
              keyword : queryString,
              branch_id : this.user_branch
            })
            .then(response => {
            this.loading = false;
            this.groupResults = response;
          })
          }, 200);
        } else {
          this.groupResults = [];
        }

    },

    goToProjectProfile(group_id){
      window.open('#/projects/profile/'+group_id, '_blank');
    },
      
    goToNotification(rd) {
      let routeData = this.$router.resolve(
          {
            name: 'view-received-documents',
            params: {id: rd.id, data: rd}
          }
        );
        window.open(routeData.href, '_blank');
    },

    getNotificationCount() {
      var counter = 0;

      this.receivedDocuments.map((item, index) => {
        if(item.status.toString() === '1') {
          counter++;
        }
      })

      return counter;
    }

  },

    
}
</script>

<style lang="scss" scoped>
  .status-indicator {
    width: 5px; 
    height: 5px; 
    border: 1px solid gray; 
    float: left;
    border-radius: 50%;
  }
</style>

<style lang="scss">
    .el-dropdown-menu__item {
      line-height: 20px !important;
    }
</style> 