<template>
  <div class="heading">
    <h1 class="title">{{ title }}</h1>
  </div>
</template>

<script>
// TODO: use this component for all page heading
export default {
  name: 'heading',
  props: {
    title: String,
    showAction: Boolean,
    showSearch: Boolean
  }
}
</script>
