<template>
    <transition name="fade">
        <div class="light-box-container" v-if="isVisible" @keyup="onKeyup($event)">
            <div class="bg-black" v-on:click="callback($event)">
                <transition name="fade">
                    <div class="img-container" v-if="isImgVisible">
                        
                        <div class="img-inner">
                            <!-- <div class="img-div"> -->
                            <v-zoomer
                              class="zoomer-container">

                                <div style="flex-direction: row; display: flex;">
                                    <div class="hover-left"
                                        v-if="this.slctdImg > 0">
                                        <div class="prev-container nav-container"
                                            @click="prevImg">
                                            <i class="el-icon-arrow-left"></i>
                                        </div>
                                    </div>

                                    <div>
                                        <img :src="storageURL + this.images[this.slctdImg].file_path"
                                        class="img-holder" />
                                        <div class="details-container">
                                            <div class="details" style="padding-bottom: 10px;">{{ this.images[this.slctdImg].client_document_type }}</div>
                                            <div class="details">{{ $t('Clients.client-id') }}: {{ this.images[this.slctdImg].client_id }}</div>
                                            <div class="details">{{ $t('Common.issued-at') }}: {{ this.images[this.slctdImg].issued_at }}</div>
                                            <div class="details">
                                                {{ $t('Common.exp-at') }}: {{ (this.images[this.slctdImg].expired_at === '0000-00-00') ? 'N/A' : this.images[this.slctdImg].expired_at }}
                                            </div>
                                            
                                            <div class="button-container">
                                                <i class="el-icon-delete delete-button" @click="deleteDoc"></i>
                                                <i class="el-icon-close close-button" @click="close"></i>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="hover-right"
                                        v-if="this.slctdImg<(this.images.length-1)">
                                        <div class="next-container nav-container"
                                            @click="nextImg"
                                            >
                                            <i class="el-icon-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>  
                                  
                              <!-- </div> -->
                              
                            </v-zoomer>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </transition>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import { mapGetters, mapActions } from 'vuex'


export default {
    name: 'app-lightbox',
    data () {
        return {
            isVisible: false,
            data: [],
            images: [],
            slctdImg: 0,
            isImgVisible: true,
            storageURL: process.env.VUE_APP_STORAGE,
            scale: 1
        }
    },
    directives: {
        ClickOutside
    },
    computed: mapGetters({
            lightbox: 'lightbox'
        }),

    methods: {
        show () {
            this.isVisible = true
            this.data = this.lightbox.data.content
            this.images = this.lightbox.data.content.data

            this.data.data.filter((item, index) => {
                if(item.file_path === this.data.selected) {
                    this.slctdImg = index;
                }
            })
        },

        deleteDoc() {
            var data = this.images[this.slctdImg]

            this.$confirm('Are you sure you want to delete the selected document(s)?')
            .then(_ => {
                console.log('selected delete', data)
                this.$store.dispatch('deleteDocsByClient', {
                    data: data
                }).then(res => {
                    if(res.success) {
                        this.$message({
                            type: 'success',
                            message: this.$t('Profile.doc-delete-success')
                        });

                        setTimeout(() => {
                            this.$eventBus.$emit('uploadListOfClientDocs',true);
                            this.close()
                        }, 1000)
                    } else {
                        this.$message({
                            type: 'error',
                            message: this.$t('Profile.doc-delete-failed')
                        });
                    }
                })
            })
            .catch(_ => {});
        },

        close () {
            this.isVisible = false
        },

        prevImg () {
            if(this.slctdImg > 0) {
                this.slctdImg--;
                this.isImgVisible = false
                setTimeout(() => {
                    this.isImgVisible = true
                }, 300)
            }
        },

        nextImg () {
            if(this.slctdImg<(this.images.length-1)) {
                this.slctdImg++;
                this.isImgVisible = false
                setTimeout(() => {
                    this.isImgVisible = true
                }, 300)
            }
        },

        zoomImage () {
          this.scale = 3
        },

        callback ($event) {
            var clickedElement = $event.target.className;
            console.log(clickedElement)
            switch(clickedElement) {
                case 'img-container':
                    this.close()
                    break
                case 'img-inner':
                    this.close()
                    break
                case 'vue-zoomer zoomer-container':
                    this.close()
                    break
                     default:
                    break;
            }
        },

        onKeyup ($event) {
            console.log('on keyup', $event)
        }
    },
    mounted () {
        var self = this
        
        window.addEventListener('keyup', function(ev) {
            if(self.isVisible) {
                // self.myMethod(ev); // declared in your component methods
                var keyPressed = ev.key
                keyPressed = keyPressed.toLowerCase()
                
                if(keyPressed === 'arrowleft') {
                    self.prevImg()
                } else if(keyPressed === 'arrowright') {
                    self.nextImg()
                }
            }
        });
       
    }
}
</script>

<style lang="scss" scoped>
    .light-box-container {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow:visible;
        z-index: 999;

        .bg-black {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.75);
            overflow-y: scroll;

            .button-container {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
            }

            .delete-button {
                // position: absolute;
                color: #f56c6c;
                font-size: 1.7em;
                // top: 0;
                // right: 0;
                font-weight: 700;
                cursor: pointer;
                margin-right: 10px;

                &:hover {
                    color: #f78989;
                }
            }

            .close-button {
                // position: absolute;
                color: #a9a9a9;
                font-size: 2em;
                // top: 0;
                // right: 0;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    color: #fff;
                }
            }

            .img-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: 100%;

                .img-inner {
                    display: flex;
                    flex-direction: column;
                    // width: 100%;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                }

                .img-div {
                    display: flex;  
                    position: relative;

                    .hover-left {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 50%;
                        background-color: transparent;
                    }

                    .hover-right {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 50%;
                        background-color: transparent;
                    }
                }

                .zoomer-container {
                  width: 100%;
                  height: 100%; 
                  display: flex; 
                  justify-content: center; 
                  align-items: center;
                }

                .nav-container {
                    display: flex;
                    height: 100%;
                    padding: 0 5px;
                    align-items: center;
                    cursor: pointer;

                    // &:hover {
                    //     i {
                    //         color: #a9a9a9;
                    //     }
                    // }

                    i {
                        color: #a9a9a9;
                        font-size: 2em;
                        font-weight: 700;
                        cursor: pointer;

                        // &:hover {
                        //     color: #a9a9a9;
                        // }
                    }
                }

                .next-container {
                    flex-direction: row;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                }

                .details-container {
                    position: relative;
                    margin-top: 5px;

                    .details {
                        font-size: .85em;
                        font-weight: 700;
                        color: #eee;
                    }
                }
            }

            .img-holder {
                object-fit: contain;
                height: 600px;
                background-color: #fff;
                padding: 5px;
                border-radius: 3px;
            }
        }

        

        .hide {
            opacity: 0;
            
            i {
                cursor: default;
            }
        }

        .show {
            opacity: 1;
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>

<style lang="scss">
    .light-box-container {
        .el-image__error, .el-image__inner, .el-image__placeholder {
            height: auto !important;
            width: auto !important;
            max-height: 100%;
            max-width: 100%;
        }

        .zoomer {
          width: auto !important;
          display: flex !important;
          flex-direction: column;
          justify-content: center;
        }
    }
</style>