<template>
  <ul class="list">
    <template v-for="(item, i) in items">
      <li class="divider" :key="i" v-if="item.divider && haveAccess(item.name)"></li>
      <li class="title" v-else-if="item.title && haveAccess(item.name)" :key="i">{{ $t(item.title) }}</li>
      <li class="item" v-else :class="{ active: activeClass && isActive(item) }" :key="i">
        <router-link :to="item" :class="'icon-before icon-' + item.icon" :title="item.text" :target="target(item.text)" v-if="haveAccess(item.name)">{{ $t(item.text) }}</router-link>
        <ul class="list" v-if="item.children">
          <template v-for="(sub, s) in item.children">
            <li class="divider" v-if="sub.divider" :key="s"></li>
            <li class="item" v-else :class="{ active: activeClass && isActive(sub) }" :key="s">
              <router-link :to="sub" v-if="haveAccess(sub.name)"
                :title="sub.text"
                :event="(sub.name!=='add-temp-client' && sub.name!=='centralized-report') ? 'click' : ''"
                @click.native="handleClick(sub.name)">
                  {{ $t(sub.text) }}
              </router-link>
            </li>
          </template>
        </ul>
      </li>
    </template>
  </ul>
</template>

<script>
import AddTempClient from '../views/clients/components/add-temp-client'
import { mapGetters } from 'vuex'

export default {
  name: 'menu-list',

  props: {
    items: Array,
    activeClass: Boolean
  },

  components: {
    AddTempClient
  },

  computed: mapGetters({
    session: 'session'
  }),

  methods: {
    isActive (route) {
      const objectEqual = (a, b) => (Object.keys(a).length !== Object.keys(b).length) || Object.keys(a).every(key => String(a[key]) === String(b[key]))
      const routeEqual = item => item.name === this.$route.name && (!item.params || objectEqual(item.params, this.$route.params))
      return routeEqual(route) || (route.children && route.children.length && route.children.some(item => routeEqual(item)))
    },

    handleClick (item) {
      if(item === "add-temp-client") {
        this.$store.dispatch('callModal', { child_component: AddTempClient, title: this.$t('Clients.add-temp-client'), modalWidth: '55%' })
      }

      //alert(text);
      if(item === "centralized-report"){
        let routeData = this.$router.resolve(
          {
            name: 'centralized-report'
          }
        );
        window.open(routeData.href, '_blank');
      }

    },

    target (text) {
      // if(text == "Navigation.financing"){
      //   return '_blank';
      // }
    },

    haveAccess(name){
      // console.log(name);

      var permissions = this.session.user.permissions;
      if(typeof name !== "undefined"){
        name = name.replace(/-/g, " ");
        //console.log('View '+this.titleCase(name));
        //console.log(permissions);
        if(permissions.includes('View '+this.titleCase(name)) ){
          return true;
        }
      }
      // var ids = [1,1193];
      // var check = ids.includes(id);
      // if(check){
      //   return true;
      // }

      // if(name == "financial-monitor" || name == "financial-delivery"){
      //     if(id == 9 || id == 12978){
      //       return true
      //     }
      // }

      // if(name == "dashboard" || name == "clients" || name == "groups" || name == "read-reports"){
      //   return true;
      // }

      // if(name == "list-of-services"){
      //     if(id == 12978){
      //       return true
      //     }
      // }
      // return false;
    },

    titleCase (str) {
      if ((str===null) || (str===''))
           return false;
      else
       str = str.toString();

     return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }
  }
}
</script>
