<template >
  <el-dialog
    :title="$t(title)" :visible.sync="isVisible" :width="modalWidth" @close="close()"
    :close-on-click-modal="false" :close-on-press-escape="false"
     center>
    <span>
       <component v-bind:is="child_component" ></component>
    </span>
  </el-dialog>
</template>

<script>

// openModal
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'app-modal',

  data () {
    return {
      isVisible: false,
      title: '',
      content: {},
      modalWidth: '50%',
      child_component: null,
      content: {}
    }
  },

  computed:
      mapGetters({
        modal: 'modal'
      }),

  methods: {
    show () {
      // var screenWidth = window.innerWidth
      // if(screenWidth <= 768) {
      //   this.modalWidth = '90%'
      // } else {
      //   this.modalWidth = this.modal.data.modalWidth
      // }
      this.onResize();
      this.isVisible = true
      this.title = this.modal.data.title
      this.child_component = this.modal.data.child_component
      this.content = this.modal.data.content

      if(this.isVisible) {
        window.addEventListener('resize', this.onResize)
      }
    },
    close () {
      this.isVisible = false
      setTimeout(() => {
          this.child_component = null
      }, 500)
    },
    onResize () {
      var screenWidth = Number(window.innerWidth)

      if(screenWidth <= 768) {
        this.modalWidth = '90%'
      } else {
        this.modalWidth = this.modal.data.modalWidth
      }

      
    }
  },

  mounted () {
    // if(this.isVisible) {
    //   window.addEventListener('resize', this.onResize)
    // }
  },

  props: {
    fullscreen: {
      type: Boolean,
      default: false
    },
    actions: Function
  }

}
</script>
