<template>
    <el-scrollbar wrap-style="max-height: 100%;" class="sidebar-container">
    <aside class="sidebar" :class="{ collapse: sidebar.collapse }">
      <nav class="menu">
        <menu-list :items="sidebar.menus" active-class/>
      </nav>
      <footer class="footer">
        <a class="toggle icon-before icon-circle-left" :title="$t('Common.toggle_navigation')" @click="toggleCollapse"></a>
      </footer>
    </aside>
  </el-scrollbar>

</template>
 
<script>
import { mapGetters, mapActions } from 'vuex'
import MenuList from './menu'

export default {
  name: 'app-sidebar',

  components: { MenuList },

  computed: mapGetters({
    sidebar: 'sidebar'
  }),

  methods: mapActions({
    toggleCollapse: 'toggleSidebarCollapse'
  })
}
</script>

 <style lang="scss">
  .sidebar-container {
   .el-scrollbar__wrap{
      overflow: scroll;
      overflow-x:hidden;
      overflow-y:auto;
    }
  }
  </style>
