<template>
  <div class="add-cpanel-account">
    <div class="heading">
      <h1 class="title">{{ $t('CPanel.add_cpanel_account') }}</h1>
    </div>

    <div class="body-container">
      <div class="form-container container-padding">
        <el-form ref="user-form" :model="form" :rules="rules">
          <PersonalInfo
            v-bind:genders = "genders"
            v-bind:civilStatuses = "civilStatuses"
            v-bind:form = "form"
            ref="personalInfo"></PersonalInfo>
          
          <br />
          
          <WorkInfo
            v-bind:form = "form"
            v-bind:rules = "rules"
            ref="workInfo"></WorkInfo>

          <br />

          <ContactInfo
            v-bind:form = "form"
            v-bind:rules = "rules"
            ref="contactInfo"></ContactInfo>

          <br />


          <AcctInfo
            v-bind:form = "form"
            v-bind:branches = "branches"
            ref="acctInfo"></AcctInfo>

          <br />

          <Roles
            v-bind:roles = "roles"
            v-bind:form = "form"
            v-bind:rules = "rules"
            ref="roles"></Roles>


          <!-- Buttons -->
          <br />
          <div class="inner-container">
            <router-link :to="{ name: 'cpanel-accounts'}">
                <el-button type="danger" class="left-button">{{ $t('Common.back') }}</el-button>
            </router-link>
            <el-button type="primary" @click="onSubmit('user-form')">{{ $t('Common.save') }}</el-button>
          </div>
          <!-- End of Buttons -->
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import PersonalInfo from './components/add-new-cpanel-user-personal-info'
import ContactInfo from './components/add-new-cpanel-user-contact-info'
import WorkInfo from './components/add-new-cpanel-work-info'
import AcctInfo from './components/add-new-cpanel-user-acct-info'
import Roles from './components/add-new-cpanel-user-roles'

export default {
  name: 'new-cpanel-account',
  components: {
    PersonalInfo,
    ContactInfo,
    WorkInfo,
    AcctInfo,
    Roles
  },
  data () {
    var contactNumberValidation = (rule, value, callback) => {
      this.form.contact_numbers.filter((contacts, index) => {
          if (value == contacts.number) {
            contacts.err = " "
          }
      })
      // check if value is null
      if (value === '') {
        callback(new Error(' '))
        this.form.contact_numbers.filter((contacts, index) => {
          if (value == contacts.number) {
            contacts.err = this.$t('CPanel.contact_is_required')
          }
        })
      } else {
        // check min and max input
        var val_len = value.length

        this.form.contact_numbers.filter((contacts, index) => {
          if (value == contacts.number) {
            if (contacts.is_mobile == 1) {
              if (val_len < 11) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-min11-max13')
              } else if (val_len > 13) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-exceed13')
              }
            } else {
              if (val_len < 8) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-min8-max10')
              } else if (val_len > 10) {
                callback(new Error(' '))
                contacts.err = this.$t('Common.contact-exceed10')
              }
            }
          }
        })

        var counter = 0
        this.form.contact_numbers.filter((contacts, index) => {
          if (contacts.number === value) {
            counter++
          }
        })

        var contactIndex = 0
        if (counter > 1) {
          callback(new Error(this.$t('Clients.duplicate_number')))
        } else {
          this.form.contact_numbers.filter((contacts, index) => {
            if (contacts.number === value) {
              contactIndex = index
            }
          }) 

          if (this.errors['contact_numbers.' + contactIndex + '.number'] !== null && this.errors['contact_numbers.' + contactIndex + '.number'] !== undefined) {
            callback(new Error(this.$t('Clients.number_already_taken')))
          } else {
            callback()
          }
        }
      }
    }

    var passwordValidation  = (rule, value, callback) => {
      var val_len = value.length
      var is_def_pw = this.form.is_default_password
      var conf_pw = this.form.password_confirmation

      if(!is_def_pw){
        if(val_len == 0){
          callback(new Error(this.$t('CPanel.pass_is_required')))
        }else{
          callback()
        }
      }else{
        callback()
      }
    }

    var confirmPasswordValidation = (rule, value, callback) => {
        var val_len = value.length
        var is_def_pw = this.form.is_default_password
        var pw = this.form.password

        if(!is_def_pw){
          if(val_len == 0){
            callback(new Error(this.$t('CPanel.re_type_pass')))
          }else{
            callback()
          }
        }else{
          callback()
        } 
    }

	  return {
      form: {
        first_name: '',
        middle_name: '',
        last_name: '',
        nick_name: '',
        birthday: '',
        gender: '',
        civil_status: '',
        position: '',
        basic_rate: '',
        ot_rate: '',
        op_allowance: '',
        meal_allowance: '',
        load_allowance: '',
        sss: '',
        pagibig: '',
        philhealth: '',
        cash_advance: '',
        hire_date: '',
        released_date: '',
        email: '',
        contact_numbers: [
          {
            number: '',
            is_primary: 1,
            is_mobile: 1,
            err:''
          }
        ],
        address: '',
        is_default_password: true,
        password: '',
        password_confirmation: '',
        roles: [],
        permissions: [],
        //branch: '',
        department:''
      },

      genders: [ 
        {
          value: this.$t('Clients.male')
        },
        {
          value: this.$t('Clients.female')
        }
      ],

      civilStatuses: [
        {
          value: this.$t('Clients.single')
        },
        {
          value: this.$t('Clients.married')
        },
        {
          value: this.$t('Clients.widowed')
        },
        {
          value: this.$t('Clients.divorced')
        },
        {
          value: this.$t('Clients.separated')
        }
      ],

      roles: [],
      permissions: [],
      branches: [],
      departments:[],
      rules: {
        first_name: [
          { required: true, message: this.$t('CPanel.fname_is_required') }
        ],
        last_name: [
          { required: true, message: this.$t('CPanel.lname_is_required') }
        ],
        nick_name: [
          { required: true, message: this.$t('CPanel.nickname_is_required') }
        ],
        birthday: [
          { required: true, message: this.$t('CPanel.bday_is_required') }
        ],
        hire_date: [
          { required: true, message: this.$t('CPanel.hiredate_is_required') }
        ],
        position: [
          { required: true, message: this.$t('CPanel.position_is_required') }
        ],
        gender: [
          { required: true, message: this.$t('CPanel.gender_is_required') }
        ],
        civil_status: [
          { required: true, message: this.$t('CPanel.civil_status_is_required') }
        ],
        address: [
          { required: true, message: this.$t('CPanel.address_is_required') }
        ],
        password: [
          { validator: passwordValidation, trigger: 'blur'  }
        ],
        password_confirmation:[
          { validator: confirmPasswordValidation, trigger: 'blur'  }
        ],
        contact_numbers: [
          {
            number: [
              { validator: contactNumberValidation, trigger: 'blur' }
            ],
          }
        ],
        roles :[
          { required: true, message: this.$t('CPanel.role_is_required') }
        ],
        // department: [
        //   { required: true, message: this.$t('CPanel.dept_is_required') }
        // ],

      },

	    }
  },
  created () {
    this.getRoles()
    this.getPermissions()
    this.getbranches()
    this.getDepartments()
  },

  methods: {
    getRoles () {
      var select_role = [];
      this.$store.dispatch('getRoles')
        .then(response => {
          response.map(function (value) {
            if(value.name != "cpanel-admin"){
              select_role.push(value);
            }
          }) 
          this.roles = select_role;    
        })
        
     },

    getPermissions () {
      var perm = [];
      this.$store.dispatch('getPermissions')
        .then(response => {
          response.map(function (value) {
            if(value.type == "Financing Visa"){
              perm.push(value);
            }
          }) 
          this.permissions = perm;    
        })
        
     },
    getbranches () {
      this.$store.dispatch('getBranches')
        .then(res => {
          this.branches = res.data.branches
        })
    },

    getDepartments(){
      this.$store.dispatch('getAllDepartments')
        .then(response => {
          this.departments = response.data;
        })
    },
    
    onSubmit (userForm) {
      const form = this.form
      var counter = 0
      this.errors = []

      this.$refs[userForm].validate((response) => {
        if (response) {
          //no error
          if (counter === 0) {
            
            this.$store.dispatch('addCpanelUser', this.form)
              .then(response => {
                var responseStatus = response.status.toLowerCase()
                // If adding of new user is failed
                if (responseStatus === 'failed') {
                  const errors = response.errors
                  for (const key in errors) {
                    if (errors.hasOwnProperty(key)) {
                      const message = errors[key][0]
                      setTimeout(() => {
                        this.$message({
                          type: 'error',
                          message: message
                        })
                      }, 1)
                    }
                  }
                } else { // If adding of new user status is success
                  this.$message({
                    showClose: true,
                    message: this.$t('CPanel.new_user') + ' ' + form.first_name + ' ' + form.last_name + ' ' + this.$t('CPanel.was_successfully_added'),
                    type: 'success',
                    center: true
                  })

                  this.$router.push({ name: 'cpanel-accounts' })
                }
              })
          }
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>
    .body-container {
      display: block;
      width: 100%;
      height: auto;
      background-color: #FFFFFF;
      padding-bottom: 10px;
      margin-bottom: 20px;
      overflow: auto;
    }

    .container-padding {
        padding: 15px 1.2rem 15px 1.2rem;
    }

    .form-container {
      display: block;

        .inner-container {
            // margin-top: 20px;

            .label {
                // margin-bottom: 5px;
            }
        }

        div {
          display: block;
        }

        .left-button{
          margin-right: 5px;
        }

    }

</style>

<style lang="scss">
  .add-cpanel-account {
    padding-bottom: 10px;

    .el-form-item__label {
      line-height: 20px;
      margin-top: 15px;
      font-size: 12px;
    }
    
    .el-form-item {
      margin-bottom: 0px;
    }

  }
</style>