<template>
  <div>
    <div class="heading">
      <h1 class="title">{{ $t('Navigation.cpanel-accts')  }}</h1>
      <form class="search icon-before icon-search" @submit.prevent="">
        <input type="text" :placeholder="$t('CPanel.search_user')" v-model="search">
      </form>
      <router-link :to="{ name: 'add-cpanel-account'}" >
        <el-button type="primary" size="small" icon="el-icon-plus" class="left-button">{{ $t('CPanel.add_new_user') }}</el-button>
      </router-link>
    </div>

    <div class="index-body">
      <el-tabs type="card" @tab-click="handleClick">
        <el-tab-pane label="Accounts"><Accounts/></el-tab-pane>
        <el-tab-pane label="Roles"><Roles/></el-tab-pane>
      </el-tabs>
    </div>

  </div>

</template>

<script>
  import Accounts from './components/account'
  import Roles from './components/roles'

  export default {
    name: 'index',
    components: {
      Accounts,
      Roles
    },
    data(){
      return {
        search: '',
        tabActive: 'Accounts'
      };
    },
    methods: {
      handleClick(tab, event) {
        this.tabActive = tab.label;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .index-body{
    background-color: white;
    padding: 20px;
  }
</style>
