<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
      <div>
        <el-form-item
          label="Supplier Full Name"
          prop="full_name"
          :rules="[
            { required: true, message: 'Full name is required.' }
          ]"
        >
          <el-input type="text" v-model.proj_name="form.full_name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Nickname"
            prop="nick_name"
            :rules="[
              { required: true, message: 'Nickname is required.' }
            ]"
          >
            <el-input type="text" v-model.proj_name="form.nick_name" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>


      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item label="Gender"
            prop="gender"
            :rules="[
              { required: true, message: 'gender is required.' }
            ]">
            <el-select :placeholder="$t('Common.select-gender')" v-model="form.gender" style="width: 100%;">
              <el-option
                  v-for="gender in genders"
                  :key="gender.value"
                  :label="gender.value"
                  :value="gender.value">
              </el-option>
            </el-select>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
        <el-form-item
          label="Contact Person"
          prop="contact_person"
        >
          <el-input type="text" v-model="form.contact_person" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Contact Number"
            prop="contact_number"
          >
            <el-input maxlength="20" v-model="form.contact_number"
                                                @keypress.native="numbersOnly($event)"
                                                style="width: calc(100% - 38px);">
                                            </el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Email Address"
            prop="email"
          >
            <el-input type="text" v-model="form.email" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Tin"
            prop="tin"
          >
            <el-input type="text" v-model="form.tin" ></el-input>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End Second Row -->


    <!-- Fifth Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item prop="bank" label="Bank">
                <el-input
                  type="text"
                  v-model="form.bank"
                  >
                </el-input>
              </el-form-item>
        </div>
      </el-col>
      <el-col :xs="24" :sm="9" :md="9" :lg="9" :xl="9">
      <div>
          <el-form-item prop="bank_account_name" label="Account Name">
                <el-input
                  type="text"
                  v-model="form.bank_account_name"
                  autocomplete="off">
                </el-input>
              </el-form-item>
        </div>
      </el-col>
      <el-col :xs="24" :sm="9" :md="9" :lg="9" :xl="9">
      <div>
          <el-form-item prop="bank_account_number" label="Account Number">
                <el-input
                  type="text"
                  v-model="form.bank_account_number"
                  autocomplete="off">
                </el-input>
              </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Fifth Row -->

    <!-- Fifth Row -->
  <el-row :gutter="30">
    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
          <el-form-item prop="desc" label="Address">
                <el-input
                  type="textarea"
                  :rows="2"
                  v-model="form.address"
                  resize="none">
                </el-input>
              </el-form-item>
        </div>
      </el-col>
      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
          <el-form-item prop="desc_ch" label="Notes">
                <el-input
                  type="textarea"
                  :rows="2"
                  v-model="form.notes"
                  resize="none">
                </el-input>
              </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of Fifth Row -->


  <el-form-item>

    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-group',
  data () {
    return {
      method : null,
      form: {
        full_name: '',
        nick_name: '',
        gender: '',
        contact_person: '',
        contact_number: '',
        tin: '',
        address: '',
        email: '',
        notes: '',
        bank: '',
        bank_account_number: '',
        bank_account_name: '',
        id: '',
      },
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,
      genders: [ 
        {
          value: this.$t('Clients.male')
        },
        {
          value: this.$t('Clients.female')
        }
      ],
    }
  },

  props: {
    //method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {
    this.method = this.$parent.$parent.content.method;
    var val = this.$parent.$parent.content.data;
    if(val != null){
      this.form = val;
    }
    //this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

  },

  mounted() {},

  methods: {
    numbersOnly ($event) {
          return this.$store.dispatch('numbersOnly', $event)
    },
    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

      // you can add rules for validations
      return this.$store.dispatch('addeditSupplier', { method: this.method, payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('syncSupplierData');
        }else{

          // console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
