<template>
  <div id="financing" style="height: 100%;">
    <div class="heading">
      <el-row :gutter="10" style="width: 100%;">
        <el-col :span="4">
          <h1 class="title"> {{ $t('Financing.financial_monitor') }}</h1>
        </el-col>

        <el-col :span="5">
          <span > Metro Bank : <b>{{ metrobank | currency}}</b></span><br>
          <span > Security Bank : <b>{{ securitybank | currency}}</b></span><br>
          <span > AUB : <b>{{ aub | currency}}</b></span><br>
          <span > Juancash : <b>{{ juancash_balance | currency}}</b></span>
        </el-col>

        <el-col :span="4">
          <span > Eastwest : <b>{{ eastwest | currency}}</b></span><br>
          <span > China Bank : <b>{{ chinabank | currency}}</b></span><br>
          <span > PNB : <b>{{ pnb | currency}}</b></span>
        </el-col>

        <el-col :span="5">
          <span > {{ $t('Financing.total_bank_bal') }} : <b>{{ bank_balance | currency}}</b></span><br>
          <span > {{ $t('Financing.total_cash_bal') }} : <b>{{ cash_balance | currency}}</b> </span><br>
          <span > {{ $t('Financing.total') }} : <b>{{ total_balance | currency}}</b></span>
        </el-col>

        <el-col :span="6">
          <!-- <span class="profile-StatLabelSmall profile-block">{{$t('Branch.branch')}}:</span> -->
          <div>

            <el-select  @change="changeBranch" v-model="branch" :placeholder="$t('Clients.select')" size="large" style="width: 125px">
              <el-option
                v-for="item in branches"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>

            <el-date-picker
              style="width: 120px;margin-left: 20px;"
              v-model="yearmonth"
              type="month"
              format="yyyy/MM"
              placeholder="yyyy-mm"
              value-format="yyyy-MM"
              :clearable="false"
              @change="changeDate">
            </el-date-picker>

            <el-button  type="primary" icon="el-icon-plus" style="margin-left: 5px;" @click="openFinanceModal()"></el-button>
            <el-tooltip class="item" effect="dark" content="Export" placement="top">
              <el-button type="primary" icon="el-icon-right"
                         style="margin-left: 5px;"
                         @click="showExportModal()"/>
            </el-tooltip>

            <!-- </el-form> -->
          </div>
        </el-col>
      </el-row>
    </div>

    <div class="sidebar-col" id="stats">
      <div class="float-button">
        <el-button size="mini" type="primary" style="margin-left: 16px;" icon="el-icon-d-arrow-right" @click="showStats()">
        </el-button>
      </div>
      <el-row :gutter="10" style="width: 100%;">
        <el-col :span="24" >
          <span > {{ $t('Financing.initial_cash') }}Initial Cash: <b class="rfloat">{{ initial_cash | currency}}</b></span><br>
          <span > {{ $t('Financing.initial_bank') }}Initial Bank: <b >{{ initial_bank | currency}}</b></span><br>
          <span > {{ $t('Financing.cash_bal') }}Cash Balance: <b>{{ cash_balance | currency}}</b></span><br>
          <span > {{ $t('Financing.bank_bal') }}Bank Balance: <b>{{ bank_balance | currency}}</b></span><br>
          <span > {{ $t('Financing.total') }}Total: <b>{{ total_balance | currency}}</b></span><br>
          <span > {{ $t('Financing.profit') }}Profit: <b>{{ total_profit | currency}}</b></span><br>
          <span > {{ $t('Financing.process_output') }}Process Output: <b>{{ process_output | currency}}</b></span><br>
          <span > {{ $t('Financing.rec_bef') }}How much we received from client: <b>{{ we_receive_before | currency}}</b></span><br>
          <span > {{ $t('Financing.rec_aft') }}How much we received after we spent for client: <b>{{ we_receive_after | currency}}</b></span><br>
        </el-col>
      </el-row>
    </div>

    <data-table :get-data="getData"
                ref="table"
                :columns="columns">
         <span slot="row" slot-scope="{row}">
          <center>{{row.index}}</center>
         </span>

      <span slot="created_at" slot-scope="{row}">
          {{row.created_at}}
         </span>

      <span slot="updated_at" slot-scope="{row}">
          {{row.updated_at}}
         </span>

      <b slot="trans_desc" slot-scope="{row}" :class="colorcode(row)">
        {{row.trans_desc}}
      </b>

      <span slot="cat_type" slot-scope="{row}">
          {{row.cat_type}}
         </span>

      <span slot="cat_storage" slot-scope="{row}">
          {{row.cat_storage}}
         </span>

      <span slot="cash_client_depo_payment" slot-scope="{row}">
          {{row.cash_client_depo_payment | currency}}
         </span>

      <span slot="cash_client_refund" slot-scope="{row}">
          {{row.cash_client_refund | currency}}
         </span>

      <span slot="cash_client_process_budget_return" slot-scope="{row}">
          {{row.cash_client_process_budget_return | currency}}
         </span>

      <span slot="cash_process_cost" slot-scope="{row}">
          {{row.cash_process_cost | currency}}
         </span>

      <span slot="cash_admin_budget_return" slot-scope="{row}">
          {{row.cash_admin_budget_return | currency}}
         </span>

      <span slot="borrowed_admin_cost" slot-scope="{row}">
          {{row.borrowed_admin_cost | currency }}
         </span>

      <span slot="cash_admin_cost" slot-scope="{row}">
          {{row.cash_admin_cost | currency}}
         </span>

      <span slot="bank_client_depo_payment" slot-scope="{row}">
          {{row.bank_client_depo_payment | currency}}
         </span>

      <span slot="bank_cost" slot-scope="{row}">
          {{row.bank_cost | currency}}
         </span>

      <span slot="deposit_other" slot-scope="{row}">
          {{row.deposit_other | currency}}
         </span>

      <span slot="cost_other" slot-scope="{row}">
          {{row.cost_other | currency}}
         </span>

      <span slot="additional_budget" slot-scope="{row}">
          {{row.additional_budget | currency}}
         </span>

      <span slot="admin_total" slot-scope="{row}">
          {{ row.admin_total | currency}}
         </span>

      <span slot="cash_balance" slot-scope="{row}">
          {{ row.cash_balance | currency}}
         </span>

      <span slot="bank_balance" slot-scope="{row}">
          {{ row.bank_balance | currency}}
         </span>

      <span slot="metrobank" slot-scope="{row}">
          {{ row.bank_metrobank | currency}}
         </span>

      <span slot="securitybank" slot-scope="{row}">
          {{ row.bank_security | currency}}
         </span>

      <span slot="aub" slot-scope="{row}">
          {{ row.bank_aub | currency}}
         </span>

      <span slot="eastwest" slot-scope="{row}">
          {{ row.bank_ew | currency}}
         </span>

      <span slot="chinabank" slot-scope="{row}">
          {{ row.bank_chinabank | currency}}
         </span>

      <span slot="pnb" slot-scope="{row}">
          {{ row.bank_pnb | currency}}
         </span>

      <span slot="jcash" slot-scope="{row}">
          {{ row.bank_juancash| currency}}
         </span>

      <span slot="total_balance" slot-scope="{row}">
          {{ row.total | currency}}
         </span>

      <span slot="postdated_checks" slot-scope="{row}">
          {{ row.postdated_checks }}
         </span>


      <!--         <div slot="action" slot-scope="{row}">
                  <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Common.change-status')" placement="top-start" >
                      <el-button  type="success" size="mini" icon="el-icon-edit-outline" @click="changeStatusModal(row.id, row.risk)"></el-button>
                  </el-tooltip>

                  <el-tooltip :enterable="enterable" class="item" effect="dark" :content="$t('Common.client-profile')" placement="top-start">
                      <router-link :to="{ name: 'clients-profile', params: { id: row.id } }" target="_blank"> <el-button  icon="el-icon-arrow-right" size="mini"></el-button></router-link>
                  </el-tooltip>
              </div> -->

    </data-table>
  </div>
</template>

<script>
  //Components
  import DataTable from '../../components/datatable'
  import AddEditFinance from './components/add-edit-finance.vue'
  import ExportModal from './components/export-modal'

  export default {
    name: 'financing',
    components: {
      DataTable, AddEditFinance, ExportModal
    },
    data () {
      return {
        drawer: false,
        projects: [],
        projects2: [],
        initial_cash: 0,
        initial_bank: 0,
        cash_balance: 0,
        bank_balance: 0,
        juancash_balance: 0,
        total_balance: 0,
        total_profit: 0,
        process_output: 0,
        we_receive_before: 0,
        we_receive_after: 0,
        metrobank:0,
        securitybank:0,
        eastwest:0,
        chinabank:0,
        pnb:0,
        aub:0,
        enterable : false,
        users: [],
        selections: [],
        yearmonth: '',
        branch: 1,
        branches: [],
        total: 0,
        size: 2000,
        page: 1,
        search: '',
        sort: '',
        order: '',
        loading: false,
        height: window.innerHeight,
        index:0,
        columns: [ // set table column names here, use expand to expand child content
          // {
          //   type: "expand"
          // },
          {
            prop: 'row',
            label: 'Row',
            minWidth: '80px',fixed: 'left',
          },

          {
            prop: 'created_at',
            label: this.$t('Common.date_created'),
            minWidth: '140px',fixed: 'left',
          },

          {
            prop: 'updated_at',
            label: this.$t('Common.date_updated'),
            minWidth: '140px',fixed: 'left',
          },

          {
            prop: 'trans_desc',
            label: this.$t('Financing.transact_desc'),
            minWidth: '400px',fixed: 'left',
          },

          {
            prop: 'cat_type',
            label: this.$t('Common.type'),
            minWidth: '100px',fixed: 'left',
          },

          {
            prop: 'cat_storage',
            label: this.$t('Common.storage'),
            minWidth: '100px',fixed: 'left',
          },

          {
            prop: 'cash_client_depo_payment',
            label: this.$t('Financing.cash_depo'),
            minWidth: '180px',
          },

          {
            prop: 'cash_client_refund',
            label: this.$t('Financing.refund'),
            minWidth: '180px',
          },

          {
            prop: 'cash_client_process_budget_return',
            label: this.$t('Financing.process_budg_return'),
            minWidth: '180px',
          },

          {
            prop: 'cash_process_cost',
            label: this.$t('Financing.proc_cost'),
            minWidth: '180px',
          },

          {
            prop: 'cash_admin_budget_return',
            label: this.$t('Financing.admin_budget_return'),
            minWidth: '180px',
          },

          {
            prop: 'borrowed_admin_cost',
            label: this.$t('Financing.borrowed_admin_cost'),
            minWidth: '180px',
          },

          {
            prop: 'cash_admin_cost',
            label: this.$t('Financing.admin_cost'),
            minWidth: '180px',
          },

          {
            prop: 'bank_client_depo_payment',
            label: this.$t('Financing.bank_depo_pay'),
            minWidth: '180px',
          },

          {
            prop: 'bank_cost',
            label: this.$t('Financing.bank_cost'),
            minWidth: '180px',
          },

          {
            prop: 'deposit_other',
            label: this.$t('Financing.depo_matter'),
            minWidth: '180px',
          },

          {
            prop: 'cost_other',
            label: this.$t('Financing.cost_matter'),
            minWidth: '180px',
          },

          {
            prop: 'additional_budget',
            label: this.$t('Financing.additional_budget'),
            minWidth: '180px',
          },

          {
            prop: 'admin_total',
            label: this.$t('Financing.admin_total'),
            minWidth: '180px',
          },

          {
            prop: 'cash_balance',
            label: this.$t('Financing.cash_bal'),
            minWidth: '180px',
          },

          {
            prop: 'bank_balance',
            label: this.$t('Financing.total_bank_bal'),
            minWidth: '180px',
          },

          {
            prop: 'metrobank',
            label: 'Metrobank ' + this.$t('Clients.balance'),
            minWidth: '180px',
          },

          {
            prop: 'securitybank',
            label: 'Security Bank ' + this.$t('Clients.balance'),
            minWidth: '180px',
          },

          {
            prop: 'aub',
            label: 'AUB ' + this.$t('Clients.balance'),
            minWidth: '180px',
          },

          {
            prop: 'eastwest',
            label: 'Eastwest ' + this.$t('Clients.balance'),
            minWidth: '180px',
          },

          {
            prop: 'chinabank',
            label: 'China Bank ' + this.$t('Clients.balance'),
            minWidth: '180px',
          },

          {
            prop: 'pnb',
            label: 'PNB ' + this.$t('Clients.balance'),
            minWidth: '180px',
          },

          {
            prop: 'jcash',
            label: 'Juancash ' + this.$t('Clients.balance'),
            minWidth: '180px',
          },

          {
            prop: 'total_balance',
            label: this.$t('Financing.total'),
            minWidth: '180px',
          },

          {
            prop: 'postdated_checks',
            label: this.$t('Financing.checks'),
            minWidth: '180px',
          },
          // {
          //   prop: 'action',
          //   fixed: 'left',
          //   label: this.$t('Common.actions'),
          //   width: '150'
          // }
        ]
      }
    },

    created () {
      var year = new Date().getFullYear();
      var month = new Date().getMonth()+1;
      this.yearmonth = year+'-'+month;

      this.loadBranches();

      this.height = window.innerHeight;
      // initial data
      // this.loadUsers()
    },

    mounted () {
      this.$eventBus.$on('getBranch', (data) => {
        this.$eventBus.$emit('passBranch',this.branch);
      });

      this.$eventBus.$on('refreshFinancing', (data) => {
        this.$refs.table.getTableData();
      })

    },

    methods: {
      getData ({ page, query, sortParams, size }) {
        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        this.projects2 = [];
        var initial_bank = 0,
          initial_cash = 0,
          processt = 0,
          tclient_dep = 0,
          tclient_dep2 = 0,
          admin_total = 0,
          cash_total_balance = 0,
          bank_total_balance = 0,
          juancash_total = 0,
          total = 0,
          profit = 0,
          metrobank = 0,
          securitybank = 0,
          aub = 0,
          ewb=0,
          chinabank = 0,
          pnbank = 0,
          juancash = 0;

        return this.$store.dispatch('getFinancing',
          {
            date: this.yearmonth,
            branch_id: this.branch
          }).then(response => {
          const { data } = response

          // if (this.tableData.draw == data.draw) {
          this.projects = data.data;

          var finance2 = {};
          var arr = [];

          (this.projects.reverse()).forEach((value, key) => {

            var metro = (value.metrobank != null && value.metrobank != '' ? parseFloat(value.metrobank) : 0) ;
            var security = (value.securitybank != null && value.securitybank != ''  ? parseFloat(value.securitybank) : 0);
            var aubb = (value.aub != null && value.aub != '' ? parseFloat(value.aub) : 0);
            var ew = (value.eastwest != null && value.eastwest != '' ? parseFloat(value.eastwest) : 0);
            var cb = (value.chinabank != null && value.chinabank != '' ? parseFloat(value.chinabank) : 0);
            var pnb = (value.pnb != null && value.pnb != '' ? parseFloat(value.pnb) : 0);
            var jcash = (value.juancash != null && value.juancash != '' ? parseFloat(value.juancash) : 0);

            var cost =
              (
                (value.cash_process_cost != null && value.cash_process_cost != '' ? parseFloat(value.cash_process_cost) : 0)
                +   (value.borrowed_process_cost != null && value.borrowed_process_cost != '' ? parseFloat(value.borrowed_process_cost) : 0)
                -   (value.cash_client_process_budget_return != null && value.cash_client_process_budget_return != '' ? parseFloat(value.cash_client_process_budget_return) : 0)
              );

            var client_dep =
              (
                (
                  (value.borrowed_process_cost != null && value.borrowed_process_cost != '' ? parseFloat(value.borrowed_process_cost) : 0)
                  + 	(value.cash_client_depo_payment != null && value.cash_client_depo_payment != '' ? parseFloat(value.cash_client_depo_payment) : 0)
                  + 	(value.bank_client_depo_payment != null && value.bank_client_depo_payment != '' ? parseFloat(value.bank_client_depo_payment) : 0)
                )
                -
                (
                  (value.cash_client_refund != null && value.cash_client_refund != '' ? parseFloat(value.cash_client_refund) : 0)
                  + 	(value.additional_budget != null && value.additional_budget != '' ? parseFloat(value.additional_budget) : 0)
                )
              );

            var client_dep_after =
              (
                (
                  (value.cash_client_depo_payment != null && value.cash_client_depo_payment != '' ? parseFloat(value.cash_client_depo_payment) : 0)
                  + 	(value.cash_client_process_budget_return != null && value.cash_client_process_budget_return != '' ? parseFloat(value.cash_client_process_budget_return) : 0)
                  + 	(value.borrowed_process_cost != null && value.borrowed_process_cost != '' ? parseFloat(value.borrowed_process_cost) : 0)
                  + 	(value.bank_client_depo_payment != null && value.bank_client_depo_payment != '' ? parseFloat(value.bank_client_depo_payment) : 0)
                )
                -
                (
                  (value.cash_client_refund != null && value.cash_client_refund != '' ? parseFloat(value.cash_client_refund) : 0)
                  + 	(value.cash_process_cost != null && value.cash_process_cost != '' ? parseFloat(value.cash_process_cost) : 0)
                )
              );

            var admin_t =
              (
                (value.cash_admin_cost != null && value.cash_admin_cost != '' ? parseFloat(value.cash_admin_cost) : 0)
                -
                (value.cash_admin_budget_return != null && value.cash_admin_budget_return != '' ? parseFloat(value.cash_admin_budget_return) : 0)
              );

            var tmpcash_balance =
              (
                (value.cash_balance != null && value.cash_balance != '' ? parseFloat(value.cash_balance) : 0)
                +   (value.cash_client_depo_payment != null && value.cash_client_depo_payment != '' ? parseFloat(value.cash_client_depo_payment) : 0)
                +	(value.cash_client_process_budget_return != null && value.cash_client_process_budget_return != '' && value.cat_storage == 'cash' ? parseFloat(value.cash_client_process_budget_return) : 0)
                +	(value.cash_admin_budget_return != null && value.cash_admin_budget_return != '' && value.cat_storage == 'cash' ? parseFloat(value.cash_admin_budget_return) : 0)
                +   (value.deposit_other != null && value.deposit_other != '' && value.cat_storage == 'cash' ? parseFloat(value.deposit_other) : 0)
              )
              -
              (
                (value.cash_client_refund != null && value.cash_client_refund != '' && value.cat_storage == 'cash' ? parseFloat(value.cash_client_refund) : 0)
                +	(value.cash_process_cost != null && value.cash_process_cost != '' && value.cat_storage == 'cash' ? parseFloat(value.cash_process_cost) : 0)
                +	(value.cash_admin_cost != null && value.cash_admin_cost != '' && value.cat_storage == 'cash' ? parseFloat(value.cash_admin_cost) : 0)
                +	(value.additional_budget != null && value.additional_budget != '' && value.cat_storage == 'cash' ? parseFloat(value.additional_budget) : 0)
                +	(value.borrowed_admin_cost != null && value.borrowed_admin_cost != '' ? parseFloat(value.borrowed_admin_cost) : 0)
                +	(value.borrowed_process_cost != null && value.borrowed_process_cost != '' ? parseFloat(value.borrowed_process_cost) : 0)
                +	(value.cost_other != null && value.cost_other != '' && (value.deposit_other == null || value.deposit_other == '') && value.cat_storage == 'cash' ? parseFloat(value.cost_other) : 0)
                +	(value.cost_other != null && value.cost_other != '' && (value.deposit_other != null && value.deposit_other != '') && value.cat_storage == 'bank' ? parseFloat(value.cost_other) : 0)
              );


            var tmpbank_balance_metrobank = metro + parseFloat(this.bankComputation('metrobank', value));

            var tmpbank_balance_security = security + parseFloat(this.bankComputation('securitybank', value));

            var tmpbank_balance_aub = aubb + parseFloat(this.bankComputation('aub', value));

            var tmpbank_balance_ew = ew + parseFloat(this.bankComputation('eastwest', value));

            var tmpbank_balance_chinabank = cb + parseFloat(this.bankComputation('chinabank', value));

            var tmpbank_balance_pnbank = pnb + parseFloat(this.bankComputation('pnb', value));

            var tmpbank_balance_juancash = jcash + parseFloat(this.bankComputation('juancash', value));


            var tmpprofit =
              (
                (value.cash_client_depo_payment != null && value.cash_client_depo_payment != '' ? parseFloat(value.cash_client_depo_payment) : 0) +
                (value.cash_client_process_budget_return != null && value.cash_client_process_budget_return != '' ? parseFloat(value.cash_client_process_budget_return) : 0) +
                (value.borrowed_process_cost != null && value.borrowed_process_cost != '' ? parseFloat(value.borrowed_process_cost) : 0) +
                (value.cash_admin_budget_return != null && value.cash_admin_budget_return != '' ? parseFloat(value.cash_admin_budget_return) : 0) +
                (value.borrowed_admin_cost != null && value.borrowed_admin_cost != '' ? parseFloat(value.borrowed_admin_cost) : 0) +
                (value.bank_client_depo_payment != null && value.bank_client_depo_payment != '' ? parseFloat(value.bank_client_depo_payment) : 0)
              ) -
              ((value.cash_client_refund != null && value.cash_client_refund != '' ? parseFloat(value.cash_client_refund) : 0) +
                (value.cash_process_cost != null && value.cash_process_cost != '' ? parseFloat(value.cash_process_cost) : 0) +
                (value.cash_admin_cost != null && value.cash_admin_cost != '' ? parseFloat(value.cash_admin_cost) : 0) +
                (value.additional_budget != null && value.additional_budget != '' ? parseFloat(value.additional_budget) : 0) +
                (value.bank_cost != null && value.bank_cost != '' ? parseFloat(value.bank_cost) : 0)
              );

            initial_cash += (value.cash_balance != null && value.cash_balance != '' ? parseFloat(value.cash_balance) : 0);
            initial_bank += (value.bank_balance != null && value.bank_balance != '' ? parseFloat(value.bank_balance) : 0);

            processt = processt + cost; //process cost
            tclient_dep = tclient_dep + client_dep; //how much we have before
            tclient_dep2 = tclient_dep2 + client_dep_after;
            admin_total = admin_total + admin_t;
            cash_total_balance = cash_total_balance + tmpcash_balance;
            metrobank = metrobank + tmpbank_balance_metrobank;
            securitybank = securitybank + tmpbank_balance_security;
            aub = aub + tmpbank_balance_aub;
            ewb = ewb + tmpbank_balance_ew;
            chinabank = chinabank + tmpbank_balance_chinabank;
            pnbank = pnbank + tmpbank_balance_pnbank;
            juancash = juancash + tmpbank_balance_juancash;
            bank_total_balance = bank_total_balance + (tmpbank_balance_metrobank + tmpbank_balance_security +tmpbank_balance_aub + tmpbank_balance_ew + tmpbank_balance_chinabank + tmpbank_balance_pnbank);
            juancash_total += tmpbank_balance_juancash;
            //total = total + tmptotal;
            profit = profit + tmpprofit;

            finance2 = {
              id: value.id,
              index: value.index,
              trans_desc: value.trans_desc,
              cat_type: value.cat_type,
              cat_storage: value.cat_storage,
              cash_client_depo_payment: value.cash_client_depo_payment?value.cash_client_depo_payment:0,
              cash_client_refund: value.cash_client_refund?value.cash_client_refund:0,
              cash_client_process_budget_return: value.cash_client_process_budget_return?value.cash_client_process_budget_return:0,
              cash_process_cost: value.cash_process_cost?value.cash_process_cost:0,
              borrowed_process_cost: value.borrowed_process_cost,
              cash_admin_budget_return: value.cash_admin_budget_return?value.cash_admin_budget_return:0,
              borrowed_admin_cost: value.borrowed_admin_cost?value.borrowed_admin_cost:0,
              cash_admin_cost: value.cash_admin_cost?value.cash_admin_cost:0,
              bank_client_depo_payment: value.bank_client_depo_payment?value.bank_client_depo_payment:0,
              bank_cost: value.bank_cost?value.bank_cost:0,
              cash_balance: cash_total_balance,
              bank_balance: bank_total_balance,
              juancash_balance: juancash_total,
              bank_metrobank: metrobank,
              bank_security: securitybank,
              bank_aub: aub,
              bank_ew:ewb,
              bank_chinabank:chinabank,
              bank_pnb:pnbank,
              bank_juancash:juancash,
              postdated_checks: value.postdated_checks?value.postdated_checks:0,
              cost_other: value.cost_other?value.cost_other:0,
              deposit_other: value.deposit_other?value.deposit_other:0,
              total_process: processt,
              we_have_before: tclient_dep,
              we_have_after: tclient_dep2,
              admin_total: admin_total,
              total: cash_total_balance+bank_total_balance,
              profit: profit,
              created_at: value.created_at,
              updated_at: value.updated_at,
              cost_type: value.cost_type,
              additional_budget: value.additional_budget?value.additional_budget:0
            };
            arr.push(finance2);
          });


          // if (this.tableData.search == '') {
          this.we_receive_before = tclient_dep;
          this.we_receive_after = tclient_dep2;
          this.cash_balance = cash_total_balance;
          this.bank_balance = bank_total_balance;
          this.juancash_balance = juancash_total;
          this.initial_cash = initial_cash;
          this.initial_bank = initial_bank;
          this.total_profit = profit;
          this.total_balance = cash_total_balance+bank_total_balance;
          this.eastwest = ewb;
          this.chinabank = chinabank;
          this.pnb = pnbank;
          this.process_output = processt;
          this.metrobank = metrobank;
          this.securitybank = securitybank;
          this.aub = aub;

          // }
          this.projects2 = arr.reverse();
          console.log(this.projects2);
          this.max = this.projects2.length;

          // pass data to table
          return {
            data: this.projects2,
            total: data.total,
            size: size,
            height :this.height-240
          }

        });

      },

      async loadBranches(){
        return this.$services.brances.getBranches()
          .then(res => {
            if (res.data.code === 200) {
              this.branches = res.data.data.branches
            }
          })
          .catch(err => {})
      },

      async changeBranch(branchId){
        this.$refs.table.getTableData();

        if(branchId !== ''){

          var index = this.branches.findIndex(b => b.id === branchId);

          this.$store.dispatch('callModal', {
            child_component: ChangeBranch,
            modalWidth: '35%',
            content: {
              id: branchId,
              name: this.branches[index].name,
              group_id: this.$route.params.id
            }
          }) // call global modal state
        }

      },

      async changeDate(date){
        this.$refs.table.getTableData();
      },

      bankComputation(bankname, value){
        return (
            (value.bank_client_depo_payment != null && value.bank_client_depo_payment != '' && value.storage_type == bankname ? parseFloat(value.bank_client_depo_payment) : 0)
            +	(value.cash_client_process_budget_return != null && value.cash_client_process_budget_return != '' && value.cat_storage == 'bank' && value.storage_type == bankname ? parseFloat(value.cash_client_process_budget_return) : 0)
            +	(value.deposit_other != null && value.deposit_other != '' && value.cat_storage == 'bank' && value.storage_type == bankname ? parseFloat(value.deposit_other) : 0)
          )
          -
          (
            (value.bank_cost != null && value.bank_cost != '' && value.storage_type == bankname ? parseFloat(value.bank_cost) : 0)
            +	((value.cost_other != null && value.cost_other != '') && (value.deposit_other == null || value.deposit_other == '') && value.cat_storage == 'bank' && value.storage_type == bankname ? parseFloat(value.cost_other) : 0)
            +	((value.cost_other != null && value.cost_other != '') && (value.deposit_other != null && value.deposit_other != '') && value.cat_storage == 'cash' && value.storage_type == bankname ? parseFloat(value.cost_other) : 0)
            +	(value.cash_admin_cost != null && value.cash_admin_cost != '' && value.cat_storage == 'bank' && value.storage_type == bankname ? parseFloat(value.cash_admin_cost) : 0)
            +	(value.cash_client_refund != null && value.cash_client_refund != '' && value.cat_storage == 'bank' && value.storage_type == bankname ? parseFloat(value.cash_client_refund) : 0)
            +	(value.cash_process_cost != null && value.cash_process_cost != '' && value.cat_storage == 'bank' && value.storage_type == bankname ? parseFloat(value.cash_process_cost) : 0)
            +	(value.additional_budget != null && value.additional_budget != '' && value.cat_storage == 'bank' && value.storage_type == bankname ? parseFloat(value.additional_budget) : 0)
          );
      },

      handleToggleSelection (enable) {
        const targetStatus = enable ? 'activated' : 'forbidden'
        this.selections.forEach(item => this.$services.user
          .patch(item.id, { status: targetStatus })
          .then(res => Object.assign(item, res.data)))
      },

      showStats() {
        var element = document.getElementById("stats");
        element.classList.toggle("sidebar-col-visible");
        var div = document.getElementsByClassName("float-button")[0];
        div.getElementsByClassName("el-icon-d-arrow-right")[0].classList.toggle("el-icon-d-arrow-left");
      },

      openFinanceModal () {

        var component = AddEditFinance;
        var title = 'New Transaction';
        var width = '400px';
        let juanCash_balance = this.juancash_balance;

        this.$store.dispatch('callModal', { child_component: component, title: title, modalWidth: width, content: { juanCash_balance} }) // call global modal state

      },

      colorcode(row){
        if((
            (row.cash_admin_cost > 0 && (row.cash_admin_budget_return == null))
            ||
            (row.cash_process_cost > 0 && (row.cash_client_process_budget_return == null))
          )
          && row.cost_type == 1 && row.additional_budget == null){
          return 'cc-red';
        }
        else if(row.additional_budget > 0){
          return 'cc-yellow';
        }
        else{
          return '';
        }
      },

      showExportModal(){
        this.$store.dispatch('callModal', {
          child_component: ExportModal,
          modalWidth: '40%',
          content: {
            data: this.projects2,
            data2: {
              metroBank: this.metrobank,
              securityBank: this.securitybank,
              aub: this.aub,
              eastWest: this.eastwest,
              chinaBank: this.chinabank,
              pnb: this.pnb,
              bank_balance: this.bank_balance,
              cash_balance: this.cash_balance,
              total_balance: this.total_balance
            }
          }
        })
      },

    }
  }
</script>

<style lang="scss">
  .cc-yellow{
    color: #B0A508;
  }
  .cc-red{
    color: red;
  }
  .sidebar, .el-pagination__sizes, .btn-prev, .btn-next, .el-pager {
    display: none !important;
  }

  #financing{
    .cell{
      font-size: 	10.5px !important;
      word-break: break-word;
    }
    table{
      th{
        color: #000 !important;
        border-color: #ddd !important;
        border: 1px solid;
      }

      td{
        padding: 4px 0px;
        border-color: #ddd !important;
        border: 1px solid;
      }
    }

    .sidebar-col {
      margin-left:-570px;
      padding: 0;
      width: 560px;
      background-color: #F5F5F6;
      position: fixed;
      height: 280px;
      left: 0;
      z-index: 500;
      top: calc(50% - 192px);
      border-style: groove;
    }
    .sidebar-col-visible {
      margin-left:0 !important;
    }
    .float-button-visible {
      left: 570px !important;
    }
    .float-button{
      z-index: 501;
      position: fixed;
      left:-16px;
      margin-right: 56px;
      top: calc(50% + 91px);
      background-color: #F5F5F6;
    }
    #stats b{
      float: right;
      margin-right: 15px;
    }

    #stats span{
      margin-left: 25px;
      line-height: 30px;
    }
    /*  	.el-table {
          height: 300px;
          overflow : scroll;
        }*/
  }

  .content {
    .el-dialog__wrapper {
      top: 160px;
    }
  }
</style>
