<template >
  <div ref="manage_presets" class="manage-group-container">

     <div class="heading">
          <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"></el-button>
         <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch" >
           <el-input placeholder="Enter project name" prefix-icon="el-icon-search" v-model="search" clearable  style="padding-left: 30px;">
           </el-input>
         </form>
     </div>


      <data-table :get-data="getData" ref="table" :columns="columns">

            <b slot="id" slot-scope="{row}">
             {{row.id}}
            </b>

            <b slot="name" slot-scope="{row}">
             {{row.name}} <i v-if="row.nick_name">({{row.nick_name}})</i>
            </b>

           <div class="text-size" slot="Actions" slot-scope="{row}">
               <div class="top">
                 <!-- <el-tooltip class="item" effect="dark" content="View Materials" placement="top-start">
                   <el-button  type="warning" size="mini" icon="el-icon-document-add" @click="addRemarkModal(row.id)"></el-button>
                 </el-tooltip> -->

                  <el-tooltip  class="item" effect="dark" content="View Project Finance Profile" placement="top-start">
                    <router-link :to="{ name: 'project-finance-profile', params: { id: row.id, nickname: row.nick_name, redirect: 'redirect' } }" > <el-button  icon="el-icon-arrow-right" size="mini"></el-button></router-link>
                  </el-tooltip>
               </div>
           </div>
      </data-table>


</div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import DataTable from '../../components/datatable'
//import ChangeStatus from './components/change-status'
//import AddRemark from './components/add-remark'
//import ExportExcel from './components/export-excel'

export default {
  name: 'projects',
  components: {
    DataTable
  },
  data () {
    return {
      balance : 0,
      collectables : 0,
      group_list: [],
      loading: false,
      model: {},
      search: '',
      total: 0,
      size: 20,
      page: 1,
      branch:1,

      columns: [
        {
          prop: 'id',
          label: this.$t('Common.id'),
          minWidth: '60',
          sortable: true
        },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '250',
          sortable: true
        },

        {
          prop: 'total',
          label: 'Total Quotation',
          minWidth: '100',
          //sortable: true
        },

         {
          prop: 'paid',
          label: 'Paid/Collected',
          minWidth: '100',
          //sortable: true
        },

         {
          prop: 'rembal',
          label: 'Remaining Balance',
          minWidth: '100',
          //sortable: true
        },

        {
          prop: 'Actions',
          label: this.$t('Common.actions'),
          width: '70'
        }
      ]
    }
  },

  mounted () {
    this.$eventBus.$on('syncProjectData', () => {
        this.$refs.table.getTableData();
        //this.$store.dispatch('loadClientData');
    });
  },

  created () {
      
  },

  methods: {


    getData ({ page, query, sortParams, size }) {

      if(sortParams.length == 0){
        sortParams = 'id-desc'
      }
      this.page = page
      return this.$store.dispatch('loadProjectData', {
        options: '?page=' + page + '&sort=' + sortParams + '&search=' + this.search + '&perPage=' + size
      }).then(res => {
        const { data } = res;

        var fdata = res.data.projects.data;
        (fdata).forEach((value, key) => {

          
          var now = moment(); //todays date
          var end = moment(fdata[key]['est_finished_date']); // another date
          var duration = moment.duration(end.diff(now));
          var remdays = duration.asDays();
          fdata[key]['remainingDays'] = isNaN(remdays.toFixed(0)) ? '' : remdays.toFixed(0) + ' Days';

          if(fdata[key]['mob_first_date'] != null){
            var mob = moment(fdata[key]['mob_first_date']); // mob first_date
            var duration = moment.duration(now.diff(mob));
            var ongoing = duration.asDays();
          }
          else{
            var ongoing = 0;
          }

          fdata[key]['onGoingDays'] = isNaN(ongoing.toFixed(0)) ? '' : ongoing.toFixed(0) + ' Days';

          (res.data.tasks).map((d,i) => {
            if(d.id === fdata[key]['id']){
                fdata[key]['urgent'] = d.urgent;
                fdata[key]['team'] = d.team;
                fdata[key]['incharge'] = d.incharge;
            }
          });
        });

        return {
          data: fdata,
          total: res.data.projects.total,
          size: size
        }
      })
    },

    handleSearch(){
      this.$refs.table.getTableData();
    },

    handleDocs (data) {},

    addRemarkModal (id) {
      this.$store.dispatch('callModal', {
        child_component: AddRemark,
        title: this.$t('Common.add-remarks'),
        modalWidth: '50%',
        content: {
          id: id,
        }
      })
    },





  }
}
</script>

<style lang="scss">
  .manage-group-container {
    .text-size {
      font-size: 13px;
    }
  }

  .el-header {
    text-align: right;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }

  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }

  .el-tag {
    margin: 0 .0625rem;
  }

  .high-risk {
    color: RED;
  }

  .normal {
    font-weight: normal;
  }

  .remarks {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
