
<template>
  <!-- <div @contextmenu.prevent="handleClick($event)" @dblclick.prevent="handleClick($event)"> -->
  <div>
  <div id="app">

    <div><h2>{{project_name}}</h2>
        <el-row>
          <el-col :span="12">
            <h4>
                Project Address: 
                <address>
                   <a :href="proj_address_link " target="_blank">{{proj_address}}</a>
                </address>
            </h4>
        </el-col>
          <el-col :span="12">
              <el-button type="primary" style="float: right; margin-right: 8px;"  size="mini" icon="el-icon-plus" @click="handleAddEdit()">Add New</el-button>
        </el-col>
      </el-row>
    </div>

    <data-table :get-data="getData"
              ref="tasktable"
              :columns="columns" 
              >
        <div slot="prio" slot-scope="{row}">
            <!-- <span v-show="row.prio > 0" class="el-icon-s-flag" style="color: red; font-size: 16px;" alt="Priority" title="Priority"></span> -->
            <!-- <center> -->
              <el-button icon="el-icon-s-flag" circle v-if="row.prio == 0" @click="markPrio2(row.id)" size="small"></el-button>
               <el-button type="danger"  icon="el-icon-s-flag" circle v-if="row.prio == 1" @click="markPrio2(row.id)" size="small"></el-button>
            <!-- </center> -->
        </div>

        <div slot="created_at" slot-scope="{row}">
            {{ row.created_at | commonDate }} 
        </div>

        <div slot="quotation" slot-scope="{row}">
            {{ row.total }} 
        </div>

        <div slot="collection" slot-scope="{row}">
            {{ row.total_payment  }} 
        </div>

        <div slot="rb" slot-scope="{row}">
            {{ row.total - row.total_payment  }} 
        </div>

        <div slot="action" slot-scope="{row}">
            <el-button type="warning" size="small" icon="el-icon-edit"></el-button>
            <el-button type="success" size="small" icon="el-icon-view"></el-button>
        </div>

    </data-table>

    <br><br>
    <br><br>
    <br><br>

  </div>

</div>
</template>

<script>

//Components
import { mapGetters } from 'vuex'
import GanttElastic from 'gantt-elastic';
import Header from 'gantt-elastic-header';
import DataTable from '../../components/datatable';
import { Mentionable } from 'vue-mention';
import AddQuotation from './components/add-quotation'

export default {
  name: 'Project Profile',
    components: {
	     ganttElastic: GanttElastic, DataTable,
       ganttHeader: Header,
       Mentionable,
       AddQuotation
	  },
    //template:`<gantt-elastic :tasks="tasks" :options="options"></gantt-elastic>`,
  data () {
    return {
      inc : 1,
      taskLabel: [],
      selectedInput: '',
      imgs: '',
      visible: false,
      indexxx: 0,   // default: 0
      storageURL: process.env.VUE_APP_STORAGE,
      inv_id: 0,
      elisten : false,
      filterTask: [0, 100],
      loading: false,
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      dynamicStyle: {
            'task-list-header-label': {
              'font-weight': 'bold',
            },
          },
      project_id : null,
      project_name : "",
      proj_address : "",
      proj_address_link : "",
      proj_address_href : "",
      remainingDays : 0,
      onGoingDays : 0,
      task_id : null,
      tasks : [],
      files : [],
      comfiles : [],
      sections : [],
      options : [],
      editdata : {},
      users: [],

      viewMenu: false,
      viewMenu2: false,
      top: '0px',
      left: '0px',

      someStyle : {
        left : this.left,
        top  : this.top
      },

      filterCol: {
        EMPTY: true,
        PREPARATION: true,
        ONGOING: true,
        COMPLETED: false,
        PENDING: true,
        HOLD: true,
        CANCELLED: false
      },
      filterColumns: [],

      add_secflag : false,
      add_taskflag : false,

      form: {
        id: '',
        label: '',
        project_id: '',
        parent_id: 0,
        task_id: null,
        assigned_to: '',
        progress_status: '',
        prio: '',
        index: '',
        task_desc : '',
      },

      columns: [
        // {
        //   prop: 'cb',
        //   minWidth: '30',
        // },
        {
          prop: 'created_at',
          label: 'Date',
          minWidth: '80',
          sortable: true
        },
        {
          prop: 'quotation',
          label: 'Quotation',
          minWidth: '100',
          sortable: true
        },
        {
          prop: 'collection',
          label: 'Collection',
          minWidth: '100',
          sortable: true
        },
        {
          prop: 'rb',
          label: 'Remaining Balance',
          minWidth: '100',
          sortable: true
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '70',
          sortable: true
        },

      ]
    }
  },

  created () {
      this.project_id = this.$route.params.id;
      this.form.project_id = this.$route.params.id;
      //this.project_name = this.$route.params.nickname;
      this.asyncData();

      for (const prop in this.filterCol) {
        if (this.filterCol[prop]) this.filterColumns.push(prop);
        // for (let i = 0; i < 5; i++) {
        //   if (!this.tableData[i]) this.tableData[i] = {};
        //   this.tableData[i][prop] = `${prop}${i + 1}`;
        // }
      }



      this.options = {
        title: {
          label: this.project_name,
          html: true,
          style: {
            'font-size': '20px',
            'vertical-align': 'middle',
            'font-weight': 'bold',
            'line-height': '35px',
            'padding-left': '22px',
            'letter-spacing': '1px'
          }
        },
    };


  },

  computed: mapGetters({
    session: 'session'
  }),

  mounted () {

    this.$eventBus.$on('syncProjectData', () => {
        this.$refs.tasktable.getTableData();
        this.asyncData();
      });

  },

  watch: {
    filterColumns(cols, prevCols) {
      // alert();
      if (cols.length > prevCols.length) {
        this.filterCol[cols[cols.length - 1]] = true;
        this.updateFilter();
        return;
      }
      if (!cols.length) {
        this.filterColumns = prevCols;
        this.updateFilter();
        return;
      }
      for (let i = 0; i < prevCols.length; i++) {
        if (prevCols[i] !== cols[i]) {
          this.filterCol[prevCols[i]] = false;
          this.updateFilter();
          break;
        }
      }

      
    }
  },

  methods: {

    getData ({ page, query, sortParams, size}) {

        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'prio-desc'
        }

        return this.$store.dispatch('getProjectCollectables',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            //filter: 'filter=' + filter,
            project_id: 'project_id=' + this.project_id,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          
          this.index = 1;
          (this.form.data).forEach((value, key) => {
              this.form.data[key]['index'] = this.index;
              this.index = this.index + 1;  
          });
          //console.log(this.form.data);

          return {
            data: this.form.data,
            total: data.total,
            size: size
          }
        })
    },

    getDate(hours) {
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      const currentMonth = currentDate.getMonth() + 1;
      const currentDay = currentDate.getDate();
      const timeStamp = new Date(`${currentYear}-${currentMonth}-${currentDay} 00:00:00`).getTime();
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return new Date(timeStamp + hours * 60 * 60 * 1000);
    },

    getDate2(d) {
      const timeStamp = new Date(d).getTime();
      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
      return new Date(timeStamp + 0 * 60 * 60 * 1000);
    },

    async asyncData () {
      this.tasks = [];
      this.sections = [];
      this.files = [];
      this.comfiles = [];
      return this.$store.dispatch('getProjectProfile2', { id: this.project_id}).then(response => {
          // console.log('project profile', response)
          this.editdata = response.data;
          this.users = response.users;
          this.options.title.label = "test";
          this.project_name = response.data.name + "(" + response.data.nick_name + ")";
          document.title = this.project_name;

          var now = moment(); //todays date
          var end = moment(response.data.est_finished_date); // another date
          var duration = moment.duration(end.diff(now));
          var remdays = duration.asDays();
          this.remainingDays = remdays.toFixed(0);

          if(response.data.mob_first_date != null){
            var mob = moment(response.data.mob_first_date); // mob first_date
            var duration = moment.duration(now.diff(mob));
            var ongoing = duration.asDays();
          }
          else{
            var ongoing = 0;
          }

          this.onGoingDays = ongoing.toFixed(0);
          this.proj_address = response.data.address;
          this.proj_address_link = response.data.address_link;
          this.proj_address_href = "http://maps.google.com/maps?q=" + encodeURIComponent( response.data.address );

          var tasks = response.tasks;
          this.files = response.files;
          this.comfiles = response.commentfiles;
          var newTasks = [];
          var t= {};
          this.index = 1;
          (tasks).forEach((value, key) => {
            if(value.progress >= this.filterTask[0] && value.progress <= this.filterTask[1]){
              // var pluskey = key+1;
              // var btns = '';
              // if(pluskey == this.index){
              //    btns = '<br><br>test';
              // }

              t = {
                id: value.id,
                index: this.index,
                label: '<b class="task-click2" id="'+value.id+'">'+value.label+'</b>',
                label2: value.label,
                user: value.user,
                start: (value.start != null ? this.getDate2(value.start) : ''),
                duration: (value.duration ? ((value.duration + 1) * 24 * 60 * 60 * 1000) : 0),
                progress: value.progress,
                type: value.type,
                status: value.status,
                style: value.style,
                //parentId: value.parentId,
                tasks: value.tasks
              };
              this.index = this.index + 1;
              this.tasks.push(t);
              this.sections.push(t);

              if(Array.isArray(value.tasks)){
                  this.flatten(value.tasks);
              }
            }
          });
          const vm = this;
          if(!vm.elisten){          
            document.querySelector("#app").addEventListener('click', function(e){
              vm.elisten = true;
              // console.log(vm);
              if(e.target.id == 'pobutton') {
                  //window.location = '/#/inventory/list';
                  var tid = e.target.attributes.tid.value;
                  var tstat = e.target.attributes.tstat.value;
                  window.open('/#/inventory/list/'+tid+'/'+tstat, '_blank');
              }
              else if(e.target.id == 'mobbutton') {
                  //window.location = '/#/inventory/list';
                  window.open('/#/projects/purchase-order/'+e.target.attributes.projectid.value+'/'+e.target.attributes.taskid.value+'/redirect', '_blank');
              }
              else if(e.target.id == 'mcomplete') {
                vm.markComplete(e.target.attributes.taskid.value);
                  //window.location = '/#/inventory/list';
                  //alert(e.target.attributes.taskid.value);
              }
              else if(e.target.id == 'mcomplete2') {
                vm.markIncomplete(e.target.attributes.taskid.value);
              }
            })
          }
        })

    },

    flatten(tasks) {
        var t= {};
        tasks.forEach((value, key) => {
          if(value.start == null){
            var days = -1;
          }
          else{            
            var now = moment(value.end); 
            var end = moment(value.start); 
            var duration = moment.duration(now.diff(end));
            var days = duration.asDays();
          }
            var assigned = '';
            if(value.assigned_to != '' && value.assigned_to != null){
              assigned = '<b>'+value.assigned_to+'</b>';
            }

            var flg = '';
            if(value.prio){
              flg = '<span class="el-icon-s-flag" style="color: red; font-size: 16px;" alt="Priority" title="Priority"></span>';
            }

            var chck = '';
            if(value.progress == 100){
              chck = '<span class="el-icon-success" id="mcomplete2" taskid="'+value.id+'" style="color: green; font-size: 16px;" alt="Completed" title="Completed"></span>';
              chck = '<button class="iconbutton" id="mcomplete2" taskid="'+value.id+'">'+chck+'</button>';
            }
            else{
              chck = '<b class="el-icon-circle-check" id="mcomplete" taskid="'+value.id+'" style="color: #CCC; font-size: 16px;" alt="Mark as Complete" title="Mark as Complete"></b>'
              chck = '<button class="iconbutton" id="mcomplete2" taskid="'+value.id+'">'+chck+'</button>';
            }
            if(value.progress >= this.filterTask[0] && value.progress <= this.filterTask[1]){
              t = {
                id: value.id,
                index: '<b class="task-click" id="'+value.id+'">'+flg+' '+this.index+'</b>',
                label: chck+'<b class="task-click" id="'+value.id+'">'+value.label+'</b>',
                user: assigned,
                start: (value.start != null ? this.getDate2(value.start) : ''),
                duration: (days + 1) * 24 * 60 * 60 * 1000,
                progress: value.progress,
                type: value.type,
                status: this.statusColor(value.status, value.id, this.project_id),
                style: value.style,
                parentId: value.parent_id,
                tasks: value.tasks
              };
              this.tasks.push(t);
              this.index = this.index+1;
              if(Array.isArray(value.tasks)){
                  this.flatten(value.tasks);
              }
            }
        });
    },

    showInputSection(){
        this.add_secflag = true;
        this.form.task_id = 0;
    },

     handleAddEdit () {
        this.$store.dispatch('callModal', { child_component: AddQuotation, title: 'Add New Quotation', modalWidth: '40%',
          content: {
            project_id: this.project_id
          } }) // call global modal state
      },

    viewWarehouse(){
        let routeData = this.$router.resolve(
          {
            name: 'inventory-list'
          }
        );
        window.open(routeData.href, '_blank');
    },

    viewQuotation(){
        let redirect = 'redirect';
        let projectId = this.project_id;

        let routeData = this.$router.resolve(
          {
            name: 'project-view-quotation',
            params: { projectId, redirect }
          }
        );

        window.open(routeData.href, '_blank');
    },

    handleEdit () {
      this.$store.dispatch('callModal', { 
          child_component: EditProjects, 
          title: 'Edit Project',
          modalWidth: '70%',
          content: {
            data: this.editdata,
            project_id: this.project_id
          }
          }) // call global modal state
    },

    setMenu: function(top, left) {
          
            let largestHeight = window.innerHeight - this.$refs['testright'].offsetHeight - 25;
            let largestWidth = window.innerWidth - this.$refs['testright'].offsetWidth - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.top = top + 'px';
            this.left = left + 'px';

            this.someStyle = {
              left : this.left,
              top  : this.top
            }
        },

      setMenu2: function(top, left) {
          
            let largestHeight = window.innerHeight - this.$refs['testright2'].offsetHeight - 25;
            let largestWidth = window.innerWidth - this.$refs['testright2'].offsetWidth - 25;

            if (top > largestHeight) top = largestHeight;

            if (left > largestWidth) left = largestWidth;

            this.top = top + 'px';
            this.left = left + 'px';

            this.someStyle = {
              left : this.left,
              top  : this.top
            }
        },

        closeMenu: function() {
            this.viewMenu = false;
            this.viewMenu2 = false;
            this.add_taskflag = false;
        },

        show() {
          this.visible = true
        },
        handleHide() {
          this.imgs = [];
          this.visible = false
        },


  }
}
</script>

<style lang="scss">
  .select-card.el-select-dropdown.is-multiple
    .el-select-dropdown__item.selected::after {
    content: "";
  }
  .select-input {
    margin-bottom: 20px;

    .el-select__tags {
      display: none;
    }

    .el-input__inner {
      width: 70px;
      padding: 0;
    }

    .el-input__prefix {
      color: #606266;
      padding-left: 3px;
      padding-top: 5px;
    }
  }
</style>
<style >
  .el-table th, .el-table td{
    padding : 5px 0px !important;
  }
.iconbutton {
  border: none;
  color: white;
  /*padding: 4px 10px;*/
  text-align: center;
  text-decoration: none;
  display: contents;
  font-size: 11px;
  margin: 0px;
  margin-right: 6px;
  cursor: pointer;
  font-weight: 600;
}
.ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
.button1 {background-color: #d50000;} /* po */
.button2 {background-color: #FFDB58;} /* mob */
.button3 {background-color: #f66c1b;} /* site order */
.button4 {background-color: #FFAE42;} /* to prep */
.button5 {background-color: #23bc2e;} /* to ship */
.button6 {background-color: #006edf;} /* to received */
.button7 {background-color: #23bc2e;} /* partial delivered */
.button8 {background-color: #23bc2e;} /* delivered/completed */

.task-opt{
  cursor: pointer;
}

#right-click-menu{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
    z-index: 999999;
}

#right-click-menu li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu li:last-child {
    border-bottom: none;
}

#right-click-menu li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}

.task-click2 , .task-click{
  display: inline-block;
  padding-right: 0px;
  cursor: pointer;
}
.task-click{
  margin-left: 6px;
  }

.mark-complete{
  padding-right: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=vue-sidebar-menu.css.map*
  /*.gantt-elastic__chart-row-project-polygon {
    font-color: red !important;
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

  .gantt-elastic__chart-row-bar-polygon {
    background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }

    .gantt-elastic__chart-row-bar{
      background-color:   #000 !important;
    stroke: rgb(231, 76, 60) !important;
    stroke-width: 1 !important;
      fill: blue !important;
    }*/


/*  .sidebar, .el-pagination__sizes, .btn-prev, .btn-next, .el-pager {
    display: none !important;
  }*/

/*  .gantt-elastic__chart-row-text-content .iconbutton{
      display: none !important;
  }*/

  :root {
  --color-text1: #3f4146;
  --color-text2: #ffffff;
  --color-btn: #565656;
  --card1-gradient-color1: #d952a2;
  --card1-gradient-color2: #aa1a90;
  --card2-gradient-color1: #fad62b;
  --card2-gradient-color2: #fcb30c;
  --card3-gradient-color1: #f89e00;
  --card3-gradient-color2: #f2540f;
}

  .card-wrap {
  width: 210px;
  height: 140px;
  border-radius: 10px;
  position: relative;
  margin-top: -40px;
}

.card-wrap.one {
  background: linear-gradient(
    to bottom,
    var(--card1-gradient-color1),
    var(--card1-gradient-color2)
  );
  transform: scale(0.9);
}
.card-wrap.one::after {
  background: var(--card1-gradient-color1);
}
.card-wrap.two {
  background: linear-gradient(
    to bottom,
    var(--card2-gradient-color1),
    var(--card2-gradient-color2)
  );
}
.card-wrap.two::after {
  background: var(--card2-gradient-color1);
}
.card-wrap.three {
  background: linear-gradient(
    to bottom,
    var(--card3-gradient-color1),
    var(--card3-gradient-color2)
  );
  transform: scale(0.9);
}
.card-wrap.three::after {
  background: var(--card3-gradient-color1);
}
.card-header {
  width: 160px;
  height: 105px;
  background: #ffffff;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
}

.card-header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
  color: var(--color-text1);
  margin-top: -10px;
}
.card-content {
  width: 160px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.card-content-option {
  color: var(--color-text2);
  font-size: 14px;
  margin-bottom: 10px;
}
.card-content-option.false {
  color: #000;
}
.card-content-option.false::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
.card-content-option.true::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}

.mention-item {
  padding: 4px 10px;
  border-radius: 4px;

}

.vue-popover-theme{
  z-index: 999999;
  background-color: #FFF;
  color: #000;
}

.mention-selected {
  background-color: #4267b2;
}
</style>
