<template>
  <div>
    <div class="heading" style="display: flex; justify-content: space-between">
      <div>
        <form
          v-on:change.prevent="getEvaluationMonths()"
          v-on:submit.prevent="getEvaluationMonths()"
        >
          <el-row>
            <el-col :span="8" style="display: flex">
              <span style="padding-right: 20px">Year:</span>
              <el-date-picker
                v-model="year"
                type="year"
                size="mini"
                placeholder="Pick a Year"
                @change="getHalfMonth()"
                style="padding-right: 20px"
              />
            </el-col>
            <el-col :span="8" style="display: flex">
              <span style="padding-right: 20px">Quarterly:</span>
              <el-select
                v-model="quarter"
                size="mini"
                placeholder="Pick a Quarter"
                @change="getHalfMonth()"
                style="padding-right: 20px"
              >
                <el-option
                  v-for="(v, k) in quarterly"
                  :key="k"
                  :label="v"
                  :value="v"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="8" style="display: flex">
              <span style="padding-right: 20px">Search:</span>
              <el-input
                v-model="search"
                size="mini"
                placeholder="Rider Name"
                clearable
              />
            </el-col>
          </el-row>
        </form>
      </div>
      <div>
        <el-button
          type="primary"
          @click="
            showFormModal({
              data: {
                order_id: 1,
                rider_id: 1,
                date: '',
              },
              form: 'Update QA',
            })
          "
        >
          Question & Answer Editor
        </el-button>
      </div>
    </div>
    <el-table
      v-loading="loading"
      :data="data"
      :header-cell-style="
        quarter == 1
          ? rowClass1
          : quarter == 2
          ? rowClass2
          : quarter == 3
          ? rowClass3
          : quarter == 4
          ? rowClass4
          : ''
      "
      @cell-click="cellClick"
      ref="table"
    >
      <el-table-column fixed prop="name" label="Riders">
        <template slot-scope="scope">
          {{ scope.row.name | titleCase }}
        </template>
      </el-table-column>
      <el-table-column
        v-for="(v, k) in months"
        :key="k"
        prop="name"
        :label="v.month"
        width="120"
      >
        <el-table-column
          :label="v.labels[0]"
          :min-width="k + addMonth + 1"
          width="170"
        >
          <template slot-scope="scope">
            <div class="column">
              <span style="color: rgb(29, 140, 224)">
                <i :class="scope.row[`result${k + addMonth + 1}1`]"/>
              </span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          :label="v.labels[1]"
          :min-width="k + addMonth + 1"
          width="170"
        >
          <template slot-scope="scope">
            <div class="column">
              <span style="color: rgb(29, 140, 224)">
                <i :class="scope.row[`result${k + addMonth + 1}2`]"/>
              </span>
            </div>
          </template>
        </el-table-column>
      </el-table-column>
    </el-table>
    <div style="height: 100px" />
  </div>
</template>

<script>
import moment from "moment";
import DataTable from "../../components/datatable";
import EvaluationForm from "./components/modal/evaluation-form";

export default {
  name: "rider-evaluation",
  components: {
    DataTable,
  },
  data() {
    return {
      year: moment().format("YYYY"),
      quarter: moment().subtract(1).quarter(),
      quarterly: [1, 2, 3, 4],
      search: "",
      addMonth: 0,
      datecond: [],
      months: [],
      data: [],
      render: true,
    };
  },
  created() {
    this.getHalfMonth();
  },
  methods: {
    cellClick(data, col) {
      let halfMonth = col.label.indexOf("1 to") === 0 ? 1 : 2;
      if (
        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12].indexOf(col.minWidth) !== -1
      ) {
        this.viewEvaluatation(data.id, col.minWidth, halfMonth);
      }
    },
    rowClass1({ row, rowIndex, columnIndex }) {
      return this.rowClassPart(rowIndex, columnIndex, 1);
    },
    rowClass2({ row, rowIndex, columnIndex }) {
      return this.rowClassPart(rowIndex, columnIndex, 2);
    },
    rowClass3({ row, rowIndex, columnIndex }) {
      return this.rowClassPart(rowIndex, columnIndex, 3);
    },
    rowClass4({ row, rowIndex, columnIndex }) {
      return this.rowClassPart(rowIndex, columnIndex, 4);
    },
    rowClassPart(rowIndex, columnIndex, quarter) {
      let year = moment().format("Y");
      let month = moment().format("M");
      let day = moment().format("D");
      let colIndex = [
        [0, 1],
        [2, 3],
        [4, 5],
      ];
      let colReset = -1;
      for (let i = 1; i <= 12; i++) {
        colReset = colReset == 2 ? 0 : colReset + 1;
        if (
          year == moment(this.year).format("YYYY") &&
          month == i &&
          quarter == Math.ceil(i / 3) &&
          rowIndex == 1 &&
          columnIndex ==
            (day < 16 ? colIndex[colReset][0] : colIndex[colReset][1])
        ) {
          return "background:yellow";
        }
      }
      return "";
    },
    getEvaluationMonths() {
      this.loading = true;
      this.render = false;
      const fd = new FormData();
      fd.append("year", moment(this.year).format("YYYY"));
      fd.append("quarter", this.quarter);
      fd.append("search", this.search);
      this.$store
        .dispatch("getEvaluationMonth", fd)
        .then((response) => {
          this.data = response.data;
          this.render = true;
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.getEvaluationMonths();
          }
        });
      this.loading = false;
    },
    getHalfMonth() {
      this.getEvaluationMonths();
      this.months = [];
      let year = moment(this.year).format("YYYY");
      let month = "";
      let endMonthDay = "";
      let labels = [];
      let quarter = "";
      for (let i = 0; i <= 11; i++) {
        quarter = moment(moment([year, i]).toDate()).quarter();
        if (this.quarter === quarter) {
          if (quarter == 1) {
            this.addMonth = 0;
          } else if (quarter == 2) {
            this.addMonth = 3;
          } else if (quarter == 3) {
            this.addMonth = 6;
          } else if (quarter == 4) {
            this.addMonth = 9;
          }
          let dateCondition = [];
          month = moment(moment([year, i]).toDate()).format("MMMM");
          endMonthDay = moment(moment([year, i]).endOf("month")).format("DD");
          labels = ["1 to 15", `16 to ${endMonthDay}`];
          dateCondition.push(
            moment().toDate(),
            moment([year, i, 1]).toDate(),
            moment([year, i, 16]).toDate()
          );
          this.months.push({ month, endMonthDay, labels, dateCondition });
        }
      }
    },
    viewEvaluatation(rider_id, month, halfMonth) {
      let year = moment(this.year).format("YYYY");
      let routeData = this.$router.resolve({
        name: "rider-evaluation",
        params: {
          rider_id,
          month,
          halfMonth,
          year,
        },
      });
      window.open(routeData.href, "_blank");
    },
    showFormModal(data) {
      this.$store.dispatch("callModal", {
        child_component: EvaluationForm,
        title: "Rider Evaluation Question & Answer Editor",
        modalWidth: "50%",
        content: {
          data,
        },
      });
    },
  },
};
</script>

<style lang="scss">
// remove arrow indicator for type="number"
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;

  &-header {
    padding: 20;
    height: 100px;
  }
}
.column {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.el-table th,
.el-table td {
  padding: 6px 0;
}
</style>