<template>
    <div>
      <data-table :get-data="getData" ref="table" :columns="columns">
        <span slot="first_name" slot-scope="{row}">{{`${row.first_name} ${row.last_name}`}}</span>
        <span slot="detail" slot-scope="{row}">
          <el-tooltip v-if="row.remarks !== '' && row.remarks !== null" effect="light" placement="right">
            <div class="tooltip-width" slot="content">{{ removeHTMLtags(row.remarks) }}</div>
              <a href="javascript:">{{ row.detail}}</a>
          </el-tooltip>
          <span v-if="row.remarks === '' || row.remarks === null">{{ row.detail }}</span>
        </span>
        <span slot="group" slot-scope="{row}">
          <span>{{ row.group !== null ? row.group : 'individual' }}</span>
        </span>
        <span slot="reason" slot-scope="{row}">
          <el-tooltip v-if="row.reason !== '' && row.reason !== null" effect="dark" placement="top">
            <div class="tooltip-width" slot="content">
              <span v-html="row.reason"/>
            </div>
            <el-input v-model="form.setReason[row.id]" size="small"/>
          </el-tooltip>
          <el-input v-else v-model="form.setReason[row.id]" size="small"/>
        </span>
      </data-table>
      <div slot="footer" class="dialog-footer" style="display: flex; justify-content: space-between">
        <div/>
        <div>
          <el-button @click="$parent.$emit('close')">Cancel</el-button>
          <el-button type="primary" @click="formSubmit('submit')" :disabled="!form.buttonDisplay">Submit</el-button>
        </div>
      </div>
    </div>
</template>

<script>
  import DataTable from '../../../../components/datatable'

  export default {
    name: 'past-task',
    components: {
      DataTable
    },
    data(){
      return{
        /* @data-table */
        page: 1,
        singleSelect: false,
        columns: [
          {
            prop: 'first_name',
            label: this.$t('Profile.name'),
            minWidth: '50',
            sortable: true
          },
          {
            prop: 'detail',
            label: this.$t('Common.detail'),
            minWidth: '100',
            sortable: true
          },
          {
            prop: 'group',
            label: this.$t('Common.type'),
            minWidth: '50',
            sortable: true
          },
          {
            prop: 'reason',
            label: this.$t('Common.reason'),
          }
        ],
        /* @form */
        form:{
          serviceSelected: [],
          reason:[],
          setReason:[],
          buttonDisplay: true
        }
      }
    },
    methods:{
      /* @data-table */
      getData ({ page, query, sortParams, size }) {
        if(sortParams.length === 0){
          sortParams = 'first_name-asc'
        }
        this.page = page
        return this.$store.dispatch('getPastTasks', {
          page: 'page=' + page,
          sort: 'sort=' + sortParams,
          perPage: size
        }).then(res => {
          const { data } = res
          return {
            data: data.data,
            total: data.total,
            size: size
          }
        }).catch(error =>{
          if(error.response.status === 500){
            this.$refs.table.getTableData(this.page)
          }
        })
      },
      /* @form*/
      formSubmit(condition){
        if(condition === 'submit'){
          this.form.reason = []
          this.form.setReason.map((item,index)=>{
            if(item){
              this.form.reason.push({id:index,reason:item})
            }
          })
          if(this.form.reason.length !== 0){
            this.form.buttonDisplay = false
            const fd = new FormData();
            fd.append("reason", JSON.stringify(this.form.reason));
            this.$store.dispatch('updatePastTasks', fd).then(response=>{
              this.$message({ message: 'Successfully filed next day.', type: 'success' })
              this.$parent.$emit('close')
            })
          }else{
            this.$message({ message: 'Reason is required! Fill up at least 1.', type: 'error' })
          }
        }
      },
      /* @tweaks */
      removeHTMLtags: function (str) {
        return str.replace(/<\/?[^>]+(>|$)/g, '')
      },
    }
  }
</script>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }
  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>
