<template>

	<!-- Action: Filed -->
	<!-- Category: Immigration -->

	<el-form v-if="action_id == 1 && category_id == 1" ref="form" :model="form" class="m-b-30">
  		<el-form-item 
  			:label="$t('Reports.est_release_date') + ':'" 
  			prop="estimated_releasing_date"
  			:rules="{
  				required: true, message: $t('Reports.pls_select_date'), trigger: 'blur'
  			}">
  			<el-col :span="24">
	  			<el-date-picker
				    v-model="form.estimated_releasing_date"
				    value-format="yyyy-MM-dd"
				    type="date"
				    :placeholder="$t('Reports.select_date')"
				    :picker-options="pickerOptions"
				    style="width: 465px;">
				</el-date-picker>
			</el-col>
  		</el-form-item>

  		<el-form-item>
  			<span slot="label">{{ $t('Reports.scheduled_hearing_dt') }}:</span>

  			<el-col :span="24" v-for="(scheduledHearingDateAndTime, index) in form.scheduled_hearing_date_and_time">
		  		<el-form-item
		  			class="m-b-23"
					:key="scheduledHearingDateAndTime.key"
					:prop="'scheduled_hearing_date_and_time.' + index + '.value'"
					:rules="{
						required: true, 
						message: $t('Reports.scheduled_hearing_err'), 
						trigger: 'blur'
					}">
					<el-date-picker
						v-model="scheduledHearingDateAndTime.value"
						value-format="yyyy-MM-dd HH:mm:ss"
						type="datetime"
						:placeholder="$t('Reports.select_dt')"
						:picker-options="pickerOptions"
						style="width: 465px;">
					</el-date-picker>

					<el-button type="danger" icon="el-icon-delete" circle size="mini" class="m-t-6 m-l-10" @click="removeRow(scheduledHearingDateAndTime)"></el-button>
				</el-form-item>
  			</el-col>

  			<el-col :span="24">
	  			<el-button type="info" round size="mini" @click="addRow">
					<i class="el-icon-plus"></i>{{ $t('Reports.add_scheduled_hearing_dt') }}
				</el-button>
			</el-col>
  		</el-form-item>
	</el-form>

</template>

<script>
	
	export default {
		name: 'extensions_63',

		props: ['action_id', 'category_id'],

		data() {
			return {
				form: {
					estimated_releasing_date: '',
					scheduled_hearing_date_and_time: []
				},

				pickerOptions: {
		          	disabledDate(time) {
		            	return time.getTime() < Date.now() - 8.64e7;
		          	}
      			}
			}
		},

		methods: {
			addRow() {
				this.form.scheduled_hearing_date_and_time.push({
          			key: Date.now(),
          			value: ''
        		});
			},

			removeRow(scheduledHearingDateAndTime) {
        		var index = this.form.scheduled_hearing_date_and_time.indexOf(scheduledHearingDateAndTime);

        		if (index !== -1) {
          			this.form.scheduled_hearing_date_and_time.splice(index, 1);
        		}
      		}
		},

		watch: {
		    action_id: {
		    	immediate: true,
		        handler: function(newActionId, oldActionId) {
		        	if( newActionId != oldActionId && this.$refs['form'] ) {
		        		this.form = {
							estimated_releasing_date: '',
							scheduled_hearing_date_and_time: []
						};

			            this.$refs['form'].resetFields();
		        	}
		        }
		    }
  		}
	}

</script>

<style lang="scss" scoped>
	.m-b-30 {
		margin-bottom: 30px;
	}

	.m-t-6 {
		margin-top: 6px;
	}

	.m-l-10 {
		margin-left: 10px;
	}

	.m-b-23 {
		margin-bottom: 23px;
	}
</style>