<template>

	<el-form ref="form" :model="form" :rules="rules" label-width="120px">

    <el-form-item :label="$t('Profile.name')" prop="name">
			<el-input v-model="form.name" :placeholder="$t('Branch.enter_name')"></el-input>
		</el-form-item>

    <el-form-item :label="$t('Common.type')" prop="type">
      <el-select v-model="form.type" :placeholder="$t('Clients.select')">
        <el-option
          v-for="type in types"
          :key="type.value"
          :label="type.label"
          :value="type.value">
        </el-option>
      </el-select>
    </el-form-item>

  	<el-form-item>
  		<el-button type="primary" @click="onSubmit('form')">{{ $t('Common.save') }}</el-button>
  	</el-form-item>

	</el-form>

</template>

<script>

export default {

  name: 'add-edit-service-profile',

  data () {
    return {
      action: null,

      form: {
        id: null,
        name: null,
        type: null,
        is_active: '1'
      },

      types: [
        { label: this.$t('Service.default'), value: 'default' },
        { label: this.$t('Service.customized'), value: 'customized' }
      ],

      rules: {
	      name: [
	        { required: true, message: this.replaceName(this.$t('Service.is_required'),this.$t('Profile.name')) }
	      ],
        type: [
          { required: true, message: this.replaceName(this.$t('Service.is_required'),this.$t('Common.type')) }
        ]
	    }
    }
  },

  methods: {

    onSubmit (form) {
      this.$refs[form].validate((response) => {
	      if (response) {
	        const service = (this.action == 'Add') ? 'addServiceProfile' : 'updateServiceProfile';

	        this.$store.dispatch(service, this.form)
          	.then(response => {
          		if (response.code === 200) {
          			this.$parent.$parent.getAllServiceProfiles();

          			this.$parent.$parent.dialogVisible = false;

          			this.$message({
	                type: 'success',
									message: ((this.action == 'Add') ? this.$t('Common.successfully_added') : this.$t('Common.successfully_updated'))
	              });
          		} else if (response.code === 422) {
          			const errors = response.errors;

          			for (const key in errors) {
          				if (errors.hasOwnProperty(key)) {
									  const message = errors[key][0];

									  this.$message({
							        type: 'error',
							        message: message
						        });
									}
          			}
          		}
          	});
	      }
	    });
		},
		
		replaceName (message, data) {
			return message.replace(':name', data)
		}

  }

}

</script>
