<template>

  <div class="m-b-40">

    <el-card class="box-card" shadow="never">
      <div class="text item">

        <el-table ref="table" :data="defaultServiceProfiles" width="100%" v-loading="loading">
          <el-table-column :label="$t('Service.default_rates').toUpperCase()" header-align="center">
          	<el-table-column :label="$t('Service.profile_name')">
      	      <template slot-scope="scope">
      		      {{ scope.row.name }}
      	  		</template>
      	    </el-table-column>

      	    <el-table-column :label="$t('Common.actions')" width="150" align="center">
      	      <template slot-scope="scope">
      		      <div class="top">
      	          <el-tooltip class="item" effect="dark" :content="$t('Service.edit_service_profile')" placement="top-start">
      	            <el-button @click="handleEdit(scope.row)" type="success" size="mini" icon="el-icon-edit"></el-button>
      	          </el-tooltip>
      	        </div>
      	  		</template>
      	    </el-table-column>
          </el-table-column>
        </el-table>

      </div>
    </el-card>

    <div class="spacer-20"></div>

    <el-card class="box-card" shadow="never">
      <div class="text item">

        <el-table ref="table" :data="customizedServiceProfiles" width="100%" v-loading="loading">
          <el-table-column :label="$t('Service.customized_rates').toUpperCase()" header-align="center">
            <el-table-column :label="$t('Service.profile_name')">
              <template slot-scope="scope">
                {{ scope.row.name }}
              </template>
            </el-table-column>

            <el-table-column :label="$t('Common.actions')" width="150" align="center">
              <template slot-scope="scope">
                <div class="top">
                  <el-tooltip class="item" effect="dark" :content="$t('Service.edit_service_profile')" placement="top-start">
                    <el-button @click="handleEdit(scope.row)" type="success" size="mini" icon="el-icon-edit"></el-button>
                  </el-tooltip>

                  <el-tooltip class="item" effect="dark" :content="$t('Service.delete_service_profile')" placement="top-end">
                    <!-- <el-button @click="handleDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button> -->
                    <el-button @click="handleServiceProfileList(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
                  </el-tooltip>
                </div>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table>

      </div>
    </el-card>

    <el-dialog
      :title="'Delete ' + selectedData.name + '?'"
      :visible.sync="dialogVisible"
      width="60%"
      :before-close="handleClose">
      
      <el-table ref="table" :data="data" width="100%" v-loading="loading">
        <el-table-column label="List of Groups and Clients" header-align="center">
          <el-table-column label="Name">
            <template slot-scope="scope">
              <strong :style="getFontColor(scope.row)">
                {{ scope.row.name }}
              </strong>
            </template>
          </el-table-column>

          <el-table-column label="Balance" width="150">
            <template slot-scope="scope">
              <span :style="getFontColor(scope.row)">
                {{ scope.row.balance }}
              </span>
            </template>
          </el-table-column>

          <el-table-column label="Type" width="100" align="center">
            <template slot-scope="scope">
              <span :style="getFontColor(scope.row)">
                {{ scope.row.type }}
              </span>
            </template>
          </el-table-column>

          <el-table-column label="On-Hand Documents" width="200" align="center">
            <template slot-scope="scope">

              <div v-if="scope.row.on_hand_documents!==null && scope.row.on_hand_documents!==undefined">
                <div :style="getFontColor(scope.row) + 'font-size: 12px;'" 
                  v-for="ohd in scope.row.on_hand_documents" :key="ohd.id">
                  {{ '('+ohd.count+') ' + ohd.title }}
                </div>
                <div v-if="scope.row.on_hand_documents.length === 0" :style="getFontColor(scope.row)">none</div>
              </div>
              <div v-else :style="getFontColor(scope.row)">
                none
              </div>

            </template>
          </el-table-column>

          <el-table-column label="Pending/On Process Services" width="250" align="center">
            <template slot-scope="scope">

              <div v-if="scope.row.client_services!==null && scope.row.client_services!==undefined">
                <div :style="getFontColor(scope.row) + 'font-size: 12px;'" 
                v-for="ohd in scope.row.client_services" :key="ohd.id">
                  {{ ohd.detail + ' (' + ohd.status + ')' }}
                </div>
                <div v-if="scope.row.client_services.length === 0" :style="getFontColor(scope.row)">none</div>
              </div>
              <div v-else :style="getFontColor(scope.row)">
                none
              </div>

            </template>
          </el-table-column>

        </el-table-column>
      </el-table>

      <div v-if="!serviceProfileDelete">
        <br/>
        <div style="color:red; font-size: 13px; text-align: center;">Service profile cannot be deleted.</div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleDelete(selectedData)" :disabled="(serviceProfileDelete) ? false : true">
          Confirm
        </el-button>
      </span>
    </el-dialog>

  </div>

</template>

<script>

import DataTable from '../../../components/datatable'

export default {

  name: 'index-service-profile',

  props: ['serviceprofiles'],

  data () {
    return {
      loading: false,
      dialogVisible: false,
      data: [],
      selectedData: []
    }
  },

  methods: {
    handleEdit (row) {
      this.$store.dispatch('getServiceProfile', row.id)
        .then(response => {
          if (response.code === 200) {
            const { id, name, type, is_active } = response.data.service_profile;

            const data = {
            	id,
              name,
              type,
              is_active: String(is_active)
            }

            this.$parent.showAddEditServiceProfile('Edit', data);
          }
        })
    },

    handleDelete (row) {
      this.$confirm(this.$t('Branch.delete_branch_message'), this.$t('Branch.warning'), {
        confirmButtonText: this.$t('Common.ok'),
        cancelButtonText: this.$t('Common.cancel'),
        type: 'warning'
      }).then(() => {
        this.loading = true
        this.dialogVisible = false

        this.$store.dispatch('deleteServiceProfile', row.id)
          .then(response => {
          	this.loading = false;

            if (response.code === 200) {
            	this.$parent.getAllServiceProfiles();

              this.$message({
                type: 'success',
                message: this.$t('Branch.successfully_deleted')
              });
            }
          });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.$t('Branch.delete_canceled')
        });
      });
    },

    handleServiceProfileList(row) {
      this.selectedData = row;
      this.$store.dispatch('getClientsGroups', row.id)
      .then(res => {
        this.data = res.data;
        this.dialogVisible = true;
      })
    },

    handleClose(done) {
      this.dialogVisible = false;
      this.selectedData = [];
    },

    checkOnHandDocuments(data) {
      var counter = 0;

      data.map((item, index) => {
        if(item.on_hand_documents !== null && item.on_hand_documents !== undefined) {
          if(item.on_hand_documents.length > 0) {
            counter++
          }
        }
      })

      if(counter > 0) {
        return true
      }

      return false
    },

    checkClientServices(data) {
      var counter = 0;

      data.map((item, index) => {
        if(item.client_services !== null && item.client_services !== undefined) {
          if(item.client_services.length > 0) {
            counter++
          }
        }
      })

      if(counter > 0) {
        return true
      }

      return false
    },

    getFontColor(data) {
      var fontColor = null;

      if(parseInt(data.balance) <= -10 || parseInt(data.balance) >= 10) {
        fontColor = 'color: RED;';
      } else if(data.on_hand_documents !== null && data.on_hand_documents !== undefined) {
        if(data.on_hand_documents.length > 0) {
          fontColor = 'color: RED;'
        }
      } else if(data.client_services !== null && data.client_services !== undefined) {
        if(data.client_services.length > 0) {
          fontColor = 'color: RED;'
        }
      }

      return fontColor
    }
  },

  components: {
    DataTable
  },

  computed: {
    defaultServiceProfiles() {
      let serviceProfiles = this.serviceprofiles;

      return serviceProfiles.filter(s => s.type == 'default');
    },

    customizedServiceProfiles() {
      let serviceProfiles = this.serviceprofiles;

      return serviceProfiles.filter(s => s.type == 'customized');
    },

    serviceProfileDelete() {
      let data = this.data;

      if( data.filter(s => parseInt(s.balance) <= -10 || parseInt(s.balance) >= 10).length > 0 ) {
        return false
      }

      if( this.checkOnHandDocuments(data) ) {
        return false
      }

      if( this.checkClientServices(data) ) {
        return false
      }

      return true
    }
  }

}

</script>

<style scoped>
  .spacer-20 {
    height: 20px;
    clear: both;
  }
  .m-b-40 {
    margin-bottom: 40px;
  }
</style>
