<template>
  <div>
    <el-table
      :data="actionLog"
      style="width: 100%">
      <el-table-column
        prop="created_at"
        label="Date"
        width="180">
      </el-table-column>
      <el-table-column
        prop="reason"
        label="Detail">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
    export default {
      props: ['inventory_id'],
      data(){
        return {
          modalDialog: false,
          modalConfirm: false,
          modalRequired:{
            title: '',
            form: '',
            action: '',
            confirm: '',
          },
          actionLog: []
        }
      },
      created() {
        this.$eventBus.$on('getActionLogs', (param) => {
          this.getActionLogs(param.id)
        })
      },
      methods: {
        getActionLogs(id) {
          const fd = new FormData();
          fd.append("inventory_id", id);
          this.$store.dispatch('getActionLog',fd).then(response => {
            this.actionLog = response.data
          });
        },
      },
      mounted () {
        this.getActionLogs(this.inventory_id);
      }
    }
</script>
