<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item
          label="Material Name"
          prop="name"
          :rules="[
            { required: true, message: 'Material name is required.' }
          ]"
        >
          <el-input type="text" v-model.proj_name="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
          <el-form-item
            label="Material Chinese Name"
            prop="name_cn"
            
          >
            <el-input type="text" v-model="form.name_cn" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Category"
            prop="category"
            :rules="[
              { required: true, message: 'Category is required.' }
            ]"
          >
            <el-select v-model="form.category" filterable placeholder="Select Category">
                <el-option
                    v-for="s in types"
                    :key="s.value"
                    :label="s.value"
                    :value="s.value">
                  </el-option>
            </el-select>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
        <el-form-item
          label="Specs"
          prop="specs"
        >
          <el-input type="text" v-model="form.specs" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>

    <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Unit"
            prop="unit"
            :rules="[
              { required: true, message: 'unit is required.' }
            ]"
          >
            <el-input type="text" v-model="form.unit" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>


    <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Unit Price"
            prop="unit_price"
            :rules="[
              { required: true, message: 'unit price is required.' }
            ]"
          >
            <el-input type="number" min="0" v-model="form.unit_price" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Unit Price Cn"
            prop="unit_price_cn"
          >
            <el-input type="number" min="0" v-model="form.unit_price_cn" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
        <el-form-item
          label="Retail Price"
          prop="retail_price"
          :rules="[
              { required: true, message: 'retail price is required.' }
            ]"
        >
          <el-input type="number" min="0" v-model="form.retail_price" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>
    </el-row>
    <!-- End Second Row -->

    <!-- Second Row -->
    <el-row :gutter="30">

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Supplier"
            prop="supplier_id"
            :rules="[
              { required: true, message: 'supplier is required.' }
            ]"
          >
            <el-select filterable v-model="form.supplier_id" filterable placeholder="Select Supplier" style="width: 150px;">
                <el-option
                  v-for="s in suppliers"
                  :key="s.id"
                  :label="s.full_name"
                  :value="s.id">
                </el-option>
           </el-select>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Initial Quantity"
            prop="qty"
          >
            <el-input type="text" v-model="form.qty" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

    <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
        <el-form-item
          label="Weight (kg)"
          prop="weight"
        >
          <el-input type="number" min="0" v-model="form.weight" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Length (m)"
            prop="length"
          >
            <el-input type="number" min="0" v-model="form.length" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Width (m)"
            prop="width"
          >
            <el-input type="number" min="0" v-model="form.width" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
        <el-form-item
          label="Height (m)"
          prop="height"
        >
          <el-input type="number" min="0" v-model="form.height" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>
    </el-row>
    <!-- End Second Row -->

    <el-row :gutter="30">
      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
        <div>
          <el-form-item>

              <el-upload 
                class="upload-demo"
                drag :multiple="true"
                      ref="upload"
                      action=""
                      :file-list="fileList"
                      :on-change="handleChange"
                      :on-remove="handleRemove"
                      :auto-upload="false">
                <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/excel files</div> -->
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop file here or <em>click to upload</em><br>
                  <small>jpg/png files</small></div>
              </el-upload>

          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item >
          <div style="float: right">

            <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

            <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

          </div>
        </el-form-item>
      </div>
    </el-col>
  </el-row>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-materials',
  data () {
    return {
      form: {
        name: '',
        name_cn: '',
        category: '',
        specs: '',
        unit: '',
        unit_price: '',
        unit_price_cn: '',
        retail_price: '',
        length: '',
        width: '',
        height: '',
        weight: '',
        qty: 0,
        supplier_id : '',
        uplPhotos : [],
        type : 'materials'
      },
      data: {},
      suppliers: [],
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,

      types: [
        { value: 'AUX' }, 
        { value: 'AAA - Customize Item' }, 
        { value: 'ACU' },
        { value: 'ACU Accessory' }, 
        { value: 'ACU Insulation' },  
        { value: 'Aluminum' },  
        { value: 'Appliances' }, 
        { value: 'Baseboard' }, 
        { value: 'Bio Lock' }, 
        { value: 'Board' }, 
        { value: 'Carpet Flooring' }, 
        { value: 'Carpentry' }, 
        { value: 'CCTV' }, 
        { value: 'Ceiling' }, 
        { value: 'China - Alum Sliding Doors' }, 
        { value: 'China Downspout' }, 
        { value: 'China Roofing' }, 
        { value: 'China - Modular' }, 
        { value: 'China - Others' }, 
        { value: 'China - Vanity' }, 
        { value: 'China - Wooden Doors' }, 
        { value: 'Civil' }, 
        { value: 'Cleaning' }, 
        { value: 'Consumables' }, 
        { value: 'Consumables - Carpentry' }, 
        { value: 'Consumables - Civil' }, 
        { value: 'Consumables - cutting & drilling' }, 
        { value: 'Consumables - Electrical' }, 
        { value: 'Consumables - Hangers' }, 
        { value: 'Consumables - Painting' }, 
        { value: 'Consumables - Plumbing' }, 
        { value: 'Consumables - Screws' }, 
        { value: 'Consumables - Sealant & Glue' }, 
        { value: 'Consumables - Tiling' }, 
        { value: 'Consumables - Wall Paper' }, 
        { value: 'Curtain' }, 
        { value: 'Decor' }, 
        { value: 'Demolition' }, 
        { value: 'Documents & Forms' }, 
        { value: 'Doors + Accessories' }, 
        { value: 'Drywall' }, 
        { value: 'Electrical' }, 
        { value: 'Electrical Wires' }, 
        { value: 'Equipment & Power Tools' }, 
        { value: 'Furnitures' }, 
        { value: 'Garden' }, 
        { value: 'Garden canopy' }, 
        { value: 'Hand Tools' }, 
        { value: 'Hangers' }, 
        { value: 'Hardware / Depot' }, 
        { value: 'Installation' }, 
        { value: 'Laminated Flooring' }, 
        { value: 'Lighting Fixtures' }, 
        { value: 'Manhole' }, 
        { value: 'Masonry' }, 
        { value: 'Painting' }, 
        { value: 'Panelboard' }, 
        { value: 'PH Roofing' }, 
        { value: 'Plumbing' }, 
        { value: 'Plumbing Fixtures' }, 
        { value: 'Plumbing - PVC' }, 
        { value: 'PPR' }, 
        { value: 'Roofing' }, 
        { value: 'Sanitary' }, 
        { value: 'Safety + PPE' }, 
        { value: 'Site Document' }, 
        { value: 'Sound System' }, 
        { value: 'SPC Flooring' }, 
        { value: 'Stainless' }, 
        { value: 'Stainless Cladding' }, 
        { value: 'Steel BI' }, 
        { value: 'Subcon - Acu' },
        { value: 'Subcon - Exhaust + Fresh Air' },
        { value: 'Subcon - Fdas ' },
        { value: 'Subcon - Fire Suppression' },
        { value: 'Subcon - Gas' },
        { value: 'Subcon - Glass' },
        { value: 'Subcon - Kitchen Equipment' },
        { value: 'Subcon - Roll Up' },
        { value: 'Subcon - Sigange' },
        { value: 'Subcon - Sprinkler' },
        { value: 'Swimming pool' },
        { value: 'Switch + Outlet' },
        { value: 'Tel & Data' },
        { value: 'Tiles' },
        { value: 'Tiling' },
        { value: 'Tools' },
        { value: 'Uncategorized' },
        { value: 'Upholstery' },
        { value: 'Vanity' },
        { value: 'Walling' },
        { value: 'Wall Paper' },
        { value: 'Water Proofing' },
        { value: 'Welding' },
        { value: 'WPC Flooring' },
        { value: 'Wooden Flooring' },
      ],

      imgBase64: [],
      fileList: [],
      storageURL: process.env.VUE_APP_STORAGE,

      uplform: {
        comment: '',
        rcvby: '',
        fileData: []
      },
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {
    this.getSuppliers();
    //this.form.group_name = (this.groups.data !== null) ? this.groups.data.name : '';

  },

  mounted() {},

  methods: {
    getSuppliers(){
      this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
            this.suppliers = response.data
          })
    },

    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {
            if((this.uplform.fileData).length > 0) {
                this.uplform.fileData.filter((item, index) => {
                  var file_path = this.$refs.upload.uploadFiles[index].name;

                  var file_type = item.file_path.split('.');

                  item.file_path = file_path 

                  item.imgBase64 = this.imgBase64[index].imgBase64
                })
              }
              this.form.uplPhotos = this.uplform.fileData;

      // you can add rules for validations
      return this.$store.dispatch('addeditMaterial', { method: 'add', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('materialList');
        }else{

          console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },

    handleChange (file, fileList) {
          console.log(file);
          var self = this

          var fileData = {
            // id: self.task_id,
            file_path: file.name,
            comment: '',
            imgBase64: null
          }

          var fl = [{
            name: file.name,
            url: file.name
          }]          

          var reader = new FileReader();
          reader.readAsDataURL(file.raw);
          reader.onload = function(e) {
            self.imgBase64 = [...self.imgBase64, {
              name: file.name,
              imgBase64: this.result
            }]
          }
          // console.log(reader);

          this.uplform.fileData = [...this.uplform.fileData, fileData];
          // this.fileList = fl;

        },

        handleRemove (file, fileList) {
          //(this.uplform.fileData).splice(index, 1);
          var fl = [];
          (this.uplform.fileData).forEach(function(x, index) {

              if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
                var fileData = {
                // id: self.task_id,
                file_path: file.name,
                comment: '',
                imgBase64: null
              }
                fl = [...fl, fileData];
              }

            });
            this.uplform.fileData = fl;
          console.log((this.uplform.fileData));
        },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
