<template>

	<el-card class="box-card" shadow="never">

  		<div class="text item">

    		<!-- <template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template> -->

  			<template>
  				<template>


  					<el-row :gutter="20">
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label"><b style="color: blue; font-size: 	18px;">Transfer from {{form.data.transfer_from}} to {{form.data.transfer_to}}</b></div><br>
					  		</el-form>
					  		<!-- <b>Total Weight : {{ totalkg }} kg</b> -->
					  	</div>
					  </el-col>
					  <el-col :span="12">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label"><b>Driver : </b>{{ form.data.delivered_by }}<br></div><br>
					  		</el-form>
					  		<!-- <b>Total Weight : {{ totalkg }} kg</b> -->
					  	</div>
					  </el-col>
					  <el-col :span="12">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label"><b>Car :</b>{{ form.data.car_details }}<br></div><br>
					  		</el-form>
					  		<!-- <b>Weight Limit : {{ weight_limit }} kg</b> -->
					  	</div>
					  </el-col>
					  <el-col :span="12">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label"><b>Delivery Date :</b> {{ form.data.delivery_date }}<br></div><br>
				            </el-form>
				        </div>
					  </el-col>
					  <el-col :span="12">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label"><b>Needed Date :</b> {{ form.data.needed_date }}<br></div>
				            </el-form><br>
				        </div>
					  </el-col>
					  <el-col :span="12">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label"><b>Type :</b> {{form.data.type}}</div>
				            </el-form><br>
				        </div>
					  </el-col>
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label"><b>Notes : </b>{{form.data.notes}}</div>
				            </el-form>
					  		<br>
				        </div>
					  </el-col>
					  <el-col :span="24">

					  	<div class="grid-content bg-purple">
					  		<el-table ref="table" width="100%" :data="form.data.details"  row-class-name="movable">

								<el-table-column label="Details" width="600" align="left">
								   	<template slot-scope="scope">
								      	<span style="font-size: 15px">{{ scope.row.detail }}</span>
								    </template>
								</el-table-column>

						</el-table>
				        </div>
					  </el-col>
					  
					  <!-- <el-col :span="24">
				  		<el-button  type="primary" size="small" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 25px; margin-left: 10px; float: right;" @click="freetransferRcv()">Receive</el-button>
					  </el-col> -->
					</el-row>
					<!-- {{form.data}} -->		

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'order-details',

		data () {
	    	return {

	      		isFetching: true,
	      		project: [],
	      		order: [],
	      		task: [],
	      		materials: [],
	      		addmaterials: [],
	      		drivers: [],
	      		cars: [],
	      		weight_limit: 0,
	      		totalkg: 0,
			    order_ids: '',
			    step: '',
			    
			    form: {
	      			data: [],
	      			status: 'to received',
	      			delivered_by: '',
			    	selected_car: '',
			    	delivery_date: null,
	      		}

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	  		// handleCarChange(id){
	  		// 	var selected = (this.cars).filter(function(x) { return x.id == id });
	    //   				this.weight_limit = selected[0].weight_limit;
	  		// },

	      	getDrivers(){
			    this.$store.dispatch('getAllDrivers', { payload: this.form } ).then(response => {
			        this.drivers = response.data.data;
			    })
			},

			getCars(){
			    this.$store.dispatch('getAllCars', { payload: this.form } ).then(response => {
			        this.cars = response.data.data;
			    })
			},

	      	freetransferRcv(){	      		
				      return this.$store.dispatch('freetransferRcv', { payload: this.form }).then(res => {
				        if (res.code == 200) {
				         this.form.data = res.data;
				          this.$message({
				            type: 'success',
				            message: 'Successfully received!'
				          });
				          this.$eventBus.$emit('loadToRcv')
				          this.$parent.$emit('close')

		      			  // this.isFetching = false;
				        }else{

				          // console.log('ERROR');

				          // this.$message({
				          //   type: 'error',
				          //   message: 'Please input required details!'
				          // });

				        }
				      }).catch(err => {

				      })
		    },

			// changeDriver(value){
		 //       return this.$store.dispatch('changeDriver', { id: order_id, type: 'order', cat : value }).then(res => {
		 //        if (res.code == 200) {
		 //          this.$message({
		 //            type: 'success',
		 //            message: this.$t('Common.successfully_updated')
		 //          });

		 //          this.getCategories();
		 //        }else{

		 //          console.log('ERROR');

		 //          this.$message({
		 //            type: 'error',
		 //            message: 'ERROR'
		 //          });

		 //        }
		 //      }).catch(err => {

		 //      })
		 //    },
		 	// totalkgCompute(){
		  //   	var totalkg = 0;
		  //   	(this.form.data.details).forEach((value, index) => {
				//     // (value.items).forEach((value2, index2) => {
				//     	//if(value.unit == 'kg'){
				//     		totalkg += (value.qty * value.weight);
				//     	//}
				//     // });
				// });
				// this.totalkg = totalkg;
		  //   },

	      	checkStep(step){
	      		if(step == this.step){
	      			return 'success';
	      		}
	      		return 'info';
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},
  		},



		created () {
			let { data, status } = this.$parent.$parent.content;
      		// console.log(this.$parent.$parent.content);
      		this.form.data = data;
      		this.status = status;
      		// this.totalkgCompute();
      		this.getDrivers();
      		this.getCars();
  		}


	}

</script>

<style>

.el-alert__title{
	font-size: 14px !important;
}

.tbl-header{
	font-size: 14px !important;

}

.el-table thead{
	color: #000 !important;
}


</style>
