<template>
  <div>
    <el-table border stripe ref="table" :data="data" width="100%">
      <el-table-column label="Date">
        <template slot-scope="{ row }">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>

      <el-table-column label="QTY">
        <template slot-scope="{ row }">
          <span>{{ row.qtyUnit }}</span>
        </template>
      </el-table-column>

      <!-- 2/10/21
      <el-table-column label="QTY (Set)">
        <template slot-scope="{row}">
          <span>{{row.qtySet}}</span>
        </template>
      </el-table-column> -->

      <el-table-column label="Price">
        <template slot-scope="{ row }">
          <span>{{ row.price | currency }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Total Price">
        <template slot-scope="{ row }">
          <span>{{ row.subTotal | currency }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Type">
        <template slot-scope="{ row }">
          <span>{{ row.type }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Remaining" width="250">
        <template slot-scope="{ row }">
          <span>{{ row.remainingUnit }}</span>
        </template>
      </el-table-column>

      <!-- 2/10/21
      <el-table-column label="Remaining (Set)" width="150">
        <template slot-scope="{row}">
          <el-tooltip class="item" effect="dark" :content="row.toolTipSet" placement="top" v-if="row.remainingSet>0">
            <span style="cursor: pointer;">{{row.remainingSet | currency}}</span>
          </el-tooltip>
          <span v-else>{{row.remainingSet | currency}}</span>
        </template>
      </el-table-column> -->

      <el-table-column label="Action" width="175">
        <template slot-scope="{ row }">
          <el-tooltip effect="dark" placement="top" content="Delete">
            <el-button
              type="danger"
              size="mini"
              @click="deleteConsumables({ id: row.id })"
              icon="el-icon-delete"
            />
          </el-tooltip>
          <el-tooltip effect="dark" placement="top" content="Edit">
            <el-button
              type="warning"
              size="mini"
              @click="showFormModal({ id: row.id, inventory_id: row.inventory_id, form: 'Edit Consumbales' })"
              icon="el-icon-edit"
            />
          </el-tooltip>
          <el-tooltip effect="dark" placement="top" content="Details">
            <el-button
              type="success"
              size="mini"
              @click="showDetailsModal(row)"
              icon="el-icon-info"
            />
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import ConsumableDetails from "./modal/consumable-details";
import InventoryForms from "./modal/inventory-forms";

export default {
  name: "consumables-list-tab",
  props: ["data"],
  methods: {
    showDetailsModal(data) {
      this.$store.dispatch("callModal", {
        child_component: ConsumableDetails,
        title: "Details",
        modalWidth: "50%",
        content: {
          data,
        },
      });
    },
    showFormModal(data) {
      this.$store.dispatch("callModal", {
        child_component: InventoryForms,
        title: data.form,
        modalWidth: "50%",
        content: {
          data,
        },
      });
    },
    deleteConsumables(data) {
      this.$confirm(
        "This action cannot be undone, Are you sure to delete this record?",
        "Confirm",
        {
          confirmButtonText: "Yes",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      ).then(() => {
        this.$store
          .dispatch("deleteInventoryConsumable", {
            id: data.id,
          })
          .then((res) => {
            this.$eventBus.$emit("reloadConsumablesTable");
            this.$eventBus.$emit("updateProfile");
            console.log(res);
          });
      });
    },
  },
};
</script>

<style scoped>
</style>
