<template>
  <el-table
    :data="tableData"
    border
    stripe
    fit
    style="width: 100%">
    <el-table-column
      prop="name"
      label="Name">
    </el-table-column>
    <el-table-column
      prop="type"
      label="Type">
    </el-table-column>
    <el-table-column
      prop="serial_no"
      label="Serial No">
    </el-table-column>
    <el-table-column
      prop="purchase_date"
      label="Purchase Date">
    </el-table-column>
    <el-table-column
      prop="prop_1"
      label="">
    </el-table-column>
    <el-table-column
      prop="prop_2"
      label="">
    </el-table-column>
    <el-table-column
      label="Action">
      <template slot-scope="scope">
        <el-button
          size="mini"
          type="success">Details</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
  export default {
    name: "consume-request",
    data() {
      return {
        tableData: [{
          name: 'ORDER # 2',
          type: '',
          serial_no: '',
          purchase_date: '',
          prop_1: '',
          prop_2: ''
        }]
      }
    }
  }
</script>

<style scoped>

</style>
