<template>

	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<el-row :gutter="20">

			  <el-col :span="12">
			  	<div class="grid-content bg-purple">
			  		<el-form :model="form" :inline="true" label-width="80px">
			  			<!-- <div class="label">Estimated Date of Arrival :</div> -->
		                <div>
		                  <el-form-item>
		                  		<!-- <el-input size="small" type="number" v-model="form.materials.estimated_date" autocomplete="off" placeholder="Weight Limit"></el-input> -->
		                  		<div class="block">
			                        <span class="demonstration">Estimated Date of Arrival :</span><br>
			                        <el-date-picker size="small"
			                          v-model="form.materials.eta"
			                          type="date"
			                          format="MM/dd/yy- dddd"
			                          value-format="yyyy-MM-dd"
			                          placeholder="Select date"
			                          :picker-options="pickerOptions"
			                          style="width: 350px;">
			                        </el-date-picker>
			                      </div>
		                  </el-form-item>
		                </div>
			  		</el-form>
			  	</div>
			  </el-col>
			  <el-col :span="12">
			  	<div class="grid-content bg-purple">
			  		<el-form :model="form" :inline="true" label-width="80px">
			  			<!-- <div class="label">Carrier# :</div> -->
		                <div>
		                  <el-form-item>
		                  	<div class="block">
			                        <span class="demonstration">Carrier# :</span><br>
			                        <el-input size="small" type="text" v-model="form.materials.carrier" autocomplete="off" placeholder="Carrier #"></el-input>
			                      </div>
		                  </el-form-item>
		                </div>
			  		</el-form>
			  	</div>
			  </el-col>
			  <el-col :span="12">
					<b>Total Weight : {{ totalkg }} kg</b>
			  </el-col>
			</el-row>
  		</div>

  		<div class="text item">

    		<!-- <template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template> -->
  			<!-- {{materials}} -->
  			<template>
  				<template>
  					<el-row :gutter="20">
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">

					  	<!-- <el-table ref="table" width="100%" :data="data" row-class-name="movable">
					  		<el-table-column label="Materials List" label-class-name="tbl-header">
							   	<template slot-scope="scope">
							      	<b style="color: #67C23A">{{ scope.row.material_name }}</b> <br> -->
							      	
							      	<el-table ref="table" width="100%" :data="form.materials.materials"  row-class-name="movable">

							      			<el-table-column label="Project Name" width="200" align="left">
											   	<template slot-scope="scope">
											      	{{ scope.row.proj_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Material Name" width="200" align="left">
											   	<template slot-scope="scope">
											      	{{ scope.row.material_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Remarks">
												<template slot-scope="scope">
												    {{ scope.row.remarks }}
												</template>
											</el-table-column>

											<el-table-column label="Qty">
												<template slot-scope="scope">
													{{ scope.row.qty }}
												</template>
											</el-table-column>

											<el-table-column label="Status">
												<template slot-scope="scope">
												    <span v-bind:style=" status == scope.row.order_status ? 'font-weight: bold; ' : '' ">{{ scope.row.order_status }}
												    </span>
												</template>
											</el-table-column>

									</el-table>
							    <!-- </template>
					  		</el-table-column>
					  		
						</el-table> -->
					  		
					  	</div>

					  </el-col>
					</el-row>

					<div style="margin-bottom: 50px; float: right; margin-top: 20px;">
		                <!-- <el-button class="add-button" type="primary" @click="rcvChina()" v-if="form.materials.status == 'to_received_ch'">Received (China)</el-button> -->
		                <el-button class="add-button" type="primary" @click="shipOut()" v-if="form.materials.status == 'for loading'">Ship Out</el-button>
		            </div>

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'order-details',

		data () {
	    	return {

	      		isFetching: true,

	      		materials: [],
	      		project: [],
	      		order: [],
	      		task: [],
	      		materials: [],
	      		addmaterials: [],
			    order_id: '',
			    step: '',
			    status: '',
			    totalkg : 0,
			    form:{
			        weight_limit: 0,
			        eta: 0,
			        materials: [],
			      },

			    pickerOptions: {
			        disabledDate(time) {
			            return time.getTime() < Date.now() - 8.64e7;
			        }
			      },

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetail',{
	          		order_id: this.order_id
	        	})
	        	.then(res => {
	        		this.project = [];
	        		this.order = [];
	        		this.task = [];

                let { code, project, order, task, materials, addmaterials } = res;
	            	if( code == 200 ) {
	            		// console.log(data);
                    	this.project = project;
                    	this.order = order;
                    	this.task = task;
                    	this.materials = materials;
                    	this.addmaterials = addmaterials;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	checkStep(step){
	      		if(step == this.step){
	      			return 'success';
	      		}
	      		return 'info';
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	rcvChina(){
		      //this.form.materials = this.materials;
		      if(this.form.materials.weight_capacity >= this.totalkg && this.form.materials.weight_capacity > 0 && this.form.materials.carrier != null){
			      return this.$store.dispatch('rcvChina', { payload: this.form }).then(res => {
			        if (res.code == 200) {
			          this.$message({
			            type: 'success',
			            message: 'Successfully Received!'
			          });
			          this.$eventBus.$emit('loadPOC')
			          this.$parent.$emit('close')

	      			  // this.isFetching = false;
			        }else{

			          // console.log('ERROR');

			          this.$message({
			            type: 'error',
			            message: 'Error'
			          });

			        }
			      }).catch(err => {

			      })
			  }
			  else if(this.form.materials.weight_capacity < this.totalkg){
			  		this.$message({
			            type: 'error',
			            message: 'Weight capacity should be higher than the total weight of materials!'
			          });
			  }
			  else if(this.form.materials.carrier == null || this.form.materials.carrier == ''){
			  		this.$message({
			            type: 'error',
			            message: 'Please input container carrier #!'
			          });
			  }
			  else{
			  		this.$message({
			            type: 'error',
			            message: 'Please input weight capacity!'
			          });
			  }
			},

			shipOut(){
		      //this.form.materials = this.materials;
		      if(this.form.materials.weight_capacity >= this.totalkg && this.form.materials.weight_capacity > 0 && this.form.materials.carrier != null && this.form.materials.eta != null){
			      return this.$store.dispatch('rcvChina', { payload: this.form }).then(res => {
			        if (res.code == 200) {
			          this.$message({
			            type: 'success',
			            message: 'Successfully Received!'
			          });
			          this.$eventBus.$emit('loadPOC')
			          this.$parent.$emit('close')

	      			  // this.isFetching = false;
			        }else{

			          // console.log('ERROR');

			          this.$message({
			            type: 'error',
			            message: 'Error'
			          });

			        }
			      }).catch(err => {

			      })
			  }
			  else if(this.form.materials.weight_capacity < this.totalkg){
			  		this.$message({
			            type: 'error',
			            message: 'Weight capacity should be higher than the total weight of materials!'
			          });
			  }
			  else if(this.form.materials.carrier == null || this.form.materials.carrier == ''){
			  		this.$message({
			            type: 'error',
			            message: 'Please input container carrier #!'
			          });
			  }
			  else if(this.form.materials.eta == null || this.form.materials.eta == ''){
			  		this.$message({
			            type: 'error',
			            message: 'Please input estimated date!'
			          });
			  }
			  // else{
			  // 		this.$message({
			  //           type: 'error',
			  //           message: 'Please input weight capacity!'
			  //         });
			  // }
			},
  		},



		created () {
			let { data } = this.$parent.$parent.content;
      		// console.log(data);
      		this.form.materials = data;
      		var totalkg = 0;
      		this.form.materials.materials.map((item,index) => {
	            totalkg = parseFloat(totalkg) + (item.weight > 0 ? parseFloat(item.weight) : 0);
	        });
	        this.totalkg += totalkg;
  		}


	}

</script>

<style >

.el-alert__title{
	font-size: 14px !important;
}


</style>
