<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
        <b>{{form.material_name}}</b>
      </div>
    </el-col>

    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
        <el-form-item
          label="Weight (kg)"
          prop="weight"
        >
          <el-input type="number" min="0" v-model="form.weight" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Length (m)"
            prop="length"
          >
            <el-input type="number" min="0" v-model="form.length" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Width (m)"
            prop="width"
          >
            <el-input type="number" min="0" v-model="form.width" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
        <el-form-item
          label="Height (m)"
          prop="height"
        >
          <el-input type="number" min="0" v-model="form.height" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>
    </el-row>
    <!-- End Second Row -->

    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div  style="float: right">
        <el-form-item>

          <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

        </el-form-item>
      </div>
    </el-col>
<br><br>

</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'edit-order',
  data () {
    return {
      form: {
        id: '',
        product_id: '',
        material_name: '',
        length: '',
        width: '',
        height: '',
        weight: '',
      },
      files : [],
      data: {},
      options: [],
      loading: false,
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {

    this.form = this.$parent.$parent.content.data;
    // console.log(this.form);
    //this.form.category = this.$parent.$parent.content.data.type;
    //this.files = this.$parent.$parent.content.files;
    //this.form.location = this.$parent.$parent.content.location;
    //this.form.qty = this.$parent.$parent.content.qty;

  },

  mounted() {},

  methods: {
    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

      // you can add rules for validations
      return this.$store.dispatch('editOrder', { method: 'edit', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: 'Successfully Updated!'
          });

          this.$eventBus.$emit('loadPOC');
        }else{

          console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },


    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
