<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
      <div>
        <el-form-item
          label="Material Name"
          prop="name"
          :rules="[
            { required: true, message: 'Material name is required.' }
          ]"
        >
          <el-input type="text" v-model.proj_name="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
      <div>
          <el-form-item
            label="Chinese Name"
            prop="name_cn"
            
          >
            <el-input type="text" v-model="form.name_cn" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="3" :md="3" :lg="3" :xl="3">
      <div>
          <el-form-item
            label="Qty"
            prop="qty"
          >
            <el-input type="text" v-model="form.qty" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Category"
            prop="category"
            :rules="[
              { required: true, message: 'Category is required.' }
            ]"
          >
            <el-select v-model="form.type" filterable placeholder="Select category">
                <el-option
                    v-for="s in types"
                    :key="s.value"
                    :label="s.value"
                    :value="s.value">
                  </el-option>
            </el-select>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
    <!-- End of First Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
      <div>
        <el-form-item
          label="Specs"
          prop="specs"
        >
          <el-input type="text" v-model="form.specs" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>

    <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Unit"
            prop="unit"
            :rules="[
              { required: true, message: 'unit is required.' }
            ]"
          >
            <el-input type="text" v-model="form.unit" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>


    <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Unit Price"
            prop="unit_price"
            :rules="[
              { required: true, message: 'unit price is required.' }
            ]"
          >
            <el-input type="number" min="0" v-model="form.unit_price" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
          <el-form-item
            label="Unit Price Cn"
            prop="unit_price_cn"
          >
            <el-input type="number" min="0" v-model="form.unit_price_cn" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div>
        <el-form-item
          label="Retail Price"
          prop="retail_price"
          :rules="[
              { required: true, message: 'retail price is required.' }
            ]"
        >
          <el-input type="number" min="0" v-model="form.retail_price" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>
    </el-row>
    <!-- End Second Row -->

    <!-- Second Row -->
    <el-row :gutter="30">
    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
        <el-form-item
          label="Weight (kg)"
          prop="weight"
        >
          <el-input type="number" min="0" v-model="form.weight" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>


    <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Length (m)"
            prop="length"
          >
            <el-input type="number" min="0" v-model="form.length" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
          <el-form-item
            label="Width (m)"
            prop="width"
          >
            <el-input type="number" min="0" v-model="form.width" autocomplete="off"></el-input>
          </el-form-item>
        </div>
      </el-col>

      <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
      <div>
        <el-form-item
          label="Height (m)"
          prop="height"
        >
          <el-input type="number" min="0" v-model="form.height" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>
    </el-row>
    <!-- End Second Row -->

    <el-row :gutter="30">
      <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" style="margin-bottom: 20px;">
          <el-tag
            :key="tag"
            v-for="tag in form.tags"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)">
            {{tag}}
          </el-tag>
          <el-input
            class="input-new-tag"
            v-if="inputVisible"
            v-model="inputValue"
            ref="saveTagInput"
            size="mini"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm"
          >
          </el-input>
          <el-button v-else class="button-new-tag" size="small" @click="showInput" type="success">+ New Tag</el-button>

      </el-col>
    </el-row>

  <el-row :gutter="30">
      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
        <div>
          <el-form-item>

              <el-upload 
                class="upload-demo"
                drag :multiple="true"
                      ref="upload"
                      action=""
                      :file-list="fileList"
                      :on-change="handleChange"
                      :on-remove="handleRemove"
                      :auto-upload="false">
                <!-- <div class="el-upload__tip" slot="tip">jpg/png/pdf/excel files</div> -->
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop file here or <em>click to upload</em><br>
                  <small>jpg/png files</small></div>
              </el-upload>

          </el-form-item>

          <!-- <template v-for="f in files">
              <el-image
                style="width: 100px; height: 100px; padding-right: 5px;"
                :src="storageURL+f.file_path" 
                :preview-src-list="[storageURL+f.file_path]"
                :z-index="99999">
              </el-image>
          </template> -->

                      
        </div>
      </el-col>
      <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
        <div>
            <el-form-item label="Remarks" prop="remarks">
               <el-input type="textarea" v-model="form.remarks" :autosize="{ minRows: 6, maxRows: 6}"/>
            </el-form-item>
        </div>
      </el-col>
      <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
      <div  style="float: right; margin-top: 40px;">
        <el-form-item>

          <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

          <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

        </el-form-item>
      </div>
    </el-col>
    </el-row>

    <el-row :gutter="30">

      <el-col v-for="f in files" :xs="6" :sm="4" :md="4" :lg="4" :xl="4">
                        <div class="img-con">
                          <el-image
                            style="width: 100px; height: 100px; padding-right: 5px;padding-top: 12px;"
                            :src="storageURL+f.file_path" 
                            :preview-src-list="[storageURL+f.file_path]"
                            :z-index="99999">
                          </el-image>
                          <div class="overlay"></div>
                          <div class="button">
                            <!-- <a href="#" style="margin-right: 10px;" @click="showTaskImages(row.id)"> <i class="el-icon-view"></i> </a> -->
                            <el-button icon="el-icon-view" circle size="mini" style="margin-right: 10px;" @click="showTaskImages(storageURL+f.file_path)"></el-button>

                            <el-popconfirm
                              confirm-button-text='OK'
                              cancel-button-text='Cancel'
                              icon="el-icon-info"
                              icon-color="red"
                              title="Are you sure to delete this?"
                              @onConfirm="deleteMaterialImage(f.id)"
                            >
                              <el-button type="danger" slot="reference" icon="el-icon-delete" circle size="mini"></el-button>
                            </el-popconfirm>
                            <!-- <a href="#"> <i class="el-icon-delete"></i> </a> -->
                          </div>
                        </div>
                      </el-col>

      
  </el-row>
  <vue-easy-lightbox
    escDisabled
    moveDisabled
    :visible="visible"
    :imgs="imgs"
    :index="indexxx"
    @hide="handleHide"
  ></vue-easy-lightbox>
</el-form>


</template>

<script>
import { mapGetters } from 'vuex';
import VueEasyLightbox from 'vue-easy-lightbox';

export default {
  name: 'add-edit-group',
  components: {
         VueEasyLightbox
      },
  data () {
    return {
      form: {
        id: '',
        name: '',
        name_cn: '',
        category: '',
        specs: '',
        qty: '',
        unit: '',
        unit_price: '',
        unit_price_cn: '',
        retail_price: '',
        length: '',
        width: '',
        height: '',
        weight: '',
        remarks: '',
        uplPhotos : [],
        type : 'materials',
        location : '',
        tags : []
      },
      files : [],
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,

      types: [
        { value: 'AUX' }, 
        { value: 'AAA - Customize Item' }, 
        { value: 'ACU' },
        { value: 'ACU Accessory' }, 
        { value: 'ACU Insulation' },  
        { value: 'Aluminum' },  
        { value: 'Appliances' }, 
        { value: 'Baseboard' }, 
        { value: 'Bio Lock' }, 
        { value: 'Board' }, 
        { value: 'Carpet Flooring' }, 
        { value: 'Carpentry' }, 
        { value: 'CCTV' }, 
        { value: 'Ceiling' }, 
        { value: 'China - Alum Sliding Doors' }, 
        { value: 'China Downspout' }, 
        { value: 'China Roofing' }, 
        { value: 'China - Modular' }, 
        { value: 'China - Others' }, 
        { value: 'China - Vanity' }, 
        { value: 'China - Wooden Doors' }, 
        { value: 'Civil' }, 
        { value: 'Cleaning' }, 
        { value: 'Consumables' }, 
        { value: 'Consumables - Carpentry' }, 
        { value: 'Consumables - Civil' }, 
        { value: 'Consumables - cutting & drilling' }, 
        { value: 'Consumables - Electrical' }, 
        { value: 'Consumables - Hangers' }, 
        { value: 'Consumables - Painting' }, 
        { value: 'Consumables - Plumbing' }, 
        { value: 'Consumables - Screws' }, 
        { value: 'Consumables - Sealant & Glue' }, 
        { value: 'Consumables - Tiling' }, 
        { value: 'Consumables - Wall Paper' }, 
        { value: 'Curtain' }, 
        { value: 'Decor' }, 
        { value: 'Demolition' }, 
        { value: 'Documents & Forms' }, 
        { value: 'Doors + Accessories' }, 
        { value: 'Drywall' }, 
        { value: 'Electrical' }, 
        { value: 'Electrical Wires' }, 
        { value: 'Equipment & Power Tools' }, 
        { value: 'Furnitures' }, 
        { value: 'Garden' }, 
        { value: 'Garden canopy' }, 
        { value: 'Hand Tools' }, 
        { value: 'Hangers' }, 
        { value: 'Hardware / Depot' }, 
        { value: 'Installation' }, 
        { value: 'Laminated Flooring' }, 
        { value: 'Lighting Fixtures' }, 
        { value: 'Manhole' }, 
        { value: 'Masonry' }, 
        { value: 'Painting' }, 
        { value: 'Panelboard' }, 
        { value: 'PH Roofing' }, 
        { value: 'Plumbing' }, 
        { value: 'Plumbing Fixtures' }, 
        { value: 'Plumbing - PVC' }, 
        { value: 'PPR' }, 
        { value: 'Roofing' }, 
        { value: 'Sanitary' }, 
        { value: 'Safety + PPE' }, 
        { value: 'Site Document' }, 
        { value: 'Sound System' }, 
        { value: 'SPC Flooring' }, 
        { value: 'Stainless' }, 
        { value: 'Stainless Cladding' }, 
        { value: 'Steel BI' }, 
        { value: 'Subcon - Acu' },
        { value: 'Subcon - Exhaust + Fresh Air' },
        { value: 'Subcon - Fdas ' },
        { value: 'Subcon - Fire Suppression' },
        { value: 'Subcon - Gas' },
        { value: 'Subcon - Glass' },
        { value: 'Subcon - Kitchen Equipment' },
        { value: 'Subcon - Roll Up' },
        { value: 'Subcon - Sigange' },
        { value: 'Subcon - Sprinkler' },
        { value: 'Swimming pool' },
        { value: 'Switch + Outlet' },
        { value: 'Tel & Data' },
        { value: 'Tiles' },
        { value: 'Tiling' },
        { value: 'Tools' },
        { value: 'Uncategorized' },
        { value: 'Upholstery' },
        { value: 'Vanity' },
        { value: 'Walling' },
        { value: 'Wall Paper' },
        { value: 'Water Proofing' },
        { value: 'Welding' },
        { value: 'WPC Flooring' },
        { value: 'Wooden Flooring' },
      ],

      imgBase64: [],
      fileList: [],
      storageURL: process.env.VUE_APP_STORAGE,

      uplform: {
        comment: '',
        rcvby: '',
        fileData: []
      },

      imgs: '',
      visible: false,
      indexxx: 0,

      dynamicTags: [],
      inputVisible: false,
      inputValue: ''
    }
  },

  props: {
    method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {
    //console.log(this.$parent.$parent.content.data);
    this.form = this.$parent.$parent.content.data;
    var str = this.form.tags;
    this.form.tags = ( str!='' && str!= null ? str.split(",") : []);
    if(this.form.tags == null){
      this.form.tags = [];
    }
    console.log(this.form.tags);
    this.form.category = this.$parent.$parent.content.data.type;
    this.files = this.$parent.$parent.content.files;
    this.form.location = this.$parent.$parent.content.location;
    this.form.qty = this.$parent.$parent.content.qty;

  },

  mounted() {},

  methods: {
    showTaskImages(img) {

          //console.log(selected[0].files);
          var ctr = [];
          //for(var i = 0; i < ii.length; i++){
              //console.log(ii[i].file_path);
              (ctr).push(img);
              // ctr++;
          //}
          this.imgs = ctr;
          //console.log(this.imgs);
          //this.imgs = ['http://via.placeholder.com/350x150', 'http://via.placeholder.com/350x150']
          // allow mixing

          //this.index = 0  // index of imgList
          this.show()
        },
      show() {
          this.visible = true
        },
      handleHide() {
        this.imgs = [];
        this.visible = false
      },
      deleteMaterialImage(id){
         const fd = new FormData();
         fd.append("id", id);
         this.$store.dispatch("deleteMaterialImage", fd).then(response => {
          this.$parent.$emit('close');
          
          this.$message({
            type: 'success',
            message: 'Image successfully deleted!'
          });
          this.$eventBus.$emit('materialList');
          // this.$eventBus.$emit('openTaskDetails',this.task_id);
        });
      },

    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

            if((this.uplform.fileData).length > 0) {
                this.uplform.fileData.filter((item, index) => {
                  var file_path = this.$refs.upload.uploadFiles[index].name;

                  var file_type = item.file_path.split('.');

                  item.file_path = file_path 

                  item.imgBase64 = this.imgBase64[index].imgBase64
                })
              }
              this.form.uplPhotos = this.uplform.fileData;

              this.form.tags = this.form.tags == null ? [] : this.form.tags;

      // you can add rules for validations
      return this.$store.dispatch('addeditMaterial', { method: 'edit', payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('materialList');
        }else{

          console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },

    handleChange (file, fileList) {
      console.log(file);
      var self = this

      var fileData = {
        // id: self.task_id,
        file_path: file.name,
        comment: '',
        imgBase64: null
      }

      var fl = [{
        name: file.name,
        url: file.name
      }]          

      var reader = new FileReader();
      reader.readAsDataURL(file.raw);
      reader.onload = function(e) {
        self.imgBase64 = [...self.imgBase64, {
          name: file.name,
          imgBase64: this.result
        }]
      }
      // console.log(reader);

      this.uplform.fileData = [...this.uplform.fileData, fileData];
      // this.fileList = fl;

    },

    handleRemove (file, fileList) {
      //(this.uplform.fileData).splice(index, 1);
      var fl = [];
      (this.uplform.fileData).forEach(function(x, index) {

          if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
            var fileData = {
            // id: self.task_id,
            file_path: file.name,
            comment: '',
            imgBase64: null
          }
            fl = [...fl, fileData];
          }

        });
        this.uplform.fileData = fl;
      console.log((this.uplform.fileData));
    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

      handleClose(tag) {
        (this.form.tags).splice((this.form.tags).indexOf(tag), 1);
      },

      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },

      handleInputConfirm() {
        let inputValue = this.inputValue;
        // alert(inputValue);
        if (inputValue) {
          (this.form.tags).push(inputValue);
        }
        this.inputVisible = false;
        this.inputValue = '';
      }

  }
}
</script>

<style>

  .el-select{
    width:100%;
  }

  .el-image-viewer__close{
  color: #FFF !important;
}
  .img-con {
  position: relative;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.overlay {
  position: absolute;
  top: 12px;
  left: 2px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.img-con:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.img-con:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 100px;
  left:2px;
  top: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 50px;
  top: 50px;
  /*padding: 12px 48px;*/
  text-align: center;
  color: white;
  font-size: 18px;
  /*border: solid 2px white;*/
  z-index: 1;
}

.img-con:hover .button {
  opacity: 1;
}

.el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
</style>
