<template>

	<el-card class="box-card" shadow="never" style="overflow-x: hidden;">

  		<div class="text item" style="overflow-x: hidden;">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>
  					<el-form ref="po_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
  					<el-card class="box-card" shadow="never">
				  		<div slot="header" class="clearfix">
				  			<el-row :gutter="20" class="form-container">
				              	<el-col :span="12">
				              		<h5>Type : 
					              		<el-select v-model="form.type" filterable placeholder="Select Type" style="width: 150px;" size="mini">
					                        <el-option
					                          v-for="s in types"
					                          :key="s.label"
					                          :label="s.label"
					                          :value="s.label">
					                        </el-option>
				                      </el-select>
									</h5>
				              	</el-col>
				            </el-row>
				            <el-row :gutter="10" class="form-container">
				              	<el-col :span="12">
				              		<h5>From : 
				              			<el-input v-model="form.transfer_from" type="text" size="mini"></el-input>
					              		<!-- <el-select v-model="form.transfer_from" filterable placeholder="Select Location" style="width: 200px;" size="mini" @change="handleUpdateLocation()">
							              <el-option key="0" value="Warehouse"><i>Warehouse</i></el-option>
							              <el-option
							                v-for="s in projects"
							                :key="s.id"
							                :label="s.name"
							                :value="s.id">
							              </el-option>
							            </el-select> -->
									</h5>
				              	</el-col>
				              	<el-col :span="12">
				              		<h5>To : 
				              			<el-input v-model="form.transfer_to" type="text" size="mini"></el-input>
					              		<!-- <el-select v-model="form.transfer_to" filterable placeholder="Select Location" style="width: 200px;" size="mini">
							              <el-option key="0" value="Warehouse" v-if="form.transfer_from != 'Warehosue'"><i>Warehouse</i></el-option>
							              <el-option
							                v-for="s in projects"
							                v-if="s.id != form.transfer_from"
							                :key="s.id"
							                :label="s.name"
							                :value="s.id">
							              </el-option>
							            </el-select> -->
									</h5>
				              	</el-col>
				            </el-row>

				            <el-row :gutter="10" class="form-container">
				              	<el-col :span="12">
				              		<h5>Date : 
				              			<el-date-picker
				                          v-model="form.needed_date"
				                          size="mini"
				                          type="date"
				                          format="MM/dd/yy- dddd"
				                          value-format="yyyy-MM-dd"
				                          placeholder="Select date"
				                          :picker-options="pickerOptions"
				                          style="width: 300px;">
				                        </el-date-picker>
									</h5>
				              	</el-col>
				              	<el-col :span="12">
				              		<h5>Time : 
				              			<el-time-picker
				                          is-range size="mini" 
				                          v-model="form.needed_time"
				                          range-separator="To"
				                          start-placeholder="Start time"
				                          end-placeholder="End time"
				                          value-format="hh:mm:ss" style="width: 300px;">
				                        </el-time-picker>
									</h5>
				              	</el-col>
				            </el-row>
				  		</div>

				  		<div class="text item">
				  			<el-row :gutter="20" class="form-container">
				              <el-col :span="24">

				              	<el-divider></el-divider>
				              	<h4><b style="color: #67C23A;">Details</b></h4>

					    		<el-button size="mini" type="success" @click="AddListRow()" round>+ Add new row</el-button>

								<el-table :data="datas = form.item" border style="width:100%;overflow-y: hidden; overflow-x: hidden !important;height: auto;">
									<el-table-column label="Detail" width="380">
										<template slot-scope="scope">
											<el-input v-model="form.item[scope.$index].detail" type="text">
											</el-input>
										</template>
									</el-table-column>

									<el-table-column label="Action" width="220">
										<template slot-scope="scope">
											<el-button size="mini" type="danger" @click="handleDelete(scope.$index)">delete</el-button>
										</template>
									</el-table-column>
								</el-table>

						      </el-col>
						    </el-row>

						    <el-row :gutter="10" class="form-container">
				              	<el-col :span="24">
				              		<h5>Notes : 
				              			<el-input
				                          type="textarea"
				                          :rows="3"
				                          v-model="form.notes"
				                          resize="none" style="width: 100%">
				                        </el-input>
									</h5>
				              	</el-col>
				            </el-row>
						</div>  
						  
						<el-divider></el-divider>

				        	<!-- {{ form.status }} -->
							<div style="margin-bottom: 50px;margin-top: 50px;">
				                <el-button class="add-button" type="primary" :loading="loading" @click="validateForm()">Save</el-button>
				            </div>
				  	</el-card>
			        </el-form>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>
	import { mapGetters } from 'vuex'
	export default {

		name: 'new-payment',

		data () {
	    	return {
	    		loading: false,
	    		isFetching: true,
			    
			    form: {
			      type: '',
			      transfer_from: '',
			      transfer_to: '',
			      needed_date: '',
			      needed_time: '',
			      notes: '',
			      item: []
	      		},

	      		types: [{
			          label: 'Item'
			        }, {
			          label: 'People'
			        }, {
			          label: 'Hauling'
			        }, {
			          label: 'Pull-out'
			        }, {
			          label: 'Document'
			        }
			      ],

			    projects: [],
			    materials: [],

			    pickerOptions: {
			        disabledDate(time) {
			            return time.getTime() < Date.now() - 8.64e7;
			        }
			      },
	    	}
	  	},

		computed: mapGetters({
		    header: 'header',
		    session: 'session',
		}),

	  	methods: {
	  		handleUpdateLocation(){
		      if(this.form.transfer_from == this.form.transfer_to){
		          this.form.transfer_to = '';
		      }
		    },
		    validateForm(Form, status){
		    	var ttl = parseFloat(this.form.totalsrp) + parseFloat(this.form.payout_return) + parseFloat(this.form.gas) + parseFloat(this.form.parking);
		    	if(
		    		(this.form.type == '' || this.form.type == null) &&
		    		(this.form.transfer_from == '' || this.form.transfer_from == null) &&
		    		(this.form.transfer_to == '' || this.form.transfer_to == null) &&
		    		(this.form.needed_date == '' || this.form.needed_date == null) &&
		    		(this.form.needed_time_from == '' || this.form.needed_time_from == null) &&
		    		(this.form.needed_time_to == '' || this.form.needed_time_to == null)

		    	)
		    	{
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input transfer details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.form.item.length < 1 ){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please add details',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.checkItems() == false){
		    		this.$message({
		                  showClose: true,
		                  message: 'details cannot be empty!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else{
		    		//this.form.completed_at = 1;
		    		this.onAddTransfer();
		    	}
		    },

		    onAddTransfer () {
		          this.loading = true;
		          this.$store.dispatch('addFreeTransfer',  { payload: this.form })
		            .then(res => {

		              if (res.status === 'Failed') {
		                this.errors = res.errors
		                this.loading = false
		              } else {
		                this.$message({
		                  showClose: true,
		                  message: this.$t('Common.successfully_added'),
		                  type: 'success',
		                  center: true
		                })

		                this.$eventBus.$emit('loadToShip');
		                this.$parent.$emit('close');

		              }
		            })
		    },

		    checkItems(){
		    	var ret = true;
		    	for(var i = 0; i < this.form.item.length; i++){
					if(
			    		(this.form.item[i].detail == null || this.form.item[i].detail == '')
			    	){
			    		ret = false;
			    	}
				}
				return ret;
		    },

	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetailMultiple',{
	          		payload: this.form
	        	})
	        	.then(res => {
	        		this.project = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    	this.project = data;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

		    getCategories2(){
		        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
		              this.categories2 = response.data.data;
		            })
		     },

		    AddListRow() {
		    	var index = this.form.item.length;
				this.form.item.push({
					"detail":"",
				});
			},

			handleDelete(index) {
				this.form.item.splice(index, 1);
			},

			handleDelete2(index) {
				this.details.splice(index, 1);
			},

			displayTable2(){
			   if(this.add.materials.length > this.selectedmaterials.length){		   	
				   var id = this.add.materials[this.add.materials.length - 1];
				   var mat = (this.materials).filter(function(x) { return x.id == id });
		      	   this.selectedmaterials.push({
						'material_id': id,
						'material_name': mat[0].name + '('+ mat[0].name_cn+')',
						'items': []
					});
			   }
			   else{
			   	console.log(this.add.materials);
				   	for(var i = 0; i < this.selectedmaterials.length; i++){
					 if( !(this.add.materials).includes( this.selectedmaterials[i].material_id )){
					  	this.selectedmaterials.splice(i, 1)
					 }
					}
			   	   // this.selectedmaterials[index2].items.splice(index, 1);
			   }
		    },

		    getSuppliers(){
				this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
		        	this.projects = response.projects
		        	this.materials = response.materials
		      	})
	      	},
  		},



		created () {
			this.getSuppliers();

			this.isFetching = false;
  		}


	}

</script>

<style>
.el-tag + .el-tag {
margin-left: 10px;
}
.button-new-tag {
margin-left: 10px;
height: 32px;
line-height: 30px;
padding-top: 0;
padding-bottom: 0;
}
.input-new-tag {
width: 90px;
margin-left: 10px;
vertical-align: bottom;
}
.el-alert__title{
	font-size: 14px !important;
}

.tbl-header{
	font-size: 14px !important;

}
.el-upload{
	width: 350px !important;
	margin-left: 0px;
}
.el-upload-list{
	margin-left: 0px;
}

.el-table thead{
	color: #000 !important;
}
.el-table__row{
	margin-bottom : 16px;
}

</style>
