<template>
  <div>
      <el-table border stripe ref="table" :data="filteredList" width="100%" v-loading="loading">
          <el-table-column label="Date">
            <template slot-scope="{row}">
              <span>{{row.created_at}}</span>
            </template>
          </el-table-column>

          <el-table-column label="QTY">
            <template slot-scope="{row}">
              <span>{{row.purchased}}</span>
            </template>
          </el-table-column>

          <el-table-column label="Price">
            <template slot-scope="{row}">
              <span>{{row.price | currency}}</span>
            </template>
          </el-table-column>

          <el-table-column label="Sub Total">
            <template slot-scope="{row}">
              <span>{{row.subTotal | currency}}</span>
            </template>
          </el-table-column>

          <el-table-column label="Source">
            <template slot-scope="{row}">
              <span>{{row.type=='Consumed'?`${row.location!=''?row.location+' ('+row.location_detail+')':''}`:row.sup_location}}</span>
            </template>
          </el-table-column>
      </el-table>
  </div>
</template>

<script>
    export default {
        data(){
          return {
            loading: false
          }
        },
        props: ['data'],
        computed: {
          filteredList() {
            if (this.data) {
              return this.data.filter(data => data && data.type=="Purchased");
            }
            return [];
          },
        },
    }
</script>

<style scoped>

</style>
