<template>
  <div class="tab-pane">
    <el-dialog :title="categoryTree.title"
               :visible.sync="categoryTree.dialog"
               :before-close="handleClose">
      <div style="border-top: 1px solid #DCDFE6;">
        <el-tree ref="tree"
                 node-key="id"
                 :data="treeCategories"
                 :props="treeCategoryProps"
                 :expand-on-click-node="false"
                 :default-expanded-keys="categoryTree.key"
                 :highlight-current="true"
                 @node-click="handleTreeDetails">
          <div style="width: 100%;" slot-scope="{ node, data }">
            <span>{{data.name}}</span>
          </div>
        </el-tree>
        <p>Selected Category: {{ categoryTree.data.name }}</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Back</el-button>
        <el-button @click="getTreeCategories">Reload</el-button>
        <el-button type="primary" @click="addConfirm()" :disabled="!categoryTree.display">Confirm</el-button>
      </span>
    </el-dialog>
    <nav class="nav-bar">
      <div class="nav-bar__container">
        <div class="nav-bar__scrollmenu">
          <a href="javascript:" v-if="stepSearchName.length === 0" v-bind:class="{selected: isActive === 'company'}" @click.prevent="toggleMenu('company')">
            Company <i class="el-icon-caret-bottom"></i>
          </a>
          <a href="javascript:" v-else-if="stepSearchId.length !== 0" v-for="(stepSearch,index) in stepSearchId" v-bind:class="{selected: isActive === index}" @click.prevent="toggleMenu($event,index)" :ref="stepSearchName[index]">
            {{stepSearchName[index]}} <i class="el-icon-caret-bottom"></i>
          </a>
        </div>
        <div class="nav-bar__search">
          <input placeholder="Please enter any keyword" v-model="search" class="input-search"></input>
        </div>
      </div>
      <div class="nav-bar__button">
        <el-button type="warning" @click.prevent="emitInventoryList"><i class="el-icon-search"></i> <span>Search</span></el-button>
        <el-button type="warning" @click.prevent="emitResetSearch" plain><i class="el-icon-refresh"></i> <span>Reset</span></el-button>
      </div>
      <div class="mega-menu" v-bind:class="isToggle" v-click-outside="closeToggle" :style="isToggle === 'show' ? 'display' : 'display:none' ">
        <div class="button">
          <a href="javascript:"@click.prevent="closeToggle"><i class="el-icon-close"></i></a>
        </div>
        <div class="mega-grid">
          <div class="inner-mega-menu" v-if="stepSearchId.length === 0" v-for="(company,index) in companies">
            <a href="javascript:" style="color:#324057" @click="stepSearch(company,'dropdown','company')">{{company.name}}</a>
          </div>
          <div class="inner-mega-menu" v-if="stepSearchId.length !== 0" v-for="(category,index) in categories">
            <a href="javascript:" style="color:#324057" @click="stepSearch(category,'dropdown','category')">{{category.name}}</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
  import ClickOutside from 'vue-click-outside'
  import InventoryForms from './modal/inventory-forms'

  export default {
    name: "inventory-general",
    data() {
      return {
        storageURL: process.env.VUE_APP_STORAGE,
        isActive: '',
        isToggle: 'hide',
        companyIdActive: '',
        search: '',
        defaultPage: {
          page: 1,
          limit: 20,
        },
        units: [],
        companies: [],
        categories: [],
        tabCategories: [],
        treeCategories:[],
        stepSearchId:[],
        stepSearchName:[],
        categoryTree:{
          dialog: false,
          display: false,
          title: '',
          data: [],
          company_id: '',
          category_id: '',
          key: [],
          action: '',
        },
        treeCategoryProps: {
          children: 'sub_categories',
          label: 'name'
        },
        stepSearchForm:{
          company_id:0,
          category_id:0,
        },
        companyCategories: [],
        companyCategoryInventories: [],
        categoryInventories: [],
        loading: false,
        sample: [
          {
            step: 0,
            unit:'test',
            content:'123'
          },
          {
            step: 1,
            unit:'test1',
            content:'1234'
          }
        ]
      }
    },
    computed: {
    },
    methods: {
      showFormModal(data){
        this.$store.dispatch('callModal', {
          child_component: InventoryForms,
          title: data.form,
          modalWidth: '80%',
          content: {
            data
          }
        })
      },
      toggleMenu: function(e, btn) {
        if(this.isToggle === ''){
          this.isToggle = 'show'
        }else{
          if(e.isTrusted !== false){
            if(btn === 'company'){
              this.stepSearchId = [];
              this.stepSearchName = [];
            }else{
              this.stepSearch(this.stepSearchId[btn],'tab','category');
            }
            this.isToggle = 'show'
            this.isActive = btn;
          }
        }
      },
      closeToggle() {
        this.isToggle = ''
        this.isActive = ''
      },
      emitInventoryList() {
        let d = {
          filter: this.search,
          company_id: this.stepSearchForm.company_id,
          category_id: this.stepSearchForm.category_id
        };
        //this.$eventBus.$emit('getInventoryList', d)
        this.$emit('handleSearchInv', d)
      },
      emitResetSearch() {
        this.$emit('resetSearch', {});
        this.search = ""
        this.stepSearchForm = {
            company_id: 0,
            category_id: 0
        },
        this.stepSearchId = [];
        this.stepSearchName = [];
        this.companyIdActive = 0;
        this.isToggle = ''
        this.$store.dispatch('resetMe')
      },
      handleTreeDetails(data){
        if(this.categoryTree.action === 'Add Category'){
          this.categoryTree.data = data;
          this.categoryTree.display = true;
        }else if(this.categoryTree.action === 'Add Item Profile'){
          this.categoryTree.data = data
          if(data.company === true){
            this.categoryTree.display = false;
          }else{
            this.categoryTree.display = true;
          }
        }
      },
      addConfirm(){
        if(this.categoryTree.action === 'Add Category'){
          this.showFormModal({data: this.categoryTree.data,form:'Add Category'})
        }else if(this.categoryTree.action === 'Add Item Profile'){
          this.showFormModal({data: this.categoryTree.data,form:'Add Item Profile'})
        }
      },
      stepSearch(data,loc,type, cond=false) {
        if(loc === 'dropdown'){
          if(type === 'company'){
            this.companyIdActive = data.company_id;
            this.stepSearchForm.category_id = 0;
            this.stepSearchId.push(0)
          }else if(type === 'category'){
            this.stepSearchForm.category_id = data.category_id;
            this.stepSearchId.push(data.category_id)
          }
          this.stepSearchName.push(data.name);
          this.stepSearchForm.company_id = data.company_id;
        }else if(loc === 'tab'){
          let start = this.stepSearchId.findIndex((element) => element === data);
          this.stepSearchName.splice(start);
          this.stepSearchId.splice(start);
          if(this.stepSearchId.length === 0){
            this.companyIdActive = 0;
          }
          this.stepSearchForm.company_id = this.companyIdActive;
          this.stepSearchForm.category_id = this.stepSearchId[start-1];
        }
        this.getCategories();
        if(cond===true) {
          this.emitInventoryList();
        }
        this.$store.dispatch('rememberMenu', {
          companyIdActive: this.companyIdActive,
          stepSearchId: this.stepSearchId,
          stepSearchName: this.stepSearchName
        })
      },
      handleClose() {
        this.categoryTree.dialog = false
        this.categoryTree.display = false;
      },
      getUnits () {
        this.$store.dispatch('getPurchaseUnit').then(response => {
          this.units = response.data;
        }).catch(error =>{
          if(error.response.status === 500){
            this.getUnits()
          }
        })
      },
      getTreeCategories (data) {
        this.categoryTree.data = [];
        this.categoryTree.key = [];
        const fd = new FormData();
        fd.append("company_id", this.categoryTree.company_id);
        fd.append("category_id", this.categoryTree.category_id);
        this.$store.dispatch('getTreeCategory', fd).then(response => {
          this.treeCategories = response.data;
          if(data !== undefined){
            this.categoryTree.key = [data];
            this.treeHighlight(data)
            this.categoryTree.display = false;
          }
        }).catch(error =>{
          if(error.response.status === 500){
            this.getTreeCategories(data)
          }
        })
      },
      getCompanies () {
        this.$store.dispatch('getCompany').then(response => {
          this.companies = response.data;
        }).catch(error =>{
          if(error.response.status === 500){
            this.getCompanies()
          }
        })
      },
      getCategories () {
        const fd = new FormData();
        fd.append("company_id", this.stepSearchForm.company_id);
        fd.append("category_id", this.stepSearchForm.category_id);
        this.$store.dispatch('getAllCategory', fd).then(response => {
          this.categories = response.data;
        }).catch(error =>{
          if(error.response.status === 500){
            this.getCategories()
          }
        })
      },
      treeHighlight(data) {
        this.$nextTick(() => {
          this.$refs.tree.setCurrentKey(data);
        });
      },
    },
    mounted () {
      this.popupItem = this.$el // prevent click outside event with popupItem.
      this.getCompanies()
      this.getTreeCategories()
      this.$root.$on('inventoryGeneral',(condition, data)=>{
        if(condition === 'showCompanyForm'){
          this.showFormModal({data:'',form:'Add Company'})
        }else if(condition === 'showTreeCategory'){
          this.categoryTree.dialog = true;
          this.categoryTree.title = 'Select Category to Add Category';
          this.categoryTree.company_id = this.companyIdActive;
          this.categoryTree.category_id = 0;
          this.categoryTree.action = 'Add Category';
        }else if(condition === 'showTreeInventory'){
          this.categoryTree.dialog = true;
          this.categoryTree.title = 'Select Category to Add Item Profile';
          this.categoryTree.company_id = this.companyIdActive;
          this.categoryTree.category_id = 0;
          this.categoryTree.action = 'Add Item Profile';
        }else if(condition === 'showCompanyDetail'){
          this.stepSearch(data,'dropdown','company', true)
        }else if(condition === 'showCategoryDetail'){
          this.stepSearch(data,'dropdown','category', true)
        }else if(condition === 'showMenu'){
          this.isToggle = ''
          this.stepSearch(data,'dropdown','company')
        }
      })
      this.$eventBus.$on('emitInventoryList', () => {
        this.emitInventoryList()
      })
      this.$eventBus.$on('getCompanies', () => {
        this.getCompanies()
      })
      this.$eventBus.$on('getTreeCategories', (data) => {
        this.getTreeCategories(data)
      })
      this.$eventBus.$on('getCategories', () => {
        this.getCategories()
      })

      let history = this.$store.state.inventories.histAll
      if(history !=""){
        this.search = history.filter
      }

      let menu = this.$store.state.inventories.menu
      if(menu !=""){
        this.stepSearchId = menu.stepSearchId;
        this.stepSearchName = menu.stepSearchName;
        this.companyIdActive = menu.companyIdActive;
      }
    },
    directives: {
      ClickOutside
    },
  }
</script>

<style lang="scss">
  .no-bottom-margin{
    margin-bottom: 0
  }

  .el-tree-node__content:hover.el-tree-node__content:hover {
    background-color: #40586F;
    color: #fff;
  }

  .el-tree {
    .el-tree-node.is-current > .el-tree-node__content:first-child {
      background-color: #40586F;
      color: #fff;
    }
  }

  .el-tree-node__content {
    border-bottom: 1px solid #DCDFE6;
    border-left: 1px solid #DCDFE6;
    border-right: 1px solid #DCDFE6;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .movable {
    cursor: move;
  }
</style>

<style lang="scss" scoped>
  .avatar-uploader-container {
    border-width: 1px;
    border-style: dashed;
    // border-color: #d9d9d9;
    display: inline-block;
    line-height: 0px;
  }

  .avatar-uploader .el-upload {
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }

  .avatar {
    width: 150px;
    height: 150px;
    display: block;
  }

  .el-select {
    display: block;
  }
</style>

<style lang="scss" scoped>
  @import "../../../assets/styles/variables";

  ::-webkit-scrollbar {
    height: .4rem;
  }

  ::-webkit-scrollbar-track {
    background: $gray-lighter;
  }

  ::-webkit-scrollbar-thumb {
    background: $gray-dark;
  }

  .nav-bar {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 85% 15%;

    @media only screen and (min-width: 900px) { grid-template-columns:  75% 25%; }
    @media only screen and (min-width: 1024px) { grid-template-columns: 80% 20%; }
    @media only screen and (min-width: 1152px) { grid-template-columns: 82% 18%; }
    @media only screen and (min-width: 1280px) { grid-template-columns: 75% 25%; }
    @media only screen and (min-width: 1366px) { grid-template-columns: 78% 22%; }
    @media only screen and (min-width: 1440px) { grid-template-columns: 80% 20%; }
    @media only screen and (min-width: 1536px) { grid-template-columns: 81% 19%; }
    @media only screen and (min-width: 1600px) { grid-template-columns: 82% 18%; }
    @media only screen and (min-width: 1680px) { grid-template-columns: 83% 17%; }
    /*@media only screen and (min-width: 1700px) { grid-template-columns: 83% 17%; }*/
    @media only screen and (min-width: 1853px) { grid-template-columns: 85% 15%; }
    /*@media only screen and (min-width: 1920px) { grid-template-columns: 86% 14%; }*/

    &__container {
      border: 2px solid $blue;
      height: 37px;

      display: grid;
      grid-template-columns: 80% 20%;

      @media only screen and (min-width: 900px) { grid-template-columns:  68% 30%; }
      @media only screen and (min-width: 1024px) { grid-template-columns: 69.5% 29%; }
      @media only screen and (min-width: 1152px) { grid-template-columns: 74% 25%; }
      @media only screen and (min-width: 1280px) { grid-template-columns: 75% 24%; }
      @media only screen and (min-width: 1366px) { grid-template-columns: 78% 21%; }
      @media only screen and (min-width: 1440px) { grid-template-columns: 79% 20%; }
      @media only screen and (min-width: 1536px) { grid-template-columns: 81% 18%; }
      @media only screen and (min-width: 1600px) { grid-template-columns: 82% 17%; }
      @media only screen and (min-width: 1680px) { grid-template-columns: 82.5% 16.5%; }
      @media only screen and (min-width: 1700px) { grid-template-columns: 82% 17.5%; }
      @media only screen and (min-width: 1853px) { grid-template-columns: 83.5% 16%; }
      @media only screen and (min-width: 1920px) { grid-template-columns: 82% 17.4%; }
    }

    &__scrollmenu {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      & a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: $black-light;
        transition: all .2s ease;
        padding: 9px 30px 10px 30px;

        &:not(:last-child) {
          border-right: 1px solid $gray;
        }

        &:hover {
          background-color: $gray-lighter;
        }

        & i {
          margin-left: 12px;
        }
      }
    }

    &__search {
      & .input-search {
        width: 96%;
        font-size: .9rem;
        font-family: inherit;
        color: inherit;
        border: none;
        overflow: hidden;
        background-color: inherit;
        transition: all .3s;
        padding: 10px 5px 10px 10px;

        &:focus {
          outline: none;
        }
      }

    }

    &__button {
      padding-left: 10px;

      @media only screen and (min-width: 900px) {
        span {
          display: none;
        }
      }

      @media only screen and (min-width: 1280px) {
        span {
          display: inline;
        }
      }
    }
  }

  .mega-menu {
    position: relative;
    width: 100%;

    height: auto;
    background-image: linear-gradient(to right bottom, $white, $white);
    border-left: 2px solid $blue;
    border-right: 2px solid $blue;
    border-bottom: 2px solid $blue;
    transition: all .2s ease;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    .button {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      border-bottom: 1px solid $gray-lighter;

      button {
        padding: 8px;
      }

      a {
        width: 17px;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 50% 50%;
        background-color: $warning;
        font-size: 1rem;
        color: $white;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $pure-orange;
        }
      }
    }

  }

  .mega-grid {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 15px;
    row-gap: 20px;

  }

  .inner-mega-menu {

    &:last-child {
      margin-right: 0%;
    }

  }

  .show {
    visibility: visible;
    opacity: 1;
    transition: all .43s ease;
  }

  .hide {
    visibility: hidden;
    opacity: 0;
    transition: all .43s ease;
  }

  .nav-bar ul .tab-pane__container .selected
  {
    background-color: $gray-light;
  }
</style>
