<template>
  <div>
    <div class="item-profile">
    <el-dialog
      :visible.sync="dialogVisible"
      width="60%">
      <el-image :src="storageURL + 'inventories/' + itemProfile.inventory_img" alt="Preview Image"></el-image>
    </el-dialog>
    <div class="item-profile__left">
      <div class="container">
        <img :src="storageURL + 'inventories/' + itemProfile.inventory_img" alt="Inventory Image" />
        <div class="button">
          <input type="file"
                 style="display: none"
                 @change="onFileSelected"
                 ref="fileInput"
                 accept="image/*">
          <el-tooltip class="item" effect="dark" content="Click to update image" placement="bottom">
            <el-button type="primary" @click="$refs.fileInput.click()"><i class="el-icon-camera-solid" style="font-size: 18px"></i></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="Click to enlarge" placement="bottom">
            <el-button type="primary" plain @click="dialogVisible = true"><i class="el-icon-view" style="font-size: 18px"></i></el-button>
          </el-tooltip>
        </div>
      </div>

    </div>
      <div class="item-profile__right">
        <div class="item-profile__container">
          <div>
            <h2>{{itemProfile.company_name}}</h2>
            <p>{{`${itemProfile.asset_name?itemProfile.asset_name+' > ':''}${itemProfile.item_name} > ${itemProfile.name}`}}</p>
          </div>
          <div>
            <a href="javascript:" class="btn-text" @click.prevent="emitBack">Back &rarr;</a>
          </div>
        </div>
        <div class="item-profile__container">
          <el-row :gutter="20">
            <el-col :span="12">
              <div><strong>Description</strong></div>
              <div>
                <span>{{itemProfile.description}}</span>
              </div>
            </el-col>
            <el-col :span="6">
              <div><strong>Specification</strong></div>
              <div>
                <span>{{itemProfile.specification}}</span>
              </div>
            </el-col>
            <el-col :span="6">
              <div><strong>Unit</strong></div>
              <div>
                <span>{{itemProfile.units[0].name}}</span>
              </div>
            </el-col>
          </el-row>
          <br>
          <el-row :gutter="20">
            <el-col :span="6">
              <div><strong>Total Assigned</strong></div>
              <div>
                <span>{{itemProfile.total_assigned?itemProfile.total_assigned:'0'}}</span>
              </div>
            </el-col>
            <el-col :span="6" style="margin-bottom: 15px">
              <div><strong>Total Quantity</strong></div>
              <div>
                <span>{{itemProfile.qty}}</span>
              </div>
            </el-col>
            <el-col :span="6">
              <div><strong>Type</strong></div>
              <div>
                <span>{{itemProfile.type}}</span>
              </div>
            </el-col>
          </el-row>
          <br>
          <el-row :gutter="20">
            <div v-for="loc of locations">
            <el-col :span="6" style="margin-bottom: 15px">
              <div><strong>{{`${loc.location} Storage`}}</strong></div>
              <div>
                <span>{{loc.remaining}}</span>
              </div>
            </el-col>
            </div>
          </el-row>
        </div>
        <div class="item-profile__container">
          <el-button type="primary" plain class="btn" size="medium" @click="showAddMorePropertyModal"><i class="el-icon-plus"></i> Add More</el-button>
          <el-button type="primary" plain class="btn" size="medium" @click="showEditPropertyModal"><i class="el-icon-edit"></i> Edit</el-button>
          <el-button type="primary" plain class="btn" size="medium" @click="handleDelete"><i class="el-icon-delete"></i> Delete</el-button>
        </div>
      </div>
    </div>
    <el-divider></el-divider>
    <div class="item-tab">
      <el-tabs type="card">

        <!--Storage/Assigned-->
        <el-tab-pane label="Storage/Assigned">
          <div style="display: flex; justify-content: flex-end">
            <el-input size="small" placeholder="Search name..." style="width: 25%" v-model="search" v-on:change="getAssigned" v-on:submit="getAssigned"/>
          </div>
          <!--table-->
          <el-table border stripe ref="table" :data="list" height="650" width="100%" v-loading="loading">
            <el-table-column label="Item Count" width="100">
              <template slot-scope="scope">
                <span>{{scope.row.count}}</span>
              </template>
            </el-table-column>

            <el-table-column label="Assigned To" width="200">
              <template slot-scope="scope">
                <!--
                <template v-if="scope.row.edited" class="col-content">
                  <el-select v-model="scope.row.assigned_to" size="small" filterable allow-create clearable placeholder="Select or Input Name" style="width: 100%;" @change="handleErr(scope.$index, 1)">
                    <el-option
                      v-for="(item, index) in users"
                      :key="index"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select>
                  <span class="err">{{scope.row.err_assigned_to}}</span>
                </template> -->
                <span>{{ scope.row.assigned_to?scope.row.assigned_to:'NA' }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Location Site" width="200">
              <template slot-scope="scope">
                <template v-if="scope.row.edited" class="col-content">
                  <el-select v-model="scope.row.loc_site_id" size="small" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;" @change="getTblLocationDetail(scope.row.loc_site_id, scope.$index, 'change')">
                    <el-option
                      v-for="item in scope.row.locations"
                      :key="item.id"
                      :label="item.location"
                      :value="item.id">
                    </el-option>
                  </el-select>
                  <span class="err">{{scope.row.err_location_site}}</span>
                </template>
                <span v-else>{{ scope.row.status=='Storage'?scope.row.storage_site:scope.row.location_site }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Location Detail" width="300">
              <template slot-scope="scope">
                <template v-if="scope.row.edited">
                  <el-select v-model="scope.row.loc_detail_id" size="small" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;" @change="handleErr(scope.$index, 2)">
                    <el-option
                      v-for="item in scope.row.location_details"
                      :key="item.id"
                      :label="item.location_detail"
                      :value="item.id">
                    </el-option>
                  </el-select>
                  <span class="err">{{scope.row.err_location_detail}}</span>
                </template>
                <span v-else>{{ scope.row.status=='Storage'?scope.row.storage_detail:scope.row.location_detail }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Model" width="100">
              <template slot-scope="{row}">
                <template v-if="row.edited">
                  <el-input v-model="row.model" size="small" />
                </template>
                <span v-else>{{ row.model }}</span>
              </template>
            </el-table-column>

            <el-table-column :label="itemProfile.has_serial===0?'Qty':'Serial'">
              <template slot-scope="{row}">
                <template v-if="row.edited">
                  <el-input ref="serial" v-model="row.serial" size="small" />
                </template>
                <span v-else>{{ itemProfile.has_serial===0?row.qty:row.serial }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Status" width="100">
              <template slot-scope="{row}">
                <div>
                  {{row.status}}
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Actions" width="350">
              <template slot-scope="scope">
                <div v-if="scope.row.edited===false">
                  <div class="item-button" v-if="scope.row.status === 'Assigned'">
                    <el-button type="primary" size="mini" @click="showAssignItemModal(scope.row, scope.$index, 'Edit Item')">Edit</el-button> <!--
                    <el-button type="primary" size="mini" @click="handleEdit(scope.row, scope.$index)">Edit</el-button> -->
                    <el-button type="primary" size="mini" plain @click="handleRetrieve(scope.row, scope.$index)" v-if="scope.row.inventory_type === 'Property' || scope.row.edited">Retrieve</el-button>
                  </div>
                  <div class="item-button" v-else>
                    <el-button type="primary" @click="showAssignItemModal(scope.row, scope.$index, 'Edit Item')" v-if="itemProfile.has_serial===1">Edit</el-button> <!--
                    <el-button type="primary" @click="handleEdit(scope.row, scope.$index)" v-if="itemProfile.has_serial===1">Edit</el-button>
                    <el-button type="primary" plain class="btn" size="mini" @click="handleAssign(scope.row, scope.$index)">Assign</el-button> -->
                    <el-button type="primary" plain class="btn" size="mini" @click="showAssignItemModal(scope.row, scope.$index, 'Assign Item')">Assign</el-button>
                    <el-button type="primary" plain class="btn" size="mini" @click="handleTransfer(scope.row, scope.$index)">Move</el-button>
                    <el-button type="primary" plain class="btn" size="mini" @click="handleDispose(scope.row, scope.$index)">Dispose</el-button>
                  </div>
                </div>
                <div class="item-button" v-if="scope.row.edited===true">
                  <el-button type="primary" class="btn" size="mini" @click="handleTblSave(scope.row, scope.$index)">Save</el-button>
                  <el-button type="primary" plain class="btn" size="mini" @click="handleTblCancel(scope.row, scope.$index)">Cancel</el-button>
                </div>
              </template>
            </el-table-column>
          </el-table>

        </el-tab-pane>

        <!--Action Logs-->
        <el-tab-pane label="Action Logs">
          <action-log :inventory_id="itemProfile.inventory_id" />
        </el-tab-pane>
      </el-tabs>
    </div>

    <!--Transfer Inventory-->
   <el-dialog :title="transferForm.title" :visible.sync="dialogTransfer" width="30%">
     <el-form :model="transferForm" :rules="locRules" ref="transferForm" class="demo-ruleForm">
       <el-row :gutter="10">
         <el-col :span="10">
           <div>Location Site</div>
             <el-form-item prop="loc_site_id">
               <el-select v-model="transferForm.loc_site_id" size="small" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;" @change="getLocationDetail(transferForm.loc_site_id)">
                 <el-option
                   v-for="item in storage_locations"
                   :key="item.id"
                   :label="item.location"
                   :value="item.id">
                 </el-option>
               </el-select>
             </el-form-item>
         </el-col>
         <el-col :span="14">
           <div>Location Detail</div>
           <el-form-item prop="loc_detail_id">
             <el-select v-model="transferForm.loc_detail_id" size="small" filterable allow-create clearable placeholder="Select or Create New" style="width: 100%;">
               <el-option
                 v-for="item in transferForm.location_details"
                 :key="item.id"
                 :label="item.location_detail"
                 :value="item.id">
               </el-option>
             </el-select>
           </el-form-item>
         </el-col>
       </el-row>
     </el-form>
     <span style="display: flex; justify-content: flex-end">
       <el-button type="primary" size="small" @click="submitElForm('transferForm')">Save</el-button>
       <el-button size="small" @click="resetElForm('transferForm')">Cancel</el-button>
     </span>
   </el-dialog>
  </div>
</template>

<script>
  import ActionLog from './action-log'
  import AddMoreProperty from './modal/add-more-property'
  import EditProperty from './modal/edit-property'
  import AssignItem from './modal/assign-item'

  export default {
    components: {
      ActionLog,
      AddMoreProperty,
      EditProperty,
      AssignItem
    },
    data() {
      return {
        search: '',
        isDisabled: false,
        loading: false,

        list: [],
        locations: [],
        storage_locations: [],
        users: [],

        dialogVisible: false,
        dialogTransfer: false,

        disposedForm: {
          loc_value: '',
          quantity: 1,
          max_qty: 1
        },

        transferForm: {
          name: '',
          title: '',
          assigned_id: '',
          loc_site_id: '',
          loc_detail_id: '',
          storage_detail_id: '',
          location_details: []
        },

        locRules: {
          loc_site_id: [
            { required: true, message: 'Please select location.', trigger: 'change' }
          ],
          loc_detail_id: [
            { required: true, message: 'Please select location.', trigger: 'change' }
          ],
        },

        selectedImage: '',
        selectedImageName: '',

        isEdit: false,
        btnOption: '',
        btnOption1: '',
        storageURL: process.env.VUE_APP_STORAGE

      }
    },
    computed: {

    },
    props: ['itemProfile'],
    created() {
      this.getAssigned()
      this.getInvLocation()
      this.getUsersList()

      this.$eventBus.$on('reloadProperty', () => {
        this.getAssigned()
        this.getInvLocation()
        this.getLocation()
      })
    },

    methods: {
      showAddMorePropertyModal(){
        this.$store.dispatch('callModal', {
          child_component: AddMoreProperty,
          title: "Add Inventory",
          modalWidth: '50%',
          content: {
            data: this.itemProfile
          }
        })
      },

      showEditPropertyModal() {
        this.$store.dispatch('callModal', {
          child_component: EditProperty,
          title: "Update Item Profile",
          modalWidth: '50%',
          content: {
            data: this.itemProfile
          }
        })
      },

      showAssignItemModal(row, index, title) {
        this.$store.dispatch('callModal', {
          child_component: AssignItem,
          title,
          modalWidth: '30%',
          content: {
            data: {
              inventory_id: this.itemProfile.inventory_id,
              id: this.list[index].id,
              item_name: this.itemProfile.name,
              hasSerial: this.itemProfile.has_serial,
              row,
              title
            }
          }
        })
      },

      getLocation(type){
        this.$store.dispatch('getLocation', {type}).then(response => {
          this.storage_locations = response.data;
        })
      },
      getLocationDetail(id){
        this.$store.dispatch('getLocationDetail', {loc_id: id})
          .then(response => {
            this.transferForm.location_details = response.data;
          })
      },
      getTblLocationDetail(id, index, opt){
        this.list[index].err_location_site = ''
        if(opt === 'change') {
          this.list[index].location_details = []
          this.list[index].loc_detail_id = undefined
        }
        this.$store.dispatch('getLocationDetail', {loc_id: id})
          .then(response => {
            this.list[index].location_details = response.data;
          })
      },

      getUsersList(){
        this.$store.dispatch('getUsersList').then(response => {
          this.users = response.data;
        })
      },

      getInvLocation(){
        this.$store.dispatch('getLocationList', {inventory_id: this.itemProfile.inventory_id})
          .then(response => {
            let data = response.data
            this.locations = data.location
            this.itemProfile.total_assigned = data.assigned
            this.itemProfile.qty = data.qty
          })

      },

      handleErr(index, cond) {
        if(cond===1) {
          this.list[index].err_assigned_to = ''
        }else {
          this.list[index].err_location_detail = ''
        }
      },

      getAssigned() {
        this.$store.dispatch('getInventoryAssigned', {
          id: this.itemProfile.inventory_id,
          search: this.search
        })
          .then(response => {
            let data = response.data
            let sdata = []
            let x = 0
            data.forEach(d => {
              let add = {
                err_assigned_to: "",
                err_location_site: "",
                err_location_detail: "",
                assigned: false,
                edited: false,
                locations: [],
                location_details: [],
                btnOption: ''
              }
              let res = {...add, ...d}

              sdata.push(res)
              if(d.status ==='Assigned') {
                x += 1
              }
            })
            this.itemProfile.total_assigned = x
            this.list = sdata
          })
      },

      emitBack() {
        this.$router.back()
      },

      onFileSelected(e) {
        const image = e.target.files[0]
        this.selectedImageName = image.name

        this.createBase64Image(image)
      },

      createBase64Image(fileObject) {
        const reader = new FileReader()

        reader.onload = (e) => {
          this.selectedImage = e.target.result

          this.onUpload()
        }
        reader.readAsDataURL(fileObject);
      },
      onUpload() {
        const {selectedImage} = this

        let payload = {
          inventory_id: this.itemProfile.inventory_id,
          imgBase64: selectedImage,
          imgName: this.selectedImageName
        }

        this.$store.dispatch("updateImage", payload)
          .then(response => {
            let d = response
            if (d.code == 200) {
              let {data} = d
              this.itemProfile.inventory_img = data.inventory_img
              this.$message({
                message: 'Image has been updated successfully.',
                type: 'success'
              })
            }
          })

      },

      submitElForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            let payLoad = {
              assigned_id: this.transferForm.assigned_id,
              inventory_id: this.itemProfile.inventory_id,
              loc_site_id: this.transferForm.loc_site_id,
              loc_detail_id: this.transferForm.loc_detail_id,
              item_name: this.itemProfile.name
            };
            payLoad = this.transferForm.title === 'Transfer Location' ? {...payLoad, storage_detail_id: this.transferForm.storage_detail_id} : {...payLoad, receive_from: this.transferForm.name}

            this.$store.dispatch(`${this.transferForm.title === 'Transfer Location' ? 'transferInventory' : 'retrieveInventory'}`, payLoad)
              .then(res => {
                if(res.code === 200) {
                  this.$message({
                    message: `Item has been ${this.transferForm.title === 'Transfer Location' ? 'moved' : 'retrieved'} successfully`,
                    type: 'success'
                  });
                  setTimeout(() => {
                    this.$emit('getNewlyAdded');
                    this.$eventBus.$emit('getActionLogs', {id: this.itemProfile.inventory_id});
                    this.getAssigned()
                    this.getInvLocation()
                    this.getLocation()
                    this.$refs[formName].resetFields();
                    this.dialogTransfer = false
                  }, 500)
                }
                if(res.code === 422) {
                  this.$message({
                    message: res.errors,
                    type: 'error'
                  })
                }
              })
          }else{
            return false
          }
        })

      },

      resetElForm(formName) {
        this.getAssigned()
        this.$refs[formName].resetFields();
        this.transferForm.location_details = []
        if(this.transferForm.title === "Transfer Location") {
          this.transferForm.locations = []
        }else{
          this.transferForm.location_details = []
          this.transferForm.loc_site_id = undefined
          this.transferForm.loc_detail_id = undefined
        }
        this.dialogTransfer = false
      },

      handleDelete() {
        this.$confirm('This action cannot be undone, Are you sure to delete this record?', 'Confirm', {
          confirmButtonText: 'Yes',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('deleteInventory', {
            inventory_id: this.itemProfile.inventory_id,
            path: this.itemProfile.path,
            item_name: this.itemProfile.name
          })
            .then(res => {
              if (res.code === 422) {
                this.$message({
                  message: res.errors,
                  type: 'error'
                })

              }
              if (res.code === 200) {
                this.$message({
                  message: this.itemProfile.path + ' | ' + this.itemProfile.item_name + ' has been deleted successfully.',
                  type: 'success'
                })

                setTimeout(() => {
                  window.close()
                }, 500)
              }
            })
        })
        .catch(() => {})
      },

      handleEdit(row, index){
        this.list[index].btnOption = 'Edit'
        this.getTblLocationDetail(row.loc_site_id, index)
        this.$store.dispatch('getLocation', {type: 1}).then(response => {
          this.list[index].locations = response.data;
        })
        setTimeout(()=>{
          this.list[index].edited = true
        }, 300)
      },
      handleRetrieve(row){
        this.dialogTransfer = true
        this.transferForm.title = `Retrieve Inventory from ${row.assigned_to}`;
        this.transferForm.name = row.assigned_to;
        this.transferForm.assigned_id = row.id
        this.getLocation(2)
      },
      handleAssign(row, index) {
        this.list[index].edited = true
        this.list[index].btnOption = 'Assign'
        this.list[index].loc_site_id = undefined
        this.list[index].location_details = []
        this.list[index].loc_detail_id = undefined
        this.$store.dispatch('getLocation', {type: 1}).then(response => {
          this.list[index].locations = response.data;
        })
      },
      handleTransfer(row, index) {
        this.transferForm.title = "Transfer Location";
        this.transferForm.locations = []
        this.transferForm.loc_site_id = undefined
        this.transferForm.loc_detail_id = undefined
        this.transferForm.storage_detail_id = this.list[index].s_detail_id
        this.transferForm.assigned_id = this.list[index].id
        this.transferForm.loc_site_id = this.list[index].s_site_id
        this.getLocationDetail(this.list[index].s_site_id)
        this.getLocation(2)
        this.dialogTransfer = true
      },
      handleDispose(row, index) {
        this.$confirm('This action cannot be undone, Are you sure to dispose?', 'Confirm', {
          confirmButtonText: 'Yes',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('disposedInventory', {
              assigned_id: this.list[index].id,
              inventory_id: this.itemProfile.inventory_id,
              item_name: this.itemProfile.name
            })
            .then(res => {
              if(res.code === 422) {
                this.$message({
                  message: res.errors,
                  type: 'error'
                })

              }
              if(res.code === 200){
                this.$message({
                  message: 'Item has been disposed successfully.',
                  type: 'success'
                })

                setTimeout(() => {
                  this.$emit('getNewlyAdded', {});
                  this.$eventBus.$emit('getActionLogs', {id: this.itemProfile.inventory_id})
                  this.getAssigned()
                  this.getInvLocation()
                }, 500)
              }
            })
        }).catch(() => {})
      },
      handleTblSave(row, index) {
        if(this.list[index].btnOption ==='Assign') {
          let payLoad = {
            inventory_id: this.itemProfile.inventory_id,
            assigned_id: this.list[index].id,
            user_id: row.user_id,
            loc_site_id: row.loc_site_id,
            loc_detail_id: row.loc_detail_id,
            model: row.model,
            serial: row.serial,
            item_name: this.itemProfile.name
          }
          this.$store.dispatch("assignInventory", payLoad)
            .then(response => {
              let d = response

              if (d.code == 200) {
                this.$message({
                  message: 'The item has been assigned successfully.',
                  type: 'success'
                })

                setTimeout(() => {
                  this.$eventBus.$emit('getActionLogs', {id: this.itemProfile.inventory_id})
                  this.getAssigned()
                  this.getInvLocation()
                  this.getLocation()
                  this.list[index].err_assigned_to = ""
                  this.list[index].err_location_site = ""
                  this.list[index].err_location_detail = ""
                  this.list[index].btnOption = ""
                  this.list[index].status = 'Assigned'
                  this.list[index].edited = false
                }, 500)
              }

              if (d.code == 422) {
                let {errors} = response
                if (errors.user_id){
                  this.list[index].err_assigned_to = errors.user_id[0]
                }
                if (errors.loc_site_id){
                  this.list[index].err_location_site = errors.loc_site_id[0]
                }
                if (errors.loc_detail_id){
                  this.list[index].err_location_detail = errors.loc_detail_id[0]
                }
              }
            })
        }
        if(this.list[index].btnOption === "Edit"){
          let payLoad = {
            id: this.list[index].id,
            inventory_id: this.list[index].inventory_id,
            //user_id: row.assigned_to,
            loc_site_id: row.loc_site_id,
            loc_detail_id: row.loc_detail_id,
            model: row.model,
            serial: row.serial,
            item_name: this.itemProfile.name
          }
          this.$store.dispatch('editAssignedItem', payLoad)
            .then(response => {
              let d = response
              console.log(d)
              if (d.code == 200) {
                this.$message({
                  message: 'The item has been updated successfully.',
                  type: 'success'
                })
                this.$eventBus.$emit('getActionLogs', {id: this.itemProfile.inventory_id})
                this.getAssigned()
                this.getLocation()
                this.list[index].btnOption = ""
              }
              if (d.code == 422) {
                let {errors} = response
                if (errors.user_id){
                  this.list[index].err_assigned_to = errors.user_id[0]
                }
                if (errors.loc_site_id){
                  this.list[index].err_location_site = errors.loc_site_id[0]
                }
                if (errors.loc_detail_id){
                  this.list[index].err_location_detail = errors.loc_detail_id[0]
                }
              }
            })
        }
      },
      handleTblCancel(row, index) {
        this.list[index].edited = false
        this.list[index].btnOption = ''
      },

    }
  }
</script>

<style lang="scss">
  @import "../../../assets/styles/variables";

  /* reset element-ui css */
  .item-profile {
    .el-dialog__wrapper {
      top: -80px;
      .el-dialog__header {
        margin: 0;
        padding: 0;
      }

      .el-dialog__body {
        top: 0;
        margin: 0;
        padding: 0;

        .el-image {
          display: block;
          overflow: unset;
        }
      }

      .el-dialog__headerbtn {
        margin-top: -21px;
        margin-right: -52px;
        color: $gray;

        .el-dialog__close {
          &:before {
            content: "\e6db";
            margin: 0;
            padding: 0;
            font-size: 2rem;
            font-weight: bold;

          }
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .inner-profile {
    div {
      .el-radio {
        margin-right: 55px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }

  .item-tab {
    .el-table {
      &__header-wrapper {
        border-top: 22px solid $pure-orange;
      }

      td {
        position: relative;

        .err {
          position: absolute;
          left: 0;
          margin-top: -16px;
          margin-left: 11px;
        }
      }
    }

  }

  .el-col {
    div:first-child {
      margin-bottom: 8px;
    }
  }

  .add-form{
    .el-row {
      .el-col {
        div:first-child {
          margin-bottom: 5px;
        }

        .el-form-item {
          &__error{
            padding-top: 0;
            margin-top: -3px;
          }
        }
      }
    }
  }

  .add-more {
    .el-dialog__body {
      padding: 0 20px;
    }
  }
</style>

<style lang="scss" scoped>
  @import "../../../assets/styles/variables";

  .demo-image__preview {
    position: relative;
  }

  .avatar-uploader-container {
    border-width: 1px;
    border-style: dashed;
    // border-color: #d9d9d9;
    display: inline-block;
    line-height: 0px;
  }

  .avatar-uploader .el-upload {
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 24rem;
    height: 24rem;
    line-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    width: 24rem;
    height: 24rem;
    display: block;
  }

  .p-img {
    border-radius: 5px;
    width: 24rem;
    height: 23rem;
  }

  .container {
    position: relative;

    &:hover .button {
      opacity: 1;
    }

  }

  img {
    position: absolute;
    width: 22rem;
    height: 21rem;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  }

  div {
    border-radius: 5px;
  }

  .button {
    position: absolute;
    width: 360px;
    left:0;
    top: 285px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;

    button {
      padding: 8px 18px;
    }

  }

</style>

<style lang="scss" scoped>
  @import "../../../assets/styles/variables";

  .item-profile {
    display: grid;
    grid-template-columns: 350px 1fr;

    &__left {

    }

    &__img {
      display: block;
      width: 22rem;
      height: 21rem;
      border-radius: 3px;
      transition: transform 0.3s;
      box-shadow: 0 1px 1px .2px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: scale(1.03);
      }
    }

    &__right {
      padding-left: 2rem;
      min-height: 20rem;

      display: flex;
      flex-direction: column;

    }

    &__container {
      color: $black-lighter;

      &:first-child {
        flex: 0 0 15%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & h2 {
          font-size: 1.75rem;
          text-transform: uppercase;
          /*letter-spacing: 1px;*/
        }

        & p {
          font-size: 1.25rem;
          font-weight: normal;
          margin-bottom: 5px;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
          &:last-child {
            margin-right: 7px;
          }
        }
      }

      &:nth-child(2) {
        margin-top: 10px;
      }

      &:last-child {
        flex: 0 0 18%;
        padding: 10px 0;

        .btn {
          /*padding: 12px 18px;*/
          width: 7.5rem;
        }
      }

      &:first-child {
        border-bottom: 1px solid $gray-lighter;
      }

      &:last-child {
        // border-top: 1px solid $gray-lighter;
      }

      &:nth-child(2) {
        /*padding: 10px 0;*/
      }

    }

    .input .inner-profile div {
       & textarea, & input, & select {
         pointer-events: visible;
         border: 1px solid $gray;
         border-radius: 2px;
         padding: 5px;
         line-height: 1.4;
         transition: all .3s;
         &:focus {
           border: 1px solid $blue;
         }
       }

    }

    .item-profile__container .inner-profile div .input {
      pointer-events: visible;
      border: 1px solid $gray;
      border-radius: 2px;
      padding: 5px;
      line-height: 1.4;
      transition: all .3s;
      &:focus {
        border: 1px solid $blue;
      }
    }
  }

  .item-tab {
    margin: 18px 0;

  }

  .item-button {
    button {
      padding: 8px 6px;
      width: 4.5rem;
    }
  }

  .err {
    color: $pure-red;
    font-size: .65rem;
  }

  .add-form {
    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-light;
    }

    margin-top: 25px;
  }
</style>
