<template>

	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<strong>To Ship Materials</strong>
  		</div>

  		<div class="text item">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>

				<table>
					<tr v-for="(order, index) in form.data">
						<td style="padding-right: 50px;">
		  				  	{{ order.name }}
						</td>
						<td>
						  <div>
						  	<div class="block" style="padding-top: 0px;">
						  		<b>QTY: {{ order.qty }}</b>
						  		
						  	</div>

						    <!-- <div class="block">
						      <span class="demonstration"><b>Date range : </b></span>
						    </div> -->
						  </div>
						</td>
						<!-- <td style="padding-left: 50px;">
							<el-input size="mini" type="number" min="1" v-model="form.data[index].qty" autocomplete="off" placeholder="Enter qty" style="width: 150px; "></el-input>
						</td> -->
					</tr>
				</table>
				
				<el-divider></el-divider>

				<el-button  type="primary" size="mini" icon="el-icon-plus" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="toShip()">To Ship</el-button>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'task-details',

		data () {
	    	return {

	      		isFetching: true,

	      		dt: [],

	      		form: {
	      			data: [],
			        label: '',
			        project_id: '',
			        parent_id: 0,
			        id: null,
			        start: null,
			        end: null,
			        assigned_to : null
			      },
	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	      	getTask() {
	        	return this.$store.dispatch('getProjectTask',{
	          		task_id: this.task_id
	        	})
	        	.then(res => {
	        		this.data = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    this.data = data;
                    var progress = data.progress;
                    this.percentCircle = (progress/100) * 180;

                    this.dt = [data.start,data.end];

                    console.log('data', data)
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	test(){
	      		this.$parent.$emit('close')

		         this.$eventBus.$emit('loadToPrep')
	      	},

	      	toShip(){
		      return this.$store.dispatch('toShip', { payload: this.form }).then(res => {
		        if (res.code == 200) {
		         this.form.data = res.data;
		          this.$message({
		            type: 'success',
		            message: this.$t('Common.successfully_updated')
		          });
		          this.$eventBus.$emit('loadToPrep')
		          this.$parent.$emit('close')

      			  // this.isFetching = false;
		        }else{

		          // console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'Error'
		          });

		        }
		      }).catch(err => {

		      })
		    },

		    checkInventoryQty(){

		      return this.$store.dispatch('checkInventoryQty', { payload: this.form }).then(res => {
		        if (res.code == 200) {
		        	this.form.data = [];
		         this.form.data = res.data;
		          // this.$message({
		          //   type: 'success',
		          //   message: this.$t('Common.successfully_updated')
		          // });

      				this.isFetching = false;
		          // this.$eventBus.$emit('syncProjectData')
		        }else{

		          // console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'Error'
		          });

		        }
		      }).catch(err => {

		      })
		    },
  		},



		created () {
			let { data } = this.$parent.$parent.content;
      		// console.log(data);
      		this.form.data = data;
      		this.checkInventoryQty();
  		}


	}

</script>

<style scoped>

.ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
.notenough {background-color: #d50000;} /* po */
.enough {background-color: #23bc2e;} /* to received */

</style>
