<template>
  <div>
    <div class="item-profile">
      <el-dialog
        :visible.sync="dialogVisible"
        width="60%">
        <el-image :src="storageURL + 'inventories/' + itemProfile.inventory_img" alt="Preview Image"></el-image>
      </el-dialog>
      <div class="item-profile__left">
        <div class="container">
          <img :src="storageURL + 'inventories/' + itemProfile.inventory_img" alt="Inventory Image" />
          <div class="button">
            <input type="file"
                   style="display: none"
                   @change="onFileSelected"
                   ref="fileInput"
                   accept="image/*">
            <el-tooltip class="item" effect="dark" content="Click to update image" placement="bottom">
              <el-button type="primary" @click="$refs.fileInput.click()"><i class="el-icon-camera-solid" style="font-size: 18px"></i></el-button>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Click to enlarge" placement="bottom">
              <el-button type="primary" plain @click="dialogVisible = true"><i class="el-icon-view" style="font-size: 18px"></i></el-button>
            </el-tooltip>
          </div>
        </div>
        <div class="action-button">
          <el-button type="primary" plain class="btn" size="small" @click="showFormModal({inventory_id:itemProfile.inventory_id,form:'Add More'})"><i class="el-icon-plus"></i> Add More</el-button>
          <el-button type="primary" plain class="btn" size="small" @click="showFormModal({inventory_id:itemProfile.inventory_id,form:'Edit Item Profile'})"><i class="el-icon-edit"></i> Edit</el-button>
          <el-button type="primary" plain class="btn" size="small" @click="handleItem('delete')"><i class="el-icon-delete"></i> Delete</el-button>
          <el-button type="primary" plain class="btn" size="small" @click="showFormModal({inventory_id:itemProfile.inventory_id,form:'Consume'})"><i class="el-icon-shopping-bag-2"></i> Consume</el-button>
        </div>
      </div>
      <div class="item-profile__right">
        <div class="item-profile__container">
          <div>
            <h2>{{itemProfile.company_name}}</h2>
            <p>{{`${itemProfile.asset_name?itemProfile.asset_name+' > ':''}${itemProfile.item_name} > ${itemProfile.name}`}}</p>
          </div>
          <div>
            <a href="javascript:" class="btn-text" @click.prevent="emitBack">Back &rarr;</a>
          </div>
        </div>
        <div class="item-profile__container">
          <el-row :gutter="20">
            <el-col :span="6">
              <div><strong>Description</strong></div>
              <div><span>{{itemProfile.description}}</span></div>
            </el-col>
            <el-col :span="6">
              <div><strong>Specification</strong></div>
              <div><span>{{itemProfile.specification!='null'?itemProfile.specification:''}}</span></div>
            </el-col>
            <el-col :span="6">
              <div><strong>Purchase Unit</strong></div>
              <div><span>{{itemProfile.pUnit}}</span></div>
            </el-col>
            <el-col :span="6">
              <div><strong>Selling Unit</strong></div>
              <div><span>{{itemProfile.sUnit}}</span></div>
            </el-col>
          </el-row>
          <br />

          <el-row :gutter="20">
            <el-col :span="4">
              <div><strong>Length</strong></div>
              <div><span>{{itemProfile.length | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Width</strong></div>
              <div><span>{{itemProfile.width | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Height</strong></div>
              <div><span>{{itemProfile.height | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Item volume</strong></div>
              <div><span>{{itemProfile.item_volume | volume}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Item Cost</strong></div>
              <div><span>{{itemProfile.import_cost | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Imported RMB Price</strong></div>
              <div><span>{{itemProfile.imported_rmb_price | currency}}</span></div>
            </el-col>
          </el-row>
          <br />

          <el-row :gutter="20">
            <el-col :span="4">
              <div><strong>Shipping Fee Per CM</strong></div>
              <div><span>{{itemProfile.shipping_fee_per_cm | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>RMB rate</strong></div>
              <div><span>{{itemProfile.rmb_rate | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Market Price</strong></div>
              <div><span>Min: {{itemProfile.market_price_min | currency}}, Max: {{itemProfile.market_price_max | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Profit</strong></div>
              <div><span>Min: {{itemProfile.profit_min | currency}}, Max: {{itemProfile.profit_max | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Profit Rate(Min)</strong></div>
              <div><span>{{itemProfile.profit_rate_min | currency}}%</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Profit Rate(Max)</strong></div>
              <div><span>{{itemProfile.profit_rate_max | currency}}%</span></div>
            </el-col>
          </el-row>
          <br />

          <el-row :gutter="20">
            <el-col :span="4">
              <div><strong>Advised Sale Price</strong></div>
              <div><span>{{itemProfile.advised_sale_price | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Advised Profit</strong></div>
              <div><span>{{itemProfile.advised_profit | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Advised Profit Rate</strong></div>
              <div><span>{{itemProfile.adivsed_profit_rate | currency}}%</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Sold</strong></div>
              <div>
                <el-tooltip class="item" effect="dark" :content="itemProfile.toolTipSold" placement="top" v-if="itemProfile.sold>0">
                  <span style="cursor: pointer;">{{itemProfile.sold | currency}}</span>
                </el-tooltip>
                <span v-else>0</span>
              </div>
            </el-col>
            <el-col :span="4">
              <div><strong>Wasted</strong></div>
              <div><span>{{itemProfile.rWasted?itemProfile.rWasted:0}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Consumed</strong></div>
              <div><span>{{itemProfile.rConsumed?itemProfile.rConsumed:0}}</span></div>
            </el-col>
          </el-row>
          <br />

          <el-row :gutter="20">
            <!-- <el-col :span="4">
              <div><strong>Current Stock (Set)</strong></div>
              <div>
                <el-tooltip class="item" effect="dark" :content="itemProfile.toolTipSet" placement="top" v-if="itemProfile.rSet>0">
                  <span style="cursor: pointer;">{{itemProfile.rSet | currency}}</span>
                </el-tooltip>
                <span v-else>{{itemProfile.rSet | currency}}</span>
              </div>
            </el-col> -->
            <el-col :span="8">
              <div><strong>Current Stock</strong></div>
              <div><span><b>{{itemProfile.rUnit}}</b> <small>( {{itemProfile.totalRemaining}} )</small></span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Actual Sale Price</strong></div>
              <div><span>{{itemProfile.actual_sale_price | currency}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>ID</strong></div>
              <div><span>{{itemProfile.id}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Expiration Date</strong></div>
              <div><span>{{itemProfile.expiration_date}}</span></div>
            </el-col>
            <el-col :span="4">
              <div><strong>Whole Sale Price/Unit</strong></div>
              <div><span>{{itemProfile.whole_sale_price | currency}}</span></div>
            </el-col>
          </el-row>
          <br />

          <el-row :gutter="20">
            <el-col :span="12">
              <div><strong>Remarks</strong></div>
              <div><span>{{itemProfile.remarks}}</span></div>
            </el-col>
            <div v-for="loc of remainingPerLocations" :key="loc.id">
              <el-col :span="4" style="margin-bottom: 15px">
                <div><strong>{{`${loc.location} Storage`}}</strong></div>
                <div>
                  <!--
                  <el-tooltip class="item" effect="dark" :content="loc.toolTipSet" placement="top" v-if="loc.rSet>0">
                    <span style="cursor: pointer;">{{loc.rSet | currency}} Set</span>
                  </el-tooltip>
                  -->

                  <!-- <span v-else>{{loc.rSet | currency}} Set</span> -->
                  <!-- <span>{{` / ${loc.rUnit}`}}</span> -->
                  <span>{{ loc.rUnit }}</span>
                </div>
              </el-col>
            </div>
            <el-col :span="4" style="margin-bottom: 15px">
              <div><strong>Total Sale</strong></div>
              <div><span>Php{{ (dataTableC.consumables[0] ? dataTableC.consumables[0].totalSale : 0) | currency}}</span></div>
            </el-col>
            <el-col :span="3" style="margin-bottom: 15px">
              <div><strong>Total Money Spent</strong></div>
              <div><span>Php{{dataTableC.totalPrice | currency}}</span></div>
            </el-col>
          </el-row>

        </div>
      </div>
    </div>
    <div class="item-tab">
      <el-tabs type="card">
        <el-tab-pane label="List">
          <consumables-list-tab v-bind:data="dataTableC.consumables" />
        </el-tab-pane>
        <el-tab-pane label="Action Logs">
          <action-log :inventory_id="itemProfile.inventory_id" />
        </el-tab-pane>
        <el-tab-pane label="Funds">
          <funds-tab v-bind:data="dataTableC.consumables"/>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
  import InventoryForms from './modal/inventory-forms'
  import ConsumablesListTab from './consumables-list-tab'
  import ActionLog from './action-log'
  import FundsTab from './funds-tab'

  export default {
    components: {
      ConsumablesListTab,
      ActionLog,
      FundsTab
    },
    data(){
      return {
        dialogVisible: false,

        selectedImage: '',
        selectedImageName: '',
        storageURL: process.env.VUE_APP_STORAGE,

        moneySpent: '',
        locations: [],
        remainingPerLocations: [],
      }
    },
    props: ['itemProfile','dataTableC'],
    created() {
      this.getRemainingPerLocation()
      this.$eventBus.$on('getRemainingPerLocation', () => {
        this.getRemainingPerLocation()
      })
    },
    methods: {
      showFormModal(data){
        this.$store.dispatch('callModal', {
          child_component: InventoryForms,
          title: data.form,
          modalWidth: '80%',
          content: {
            data
          }
        })
      },
      getRemainingPerLocation(){
        this.$store.dispatch('getRemainingPerLocation', {inventory_id: this.itemProfile.inventory_id})
          .then(res => {
            this.remainingPerLocations = res.data;
          }).catch(error =>{
          if(error.response.status === 500){
            this.getRemainingPerLocation()
          }
        })
      },

      onFileSelected(e) {
        const image = e.target.files[0]
        this.selectedImageName = image.name

        this.createBase64Image(image)
      },

      createBase64Image(fileObject) {
        const reader = new FileReader()

        reader.onload = (e) => {
          this.selectedImage = e.target.result

          this.onUpload()
        }
        reader.readAsDataURL(fileObject);
      },
      onUpload() {
        const {selectedImage} = this

        let payload = {
          inventory_id: this.itemProfile.inventory_id,
          imgBase64: selectedImage,
          imgName: this.selectedImageName
        }

        this.$store.dispatch("updateImage", payload)
          .then(response => {
            let d = response
            if (d.code == 200) {
              let {data} = d
              this.itemProfile.inventory_img = data.inventory_img
              this.$message({
                message: 'Image has been updated successfully.',
                type: 'success'
              })
            }
          })

      },

      emitBack() {
        this.$router.back()
      },

      handleItem(opt){
        if(opt==='delete'){
          this.$confirm('This action cannot be undone, Are you sure to delete this record?', 'Confirm', {
            confirmButtonText: 'Yes',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }).then(() => {
            this.$store.dispatch('deleteInventory', {
              inventory_id: this.itemProfile.inventory_id,
              path: this.itemProfile.path,
              item_name: this.itemProfile.name
            }).then(res => {
              if (res.code === 422) {
                this.$message({
                  message: res.errors,
                  type: 'error'
                })

              }
              if (res.code === 200) {
                this.$message({
                  message: this.itemProfile.path + ' | ' + this.itemProfile.item_name + ' has been deleted successfully.',
                  type: 'success'
                })
                this.emitBack()
              }
            })
          }).catch(()=>{})//to prevent in promise error
        }
      },
    }
  }
</script>

<style lang="scss">
  @import "../../../assets/styles/variables";

  /* reset element-ui css */
  .item-profile {
    .el-dialog__wrapper {
      top: -80px;
      .el-dialog__header {
        margin: 0;
        padding: 0;
      }

      .el-dialog__body {
        top: 0;
        margin: 0;
        padding: 0;

        .el-image {
          display: block;
          overflow: unset;
        }
      }

      .el-dialog__headerbtn {
        margin-top: -21px;
        margin-right: -52px;
        color: $gray;

        .el-dialog__close {
          &:before {
            content: "\e6db";
            margin: 0;
            padding: 0;
            font-size: 2rem;
            font-weight: bold;

          }
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .inner-profile {
    div {
      .el-radio {
        margin-right: 55px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }

  .item-tab {
    .el-table {
      &__header-wrapper {
        border-top: 22px solid $pure-orange;
      }

      td {
        position: relative;

        .err {
          position: absolute;
          left: 0;
          margin-top: -16px;
          margin-left: 11px;
        }
      }
    }

  }

  .el-col {
    div:first-child {
      margin-bottom: 8px;
    }
  }

  .add-form{
    .el-row {
      .el-col {
        div:first-child {
          margin-bottom: 5px;
        }

        .el-form-item {
          &__error{
            padding-top: 0;
            margin-top: -3px;
          }
        }
      }
    }
  }

  .add-more {
    .el-dialog__body {
      padding: 0 20px;
    }
  }

  .el-select {
    display: block;
  }

  .movable {
    cursor: move;
  }

  // remove arrow indicator for type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>

<style lang="scss" scoped>
  @import "../../../assets/styles/variables";

  .demo-image__preview {
    position: relative;
  }

  .avatar-uploader-container {
    border-width: 1px;
    border-style: dashed;
    // border-color: #d9d9d9;
    display: inline-block;
    line-height: 0px;
  }

  .avatar-uploader .el-upload {
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 24rem;
    height: 24rem;
    line-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    width: 24rem;
    height: 24rem;
    display: block;
  }

  .p-img {
    border-radius: 5px;
    width: 24rem;
    height: 23rem;
  }

</style>

<style lang="scss" scoped>
  @import "../../../assets/styles/variables";

  .item-profile {
    display: grid;
    grid-template-columns: 380px 1fr;

    &__left {
      .container {
        margin-top: 8px;
        position: relative;

        &:hover .button {
          opacity: 1;
        }

        img {
          position: absolute;
          width: 23.7rem;
          height: 22rem;
          border-radius: 3px;
          -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        }

        div {
          border-radius: 5px;
        }

        .button {
          position: absolute;
          width: 360px;
          left:0;
          top: 285px;
          text-align: center;
          opacity: 0;
          transition: opacity .35s ease;

          button {
            padding: 8px 18px;
          }

        }

      }

      .action-button {
        margin-top: 378px;

        display: flex;
        justify-content: space-between;
      }

    }

    &__img {
      display: block;
      width: 22rem;
      height: 21rem;
      border-radius: 3px;
      transition: transform 0.3s;
      box-shadow: 0 1px 1px .2px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: scale(1.03);
      }
    }

    &__right {
      padding-left: 2rem;
      min-height: 20rem;

      display: flex;
      flex-direction: column;

    }

    &__container {
      color: $black-lighter;

      &:first-child {
        flex: 0 0 15%;
        border-bottom: 1px solid $gray-lighter;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & h2 {
          margin: 0;
          padding: 0;
          font-size: 1.75rem;
          text-transform: uppercase;
          /*letter-spacing: 1px;*/
        }

        & p {
          font-size: 1.25rem;
          font-weight: normal;
          margin-bottom: 5px;
        }

        div {
          &:last-child {
            margin-right: 7px;
          }
        }
      }

      &:last-child {
        margin-top: 10px;
      }

    }

  }

  .item-tab {
    margin-bottom: 18px;

  }

  .item-button {
    button {
      padding: 8px 6px;
      width: 4.5rem;
    }
  }

  .err {
    color: $pure-red;
    font-size: .65rem;
  }

  .add-form {
    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-light;
    }

    margin-top: 25px;
  }
</style>
