<template>

	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<el-row :gutter="20">
			  <el-col :span="16">
			  	<div class="grid-content bg-purple">
			  		<el-form :model="form" :inline="true" label-width="80px">
			  			<div class="label">Select Container:</div>
		                <div>
		                  <el-form-item>
		                  		<el-select v-model="form.container" filterable placeholder="Select">
		                  			<el-option
		                  				key="0"
		                  				label="Shipping"
		                  				value="Shipping"
		                  			>
		                  			</el-option>
		                  			<el-option
		                  				key="0"
		                  				label="Air Cargo"
		                  				value="Air Cargo"
		                  			>
		                  			</el-option>
		                  			<el-option
		                  				key="0"
		                  				label="New Container"
		                  				value="New Container"
		                  			>
		                  			</el-option>
								    <el-option
								      v-for="item in containers"
								      v-if="item.status == 'for loading'"
								      :key="item.id"
								      :label="item.type+' '+item.id"
								      :value="item.id">
								    </el-option>
								  </el-select>
		                  </el-form-item>
		                </div>
			  		</el-form>
			  	</div>
			  </el-col>
			  <el-col :span="8">
					<b>Container Weight Capacity: {{ form.weight_limit }} kg</b><br><br>
					<b>Total Weight : {{ totalkg }} kg</b><br><br>
					<b>Total Cbm : {{ totalcbm }}</b>
			  </el-col>
			</el-row>
  		</div>

  		<div class="text item">

    		<!-- <template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template> -->
  			<!-- {{materials}} -->
  			<template>
  				<template>
  					<el-row :gutter="20">
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">

					  	<!-- <el-table ref="table" width="100%" :data="data" row-class-name="movable">
					  		<el-table-column label="Materials List" label-class-name="tbl-header">
							   	<template slot-scope="scope">
							      	<b style="color: #67C23A">{{ scope.row.material_name }}</b> <br> -->
							      	
							      	<el-table ref="table" width="100%" :data="materials"  row-class-name="movable">
							      			<el-table-column label="Project Name" width="200" align="left">
											   	<template slot-scope="scope">
											      	<el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
									                   <el-button type="text" @click="showTaskDetails(scope.row.project_id, scope.row.task_id)" style="font-size: 12px;"><b>{{scope.row.proj_name}}</b>
									                   </el-button>
									                 </el-tooltip>
											    </template>
											</el-table-column>

											<el-table-column label="Material Name" width="200" align="left">
											   	<template slot-scope="scope">
											      	{{ scope.row.material_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Unit Price">
												<template slot-scope="scope">
												    {{ scope.row.unit_price }}
												</template>
											</el-table-column>

											<el-table-column label="Qty">
												<template slot-scope="scope">
													{{ scope.row.qty }}
												</template>
											</el-table-column>

											<el-table-column label="Status">
												<template slot-scope="scope">
												    <span v-bind:style=" status == scope.row.order_status ? 'font-weight: bold; ' : '' ">{{ scope.row.order_status }}
												    </span>
												</template>
											</el-table-column>

									</el-table>
							    <!-- </template>
					  		</el-table-column>
					  		
						</el-table> -->
					  		
					  	</div>

					  </el-col>
					</el-row>

					<div style="margin-bottom: 50px; float: right; margin-top: 20px;">
						<el-button class="add-button" type="warning" :loading="loading" @click="saveToContainer()">Save</el-button>
		                <el-button class="add-button" type="primary" :loading="loading" @click="loadToContainer()">Load</el-button>
		            </div>

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>
	import taskDetails from './../../projects/components/task-details';

	export default {

		name: 'order-details',

		components: {
    		taskDetails
  		},

		data () {
	    	return {

	      		isFetching: true,

	      		materials: [],
	      		project: [],
	      		order: [],
	      		task: [],
	      		materials: [],
	      		addmaterials: [],
	      		containers: [],
			    order_id: '',
			    step: '',
			    status: '',
			    totalkg : 0,
			    totalcbm : 0,
			    form:{
			        weight_limit: 28000,
			        container: '',
			        materials: [],
			      },
			    files : []

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	  		showTaskDetails(project_id, task_id){
		        var files = [];

		        this.$store.dispatch('getProjectProfile2', { id: project_id}).then(response => {
		          // console.log('project profile', response)
		          this.files = response.files;
		        })

		        this.files.map((d,i) => {
		            if(d.id === task_id){
		                files = d.files;
		            }
		          });

		        this.viewMenu = false;
		        this.$store.dispatch('callModal', {
		          child_component: taskDetails,
		          // title: 'Task Details',
		          modalWidth: '40%',
		          content: {
		            project_id: project_id,
		            task_id: task_id,
		            files : files
		          }
		        })
		    },

	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetail',{
	          		order_id: this.order_id
	        	})
	        	.then(res => {
	        		this.project = [];
	        		this.order = [];
	        		this.task = [];

                let { code, project, order, task, materials, addmaterials } = res;
	            	if( code == 200 ) {
	            		// console.log(data);
                    	this.project = project;
                    	this.order = order;
                    	this.task = task;
                    	this.materials = materials;
                    	this.addmaterials = addmaterials;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	checkStep(step){
	      		if(step == this.step){
	      			return 'success';
	      		}
	      		return 'info';
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	loadToContainer(){
		      this.form.materials = this.materials;
		      if(this.form.weight_limit >= this.totalkg && this.form.weight_limit > 0){
			      return this.$store.dispatch('loadToContainer', { payload: this.form }).then(res => {
			        if (res.code == 200) {
			          this.$message({
			            type: 'success',
			            message: 'Successfully Loaded!'
			          });
			          this.$eventBus.$emit('loadPOC')
			          this.$parent.$emit('close')

	      			  // this.isFetching = false;
			        }else{

			          // console.log('ERROR');

			          this.$message({
			            type: 'error',
			            message: 'Error'
			          });

			        }
			      }).catch(err => {

			      })
			  }
			  else if(this.form.weight_limit < this.totalkg){
			  		this.$message({
			            type: 'error',
			            message: 'Weight capacity should be higher than the total weight of materials!'
			          });
			  }
			  else{
			  		this.$message({
			            type: 'error',
			            message: 'Please input weight capacity!'
			          });
			  }
			},

			saveToContainer(){
		      this.form.materials = this.materials;
		      if(this.form.weight_limit >= this.totalkg && this.form.weight_limit > 0){
			      return this.$store.dispatch('saveToContainer', { payload: this.form }).then(res => {
			        if (res.code == 200) {
			          this.$message({
			            type: 'success',
			            message: 'Successfully Saved!'
			          });
			          this.$eventBus.$emit('loadPOC')
			          this.$parent.$emit('close')

	      			  // this.isFetching = false;
			        }else{

			          // console.log('ERROR');

			          this.$message({
			            type: 'error',
			            message: 'Error'
			          });

			        }
			      }).catch(err => {

			      })
			  }
			  else if(this.form.weight_limit < this.totalkg){
			  		this.$message({
			            type: 'error',
			            message: 'Weight capacity should be higher than the total weight of materials!'
			          });
			  }
			  else{
			  		this.$message({
			            type: 'error',
			            message: 'Please input weight capacity!'
			          });
			  }
			},
  		},



		created () {
			let { data, containers } = this.$parent.$parent.content;
      		// console.log(data);
      		this.materials = data;
      		this.containers = containers;
      		var totalkg = 0;
      		var totalcbm = 0;
      		this.materials.map((item,index) => {
	            totalkg = parseFloat(totalkg) + (parseFloat(item.weight) * parseFloat(item.qty));
	            totalcbm = parseFloat(totalcbm) + (parseFloat(item.cbm) * parseFloat(item.qty));
	        });
	        this.totalkg += totalkg;
	        this.totalcbm += totalcbm;
  		}


	}

</script>

<style >

.el-alert__title{
	font-size: 14px !important;
}


</style>
