<template>
  <div ref="materialList">

    <el-row>
        <el-col :span="6">
           <div  v-if="(step === 1)" class="alignRight" >
            <el-input placeholder="Search Material" prefix-icon="el-icon-search" v-model="search" clearable  size="mini" @change="handleSearch" style="width:90%"></el-input>
          </div>
        </el-col>
        <el-col :span="6">
            <el-select v-model="location" filterable placeholder="Select Location" style="width: 270px;" size="mini" @change="handleUpdateInventory()">
              <el-option key="0" value="Warehouse"><i>Warehouse</i></el-option>
              <el-option
                v-for="s in projects"
                :key="s.id"
                :label="s.name"
                :value="s.id">
              </el-option>
            </el-select>
            <el-button type="primary"  size="mini" icon="el-icon-caret-right" @click="handleTransfer()" v-if="orderSelected.length > 0">Transfer</el-button>
        </el-col>
        <el-col :span="6">
          <div class="container">
            <span><b>Filter by Tag: </b></span>
            <tag-selector name="tags" v-model="tags"/>
          </div>
        </el-col>
        <el-col :span="6">
          
          <el-button type="primary" style="float: right; margin-right: 8px;"  size="mini" icon="el-icon-plus" @click="handleAddEdit()">Add New Material</el-button>
        </el-col>
    </el-row>

    <!-- {{ orderSelected }} -->

    <el-form :model="form" :inline="true" label-width="80px">

      <div>
        <data-table :get-data="getData"
              ref="inventorytable"
              :columns="columns" 
              row-key="id" :selectChange="handleSelectChange" 
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox v-show="row.qty>0" :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>


              </div>

              <div slot="id" slot-scope="{row}">
                  {{ row.id }} 
              </div>

              <b slot="name" slot-scope="{row}">
                <el-tooltip class="item" effect="dark" content="View Material Photos" placement="top">
                   <el-button type="text" icon="el-icon-picture" @click="showMaterialImages(row.id)">
                   </el-button>
                 </el-tooltip>
                 <el-tooltip class="item" effect="dark" content="Edit Material" placement="top" v-if="logged_user == 1 || logged_user == 3 || logged_user == 22 || logged_user == 7 || logged_user == 12 || logged_user == 25">
                   <el-button type="text" icon="el-icon-edit" @click="handleEdit(row)" >{{row.name}} 
                    <small v-show="row.name_cn != null && row.name_cn != ''">({{row.name_cn}})</small>
                   </el-button>
                 </el-tooltip>
                 <span v-else style="font-size: 14px">{{row.name}} 
                    <small v-show="row.name_cn != null && row.name_cn != ''">({{row.name_cn}})</small></span>
              </b>

              <b slot="status" slot-scope="{row}">
               <button class="ganttbutton button2" v-show="row.qty < 10 && row.qty != 0">LOW STOCK</button>
               <button class="ganttbutton button1" v-show="row.qty < 1">OUT OF STOCK</button>
              </b>

              <div slot="type" slot-scope="{row}">
                {{row.type}} 
                  <!-- <el-select
                    v-model="row.category_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Select or add new"
                    @change="changeCategory(row.category_id,row.id)" size="small">
                    <el-option
                      v-for="item in categories"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id">
                    </el-option>
                  </el-select> -->
              </div>

              <b slot="qty" slot-scope="{row}">
              {{row.qty  }}
              </b>

<!--               <b slot="qty2" slot-scope="{row}">
              {{row.qty  }}
              </b> -->

               <b slot="last_added" slot-scope="{row}">
                {{row.updated_at | commonDate}}
              </b>


        </data-table>

        <vue-easy-lightbox
          escDisabled
          moveDisabled
          :visible="visible"
          :imgs="imgs"
          :index="index"
          @hide="handleHide"
        ></vue-easy-lightbox>

      </div>

    <!-- {{orderselected}} -->

    </el-form>
  </div>
</template>


<script>
// components
import { mapGetters } from 'vuex'
import DataTable from '../../../components/datatable'
import VueEasyLightbox from 'vue-easy-lightbox'
import AddMaterials from './add-materials'
import EditMaterials from './edit-materials'
import Transfer from './transfer'
import TagSelector from 'vue-tag-selector'
export default {
  name: 'service-list',
  components: { DataTable, VueEasyLightbox,  AddMaterials, EditMaterials, Transfer, TagSelector },
  props: ['gdata', 'service_profile'],
  data () {
    return {
      imgs: '',  // Img Url , string or Array of string
      visible: false,
      index: 0,   // default: 0
      storageURL: process.env.VUE_APP_STORAGE,
      inv_id: 0,
      indexxxx: 1,

      loading: false,
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      isIndeterminate: false,
      location: 0,
      logged_user: 0,
      projects:[],
      tags:[],
      form:{
        selected: [],
      },
      orderSelected: [],
      checkAllOrders:[],
      qtyArray: [],
      idArray: [],
      categories: [],
      columns: [
        {
                //prop: 'cb',
                minWidth: '30',
                prop: 'selection',
                type: 'selection',
                width: '55',
                reserveSelection: true
              },
        // {
        //   prop: 'cb',
        //   minWidth: '30',

        // },
        {
          prop: 'id',
          label: '#',
          minWidth: '20',
          sortable: true
        },
        {
          prop: 'name',
          label: 'Material Name',
          minWidth: '200',
          sortable: true
        },

        {
          prop: 'status',
          label: 'Status',
          minWidth: '60',
          // sortable: true
        },

        {
          prop: 'type',
          label: 'Category',
          minWidth: '60',
          sortable: true
        },

        {
          prop: 'qty',
          label: 'Current Qty',
          minWidth: '60',
          sortable: true
        },

        // {
        //   prop: 'qty2',
        //   label: 'Forecast Qty',
        //   minWidth: '60'
        // },

        {
          prop: 'last_added',
          label: 'Last Updated',
          minWidth: '80',
          sortable: true
        },

      ]
    }
  },

  mounted () {
      this.$eventBus.$on('materialList', () => {
          this.handleUpdateInventory();
        });
    },

  computed: mapGetters({
    session: 'session'
  }),

  created () {
    this.logged_user = this.session.user.id;
      this.getCategories();
      this.getSuppliers();
  },

  methods: {
    refreshData(){
        this.$refs.inventorytable.getTableData();
    },

    handleSearch(){
      this.$refs.inventorytable.getTableData();
    },
    handleUpdateInventory(){
      // this.$refs.inventorytable.doLayout();
      this.form.selected = [];
      this.orderSelected = [];
      this.qtyArray = [];
      this.idArray = [];
      this.inv_id = this.location;
      if(this.location == 'Warehouse'){
          this.inv_id = 0;
      }
      this.$refs.inventorytable.clearSelection();
      this.$refs.inventorytable.getTableData();
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;
        // alert(sortParams);

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        var tags = (this.tags).join(',');

        return this.$store.dispatch('getInventory',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            inv_id: 'inv_id=' + this.inv_id,
            perPage: 'perPage=' + size,
            tags: 'tags=' + tags,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          //console.log("materials : ", data);
          // this.indexxxx = 1;
          // (data.data).forEach((value, key) => {
          //     data.data[key]['index'] = this.indexxxx;
          //     this.indexxxx = this.indexxxx + 1;  
          // });

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    handleTransfer() {


      //this.orderSelected2 = theArray;
      //this.orderSelected2 = this.orderSelected;
      //this.orderSelected2[0].qty = 0;
        (this.orderSelected).forEach((value, key) => {
              this.qtyArray.push(value.qty);
              this.idArray.push(value.id);
          });
        this.$store.dispatch('callModal', { child_component: Transfer, title: 'Transfer Material',modalWidth: '70%',
          content: {
            data: this.orderSelected,
            qtyArray: this.qtyArray,
            idArray: this.idArray,
            location: this.location
          }
         }) // call global modal state
      },

      handleAddEdit () {
        this.$store.dispatch('callModal', { child_component: AddMaterials, title: 'Add New Material',modalWidth: '70%' }) // call global modal state
      },

      handleEdit (row) {
        // console.log(row);
        this.$store.dispatch('callModal', { child_component: EditMaterials, title: 'Edit '+row.name ,modalWidth: '70%', 
          content: {
            data: row,
            files: row.files,
            location: location,
            qty: row.qty
          } }) // call global modal state
      },

      getSuppliers(){
            this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
            //this.suppliers = response.data
            this.projects = response.projects
            this.location = 'Warehouse';
            //this.materials = response.materials
          })
        },

      getCategories(){
          this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
              this.categories = response.data.data;
            })
      },

      changeCategory(value,id){
         return this.$store.dispatch('changeCategory', { id: id, type: 'inventory', cat : value }).then(res => {
          if (res.code == 200) {
            this.$message({
              type: 'success',
              message: this.$t('Common.successfully_updated')
            });

            this.getCategories();
          }else{

            console.log('ERROR');

            this.$message({
              type: 'error',
              message: 'ERROR'
            });

          }
        }).catch(err => {

        })
      },

      showMaterialImages(id) {
        var selected = (this.form.data).filter(function(x) { return x.id == id });
        var ii = [];
        ii = selected[0].files;
        //console.log(selected[0].files);
        var ctr = [];
        for(var i = 0; i < ii.length; i++){
            //console.log(ii[i].file_path);
            (ctr).push(this.storageURL+ii[i].file_path);
            // ctr++;
        }
        this.imgs = ctr;
        //console.log(this.imgs);
        //this.imgs = ['http://via.placeholder.com/350x150', 'http://via.placeholder.com/350x150']
        // allow mixing

        //this.index = 0  // index of imgList
        this.show()
      },
      show() {
        this.visible = true
      },
      handleHide() {
        this.imgs = [];
        this.visible = false
      },

      checkOrder(order){
        //console.log(order);
        //console.log(this.orderSelected);
        var orderIndex = this.orderSelected.findIndex(v => v.id === order.id);
        if(orderIndex === -1){
           this.orderSelected.push(order);
           this.qtyArray.push(order.qty);
           this.idArray.push(order.id);
        }else{
           this.orderSelected.splice(orderIndex, 1);
           this.qtyArray.splice(orderIndex, 1);
           this.idArray.splice(orderIndex, 1);
        }
    },

    handleSelectChange(val) {
      this.orderSelected = val;
    },

    handleRowClick(row) {
      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
    },

      handleCheckAllOrderChange(val){
        //console.log(val);
        this.isIndeterminate = false;
        this.form.data.map((d,i) => {
          // console.log(d);
          if(d.id === val){
            // d.orders.map((m,j) => {
                  //d.orders.map((s,k) => {
                        this.form.selected[d.id] = this.checkAllOrders[val];

                        var orderIndex = this.orderSelected.findIndex(v => v.id === d.id);

                        if(orderIndex === -1){
                          this.orderSelected.push(d);
                        }else{
                          this.orderSelected.splice(orderIndex, 1);
                        }
                  //})
            // })
          }
        });


      },

  },

   watch : {
       tags:function(val) {
          this.$refs.inventorytable.getTableData();
       },
    }
}
</script>


<style>
  .tag-selector{
    margin-top: -10px;
    display: inline-block;
  }

  .tag-selector--item{
    background-color: #7cadf6;
    margin: 5px !important;
    padding: 5px !important;
  }

  .tag-selector--remove svg{
    height: 15px;
  }

  .ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
.button1 {background-color: #d50000;}
.button2 {background-color: #d5c400;}
   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }

   .strike{
     text-decoration: line-through;
   }

   .badge{
      background-color: #ff7171;
      color: #ffffff;
      width: 20px;
      height:22px;
      min-width: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
   }

</style>
