<template>
  <div>
    <el-table border stripe ref="table" :data="newlyAdded" width="100%" v-loading="loading">
      <el-table-column label="Date & Time">
        <template slot-scope="scope">
          {{ scope.row.datetime }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('Inventory.asset_name')">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column :label="$t('Inventory.total_asset')">
        <template slot-scope="{row}">
          <div v-if="row.type==='Consumables'">
            <el-tooltip class="item" effect="dark" :content="row.toolTipSet" placement="top" v-if="row.rSet>0">
              <span style="cursor: pointer;">{{row.rSet | currency}}</span>
            </el-tooltip>
            <span v-else>{{row.rSet | currency}}</span>
            <span>{{row.rSet||row.rSet==0?'':'0 '}} Set / </span>
            <span>{{row.rUnit!=0?row.rUnit:'0 Unit'}}</span>
          </div>
          <span v-else>
            {{row.total_asset}}
          </span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('Inventory.company')">
        <template slot-scope="scope">
          {{ scope.row.company }}
        </template>
      </el-table-column>
      <el-table-column label="Operator" width="150">
        <template slot-scope="scope">
          {{ scope.row.operator }}
        </template>
      </el-table-column>
      <el-table-column label="Action Done" width="150">
        <template slot-scope="scope">
          {{ scope.row.action_done }}
        </template>
      </el-table-column>
      <el-table-column label="Action" width="70">
        <template slot-scope="scope">
          <el-tooltip
            class="item"
            effect="dark"
            :content="$t('Common.go-to-profile')"
            placement="top">
            <a href="javascript:void(0)" @click="indexParent(scope.row.inventory_id, scope.row.type)" class="btn-go-to">
              <i class="el-icon-right" v-if="scope.row.status !== 0"/>
            </a>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  export default {
    name: "newly-added",
    props: ['newlyAdded'],
    data() {
      return {
        loading: false,
      }
    },
    methods:{
      indexParent(id, type){
        this.$emit('manageInventory',id, type)
      },
      viewAll () {
        let routeData = this.$router.resolve({path: '/inventory/latest'});
        window.open(routeData.href, '_blank');
      },
    },
    mounted () {
      this.$eventBus.$on('viewAll', () => {
        this.viewAll()
      })
    }
  }
</script>
