<template>
  <el-table border stripe ref="table" :data="items" width="100%" v-loading="loading">

    <el-table-column label="Name">
      <template slot-scope="scope">
        {{ scope.row.name }}
      </template>
    </el-table-column>

    <el-table-column label="Quantity">
      <template slot-scope="scope">
        {{ scope.row.assigned_qty }}
      </template>
    </el-table-column>

    <el-table-column label="Assigned To">
      <template slot-scope="scope">
        {{ scope.row.assigned_to }}
      </template>
    </el-table-column>

    <el-table-column label="Model">
      <template slot-scope="scope">
        {{ scope.row.model }}
      </template>
    </el-table-column>

    <el-table-column label="Serial">
      <template slot-scope="scope">
        {{ scope.row.serial }}
      </template>
    </el-table-column>

    <el-table-column label="Location Site">
      <template slot-scope="scope">
        {{ scope.row.location_site }}
      </template>
    </el-table-column>

    <el-table-column label="Location Detail">
      <template slot-scope="scope">
        {{ scope.row.location_detail }}
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
    import DataTable from '@/components/datatable'

    export default {
      components: {
        DataTable
      },
      data() {
        return {
          loading: false,
          items: []
        }
      },
      methods: {
        getModified() {
          this.$store.dispatch('getNewlyModified')
            .then(response => {
              let {data} = response
              this.items = data
            });
        },
      },
      created() {
        this.getModified()
      }
    }
</script>
