<template>

	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<h3>Project : <strong style="color: #67C23A">{{ project.name }} </strong> 
    			<span style="float:right">Delivery Address : <strong style="color: #67C23A">{{ project.address }} </strong></span>
    		</h3>
    		<h3>Task : <strong style="color: #67C23A">{{ task.label }} </strong>
    			<span style="float:right">Needed Date : <strong style="color: #67C23A">{{ order.needed_date }} </strong></span>

    		</h3>

  		</div>

  		<div class="text item">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>
  					<el-row :gutter="20">
					  <el-col :span="7">
					  	<div style="border-right: 1px solid #ccc; padding-right: 5px; min-height: 500px;">
					  		<el-alert
						    title="Request"
						    :type="checkStep(1)"
						    :closable="false">
						    	<b>Date : </b> {{ task.details.requested_at | commonDateWithTime}}<br>
						    	<b>Requested By : </b> {{ task.details.requested_by }}<br>
							</el-alert>

							<el-divider></el-divider>

							<el-alert
							    title="Preparation"
							    :type="checkStep(2)"
							    :closable="false">
							    <b>Finished Prep : </b> {{ task.details.prepared_at | commonDateWithTime}}<br>
						    	<b>Prepared By : </b> {{ task.details.prepared_by }}<br>
							</el-alert>

							<el-divider></el-divider>

							<el-alert
							    title="Delivery"
							    :type="checkStep(3)"
							    :closable="false">
							    <b>For Delivery : </b> {{ task.details.for_delivery | commonDateWithTime}}<br>
						    	<b>Delivered By : </b> {{ task.details.delivered_by }}<br>
						    	<b>Car Details : </b> {{ task.details.car_details }}<br>
							</el-alert>

							<el-divider></el-divider>

							<el-alert
							    title="Delivered/Received"
							    :type="checkStep(4)"
							    :closable="false">
							    <b>Delivered_at : </b> {{ task.details.delivered_at | commonDateWithTime}}<br>
						    	<b>Received By : </b> {{ task.details.received_by }}<br>
							</el-alert>
					  	</div>
					  </el-col>
					  <el-col :span="17">
					  	<div class="grid-content bg-purple">

					  	<el-table ref="table" width="100%" :data="materials" row-class-name="movable" v-if="materials.length > 0">
					  		<el-table-column label="Materials List" label-class-name="tbl-header">
							   	<template slot-scope="scope">
							      	<b style="color: #67C23A">{{ scope.row.name }}</b> <br>
							      	
							      	<el-table ref="table" width="100%" :data="scope.row.materials"  row-class-name="movable">

											<el-table-column label="Material Name" width="280" align="left">
											   	<template slot-scope="scope">
											      		<span v-html="statusColor(scope.row.order_status)"></span> {{ scope.row.material_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Unit Price" width="100">
												<template slot-scope="scope">
												    {{ scope.row.unit_price }}
												</template>
											</el-table-column>

											<el-table-column label="Qty">
												<template slot-scope="scope" width="100">
													{{ scope.row.qty }}{{ scope.row.unit }}
												</template>
											</el-table-column>

											<el-table-column label="Notes" width="200">
												<template slot-scope="scope">
												    <!-- <span v-bind:style=" status == scope.row.order_status ? 'font-weight: bold; ' : '' ">{{ scope.row.order_status }}
												    </span> -->
												    {{scope.row.remarks}}
												</template>
											</el-table-column>

											<el-table-column label="Order Date" width="150">
												<template slot-scope="scope">
												    {{scope.row.created_at | commonDate }}
												</template>
											</el-table-column>

									</el-table>
							    </template>
					  		</el-table-column>
					  		
						</el-table>
					  		
					  	</div>

					  	<div class="grid-content bg-purple" style="padding-left: 8px;" v-if="addmaterials.length > 0">

								<b style="color: #67C23A; font-size: 12px;">Additional Materials</b> <br>
							      	<el-table ref="table" width="100%" :data="addmaterials"  row-class-name="movable">
							      			
											<el-table-column label="Material Name" width="280" align="left">
											   	<template slot-scope="scope">
											      	<span v-html="statusColor(scope.row.order_status)"></span> {{ scope.row.material_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Unit Price" width="100">
												<template slot-scope="scope">
												    {{ scope.row.unit_price }}
												</template>
											</el-table-column>

											<el-table-column label="Qty" width="100">
												<template slot-scope="scope">
													{{ scope.row.qty }}{{ scope.row.unit }}
												</template>
											</el-table-column>

											<el-table-column label="Notes" width="200">
												<template slot-scope="scope">
												    <!-- <span v-bind:style=" status === scope.row.order_status ? 'font-weight: bold;' : '' ">{{ scope.row.order_status }}
												    </span> -->
												    {{scope.row.remarks}}
												</template>
											</el-table-column>

											<el-table-column label="Order Date" width="150">
												<template slot-scope="scope">
												    {{scope.row.created_at | commonDate}}
												</template>
											</el-table-column>

									</el-table>
									<br>
									

					  	</div>
					  </el-col>
					</el-row>

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'order-details',

		data () {
	    	return {

	      		isFetching: true,

	      		project: [],
	      		order: [],
	      		task: [],
	      		materials: [],
	      		addmaterials: [],
			    order_id: '',
			    step: '',
			    status: ''

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetail2',{
	          		order_id: this.order_id
	        	})
	        	.then(res => {
	        		this.project = [];
	        		this.order = [];
	        		this.task = [];

                let { code, project, order, task, materials, addmaterials } = res;
	            	if( code == 200 ) {
	            		// console.log(data);
                    	this.project = project;
                    	this.order = order;
                    	this.task = task;
                    	this.materials = materials;
                    	this.addmaterials = addmaterials;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	checkStep(step){
	      		if(step == this.step){
	      			return 'success';
	      		}
	      		return 'info';
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	statusColor(status) {
		      if(status == 'purchase order'){
		        status = '<button class="ganttbutton button1">'+status+'</button>';
		      }
		      else if(status == 'mob'){
		        status = '<button class="ganttbutton button2">'+status+'</button>';
		      }
		      else if(status == 'site order' || status == 'POC' || status == 'SPC'){
		        status = '<button class="ganttbutton button3">'+status+'</button>';
		      }
		      else if(status == 'to prep'){
		        status = '<button class="ganttbutton button4">'+status+'</button>';
		      }
		      else if(status == 'to ship'){
		        status = '<button class="ganttbutton button5">'+status+'</button>';
		      }
		      else if(status == 'to received'){
		        status = '<button class="ganttbutton button6">'+status+'</button>';
		      }
		      else if(status == 'partial delivered'){
		        status = '<button class="ganttbutton button7">'+status+'</button>';
		      }
		      else if(status == 'completed'){
		        status = '<button class="ganttbutton button8">'+status+'</button>';
		      }
		      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
		      return status;
		    },
  		},



		created () {
			let { id, step, status } = this.$parent.$parent.content;
      		// console.log(data);
      		this.order_id = id;
      		this.step = step;
      		this.status = status;
      		this.getOrderDetail();
  		}


	}

</script>

<style >

.el-alert__title{
	font-size: 14px !important;
}

.button1 {background-color: #d50000;} /* po */
.button2 {background-color: #FFDB58;} /* mob */
.button3 {background-color: #f66c1b;} /* site order */
.button4 {background-color: #FFAE42;} /* to prep */
.button5 {background-color: #23bc2e;} /* to ship */
.button6 {background-color: #006edf;} /* to received */
.button7 {background-color: #23bc2e;} /* partial delivered */
.button8 {background-color: #23bc2e;} /* delivered/completed */


</style>
