<template>

	<div>

		<div class="m-b-40">

			<el-form ref="preset_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
			    <el-row :gutter="20" class="form-container">
					<el-col :span="12"> 
			            <el-radio-group v-model="orderMode" size="mini" @change="handleUpdateTable()">
			              <el-radio-button label="Orders"></el-radio-button>
			              <el-radio-button label="Paid Materials"></el-radio-button>
			              <el-radio-button label="Containers"></el-radio-button>
			            </el-radio-group>
			        </el-col>
	              <el-col :span="12">
	              		<!-- <el-button @click="newPO" type="primary" size="small" icon="el-icon-plus" class="pull-right m-t-10 m-b-10">
				    	Add Materials
					</el-button> -->
	              </el-col>
	          	</el-row>
	        </el-form>

	        <div v-show="orderMode == 'Orders'">
	        <el-alert
		    	class="m-b-10"
					title="POC"
					type="info"
					show-icon :closable="false">
			</el-alert>
			<div>
				
				<el-row :gutter="20" class="form-container">
					<el-col :span="6">
						<el-input placeholder="Search" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%"></el-input>
					</el-col>
					<el-col :span="10" :offset="8"> 
						<el-row>

							<el-col :span="9"> 
								<span><b> Total Kg : {{ totalkgCompute() }}</b></span>
							</el-col>
							<el-col :span="9"> 
								<span><b> Total Cbm : {{ totalcbmCompute() }}</b></span>
							</el-col>
							<el-col :span="6"> 
								<!-- <a
								    type="button"
								    href="/api/export/entity/"
								    download="file.xlsx"
								> -->
									<el-button v-if="paymentSelected.length > 0" @click="exportExcel" type="primary" size="small" icon="el-icon-arrow-right" class="pull-right">
								    	Export
									</el-button>
								<!-- </a> -->
							</el-col>
						</el-row>		         
			        </el-col>
			    </el-row>
				
			</div>

			<data-table :get-data="getData3"
              ref="potable"
              :columns="columns3"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange2" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">
               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected2[row.id]" @change="checkOrder2(row)"></el-checkbox>
                </el-col>
               </el-row>
              </div>

              <b slot="ref" slot-scope="{row}">
                  {{row.ref}}
              </b>

              <div slot="name" slot-scope="{row}">
                <el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="showTaskDetails(row.project_id, row.task_id)" style="font-size: 12px;"><b>{{row.name}}</b>
                   </el-button>
                 </el-tooltip>
              </div>

              <b slot="req_by" slot-scope="{row}">
                  {{row.requested_by}}
              </b>

              <b slot="remarks" slot-scope="{row}">
                  {{row.remarks}}
              </b>

              <!-- <b slot="needed_date" slot-scope="{row}">
                  {{row.needed_date | commonDate}}
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.requested_at | commonDate}}
              </b> -->

              <b slot="status" slot-scope="{row}">
                  <template v-if="row.status =='for approval'"> 
                  	<el-button type="danger" size="mini" style="cursor: default;">waiting for payment </el-button>
                  </template>
                  <template v-else-if="row.status =='approved'">
                  	<el-button type="warning" size="mini" style="cursor: default;"> partial payment </el-button>
                  </template>
                  <template v-else> 
                  	<el-button type="success" size="mini" style="cursor: default;">completed </el-button>
                  </template>
              </b>

              <b slot="action" slot-scope="{row}">

              	  <el-tooltip class="item" effect="dark" content="View Details" placement="top">
	                  <el-button size="small" @click="viewDetails(row.order_id)" icon="el-icon-view"></el-button>
	              </el-tooltip>

              	  <el-tooltip class="item" effect="dark" content="View Payment" placement="top">
	                  <el-button size="small" @click="viewPayment(row.id, row.purchase_order_id, row.with_order)" icon="el-icon-money"></el-button>
	              </el-tooltip>

	                 <el-popconfirm
	                    confirm-button-text='OK'
	                    cancel-button-text='Cancel'
	                    icon="el-icon-info"
	                    icon-color="red"
	                    title="Are you sure to delete this? Order will return to site order state."
	                    @onConfirm="deletePayment(row.id)"
	                  >
		               <el-tooltip class="item" effect="dark"  slot="reference" content="Delete" placement="top">
						  <el-button type="danger" size="small" icon="el-icon-delete"></el-button>
					   </el-tooltip>
					</el-popconfirm>
              </b>

        	</data-table>
			</div>

	        <div v-show="orderMode == 'Containers'">
	        <el-alert
		    	class="m-b-10"
					title="Containers"
					type="info"
					show-icon :closable="false">
			</el-alert>

			<el-row :gutter="20" class="form-container">
					<el-col :span="6" :offset="18"> 
						<el-row>

							<!-- <el-col :span="9"> 
								<span><b> Total Kg : {{ totalkgCompute() }}</b></span>
							</el-col>
							<el-col :span="9"> 
								<span><b> Total Cbm : {{ totalcbmCompute() }}</b></span>
							</el-col> -->
							<el-col :span="24"> 
									<el-button v-if="conSelected.length > 0" @click="exportExcel2" type="primary" size="small" icon="el-icon-arrow-right" class="pull-right">
								    	Export
									</el-button>
							</el-col>
						</el-row>		         
			        </el-col>
			    </el-row>

			<data-table :get-data="getData2"
              ref="pocontable"
              :columns="columns2"
              class="cell-border" 
              row-key="id" :selectChange="handleSelectChange3" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">
               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected3[row.id]" @change="checkOrder3(row)"></el-checkbox>
                </el-col>
               </el-row>
              </div>

              <b slot="po" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="type" slot-scope="{row}">
                  {{row.type}}
              </b>

              <b slot="etd" slot-scope="{row}">
                  {{row.etd}}
              </b>

              <b slot="eta" slot-scope="{row}">
                  <el-date-picker
                          v-model="row.eta"
                          type="date"
                          format="yyyy-MM-dd"
                          value-format="yyyy-MM-dd"
                          placeholder="Select date"
                          :picker-options="pickerOptions"
                          style="width: 350px;" 
                          @change="updateContainer(row.eta, row.id, 'eta')">
                        </el-date-picker>
              </b>

              <b slot="processor" slot-scope="{row}">
                  {{row.processor}}
              </b>

              <b slot="notes" slot-scope="{row}">
                  <el-input 
		    		  @change="updateContainer(row.notes, row.id, 'notes')"
					  type="text"
					  placeholder=""
					  v-model="row.notes">
					</el-input>
              </b>

              <b slot="status" slot-scope="{row}">
                  {{row.status}}
              </b>

              <b slot="action" slot-scope="{row}">
              	  <el-button plain size="small" @click="viewContainer(row)" v-if="row.payment_id > 0 && row.paid == 0 && row.status =='for loading'">view</el-button>
                  <el-button type="warning" size="small" @click="viewPayment2(row.id, row.payment_id, 0)" v-if="row.payment_id > 0 && row.paid == 0 && row.status =='for loading'">pay shipping fee</el-button>
                  <el-button plain size="small" @click="editContainer(row)" v-else>{{ (row.status == 'received' || row.status == 'to_received_ph' ? 'view' : 'ship out') }}</el-button>
              </b>

        	</data-table>
			</div>


			<div v-show="orderMode == 'Paid Materials'">
		    <el-alert
		    	class="m-b-10"
					title="Paid Materials"
					type="info"
					show-icon :closable="false">
			</el-alert>
			<div>
				<!-- {{orderSelected}} -->
				<el-row :gutter="20" class="form-container">
					<el-col :span="6" :offset="18"> 
						<el-row>
							<el-col :span="12"> 
								<span><b> Total Kg : {{ totalkgCompute2() }}</b></span>
							</el-col>
							<el-col :span="12"> 
								<span><b> Total Cbm : {{ totalcbmCompute2() }}</b></span>
							</el-col>

						</el-row>		         
			        </el-col>
			    </el-row>
				
			</div>

			<data-table :get-data="getData"
              ref="pocmaterialstable"
              :columns="columns"
              class="cell-border"
              
              >

              <div slot="cb" slot-scope="{row}">
               <el-row class="row-header" >
                 <el-col :span="1">
                  <el-checkbox v-show="row.container_id<1" :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)" ></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <div slot="proj_name" slot-scope="{row}">
              	<!-- {{row}} -->
              	<el-tooltip class="item" effect="dark" content="Edit Dimension" placement="top">
                   <el-button type="text" icon="el-icon-edit" @click="editOrderDetail(row)">
                   </el-button>
                 </el-tooltip>
                <el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="showTaskDetails(row.project_id, row.task_id)" style="font-size: 12px;"><b>{{row.proj_name}}</b>
                   </el-button>
                 </el-tooltip>
              </div>

              <b slot="needed_date" slot-scope="{row}">
                  {{row.needed_date | commonDate}}
              </b>

              <b slot="req_by" slot-scope="{row}">
                  {{row.requested_by}}
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.requested_at | commonDate}}
              </b>

              <b slot="status" slot-scope="{row}">
                  <el-select
		              v-model="row.po_status"
		              filterable
		              allow-create
		              placeholder="Select status"
		              @change="updateOrder(row.po_status, row.id, 'po_status')" size="small">
		              <el-option
		                v-for="s in po_status"
		                :label="s.label"
		                :value="s.label">
		              </el-option>
		            </el-select>
              </b>

              <b slot="name" slot-scope="{row}">
                  {{row.material_name}}
              </b>

              <b slot="qty" slot-scope="{row}">
                  {{row.qty}}
              </b>

              <b slot="carrier" slot-scope="{row}">
                  <el-input 
		    		  @change="updateOrder(row.carrier, row.id, 'carrier')"
					  type="text"
					  placeholder=""
					  v-model="row.carrier">
					</el-input>
              </b>

              <b slot="note" slot-scope="{row}">
                  <el-input 
		    		  @change="updateOrder(row.notes, row.id, 'notes')"
					  type="text"
					  placeholder=""
					  v-model="row.notes">
					</el-input>
              </b>

              <div slot="container" slot-scope="{row}">
                  <el-button  v-if="row.container_id == 0" size="small" style="cursor: default;">for loading</el-button>
		          <el-button @click="viewContainer(row.container)" type="success" icon="el-icon-check" v-else  size="small">loaded ({{ row.con }})</el-button>
              </div>

              <!-- <b slot="note" slot-scope="{row}">
                  {{ row.notes }}
              </b> -->

              <!-- <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="editPO(row.id)">edit</el-button>
              </b> -->

        	</data-table>

        	<el-button v-if="orderSelected.length > 0"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="loadToContainer()">Load to Container</el-button>
			<div class="m-t-20"></div>
			</div>
			<br>
			<!-- {{orderSelected}} -->
    	</div>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';
	import newPoChina from './new-po-china';
	import loadContainer from './load-container';
	import editContainer from './edit-container';
	import viewContainer from './view-container2';
	import editOrder from './edit-order';
	import DataTable from '../../../components/datatable'
	import newPayment from '../../payments/components/poc-payment'
	import newPayment2 from '../../payments/components/new-payment2'
	import taskDetails from './../../projects/components/task-details';
	import orderDetails from './order-details';

	export default {
		name: 'new-po-china',

		components: {
    		ElTableDraggable, DataTable, taskDetails, newPayment2, editOrder, orderDetails
  		},
		
		data () {
			return {
				isIndeterminate: false,
				loading: false,
				orderMode: 'Orders',
				search: '',
			    page: 1,
			    perPage: 10,
				files : [],
				pocs : [],
				drafts : [],
				containers : [],
				orderSelected : [],

				form: {
			        id : 0,
			        materials : [], 
			        selected: [],
			        selected2: [],
			        selected3: [],
			        po_status : '',
			        carrier : '',
			        notes : '',
			        type : '',
			    },

      			paymentSelected: [],
      			conSelected: [],

			    conform: {
			        id : 0,
			        eta : '',
			        notes : '',
			    },

			    po_status: [
			        {
			          label : 'HOLD'
			        },
			        {
			          label : 'READY'
			        },
			      ],

			     pickerOptions: {
			        disabledDate(time) {
			            return time.getTime() < Date.now() - 8.64e7;
			        }
			      },

			    columns: [
			        {
			          prop: 'cb',
			          width: '50',
			        },

			        {
			          prop: 'id',
			          label: 'ID#',
			          width: '60'
			        },

			        {
			          prop: 'proj_name',
			          label: 'Proj Name',
			          width: '250'
			        },

			        {
			          prop: 'needed_date',
			          label: 'Needed Date',
			          width: '120'
			        },

			        {
			          prop: 'req_date',
			          label: 'Request Date',
			          width: '120'
			        },

			        {
			          prop: 'req_by',
			          label: 'Requestor',
			          width: '150'
			        },

			        {
			          prop: 'status',
			          label: 'Status',
			          width: '150'
			        },

			        {
			          prop: 'name',
			          label: 'Material Name',
			          width: '200'
			        },

			        {
			          prop: 'qty',
			          label: 'Qty',
			          width: '100'
			        },

			        {
			          prop: 'carrier',
			          label: 'Carrier #',
			          width: '150'
			        },

			        {
			          prop: 'note',
			          label: 'Note',
			          width: '150'
			        },

			        {
			          prop: 'container',
			          type: 'fixed',
			          label: 'Container',
			          width: '150'
			        },

			        // {
			        //   prop: 'note',
			        //   label: 'Note',
			        //   minWidth: '60'
			        // },

			        // {
			        //   prop: 'action',
			        //   label: 'Action',
			        //   minWidth: '100'
			        // },
			      ],

			      columns2: [
			      {
		                //prop: 'cb',
		                minWidth: '30',
		                prop: 'selection',
		                type: 'selection',
		                width: '55',
		                reserveSelection: true
		              },

			        {
			          prop: 'id',
			          label: 'ID',
			          minWidth: '30'
			        },

			        {
			          prop: 'type',
			          label: 'Type',
			          minWidth: '80'
			        },

			        {
			          prop: 'etd',
			          label: 'ETD',
			          minWidth: '60'
			        },

			        {
			          prop: 'eta',
			          label: 'ETA',
			          minWidth: '60'
			        },

			        {
			          prop: 'processor',
			          label: 'Processor',
			          minWidth: '100'
			        },

			        {
			          prop: 'notes',
			          label: 'Notes',
			          minWidth: '80'
			        },

			        {
			          prop: 'status',
			          label: 'Status',
			          minWidth: '80'
			        },
			        {
			          prop: 'action',
			          label: 'Action',
			          minWidth: '100'
			        },
			      ],

			       columns3: [
			       {
		                //prop: 'cb',
		                minWidth: '30',
		                prop: 'selection',
		                type: 'selection',
		                width: '55',
		                reserveSelection: true
		              },

			        {
			          prop: 'ref',
			          label: 'Ref #',
			          minWidth: '50',
			          sortable: true
			        },

			        {
			          prop: 'name',
			          label: 'Proj Name',
			          minWidth: '100',
			          sortable: true
			        },

			        {
			          prop: 'remarks',
			          label: 'Notes',
			          minWidth: '120',
			          sortable: true
			        },

			        // {
			        //   prop: 'needed_date',
			        //   label: 'Needed Date',
			        //   minWidth: '60'
			        // },

			        // {
			        //   prop: 'req_date',
			        //   label: 'Request Date',
			        //   minWidth: '60'
			        // },

			        {
			          prop: 'req_by',
			          label: 'Requestor',
			          minWidth: '60',
			          sortable: true
			        },

			        {
			          prop: 'status',
			          label: 'Status',
			          minWidth: '60',
			          sortable : true
			        },
			        {
			          prop: 'action',
			          label: 'Action',
			          minWidth: '60'
			        },
			      ],

			}
		},

		 mounted () {
	      this.$eventBus.$on('loadPOC', () => {
	          this.$refs.potable.getTableData();
	          this.$refs.pocmaterialstable.getTableData();
	          this.$refs.pocontable.getTableData();
	          this.orderSelected = [];
	        });
	    },

		methods:{
			editOrderDetail (row) {
		        // console.log(row);
		        this.$store.dispatch('callModal', { child_component: editOrder, title: 'Edit '+row.material_name ,modalWidth: '70%', 
		          content: {
		            data: row
		          } }) // call global modal state
		      },

			updateOrder(value, id, type){
		      this.form.id = id;
		      this.form.type = type;
		      if(type == 'po_status'){
		      	this.form.po_status = value;
		      }
		      if(type == 'carrier'){
		      	this.form.carrier = value;
		      }
		      if(type == 'notes'){
		      	this.form.notes = value;
		      }
		      return this.$store.dispatch('updateOrderDetail', { method: 'edit', payload: this.form }).then(res => {
		            if (res.code == 200) {

		              this.$message({
		                type: 'success',
		                message: this.$t('Common.successfully_updated')
		              });

		              // this.$eventBus.$emit('syncProjectData')
		            }else{

		              console.log('ERROR');

		              this.$message({
		                type: 'error',
		                message: 'ERROR'
		              });

		            }
		          }).catch(err => {

		          })
		    },

		    updateContainer(value, id, type){
		      this.form.id = id;
		      this.form.type = type;
		      if(type == 'eta'){
		      	this.form.eta = value;
		      }
		      if(type == 'notes'){
		      	this.form.notes = value;
		      }
		      return this.$store.dispatch('updateContainerDetail', { method: 'edit', payload: this.form }).then(res => {
		            if (res.code == 200) {

		              this.$message({
		                type: 'success',
		                message: this.$t('Common.successfully_updated')
		              });

		              // this.$eventBus.$emit('syncProjectData')
		            }else{

		              console.log('ERROR');

		              this.$message({
		                type: 'error',
		                message: 'ERROR'
		              });

		            }
		          }).catch(err => {

		          })
		    },

			newPO(){

		        this.$store.dispatch('callModal', {
		          child_component: newPoChina,
		          title: 'New Purchase Order',
		          modalWidth: '80%',
		          content: {
		            id : 0
		          }
		        })

			},

			editPO(id){

		        this.$store.dispatch('callModal', {
		          child_component: newPo,
		          title: 'Edit Purchase Order',
		          modalWidth: '80%',
		          content: {
		            id : id
		          }
		        })

			},

			deletePayment(id){
				this.$store.dispatch('deletePayment', {
	              id: id
	            }).then(res=> {
	              //console.log('result', res)
	              if(res.status == 'Success') {
	                this.$message({
	                  showClose: true,
	                  message: 'Successfully Deleted!',
	                  type: 'success',
	                  center: true
	                })

	                setTimeout(() => {
	                  this.refreshData();
	                  //this.$parent.$emit('close')
	                }, 1000)
	              } else {
	                
	              }
	            })
			},

			viewPayment(id,po_id, with_order){

		        this.$store.dispatch('callModal', {
		          child_component: newPayment,
		          title: 'Edit Payment',
		          modalWidth: '80%',
		          content: {
		            id : id,
		            purchase_order_id : po_id,
		            with_order : with_order,
		          }
		        })

			},

			viewPayment2(con_id, payment_id, with_order){

		        this.$store.dispatch('callModal', {
		          child_component: newPayment2,
		          title: 'Edit Payment',
		          modalWidth: '80%',
		          content: {
		            con_id : con_id,
		            payment_id : payment_id,
		            with_order : with_order,
		          }
		        })

			},

			loadToContainer(){
		        this.$store.dispatch('callModal', {
		          child_component: loadContainer,
		          modalWidth: '60%',
		          content: {
		            data : this.orderSelected,
		            containers : this.containers
		          }
		        })
		    },

		    checkOrder(order){
		        var orderIndex = this.orderSelected.findIndex(v => v.id === order.id);
		        if(orderIndex === -1){
		           this.orderSelected.push(order);
		        }else{
		           this.orderSelected.splice(orderIndex, 1);
		        }
		    },

		    checkOrder2(order){
		        // console.log(order);
		        var orderIndex = this.paymentSelected.findIndex(v => v.id === order.id);
		        if(orderIndex === -1){
		           this.paymentSelected.push(order);
		        }else{
		           this.paymentSelected.splice(orderIndex, 1);
		        }
		    },

		    checkOrder3(order){
		        // console.log(order);
		        var orderIndex = this.conSelected.findIndex(v => v.id === order.id);
		        if(orderIndex === -1){
		           this.conSelected.push(order);
		        }else{
		           this.conSelected.splice(orderIndex, 1);
		        }
		    },

		    editContainer(row){
		    	// console.log(row);
		        this.$store.dispatch('callModal', {
		          child_component: editContainer,
		          modalWidth: '60%',
		          content: {
		            data : row
		          }
		        })
		    },

		    viewContainer(row){
		    	// console.log(row);
		        this.$store.dispatch('callModal', {
		          child_component: viewContainer,
		          modalWidth: '60%',
		          content: {
		            data : row
		          }
		        })
		    },

			refreshData(){
		      this.$refs.pocmaterialstable.getTableData();
		      this.$refs.pocontable.getTableData();
		      this.$refs.potable.getTableData();
		    },


		    showTaskDetails(project_id, task_id){
		        var files = [];

		        this.$store.dispatch('getProjectProfile2', { id: project_id}).then(response => {
		          // console.log('project profile', response)
		          this.files = response.files;
		        })

		        this.files.map((d,i) => {
		            if(d.id === task_id){
		                files = d.files;
		            }
		          });

		        this.viewMenu = false;
		        this.$store.dispatch('callModal', {
		          child_component: taskDetails,
		          // title: 'Task Details',
		          modalWidth: '40%',
		          content: {
		            project_id: project_id,
		            task_id: task_id,
		            files : files
		          }
		        })
		    },

		    handleUpdateTable(){
		      if(this.orderMode == 'Orders'){
		        this.$refs.potable.getTableData();
		      }
		      if(this.orderMode == 'Paid Materials'){
		        this.$refs.pocmaterialstable.getTableData();
		      }
		      if(this.orderMode == 'Containers'){
		        this.$refs.pocontable.getTableData();
		      }
		    },

		    getData ({ page, query, sortParams, size}) {
		        let vm = this;

		        if(sortParams.length == 0){
		          sortParams = 'id-desc'
		        }

		        return this.$store.dispatch('getAllPaidPoc',{
		            page: 'page=' + page,
		            sort: 'sort=' + sortParams,
		            search: 'search=' + this.search,
		            perPage: size,
		        })
		        .then(res => {
		          const { data } = res

		          this.drafts = data.data;

		          return {
		            data: data.data,
		            total: data.total,
		            size: size
		          }
		        })
		    },

		    getData2 ({ page, query, sortParams, size}) {
		        let vm = this;

		        if(sortParams.length == 0){
		          sortParams = 'id-desc'
		        }

		        return this.$store.dispatch('getAllContainers',{
		            page: 'page=' + page,
		            sort: 'sort=' + sortParams,
		            search: 'search=' + this.search,
		            perPage: size,
		        })
		        .then(res => {
		          const { data } = res

		          this.containers = data.data;

		          return {
		            data: data.data,
		            total: data.total,
		            size: size
		          }
		        })
		    },

		    getData3 ({ page, query, sortParams, size}) {
		        let vm = this;

		        if(sortParams.length == 0){
		          sortParams = 'id-desc'
		        }

		        return this.$store.dispatch('getPocPayments',{
		            page: 'page=' + page,
		            sort: 'sort=' + sortParams,
		            search: 'search=' + this.search,
		            perPage: size,
		        })
		        .then(res => {
		          const { data } = res

		          this.pocs = data.data;
		          

		          if(sortParams == 'remarks-asc' ){
		          	(data.data).sort((a, b) => (a.remarks2 > b.remarks2) ? 1 : -1)
		          }
		          if(sortParams == 'remarks-desc' ){
		          	(data.data).sort((a, b) => (a.remarks2 < b.remarks2) ? 1 : -1)
		          }

		          if(sortParams == 'name-asc' ){
		          	(data.data).sort((a, b) => (a.name > b.name) ? 1 : -1)
		          }
		          if(sortParams == 'name-desc' ){
		          	(data.data).sort((a, b) => (a.name < b.name) ? 1 : -1)
		          }

		          if(sortParams == 'req_by-asc' ){
		          	(data.data).sort((a, b) => (a.requested_by > b.requested_by) ? 1 : -1)
		          }
		          if(sortParams == 'req_by-desc' ){
		          	(data.data).sort((a, b) => (a.requested_by < b.requested_by) ? 1 : -1)
		          }

		          if(sortParams == 'status-asc' ){
		          	(data.data).sort((a, b) => (a.status2 > b.status2) ? 1 : -1)
		          }
		          if(sortParams == 'status-desc' ){
		          	(data.data).sort((a, b) => (a.status2 < b.status2) ? 1 : -1)
		          }


		          if(this.search != null && this.search != ''){
		          	var re = (this.search).toLowerCase();
						data.data =  (data.data).filter(function(d) {

							return ( (d.project2).includes(re) );

						});
		          }

		          return {
		            data: data.data,
		            total: data.total,
		            size: size
		          }
		        })
		    },

		    handleSearch(){
		      this.$refs.potable.getTableData();
		    },

		    exportExcel(){
		    	var ids = '';

		    	(this.paymentSelected).forEach((value, index) => {
		    		ids +=  value.id + ",";
		    	})

		    	ids = ids.replace(/,*$/, "");

		    	// console.log(ids);

		    	this.$store.dispatch('exportPoc',{
		            ids: ids,
		        })
			        .then(res => {
			          const { data } = res

			          setTimeout(() => {
				          var fileURL = window.URL.createObjectURL(new Blob([res]));

				          var fileLink = document.createElement('a');
				          fileLink.href = fileURL;

				            fileLink.setAttribute('download',  'POCs.xls');



				          document.body.appendChild(fileLink);
				          fileLink.click();

				          //this.isLoading = false;
				          //this.$parent.$emit('close')
				          //this.$eventBus.$emit('syncGroupData');
				        }, 500)

			          //this.pocs = data.data;

			      });
		    },

		    exportExcel2(){
		    	var ids = '';

		    	(this.conSelected).forEach((value, index) => {
		    		ids +=  value.id + ",";
		    	})

		    	ids = ids.replace(/,*$/, "");

		    	// console.log(ids);

		    	this.$store.dispatch('exportPoc2',{
		            ids: ids,
		        })
			        .then(res => {
			          const { data } = res

			          setTimeout(() => {
				          var fileURL = window.URL.createObjectURL(new Blob([res]));

				          var fileLink = document.createElement('a');
				          fileLink.href = fileURL;

				            fileLink.setAttribute('download',  'POCs.xls');



				          document.body.appendChild(fileLink);
				          fileLink.click();

				          //this.isLoading = false;
				          //this.$parent.$emit('close')
				          //this.$eventBus.$emit('syncGroupData');
				        }, 500)

			          //this.pocs = data.data;

			      });
		    },

		    viewQuotation(){
		        let redirect = 'redirect';
		        let projectId = this.project_id;

		        let routeData = this.$router.resolve(
		          {
		            name: 'project-view-quotation',
		            params: { projectId, redirect }
		          }
		        );

		        window.open(routeData.href, '_blank');
		    },

		    totalkgCompute(){
 		    	var totalkg = 0;
  		    	(this.paymentSelected).forEach((value, index) => {
  				     (value.details).forEach((value2, index2) => {
  				    	//if(value.unit == 'kg'){
  				    		//console.log(value2.weight);
  				    		value2.weight = (value2.weight > 0 ? value2.weight : 0);
 				    		totalkg += (value2.qty * value2.weight);
  				    	//}
  				     });
  				});
  				return (totalkg).toFixed(4);
 				//this.totalkg = totalkg;
 		    },

 		    totalcbmCompute(){
 		    	var totalcbm = 0;
  		    	(this.paymentSelected).forEach((value, index) => {
  				     (value.details).forEach((value2, index2) => {
  				    	//if(value.unit == 'kg'){
  				    		//console.log(value2.weight);
  				    		value2.length = (value2.length > 0 ? value2.length : 0);
  				    		value2.width = (value2.width > 0 ? value2.width : 0);
  				    		value2.height = (value2.height > 0 ? value2.height : 0);
 				    		totalcbm += (value2.qty * (value2.length * value2.width * value2.height));
  				    	//}
  				     });
  				});
  				return (totalcbm).toFixed(4);
 				//this.totalkg = totalkg;
 		    },

 		    totalkgCompute2(){
 		    	var totalkg = 0;
  		    	(this.orderSelected).forEach((value2, index) => {
  				     //(value.details).forEach((value2, index2) => {
  				    	//if(value.unit == 'kg'){
  				    		//console.log(value2.weight);
  				    		value2.weight = (value2.weight > 0 ? value2.weight : 0);
 				    		totalkg += (value2.qty * value2.weight);
  				    	//}
  				     //});
  				});
  				return (totalkg).toFixed(4);
 				//this.totalkg = totalkg;
 		    },

 		    totalcbmCompute2(){
 		    	var totalcbm = 0;
  		    	(this.orderSelected).forEach((value2, index) => {
  				     //(value.details).forEach((value2, index2) => {
  				    	//if(value.unit == 'kg'){
  				    		//console.log(value2.weight);
  				    		value2.length = (value2.length > 0 ? value2.length : 0);
  				    		value2.width = (value2.width > 0 ? value2.width : 0);
  				    		value2.height = (value2.height > 0 ? value2.height : 0);
 				    		totalcbm += (value2.qty * (value2.length * value2.width * value2.height));
  				    	//}
  				     //});
  				});
  				return (totalcbm).toFixed(4);
 				//this.totalkg = totalkg;
 		    },

 		    viewDetails(id){
		      // alert(id);
		        this.$store.dispatch('callModal', {
		          child_component: orderDetails,
		          title: 'Order Details',
		          modalWidth: '80%',
		          content: {
		            id : id,
		            step: 1
		          }
		        })
		    },

		    handleSelectChange3(val) {
		      this.conSelected = val;
		    },

 		    handleSelectChange2(val) {
		      this.paymentSelected = val;
		    },

		    handleSelectChange(val) {
		      this.orderSelected = val;
		    },

		    handleRowClick(row) {
		      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
		    },
		},

		created() {
			const vm = this
		}
	}
</script>

<style>
	.el-upload{
		width: 350px !important;
		margin-left: 0px;
	}
	.el-upload-list{
		margin-left: 0px;
	}
</style>
<style lang="scss" scoped>
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

/*  	.movable {
  		cursor: move;
  	}*/

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #000;
  		font-size: 14px !important;
  	}

  	.m-b-40 {
  		margin-bottom: 40px;
  	}
</style>