<template>

	<div>

		<div class="m-b-40">

			<el-form ref="preset_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
				<el-row :gutter="20" class="form-container">
	              <el-col :span="24">
	              		<el-button @click="newPO" type="primary" size="small" icon="el-icon-plus" class="pull-right m-t-10 m-b-10">
				    	New Purchase Order
					</el-button>
	              </el-col>
	          	</el-row>


	            <!-- <el-row :gutter="20" class="form-container">
	              <el-col :span="18">
	                <div class="label">Select Materials :</div>
	                <div>
	                  <el-form-item prop="presets">
	                  <el-select v-model="xform.materials" filterable multiple placeholder="Select Materials" style="width: 550px;" @change="displayTable">
	                      <el-option
	                        v-for="s in materials"
	                        :key="s.id"
	                        :label="s.name"
	                        :value="s.id">
	                      </el-option>
	                    </el-select>
	                  </el-form-item>
	                </div>
	              </el-col>
	              <el-col :span="6">
	              	<el-button @click="requestLowQty" type="primary" size="small" icon="el-icon-plus" class="pull-right m-t-10 m-b-10">
				    	Request Low Qty Materials
					</el-button>
	              </el-col>
	            </el-row> -->

	        </el-form>

<!-- 	        {{oldmaterials}}<br><br>-->
	        <!-- {{form.materials}} -->
	        <!--{{oldmaterials != form.materials}} -->

		    <el-alert
		    	class="m-b-10"
					title="Drafts"
					type="info"
					show-icon :closable="false">
			</el-alert>

			<!-- <el-table-draggable @drop="handleDrop"> -->
				        <data-table :get-data="getData"
              ref="potable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="po" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="req_by" slot-scope="{row}">
                  {{row.prepared_by}}
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.prepared_at}}
              </b>

              <b slot="note" slot-scope="{row}">
                  {{ row.notes }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="editPO(row.id)">edit</el-button>
              </b>

        </data-table>


			<div class="m-t-20"></div>
			<br>
			<br>

    	</div>

	</div>
	
</template>

<script>
	import ElTableDraggable from 'element-ui-el-table-draggable';
	import newPo from './new-po';
	import DataTable from '../../../components/datatable'

	export default {
		name: 'new-po',

		components: {
    		ElTableDraggable, DataTable
  		},
		
		data () {
			return {
				loading: false,
				search: '',
			    page: 1,
			    perPage: 10,
				drafts : [],

				form: {
			        preset_id : 0,
			        materials : [], 
			    },

			    columns: [
			        {
			          //prop: 'cb',
			          minWidth: '30',
			          prop: 'selection',
			              type: 'selection',
			              width: '55',
			              reserveSelection: true
			        },

			        {
			          prop: 'po',
			          label: 'PO#',
			          minWidth: '30'
			        },

			        {
			          prop: 'req_date',
			          label: 'Prepared At',
			          minWidth: '80'
			        },

			        {
			          prop: 'req_by',
			          label: 'Prepared By',
			          minWidth: '80'
			        },

			        {
			          prop: 'note',
			          label: 'Note',
			          minWidth: '60'
			        },

			        {
			          prop: 'action',
			          label: 'Action',
			          minWidth: '100'
			        },
			      ]

			}
		},

		 mounted () {
	      this.$eventBus.$on('loadPO', () => {
	          this.$refs.potable.getTableData();
	        });
	    },

		methods:{
			newPO(){

		        this.$store.dispatch('callModal', {
		          child_component: newPo,
		          title: 'New Purchase Order',
		          modalWidth: '80%',
		          content: {
		            id : 0
		          }
		        })

			},

			editPO(id){

		        this.$store.dispatch('callModal', {
		          child_component: newPo,
		          title: 'Edit Purchase Order',
		          modalWidth: '80%',
		          content: {
		            id : id
		          }
		        })

			},

			refreshData(){
		      this.$store.dispatch('getAllDrafts', { payload: this.form } ).then(response => {
		        this.drafts = response.data;
		      })
		    },

		    getData ({ page, query, sortParams, size}) {
		        let vm = this;

		        if(sortParams.length == 0){
		          sortParams = 'id-desc'
		        }

		        return this.$store.dispatch('getAllDrafts',{
		            page: 'page=' + page,
		            sort: 'sort=' + sortParams,
		            search: 'search=' + this.search,
		            perPage: size,
		        })
		        .then(res => {
		          const { data } = res

		          this.drafts = data.data;

		          return {
		            data: data.data,
		            total: data.total,
		            size: size
		          }
		        })
		    },

		    handleSelectChange(val) {
		      this.orderSelected = val;
		    },

		    handleRowClick(row) {
		      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
		    },
		},

		created() {
			const vm = this
		}
	}
</script>

<style lang="scss" scoped>
	span#service-name {
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-top: 10px;
	}

	.m-10 {
		margin-left: 10px;
	    margin-right: 10px;
	}

  	.el-icon-success {
    	color: #67c23a;
  	}

  	.el-icon-error{
  		color: #ff3b00
  	}

/*  	.movable {
  		cursor: move;
  	}*/

  	.pull-right {
  		float: right;
  	}

  	.m-t-10 {
  		margin-top: 10px;
  	}

  	.m-b-10 {
  		margin-bottom: 10px;
  	}

  	.m-t-20 {
  		margin-top: 20px;
  	}

  	.tbl-header {
  		color: #000;
  		font-size: 14px !important;
  	}

  	.m-b-40 {
  		margin-bottom: 40px;
  	}
</style>