<template>

	<el-card class="box-card" shadow="never">

  		<div class="text item">

    		<!-- <template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template> -->

  			<template>
  				<template>


  					<el-row :gutter="20">
					  <el-col :span="6">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label">Select Driver :</div>
				                <div>
				                  <el-form-item>
				                  	<el-select
					                    v-model="form.selected_driver"
					                    filterable
					                    allow-create
					                    default-first-option
					                    placeholder="Select or add new"
					                    size="small">
					                    <el-option
					                      v-for="item in drivers"
					                      :key="item.id"
					                      :label="item.name"
					                      :value="item.id">
					                    </el-option>
					                </el-select>
				                  </el-form-item>
				                </div>
					  		</el-form>
					  		<b>Total Weight : {{ totalkg }} kg</b>
					  	</div>
					  </el-col>
					  <el-col :span="6">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label">Select Car :</div>
				                <div>
				                  <el-form-item>
				                  	<el-select
					                    v-model="form.selected_car"
					                    filterable
					                    allow-create
					                    default-first-option
					                    placeholder="Select or add new"
					                    size="small" @change="handleCarChange(form.selected_car)">
					                    <el-option
					                      v-for="item in cars"
					                      :key="item.id"
					                      :label="item.name"
					                      :value="item.id">
					                    </el-option>
					                </el-select>
				                  </el-form-item>
				                </div>
					  		</el-form>
					  		<b>Weight Limit : {{ weight_limit }} kg</b>
					  	</div>
					  </el-col>
					  <el-col :span="6">
					  	<div class="grid-content bg-purple">
					  		<el-form :model="form" :inline="true" label-width="80px">
					  			<div class="label">Delivery Date :</div>
				                <div>
				                  <el-form-item>
									<el-date-picker size="small"
			                          v-model="form.delivery_date"
			                          type="datetime"
			                          value-format="yyyy-MM-dd HH:mm:ss"
			                          placeholder="Select date"
			                          style=" width: 190px;"
			                          >
			                        </el-date-picker>
				                    </el-form-item>
				                </div>
				            </el-form>
				        </div>
					  </el-col>
					  <el-col :span="6">
				  		<el-button  type="primary" size="small" icon="el-icon-plus" style="margin-left: 5px;font-size: 10px; margin-top: 25px; margin-left: 10px;" @click="transferToRcv()">For Delivery</el-button>
					  </el-col>
					</el-row>


  					<el-row :gutter="20">
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">

					  	<!-- <el-table ref="table" width="100%" :data="project" row-class-name="movable">
					  		<el-table-column label="" label-class-name="tbl-header">
					  		<template slot-scope="scope">
					  		<b style="color: #67C23A; font-size: 16px;">{{ scope.row.name }}</b> <br> -->
						  		<!-- <el-table ref="table" width="100%" :data="scope.row.orders" row-class-name="movable">
							  		<el-table-column label="Presets" label-class-name="tbl-header">
									   	<template slot-scope="scope"> -->
									   		<!-- <el-table ref="table" width="100%" :data="scope.row.presets" row-class-name="movable">
										  		<el-table-column :label="scope.row.task_name" label-class-name="tbl-header">
												   	<template slot-scope="scope">
												      	<b style="color: #67C23A">{{ scope.row.name }}</b> <br> -->
												      	
												      	<el-table ref="table" width="100%" :data="form.data.details"  row-class-name="movable">

																<el-table-column label="Material Name" width="400" align="left">
																   	<template slot-scope="scope">
																      	{{ scope.row.material_name }}
																    </template>
																</el-table-column>


																<el-table-column label="Qty">
																	<template slot-scope="scope">
																		{{ scope.row.qty }}
																	</template>
																</el-table-column>

														</el-table>
												    <!-- </template>
												</el-table-column>
											</el-table> -->
										<!-- </template>
							  		</el-table-column>
						  		</el-table> -->
					  		<!-- </template>
					  	</el-table-column>
						</el-table> -->
					  		
					  	</div>

					  </el-col>
					</el-row>

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'order-details',

		data () {
	    	return {

	      		isFetching: true,
	      		project: [],
	      		order: [],
	      		task: [],
	      		materials: [],
	      		addmaterials: [],
	      		drivers: [],
	      		cars: [],
	      		weight_limit: 0,
	      		totalkg: 0,
			    order_ids: '',
			    step: '',
			    
			    form: {
	      			data: [],
	      			status: 'to ship',
	      			selected_driver: '',
			    	selected_car: '',
			    	delivery_date: null,
	      		}

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	  		handleCarChange(id){
	  			var selected = (this.cars).filter(function(x) { return x.id == id });
	      				this.weight_limit = selected[0].weight_limit;
	  		},

	      	getDrivers(){
			    this.$store.dispatch('getAllDrivers', { payload: this.form } ).then(response => {
			        this.drivers = response.data.data;
			    })
			},

			getCars(){
			    this.$store.dispatch('getAllCars', { payload: this.form } ).then(response => {
			        this.cars = response.data.data;
			    })
			},

	      	transferToRcv(){
				if(this.totalkg < this.weight_limit){	      		
				      return this.$store.dispatch('transferToRcv', { payload: this.form }).then(res => {
				        if (res.code == 200) {
				         this.form.data = res.data;
				          this.$message({
				            type: 'success',
				            message: this.$t('Common.successfully_updated')
				          });
				          this.$eventBus.$emit('loadToShip')
				          this.$parent.$emit('close')

		      			  // this.isFetching = false;
				        }else{

				          // console.log('ERROR');

				          this.$message({
				            type: 'error',
				            message: 'Please input required details!'
				          });

				        }
				      }).catch(err => {

				      })
				  }
				  else{
				  	this.$message({
				            type: 'error',
				            message: 'Weight Limit!'
				          });
				  }
		    },

			// changeDriver(value){
		 //       return this.$store.dispatch('changeDriver', { id: order_id, type: 'order', cat : value }).then(res => {
		 //        if (res.code == 200) {
		 //          this.$message({
		 //            type: 'success',
		 //            message: this.$t('Common.successfully_updated')
		 //          });

		 //          this.getCategories();
		 //        }else{

		 //          console.log('ERROR');

		 //          this.$message({
		 //            type: 'error',
		 //            message: 'ERROR'
		 //          });

		 //        }
		 //      }).catch(err => {

		 //      })
		 //    },
		 	totalkgCompute(){
		    	var totalkg = 0;
		    	(this.form.data.details).forEach((value, index) => {
				    // (value.items).forEach((value2, index2) => {
				    	//if(value.unit == 'kg'){
				    		totalkg += (value.qty * value.weight);
				    	//}
				    // });
				});
				this.totalkg = totalkg;
		    },

	      	checkStep(step){
	      		if(step == this.step){
	      			return 'success';
	      		}
	      		return 'info';
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},
  		},



		created () {
			let { data, status } = this.$parent.$parent.content;
      		// console.log(this.$parent.$parent.content);
      		this.form.data = data;
      		this.status = status;
      		this.totalkgCompute();
      		this.getDrivers();
      		this.getCars();
  		}


	}

</script>

<style>

.el-alert__title{
	font-size: 14px !important;
}

.tbl-header{
	font-size: 14px !important;

}

.el-table thead{
	color: #000 !important;
}


</style>
