<template>

	<el-card class="box-card" shadow="never" style="overflow-x: hidden;">

  		<div class="text item" style="overflow-x: hidden;">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>


			<el-row :gutter="0" class="form-container" style="height: 100%; overflow-y: auto; overflow-x: hidden;">
            <el-col :span="24">
              <el-row v-for="(proj, projindex) in project" class="row" style="margin-bottom: 30px;">
              <el-col :span="24" >
                <label style="font-size: 20px;color: #5daf34;"><b>{{ proj.name }}</b></label>
              </el-col>

              <el-col :span="24" v-for="(ord, orderindex) in proj.orders" >
                 <el-row class="row-header" style="font-weight: bold;" v-if="ord.materials.length > 0">
                 	<!-- <b style="float:left; color: #9BE874">{{ pre.name }}</b><br> -->
                    <el-col :span="18" class="col-header" style="text-align: left;">
                      Material Name
                    </el-col>
                    <!-- <el-col :span="6" class="col-header">
                      Unit Price
                    </el-col> -->
                    <el-col :span="6" class="col-header">
                      Qty
                    </el-col>

	                       	<el-form :inline="true" label-width="80px">
	                 <div v-for="(mat, matindex) in ord.materials">

	                   <div class="cat-header">
	                       <el-row style="line-height: 25px;">
	                         <el-col :span="18">
	                          <el-form-item style="margin-bottom: 0px;float: left;">
	                                 <div style="font-size: 12px;">{{ mat.name }}</div>
	                               </el-form-item>
	                         </el-col>

	                         <!-- <el-col :span="6">
	                            <el-form-item style="margin-bottom: 0px;">
	                                 <div style="font-size: 12px;">{{ mat.final_price }}</div>
	                            </el-form-item>
	                         </el-col> -->

	                         <el-col :span="6">
	                            <el-form-item style="margin-bottom: 0px;">
	                            	<div style="font-size: 12px;">
		                                <el-input size="mini" type="number" min="1" :max="mat.qty2" v-model="project[projindex].orders[orderindex].materials[matindex].qty" autocomplete="off" placeholder="Enter actual qty" style="width: 80px; "></el-input>/{{ mat.qty2 }}
		                            </div>
	                            </el-form-item>
	                         </el-col>
	                       </el-row>
	                   </div>
	                 </div>
	                     </el-form>
	             </el-row>

	             <el-row class="row-header" style="font-weight: bold;" v-if="ord.addmaterials.length > 0">
	             	<b style="float:left; color: #9BE874">Additional Materials</b><br>
                    <el-col :span="18" class="col-header" style="text-align: left;">
                      Material Name
                    </el-col>
                    <!-- <el-col :span="6" class="col-header">
                      Unit Price
                    </el-col> -->
                    <el-col :span="6" class="col-header">
                      Qty
                    </el-col>

	                       	<el-form :inline="true" label-width="80px">
	                 <div v-for="(add, addindex) in ord.addmaterials">

	                   <div class="cat-header">
	                       <el-row style="line-height: 25px;">
	                         <el-col :span="18">
	                          <el-form-item style="margin-bottom: 0px; float: left;">
	                                 <div style="font-size: 12px;">{{ add.material_name }}</div>
	                               </el-form-item>
	                         </el-col>

	                         <!-- <el-col :span="6">
	                            <el-form-item style="margin-bottom: 0px;">
	                                 <div style="font-size: 12px;">{{ add.unit_price }}</div>
	                            </el-form-item>
	                         </el-col> -->

	                         <el-col :span="6">
	                            <el-form-item style="margin-bottom: 0px;">
	                            	<div style="font-size: 12px;">
		                                <el-input size="mini" type="number" min="1" :max="add.qty2" v-model="project[projindex].orders[orderindex].addmaterials[addindex].qty" autocomplete="off" placeholder="Enter actual qty" style="width: 80px; "></el-input>/{{ add.qty2 }}
		                            </div>
	                            </el-form-item>
	                         </el-col>
	                       </el-row>
	                   </div>
	                 </div>
	                 
	                     </el-form>
	                 
	             </el-row>

              </el-col>

            </el-row>

            

            <el-divider></el-divider>
            <el-button  type="primary" size="small" icon="el-icon-plus" style="font-size: 10px;  margin-left: 40px; float: right;" @click="toShip()">Ready To Ship</el-button>
          </el-col>

          		

        </el-row>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'order-details',

		data () {
	    	return {

	      		isFetching: true,
	      		project: [],
	      		order: [],
	      		task: [],
	      		materials: [],
	      		addmaterials: [],
	      		drivers: [],
	      		cars: [],
			    order_ids: '',
			    step: '',
			    
			    form: {
	      			ids: [],
	      			type: 'to prep',
	      			selected_driver: '',
			    	selected_car: '',
			    	delivery_date: null,
	      		},

	      		imgBase64: [],
		        fileList: [],
		        storageURL: process.env.VUE_APP_STORAGE,

		        uplform: {
			      	comment: '',
			      	rcvby: '',
			        fileData: []
			      },

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetailMultiple2',{
	          		payload: this.form
	        	})
	        	.then(res => {
	        		this.project = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    	this.project = data;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	getDrivers(){
			    this.$store.dispatch('getAllDrivers', { payload: this.form } ).then(response => {
			        this.drivers = response.data.data;
			    })
			},

			getCars(){
			    this.$store.dispatch('getAllCars', { payload: this.form } ).then(response => {
			        this.cars = response.data.data;
			    })
			},

	      	toShip(){
		            this.$store.dispatch('toShipMaterials', {
		              ids: this.form.ids,
		              project : this.project,
		              data: this.uplform.fileData,
		              type: 'receive-materials',
		              //rcvby: this.uplform.rcvby
		            }).then(res=> {
		              console.log('result', res)
		              if(res.success) {
		                this.$message({
		                  showClose: true,
		                  message: 'Success!',
		                  type: 'success',
		                  center: true
		                })

		                setTimeout(() => {
		                  this.$eventBus.$emit('loadToPrep',true);
		                  this.$parent.$emit('close')
		                }, 1000)
		              } else {
		                this.$message({
		                  showClose: true,
		                  message: 'Failed',
		                  type: 'error',
		                  center: true
		                })
		              }
		            })
      
		    },

		    handleChange (file, fileList) {
		      console.log(file);
		      var self = this

		      var fileData = {
		        // id: self.task_id,
		        file_path: file.name,
		        comment: '',
		        imgBase64: null
		      }

		      var fl = [{
		        name: file.name,
		        url: file.name
		      }]		      

		      var reader = new FileReader();
		      reader.readAsDataURL(file.raw);
		      reader.onload = function(e) {
		        self.imgBase64 = [...self.imgBase64, {
		          name: file.name,
		          imgBase64: this.result
		        }]
		      }
		      // console.log(reader);

		      this.uplform.fileData = [...this.uplform.fileData, fileData];
		      // this.fileList = fl;

		    },

		    handleRemove (file, fileList) {
		    	//(this.uplform.fileData).splice(index, 1);
		    	var fl = [];
		    	(this.uplform.fileData).forEach(function(x, index) {

		          if(x.file_path != file.url && (file.url != 'image.png' && x.file_path.toLowerCase().indexOf("image.png") === -1 )){
		          	var fileData = {
				        // id: self.task_id,
				        file_path: file.name,
				        comment: '',
				        imgBase64: null
				      }
		          	fl = [...fl, fileData];
		          }

		        });
		        this.uplform.fileData = fl;
		    	console.log((this.uplform.fileData));
		    },

			// changeDriver(value){
		 //       return this.$store.dispatch('changeDriver', { id: order_id, type: 'order', cat : value }).then(res => {
		 //        if (res.code == 200) {
		 //          this.$message({
		 //            type: 'success',
		 //            message: this.$t('Common.successfully_updated')
		 //          });

		 //          this.getCategories();
		 //        }else{

		 //          console.log('ERROR');

		 //          this.$message({
		 //            type: 'error',
		 //            message: 'ERROR'
		 //          });

		 //        }
		 //      }).catch(err => {

		 //      })
		 //    },

	      	checkStep(step){
	      		if(step == this.step){
	      			return 'success';
	      		}
	      		return 'info';
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},
  		},



		created () {
			let { ids, step } = this.$parent.$parent.content;
      		// console.log(this.$parent.$parent.content);
      		this.form.ids = ids;
      		this.step = step;
      		this.getOrderDetail();
      		// this.getDrivers();
      		// this.getCars();
  		}


	}

</script>

<style>

.el-alert__title{
	font-size: 14px !important;
}

.tbl-header{
	font-size: 14px !important;

}
.el-upload{
	width: 300px !important;
	margin-left: 40px;
}
.el-upload-list{
	margin-left: 40px;
}

.el-table thead{
	color: #000 !important;
}
.el-table__row{
	margin-bottom : 16px;
}

</style>
