<template>
  <div ref="materialList">

    <el-row>
        <el-col :span="6">
           <div  v-if="(step === 1)" class="alignRight" >
            <el-input placeholder="Search" prefix-icon="el-icon-search" v-model="search" clearable  size="mini" @change="handleSearch" style="width:90%"></el-input>
          </div>
        </el-col>
        <el-col :span="6" v-if="siteOrderMode != 'Site Order'">
            <el-input placeholder="Search Payment Ref" prefix-icon="el-icon-search" v-model="search2" clearable  size="mini" @change="handleSearch" style="width:90%"></el-input>
        </el-col>
        <el-col :span="6"> 
            <el-radio-group v-model="siteOrderMode" size="mini" @change="handleUpdateSiteOrder()">
              <el-radio-button label="Site Order"></el-radio-button>
              <el-radio-button label="POC"></el-radio-button>
              <el-radio-button label="SPC"></el-radio-button>
              <!-- <el-radio-button label="Chicago"></el-radio-button> -->
            </el-radio-group>
        </el-col>
    </el-row>

    <el-form :model="form" :inline="true" label-width="80px">
      <div>
        <data-table :get-data="getData"
              ref="siteorderstable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.order_id]" @change="checkOrder(row)" ></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="id" slot-scope="{row}">
                  {{row.order_id}}
              </b>

              <div slot="name" slot-scope="{row}">
                <el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="showTaskDetails(row.project_id, row.task_id)" style="font-size: 12px;"><b>{{row.name}}</b>
                   </el-button>
                 </el-tooltip>
              </div>

              <b slot="matname" slot-scope="{row}">
                  {{row.qty}}{{row.unit}} {{row.material_name}}
              </b>

              <!-- <div slot="category" slot-scope="{row}">
                  <el-select
                    v-model="row.category_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Select or add new"
                    @change="changeCategory(row.category_id,row.id)" size="small">
                    <el-option
                      v-for="item in categories"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id">
                    </el-option>
                  </el-select>
              </div> -->

              <b slot="needed_date" slot-scope="{row}">
                  {{row.needed_date | commonDate}}
              </b>

              <b slot="req_by" slot-scope="{row}">
                  {{row.requested_by}}
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.requested_at | commonDate}}
              </b>

              <i slot="remarks" slot-scope="{row}">
                  {{ row.remarks }}
              </i>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewOrderDetails(row.order_id)">view</el-button>

                  <el-button type="success" plain size="small" slot="reference" @click="checkSolo(row)" style="cursor:pointer;" v-if="siteOrderMode == 'Site Order' || row.isRcvFlag">check</el-button>

                  <el-button type="warning" size="small" @click="editOrderDetails(row.project_id, row.task_id, row.order_id)" v-if="siteOrderMode == 'Site Order'" >edit</el-button>

                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to revert this to site order state?"
                    @onConfirm="revertSPC(row.order_id)"
                  >
                    <el-button type="danger" plain size="small" slot="reference" style="cursor:pointer;" v-if="siteOrderMode == 'SPC'">revert</el-button>
                  </el-popconfirm>

                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to delete this order id?"
                    @onConfirm="deleteSiteOrder(row.order_id)"
                  >
                    <el-button type="danger" plain size="small" slot="reference" style="cursor:pointer;" v-if="siteOrderMode == 'Site Order'">delete</el-button>
                  </el-popconfirm>

                  <el-button type="success" size="small" @click="viewPaymentDetails(row.payment_id, 0 , 1, row.order_status)" v-if="row.payment_id > 0">view payment</el-button>
              </b>

        </data-table>

        <!-- {{ categories }} -->

        <!-- {{orderSelected}} -->
<!--         <data-table :get-data="getData"
              ref="siteorderstable"
              :columns="columns"
              >

              <div slot="bydates" slot-scope="{row}">
               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="checkAllOrders[row.id]" @change="handleCheckAllOrderChange(row.id)"></el-checkbox>
                </el-col>
                 <el-col :span="6">Preset</el-col>
                 <el-col :span="5">Material</el-col>
                 <el-col :span="3">Qty</el-col>
                 <el-col :span="3">Unit Price</el-col>
                 <el-col :span="3">Subtotal</el-col>
                 <el-col :span="3">{{ $t('Common.action') }}</el-col>
               </el-row>

               <div >
                  <el-col>

                    <el-row v-for="order in row.orders" class="row-content">
                      <el-col :span="1">
                        <el-checkbox v-model="form.selected[order.id]" @change="checkOrder(order)"></el-checkbox>
                      </el-col>

                      <el-col :span="6">
                          {{order.preset_name | capitalize}}
                      </el-col>
                      <el-col :span="5">
                          {{order.material_name | capitalize}}
                      </el-col>

                      <el-col :span="3">
                          {{order.qty }}
                      </el-col>
                      <el-col :span="3">
                          {{order.unit_price | currency}}
                      </el-col>

                      <el-col :span="3" >
                          {{order.total_price | currency}}
                      </el-col>

                      <el-col :span="3">

                      </el-col>

                    </el-row>
                  </el-col>

               </div>
              </div>
              <b slot="req_date" slot-scope="{row}">
                {{row.updated_at | commonDate}}
              </b>

              <b slot="name" slot-scope="{row}">
               {{ row.name }}
              </b>

              <b slot="note" slot-scope="{row}">
              {{ row.remarks }}
              </b>


        </data-table> -->
<!-- {{form.data}}
      <el-table
        ref="multipleTable"
        :data="form.data"
        style="width: 100%"
        @selection-change="handleSelectionChange">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          label="PO#"
          width="50">
          <template slot-scope="scope">{{ scope.row.id }}</template>
        </el-table-column>
        <el-table-column
          label="Project Name"
          width="150">
          <template slot-scope="scope">{{ scope.row.name }}</template>
        </el-table-column>
        <el-table-column
          label="Request Date"
          width="50">
          <template slot-scope="scope">{{ scope.row.requested_at }}</template>
        </el-table-column>
        <el-table-column
          label="Requested By"
          width="50">
          <template slot-scope="scope">{{ scope.row.requested_by }}</template>
        </el-table-column>
        <el-table-column
          label="Note"
          width="50">
          <template slot-scope="scope">{{ scope.row.remarks }}</template>
        </el-table-column>
      </el-table> -->
               <el-button v-if="orderSelected.length > 0 && isRcv"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="checkQty()">Quantity Check</el-button>
               <el-button v-if="orderSelected.length > 0 && siteOrderMode == 'Site Order'"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="checkQty()">Quantity Check</el-button>
               <el-button v-if="orderSelected.length > 0 && siteOrderMode == 'Site Order'" type="primary" size="mini" icon="el-icon-s-order" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="poChina('po')">PO China</el-button>
               <el-button v-if="orderSelected.length > 0 && siteOrderMode == 'Site Order'" type="primary" size="mini" icon="el-icon-money" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="poChina('spc')">SPC</el-button>

      </div>



    </el-form>

  </div>
</template>


<script>
// components
import { mapGetters } from 'vuex'
import DataTable from '../../../components/datatable'
import qtyCheck from './qty-check';
import orderDetails from './order-details';
import viewPoDetails from './view-po-details';
import taskDetails from './../../projects/components/task-details';
import editPO from './../../projects/edit-purchase-order';
import newPayment from '../../payments/components/new-payment'
import newPaymentMultiple from '../../payments/components/new-payment3'

export default {
  name: 'site-orders',
  components: {
       DataTable, qtyCheck, orderDetails, viewPoDetails, taskDetails, newPayment, newPaymentMultiple, editPO
    },
  props:['modalId'],
  data () {
    return {
      isRcv : false,
      siteOrderMode : 'Site Order',
      loading: false,
      search: '',
      search2: '',
      page: 1,
      perPage: 10,
      step: 1,
      logged_user: 0,
      isIndeterminate: false,
      form:{
        selected: [],
      },
      checkAllOrders:[],
      orderSelected: [],
      categories: [],
      files: [],

      columns: [
        {
          //prop: 'cb',
          minWidth: '30',
          prop: 'selection',
              type: 'selection',
              width: '55',
              reserveSelection: true
        },

        {
          prop: 'id',
          label: 'PO#',
          minWidth: '30',
          sortable : true
        },

        {
          prop: 'name',
          label: 'Project Name',
          minWidth: '80',
          sortable : true
        },

        {
          prop: 'matname',
          label: 'Material',
          minWidth: '100'
        },
        {
          prop: 'needed_date',
          label: 'Needed Date',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'req_date',
          label: 'Request Date',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'req_by',
          label: 'Requestor',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'remarks',
          label: 'Note',
          minWidth: '80',
          sortable : true
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },


      ]
    }
  },

  computed: mapGetters({
    session: 'session'
  }),

    mounted () {
      this.$eventBus.$on('loadSiteOrders', () => {
          this.$refs.siteorderstable.getTableData();
          this.orderSelected = [];
        });

      // if(this.modalId > 0){
      //       this.$refs.siteorderstable.getTableData();
      //       // this.openDynamicModal(this.modalId);
      //     }

      // this.$eventBus.$on('openDynamicModal', (param) => {
      //     alert(param);
      //     this.openDynamicModal(param);
      //   });
    },

  created () {   
      this.getCategories();
  },

  methods: {
    refreshData(){
        this.$refs.siteorderstable.getTableData();
    },

    handleSearch(){
        this.$refs.siteorderstable.getTableData();
    },
    handleUpdateSiteOrder(){
        this.$refs.siteorderstable.getTableData();
    },

    openDynamicModal(task_id){
      this.form.data.map((d,i) => {
        // console.log(d.task_id);
        // console.log( task_id);
        // console.log(d.task_id == task_id);
        if(d.task_id == task_id){
            this.viewOrderDetails(d.id);
          }
      });
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getSiteOrders',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: 'perPage=' + size,
            mode: 'mode=' + this.siteOrderMode
        })
        .then(res => {
          const { data } = res

          if(this.siteOrderMode == 'Site Order'){
            this.search2 = '';
          }

          if(this.search2 != null && this.search2 != ''){
              var re = this.search2;
              data.data =  (data.data).filter(function(d) {
                return ((d.ref).includes(re));
              });
          }
          this.form.data = data.data;
          this.openDynamicModal(this.modalId);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    editOrderDetails(project_id, task_id, order_id){
        window.open('/#/projects/edit-purchase-order/'+project_id+'/'+task_id+'/'+order_id+'/redirect', '_blank');
    },  

    showTaskDetails(project_id, task_id){
        var files = [];

        this.$store.dispatch('getProjectProfile2', { id: project_id}).then(response => {
          // console.log('project profile', response)
          this.files = response.files;
        })

        this.files.map((d,i) => {
            if(d.id === task_id){
                files = d.files;
            }
          });

        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: taskDetails,
          // title: 'Task Details',
          modalWidth: '40%',
          content: {
            project_id: project_id,
            task_id: task_id,
            files : files
          }
        })
    },

    getCategories(){
        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
            this.categories = response.data.data;
          })
    },

    revertSPC(id){
        this.$store.dispatch('revertSPC', {
                  id: id
                }).then(res=> {
                  if(res.status == 'Success') {
                    this.$message({
                      showClose: true,
                      message: 'SPC order successfully reverted to site order state!',
                      type: 'success',
                      center: true
                    })

                    setTimeout(() => {
                      this.$refs.siteorderstable.getTableData();
                      //this.$parent.$emit('close')
                    }, 1000)
                  } else {
                    
                  }
                })
    },

    deleteSiteOrder(id){
        this.$store.dispatch('deleteSiteOrder', {
                  id: id
                }).then(res=> {
                  if(res.status == 'Success') {
                    this.$message({
                      showClose: true,
                      message: 'Order successfully Deleted!',
                      type: 'success',
                      center: true
                    })

                    setTimeout(() => {
                      this.$refs.siteorderstable.getTableData();
                      //this.$parent.$emit('close')
                    }, 1000)
                  } else {
                    
                  }
                })
    },

    changeCategory(value,order_id){
       return this.$store.dispatch('changeCategory', { id: order_id, type: 'order', cat : value }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          this.getCategories();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    checkSolo(order){
        //console.log(this.siteOrderMode);
        this.checkOrder(order);
    },

    checkOrder(order){
        // console.log(this.orderSelected);
        this.orderSelected = [];
        var orderIndex = this.orderSelected.findIndex(v => v.id === order.id);
        if(orderIndex === -1){
           this.orderSelected.push(order);
        }else{
           this.orderSelected.splice(orderIndex, 1);
        }
        this.checkQty(order);
    },

    handleSelectChange(val) {
      this.orderSelected = val;
    },

    handleRowClick(row) {
      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
    },

    handleCheckAllOrderChange(val){
      // alert(val);
      this.isIndeterminate = false;
      this.form.data.map((d,i) => {
        // console.log(d);
        if(d.id === val){
          // d.orders.map((m,j) => {
                d.orders.map((s,k) => {
                      this.form.selected[s.id] = this.checkAllOrders[val];

                      var orderIndex = this.orderSelected.findIndex(v => v.id === s.id);

                      if(orderIndex === -1){
                        this.orderSelected.push(s);
                      }else{
                        this.orderSelected.splice(orderIndex, 1);
                      }
                })
          // })
        }
      });
    },

    checkQty(){
        this.$store.dispatch('callModal', {
          child_component: qtyCheck,
          modalWidth: '60%',
          content: {
            data : this.orderSelected,
            mode : this.siteOrderMode
          }
        })
    },

    poChina(type){
        this.$store.dispatch('callModal', {
          child_component: viewPoDetails,
          modalWidth: '80%',
          content: {
            data : this.orderSelected,
            type : type
          }
        })
    },

    viewOrderDetails(id){
      // alert(id);
        this.$store.dispatch('callModal', {
          child_component: orderDetails,
          title: 'Order Details',
          modalWidth: '80%',
          content: {
            id : id,
            step: 1
          }
        })
    },

    viewPaymentDetails(id,po_id, with_order, status){

      if(status == 'POC'){
            this.$store.dispatch('callModal', {
              child_component: newPayment,
              title: 'Edit Payment',
              modalWidth: '80%',
              content: {
                id : id,
                purchase_order_id : po_id,
                with_order : with_order,
              }
            })
      }
      else if(status == 'SPC' && id <=1239){
            this.$store.dispatch('callModal', {
              child_component: newPayment,
              title: 'Edit Payment',
              modalWidth: '80%',
              content: {
                id : id,
                purchase_order_id : po_id,
                with_order : with_order,
              }
            })
      }
      else{
            this.$store.dispatch('callModal', {
              child_component: newPaymentMultiple,
              title: 'Edit Payment',
              modalWidth: '80%',
              content: {
                id : id,
                purchase_order_id : po_id,
                with_order : with_order,
              }
            })
      }


      },

  },
  components: { DataTable }
}
</script>


<style>

   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }

   .strike{
     text-decoration: line-through;
   }

   .badge{
      background-color: #ff7171;
      color: #ffffff;
      width: 20px;
      height:22px;
      min-width: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
   }

</style>
