<template>
  <div ref="materialList">

    <el-row>
        <el-col :span="6">
           <div  v-if="(step === 1)" class="alignRight" >
            <el-input placeholder="Search Project" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%"></el-input>
          </div>
        </el-col>
    </el-row>


    <el-form :model="form" :inline="true" label-width="80px">

      <div>
        <data-table :get-data="getData"
              ref="topreptable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="name" slot-scope="{row}">
                  {{row.name}}
              </b>

              <b slot="needed_date" slot-scope="{row}">
                  {{row.needed_date | commonDate}}
              </b>

              <!-- <div slot="category" slot-scope="{row}">
                  <el-select
                    v-model="row.category_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Select or add new"
                    @change="changeCategory(row.category_id,row.id)" size="small">
                    <el-option
                      v-for="item in categories"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id">
                    </el-option>
                  </el-select>
              </div> -->

              <b slot="req_by" slot-scope="{row}" >
                 <!-- <el-input type="text" v-model="row.prepared_by" 
                  @change="changeUser(row.prepared_by,row.id)" 
                  size="small">
                  </el-input> -->
                  {{row.requested_by}}
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.requested_at | commonDate}}
              </b>

              <b slot="remarks" slot-scope="{row}">
                  {{ row.remarks }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewOrderDetails(row.id)">view</el-button>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to approve this?"
                    @onConfirm="approveOrder(row.id, 'solo')"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">approve</el-button>
                  </el-popconfirm>
              </b>

        </data-table>

             <!--  <el-button v-if="orderSelected.length > 0"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="shipMaterials()">Approve</el-button> -->

<!--                <el-button v-if="orderSelected.length > 0"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="checkQty()">Quantity Check</el-button> -->

      </div>
<!-- 
      <div>
        <data-table :get-data="getData"
              ref="topreptable"
              :columns="columns"
              >

              <div slot="bydates" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="checkAllOrders[row.id]" @change="handleCheckAllOrderChange(row.id)"></el-checkbox>
                </el-col>
                 <el-col :span="6">Preset</el-col>
                 <el-col :span="5">Material</el-col>
                 <el-col :span="3">Qty</el-col>
                 <el-col :span="3">Unit Price</el-col>
                 <el-col :span="3">Subtotal</el-col>
                 <el-col :span="3">{{ $t('Common.action') }}</el-col>

               </el-row>

               <div >
                  <el-col>


                    <el-row v-for="order in row.orders" class="row-content">
                      <el-col :span="1">
                        <el-checkbox v-model="form.selected[order.id]" @change="checkOrder(order)"></el-checkbox>
                      </el-col>

                      <el-col :span="6">
                          {{order.preset_name | capitalize}}
                      </el-col>
                      <el-col :span="5">
                          {{order.material_name | capitalize}}
                      </el-col>

                      <el-col :span="3">
                          {{order.qty }}
                      </el-col>
                      <el-col :span="3">
                          {{order.unit_price | currency}}
                      </el-col>

                      <el-col :span="3" >
                          {{order.total_price | currency}}
                      </el-col>

                      <el-col :span="3">

                      </el-col>

                    </el-row>
                  </el-col>




               </div>


           </div>
              <b slot="req_date" slot-scope="{row}">
                {{row.updated_at | commonDate}}
              </b>

              <b slot="name" slot-scope="{row}">
               {{ row.name }}
              </b>

              <b slot="note" slot-scope="{row}">
              {{ row.remarks }}
              </b>


        </data-table>
               <el-button v-if="orderSelected.length > 0"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="shipMaterials()">Ready to Ship</el-button>

      </div> -->

    </el-form>

  </div>
</template>


<script>
// components
import { mapGetters } from 'vuex'
import DataTable from '../../../components/datatable'
import shipItem from './ship-item2';
import orderDetails from './order-details';

export default {
  name: 'site-orders',
  components: {
       DataTable, shipItem, orderDetails
    },
  props:['modalId'],
  data () {
    return {
      loading: false,
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      isIndeterminate: false,
      form:{
        selected: [],
      },
      checkAllOrders:[],
      orderSelected: [],
      categories: [],
      users: [],
      columns: [
        {
          //prop: 'cb',
          minWidth: '30',
          prop: 'selection',
              type: 'selection',
              width: '55',
              reserveSelection: true
        },

        {
          prop: 'id',
          label: 'PO#',
          minWidth: '30',
          sortable : true
        },

        {
          prop: 'name',
          label: 'Project Name',
          minWidth: '120',
          sortable : true
        },

        {
          prop: 'needed_date',
          label: 'Needed Date',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'req_date',
          label: 'Request Date',
          minWidth: '80',
          sortable : true
        },

        {
          prop: 'req_by',
          label: 'Requestor',
          minWidth: '100',
          sortable : true
        },

        {
          prop: 'remarks',
          label: 'Note',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },


      ]
    }
  },

  computed: mapGetters({
    session: 'session'
  }),

    mounted () {
      this.$eventBus.$on('loadToPrep', () => {
          this.$refs.topreptable.getTableData();
          this.orderSelected = [];
        });
    },

  created () {
    this.getCategories();
    // this.getAllUsers();
  },

  methods: {
    refreshData(){
        this.$refs.topreptable.getTableData();
    },

    handleSearch(){
      this.$refs.topreptable.getTableData();
    },

    openDynamicModal(task_id){
      this.form.data.map((d,i) => {
        // console.log(d.task_id);
        // console.log( task_id);
        // console.log(d.task_id == task_id);
        if(d.task_id == task_id){
            this.viewOrderDetails(d.id);
          }
      });
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getToPrepOrders',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;

          this.openDynamicModal(this.modalId);
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    // getAllUsers(){
    //     this.$store.dispatch('allUsers', { payload: this.form } ).then(response => {
    //         this.users = response.data.data;
    //       })
    // },

    getCategories(){
        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
            this.categories = response.data.data;
          })
    },

    changeCategory(value,order_id){
       return this.$store.dispatch('changeCategory', { id: order_id, type: 'order', cat : value }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          this.getCategories();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    changeUser(value,order_id){
       return this.$store.dispatch('changeUser', { id: order_id, type: 'prepared_by', value : value }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          //this.getCategories();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    checkOrder(order){
        var orderIndex = this.orderSelected.findIndex(v => v.id === order.id);
        if(orderIndex === -1){
           this.orderSelected.push(order);
        }else{
           this.orderSelected.splice(orderIndex, 1);
        }
    },

    approveOrder(id, type){
      if(type == 'solo'){
        id = [id];
      }
      else{
        var id = [];
        this.orderSelected.map((item,index) => {
            id.push(item.id);
        });
      }

        this.$store.dispatch('callModal', {
          child_component: shipItem,
          title: 'To Ship',
          modalWidth: '50%',
          content: {
            ids : id,
            step: 2
          }
        })
    },

    // approveOrder(order){
    //   //if(order.prepared_by!= '' && order.prepared_by!= null){
    //     //this.orderSelected.push(order);
    //     this.shipMaterials();
    //   // }
    //   // else{
    //   //   this.$message({
    //   //       type: 'warning',
    //   //       message: 'Please input who prepared order.'
    //   //     });
    //   // }
    // },

    handleSelectChange(val) {
      this.orderSelected = val;
    },

    handleRowClick(row) {
      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
    },

    handleCheckAllOrderChange(val){
      // alert(val);
      this.isIndeterminate = false;
      this.form.data.map((d,i) => {
        // console.log(d);
        if(d.id === val){
          // d.orders.map((m,j) => {
                d.orders.map((s,k) => {
                      this.form.selected[s.id] = this.checkAllOrders[val];

                      var orderIndex = this.orderSelected.findIndex(v => v.id === s.id);

                      if(orderIndex === -1){
                        this.orderSelected.push(s);
                      }else{
                        this.orderSelected.splice(orderIndex, 1);
                      }
                })
          // })
        }
      });


    },

    shipMaterials(){
        this.$store.dispatch('callModal', {
          child_component: shipItem,
          modalWidth: '40%',
          content: {
            data : this.orderSelected
          }
        })
    },

    viewOrderDetails(id){
        this.$store.dispatch('callModal', {
          child_component: orderDetails,
          title: 'Order Details',
          modalWidth: '80%',
          content: {
            id : id,
            step: 2
          }
        })
    },

  },
  components: { DataTable }
}
</script>


<style>

   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }

   .strike{
     text-decoration: line-through;
   }

   .badge{
      background-color: #ff7171;
      color: #ffffff;
      width: 20px;
      height:22px;
      min-width: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
   }

</style>
