<template>
  <div ref="materialList">

    <el-row>
        <el-col :span="6">
           <!-- <div  v-if="(step === 1)" class="alignRight" > -->
            <el-input placeholder="Search Project" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%"></el-input>
          <!-- </div> -->
        </el-col>
        <el-col :span="18"> 
            <el-radio-group v-model="orderMode" size="mini" @change="handleUpdateTable()">
              <el-radio-button label="Requests"></el-radio-button>
              <el-radio-button label="PO"></el-radio-button>
              <el-radio-button label="POC"></el-radio-button>
              <el-radio-button label="SPC"></el-radio-button>
              <el-radio-button label="Transfers"></el-radio-button>
              <el-radio-button label="Free Logistic Requests"></el-radio-button>
            </el-radio-group>
        </el-col>
    </el-row>


    <el-form   :model="form" :inline="true" label-width="80px">

      <div v-show="orderMode == 'Requests'">
        <el-alert
          class="m-b-10"
          title="Material Requests"
          type="info"
          show-icon :closable="false">
        </el-alert>
        <data-table :get-data="getData"
              ref="torcvtable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="name" slot-scope="{row}">
                  <!-- {{row}} -->
                  <el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="showTaskDetails(row.project_id, row.task_id)" style="font-size: 12px;"><b>{{row.name}}</b>
                   </el-button>
                 </el-tooltip>
              </b>

              <!-- <div slot="category" slot-scope="{row}">
                  <el-select
                    v-model="row.category_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Select or add new"
                    @change="changeCategory(row.category_id,row.id)" size="small">
                    <el-option
                      v-for="item in categories"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id">
                    </el-option>
                  </el-select>
              </div> -->

              <b slot="req_by" slot-scope="{row}" >
                 <el-tooltip placement="top">
                    <div slot="content">{{ row.car_details }}</div>
                    <span>{{ row.delivered_by }}</span>
                  </el-tooltip>
                  
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.delivery_date}}
              </b>

              <b slot="remarks" slot-scope="{row}">
                  {{ row.remarks }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewOrderDetails(row.id)">view</el-button>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to receive this?"
                    @onConfirm="rcvOrder(row.id, 'solo')"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">receive</el-button>
                  </el-popconfirm>
              </b>

        </data-table>

        <el-button v-if="orderSelected.length > 0"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="rcvOrder(0, 'multiple')">Mark as Received</el-button>

        </div>

        <div v-show="orderMode == 'PO'">
            <el-alert
              class="m-b-10"
              title="Purchase Orders"
              type="info"
              show-icon :closable="false">
          </el-alert>
        <data-table :get-data="getData2"
              ref="porcvtable"
              :columns="columns2"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="po" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="name" slot-scope="{row}">
                  {{row.supplier_name}}
              </b>

              <b slot="needed_date" slot-scope="{row}">
                  {{row.needed_date | commonDate}}
              </b>

<!--               <div slot="category" slot-scope="{row}">
                  <el-select
                    v-model="row.category_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Select or add new"
                    @change="changeCategory(row.category_id,row.id)" size="small">
                    <el-option
                      v-for="item in categories"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id">
                    </el-option>
                  </el-select>
              </div> -->

              <b slot="req_by" slot-scope="{row}" >
                    <span>{{ row.requestor }}</span>
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.requested_at | commonDate }}
              </b>

              <b slot="note" slot-scope="{row}">
                  {{ row.notes }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewPurchaseOrderDetails(row.id)">view</el-button>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to receive this?"
                    @onConfirm="rcvPurchaseOrder(row.id, 'solo')"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">receive</el-button>
                  </el-popconfirm>
              </b>

        </data-table>
      </div>

      <div v-show="orderMode == 'SPC'">
        <el-alert
          class="m-b-10"
          title="SPC"
          type="info"
          show-icon :closable="false">
      </el-alert>
        <data-table :get-data="getData3"
              ref="spcrcvtable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <!-- <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="po" slot-scope="{row}">
                  {{row.ref}}
              </b>

              <b slot="name" slot-scope="{row}">
                  <span>{{row.purchaser}}</span>
              </b>



              <b slot="req_date" slot-scope="{row}">
                  {{row.date}}
              </b>

              <b slot="note" slot-scope="{row}">
                  {{ row.desciption }}
              </b> -->

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="po" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="name" slot-scope="{row}">
                  <!-- {{row}} -->
                  <el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="showTaskDetails(row.project_id, row.task_id)" style="font-size: 12px;"><b>{{row.name}}</b>
                   </el-button>
                 </el-tooltip>
              </b>

             <!--  <b slot="req_by" slot-scope="{row}" >
                 <el-tooltip placement="top">
                    <div slot="content">{{ row.car_details }}</div>
                    <span>{{ row.delivered_by }}</span>
                  </el-tooltip>
                  
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.delivery_date}}
              </b> -->

              <b slot="req_by" slot-scope="{row}" >
                  {{row.requested_by}}
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.requested_at | commonDate}}
              </b>

              <b slot="remarks" slot-scope="{row}">
                  {{ row.remarks }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewSpcOrderDetails(row)">view</el-button>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to receive this?"
                    @onConfirm="rcvSPC(row.payment_id, 'solo')"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">receive</el-button>
                  </el-popconfirm>
              </b>

        </data-table>
      </div>
        
      <div v-show="orderMode == 'POC'">
        <el-alert
          class="m-b-10"
          title="POC"
          type="info"
          show-icon :closable="false">
      </el-alert>
        <data-table :get-data="getData4"
              ref="pocrcvtable"
              :columns="columns4"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="name" slot-scope="{row}">
                  <span>{{row.carrier}}</span>
              </b>

              <div slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewPocOrderDetails(row)">view</el-button>
                  <el-button type="warning" size="small" @click="viewPayment2(row.id, row.payment_id, 0)" v-if="row.status == 'to_received_ph' && row.paid2 == 0" style="margin-left: 0px;">pay shipping fee</el-button>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to receive this?"
                    @onConfirm="rcvPOC(row.id, 'solo')"
                    v-else
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">receive</el-button>
                  </el-popconfirm>
              </div>

        </data-table>

      </div>

      <div v-show="orderMode == 'Transfers'">
        <el-alert
          class="m-b-10"
          title="Transfer Requests"
          type="info"
          show-icon :closable="false">
      </el-alert>
        <data-table :get-data="getData5"
              ref="transfertorcvtable"
              :columns="columns5"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="transfer_from" slot-scope="{row}">
                  {{row.transfer_from}}
              </b>

              <b slot="transfer_to" slot-scope="{row}" >
                  {{ row.transfer_to }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewTransferDetails(row)">view</el-button>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to receive this?"
                    @onConfirm="receiveTransfer(row)"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">receive</el-button>
                  </el-popconfirm>
              </b>

        </data-table>

      </div>

      <div v-show="orderMode == 'Free Logistic Requests'">
         <!--  <el-button type="primary" style="float: right; margin-right: 8px;"  size="mini" icon="el-icon-plus" @click="handleAddEdit()">Add New Logistic Request</el-button> -->
          <data-table :get-data="getData6"
              ref="freetoshiptable"
              :columns="columns6"
              class="cell-border"
              row-key="id"
              >

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="transfer_from" slot-scope="{row}">
                  {{row.transfer_from}}
              </b>

              <b slot="transfer_to" slot-scope="{row}" >
                  {{ row.transfer_to }}
              </b>

              <b slot="datetime" slot-scope="{row}" >
                  {{ row.needed_date }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <!-- <el-button plain size="small" @click="viewTransferDetails(row.id)">view</el-button> -->
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to receive this?"
                    @onConfirm="receiveFreeTransfer(row)"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">receive</el-button>
                  </el-popconfirm>
              </b>

        </data-table>
      </div>



    </el-form>

  </div>
</template>


<script>
// components
import { mapGetters } from 'vuex'
import DataTable from '../../../components/datatable'
import itemRcv from './item-received';
import orderDetails from './order-details';
import spcOrderDetails from './spc-order-details';
import rcvOrderDetails from './rcv-order-details';
import viewContainer from './view-container';
import transferDetails from './transfer-details';
import viewPo from './view-po';
import taskDetails from './../../projects/components/task-details';
import rcvFreeTransferDetails from './rcv-freetransfer-details';
import newPayment2 from '../../payments/components/new-payment2'

export default {
  name: 'site-orders',
  components: {
       DataTable, itemRcv, taskDetails, newPayment2
    },
  props:['modalId'],
  data () {
    return {
      loading: false,
      orderMode: 'Requests',
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      isIndeterminate: false,
      form:{
        selected: [],
        data: [],
      },
      xform:{
        data: [],
      },
      checkAllOrders:[],
      orderSelected: [],
      categories: [],
      columns: [
        {
          //prop: 'cb',
          minWidth: '30',
          prop: 'selection',
              type: 'selection',
              width: '55',
              reserveSelection: true
        },

        {
          prop: 'id',
          label: 'Req#',
          minWidth: '30',
          sortable : true
        },

        {
          prop: 'name',
          label: 'Project Name',
          minWidth: '120',
          sortable : true
        },

        {
          prop: 'needed_date',
          label: 'Needed Date',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'req_date',
          label: 'Request Date',
          minWidth: '80',
          sortable : true
        },

        {
          prop: 'req_by',
          label: 'Requestor',
          minWidth: '100',
          sortable : true
        },

        {
          prop: 'remarks',
          label: 'Note',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },


      ],


      columns2: [
        {
          //prop: 'cb',
          minWidth: '30',
          prop: 'selection',
              type: 'selection',
              width: '55',
              reserveSelection: true
        },

        {
          prop: 'po',
          label: 'PO#',
          minWidth: '30'
        },

        {
          prop: 'name',
          label: 'Supplier Name',
          minWidth: '120'
        },

        // {
        //   prop: 'category',
        //   label: 'Category',
        //   minWidth: '100'
        // },

        {
          prop: 'req_date',
          label: 'Delivery Time',
          minWidth: '80'
        },

        {
          prop: 'req_by',
          label: 'Prepared By',
          minWidth: '100'
        },

        {
          prop: 'note',
          label: 'Note',
          minWidth: '60'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },
      ],

      columns3: [
        {
          //prop: 'cb',
          minWidth: '30',
          prop: 'selection',
              type: 'selection',
              width: '55',
              reserveSelection: true
        },

        {
          prop: 'po',
          label: 'Ref#',
          minWidth: '100'
        },

        {
          prop: 'name',
          label: 'Purhaser',
          minWidth: '100'
        },

        {
          prop: 'req_date',
          label: 'Payment Date',
          minWidth: '80'
        },

        // {
        //   prop: 'req_by',
        //   label: 'Prepared By',
        //   minWidth: '100'
        // },

        {
          prop: 'note',
          label: 'Note',
          minWidth: '60'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },


      ],

      columns4: [
        {
          prop: 'id',
          label: 'ID#',
          minWidth: '70'
        },

        {
          prop: 'carrier',
          label: 'Carrier#',
          minWidth: '100'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },
      ],

      columns5: [

        {
          prop: 'id',
          label: 'ID',
          minWidth: '30'
        },

        {
          prop: 'transfer_from',
          label: 'Transfer from',
          minWidth: '120'
        },

        {
          prop: 'transfer_to',
          label: 'Transfer to',
          minWidth: '100'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },
      ],

      columns6: [
        {
          prop: 'id',
          label: 'ID',
          minWidth: '30'
        },

        {
          prop: 'transfer_from',
          label: 'Transfer from',
          minWidth: '120'
        },

        {
          prop: 'transfer_to',
          label: 'Transfer to',
          minWidth: '100'
        },

        {
          prop: 'datetime',
          label: 'Needed Date',
          minWidth: '100'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },
      ]
    }
  },

  computed: mapGetters({
    session: 'session'
  }),

    mounted () {
      this.$eventBus.$on('loadToRcv', () => {
          this.$refs.torcvtable.getTableData();
          this.$refs.porcvtable.getTableData();
          this.$refs.freetoshiptable.getTableData();
          this.orderSelected = [];
        });
    },

  created () {
    this.getCategories();
  },

  methods: {
    showTaskDetails(project_id, task_id){
        var files = [];

        this.$store.dispatch('getProjectProfile2', { id: project_id}).then(response => {
          // console.log('project profile', response)
          this.files = response.files;
        })

        this.files.map((d,i) => {
            if(d.id === task_id){
                files = d.files;
            }
          });

        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: taskDetails,
          // title: 'Task Details',
          modalWidth: '40%',
          content: {
            project_id: project_id,
            task_id: task_id,
            files : files
          }
        })
    },

    refreshData(){
        this.$refs.torcvtable.getTableData();
        this.$refs.porcvtable.getTableData();
        this.$refs.spcrcvtable.getTableData();
        this.$refs.pocrcvtable.getTableData();
        this.$refs.transfertorcvtable.getTableData();
        this.$refs.freetoshiptable.getTableData();
    },

    handleSearch(){
      this.$refs.torcvtable.getTableData();
    },

    handleUpdateTable(){
      if(this.orderMode == 'Requests'){
        this.$refs.torcvtable.getTableData();
      }
      else if(this.orderMode == 'PO'){
        this.$refs.porcvtable.getTableData();
      }
      else if(this.orderMode == 'POC'){
        this.$refs.pocrcvtable.getTableData();
      }
      else if(this.orderMode == 'SPC'){
        this.$refs.spcrcvtable.getTableData();
      }
      else if(this.orderMode == 'Transfers'){
        this.$refs.transfertorcvtable.getTableData();
      }
      else if(this.orderMode == 'Free Logistic Requests'){
        this.$refs.freetoshiptable.getTableData();
      }
    },

    openDynamicModal(task_id){
      this.form.data.map((d,i) => {
        // console.log(d.task_id);
        // console.log( task_id);
        // console.log(d.task_id == task_id);
        if(d.task_id == task_id){
            this.viewOrderDetails(d.id);
          }
      });
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getToRcvOrders',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          // console.log("materials : ", this.form.data);
          // console.log("materials : ", this.modalId);
          this.openDynamicModal(this.modalId);
          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getData2 ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getPurchaseOrders',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            status: 'status=to received',
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getData3 ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getSpcOrders',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getData4 ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getAllContainers2',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getData5 ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getToShipTransfers',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            status: 'status=' + 'to received',
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          // this.openDynamicModal(this.modalId);
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getData6 ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getToRcvFreeTransfers',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            status: 'status=' + 'to received',
            perPage: size,
        })
        .then(res => {
          const { data } = res

          //this.form.data = data.data;
          //this.openDynamicModal(this.modalId);
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getCategories(){
        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
            this.categories = response.data.data;
          })
    },

    changeCategory(value,order_id){
       return this.$store.dispatch('changeCategory', { id: order_id, type: 'order', cat : value }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          this.getCategories();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    checkOrder(order){
        var orderIndex = this.orderSelected.findIndex(v => v.id === order.id);
        if(orderIndex === -1){
           this.orderSelected.push(order);
        }else{
           this.orderSelected.splice(orderIndex, 1);
        }
    },

    handleSelectChange(val) {
      this.orderSelected = val;
    },

    handleRowClick(row) {
      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
    },

    handleCheckAllOrderChange(val){
      // alert(val);
      this.isIndeterminate = false;
      this.form.data.map((d,i) => {
        // console.log(d);
        if(d.id === val){
          // d.orders.map((m,j) => {
                d.orders.map((s,k) => {
                      this.form.selected[s.id] = this.checkAllOrders[val];

                      var orderIndex = this.orderSelected.findIndex(v => v.id === s.id);

                      if(orderIndex === -1){
                        this.orderSelected.push(s);
                      }else{
                        this.orderSelected.splice(orderIndex, 1);
                      }
                })
          // })
        }
      });
    },

    viewPayment2(con_id, payment_id, with_order){

            this.$store.dispatch('callModal', {
              child_component: newPayment2,
              title: 'Edit Payment',
              modalWidth: '80%',
              content: {
                con_id : con_id,
                payment_id : payment_id,
                with_order : with_order,
              }
            })

      },

    rcvOrder(id, type){
      if(type == 'solo'){
        id = [id];
      }
      else{
        var id = [];
        this.orderSelected.map((item,index) => {
            id.push(item.id);
        });
      }
      console.log(id);
        this.$store.dispatch('callModal', {
          child_component: rcvOrderDetails,
          title: 'Receive Order Details',
          modalWidth: '80%',
          content: {
            ids : id,
            step: 4
          }
        })
    },

    receiveFreeTransfer(data){
        this.$store.dispatch('callModal', {
          child_component: rcvFreeTransferDetails,
          title: 'Receive Details',
          modalWidth: '60%',
          content: {
            data : data,
            status: 'to received'
          }
        })
    },

    rcvPurchaseOrder(id, type){
        return this.$store.dispatch('rcvPurchaseOrder', { payload: id }).then(res => {
            if (res.code == 200) {
              this.$message({
                type: 'success',
                message: 'Successfully Received!'
              });
              this.refreshData();
              

              // this.isFetching = false;
            }else{

              // console.log('ERROR');

              this.$message({
                type: 'error',
                message: 'Error'
              });

            }
          }).catch(err => {

          })
    },

    rcvSPC(id, type){
        return this.$store.dispatch('rcvSpc', { payload: id }).then(res => {
            if (res.code == 200) {
              this.$message({
                type: 'success',
                message: 'Successfully Received!'
              });
              this.refreshData();
              

              // this.isFetching = false;
            }else{

              // console.log('ERROR');

              this.$message({
                type: 'error',
                message: 'Error'
              });

            }
          }).catch(err => {

          })
    },

    rcvPOC(id, type){
        return this.$store.dispatch('rcvPoc', { payload: id }).then(res => {
            if (res.code == 200) {
              this.$message({
                type: 'success',
                message: 'Successfully Received!'
              });
              this.refreshData();
              

              // this.isFetching = false;
            }else{

              // console.log('ERROR');

              this.$message({
                type: 'error',
                message: 'Error'
              });

            }
          }).catch(err => {

          })
    },

    receiveTransfer(data){
        return this.$store.dispatch('rcvTransfer', { payload: data.id }).then(res => {
            if (res.code == 200) {
              this.$message({
                type: 'success',
                message: 'Successfully Received!'
              });
              this.refreshData();
              

              // this.isFetching = false;
            }else{

              // console.log('ERROR');

              this.$message({
                type: 'error',
                message: 'Error'
              });

            }
          }).catch(err => {

          })
    },

    markAsRcv(){
      this.xform.data = this.orderSelected;
        return this.$store.dispatch('markAsRcv', { payload: this.xform }).then(res => {
            if (res.code == 200) {
             this.form.data = res.data;
              this.$message({
                type: 'success',
                message: this.$t('Common.successfully_updated')
              });
              this.refreshData();
              

              // this.isFetching = false;
            }else{

              // console.log('ERROR');

              this.$message({
                type: 'error',
                message: 'Error'
              });

            }
          }).catch(err => {

          })
    },

    viewOrderDetails(id, type){
        this.$store.dispatch('callModal', {
          child_component: orderDetails,
          title: 'Order Details',
          modalWidth: '80%',
          content: {
            id : id,
            step: 4,
            status: 'to received'
          }
        })
    },

    viewPurchaseOrderDetails(id, type){
        this.$store.dispatch('callModal', {
              child_component: viewPo,
              title: 'SPC Details',
              modalWidth: '80%',
              content: {
                id : id
              }
            })
    },

    viewSpcOrderDetails(data){
        this.$store.dispatch('callModal', {
              child_component: spcOrderDetails,
              title: 'SPC Details',
              modalWidth: '60%',
              content: {
                data : data
              }
            })
    },

    viewTransferDetails(data){
        this.$store.dispatch('callModal', {
              child_component: transferDetails,
              title: 'Transfer Details',
              modalWidth: '60%',
              content: {
                data : data
              }
            })
    },

    viewPocOrderDetails(data){
        this.$store.dispatch('callModal', {
              child_component: viewContainer,
              title: 'POC Details',
              modalWidth: '60%',
              content: {
                data : data
              }
            })
    },

  },
  components: { DataTable }
}
</script>


<style>

   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }

   .strike{
     text-decoration: line-through;
   }

   .badge{
      background-color: #ff7171;
      color: #ffffff;
      width: 20px;
      height:22px;
      min-width: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
   }

</style>
