<template>
  <div ref="materialList">

    <el-row>
        <el-col :span="6">
           <!-- <div  v-if="(step === 1)" class="alignRight" >-->
            <el-input placeholder="Search Project" prefix-icon="el-icon-search" v-model="search" clearable  size="small" @change="handleSearch" style="width:90%"></el-input>
          <!-- </div>  -->
        </el-col>
        <el-col :span="18"> 
            <el-radio-group v-model="orderMode" size="mini" @change="handleUpdateTable()">
              <el-radio-button label="Requests"></el-radio-button>
              <el-radio-button label="Transfers"></el-radio-button>
              <el-radio-button label="Free Logistic Requests"></el-radio-button>
            </el-radio-group>
        </el-col>
    </el-row>


    <el-form :model="form" :inline="true" label-width="80px">

      <div v-show="orderMode == 'Requests'">
        <data-table :get-data="getData"
              ref="toshiptable"
              :columns="columns"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div>

              <b slot="po" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="name" slot-scope="{row}">
                <el-tooltip class="item" effect="dark" content="Click to view task details" placement="top">
                   <el-button type="text" @click="showTaskDetails(row.project_id, row.task_id)" style="font-size: 12px;"><b>{{row.name}}</b>
                   </el-button>
                 </el-tooltip>
                  <!-- {{row.name}} -->
              </b>

              <b slot="needed_date" slot-scope="{row}">
                  {{row.needed_date | commonDate}}
              </b>

              <!-- <div slot="category" slot-scope="{row}">
                  <el-select
                    v-model="row.category_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Select or add new"
                    @change="changeCategory(row.category_id,row.id)" size="small">
                    <el-option
                      v-for="item in categories"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id">
                    </el-option>
                  </el-select>
              </div> -->

              <b slot="req_by" slot-scope="{row}" >
                 <!-- <el-input type="text" v-model="row.prepared_by" 
                  @change="changeUser(row.prepared_by,row.id)" 
                  size="small">
                  </el-input> -->
                  {{ row.requested_by }}
              </b>

              <b slot="req_date" slot-scope="{row}">
                  {{row.requested_at | commonDate}}
              </b>

              <b slot="note" slot-scope="{row}">
                  {{ row.remarks }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <el-button plain size="small" @click="viewOrderDetails(row.id)">view</el-button>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to shipp this?"
                    @onConfirm="shipOrder(row.id, 'solo')"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">ship</el-button>
                  </el-popconfirm>
              </b>

        </data-table>

        <el-button v-if="orderSelected.length > 0"  type="primary" size="mini" icon="el-icon-check" style="margin-left: 5px;font-size: 10px; margin-top: 5px; float: right" @click="shipOrder(0, 'multiple')">Ship Materials</el-button>

      </div>

      <div v-show="orderMode == 'Transfers'">
          <data-table :get-data="getData2"
              ref="transfertoshiptable"
              :columns="columns2"
              class="cell-border"
              row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick"
              >

              <!-- <div slot="cb" slot-scope="{row}">

               <el-row class="row-header">
                 <el-col :span="1">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="form.selected[row.id]" @change="checkOrder(row)"></el-checkbox>
                </el-col>
               </el-row>

              </div> -->

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="transfer_from" slot-scope="{row}">
                  {{row.transfer_from}}
              </b>

              <b slot="transfer_to" slot-scope="{row}" >
                  {{ row.transfer_to }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <!-- <el-button plain size="small" @click="viewTransferDetails(row.id)">view</el-button> -->
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to ship this?"
                    @onConfirm="shipTransfer(row)"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">ship</el-button>
                  </el-popconfirm>
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-danger"
                    icon-color="red"
                    title="Are you sure to delete this?"
                    @onConfirm="deleteTransfer(row)"
                  >
                    <el-button type="danger" plain size="small" slot="reference" style="cursor:pointer;">delete</el-button>
                  </el-popconfirm>
              </b>

        </data-table>
      </div>

      <div v-show="orderMode == 'Free Logistic Requests'">
          <el-button type="primary" style="float: right; margin-right: 8px;"  size="mini" icon="el-icon-plus" @click="handleAddEdit()">Add New Logistic Request</el-button>
          <data-table :get-data="getData3"
              ref="freetoshiptable"
              :columns="columns3"
              class="cell-border"
              row-key="id"
              >

              <b slot="id" slot-scope="{row}">
                  {{row.id}}
              </b>

              <b slot="transfer_from" slot-scope="{row}">
                  {{row.transfer_from}}
              </b>

              <b slot="transfer_to" slot-scope="{row}" >
                  {{ row.transfer_to }}
              </b>

              <b slot="datetime" slot-scope="{row}" >
                  {{ row.needed_date }}
              </b>

              <b slot="action" slot-scope="{row}">
                  <!-- <el-button plain size="small" @click="viewTransferDetails(row.id)">view</el-button> -->
                  <el-popconfirm
                    confirm-button-text='OK'
                    cancel-button-text='Cancel'
                    icon="el-icon-info"
                    icon-color="red"
                    title="Are you sure to ship this?"
                    @onConfirm="shipFreeTransfer(row)"
                  >
                    <el-button type="success" plain size="small" slot="reference" style="cursor:pointer;">ship</el-button>
                  </el-popconfirm>
              </b>

        </data-table>
      </div>



    </el-form>

  </div>
</template>


<script>
// components
import { mapGetters } from 'vuex'
import DataTable from '../../../components/datatable'
import itemToRcv from './item-to-rcv';
import orderDetails from './order-details';
import shipOrderDetails from './ship-order-details';
import shipTransferDetails from './ship-transfer-details';
import shipFreeTransferDetails from './ship-freetransfer-details';
import freeTransfer from './free-transfer';
import taskDetails from './../../projects/components/task-details';

export default {
  name: 'site-orders',
  components: {
       DataTable, itemToRcv, orderDetails, shipOrderDetails, freeTransfer, taskDetails
    },
  props:['modalId'],
  data () {
    return {
      loading: false,
      search: '',
      page: 1,
      perPage: 10,
      step: 1,
      orderMode: 'Requests',
      isIndeterminate: false,
      form:{
        selected: [],
      },
      checkAllOrders:[],
      orderSelected: [],
      categories: [],
      files: [],

      deleteform:{
        data: []
      },

      columns: [
        {
          //prop: 'cb',
          minWidth: '30',
          prop: 'selection',
              type: 'selection',
              width: '55',
              reserveSelection: true
        },

        {
          prop: 'po',
          label: 'PO#',
          minWidth: '30',
          sortable : true
        },

        {
          prop: 'name',
          label: 'Project Name',
          minWidth: '120',
          sortable : true
        },

        {
          prop: 'needed_date',
          label: 'Needed Date',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'req_date',
          label: 'Request Date',
          minWidth: '80',
          sortable : true
        },

        {
          prop: 'req_by',
          label: 'Requestor',
          minWidth: '100',
          sortable : true
        },

        {
          prop: 'remarks',
          label: 'Note',
          minWidth: '60',
          sortable : true
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },
      ],

      columns2: [
        // {
        //   //prop: 'cb',
        //   minWidth: '30',
        //   prop: 'selection',
        //       type: 'selection',
        //       width: '55',
        //       reserveSelection: true
        // },

        {
          prop: 'id',
          label: 'ID',
          minWidth: '30'
        },

        {
          prop: 'transfer_from',
          label: 'Transfer from',
          minWidth: '120'
        },

        {
          prop: 'transfer_to',
          label: 'Transfer to',
          minWidth: '100'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },
      ],

      columns3: [
        {
          prop: 'id',
          label: 'ID',
          minWidth: '30'
        },

        {
          prop: 'transfer_from',
          label: 'Transfer from',
          minWidth: '120'
        },

        {
          prop: 'transfer_to',
          label: 'Transfer to',
          minWidth: '100'
        },

        {
          prop: 'datetime',
          label: 'Needed Date',
          minWidth: '100'
        },

        {
          prop: 'action',
          label: 'Action',
          minWidth: '100'
        },
      ]
    }
  },

  computed: mapGetters({
    session: 'session'
  }),

  mounted () {
    this.$eventBus.$on('loadToShip', () => {
        this.$refs.toshiptable.getTableData();
        this.$refs.transfertoshiptable.getTableData();
        this.$refs.freetoshiptable.getTableData();
        this.orderSelected = [];
      });
  },

  created () {
    this.getCategories();
  },

  methods: {
    showTaskDetails(project_id, task_id){
        var files = [];

        this.$store.dispatch('getProjectProfile2', { id: project_id}).then(response => {
          // console.log('project profile', response)
          this.files = response.files;
        })

        this.files.map((d,i) => {
            if(d.id === task_id){
                files = d.files;
            }
          });

        this.viewMenu = false;
        this.$store.dispatch('callModal', {
          child_component: taskDetails,
          // title: 'Task Details',
          modalWidth: '40%',
          content: {
            project_id: project_id,
            task_id: task_id,
            files : files
          }
        })
    },

    refreshData(){
        this.$refs.toshiptable.getTableData();
    },

    handleSearch(){
      this.$refs.toshiptable.getTableData();
    },

    handleUpdateTable(){
      if(this.orderMode == 'Requests'){
        this.$refs.toshiptable.getTableData();
      }
      if(this.orderMode == 'Transfers'){
        this.$refs.transfertoshiptable.getTableData();
      }
      if(this.orderMode == 'Free Logistic Requests'){
        this.$refs.freetoshiptable.getTableData();
      }
    },

    openDynamicModal(task_id){
      this.form.data.map((d,i) => {
        // console.log(d.task_id);
        // console.log( task_id);
        // console.log(d.task_id == task_id);
        if(d.task_id == task_id){
            this.viewOrderDetails(d.id);
          }
      });
    },

    getData ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getToShipOrders',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          this.openDynamicModal(this.modalId);
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getData2 ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getToShipTransfers',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            status: 'status=' + 'to ship',
            perPage: size,
        })
        .then(res => {
          const { data } = res

          this.form.data = data.data;
          //this.openDynamicModal(this.modalId);
          // console.log("materials : ", data);

          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    getData3 ({ page, query, sortParams, size}) {
        let vm = this;

        if(sortParams.length == 0){
          sortParams = 'id-desc'
        }

        return this.$store.dispatch('getToShipFreeTransfers',{
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            status: 'status=' + 'to ship',
            perPage: size,
        })
        .then(res => {
          const { data } = res
          return {
            data: data.data,
            total: data.total,
            size: size
          }
        })
    },

    handleAddEdit () {
      this.$store.dispatch('callModal', { child_component: freeTransfer, title: 'Add New Logistic Request',modalWidth: '50%' }) // call global modal state
    },

    getCategories(){
        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
            this.categories = response.data.data;
          })
    },

    changeCategory(value,order_id){
       return this.$store.dispatch('changeCategory', { id: order_id, type: 'order', cat : value }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          this.getCategories();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    changeUser(value,order_id){
       return this.$store.dispatch('changeUser', { id: order_id, type: 'prepared_by', value : value }).then(res => {
        if (res.code == 200) {
          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_updated')
          });

          //this.getCategories();
        }else{

          console.log('ERROR');

          this.$message({
            type: 'error',
            message: 'ERROR'
          });

        }
      }).catch(err => {

      })
    },

    checkOrder(order){
        var orderIndex = this.orderSelected.findIndex(v => v.id === order.id);
        if(orderIndex === -1){
           this.orderSelected.push(order);
        }else{
           this.orderSelected.splice(orderIndex, 1);
        }
    },

    handleSelectChange(val) {
      this.orderSelected = val;
    },

    handleRowClick(row) {
      this.$refs.table.$refs.siteorderstable.toggleRowSelection(row);
    },

    handleCheckAllOrderChange(val){
      // alert(val);
      this.isIndeterminate = false;
      this.form.data.map((d,i) => {
        // console.log(d);
        if(d.id === val){
          // d.orders.map((m,j) => {
                d.orders.map((s,k) => {
                      this.form.selected[s.id] = this.checkAllOrders[val];

                      var orderIndex = this.orderSelected.findIndex(v => v.id === s.id);

                      if(orderIndex === -1){
                        this.orderSelected.push(s);
                      }else{
                        this.orderSelected.splice(orderIndex, 1);
                      }
                })
          // })
        }
      });


    },

    shipOrder(id, type){
      if(type == 'solo'){
        id = [id];
      }
      else{
        var id = [];
        this.orderSelected.map((item,index) => {
            id.push(item.id);
        });
      }
      console.log(id);
        this.$store.dispatch('callModal', {
          child_component: shipOrderDetails,
          title: 'Ship Order Details',
          modalWidth: '60%',
          content: {
            ids : id,
            step: 3
          }
        })
    },

    shipMaterials(){
        this.$store.dispatch('callModal', {
          child_component: itemToRcv,
          modalWidth: '50%',
          content: {
            data : this.orderSelected
          }
        })
    },

    viewOrderDetails(id, type){
        this.$store.dispatch('callModal', {
          child_component: orderDetails,
          title: 'Order Details',
          modalWidth: '80%',
          content: {
            id : id,
            step: 3,
            status: 'to ship'
          }
        })
    },

    shipTransfer(data){
        this.$store.dispatch('callModal', {
          child_component: shipTransferDetails,
          title: 'Ship Order Details',
          modalWidth: '60%',
          content: {
            data : data,
            status: 'to ship'
          }
        })
    },  

    deleteTransfer(data){  
          this.deleteform.data = data;       
          return this.$store.dispatch('transferDelete', { payload: this.deleteform }).then(res => {
                if (res.code == 200) {
                 this.form.data = res.data;
                  this.$message({
                    type: 'success',
                    message: "Successfully Deleted!"
                  });
                  this.$eventBus.$emit('loadToShip')
                  this.$parent.$emit('close')

                  // this.isFetching = false;
                }else{

                  // console.log('ERROR');

                  this.$message({
                    type: 'error',
                    message: 'Please input required details!'
                  });

                }
              }).catch(err => {

              })
          
    },   

    shipFreeTransfer(data){
        this.$store.dispatch('callModal', {
          child_component: shipFreeTransferDetails,
          title: 'Ship Details',
          modalWidth: '60%',
          content: {
            data : data,
            status: 'to ship'
          }
        })
    },

  },
  components: { DataTable }
}
</script>


<style>

   .el-row {
     padding:5px;
   }

   .el-row .no-border{
     border-bottom: 0px;
   }

   .section-header {
       background-color: #ccc;
       padding: 3px;
   }

   .row-header {
      font-weight: bold;
      padding: 10px;
      border: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .row-content {
      padding: 5px;
      border-bottom: 1px solid #EBEEF5;
      text-align: center;
      align-items: baseline;
   }

   .el-table th, .el-table td {
      padding: 3px 0;
      font-size: 12px;
      overflow: hidden;
   }

   .strike{
     text-decoration: line-through;
   }

   .badge{
      background-color: #ff7171;
      color: #ffffff;
      width: 20px;
      height:22px;
      min-width: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
   }

</style>
