<template>

	<el-card class="box-card" shadow="never">
  		<div slot="header" class="clearfix">
    		<h3>Transfer from : <strong style="color: #67C23A">{{ data.transfer_from }} </strong> 
    		</h3>
    		<h3>Transfer to : <strong style="color: #67C23A">{{ data.transfer_to }} </strong>
    		</h3>

  		</div>

  		<div class="text item">

    		<!-- <template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template> -->
  			<!-- {{materials}} -->
  			<template>
  				<template>
  					<el-row :gutter="20">
					  <el-col :span="24">
					  	<div class="grid-content bg-purple">

					  	<!-- <el-table ref="table" width="100%" :data="data" row-class-name="movable">
					  		<el-table-column label="Materials List" label-class-name="tbl-header">
							   	<template slot-scope="scope">
							      	<b style="color: #67C23A">{{ scope.row.material_name }}</b> <br> -->
							      	
							      	<el-table ref="table" width="100%" :data="data.details"  row-class-name="movable">

											<el-table-column label="Material Name" width="400" align="left">
											   	<template slot-scope="scope">
											      	{{ scope.row.material_name }}
											    </template>
											</el-table-column>

											<el-table-column label="Qty">
												<template slot-scope="scope">
													{{ scope.row.qty }}
												</template>
											</el-table-column>

									</el-table>
							    <!-- </template>
					  		</el-table-column>
					  		
						</el-table> -->
					  		
					  	</div>
					  </el-col>
					</el-row>

  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>

	export default {

		name: 'transfer-details',

		data () {
	    	return {

	      		isFetching: true,

	      		data: [],
	      		project: [],
	      		order: [],
	      		task: [],
	      		materials: [],
	      		addmaterials: [],
			    order_id: '',
			    step: '',
			    status: ''

	    	}
	  	},

	  	computed: {

		  },

	  	methods: {
	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetail',{
	          		order_id: this.order_id
	        	})
	        	.then(res => {
	        		this.project = [];
	        		this.order = [];
	        		this.task = [];

                let { code, project, order, task, materials, addmaterials } = res;
	            	if( code == 200 ) {
	            		// console.log(data);
                    	this.project = project;
                    	this.order = order;
                    	this.task = task;
                    	this.materials = materials;
                    	this.addmaterials = addmaterials;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	checkStep(step){
	      		if(step == this.step){
	      			return 'success';
	      		}
	      		return 'info';
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},
  		},



		created () {
			let { data } = this.$parent.$parent.content;
      		// console.log(data);
      		this.data = data;
  		}


	}

</script>

<style >

.el-alert__title{
	font-size: 14px !important;
}


</style>
