<template>

	<el-card class="box-card" shadow="never" style="overflow-x: hidden;">

  		<div class="text item" style="overflow-x: hidden;">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>
  					<el-form ref="po_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
  					<el-card class="box-card" shadow="never">
				  		<div slot="header" class="clearfix">
				  			<el-row :gutter="20" class="form-container">
				              	<el-col :span="15"> Transfer to :
				              		<el-select v-model="form.location_id" filterable placeholder="Select Location" style="width: 270px;" size="mini" >
						              <el-option key="0" value="Warehouse" v-if="location2 != 'Warehouse'"><i>Warehouse</i></el-option>
						              <el-option
						              	v-if="s.id != location2"
						                v-for="s in projects"
						                :key="s.id"
						                :label="s.name"
						                :value="s.id">
						              </el-option>
						            </el-select>
						            <!-- {{ selectedmaterials }} -->
						    	</el-col>
						    </el-row>
				  		</div>



				  		<div class="text item">
				  			<el-row :gutter="20" class="form-container">
				              <el-col :span="24">

				              	<el-divider></el-divider>

					    		<!-- <el-table :data="datas = selectedmaterials" border  style="width:100%;">	
					    			<el-table-column label="" >
										<template slot-scope="scope2"> -->

								<el-table :data="datas = selectedmaterials" border style="width:100%;overflow-y: hidden; height: auto;">
									
									<el-table-column fixed="left" label="Selected Materials to transfer " width="300">
										<template slot-scope="scope2" width="350">
											{{selectedmaterials[scope2.$index].name}}
										</template>
									</el-table-column>
									<el-table-column label="Category" width="220">
										<template slot-scope="scope2">
											{{selectedmaterials[scope2.$index].type}}
										</template>
									</el-table-column>
									<el-table-column label="QTY" width="190">
										<template slot-scope="scope2">
											{{selectedmaterials[scope2.$index].qty}}
											<!-- {{form.qtyArray[scope2.$index]}} -->
										</template>
									</el-table-column>
									<el-table-column label="Please indicate qty to transfer" width="200">
										<template slot-scope="scope2">
											<el-input v-model="form.qtyArray[scope2.$index]" type="number">
											</el-input>
										</template>
									</el-table-column>

									<!-- <el-table-column label="Unit Price" width="120">
										<template slot-scope="scope2">
											
											<el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].unit_price"  type="number"></el-input>
										</template>
									</el-table-column> -->

									<!-- <el-table-column label="Subtotal" width="120">
										<template slot-scope="scope2">
											   <b>{{ 
											   	(selectedmaterials[scope2.$index].items[scope.$index].qty) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].unit_price)
											    }}</b>
										</template>
									</el-table-column>

									<el-table-column label="Notes" width="150">
										<template slot-scope="scope2">
											
											<el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].notes"  type="text"></el-input>
										</template>
									</el-table-column>

									<el-table-column label="Total Kg" width="120">
										<template slot-scope="scope2">
											<b v-if="selectedmaterials[scope2.$index].items[scope.$index].unit == 'kg'">{{ 
											   	(selectedmaterials[scope2.$index].items[scope.$index].qty) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].weight)
											    }}</b>
											<b v-else>0</b>
										</template>
									</el-table-column>

									<el-table-column label="Total Cbm" width="120">
										<template slot-scope="scope">
											<b v-if="selectedmaterials[scope2.$index].items[scope.$index].unit == 'cbm'">{{ 
											   	(selectedmaterials[scope2.$index].items[scope.$index].qty) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].weight)
											    }}</b>
											<b v-else>0</b>
										</template>
									</el-table-column>

									<el-table-column label="Action" width="220">
										<template slot-scope="scope">
											<el-button size="mini" type="danger" @click="handleDelete(scope2.$index, scope.$index)">delete</el-button>
										</template>
									</el-table-column> -->
								</el-table>
							<!-- </template>
						</el-table-column>
					</el-table> -->

						      </el-col>
						    </el-row>

						    <!-- {{form.qtyArray}}
						    {{selectedmaterials}} -->

							<div style="margin-top: 50px; float:right;">
				                <!-- <el-button class="add-button" type="primary" :loading="loading" @click="onAddPurchaseOrder('po_form','draft')">Save as Drafts</el-button> -->
				                <el-button class="add-button" type="primary" :loading="loading" @click="validateForm()">Transfer</el-button>
				            </div>

				  		</div>

				  	</el-card>
			        </el-form>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>
	import { mapGetters } from 'vuex'
	export default {

		name: 'purchase-order',

		data () {
	    	return {
	    		loading: false,
	    		inputVisible: false,
        		inputValue: '',
	      		isFetching: true,
	      		location: '',
	      		location2: '',
	      		projects: [],
	      		suppliers: [],
	      		materials: [],
	      		categories: [],
	      		selectedmaterials : [],

			    supplier: {
			    	id: null,
			    	contact_person: null,
			    	contact_number: null,
			    	bank: null,
			    	bank_account_name: null,
			    	bank_account_number: null,
			    	carrier: [],
			    	notes: null
			    },
			    
			    form: {
	      			purchase_order_id: null,
	      			prepared_by: null,
	      			needed_date: null,
	      			status: null,
	      			supplier: [],
	      			supplier_id: null,
	      			transfer_from : null,
	      			location_id: null,
	      			qtyArray : [],
	      			selectedmaterials: []
	      		},

	      		types: [{
			          label: 'Electrical',
			          value: 'electrical'
			        }, {
			          label: 'Masonry',
			          value: 'masonry'
			        }, {
			          label: 'Painting',
			          value: 'painting'
			        }, {
			          label: 'Walling',
			          value: 'walling'
			        }
			      ],
		      	type : '',

		      	add: {
			        materials: [],
			      },

			    pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    }
				},

	    	}
	  	},

		computed: mapGetters({
		    header: 'header',
		    session: 'session',
		}),

	  	methods: {
	  		proceedTransferMaterials () {
		          this.loading = true;
		          this.form.transfer_from = this.location2;
		          this.$store.dispatch('transferToShip',  { payload: this.form })
		            .then(res => {
		              // console.log(res);
		              //var responseStatus = res.status.toLowerCase()
		              if (res.status === 'Failed') {
		                this.errors = res.errors
		                //this.$refs[Form].validate((response2) => { })

		                this.loading = false
		              } else {
		                this.$message({
		                  showClose: true,
		                  message: 'Successfully Transferred!',
		                  type: 'success',
		                  center: true
		                })

		                this.$eventBus.$emit('materialList')
		                this.$parent.$emit('close');

		              }
		            })
		        // }
		    },

		    validateForm(Form, status){
		    	if(this.form.location_id == '' || this.form.location_id == null)
		    	{
		    		this.$message({
		                  showClose: true,
		                  message: 'Please select where to transfer!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.checkItems() == false){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input correct quantity!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else{
		    		this.proceedTransferMaterials();
		    	}
		    },

		    checkItems(){
		    	var ret = true;
		    	for(var i = 0; i < this.form.qtyArray.length; i++){
		    		console.log(this.form.qtyArray[i]);
		    		console.log(this.selectedmaterials[i].qty);
		    		console.log(this.form.qtyArray[i] < 1);
		    		console.log(this.form.qtyArray[i] > this.selectedmaterials[i].qty);
		    		if(this.form.qtyArray[i] < 1 || this.form.qtyArray[i] > parseFloat(this.selectedmaterials[i].qty)){
		    			ret = false;
		    		}
				}
				return ret;
		    },

	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetailMultiple',{
	          		payload: this.form
	        	})
	        	.then(res => {
	        		this.project = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    	this.project = data;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	getSuppliers(){
				this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
		        	this.suppliers = response.data
		        	this.projects = response.projects
		        	this.materials = response.materials
		      	})
	      	},

	      	getCategories(){
		        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
		              this.categories = response.data.data;
		            })
		     },

	      	handleChangeSupplier(){
	      		var id = this.supplier.id;
	      		var selected = (this.suppliers).filter(function(x) { return x.id == id });
	      		//alert(selected[0].bank);
	      		this.supplier.bank = selected[0].bank;
	      		this.supplier.contact_person = selected[0].contact_person;
	      		this.supplier.contact_number = selected[0].contact_number;
	      		this.supplier.bank_account_name = selected[0].bank_account_name;
	      		this.supplier.bank_account_number = selected[0].bank_account_number;
	      		this.supplier.bank_account_number = selected[0].bank_account_number;
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	handleClose(tag) {
		        this.supplier.carrier.splice(this.supplier.carrier.indexOf(tag), 1);
		      },

		    showInput() {
		        this.inputVisible = true;
		        this.$nextTick(_ => {
		          this.$refs.saveTagInput.$refs.input.focus();
		        });
		      },

		    handleInputConfirm() {
		        let inputValue = this.inputValue;
		        if (inputValue) {
		          this.supplier.carrier.push(inputValue);
		        }
		        this.inputVisible = false;
		        this.inputValue = '';
		    },

		    AddListRow(index) {
		    	var id = this.selectedmaterials[index].material_id;
		    	var mat = (this.materials).filter(function(x) { return x.id == id });
				this.selectedmaterials[index].items.push({
					"project_id":"",
					"category_id":"",					
					"qty":0,					
					"unit":mat[0].unit,					
					"unit_price":mat[0].retail_price,					
					"subtotal":"",
					"notes":"",
					"totalkg":'',
					"totalcbm":'',
					"weight": mat[0].weight,
				});
			},

			handleDelete(index2, index) {
				this.selectedmaterials[index2].items.splice(index, 1);
			},

			getPurchaseOrderDetails () {
				this.$store.dispatch('getPurchaseOrderDetails', { id: this.form.purchase_order_id } )
		          .then(response => {
		          	var res = response.data.po;
		          	this.form.needed_date = res.needed_date;
		          	this.supplier.id = res.supplier_id;
		          	var str = res.carrier;
					this.supplier.carrier = ( str!='' ? str.split(",") : []);
					this.supplier.contact_person = res.contact_person;
					this.supplier.contact_number = res.contact_number;
					this.supplier.bank = res.bank;
					this.supplier.bank_account_name = res.bank_account_name;
					this.supplier.bank_account_number = res.bank_account_number;
					this.supplier.notes = res.notes;

					this.add.materials = response.data.addmat;
					this.selectedmaterials = response.data.mat;
					this.displayTable2();

		          })
		      },

			displayTable2(){
			   if(this.add.materials.length > this.selectedmaterials.length){		   	
				   var id = this.add.materials[this.add.materials.length - 1];
				   var mat = (this.materials).filter(function(x) { return x.id == id });
		      	   this.selectedmaterials.push({
						'material_id': id,
						'material_name': mat[0].name + '('+ mat[0].name_cn+')',
						'items': []
					});
			   }
			   else{
			   	console.log(this.add.materials);
				   	for(var i = 0; i < this.selectedmaterials.length; i++){
					 if( !(this.add.materials).includes( this.selectedmaterials[i].material_id )){
					  	this.selectedmaterials.splice(i, 1)
					 }
					}
			   	   // this.selectedmaterials[index2].items.splice(index, 1);
			   }
		    },

		    totalprice(){
		    	var totalsrp = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	totalsrp += (value2.qty * value2.unit_price);
				    });
				});
				return totalsrp;
		    },

		    totalkg(){
		    	var totalkg = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	if(value2.unit == 'kg'){
				    		totalkg += (value2.qty * value2.weight);
				    	}
				    });
				});
				return totalkg;
		    },

		    totalcbm(){
		    	var totalcbm = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	if(value2.unit == 'cbm'){
				    		totalcbm += (value2.qty * value2.weight);
				    	}
				    });
				});
				return totalcbm;
		    }
  		},



		created () {
			const vm = this;
			let { data, qtyArray, idArray, location } = vm.$parent.$parent.content;
			console.log(data);
      		this.selectedmaterials = [];
      		this.form.selectedmaterials = [];
      		this.form.qtyArray = [];
      		this.selectedmaterials = data;
      		this.form.selectedmaterials = idArray;
      		this.form.qtyArray = qtyArray;
			
			this.location2 = location;

			vm.getSuppliers();

		    this.$store.dispatch('getAllMaterials', { payload: this.form } ).then(response => {
		        this.materials = response.data.materials;
		        // this.xform.materials = response.data.preset.material_ids;
		        // this.oldmaterials = response.data.preset.materials;
		        // this.request.materials = response.data.appOrders;
		      })
      		this.isFetching = false;
  		}


	}

</script>

<style>
.el-tag + .el-tag {
margin-left: 10px;
}
.button-new-tag {
margin-left: 10px;
height: 32px;
line-height: 30px;
padding-top: 0;
padding-bottom: 0;
}
.input-new-tag {
width: 90px;
margin-left: 10px;
vertical-align: bottom;
}
.el-alert__title{
	font-size: 14px !important;
}

.tbl-header{
	font-size: 14px !important;

}
.el-upload{
	width: 300px !important;
	margin-left: 40px;
}
.el-upload-list{
	margin-left: 40px;
}

.el-table thead{
	color: #000 !important;
}
.el-table__row{
	margin-bottom : 16px;
}

</style>
