<template>

	<el-card class="box-card" shadow="never" style="overflow-x: hidden;">

  		<div class="text item" style="overflow-x: hidden;">

    		<template v-if="isFetching">
  				<el-divider>{{ $t('Reports.loading') }}</el-divider>
  			</template>

  			<template v-else>
  				<template>
  					<el-form ref="po_form" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">
  					<el-card class="box-card" shadow="never">
				  		<div slot="header" class="clearfix">
				  			<el-row :gutter="20" class="form-container">
				              	<el-col :span="15">

						    		<h5>Prepared by : 
						    			<strong style="color: #67C23A">{{ form.prepared_by }}</strong> 
						    		</h5>

						    		<!-- <h5>Needed Date : 
						    			<strong style="color: #67C23A; border: 0;">
						    				{{form.needed_date}}
					                    </strong>
						    		</h5> -->

						    	</el-col>
						    	<el-col :span="9">

						    		<h5>Total Price : 
						    			<strong style="color: #67C23A">P{{ totalprice() | currency}}</strong> 
						    		</h5>

						    		<h5>Total Kg : 
						    			<strong style="color: #67C23A;">{{ totalkg() }} kg</strong>
						    		</h5>

						    		<h5>Total CBM : 
						    			<strong style="color: #67C23A;">{{ totalcbm() }} cbm</strong>
						    		</h5>

						    	</el-col>
						    </el-row>
				  		</div>
				  		

				  		<div class="text item">
				  			<el-row :gutter="0" class="form-container">
				              <el-col :span="24">

				              	<!-- <el-divider></el-divider> -->

				              	<!-- <h5>Select Type : 
					                  <el-select v-model="type" filterable placeholder="Select Type" style="width: 150px;" size="mini">
				                        <el-option
				                          v-for="s in types"
				                          :key="s.value"
				                          :label="s.value"
				                          :value="s.value">
				                        </el-option>
				                      </el-select>
					    		</h5>

					    		<h5>Select Material/s : 
					                  <el-select v-model="add.materials" filterable multiple placeholder="Select Materials" style="width: 600px;" size="mini" @change="displayTable2()">
					                        <el-option v-if="s.type == type || (add.materials).includes(s.id)"
					                          v-for="s in materials"
					                          :key="s.id"
					                          :label="s.name"
					                          :value="s.id">
					                        </el-option>
					                      </el-select>
					                    </el-form-item>
					    		</h5> -->

					    		<el-table :data="datas = selectedmaterials" border  style="width:100%;">	
					    			<el-table-column label="" >
										<template slot-scope="scope2">
											<h3 style="margin-top: 40px">Material Name : {{ scope2.row.material_name }}</h3>

					    		<!-- <el-button size="mini" type="success" @click="AddListRow(scope2.$index)" round>+ Add new row</el-button> -->

								<el-table :data="datas = scope2.row.items" border style="height: auto;width:100%;overflow-y: hidden;">
									<el-table-column fixed="left" label="Project" width="300">
										<template slot-scope="scope">
											{{ selectedmaterials[scope2.$index].items[scope.$index].project_name }}
											<!-- <el-select v-model="selectedmaterials[scope2.$index].items[scope.$index].project_id" filterable placeholder="Select Type" style="width: 270px;" size="mini" :disabled="true">
												<el-option key="0" value="Warehouse"><i>Warehouse</i></el-option>
						                        <el-option
						                          v-for="s in projects"
						                          :key="s.id"
						                          :label="s.name"
						                          :value="s.id">
						                        </el-option>
						                      </el-select> 
											}-->
										</template>
									</el-table-column>
									<!-- <el-table-column label="Category" width="180">
										<template slot-scope="scope">
											<el-select :disabled="true"
						                    v-model="selectedmaterials[scope2.$index].items[scope.$index].category_id"
						                    filterable
						                    allow-create
						                    default-first-option
						                    placeholder="Select or add new"
						                    size="small">
						                    <el-option
						                      v-for="item in categories"
						                      :key="item.id"
						                      :label="item.label"
						                      :value="item.id">
						                    </el-option>
						                  </el-select>
										
										</template>
									</el-table-column> -->
									<el-table-column label="QTY" width="120">
										<template slot-scope="scope">
											<b>{{ selectedmaterials[scope2.$index].items[scope.$index].qty }}</b>
											<!-- <el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].qty" type="number">
											</el-input> -->
										</template>
									</el-table-column>
									<el-table-column label="Unit" width="80">
										<template slot-scope="scope">
											<b>{{selectedmaterials[scope2.$index].items[scope.$index].unit}}</b>
											<!-- <el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].unit"  type="text"></el-input> -->
										</template>
									</el-table-column>

									<el-table-column label="Unit Price" width="120">
										<template slot-scope="scope">
											<b>{{selectedmaterials[scope2.$index].items[scope.$index].unit_price}}</b>
											<!-- <el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].unit_price"  type="number"></el-input> -->
										</template>
									</el-table-column>

									<el-table-column label="Subtotal" width="120">
										<template slot-scope="scope">
											   <b>{{ 
											   	(selectedmaterials[scope2.$index].items[scope.$index].qty) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].unit_price)
											    }}</b>
											<!-- <el-input v-model="scope.row.subtotal"  type="number"></el-input> -->
										</template>
									</el-table-column>

									<el-table-column label="Notes" width="150">
										<template slot-scope="scope">
											<b>{{selectedmaterials[scope2.$index].items[scope.$index].notes}}</b>
											<!-- <el-input v-model="selectedmaterials[scope2.$index].items[scope.$index].notes"  type="text"></el-input> -->
										</template>
									</el-table-column>

									<el-table-column label="Total Kg" width="120">
										<template slot-scope="scope">
											<b >{{ 
											   	(selectedmaterials[scope2.$index].items[scope.$index].qty) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].weight)
											    }}</b>
											<!-- <b v-else>0</b> -->
										</template>
									</el-table-column>

									<el-table-column label="Total Cbm" width="120">
										<template slot-scope="scope">
											<b >{{ 
											   	(selectedmaterials[scope2.$index].items[scope.$index].length) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].width) *
											   	(selectedmaterials[scope2.$index].items[scope.$index].height)
											    }}</b>
											<!-- <b v-else>0</b> -->
										</template>
									</el-table-column>

									<!-- <el-table-column label="Action" width="220">
										<template slot-scope="scope">
											<el-button size="mini" type="danger" @click="handleDelete(scope2.$index, scope.$index)">delete</el-button>
										</template>
									</el-table-column> -->
								</el-table>
							</template>
						</el-table-column>
					</el-table>

						      </el-col>
						    </el-row>

							<div style="margin-bottom: 50px; float: right; margin-top: 20px;">
				                <el-button v-if="form.paytype == 'spc'" class="add-button" type="primary" :loading="loading" @click="toPayment('SPC')">To SPC</el-button>
				                <el-button v-if="form.paytype == 'po'" class="add-button" type="primary" :loading="loading" @click="toPayment('POC')">To PO China</el-button>
				            </div>

				  		</div>

				  	</el-card>
			        </el-form>
  				</template>
  			</template>

  		</div>
	</el-card>

</template>

<script>
	import { mapGetters } from 'vuex'
	export default {

		name: 'purchase-order',

		data () {
	    	return {
	    		loading: false,
	    		inputVisible: false,
        		inputValue: '',
	      		isFetching: true,
	      		projects: [],
	      		suppliers: [],
	      		materials: [],
	      		categories: [],
	      		selectedmaterials : [],

			    supplier: {
			    	id: null,
			    	contact_person: null,
			    	contact_number: null,
			    	bank: null,
			    	bank_account_name: null,
			    	bank_account_number: null,
			    	carrier: [],
			    	notes: null
			    },
			    
			    form: {
			    	data : [],
	      			purchase_order_id: null,
	      			prepared_by: null,
	      			needed_date: null,
	      			status: null,
	      			supplier: [],
	      			supplier_id: null,
	      			paytype: null,
	      			selectedmaterials: [],
	      			type: null
	      		},

	      		types: [{
			          label: 'Electrical',
			          value: 'electrical'
			        }, {
			          label: 'Masonry',
			          value: 'masonry'
			        }, {
			          label: 'Painting',
			          value: 'painting'
			        }, {
			          label: 'Walling',
			          value: 'walling'
			        }
			      ],
		      	type : '',

		      	add: {
			        materials: [],
			      },

	    	}
	  	},

		computed: mapGetters({
		    header: 'header',
		    session: 'session',
		}),

	  	methods: {
	  		onAddPurchaseOrder (Form, status) {
		      this.form.status = status;
		      this.form.supplier = this.supplier;
		      this.form.supplier_id = this.supplier['id'];
		      this.form.selectedmaterials = this.selectedmaterials;
		        // if (this.validateForm()) {
		          this.loading = true;
		          this.$store.dispatch('addeditPurchaseOrder',  { method: 'add', payload: this.form })
		            .then(res => {
		              console.log(res);
		              //var responseStatus = res.status.toLowerCase()
		              if (res.status === 'Failed') {
		                this.errors = res.errors
		                //this.$refs[Form].validate((response2) => { })

		                this.loading = false
		              } else {
		                this.$message({
		                  showClose: true,
		                  message: this.$t('Common.successfully_added'),
		                  type: 'success',
		                  center: true
		                })

		                this.$eventBus.$emit('loadPO')
		                this.$parent.$emit('close');

		                // setTimeout(() => {
		                //   console.log(this.redirect);

		                //   if( this.redirect != undefined && this.redirect == 'redirect' ) {

		                //       if( window.opener ) {
		                //           window.opener.close();
		                //         }

		                //         let redirect = 'redirect';
		                //         let id = this.form.project_id;
		                //         let nickname = res.project_nickname;
		                //         this.$router.push({
		                //             name: 'projects-profile',
		                //             params: { id, nickname, redirect }
		                //           });
		                //       }

		                //   this.loading = false
		                // }, 1000)
		              }
		            })
		        // }
		    },

		    validateForm(Form, status){
		    	if(this.form.needed_date == '' || this.form.needed_date == null)
		    	{
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input needed date!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(
		    		(this.supplier.contact_person == null || this.supplier.contact_person == '')
		    		||
		    		(this.supplier.contact_number == null || this.supplier.contact_number == '')
		    		||
		    		(this.supplier.bank == null || this.supplier.bank == '')
		    		||
		    		(this.supplier.bank_account_name == null || this.supplier.bank_account_name == '')
		    		||
		    		(this.supplier.bank_account_number == null || this.supplier.bank_account_number == '')
		    		||
		    		(this.supplier.carrier.length < 1)

		    	){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please input supplier details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.selectedmaterials.length < 1){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please select materials',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else if(this.checkItems() == false){
		    		this.$message({
		                  showClose: true,
		                  message: 'Please complete order details!',
		                  type: 'error',
		                  center: true
		                })
		    	}

		    	else{
		    		this.onAddPurchaseOrder(Form, status);
		    	}
		    },

		    checkItems(){
		    	var ret = true;
		    	for(var i = 0; i < this.selectedmaterials.length; i++){
		    		if(this.selectedmaterials[i].items.length == 0){
		    			ret = false;
		    		}
		    		else{	
					    for(var j = 0; j < this.selectedmaterials[i].items.length; j++){
					    	console.log(this.selectedmaterials[i].items[j]);
					    	if(
					    		(this.selectedmaterials[i].items[j].project_id == null || this.selectedmaterials[i].items[j].project_id == '')
					    		||
					    		(this.selectedmaterials[i].items[j].qty == null || this.selectedmaterials[i].items[j].qty == 0 || this.selectedmaterials[i].items[j].qty == '')
					    	){
					    		ret = false;
					    	}
					    }
		    		}
				}
				return ret;
		    },

		    toPayment(type){
		    	this.form.type = type;
		    	this.loading = true;

		      return this.$store.dispatch('toPayment', { payload: this.form }).then(res => {
		        if (res.code == 200) {
		         this.form.data = res.data;
		          this.$message({
		            type: 'success',
		            message: this.$t('Common.successfully_updated')
		          });
		          this.$eventBus.$emit('loadSiteOrders')
		          this.$parent.$emit('close')

      			  this.loading = false;
		        }else{

		          // console.log('ERROR');

		          this.$message({
		            type: 'error',
		            message: 'Error'
		          });

		        }
		      }).catch(err => {

		      })
		    },

	      	getOrderDetail() {
	        	return this.$store.dispatch('getOrderDetailMultiple',{
	          		payload: this.form
	        	})
	        	.then(res => {
	        		this.project = [];

                let { code, data } = res;
	            	if( code == 200 ) {
                    	this.project = data;
	            	}

	            	this.isFetching = false;
	        	});
	      	},

	      	getSuppliers(){
				this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
		        	this.suppliers = response.data
		        	this.projects = response.projects
		        	this.materials = response.materials
		      	})
	      	},

	      	getCategories(){
		        this.$store.dispatch('getAllCategories', { payload: this.form } ).then(response => {
		              this.categories = response.data.data;
		            })
		     },

	      	handleChangeSupplier(){
	      		var id = this.supplier.id;
	      		var selected = (this.suppliers).filter(function(x) { return x.id == id });
	      		//alert(selected[0].bank);
	      		this.supplier.bank = selected[0].bank;
	      		this.supplier.contact_person = selected[0].contact_person;
	      		this.supplier.contact_number = selected[0].contact_number;
	      		this.supplier.bank_account_name = selected[0].bank_account_name;
	      		this.supplier.bank_account_number = selected[0].bank_account_number;
	      		this.supplier.bank_account_number = selected[0].bank_account_number;
	      	},

	      	formatDateTime(dateTime) {
	      		let date = moment(dateTime).format("MMMM DD, YYYY");
	      		let time = moment(dateTime).format("hh:mm A");

	      		return `${date} [${time}]`;
	      	},

	      	handleClose(tag) {
		        this.supplier.carrier.splice(this.supplier.carrier.indexOf(tag), 1);
		      },

		    showInput() {
		        this.inputVisible = true;
		        this.$nextTick(_ => {
		          this.$refs.saveTagInput.$refs.input.focus();
		        });
		      },

		    handleInputConfirm() {
		        let inputValue = this.inputValue;
		        if (inputValue) {
		          this.supplier.carrier.push(inputValue);
		        }
		        this.inputVisible = false;
		        this.inputValue = '';
		    },

		    AddListRow(index) {
		    	var id = this.selectedmaterials[index].material_id;
		    	var mat = (this.materials).filter(function(x) { return x.id == id });
				this.selectedmaterials[index].items.push({
					"project_id":"",
					"category_id":"",					
					"qty":0,					
					"unit":mat[0].unit,					
					"unit_price":mat[0].retail_price,					
					"subtotal":"",
					"notes":"",
					"totalkg":'',
					"totalcbm":'',
					"weight": mat[0].weight,
				});
			},

			handleDelete(index2, index) {
				this.selectedmaterials[index2].items.splice(index, 1);
			},

		    getPoDetails(){

		      this.$store.dispatch('getPoDetails', { payload: this.form }).then(response => {
		        if (response.code == 200) {
		          	var res = response.data.po;
		          	this.form.needed_date = res.needed_date;

					this.add.materials = response.data.addmat;
					this.selectedmaterials = response.data.mat;
					this.displayTable2();
		          	this.isFetching = false;

		        }else{

		          this.$message({
		            type: 'error',
		            message: 'Error'
		          });

		        }
		      })
		    },

			displayTable2(){
			   if(this.add.materials.length > this.selectedmaterials.length){		   	
				   var id = this.add.materials[this.add.materials.length - 1];
				   var mat = (this.materials).filter(function(x) { return x.id == id });
		      	   this.selectedmaterials.push({
						'material_id': id,
						'material_name': mat[0].name + '('+ mat[0].name_cn+')',
						'items': []
					});
			   }
			   else{
			   	console.log(this.add.materials);
				   	for(var i = 0; i < this.selectedmaterials.length; i++){
					 if( !(this.add.materials).includes( this.selectedmaterials[i].material_id )){
					  	this.selectedmaterials.splice(i, 1)
					 }
					}
			   	   // this.selectedmaterials[index2].items.splice(index, 1);
			   }
		    },

		    totalprice(){
		    	var totalsrp = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	totalsrp += (value2.qty * value2.unit_price);
				    });
				});
				return totalsrp;
		    },

		    totalkg(){
		    	var totalkg = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	//if(value2.unit == 'kg'){
				    		totalkg += (value2.qty * value2.weight);
				    	//}
				    });
				});
				return totalkg;
		    },

		    totalcbm(){
		    	var totalcbm = 0;
		    	(this.selectedmaterials).forEach((value, index) => {
				    (value.items).forEach((value2, index2) => {
				    	console.log(value2);
				    	//if(value2.unit == 'cbm'){
				    		totalcbm += (value2.width * value2.height * value2.length);
				    	//}
				    });
				});
				return totalcbm;
		    }
  		},



		created () {
			const vm = this;
			let { data, type } = vm.$parent.$parent.content;
			this.form.data = [];
      		this.form.data = data;
      		this.form.paytype = type;

      		vm.getPoDetails();
			//vm.form.purchase_order_id = id;
			vm.form.prepared_by = this.session.user.first_name + " " + this.session.user.last_name;

			// if(id > 0){
			// 	vm.getPurchaseOrderDetails();
			// }
			vm.getSuppliers();
			vm.getCategories();

		    // this.$store.dispatch('getAllMaterials', { payload: this.form } ).then(response => {
		    //     this.materials = response.data.materials;
		    //     // this.xform.materials = response.data.preset.material_ids;
		    //     // this.oldmaterials = response.data.preset.materials;
		    //     // this.request.materials = response.data.appOrders;
		    //   })
      // 		this.isFetching = false;
  		}


	}

</script>

<style>
.el-tag + .el-tag {
margin-left: 10px;
}
.button-new-tag {
margin-left: 10px;
height: 32px;
line-height: 30px;
padding-top: 0;
padding-bottom: 0;
}
.input-new-tag {
width: 90px;
margin-left: 10px;
vertical-align: bottom;
}
.el-alert__title{
	font-size: 14px !important;
}

.tbl-header{
	font-size: 14px !important;

}
.el-upload{
	width: 300px !important;
	margin-left: 40px;
}
.el-upload-list{
	margin-left: 40px;
}

.el-table thead{
	color: #000 !important;
}
.el-table__row{
	margin-bottom : 16px;
}

</style>
