<template>

  <el-form ref="form" :model="form" :rules="rules" label-width="120px">

    <el-form-item :label="$t('Profile.name')" prop="name">
      <el-input v-model="form.name" :placeholder="$t('Branch.enter_name')"></el-input>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="onSubmit('form')">{{ $t('Common.save') }}</el-button>
    </el-form-item>

  </el-form>

</template>

<script>

export default {

  name: 'add-edit-branch',

  data () {
    return {
      action: null,

      form: {
        id: null,
        name: null
      },

      rules: {
        name: [
          { required: true, message: this.$t('Branch.name_required') }
        ]
      }
    }
  },

  methods: {

    onSubmit (form) {
      this.$refs[form].validate((response) => {
        if (response) {
          const service = (this.action == 'Add') ? 'addBranch' : 'updateBranch';

          this.$store.dispatch(service, this.form)
            .then(response => {
              if (response.code === 200) {
                this.$parent.$parent.getAllBranches();

                this.$parent.$parent.dialogVisible = false;

                this.$message({
                  type: 'success',
                  message: ((this.action == 'Add') ? this.$t('Common.successfully_added') : this.$t('Common.successfully_updated'))
                });
              } else if (response.code === 422) {
                const errors = response.errors;

                for (const key in errors) {
                  if (errors.hasOwnProperty(key)) {
                    const message = errors[key][0];

                    this.$message({
                      type: 'error',
                      message: message
                    });
                  }
                }
              }
            });
        }
      })
    }

  }

}

</script>
