<template>

    <el-table ref="table" :data="branches" width="100%" v-loading="loading">

    	<el-table-column :label="$t('Branch.branch-name')">
	      	<template slot-scope="scope">
		      	{{ scope.row.name }}
	  		</template>
	    </el-table-column>

      <el-table-column :label="$t('Branch.no_of_clients')">
          <template slot-scope="scope">
            {{ scope.row.number_of_clients }}
        </template>
      </el-table-column>

	    <el-table-column :label="$t('Common.actions')" width="150">
	      <template slot-scope="scope">
		      	<div class="top">
	            <el-tooltip class="item" effect="dark" :content="$t('Branch.edit-branch')" placement="top-start">
	              <el-button @click="handleEdit(scope.row)" type="success" size="mini" icon="el-icon-edit"></el-button>
	            </el-tooltip>

	            <el-tooltip class="item" effect="dark" :content="$t('Branch.delete_branch')" placement="top-end">
	              <el-button @click="handleDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
	            </el-tooltip>
	          </div>
	  		</template>
	    </el-table-column>

    </el-table>

</template>

<script>

import DataTable from '../../../components/datatable'

export default {

  name: 'index-branch',

  props: ['branches'],

  data () {
    return {
      loading: false
    }
  },

  methods: {
    handleEdit (row) {
      this.$store.dispatch('getBranch', row.id)
        .then(response => {
          if (response.code === 200) {
            	const { id, name } = response.data.branch;

            	const data = {
            		id: id,
                name: name
            	};

            	this.$parent.showAddEditBranch('Edit', data);
          }
        })
    },

    handleDelete (row) {
      	this.$confirm(this.$t('Branch.delete_branch_message'), this.$t('Branch.warning'), {
        	confirmButtonText: this.$t('Common.ok'),
        	cancelButtonText: this.$t('Common.cancel'),
        	type: 'warning'
      	}).then(() => {
      		this.loading = true;

        	this.$store.dispatch('deleteBranch', row.id)
          	.then(response => {
          		this.loading = false;

            	if (response.code === 200) {
            		this.$parent.getAllBranches();

              	this.$message({
                	type: 'success',
                	message: this.$t('Branch.successfully_deleted')
                });
              }
          });
      	}).catch(() => {
        	this.$message({
          	type: 'info',
          	message: this.$t('Branch.delete_canceled')
        	})
      	})
    }
  },

  components: {
    DataTable
  }

}

</script>
