<template >
  <div ref="manage_presets" class="manage-group-container">

     <div class="heading">
          <el-button @click="$refs.table.getTableData(page)" type="primary" icon="el-icon-refresh" size="small"></el-button>
         <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch" >
           <el-input placeholder="Enter name" prefix-icon="el-icon-search" v-model="search" clearable  style="padding-left: 30px;">
           </el-input>
         </form>
         <el-button type="primary" size="small" icon="el-icon-money" @click="handleTransfer">Transfer</el-button>
          <el-button type="primary" size="small" icon="el-icon-plus" @click="handleAddEdit">Add New Account</el-button>
     </div>


      <data-table :get-data="getData" ref="table" :columns="columns">

            <b slot="id" slot-scope="{row}">
             {{row.id}}
            </b>

            <b slot="name" slot-scope="{row}">
             {{row.name}} 
            </b>

            <b slot="type" slot-scope="{row}">
             {{row.type}} 
            </b>

            <b slot="detail_type" slot-scope="{row}">
             {{row.detail_type}} 
            </b>

            <b slot="currency" slot-scope="{row}">
             {{row.currency}} 
            </b>

            <b slot="balance" slot-scope="{row}">
             {{row.balance}} 
            </b>


           <div class="text-size" slot="Actions" slot-scope="{row}">
               <div class="top">
                 <!-- <el-button  icon="el-icon-arrow-right" size="mini">View History</el-button> -->
                 <el-tooltip  class="item" effect="dark" content="View Bank Transaction History" placement="top-start">
                    <router-link :to="{ name: 'bank-history', params: { id: row.id } }"> <el-button  icon="el-icon-arrow-right" size="mini">View History</el-button></router-link>
                  </el-tooltip>
               </div>
           </div>
      </data-table>


</div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import AddBank from './components/add-bank'
import BankTransfer from './components/bank-transfer'
import DataTable from '../../components/datatable'
//import ChangeStatus from './components/change-status'
//import AddRemark from './components/add-remark'
//import ExportExcel from './components/export-excel'

export default {
  name: 'banks',
  components: {
    'add-edit-bank': AddBank,
    BankTransfer,
    DataTable
    // ChangeStatus,
    // ExportExcel
  },
  data () {
    return {
      balance : 0,
      collectables : 0,
      group_list: [],
      permissions: [],
      loading: false,
      model: {},
      search: '',
      total: 0,
      size: 20,
      page: 1,
      branch:1,
      columns: [
        {
          prop: 'id',
          label: this.$t('Common.id'),
          minWidth: '60',
          sortable: true
        },

        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '100',
          sortable: true
        },

        {
          prop: 'type',
          label: 'Type',
          minWidth: '80',
          sortable: true
        },

        {
          prop: 'detail_type',
          label: 'Detail Type',
          minWidth: '100',
          sortable: true
        },

        {
          prop: 'currency',
          label: 'Currency',
          minWidth: '70',
          sortable: true
        },

        {
          prop: 'balance',
          label: 'Balance',
          minWidth: '70',
          sortable: true
        },

        {
          prop: 'Actions',
          label: this.$t('Common.actions'),
          width: '270'
        }
      ]
    }
  },

  mounted () {
    this.$eventBus.$on('syncSupplierData', () => {
        this.$refs.table.getTableData();
        //this.$store.dispatch('loadClientData');
    });
  },

  computed: mapGetters({
    session: 'session'
  }),

  created () {
    var permissions = this.session.user.permissions;
      //if(typeof name !== "undefined"){
        name = "Banks";
        // console.log('View '+this.titleCase(name));
        if(permissions.includes('View '+this.titleCase(name)) ){
          //return true;
        }
        else{
          let routeData = this.$router.resolve(
            {
              name: 'dashboard'
            }
          );

          window.open(routeData.href, '_self');
          location.reload();
        }
      //}
      
  },

  methods: {
    titleCase (str) {
      if ((str===null) || (str===''))
           return false;
      else
       str = str.toString();

     return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    },


    getData ({ page, query, sortParams, size }) {

      if(sortParams.length == 0){
        sortParams = 'id-desc'
      }
      this.page = page
      return this.$store.dispatch('getBanks', {
        options: '?page=' + page + '&sort=' + sortParams + '&search=' + this.search + '&perPage=' + size
      }).then(res => {
        const { data } = res

        console.log(res);

        return {
          data: res.data,
          total: res.total,
          size: size
        }
      })
    },

    handleAddEdit (method, val) {

      this.model.method = 'add'
      this.model.data = null

      this.$store.dispatch('changeSupplierData', this.model)
      // required to call the modal
      this.$store.dispatch('callModal', { child_component: AddBank, title: 'Add New Bank', modalWidth: '40%' }) // call global modal state
    },

    handleTransfer (method, val) {

      this.$store.dispatch('callModal', { child_component: BankTransfer, title: 'Bank Transfer', modalWidth: '40%' }) // call global modal state
    },

    handleSearch(){
      this.$refs.table.getTableData();
    },

    handleDocs (data) {},

    addRemarkModal (id) {
      this.$store.dispatch('callModal', {
        child_component: AddRemark,
        title: this.$t('Common.add-remarks'),
        modalWidth: '50%',
        content: {
          id: id,
        }
      })
    },





  }
}
</script>

<style lang="scss">
  .manage-group-container {
    .text-size {
      font-size: 13px;
    }
  }

  .el-header {
    text-align: right;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }

  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }

  .el-tag {
    margin: 0 .0625rem;
  }

  .high-risk {
    color: RED;
  }

  .normal {
    font-weight: normal;
  }

  .remarks {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
