<template>
  <div>
    <!-- <data-table :get--data="getData" ref="table" :columns="columns">
      <span slot="order_id" slot-scope="{ row }">
        {{ row.order_id }}
      </span>
      <span slot="evaluation" slot-scope="{ row }">
          {{ row.evaluation }}%
      </span>
    </data-table> -->
    <span><b>List of Orders [{{date}}]</b></span>
    <el-table
      :data="orders"
      style="width: 100%">
      <el-table-column
        label="Order ID"
        width="300"><template slot-scope="scope">{{ scope.row.order_id }}</template>
      </el-table-column>
      <el-table-column
        label="Evaluation"
        width="180"><template slot-scope="scope">{{ scope.row.evaluation }}%</template>
      </el-table-column>
    </el-table><br>

    <span>Total Orders : <b>{{ total_orders }}</b></span><br>
    <span>Daily Evaluation (Total Evaluation / Total Orders) : <b>{{ average }}%</b></span><br><br>


    <span><b>List of Orders not accepted [{{date}}]</b></span>
    <el-table
      :data="delayed"
      style="width: 100%">
      <el-table-column
      type="index"
      width="50">
    </el-table-column>
      <el-table-column
        label="Order ID"
        width="300"><template slot-scope="scope">{{ scope.row.order_id }}</template>
      </el-table-column>
    </el-table><br>
    <span>Total : <b>{{ total_delayed }}</b></span><br>
    <span>Total Deduction : <b>{{ (total_delayed * 5 ) }}%</b></span><br><br>

    <span style="font-size: 18px; font-weight: bold">Daily Evaluation is {{average}}% - {{(total_delayed * 5 )}}%  
      <b v-if="getTotalEval(average, total_delayed) > 0">which is {{getTotalEval(average, total_delayed)}}%.</b>
      <b  v-else>which is below 0, the evaluation result will follow 0%.</b>

    </span>
  </div>
</template>

<script>
import DataTable from "../../../../components/datatable-with-index";

export default {
  name: "evaluation-form",
  components: {
    DataTable,
  },
  data() {
    return {
      render: false,
      modalConfirm: false,
      modalRequired: {
        display: true,
        form: "",
        action: "",
        confirm: "",
      },

      search: "",
      filter: "",
      page: 1,
      columns: [
        {
          prop: "order_id",
          label: "Order Id",
          sortable: true,
          width: "300",
        },
        {
          prop: "evaluation",
          label: "Evaluation",
          sortable: true,
          width: "180",
        },
      ],

      evaluationList: [],
      days: [],
      day: "",
      month: "",
      year: "",
      halfMonth: "",
      date: "",
      orders : [],
      total_orders : 0,
      total_delayed : 0,
      average : 0,
      delayed : [],
    };
  },
  created() {
    this.date = this.$parent.$parent.content.data.data.date;
    this.date = moment(String(this.date)).format('YYYY-MM-DD');
    
    this.getData();
  },
  mounted() {

  },

  methods: {
    getTotalEval(evaluation, delayed){
      return (evaluation - (delayed * 5)).toFixed(2);
    },
    /* getters */
    getData() {
      // this.date = `${this.year}-${this.month}-${this.day}`;
      return this.$store
        .dispatch("getDailyEvaluationDetails", {
          rider_id:  this.$route.params.rider_id,
          date:  this.date
        })
        .then((res) => {
          const { data, total_order, average, delayed, total_delayed } = res;

          this.orders = data;
          this.total_orders = total_order;
          this.average = average;
          this.delayed = delayed;
          this.total_delayed = total_delayed;
        })
        .catch((error) => {
          if (error.response.status === 500) {
            //this.$refs.table.getTableData();
          }
        });
    },
  },
};
</script>

<style lang="scss">
.custom-input {
  -webkit-appearance: none;
  background-color: #ffffff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.custom-input:hover {
  border-color: #000000;
}
</style>