<template>
  <div>
    <el-form
      v-if="modalRequired.form === 'updateQAForm'"
      :model="updateQAForm"
      :rules="rulesCreateEvaluationForm"
      ref="updateQAForm"
    >
      <div v-for="(v, k) in qa" :key="k" v-if="k !== 0">
        <el-row>
          <el-col :span="3" style="text-align: right; padding: 5px 20px 0 0">
            <span>{{ k }}.</span>
          </el-col>
          <el-col :span="18">
            <el-input
              v-model="updateQAForm.question[k]"
              placeholder="Question"
            />
          </el-col>
          <el-col :span="3" style="padding: 0 0 0 10px">
            <el-button
              size="small"
              icon="el-icon-minus"
              circle
              type="danger"
              style="color: #ffffff"
              @click="handleDeleteRow('questions', qa, [k])"
            />
            <el-button
              v-if="k === qa.length - 1"
              size="small"
              icon="el-icon-plus"
              circle
              style="background: #0ba8e4; color: #ffffff"
              @click="handleAddRow('questions', qa, [k])"
            />
          </el-col>
        </el-row>
        <el-row v-for="(vv, kk) in JSON.parse(v.choices)" :key="kk">
          <el-col :span="5" style="text-align: right; padding: 5px 20px 0 0">
            {{ String.fromCharCode(97 + kk) }}.
          </el-col>
          <el-col :span="8">
            <input
              type="textarea"
              v-model="updateQAForm.choices[k].answer[kk]"
              placeholder="Answer"
              class="custom-input"
            />
          </el-col>
          <el-col :span="8">
            <input
              type="number"
              v-model="updateQAForm.choices[k].score[kk]"
              placeholder="Score"
              class="custom-input"
            />
          </el-col>
          <el-col :span="3" style="padding: 0 0 0 10px">
            <el-button
              size="small"
              icon="el-icon-minus"
              circle
              type="danger"
              style="color: #ffffff"
              @click="
                handleDeleteRow('choices', JSON.parse(v.choices), [k, kk])
              "
            />
            <el-button
              v-if="kk === JSON.parse(v.choices).length - 1"
              size="small"
              icon="el-icon-plus"
              circle
              style="background: #0ba8e4; color: #ffffff"
              @click="handleAddRow('choices', JSON.parse(v.choices), [k, kk])"
            />
          </el-col>
        </el-row>
        <el-divider />
      </div>
    </el-form>

    <el-form
      v-if="modalRequired.form === 'createEvaluationForm'"
      :model="createEvaluationForm"
      :rules="rulesCreateEvaluationForm"
      ref="createEvaluationForm"
      label-width="120px"
    >
      <!-- <el-form-item
        label="Order ID :"
        prop="order_id"
        style="font-weight: bold; padding-right: 10px"
      >
        <el-input v-model="createEvaluationForm.order_id" />
      </el-form-item> -->

      <ol>
        <li v-for="(v, k) in qa" :key="k" v-if="k !== 0">
          {{ v.question }}
          <ul>
            <el-radio-group
              v-model="createEvaluationForm.answer[k]"
              v-for="(vv, kk) in JSON.parse(v.choices)"
              :key="kk"
            >
              <el-radio :label="kk" style="padding: 10px">
                {{ vv.answer }}
              </el-radio>
            </el-radio-group>
          </ul>
        </li>
      </ol>
    </el-form>

    <el-form
      v-if="modalRequired.form === 'editEvaluationForm'"
      :model="editEvaluationForm"
      :rules="rulesEditEvaluationForm"
      ref="editEvaluationForm"
      label-width="120px"
    >
      <!-- <el-form-item
        label="Order ID :"
        prop="order_id"
        style="font-weight: bold"
      >
        <el-input v-model="editEvaluationForm.order_id" />
      </el-form-item> -->

      <ol>
        <li v-for="(v, k) in qa" :key="k" v-if="k !== 0">
          {{ v.question }}
          <ul>
            <el-radio-group
              v-model="editEvaluationForm.answer[k]"
              v-for="(vv, kk) in JSON.parse(v.choices)"
              :key="kk"
            >
              <el-radio :label="kk" style="padding: 10px">
                {{ vv.answer }}
              </el-radio>
            </el-radio-group>
          </ul>
        </li>
      </ol>
    </el-form>
    <div
      slot="footer"
      class="dialog-footer"
      style="display: flex; justify-content: space-between"
    >
      <div />
      <div>
        <el-button @click="$parent.$emit('close')">Cancel</el-button>
        <el-button @click="formReset(modalRequired.form)">Reset</el-button>
        <el-button
          type="primary"
          @click="formSubmit(modalRequired.form, 'validation')"
          >{{ modalRequired.action }}</el-button
        >
      </div>
    </div>
    <el-dialog
      width="30%"
      title="Confirmation"
      :visible.sync="modalConfirm"
      append-to-body
    >
      <span>{{ modalRequired.confirm }}</span>
      <div slot="footer" class="dialog-footer">
        <el-button @click="modalConfirm = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="formSubmit(modalRequired.form, 'submit')"
          :disabled="!modalRequired.display"
        >
          Submit
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "evaluation-form",
  data() {
    return {
      render: false,
      modalConfirm: false,
      modalRequired: {
        display: true,
        form: "",
        action: "",
        confirm: "",
      },
      updateQAForm: {
        id: [],
        question: [],
        choices: [],
      },
      createEvaluationForm: {
        order_id: "",
        rider_id: "",
        answer: [],
        result: "",
        date: "",
      },
      editEvaluationForm: {
        order_id: "",
        answer: [],
        result: "",
      },
      qa: [],
      answerHistory: [],
      choiceHistory: [],
    };
  },
  created() {
    this.parent = this.$parent.$parent.content.data;
    this.getQA();
    this.handleItem();
  },
  mounted() {
    if (this.modalRequired.form === "editEvaluationForm") {
      this.getEvaluation(this.parent.data.id);
    }
  },
  computed: {
    rulesCreateEvaluationForm() {
      return {
        // order_id: [
        //   { required: true, message: "Please input Order id", trigger: "blur" },
        //   {
        //     min: 8,
        //     message: "Length should be 8 digits minimum",
        //     trigger: "blur",
        //   },
        // ],
      };
    },
    rulesEditEvaluationForm() {
      return {
        // order_id: [
        //   { required: true, message: "Please input Order id", trigger: "blur" },
        //   {
        //     min: 8,
        //     message: "Length should be 8 digits minimum",
        //     trigger: "blur",
        //   },
        // ],
      };
    },
  },
  methods: {
    /* getters */
    getQA() {
      this.$store
        .dispatch("getQA")
        .then((response) => {
          this.qa = response.data;
          this.getQALoop();
          for (let i = 1; i <= this.qa.length; i++) {
            this.createEvaluationForm.answer.push(null);
            this.editEvaluationForm.answer.push(null);
          }
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.getQA();
          }
        });
    },
    getQALoop() {
      this.qa.map((v, k) => {
        this.updateQAForm.id[k] = v.id;
        this.updateQAForm.question[k] = v.question;
        this.updateQAForm.choices[k] = { id: [], answer: [], score: [] };
        JSON.parse(v.choices).map((vv, kk) => {
          this.updateQAForm.choices[k].id[kk] = kk + 1;
          this.updateQAForm.choices[k].answer[kk] = vv.answer;
          this.updateQAForm.choices[k].score[kk] = vv.score;
        });
      });
    },
    getQALoopReverse() {
      const data = [];
      this.updateQAForm.id.map((v, k) => {
        let tempChoices = [];
        for (let i = 0; i < this.updateQAForm.choices[k].id.length; i++) {
          tempChoices.push({
            id: this.updateQAForm.choices[k].id[i],
            answer: this.updateQAForm.choices[k].answer[i],
            score: this.updateQAForm.choices[k].score[i],
          });
        }
        data.push({
          id: v,
          question: this.updateQAForm.question[k],
          choices: JSON.stringify(tempChoices),
        });
      });
      this.qa = data;
    },
    getEvaluation(id) {
      const fd = new FormData();
      fd.append("id", id);
      this.$store
        .dispatch("getEvaluation", fd)
        .then((response) => {
          let q = response.data;
          let answer = [];
          let count = this.editEvaluationForm.answer.length;
          this.editEvaluationForm.order_id = q.order_id;
          answer = JSON.parse(q.answers);
          this.editEvaluationForm.answer.map((v, k) => {
            answer.push(v);
          });
          answer = answer.splice(0, count);
          this.editEvaluationForm.answer = answer;
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.getEvaluationDay(id);
          }
        });
    },
    /* @handlers */
    handleItem() {
      switch (this.parent.form) {
        case "Update QA":
          this.modalRequired.form = "updateQAForm";
          this.modalRequired.action = "Update";
          this.modalRequired.confirm = "Are you sure you want to create?";
          break;
        case "Add Evaluation":
          this.modalRequired.form = "createEvaluationForm";
          this.modalRequired.action = "Create";
          this.modalRequired.confirm = "Are you sure you want to create?";
          break;
        case "Edit Evaluation":
          this.modalRequired.form = "editEvaluationForm";
          this.modalRequired.action = "Update";
          this.modalRequired.confirm = "Are you sure you want to update?";
          break;
        default:
          break;
      }
    },
    handleAddRow(condition, array, index) {
      this.getQALoopReverse();
      if (condition === "questions") {
        this.qa.push({
          id: this.qa.length + 1,
          question: "",
          choices: '[{"id":1,"answer":"","score":""}]',
        });
        this.answerHistory.push("add");
      } else if (condition === "choices") {
        let tempChoices = [];
        this.updateQAForm.choices[index[0]].id.map((v, k) => {
          tempChoices.push({
            id: v,
            answer: this.updateQAForm.choices[index[0]].answer[k],
            score: this.updateQAForm.choices[index[0]].score[k],
          });
        });
        tempChoices.push({
          id: array.length + 1,
          answer: "",
          score: "",
        });
        this.qa[index[0]].choices = JSON.stringify(tempChoices);
      }
      this.getQALoop();
    },
    handleDeleteRow(condition, array, index) {
      if (condition === "questions") {
        this.qa.splice(index[0], 1);
        this.updateQAForm.id.splice(index[0], 1);
        this.updateQAForm.question.splice(index[0], 1);
        this.updateQAForm.choices.splice(index[0], 1);
        if (0 === this.qa.length) {
          this.qa.push({
            id: this.qa.length + 1,
            question: "",
            choices: '[{"id":1,"answer":"","score":""}]',
          });
          this.getQALoop();
        }
        this.answerHistory.push(index[0]);
      } else if (condition === "choices") {
        let tempChoices = [];
        this.updateQAForm.choices[index[0]].id.splice(index[1], 1);
        this.updateQAForm.choices[index[0]].answer.splice(index[1], 1);
        this.updateQAForm.choices[index[0]].score.splice(index[1], 1);
        this.updateQAForm.choices[index[0]].id.map((v, k) => {
          tempChoices.push({
            id: v,
            answer: this.updateQAForm.choices[index[0]].answer[k],
            score: this.updateQAForm.choices[index[0]].score[k],
          });
        });
        if (0 === tempChoices.length) {
          this.updateQAForm.choices[index[0]].id[0] = 1;
          this.updateQAForm.choices[index[0]].answer[0] = "";
          this.updateQAForm.choices[index[0]].score[0] = "";
          tempChoices.push({
            id: 1,
            answer: "",
            score: "",
          });
        }
        this.qa[index[0]].choices = JSON.stringify(tempChoices);
        this.choiceHistory.push(index[0]);
      }
    },
    /* @validation */
    validationEvaluation(formName) {
      let error = [];
      let temp = [];

      this[formName].answer.map((v, k) => {
        if (k != 0 && k <= 4) {
          temp.push(v);
        }
      });
      temp.map((v, k) => {
        if (v === null) {
          error.push("required_question");
        }
      });
      if (error[0] === "required_question") {
        this.$message({
          message: "Question No. 1 to 4 are required!",
          type: "error",
        });
      }

      return error.length !== 0;
    },
    /* @forms */
    formSubmit(formName, condition) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (formName === "updateQAForm") {
            if (condition === "submit") {
              this.modalRequired.display = false;
              const fd = new FormData();
              fd.append("id", JSON.stringify(this.updateQAForm.id));
              fd.append("question", JSON.stringify(this.updateQAForm.question));
              fd.append("choices", JSON.stringify(this.updateQAForm.choices));
              fd.append("answer_history", JSON.stringify(this.answerHistory));
              fd.append("choice_history", JSON.stringify(this.choiceHistory));
              this.$store.dispatch("updateQA", fd).then((response) => {
                this.$message({
                  type: "success",
                  message: "Question & Answer successfully updated!",
                });
                this.modalConfirm = false;
                this.modalRequired.display = true;
                this.$parent.$emit("close");
              });
            } else {
              this.modalConfirm = true;
            }
          } else if (formName === "createEvaluationForm") {
            if (condition === "submit") {
              this.modalRequired.display = false;
              const fd = new FormData();
              fd.append("rider_id", this.$route.params.rider_id);
              fd.append("order_id", this.createEvaluationForm.order_id);
              fd.append(
                "answer",
                JSON.stringify(this.createEvaluationForm.answer)
              );
              let scores = [];
              this.createEvaluationForm.answer.map((v, k) => {
                JSON.parse(this.qa[k].choices).map((vv, kk) => {
                  if (vv.id === this.createEvaluationForm.answer[k]) {
                    scores[k] = parseFloat(vv.score);
                  }
                });
              });
              fd.append("scores", JSON.stringify(scores));
              fd.append("delivery_fee", 100);
              fd.append("date", this.parent.data.date);
              this.$store.dispatch("addEvaluation", fd).then((response) => {
                this.$message({
                  type: "success",
                  message: "Evaluation successfully created!",
                });
                this.$eventBus.$emit("getData");
                this.modalConfirm = false;
                this.modalRequired.display = true;
                this.$parent.$emit("close");
              });
            } else {
              if (!this.validationEvaluation(formName)) {
                this.modalConfirm = true;
              }
            }
          } else if (formName === "editEvaluationForm") {
            if (condition === "submit") {
              this.modalRequired.display = false;
              const fd = new FormData();
              fd.append("id", this.parent.data.id);
              fd.append("order_id", this.editEvaluationForm.order_id);
              fd.append(
                "answer",
                JSON.stringify(this.editEvaluationForm.answer)
              );
              let scores = [];
              this.editEvaluationForm.answer.map((v, k) => {
                JSON.parse(this.qa[k].choices).map((vv, kk) => {
                  if (vv.id === this.editEvaluationForm.answer[k]) {
                    scores[k] = parseFloat(vv.score);
                  }
                });
              });
              fd.append("scores", JSON.stringify(scores));
              fd.append("delivery_fee", 100);
              this.$store.dispatch("updateEvaluation", fd).then((response) => {
                this.$message({
                  type: "success",
                  message: "Evaluation successfully updated!",
                });
                this.$eventBus.$emit("getData");
                this.modalConfirm = false;
                this.modalRequired.display = true;
                this.$parent.$emit("close");
              });
            } else {
              if (!this.validationEvaluation(formName)) {
                this.modalConfirm = true;
              }
            }
          }
        } else {
          return false;
        }
      });
    },

    formReset(formName) {
      if (formName === "updateQAForm") {
        this.getQA();
      } else if (formName === "createEvaluationForm") {
        this.createEvaluationForm.answer = [];
      } else if (formName === "editEvaluationForm") {
        this.answerHistory = [];
        this.getEvaluation(this.parent.data.id);
      }
      this.$refs[formName].resetFields();
    },
  },
};
</script>

<style lang="scss">
.custom-input {
  -webkit-appearance: none;
  background-color: #ffffff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.custom-input:hover {
  border-color: #000000;
}
</style>