<template>
  <div class="export-container">
    <div v-if="isLoading===false">
      <div class="label">Export Document's On Hand</div>
      <br />
      <el-button class="status-button" type="success" @click="downloadData">Download</el-button>

      <el-divider>Filter Options</el-divider>

      <div style="text-align:left;">
        <el-checkbox :indeterminate="option.isIndeterminate" v-model="option.checkAllClients" @change="handleCheckAllClientsChange">Select All Clients</el-checkbox>
      </div>
      <br/>
      <div class="check-box-container">
        <el-checkbox-group v-model="option.clientsList" size="small" @change="handleCheckedClientChange">
          <el-checkbox-button
            style="min-width:120px; margin:2px;"
            v-for="(item, index) in option.clients"
            :key="index" :label="`${item.client.first_name} ${item.client.last_name}`" :value="item.client_id" />
        </el-checkbox-group>
      </div>

    </div>

    <div v-else class="progress-container">
      <div>
        <!--<el-progress type="circle" :percentage="percentage"></el-progress>-->
        <i class="el-icon-loading" style="font-size: 70px"/>
      </div>
      <label>Exporting...</label>
    </div>
    <br />
  </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "export-pdf",
        data(){
          return {
            isLoading: false,
            option: {
              checkAllClients: false,
              isIndeterminate: false,
              clientsOption: [],
              clientsList: [],
              clients: [],
              selectedClients: []
            }
          }
        },
        methods: {
          handleCheckAllClientsChange(val){
            this.option.clientsList = val ? this.option.clientsOption : [];
            this.option.isIndeterminate = false;
          },
          handleCheckedClientChange(value){
            let checkedCount = value.length;
            this.option.checkAllClients = checkedCount === this.option.clients.length;
            this.option.isIndeterminate = checkedCount > 0 && checkedCount < this.option.clients.length;
          },
          getClientsList () {
            this.$store.dispatch('getClientsInDocsOnHand', {
              search: this.$parent.$parent.content.search,
            }).then(res => {
              let {data} = res
              this.option.clients = data;

              data.map((item,index) => {
                this.option.clientsOption.push(`${item.client.first_name} ${item.client.last_name}`);
              });
            })
          },
          downloadData(){
            this.option.selectedClients = [];
            this.option.clientsList.map((item,index) => {
              let i = this.option.clients.findIndex(v => `${v.client.first_name} ${v.client.last_name}` === item);
              if(i !== -1){
                this.option.selectedClients.push(this.option.clients[i].client_id);
              }
            });

            if(this.option.selectedClients.length > 0){
              this.exportData()
            }else{
              this.$message.error('Oops, Please Select Client/s!');
              this.isLoading = false;
            }
          },
          exportData(){
            this.isLoading = true;

            this.$store.dispatch('exportEmployeeDocsOnHand', {
              ids: this.option.selectedClients,
              search: this.$parent.$parent.content.search
            })
              .then(res => {
                this.$parent.$emit('close')
                setTimeout(() => {
                  let dateTime = moment(String(new Date())).format("MMM DD, YYYY , hh:mm A");
                  let fileURL = window.URL.createObjectURL(new Blob([res]));

                  let fileLink = document.createElement('a');
                  fileLink.href = fileURL;

                  fileLink.setAttribute('download', `${this.session.user.first_name} ${this.session.user.last_name} - Document\'s On Hand - ${dateTime}.pdf`);

                  document.body.appendChild(fileLink);
                  fileLink.click();

                  this.isLoading = false;
                }, 500)

              })
          }
        },
        computed: mapGetters({
          session: 'session'
        }),
        created() {
            this.getClientsList()
        }
    }
</script>

<style lang="scss">
  .export-container {
    .el-checkbox {
      display: block;
    }
    .el-checkbox-group {
      .el-checkbox-button {
        border: 1px solid #eee;
        width: 150px;
        max-width: 160px;
        min-width: 100px;
      }
    }

    .progress-container{
      width:100%;
      margin-top: 25px;
    }

    .progress-container > div{
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:130px;
    }

    div {
      text-align: center;
    }

    .label {
      color: #595959;
      font-size: 2.5em;
      font-weight: 700;
      margin-top: 25px;
    }
  }

  .el-checkbox-button__inner{
    width: 100%;
    border: 0px solid #DCDFE6 !important;
  }

  .el-dialog__wrapper{
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>
