<template>
  <transition name="fade">
    <router-view class="wrapper" ></router-view>
  </transition>
</template>

<script>
export default {
  name: 'app',

  mounted () {
    this.$eventBus.$on('openModal', () => {
      this.handleCallModal()
    })

    this.$eventBus.$on('openLightbox', () => {
      this.handleCallLightbox()
    })

    this.$tabEvent.on('deleteToken', () => {
      this.$store.dispatch('deleteToken')
      this.$router.replace({ path: '/login' })
    })

    this.$tabEvent.on('setToken', (token) => {    
      this.$store.dispatch('setToken',token)
      this.$router.replace({ path: this.$route.query.redirect || '/' })
      // this.$router.replace({ path: '/' })
    });

    // this.$tabEvent.on('eventName', (data) => console.log(data));
  },

  methods: {
    handleCallModal () {
      this.$children[0].$refs.modal.show()
    },

    handleCallLightbox () {
      this.$children[0].$refs.lightbox.show()
    }
  }

}
</script>
