<template>
  <div class="block m-t-20">
    <div class="heading">
      <div class="search-container">
        <el-button @click="getEmployeeDocsOnHand" type="primary"
                   icon="el-icon-refresh" size="small"/>
        <form class="search" v-on:change.prevent="getEmployeeDocsOnHand" v-on:submit.prevent="getEmployeeDocsOnHand">
          <el-input placeholder="Enter Client Name"
                    prefix-icon="el-icon-search" v-model="search" clearable
                    style="padding-left: 30px;"/>
        </form>
        <el-button type="primary" @click="showExportModal" size="small" icon="el-icon-plus">{{ $t('Common.export') }}</el-button>
      </div>
    </div>
    <div class="body-container">
      <div class="inner-container">
        <!--
        <el-row
          type="flex"
          v-for="(dd, ddIndex) in docData"
          :key="ddIndex"
          style="padding: 0px;">
          <el-col :span="8"
                  v-for="(doc, docIndex) in dd"
                  :key="docIndex">
            <el-collapse v-model="activeTab">
              <el-collapse-item
                :name="doc.id"
                style="border-left: 1px solid #EBEEF5; border-right: 1px solid #EBEEF5; color: #1d8ce0;">

                <template slot="title" >
                  <span :style="(doc.onHandDocuments.length > 0) ? 'color: #1d8ce0;': null">
                    {{ doc.client.first_name + ' ' + doc.client.last_name }}
                  </span>
                </template>
                <div v-if="doc.onHandDocuments.length > 0">
                  <div>
                    <ul>
                      <li v-for="(ohd, ohdIndex) in doc.onHandDocuments" :key="ohdIndex">
                        {{ '('+ohd.count+') ' + ohd.title }}
                      </li>
                    </ul>
                  </div>
                </div>
              </el-collapse-item>
            </el-collapse>
          </el-col>
        </el-row>
        -->
        <el-row
          type="flex"
          v-for="(dd, ddIndex) in docData"
          :key="ddIndex"
          style="padding: 0px;">
          <el-col :span="8"
                  v-for="(doc, docIndex) in dd"
                  :key="docIndex"
                  style="border: 1px solid #cfcfcf;"
          >
            <div style="margin-top: 10px">
              <span class="title">
                {{ doc.client.first_name + ' ' + doc.client.last_name }}
              </span>
              <div v-if="doc.onHandDocuments.length > 0">
                <div>
                  <ul>
                    <li v-for="(ohd, ohdIndex) in doc.onHandDocuments" :key="ohdIndex" style="margin-bottom: 3px">
                      {{ '('+ohd.count+') ' + ohd.title }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row
          type="flex"
          style="padding: 0px;"
          v-if="docData.length === 0">
          <el-col :span="24">
            <el-divider>
              {{ $t('Common.no_data_found') }}
            </el-divider>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
    import ExportPdf from "./components/export-pdf";

    export default {
        name: "documents-on-hand",
        components: {
          ExportPdf
        },
        data() {
          return {
            search: "",
            docData: [],
            activeTab: [],
          }
        },
        mounted() {
          this.getEmployeeDocsOnHand()
        },
        methods: {
          getEmployeeDocsOnHand() {
            this.docData = [];
            this.$store.dispatch('getEmployeeDocsOnHand', {search: this.search})
              .then(res => {
                let data = [];
                let rowData = [];
                let noDocData = [];
                let counter = 0;

                res.data.map((item, index) => {
                  if(counter < 4) {
                    if(item.onHandDocuments.length > 0) {
                      rowData.push(item);
                      counter++;
                    } else {
                      noDocData.push(item)
                    }
                  }

                  if(counter === 3 || index === (res.data.length -1)) {
                    data.push(rowData)
                    rowData = [];
                    counter = 0;
                  }
                })

                // add clients with no documents to array
                if(noDocData.length > 0) {
                  noDocData.map((item, index) => {

                    if( data[data.length - 1].length < 3 ) {
                      data[data.length - 1].push(item)
                    } else {
                      console.log('isFull')
                      if(counter < 4) {
                        rowData.push(item);
                        counter++;
                      }

                      if(counter === 3 || index === (noDocData.length -1)) {
                        data.push(rowData)
                        rowData = [];
                        counter = 0;
                      }
                    }

                  })
                }
                this.docData = data;
              })
          },

          showExportModal(){
            this.$store.dispatch('callModal', {
              child_component: ExportPdf,
              modalWidth: '1000px',
              content: {
                search: this.search
              }
            })
          }
        }
    }
</script>

<style lang="scss" scoped>
  .body-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    .inner-container {
      padding: 15px;
    }
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .service-name {
    font-weight: bold;
    margin-left: 5px;
    color: #1d8ce0;
  }

  .pull-right {
    float: right;
  }

  .m-4 {
    margin: 4px;
  }

  .title {
    color: #1d8ce0;
    padding:10px;
    font-size: 15px;
  }

  .timeline {
    color: #1d8ce0;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .loader {
    height: 100px;
  }

  .hide {
    display: none;
  }

  .bg-disabled { background-color: #909399 !important; border-color: transparent; }
  .bg-pending { background-color: #ffbc2d !important; border-color: transparent; }
  .bg-on-process { background-color: #4ec98b !important; border-color: transparent; }
  .bg-complete { background-color: #00c0ef !important; border-color: transparent; }
  .bg-released { background-color: #09c8c8 !important; border-color: transparent; }
  .bg-cancelled { background-color: #a8a8a8 !important; border-color: transparent; }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 0px !important;
  }

  .button-container {
    display: flex;

    div:last-child {
      margin-left: 10px;
    }
  }

  .text-size {
    font-size: 13px;
  }

  @media screen and (max-width: 991px) {
    .button-container {
      display: inline-block;

      div:last-child {
        margin-left: 0px;
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;

      .search {
        margin-right: 0px;

        input {
          &:focus {
            width: 95% !important;
          }
        }
      }
    }

    .button-container {
      display: block;
      margin-top: 10px;
      justify-content: flex-end;

      div:nth-child(n) {
        display: inline-block;
        margin-top: 5px;
      }

      div:first-child {
        margin-right: 10px;
      }

      div:last-child {
        margin-left: 0px;
      }
    }
  }
</style>

<style lang="scss">
  .el-collapse-item__header {
    font-weight: bold;
    padding-left: 10px;
  }

  .el-collapse-item__content {
    padding-bottom: 0px;
  }

  .el-collapse-item__header.is-active {
    border-bottom-color: #EBEEF5;
  }
</style>
