.btn-text {
  &:link,
  &:visited {
    font-size: 1rem;
    color: $blue;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $blue;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $blue;
    color: $pure-white;
    box-shadow: 0 1rem 2rem rgba($pure-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($pure-black, 0.15);
    transform: translateY(0);
  }
}
