// ## Header styles
// ------------------------------

.header {
  display: flex;
  background-color: $white;
  border-bottom: 1px solid #e7eaec;

  > .text-box{
    border-right: 1px solid #e6e4e4;
    width: 300px;
    padding: 0.8rem 0.8rem;
  }

  > .info-box{
    padding: 0.8rem;
    display: block;
    text-align: right;
  }

  > .no-border {
            border: 0px;
  }

  > .brand {
    margin: 0 1rem 0 0;
    font: italic ($header-height * .625) sans-serif;
    line-height: $header-height;

    > a {
      color: $brand-color;

      &:hover {
        color: $brand-hover-color;
      }
    }

    &:hover  {
      color: $brand-hover-color;
    }
  }

  > .toolbar {
    display: flex;
    flex: 1;

    > .list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      > .item {
        position: relative;

        > a {
          display: block;
          padding: 0 .625rem;
          color: $menu-item-color;
          font-size: ($header-height * .375);
          line-height: $header-height;

          &::before {
            margin-right: .3125rem;
          }

          > img {
            width: ($header-height * 0.6);
            height: ($header-height * 0.6);
            margin-top: -.25rem;
            background: $menu-image-background;
            border: $menu-image-border;
            vertical-align: middle;
          }
        }

        > .list {
          display: none;
          list-style: none;
          position: absolute;
          z-index: 99;
          min-width: $header-sub-width;
          margin: 0;
          padding: .625rem;
          background: $menu-item-hover-background;

          > .divider::before {
            display: block;
            height: .0625rem;
            margin: .125rem;
            background: $menu-border-background;
            content: '';
          }

          > .item  {
            > a {
              display: block;
              padding: .125rem;
              color: $menu-item-color;
              font-size: $header-height * .375 + .0625rem;
              white-space: nowrap;
            }

            &:hover {
              > a {
                color: $menu-item-hover-color;
              }
            }
          }
        }

        &:hover {
          > a {
            background: $menu-item-hover-background;
            color: $menu-item-hover-color;
          }

          > .list {
            display: block;
          }
        }
      }

      &:last-child {
        margin-left: auto;

        > .item {
          > .list {
            right: 0;
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .header > .toolbar > .list:first-child {
    display: none;
  }
}
