// CSS for Add Clients Form component
// ----------------------------------

.body-container {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 32%;
}

.container-padding {
    padding: 15px 1.2rem 15px 1.2rem;
}

.border-line {
    width: 100%;
    height: 1px;
    background-color: #e7eaec;
}

.form-container {

    .form-title {
        font-size: 1.275rem;
        font-weight: 400;
        line-height: 0;
    }

    .inner-container {

        .label {
            position: relative;
            margin-bottom: 5px;
        }

        .el-row {
          margin-bottom: 7px;
        }

        // .form-input {
        //     margin-top: -20px !important;
        // }
    }

    .bottom-spacing {
        margin-bottom: 15px;
    }

}

.el-form-item {
    margin-bottom: 0px;
}

.alert-container {
    position: absolute;
    width: 300px;
    top: 10%;
    right: 15px;
}

.align-center-right {
    position: absolute;
    right: 0;
    top: 10%;
}

.right-add-button {
    position: absolute; 
    right: 0; 
    top: -25%;
}

.contact-number-item {
    margin-bottom: 15px;
}

.el-button--mini.is-round {
    padding: 7px;
}

#checkbox-label {
    padding-top: 4px;
    line-height: 0px;
}

.select-box-width {
    width: 100% !important;
}

.primary-button {
    background-color: #409eff;
    border-color: #409eff;

    :hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }
}


// CSS for Dashboard Component
// ----------------------------------------------------
.dashboard-container {
    color: #555;

    .table-container {
        border-top: 1px #ddd solid;

        .table-col-1 {
            border-left: 1px #ddd solid;
            border-bottom: 1px #ddd solid;
            border-right: 1px #ddd solid;
            font-size: 12px;
            color: #555;
            padding: 9px 7px;

            .title {
                font-weight: 700;
            }
        }

        .table-col-2 {
            border-bottom: 1px #ddd solid;
            border-right: 1px #ddd solid;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-go-to {
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
            }
        }

        .header-bg {
            background-color: #F0F1F3;
        }
        
        // Odd Index Row BG
        .oi-row-bg {
            background-color: #f9f9f9;
        }

    }

    .total-budget-container {
        font-size: 12px;
        font-weight: 700;
        text-align: right;
        margin-top: 10px;
    }
    
    .no-data {
      font-size: 13px;
      text-align: center;
    }
}
.tooltip-width {
    max-width: 200px !important;
}
// ----------------------------------------------------
// End of Dashboard Component