/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

@import 'variables';
@import 'icons';
@import 'transitions';
@import 'components';
@import "button";

@import 'global';
@import 'header';
@import 'sidebar';


// # Demo styles
// ====================

.icons {
  width: 100%;
  word-wrap: break-word;

  i {
    display: inline-block;
    margin: 1rem;
    font-size: 2.25rem;
  }
}

.el-drawer__body {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.el-tabs__item.is-active {
    color: #1d8ce0 !important;
}
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.global_blue {
	color: #1d8ce0 !important;
	&:hover{
		color: #8aceff !important;
	}
}

el-dialog__title{
	font-weight: bold;
}

.label {
  color : #24313c;
}

/***** CLIENT/GROUP PROFILE ****/
.profile-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    min-height: 200px;
    max-width: 100%;
}
.profile-bg {
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    min-height: 95px;
    width: 100%;
    padding-bottom: 25px;
}
.profile-block {
    display: block !important;
}
.profile-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.profile-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.profile-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.profile-User {
    margin: 5px 0 0;
}
.profile-Name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.profile-Name a {
    color: inherit !important;
}
.profile-Stats {
    margin-left: 11px;
    padding: 0px 0;
}
.profile-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.profile-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.profile-totals {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.profile-totals a:hover {
    text-decoration: none;
}
.profile-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.profile-StatLabel {
    color: #8899a6;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.profile-StatLabelSmall {
    color: #8899a6;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.02em;
    overflow: hidden;
    transition: color 0.15s ease-in-out 0s;
    padding: 2px;
}
/****** END CLIENT/GROUP PROFILE ******/
