<template>
  <div>
    <div class="heading" style="display: flex; justify-content: space-between">
      <div>
        Rider : <b style="padding-right: 50px">{{ rider_name }}</b>

        <!-- Shift :<b style="padding-right: 50px"> {{ shift }}</b> -->
        <el-select
          v-model="day"
          placeholder="Pick Available Days"
          @change="$refs.table.getTableData(page)"
          style="padding-right: 20px"
        >
          <el-option
            v-for="(v, k) in days"
            :key="k"
            :label="v.label"
            :value="v.value"
          >
          </el-option>
        </el-select>
        <el-button
          type="primary"
          @click="
            showFormModal({
              data: {
                order_id: 1,
                rider_id: 1,
                date: date,
              },
              form: 'Add Evaluation',
            })
          "
          :disabled="!day"
        >
          Rider Evaluation Form
        </el-button>
        <form
          class="search"
          v-on:change.prevent="handleSearch"
          v-on:submit.prevent="handleSearch"
        />
      </div>
      <div>
        <el-button type="primary" @click="viewSummary()">
          Summary Evaluation
        </el-button>
      </div>
    </div>
    <data-table :get-data="getData" ref="table" :columns="columns">
      <span slot="order_id" slot-scope="{ row }">
        {{ row.order_id }}
      </span>
      <span slot="order_created" slot-scope="{ row }">
        {{ row.order_created }}
      </span>
      <span slot="shift" slot-scope="{ row }">
        {{ row.shift }}
      </span>
      <span slot="result" slot-scope="{ row }">
        {{ row.result }}
      </span>
      <span slot="rider_id" slot-scope="{ row }">
        {{ row.rider_id }}
      </span>
      <span slot="rider_income" slot-scope="{ row }">
        {{ row.rider_income }}
      </span>
      <span slot="delivery_fee" slot-scope="{ row }">
        {{ row.delivery_fee }}
      </span>
      <span slot="evaluation" slot-scope="{ row }">
        <el-tooltip
          class="item"
          effect="dark"
          :content="row.note"
          placement="top-start"
          v-if="row.order_delayed !== null"
        >
          <span>{{ row.evaluation }}%</span>
        </el-tooltip>
        <span v-else>{{ row.evaluation }}%</span>
      </span>
      <div slot="action" slot-scope="{ row }" class="action-container">
        <el-button
          type="warning"
          @click="
            showFormModal({
              data: {
                id: row.id,
              },
              form: 'Edit Evaluation',
            })
          "
          size="mini"
        >
          Edit
        </el-button>
        <el-button type="danger" @click="showConfirm(row.id)" size="mini">
          Delete
        </el-button>
      </div>
    </data-table>
    <el-dialog
      width="30%"
      title="Confirmation"
      :visible.sync="modalConfirm"
      append-to-body
    >
      <span>{{ modalRequired.confirm }}</span>
      <div slot="footer" class="dialog-footer">
        <el-button @click="modalConfirm = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="deleteEvaluation(modalRequired.form, 'submit')"
          :disabled="!modalRequired.display"
        >
          Submit
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import DataTable from "../../../components/datatable-with-index";
import EvaluationForm from "./modal/evaluation-form";

export default {
  name: "rider-evaluation",
  components: {
    DataTable,
  },
  data() {
    return {
      rider_name: "",
      shift: "",
      modalConfirm: false,
      modalRequired: {
        display: true,
        form: "",
        action: "",
        confirm: "",
      },
      search: "",
      filter: "",
      page: 1,
      columns: [
        {
          prop: "order_id",
          label: "Order Id",
          sortable: true,
          width: "200",
        },
        {
          prop: "order_created",
          label: "Created",
          sortable: true,
          width: "180",
        },
        {
          prop: "shift",
          label: "Shift",
          sortable: true,
          width: "100",
        },
        {
          prop: "result",
          label: "Result",
          sortable: true,
          width: "100",
        },
        {
          prop: "rider_income",
          label: "Rider Income",
          sortable: true,
          width: "160",
        },
        {
          prop: "delivery_fee",
          label: "Delivery Fee",
          sortable: true,
          width: "180",
        },
        {
          prop: "evaluation",
          label: "Evaluation",
          sortable: true,
          width: "180",
        },
        {
          prop: "action",
          label: this.$t("Common.actions"),
        },
      ],
      evaluationList: [],
      days: [],
      day: "",
      month: "",
      year: "",
      halfMonth: "",
      date: "",
    };
  },
  created() {
    this.rider_id = this.$route.params.rider_id;
    this.month = this.$route.params.month;
    this.year = this.$route.params.year;
    this.halfMonth = this.$route.params.halfMonth;
    this.getDayRange();
  },
  computed: {
    rulesCreateCompanyForm() {
      return {};
    },
  },
  methods: {
    getData({ page, query, sortParams, size }) {
      this.page = page;
      this.date = `${this.year}-${this.month}-${this.day}`;
      return this.$store
        .dispatch("getEvaluationDay", {
          rider_id: "rider_id=" + this.$route.params.rider_id,
          date: "date=" + this.date,
          page: "page=" + page,
          sort: "sort=" + sortParams,
          search: "search=" + this.search,
          perPage: size,
        })
        .then((res) => {
          const { data } = res;
          this.rider_name = res.rider_name;
          this.shift = res.shift;
          return {
            data: data.data,
            total: data.total,
            size: size,
          };
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.$refs.table.getTableData(this.page);
          }
        });
    },
    getDayRange() {
      let i = 0;
      let endMonthDay = moment(
        moment(moment([this.year, this.month - 1]))
          .endOf("month")
          .toDate()
      ).format("MMMM-DD");
      let month = endMonthDay.split("-")[0];
      let day = endMonthDay.split("-")[1];
      for (i = 1; i <= day; i++) {
        if (
          // moment().unix() >
          // moment([this.year, this.month - 1, i])
          //   .startOf("day")
          //   .unix() &&
          (this.halfMonth == 1 && i <= 15) ||
          (this.halfMonth == 2 && i >= 16)
        ) {
          this.days.push({
            value: i,
            label: `${month} ${i}, ${this.year}`,
          });
        }
      }
    },
    showConfirm(id) {
      this.modalConfirm = true;
      this.modalRequired.form = id;
      this.modalRequired.action = "Delete";
      this.modalRequired.confirm = "Are you sure you want to delete?";
    },
    deleteEvaluation(id) {
      this.modalRequired.display = false;
      const fd = new FormData();
      fd.append("id", id);
      this.$store
        .dispatch("deleteEvaluation", fd)
        .then((response) => {
          this.$message({
            type: "success",
            message: "Evaluation successfully deleted!",
          });
          this.modalConfirm = false;
          this.modalRequired.display = true;
          this.$refs.table.getTableData(this.page);
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.deleteEvaluation(id);
          }
        });
    },
    showFormModal(data) {
      this.$store.dispatch("callModal", {
        child_component: EvaluationForm,
        title: "Rider Evaluation",
        modalWidth: "50%",
        content: {
          data,
        },
      });
    },
    handleSearch() {
      this.$refs.table.getTableData();
    },
    viewSummary() {
      let rider_id = this.rider_id;
      let month = this.month;
      let halfMonth = this.halfMonth;
      let year = moment(this.year).format("YYYY");
      let routeData = this.$router.resolve({
        name: "rider-summary-half-month",
        params: {
          rider_id,
          month,
          halfMonth,
          year,
        },
      });
      window.open(routeData.href, "_blank");
    },
  },
  mounted() {
    this.$eventBus.$on("getData", () => {
      this.$refs.table.getTableData(this.page);
    });
  },
};
</script>

<style lang="scss">
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}
.card-header {
  display: flex;
  flex-direction: row;
}
.el-table th,
.el-table td {
  padding: 6px 0;
}
.el-pagination {
  margin: 1rem 0 2rem;
  text-align: right;
}
</style>