<template>
  <div>
    <div class="heading" style="display: flex; justify-content: space-between">
      <h1 class="title" style="font-weight: bold">
        {{ rider_name }} Summary Evaluation: {{ summary }}%
      </h1>
    </div>
    <el-table
      :data="tableData"
      :span-method="objectSpanMethod"
      border
      style="width: 100%; margin-top: 20px"
    >
      <el-table-column prop="date" label="Date" width="180" />
      <el-table-column prop="detail" label="Details" width="200" />
      <el-table-column prop="value" label="Values">
        <template slot-scope="props">
            <template v-if="props.row.detail == 'Daily Evaluation (Average):'">
                <el-button type="text" style="color: #409eff; cursor: pointer;" 
                    @click="
                      showFormModal({
                        data: {
                          id: rider_id,
                          date: props.row.date
                        },
                        form: 'Show Details',
                      })
                    "
                    size="mini"
                ><b>{{props.row.value}}</b></el-button>
            </template>
            <template v-else>
                {{props.row.value}}
            </template>
        </template>
      </el-table-column>
    </el-table>
    <div style="height: 100px" />
  </div>
</template>

<script>
import DataTable from "../../../components/datatable-with-index";
import EvaluationDetails from "./modal/evaluation-details";
export default {
  name: "summary-half-month",
  components: {
    DataTable,
  },
  data() {
    return {
      tableData: [],
      summary: 0,
      rider_name: "",
    };
  },
  created() {
    this.rider_id = this.$route.params.rider_id;
    this.month = this.$route.params.month;
    this.year = this.$route.params.year;
    this.halfMonth = this.$route.params.halfMonth;
    this.getSummaryEvaluationHalfMonths();
  },
  methods: {
    itemsContains(n) {
      return (n.toString()).includes('%') > -1
    },
    getSummaryEvaluationHalfMonths() {
      const fd = new FormData();
      fd.append("rider_id", this.rider_id);
      fd.append("month", this.month);
      fd.append("year", this.year);
      fd.append("half_month", this.halfMonth);
      this.$store
        .dispatch("getSummaryEvaluationHalfMonth", fd)
        .then((response) => {
          this.tableData = response.data;
          this.summary = response.summary.result;
          this.rider_name = response.rider_name;
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.getEvaluationDay();
          }
        });
    },
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 0) {
        if (rowIndex % 3 === 0) {
          return {
            rowspan: 3,
            colspan: 1,
          };
        } else {
          return {
            rowspan: 0,
            colspan: 0,
          };
        }
      }
    },

    showFormModal(data) {
      this.$store.dispatch("callModal", {
        child_component: EvaluationDetails,
        title: "Daily Evaluation Details",
        modalWidth: "40%",
        content: {
          data,
        },
      });
    },

  },
};
</script>

<style lang="scss">
.el-table th,
.el-table td {
  padding: 6px 0;
}
</style>