<template>
  <div> 
    <div ref="group_profile">
      <div class="container-padding" style="padding:5px 5px 5px 10px;" > 
      <div class="container-margin">
        <el-tabs type="border-card" @tab-click="changeTab" v-model="activeTab">

          <el-tab-pane label="Inventory" name="inventory">
              <material-list ref="materialList"></material-list>
          </el-tab-pane>

          <el-tab-pane label="PO Local" name="purchaseOrder">
              <po ref="purchaseOrder"></po>
          </el-tab-pane>

          <el-tab-pane label="PO China" name="purchaseOrderChina">
              <po-china ref="purchaseOrderChina"></po-china>
          </el-tab-pane>

          <el-tab-pane label="Site Orders" name="siteOrder">
              <site-orders ref="siteOrders" v-bind:modalId="modalId"></site-orders>
          </el-tab-pane>

          <el-tab-pane label="To Prep" name="toPrep">
             <to-prep-orders ref="toPrep"  v-bind:modalId="modalId"></to-prep-orders>
          </el-tab-pane>

          <el-tab-pane label="To Ship" name="toShip">
             <to-ship-orders ref="toShip" v-bind:modalId="modalId"></to-ship-orders>
          </el-tab-pane>

          <el-tab-pane label="To Receive" name="toReceive">
            <to-rcv-orders ref="toRcv" v-bind:modalId="modalId"></to-rcv-orders>
          </el-tab-pane>

          <el-tab-pane label="Delivered/Completed" name="completed">
             <rcvd-complete ref="rcvdComplete" v-bind:modalId="modalId"></rcvd-complete>
          </el-tab-pane>

          <!-- <el-tab-pane label="Transfer">
            
          </el-tab-pane> -->

        </el-tabs>
      </div>

<!--     <el-dialog
      title="Tips"
      :visible.sync="dialogVisible"
      width="30%">
      <span>This is a message</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
      </span>
    </el-dialog> -->
  </div>
  </div>
  </div>
</template>

<script>
  import DataTable from '@/components/datatable'
  import MaterialList from './components/material-list'
  import Po from './components/po'
  import PoChina from './components/po-china'
  import SiteOrders from './components/site-orders'
  import ToPrepOrders from './components/to-prep'
  import ToShipOrders from './components/to-ship'
  import ToRcvOrders from './components/to-receive'
  import rcvdComplete from './components/rcvd-complete'

  export default {
    name: "inventory",
    components: {
      DataTable,
      MaterialList,
      Po,
      PoChina,
      SiteOrders,
      ToPrepOrders,
      ToShipOrders,
      ToRcvOrders,
      rcvdComplete
    },
    data() {
      return {
        activeTab : 'inventory',
        modalId : 0,
        tabRefresh: {
            inventory: true,
            purchaseOrder: false,
            purchaseOrderChina: false,
            siteOrder: false,
            toPrep: false,
            toShip: false,
            toReceive: false,
            completed: false,
        }   
      }
    },
    created() {
        if(typeof this.$route.params.id !== 'undefined' && typeof this.$route.params.status !== 'undefined'){
            var id = this.$route.params.id;
            this.modalId = id;
            var vm = this;
            switch(this.$route.params.status){
                case "1" :
                  this.activeTab = "siteOrder";
                  this.switchTab('siteOrder');

                  // if(tabKey == "siteOrder"){
                  //   this.$refs.siteOrders.openDynamicModal(id);
                  //   this.$eventBus.$emit('openDynamicModal', id);
                  // }
                break;
                case "2" :
                  this.activeTab = "toPrep";
                  this.switchTab('toPrep');
                break;
                case "3" :
                  this.activeTab = "toShip";
                  this.switchTab('toShip');
                break;
                case "4" :
                  this.activeTab = "toReceive";
                  this.switchTab('toReceive');
                break;
                case "5" :
                  this.activeTab = "completed";
                  this.switchTab('completed');
                break;
            }
        }

    },
    methods: {
      switchTab: function(tab) {
          for (let [key, value] of Object.entries(this.tabRefresh)) {      
              if (key == tab) {
                  this.tabRefresh[key] = true
                  return key;
              } else {
                  this.tabRefresh[key] = false
              }
          }
      },

      changeTab (tab, event) {
      switch (parseInt(tab.index)) {
        case 0:
           this.$refs.materialList.refreshData()

        break;

        case 1:
          this.$refs.purchaseOrder.refreshData();

        break;

        case 2:
          this.$refs.purchaseOrderChina.refreshData();

        break;

        case 3:
            this.$refs.siteOrders.refreshData()
        break;

        case 4:
              this.$refs.toPrep.refreshData()
        break;
              
        case 5:
              this.$refs.toShip.refreshData()
        break;

        case 6:
              this.$refs.toRcv.refreshData()
        break;

        case 7:
              this.$refs.rcvdComplete.refreshData()
        break;

      }
    },

    },

    mounted () {
      this.$eventBus.$on('materialList', () => {
          this.$refs.materialList.refreshData();
          //this.$store.dispatch('loadClientData');
      });

      this.$eventBus.$on('materialRequest', () => {
          this.$refs.purchaseOrder.refreshData();
          //this.$store.dispatch('loadClientData');
      });

      this.$eventBus.$on('openDynamicModal', (id) => {
          this.$refs.siteOrders.openDynamicModal(id);
          //this.$store.dispatch('loadClientData');
      });

    },
  }
</script>

<style lang="scss">
  .inner-container {
    .item {
      .el-pagination {
        margin: 15px 0;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>

