<template>
  <div>
    <div class="body-container" v-if="itemProfile != 0">
      <div class="inner-container" v-if="itemCond==='Property'">
        <item-profile v-bind:itemProfile="itemProfile"></item-profile>
      </div>
      <div class="inner-container" v-else>
        <item-profile-consumables
          v-bind:itemProfile="itemProfile"
          v-bind:dataTableC="data"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import ItemProfile from './components/item-profile'
  import ItemProfileConsumables from './components/item-profile-consumables'

  export default {
    name: "inventory",
    components: {
      ItemProfile,
      ItemProfileConsumables
    },
    data() {
      return {
        itemCond: '',
        hasEvent: false,
        itemProfile: [],
        data: {
          consumables: [],
          totalPrice: 0
        },
        id: '',
      }
    },
    created() {
      this.id = this.$route.params.inv_id;
      this.manageInventory(this.id)

    },
    mounted () {
      this.$eventBus.$on('updateProfile', () => {
        this.manageInventory(this.id)
      })

      this.$eventBus.$on('reloadConsumablesTable', () => {
        this.getInventoryConsumable()
      })
    },
    methods: {
      async manageInventory(id){
        await this.$store.dispatch('getItemProfile', id).then(response => {
          let {data} = response
          this.hasEvent = false
          this.itemProfile = data[0]
          this.itemCond = this.itemProfile.type
          if(this.itemCond=="Consumables"){
            this.getInventoryConsumable()
          }
        }).catch(error =>{
          if(error.response.status === 500){
            this.manageInventory(id)
          }
        })
      },
      getInventoryConsumable(){
        this.$store.dispatch('getInventoryConsumable', {inventory_id: this.id}).then(response => {
          this.data.consumables = response.data;
          this.data.totalPrice = response.price;
        }).catch(error =>{
          if(error.response.status === 500){
            this.getInventoryConsumable()
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .inner-container {
    .item {
      .el-pagination {
        margin: 15px 0;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
</style>

<style lang="scss">
  .el-tooltip__popper.is-light {
    color: #333;
  }

  .el-table th, .el-table td {
    padding: 6px 0;
  }
  .el-pagination {
    margin: 1rem 0 2rem;
    text-align: right;
  }
</style>

<style lang="scss" scoped>
  @import "../../assets/styles/variables";

  /* Custom tab */
  .pc-tab > input,
  .pc-tab section > div {
    display: none;
  }

  #tab1:checked ~ section .tab1,
  #tab2:checked ~ section .tab2 {
    display: block;
  }

  #tab1:checked ~ nav .tab1,
  #tab2:checked ~ nav .tab2 {
    color: $danger;
  }

  .pc-tab {
    width: auto;
    margin: 0 auto;
    nav ul li label {
      cursor: pointer;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        label {
          float: left;
          padding: 12px 25px;
          //border: 1px solid $gray-dark;
          border-bottom: 0;
          background: $white;
          color: $black-light;
          &:hover {
            background: $gray-darker;
          }
          &:active {
            background: $blue;
          }
        }
        &:not(:last-child) label {
          border-right-width: 0;
        }
      }
    }
    section {
      clear: both;
      div {
        /*padding: 20px;*/
        width: 100%;
        /* border: 1px solid $blue; */
        background: $white;
        line-height: 1.5em;
        letter-spacing: 0.3px;
        color: $black-lighter;
        h2 {
          margin: 0;
          letter-spacing: 1px;
          color: $black-light;
        }
      }
    }
  }

  #tab1:checked ~ nav .tab1,
  #tab2:checked ~ nav .tab2 {
    label {
      background: $blue;
      color: $white;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $blue;
        left: 0;
        bottom: -1px;
      }
    }
  }
  /* End Custom tab */

  .body-container {
    width: 100%;
    height: auto;
    background-color: #fff;

    .inner-container {
      .item1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child){
          border-bottom: 1px solid $black;
        }

        &-inner {
          &:last-child {
            button {
              width: 6rem;
            }
          }
        }
      }

      padding: 15px;

      .status-msg {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 15px;
        border: 1px solid $pure-red;
        border-radius: 5px;
        color: $pure-red;
        font-size: 1.25rem;
        letter-spacing: 1px;
        background-image: linear-gradient(to right bottom, $white, #f4cecd);
      }
    }

    /*&:nth-child(2), &:nth-child(3), &:nth-child(4) {*/
    &:not(:first-child) {
      margin-bottom: 25px;
    }

  }

  .table-container {
    margin-bottom: 20px;
  }

  .table-title {
    margin-bottom: 16px;
    padding: 5px;
    border-bottom: 1px solid $gray;
    font-weight: bold;
  }

  .item {
    &__container {
      width: 100%;
      padding: .5rem;

      display: grid;
      grid-template-columns: minmax(8rem, 8rem) repeat(4, minmax(10rem, 1fr)) minmax(6rem, 6rem);
      /*align-items: center;*/
      /*justify-content: space-between;*/
      background-color: rgba($gray-lighter, .5);/*
      background-image: linear-gradient(to right bottom, $white, $gray-lighter);*/
      /*border-radius: .25rem;*/

      &:not(:last-child) {
        border-bottom: 1px solid $gray-lighter;
      }
    }

    &__img {
      width: 8rem;
      height: 8rem;
      border-radius: .25rem;
      box-shadow: 0 1px 1px .2px rgba(0, 0, 0, 0.2);

      display: block;
    }

    &__result {
      &-1 {
      }

      &-2 {
        padding: 20px 10px 20px 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: 1.2rem;
          font-weight: bold;

          span {
            margin-left: 5px;
            font-weight: normal;
          }
        }

        p {
          padding: 4px 0;
          font-weight: bold;

          span {
            margin-left: 5px;
            color: $pure-orange;
            font-weight: normal;

          }

        }

      }

      &-3, &-4, &-5 {
        padding: 20px 5px;

        & h2 {
          font-size: 1.2rem;
          font-weight: normal;
          padding-bottom: 5px;
        }

        & p {
          font-weight: lighter;
        }
      }

      &-6 {
        padding: 20px 0;
      }

    }

    &__pagination {
      display: flex;
      flex-direction: row-reverse;
      margin: 15px 0;
    }

  }

</style>
