<template>

	<div>
		   <div class="heading">
          <h1 class="title">{{ $t('Navigation.centralized-report') }} - {{ title }}</h1>
        <!--  <el-button type="primary" size="small" @click="back">{{ $t('Common.back') }}</el-button>
          <el-button type="primary" size="small" @click="save">{{ $t('Common.save') }}</el-button> -->
	    </div>

    	<div class="body-container">
				<div class="inner-container">

                  <div class="distribute" v-if="action != 5">
                     <el-button type="primary" size="mini" @click="distribute">
                         <i class="el-icon-plus"></i> Auto Fill
                       </el-button>
                  </div>



						 <ul class="infinite-list"  style="overflow:auto">
						     <li v-for="(client, index) in clients">

									<div class="name"><b>{{ client.full_name }}</b></div>
										    <ReceviceDocuments  v-if="action == 1"  ref="recv"  :key="client.id" :client="client" :quickdocs="documentsSelected"/>
									<div v-if="action == 2">
												<PhotocopyDocuments ref="photocopy" :key="client.id" :client="client"/>
									</div>

									<div v-if="action == 3">
												<ReleaseDocuments ref="release" :key="client.id" :client="client"/>
									</div>

                   <div v-if="action == 5">
                        <PreparationForFiling ref="filing" :key="client.id" :client="client"/>
                   </div>

								 </li>
						   </ul>
      </div>

      <div class="action-container">
        <el-button type="danger" @click="back">{{ $t('Common.back') }}</el-button>

        <el-button type="primary" @click="save">{{ $t('Common.save') }}</el-button>
      </div>
    </div>

    </div>

</template>

<script>

	import ReceviceDocuments from './components/receive-documents';
  import PhotocopyDocuments from './components/photocopy-documents';
  import ReleaseDocuments from './components/release-documents';
  import PreparationForFiling from './components/preparation-for-filing'

  const RECEIVE_DOCUMENTS = 'Receive Documents';
  const GENERATE_PHOTOCOPIES = 'Generate Photocopies';
  const RELEASE_DOCUMENTS = 'Release Documents to Client';
  const PREPARATION_FOR_FILING = 'Preparation for Filing';

	export default {

		name: 'centralized-report-documents',
		props: ['ids', 'action', 'group_id'],

  		components: {
  			ReceviceDocuments, PhotocopyDocuments, ReleaseDocuments, PreparationForFiling
  		},

  		data() {
      		return {
        		queryFailed: false,
        		queryFailedMessage: null,
            title: '',
        		services: [],
        		documents: [],
						onHandDocuments: [],
						selectedClientServices: [],
            groupDocuments:[],
            documentsSelected:[],
            filterValue:'',
						clients: []
      		}
    	},

  		methods: {



        validateForm(form) {
          let isValid = false;
          let documents = form.users[0].documents;
          documents.map(document => {
            if( document.count >= 1 ) {
              isValid = true;
            }
          });
          return isValid;
        },


        backToList(data){
          if(data.length == data.index){
            this.$message({
                type: 'success',
                message: 'Successfully submitted.'
            });

            setTimeout(() => {

								var id = this.group_id;
								if(typeof id !== 'undefined'){
										this.$router.push({
											name: 'groups-profile',
											params: { id }
										});

								}else{
								   	this.back();
								}

            }, 100);
          }
        },

        saveRcvDocuments(data){
               this.$store.dispatch('reportsReceivedDocuments', data.form)
                 .then(res => {
                     this.backToList(data);
                 });
        },

        saveGeneratePhotoCopyDocuments(data){

          this.$store.dispatch('reportsGeneratePhotocopies', data.form)
            .then(res => {
                  this.backToList(data);
            });
        },

        reportsReleasedDocuments(data){
          this.$store.dispatch('reportsReleasedDocuments', data.form)
            .then(res => {
                  this.backToList(data);
            });
        },

        savePreparationForFiling(data){
          this.$store.dispatch('reportsPreparationForFiling', data.form)
            .then(res => {
              this.backToList(data);
            });
        },

        save(){
              if(this.action == 1){

                    let rcv = this.$refs['recv'];
                    var hasError = false;
                    rcv.map((rs,index) => {

                      if(rs.form.users[0].documents.length > 0){
                        rs.form.users[0].documents.map((d,i) => {
                          if(d.count == null || d.count == ""){
                              hasError = true;
                          }
                        });
                      }else{
												  hasError = true;
											}

                    });


                    if(!hasError){
                        rcv.map((rs,index) => {
														this.saveRcvDocuments({form: rs.form, length: (rcv.length-1), index: index});
                        });
                    }else{
                      this.$message({
                        type: 'error',
                        message: 'Please select at least 1 document.'
                      });
                    }


              }else if (this.action == 2){
                   let rcv = this.$refs['photocopy'];
                   var hasError = false;
                   rcv.map((rs,index) => {
                     if(rs.form.users[0].documents.length > 0){
                       rs.form.users[0].documents.map((d,i) => {
                         if(d.count == null || d.count == ""){
                             hasError = true;
                         }
                       });
                     }
                   });

                  if(!hasError){
                   rcv.map((rs,index) => {
                       this.saveGeneratePhotoCopyDocuments({form: rs.form, length: (rcv.length-1), index: index});
                   });
                  }
                  else{
                     this.$message({
                       type: 'error',
                       message: 'Please select at least 1 document.'
                     });
                  }


              }else if (this.action == 3){
                  let rcv = this.$refs['release'];
                  var hasError = false;
                  rcv.map((rs,index) => {
                    if(rs.form.users[0].documents.length > 0){
                      rs.form.users[0].documents.map((d,i) => {
                        if(d.count == null || d.count == ""){
                            hasError = true;
                        }
                      });
                    }
                  });

                  if(!hasError){
                   rcv.map((rs,index) => {
                       this.reportsReleasedDocuments({form: rs.form, length: (rcv.length-1), index: index});
                   });
                  }
                  else{
                    this.$message({
                      type: 'error',
                      message: 'Please select at least 1 document.'
                    });
                  }
              }else if (this.action == 5){
                let rcv = this.$refs['filing'];
                let hasData = 0;
                rcv.map((rs,index) => {
                  if(rs.form.users[0].documents.length > 0){
                    hasError = false;
                    rs.form.users[0].documents.map((d,i) => {
                      if(d.is_assigned == false && (d.user == null || d.user == "")){
                        hasData -= 1;
                      }
                      if(d.is_assigned == false && d.user != ""){
                        hasData += 1;
                      }
                    });
                  }
                });

                if(hasData>0){
                  rcv.map((rs,index) => {
                     this.savePreparationForFiling({form: rs.form, length: (rcv.length-1), index: index});
                  });
                }
                else{
                  this.$message({
                    type: 'error',
                    message: 'Please select at least 1 document.'
                  });
                }
              }
        },

  			back() {
	  	 		let clients = this.ids;

	  			this.$router.push({
	  		    	name: 'centralized-report',
	  		    	params: { clients }
	  			});


				},

        distribute(){

					var rcv = [];

					if(this.action == 1){
		        rcv = this.$refs['recv'];
					}
					else if(this.action == 2){
						rcv = this.$refs['photocopy'];
					}else{
						rcv = this.$refs['release'];
					}

					let doc = rcv[0].form.users[0].documents;

					var docs = [];
					 doc.map((d,index) => {
								 docs.push({
									 id:d.id,
									 count: d.count
								 });
					 });

					rcv.map((rs,index) => {
					 if(index != 0){
						 rs.addSelectedDocuments(docs);
						 if(this.action != 2){
							 var r = '';
							 if(this.action == 1){
								 r = rcv[0].form.users[0].receive_from;
								 rs.form.users[0].receive_from = r;
							 }else{
								 r = rcv[0].form.users[0].recipient;
								 rs.form.users[0].recipient = r;
							 }
						 }
					 }
					});

        },

				autoAddCounter(documents, i, client){

						let rcv = this.$refs['recv'];

						rcv.map((rs,index) => {

						var doc = rs.form.users[0].documents;

						if(this.clients[0].id == client.id){
							if(index !== 0){
									rs.distributeCount(doc[i], 'add');
							}
						}

						});

				},

				autoRemoveCounter(documents, i, client){
						let rcv = this.$refs['recv'];
						console.log("doc", documents);

						rcv.map((rs,index) => {

						var doc = rs.form.users[0].documents;

						if(this.clients[0].id == client.id){
							if(index !== 0){
										rs.distributeCount(doc[i], 'remove');
										console.log("i::", i);
							}
						}
						});
				},

				changeCount(doc){
					let rcv = this.$refs['recv'];

					rcv.map((rs,index) => {
						if(index !== 0){
							var docIndex = rs.form.users[0].documents.findIndex(v => v.id === doc.id);
							if(docIndex !== -1){
								rs.form.users[0].documents[docIndex].count = doc.count;
							}
						}
					});
				},

				handleDocumentsSelection(documents){

						let rcv = this.$refs['recv'];

						rcv.map((rs,index) => {
							if(index !== 0){
								rs.addSelectedDocuments(documents);
							}
						});
				},


        getDocuments() {
  				this.$store.dispatch('reportsGetDocumentsById', { id: 0})
          			.then(res => {

                  let { latestDocuments, otherDocuments } = res.data;

  								if(latestDocuments.length > 0){
  									var latestDocs = [];
  									latestDocuments.map((item, index) => {
  											latestDocs.push({title:item.title, id: item.id});
  									});
  									this.groupDocuments.push({label:'Top Selected Documents', documents: latestDocs});
  								}

  								if(otherDocuments.length > 0){
  									var otherDocs = [];
  									otherDocuments.map((item, index) => {
  											otherDocs.push({title:item.title, id: item.id});
  									});
  									this.groupDocuments.push({label:'Other Documents', documents: otherDocs});
  								}
  					});

  			},

          setFilter(filterValue) {
        			this.filterValue = filterValue.trim().toLowerCase();
      		},

      		resetFilter() {
      			this.filterValue = '';
      		},

					getClientsByIds(){
							this.$store.dispatch('getClientsByIds', { ids: this.ids })
										.then(res => {
													this.clients = res.data;
							});
					},

  		},

      mounted() {
          // this.$eventBus.$on('getDocuments', (isEdit) => {
          //     this.isEditService = isEdit;
          // });
      },





  		created () {

        var title = "";


				this.getClientsByIds();


        switch(Number(this.action)){
          case 1:
            title = RECEIVE_DOCUMENTS;
            break;
          break;

          case 2:
            title = GENERATE_PHOTOCOPIES;
            break;
          break;

          case 3:
            title = RELEASE_DOCUMENTS;
            break;
          break;

          case 5:
            title = PREPARATION_FOR_FILING;
            break;
          break;
        }

        this.title = title;
        this.getDocuments();


		}

	}

</script>

<style lang="scss" scoped>
.body-container {
	width: 100%;
	height: auto;
	background-color: #fff;

	.inner-container {
		padding: 15px;
	}

	.client-form{
		width: 100%;
		height: auto;
	}

	.action-container {
		padding: 20px;
	}
  .name{
    margin-bottom: 2%;
  }
  .distribute{
      width: '100%';
      padding:2%;
      text-align: right;
  }
	.document-container{
		 height: auto;
	}
}

</style>
