<template>
  <div>
    <div class="heading">
        <h1 class="title">{{ $t('Navigation.centralized-report') }}</h1>
        <form class="search">
        <div v-if="filteredBy">
          <el-input class="search-field" :placeholder="$t('Clients.search-mng-client')" v-model="search" clearable @change="handleSearch">

          </el-input>
        </div>
        <div v-else>

          <el-select
          v-model="groupvalue"
          filterable
          remote
          :placeholder="$t('Common.search-group-placeholder')"
          :remote-method="searchGroup"
          :loading-text="$t('Common.searching-group') + '...'"
          style="width: 100%; " :no-data-text="$t('Common.no-group-found')"
          @change="goToGroupProfile(groupvalue)">

            <el-option
              v-for="item in groupResults"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </div>
      </form>

    <el-row :gutter="20">
        <el-col :span="12">
              <el-switch
                 style="display: block; margin-top:6px;"
                 v-model="filteredBy"
                 active-color="#13ce66"
                 inactive-color="#337ab7"
                 active-text="By Client"
                 inactive-text="By Group"
                 @change="filter"
                 >
              </el-switch>
            </el-col>
            <el-col :span="12">
              <el-select v-model="action" filterable
                size="small" remote
              >
                  <el-option
                    v-for="item in actions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
              </el-select>

            </el-col>
    </el-row>



		<el-button type="primary" @click="handleSubmitSelectedClients" size="small" :disabled="selectedClients.length == 0">
			{{ $t('Common.next') }}
		</el-button>
    </div>

  <div id="selectedTableContainer">
   <div class="table-header">
      <el-row>
        <el-col :span="12">
          <div style="margin-top:7px;">Selected Client/s:</div>
        </el-col>
        <el-col :span="12">
         <div align="right">
           <el-button type="primary" @click="viewSelectedClients" size="small" :disabled="selectedClients.length == 0">
             View Selected Clients
           </el-button>
         </div>
        </el-col>
     </el-row>

    </div>


    <div class="check-box-container">
    <el-checkbox-group  v-model="clients" size="small" >
      <el-checkbox-button style="margin:2px; " v-for="item in selectedClients" :label="item.id | capitalize" :value="item.id"></el-checkbox-button>
    </el-checkbox-group>
    </div>



  </div>

	<data-table ref="table" :columns="columns" :get-data="getData" row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick">
	     <b slot="id" slot-scope="{row}">
          	{{row.id}}
        </b>

        <b slot="name" slot-scope="{row}">
	        <span>
	           	{{row.full_name | capitalize}}
	        </span>
	     </b>

    </data-table>

  </div>

</template>

<script>
	import DataTable from '../../components/datatable'
  import ClientNameList from './components/client-name-list'

	export default {
  		name: 'centralized-report',

  		components: {
	    	DataTable
  		},


  		data () {
	    	return {
			   	selectedClients: [],
          clients:[],
          actions: [{
            value: '1',
            label: 'Receive Documents'
          }, {
            value: '2',
            label: 'Generate Photocopies'
          }, {
            value: '3',
            label: 'Release Documents to Client'
          },
          {
            value: '4',
            label:  this.$t('Navigation.write-reports'),
          },
          {
            value: '5',
            label:  'Preparation for Filing',
          }],
          action: '',
			   	columns: [
			   		{
              prop: 'selection',
			   			type: 'selection',
			   			width: '55',
			   			reserveSelection: true
			   		},
            {
                prop: 'id',
                label: this.$t('Common.id'),
                width: '300',
                sortable: true
            },
            {
                prop: 'name',
                label: this.$t('Profile.name'),
                sortable: true
            }
            ],
			   	search: '',
          filteredBy: true,
          groupResults: [],
          groupvalue: ''
	    	}
  		},

  		methods: {
	 		getData({ page, query, sortParams, size }) {

         if(!this.filteredBy){
           let sortParams = ''

           return this.$store.dispatch('getGroupMembers',{
               id: this.groupvalue,
               page: 'page=1',
               sort:  sortParams,
               search: 'search=',
               perPage: 20
           })
           .then(res => {

             var payload = [];
               res.map((item,index) => {
                     payload.push({full_name:item.first_name + " " + item.last_name, id:item.id});
               });

               return {
                 data: payload,
                 total: payload.length,
                 size: payload.length
               };

           });
         }else{
           if(sortParams.length == 0){
             sortParams = '';
           }

           return this.$services.client.getAllClientsPaginate({
             page: 'page=' + page,
             sort: 'sort=' + sortParams,
             search: 'search=' + this.search,
             withActiveServiceOnly: 'withActiveServiceOnly=1',
             from: 'from=report',
             perPage: size
           })
           .then(response => {
               const { data } = response;
               return {
                 data: data.data,
                 total: data.total,
                 size: size
               };
           });
         }


        },

        getSelectedData({ page, query, sortParams, size }) {
          return {
            data: this.selectedClients,
            total: this.selectedClients.length,
            size: this.selectedClients.length
          };
        },

	    	handleSelectChange(val) {
          this.selectedClients = val;
		    },

		    handleRowClick(row) {
          this.$refs.table.$refs.dataTable.toggleRowSelection(row);
		    },

		    clearSelection(rows) {
		      	this.$refs.table.clearSelection();
		    },

		    handleSearch() {
		      	this.$refs.table.getTableData();
		    },

        viewSelectedClients(){
          this.isEditPayment = true;
          let vm = this;
          this.$store.dispatch('callModal', {
                child_component: ClientNameList,
                modalWidth: '60%',
                content: {
                  selectedClients: this.selectedClients
                }
          }) // call global modal state
        },

		    handleSubmitSelectedClients() {

  		    let clients = JSON.stringify(this.selectedClients);
          let clientIds = JSON.stringify(this.selectedClients.map(c => c.id));
          let action = this.action;

          if(action !== ''){

            if(action == 4){
    		      	this.$router.push({
    		      		name: 'write-report-clients',
    		      		params: { clientIds }
    		      	});

            }else{

              this.$router.push({
                name: 'centralized-report-documents',
                params: { clientIds, action  }
              });
            }

          }else{
            this.$message({
              type: 'error',
              message: 'Please select action.'
            });
          }

		    },

        filter(val){
            this.filteredBy = val;
        },

        goToGroupProfile(group_id){
            this.groupvalue = group_id;
            this.$refs.table.getTableData();
        },

        searchGroup(queryString) {
          this.groupResults = [];
          if (queryString !== '') {
              setTimeout(() => {
                return this.$store.dispatch('loadSearchResults', {
                  keyword : queryString,
                  branch_id : 1
                })
                .then(response => {
                this.groupResults = response;
              })
              }, 200);
            } else {
              this.groupResults = [];
            }

        },

  		}
	}
</script>

<style lang="scss">
	.search-field {
		width: 100%;
	}

	.el-pagination {
		margin: 1rem 0 2rem;
		text-align: right;
	}

  .el-checkbox {
    display: block;
  }
  .el-checkbox-group {
    .el-checkbox-button {
        border: 1px solid #40586F;
        width: 70px;
        background: #40586F;
        max-width: 100px;
        min-width: 60px;
    }
  }

  .el-checkbox-button__inner{
      border:0px solid #40586F !important;
      background: #40586F;
      color:#ffffff;
      text-align: center;
  }

  .check-box-container{
    background-color: #fff;
    padding:2%;
    min-height: 120px;
    max-height: 120px;
    overflow: auto;
  }


  #selectedTableContainer {
    margin-bottom: 30px;

    .table-header {
      background-color: #fff;
      border-bottom: 1px solid #EBEEF5;
      padding: 10px;
      font-size: 14px;
      color: #606266;
      font-weight: bold;
      text-align: justify;
    }


    .el-pagination {
      display: none;
    }
  }
</style>
