<template>
  	<div id="read-reports">
    	<div class="heading">
        	<h1 class="title">Material Report</h1>
	    	<el-form :model="form" label-width="80px" label-position="left" style="width: 100%;">

				<el-row :gutter="20" class="form-container">
					<el-col :span="8" :offset="1">
						<el-form-item class="el-form-item-1" label="Period: ">
							<span slot="label"><b>Project: </b></span>
			    			<el-select size="small" v-model="form.project" filterable placeholder="Select Project" @change="runReport()"   style="width: 250px">
		                      <el-option
		                        v-for="s in projects"
		                        :key="s.id"
		                        :label="s.name"
		                        :value="s.id"
		                        v-if="s.id >=2">
		                      </el-option>
		                    </el-select>
			    		</el-form-item>
			    	</el-col>
			    	<el-col :span="6">
			    		<!-- <el-button v-if="form.project > 0" class="add-button" type="primary"  @click="runReport()">Run Report</el-button> -->
			    	</el-col>
			    </el-row>
	    	</el-form>
    	</div>

    	<div>
    		<el-button v-if="data.length > 0" class="add-button" type="primary"  @click="exportPL()">Export</el-button>

    		<!-- {{data}} -->
    	</div>

		<data-table :get-data="getData"
              ref="table"
              :columns="columns"
              class="cell-border"
              >

              <div slot="status" slot-scope="{row}" style="font-size: 12px;">
                  <!-- {{ row.order_status }} -->
                  <span v-html="statusColor(row.order_status)"></span>
              </div>

              <div slot="po" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.order_id }}
              </div>

               <div slot="taskname" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.taskname }}
              </div>

              <div slot="category" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.category }}
              </div>

              <div slot="matname" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.matname }}
              </div>

              <div slot="qty" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.qty }}
              </div>

              <div slot="unit" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.unit }}
              </div>

              <div slot="unit_price" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.unit_price }}
              </div>

              <div slot="total" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.unit_price * row.qty }}
              </div>

              <div slot="srp" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.srp }}
              </div>

              <div slot="srptotal" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.srp * row.qty }}
              </div>

              <div slot="note" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.remarks }}
              </div>

              <div slot="req_date" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.requested_at }}
              </div>

              <div slot="del_date" slot-scope="{row}" style="font-size: 12px;">
                  {{ row.delivered_at }}
              </div>

        </data-table>

 	 </div>
</template>

<script>
	import DataTable from '../../components/datatable-custom'
	import viewPLDetail from './components/view-pl-detail';
	export default {
  		name: 'Material-report',

		components: {
			DataTable, viewPLDetail
		},

  		data () {
	    	return {
	    		dataLength: 0,
				page: 1,
				size: 10,
				ctr: 0,

				projects: [],
				categories: [],
				data: [],

	    		columns: [
			        {
			          prop: 'status',
			          label: 'Status',
			          width: '150'
			        },
			        {
			          prop: 'po',
			          label: 'PO#',
			          width: '100'
			        },

			        {
			          prop: 'taskname',
			          label: 'Task',
			          width: '250'
			        },

			        {
			          prop: 'category',
			          label: 'Category',
			          width: '180'
			        },

			        {
			          prop: 'matname',
			          label: 'Material Name',
			          width: '250'
			        },

			        {
			          prop: 'qty',
			          label: 'Qty',
			          width: '120'
			        },

			        {
			          prop: 'unit',
			          label: 'Unit',
			          width: '120'
			        },

			        {
			          prop: 'unit_price',
			          label: 'Unit Price',
			          width: '150'
			        },

			        {
			          prop: 'total',
			          label: 'Total',
			          width: '150'
			        },

			        {
			          prop: 'srp',
			          label: 'Srp',
			          width: '150'
			        },

			        {
			          prop: 'srptotal',
			          label: 'Srp Total',
			          width: '150'
			        },

			        {
			          prop: 'note',
			          label: 'Note',
			          width: '250'
			        },

			        {
			          prop: 'req_date',
			          label: 'Requested Date',
			          width: '150'
			        },

			         {
			          prop: 'del_date',
			          label: 'Delivered Date',
			          width: '150'
			        },
			      ],

	    		data: [],

		    	form: {
		    		project : ''
		    	},

		    	detForm: {
		    		date: '',
		    		proj_id: '',
		    		cat_id: ''
		    	},

		    	// options: [
			    // 	{
			    //       name: 'All Dates'
			    //     }, 
			    //     {
			    //       name: 'Custom'
			    //     }, 
			    //     {
			    //       name: 'Today'
			    //     }, 
			    //     {
			    //       name: 'This Week'
			    //     }, 
			    //     {
			    //       name: 'This Week-to-date'
			    //     }, 
			    //     {
			    //       name: 'This Month'
			    //     },
			    //     {
			    //       name: 'This Month-to-date'
			    //     },
			    //     {
			    //       name: 'This Quarter'
			    //     },
			    //     {
			    //       name: 'This Quarter-to-date'
			    //     },
			    //     {
			    //       name: 'This Year'
			    //     },
			    //     {
			    //       name: 'This Year-to-date'
			    //     },
		     //    ],
	    	}
  		},

  		methods: {
  			statusColor(status) {
		      if(status == 'purchase order'){
		        status = '<button class="ganttbutton button1">'+status+'</button>';
		      }
		      else if(status == 'mob'){
		        status = '<button class="ganttbutton button2">'+status+'</button>';
		      }
		      else if(status == 'site order' || status == 'POC' || status == 'SPC'){
		        status = '<button class="ganttbutton button3">'+status+'</button>';
		      }
		      else if(status == 'to prep'){
		        status = '<button class="ganttbutton button4">'+status+'</button>';
		      }
		      else if(status == 'to ship'){
		        status = '<button class="ganttbutton button5">'+status+'</button>';
		      }
		      else if(status == 'to received'){
		        status = '<button class="ganttbutton button6">'+status+'</button>';
		      }
		      else if(status == 'partial delivered'){
		        status = '<button class="ganttbutton button7">'+status+'</button>';
		      }
		      else if(status == 'completed'){
		        status = '<button class="ganttbutton button8">'+status+'</button>';
		      }
		      //console.log(new Date(timeStamp + hours * 60 * 60 * 1000));
		      return status;
		    },

  			getData({ page, query, sortParams, size }) {
				if(this.size != size && this.ctr == 1){
					this.size = size;
				}
	      		if(sortParams.length == 0){
	        		sortParams = 'id-desc';
	      		}
        		this.page = page
	      		return this.$services.reports.materialReports({
	        		page: 'page=' + page,
	        		sort: 'sort=' + sortParams,
	        		// category: 'category=' + this.form.category,
	        		project: 'project=' + this.form.project,
	        		// date: 'date=' + this.form.date,
	        		perPage: this.size
	      		})
	        	.then(response => {
          			this.ctr = 1;
          			var total = 0;
	          		// const { projects } = response.data;

	          		//this.columns = response.data.data.projects;
	          		var data = response.data.data.data;
	          		this.data = data;

	          		return {
	            		data: data,
	            		total: total,
	            		size: this.size
	          		};
	        	});
    		},

		  	runReport() {
		  		this.$refs.table.getTableData();
		  	},

		  	getDetails(cat_id, proj_id) {
		  		this.detForm.cat_id = cat_id;
		  		this.detForm.proj_id = proj_id;
		  		this.detForm.date = this.form.date;
		  		this.$services.reports.getPLDetails(
		  		{
	        		payload: this.detForm 
	        	})
		  		.then(response => {
		  			console.log(response);
		  			this.$store.dispatch('callModal', {
			          child_component: viewPLDetail,
			          modalWidth: '60%',
			          content: {
			            data : response
			          }
			        })
		  		});
		  	},

		  	exportPL(){
		    	
		    	this.$store.dispatch('exportMaterialReport',{
		            reports: this.data,
		        })
			        .then(res => {
			          const { data } = res

			          setTimeout(() => {
				          var fileURL = window.URL.createObjectURL(new Blob([res]));

				          var fileLink = document.createElement('a');
				          fileLink.href = fileURL;

				          fileLink.setAttribute('download',  'Materials-Report.xls');

				          document.body.appendChild(fileLink);
				          fileLink.click();

				          //this.isLoading = false;
				          //this.$parent.$emit('close')
				          //this.$eventBus.$emit('syncGroupData');
				        }, 500)

			          //this.pocs = data.data;

			      });
		    },

		  	toggleCollapse(option) {
		  		let tableData = this.$refs.table.tableData;

		  		tableData.map(t => {
		  			this.$refs.table.$refs.dataTable.toggleRowExpansion(
		  				t,
		  				option == 'expand' ? true : false
		  			);
		  		});
		  	},

		  	handleRowClick(row) {
		    	this.$refs.table.$refs.dataTable.toggleRowExpansion(row);
			},

			handlePeriod(val){
				var today = new Date();
				var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				switch(val){
					case 'All Dates' : {
						this.form.date = '';
						break;
					}

					case 'Today' : {
						this.form.date = [date,date];
						break;
					}

					case 'This Week' : {
						var d1 = this.getPreviousMonday();
						var prevMonday = d1;
						var d2 = new Date(new Date(prevMonday).setDate(new Date(prevMonday).getDate() + 6));
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Week-to-date' : {
						var d1 = this.getPreviousMonday();
						var prevMonday = d1;
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					case 'This Month' : {
						var d = new Date(), y = d.getFullYear(), m = d.getMonth();
						var d1 = new Date(y, m, 1);
						var d2 = new Date(y, m + 1, 0);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Month-to-date' : {
						var d = new Date(), y = d.getFullYear(), m = d.getMonth();
						var d1 = new Date(y, m, 1);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					case 'This Quarter' : {
						var now = new Date();
						var quarter = Math.floor((now.getMonth() / 3));
						var d1 = new Date(now.getFullYear(), quarter * 3, 1);
						var d2 = new Date(d1.getFullYear(), d1.getMonth() + 3, 0);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Quarter-to-date' : {
						var now = new Date();
						var quarter = Math.floor((now.getMonth() / 3));
						var d1 = new Date(now.getFullYear(), quarter * 3, 1);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					case 'This Year' : {
						var now = new Date();
						var d1 = new Date(new Date().getFullYear(), 0, 1);
						var d2 = new Date(new Date().getFullYear(), 11, 31)
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Year-to-date' : {
						var now = new Date();
						var d1 = new Date(new Date().getFullYear(), 0, 1);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					default : {

						break;
					}

				}
			},

			getCategories(){
		        this.$store.dispatch('getAllPaymentCategories', { payload: this.form } ).then(response => {
		              this.categories = response.data.data;
		            })
		     },

		     getProjects(){
				this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
		        	//this.suppliers = response.data
		        	this.projects = response.projects
		        	//this.materials = response.materials
		      	})
	      	},

	      	getPreviousMonday()
			{
			    var date = new Date();
			    var day = date.getDay();
			    var prevMonday = new Date();
			    if(date.getDay() == 0){
			        prevMonday.setDate(date.getDate() - 7);
			    }
			    else{
			        prevMonday.setDate(date.getDate() - (day-1));
			    }

			    return prevMonday;
			}
  		},
  		created () {
  			const vm = this;

  	// 		var d = new Date(), y = d.getFullYear(), m = d.getMonth();
			// var d1 = new Date(y, m, 1);
			// var d2 = new Date(y, m + 1, 0);
			// d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
			// d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
			// this.form.date = [d1, d2];
			// vm.getCategories();
			vm.getProjects();
		}
	}
</script>

<style lang="scss">

	.ganttbutton {
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  font-weight: 600;
}
	.button1 {background-color: #d50000;} /* po */
.button2 {background-color: #FFDB58;} /* mob */
.button3 {background-color: #f66c1b;} /* site order */
.button4 {background-color: #FFAE42;} /* to prep */
.button5 {background-color: #23bc2e;} /* to ship */
.button6 {background-color: #006edf;} /* to received */
.button7 {background-color: #23bc2e;} /* partial delivered */
.button8 {background-color: #23bc2e;} /* delivered/completed */

	
	  	table#details {
	  		width: 100%;

	  		td {
	  			padding-left:10px;
	  			padding-right: 10px;
	  		}

	  		td.left-col {
	  			width:30%;
	  		}

	  		td.right-col {
	  			width:70%;
	  		}
	  	}

  	
</style>
