<template>
  	<div id="read-reports">
    	<div class="heading">
        	<h1 class="title">P&L Report</h1>
	    	<el-form :model="form" label-width="80px" label-position="left" style="width: 100%;">
	    		<el-row :gutter="20" class="form-container">
					<el-col :span="6" >
						<el-form-item class="el-form-item-1" label="Period: ">
							<span slot="label"><b>Period: </b></span>
			    			<el-select size="small" v-model="form.period" filterable placeholder="Select Period"  @change="handlePeriod(form.period)" style="width: 250px">
		                      <el-option
		                        v-for="s in options"
		                        :key="s.name"
		                        :label="s.name"
		                        :value="s.name">
		                      </el-option>
		                    </el-select>
			    		</el-form-item>
			    	</el-col>
			    	<el-col :span="8">
						<el-form-item class="el-form-item-2">
							<el-date-picker
								class="date-field"
								v-model="form.date"
								type="daterange"
								:start-placeholder="$t('Reports.start_date')"
								:end-placeholder="$t('Reports.end_date')"
								value-format="yyyy-MM-dd" style="width: 250px">
							</el-date-picker>
						</el-form-item>
						<!-- {{ form.date }} -->
					</el-col>
					<el-col :span="4">
						<el-radio-group size="mini" v-model="form.pricing">
					      <el-radio-button label="Unit">UNIT PRICE</el-radio-button>
					      <el-radio-button label="Srp">SRP</el-radio-button>
					    </el-radio-group>
			    	</el-col>
			    	<el-col :span="6">
						<el-radio-group size="mini" v-model="form.matview">
					      <el-radio-button label="All">ALL</el-radio-button>
					      <el-radio-button label="Exclude">EXCLUDE MOB</el-radio-button>
					    </el-radio-group>
			    	</el-col>
				</el-row>

				<el-row :gutter="20" class="form-container">
					<el-col :span="6">
						<el-form-item class="el-form-item-1">
							<span slot="label"><b>Project: </b></span>
			    			<el-select size="small" multiple v-model="form.project" filterable placeholder="Select Project"   style="width: 250px">
		                      <el-option
		                        v-for="s in projects"
		                        :key="s.id"
		                        :label="s.name"
		                        :value="s.id"
		                        v-if="s.id >=2">
		                      </el-option>
		                    </el-select>
			    		</el-form-item>
			    	</el-col>
			    	<el-col :span="8">
						<el-form-item class="el-form-item-1">
							<!-- <span slot="label"><b>Category: </b></span> -->
			    			<el-select size="small" multiple v-model="form.category" filterable placeholder="Select Category"   style="width: 250px">
		                      <el-option
		                        v-for="s in categories"
		                        :key="s.id"
		                        :label="s.label"
		                        :value="s.id"
		                        v-if="s.id >=4">
		                      </el-option>
		                    </el-select>
			    		</el-form-item>
			    	</el-col>
			    	<el-col :span="10">
			    		
			    		<el-radio-group v-model="form.mode" size="small">
			    			<el-radio label="Project">Project</el-radio>
  							<el-radio label="Time">Time</el-radio>
  						</el-radio-group>

			    		<el-button style="margin-left: 20px;" class="add-button" type="primary"  @click="runReport()" size="small">Run Report</el-button>
			    	</el-col>
			    </el-row>
	    	</el-form>
    	</div>

    	<div>
    		<el-button class="add-button" type="primary"  @click="exportPL()">Export</el-button>

    	</div>

		<data-table :get-data="getData"
              ref="table"
              :columns="columns"
              class="cell-border"
              >

              <div slot="cat" slot-scope="{row}" style="font-size: 12px;">
                  <span v-if="row.label != 'Project Direct Expenses' && row.label != 'Other Expenses' && row.label != 'Total Other Expenses' && row.label != 'Total Project Direct Expenses'" style="padding-left: 10px;">{{ row.label }}</span>
                  <span v-else-if="row.label == 'Total Other Expenses' || row.label == 'Total Project Direct Expenses'" style="padding-left: 10px; color: blue; "><b>{{ row.label }}</b></span>
                  <b v-else>{{ row.label }}</b>
              </div>

              <div v-for="p in projects" :slot="'p'+p.id" slot-scope="{row}" style="font-size: 12px;">
              		<div v-if="row.label != 'Project Direct Expenses' && row.label != 'Other Expenses' && row.label != 'Total Other Expenses' && row.label != 'Total Project Direct Expenses'" style="padding-left: 10px;">
              			<!-- {{ row.cat_id }} -->
              			<el-button v-if="row.cat_id == 4 || row.cat_id == 5 || row.cat_id == 6"  type="text" size="small" @click="getDetails2(row.cat_id, row.proj_id[p.id])">{{ row.amount[p.id] | currency }}</el-button>
              			<el-button v-else @click="getDetails(row.cat_id, row.proj_id[p.id])" type="text" size="small">{{ row.amount[p.id] | currency }}</el-button>
              		</div>
              		<span v-else-if="row.label == 'Total Other Expenses' || row.label == 'Total Project Direct Expenses'" style="padding-left: 10px; color: blue;"><b>{{ row.amount[p.id] | currency }}</b></span>
                    <b v-else></b>
              </div>

              <div slot="total" slot-scope="{row}" style="font-size: 12px;">
                  <span v-if="row.label != 'Project Direct Expenses' && row.label != 'Other Expenses' && row.label != 'Total Other Expenses' && row.label != 'Total Project Direct Expenses'" style="padding-left: 10px;">{{ row.rowtotal | currency }} </span>
                  <span v-else-if="row.label == 'Total Other Expenses'" style="padding-left: 10px; color: blue; "><b>{{ row.rowtotal | currency }} </b>
                  	<b><i  style="color:red;">({{ OEoverall }}%)</i></b></span>
                  <span v-else-if="row.label == 'Total Project Direct Expenses'" style="padding-left: 10px; color: blue; "><b>{{ row.rowtotal | currency }} </b>
                  	<b><i style="color:red;">({{ PEoverall }}%)</i></b></span>
                  <b v-else></b>
              </div>
              
        </data-table>

 	 </div>
</template>

<script>
	import DataTable from '../../components/datatable-custom'
	import viewPLDetail from './components/view-pl-detail';
	export default {
  		name: 'P-and-L-report',

		components: {
			DataTable, viewPLDetail
		},

  		data () {
	    	return {
	    		dataLength: 0,
				page: 1,
				size: 10,
				ctr: 0,

				superoverall: 0,
				PEoverall: 0,
				OEoverall: 0,

				projects: [],
				categories: [],
				data: [],

	    		columns: [],
	    		data: [],

	    		columns2: [
		        {
		          //prop: 'cb',
		          minWidth: '30',
		          prop: 'selection',
		              type: 'selection',
		              width: '55',
		              reserveSelection: true
		        },
		        ],

		    	form: {
		    		period: 'This Month',
		    		type: 'Overall',
		    		date: '',
		    		mode: 'Time',
		    		pricing: 'Unit',
		    		matview: 'All',
		    		project: [],
		    		category: []
		    	},

		    	detForm: {
		    		date: '',
		    		proj_id: '',
		    		cat_id: '',
		    		mode: '',
		    		matview: '',
		    		pricing: '',
		    		project: null
		    	},

		    	options: [
			    	{
			          name: 'All Dates'
			        }, 
			        {
			          name: 'Custom'
			        }, 
			        {
			          name: 'Today'
			        }, 
			        {
			          name: 'This Week'
			        }, 
			        {
			          name: 'This Week-to-date'
			        }, 
			        {
			          name: 'This Month'
			        },
			        {
			          name: 'This Month-to-date'
			        },
			        {
			          name: 'This Quarter'
			        },
			        {
			          name: 'This Quarter-to-date'
			        },
			        {
			          name: 'This Year'
			        },
			        {
			          name: 'This Year-to-date'
			        },
		        ],
	    	}
  		},

  		methods: {
  			getData({ page, query, sortParams, size }) {
				if(this.size != size && this.ctr == 1){
					this.size = size;
				}
	      		if(sortParams.length == 0){
	        		sortParams = 'id-desc';
	      		}
	      		this.columns = [];
        		this.page = page
	      		return this.$services.reports.plReports({
	        		page: 'page=' + page,
	        		sort: 'sort=' + sortParams,
	        		category: 'category=' + this.form.category,
	        		project: 'project=' + this.form.project,
	        		date: 'date=' + this.form.date,
	        		mode: 'mode=' + this.form.mode,
	        		matview: 'matview=' + this.form.matview,
	        		pricing: 'pricing=' + this.form.pricing,
	        		type: 'type=' + this.form.type,
	        		period: 'period=' + this.form.period,
	        		perPage: this.size
	      		})
	        	.then(response => {
          			this.ctr = 1;
          			var total = 0;
	          		// const { projects } = response.data;

	          		this.columns = response.data.data.projects;
	          		this.superoverall = response.data.data.superoverall;
	          		var PE = response.data.data.PEoverall;
	          		var OE = response.data.data.OEoverall;
	          		this.OEoverall = ((OE/this.superoverall)*100).toFixed(2);
	          		this.PEoverall = ((PE/this.superoverall)*100).toFixed(2);
	          		var data = response.data.data.data;
	          		this.data = data;

	          		return {
	            		data: data,
	            		total: total,
	            		size: this.size
	          		};
	        	});
    		},

		  	runReport() {
		  		this.$refs.table.getTableData();
		  	},

		  	getDetails(cat_id, proj_id) {
		  		this.detForm.cat_id = cat_id;
		  		this.detForm.proj_id = proj_id;
		  		this.detForm.date = this.form.date;
		  		this.detForm.mode = this.form.mode;
		  		this.detForm.matview = this.form.matview;
		  		this.detForm.pricing = this.form.pricing;
		  		this.detForm.project = this.form.project+'';
		  		this.$services.reports.getPLDetails(
		  		{
	        		payload: this.detForm 
	        	})
		  		.then(response => {
		  			console.log(response);
		  			this.$store.dispatch('callModal', {
			          child_component: viewPLDetail,
			          modalWidth: '60%',
			          content: {
			            data : response
			          }
			        })
		  		});
		  	},

		  	getDetails2(cat_id, proj_id) {
		  		this.detForm.cat_id = cat_id;
		  		this.detForm.proj_id = proj_id;
		  		this.detForm.date = this.form.date;
		  		this.detForm.mode = this.form.mode;
		  		this.detForm.matview = this.form.matview;
		  		this.detForm.pricing = this.form.pricing;
		  		this.detForm.project = this.form.project+'';
		  		this.$services.reports.getPLDetails2(
		  		{
	        		payload: this.detForm 
	        	})
		  		.then(response => {
		  			console.log(response);
		  			this.$store.dispatch('callModal', {
			          child_component: viewPLDetail,
			          modalWidth: '60%',
			          content: {
			            data : response
			          }
			        })
		  		});
		  	},

		  	exportPL(){
		    	this.$store.dispatch('exportPL',{
		            reports: this.data,
		            columns: this.columns,
		            projects: this.projects,
		            superoverall: this.superoverall,
		            OEoverall: this.OEoverall,
		            PEoverall: this.PEoverall,
		        })
			        .then(res => {
			          const { data } = res

			          setTimeout(() => {
				          var fileURL = window.URL.createObjectURL(new Blob([res]));

				          var fileLink = document.createElement('a');
				          fileLink.href = fileURL;

				          fileLink.setAttribute('download',  'PL-Report.xls');

				          document.body.appendChild(fileLink);
				          fileLink.click();

				          //this.isLoading = false;
				          //this.$parent.$emit('close')
				          //this.$eventBus.$emit('syncGroupData');
				        }, 500)

			          //this.pocs = data.data;

			      });
		    },

		  	toggleCollapse(option) {
		  		let tableData = this.$refs.table.tableData;

		  		tableData.map(t => {
		  			this.$refs.table.$refs.dataTable.toggleRowExpansion(
		  				t,
		  				option == 'expand' ? true : false
		  			);
		  		});
		  	},

		  	handleRowClick(row) {
		    	this.$refs.table.$refs.dataTable.toggleRowExpansion(row);
			},

			handlePeriod(val){
				var today = new Date();
				var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				switch(val){
					case 'All Dates' : {
						var d1 = new Date("2021-12-01");
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1,date];
						break;
					}

					case 'Today' : {
						this.form.date = [date,date];
						break;
					}

					case 'This Week' : {
						var d1 = this.getPreviousMonday();
						var prevMonday = d1;
						var d2 = new Date(new Date(prevMonday).setDate(new Date(prevMonday).getDate() + 6));
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Week-to-date' : {
						var d1 = this.getPreviousMonday();
						var prevMonday = d1;
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					case 'This Month' : {
						var d = new Date(), y = d.getFullYear(), m = d.getMonth();
						var d1 = new Date(y, m, 1);
						var d2 = new Date(y, m + 1, 0);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Month-to-date' : {
						var d = new Date(), y = d.getFullYear(), m = d.getMonth();
						var d1 = new Date(y, m, 1);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					case 'This Quarter' : {
						var now = new Date();
						var quarter = Math.floor((now.getMonth() / 3));
						var d1 = new Date(now.getFullYear(), quarter * 3, 1);
						var d2 = new Date(d1.getFullYear(), d1.getMonth() + 3, 0);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Quarter-to-date' : {
						var now = new Date();
						var quarter = Math.floor((now.getMonth() / 3));
						var d1 = new Date(now.getFullYear(), quarter * 3, 1);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					case 'This Year' : {
						var now = new Date();
						var d1 = new Date(new Date().getFullYear(), 0, 1);
						var d2 = new Date(new Date().getFullYear(), 11, 31);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
						this.form.date = [d1, d2];
						break;
					}

					case 'This Year-to-date' : {
						var now = new Date();
						var d1 = new Date(new Date().getFullYear(), 0, 1);
						d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
						this.form.date = [d1, date];
						break;
					}

					default : {

						break;
					}

				}
			},

			getCategories(){
		        this.$store.dispatch('getAllPaymentCategories', { payload: this.form } ).then(response => {
		              this.categories = response.data.data;
		            })
		     },

		     getProjects(){
				this.$store.dispatch('getAllSuppliers', {  } ).then(response => {
		        	//this.suppliers = response.data
		        	this.projects = response.projects
		        	//this.materials = response.materials
		      	})
	      	},

	      	getPreviousMonday()
			{
			    var date = new Date();
			    var day = date.getDay();
			    var prevMonday = new Date();
			    if(date.getDay() == 0){
			        prevMonday.setDate(date.getDate() - 7);
			    }
			    else{
			        prevMonday.setDate(date.getDate() - (day-1));
			    }

			    return prevMonday;
			}
  		},
  		created () {
  			const vm = this;

  			var d = new Date(), y = d.getFullYear(), m = d.getMonth();
			var d1 = new Date(y, m, 1);
			var d2 = new Date(y, m + 1, 0);
			d1 = d1.getFullYear()+'-'+(d1.getMonth()+1)+'-'+d1.getDate();
			d2 = d2.getFullYear()+'-'+(d2.getMonth()+1)+'-'+d2.getDate();
			this.form.date = [d1, d2];
			vm.getCategories();
			vm.getProjects();
		}
	}
</script>

<style lang="scss">
	#read-reports {

		.search-field {
			padding-left: 30px;

			.el-input__inner {
				width: 100% !important;
			}
		}

		.el-form-item {
			margin-bottom: 0px;
		}

		.el-form-item__content {
			width: 100%;
		}

		.el-form-item-1 {
			width: 50%;
		}
		.el-form-item-2 {
			margin-left: 20px;
		}

		.toggle-collapse-button {
			float: right;
			margin-bottom: 15px;
		}

		.expand-all-button {
			margin-right: 10px;
		}

	  	.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange {
	  		border: none;

	  		i {
	  			font-size: 23px !important;
	  		}
	  	}

	  	.el-pagination {
			margin: 1rem 0 2rem;
			text-align: right;
		}

	  	.service-name {
	  		font-weight: bold;
	  		color: #1ab394;
	  	}

	  	table#details {
	  		width: 100%;

	  		td {
	  			padding-left:10px;
	  			padding-right: 10px;
	  		}

	  		td.left-col {
	  			width:30%;
	  		}

	  		td.right-col {
	  			width:70%;
	  		}
	  	}

  	}
</style>
