<template>
  	<div>

    	<div class="heading">
        	<h1 class="title">{{ $t('Navigation.write-reports') }}</h1>

			<el-button @click="clearSelection" size="small" class="left-button" :disabled="selectedClientServices.length == 0">
				{{ $t('Reports.clear_selection') }}
			</el-button>

			<router-link :to="{name: 'write-report'}">
	       		<el-button type="primary" size="small" class="left-button">{{ $t('Common.back') }}</el-button>
	    	</router-link>

			<el-button type="primary" @click="handleSubmitSelectedClientServices" size="small" :disabled="selectedClientServices.length == 0">
				{{ $t('Common.continue') }}
			</el-button>
    	</div>

    	<Steps :active="1" />

    	<div class="body-container">
	    	<el-table ref="table" :data="clientServices" width="100%" row-key="id" default-expand-all @row-click="rowClicked">
			    <el-table-column type="expand" width="55">
				    <template slot-scope="scope">
				        <Services :ref="'services-ref-' + scope.$index" :services="scope.row.services" />
					</template>
			    </el-table-column>

			    <el-table-column prop="id" :label="$t('Common.id')" width="120" sortable>
			      	<template slot-scope="scope">{{ scope.row.id }}</template>
			    </el-table-column>

			    <el-table-column prop="name" :label="$t('Profile.name')" sortable>
			      	<template slot-scope="scope">{{ scope.row.name | capitalize }}</template>
			    </el-table-column>
		    </el-table>
    	</div>

  	</div>
</template>

<script>
	import Services from './components/services'
	import Steps from './components/steps';

	export default {
  		name: 'write-report-clients',

  		props: ['clientIds'],

  		components: {
	    	Services,
	    	Steps
  		},

  		data () {
	    	return {
	    		clientServices: [],

	    		selectedClientServices: []
	    	}
  		},

  		methods: {
		    getClientServices() {
		   		this.$store.dispatch('getClientServices', this.clientIds)
			   		.then(res => {
               
		               this.clientServices = res.data.clientsServices

			              // res.data.clientsServices.map((item, index) => {
			              //   var cs = [];


			              //   item.services.map((item2, index2) => {
			              //     if() {

			              //     }
			              //   })
			              // })

		                //console.log('client services', res)
						//console.log('client service list', '?client_ids=' + this.clientIds)
						});
		    },

		    rowClicked(row) {
		        this.$refs.table.toggleRowExpansion(row);
		    },

		    handleSelectionChange(clientServicesToBeAdded, clientServicesToBeRemoved) {
		    	clientServicesToBeAdded.map(c => {
		    		if( this.selectedClientServices.indexOf(c) == -1 ) {
		    			this.selectedClientServices.push(c);
		    		}
		    	});
		    	
		    	this.selectedClientServices = this.selectedClientServices.filter(s => clientServicesToBeRemoved.indexOf(s) == -1);
		    },

    		clearSelection() {
    			this.selectedClientServices = [];

		      	for(let i=0; i<this.clientServices.length; i++) {
		      		if( this.$refs['services-ref-' + i] != undefined ) {
		      			this.$refs['services-ref-' + i].$refs.table.clearSelection();
		      		}
		      	}
    		},

			handleSubmitSelectedClientServices() {
				let clientIds = JSON.stringify(this.clientIds);
				let clientServiceIds = JSON.stringify(this.selectedClientServices.map(s => s.id));
				let selectedClientServices = this.selectedClientServices;
            	const redirect = 'redirect'

				//console.log('client services', selectedClientServices)

				this.$router.push({
		  			name: 'write-report-client-services', 
						params: { clientIds, clientServiceIds, selectedClientServices: selectedClientServices, redirect }
		  		});
			}
		},

		created () {
		    this.getClientServices();
		},
}

</script>

<style lang="scss">
 	.body-container {
	    width: 100%;
	    height: auto;
	    background-color: #FFFFFF;
	    padding-bottom: 10px;
	    margin-bottom: 5%;
	}

	.left-button {
	    margin-left: 10px;
	    margin-right: 5px;
	}
</style>
