<template>

	<div>

		<div class="heading">
	      	<h1 class="title">{{ $t('Navigation.write-reports') }}</h1>

	      	<el-button type="primary" size="small" @click="back">{{ $t('Common.back') }}</el-button>
	    </div>

	    <Steps :active="2" />

	    <template v-if="!queryFailed">

				<div class="distribute">
						<el-button type="primary" size="mini" @click="distribute">
								<i class="el-icon-plus"></i> Auto Fill
							</el-button>
				</div>

					<div v-for="service in services" :key="service.id">
						<ReportServices
							ref="reportservices"
							v-for="client_service in service.client_services" :key="client_service.id"
							:service="service"
							:documents="documents"
							:onHandDocuments="onHandDocuments"
							:client_service="client_service"
							:clientServiceList="selectedClientServices" />
					</div>

      		<div class="action-container">
      			<el-button type="danger" @click="back">{{ $t('Common.back') }}</el-button>

        		<el-button type="primary" @click="save">{{ $t('Common.save') }}</el-button>
      		</div>
    	</template>

    	<template v-else>
      		<el-alert title="ERROR" :description="queryFailedMessage" type="error" show-icon></el-alert>
    	</template>

    </div>

</template>

<script>

	import Steps from './components/steps';
	import ReportServices from './components/report-services';

	export default {

		name: 'write-report-client-services',

		props: ['clientIds', 'clientServiceIds', 'groupId', 'redirect'],

  		components: {
  			Steps,
  			ReportServices
  		},

  		data() {
      		return {
        		queryFailed: false,
        		queryFailedMessage: null,

        		services: [],
        		documents: [],
						onHandDocuments: [],
						selectedClientServices: []
      		}
    	},

  		methods: {
  			getReportServices() {
	  			let clientServiceIds = JSON.stringify(this.clientServiceIds);

	        	this.$store.dispatch('getReportServices', clientServiceIds)
				   	.then(res => {
									let { status } = res;

	            		if( status == 'Success' ) {
										let { services, documents, onHandDocuments, clientServices } = res.data;

											console.log("res.data: ", res.data);

	              			this.services = services;
	              			this.documents = documents;
											this.onHandDocuments = onHandDocuments;
											this.selectedClientServices = clientServices;
	            		} else {
	              			this.queryFailed = true;
	              			this.queryFailedMessage = res.errors;
	            		}
	          	});
  			},

  			back() {
	  	 		let clientIds = JSON.stringify(this.clientIds);

	  			this.$router.push({
	  		    	name: 'write-report-clients',
	  		    	params: { clientIds }
	  			});
				},

				distribute() {

					var spid = this.$refs.reportservices[0].form.service_procedure;
					var service_procedures = this.$refs.reportservices[0].service.service_procedures;
					var ssp = '';
					var firstRefs = this.$refs.reportservices[0];

					service_procedures.map((item, index) => {
						if(item.id === spid) {
							ssp = item.name;
						}
					})


					if(spid !== null) {

						this.$refs.reportservices.map((item, index) => {
							var serviceProcedures = item.service.service_procedures;

							serviceProcedures.map((spItem, spIndex) => {
								if(spid === spItem.id || ssp.toLowerCase() === spItem.name.toLowerCase()) {
									item.form.service_procedure = spItem.id;

									if(typeof firstRefs.$refs['extensions'] !== 'undefined'){
										item.$refs['extensions'].form.estimated_releasing_date =  firstRefs.$refs['extensions'].form.estimated_releasing_date;
										item.$refs['extensions'].form.scheduled_hearing_date_and_time =  firstRefs.$refs['extensions'].form.scheduled_hearing_date_and_time;
										item.form.extras.immigration_branch = firstRefs.form.extras.immigration_branch;
									}


									if(typeof item.form.extras.note !== 'undefined'){
										item.form.extras.note = firstRefs.form.extras.note;
									}

									if(typeof item.form.extras.conversion_of_status !== 'undefined'){
										item.form.extras.conversion_of_status = firstRefs.form.extras.conversion_of_status;
									}

									if(typeof item.form.extras.conversion_of_status_reason !== 'undefined'){
										item.form.extras.conversion_of_status_reason = firstRefs.form.extras.conversion_of_status_reason;
									}

									if(typeof item.form.extras.cost !== 'undefined'){
										item.form.extras.cost = firstRefs.form.extras.cost;
									}

									if(typeof item.form.extras.reason !== 'undefined'){
										item.form.extras.reason = firstRefs.form.extras.reason;
									}

									if(typeof item.form.extras.discount_amount !== 'undefined'){
										item.form.extras.discount_amount = firstRefs.form.extras.discount_amount;
									}

									if(typeof item.form.extras.discount_reason !== 'undefined'){
										item.form.extras.discount_reason = firstRefs.form.extras.discount_reason;
									}


									setTimeout(() => {

											var docs = [];
											var suggestedDocs = item.$refs['clientservices'].form.documents;

									 	   firstRefs.$refs['clientservices'].form.documents.map((d, i) => {

												let docIndex = suggestedDocs.findIndex(v => v.id === d.id);
												var hasDocs = (docIndex === -1) ? false : true;

													docs.push({
														count: d.count,
														id: (hasDocs) ? suggestedDocs[docIndex].id : d.id,
														key: (hasDocs) ? suggestedDocs[docIndex].key : d.key,
														onHandCount: (hasDocs) ? suggestedDocs[docIndex].onHandCount : d.onHandCount,
														title: d.title
													})

											});

											 item.$refs['clientservices'].form.documents = docs;

									}, 800);


								}
							})
						})

					}

				},

	  	 	validateForm() {
		        let isValid = true;
		        let reports = [];

		        let reportServices = this.$refs['reportservices'];

		        reportServices.map(rs => {
          			let report = {};

          			// Action/Extras
          			rs.$refs['form'].validate(valid => {
            			if( valid ) {
			              	let { service_procedure, extras } = rs.$refs['form'].model;

			              	report['service_procedure'] = service_procedure;
			              	report['extras'] = extras;
			            } else {
			              	isValid = false;
			            }
          			});

          			// Extensions
          			if( rs.$refs['extensions'] && rs.$refs['extensions'].$refs['form'] ) {
	          			rs.$refs['extensions'].$refs['form'].validate(valid => {
			              	if( valid ) {
			                	report['extensions'] = rs.$refs['extensions'].$refs['form'].model;
			              	} else {
			                	isValid = false;
			              	}
			            });
          			} else {
          				report['extensions'] = {
          					estimated_releasing_date : '',
          					scheduled_hearing_date_and_time: []
          				};
          			}

		            // Client Documents
			        let clientServices = [];
			        /*rs.$refs['clientservices'].map(cs => {
			        	if( cs.$refs['form'] ) {
			        		cs.$refs['form'].validate(valid => {
				                if( valid ) {
				                  	clientServices.push(cs.$refs['form'].model);
				                } else {
				                  	isValid = false;
				                }
				            });
			        	}
							});*/
							if( rs.$refs['clientservices'].$refs['form'] ) {
								rs.$refs['clientservices'].$refs['form'].validate(valid => {
										if( valid ) {
												clientServices.push(rs.$refs['clientservices'].$refs['form'].model);
										} else {
												isValid = false;
										}
								});
							}
			        report['client_services'] = clientServices;

          			reports.push(report);
          		});

          		return { isValid, reports };
    		},

    		hasClientServices(reports) {
	        	let hasClientServices = false;

	        	reports.map(report => {
	          		if( report.client_services.length > 0 ) {
	            		hasClientServices = true;
	          		}
	        	});

	        	if( !hasClientServices ) {
	          		this.$message({
	            		type: 'error',
	            		message: this.$t('Reports.invalid_reports_mess')
	          		});
	        	}

	        	return hasClientServices;
	      	},

	      	hasDocuments(reports) {
	      		let hasDocuments = true;

	      		let reportServices = this.$refs['reportservices'];

		        reportServices.map(rs => {
		        	/*rs.$refs['clientservices'].map(cs => {
			        	if( cs.hasDocuments && cs.$refs['form'].model.documents.length == 0 ) {
			        		hasDocuments = false;
			        	}
							});*/
							if( rs.$refs['clientservices'].hasDocuments && rs.$refs['clientservices'].$refs['form'].model.documents.length == 0 ) {
								hasDocuments = false;
							}
						});


		        if( !hasDocuments ) {
	          		this.$message({
	            		type: 'warning',
	            		message: 'No document selected!'
	          		});
	        	}

	      		return hasDocuments;
	      	},


	      	isValidConversionOfStatus() {
	      		let isValidConversionOfStatus = true;
	      		let servicesWithError = [];

	      		let reportServices = this.$refs['reportservices'];

	      		reportServices.map(rs => {
	      			// 1 = Pending to On Process
	      			// 2 = On Process to Pending
	      			let conversionOfStatus = rs.form.extras.conversion_of_status;

		        	/*rs.$refs['clientservices'].map(cs => {
			        	let reasons = [];

			        	if( conversionOfStatus && cs.groupId ) {
			        		reasons.push('Group service.');
			        	}

			        	if( conversionOfStatus == 1 && cs.status != 'pending' ) {
			        		reasons.push('Status must be pending.');
			        	}
			        	if( conversionOfStatus == 2 && cs.status != 'on process' ) {
			        		reasons.push('Status must be on process.');
			        	}

			        	if( reasons.length != 0 ) {
			        		servicesWithError.push({
			        			serviceId: cs.serviceId,
			        			clientName: cs.clientName,
			        			reasons: reasons
			        		});

			        		isValidConversionOfStatus = false;
			        	}
							});*/

							let reasons = [];

							if( conversionOfStatus && rs.$refs['clientservices'].groupId ) {
								reasons.push('Group service.');
							}

							if( conversionOfStatus == 1 && rs.$refs['clientservices'].status != 'pending' ) {
								reasons.push('Status must be pending.');
							}
							if( conversionOfStatus == 2 && rs.$refs['clientservices'].status != 'on process' ) {
								reasons.push('Status must be on process.');
							}

							if( reasons.length != 0 ) {
								servicesWithError.push({
									serviceId: rs.$refs['clientservices'].serviceId,
									clientName: rs.$refs['clientservices'].clientName,
									reasons: reasons
								});

								isValidConversionOfStatus = false;
							}

		        });

		        if( !isValidConversionOfStatus ) {
	          		servicesWithError.map(service => {
	          			let serviceName = this.services.filter(s => s.id == service.serviceId)[0].detail;
	          			let { clientName, reasons } = service;

	          			let message = '<p><strong>Service name:</strong> ' + serviceName + '</p>';
	          			message += '<div style="height:5px;clear:both;"></div>';
	          			message += '<p><strong>Client name:</strong> ' + clientName + '</p>';
	          			message += '<div style="height:5px;clear:both;"></div>';
	          			message += '<p><strong>Reason:</strong></p>';
	          			message += '<ul>';
	          			reasons.map(reason => {
	          				message += '<li>' + reason + '</li>';
	          			});
									message += '<li>Lack of Documents</li>';
	          			message += '</ul>';

	          			setTimeout(() => {
	          				this.$message({
	          					type: 'error',
	          					dangerouslyUseHTMLString: true,
	          					message: message
	          				});
	          			}, 1);
	          		});
	        	}

	      		return isValidConversionOfStatus;
	      	},

				checkUpdateCost(serviceIds, counter, isReleased, selectedServiceIdProcedure){

					this.$store.dispatch('checkUpdateCost', serviceIds)
						.then(res => {

							console.log('res', res.data)

							var reminderCount = 0;
							var serviceIdReminder = [];

							res.data.map((item, index) => {
								if(item.update_cost === null) {

									if(item.points !== null && item.points.points >= 0 && selectedServiceIdProcedure.includes(parseInt(item.id))) {
										reminderCount++
										serviceIdReminder.push(item)
									}
								}
							})

							if(reminderCount === 0) {
								this.proceedToSave();
							} else if(reminderCount > 0 && counter === 0 && isReleased) {
									this.$confirm("You haven't reported update cost at all, are you sure you want to proceed?")
									.then(_ => {

											this.$store.dispatch('updateClientReportScore', {
												data: serviceIdReminder,
												status: 1
											})
											.then(res => {
												this.proceedToSave();
											})


									})
									.catch(_ => {
										this.$store.dispatch('updateClientReportScore', {
											data: serviceIdReminder,
											status: 0
										})
										.then(res => {
											//this.proceedToSave();
										})
									});
							}

						});
				},



	  	 	save() {
						//  let selectedClientServices = this.$route.params.selectedClientServices;
						 var serviceIds = []
						 var counter = 0;
						 var isReleased = false;
						 var selectedServiceIdProcedure = [];
						 var reportServices = this.$refs['reportservices'];
						 var services = this.services;
						 var namesNotIncluded = "";

						if(this.selectedClientServices === null || typeof this.selectedClientServices === 'undefined') {
							this.proceedToSave();
						} else {

							this.selectedClientServices.map((item, index) => {
								serviceIds.push(item.id)
							})

							var ctr = 0;
							console.log('is release', reportServices)
							reportServices.map((item, index) => {
								if(item.form.service_procedure === null || typeof item.form.service_procedure === 'undefined') {
									counter++
								} else {
									// if(services[index] !== null && typeof services[index] !== 'undefined') {
										var serviceCount = 0;
										var ssprocedure = null;
										services.map((serviceItem, serviceIndex) => {
											serviceItem.client_services.map((sItem2, sIndex2) => {
												if(parseInt(item.client_service.id) === parseInt(sItem2.id)) {
													serviceCount++;
													ssprocedure = serviceItem.service_procedures
												}
											})
										})

										// var spname = services[index].service_procedures.filter(s => s.id === item.form.service_procedure)[0];
										var spname = ssprocedure.filter(s => s.id === item.form.service_procedure)[0];

										if(spname !== null && typeof spname !== 'undefined') {
											if(spname.name.toLowerCase().includes('release')) {
												isReleased = true
												selectedServiceIdProcedure.push(serviceIds[index])
											}
										}
										// if(services[index].service_procedures.filter(s => s.id === item.form.service_procedure)[0].name.toLowerCase().includes('release')) {
										// 	isReleased = true
										// 	selectedServiceIdProcedure.push(serviceIds[index])
										// }
									// }
								}

								if(services[index] !== null && services[index] !== undefined) {
									services[index].client_services.map((i, j) => {
										var procedure = item.actionName + " " + item.categoryName;
										if(procedure == "Updated Cost" || procedure == "Discounted Service"){
											if(i.is_full_payment == 1 && ( i.status == "complete" || i.status == "released")){
												serviceIds.splice(ctr);
												var name = i.client.first_name + " " + i.client.last_name;
												namesNotIncluded += "\n" + name + "(" +procedure + ")";
											}
										}
										ctr++;
									});
								}

							})

							if(namesNotIncluded !== ''){
								const h = this.$createElement;
								this.$msgbox({
									title: 'Write Report',
									message: h('p', null, [
										h('p', { style: 'font-weight: bold' }, 'Are you sure you want to Continue?'),
										h('span', null, 'The following member/s are already paid and cannot proceed with the selected action. '),
										h('p', { style: 'color: teal' }, namesNotIncluded),
									]),
									showCancelButton: true,
									confirmButtonText: 'OK',
									cancelButtonText: 'Cancel',
									beforeClose: (action, instance, done) => {
										if (action === 'confirm') {
											instance.confirmButtonLoading = true;
											instance.confirmButtonText = 'Loading...';
											setTimeout(() => {
												done();
												setTimeout(() => {
													instance.confirmButtonLoading = false;
												}, 300);
											}, 2000);
										} else {
											done();
										}
									}
								}).then(action => {
									if(action === 'confirm'){
												this.checkUpdateCost(serviceIds, counter, isReleased, selectedServiceIdProcedure);
									}

								});
							}else{
									this.checkUpdateCost(serviceIds, counter, isReleased, selectedServiceIdProcedure);
							}

						}
         },
         

        getClientID(csID) {
          return this.selectedClientServices.filter(s => s.id === csID)[0].client_id;
        },

        getServiceProcedure(csID) {
          var service_procedure = [];

          this.services.map((item, index) => {
            
            if(item.client_services.filter(s => s.id === csID).length > 0) {
              service_procedure = item.service_procedures;
            }
            
          })

          return service_procedure;
        },


				proceedToSave() {
					let { isValid, reports } = this.validateForm();

					if( isValid && this.hasClientServices(reports) && this.hasDocuments(reports) && this.isValidConversionOfStatus() ) {

            var docsData = [];
            
            reports.map((item, index) => {
              
              var servicep = this.getServiceProcedure(item.client_services[0].id);

              if(servicep.filter(s => s.id === item.service_procedure)[0].name.includes('Filed')) {

                item.client_services.map((csItem, csIndex) => {


                  var client_id = this.getClientID(csItem.id);
                  csItem.documents.map((csdItem, csdIndex) => {

                    var ohd = docsData.filter( s => s.id === csdItem.id && s.client_id === client_id);
                    
                    if(ohd.length === 0) {
                      docsData.push({
                        id: csdItem.id,
                        title: csdItem.title,
                        onHandCount: csdItem.onHandCount,
                        count: csdItem.count,
                        key: csdItem.key,
                        client_id: client_id
                      })
                    } else {
                      ohd[0].count += parseInt(csdItem.count)
                    }
                  })
                })

              }

            })

            // Check if there are insufficient on hand documents
            var counter = 0;
            docsData.map((item, index) => {
              if( (item.onHandCount - item.count) < 0 ) {
                counter++
              }
            })
            // end

            if(counter > 0) {
              this.$message({
                showClose: true,
                message: 'Write report cannot proceed due to insufficient on hand documents.',
                type: 'error'
              });
            } else {
              
              this.$store.dispatch('saveReports', {reports})
              .then(res => {
                  let { status } = res;

                  if( status == 'Success' ) {
                    this.$message({
                        type: 'success',
                        message: this.$t('Reports.report_saved_successful')
                    });

                    if( this.redirect != undefined && this.redirect == 'redirect' ) {

                      if( window.opener ) {
                          window.opener.close();
                        }

                        let id = this.clientIds[0];
                        let group_id = this.groupId;

                        if(group_id != null && group_id != 0){
                          id = group_id;
                          this.$router.push({
                            name: 'groups-profile',
                            params: { id }
                          });
                        }
                        else if(id != null){
                          this.$router.push({
                            name: 'clients-profile',
                            params: { id }
                          });
                        }
                        else{
                          this.$router.push({
                            name: 'centralized-report'
                          });
                        }

                    } else {
                        this.$router.push({
                          name: 'write-report'
                        });
                    }
                  }
              });

            }

	  	 		}
				},

				 checkUpdatedCost(data) {
					 var counter = 0;

					 data.map((item, index) => {
						if(item.name.toLowerCase() === 'updated cost') {
							counter ++
						}
					 })

					 return counter;
				 }
  		},

  		created () {
		  	this.getReportServices();
		}

	}

</script>

<style lang="scss" scoped>
	.action-container {
		background-color: #FFFFFF;
		margin-bottom: 5%;
		padding: 20px;
	}

	.distribute {
		padding: 1%;
		background-color: #fff;
		text-align: right;
		margin-bottom: 15px;
	}
</style>
