<template>
  <div class="write-report">
    <div class="heading">
        <h1 class="title">{{ $t('Navigation.write-reports') }}</h1>

        <form class="search">
		    <el-input class="search-field" :placeholder="$t('Clients.search-mng-client')" prefix-icon="el-icon-search" v-model="search" clearable @change="handleSearch">
	        </el-input>
	    </form>

		<el-button @click="clearSelection()" size="small" :disabled="selectedClients.length == 0">
			{{ $t('Reports.clear_selection') }}
		</el-button>

		<el-button type="primary" @click="handleSubmitSelectedClients" size="small" :disabled="selectedClients.length == 0">
			{{ $t('Common.continue') }}
		</el-button>
    </div>

	<Steps :active="0" />

  <div id="selectedTableContainer">
    <div class="table-header">Selected Client/s:</div>

    <data-table ref="selectedDataTable" :columns="slctdcolumns" :get-data="getSelectedData">
	    <b slot="id" slot-scope="{row}">
          	{{row.id}}
        </b>

        <b slot="name" slot-scope="{row}">
	        <span>
	           	{{row.first_name | capitalize}} {{row.last_name | capitalize}}
	        </span>
	    </b>

	    <span slot="collectable" slot-scope="{row}">
          	{{row.collectable}}
        </span>
    </data-table>
  </div>

		<data-table ref="table" :columns="columns" :get-data="getData" row-key="id" :selectChange="handleSelectChange" :rowClick="handleRowClick">
	    <b slot="id" slot-scope="{row}">
          	{{row.id}}
        </b>

        <b slot="name" slot-scope="{row}">
	        <span>
	           	{{row.first_name | capitalize}} {{row.last_name | capitalize}}
	        </span>
	    </b>

	    <span slot="collectable" slot-scope="{row}">
          	{{row.collectable}}
        </span>
    </data-table>

		<el-dialog :title="'Receive File'" :visible.sync="dialogVisible" width="60%">

			<ReceiveFile ref="receiveFile" />

		</el-dialog>

  </div>

</template>

<script>
	import DataTable from '../../components/datatable'
	import Steps from './components/steps';
	import { mapGetters } from 'vuex'
	import ReceiveFile from '../clients/components/receive-file';

	export default {
  		name: 'write-report',

  		components: {
	    	DataTable,
				Steps,
				ReceiveFile
  		},

  		data () {
	    	return {
			   	selectedClients: [],

			   	columns: [
			   		{
              prop: 'selection',
			   			type: 'selection',
			   			width: '55',
			   			reserveSelection: true
			   		},
            {
                prop: 'id',
                label: this.$t('Common.id'),
                width: '120',
                sortable: true
            },
            {
                prop: 'name',
                label: this.$t('Profile.name'),
                sortable: true
            },
            {
                prop: 'collectable',
                label: this.$t('Clients.collectable'),
                width: '200',
                sortable: true
            }
            ],
            
          slctdcolumns: [
            {
                prop: 'id',
                label: this.$t('Common.id'),
                width: '120',
                sortable: true
            },
            {
                prop: 'name',
                label: this.$t('Profile.name'),
                sortable: true
            },
            {
                prop: 'collectable',
                label: this.$t('Clients.collectable'),
                width: '200',
                sortable: true
            }
          ],

					 search: '',

					 dialogVisible: false,

					 onHandDocs: []
	    	}
			},

			computed: mapGetters({
				header: 'header',
				session: 'session'
			}),
			
			created () {
				//this.getReceivedFiles();
				console.log('session', this.session.user.id)
			},

  		methods: {
	 		getData({ page, query, sortParams, size }) {
	      		if(sortParams.length == 0){
	        		sortParams = 'id-desc';
	      		}

	      		return this.$services.client.getAllClientsPaginate({
	        		page: 'page=' + page,
	        		sort: 'sort=' + sortParams,
	        		search: 'search=' + this.search,
	        		withActiveServiceOnly: 'withActiveServiceOnly=1',
	        		perPage: size
	      		})
	        	.then(response => {
	          		const { data } = response;

                console.log('data', data)

	          		return {
	            		data: data.data,
	            		total: data.total,
	            		size: size
	          		};
	        	});
        },
        
        getSelectedData({ page, query, sortParams, size }) {
          return {
            data: this.selectedClients,
            total: this.selectedClients.length,
            size: this.selectedClients.length
          };
				},
				

				getReceivedFiles() {
					this.$store.dispatch('reportsGetReceivedFiles', this.session.user.id)	
					.then(res => {
						
						console.log('received files', res.data)

						if(res.data.length > 0) {

							// this.onHandDocs = res.data;

							res.data.map((item, index) => {
								
								var message = (res.data.length === 1) ? 'You have received a document from '+ item.sender +'.' : 'You have received documents '+ item.sender +'.'; 
								var self = this;

								setTimeout(()=> {
									
									self.$notify.info({
										title: 'Received Documents',
										message: message,
										duration: 0,
										// showClose: false,
										onClick: () => {
											this.dialogVisible = true;

											setTimeout(() => {
												this.$refs.receiveFile.initData(item.documents);
											}, 100);
										}
									});

								}, 100)
								
							})
							
							

						}

					})
				},


				onClickNotification(documents) {
					this.dialogVisible = true;

					console.log('selected notification', documents)
					setTimeout(() => {
						this.$refs.receiveFile.initData();
					}, 100);
				},


	    	handleSelectChange(val) {
            this.selectedClients = val;
            

          
          console.log('selected clients', this.selectedClients)
          this.$refs.selectedDataTable.getTableData();
		    },

		    handleRowClick(row) {
          this.$refs.table.$refs.dataTable.toggleRowSelection(row);
		    },

		    clearSelection(rows) {
		      	this.$refs.table.clearSelection();
		    },

		    handleSearch() {
		      	this.$refs.table.getTableData();
		    },

		    handleSubmitSelectedClients() {
		    	let clientIds = JSON.stringify(this.selectedClients.map(c => c.id));

		      	this.$router.push({
		      		name: 'write-report-clients', 
		      		params: { clientIds }
		      	});
		    }

  		}
	}
</script>

<style lang="scss">
	.search-field {
		padding-left: 30px;
		width: 80%;
	}

	.el-pagination {
		margin: 1rem 0 2rem;
		text-align: right;
	}

  #selectedTableContainer {
    margin-bottom: 30px;

    .table-header {
      background-color: #fff;
      border-bottom: 1px solid #EBEEF5;
      padding: 15px;
      font-size: 14px;
      color: #606266;
      font-weight: bold;
    }

    .el-pagination {
      display: none;
    }
  }

	// .write-report {
		.el-notification__content {
			text-align: left !important;
		}

		.el-notification__title {
			text-align: left !important;
		}

		.el-notification {
			cursor: pointer;
		}
	// }
</style>
