<template>
    <div>
        <div class="heading">
          <h1 class="title">{{ $t('Group.add-new-service') }}</h1>
        </div>

        <AddNewServiceForm :parents="parents" :forms="forms" :serviceProfilesDetails="serviceProfilesDetails" />
    </div>
</template>
<script>
import AddNewServiceForm from './components/add-new-service-form'
export default {
  name: 'add-service',
  components: {
    AddNewServiceForm
  },
  data () {
    return {
      parents: [],
      forms: [],
      serviceProfilesDetails: []
    }
  },
  created () {
	// GET all parent services
    this.$services.service_manager.getAllParentServices()
      .then(res => {
        this.parents = res.data.data.parent_services
      })
      .catch(res => console.log(res))

    this.$store.dispatch('getForms')
      .then(response => {
        this.forms = response.data.forms;
      });

    this.$store.dispatch('getServiceProfilesDetails', -1)
      .then(res => {
        let { status } = res;

        if( status == 'Success' ) {
            let { serviceProfilesDetails } = res.data;

            this.serviceProfilesDetails = serviceProfilesDetails;
        }
      })
      .catch(res => console.log(res)); 
  }

}
</script>
