<template>
	<div>
		<div class="heading">
		  <h1 class="title">{{ $t('Service.add_new_service_doc') }}</h1>
		</div>

		<div class="body-container">
			<div class="form-container container-padding">
				<AddServiceDocument/>
			</div>

    	</div>
	</div>
</template>

<script>
import AddServiceDocument from './components/add-new-service-documents'

export default {
  name: 'add-document',
  components: {
	    AddServiceDocument
  }
}

</script>

<style lang="scss" scoped>
    .body-container {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        padding-bottom: 10px;
        margin-bottom: 32%;
    }

    .container-padding {
        padding: 15px 1.2rem 15px 1.2rem;
    }

    .form-container {

        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

    }

</style>
