<template>
	<div>
		<div class="heading">
		  <h1 class="title">{{ $t('Service.edit_service_doc') }}</h1>
		</div>

		<div class="body-container">
			<div class="form-container container-padding">
        <EditServiceDocument v-bind:document_id = "document_id"/>
			</div>

    	</div>
	</div>
</template>

<script>
import EditServiceDocument from './components/edit-service-documents'

export default {
  name: 'edit-document',
  components: {
    EditServiceDocument
  },
  data () {
    return {
      search: '',
      documentList: '',
      document_id: this.$route.params.id
    }
  }
}

</script>

<style lang="scss" scoped>
    .body-container {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        padding-bottom: 10px;
        margin-bottom: 32%;
    }

    .container-padding {
        padding: 15px 1.2rem 15px 1.2rem;
    }

    .form-container {

        .inner-container {
            padding-top: 20px;

            .label {
                margin-bottom: 5px;
            }
        }

    }

</style>
