<template>
    <div>
        <div class="heading">
          <h1 class="title">{{ $t('Service.edit-service') }}</h1>
        </div>

        <EditServiceForm :parents="parents" :branches="branches" :forms="forms" />
    </div>
</template>

<script>
	import EditServiceForm from './components/edit-service-form'

	export default {

		name: 'edit-service',

		data () {
    		return {
      			parents: [],
      			branches: [],
                forms: []
    		}
  		},

  		components: {
		    EditServiceForm
		},

  		created () {
		    this.$store.dispatch('getAllParentServices')
		      	.then(res => {
		      		this.parents = res.data.parent_services;
		      	})
		      	.catch(res => console.log(res))

		    this.$store.dispatch('getAllBranches')
		      	.then(res => {
		        	this.branches = res
		      	})
		      	.catch(res => console.log(res))

            this.$store.dispatch('getForms')
              .then(response => {
                    this.forms = response.data.forms;
              });
  		}

	}
</script>
