<template>
  <div>

    <div class="heading">
      <h1 class="title">{{ $t('Navigation.list-services') }}</h1>
      <div class="search-container">
        <form class="search">
          <el-input class="search-field" :placeholder="$t('Service.search_service')" prefix-icon="el-icon-search" v-model="search" clearable>
          </el-input>
        </form>
      </div>

      <div class="button-container">
        <div>
        <router-link :to="{ name: 'add-service'}">
          <el-button type="primary" size="small" icon="el-icon-plus">{{ $t('Group.add-new-service') }}</el-button>
        </router-link>
        </div>

        <div>
        <router-link :to="{ name: 'service-profiles'}">
          <el-button type="primary" size="small" icon="el-icon-star-off">{{ $t('Navigation.service-profile') }}</el-button>
        </router-link>
        </div>
      </div>
    </div>

    <el-table ref="table" :data="filteredServices" width="100%" v-loading="loading" @row-click="handleRowClicked" @expand-change="handleExpandChange" :row-class-name="handleRowClassName">

      <el-table-column type="expand">
        <template slot-scope="scope">
          <ExpandedDetails :serviceId="scope.row.id" :profiles="profiles" />
        </template>
      </el-table-column>

      <el-table-column :label="$t('Common.service_name')">
        <template slot-scope="scope">
          <b :class="scope.row.parent_id =='0' ? 'parent-row' : 'child-row'">{{ scope.row.detail }}</b>
        </template>
      </el-table-column>

      <el-table-column :label="$t('Common.cost')" width="100">
        <template slot-scope="scope">
          <span v-if="scope.row.parent_id != '0'">{{ scope.row.cost }}</span>
        </template>
      </el-table-column>

      <el-table-column :label="$t('Common.charge')" width="100">
        <template slot-scope="scope">
          <span v-if="scope.row.parent_id != '0'">{{ scope.row.charge }}</span>
        </template>
      </el-table-column>

      <el-table-column :label="$t('Common.tip')" width="100">
        <template slot-scope="scope">
          <span v-if="scope.row.parent_id != '0'">{{ scope.row.tip }}</span>
        </template>
      </el-table-column>

      <el-table-column :label="$t('Service.total_service_charge')" width="160">
        <template slot-scope="scope">
          <span v-if="scope.row.parent_id != '0'">{{ scope.row.total_service_charge }}</span>
        </template>
      </el-table-column>

      <el-table-column :label="$t('Common.actions')" width="200">
        <template slot-scope="scope">
          <div class="top">
            <el-tooltip class="item" effect="dark" :content="$t('Service.edit-service')" placement="top-start">
              <router-link :to="{ name: 'edit-service', params: { id: scope.row.id } }">
                <el-button type="success" size="mini" icon="el-icon-edit" @click.stop></el-button>
              </router-link>
            </el-tooltip>

            <span class="m-10">
              <el-tooltip class="item" effect="dark" :content="$t('Service.manage_procedures')" placement="top-end">
                <router-link :to="{ name: 'service-procedures', params: { service_id: scope.row.id } }">
                  <el-button type="info" size="mini" icon="el-icon-menu" v-if="scope.row.parent_id != '0'" class="m-r-10" @click.stop></el-button>
                </router-link>
              </el-tooltip>

              <el-tooltip class="item" effect="dark" :content="$t('Service.delete_service')" placement="top-end">
                <el-button @click.stop="handleDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
              </el-tooltip>
            </span>
          </div>
        </template>
      </el-table-column>

    </el-table>

    <div class="spacer-30"></div>

  </div>
</template>

<script>

import ExpandedDetails from './components/expanded-details';

export default {
  name: 'list-of-services',

  data () {
    return {
      loading: false,

      services: [],
      filteredServices: [],

      search: '',

      profiles: [],

      // 63 = 9a
      // 70 = 9g
      enableServiceProcedure: [63, 70]
    }
  },

  mounted () {
      this.$eventBus.$on('updateExpanded', (service_id) => {
        this.getExpandedDetails(service_id)
      })
  },

  methods: {
    getAllServices() {
      this.loading = true;

      this.$store.dispatch('getAllServices')
        .then(response => {
          this.loading = false;

          this.services = response.data.services;
          this.filteredServices = this.services;
        });
    },

    getExpandedDetails(id) {
      this.$store.dispatch('getExpandedDetails', id)
        .then(res => {
          let { status } = res;

          if( status == 'Success' ) {
            let index = null;

            this.profiles.map((profile, i) => {
              if( profile.serviceId == id ) {
                index = i;
              }
            });

            if( index != null ) {
              this.profiles.splice(index, 1);
            }

            this.profiles.push(res.data);
          }
        })
        .catch(res => console.log(res));
    },

    handleRowClassName({ row }) {
      if( row.parent_id == 0 ) {
        return 'row-expand-cover';
      }
    },

    handleRowClicked(row) {
      if( row.parent_id != 0 ) {
        this.$refs.table.toggleRowExpansion(row);
      }
    },

    handleExpandChange(row, expandedRows) {
      let index = expandedRows.indexOf(row);

      if( index != -1 ) {
        this.getExpandedDetails(row.id);
      }
    },

    handleDelete (row) {
      this.$confirm(this.$t('Branch.delete_branch_message'), this.$t('Branch.warning'), {
          confirmButtonText: this.$t('Common.ok'),
          cancelButtonText: this.$t('Common.cancel'),
          type: 'warning'
        }).then(() => {
          this.loading = true;

          this.$store.dispatch('deleteService', row.id)
            .then(response => {
              this.loading = false;

              if (response.code === 200) {
                this.getAllServices();

                this.$message({
                  type: 'success',
                  message: this.$t('Branch.successfully_deleted')
                });
              }
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('Branch.delete_canceled')
          })
        })
    },
  },

  watch: {
    search: function (newSearch, oldSearch) {
      this.loading = true;

      let search = newSearch.toLowerCase().trim();

      this.filteredServices = this.services.filter(s => s.detail.toLowerCase().indexOf(search) != -1);

      setTimeout(() => this.loading = false, 1000);
    }
  },

  components: {
    ExpandedDetails
  },

  created () {
    this.getAllServices();
  },
}
</script>

<style lang="scss" scoped>
  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 0px !important;
  }

  .button-container {
    display: flex;

    div:first-child {
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 991px) {
    .button-container {
      display: inline-block;

      div:last-child {
        margin-left: 0px;
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;

      .search {
        margin-left: 0px;
        margin-right: 0px;

        input {
          &:focus {
            width: 95% !important;
          }
        }
      }
    }

    .button-container {
      display: block;
      margin-top: 10px;
      justify-content: flex-end;

      div:nth-child(n) {
        display: inline-block;
        margin-top: 5px;
      }

      div:first-child {
        margin-right: 10px;
      }

      div:last-child {
        margin-left: 0px;
      }
    }
  }
</style>

<style lang="scss">
  .parent-row {
    color: #337ab7;
  }

  .left-button {
    margin-right: 5px;
  }

  .m-10 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .m-r-10 {
    margin-right:10px;
  }
  .spacer-30 {
    height:30px;
    clear:both;
  }

  .search-field {
    padding-left: 30px;
    width: 80%;
  }

  .row-expand-cover .el-table__expand-icon {
    display: none;
  }
</style>
