<template>
	
	<div>

    	<div class="heading">
      		<h1 class="title">{{ $t('Service.list_of_docs') }}</h1>
      		<div class="search-container">
       	 		<form class="search icon-before icon-search">
          			<input type="text" :placeholder="$t('Service.search_doc_name')" v-model="search">
        		</form>
      		</div>

      		<div class="button-container">
        		<router-link :to="{ name: 'add-service-documents'}">
          			<el-button type="primary" size="small" icon="el-icon-plus" class="left-button">
          				{{ $t('Service.add_new_doc') }}
          			</el-button>
        		</router-link>
      		</div>
    	</div>

    	<el-table ref="table" :data="filteredDocuments" v-loading="loading" width="100%" class="m-b-40">
		    <el-table-column :label="$t('Service-Documents.document-name')" sortable>
		      	<template slot-scope="scope">
			      	{{ scope.row.title }}
			      	<span class="tag-group">
					   	<el-tag type="info" size="small" v-if="scope.row.title_cn != null">
					      	{{ scope.row.title_cn }}
					    </el-tag>
					</span>
		  		</template>
		    </el-table-column>

	    	<el-table-column width="150">
	      		<template slot-scope="scope">
	      			<div class="top">
            			<el-tooltip class="item" effect="dark" :content="$t('Common.edit-doc')" placement="top-start">
              				<el-button @click="handleEditDocument(scope.row)" type="success" size="mini" icon="el-icon-edit"></el-button>
            			</el-tooltip>

            			<el-tooltip class="item" effect="dark" :content="$t('Profile.delete-doc')" placement="top-end">
              				<el-button @click="handleDelete(scope.row)" type="danger" size="mini" icon="el-icon-delete"></el-button>
            			</el-tooltip>
          			</div>
	      		</template>
	    	</el-table-column>
    	</el-table>

	</div>

</template>

<script>
		
	import DataTable from '../../components/datatable';

	export default {
		name: 'list-of-documents',

  		components: {
	    	DataTable
  		},

  		data () {
	    	return {
        		loading: false,

	    		search: '',

	    		documentList: [],
        		filteredDocuments: []
	    	}
  		},

  		methods: {
  			getData () {
      			this.loading = true;

      			this.$store.dispatch('loadAllDocuments')
        			.then(response => {
          				this.loading = false;

          				this.documentList = response.documents;
          				this.filteredDocuments = response.documents;
        		});
	 		},

	 		handleEditDocument (row) {
    			// this.$router.push('/services/documents/edit/' + row.id);
          let routeData = this.$router.resolve({path: '/services/documents/edit/' + row.id});
          window.open(routeData.href, '_blank');
    		},

    		handleDelete (row) {
      			this.$confirm(
      				this.replaceName(
      					this.$t('Service.confirm_delete_doc_mess'), 
      					row.title
      				), 
      				this.$t('CPanel.confirm_delete'), {
          				confirmButtonText: this.$t('Common.ok'),
          				cancelButtonText: this.$t('Common.cancel'),
          				type: 'warning',
          				center: true
        		}).then(() => {
          			this.$store.dispatch('deleteDocument', row.id)
            			.then(res => {
             				this.$message({
                				type: 'success',
                				message: this.replaceName(this.$t('Service.deleting_doc_complete'), row.title)
             	 			});
            			})
            			.catch(res => console.log(res));

            			this.getData();
        		}).catch(() => {
          			this.$message({
            			type: 'info',
            			message: this.replaceName(this.$t('Service.deleting_doc_canceled'), row.title)
          			});          
        		});
    		},

    		replaceName (message, data) {
      			return message.replace(':name', data);
    		}
		},

		created () {
  	 		this.getData();
  		},

  		watch: {
    		search: function (newSearch, oldSearch) {
    			setTimeout(() => {
    				this.loading = true;

	      			let search = newSearch.toLowerCase().trim();
	      			let documents = this.documentList;

	      			this.filteredDocuments = documents.filter(d => {
		        		let title = d.title;
		        		let shorthand_name = d.shorthand_name;

		        		return title.toLowerCase().indexOf(search) != -1 || (shorthand_name && shorthand_name.toLowerCase().indexOf(search) != -1);
		      		});

	      			setTimeout(() => {
	      				this.loading = false;
	      			}, 250);
    			}, 250);
    		}
  		}
	}

</script>

<style lang="scss" scoped>

  	.m-b-40 {
    	margin-bottom: 40px;
  	}

  	.search-container {
	    display: flex;
	    flex: 1;
	    align-items: center;
	    margin-left: 0px !important;
  	}

	.button-container {
	    display: flex;

	    div:last-child {
	      	margin-left: 10px;
	    }
	}

  	@media screen and (max-width: 991px) {
	    .button-container {
	      	display: inline-block;

	      	div:last-child {
	        	margin-left: 0px;
	        	margin-top: 5px;
	      	}
	    }
  	}

  	@media screen and (max-width: 768px) {
    	.wrapper > .main > .content > .inner > .heading {
      		display: block;

      		.search {
        		margin-left: 0px;
        		margin-right: 0px;

        		input {
         			&:focus {
            			width: 95% !important;
          			}
        		}
      		}
    	}

    	.button-container {
	      	display: block;
	      	margin-top: 10px;
	      	justify-content: flex-end;

      		div:nth-child(n) {
        		display: inline-block;
        		margin-top: 5px;
      		}

      		div:first-child {
        		margin-right: 10px;
      		}

     	 	div:last-child {
        		margin-left: 0px;
      		}
    	}

    	.left-button {
      		margin-left: 0px;
    	}
  	}

</style>

<style lang="scss">

 	.body-container {
	    width: 100%;
	    height: auto;
	    background-color: #FFFFFF;
	    padding-bottom: 10px;
	    margin-bottom: 32%;
	}

	.h3-title {
		padding: 10px;
        color: #337ab7;
    }

	.left-button {
	    margin-left: 10px;
	    margin-right: 5px;
	}

	.service-name {
		color: #337ab7;
	}

</style>