<template>
  <div class="doc-type-container">
    <div class="heading">
      <h1 class="title">{{ $t('Navigation.list-of-client-doc-types') }}</h1>
      <div class="header-container">
        <div class="search-container">
          <el-button @click="$refs.table.getTableData()" type="primary" icon="el-icon-refresh" size="small"></el-button>
          <form class="search icon-before icon-search" @submit.prevent="handleSearch">
            <input type="text" :placeholder="$t('Service-Documents.search-doc-name')" v-model="search" clearable>
          </form>
        </div>
      </div>
    </div>
    <div class="button-container">
      <el-button 
        type="primary" 
        size="small" 
        icon="el-icon-plus" 
        @click="showAddModal">
          {{ $t('Service-Documents.add-client-doc-type') }}
      </el-button>
    </div>
    <data-table 
      :get-data="getData"
      ref="table"
      :columns="columns">
        <span slot="name" slot-scope="{row}">
          <a href="javascript:void(0)" @click="goToDetails(row)">{{ row.name }}</a>
        </span>
        <div slot="action" slot-scope="{row}" class="action-container">
          <el-tooltip class="item" effect="dark" :content="$t('Common.edit-doc')" placement="top-start">
            <el-button @click="showEditModal(row)" type="success" size="mini" icon="el-icon-edit"></el-button>
          </el-tooltip>
        </div>
    </data-table>
  </div>
</template>

<script>
import DataTable from '../../components/datatable'
import EditDocForm from './components/edit-client-document-form'

export default {
  name: 'uploaded-documents',
  components: {
    DataTable, EditDocForm
  },
  data () {
    return {
      search: '',
      documentList: '',
      columns: [
        {
          prop: 'name',
          label: this.$t('Common.doc-type'),
          sortable: true
        },
        {
          fixed: 'right',
          prop: 'action',
          label: this.$t('Common.actions'),
          width: '80'
        }
      ],
      total: 0,
      size: 20,
      page: 1,
    }
  },
  methods: {
    getData ({ page, query, sortParams, size }) {
      if(sortParams.length == 0){
        sortParams = 'name-asc' 
      }

      return this.$store.dispatch('getClientDocuments', {
        page: 'page=' + page ,
        sort: 'sort=' + sortParams,
        perPage: size,
        search: 'search=' + this.search
      })
      .then(response => {
        const { data } = response
        return {
          data: data.data,
          total: data.total,
          size: size
        }
      })
    },

    goToDetails (data) {
      let routeData = this.$router.resolve({
        path: '/services/uploaded-documents/' + data.id
      });
      window.open(routeData.href, '_blank');
    },

    showAddModal () {
      this.$store.dispatch('callModal', { 
        child_component: EditDocForm, 
        title: this.$t('Service-Documents.add-client-doc-type'), 
        modalWidth: '45%'
      })
    },

    showEditModal (data) {
      this.$store.dispatch('callModal', { 
        child_component: EditDocForm, 
        title: this.$t('Service-Documents.edit-client-doc-type'), 
        modalWidth: '45%',
        content: {
          data
        }
      })
    },

    handleSearch () {
      this.$refs.table.getTableData();
    }
  },
  created () {
    this.$eventBus.$on('refreshDataTable', () => {
      this.handleSearch();
    })
  }
}
</script>

<style lang="scss" scoped>
  .doc-type-container {
    .action-container {
      text-align: left;
    }
  }

  .header-container {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .button-container {
    background-color: #fff;
    padding: 15px 10px;
    text-align: right;
  }

  @media screen and (max-width: 768px) {
    .wrapper > .main > .content > .inner > .heading {
      display: block;

      .header-container {
        display: block;
      }
    }

    .doc-type-container {
      .left-button {
        margin-left: 0px;
        margin-top: 10px;
      }
    }
  }
</style>

<style lang="scss">
  .doc-type-container {

    .body-container {
      width: 100%;
      height: auto;
      background-color: #FFFFFF;
      padding-bottom: 10px;
      margin-bottom: 32%;
    }

    .h3-title {
      padding: 10px;
      color: #337ab7;
    }

    .left-button{
      margin-left: 10px;
      margin-right: 5px;
    }

    .service-name{
      color: #337ab7;
    }

    .el-table th, .el-table td {
      padding: 6px 0;
    }

    .el-pagination {
      margin: 1rem 0 2rem;
      text-align: right;
    }

    .el-tag {
      margin: 0 .0625rem;
    }
  }
</style>
