<template>
  <div class="upload-document-container">
    <div class="heading">
      <h1 class="title">{{ name }}</h1>
    </div>
    <div class="body-container">
      <div class="inner-container">
        <el-upload
          ref="upload"
          action="https://jsonplaceholder.typicode.com/posts/"
          :on-change="handleChange"
          :on-remove="handleRemove"
          :on-progress="handleProgress"
          :file-list="fileList"
          list-type="picture-card"
          :auto-upload="false"
          multiple
          drag>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">{{ $t('Service-Documents.drop-file-or') }} <em>{{ $t('Service-Documents.click-to-upload') }}</em></div>
        </el-upload>
        <div class="submit-button-container">
          <el-button class="submit-button" size="small" type="primary" @click="onSubmitUpload">{{ $t('Common.upload') }}</el-button>
        </div>
      </div>

      <div class="inner-container">
        <el-row :gutter="20" class="doc-container">
          <el-col :xl="6" :lg="6" :md="8" :sm="24"
            v-bind:key="sIndex" 
            v-for="(sData,sIndex) in docData">
              <el-row :gutter="10" class="item-row">
                <el-col :xl="10" :lg="10" :md="10" :sm="7" :xs="7">
                  <div class="data-image-container">
                    <img 
                      class="img"   
                      :src="storageURL + sData.file_path"
                      @click="viewImage(sData.file_path)" />
                  </div>
                </el-col>
                <el-col :xl="14" :lg="14" :md="14" :sm="17" :xs="17">
                  <div class="detail-container">
                    <div class="data-detail border-bottom">
                      <div class="label">{{ $t('Clients.client-id') }}:</div>
                      <div>{{ sData.client_id }}</div>
                    </div>
                    <div class="data-detail border-bottom">
                      <div class="label">{{ $t('Common.issued-at') }}:</div>
                      <div>{{ sData.issued_at }}</div>
                    </div>
                    <div class="data-detail">
                      <div class="label">{{ $t('Common.exp-at') }}:</div>
                      <div>{{ sData.expired_at }}</div>
                    </div>
                  </div>
                </el-col>
              </el-row>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'up-doc-details',
  data() {
    return {
      storageURL: process.env.VUE_APP_STORAGE,
      id: '',
      name: '',
      dialogImageUrl: '',
      dialogVisible: false,
      fileList: [],
      imgBase64: [],
      data: [],
      docData: [],
      lbImages: []
    }
  },
  methods: {
    getDocDetail (id) {
      this.$store.dispatch('getClientDocumentDetails', id)
      .then(res => {
        this.name = res.data.name
      })
      .catch(err => {
        console.log(err)
      })
    },

    onSubmitUpload () {
      if(this.data.length > 0) {
        this.data.filter((item, index) => {
          item.imgBase64 = this.imgBase64[index].imgBase64
        })
        
        this.$store.dispatch('uploadDocuments', {
          data: this.data
        })
        .then(res => { 
          if(res.success) {
            this.fileList = []
            this.$message({
              type: 'success',
              showClose: true,
              message: this.$t('Service-Documents.doc-saved-successful'),
              center: true
            })

            setTimeout(() => {
              this.getUploadedDocs()
              // this.$router.go()
            }, 600)
          } else {
            this.$message({
              type: 'error',
              showClose: true,
              message: this.$t('Service-Documents.doc-saved-failed'),
              center: true
            })
          }
        })
      } else {
        this.$message.error({
          message: this.$t('Common.document-required'),
          center: true
        })
      }
    },

    handleProgress (event, file, fileList) {
      console.log('progress')
    },

    handleRemove (file, fileList) {
      console.log(file, fileList);
    },

    handleChange (file, fileList) {
      let self = this

      var itemName = file.name.split('.')
      itemName = itemName[0].split('&&')
      
      this.fileList = fileList
      
      if(typeof itemName[0] === 'undefined' && typeof itemName[1] === 'undefined') {
        this.fileNameValidation(file, this.fileList)
      } else {
        if(!moment(itemName[1], 'YYYY-MM-DD').isValid()) {
          this.fileNameValidation(file, this.fileList)
        }
      }
      
      var fileData = {
        client_id: itemName[0],
        client_document_type_id: this.id,
        file_path: this.name,
        issued_at: itemName[1],
        expired_at: (itemName[2] === null || typeof itemName[2] === 'undefined') ? '' : itemName[2],
        imgBase64: null,
        img_name: file.name
      }

      this.data = [...this.data, fileData]

      var reader = new FileReader();
      reader.readAsDataURL(file.raw);
      reader.onload = function(e) {
        self.imgBase64 = [...self.imgBase64, {
          name: file.name,
          imgBase64: this.result
        }]
      }
    },

    fileNameValidation (file, fileList) {
      fileList.filter((item, index) => {
        if(file.uid === item.uid) {
          this.fileList.splice(index, 1)

          setTimeout(() => {
            this.$message.error({
              dangerouslyUseHTMLString: true,
              message: file.name + '&nbsp; <br/>' + 'Incorrect file format.'
            })
          }, 100)
        }
      })
    },

    viewImage (slctdFilePath) {
      this.$store.dispatch('callLightbox', {
        content: {
          data: this.lbImages,
          selected: slctdFilePath
        }
      })
    },

    getUploadedDocs () {
      this.$store.dispatch('getUploadedClientDocuments', this.id)
      .then(res =>{
        if(res.data !== null && typeof res.data !== 'undefined') {
          this.lbImages = res.data
          this.docData = res.data
        }
      })
    }
  },
  created () {
    this.id = this.$route.params.id
    this.getDocDetail(this.$route.params.id)

    // Get all client documents
    this.getUploadedDocs()
  }
}
</script>

<style lang="scss" scoped>
@import url("//unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css");

  .body-container {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 20px;

    .inner-container {
      padding: 20px 1.2rem 15px 1.2rem;

      .doc-container {
        display: inline-block;
      }

      .item-row {
        margin-bottom: 15px;
      }
      
      .submit-button-container {
        margin-top: 10px;
        text-align: right;
      }

      .detail-container {
        border: 1px solid #e7eaec;
        font-size: 0.90em;
        border-radius: 3px;
      }

      .data-detail {
        padding: 10px;
        color: #666;
        
        .label {
          font-weight: 700;
          color: #555;
        }
      }

      .border-bottom {
        border-bottom: 1px solid #e7eaec;
      }
    }
  }

  .data-image-container {
    border: 1px solid #e7eaec;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
  }

  .img {
    width: 100%;
    height: 120px;
    background-color: #fff;
    object-fit: cover;
    
    &:hover {
      cursor: pointer;
    }
  }
</style>

<style lang="scss">
  .upload-document-container {

    .el-upload {
      display: block !important;
      top: 30px !important;
    }

    .el-upload--picture-card {
      display: block !important;
      width: 100%;
      height: auto;
      line-height: 0;
      text-align: center;
      border: none;
    }

    .el-upload-dragger {
      width: 100%;
    }

    .el-upload-dragger:hover {
      border-color: #d9d9d9;
      background-color: #f6f6f6;
    }

    .el-icon-upload {
      font-size: 67px;
      color: #C0C4CC;
      margin: 40px 0 16px;
      line-height: 50px;
    }

    .el-upload__text {
      color: #606266;
      font-size: 14px;
      text-align: center;

      em {
        color: #409EFF;
        font-style: normal;
      }
    }
  }
</style>