<template>
  <div class="form-container">

      <el-form ref="add_group_service_form" :rules="rules" :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">

          <el-row :gutter="20" class="form-container">
            <el-col :span="24">
              <div class="label">{{ $t('Service.services') }}</div>
              <div>
                <el-form-item prop="services">
                <el-select v-model="form.services" filterable multiple :placeholder="$t('Clients.select_service')" @change="getServiceCost()">
                    <el-option
                      v-for="s in services"
                      :key="s.id"
                      :label="s.detail"
                      :value="s.id" v-if="s.parent_id > 0 && s.is_active > 0">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </el-col>
          </el-row>

          <el-row :gutter="20" class="form-container">
            <el-col :span="24">
              <div class="label">{{ $t('Clients.note') }}</div>
              <div>
                <el-form-item prop="note">
                  <el-input v-model="form.note" :placeholder="$t('Clients.only_emp_can_see')" ></el-input>
                </el-form-item>
              </div>
            </el-col>
          </el-row>

          <el-row :gutter="20" class="form-container" v-if="(form.services).length < 2">
              <el-col :span="8">
                  <div class="label">{{ $t('Common.total_price') }}</div>
                  <div>
                      <el-form-item prop="charge">
                          <el-input v-model="total_price" class="smallInput" :disabled="true"></el-input>
                      </el-form-item>
                  </div>
              </el-col>
              <!-- <el-col :span="8">
                  <div class="label">{{ $t('Clients.charge') }}</div>
                  <div>
                      <el-form-item prop="charge">
                          <el-input v-model="form.charge" class="smallInput" :disabled="true"></el-input>
                      </el-form-item>
                  </div>
              </el-col>

              <el-col :span="8">
                  <div class="label">{{ $t('Clients.extra_cost') }}</div>
                  <div>
                      <el-form-item prop="tip">
                          <el-input v-model="form.tip" class="smallInput" :disabled="true"></el-input>
                      </el-form-item>
                  </div>
              </el-col>

              <el-col :span="8">
                  <div class="label">{{ $t('Common.cost') }}</div>
                  <div>
                      <el-form-item prop="cost">
                          <el-input v-model="form.cost" class="smallInput" :disabled="true"></el-input>
                      </el-form-item>
                  </div>
              </el-col> -->
          </el-row>


          <div class="align-right">
              <el-button class="add-button" type="primary" @click="eventNextStep('add_group_service_form')">{{ $t('Common.next') }}</el-button>
          </div>

      </el-form>

  </div>
</template>


<script>

import { mapGetters, mapActions } from 'vuex'


export default {
  name: 'add-group-service-step1',
  props: {},
  components: {},
  data () {
    return {
      services : [],
      route: 1,
      total_price: '',
      form: {
          services: [],
          note: '',
          tip: '',
          charge: '',
          cost: '',
          client_id: '',
          tracking: '',
      },

      rules: {
          services: [
              { required: true, message: this.$t('Clients.select_service_to_add') },
          ],
      },

    }
  },

  computed: mapGetters({
    groups: 'groups',
  }),


  created () {
      let vm = this;

      this.form.group_id = vm.$parent.$route.params.id;

      this.$store.dispatch('getGroupServicesByProfile', {
        group_id: vm.$parent.$route.params.id,
        branch_id: this.groups.group.branches[0].id
      }).then(res => {
          this.services = res.data.services
      })

  },

  mounted() {},

  methods: {

    eventNextStep(groupForm){

       this.$refs[groupForm].validate((response) => {
          if(response) {
              this.$store.dispatch('groupServiceSteps', {form: this.form}).then(res => {
                    this.$eventBus.$emit('addGroupServiceStep', 2);
              })
          }
      })

    },

    getServiceCost(){
      if((this.form.services).length == 1){
        var service_id = this.form.services[0];
        this.$store.dispatch('getServiceRate', {
          type: "group",
          id: this.form.group_id,
          service_id: service_id
        }).then(res => {
                if( res.status == 'Success' ) {
                 let  { tip, cost, charge, com_client, com_agent } = res.data;
                 this.form.tip = tip;
                 this.form.cost = cost;
                 this.form.charge = charge;
                 this.total_price = parseFloat(cost) + parseFloat(charge) + parseFloat(tip) + parseFloat(com_agent) + parseFloat(com_client);
                }
            })
      }
    },

  }

}
</script>

<style lang="scss">
    .add-button-container {
        margin-bottom: 40px;
    }
    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }
    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
    }
    .hide {
        opacity: 0;
    }
    .form-container {
        margin-bottom: 0px;
    }
    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }
    .smallInput{
      width: 170px;
    }
</style>
