<template>
  <div class="form-container">

      <el-form ref="add_group_service_form"  :model="form" :inline="true" label-width="80px" label-position="left" style="width: 100%;">

          <form class="search" v-on:change.prevent="handleSearch" v-on:submit.prevent="handleSearch">
          <div style="text-align:right">
            <el-input :placeholder="$t('Common.searching-client')" prefix-icon="el-icon-search" v-model="search" clearable  style=" width:50%" @input="handleSearch  ">
            </el-input>
          </div>
          </form>

          <div id="selectedTableContainer">
           <div class="table-header">
              <el-row>
                <el-col :span="12">
                  <div style="margin-top:7px;">Selected Client/s:</div>
                </el-col>
                <el-col :span="12">
                </el-col>
             </el-row>

            </div>


            <div class="check-box-container">
            <el-checkbox-group  v-model="form.clients" size="small" >
              <el-checkbox-button style="margin:2px; " v-for="item in form.clientSelectedRow"  :value="item.client_id">
                <el-tooltip :content="item.name" class="item" effect="dark" placement="top-start">
                    <label style="color:#ffffff; ">{{ item.client_id | capitalize}}</label>
                </el-tooltip>
              </el-checkbox-button>
            </el-checkbox-group>
            </div>


          </div>


          <data-table :get-data="getData"
                  ref="table"
                  :columns="columns"
                  :select-change="this.handleSelectionAll.bind(this)"
                  :select-row="handleSelect"
                  row-key="client_id"
                  :rowClick="handleRowClick"
                  >

                <b slot="name" slot-scope="{row}">
                    {{row.name}}
                </b>

                <b slot="client_id" slot-scope="{row}">
                    {{row.client_id}}
                </b>

                <div slot="packages"  slot-scope="{row}">
                    <el-select v-model="form.tempPackages[row.client_id]" @change="handleChangePackage(row.client_id)">
                        <el-option
                          v-for="item in row.packages"
                          :label="((item.tracking != 0) ? (item.tracking + ' (' + item.description + ') ') : item.description )"
                          :value="item.tracking"
                          :disabled="form.packagesStatus[row.id]"
                          >
                        </el-option>
                    </el-select>
                </div>

                <div slot="month" slot-scope="{row}">
                    <el-input type="number" min="0" v-model="form.months[row.client_id]" @focus="handleFocus" v-on:click.native="handleFocus"></el-input>
                </div>

          </data-table>

          <div class="align-right">
              <el-button class="add-button" type="primary" @click="eventBackStep()">{{ $t('Common.back') }}</el-button>
              <el-button class="add-button" type="primary" @click="eventNextStep('add_group_service_form')">{{ $t('Common.next') }}</el-button>
          </div>

      </el-form>

  </div>
</template>


<script>

import { mapGetters, mapActions } from 'vuex'
import DataTable from '../../../../components/datatable'


const vm = this;

export default {
  name: 'add-group-service-step2',
  props: {},
  components: {DataTable},
  data () {
    return {
      page: 1,
      perPage: 20,
      search: '',
      sort: '',
      order: '',
      total: 0,
      isFetched: false,
      isFirstFetch: true,
      selected : [],
      isPageSelected: false,
      multipleSelection: [],
      singleSelect: false,
      isFocus: false,
      arr: [],
      form:{
        clientSelectedRow: [],
        group_id: 0,
        branch_id: 0,
        client_com_id: 0,
        agent_com_id: 0,
        servicesData:{},
        checked: [],
        clients: [],
        months: [],
        checkKeys: [],
        packagesStatus: [],
        tempPackages:[],
        page: 0
      },
      columns: [
        {
          prop: 'selection',
          type: 'selection',
          width: '55',
          reserveSelection: true
        },
        {
          prop: 'name',
          label: this.$t('Profile.name'),
          minWidth: '120',
          sortable: true
        },
        {
          prop: 'client_id',
          label: this.$t('Clients.client-id'),
          minWidth: '120',
          sortable: true
        },
        {
          prop: 'packages',
          label: this.$t('Common.package'),
          minWidth: '120',
          sortable: true
        },
        {
          prop: 'month',
          label: 'Month',
          minWidth: '120',
          sortable: true,
        }
      ]
    }
  },

  computed: mapGetters({
    groups: 'groups',
  }),


  created () {
      this.form.servicesData = this.groups.add_group_service_data.form;
      this.form.group_id = this.$parent.$route.params.id;
      this.form.branch_id = this.groups.group.branches[0].id;
      this.form.client_com_id = this.groups.group.client_com_id;
      this.form.agent_com_id = this.groups.group.agent_com_id;
      this.checkServices()
  },

  mounted() {

  },

  methods: {


    getData ({ page, query, sortParams, size}) {
        let vm = this;
        if(sortParams.length == 0){
          sortParams = ''
        }
        return this.$store.dispatch('getMembersPackages',{
            group_id: vm.$parent.$route.params.id,
            page: 'page=' + page,
            sort: 'sort=' + sortParams,
            search: 'search=' + this.search,
            perPage: size
        })
        .then(res => {
          return {
              data: res.data,
              total: res.total,
              size: size
            }

        })
    },

    handleFocus(e){
        this.isFocus = true;
    },

    eventNextStep(groupForm){
      if(this.form.clientSelectedRow.length > 0){
        if(!this.monthValidation()){
          this.$store.dispatch('addGroupService', this.form).then(res => {
            this.$parent.$parent.$emit('close')
            if(res.status === 200){
              this.$message({
                message: "Successfully Added!",
                type: 'success',
              });
              this.$eventBus.$emit('refreshTable');
              this.$eventBus.$emit('syncGroupData');

              setTimeout(() => {
                this.arr = res.data.clientServicesId;

                var temp = [];
                (this.arr).forEach((value, key) => {
                  temp.push(value.id);
                })

                let clientIds = JSON.stringify(res.data.clientsId);
                let clientServiceIds = JSON.stringify(temp);
                let groupId = this.$parent.$route.params.id;
                // let redirect = JSON.stringify({route:"groups-profile", params: this.$parent.$route.params.id});
                const redirect = 'redirect'

                let routeData = this.$router.resolve(
                  {
                    name: 'write-report-client-services',
                    params: { clientIds, clientServiceIds, groupId, redirect }
                  }
                );

                window.open(routeData.href, '_blank');
              }, 1000)


            }else{
              this.$message({
                message: "Error on saving data!",
                type: 'error',
              });
            }


          })
        }
      }else{
        this.$message({
          message: "Please Select Client!",
          type: 'error',
        });
      }
    },

    handleChangePackage(value){
    },

    eventBackStep(){
        this.$eventBus.$emit('addGroupServiceStep', 1);
    },

    // TODO
    handleSearch(){
      this.$refs.table.getTableData();
    },


    getServiceCost(){
      if((this.form.services).length == 1){
        var service_id = this.form.services[0];
        this.$store.dispatch('getService', service_id)
            .then(res => {
                if( res.status == 'Success' ) {
                 let  { tip, cost, charge } = res.data.service;
                 this.form.tip = tip;
                 this.form.cost = cost;
                 this.form.charge = charge;
                }
            })
      }
    },

    handleSelect(selection, row){
        this.singleSelect = true;
        this.selectRow(row);
    },

    handleSelectionAll(rows) {
      if(!this.singleSelect){
        if(rows.length > 0){
                this.form.clientSelectedRow = [];
                rows.map((row,i) => {
                    this.selectRow(row);
                })
        }else{
                this.form.clientSelectedRow.map((row,i) => {
                      this.form.tempPackages[row.client_id] = '';
                });
                this.form.clientSelectedRow = [];
        }
      }
      this.singleSelect = false;
    },

    handleRowClick(row) {
      if(!this.isFocus){
        this.singleSelect = true;
        this.$refs.table.toggleRowSelection([row]);
        this.selectRow(row);
      }
      this.isFocus = false;
    },

    selectRow(row){
                    var serviceIndex = this.form.clientSelectedRow.findIndex(v => v.client_id === row.client_id);
                    if(serviceIndex === -1){
                          this.form.clientSelectedRow.push(row)
                          this.form.tempPackages[row.client_id] = 0;
                    }else{
                          this.form.clientSelectedRow.splice(serviceIndex, 1);
                          this.form.tempPackages[row.client_id] = "";
                    }
    },
    checkServices(){
      if(!(this.form.servicesData.services.indexOf(454) !== -1)){
        this.columns.pop()
      }
    },

    monthValidation(){
      let error = []
      if((this.form.servicesData.services.indexOf(454) !== -1)){
        this.form.clientSelectedRow.map((item)=>{
          if(this.form.months[item.client_id] === undefined || this.form.months[item.client_id] === ''){
            error.push('required')
          }else if(this.form.months[item.client_id].indexOf('.') !== -1){
            error.push('decimal')
          }else if(this.form.months[item.client_id] <= 0){
            error.push('negative')
          }
        })
        if(error.indexOf('required') !== -1){
          this.$message({ message: "month is required!", type: 'error', });
        }else if(error.indexOf('decimal') !== -1){
          this.$message({ message: "decimal number is invalid!", type: 'error', });
        }else if(error.indexOf('negative') !== -1){
          this.$message({ message: "0 to negative number is invalid!", type: 'error', });
        }
      }
      return error.length !== 0;
    }
  },

  watch: {
   form: function(newValue) {
     form: newValue;
   }

  }




}
</script>

<style lang="scss">
    .add-button-container {
        margin-bottom: 40px;
    }
    .add-button {
        background-color: #409eff;
        border-color: #409eff;
        padding: 9px 15px;
    }
    .add-button:hover {
        background: #66b1ff;
        border-color: #66b1ff;
        color: #ffffff;
    }
    .hide {
        opacity: 0;
    }
    .form-container {
        margin-bottom: 0px;
    }
    .align-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }
    .smallInput{
      width: 170px;
    }

    // remove arrow indicator for type="number"
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .el-checkbox {
      display: block;
    }
    .el-checkbox-group {
      .el-checkbox-button {
          border: 1px solid #40586F;
          width: 70px;
          background: #40586F;
          max-width: 100px;
          min-width: 60px;
          
      }

    }

    .el-checkbox-button__inner{
        border:0px solid #40586F !important;
        background: #40586F;
        color:#ffffff;
        text-align: center;
    }


    .check-box-container{
      background-color: #fff;
      padding:2%;
      min-height: 80px; 
      max-height: 120px;
      overflow: auto;
    }

    #selectedTableContainer {
      margin-bottom: 30px;

      .table-header {
        background-color: #fff;
        border-bottom: 1px solid #EBEEF5;
        padding: 10px;
        font-size: 14px;
        color: #606266;
        font-weight: bold;
        text-align: justify;
      }


      .el-pagination {
        display: none;
      }
    }
</style>
