<template>
<el-form :model="form" ref="form" id="group_name">
  <el-row :gutter="30">
    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
        <el-form-item
          label="Biller Name"
          prop="name"
          :rules="[
            { required: true, message: 'Biller name is required.' }
          ]"
        >
          <el-input type="text" v-model.proj_name="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>

    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
      <div>
        <el-form-item
          label="Weight Limit"
          prop="weight_limit"
          :rules="[
            { required: true, message: 'Weight limit is required.' }
          ]"
        >
          <el-input type="number" min="0" v-model.proj_name="form.weight_limit" autocomplete="off"></el-input>
        </el-form-item>
      </div>
    </el-col>
  </el-row>
  <el-form-item>

    <el-button type="primary" @click="submitForm('form')">{{ $t('Common.submit') }}</el-button>

    <el-button @click="resetForm('form')">{{ $t('Common.reset') }}</el-button>

  </el-form-item>
</el-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'add-edit-group',
  data () {
    return {
      method: '',
      form: {
        name: '',
        weight_limit: '',
        id: ''
      },
      data: {},
      options: [],
      leaders: [],
      clientResults : [],
      branches: [],
      branch_id: 0,
      list: [],
      loading: false,
      genders: [ 
        {
          value: this.$t('Clients.male')
        },
        {
          value: this.$t('Clients.female')
        }
      ],
    }
  },

  props: {
    // method: { type: Function }
  },

  computed: mapGetters({
    groups: 'groups',
  }),

  created () {

    this.method = this.$parent.$parent.content.method;
    var val = this.$parent.$parent.content.data;
    if(val != null){
      this.form = val;
    }

  },

  mounted() {},

  methods: {
    numbersOnly ($event) {
          return this.$store.dispatch('numbersOnly', $event)
    },
    submitForm (formName) {

      this.$refs[formName].validate((response) => {

      if (response) {

      // you can add rules for validations
      return this.$store.dispatch('addeditCar', { method: this.method, payload: this.form }).then(res => {
        if (res.code == 200) {

          this.$parent.$emit('close')
          this.$refs[formName].resetFields()

          this.$message({
            type: 'success',
            message: this.$t('Common.successfully_added')
          });

          this.$eventBus.$emit('syncSupplierData');
        }else{

          // console.log(res.errors.group_name);

          this.$message({
            type: 'error',
            message: res.errors.group_name[0]
          });

        }
      }).catch(err => {

      })

     }
   })

    },

    resetForm (formName) {
      this.$refs[formName].resetFields()
    },


    async searchMember(query){

      this.clientResults = [];

      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
              this.$store.dispatch('searchLeaderByBranchId', {
                 keyword : query,
                 branch_id : this.branch_id,
                 is_member_search: this.branch_id,
             }).then(response => {
               this.loading = false;
               this.clientResults = response;
             })

          }, 200);
        } else {
          this.clientResults = [];
        }
    },

    numbersOnly ($event) {
         return this.$store.dispatch('numbersOnly', $event)
    },

  }
}
</script>

<style>
  .el-select{
    width:100%;
  }
</style>
